---- Create by Phan thanh hoàng vũ on 7/26/2017 4:54:38 PM
---- Cập nhật chi tiết hàng khuyến mãi theo CA (Minhsang)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[AT1330_MS]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[AT1330_MS]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [DivisionID] VARCHAR(50) NOT NULL,
  [PromoteID] VARCHAR(50) NOT NULL,
  [CA] DECIMAL(28,8) NOT NULL,
  [InventoryID] VARCHAR(50) NOT NULL,
  [UnitID] VARCHAR(50) NULL,
  [OrderNo] INT NULL
CONSTRAINT [PK_AT1330_MS] PRIMARY KEY CLUSTERED
(
  [PromoteID],
  [CA],
  [InventoryID]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END 