---- Create by Phan thanh hoàng vũ on 4/8/2019 11:15:32 AM
---- Chặn số dư dầu kỳ năm 2018 báo cáo [deaily sale report:  StatusReport= 1]

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[POST3023_OK]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[POST3023_OK]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [DivisionID] VARCHAR(50) NULL,
  [RefAPK] UNIQUEIDENTIFIER DEFAULT newid() NULL,
  [RefTableID] VARCHAR(50) NULL,
  [Amount] DECIMAL(28,8) NULL,
  [TranYear] INT NULL,
  [TranMonth] INT NULL,
  [StatusReport] INT NULL
CONSTRAINT [PK_POST3023_OK] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END