IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP0015]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[WP0015]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Loc ra cac phieu Nhap, xuat theo bộ de len man hinh truy van --CustomizIndex = 51 (Hoàng Trần)
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
----Created by: Phan thanh hoàng Vũ on 18-02-2016
---- Modified on 02/06/2016 by Bảo Thy: Bổ sung WITH (NOLOCK)
---- Modified by Hải Long on 22/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example> Exec WP0015 'AS', '2014-01-01', '2016-12-12', 0, 0, null



CREATE PROCEDURE WP0015
(
    @DivisionID NVARCHAR(50),
	@FromDate DATETIME,
	@ToDate DATETIME,
	@Mode TINYINT = 0,-- 1: Nhập, 2: Xuất, 0: tất cả
	@IsDate int = 0, --0:Theo ngày, 1: Theo kỳ
	@UserID nvarchar(50)
)
AS
DECLARE @sSQL AS NVARCHAR(Max),
		@sWhere NVARCHAR(Max),
		@CustomerName INT		
		SET @CustomerName = (SELECT TOP 1 CustomerName FROM CustomerIndex WITH (NOLOCK))
		SET @sWhere = ' 1 = 1 '
		----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
		DECLARE @sSQLPer AS NVARCHAR(MAX),
				@sWHEREPer AS NVARCHAR(MAX)
		SET @sSQLPer = ' '
		SET @sWHEREPer = ''		

		IF EXISTS (SELECT TOP 1 1 FROM WT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsPermissionView = 1) -- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
			BEGIN
				SET @sSQLPer = ' LEFT JOIN AT0010 WITH (NOLOCK) ON AT0010.DivisionID = T26.DivisionID 
													AND AT0010.AdminUserID = '''+@UserID+''' 
													AND AT0010.UserID = T26.CreateUserID '
				SET @sWHEREPer = ' AND (T26.CreateUserID = AT0010.UserID
										OR  T26.CreateUserID = '''+@UserID+''') '		
			END
		-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	

		IF @DivisionID IS not NULL
			SET @sWhere = @sWhere + ' AND T26.DivisionID = '''+ @DivisionID+''''
		IF @Mode = 1 
			SET @sWhere = @sWhere+ ' AND T26.KindVoucherID IN (1,5,7,9) ' 
		Else IF @Mode = 2 
			SET @sWhere = @sWhere + ' AND T26.KindVoucherID IN (2,4,6,8,10) ' 
		IF @IsDate = 0 
			SET @sWhere = @sWhere + ' AND (CONVERT(VARCHAR(10),T26.VoucherDate,112) BETWEEN'''+ CONVERT(VARCHAR(30),@FromDate,112)+''' AND''' + CONVERT(VARCHAR(30),@ToDate,112) +''')'

IF @CustomerName = 51 --- Customize Hoang trần
		SET @sSQL = '
				
				SELECT T26.VoucherTypeID, T26.VoucherNo, T26.VoucherDate, T26.RefNo01, T26.RefNo02, T26.ObjectID + '' - '' + T22.ObjectName ObjectID,
					T26.ObjectID ObjectIDPermission, T26.EmployeeID, T13.FullName, T26.[Description], T26.VoucherID, T26.OrderID,		
					T26.ProjectID, T26.[Status], T26.DivisionID, T26.KindVoucherID, SUM(ISNULL(T07.ConvertedAmount,0)) ConvertedAmount,
					T26.TranMonth, T26.TranYear, T26.CreateDate, T26.CreateUserID, T26.LastModifyUserID, T26.LastModifyDate , T24.OrderNo,
					Case When T26.KindVoucherID IN (1,5,7,9) then T26.WareHouseID else '''' end as ImWareHouseID,
					Case When T26.KindVoucherID IN (2,4,6,8,10) then T26.WareHouseID else '''' end as ExWareHouseID
				FROM AT2026 T26 WITH (NOLOCK)	' + @sSQLPer+ '
					LEFT JOIN AT1202 T22 WITH (NOLOCK) ON T22.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND T22.ObjectID = T26.ObjectID
					LEFT JOIN AT2004 T24 WITH (NOLOCK) ON T24.OrderID = T26.OrderID AND T24.DivisionID = T26.DivisionID
					LEFT JOIN AT1103 T13 WITH (NOLOCK) ON T13.EmployeeID = T26.EmployeeID
					LEFT JOIN AT2007 T07 WITH (NOLOCK) ON T07.VoucherID = T26.VoucherID AND T07.DivisionID = T26.DivisionID
				WHERE  ' + @sWhere + @sWHEREPer+'
				GROUP BY T26.VoucherTypeID, T26.VoucherNo, T26.VoucherDate, T26.RefNo01, T26.RefNo02, T26.ObjectID, T22.ObjectName, T26.EmployeeID,
					T13.FullName, T26.WareHouseID, T26.[Description], T26.VoucherID, T26.OrderID, T26.ProjectID, T26.[Status], T26.DivisionID,
					T26.TranMonth, T26.TranYear, T26.KindVoucherID, T26.CreateDate, T26.CreateUserID, T26.LastModifyUserID, T26.LastModifyDate ,
					T24.OrderNo'
				
EXEC (@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
