IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH (NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[WP00121]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[WP00121]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Khi lưu thực thi store để UPDATE lại giá trị hàng đã nhận của phiếu yêu cầu nhap xuat VCNB
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 11/06/2014 by Le Thi Thu Hien
---- 
---- Modified on 11/06/2014 by 
---- Modified on 31/05/2016 by Bảo Thy: Bổ sung WITH (NOLOCK), cải tiến tốc độ
---- Modified on 11/07/2018 by Bảo Anh: Sửa lỗi không cập nhật trạng thái của các phiếu yêu cầu khi đã kế thừa hết
-- <Example> exec wp00121 'MK', '000110',2,2016,'0084F767-1071-4F8F-A763-98E3804942A4',2
---- 
CREATE PROCEDURE WP00121
( 
@DivisionID NVARCHAR(50),
@UserID VARCHAR(50),
@TranMonth AS int,
@TranYear AS int,
@VoucherID AS nvarchar(50) ,
@Mode AS TINYINT -- @Mode = 1 AddNew @Mode = 2 Edit
) 
AS 

UPDATE WT0096
SET WT0096.ReceiveQuantity = A.ReceiveQuantity
FROM WT0096 WT0096
INNER JOIN (
SELECT	SUM(ActualQuantity) AS ReceiveQuantity, 
		InheritVoucherID, InheritTransactionID , DivisionID
FROM	AT2007 AT27 WITH (NOLOCK)
WHERE	DivisionID = @DivisionID
		AND EXISTS ( SELECT TOP 1 1 FROM AT2007 WITH (NOLOCK) WHERE AT27.InheritTransactionID = AT2007.InheritTransactionID AND AT2007.DivisionID = @DivisionID AND AT2007.VoucherID = @VoucherID)
		AND InheritTableID = 'WT0095'
GROUP BY InheritVoucherID, InheritTransactionID,DivisionID
) A
ON A.DivisionID = WT0096.DivisionID 
AND A.InheritVoucherID = WT0096.VoucherID
AND A.InheritTransactionID = WT0096.TransactionID


SELECT InheritVoucherID
INTO #TAM
FROM AT2007 WITH (NOLOCK)
WHERE AT2007.DivisionID = @DivisionID
AND AT2007.VoucherID = @VoucherID
AND InheritTableID = 'WT0095'

--UPDATE WT0096 
--SET [Status] = 8 
--WHERE DivisionID = @DivisionID
--AND VoucherID = @WT0095VoucherID
--AND ReceiptQuantity = ActualQuantity

UPDATE WT0095
SET [Status] = 8
FROM WT0095 WT0095
WHERE WT0095.DivisionID = @DivisionID
AND WT0095.VoucherID IN (SELECT InheritVoucherID FROM #TAM)
AND NOT EXISTS (SELECT TOP 1 1 FROM WT0096 WITH (NOLOCK)
                WHERE DivisionID = @DivisionID 
					AND VoucherID  = WT0095.VoucherID 
					AND ISNULL(ReceiveQuantity,0) <> ActualQuantity)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

