IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP0017]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[WP0017]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- WP0017
-- <Summary>
---- Hiển thị cảnh báo tồn kho an toàn theo quy cách (Bê Tông Long An)
---- Created on 04/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- EXEC WP0017 @DivisionID = 'PC',@UserID='ASOFTADMIN',@Date='2017-07-02 00:00:00'

CREATE PROCEDURE [dbo].[WP0017]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@TranMonth AS INT,
	@TranYear AS INT,			
	@Date AS DATETIME
AS

DECLARE @sSQL AS NVARCHAR(MAX) = ''

SET @sSQL = N'
SELECT COUNT(AT1314.InventoryID) AS CountInventoryID
FROM AT1314 WITH (NOLOCK)
INNER JOIN 
(
	SELECT DivisionID, InventoryID, WareHouseID, SUM(SignQuantity) AS Quantity,
	S01ID, S02ID, S03ID, S04ID, S05ID, S06ID, S07ID, S08ID, S09ID, S10ID,
	S11ID, S12ID, S13ID, S14ID, S15ID, S16ID, S17ID, S18ID, S19ID, S20ID
	FROM AV7000 
	WHERE AV7000.DivisionID = ''' + @DivisionID + '''
	AND (AV7000.VoucherDate <= ''' + CONVERT(NVARCHAR(10), @Date, 102) + ''' OR AV7000.D_C = ''BD'')
	GROUP BY DivisionID, InventoryID, WareHouseID,
	S01ID, S02ID, S03ID, S04ID, S05ID, S06ID, S07ID, S08ID, S09ID, S10ID,
	S11ID, S12ID, S13ID, S14ID, S15ID, S16ID, S17ID, S18ID, S19ID, S20ID
	HAVING SUM(SignQuantity) <> 0
) TB ON TB.DivisionID =  AT1314.DivisionID AND TB.InventoryID = AT1314.InventoryID 
AND ISNULL(TB.S01ID, '''') = ISNULL(AT1314.S01ID, '''')
AND ISNULL(TB.S02ID, '''') = ISNULL(AT1314.S02ID, '''')
AND ISNULL(TB.S03ID, '''') = ISNULL(AT1314.S03ID, '''')
AND ISNULL(TB.S04ID, '''') = ISNULL(AT1314.S04ID, '''')
AND ISNULL(TB.S05ID, '''') = ISNULL(AT1314.S05ID, '''')
AND ISNULL(TB.S06ID, '''') = ISNULL(AT1314.S06ID, '''')
AND ISNULL(TB.S07ID, '''') = ISNULL(AT1314.S07ID, '''')
AND ISNULL(TB.S08ID, '''') = ISNULL(AT1314.S08ID, '''')
AND ISNULL(TB.S09ID, '''') = ISNULL(AT1314.S09ID, '''')
AND ISNULL(TB.S10ID, '''') = ISNULL(AT1314.S10ID, '''')
AND ISNULL(TB.S11ID, '''') = ISNULL(AT1314.S11ID, '''')
AND ISNULL(TB.S12ID, '''') = ISNULL(AT1314.S12ID, '''')
AND ISNULL(TB.S13ID, '''') = ISNULL(AT1314.S13ID, '''')
AND ISNULL(TB.S14ID, '''') = ISNULL(AT1314.S14ID, '''')
AND ISNULL(TB.S15ID, '''') = ISNULL(AT1314.S15ID, '''')
AND ISNULL(TB.S16ID, '''') = ISNULL(AT1314.S16ID, '''')
AND ISNULL(TB.S17ID, '''') = ISNULL(AT1314.S17ID, '''')
AND ISNULL(TB.S18ID, '''') = ISNULL(AT1314.S18ID, '''')
AND ISNULL(TB.S19ID, '''') = ISNULL(AT1314.S19ID, '''')
AND ISNULL(TB.S20ID, '''') = ISNULL(AT1314.S20ID, '''')
AND (''' + CONVERT(NVARCHAR(10), @Date, 102) + ''' BETWEEN CONVERT(DATE, AT1314.FromDate) AND CONVERT(DATE, AT1314.ToDate))
AND TB.WareHouseID LIKE AT1314.WareHouseID
AND TB.Quantity < AT1314.MinQuantity'


PRINT @sSQL
EXEC (@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

