IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP00161]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[WP00161]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
--- Load Grid danh sách master Kế thừa phiếu nhập kho bên POS -- CustomizeIndex = 56 (TMDVQ3)
-- <Param>
----
-- <Return>----
-- <Reference>
-- <History>
----Created by:
---- Modified on 02/06/2016 by Bảo Thy: Bổ sung WITH (NOLOCK)
---- Modified by Hải Long on 22/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
/*
   Exec WP00161 'AS',1 ,1, 2014, 12, 2015,'2013-01-01', '2015-12-31', null, null, null, null, null
*/

 CREATE PROCEDURE WP00161 (	 
    @DivisionID  Nvarchar(50),
    @IsDate TinyInt, --0:Datetime; 1:Period
    @FromMonth Int,
    @FromYear  Int,
    @ToMonth Int,
    @ToYear Int,
    @FromDate datetime,
    @ToDate datetime,
    @ObjectID  Varchar(50),
    @WareHouseID Varchar(50),
	@ShopID Varchar(50),
	@EmployeeID Varchar(50),
    @UserID Varchar(50)
    )
AS
Begin
		DECLARE @sSQL NVARCHAR (MAX),
				@sWhere NVARCHAR(MAX)
		
       
		SET @sWhere = ''
		
		IF @DivisionID IS NOT NULL SET @sWhere = @sWhere + '
			AND ISNULL(x.DivisionID,'''') LIKE N''%'+@DivisionID+'%'' '

		IF @IsDate = 0 SET @sWhere = @sWhere + '
			AND CONVERT(VARCHAR(10),x.VoucherDate,112) BETWEEN '+CONVERT(VARCHAR(10),@FromDate,112)+' 
			AND '+CONVERT(VARCHAR(10),@ToDate,112)+' '

		IF @IsDate = 1 SET @sWhere = @sWhere + '
			AND x.TranYear * 100 + x.TranMonth BETWEEN '+STR(@FromYear * 100 + @FromMonth)+' AND '+STR(@ToYear * 100 + @ToMonth)+' '

		IF @ObjectID IS NOT NULL SET @sWhere = @sWhere + '
			AND ISNULL(x.ObjectID,'''') LIKE N''%'+@ObjectID+'%'' '

		IF @WareHouseID IS NOT NULL SET @sWhere = @sWhere + '
			AND ISNULL(x.WareHouseID,'''') LIKE N''%'+@WareHouseID+'%'' '

		IF @ShopID IS NOT NULL SET @sWhere = @sWhere + '
			AND ISNULL(x.ShopID,'''') LIKE N''%'+@ShopID+'%'' '

		IF @EmployeeID IS NOT NULL SET @sWhere = @sWhere + '
			AND ISNULL(x.EmployeeID,'''') LIKE N''%'+@EmployeeID+'%'' '

		SET @sSQL = 'Select Distinct x.APK as VoucherID, x.DivisionID, x.VoucherTypeID, x.VoucherNo, x.VoucherDate
							, x.ObjectID, AT1202.Objectname
							, x.ShopID, POST0010.ShopName
							, x.EmployeeID, AT1103.FullName as EmployeeName
							, x.Description
					 From ( Select M.APK, M.DivisionID, M.VoucherTypeID, M.VoucherNo, M.VoucherDate, M.ObjectID, M.Description
							, D.WareHouseID, M.ShopID, M.EmployeeID, TranYear, TranMonth
							, D.ActualQuantity
							, D.ActualQuantity - isnull((Select Sum(isnull(ActualQuantity,0)) From AT2007 WITH (NOLOCK) 
									  Where AT2007.InheritTransactionID = D.APK and AT2007.InheritVoucherID = D.APKMaster),0) As RemainQuantity
							From POST0015 M WITH (NOLOCK) inner join POST00151 D WITH (NOLOCK) on M.DivisionID = D.DivisionID and M.APK = D.APKMaster 
														and M.DeleteFlg = D.DeleteFlg and M.DeleteFlg = 0
							Where D.APKDInherited is null 
							) x	left join AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND x.ObjectID = AT1202.ObjectID	 
								Left join POST0010 WITH (NOLOCK) on x.DivisionID  = POST0010.DivisionID and x.ShopID = POST0010.ShopID
								Left Join AT1103 WITH (NOLOCK) on x.EmployeeID = AT1103.EmployeeID
					 Where x.RemainQuantity>0 ' 
					 + @sWhere 						
					 + ' order by x.VoucherDate, x.VoucherNo'

		EXEC (@sSQL)
			
End

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
