IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP0065]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[WP0065]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- WP0065
-- <Summary>
---- Stored load đơn hàng ở màn hình VCNB (TDCLA)
---- Created on 08/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- EXEC WP0065 @DivisionID = 'PC', @UserID = '', @TranMonth = 9, @TranYear = 2016, @ObjectID = 'CABI-000001'

CREATE PROCEDURE [dbo].[WP0065]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),		
	@TranMonth AS INT,
	@TranYear AS INT,
	@ObjectID AS NVARCHAR(50)
AS

DECLARE @sSQL AS NVARCHAR(MAX) = ''

SET @sSQL = '
SELECT OT2001.SOrderID AS OrderID, VoucherNo, OrderDate, OT2001.ObjectID, AT1202.ObjectName, OT2001.Notes
FROM OT2001 WITH (NOLOCK)
INNER JOIN OT2002 WITH (NOLOCK) ON OT2001.DivisionID = OT2002.DivisionID AND OT2001.SOrderID = OT2002.SOrderID
LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND OT2001.ObjectID = AT1202.ObjectID
LEFT JOIN
(
	SELECT DivisionID, OTransactionID, SUM(ActualQuantity) AS OrderQuantity, SUM(ConvertedQuantity) AS ConvertedQuantity
	FROM AT2007 WITH (NOLOCK)
	WHERE DivisionID = ''' + @DivisionID + '''
	GROUP BY DivisionID, OTransactionID
) TB ON TB.DivisionID = OT2002.DivisionID AND TB.OTransactionID = OT2002.TransactionID
WHERE OT2001.DivisionID = ''' + @DivisionID + '''
AND OT2001.TranMonth = ' + CONVERT(NVARCHAR(5), @TranMonth) + '
AND OT2001.TranYear = ' + CONVERT(NVARCHAR(5), @TranYear) + '
AND OT2001.ObjectID = ''' + @ObjectID + ''' 
AND IsConfirm = 1
AND OrderStatus NOT IN (0, 3, 4, 9)
GROUP BY OT2001.SOrderID, OT2001.VoucherNo, OT2001.OrderDate, OT2001.ObjectID, AT1202.ObjectName, OT2001.Notes
HAVING SUM(OT2002.ConvertedQuantity - ISNULL(TB.ConvertedQuantity,0)) > 0' 
		
PRINT @sSQL
EXEC (@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

