IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP0150]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[WP0150]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
--- Created by: Hoàng vũ, date: 22/01/2018  
---Customize-index = 87 (Khách hàng Okia)
--- Purpose: Gửi mail; lấy dữ liệu ra template mail(Đục lỗ)
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

/*
Exec WP0150 'HCM','f3b2c2c0-b235-401b-b8a5-1bd6b987adf6'
*/
  
CREATE PROCEDURE [dbo].[WP0150] 
		@DivisionID nvarchar(50),      
        @VoucherID  nvarchar(Max)
AS  
		Select Distinct WT0095.DivisionID, WT0095.ObjectID, AT1202.ObjectName
				, WT0095.WareHouseID, WT0095.KindVoucherID, WT0095.WareHouseID2
				, WT0095.VoucherID, WT0095.VoucherDate, WT0095.VoucherNo
				, Isnull(POST0016.VoucherNo,POST0022.VoucherNo) as RefVoucherNo
				, Isnull(WT0095.EmployeeID, WT0095.CreateUserID) as EmployeeID
				, Isnull(WT0095.EmployeeID, WT0095.CreateUserID) + ' - ' + Isnull(AT1103_01.FullName,AT1103_03.FullName) as EmployeeName
				, AT1103_01.Email
				, WT0095.Description, RDAddress, Note
				, WT0095.LastModifyUserID, WT0095.LastModifyUserID +' - ' + Isnull(AT1103_02.FullName, N'Quản trị hệ thống') as  LastModifyUserName
				, WT0095.LastModifyDate, Case When Isnull(WT0095.IsCheck, 0) = 0 then N'Chưa duyệt' else N'Ðã duyệt' End as IsCheckName
		From WT0095 WITH (NOLOCK) Left join WT0096 WITH (NOLOCK) on WT0095.DivisionID = WT0096.DivisionID and WT0095.VoucherID = WT0096.VoucherID
								  Left join AT1103 AT1103_01 WITH (NOLOCK) on WT0095.EmployeeID = AT1103_01.EmployeeID 
								  Left join AT1103 AT1103_02 WITH (NOLOCK) on WT0095.LastModifyUserID = AT1103_02.EmployeeID 
								  Left join AT1103 AT1103_03 WITH (NOLOCK) on WT0095.CreateUserID = AT1103_03.EmployeeID 
								  Left join AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (@DivisionID, '@@@') AND WT0095.ObjectID = AT1202.ObjectID 
								  left join POST0016 WITH (NOLOCK) on WT0096.InheritVoucherID = POST0016.APK and  WT0096.InheritTableID = 'POST0016'
								  left join POST0022 WITH (NOLOCK) on WT0096.InheritVoucherID = POST0016.APK and  WT0096.InheritTableID = 'POST0022'
		Where WT0095.IsCheck = 1 and WT0095.DivisionID = @DivisionID and WT0095.VoucherID in (@VoucherID) 
		Order by WT0095.VoucherDate, WT0095.ObjectID

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON


GO



