IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP0133_AG3]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[WP0133_AG3]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO




-- <Summary>
---- Create by Tieu Mai on 16/03/2017
---- Purpose: So du dau ky chi tiet nhap xuat ton tat ca kho (ANGEL)
---- Modified on 22/01/2018 by Bảo Anh: Lấy số dư theo kho được chọn xem truy vấn chứng từ
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.

-- <Example>
---- 


CREATE PROCEDURE [dbo].[WP0133_AG3] 
    @DivisionID NVARCHAR(50), 
    @WareHouseID NVARCHAR(1000), 
    @FromInventoryID NVARCHAR(50), 
    @ToInventoryID NVARCHAR(50), 
    @FromMonth INT, 
    @FromYear INT, 
    @ToMonth INT, 
    @ToYear INT, 
    @FromDate DATETIME, 
    @ToDate DATETIME, 
    @IsDate TINYINT,
	@IsAll AS tinyint
AS

DECLARE 
    @sSQL NVARCHAR(4000), 
    @WareHouseID2 NVARCHAR(50), 
    @WareHouseName NVARCHAR(250),
	@WareHouseIDNotAll NVARCHAR(50)

IF @IsAll = 1
    BEGIN
        SET @WareHouseID2 = '''%'''
        SET @WareHouseName = '''WFML000110'''        
    END    
	
IF @IsDate = 0 --- Theo ky
BEGIN 
	SET @Ssql = N'
		SELECT	AT2008.DivisionID, AT2008.WareHouseID, 
				AT1303.WareHouseName, 
				AT2008.InventoryID, 
				AT1302.InventoryName, 
				AT1302.UnitID, 
				AT1304.UnitName, 
				SUM(BeginQuantity) AS BeginQuantity, 
				SUM(EndQuantity) AS EndQuantity, 
				SUM(BeginAmount) AS BeginAmount, 
				SUM(EndAmount) AS EndAmount
		FROM	AT2008 WITH (NOLOCK) 
		INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.InventoryID = AT2008.InventoryID and  AT1302.DivisionID = AT2008.DivisionID
		INNER JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT1302.UnitID and  AT1304.DivisionID = AT2008.DivisionID
		INNER JOIN AT1303 WITH (NOLOCK) ON AT1303.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1303.WareHouseID = AT2008.WareHouseID
		WHERE AT2008.DivisionID = N''' + @DivisionID + ''' 
				AND AT2008.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' '+
				(CASE WHEN @IsAll = 1 THEN ' AND AT1303.IsTemp = 0 ' ELSE '' END) +
				'AND AT2008.WareHouseID = ''' + @WareHouseID + '''
				AND TranMonth + TranYear * 100 = ' + STR(@FromMonth) + ' + 100 * ' + STR(@FromYear) + ' 
		GROUP BY AT2008.DivisionID, AT2008.WareHouseID, AT1303.WareHouseName,AT2008.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName
	'
END 
ELSE
BEGIN
		SET @sSQL = N'
			SELECT	DivisionID, 
					WareHouseID, 
					WareHouseName,
					InventoryID, 
					InventoryName, 
					UnitID, UnitName, 
					SUM(SignQuantity) AS BeginQuantity, 
					SUM(SignAmount) AS BeginAmount, 
					0 AS EndQuantity, 
					0 AS EndAmount
			FROM	AV7011
			WHERE	DivisionID LIKE N''' + @DivisionID + ''' 
					AND ((D_C in (''D'', ''C'') 
							AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''') 
							OR D_C = ''BD'') 
					AND WareHouseID = ''' + @WareHouseID + '''
					AND InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' 
			GROUP BY DivisionID, WareHouseID, WareHouseName,InventoryID, InventoryName, UnitID, UnitName 
			---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
		'
END
    
    
--PRINT @sSQL    
IF NOT EXISTS (SELECT 1 FROM SysObjects WHERE Xtype = 'V' AND Name = 'AV0133_AG3')
    EXEC('CREATE VIEW AV0133_AG3 	--CREATED BY WP0133_AG3
    AS ' + @sSQL)
ELSE
    EXEC('ALTER VIEW AV0133_AG3 	--CREATED BY WP0133_AG3
    AS ' + @sSQL)
---- Lay so phat sinh





GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
