IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP0111]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[WP0111]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Customize Angel: Đổ dữ liệu lưới detail ở màn hình kế thừa kế hoạch dự tính sản xuất
---- Created by Bảo Anh, Date: 14/03/2016
---- Modify on 03/05/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Huỳnh Thử on 30/09/2020 : Bổ sung danh mục dùng chung
---- WP0111 'CTY',NULL,'1',''

CREATE PROCEDURE [dbo].[WP0111] 
    @DivisionID NVARCHAR(50), 
    @TransactionIDList AS VARCHAR(max),
	@OrdersList AS VARCHAR(max),
	@VoucherID AS NVARCHAR(50) = ''
	
AS

Declare @SQL1 varchar(max),
		@SQL2 varchar(max),
		@SQL3 varchar(max)

SELECT @SQL1 = '', @SQL2 = '', @SQL3 = ''

--- Lọc ra các kế hoạch dự tính chưa kế thừa hoặc kế thừa chưa hết
SET @SQL1 = '
SELECT VoucherID, TransactionID, Orders, InventoryID, ApportionID, ApportionProductID, (Isnull(Quantity,0) - Isnull(InheritQuantity,0)) as EndQuantity
INTO #TAM
FROM	(
	Select	MT70.VoucherID, MT70.TransactionID, MT71.Orders, MT70.InventoryID, MT70.ApportionID, MT03.ApportionProductID, 
			(Isnull(MT71.Quantity,MT70.Quantity) * Isnull(MT03.QuantityUnit,0) * (case when Isnull(MT03.RateWastage,0) = 0 then 1 else MT03.RateWastage end)) as Quantity,
			Isnull(WT96.Quantity,0) as InheritQuantity
	From MT0170 MT70
	Left join MT0171 MT71 On MT70.DivisionID = MT71.DivisionID And MT70.TransactionID = MT71.TransactionID
	Left join MT1603 MT03 On MT70.DivisionID = MT03.DivisionID And MT70.ApportionID = MT03.ApportionID and MT70.InventoryID = MT03.ProductID and MT03.ExpenseID = ''COST001''
	Left join	(Select DivisionID, InheritVoucherID, InheritTransactionID, InheritApportionID, sum(ActualQuantity) as Quantity
				From WT0096
				Where DivisionID = ''' + @DivisionID + ''' And InheritTableID = ''MT0170'' and Isnull(InheritTransactionID,'''') <> ''''
				Group by DivisionID, InheritVoucherID, InheritTransactionID, InheritApportionID 
				) WT96 
	On MT70.DivisionID = WT96.DivisionID And MT70.TransactionID = WT96.InheritTransactionID And MT71.Orders = WT96.InheritVoucherID and MT03.ApportionProductID = WT96.InheritApportionID
	Where MT70.DivisionID = ''' + @DivisionID + ''' And MT70.TransactionID in (''' + @TransactionIDList + ''') And MT71.Orders in (''' + @OrdersList + ''')
) A
WHERE Isnull(Quantity,0) - Isnull(InheritQuantity,0) > 0'

IF isnull(@VoucherID,'')<> ''	--- khi load edit
BEGIN
	SET @SQL2 = '
	SELECT * FROM (
	SELECT	cast(1 as tinyint) as IsChecked, WT96.InheritTransactionID as TransactionID, WT96.InheritApportionID as ApportionProductID,
			MT70.TeamID, HT1101.TeamName,
			MT70.InventoryID as ProductID, T01.InventoryName as ProductName, MT71.Orders,
			MT03.MaterialID, T02.InventoryName as MaterialName,
			MT03.UnitID as MaterialUnitID, T04.UnitName as MaterialUnitName, T02.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			WT96.ActualQuantity as MaterialQuantity
			
	FROM WT0096 WT96
	INNER JOIN MT0170 MT70 On WT96.DivisionID = MT70.DivisionID And WT96.InheritTransactionID = MT70.TransactionID
	INNER JOIN MT1603 MT03 On MT70.DivisionID = MT03.DivisionID And MT70.ApportionID = MT03.ApportionID and MT70.InventoryID = MT03.ProductID and MT03.ExpenseID = ''COST001''
	INNER JOIN MT0171 MT71 ON WT96.DivisionID = MT71.DivisionID And WT96.InheritVoucherID = MT71.Orders And WT96.InheritTransactionID = MT71.TransactionID And WT96.InheritApportionID = MT03.ApportionProductID
	LEFT JOIN AT1302 T01 ON T01.DivisionID IN (''@@@'', MT70.DivisionID) AND MT70.InventoryID = T01.InventoryID
	LEFT JOIN AT1302 T02 ON T02.DivisionID IN (''@@@'', MT03.DivisionID) AND MT03.MaterialID = T02.InventoryID
	LEFT JOIN AT1304 T04 ON MT03.UnitID = T04.UnitID
	LEFT JOIN AT1015 On T02.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01''
	LEFT JOIN HT1101 ON MT70.DivisionID = HT1101.DivisionID And MT70.TeamID = HT1101.TeamID
	WHERE WT96.DivisionID = ''' + @DivisionID + ''' AND WT96.VoucherID = ''' + @VoucherID + ''' AND Isnull(WT96.InheritTableID,'''') = ''MT0170'' AND Isnull(WT96.InheritTransactionID,'''') <> ''''
	'

	SET @SQL3 = '
	UNION ALL
	SELECT	cast(0 as tinyint) as IsChecked, MT70.TransactionID, MT03.ApportionProductID,
			MT70.TeamID, HT1101.TeamName,
			MT70.InventoryID as ProductID, T01.InventoryName as ProductName, MT71.Orders,
			MT03.MaterialID, T02.InventoryName as MaterialName,
			MT03.UnitID as MaterialUnitID, T04.UnitName as MaterialUnitName, T02.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			#TAM.EndQuantity as MaterialQuantity
	FROM MT0170 MT70
	INNER JOIN MT0171 MT71 ON MT70.DivisionID = MT71.DivisionID And MT70.TransactionID = MT71.TransactionID
	INNER JOIN MT1603 MT03 On MT70.DivisionID = MT03.DivisionID And MT70.ApportionID = MT03.ApportionID and MT70.InventoryID = MT03.ProductID and MT03.ExpenseID = ''COST001''
	INNER JOIN #TAM ON MT71.TransactionID = #TAM.TransactionID And MT71.Orders = #TAM.Orders And MT03.ApportionProductID = #TAM.ApportionProductID
	LEFT JOIN AT1302 T01 ON T01.DivisionID IN (''@@@'', MT70.DivisionID) AND MT70.InventoryID = T01.InventoryID
	LEFT JOIN AT1302 T02 ON ATT021302.DivisionID IN (''@@@'', MT03.DivisionID) AND MT03.MaterialID = T02.InventoryID
	LEFT JOIN AT1304 T04 ON MT03.UnitID = T04.UnitID
	LEFT JOIN AT1015 On T02.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01''
	LEFT JOIN HT1101 ON MT70.DivisionID = HT1101.DivisionID And MT70.TeamID = HT1101.TeamID
	WHERE MT70.DivisionID = ''' + @DivisionID + '''
	) A
	ORDER BY ProductID, Orders, MaterialID'
END	
ELSE --- addnew
	SET @SQL2 = '
	SELECT	cast(0 as tinyint) as IsChecked, MT70.TransactionID, MT03.ApportionProductID,
			MT70.TeamID, HT1101.TeamName,
			MT70.InventoryID as ProductID, T01.InventoryName as ProductName, MT71.Orders,
			MT03.MaterialID, T02.InventoryName as MaterialName,
			MT03.UnitID as MaterialUnitID, T04.UnitName as MaterialUnitName, T02.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			#TAM.EndQuantity as MaterialQuantity
	FROM MT0170 MT70
	INNER JOIN MT0171 MT71 ON MT70.DivisionID = MT71.DivisionID And MT70.TransactionID = MT71.TransactionID
	INNER JOIN MT1603 MT03 On MT70.DivisionID = MT03.DivisionID And MT70.ApportionID = MT03.ApportionID and MT70.InventoryID = MT03.ProductID and MT03.ExpenseID = ''COST001''
	INNER JOIN #TAM ON MT71.TransactionID = #TAM.TransactionID And MT71.Orders = #TAM.Orders And MT03.ApportionProductID = #TAM.ApportionProductID
	LEFT JOIN AT1302 T01 ON T01.DivisionID IN (''@@@'', MT70.DivisionID) AND MT70.InventoryID = T01.InventoryID
	LEFT JOIN AT1302 T02 ON T02.DivisionID IN (''@@@'', MT03.DivisionID) AND MT03.MaterialID = T02.InventoryID
	LEFT JOIN AT1304 T04 ON MT03.UnitID = T04.UnitID
	LEFT JOIN AT1015 On T02.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01''
	LEFT JOIN HT1101 ON MT70.DivisionID = HT1101.DivisionID And MT70.TeamID = HT1101.TeamID
	WHERE MT70.DivisionID = ''' + @DivisionID + '''
	ORDER BY MT70.InventoryID, MT71.Orders, MT03.MaterialID'

EXEC(@SQL1 + @SQL2 + @SQL3)
PRINT @SQL1
PRINT @SQL2
PRINT @SQL3

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON