IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP0105]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[WP0105]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--- In báo cáo Phiếu yêu cầu nhập, xuất, vận chuyển nội bộ
----Edit by Mai Duyen, Date 12/09/2014: Bo sung them field AT1302.Notes01(KH Kingcom)
----Edit by Mai Duyen, Date 06/05/2015: Bo sung them field AT1302.BarCode(KH MANHPHUONG)
----Modified by Tiểu Mai on 25/12/2015: Bo sung thong tin quy cach hang hoa khi co thiet lap quan ly hang theo quy cach
----MOdified by Tiểu Mai on 07/01/2016: Bổ sung các cột của đơn hàng sx khi có thiết lập quản lý hàng theo quy cách.
----Modified by Tiểu Mai on 30/05/2016: Tách store quy cách hàng hóa.
---- Modified by Bảo Anh on 27/05/2017: Sửa danh mục dùng chung
----Modified by Bảo Thy on 13/06/2017: bổ sung tham số
----Modified by Bảo Thy on 06/07/2017: Bổ sung ReVoucherDate, W95.EmployeeID, AT1103.FullName EmployeeName, W96.Notes (EIMSKIP)
----Modified by Bảo Thy on 06/10/2017: Bổ sung A202.Address AS ObjectAddress (EIMSKIP)
--- Modified on 07/02/2018 by Bảo Anh: Bổ sung các MPT nghiệp vụ, người liên lạc, địa chỉ giao hàng
---- Modified on 21/8/2018 by Kim Thư: Bổ sung địa chỉ khách hàng
---- Modified by Huỳnh Thử on 30/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Nhật Thanh on 23/12/2022 : Bổ sung trường ConversionFactor, ConversionUnitID,Notes01, Notes02, Notes03,Contactor, Phonenumber, Address của ObjectID kế thừa,VoucherNo
---- Modified by Nhật Thanh on 12/01/2023 : Bổ sung trường Lấy voucherNo trường hợp kế thừa đơn hàng và ngày đơn hàng của OT2001
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

/*
    EXEC WP0105 'TH','','79ebd83b-e203-4183-a633-84a9c6135c94', 2
*/

 CREATE PROCEDURE WP0105
(
     @DivisionID NVARCHAR(2000),
     @UserID VARCHAR(50),
     @VoucherID VARCHAR(50),
     @Mode TINYINT  --: 1,5: Phiếu yêu cầu nhập, 2,4: Phiếu yêu cầu xuất, 3: Phiếu yêu cầu VCNB

)
AS
IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN
	EXEC WP0105_QC @DivisionID, @UserID, @VoucherID, @Mode
	
END
ELSE
BEGIN 
	DECLARE @sSQL VARCHAR(8000) = '',
			@sSQL1 VARCHAR(8000) = '',
			@sSQL2 VARCHAR(8000) = '',
			@sWhere VARCHAR(2000) = '',
			@sJoin VARCHAR(2000) = '',
			@sGroup VARCHAR(2000) = ''
			
	SET @sWhere = ''		
	IF @Mode = 3
		SET @sWhere = 'W95.WareHouseID2 ExVoucherID, A34.WareHouseName ExVoucherName, A34.Address ExVoucherAddress, W95.WareHouseID ImWareHouseID, 
		A33.WareHouseName ImWareHouseName, A33.Address ImWareHouseAddress,'

	IF @Mode IN (1,5)
	SET @sWhere = ' W95.WareHouseID ImWareHouseID, A33.WareHouseName ImWareHouseName, A33.Address ImWareHouseAddress,'

	IF @Mode IN (2,4)
	BEGIN
		SET @sWhere = ' W95.WareHouseID ExVoucherID, A33.WareHouseName ExVoucherName, A33.Address ExVoucherAddress, ISNULL(AT2006.VoucherDate,'''') AS ReVoucherDate,
		A202.Address AS ObjectAddress,'
		SET @sJoin = 'LEFT JOIN AT2006 ON W96.DivisionID = AT2006.DivisionID AND W96.ReVoucherID = AT2006.VoucherID'
		SET @sGroup = ', ISNULL(AT2006.VoucherDate,''''), A202.Address'
	END

	SET @sSQL = '
		SELECT W95.VoucherNo, W95.VoucherDate, '+@sWhere+' A09.UnitID ConversionUnitID, A09.ConversionFactor, A02.Notes01, A02.Notes02, A02.Notes03,
		A202.Contactor, A202.Phonenumber, O01.VoucherNo SOrderID, O01.OrderDate, A2022.Address DeliveryAddress,
		W95.[Description], W95.EmployeeID, AT1103.FullName EmployeeName, W96.Notes,
		W96.InventoryID, A02.InventoryName, W96.UnitID, SUM(W96.ConvertedQuantity) ConvertedQuantity,
		W96.UnitPrice, SUM(W96.ConvertedAmount) ConvertedAmount, 
		A02.Notes01, W95.ObjectID, A202.ObjectName, A202.Address, A02.BarCode,
		ISNULL(W95.SParameter01,'''') SParameter01, ISNULL(W95.SParameter02,'''') SParameter02, ISNULL(W95.SParameter03,'''') SParameter03, 
		ISNULL(W95.SParameter04,'''') SParameter04, ISNULL(W95.SParameter05,'''') SParameter05, ISNULL(W95.SParameter06,'''') SParameter06, 
		ISNULL(W95.SParameter07,'''') SParameter07, ISNULL(W95.SParameter08,'''') SParameter08, ISNULL(W95.SParameter09,'''') SParameter09, 
		ISNULL(W95.SParameter10,'''') SParameter10, ISNULL(W95.SParameter11,'''') SParameter11, ISNULL(W95.SParameter12,'''') SParameter12, 
		ISNULL(W95.SParameter13,'''') SParameter13, ISNULL(W95.SParameter14,'''') SParameter14, ISNULL(W95.SParameter15,'''') SParameter15, 
		ISNULL(W95.SParameter16,'''') SParameter16, ISNULL(W95.SParameter17,'''') SParameter17, ISNULL(W95.SParameter18,'''') SParameter18, 
		ISNULL(W95.SParameter19,'''') SParameter19, ISNULL(W95.SParameter20,'''') SParameter20,
		ISNULL(W96.Notes01,'''') WNotes01, ISNULL(W96.Notes02,'''') WNotes02, ISNULL(W96.Notes03,'''') WNotes03, 
		ISNULL(W96.Notes04,'''') WNotes04, ISNULL(W96.Notes05,'''') WNotes05, ISNULL(W96.Notes06,'''') WNotes06, 
		ISNULL(W96.Notes07,'''') WNotes07, ISNULL(W96.Notes08,'''') WNotes08, ISNULL(W96.Notes09,'''') WNotes09, 
		ISNULL(W96.Notes10,'''') WNotes10, ISNULL(W96.Notes11,'''') WNotes11, ISNULL(W96.Notes12,'''') WNotes12, 
		ISNULL(W96.Notes13,'''') WNotes13, ISNULL(W96.Notes14,'''') WNotes14, ISNULL(W96.Notes15,'''') WNotes15,
		A02.I01ID, I_01.AnaName AnaNameI01, A02.I02ID, I_02.AnaName AnaNameI02, A02.I03ID, I_03.AnaName AnaNameI03, A02.I04ID, I_04.AnaName AnaNameI04,
		A02.I05ID, I_05.AnaName AnaNameI05, A02.I06ID, I_06.AnaName AnaNameI06, A02.I07ID, I_07.AnaName AnaNameI07,
		A02.I08ID, I_08.AnaName AnaNameI08, A02.I09ID, I_09.AnaName AnaNameI09, A02.I10ID, I_10.AnaName AnaNameI10,
		W96.SourceNo, W96.LimitDate, W95.ContactPerson, W95.RDAddress,
		W96.Ana01ID, W96.Ana02ID, W96.Ana03ID, W96.Ana04ID, W96.Ana05ID, W96.Ana06ID, W96.Ana07ID, W96.Ana08ID, W96.Ana09ID, W96.Ana10ID,
		A1.AnaName as Ana01Name, A2.AnaName as Ana02Name, A3.AnaName as Ana03Name, A4.AnaName as Ana04Name, A5.AnaName as Ana05Name,
		A6.AnaName as Ana06Name, A7.AnaName as Ana07Name, A8.AnaName as Ana08Name, A9.AnaName as Ana09Name, A10.AnaName as Ana10Name
		FROM WT0095 W95 WITH (NOLOCK)'
	SET @sSQL1 = '
		LEFT JOIN AT1202 A202 WITH (NOLOCK) ON A202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A202.ObjectID = W95.ObjectID
		LEFT JOIN WT0096 W96 WITH (NOLOCK) ON W96.DivisionID = W95.DivisionID AND W96.VoucherID = W95.VoucherID
		LEFT JOIN AT1302 A02 WITH (NOLOCK) ON A02.DivisionID IN (''@@@'', W96.DivisionID) AND A02.InventoryID = W96.InventoryID
		LEFT JOIN AT1303 A33 WITH (NOLOCK) ON A33.DivisionID IN (''@@@'', '''+@DivisionID+''') AND A33.WareHouseID = W95.WareHouseID
		LEFT JOIN AT1303 A34 WITH (NOLOCK) ON A34.DivisionID IN (''@@@'', '''+@DivisionID+''') AND A34.WareHouseID = W95.WareHouseID2
		LEFT JOIN
		(
			SELECT InventoryID, MIN(UnitID) UnitID, MIN(ConversionFactor)ConversionFactor, MIN(Operator) Operator, DivisionID
			FROM AT1309 WITH (NOLOCK)
			GROUP BY InventoryID, DivisionID
		) A09 
		ON A09.InventoryID = W96.InventoryID
		LEFT JOIN OT2001 O01 WITH (NOLOCK) ON W96.OrderID = O01.SOrderID
		LEFT JOIN AT1202 A2022 WITH (NOLOCK) ON A2022.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A2022.ObjectID = O01.ObjectID
		LEFT JOIN AT1015 I_01 WITH (NOLOCK) ON I_01.AnaID = A02.I01ID AND I_01.AnaTypeID = ''I01''
		LEFT JOIN AT1015 I_02 WITH (NOLOCK) ON I_02.AnaID = A02.I02ID AND I_02.AnaTypeID = ''I02''
		LEFT JOIN AT1015 I_03 WITH (NOLOCK) ON I_03.AnaID = A02.I03ID AND I_03.AnaTypeID = ''I03''
		LEFT JOIN AT1015 I_04 WITH (NOLOCK) ON I_04.AnaID = A02.I04ID AND I_04.AnaTypeID = ''I04''
		LEFT JOIN AT1015 I_05 WITH (NOLOCK) ON I_05.AnaID = A02.I05ID AND I_05.AnaTypeID = ''I05''
		LEFT JOIN AT1015 I_06 WITH (NOLOCK) ON I_06.AnaID = A02.I06ID AND I_06.AnaTypeID = ''I06''
		LEFT JOIN AT1015 I_07 WITH (NOLOCK) ON I_07.AnaID = A02.I07ID AND I_07.AnaTypeID = ''I07''
		LEFT JOIN AT1015 I_08 WITH (NOLOCK) ON I_08.AnaID = A02.I08ID AND I_08.AnaTypeID = ''I08''
		LEFT JOIN AT1015 I_09 WITH (NOLOCK) ON I_09.AnaID = A02.I09ID AND I_09.AnaTypeID = ''I09''
		LEFT JOIN AT1015 I_10 WITH (NOLOCK) ON I_10.AnaID = A02.I10ID AND I_10.AnaTypeID = ''I10''
		LEFT JOIN AT1103 WITH (NOLOCK) ON AT1103.EmployeeID = W95.EmployeeID
		LEFT JOIN AT1011 A1 WITH (NOLOCK) ON A1.AnaID = W96.Ana01ID AND A1.AnaTypeID = ''A01''
		LEFT JOIN AT1011 A2 WITH (NOLOCK) ON A2.AnaID = W96.Ana02ID AND A2.AnaTypeID = ''A02''
		LEFT JOIN AT1011 A3 WITH (NOLOCK) ON A3.AnaID = W96.Ana03ID AND A3.AnaTypeID = ''A03''
		LEFT JOIN AT1011 A4 WITH (NOLOCK) ON A4.AnaID = W96.Ana04ID AND A4.AnaTypeID = ''A04''
		LEFT JOIN AT1011 A5 WITH (NOLOCK) ON A5.AnaID = W96.Ana05ID AND A5.AnaTypeID = ''A05''
		LEFT JOIN AT1011 A6 WITH (NOLOCK) ON A6.AnaID = W96.Ana06ID AND A6.AnaTypeID = ''A06''
		LEFT JOIN AT1011 A7 WITH (NOLOCK) ON A7.AnaID = W96.Ana07ID AND A7.AnaTypeID = ''A07''
		LEFT JOIN AT1011 A8 WITH (NOLOCK) ON A8.AnaID = W96.Ana08ID AND A8.AnaTypeID = ''A08''
		LEFT JOIN AT1011 A9 WITH (NOLOCK) ON A9.AnaID = W96.Ana09ID AND A9.AnaTypeID = ''A09''
		LEFT JOIN AT1011 A10 WITH (NOLOCK) ON A10.AnaID = W96.Ana10ID AND A10.AnaTypeID = ''A10''
		'+@sJoin
		
	SET @sSQL2 = '
		WHERE W95.DivisionID = '''+@DivisionID+'''
		AND W95.VoucherID = '''+@VoucherID+'''
		GROUP BY W95.VoucherNo, W95.VoucherDate, W95.WareHouseID2, A34.WareHouseName, W95.WareHouseID,
		A33.WareHouseName, W95.[Description], W95.EmployeeID, AT1103.FullName, W96.Notes, W96.InventoryID, A02.InventoryName, W96.UnitID,
		W96.UnitPrice, A02.Notes01, W95.ObjectID, A202.ObjectName, A202.Address, A02.Barcode, A33.Address, A34.Address,
		ISNULL(W95.SParameter01,''''), ISNULL(W95.SParameter02,''''), ISNULL(W95.SParameter03,''''), ISNULL(W95.SParameter04,''''), ISNULL(W95.SParameter05,''''), 
		ISNULL(W95.SParameter06,''''), ISNULL(W95.SParameter07,''''), ISNULL(W95.SParameter08,''''), ISNULL(W95.SParameter09,''''), ISNULL(W95.SParameter10,''''), 
		ISNULL(W95.SParameter11,''''), ISNULL(W95.SParameter12,''''), ISNULL(W95.SParameter13,''''), ISNULL(W95.SParameter14,''''), ISNULL(W95.SParameter15,''''), 
		ISNULL(W95.SParameter16,''''), ISNULL(W95.SParameter17,''''), ISNULL(W95.SParameter18,''''), ISNULL(W95.SParameter19,''''), ISNULL(W95.SParameter20,''''),
		ISNULL(W96.Notes01,''''), ISNULL(W96.Notes02,''''), ISNULL(W96.Notes03,''''), ISNULL(W96.Notes04,''''), ISNULL(W96.Notes05,''''), 
		ISNULL(W96.Notes06,''''), ISNULL(W96.Notes07,''''), ISNULL(W96.Notes08,''''), ISNULL(W96.Notes09,''''), ISNULL(W96.Notes10,''''), 
		ISNULL(W96.Notes11,''''), ISNULL(W96.Notes12,''''), ISNULL(W96.Notes13,''''), ISNULL(W96.Notes14,''''), ISNULL(W96.Notes15,''''),
		A02.I01ID, I_01.AnaName, A02.I02ID, I_02.AnaName, A02.I03ID, I_03.AnaName, A02.I04ID, I_04.AnaName, A02.I05ID, I_05.AnaName, A02.I06ID, I_06.AnaName, 
		A02.I07ID, I_07.AnaName, A02.I08ID, I_08.AnaName, A02.I09ID, I_09.AnaName, A02.I10ID, I_10.AnaName, W96.SourceNo, W96.LimitDate, W95.ContactPerson, W95.RDAddress,
		W96.Ana01ID, W96.Ana02ID, W96.Ana03ID, W96.Ana04ID, W96.Ana05ID, W96.Ana06ID, W96.Ana07ID, W96.Ana08ID, W96.Ana09ID, W96.Ana10ID,
		A1.AnaName, A2.AnaName, A3.AnaName, A4.AnaName, A5.AnaName, A6.AnaName, A7.AnaName, A8.AnaName, A9.AnaName, A10.AnaName,
		A09.UnitID, A09.ConversionFactor, A02.Notes01, A02.Notes02, A02.Notes03,
		A202.Contactor, A202.Phonenumber, O01.VoucherNo,O01.OrderDate, A2022.Address
		'+@sGroup+''

	EXEC (@sSQL + @sSQL1 + @sSQL2)
END 
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
