IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP0141]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[WP0141]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- BÁO CÁO Doi chieu so luong ban cua hang va cong ty - WF0141
---- 
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
----Created by: Hoàng Vũ on 16/08/2017
----Modify by: 
-- <Example> EXEC WP0141 'MSA', 1, 1, 9, 2017, 2018, '2017-9-01', '2018-09-29', '','','','','ALIADTPA3800TD','ALIADTPA3800TD',''

CREATE PROCEDURE WP0141 (
	@DivisionID			VARCHAR(50),
	@IsDate	AS	TINYINT,  --1: Theo ngày; 0: Theo kỳ
	@FromMonth AS int ,
    @ToMonth AS int ,
    @FromYear AS int ,
    @ToYear AS int ,
    @FromDate AS datetime ,
    @ToDate AS datetime ,
	@FromShopID			VARCHAR(50),
	@ToShopID			VARCHAR(50),
	@ToMemberID			VARCHAR(MAX),
	@FromMemberID		VARCHAR(MAX),
	@ToInventoryID		VARCHAR(MAX),
	@FromInventoryID	VARCHAR(MAX),
	@UserID				VARCHAR(50)
)
AS
BEGIN
			--Do store WP0141 đặt dưới bảng chuẩn ERP8, nhưng lấy bảng trên ERP9, nếu khách hàng không dùng ERP9 thì chạy store bị lỗi 
			--để xử lý vấn đề này kiểm tra thì kiểm tra bên ERP8 chạy vào không có bảng POST0016 thì không chạy vào store này
			IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POST0016]') AND type in (N'U'))
			BEGIN
					DECLARE @sSQL01   NVARCHAR(MAX),  
							@sSQL02   NVARCHAR(MAX),  
							@sSQL03   NVARCHAR(MAX),  
							@sWhere NVARCHAR(MAX),
							@Date  NVARCHAR(MAX)
					DECLARE	@FromMonthYearText NVARCHAR(20), 
							@ToMonthYearText NVARCHAR(20), 
							@FromDateText NVARCHAR(20), 
							@ToDateText NVARCHAR(20)
						    
					SET @FromMonthYearText = STR(@FromMonth + @FromYear * 100)
					SET @ToMonthYearText = STR(@ToMonth + @ToYear * 100)
					SET @FromDateText = CONVERT(NVARCHAR(20), @FromDate, 101)
					SET @ToDateText = CONVERT(NVARCHAR(20), @ToDate, 101) + ' 23:59:59'

					SET @Date = ''
					SET @sWhere = ''

					IF Isnull(@DivisionID, '') != ''
						SET @sWhere = @sWhere + ' AND M.DivisionID = N'''+@DivisionID+''''	
	
					IF @IsDate = 1	
						SET @sWhere = @sWhere + ' AND M.VoucherDate between ''' + @FromDateText + ''' and ''' + @ToDateText +''''
					ELSE
						SET @sWhere = @sWhere + ' AND M.TranMonth + M.TranYear*100 BETWEEN '''+@FromMonthYearText+''' AND '''+@ToMonthYearText+''''

					--Search theo cửa hàng
					IF Isnull(@FromShopID, '')!= '' and Isnull(@ToShopID, '') = ''
						SET @sWhere = @sWhere + ' AND M.ShopID > = N'''+@FromShopID +''''
					ELSE IF Isnull(@FromShopID, '') = '' and Isnull(@ToShopID, '') != ''
						SET @sWhere = @sWhere + ' AND M.ShopID < = N'''+@ToMemberID +''''
					ELSE IF Isnull(@FromShopID, '') != '' and Isnull(@ToShopID, '') != ''
						SET @sWhere = @sWhere + ' AND M.ShopID Between N'''+@FromShopID+''' AND N'''+@ToShopID+''''


					--Search theo đối tượng hội viên
					IF Isnull(@FromMemberID, '')!= '' and Isnull(@ToMemberID, '') = ''
						SET @sWhere = @sWhere + ' AND M.MemberID > = N'''+@FromMemberID +''''
					ELSE IF Isnull(@FromMemberID, '') = '' and Isnull(@ToMemberID, '') != ''
						SET @sWhere = @sWhere + ' AND M.MemberID < = N'''+@ToMemberID +''''
					ELSE IF Isnull(@FromMemberID, '') != '' and Isnull(@ToMemberID, '') != ''
						SET @sWhere = @sWhere + ' AND M.MemberID Between N'''+@FromMemberID+''' AND N'''+@ToMemberID+''''

					--Search theo vật tư
					IF Isnull(@FromInventoryID, '')!= '' and Isnull(@ToInventoryID, '') = ''
						SET @sWhere = @sWhere + ' AND D.InventoryID > = N'''+@FromInventoryID +''''
					ELSE IF Isnull(@FromInventoryID, '') = '' and Isnull(@ToInventoryID, '') != ''
						SET @sWhere = @sWhere + ' AND D.InventoryID < = N'''+@ToInventoryID +''''
					ELSE IF Isnull(@FromInventoryID, '') != '' and Isnull(@ToInventoryID, '') != ''
						SET @sWhere = @sWhere + ' AND D.InventoryID Between N'''+@FromInventoryID+''' AND N'''+@ToInventoryID+''''
 	    
		
					SET @sSQL01 = N'
						--Lấy số lượng bán bên POS
						Select  D.APK, D.APKMaster, M.DivisionID, M.ShopID, M.TranMonth, M.TranYear, M.VoucherNo, M.VoucherDate
								, M.EmployeeID, M.EmployeeName, M.SaleManID, M.MemberID, M.MemberName
								, D.InventoryID, D.InventoryName, D.ActualQuantity, 1 as TypeID
								into #POST0016_TEMP
						from POST0016 M  WITH (NOLOCK) Inner join POST00161 D  WITH (NOLOCK) on M.APK = D.APKMaster and M.DeleteFlg = D.DeleteFlg
						Where M.DeleteFlg = 0 and M.CVoucherNo is null and M.PVoucherNo is null  '+@sWhere+'
		
						--Lấy số lượng bán bên ERP
						Union all
						Select  D.APK, D.APKMaster, M.DivisionID, M.ShopID, M.TranMonth, M.TranYear, M.VoucherNo, M.VoucherDate
								, M.EmployeeID, M.EmployeeName, M.SaleManID, M.MemberID, M.MemberName
								, D.InventoryID, D.InventoryName, D.ActualQuantity, 2 as TypeID
						from POST0016 M  WITH (NOLOCK) Inner join POST00161 D  WITH (NOLOCK) on M.APK = D.APKMaster and M.DeleteFlg = D.DeleteFlg
													   Inner join AT0281 A8 WITH (NOLOCK) on M.APK = A8.APKMaster
						Where M.DeleteFlg = 0 and M.CVoucherNo is null and M.PVoucherNo is null and A8.VoucherID is not null '+@sWhere+''
		
					SET @sSQL02 = N'
						--Lấy số lượng chênh lệch bên POS và ERP
						Union all
						Select  D.APK, D.APKMaster, M.DivisionID, M.ShopID, M.TranMonth, M.TranYear, M.VoucherNo, M.VoucherDate
								, M.EmployeeID, M.EmployeeName, M.SaleManID, M.MemberID, M.MemberName, M.InventoryID, M.InventoryName
								, Isnull(M.ActualQuantity, 0) - Isnull(D.ActualQuantity, 0) as ActualQuantity, 3 as TypeID
						From (
								Select  D.APK, D.APKMaster, M.DivisionID, M.ShopID, M.TranMonth, M.TranYear, M.VoucherNo
										, M.VoucherDate, M.EmployeeID, M.EmployeeName, M.SaleManID, M.MemberID, M.MemberName
										, D.InventoryID, D.InventoryName, D.ActualQuantity, 1 as TypeID
								from POST0016 M  WITH (NOLOCK) Inner join POST00161 D  WITH (NOLOCK) on M.APK = D.APKMaster and M.DeleteFlg = D.DeleteFlg
								Where M.DeleteFlg = 0 and M.CVoucherNo is null and M.PVoucherNo is null  '+@sWhere+'
							 ) M Left join 
							 (	Select  D.APK, D.APKMaster, M.DivisionID, M.ShopID, M.TranMonth, M.TranYear, M.VoucherNo
										, M.VoucherDate, M.EmployeeID, M.EmployeeName, M.SaleManID, M.MemberID, M.MemberName
										, D.InventoryID, D.InventoryName, D.ActualQuantity, 2 as TypeID
								from POST0016 M  WITH (NOLOCK) Inner join POST00161 D  WITH (NOLOCK) on M.APK = D.APKMaster and M.DeleteFlg = D.DeleteFlg
															   Inner join AT0281 A8 WITH (NOLOCK) on M.APK = A8.APKMaster
								Where M.DeleteFlg = 0 and M.CVoucherNo is null and M.PVoucherNo is null and A8.VoucherID is not null '+@sWhere+'
							 ) D on M.APK = D.APK and M.APKMaster = D.APKMaster'
					SET @sSQL03 = N'
						
						Select x.DivisionID, A01.DivisionName, x.ShopID, Isnull(P10.ShopName, ''ZZZZZ'') as ShopName, x.MemberID, x.MemberName, x.InventoryID, x.InventoryName, x.ActualQuantity, x.TypeID
						from
						(
								Select  DivisionID, ShopID, MemberID, MemberName, InventoryID, InventoryName, Sum(ActualQuantity) as ActualQuantity, TypeID
								FROM #POST0016_TEMP
								Group by  DivisionID, ShopID, MemberID, MemberName, InventoryID, InventoryName, TypeID
								Union all
								Select  DivisionID, ''ZZZZZ'' as ShopID, MemberID, MemberName, InventoryID, InventoryName, Sum(ActualQuantity) as ActualQuantity, TypeID
								FROM #POST0016_TEMP
								Where TypeID = 1
								Group by  DivisionID, MemberID, MemberName, InventoryID, InventoryName, TypeID
								Union all
								Select  DivisionID, ''ZZZZZ'' as ShopID, MemberID, MemberName, InventoryID, InventoryName, Sum(ActualQuantity) as ActualQuantity, TypeID
								FROM #POST0016_TEMP
								Where TypeID = 2
								Group by  DivisionID, MemberID, MemberName, InventoryID, InventoryName, TypeID
								Union all
								Select  DivisionID, ''ZZZZZ'' as ShopID, MemberID, MemberName, InventoryID, InventoryName, Sum(ActualQuantity) as ActualQuantity, TypeID
								FROM #POST0016_TEMP
								Where TypeID = 3
								Group by  DivisionID, MemberID, MemberName, InventoryID, InventoryName, TypeID
						) x Left join POST0010 P10 With (Nolock) on x.ShopID = P10.ShopID
							Inner join AT1101  A01 With (Nolock) on x.DivisionID = A01.DivisionID
						Order by x.MemberID, x.MemberName, x.InventoryID, x.ShopID, x.TypeID
						
						'
					EXEC (@sSQL01+@sSQL02+@sSQL03)
			END
		-- <Example> EXEC WP0141 'MSA', 1, 1, 9, 2017, 2017, '2017-9-01', '2017-09-29', '','','','','ALIADTPA3800TD','ALIADTPA3800TD',''

END
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
