IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP6637_SECOIN]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[WP6637_SECOIN]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Bảng tổng hợp sản lượng Ngói (Customerindex: 43 => Secoin)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 09/03/2015 by Phan thanh thoang vu
---- Modify on 03/05/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID) 
---- Modified by Huỳnh Thử on 30/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

-- <Example>
/*
	Exec WP6637_SECOIN 'AS', '201401', '201603' ,'2014-02-01', '2016-03-30', 0, null, null, null, null, null, null, 'ASOFTADMIN'
*/
---- 
CREATE PROCEDURE WP6637_SECOIN
(
	@DivisionID AS NVARCHAR(50),
	@FromPeriod AS INT,
	@ToPeriod AS INT,
	@FromDate AS NVARCHAR(50),  
	@ToDate AS NVARCHAR(50),
	@TimeMode as INT, -- Period=0. day = 1
	@FromObjectID as nvarchar(50), --Từ đối tượng
	@ToObjectID as nvarchar(50), --Đến đối tượng
	@FromWarehouseID as nvarchar(50), --Từ kho
	@ToWarehouseID as nvarchar(50), --Đến kho
	@FromInventoryID as nvarchar(50), --Từ mặt hàng
	@ToInventoryID as nvarchar(50), --Đến mặt hàng
	@UserID as nvarchar(50)
)	
AS
DECLARE @sSQL01           AS NVARCHAR(Max),
		@sSQL02           AS NVARCHAR(Max),
		@sSQL03           AS NVARCHAR(Max),
		@sWhere       AS NVARCHAR(4000)
		
	
	----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
			DECLARE @sSQLPer AS NVARCHAR(MAX),

					@sWHEREPer AS NVARCHAR(MAX)

			SET @sSQLPer = ''

			SET @sWHEREPer = ''		

			IF EXISTS (SELECT TOP 1 1 FROM MT0000 WHERE DivisionID = @DivisionID AND IsPermissionView = 1 ) 
			-- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
			BEGIN
					SET @sSQLPer = ' LEFT JOIN AT0010 ON AT0010.DivisionID = M.DivisionID 

														AND AT0010.AdminUserID = '''+@UserID+''' 

														AND AT0010.UserID = M.CreateUserID '

					SET @sWHEREPer = ' AND (M.CreateUserID = AT0010.UserID

											OR  M.CreateUserID = '''+@UserID+''') '		

				END
	-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	

	SET @sWhere = ' 1 = 1 '
	
	IF Isnull(@DivisionID, '') != ''
		Begin
			Set @sWhere = @sWhere +  ' And M.DivisionID Like N''' + @DivisionID + ''''
			
		End
	IF @TimeMode = 1
		Begin
			Set @sWhere = @sWhere + N' AND CONVERT(NVARCHAR(10), M.VoucherDate, 21) BETWEEN '''
												+ CONVERT(NVARCHAR(10),@FromDate,21)+ ''' AND '''
												+ CONVERT(NVARCHAR(10),@ToDate,21) + ''' '
			
		End
	Else
		Begin
			Set @sWhere = @sWhere + N' AND M.TranYear*100 + M.TranMonth BETWEEN '
											+ CONVERT(NVARCHAR(10), @FromPeriod) 
											+ ' AND '+CONVERT(NVARCHAR(10), @ToPeriod)
											+ ' '
		End
	
	IF (Isnull(@FromObjectID, '') != '' and Isnull(@ToObjectID, '') != '')
		Set @sWhere = @sWhere + ' and (M.ObjectID between ''' + @FromObjectID + ''' And ''' + @ToObjectID + ''')'

	IF (Isnull(@FromWarehouseID, '') != '' and Isnull(@ToWarehouseID, '') != '')
		Set @sWhere = @sWhere + ' and (M.WareHouseID between ''' + @FromWarehouseID + ''' And ''' + @ToWarehouseID + ''')'

	IF (Isnull(@FromInventoryID, '') != '' and Isnull(@ToInventoryID, '') != '')
		Set @sWhere = @sWhere + ' and (D.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')'

	Set @sSQL01 ='Select 
						x.ObjectID, x.ObjectName
						, x.WareHouseID, x.WareHouseName
						, x.I01ID, x.I01Name
						, x.I03ID, x.I03Name
						, x.I04ID, x.I04Name
						, sum(x.ActualQuantity) as Quantity
						, sum(x.ConvertedQuantity) as ConvertedQuantity
					from
					(
					select D.DivisionID, D.VoucherID, D.TransactionID, M.TranMonth, M.TranYear, M.VoucherNo, M.VoucherDate
						 , M.KindVoucherID, M.Status, D.ActualQuantity, D.ConvertedQuantity, D.MarkQuantity, D.UnitPrice
						 , D.ConvertedPrice, D.OriginalAmount, D.ConvertedAmount, D.Orders, M.CreateDate, M.LastModifyDate
						 , M.RefNo01, M.RefNo02, M.RDAddress, M.ContactPerson, M.VATObjectName
						 , M.VoucherTypeID
						 , Case when M.ObjectID  is not null then M.ObjectID else N''KHAC'' end as ObjectID
						 , Case when AT1202.ObjectName is not null then AT1202.ObjectName else N''Khác'' end  as ObjectName
						 , M.WareHouseID, AT1303_1.WareHouseName
						 , M.WareHouseID2, AT1303_2.WareHouseName as WareHouseName2
						 , M.EmployeeID, AT1103_1.FullName as EmployeeName
						 , M.CreateUserID, AT1103_2.FullName as CreateUserName
						 , M.LastModifyUserID, AT1103_3.FullName as LastModifyUserName
						 , AT1302.InventoryTypeID, AT1301.InventoryTypeName
						 , D.InventoryID, AT1302.InventoryName
						 , D.UnitID, AT1304_1.UnitName
						 , D.ConvertedUnitID, AT1304_2.UnitName as ConvertedUnitName
						 , D.DebitAccountID
						 , D.CreditAccountID'
	Set @sSQL02 ='
						, AT1302.I01ID, I01.AnaName as I01Name
						 , AT1302.I02ID, I02.AnaName as I02Name
						 , AT1302.I03ID, I03.AnaName as I03Name
						 , AT1302.I04ID, I04.AnaName as I04Name
						 , AT1302.I05ID, I05.AnaName as I05Name
						 , D.Ana01ID, A01.AnaName as Ana01Name
						 , D.Ana02ID, A02.AnaName as Ana02Name
						 , D.Ana03ID, A03.AnaName as Ana03Name
						 , D.Ana04ID, A04.AnaName as Ana04Name
						 , D.Ana05ID, A05.AnaName as Ana05Name
						 , D.Ana06ID, A06.AnaName as Ana06Name
						 , D.Ana07ID, A07.AnaName as Ana07Name
						 , D.Ana08ID, A08.AnaName as Ana08Name
						 , D.Ana09ID, A09.AnaName as Ana09Name
						 , D.Ana10ID, A10.AnaName as Ana10Name
						 , D.InheritTableID, D.InheritTransactionID, D.InheritVoucherID
					from AT2006 M inner join AT2007 D on M.Divisionid = D.DivisionID  and M.VoucherID=D.VoucherID
								  Left join AT1202 on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND M.ObjectID = AT1202.ObjectID
     							  Left join AT1302 on AT1302.DivisionID IN (''@@@'', D.DivisionID) AND D.InventoryID = AT1302.InventoryID
								  Left join AT1304 AT1304_1 on D.UnitID = AT1304_1.UnitID
								  Left join AT1304 AT1304_2 on D.ConvertedUnitID = AT1304_2.UnitID
								  Left join AT1303 AT1303_1 on AT1303_1.DivisionID IN (''@@@'', ''' + @DivisionID + ''') AND M.WareHouseID = AT1303_1.WareHouseID
								  Left join AT1303 AT1303_2 on AT1303_2.DivisionID IN (''@@@'', ''' + @DivisionID + ''') AND M.WareHouseID2 = AT1303_2.WareHouseID
								  Left join AT1103 AT1103_1 on M.EmployeeID = AT1103_1.EmployeeID
								  Left join AT1103 AT1103_2 on M.CreateUserID = AT1103_2.EmployeeID
								  Left join AT1103 AT1103_3 on M.LastModifyUserID = AT1103_3.EmployeeID'
	Set @sSQL03 ='
						  Left join AT1015 I01 on AT1302.I01ID = I01.AnaID and I01.AnaTypeID =''I01''
						  Left join AT1015 I02 on AT1302.I02ID = I02.AnaID and I02.AnaTypeID =''I02''
						  Left join AT1015 I03 on AT1302.I03ID = I03.AnaID and I03.AnaTypeID =''I03''
						  Left join AT1015 I04 on AT1302.I04ID = I04.AnaID and I04.AnaTypeID =''I04''
						  Left join AT1015 I05 on AT1302.I05ID = I05.AnaID and I05.AnaTypeID =''I05''
						  Left join AT1301 on AT1302.InventoryTypeID = AT1301.InventoryTypeID
						  Left join AT1011 A01 on D.Ana01ID = A01.AnaID and A01.AnaTypeID = ''A01''
						  Left join AT1011 A02 on D.Ana02ID = A02.AnaID and A02.AnaTypeID = ''A02''
						  Left join AT1011 A03 on D.Ana03ID = A03.AnaID and A03.AnaTypeID = ''A03''
						  Left join AT1011 A04 on D.Ana04ID = A04.AnaID and A04.AnaTypeID = ''A04''
						  Left join AT1011 A05 on D.Ana05ID = A05.AnaID and A05.AnaTypeID = ''A05''
						  Left join AT1011 A06 on D.Ana06ID = A06.AnaID and A06.AnaTypeID = ''A06''
						  Left join AT1011 A07 on D.Ana07ID = A07.AnaID and A07.AnaTypeID = ''A07''
						  Left join AT1011 A08 on D.Ana08ID = A08.AnaID and A08.AnaTypeID = ''A08''
						  Left join AT1011 A09 on D.Ana09ID = A09.AnaID and A09.AnaTypeID = ''A09''
						  Left join AT1011 A10 on D.Ana10ID = A10.AnaID and A10.AnaTypeID = ''A10'''
						+ @sSQLPer 
						+ ' Where ' 
						+ @sWhere + @sWHEREPer 
						+ ' and M.KindVoucherID = 2 and ( AT1302.InventoryTypeID like N''%NGOI%'' or AT1302.I01ID Like N''%NGOI%'')
						) x
					Group by x.ObjectID, x.ObjectName
						, x.WareHouseID, x.WareHouseName
						, x.I01ID, x.I01Name
						, x.I03ID, x.I03Name
						, x.I04ID, x.I04Name
					Order by x.WareHouseID, x.ObjectID, x.I01ID, x.I03ID, x.I04ID
					'
	EXEC (@sSQL01 + @sSQL02 + @sSQL03)
	Print (@sSQL01)
	Print (@sSQL02)
	Print (@sSQL03)
/*
	Exec WP6637_SECOIN 'AS', '2014-02-01', '2014-02-28', 2, 2014, 2, 2014, null, null, 1, null, null, 'ASOFTADMIN'
*/

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

