IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CSP2040]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[CSP2040]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


-- <Summary>
---- Đổ nguồn report CSR2040: Danh sách nhu cầu vật tư
-- <History>
---- Create on 02/10/2013 by Nguyễn Thanh Sơn
---- Modify on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modify on 14/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
-- <Example>
---- EXEC CSP2040 'SAS','122'
CREATE PROCEDURE CSP2040
( 
		@DivisionID AS NVARCHAR(50),
		@VoucherID AS NVARCHAR(50)
) 
AS 
SELECT C90.VoucherNo, C90.TeamName,C90.[Description],C91.InventoryID, A02.InventoryName,C91.Quantity,C91.UnitID,
A04.UnitName,C91.Notes
FROM CST2040 C90
LEFT JOIN CST2041 C91 ON C91.DivisionID=C90.DivisionID AND C91.VoucherID=C91.VoucherID
LEFT JOIN AT1302 A02 ON A02.InventoryID=C91.InventoryID AND A02.DivisionID IN (C91.DivisionID,'@@@')
LEFT JOIN AT1304 A04 ON A04.UnitID=C91.UnitID
WHERE C90.DivisionID=@DivisionID
AND   C90.VoucherID=@VoucherID
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
