IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CSP6003]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[CSP6003]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
---- Báo cáo tình hình hoạt động bảo dưỡng, sửa chữa dụng cụ xếp dỡ
-- <History>
---- Create on 24/09/2013 by Nguyễn Thanh Sơn
---- Modify on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modify on 14/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
-- <Example>
---- EXEC CSP6003 'AS', 0, NULL, NULL, 1, 2012, 12, 2013, '', ''

CREATE PROCEDURE CSP6003
( 
		@DivisionID AS NVARCHAR(50),
		@IsDate AS TINYINT,
		@FromMonth AS INT,
		@FromYear AS INT,
		@ToMonth AS INT,
		@ToYear AS INT,
		@FromDate AS DATETIME,
		@ToDate AS DATETIME,
		@FromDeviceID nvarchar(50),
        @ToDeviceID nvarchar(50)
)

AS 

DECLARE @sSQL AS NVARCHAR(MAX),
		@sWhere AS NVARCHAR(MAX)

SET @sWhere = ''

IF @IsDate = 0
SET @sWhere = @sWhere + '
	AND CS.TranYear*100 + CS.TranMonth >= '+STR(@FromYear*100+@FromMonth)+'
	AND CS.TranYear*100 + CS.TranMonth <= '+STR(@ToYear*100+@ToMonth)+' '

IF @IsDate = 1
SET @sWhere = @sWhere + '	
	AND CS.VoucherDate >= '''+CONVERT(VARCHAR(10), @FromDate, 21) +'''
	AND CS.VoucherDate <= '''+CONVERT(VARCHAR(10), @ToDate, 21) +''' '
	
IF @FromDeviceID <> '' AND @FromDeviceID <> '%' AND @ToDeviceID <> '' AND @ToDeviceID <> '%'
SET @sWhere = @sWhere + '
	AND CS.DeviceID >= '''+@FromDeviceID+'''
	AND CS.DeviceID <= '''+@ToDeviceID+''' '
	
SET @sSQL = N'
SELECT CS.DivisionID,CS.DeviceID,CS3.DeviceName,CS.VoucherDate, CS2.ErrorName,CS5.InventoryName,CS4.Quantity,AT.UnitName, CS4.Amount,CS4.INotes
FROM CST2020 CS
LEFT JOIN CST1040 CS3 ON CS3.DivisionID=CS.DivisionID AND CS3.DeviceID=CS.DeviceID
LEFT JOIN CST2023 CS1 ON CS1.DivisionID=CS.DivisionID AND CS1.VoucherID=CS.VoucherID
LEFT JOIN CST1020 CS2 ON CS2.DivisionID=CS1.DivisionID AND CS2.ErrorID=CS2.ErrorID
LEFT JOIN CST2024 CS4 ON CS4.DivisionID=CS.DivisionID AND  CS4.VoucherID=CS.VoucherID
LEFT JOIN AT1302 CS5 ON CS5.InventoryID=CS4.InventoryID AND CS5.DivisionID IN (CS4.DivisionID,''@@@'')
LEFT JOIN AT1304 AT ON AT.UnitID=CS4.UnitID
WHERE CS.DivisionID = '''+@DivisionID+'''
'
PRINT(@sSQL)
PRINT(@sWhere)
EXEC (@sSQL + @sWhere)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
