IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV1005]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[AV1005]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


--View chet
--- Modify on 23/05/2016 by Bảo Anh: Bổ sung With (Nolock)
---- Modified by Bảo Thy on 24/05/2017: Sửa danh mục dùng chung
---- Modified by Bảo Thy on 04/10/2017: Sửa lỗi danh mục dùng chung

CREATE VIEW [dbo].[AV1005] as 
Select  AT1005.DivisionID,
	AccountID, AccountName,AccountNameE,
	AT1005.GroupID, GroupName,
	GroupNameE, 
	AT1005.IsNotShow,
	AT1005.IsObject,
	AT1005.IsDebitBalance,
	AT1005.IsBalance,
	AT1005.CreateDate,
	AT1005.CreateUserID,         
	AT1005.LastModifyDate,
	AT1005.LastModifyUserID,
	AT1005.Disabled 
From AT1005 WITH (NOLOCK) 
LEFT JOIN 
(
	SELECT DISTINCT GroupID, MAX(GroupName) AS GroupName, MAX(GroupNameE) AS GroupNameE
	FROM AT1006  WITH (NOLOCK)
	GROUP BY GroupID
)AT1006 on AT1006.GroupID = AT1005.GroupID


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
