---Created by : Thuy Tuyen, date: 08/08/2010 , view chet   
---Purpose: tao du lieu ngam  ma chi nhanh man hinh ke thua mau hang , ban hang (AF3026)  
---Edit by : Mai Duyen,Date 25/03/2014: Sửa lại font VniTime-> Unicode  
---Edit by : Mai Duyen,Date 01/04/2014: bo sung N trước chuỗi

alter VIEW dbo.AV1235  
  
AS  
SELECT 'ASNB' as TypeID,N'Chi nhánh ASGIT' AS Description, N'Chi nhánh ASGIT' as EDescription  

UNION 
SELECT 'ASNB2017' as TypeID,N'Chi nhánh ASGIT 2017' AS Description, N'Chi nhánh ASGIT 2017' as EDescription  

UNION  
SELECT 'HN' as TypeID,N'Chi nhánh Hà Nội' AS Description, N'Chi nhánh Hà Nội' as EDescription
  
UNION  
SELECT 'CAP' as TypeID,N'Chi nhánh CAP' AS Description, N'Chi nhánh CAP' as EDescription
         
UNION  
SELECT 'IPNB' as TypeID,N'Chi nhánh IPAS' AS Description, N'Chi nhánh IPAS' as EDescription  
  
UNION  
SELECT 'PRNB' as TypeID,N'Chi nhánh PRINTECH' AS Description, N'Chi nhánh PRINTECH' as EDescription  

UNION  
SELECT 'PRNB2017' as TypeID,N'Chi nhánh PRINTECH 2017' AS Description, N'Chi nhánh PRINTECH 2017' as EDescription
  