IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV1328]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[AV1328]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--- Created by: Nguyen Quoc Huy
--- Created Date: 25/05/2009
--- Purpose: Loc ra danh muc mat hang khuyen mai
-- Last Edit Thuy Tuyen , date 12/08/2009
-- Last Edit Quốc Tuấn lấy thêm trường PromotePercent date 08/07/2014
--- Modified by Tiểu Mai on 19/01/2016: Lấy thêm trường DivisorDecimal, O01ID --> O04ID
--- Modify on 24/05/2016 by Bảo Anh: Bổ sung With (Nolock)
--- Modify on 15/05/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
--- Modify on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.

CREATE VIEW [dbo].[AV1328] as 

Select AT1328.DivisionID,	
	AT1328.PromoteID , 
	AT1328.VoucherID , 
	AT1328.InventoryID , 
	AT01.InventoryName,
	AT1328.FromQuantity , 
	AT1328.ToQuantity , 
	AT1328.FromDate,
	AT1328.ToDate,
	AT1328.OID,
	AT1328.Description,
	AT1338.PromoteInventoryID , 
	AT02.InventoryName as PromoteInventoryName,
	AT1338.Notes , 
	AT1338.PromoteQuantity , 
	AT1338.PromotePercent,
	AT1328.Disabled , 
	AT1328.CreateDate , 
	AT1328.CreateUserID , 
	AT1328.LastModifyDate , 
	AT1328.LastModifyUserID ,
	AT1328.IsCommon,
	AT1328.O01ID,
	AT1328.O02ID,
	AT1328.O03ID, AT1328.O04ID, AT1328.O05ID,
	AT1338.DivisorDecimal	

From  AT1328 WITH (NOLOCK)	
	Left Join AT1338 WITH (NOLOCK) on  AT1338.VoucherID = AT1328.VoucherID AND AT1338.DivisionID = AT1328.DivisionID
	Left Join AT1302 as AT01 WITH (NOLOCK) on  AT01.DivisionID IN (AT1328.DivisionID,'@@@') AND AT01.InventoryID = AT1328.InventoryID
	Left Join AT1302 as AT02 WITH (NOLOCK) on  AT02.DivisionID IN (AT1328.DivisionID,'@@@') AND AT02.InventoryID = AT1338.PromoteInventoryID

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON