IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV4201]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[AV4201]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
------- Day la view chet, dung de Xu ly so lieu
------- Created by Nguyen Van Nhan, Date 19/08/2003
------- Modify on 14/04/2016 by Bảo Anh: Bổ sung with nolock

CREATE VIEW [dbo].[AV4201]
AS
-------------- So phat sinh No, lay so duong
SELECT DivisionID, DebitAccountID AS AccountID, 
	SUM(ConvertedAmount) AS ConvertedAmount, 
	TranMonth,TranYear, 
	CreditAccountID AS CorAccountID,   -- tai khoan doi ung
	'D' AS D_C, TransactionTypeID
FROM AT9000 with (nolock)
WHERE isnull(DebitAccountID,'') <> ''
GROUP BY DivisionID, DebitAccountID, TranMonth, TranYear, CreditAccountID, TransactionTypeID 		  
UNION ALL
------------------- So phat sinh co, lay am
SELECT DivisionID, CreditAccountID AS AccountID, 
	SUM(ConvertedAmount*-1) AS ConvertedAmount, 
	TranMonth, TranYear, 
	DebitAccountID AS CorAccountID, 
	'C' AS D_C, TransactionTypeID 
FROM AT9000 with (nolock)
WHERE isnull(CreditAccountID,'')<> ''
GROUP BY DivisionID, CreditAccountID, TranMonth, TranYear, DebitAccountID, TransactionTypeID
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON