/****** Object:  View [dbo].[AV7777]    Script Date: 03/17/2011 13:25:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO

------ Created by Nguyen Van Nhan.
---- Created Date 23/04/2005
----- Purpose View chet de the hien so lieu So du hang ton kho qua cac ky
---- Modify on 24/05/2016 by Bảo Anh: Bổ sung With (Nolock)
---- Modified by Bảo Anh on 27/05/2017: Sửa danh mục dùng chung
---- Modify on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.

ALTER VIEW [dbo].[AV7777] AS
Select 	T8.WareHouseID ,T3.WareHouseName, 
	T8.TranMonth ,T8.TranYear ,T8.DivisionID ,
	T8.InventoryID ,T8.InventoryAccountID as AccountID, 
	T2.S1 as CI1ID,
	T2.S2 as CI2ID,
	T2.S3 as CI3ID,
	T2.I01ID,T2.I02ID,T2.I03ID,T2.I04ID,T2.I05ID,
	T8.BeginQuantity ,T8.EndQuantity ,T8.DebitQuantity ,
	T8.CreditQuantity ,T8.InDebitQuantity,T8.InCreditQuantity,
	T8.BeginAmount ,T8.EndAmount, T8.DebitAmount, T8.CreditAmount, 
	T8.InDebitAmount, T8.InCreditAmount,
	isnull(T3.IsTemp,0) as IsTemp,
	(Case When   T8.TranMonth <10 then '0'+rtrim(ltrim(str( T8.TranMonth)))+'/'+ltrim(Rtrim(str( T8.TranYear))) 
	Else rtrim(ltrim(str( T8.TranMonth)))+'/'+ltrim(Rtrim(str( T8.TranYear))) End) as MonthYear,
	('0'+ ltrim(rtrim(Case when  T8.TranMonth %3 = 0 then  T8.TranMonth/3  Else  T8.TranMonth/3+1  End))+'/'+ltrim(Rtrim(str( T8.TranYear)))
	)  as Quarter ,
	str(T8.TranYear) as Year,
	TranMonth+100*TranYear as Period

From AT2008 T8 WITH (NOLOCK) inner join AT1303 T3 WITH (NOLOCK) on T3.DivisionID IN (T8.DivisionID,'@@@') AND T3.WareHouseID = T8.WareHouseID
		Inner join AT1302 T2 WITH (NOLOCK) on T2.DivisionID IN (T8.DivisionID,'@@@') AND T2.InventoryID = T8.InventoryID