IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[POST0020]') 
			   AND name = N'01_POST0020_DivisionID_TypeNo')

CREATE NONCLUSTERED INDEX [01_POST0020_DivisionID_TypeNo] ON [dbo].[POST0020]
(
	[DivisionID] ASC,
	[TypeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


