IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[BP0197]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)     
DROP PROCEDURE [DBO].[BP0197]  
GO  
SET QUOTED_IDENTIFIER ON  
GO  
SET ANSI_NULLS ON  
GO

--- Created by B.Anh	Date: 02/05/2018	
--- Purpose: Sinh số seri tự động
--- BP0197 'LT','VL','03/01/2018',8

CREATE PROCEDURE BP0197 @DivisionID varchar(50), @InventoryID varchar(50), @CreateDate Datetime, @Quantity AS INT
AS

Declare @NewKey VARCHAR(50),
		@TableName NVARCHAR(50),
		@Enabled1 TINYINT,
		@Enabled2 TINYINT,
		@Enabled3 TINYINT,
		@S1Type TINYINT,
		@S2Type TINYINT,
		@S3Type TINYINT,
		@SS1 NVARCHAR(50),
		@SS2 NVARCHAR(50),
		@SS3 NVARCHAR(50),
		@S1 NVARCHAR(50),
		@S2 NVARCHAR(50),
		@S3 NVARCHAR(50),
		@StringKey1 NVARCHAR(50) = '',
		@StringKey2 NVARCHAR(50) = '',
		@StringKey3 NVARCHAR(50) = '',
		@OutputLen INT = 16,
		@OutputOrder INT = 3,	--- 0 NSSS; 1 SNSS, 2 SSNS, 3 SSSN
		@Seperated INT = 0,
		@Seperator NVARCHAR(1),
		@Day AS VARCHAR(2),
		@Month AS VARCHAR(2),
		@Year AS VARCHAR(4),
		@KeyString NVARCHAR(50),
		@LastKey INT,
        @LastKeyChar NVARCHAR(50),
        @LastKeyLen INT,
		@SeperatorCount INT,
        @KeyStringLen INT,
        @StringNumber NVARCHAR(50),
        @Seperator1 NVARCHAR(1),
        @Seperator2 NVARCHAR(1),
        @Seperator3 NVARCHAR(1),
		@i as INT

SET NOCOUNT ON

--- tạo bảng tạm lưu số seri đã sinh
SELECT CONVERT(VARCHAR(50),'AAAA') AS SeriNo, 0 AS LastKey INTO #TAM
DELETE #TAM

SET @i = 1
SET @Day = (Case when DAY(@CreateDate) < 10 Then '0' Else '' End) + LTRIM(DAY(@CreateDate))
SET @Month = (Case when MONTH(@CreateDate) < 10 Then '0' Else '' End) + LTRIM(MONTH(@CreateDate))
SET @Year = LTRIM(YEAR(@CreateDate))

Select	@Enabled1 = ISNULL(Enabled1,0), @Enabled2 = ISNULL(Enabled2,0), @Enabled3 = ISNULL(Enabled3,0), @S1 = ISNULL(S1,''), @S2 = ISNULL(S2,''), @S3 = ISNULL(S3,''),
		@S1Type = ISNULL(S1Type,0), @S2Type = ISNULL(S2Type,0), @S3Type = ISNULL(S3Type,0), @OutputLen = ISNULL(OutputLength,16), @OutputOrder = ISNULL(OutputOrder,3),
		@Seperated = ISNULL(Separated,0), @Seperator = ISNULL(Separator,''), @SS1 = ISNULL(SS1,''), @SS2 = ISNULL(SS2,''), @SS3 = ISNULL(SS3,'')
FROM AT1302 WITH (NOLOCK)
WHERE InventoryID = @InventoryID

IF @Enabled1 <> 0
BEGIN
	SET @StringKey1 = (CASE @S1Type	WHEN 0 THEN @SS1
									WHEN 1 THEN @Day + '-' + @Month + '-' + @Year
									WHEN 2 THEN @Day + @Month + @Year
									WHEN 3 THEN @S1
									WHEN 4 THEN @S2
									WHEN 5 THEN @S3
									WHEN 6 THEN @InventoryID
									ELSE '' END)
END
 
IF @Enabled2 <> 0
BEGIN
	SET @StringKey2 = (CASE @S2Type	WHEN 0 THEN @SS2
									WHEN 1 THEN @Day + '-' + @Month + '-' + @Year
									WHEN 2 THEN @Day + @Month + @Year
									WHEN 3 THEN @S1
									WHEN 4 THEN @S2
									WHEN 5 THEN @S3
									WHEN 6 THEN @InventoryID
									ELSE '' END)
END

IF @Enabled3 <> 0
BEGIN
	SET @StringKey3 = (CASE @S3Type	WHEN 0 THEN @SS3
									WHEN 1 THEN @Day + '-' + @Month + '-' + @Year
									WHEN 2 THEN @Day + @Month + @Year
									WHEN 3 THEN @S1
									WHEN 4 THEN @S2
									WHEN 5 THEN @S3
									WHEN 6 THEN @InventoryID
									ELSE '' END)
END

SELECT @KeyString = @StringKey1 + @StringKey2 + @StringKey3

INSERT INTO AT4444 (DivisionID, TableName, KeyString, LastKey)
SELECT @DivisionID, 'BT1302', @KeyString, 0
WHERE NOT EXISTS(SELECT TOP 1 1 FROM AT4444 WITH (NOLOCK) WHERE DivisionID = @DivisionID AND TableName = 'BT1302' AND KeyString = @KeyString)

IF @Seperated = 0
BEGIN
    SELECT @SeperatorCount = 0
    SELECT @Seperator = SPACE(0)
END
ELSE
BEGIN
    SELECT @SeperatorCount = 0
    
    IF LEN(@StringKey1) > 0
    BEGIN
        SELECT @SeperatorCount = 1
        SELECT @Seperator1 = @Seperator
    END
    ELSE
    BEGIN
        SELECT @Seperator1 = SPACE(0)
    END
    
    IF LEN(@StringKey2) > 0
    BEGIN
        SELECT @SeperatorCount = @SeperatorCount + 1
        SELECT @Seperator2 = @Seperator
    END
    ELSE
    BEGIN
        SELECT @Seperator2 = SPACE(0)
    END
    
    
    IF LEN(@StringKey3) > 0
    BEGIN
        SELECT @SeperatorCount = @SeperatorCount + 1
        SELECT @Seperator3 = @Seperator
    END
    ELSE
    BEGIN
        SELECT @Seperator3 = SPACE(0)
    END
END

SELECT @StringKey1 = LTRIM(UPPER(@StringKey1))
SELECT @StringKey2 = LTRIM(UPPER(@StringKey2))
SELECT @StringKey3 = LTRIM(UPPER(@StringKey3))

WHILE @i <= @Quantity
BEGIN
	SELECT	@LastKey = LastKey + @i
	FROM AT4444  WITH (NOLOCK)
	WHERE	DivisionID = @DivisionID AND TableName = 'BT1302' AND KeyString = @KeyString

	SELECT @LastKeyChar = LTRIM(STR(@LastKey))
	SELECT @LastKeyLen = LEN(@LastKeyChar)

	SELECT @StringNumber = REPLICATE('0', @OutputLen - @LastKeyLen - @SeperatorCount - LEN(@KeyString)) + @LastKeyChar

	SET @NewKey = (
			CASE @OutputOrder
				 WHEN 3 THEN ISNULL(@StringKey1, '') + ISNULL(@Seperator1, '') + 
					  ISNULL(@StringKey2, '') + ISNULL(@Seperator2, '') + ISNULL(@StringKey3, '') 
					  + ISNULL(@Seperator3, '') + ISNULL(@StringNumber, '')
				 WHEN 1 THEN ISNULL(@StringKey1, '') + ISNULL(@Seperator1, '') + 
					  ISNULL(@StringNumber, '') + ISNULL(@Seperator2, '') + ISNULL(@StringKey2, '') 
					  + ISNULL(@Seperator3, '') + ISNULL(@StringKey3, '')
				 WHEN 2 THEN ISNULL(@StringKey1, '') + ISNULL(@Seperator1, '') + 
					  ISNULL(@StringKey2, '') + ISNULL(@Seperator2, '') + ISNULL(@StringNumber, '') 
					  + ISNULL(@Seperator3, '') + ISNULL(@StringKey3, '')
				 WHEN 0 THEN ISNULL(@StringNumber, '') + ISNULL(@Seperator1, '') + 
					  ISNULL(@StringKey1, '') + ISNULL(@Seperator2, '') + ISNULL(@StringKey2, '') 
					  + ISNULL(@Seperator3, '') + ISNULL(@StringKey3, '')
			END
		)

	INSERT INTO #TAM (SeriNo, LastKey) SELECT @NewKey, @LastKey
	SET @i = @i + 1
END

SELECT SeriNo, @KeyString AS KeyString, LastKey FROM #TAM ORDER BY LastKey

DROP TABLE #TAM

SET NOCOUNT OFF

GO  
SET QUOTED_IDENTIFIER OFF  
GO  
SET ANSI_NULLS ON  
GO
