IF NOT EXISTS (SELECT * FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[MTT1040]') AND TYPE IN (N'U'))
BEGIN
     CREATE TABLE [dbo].[MTT1040]
     (
      [APK] UNIQUEIDENTIFIER DEFAULT NEWID() NOT NULL,
      [DivisionID] VARCHAR(50) NULL,
      [S] VARCHAR(50) NULL,
      [ClassID] VARCHAR(50) NOT NULL,
      [ClassName] NVARCHAR(250) NULL,
      [CourseID] VARCHAR(50) NULL,
      [LevelID] VARCHAR(50) NULL,
      [SchoolTimeID] VARCHAR(50) NULL,
      [Notes] NVARCHAR(500) NULL,
      [Disabled] TINYINT DEFAULT (0) NOT NULL,
      [CreateUserID] VARCHAR(50) NULL,
      [CreateDate] DATETIME NULL,
      [LastModifyUserID] VARCHAR(50) NULL,
      [LastModifyDate] DATETIME NULL
    CONSTRAINT [PK_MTT1040] PRIMARY KEY CLUSTERED
      (
      [ClassID]
      )
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
     )
 ON [PRIMARY]
END