IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0046]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0046]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- MP0046
-- <Summary>
---- Load danh sách đơn hàng sản xuất mới lập (Bê Tông Long An)
---- Created on 04/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- EXEC MP0046 @DivisionID = 'PC',@UserID='ASOFTADMIN', @TranMonth = 8, @TranYear = 2016

CREATE PROCEDURE [dbo].[MP0046]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@TranMonth AS INT,
	@TranYear AS INT	
AS

DECLARE @sSQL AS NVARCHAR(MAX) = ''

SET @sSQL = '
SELECT OT2001.SOrderID, OT2001.OrderDate, OT2001.DepartmentID, AT1102.DepartmentName, OT2001.ObjectID, AT1202.ObjectName, OT2001.Notes
FROM OT2001 WITH (NOLOCK)
LEFT JOIN MT2001 WITH (NOLOCK) ON MT2001.DivisionID = OT2001.DivisionID AND MT2001.SOderID = OT2001.SOrderID
LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = OT2001.ObjectID
LEFT JOIN AT1102 WITH (NOLOCK) ON AT1102.DepartmentID = OT2001.DepartmentID
WHERE OT2001.DivisionID = ''' + @DivisionID + '''
AND OT2001.OrderType = 1
--AND OT2001.IsConfirm = 1
AND MT2001.DivisionID IS NULL'  

PRINT @sSQL
EXEC (@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

