IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0036]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0036]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Kiểm tra bỏ tập hợp chi phí( theo yêu cầu bug 0017324)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 04/10/2013 by Nguyễn Thanh Sơn
---- Modified by Bảo Thy on 30/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Huỳnh Thử on 09/07/2020: Customer DTH (Đông Tiến Hưng) -- Bỏ tập hợp nếu MT0400 không có dữ liệu
----
-- <Example>
---- 
CREATE PROCEDURE MP0036
( 
		@DivisionID NVARCHAR(50),
		@TransactionID NVARCHAR(50)
)
AS 

SET NOCOUNT ON 
DECLARE @Status AS TINYINT,
		@Message AS NVARCHAR(100),
		@CustomerIndex INT,
		@IsCost TINYINT = 0,
		@IsMT0400 TINYINT = 0,
		@TranMonth INT,
		@TranYear INT
		
SET @Status = 0
SET @Message = ''

SELECT @CustomerIndex = CustomerName FROM dbo.CustomerIndex

IF @CustomerIndex = 123

--- 2. Kiểm tra đã phân bổ chi phí hay chưa hay chưa?
BEGIN
	SELECT @IsCost = 1 , @TranMonth =TranMonth, @TranYear = TranYear
	FROM AT9000 WITH (NOLOCK)
           WHERE IsCost = 1 
           AND TransactionID = @TransactionID 
           AND DivisionID=@DivisionID
	SELECT @IsMT0400 = 1 FROM MT0400 
	WHERE TranMonth =@TranMonth AND TranYear = @TranYear
	GROUP BY ApportionCostID
	HAVING COUNT(*) >= 1
	IF (@IsCost = 1 AND @IsMT0400 = 1)
    BEGIN
        SET @Status = 1 
        SET @Message = N'MFML000270'
        GOTO ENDMESS
    END
END
ELSE
BEGIN
	IF EXISTS (SELECT TOP 1 1 FROM AT9000 WITH (NOLOCK)
			   WHERE IsCost = 1 
			   AND TransactionID = @TransactionID 
			   AND DivisionID=@DivisionID)
		BEGIN
			SET @Status = 1 
			SET @Message = N'MFML000270'
			GOTO ENDMESS
		END
END



ENDMESS:

SELECT @Status AS Status, @Message AS Message 
SET NOCOUNT OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
