IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0057]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0057]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- MP0057
-- <Summary>
---- Đổ nguồn combo bộ định mức (Bê Tông Long An)
---- Created on 15/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- EXEC MP0057 @DivisionID = 'PC',@UserID='ASOFTADMIN'

CREATE PROCEDURE [dbo].[MP0057]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50)
AS

DECLARE @sSQL AS NVARCHAR(MAX) = ''
    
SET @sSQL = '    
SELECT ApportionID, Description 
FROM MT0135  
WHERE DivisionID = ''' + @DivisionID + '''
ORDER BY ApportionID'   

PRINT @sSQL
EXEC (@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

