IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0056]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0056]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- MP0056
-- <Summary>
---- Đổ nguồn màn hình Tình hình sản xuất (Bê Tông Long An)
---- Created on 15/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- EXEC MP0056 @DivisionID = 'PC',@UserID='ASOFTADMIN',@FromPeriod=201701,@ToPeriod=201712,@ShiftID='ABC'

CREATE PROCEDURE [dbo].[MP0056]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@FromPeriod AS INT,
	@ToPeriod AS INT,		
	@ShiftID AS NVARCHAR(50)	
AS

DECLARE @sSQL AS NVARCHAR(MAX) = ''
    
SET @sSQL = '    
SELECT MT1621.DivisionID, MT1621.VoucherID, MT1621.TranMonth, MT1621.TranYear, MT1621.VoucherDate, MT1621.ProductionDate, MT1621.VoucherNo, 
MT1621.VoucherTypeID, MT1621.ShiftID, HT1020.ShiftName, MT1621.EmployeeID, AT1103.FullName AS EmployeeName, MT1621.RefNo01, MT1621.RefNo02
FROM MT1621 WITH (NOLOCK)
LEFT JOIN HT1020 WITH (NOLOCK) ON HT1020.DivisionID = MT1621.DivisionID AND HT1020.ShiftID = MT1621.ShiftID
LEFT JOIN AT1103 WITH (NOLOCK) ON AT1103.EmployeeID = MT1621.EmployeeID
WHERE MT1621.DivisionID = ''' + @DivisionID + '''
AND MT1621.TranYear*100 + MT1621.TranMonth BETWEEN ' + CONVERT(NVARCHAR(10), @FromPeriod)  + ' AND ' + CONVERT(NVARCHAR(10), @ToPeriod) + '
AND ISNULL(MT1621.ShiftID, '''') LIKE ''' + @ShiftID + '''
ORDER BY MT1621.VoucherDate, MT1621.VoucherNo'

PRINT @sSQL
EXEC (@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

