IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0051]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0051]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- MP0051
-- <Summary>
---- Stored load detail kế thừa thống kê sản xuất (TDCLA)
---- Created on 08/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
---- Modified on 13/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
-- <Example>
---- EXEC MP0051 @DivisionID = 'ANG',@UserID='ASOFTADMIN',@VoucherID = '11d111c5-811a-4b43-8114-c0e09e3b3694',@WarehouseID = 'KTP', @TeamID = '%'   

CREATE PROCEDURE [dbo].[MP0051]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@VoucherID AS NVARCHAR(MAX),				
	@WareHouseID AS NVARCHAR(50),	
	@TeamID AS NVARCHAR(50)
AS

DECLARE @sSQL1 AS NVARCHAR(MAX) = '',
		@sSQL2 AS NVARCHAR(MAX) = ''

SET @sSQL1 = N'
SELECT MT1802.DivisionID, MT1802.Orders, MT1802.VoucherID AS InheritVoucherID, MT1802.TransactionID AS InheritTransactionID, ''MT1802'' AS InheritTableID,
MT1802.ProductID, AT1302.InventoryName AS ProductName, MT1802.ProductUnitID AS ConvertedUnitID, AT1302.UnitID AS ProductUnitID, AT1304.UnitName AS ProductUnitName, 
AT1309.Operator, AT1309.DataType, AT1309.ConversionFactor, AT1319.FormulaDes,  
MT1802.ActualQuantity, MT1802.ConvertedActualQuantity, MT1802.LimitDate,
MT1802.S01ID, MT1802.S02ID, MT1802.S03ID, MT1802.S04ID, MT1802.S05ID, MT1802.S06ID, MT1802.S07ID, MT1802.S08ID, MT1802.S09ID, MT1802.S10ID,
MT1802.S11ID, MT1802.S12ID, MT1802.S13ID, MT1802.S14ID, MT1802.S15ID, MT1802.S16ID, MT1802.S17ID, MT1802.S18ID, MT1802.S19ID, MT1802.S20ID,
AT01.StandardName S01Name, AT02.StandardName S02Name, AT03.StandardName S03Name, AT04.StandardName S04Name, AT05.StandardName S05Name,
AT06.StandardName S06Name, AT07.StandardName S07Name, AT08.StandardName S08Name, AT09.StandardName S09Name, AT10.StandardName S10Name,
AT11.StandardName S11Name, AT12.StandardName S12Name, AT13.StandardName S13Name, AT14.StandardName S14Name, AT15.StandardName S15Name,
AT16.StandardName S16Name, AT17.StandardName S17Name, AT18.StandardName S18Name, AT19.StandardName S19Name, AT20.StandardName S20Name,
MT1802.Ana01ID, MT1802.Ana02ID, MT1802.Ana03ID, MT1802.Ana04ID, MT1802.Ana05ID,
MT1802.Ana06ID, MT1802.Ana07ID, MT1802.Ana08ID, MT1802.Ana09ID, MT1802.Ana10ID,
MT1801.TeamID, MT1801.ObjectID, ''%'' AS InventoryID,
MT1802.ActualQuantity - ISNULL(TB.Quantity,0) AS RemainQuantity,
MT1802.ConvertedActualQuantity - ISNULL(TB.ConvertedQuantity,0) AS ConvertedRemainQuantity
FROM MT1802 WITH (NOLOCK)
INNER JOIN MT1801 WITH (NOLOCK) ON MT1802.DivisionID = MT1801.DivisionID AND MT1802.VoucherID = MT1801.VoucherID
LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.InventoryID = MT1802.ProductID AND AT1302.DivisionID IN (MT1802.DivisionID,''@@@'')
LEFT JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = MT1802.ProductUnitID
LEFT JOIN AT1309 WITH (NOLOCK) ON AT1309.InventoryID = MT1802.ProductID AND AT1309.UnitID = MT1802.ProductUnitID'

SET @sSQL2 = '	
AND ISNULL(AT1309.S01ID, '''') = ISNULL(MT1802.S01ID, '''')
AND ISNULL(AT1309.S02ID, '''') = ISNULL(MT1802.S02ID, '''')
AND ISNULL(AT1309.S03ID, '''') = ISNULL(MT1802.S03ID, '''')
AND ISNULL(AT1309.S04ID, '''') = ISNULL(MT1802.S04ID, '''')
AND ISNULL(AT1309.S05ID, '''') = ISNULL(MT1802.S05ID, '''')
AND ISNULL(AT1309.S06ID, '''') = ISNULL(MT1802.S06ID, '''')
AND ISNULL(AT1309.S07ID, '''') = ISNULL(MT1802.S07ID, '''')
AND ISNULL(AT1309.S08ID, '''') = ISNULL(MT1802.S08ID, '''')
AND ISNULL(AT1309.S09ID, '''') = ISNULL(MT1802.S09ID, '''')
AND ISNULL(AT1309.S10ID, '''') = ISNULL(MT1802.S10ID, '''')
AND ISNULL(AT1309.S11ID, '''') = ISNULL(MT1802.S11ID, '''')
AND ISNULL(AT1309.S12ID, '''') = ISNULL(MT1802.S12ID, '''')
AND ISNULL(AT1309.S13ID, '''') = ISNULL(MT1802.S13ID, '''')
AND ISNULL(AT1309.S14ID, '''') = ISNULL(MT1802.S14ID, '''')
AND ISNULL(AT1309.S15ID, '''') = ISNULL(MT1802.S15ID, '''')
AND ISNULL(AT1309.S16ID, '''') = ISNULL(MT1802.S16ID, '''')
AND ISNULL(AT1309.S17ID, '''') = ISNULL(MT1802.S17ID, '''')
AND ISNULL(AT1309.S18ID, '''') = ISNULL(MT1802.S18ID, '''')
AND ISNULL(AT1309.S19ID, '''') = ISNULL(MT1802.S19ID, '''')
AND ISNULL(AT1309.S20ID, '''') = ISNULL(MT1802.S20ID, '''')
LEFT JOIN AT1319 WITH (NOLOCK) ON AT1309.FormulaID = AT1319.FormulaID
LEFT JOIN AT0128 AT01 WITH (NOLOCK) ON AT01.StandardID = MT1802.S01ID AND AT01.StandardTypeID = ''S01''
LEFT JOIN AT0128 AT02 WITH (NOLOCK) ON AT02.StandardID = MT1802.S02ID AND AT02.StandardTypeID = ''S02''
LEFT JOIN AT0128 AT03 WITH (NOLOCK) ON AT03.StandardID = MT1802.S03ID AND AT03.StandardTypeID = ''S03''
LEFT JOIN AT0128 AT04 WITH (NOLOCK) ON AT04.StandardID = MT1802.S04ID AND AT04.StandardTypeID = ''S04''
LEFT JOIN AT0128 AT05 WITH (NOLOCK) ON AT05.StandardID = MT1802.S05ID AND AT05.StandardTypeID = ''S05''
LEFT JOIN AT0128 AT06 WITH (NOLOCK) ON AT06.StandardID = MT1802.S06ID AND AT06.StandardTypeID = ''S06''
LEFT JOIN AT0128 AT07 WITH (NOLOCK) ON AT07.StandardID = MT1802.S07ID AND AT07.StandardTypeID = ''S07''
LEFT JOIN AT0128 AT08 WITH (NOLOCK) ON AT08.StandardID = MT1802.S08ID AND AT08.StandardTypeID = ''S08''
LEFT JOIN AT0128 AT09 WITH (NOLOCK) ON AT09.StandardID = MT1802.S09ID AND AT09.StandardTypeID = ''S09''
LEFT JOIN AT0128 AT10 WITH (NOLOCK) ON AT10.StandardID = MT1802.S10ID AND AT10.StandardTypeID = ''S10''
LEFT JOIN AT0128 AT11 WITH (NOLOCK) ON AT11.StandardID = MT1802.S11ID AND AT11.StandardTypeID = ''S11''
LEFT JOIN AT0128 AT12 WITH (NOLOCK) ON AT12.StandardID = MT1802.S12ID AND AT12.StandardTypeID = ''S12''
LEFT JOIN AT0128 AT13 WITH (NOLOCK) ON AT13.StandardID = MT1802.S13ID AND AT13.StandardTypeID = ''S13''
LEFT JOIN AT0128 AT14 WITH (NOLOCK) ON AT14.StandardID = MT1802.S15ID AND AT14.StandardTypeID = ''S14''
LEFT JOIN AT0128 AT15 WITH (NOLOCK) ON AT15.StandardID = MT1802.S15ID AND AT15.StandardTypeID = ''S15''
LEFT JOIN AT0128 AT16 WITH (NOLOCK) ON AT16.StandardID = MT1802.S16ID AND AT16.StandardTypeID = ''S16''
LEFT JOIN AT0128 AT17 WITH (NOLOCK) ON AT17.StandardID = MT1802.S17ID AND AT17.StandardTypeID = ''S17''
LEFT JOIN AT0128 AT18 WITH (NOLOCK) ON AT18.StandardID = MT1802.S18ID AND AT18.StandardTypeID = ''S18''
LEFT JOIN AT0128 AT19 WITH (NOLOCK) ON AT19.StandardID = MT1802.S19ID AND AT19.StandardTypeID = ''S19''
LEFT JOIN AT0128 AT20 WITH (NOLOCK) ON AT20.StandardID = MT1802.S20ID AND AT20.StandardTypeID = ''S20''
LEFT JOIN 
(
	SELECT DivisionID, InheritTableID, InheritVoucherID, InheritTransactionID, SUM(Quantity) AS Quantity, SUM(ConvertedQuantity) AS ConvertedQuantity
	FROM MT1001 WITH (NOLOCK)
	WHERE DivisionID = ''' + @DivisionID + '''
	GROUP BY DivisionID, InheritTableID, InheritVoucherID, InheritTransactionID
) TB ON TB.DivisionID = MT1802.DivisionID AND TB.InheritVoucherID = MT1802.VoucherID AND TB.InheritTransactionID = MT1802.TransactionID AND TB.InheritTableID = ''MT1802''
WHERE MT1802.DivisionID = ''' + @DivisionID + '''
AND MT1802.VoucherID IN (''' + @VoucherID + ''')
AND MT1802.IsImport = 1
AND ISNULL(MT1802.WarehouseID, '''') = ''' + @WareHouseID + '''
AND MT1802.ActualQuantity - ISNULL(TB.Quantity,0) > 0
ORDER BY MT1802.Orders'

		

PRINT @sSQL1 
PRINT @sSQL2
EXEC (@sSQL1 + @sSQL2)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

