IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0054]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0054]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- MP0054
-- <Summary>
---- Stored đổ nguồn combo mã hàng màn hình kế hoạch sản xuất - MF0065 (TDCLA)
---- Created on 10/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
---- Modified on 13/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
-- <Example>
---- EXEC MP0054 @DivisionID = 'PC',@UserID='ASOFTADMIN',@SOrderID=N'IO/01/2017/0010'  

CREATE PROCEDURE [dbo].[MP0054]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@SOrderID	AS NVARCHAR(50)			
AS

DECLARE @sSQL AS NVARCHAR(MAX) = ''
		
IF ISNULL(@SOrderID, '') = ''
BEGIN
	SET @sSQL = '
	SELECT InventoryID, InventoryName, UnitID, UnitID AS StandardUnitID, RecievedPrice, IsSource, IsLocation, IsLimitDate, AccountID,
	NULL AS Operator, NULL AS DataType, NULL AS ConversionFactor, NULL AS FormulaDes,
	NULL AS S01ID, NULL AS S02ID, NULL AS S03ID, NULL AS S04ID, NULL AS S05ID, NULL AS S06ID, NULL AS S07ID, NULL AS S08ID, NULL AS S09ID, NULL AS S10ID,
	NULL AS S11ID, NULL AS S12ID, NULL AS S13ID, NULL AS S14ID, NULL AS S15ID, NULL AS S16ID, NULL AS S17ID, NULL AS S18ID, NULL AS S19ID, NULL AS S20ID
	FROM AT1302 WITH (NOLOCK)
	WHERE DivisionID IN (''' + @DivisionID + ''',''@@@'')
	AND Disabled = 0
	AND IsStocked = 1
	ORDER BY InventoryID'
END	
ELSE
BEGIN
	SET @sSQL = '
	SELECT OT2002.TransactionID as OTransactionID, OT2002.InventoryID, AT1302.InventoryName, OT2002.UnitID, AT1302.UnitID AS StandardUnitID,
	AT1309.Operator, AT1309.DataType, AT1309.ConversionFactor, AT1319.FormulaDes,
	AT1302.RecievedPrice, AT1302.IsSource, AT1302.IsLocation, AT1302.IsLimitDate, AT1302.AccountID, OT2002.LinkNo, OT2002.RefInfor,
	O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
	O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID,
	OT2002.Ana01ID, OT2002.Ana02ID, OT2002.Ana03ID, OT2002.Ana04ID, OT2002.Ana05ID, 
	OT2002.Ana06ID, OT2002.Ana07ID, OT2002.Ana08ID, OT2002.Ana09ID, OT2002.Ana10ID
	FROM OT2002 WITH (NOLOCK)
	LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (OT2002.DivisionID,''@@@'') AND AT1302.InventoryID = OT2002.InventoryID
	LEFT JOIN OT8899 O99 WITH (NOLOCK) ON O99.DivisionID = OT2002.DivisionID AND OT2002.SOrderID = O99.VoucherID AND O99.TransactionID = OT2002.TransactionID
	LEFT JOIN 
	(
		SELECT MT2001.DivisionID, MT2001.SOderID, SUM(Isnull(MT2002.PlanQuantity,0)) AS PlanQuantity, MT2002.OTransactionID
		FROM  MT2001 WITH (NOLOCK) 
		LEFT JOIN MT2002 WITH (NOLOCK) ON MT2002.DivisionID = MT2001.DivisionID AND MT2002.PlanID = MT2001.PlanID
		GROUP BY MT2001.DivisionID, MT2001.SOderID, MT2002.OTransactionID
	) AS MT2001 ON MT2001.DivisionID = OT2002.DivisionID AND MT2001.SOderID = OT2002.SOrderID AND MT2001.OTransactionID  = OT2002.TransactionID
	AND O99.TransactionID = OT2002.TransactionID AND O99.TableID = ''OT2002''
	LEFT JOIN AT1309 WITH (NOLOCK) ON AT1309.InventoryID = OT2002.InventoryID AND AT1309.UnitID = OT2002.UnitID
	LEFT JOIN AT1319 WITH (NOLOCK) ON AT1309.FormulaID = AT1319.FormulaID	
	WHERE OT2002.DivisionID = ''' + @DivisionID + '''
	AND OT2002.SOrderID = ''' + @SOrderID + '''
	AND (Isnull(OT2002.OrderQuantity,0) - Isnull(MT2001.PlanQuantity,0)) > 0
	ORDER BY OT2002.Orders'	
END		    
		
PRINT @sSQL 
EXEC (@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

