IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0050]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0050]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- MP0050
-- <Summary>
---- Stored load master kế thừa thống kê sản xuất (TDCLA)
---- Created on 08/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- EXEC MP0050 @DivisionID = 'ANG',@UserID='ASOFTADMIN',@FromDate='2016-01-01 00:00:00',@ToDate='2017-07-31 00:00:00',@FromPeriod=201601,@ToPeriod=201712,@TeamID='%',@WareHouseID='KTP',@IsDate=0 

CREATE PROCEDURE [dbo].[MP0050]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),			
	@FromDate AS DATETIME,
	@ToDate AS DATETIME,
	@FromPeriod AS INT,
	@ToPeriod AS INT,
	@TeamID AS NVARCHAR(50),	
	@WareHouseID AS NVARCHAR(50),
	@IsDate AS TINYINT	-- 0: In theo kỳ
						-- 1: In theo ngày
AS

DECLARE @sSQL AS NVARCHAR(MAX) = '',
		@sWhere AS NVARCHAR(MAX) = ''

IF @IsDate = 1
BEGIN
	SET @sWhere = '
	AND MT1801.VoucherDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 121) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 121) + ''''	
END
ELSE
BEGIN
	SET @sWhere = '
	AND MT1801.TranMonth + MT1801.TranYear*100 BETWEEN ' + CONVERT(NVARCHAR(10), @FromPeriod) + ' AND ' + CONVERT(NVARCHAR(10), @ToPeriod) + ''	
END	

SET @sSQL = N'
SELECT MT1801.DivisionID, MT1801.VoucherID, MT1801.VoucherNo, MT1801.VoucherDate, MT1801.ProductDate, MT1801.TeamID, 
(CASE WHEN MT1801.TeamID = ''%'' THEN N''Tất cả'' ELSE HT1101.TeamName END) AS TeamName,
MT1801.VisorsID, HV1400.FullName AS VisorsName, MT1801.EmployeeID, AT1103.FullName AS EmployeeName, MT1801.ObjectID, AT1202.ObjectName, MT1801.Description,
SUM(MT1802.ActualQuantity - ISNULL(TB.Quantity,0)) AS RemainConvertedAmount
FROM MT1801 WITH (NOLOCK)
INNER JOIN MT1802 WITH (NOLOCK) ON MT1802.DivisionID = MT1801.DivisionID AND MT1802.VoucherID = MT1801.VoucherID
LEFT JOIN HT1101 WITH (NOLOCK) ON HT1101.DivisionID = MT1801.DivisionID AND HT1101.TeamID = MT1801.TeamID
LEFT JOIN HV1400 ON HV1400.DivisionID = MT1801.DivisionID AND HV1400.EmployeeID = MT1801.VisorsID
LEFT JOIN AT1103 ON AT1103.EmployeeID = MT1801.EmployeeID
LEFT JOIN AT1202 ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = MT1801.ObjectID
LEFT JOIN 
(
	SELECT DivisionID, InheritTableID, InheritVoucherID, InheritTransactionID, SUM(Quantity) AS Quantity
	FROM MT1001 WITH (NOLOCK)
	WHERE DivisionID = ''' + @DivisionID + '''
	GROUP BY DivisionID, InheritTableID, InheritVoucherID, InheritTransactionID
) TB ON TB.DivisionID = MT1802.DivisionID AND TB.InheritVoucherID = MT1802.VoucherID AND TB.InheritTransactionID = MT1802.TransactionID AND TB.InheritTableID = ''MT1802''
WHERE MT1801.DivisionID = ''' + @DivisionID + '''
AND ISNULL(MT1801.TeamID, '''') LIKE ''' + @TeamID + '''
AND MT1802.IsImport = 1
AND ISNULL(MT1802.WarehouseID, '''') = ''' + @WareHouseID + '''' + @sWhere + '
GROUP BY MT1801.DivisionID, MT1801.VoucherID, MT1801.VoucherNo, MT1801.VoucherDate, MT1801.ProductDate, MT1801.TeamID, HT1101.TeamName,
MT1801.VisorsID, HV1400.FullName, MT1801.EmployeeID, AT1103.FullName, MT1801.ObjectID, AT1202.ObjectName, MT1801.Description
HAVING SUM(MT1802.ActualQuantity - ISNULL(TB.Quantity,0)) > 0	
ORDER BY MT1801.VoucherDate, MT1801.VoucherNo'
		

PRINT @sSQL
EXEC (@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

