IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0048]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0048]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- MP0048
-- <Summary>
---- Stored load master kế thừa kế hoạch sản xuất (TDCLA)
---- Created on 08/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- EXEC MP0048 @DivisionID = 'PC',@UserID='ASOFTADMIN',@FromDate='2016-01-01 00:00:00',@ToDate='2017-07-31 00:00:00',@FromPeriod=201601,@ToPeriod=201712,@TeamID='',@InventoryTypeID='%',@IsDate=0 

CREATE PROCEDURE [dbo].[MP0048]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),			
	@FromDate AS DATETIME,
	@ToDate AS DATETIME,
	@FromPeriod AS INT,
	@ToPeriod AS INT,
	@TeamID AS NVARCHAR(50),	
	@InventoryTypeID AS NVARCHAR(50),
	@IsDate AS TINYINT	-- 0: In theo kỳ
						-- 1: In theo ngày
AS

DECLARE @sSQL1 AS NVARCHAR(MAX) = '',
		@sSQL2 AS NVARCHAR(MAX) = '',
		@sSQL3 AS NVARCHAR(MAX) = '',
		@sSQL4 AS NVARCHAR(MAX) = '',
		@sSQL5 AS NVARCHAR(MAX) = '',	
		@sSQL6 AS NVARCHAR(MAX) = '',
		@sWhere AS NVARCHAR(MAX) = ''

IF @IsDate = 1
BEGIN
	SET @sWhere = '
	AND MT2001.VoucherDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 121) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 121) + ''''	
END
ELSE
BEGIN
	SET @sWhere = '
	AND MT2001.TranMonth + MT2001.TranYear*100 BETWEEN ' + CONVERT(NVARCHAR(10), @FromPeriod) + ' AND ' + CONVERT(NVARCHAR(10), @ToPeriod) + ''	
END	

SET @sSQL1 = '
SELECT TB.*, ISNULL(AT1309.ConversionFactor, 1)*TB.PlanQuantity AS ConvertedPlanQuantity
INTO #TEMP
FROM 		
(		
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity01 AS PlanQuantity, MT2003.TeamID01 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity02 AS PlanQuantity, MT2003.TeamID02 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity03 AS PlanQuantity, MT2003.TeamID03 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity04 AS PlanQuantity, MT2003.TeamID04 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity05 AS PlanQuantity, MT2003.TeamID05 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity06 AS PlanQuantity, MT2003.TeamID06 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity07 AS PlanQuantity, MT2003.TeamID07 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity08 AS PlanQuantity, MT2003.TeamID08 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity09 AS PlanQuantity, MT2003.TeamID09 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity10 AS PlanQuantity, MT2003.TeamID10 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID'	
	
SET @sSQL2 = '	
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity11 AS PlanQuantity, MT2003.TeamID11 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity12 AS PlanQuantity, MT2003.TeamID12 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity13 AS PlanQuantity, MT2003.TeamID13 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity14 AS PlanQuantity, MT2003.TeamID14 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity15 AS PlanQuantity, MT2003.TeamID15 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity16 AS PlanQuantity, MT2003.TeamID16 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity17 AS PlanQuantity, MT2003.TeamID17 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity18 AS PlanQuantity, MT2003.TeamID18 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity19 AS PlanQuantity, MT2003.TeamID19 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity20 AS PlanQuantity, MT2003.TeamID20 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID'
	
SET @sSQL3 = '		
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity21 AS PlanQuantity, MT2003.TeamID21 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity22 AS PlanQuantity, MT2003.TeamID22 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity23 AS PlanQuantity, MT2003.TeamID23 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity24 AS PlanQuantity, MT2003.TeamID24 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity25 AS PlanQuantity, MT2003.TeamID25 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity26 AS PlanQuantity, MT2003.TeamID26 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity27 AS PlanQuantity, MT2003.TeamID27 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity28 AS PlanQuantity, MT2003.TeamID28 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity29 AS PlanQuantity, MT2003.TeamID29 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity30 AS PlanQuantity, MT2003.TeamID30 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID'
	
SET @sSQL4 = '			
	UNION ALL	
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity31 AS PlanQuantity, MT2003.TeamID31 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity32 AS PlanQuantity, MT2003.TeamID32 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity33 AS PlanQuantity, MT2003.TeamID33 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity34 AS PlanQuantity, MT2003.TeamID34 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity35 AS PlanQuantity, MT2003.TeamID35 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity36 AS PlanQuantity, MT2003.TeamID36 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity37 AS PlanQuantity, MT2003.TeamID37 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity38 AS PlanQuantity, MT2003.TeamID38 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity39 AS PlanQuantity, MT2003.TeamID39 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	UNION ALL
	SELECT MT2002.DivisionID, MT2002.PlanDetailID, MT2002.PlanID, MT2002.Quantity40 AS PlanQuantity, MT2003.TeamID40 AS TeamID
	FROM MT2002 WITH (NOLOCK)
	INNER JOIN MT2003 WITH (NOLOCK) ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
) TB'

SET @sSQL5 = '
INNER JOIN MT2002 WITH (NOLOCK) ON MT2002.DivisionID = TB.DivisionID AND MT2002.PlanID = TB.PlanID AND MT2002.PlanDetailID = TB.PlanDetailID
LEFT JOIN MT8899 WITH (NOLOCK) ON MT8899.DivisionID = MT2002.DivisionID AND MT8899.VoucherID = MT2002.PlanID AND MT8899.TransactionID = MT2002.PlanDetailID AND MT8899.TableID = ''MT2002''
LEFT JOIN AT1309 WITH (NOLOCK) ON AT1309.InventoryID = MT2002.InventoryID AND AT1309.UnitID = MT2002.UnitID	
AND ISNULL(AT1309.S01ID, '''') = ISNULL(MT8899.S01ID, '''')
AND ISNULL(AT1309.S02ID, '''') = ISNULL(MT8899.S02ID, '''')
AND ISNULL(AT1309.S03ID, '''') = ISNULL(MT8899.S03ID, '''')
AND ISNULL(AT1309.S04ID, '''') = ISNULL(MT8899.S04ID, '''')
AND ISNULL(AT1309.S05ID, '''') = ISNULL(MT8899.S05ID, '''')
AND ISNULL(AT1309.S06ID, '''') = ISNULL(MT8899.S06ID, '''')
AND ISNULL(AT1309.S07ID, '''') = ISNULL(MT8899.S07ID, '''')
AND ISNULL(AT1309.S08ID, '''') = ISNULL(MT8899.S08ID, '''')
AND ISNULL(AT1309.S09ID, '''') = ISNULL(MT8899.S09ID, '''')
AND ISNULL(AT1309.S10ID, '''') = ISNULL(MT8899.S10ID, '''')
AND ISNULL(AT1309.S11ID, '''') = ISNULL(MT8899.S11ID, '''')
AND ISNULL(AT1309.S12ID, '''') = ISNULL(MT8899.S12ID, '''')
AND ISNULL(AT1309.S13ID, '''') = ISNULL(MT8899.S13ID, '''')
AND ISNULL(AT1309.S14ID, '''') = ISNULL(MT8899.S14ID, '''')
AND ISNULL(AT1309.S15ID, '''') = ISNULL(MT8899.S15ID, '''')
AND ISNULL(AT1309.S16ID, '''') = ISNULL(MT8899.S16ID, '''')
AND ISNULL(AT1309.S17ID, '''') = ISNULL(MT8899.S17ID, '''')
AND ISNULL(AT1309.S18ID, '''') = ISNULL(MT8899.S18ID, '''')
AND ISNULL(AT1309.S19ID, '''') = ISNULL(MT8899.S19ID, '''')
AND ISNULL(AT1309.S20ID, '''') = ISNULL(MT8899.S20ID, '''')
WHERE TB.TeamID = ''' + @TeamID + ''''

SET @sSQL6 = N'
SELECT MT2001.DivisionID, MT2001.PlanID, MT2001.VoucherNo, MT2001.VoucherDate, MT2001.SOderID AS SOrderID, MT2001.InventoryTypeID, 
(CASE WHEN MT2001.InventoryTypeID = ''%'' THEN N''Tất cả'' ELSE AT1301.InventoryTypeName END) AS InventoryTypeName, 
MT2001.EmployeeID, AT1103.FullName AS EmployeeName, MT2001.Description, 
SUM(#TEMP.PlanQuantity - ISNULL(TB.ActualQuantity,0)) AS RemainConvertedAmount
FROM MT2001 WITH (NOLOCK)
INNER JOIN #TEMP ON #TEMP.DivisionID = MT2001.DivisionID AND #TEMP.PlanID = MT2001.PlanID
INNER JOIN MT2002 WITH (NOLOCK) ON MT2002.DivisionID = #TEMP.DivisionID AND MT2002.PlanID = #TEMP.PlanID AND MT2002.PlanDetailID = #TEMP.PlanDetailID
LEFT JOIN AT1103 WITH (NOLOCK) ON AT1103.EmployeeID = MT2001.EmployeeID
LEFT JOIN AT1301 WITH (NOLOCK) ON AT1301.InventoryTypeID = MT2001.InventoryTypeID
LEFT JOIN 
(
	SELECT DivisionID, InheritTableID, InheritVoucherID, InheritTransactionID, SUM(ActualQuantity) AS ActualQuantity
	FROM MT1802 WITH (NOLOCK)
	WHERE DivisionID = ''' + @DivisionID + '''
	GROUP BY DivisionID, InheritTableID, InheritVoucherID, InheritTransactionID
) TB ON TB.DivisionID = MT2002.DivisionID AND TB.InheritVoucherID = MT2002.PlanID AND TB.InheritTransactionID = MT2002.PlanDetailID AND TB.InheritTableID = ''MT2002''
WHERE MT2001.DivisionID = ''' + @DivisionID + '''
AND ISNULL(MT2001.InventoryTypeID, '''') LIKE ''' + @InventoryTypeID + '''' + @sWhere + '
GROUP BY MT2001.DivisionID, MT2001.PlanID, MT2001.VoucherNo, MT2001.VoucherDate, MT2001.SOderID, MT2001.InventoryTypeID, AT1301.InventoryTypeName, 
MT2001.EmployeeID, MT2001.Description, AT1103.FullName
HAVING SUM(#TEMP.PlanQuantity - ISNULL(TB.ActualQuantity,0)) > 0	
ORDER BY MT2001.VoucherDate, MT2001.PlanID'
		

PRINT @sSQL1
PRINT @sSQL2
PRINT @sSQL3
PRINT @sSQL4
PRINT @sSQL5
PRINT @sSQL6
EXEC (@sSQL1 + @sSQL2 + @sSQL3 + @sSQL4 + @sSQL5 + @sSQL6)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

