IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0160]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP0160]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



----- Create by: Dang Le Bao Quynh; Date: 15/082007
----- Purpose: Tao view in bao cao chi phi NVL phat sinh theo lo
----- Modified by Bảo Thy on 22/05/2017: Sửa danh mục dùng chung

/********************************************
'* Edited by: [GS] [Thanh Trẫm] [02/08/2010]
'********************************************/

CREATE PROCEDURE [dbo].[MP0160] 	
					@DivisionID as nvarchar(50),
					@FromMonth as int,
					@FromYear as int,
					@ToMonth as int,
					@ToYear as int,
					@FromProductID as nvarchar(50),
					@ToProductID as nvarchar(50),
					@FromMaterialID as nvarchar(50),
					@ToMaterialID as nvarchar(50)

AS

DECLARE
	@sSQL as nvarchar(4000)

Set @sSQL = 	'SELECT MV9000.*, 
		(Select InventoryName From AT1302 Where InventoryID = MV9000.ProductID and DivisionID IN (MV9000.DivisionID,''@@@'')) As ProductName, 
		(Select InventoryName From AT1302 Where InventoryID = MV9000.InventoryID and DivisionID IN (MV9000.DivisionID,''@@@'')) As InventoryName 
		FROM MV9000
		WHERE ProductID Between N''' + @FromProductID + ''' And N''' + @ToProductID + ''' 
		And InventoryID Between N''' + @FromMaterialID + ''' And N''' + @ToMaterialID + ''' 
		and DivisionID = N''' + @DivisionID + ''' 
		And TranMonth + TranYear*12 Between ' + ltrim(@FromMonth + @FromYear*12) + ' And '  + ltrim(@FromMonth + @FromYear*12) + ''
		-----ORDER BY Mv9000.ProductID, MV9000.SourceNo, MV9000.InventoryID'

----print @sSQL
If exists (Select id From Sysobjects Where id = Object_ID('MV0160') And xType = 'V')
	Exec (	'Alter View MV0160 --Create by MP0160 
		As 
		' + @sSQL
		)
Else		
	Exec (	'Create View MV0160 --Create by MP0160 
		As 
		' + @sSQL
		)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
