IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0174]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0174]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Customize Angel: Đổ dữ liệu lưới detail ở MH kế thừa KHSX tổng hợp công đoạn để lập kế hoạch dự tính sản xuất
---- Created by Bảo Anh, Date: 07/03/2016
---- Modify on 26/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modify on 13/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
---- MP0174 'CTY','ES/09/2013/0003',''

CREATE PROCEDURE [dbo].[MP0174] 
    @DivisionID NVARCHAR(50), 
    @VoucherIDList AS NVARCHAR(max),
	@VoucherID AS NVARCHAR(50) = ''
	
AS
Declare @SQL1 varchar(max),
		@SQL2 varchar(max),
		@SQL3 varchar(max)

SELECT @SQL1 = '', @SQL2 = '', @SQL3 = ''
---SET @VoucherIDList = REPLACE(@VoucherIDList,',',''',''')

--- Lọc ra các KHSX tổng hợp công đoạn chưa kế thừa hoặc kế thừa chưa hết
SET @SQL1 = '
SELECT EstimateID, EDetailID, (ProductQuantity - Isnull(Quantity,0)) as EndQuantity
INTO #TAM
FROM	(
	Select OT03.EstimateID, OT03.EDetailID, Isnull(ProductQuantity,0) as ProductQuantity, Isnull(Quantity,0) as Quantity
	From OT2202 OT03
	Left join	(Select DivisionID, InheritVoucherID, InheritTransactionID, sum(Quantity) as Quantity From MT0170
				Where DivisionID = ''' + @DivisionID + '''
				And InheritTableID = ''OT2202'' and Isnull(InheritTransactionID,'''') <> ''''
				Group by DivisionID, InheritVoucherID, InheritTransactionID
				) OT02 
	On OT03.DivisionID = OT02.DivisionID And OT03.EstimateID = OT02.InheritVoucherID and OT03.EDetailID = OT02.InheritTransactionID
	Where OT03.DivisionID = ''' + @DivisionID + ''' and OT03.EstimateID in (''' + @VoucherIDList + ''')
) A
WHERE ProductQuantity - Isnull(Quantity,0) > 0'

IF isnull(@VoucherID,'')<> ''	--- khi load edit
BEGIN
	SET @SQL2 = '
	SELECT * FROM (
	SELECT	cast(1 as tinyint) as IsChecked, OT02.InheritVoucherID as VoucherID, OT01.VoucherNo, OT01.VoucherDate, OT01.TeamID, 
			OT03.InheritTransactionID as TransactionID, OT03.Orders, OT02.ApportionID,
			OT02.InventoryID, T01.InventoryName, OT02.UnitID, T04.UnitName,OT03.ProductQuantity as Quantity,
			T01.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			case T01.I01ID when ''TP'' then OT02.InventoryID
				else (Select ProductID From OT2203 Where DivisionID = ''' + @DivisionID + ''' And ExpenseID = ''COST001'' And TransactionID = OT03.InheritTransactionID)
				end as ParentInventoryID
	FROM MT0170 OT02
	INNER JOIN OT2201 OT01 ON OT02.DivisionID = OT01.DivisionID And OT02.InheritVoucherID = OT01.EstimateID
	INNER JOIN OT2202 OT03 ON OT02.DivisionID = OT03.DivisionID And OT02.InheritVoucherID = OT03.EstimateID and OT02.InheritTransactionID = OT03.EDetailID
	LEFT JOIN AT1302 T01 ON OT02.InventoryID = T01.InventoryID AND T01.DivisionID IN (OT02.DivisionID,''@@@'')
	LEFT JOIN AT1304 T04 ON OT02.UnitID = T04.UnitID
	LEFT JOIN AT1015 On T01.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01'' AND T01.DivisionID IN (AT1015.DivisionID,''@@@'')
	WHERE OT02.DivisionID = ''' + @DivisionID + ''' AND OT02.VoucherID = ''' + @VoucherID + ''' AND Isnull(OT02.InheritTableID,'''') = ''OT2202'' AND Isnull(OT02.InheritTransactionID,'''') <> ''''
	'
	SET @SQL3 = '
	UNION
	SELECT	cast(0 as tinyint) as IsChecked, OT02.EstimateID as VoucherID, OT01.VoucherNo, OT01.VoucherDate, OT01.TeamID, 
			OT02.EDetailID as TransactionID, OT02.Orders, OT02.ApportionID,
			OT02.ProductID as InventoryID, T01.InventoryName, OT02.UnitID,T04.UnitName, #TAM.EndQuantity as Quantity,
			T01.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			case T01.I01ID when ''TP'' then OT02.ProductID
				else (Select ProductID From OT2203 Where DivisionID = ''' + @DivisionID + ''' And ExpenseID = ''COST001'' And TransactionID = OT02.InheritTransactionID)
				end as ParentInventoryID
	FROM OT2202 OT02
	INNER JOIN OT2201 OT01 ON OT02.DivisionID = OT01.DivisionID And OT02.EstimateID = OT01.EstimateID
	INNER JOIN #TAM ON OT02.EDetailID = #TAM.EDetailID
	LEFT JOIN AT1302 T01 ON OT02.ProductID = T01.InventoryID AND T01.DivisionID IN (OT02.DivisionID,''@@@'')
	LEFT JOIN AT1304 T04 ON OT02.UnitID = T04.UnitID
	LEFT JOIN AT1015 On T01.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01'' AND T01.DivisionID IN (AT1015.DivisionID,''@@@'')
	WHERE OT02.DivisionID = ''' + @DivisionID + '''
	) A
	ORDER BY ParentInventoryID, TransactionID'
END

ELSE --- addnew
	SET @SQL2 = '
	SELECT * FROM (
	SELECT	cast(0 as tinyint) as IsChecked, OT02.EstimateID as VoucherID, OT01.VoucherNo, OT01.VoucherDate, OT01.TeamID, 
			OT02.EDetailID as TransactionID, OT02.Orders, OT02.ApportionID,
			OT02.ProductID as InventoryID, T01.InventoryName, OT02.UnitID,T04.UnitName, #TAM.EndQuantity as Quantity,
			T01.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			case T01.I01ID when ''TP'' then OT02.ProductID
				else (Select ProductID From OT2203 Where DivisionID = ''' + @DivisionID + ''' And ExpenseID = ''COST001'' And TransactionID = OT02.InheritTransactionID)
				end as ParentInventoryID
	FROM OT2202 OT02
	INNER JOIN OT2201 OT01 ON OT02.DivisionID = OT01.DivisionID And OT02.EstimateID = OT01.EstimateID
	INNER JOIN #TAM ON OT02.EDetailID = #TAM.EDetailID
	LEFT JOIN AT1302 T01 ON OT02.ProductID = T01.InventoryID AND T01.DivisionID IN (OT02.DivisionID,''@@@'')
	LEFT JOIN AT1304 T04 ON OT02.UnitID = T04.UnitID
	LEFT JOIN AT1015 On T01.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01'' AND T01.DivisionID IN (AT1015.DivisionID,''@@@'')
	WHERE OT02.DivisionID = ''' + @DivisionID + '''
	) A
	ORDER BY ParentInventoryID, TransactionID'

--print @SQL1
--print @SQL2
--print @SQL3
EXEC(@SQL1 + @SQL2 + @SQL3)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON