IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0151]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0151]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Customize Angel: In phiếu KHSX tổng hợp
---- Created by Bảo Anh, Date: 25/02/2016
---- Modified on 24/10/2016 by Hải Long : Bổ sung thêm trường EndDate và PlanDate
---- Modified on 26/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified on 13/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
---- MP0151 'CTY','',''

CREATE PROCEDURE [dbo].[MP0151] 
    @DivisionID NVARCHAR(50), 
    @VoucherID AS NVARCHAR(50),
	@VoucherDate as datetime
	
AS

SELECT	OT2002.InventoryID, AT1302.InventoryName, OT2002.UnitID, AT1304.UnitName, OT0150.EstimateQuantity, Round(Isnull(AT1314.MinQuantity,0),0) as MinQuantity,
		(Select SUM(SignQuantity) From AV7000 Where DivisionID = @DivisionID And InventoryID = OT2002.InventoryID
		And (VoucherDate <= @VoucherDate Or D_C = 'BD')) as BeginQuantity, OT2002.OrderQuantity as Quantity, OT2002.EndDate, OT2002.PlanDate

INTO #TAM
FROM OT2002
LEFT JOIN OT0150 On OT2002.DivisionID = OT0150.DivisionID and OT2002.InheritTransactionID = OT0150.TransactionID
LEFT JOIN AT1302 On OT2002.InventoryID = AT1302.InventoryID AND AT1302.DivisionID IN (OT2002.DivisionID,'@@@')
LEFT JOIN AT1314 On OT2002.InventoryID = AT1314.InventoryID and (@VoucherDate between AT1314.FromDate and AT1314.ToDate)
LEFT JOIN AT1304 On OT2002.UnitID = AT1304.UnitID
WHERE OT2002.DivisionID = @DivisionID AND OT2002.SOrderID = @VoucherID    

SELECT	#TAM.*, case when Isnull(EstimateQuantity,0) = 0 then 0 else Round(Isnull(BeginQuantity,0)/(EstimateQuantity*60/1400),0) end as LimitDays	--- thời gian hết hàng tồn đầu tháng
INTO #TAM1
FROM #TAM

SELECT	#TAM1.*, @VoucherDate as VoucherDate, --- ngày lập kế hoạch
		(case when Quantity > 0 then (case when LimitDays > 2 then dateadd(d,LimitDays -2,@VoucherDate) else dateadd(d,1,@VoucherDate) end)
		else NULL end) as BeginPlanDate --- ngày bắt đầu SX theo kế hoạch
FROM #TAM1

DROP TABLE #TAM
DROP TABLE #TAM1

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON