IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0119_2]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP0119_2]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
--- Load Chi tiết Grid đơn hàng sản xuất MF0119
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
---- Created by: Thanh Sơn on: 06/03/2015 
---- Modified by Tiểu Mai on 07/10/2016: Bổ sung trường RefSOrderID, RefSTransactionID
---- Modified by Bảo Anh on 26/04/2017: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
-- <Example>
/*
	 MP0119_2 'PL','ASOFTADMIN', 'IO/01/2015/0001'
*/

 CREATE PROCEDURE MP0119_2
(
	@DivisionID VARCHAR(50),
	@UserID VARCHAR(50),
	@SOrderID VARCHAR(50)
)
AS
DECLARE @sSQL NVARCHAR(MAX)

SET @sSQL = '
SELECT CONVERT(TINYINT, 0) IsChoose, O02.SOrderID, O02.TransactionID, O02.InventoryID, A02.InventoryName, O02.UnitID, A04.UnitName,
	O02.OrderQuantity Quantity, O02.EndDate, O02.RefSOrderID, O02.RefSTransactionID
FROM OT2002 O02 WITH (NOLOCK)
LEFT JOIN AT1304 A04 WITH (NOLOCK) ON A04.UnitID = O02.UnitID
LEFT JOIN AT1302 A02 WITH (NOLOCK) ON A02.InventoryID = O02.InventoryID AND A02.DivisionID IN (O02.DivisionID,''@@@'')
WHERE O02.DivisionID = '''+@DivisionID+'''
AND O02.SOrderID = '''+@SOrderID+''' '

EXEC (@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
