IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0154]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP0154]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO




--Created by :Hoµng ThÞ Lan 
--Date : 19/12/2003
--Purpose:Dïng cho Report MR0154 (Chi phÝ dë dang cuèi kú s¶n xuÊt)
--Modified by Bảo Thy on 22/05/2017: Sửa danh mục dùng chung
--Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.

--<Example> EXEC MP0154 'HT', 'AAA'
/********************************************
'* Edited by: [GS] [Thanh Trẫm] [02/08/2010]
'********************************************/

CREATE PROCEDURE [dbo].[MP0154]  
				@DivisionID as nvarchar(50),
				@PeriodID as nvarchar(50)
 AS
Declare @sSQL as nvarchar(4000)

Set @sSQL = '

Select      AT1302_P.InventoryName as ProductName,  AT1302_P.UnitID,  
  AT1302_M.InventoryName as MaterialName,   
	MT0699.UserName,MT1613.* 
 From MT1613     left join At1302 AT1302_P on MT1613.ProductID=AT1302_P.InventoryID AND AT1302_P.DivisionID IN (MT1613.DivisionID,''@@@'')
		left join AT1302 AT1302_M on MT1613.MaterialID = AT1302_M.InventoryID AND AT1302_M.DivisionID IN (MT1613.DivisionID,''@@@'')
		left join MT0699 on MT1613.MaterialTypeID = MT0699.MaterialTypeID and MT1613.DivisionID = MT0699.DivisionID 
Where      AT1302_P.InventoryTypeID=''TP'' 
	 And AT1302_P.Disabled=0 And MT1613.Type=''E'' And MT1613.PeriodID='''+@PeriodID+''' and MT1613.DivisionID = '''+@DivisionID+''''

--PRINT(@sSQL)

If not exists (Select top 1 1 From SysObjects Where name = 'MV0154' and Xtype ='V')
	Exec ('Create view MV0154 as '+@sSQL)
Else
	Exec ('Alter view MV0154 as '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
