IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP0211]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP0211]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- MP0211
-- <Summary>
---- Stored load detail kế thừa thống kê kết quả sản xuất (MAITHU)
---- Created on 06/04/2021 Kiều Nga
---- Modify on 16/09/2021 Kiều Nga : lỗi load kế thừa
---- Modify on 10/08/2023 Đức Tuyên : Kế thừa không chọn chất lượng => mặc định là "Đạt QC" đối với MAITHU
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
-- <Example>
---- EXEC MP0211 @DivisionID = 'ANG',@UserID='ASOFTADMIN',@VoucherID = '11d111c5-811a-4b43-8114-c0e09e3b3694',@WarehouseID = 'KTP', @TeamID = '%'   

CREATE PROCEDURE [dbo].[MP0211]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@VoucherID AS NVARCHAR(MAX),
	@Quality AS NVARCHAR(50)
AS

DECLARE @sSQL1 AS NVARCHAR(MAX) = '',
		@sWhere AS NVARCHAR(MAX) = '',
		@sSelect AS NVARCHAR(MAX) = '',
		@CustomerIndex INT = (SELECT CustomerName FROM CustomerIndex)


IF(@CustomerIndex = 117) -- Khách hàng MAITHU
BEGIN
IF (ISNULL(@Quality, '') = '2')
	BEGIN
		SET @sWhere = @sWhere + ' AND ISNULL(A.QuantityUnQC,0) - ISNULL(B.ActualQuantity,0) > 0'
		SET @sSelect = @sSelect + ' ,ISNULL(A.QuantityUnQC,0) - ISNULL(B.ActualQuantity,0) AS Quantity' 
	END
	ELSE
	BEGIN
		SET @sWhere = @sWhere + ' AND ISNULL(A.QuantityQC,0) - ISNULL(B.ActualQuantity,0) > 0'  
		SET @sSelect = @sSelect + ' ,ISNULL(A.QuantityQC,0) - ISNULL(B.ActualQuantity,0) AS Quantity' 
	END

	SET @sSQL1 = N'
	SELECT T1.APK,T1.APKMaster,T1.DivisionID,T1.ProductionOrder,T1.PhaseID,T2.PhaseName,T1.ObjectID,T3.ObjectName,
	T1.SourceMachineID,T1.SourceMachineID as SourceMachineName,T1.SourceEmployeeID,T1.SourceEmployeeName as SourceEmployeeName,
	T1.DetailID AS InventoryID,T5.InventoryName,T5.Barcode,T5.IsStocked,T5.IsSource,T5.IsLimitDate,T5.AccountID,T1.UnitID,T6.UnitName,
	T1.S01ID AS Length,T1.S02ID AS Width,T1.S03ID AS Height,T1.Description '+ @sSelect +'
	FROM MT2211 T1 WITH (NOLOCK)
	LEFT JOIN AT0126 T2 WITH (NOLOCK) ON T1.PhaseID = T2.PhaseID AND T2.DivisionID IN (''@@@'',T1.DivisionID)
	LEFT JOIN AT1202 T3 WITH (NOLOCK) ON T1.ObjectID = T3.ObjectID AND T3.DivisionID IN (''@@@'',T1.DivisionID)
	LEFT JOIN AT1103 T4 WITH (NOLOCK) ON T1.SourceEmployeeID = T4.EmployeeID AND T4.DivisionID IN (''@@@'',T1.DivisionID)
	LEFT JOIN AT1302 T5 WITH (NOLOCK) ON T1.DetailID = T5.InventoryID AND T5.DivisionID IN (''@@@'',T1.DivisionID)
	LEFT JOIN AT1304 T6 WITH (NOLOCK) ON T5.UnitID = T6.UnitID AND T6.DivisionID IN (''@@@'',T5.DivisionID)
	OUTER APPLY (
					SELECT QT201.InheritTable,QT201.DivisionID,QT201.InheritVoucher
						, SUM(CONVERT(decimal(28,8),QuantityQC)) as QuantityQC
						,SUM(CONVERT(decimal(28,8),QuantityUnQC)) as QuantityUnQC 
						,SUM(CONVERT(decimal(28,8),QuantityInherit)) as QuantityInherit
					FROM QCT2001 QT201 WITH (NOLOCK)
						LEFT JOIN QCT2000 QT20 WITH (NOLOCK) ON QT20.APK = QT201.APKMaster
					WHERE QT201.DivisionID = T1.DivisionID
							AND QT201.InheritTable = ''MT2211''
							AND QT201.InheritVoucher = T1.APK
							AND QT20.DeleteFlg <> 1
					GROUP BY QT201.InheritTable,QT201.DivisionID,QT201.InheritVoucher
				) A
	LEFT JOIN (SELECT InheritTableID,DivisionID,InheritTransactionID, SUM(ISNULL(ConvertedQuantity,0)) as ActualQuantity 
			FROM MT1001 
			WHERE InheritTableID=''MT2210''
			GROUP BY InheritTableID,DivisionID,InheritTransactionID) B ON T1.DivisionID = B.DivisionID AND B.InheritTransactionID = T1.APK
	WHERE T1.DivisionID = ''' + @DivisionID + ''' AND Convert(NVARCHAR(50),T1.APKMaster) IN (''' + @VoucherID + ''')
	' + @sWhere

	PRINT @sSQL1 
	EXEC (@sSQL1)
END

ELSE
BEGIN
	IF ISNULL (@Quality,0) = 1
	BEGIN
		SET @sWhere = @sWhere + ' AND ISNULL(A.QuantityQC,0) - ISNULL(B.ActualQuantity,0) > 0'  
		SET @sSelect = @sSelect + ' ,ISNULL(A.QuantityQC,0) - ISNULL(B.ActualQuantity,0) AS Quantity' 
	END
	ELSE IF ISNULL (@Quality,0) = 2
	BEGIN
		SET @sWhere = @sWhere + ' AND ISNULL(A.QuantityUnQC,0) - ISNULL(B.ActualQuantity,0) > 0'
		SET @sSelect = @sSelect + ' ,ISNULL(A.QuantityUnQC,0) - ISNULL(B.ActualQuantity,0) AS Quantity' 
	END
	ELSE
	BEGIN
		SET @sWhere = @sWhere + ' AND ISNULL(A.QuantityInherit,0) - ISNULL(B.ActualQuantity,0) > 0'  
		SET @sSelect = @sSelect + ' ,ISNULL(A.QuantityInherit,0) - ISNULL(B.ActualQuantity,0) AS Quantity' 
	END

	SET @sSQL1 = N'
	SELECT T1.APK,T1.APKMaster,T1.DivisionID,T1.ProductionOrder,T1.PhaseID,T2.PhaseName,T1.ObjectID,T3.ObjectName,
	T1.SourceMachineID,T1.SourceMachineID as SourceMachineName,T1.SourceEmployeeID,T1.SourceEmployeeName as SourceEmployeeName,
	T1.InventoryID,T5.InventoryName,T5.Barcode,T5.IsStocked,T5.IsSource,T5.IsLimitDate,T5.AccountID,T1.UnitID,T6.UnitName,
	T1.Length,T1.Width,T1.Height,T1.Description '+ @sSelect +'
	FROM MT2211 T1 WITH (NOLOCK)
	LEFT JOIN AT0126 T2 WITH (NOLOCK) ON T1.PhaseID = T2.PhaseID AND T2.DivisionID IN (''@@@'',T1.DivisionID)
	LEFT JOIN AT1202 T3 WITH (NOLOCK) ON T1.ObjectID = T3.ObjectID AND T3.DivisionID IN (''@@@'',T1.DivisionID)
	LEFT JOIN AT1103 T4 WITH (NOLOCK) ON T1.SourceEmployeeID = T4.EmployeeID AND T4.DivisionID IN (''@@@'',T1.DivisionID)
	LEFT JOIN AT1302 T5 WITH (NOLOCK) ON T1.InventoryID = T5.InventoryID AND T5.DivisionID IN (''@@@'',T1.DivisionID)
	LEFT JOIN AT1304 T6 WITH (NOLOCK) ON T5.UnitID = T6.UnitID AND T6.DivisionID IN (''@@@'',T5.DivisionID)
	LEFT JOIN (SELECT QCT2001.InheritTable,QCT2001.DivisionID,QCT2001.InheritVoucher, SUM(CONVERT(decimal(28,8),QuantityQC)) as QuantityQC
	,SUM(CONVERT(decimal(28,8),QuantityUnQC)) as QuantityUnQC ,SUM(CONVERT(decimal(28,8),QuantityInherit)) as QuantityInherit
			FROM QCT2001 WITH (NOLOCK)
			WHERE QCT2001.InheritTable = ''MT2211''
			GROUP BY QCT2001.InheritTable,QCT2001.DivisionID,QCT2001.InheritVoucher) A ON T1.DivisionID = A.DivisionID AND A.InheritVoucher = T1.APK
	LEFT JOIN (SELECT InheritTableID,DivisionID,InheritTransactionID, SUM(ISNULL(ConvertedQuantity,0)) as ActualQuantity 
			FROM MT1001 
			WHERE InheritTableID=''MT2210''
			GROUP BY InheritTableID,DivisionID,InheritTransactionID) B ON T1.DivisionID = B.DivisionID AND B.InheritTransactionID = T1.APK
	WHERE T1.DivisionID = ''' + @DivisionID + ''' AND Convert(NVARCHAR(50),T1.APKMaster) IN (''' + @VoucherID + ''')
	' + @sWhere

	PRINT @sSQL1 
	EXEC (@sSQL1)
END


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

--DROP PROCEDURE MP0211