IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP1604]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP1604]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



--Created by Hoang Thi Lan
--Date 08/10/2003
--Purpose:lay du lieu dung cho viec sua bo he so theo san pham
--Edit by Nguyen Quoc Huy
/********************************************
'* Edited by: [GS] [Tố Oanh] [30/07/2010]
'********************************************/
---- Modified by Tiểu Mai on 17/12/2015: Bổ sung 20 cột quy cách, trả dữ liệu không sinh view
---- Modified by Tiểu Mai on 03/06/2016: Bổ sung WITH (NOLOCK)
---- Modified by Bảo Thy on 22/05/2017: Sửa danh mục dùng chung
---- Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.



CREATE procedure [dbo].[MP1604] @DivisionID nvarchar(50), @CoefficientID as nvarchar(50)
as
 Declare @sSQL as nvarchar(max)
 IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK)  WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
	 set @sSQL='
	Select distinct MT04.CoefficientID,
		MT05.DeCoefficientID,
		MT04.CreateDate,
		MT04.Disabled,
		MT04.CoefficientName,
		MT04.EmployeeID,
		AT03.FullName,	
		MT04.Description,
		MT04.InventoryTypeID,
		MT04.RefNo,
		MT04.CoType,
		MT05.InventoryID,
		AT02.InventoryName,
		MT05.CoValue,
		MT05.Notes,
		MT05.DivisionID,
		O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
		O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID

	From MT1605 MT05 WITH (NOLOCK)
			Inner join MT1604 MT04 WITH (NOLOCK) on MT05.CoefficientID=MT04.CoefficientID and MT05.DivisionID=MT04.DivisionID
			left join AT1302 AT02 WITH (NOLOCK) on MT05.InventoryID=AT02.InventoryID AND AT02.DivisionID IN (MT05.DivisionID,''@@@'')
			Left Join AT1103 AT03 WITH (NOLOCK) On MT04.EmployeeID = AT03.EmployeeID
			Left join MT8899 O99 WITH (NOLOCK) on O99.DivisionID = MT05.DivisionID and O99.VoucherID = MT05.CoefficientID and O99.TransactionID = MT05.DeCoefficientID
	where  MT04.DivisionID = '''+@DivisionID+'''
	AND MT04.CoefficientID='''+@CoefficientID+''''
 ELSE
	set @sSQL='

	Select distinct MT04.CoefficientID,
		MT05.DeCoefficientID,
		MT04.CreateDate,
		MT04.Disabled,
		MT04.CoefficientName,
		MT04.EmployeeID,
		AT03.FullName,	
		MT04.Description,
		MT04.InventoryTypeID,
		MT04.RefNo,
		MT04.CoType,
		MT05.InventoryID,
		AT02.InventoryName,
		MT05.CoValue,
		MT05.Notes,
		MT05.DivisionID

	From MT1605 MT05 WITH (NOLOCK)
			Inner join MT1604 MT04 WITH (NOLOCK) on MT05.CoefficientID=MT04.CoefficientID and MT05.DivisionID=MT04.DivisionID
			left join AT1302 AT02 WITH (NOLOCK) on MT05.InventoryID=AT02.InventoryID AND AT02.DivisionID IN (MT05.DivisionID,''@@@'')
			Left Join AT1103 AT03 WITH (NOLOCK) On MT04.EmployeeID = AT03.EmployeeID 

	where  MT04.CoefficientID='''+@CoefficientID+'''
	AND MT04.DivisionID = '''+@DivisionID+''' '

EXEC (@sSQL)











GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
