IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP1646]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP1646]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Created by Hoang Thi Lan
--Date 29/1/2004
--Purpose : Bao cao chi tiet Gia thanh san pham(MR1646)
-- Last Edit 01/03/2013 by Thiên Huỳnh: Đa chi nhánh

/********************************************
'* Edited by: [GS] [Mỹ Tuyền] [30/07/2010]
'********************************************/
---- Modified by Tiểu Mai on 18/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
---- Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
---- Modified by Thanh Lượng on 21/02/2023:[2023/02/TA/0098] - Bổ sung lấy dữ liệu trường InventoryTypeName, RefinventoryID cho View.

CREATE PROCEDURE [dbo].[MP1646] 	@DivisionID as nvarchar(50),
					@PeriodID as nvarchar(50),
					@FromMonth as int,
					@FromYear as int,
					@ToMonth as int,
					@ToYear as int

AS
Declare  @sSQL as nvarchar(4000),
		 @FromPeriod as int,
		 @ToPeriod as int
Set @FromPeriod  = @FromMonth + @FromYear*100
Set @ToPeriod = @ToMonth +@ToYear*100
Set @sSQL = '
Select   MT1614.* ,AT1301.InventoryTypeName,AT1302.RefInventoryID, AT1302.InventoryName as ProductName, AT1302.UnitID as ProductUnitID,
MT1601.Description AS MT1601_Description
From    MT1614 WITH (NOLOCK)
	left join AT1302 WITH (NOLOCK) on MT1614.ProductID = AT1302.InventoryID AND AT1302.DivisionID IN (MT1614.DivisionID,''@@@'')
	left join AT1301 WITH (NOLOCK) on AT1302.InventoryTypeID = AT1301.InventoryTypeID AND AT1301.DivisionID IN (MT1614.DivisionID,''@@@'')
	left join MT1601 WITH (NOLOCK) on MT1614.periodid = MT1601.periodid And MT1614.DivisionID = MT1601.DivisionID 
Where     MT1614.DivisionID = '''+@DivisionID+''' and
MT1614.PeriodID like '''+@PeriodID+''' And TranMonth + TranYear *100 between  '+str(@FromPeriod)+' and '+str(@ToPeriod)+''

If not exists (Select top 1 1 From SysObjects Where name = 'MV1646' and Xtype ='V')
	Exec ('Create view MV1646 as '+@sSQL)
Else
	Exec ('Alter view MV1646 as '+@sSQL)
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
