IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP2014]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP2014]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- In báo cáo phiếu phiếu giao việc
---- Create by: Phan thanh hoàng Vũ, on 16/02/2015
---- Modify by: Phan thanh hoàng Vũ, on 17/06/2015-Bổ sung thêm phan quyền xem dữ liệu khi in
---- Modify by: Phan thanh hoàng Vũ, on 28/07/2015-Fixbug lấy sai trường Số đơn hàng bán thành số đơn hàng sản xuất
---- Modify by: Phan thanh hoàng Vũ, on 30/03/2016-Lấy thêm một số trường đơn vị tính quy đổi ra như VN -> M2(Mét), H (Hộp), P(Pallet)
---- Modified by Bảo Thy on 10/05/2017: Sửa danh mục dùng chung
---- Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

---- Example:    EXEC MP2014 'SC','70c16823-43f2-4790-9092-695843e13476', '((''''))', '((0 = 0))','((''''))', '((0 = 0))', 'GBBD003'


 CREATE PROCEDURE MP2014
(
    @DivisionID NVARCHAR(2000),
    @VoucherID VARCHAR(50),
	@ConditionVT nvarchar(max),
	@IsUsedConditionVT nvarchar(20),
	@ConditionOB nvarchar(max),
	@IsUsedConditionOB nvarchar(20),
	@UserID AS VARCHAR(50)
)
AS
Declare @sSQL1 AS varchar(max),
		@sSQL2 AS varchar(max),
		@DivisionWhere AS VARCHAR(MAX)
		Set @sSQL1 = ''	
		Set @sSQL2 = ''	
		Set @DivisionWhere = ' Where 1 = 1 '
		IF @DivisionID is not null and @DivisionID != ''
			Set @DivisionWhere = @DivisionWhere + ' and  M.DivisionID = '''+@DivisionID + '''' 
				
		IF @VoucherID is not null and @VoucherID != ''
			Set @DivisionWhere = @DivisionWhere + ' And  M.VoucherID = '''+@VoucherID + '''' 
	
		

		
		---------->>>>>> Phân quyền xem chứng từ của người dùng khác		
		DECLARE @sSQLPer AS NVARCHAR(MAX),
				@sWHEREPer AS NVARCHAR(MAX)
		SET @sSQLPer = ''
		SET @sWHEREPer = ''		

		IF EXISTS (
					SELECT TOP 1 1 FROM MT0000 WHERE DivisionID = @DivisionID AND IsPermissionView = 1 
				  )  -- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
		BEGIN
				SET @sSQLPer = ' LEFT JOIN AT0010 ON AT0010.DivisionID = M.DivisionID 
													AND AT0010.AdminUserID = '''+@UserID+''' 
													AND AT0010.UserID = M.CreateUserID '
				SET @sWHEREPer = ' AND (M.CreateUserID = AT0010.UserID
										OR  M.CreateUserID = '''+@UserID+''') '		
		END
		----------<<<<<< Phân quyền xem chứng từ của người dùng khác		


SET @sSQL1 = 'SELECT O.MVoucherNo, O.VoucherNo as SOrderID , M.VoucherID, D.TransactionID, M.DivisionID, M.TranMonth, M.TranYear, M.VoucherTypeID, M.VoucherDate, 
				 M.VoucherNo, M.RefNo01, M.RefNo02, M.RefNo03, M.RefNo04, M.RefNo05, M.ObjectID, AT1202.ObjectName, M.LaborID, 
				 A01.Fullname as LaborName, M.EmployeeID, A02.Fullname as EmployeeName, M.InventoryTypeID, M.Description MasterDescription, 
				 M.OrderStatus, MT0099.Description as OrderStatusName, M.CreateUserID, M.CreateDate, D.IsPicking,D.WareHouseID, AT1303.WareHouseName,
				 D.RInventoryID, A04.InventoryName as RInventoryName, D.InventoryID, Isnull(D.InventoryCommonName, A03.InventoryName) 
				 as InventoryName, D.UnitID, A05.UnitName, D.Quantity, D.ConvertedQuantity,D.Orders,D.Description,D.Notes01,D.Notes02,D.Notes03,
				 D.Ana01ID, MT2008_1.AnaName as AnaName01, D.Ana02ID, MT2008_2.AnaName as Ana02Name, D.Ana03ID, MT2008_3.AnaName as AnaName03,
				 D.Ana04ID, MT2008_4.AnaName as AnaName04,D.Ana05ID, MT2008_5.AnaName as AnaName05,D.Ana06ID, MT2008_6.AnaName as AnaName06,
				 D.Ana07ID, MT2008_7.AnaName as AnaName07,D.Ana08ID, MT2008_8.AnaName as AnaName08,
				 D.Ana09ID, MT2008_9.AnaName as AnaName09,D.Ana10ID, MT2008_10.AnaName as AnaName10,
				 D.nvarchar01,D.nvarchar02,D.nvarchar03,D.nvarchar04,D.nvarchar05,D.nvarchar06,D.nvarchar07,D.nvarchar08,D.nvarchar09,D.nvarchar10,
				 A00003.Image01ID, D.ExtraID, AT1311.ExtraName,
				 --A03.I01ID, I01.AnaName as Ana01Name, A03.I02ID, I02.AnaName as AnaName01, A03.I03ID, I03.AnaName as Ana03Name,
				 --A03.I04ID, I04.AnaName as Ana04Name,A03.I05ID, I05.AnaName as Ana05Name, I05.Notes as UnitPrice, O2.EndDate,
				A03.I01ID, I01.AnaName as I01Name, A03.I02ID, I02.AnaName as I02Name, A03.I03ID, I03.AnaName as I03Name,
				 A03.I04ID, I04.AnaName as I04Name,A03.I05ID, I05.AnaName as I05Name,I05.Notes I05Notes, O2.EndDate,

				 Case	  When AT1309_M.Operator = 0 then isnull(D.Met_Quantity, D.Quantity / AT1309_M.ConversionFactor)
						  When AT1309_M.Operator = 1 then isnull(D.Met_Quantity,D.Quantity * AT1309_M.ConversionFactor)
						  When Isnull(AT1309_M.Operator, '''') = '''' then isnull(D.Met_Quantity,0)
						  end as Met_Quantity,
				 Case	  When AT1309_H.Operator = 0 then isnull(D.Hop_Quantity, D.Quantity / AT1309_H.ConversionFactor)
						  When AT1309_H.Operator = 1 then isnull(D.Hop_Quantity,D.Quantity * AT1309_H.ConversionFactor)
						  When Isnull(AT1309_H.Operator, '''') = '''' then isnull(D.Hop_Quantity,0)
						  end as Hop_Quantity,
				 Case	  When AT1309_P.Operator = 0 then isnull(D.Pallets_Quantity , D.Quantity / AT1309_P.ConversionFactor)
						  When AT1309_P.Operator = 1 then isnull(D.Pallets_Quantity, D.Quantity * AT1309_P.ConversionFactor)
						  When Isnull(AT1309_P.Operator, '''') = '''' then isnull(D.Pallets_Quantity,0)
						  end as Pallets_Quantity
			 From MT2007 M  inner join (
											Select MT2008.*,  
													Case When MT2008.UnitID =''M2'' then MT2008.ConvertedQuantity else null end as Met_Quantity,
													Case When MT2008.UnitID =''H'' then MT2008.ConvertedQuantity else null end as Hop_Quantity,
													Case When MT2008.UnitID =''P'' then MT2008.ConvertedQuantity else null end as Pallets_Quantity
											from MT2008 
										) D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
							Left join (Select O2.SOrderID as MOrderID, O2.VoucherNo as MVoucherNo, O1.VoucherNo, O1.DivisionID from OT2001 O1 inner join 
										(Select Distinct M.SOrderID, M.DivisionID, M.VoucherNo, D.InheritVoucherID 
										from OT2001 M inner join OT2002 D on M.DivisionID = D.DivisionID and M.SOrderID = D.SOrderID and M.OrderType = 1)
										 O2 on O1.DivisionID = O2.DivisionID and O1.SOrderID = O2.InheritVoucherID
										Where O1.OrderType=0
							) O on  M.DivisionID = O.DivisionID and M.SOrderID = O.MOrderID '
SET @sSQL2 = '
							left join AT1202 on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND M.ObjectID = AT1202.ObjectID
							left join HV1400 A01 on M.DivisionID = A01.DivisionID and M.LaborID = A01.EmployeeID
							left join AT1103 A02 on M.EmployeeID = A02.EmployeeID
							Left join AT1303 on AT1303.DivisionID IN (''' + @DivisionID + ''',''@@@'') AND D.WareHouseID = AT1303.WareHouseID
							Left join AT1302 on D.InventoryID = AT1302.InventoryID AND AT1302.DivisionID IN (D.DivisionID,''@@@'')
							Left join AT1302 A03 on D.InventoryID = A03.InventoryID AND A03.DivisionID IN (D.DivisionID,''@@@'')
							Left join AT1015 I01 on A03.I01ID = I01.AnaID and I01.AnaTypeID = N''I01'' AND A03.DivisionID IN (I01.DivisionID,''@@@'')
							Left join AT1015 I02 on A03.I02ID = I02.AnaID and I02.AnaTypeID = N''I02'' AND A03.DivisionID IN (I02.DivisionID,''@@@'')
							Left join AT1015 I03 on A03.I03ID = I03.AnaID and I03.AnaTypeID = N''I03'' AND A03.DivisionID IN (I03.DivisionID,''@@@'')
							Left join AT1015 I04 on A03.I04ID = I04.AnaID and I04.AnaTypeID = N''I04'' AND A03.DivisionID IN (I04.DivisionID,''@@@'')
							Left join AT1015 I05 on A03.I05ID = I05.AnaID and I05.AnaTypeID = N''I05'' AND A03.DivisionID IN (I05.DivisionID,''@@@'')
							Left join AT1302 A04 on D.RInventoryID = A04.InventoryID AND A04.DivisionID IN (D.DivisionID,''@@@'') 
							Left join AT1304 A05 on D.UnitID = A05.UnitID
							Left join MT0099 on M.OrderStatus = MT0099.ID and MT0099.CodeMaster =''OrderStatus''
							Left join AT1311 on D.DivisionID = AT1311.DivisionID and D.ExtraID = AT1311.ExtraID
							Left join OT2002 O2 on D.DivisionID = O2.DivisionID and D.InheritVoucherID = O2.SOrderID and D.InheritTransactionID = O2.TransactionID 
							left join AT1309 AT1309_M on AT1309_M.InventoryID = D.InventoryID and AT1309_M.UnitID = ''M2''
							left join AT1309 AT1309_H on AT1309_H.InventoryID = D.InventoryID and AT1309_H.UnitID = ''H''
							left join AT1309 AT1309_P on AT1309_P.InventoryID = D.InventoryID and AT1309_P.UnitID = ''P''	
	LEFT JOIN AT1011 MT2008_1 ON MT2008_1.AnaID = D.Ana01ID AND  MT2008_1.AnaTypeID = ''A01''
	LEFT JOIN AT1011 MT2008_2 ON MT2008_2.AnaID = D.Ana02ID AND  MT2008_2.AnaTypeID = ''A02''
	LEFT JOIN AT1011 MT2008_3 ON MT2008_3.AnaID = D.Ana03ID AND  MT2008_3.AnaTypeID = ''A03''
	LEFT JOIN AT1011 MT2008_4 ON MT2008_4.AnaID = D.Ana04ID AND  MT2008_4.AnaTypeID = ''A04''
	LEFT JOIN AT1011 MT2008_5 ON MT2008_5.AnaID = D.Ana05ID AND  MT2008_5.AnaTypeID = ''A05''
	LEFT JOIN AT1011 MT2008_6 ON MT2008_6.AnaID = D.Ana06ID AND  MT2008_6.AnaTypeID = ''A06''
	LEFT JOIN AT1011 MT2008_7 ON MT2008_7.AnaID = D.Ana07ID AND  MT2008_7.AnaTypeID = ''A07''
	LEFT JOIN AT1011 MT2008_8 ON MT2008_8.AnaID = D.Ana08ID AND  MT2008_8.AnaTypeID = ''A08''
	LEFT JOIN AT1011 MT2008_9 ON MT2008_9.AnaID = D.Ana09ID AND  MT2008_9.AnaTypeID = ''A09''
	LEFT JOIN AT1011 MT2008_10 ON MT2008_10.AnaID = D.Ana10ID AND  MT2008_10.AnaTypeID = ''A10''  AND MT2008_10.DivisionID = D.DivisionID
	LEFT JOIN A00003 on A00003.InventoryID = D.InventoryID
	'		+ @sSQLPer + ' ' 
			+ @DivisionWhere + ' ' 
			+ @sWHEREPer + 
			' AND (ISNULL(M.ObjectID, ''#'') IN (' + @ConditionOB + ') Or ' + @IsUsedConditionOB + ') 
				AND (ISNULL(M.VoucherTypeID, ''#'') IN (' + @ConditionVT + ') Or ' + @IsUsedConditionVT + ')'
EXEC(@sSQL1+@sSQL2)
--print (@sSQL1)
--print (@sSQL2)
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
