IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP2013]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP2013]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Created by Nguyen Van Nhan.
---- Purpose : In lenh san xuat
---- Modify by: Lê Thị Hạnh on 19/09/2014: Bổ sung Báo cáo Lệnh sản xuất cho Sài Gòn Petro (Customize Index: 36)
---- Modify by: Lê Thị Hạnh on 19/01/2015: Cập nhật Lệnh sản xuất cho Sài Gòn Petro (Customize Index: 36)
/********************************************
'* Edited by: [GS] [Mỹ Tuyền] [02/08/2010]
---- Modified by Tiểu Mai on 09/09/2015: Bổ sung tên và mã của 10 MPT, 10 tham số ở đơn hàng sản xuất.
---- Modified by Tieu Mai on 04/12/2015: Bo sung 20 cot quy cach khi quan ly mat hang theo quy cach.
---- Modified by Tiểu Mai on 29/01/2016: Lấy tên thiết lập mã phân tích cho An Phát
---- Modified by Kim Vu on 19/02/2016: Lấy thêm thông tin đối tượng
---- Modified by Bảo Thy on 30/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Tiểu Mai on 06/06/2016: Chỉnh sửa câu @sSQL5
---- Modified on 26/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified on 13/06/2017 by Phương Thảo: Sửa đoạn kết lấy tên mã phân tích
---- Modified on 27/11/2017 by Bảo Thy: Bổ sung thông tin tổ nhóm sản xuất
---- Modified on 22/01/2018 by Bảo Thy: Lấy thông tin tổ nhóm dạng Ngày sản xuất - Tổ nhóm
---- Modified on 11/08/2020 by Đình Ly: Bổ sung tiền tố khi select dữ liệu từ bảng MT2003
---- Modified on 13/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
'********************************************/
-- <Example>
-- exec MP2013 @DivisionID=N'VG',@PlanID=N'KH/01/15/001'


CREATE PROCEDURE [dbo].[MP2013] 
    @DivisionID AS NVARCHAR(50), 
    @PlanID AS NVARCHAR(50)
AS

DECLARE @CustomerName INT
--Tạo bảng tạm để kiểm tra đây có phải là khách hàng Sài Gòn Petro không (CustomerName = 36)
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName) 

DECLARE @sSQL AS VARCHAR(MAX)='', @sSQL3 AS VARCHAR(MAX)='', @sSQL4 AS VARCHAR(MAX)='',@sSQL5 AS VARCHAR(MAX)='',@sSQL6 AS VARCHAR(MAX)=''

SET @sSQL = '
SELECT 
MT2001.PlanID, MT2001.VoucherNo, MT2002.DepartmentID, DepartmentName,MT2001.VoucherDate, MT2002.InventoryID, A02.InventoryName,A02.UnitID,MT2002.PlanQuantity,
MT2001.SOderID,MT2002.LinkNo, MT2002.Notes, MT2002.RefInfor, MT2002.DivisionID,MT2002.Finish,MT2002.WorkID, MT2002.LevelID, MT1702.LevelName,
MT2002.Quantity01, MT2002.Quantity02, MT2002.Quantity03, MT2002.Quantity04, MT2002.Quantity05, MT2002.Quantity06, MT2002.Quantity07, MT2002.Quantity08, MT2002.Quantity09, MT2002.Quantity10,
MT2002.Quantity11, MT2002.Quantity12, MT2002.Quantity13, MT2002.Quantity14, MT2002.Quantity15, MT2002.Quantity16, MT2002.Quantity17, MT2002.Quantity18, MT2002.Quantity19, MT2002.Quantity20,
MT2002.Quantity21, MT2002.Quantity22, MT2002.Quantity23, MT2002.Quantity24, MT2002.Quantity25, MT2002.Quantity26, MT2002.Quantity27, MT2002.Quantity28, MT2002.Quantity29, MT2002.Quantity30,
MT2002.Quantity31, MT2002.Quantity32, MT2002.Quantity33, MT2002.Quantity34, MT2002.Quantity35, MT2002.Quantity36, MT2002.Quantity37, MT2002.Quantity38, MT2002.Quantity39, MT2002.Quantity40,
CONVERT(VARCHAR(10),MT2003.Date01,103) + '' - '' + ISNULL(MT2003.TeamID01,'''') AS Date01, CONVERT(VARCHAR(10),MT2003.Date02,103) + '' - '' + ISNULL(MT2003.TeamID02,'''') AS Date02, CONVERT(VARCHAR(10),MT2003.Date03,103) + '' - '' + ISNULL(MT2003.TeamID03,'''') AS Date03,
CONVERT(VARCHAR(10),MT2003.Date04,103) + '' - '' + ISNULL(MT2003.TeamID04,'''') AS Date04, CONVERT(VARCHAR(10),MT2003.Date05,103) + '' - '' + ISNULL(MT2003.TeamID05,'''') AS Date05, CONVERT(VARCHAR(10),MT2003.Date06,103) + '' - '' + ISNULL(MT2003.TeamID06,'''') AS Date06,
CONVERT(VARCHAR(10),MT2003.Date07,103) + '' - '' + ISNULL(MT2003.TeamID07,'''') AS Date07, CONVERT(VARCHAR(10),MT2003.Date08,103) + '' - '' + ISNULL(MT2003.TeamID08,'''') AS Date08, CONVERT(VARCHAR(10),MT2003.Date09,103) + '' - '' + ISNULL(MT2003.TeamID09,'''') AS Date09,
CONVERT(VARCHAR(10),MT2003.Date10,103) + '' - '' + ISNULL(MT2003.TeamID10,'''') AS Date10, CONVERT(VARCHAR(10),MT2003.Date11,103) + '' - '' + ISNULL(MT2003.TeamID11,'''') AS Date11, CONVERT(VARCHAR(10),MT2003.Date12,103) + '' - '' + ISNULL(MT2003.TeamID12,'''') AS Date12,
CONVERT(VARCHAR(10),MT2003.Date13,103) + '' - '' + ISNULL(MT2003.TeamID13,'''') AS Date13, CONVERT(VARCHAR(10),MT2003.Date14,103) + '' - '' + ISNULL(MT2003.TeamID14,'''') AS Date14, CONVERT(VARCHAR(10),MT2003.Date15,103) + '' - '' + ISNULL(MT2003.TeamID15,'''') AS Date15,
CONVERT(VARCHAR(10),MT2003.Date16,103) + '' - '' + ISNULL(MT2003.TeamID16,'''') AS Date16, CONVERT(VARCHAR(10),MT2003.Date17,103) + '' - '' + ISNULL(MT2003.TeamID17,'''') AS Date17, CONVERT(VARCHAR(10),MT2003.Date18,103) + '' - '' + ISNULL(MT2003.TeamID18,'''') AS Date18,
CONVERT(VARCHAR(10),MT2003.Date19,103) + '' - '' + ISNULL(MT2003.TeamID19,'''') AS Date19, CONVERT(VARCHAR(10),MT2003.Date20,103) + '' - '' + ISNULL(MT2003.TeamID20,'''') AS Date20, CONVERT(VARCHAR(10),MT2003.Date21,103) + '' - '' + ISNULL(MT2003.TeamID21,'''') AS Date21,
CONVERT(VARCHAR(10),MT2003.Date22,103) + '' - '' + ISNULL(MT2003.TeamID22,'''') AS Date22, CONVERT(VARCHAR(10),MT2003.Date23,103) + '' - '' + ISNULL(MT2003.TeamID23,'''') AS Date23, CONVERT(VARCHAR(10),MT2003.Date24,103) + '' - '' + ISNULL(MT2003.TeamID24,'''') AS Date24,
CONVERT(VARCHAR(10),MT2003.Date25,103) + '' - '' + ISNULL(MT2003.TeamID25,'''') AS Date25, CONVERT(VARCHAR(10),MT2003.Date26,103) + '' - '' + ISNULL(MT2003.TeamID26,'''') AS Date26, CONVERT(VARCHAR(10),MT2003.Date27,103) + '' - '' + ISNULL(MT2003.TeamID27,'''') AS Date27,
CONVERT(VARCHAR(10),MT2003.Date28,103) + '' - '' + ISNULL(MT2003.TeamID28,'''') AS Date28, CONVERT(VARCHAR(10),MT2003.Date29,103) + '' - '' + ISNULL(MT2003.TeamID29,'''') AS Date29, CONVERT(VARCHAR(10),MT2003.Date30,103) + '' - '' + ISNULL(MT2003.TeamID30,'''') AS Date30,
CONVERT(VARCHAR(10),MT2003.Date31,103) + '' - '' + ISNULL(MT2003.TeamID31,'''') AS Date31, CONVERT(VARCHAR(10),MT2003.Date32,103) + '' - '' + ISNULL(MT2003.TeamID32,'''') AS Date32, CONVERT(VARCHAR(10),MT2003.Date33,103) + '' - '' + ISNULL(MT2003.TeamID33,'''') AS Date33,
CONVERT(VARCHAR(10),MT2003.Date34,103) + '' - '' + ISNULL(MT2003.TeamID34,'''') AS Date34, CONVERT(VARCHAR(10),MT2003.Date35,103) + '' - '' + ISNULL(MT2003.TeamID35,'''') AS Date35, CONVERT(VARCHAR(10),MT2003.Date36,103) + '' - '' + ISNULL(MT2003.TeamID36,'''') AS Date36,
CONVERT(VARCHAR(10),MT2003.Date37,103) + '' - '' + ISNULL(MT2003.TeamID37,'''') AS Date37, CONVERT(VARCHAR(10),MT2003.Date38,103) + '' - '' + ISNULL(MT2003.TeamID38,'''') AS Date38, CONVERT(VARCHAR(10),MT2003.Date39,103) + '' - '' + ISNULL(MT2003.TeamID39,'''') AS Date39,
CONVERT(VARCHAR(10),MT2003.Date40,103) + '' - '' + ISNULL(MT2003.TeamID40,'''') AS Date40,
C02.InventoryName AS ProductName, MT2002.Orders, A02.Varchar01,
MT2002.Ana01ID, MT2002.Ana02ID, MT2002.Ana03ID, MT2002.Ana04ID, MT2002.Ana05ID,
MT2002.Ana06ID, MT2002.Ana07ID, MT2002.Ana08ID, MT2002.Ana09ID, MT2002.Ana10ID,
A01.AnaName as Ana01Name,A00.AnaName as Ana02Name,A03.AnaName as Ana03Name,A04.AnaName as Ana04Name,A05.AnaName as Ana05Name,
A06.AnaName as Ana06Name,A07.AnaName as Ana07Name,A08.AnaName as Ana08Name,A09.AnaName as Ana09Name,A10.AnaName as Ana10Name,
O01.ObjectID, AT1202.ObjectName
'

SET @sSQL3 = '
	FROM MT2002  WITH (NOLOCK)
	INNER JOIN MT2001   WITH (NOLOCK)   ON MT2001.DivisionID = MT2002.DivisionID AND MT2001.PlanID = MT2002.PlanID
	Left join OT2001 O01 WITH (NOLOCK) ON MT2001.SOderID = O01.SOrderID  and O01.DivisionID = MT2001.DivisionID
	Left join AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = O01.ObjectID
	INNER JOIN AT1302 A02 WITH (NOLOCK) ON A02.InventoryID = MT2002.InventoryID AND A02.DivisionID IN (MT2002.DivisionID,''@@@'')
	LEFT JOIN MT2003  WITH (NOLOCK)     ON MT2003.DivisionID = MT2002.DivisionID AND MT2003.PlanID = MT2002.PlanID
	LEFT JOIN AT1102  WITH (NOLOCK)     ON AT1102.DepartmentID = MT2002.DepartmentID
	LEFT JOIN OT2002 O02 WITH (NOLOCK)  ON O02.DivisionID    = MT2002.DivisionID AND O02.LinkNo = MT2002.LinkNo AND MT2001.SOderID = O02.SOrderID  AND MT2002.InventoryID = O02.InventoryID
	LEFT JOIN AT1302 C02 WITH (NOLOCK)  ON C02.InventoryID = O02.InventoryID AND C02.DivisionID IN (O02.DivisionID,''@@@'')
	LEFT JOIN MT1701  WITH (NOLOCK)     ON MT1701.DivisionID = MT2002.DivisionID AND MT1701.WorkID = MT2002.WorkID 
	LEFT JOIN MT1702  WITH (NOLOCK)     ON MT1702.DivisionID = MT2002.DivisionID AND MT1702.WorkID = MT2002.WorkID AND MT1702.LevelID = MT2002.LevelID
	left join AT1011 A01 WITH (NOLOCK) on A01.AnaTypeID = ''A01'' and A01.AnaID = MT2002.Ana01ID
	left join AT1011 A00 WITH (NOLOCK) on A00.AnaTypeID = ''A02'' and A00.AnaID = MT2002.Ana02ID
	left join AT1011 A03 WITH (NOLOCK) on A03.AnaTypeID = ''A03'' and A03.AnaID = MT2002.Ana03ID
	left join AT1011 A04 WITH (NOLOCK) on A04.AnaTypeID = ''A04'' and A04.AnaID = MT2002.Ana04ID
	left join AT1011 A05 WITH (NOLOCK) on A05.AnaTypeID = ''A05'' and A05.AnaID = MT2002.Ana05ID
	left join AT1011 A06 WITH (NOLOCK) on A06.AnaTypeID = ''A06'' and A06.AnaID = MT2002.Ana06ID
	left join AT1011 A07 WITH (NOLOCK) on A07.AnaTypeID = ''A07'' and A07.AnaID = MT2002.Ana07ID
	left join AT1011 A08 WITH (NOLOCK) on A08.AnaTypeID = ''A08'' and A08.AnaID = MT2002.Ana08ID
	left join AT1011 A09 WITH (NOLOCK) on A09.AnaTypeID = ''A09'' and A09.AnaID = MT2002.Ana09ID
	left join AT1011 A10 WITH (NOLOCK) on A10.AnaTypeID = ''A10'' and A10.AnaID = MT2002.Ana10ID	
	'
SET @sSQL6 = 'WHERE MT2002.PlanID = ''' + @PlanID + ''' AND MT2002.DivisionID = ''' + @DivisionID + ''''

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN
	SET @sSQL = @sSQL + ' ,M89.S01ID, M89.S02ID, M89.S03ID, M89.S04ID, M89.S05ID, M89.S06ID, M89.S07ID, M89.S08ID, M89.S09ID, M89.S10ID,
						M89.S11ID, M89.S12ID, M89.S13ID, M89.S14ID, M89.S15ID, M89.S16ID, M89.S17ID, M89.S18ID, M89.S19ID, M89.S20ID,
						B01.StandardName as StandardName01, B02.StandardName as StandardName02, B03.StandardName as StandardName03, B04.StandardName as StandardName04,
						B05.StandardName as StandardName05, B06.StandardName as StandardName06, B07.StandardName as StandardName07, B08.StandardName as StandardName08,
						B09.StandardName as StandardName09, B10.StandardName as StandardName10 , B11.StandardName as StandardName11, B12.StandardName as StandardName12,
						B13.StandardName as StandardName13, B14.StandardName as StandardName14, B15.StandardName as StandardName15, B16.StandardName as StandardName16,
						B17.StandardName as StandardName17, B18.StandardName as StandardName18, B19.StandardName as StandardName19, B20.StandardName as StandardName20,
						a.S01 as UserName01, a.S02 as UserName02, a.S03 as UserName03, a.S04 as UserName04, a.S05 as UserName05, 
						a.S06 as UserName06, a.S07 as UserName07, a.S08 as UserName08, a.S09 as UserName09, a.S10 as UserName10,
						a.S11 as UserName11, a.S12 as UserName12, a.S13 as UserName13, a.S14 as UserName14, a.S15 as UserName15, 
						a.S16 as UserName16, a.S17 as UserName17, a.S18 as UserName18, a.S19 as UserName19, a.S20 as UserName20'
		
	SET @sSQL4 = '
				LEFT JOIN MT8899 M89 WITH (NOLOCK) ON M89.DivisionID = MT2002.DivisionID AND M89.VoucherID = MT2002.PlanID and M89.TransactionID = MT2002.PlanDetailID and M89.TableID = ''MT2002''
				left join AT0128 B01 WITH (NOLOCK) ON B01.StandardTypeID = ''S01'' and B01.StandardID = M89.S01ID
				left join AT0128 B02 WITH (NOLOCK) ON B02.StandardTypeID = ''S02'' and B02.StandardID = M89.S02ID
				left join AT0128 B03 WITH (NOLOCK) ON B03.StandardTypeID = ''S03'' and B03.StandardID = M89.S03ID
				left join AT0128 B04 WITH (NOLOCK) ON B04.StandardTypeID = ''S04'' and B04.StandardID = M89.S04ID
				left join AT0128 B05 WITH (NOLOCK) ON B05.StandardTypeID = ''S05'' and B05.StandardID = M89.S05ID
				left join AT0128 B06 WITH (NOLOCK) ON B06.StandardTypeID = ''S06'' and B06.StandardID = M89.S06ID
				left join AT0128 B07 WITH (NOLOCK) ON B07.StandardTypeID = ''S07'' and B07.StandardID = M89.S07ID
				left join AT0128 B08 WITH (NOLOCK) ON B08.StandardTypeID = ''S08'' and B08.StandardID = M89.S08ID
				left join AT0128 B09 WITH (NOLOCK) ON B09.StandardTypeID = ''S09'' and B09.StandardID = M89.S09ID
				left join AT0128 B10 WITH (NOLOCK) ON B10.StandardTypeID = ''S10'' and B10.StandardID = M89.S10ID
				left join AT0128 B11 WITH (NOLOCK) ON B11.StandardTypeID = ''S11'' and B11.StandardID = M89.S11ID
				left join AT0128 B12 WITH (NOLOCK) ON B12.StandardTypeID = ''S12'' and B12.StandardID = M89.S12ID
				left join AT0128 B13 WITH (NOLOCK) ON B13.StandardTypeID = ''S13'' and B13.StandardID = M89.S13ID
				left join AT0128 B14 WITH (NOLOCK) ON B14.StandardTypeID = ''S14'' and B14.StandardID = M89.S14ID
				left join AT0128 B15 WITH (NOLOCK) ON B15.StandardTypeID = ''S15'' and B15.StandardID = M89.S15ID
				left join AT0128 B16 WITH (NOLOCK) ON B16.StandardTypeID = ''S16'' and B16.StandardID = M89.S16ID
				left join AT0128 B17 WITH (NOLOCK) ON B17.StandardTypeID = ''S17'' and B17.StandardID = M89.S17ID
				left join AT0128 B18 WITH (NOLOCK) ON B18.StandardTypeID = ''S18'' and B18.StandardID = M89.S18ID
				left join AT0128 B19 WITH (NOLOCK) ON B19.StandardTypeID = ''S19'' and B19.StandardID = M89.S19ID
				left join AT0128 B20 WITH (NOLOCK) ON B20.StandardTypeID = ''S20'' and B20.StandardID = M89.S20ID
				'
	
	SET @sSQL5 = '
				LEFT JOIN (SELECT * FROM  (SELECT UserName, TypeID, case when DivisionID = ''@@@'' then ''' + @DivisionID + ''' else DivisionID end as DivisionID
										   FROM AT0005 WITH (NOLOCK) WHERE TypeID LIKE ''S__'') b PIVOT (max(Username) for TypeID IN (S01, S02, S03, S04, S05, S06, S07, S08, S09, S10,
																										S11, S12, S13, S14, S15, S16, S17, S18, S19, S20))  AS a) a ON a.DivisionID = M89.DivisionID
'
END

--PRINT(@sSQL)
--PRINT(@sSQL3)
--PRINT(@sSQL4)
--PRINT(@sSQL5)
--PRINT(@sSQL6)


IF EXISTS (SELECT 1 FROM sysObjects WITH (NOLOCK) WHERE Name = 'MV2013' AND XType = 'V')
    DROP VIEW MV2013
EXEC( 'CREATE VIEW MV2013 ---tao boi MP2013
    AS '+@sSQL+@sSQL3 + @sSQL4 + @sSQL5 + @sSQL6)

----- Báo cáo Lệnh sản xuất cho Sài Gòn Petro (Customize Index: 36)
IF @CustomerName = 36 
BEGIN
	DECLARE @sSQL1 NVARCHAR(MAX), @sSQL2 NVARCHAR(MAX)
	SET @sSQL1 = '
SELECT MT21.VoucherDate, OT21.VoucherNo MOVoucherNo, MT21.VoucherNo, OT21.ObjectID, AT12.ObjectName,
       MT21.ProductID, AT132.InventoryName AS ProductName, MT03.Date01, MT04.InventoryID, AT02.InventoryName,
       AT02.UnitID, AT04.UnitName, ISNULL(MT04.Quantity,0) AS Quantity, MT21.[Description]
FROM MT2001 MT21 WITH (NOLOCK)
INNER JOIN MT2003 MT03 WITH (NOLOCK) ON MT03.DivisionID = MT21.DivisionID AND MT03.PlanID = MT21.PlanID
LEFT JOIN MT0164 MT04 WITH (NOLOCK) ON MT04.DivisionID = MT21.DivisionID AND MT04.PlanID = MT21.PlanID
LEFT JOIN AT1302 AT02 WITH (NOLOCK) ON AT02.InventoryID = MT04.InventoryID AND AT02.DivisionID IN (MT04.DivisionID,''@@@'')
LEFT JOIN AT1304 AT04 WITH (NOLOCK) ON AT04.UnitID = AT02.UnitID AND AT02.DivisionID IN (AT04.DivisionID,''@@@'')
LEFT JOIN OT2001 OT21 WITH (NOLOCK) ON OT21.DivisionID = MT21.DivisionID AND OT21.SOrderID = MT21.SOderID
LEFT JOIN AT1202 AT12 WITH (NOLOCK) ON AT12.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT12.ObjectID = OT21.ObjectID
LEFT JOIN AT1302 AT132 WITH (NOLOCK) ON AT132.InventoryID = MT21.ProductID AND AT132.DivisionID IN (MT21.DivisionID,''@@@'')
LEFT JOIN MT0107 MT07 WITH (NOLOCK) ON MT07.DivisionID = MT21.DivisionID AND MT07.VoucherID = MT21.MixVoucherID
WHERE MT21.DivisionID = '''+@DivisionID+''' AND MT21.PlanID = '''+@PlanID+'''
ORDER BY MT04.InventoryID
	'
	SET @sSQL2 = '
SELECT MT21.PlanID, MT08.TypeID, MT08.MaterialID, AT12.InventoryName AS MaterialName, MT08.Notes01,
	   AT12.UnitID, AT04.UnitName, MT07.BatchNo, 
	   ISNULL(MT08.VolumeTotal,0) AS VolumeTotal, ISNULL(MT08.WeightTotal,0) AS WeightTotal, ISNULL(MT05.Rate01,0) AS Rate01, 
	   CASE WHEN ISNULL(MT05.Rate01,0) = 0 THEN 0.0
	   ELSE SUM(ISNULL(AT27.ActualQuantity,0))/ISNULL(MT05.Rate01,0) END AS StockVolume, 
	   SUM(ISNULL(AT27.ActualQuantity,0)) AS StockWeight  
FROM MT2001 MT21 WITH (NOLOCK)
LEFT JOIN MT0107 MT07 WITH (NOLOCK) ON MT07.DivisionID = MT21.DivisionID AND MT07.VoucherID = MT21.MixVoucherID
INNER JOIN MT0108 MT08 WITH (NOLOCK) ON MT08.DivisionID = MT07.DivisionID AND MT08.VoucherID = MT07.VoucherID
LEFT JOIN AT1302 AT12 WITH (NOLOCK) ON AT12.InventoryID = MT08.MaterialID AND AT12.DivisionID IN (MT08.DivisionID,''@@@'')
LEFT JOIN AT1304 AT04 WITH (NOLOCK) ON AT04.UnitID = AT12.UnitID AND AT12.DivisionID IN (AT04.DivisionID,''@@@'')
LEFT JOIN AT2007 AT27 WITH (NOLOCK) ON AT27.DivisionID = MT21.DivisionID AND AT27.InheritTableID = ''MT2001'' AND AT27.InheritVoucherID = MT21.PlanID AND AT27.InheritTransactionID = MT08.TransactionID
LEFT JOIN MT0105 MT05 WITH (NOLOCK) ON MT05.DivisionID = MT07.DivisionID AND MT05.FormulaID = MT07.FormulaID AND MT05.MaterialID = MT08.MaterialID
WHERE MT21.DivisionID = '''+@DivisionID+''' AND MT21.PlanID = '''+@PlanID+'''
GROUP BY MT21.PlanID, MT08.TypeID, MT08.MaterialID, AT12.InventoryName, MT08.Notes01, AT12.UnitID, AT04.UnitName,
	     MT07.BatchNo, MT05.Rate01, MT08.VolumeTotal, MT08.WeightTotal
ORDER BY MT08.TypeID, MT08.MaterialID
	'
END
EXEC (@sSQL1)
EXEC (@sSQL2)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
