/****** Object: StoredProcedure [dbo].[MP5002] Script Date: 08/03/2010 16:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------ Created BY Hoang Lan, Date 06/11/2003.
------ Purpose: Kiem tra truoc khi phan bo
------ Edit BY: Dang Le Bao Quynh; Date: 11/08/2007
------ Purpose: Cho phep phan bo khi cho doi tuong chi co san pham do dang
/********************************************
'* Edited BY: [GS] [Thành Nguyên] [03/08/2010]
-- Modified by Bảo Thy on 24/05/2016: Bổ sung WITH (NOLOCK)
-- Modified by Kiều Nga on 15/11/2023: Chỉnh lại cách lấy @Message customize PT2000.
'********************************************/

ALTER PROCEDURE [dbo].[MP5002] 
    @DivisionID AS NVARCHAR(50),
    @PeriodID AS NVARCHAR(50),
    @TranMonth AS INT,
    @TranYear AS INT
AS

DECLARE 
    @Status AS TINYINT, --0: Thuc hien phan bo, 1: Khong duoc phan bo, 2: Thong bao va cho phep chon co thuc hien PB C/K
    @MethodID AS NVARCHAR(50),
    @Message AS NVARCHAR(4000),
    @DistributionID AS NVARCHAR(50),
    @FaPeriodID AS NVARCHAR(50),
    @Text NVARCHAR(4000) = ''
Declare	@TempTable table(CustomerName  int,IsExcel  int)
DECLARE @IsType INT,
		@CustomerName int

		set @CustomerName = (select CustomerName from CustomerIndex)

INSERT @TempTable
EXEC	[dbo].[AP4444]

select @IsType= CustomerName from @TempTable

SET NOCOUNT OFF
SELECT @Status = 0, @Message = ''

--- 1. Kiểm tra đã tích giá thành hay chưa?
IF EXISTS (SELECT TOP 1 1 FROM MT1601 WITH (NOLOCK) WHERE IsCost = 1 AND PeriodID = @PeriodID AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))
    BEGIN
        SET @Status = 1 
        SET @Message = N'MFML000146'
        GOTO RETURN_VALUES 
    END

--- 2. Kiểm tra đã phân bổ hay chưa?
IF EXISTS (SELECT TOP 1 1 FROM MT1601 WITH (NOLOCK) WHERE IsDistribute = 1 AND PeriodID = @PeriodID AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))
    BEGIN
        SET @Status = 1 
        SET @Message = N'MFML000147'
        GOTO RETURN_VALUES 
    END

-- Khách hàng Minh phương, Meiko sẽ không kiểm tra tập hợp chi phí
if(@IsType Not in (1,50))
begin
--- 3. Kiểm tra đã tập hợp chi phí hay chưa?
IF NOT EXISTS (SELECT TOP 1 1 FROM MV9000 WHERE PeriodID = @PeriodID AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))
    BEGIN
        SET @Status = 1 
        SET @Message = N'MFML000148'
        GOTO RETURN_VALUES
    END
end
--- 4. Kiểm tra đã có kết quả sản xuất hay chưa?
IF NOT EXISTS (SELECT TOP 1 1 FROM MT1001 WITH (NOLOCK) INNER JOIN MT0810 WITH (NOLOCK) ON MT1001.VoucherID = MT0810.VoucherID AND MT1001.DivisionID = MT0810.DivisionID
WHERE MT0810.PeriodID = @PeriodID AND MT0810.ResultTypeID IN ('R01','R03') AND MT1001.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))
    BEGIN
        SET @Status = 1 
        SET @Message = N'MFML000149'
        GOTO RETURN_VALUES 
    END

---- 5. Kiểm tra hệ số, định mức tương thích hay chưa?
SET @DistributionID = (SELECT DistributionID FROM MT1601 WITH (NOLOCK) WHERE PeriodID = @PeriodID AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))

---- 5.1 Kiểm tra tính tương thích của NVL TT
EXEC MP5621 @DivisionID, @PeriodID, @TranMonth, @TranYear, @DistributionID, @Status OUTPUT, @Message OUTPUT 
IF @Status <> 0 GOTO RETURN_VALUES

---- 5.2 Kiểm tra tính tương thích của NC TT
EXEC MP5622 @DivisionID, @PeriodID, @TranMonth, @TranYear,@DistributionID, @Status OUTPUT, @Message OUTPUT 
IF @Status <> 0 GOTO RETURN_VALUES

---- 5.3 Kiểm tra tính tương thích của CPSXC
EXEC MP5627 @DivisionID, @PeriodID, @TranMonth, @TranYear,@DistributionID, @Status OUTPUT, @Message OUTPUT 
IF @Status <> 0 GOTO RETURN_VALUES
    
--6 Kiểm tra có là đối tượng con của DTTHCP không?
IF EXISTS (SELECT TOP 1 1 FROM MT1609 WITH (NOLOCK) INNER JOIN MT1601 WITH (NOLOCK) ON MT1609.PeriodID = MT1601.PeriodID AND MT1601.IsForPeriodID = 1 AND MT1601.IsDistribute = 0 AND MT1601.DivisionID = MT1609.DivisionID
WHERE MT1609.ChildPeriodID = @PeriodID AND MT1601.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))
    BEGIN
        SET @Status = 1 
        SET @Message = N'MFML000150'
        GOTO RETURN_VALUES
    END

IF (@CustomerName = 57)
BEGIN
	---- 7. Kiểm tra thông báo các NPL chưa có kết quả sản xuất
	SELECT DISTINCT InventoryID, PeriodID, MaterialTypeID, ProductID
	INTO #Temp
	FROM ( SELECT
				MV9000.InventoryID,
				MV9000.PeriodID,
				MV9000.MaterialTypeID,
				CASE WHEN ISNULL(MV9000.ProductID,'') <> '' THEN MV9000.ProductID ELSE MT1603.ProductID END AS ProductID,
				SUM( Case D_C  when  'D' then ISNULL(Quantity, 0) ELSE - ISNULL(Quantity, 0) END) AS MaterialQuantity
			FROM MV9000 
			LEFT JOIN MT1601 WITH (NOLOCK) ON MV9000.PeriodID = MT1601.PeriodID AND MV9000.DivisionID = MT1601.DivisionID
			LEFT JOIN MT5001 WITH (NOLOCK) ON MT5001.DivisionID = MV9000.DivisionID AND MT5001.MaterialTypeID = MV9000.MaterialTypeID AND MT1601.DistributionID = MT5001.DistributionID
			LEFT JOIN MT1603 WITH (NOLOCK) ON MT1603.DivisionID = MT5001.DivisionID AND MT1603.ApportionID = MT5001.ApportionID AND MV9000.InventoryID = MT1603.MaterialID
			WHERE MV9000.TranMonth = @TranMonth
				AND MV9000.TranYear = @TranYear
				AND MV9000.DivisionID= @DivisionID
				AND MV9000.ExpenseID='COST001' 
				AND MV9000.PeriodID LIKE @PeriodID
				AND ISNULL(MV9000.MaterialTypeID,'') <>''
				AND MT5001.MethodID = 'D03'
				AND IsDistributed = 1 
			GROUP BY MV9000.InventoryID, MV9000.PeriodID, MV9000.MaterialTypeID, MV9000.ProductID, MT1603.ProductID
			UNION
			SELECT
				MT0007.MaterialID AS InventoryID,
				MV9000.PeriodID,
				MV9000.MaterialTypeID,
				CASE WHEN ISNULL(MV9000.ProductID,'') <> '' THEN MV9000.ProductID ELSE MT1603.ProductID END AS ProductID,
				SUM( Case D_C  when  'D' then ISNULL(Quantity, 0) ELSE - ISNULL(Quantity, 0) END) AS MaterialQuantity
			FROM MV9000 
			INNER JOIN MT1601 WITH (NOLOCK) ON MV9000.PeriodID = MT1601.PeriodID AND MV9000.DivisionID = MT1601.DivisionID
			INNER JOIN MT5001 WITH (NOLOCK) ON MT5001.DivisionID = MV9000.DivisionID AND MT5001.MaterialTypeID = MV9000.MaterialTypeID AND MT1601.DistributionID = MT5001.DistributionID
			INNER JOIN MT1603 WITH (NOLOCK) ON MT1603.DivisionID = MT5001.DivisionID AND MT1603.ApportionID = MT5001.ApportionID
			INNER JOIN MT0007 On MT1603.DivisionID = MT0007.DivisionID AND MT1603.IsExtraMaterial = 1 And MT1603.MaterialGroupID = MT0007.MaterialGroupID AND MT0007.MaterialID = MV9000.InventoryID
			WHERE   MV9000.TranMonth = @TranMonth
				AND MV9000.TranYear = @TranYear
				AND MV9000.DivisionID= @DivisionID
				AND MV9000.ExpenseID='COST001' 
				AND MV9000.PeriodID LIKE @PeriodID
				AND ISNULL(MV9000.MaterialTypeID,'') <>''
				AND MT5001.MethodID = 'D03'
				AND IsDistributed = 1 
			GROUP BY MT0007.MaterialID, MV9000.PeriodID, MV9000.MaterialTypeID, MV9000.ProductID, MT1603.ProductID

	) A
	WHERE A.MaterialQuantity <> 0

	SELECT DISTINCT ISNULL(M01.InventoryID,'') AS ProductID
	INTO #Temp2 
	FROM MT1001 M01 WITH (NOLOCK)
	INNER JOIN MT0810 M08 WITH (NOLOCK) ON M08.DivisionID = M01.DivisionID AND M08.VoucherID = M01.VoucherID
	WHERE M08.TranMonth = @TranMonth
		AND M08.TranYear = @TranYear
		AND M08.DivisionID= @DivisionID
		AND M08.PeriodID like @PeriodID

	SET @Text = STUFF((SELECT DISTINCT ', ' + InventoryID 
					   FROM 
							(SELECT DISTINCT A.InventoryID 
							 FROM (
								SELECT DISTINCT InventoryID, ProductID 
								FROM #Temp
								WHERE ProductID NOT IN (SELECT ProductID FROM #Temp2)
								) A
						WHERE InventoryID NOT IN (SELECT T1.InventoryID FROM #Temp2 T2 
												INNER JOIN #Temp T1 ON T1.ProductID = T2.ProductID )
							AND A.InventoryID NOT IN (SELECT DISTINCT MaterialID FROM MT1612 WITH (NOLOCK)
													  WHERE [Type] = 'E' AND TranMonth = @TranMonth AND TranYear = @TranYear 
															AND DivisionID = @DivisionID AND PeriodID = @PeriodID)
							) A FOR XML PATH ('')), 1, 1, ''
						)	

	IF ISNULL(@Text,'') <> ''
	BEGIN
		SET @Status = 3 ---- Thông báo nhưng vẫn cho phân bổ
		SET @Message = N'Các nguyên vật liệu:' + @Text + N' chưa có kết quả sản xuất. Bạn có muốn phân bổ không?'
		GOTO RETURN_VALUES
	END

	------------<< Hết mục 7
END


RETURN_VALUES:
IF(@CustomerName = 111 AND @Status =1)
BEGIN
   SET @Message = (SELECT TOP 1 [Name] from A00002 where ID = @Message AND LanguageID = 'vi-VN')
END

SET NOCOUNT ON 
SELECT @Status AS Status, @Message AS Message
GO
