IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP5102_GOD]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP5102_GOD]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>  
----  Phan bo chi phi NVL theo PP he so  
-- <Param>  
----  
-- <Return>  
----   
-- <Reference>  
----   
-- <History>  
-----  Created by Nguyen Van Nhan and Hoang Thi Lan; Date: 5/11/2003  
-----  Edit by Quoc Hoai  
-----  Last updated Date 24/05/04, Van Nhan  
---- Modified on 07/03/2012 by Nguyễn Bình Minh: Sửa cách lấy số lượng sản phẩm phân bổ dở dang ứng với tỷ lệ hoàn thành của từng chi phí
---- Modified on 21/02/2017 by Bảo Anh: Cộng thêm giá trị phân bổ cho SPDD khi insert vào MT0621
---- Modified by Kim Thư on 13/12/2018 - Bổ sung lưu dữ liệu đã phân bổ vô table MT0400 => Không load MF0011 cải thiện tốc độ
-- <Example>  
----   
CREATE Procedure [dbo].[MP5102_GOD]    
    @DivisionID as Varchar(20),
	@UserID VARCHAR(50), 
	@PeriodID as varchar(20),  
    @TranMonth as int,@TranYear as int,  
    @MaterialTypeID as varchar(20),   
    @CoefficientID as varchar(20)   
as   
Declare @sSQL as varchar(8000),  
 @SumProductCovalues as Money,  
 @ListProduct_cur as Cursor,  
 @ProductID as varchar(20),  
 @ProductQuantity as Decimal(28,8),  
 @ProductCovalues as Decimal(28,8),  
 @ListMaterial_cur as Cursor,  
 @MaterialID as varchar(20),  
 @MaterialQuantity as Decimal(28,8),  
 @ConvertedAmount as Decimal(28,8),  
 @QuantityUnit as Decimal(28,8),  
 @ConvertedUnit  as Decimal(28,8),  
 @UnitID as varchar(20),  
 @Quantity as decimal(28,8),  
 @ConvertedAmount1 as Decimal(28,8),  
 @ConvertDecimal as int  
   
/*  
Set @ConvertDecimal = (Select ConvertDecimal  From MT0000)  
  
---Print ' Van Nhan '  
Set @sSQL='  
Select  (Case  when MT1605.InventoryID is null then MT2222.ProductID   
  Else MT1605.InventoryID End) as ProductID ,  
 MT2222.UnitID,    
 isnull(CoValue,0) as  CoValue,  
 Isnull(MaterialQuantity,0) as ProductQuantity,  
 Isnull(CoValue*(MaterialQuantity-InProcessMaterialQuantity),0) as ProductCoValues,  
 Isnull(CoValue*(MaterialQuantity),0) as ProductCoValuesAll  
From MT1605  Full join MT2222 on MT2222.ProductID = MT1605.InventoryID  
Where CoefficientID ='''+@CoefficientID+''' '  
  
If not exists (Select top 1 1 From SysObjects Where name = 'MV5102' and Xtype ='V')  
 Exec ('Create view MV5102 as '+@sSQL)  
Else  
 Exec ('Alter view MV5102 as '+@sSQL)  
   
DECLARE @FromPeriodID AS NVARCHAR(50)   
Set @FromPeriodID = ISNULL((Select FromPeriodID From MT1601 Where PeriodID = @PeriodID), '')  
---- tao ra view So 1  
Set @sSQL='  
SELECT MaterialID,  
  Sum(MaterialQuantity) as MaterialQuantity,  
  Sum(ConvertedAmount) as ConvertedAmount  
FROM (  
   Select MaterialID, SUM(MaterialQuantity) AS MaterialQuantity, SUM(ConvertedAmount) As ConvertedAmount   
   From MT1613   
   Where Type = ''E'' And ExpenseID =''COST001'' And DivisionID = ''' + @DivisionID + '''    
     And PeriodID = ''' + @FromPeriodID + ''' And MaterialTypeID = ''' + @MaterialTypeID + '''   
     And ExpenseID = ''COST001''   
   Group by MaterialID, ProductID, ProductQuantity , ProductUnitID, MaterialUnitID  
   UNION ALL  
   SELECT InventoryID AS MaterialID,  
     ISNULL(Sum( Case MV9000.D_C  when  ''D'' then isnull(MV9000.Quantity,0) else - isnull(MV9000.Quantity,0) end), 0) as MaterialQuantity,  
     ISNULL(Sum( Case D_C  when  ''D'' then   Isnull(MV9000.ConvertedAmount,0) else - Isnull(MV9000.ConvertedAmount,0) end), 0) as ConvertedAmount  
   FROM MV9000 WITH (NOLOCK)  
   WHERE ExpenseID = ''COST001'' AND PeriodID = ''' + @PeriodID + '''   
     AND DivisionID = ''' + @DivisionID + ''' AND MaterialTypeID = ''' + @MaterialTypeID + '''  
   GROUP BY InventoryID  
) PS  
GROUP BY MaterialID    
'  
  
PRINT @sSQL  
  
If not exists (Select top 1 1 From SysObjects Where name = 'MV6102' and Xtype ='V')  
 Exec ('Create view MV6102 as '+@sSQL)  
Else  
 Exec ('Alter view MV6102 as '+@sSQL)  
  
------ Buoc 3  --- Xac dinh tong he so chung  
  
Set @SumProductCovalues = (Select Sum(isnull(ProductCoValuesAll,0)) From MV5102)  
  
Set @ListMaterial_cur  = Cursor Static FOR   
Select MaterialID , MaterialQuantity, ConvertedAmount From MV6102  
Open @ListMaterial_cur   
  
FETCH NEXT FROM @ListMaterial_cur INTO  @MaterialID , @MaterialQuantity , @ConvertedAmount  
WHILE @@Fetch_Status = 0  
Begin   
     
 Set @ListProduct_cur = Cursor Static FOR   
 Select  ProductID, ProductQuantity, ProductCoValues , UnitID  
 From MV5102 WITH (NOLOCK)  
 WHERE ProductID IN  (Select DISTINCT ProductID From [MT2222])   
  
 OPEN @ListProduct_cur  
 FETCH NEXT FROM @ListProduct_cur INTO  @ProductID, @ProductQuantity, @ProductCoValues, @UnitID  
     
  WHILE @@Fetch_Status = 0  
  Begin     
   --select @ProductID, @ProductQuantity  
    ---- Phan bo so luong NVL cho mot san pham  
     If Isnull(@SumProductCovalues,0) <> 0 and  Isnull(@ProductQuantity,0)<>0    
    Set @QuantityUnit=(Isnull(@MaterialQuantity,0)/@SumProductCovalues)*Isnull(@ProductCoValues,0)/ @ProductQuantity   
    Else Set @QuantityUnit=0      
      
    ---- Phan bo thanh tien chi phi mot nguyen vat lieu cho mot san pham  
    If Isnull(@SumProductCovalues,0) <> 0 and  Isnull(@ProductQuantity,0)<> 0       
       Set @ConvertedUnit = (@ConvertedAmount/@SumProductCovalues)*@ProductCoValues/@ProductQuantity       
    Else Set @ConvertedUnit = 0  
    --Insert vao bang MT0612  
    If IsNull(@SumProductCovalues,0) <>0   
     Begin  
      Set @Quantity = (IsNull(@MaterialQuantity,0)* IsNull(@ProductCoValues,0)/@SumProductCovalues)   
      Set @ConvertedAmount1 = Round( (Isnull(@ConvertedAmount,0)*Isnull(@ProductCoValues,0)/@SumProductCovalues), @ConvertDecimal)  
     End     
    Else   
     Begin  
      Set @Quantity = 0  
      Set @ConvertedAmount1 = 0  
     End  
      
    Insert MT0621 (MaterialID, ProductID,  UnitID,     ExpenseID,  Quantity,  QuantityUnit,   MaterialTypeID,  
          ConvertedAmount,  ConvertedUnit,    ProductQuantity, Rate  )  
    Values (@MaterialID, @ProductID,  @UnitID,   'COST001', @Quantity  ,    
     @QuantityUnit,   @MaterialTypeID,@ConvertedAmount1 ,  @ConvertedUnit,    @ProductQuantity, Null)  
      
    FETCH NEXT FROM @ListProduct_cur INTO  @ProductID, @ProductQuantity, @ProductCoValues, @UnitID  
  End  
  Close @ListProduct_cur    
 FETCH NEXT FROM @ListMaterial_cur INTO  @MaterialID , @MaterialQuantity , @ConvertedAmount  
 End  
Close @ListMaterial_cur  
  
-------- Xu ly lam tron  
--Declare @Detal_ConvertedAmount as decimal(28, 8),  
-- @Detal_MaterialQuantity  as decimal(28, 8),  
-- @ID as decimal(28,0)  
  
--Set @ListMaterial_cur  = Cursor Static FOR   
--  Select isnull(MaterialID,'')  , Sum(Quantity) as Quantity, sum(ConvertedAmount) as ConvertedAmount   
--   From MT0621 Where MaterialTypeID =@MaterialTypeID  and ExpenseID ='COST001'  
--  Group by isnull(MaterialID,'')  
--  Open @ListMaterial_cur   
--  FETCH NEXT FROM @ListMaterial_cur INTO  @MaterialID , @MaterialQuantity , @ConvertedAmount  
--  WHILE @@Fetch_Status = 0  
--   Begin  
--    Select @Detal_ConvertedAmount =0, @Detal_MaterialQuantity = 0   
--    Select  @Detal_ConvertedAmount =round( isnull((Select  Sum( Case D_C  when  'D' then   Isnull(ConvertedAmount,0) else - Isnull(ConvertedAmount,0) end)   
--       From MV9000 WITH (NOLOCK)  
--       Where PeriodID =@PeriodID and DivisionID =@DivisionID and MaterialTypeID =@MaterialTypeID and isnull(InventoryID,'')  = @MaterialID ),0),@ConvertDecimal) - @ConvertedAmount,  
--     @Detal_MaterialQuantity =  isnull((Select  Sum( Case D_C  when  'D' then   Isnull(Quantity,0) else - Isnull(Quantity,0) end)  From MV9000 Where PeriodID =@PeriodID and DivisionID =@DivisionID and MaterialTypeID =@MaterialTypeID and isnull(Inventory

ID,'')  = @MaterialID ),0) - @MaterialQuantity  
--    If @Detal_ConvertedAmount <>0  
--     Begin  
--      Set @ID = null  
--      Set @ID = (Select top 1 ID  From MT0621 Where MaterialTypeID =@MaterialTypeID and ExpenseID = 'COST001' and isnull(MaterialID,'') = @MaterialID Order by  ConvertedAmount Desc )  
--      If @ID is not null  
--      Update MT0621  Set ConvertedAmount = ConvertedAmount + @Detal_ConvertedAmount    
--       Where ID =@ID  
--     End  
  
--    If @Detal_MaterialQuantity <>0  
--     Begin  
--      Set @ID = null  
--      Set @ID = (Select top 1 ID  From MT0621 Where MaterialTypeID =@MaterialTypeID and ExpenseID = 'COST001' and isnull(MaterialID,'') = @MaterialID Order by  Quantity Desc )  
--      If @ID is not null  
--       Update MT0621  Set Quantity = Quantity + @Detal_MaterialQuantity  
--       Where ID =@ID  
--     End  
--    FETCH NEXT FROM @ListMaterial_cur INTO  @MaterialID , @MaterialQuantity , @ConvertedAmount  
--   End   
  
  
--Close @ListMaterial_cur  
  
---- Xu ly lam tron  
--SELECT  MT0621.ID_QUANTITY,  
--   MT0621.ID_ConvertedAmount,  
--   MV6102.MaterialID,   
--   MV6102.MaterialQuantity - MT0621.Quantity AS DeltaQuantity,  
--   MV6102.ConvertedAmount - MT0621.ConvertedAmount AS DeltaAmount  
--INTO  #DELTA     
--FROM  MV6102  
--INNER JOIN (  
--    SELECT  MAX(CASE WHEN MT0621.Quantity <> 0 THEN ID ELSE 0 END) AS ID_QUANTITY,  
--       MAX(CASE WHEN MT0621.ConvertedAmount <> 0 THEN ID ELSE 0 END) AS ID_ConvertedAmount,  
--       ISNULL(MT0621.MaterialID,'') AS MaterialID,   
--       SUM(MT0621.Quantity) AS Quantity,   
--       SUM(MT0621.ConvertedAmount) AS ConvertedAmount   
--    FROM  MT0621  
--    WHERE  MaterialTypeID = @MaterialTypeID  and ExpenseID ='COST001'  
--    GROUP BY ISNULL(MaterialID,'')  
--   ) MT0621  
--  ON MV6102.MaterialID = MT0621.MaterialID  
--WHERE  MV6102.MaterialQuantity - MT0621.Quantity <> 0 OR MV6102.ConvertedAmount - MT0621.ConvertedAmount <> 0  
--   AND MV6102.ProductID IN  (Select DISTINCT ProductID From [MT2222])   
  
---- Dieu chinh so luong  
--UPDATE  MT0621  
--SET   Quantity = MT0621.Quantity + OFS.DeltaQuantity   
--FROM  MT0621  
--INNER JOIN #DELTA OFS  
--  ON OFS.ID_QUANTITY = MT0621.ID  
  
---- Dieu chinh so tien  
--UPDATE  MT0621  
--SET   ConvertedAmount = MT0621.ConvertedAmount + OFS.DeltaAmount  
--FROM  MT0621  
--INNER JOIN #DELTA OFS  
--  ON OFS.ID_QUANTITY = MT0621.ID  
*/  
  
SET NOCOUNT ON  
DECLARE @ConvertedDecimal INT,  
  @QuantityDecimal INT  
    
SELECT @ConvertedDecimal = ConvertDecimal,  
  @QuantityDecimal = QuantityDecimal  
FROM MT0000   
WHERE DivisionID = @DivisionID  
     
-- Ket qua san xuat  
SELECT  MT1001.ProductID,  
   MT1001.UnitID,  
   SUM(ISNULL(CASE WHEN MT0810.ResultTypeID = 'R01' THEN Quantity ELSE 0 END, 0)) AS ProductQuantity,  
   SUM(ISNULL(CASE WHEN MT0810.ResultTypeID = 'R03' THEN Quantity * MT1001.MaterialRate / 100 ELSE 0 END, 0)) AS InProgressMaterialQuantity,     
   SUM(ISNULL(CASE WHEN MT0810.ResultTypeID = 'R01' THEN 1 ELSE MT1001.MaterialRate / 100 END * MT1001.Quantity, 0)) AS EquipvalentMaterialQuantity  
INTO  #MP5102_KQSX            
FROM  MT1001 WITH (NOLOCK) 
INNER JOIN MT0810 WITH (NOLOCK)   
  ON MT0810.VoucherID = MT1001.VoucherID AND MT0810.DivisionID = MT1001.DivisionID  
   AND MT0810.PeriodID = @PeriodID AND MT0810.ResultTypeID IN ('R01', 'R03')
GROUP BY MT1001.ProductID, MT1001.UnitID  
  
--Test1  
--Select * from  #MP5102_KQSX Where productID='DLSH3FF65ST'  
  
-- Ket qua san xuat theo bo he so  
SELECT  ISNULL(MT1605.InventoryID, KQSX.ProductID) AS ProductID,  
   KQSX.UnitID,  
   ISNULL(KQSX.ProductQuantity, 0) AS ProductQuantity,  
   ISNULL(KQSX.InProgressMaterialQuantity * MT1605.CoValue, 0) AS InProgressMaterialQuantity,  
   ISNULL(KQSX.ProductQuantity * MT1605.CoValue, 0) AS ProductMaterialQuantity,  
   ISNULL(KQSX.EquipvalentMaterialQuantity * MT1605.CoValue, 0) AS EquipvalentMaterialQuantity     
INTO  #MP5102_KQSX_HS           
FROM  #MP5102_KQSX KQSX  
FULL JOIN MT1605 WITH (NOLOCK)  
  ON MT1605.InventoryID = KQSX.ProductID  
WHERE  MT1605.CoefficientID = @CoefficientID  
  
DECLARE @FromPeriodID AS NVARCHAR(50)   
SET @FromPeriodID = ISNULL((SELECT FromPeriodID FROM MT1601 WHERE PeriodID = @PeriodID), '')  
--Select @PeriodID  
--Select @FromPeriodID  
--Test2  
--Select * from  #MP5102_KQSX_HS Where productID='DLSH3FF65ST'  
  
-- Tong gia tri dau ky + tap hop trong ky  
SELECT MaterialID,  
  SUM(MaterialQuantity) AS MaterialQuantity,  
  SUM(ConvertedAmount) AS ConvertedAmount  
INTO #MP5102_GTPB    
FROM (  
   ---union them MT1612 de xu ly cho truong hop so du dau chua ket chuyen qua MT1613  
   SELECT  MaterialID, SUM(WipQuantity) AS MaterialQuantity, SUM(ConvertedAmount) As ConvertedAmount   
   FROM  MT1612 WITH (NOLOCK)   
   WHERE  Type = 'B' AND ExpenseID = 'COST001' AND DivisionID = @DivisionID  
      AND PeriodID = @PeriodID AND MaterialTypeID = @MaterialTypeID        AND ExpenseID = 'COST001'  
   GROUP BY MaterialID, ProductID, ProductQuantity,  MaterialPrice  
     
   UNION ALL  
   SELECT  MaterialID, SUM(MaterialQuantity) AS MaterialQuantity, SUM(ConvertedAmount) As ConvertedAmount   
   FROM  MT1613 WITH (NOLOCK)   
   WHERE  Type = 'E' AND ExpenseID = 'COST001' AND DivisionID = @DivisionID  
      AND PeriodID = @FromPeriodID AND MaterialTypeID = @MaterialTypeID  
      AND ExpenseID = 'COST001'  
   GROUP BY MaterialID, ProductID, ProductQuantity, ProductUnitID, MaterialUnitID  
   UNION ALL  
   SELECT  InventoryID AS MaterialID,  
      ISNULL(SUM(CASE MV9000.D_C WHEN 'D' THEN ISNULL(MV9000.Quantity, 0) ELSE - ISNULL(MV9000.Quantity, 0) END), 0) AS MaterialQuantity,  
      ISNULL(SUM(CASE D_C  when 'D' then   Isnull(MV9000.ConvertedAmount, 0) ELSE - ISNULL(MV9000.ConvertedAmount, 0) END), 0) AS ConvertedAmount  
   FROM  MV9000 WITH (NOLOCK)  
   WHERE  ExpenseID = 'COST001' AND PeriodID = @PeriodID  
      AND DivisionID = @DivisionID AND MaterialTypeID = @MaterialTypeID  
   GROUP BY InventoryID  
  ) GTPB  
GROUP BY MaterialID    
  
--Test3 -------------  
  
  
  
--SELECT  MaterialID, SUM(WipQuantity) AS MaterialQuantity, SUM(ConvertedAmount) As ConvertedAmount   
--   FROM  MT1612   
--   WHERE   Type = 'B' AND ExpenseID = 'COST001' AND DivisionID = @DivisionID  
--      AND PeriodID = @PeriodID AND MaterialTypeID = @MaterialTypeID  
--      AND ExpenseID = 'COST001' AND materialID ='LKDigital'  
--   GROUP BY MaterialID --, ProductID, ProductQuantity,  Materialprice  
     
     
--SELECT  MaterialID, SUM(MaterialQuantity) AS MaterialQuantity, SUM(ConvertedAmount) As ConvertedAmount   
--   FROM  MT1613   
--   WHERE  Type = 'E' AND ExpenseID = 'COST001' AND DivisionID = @DivisionID  
--      AND PeriodID = @FromPeriodID AND MaterialTypeID = @MaterialTypeID  
--      AND ExpenseID = 'COST001'  
--   GROUP BY MaterialID, ProductID, ProductQuantity, ProductUnitID, MaterialUnitID  
     
--  SELECT  InventoryID AS MaterialID,  
--      ISNULL(SUM(CASE MV9000.D_C WHEN 'D' THEN ISNULL(MV9000.Quantity, 0) ELSE - ISNULL(MV9000.Quantity, 0) END), 0) AS MaterialQuantity,  
--      ISNULL(SUM(CASE D_C  when 'D' then   Isnull(MV9000.ConvertedAmount, 0) ELSE - ISNULL(MV9000.ConvertedAmount, 0) END), 0) AS ConvertedAmount  
--   FROM  MV9000 WITH (NOLOCK)  
--   WHERE  ExpenseID = 'COST001' AND PeriodID = @PeriodID  
--      AND DivisionID = @DivisionID AND MaterialTypeID = @MaterialTypeID  
--   GROUP BY InventoryID   
     
     
--Select * from  #MP5102_GTPB Where MaterialID ='LKDigital'  
---------------------------------------------  
  
DECLARE @EquipvalentMaterialQuantity AS DECIMAL(28, 8)  
SET @EquipvalentMaterialQuantity = (SELECT SUM(EquipvalentMaterialQuantity) FROM #MP5102_KQSX_HS)  
Select @EquipvalentMaterialQuantity  
     
-- Tao ket quan phan bo  
SELECT  IDENTITY(INT, 1, 1) AS ID,  
   GTPB.MaterialID,  KQSX.ProductID, KQSX.UnitID,  
   ROUND(GTPB.MaterialQuantity * KQSX.ProductMaterialQuantity / @EquipvalentMaterialQuantity, @QuantityDecimal) AS MaterialQuantity,  
   ROUND(CASE WHEN KQSX.ProductQuantity <> 0 THEN GTPB.MaterialQuantity * KQSX.ProductMaterialQuantity / @EquipvalentMaterialQuantity / KQSX.ProductQuantity ELSE 0 END, @QuantityDecimal) AS QuantityUnit,  
   ROUND(GTPB.ConvertedAmount * KQSX.InProgressMaterialQuantity / @EquipvalentMaterialQuantity, @ConvertedDecimal) AS InProgressConvertedAmount,        
   ROUND(GTPB.ConvertedAmount *  KQSX.ProductMaterialQuantity / @EquipvalentMaterialQuantity, @ConvertedDecimal) AS ConvertedAmount,       
   ROUND(CASE WHEN KQSX.ProductQuantity <> 0 THEN GTPB.ConvertedAmount *  KQSX.ProductMaterialQuantity / @EquipvalentMaterialQuantity / KQSX.ProductQuantity ELSE 0 END, @ConvertedDecimal) AS ConvertedUnit,  
   KQSX.ProductQuantity, KQSX.InProgressMaterialQuantity  
INTO  #MP5102_KQPB         
FROM  #MP5102_KQSX_HS KQSX   
CROSS JOIN #MP5102_GTPB GTPB  
  
  
--Test4  
--Select * from  #MP5102_KQPB Where MaterialID ='LKDigital' AND productID='DLSH3FF65ST'  
  
  
-- Tinh ket qua chenh lech vi so le bang cach lay tinh luon gia tri do dang va tru ra de lay chenh lech so voi gia tri phan bo toan bo  
SELECT  ID_Quantity,  
   ID_ConvertedAmount,  
   GTPB.Quantity - KQPB.Quantity AS DeltaQuantity,  
   GTPB.ConvertedAmount - KQPB.ConvertedAmount AS DeltaConvertedAmount  
INTO  #MP5102_DC  
FROM (  
   SELECT  MaterialID,  
      MAX(CASE WHEN MaterialQuantity <> 0 AND ProductQuantity <> 0 THEN ID ELSE 0 END) AS ID_Quantity,  
      MAX(CASE WHEN ConvertedAmount <> 0 AND ProductQuantity <> 0 THEN ID ELSE 0 END) AS ID_ConvertedAmount,  
      SUM(MaterialQuantity) AS Quantity,  
      SUM(ConvertedAmount + InProgressConvertedAmount) AS ConvertedAmount  
   FROM  #MP5102_KQPB  
   GROUP BY MaterialID  
  ) KQPB   
INNER JOIN   
  (   
   SELECT  MaterialID,  
      SUM(MaterialQuantity) AS Quantity,  
      SUM(ConvertedAmount) AS ConvertedAmount  
   FROM #MP5102_GTPB  
   GROUP BY MaterialID   
  ) GTPB  
  ON ISNULL(GTPB.MaterialID, '') = ISNULL(KQPB.MaterialID, '')  
   
   
   
 --Test5  
--Select * from  #MP5102_DC  
  
---- Dieu chinh so luong  
UPDATE  KQPB  
SET   MaterialQuantity = KQPB.MaterialQuantity + OFS.DeltaQuantity   
FROM  #MP5102_KQPB KQPB  
INNER JOIN #MP5102_DC OFS  
  ON OFS.ID_QUANTITY = KQPB.ID  
  
-- Dieu chinh so tien  
UPDATE  KQPB  
SET   ConvertedAmount = KQPB.ConvertedAmount + OFS.DeltaConvertedAmount   
FROM  #MP5102_KQPB KQPB  
INNER JOIN #MP5102_DC OFS  
  ON OFS.ID_ConvertedAmount = KQPB.ID  
    
--Test6  
--Select * from  #MP5102_KQPB  Where MaterialID ='LKDigital' AND productID='DLSH3FF65ST'  
  
-- Dua vao ket qua de load len man hinh  
INSERT INTO MT0621   
(  DivisionID, MaterialID,   ProductID,   UnitID,       
   ExpenseID,   MaterialTypeID,  
   Quantity,   QuantityUnit,     
   ConvertedAmount, ConvertedUnit,      
   ProductQuantity, Rate  
)  
SELECT @DivisionID, MaterialID,   ProductID,   UnitID,  
   'COST001',   @MaterialTypeID,  
   MaterialQuantity, QuantityUnit,     
   ConvertedAmount + InProgressConvertedAmount, (ConvertedAmount + InProgressConvertedAmount)/(ProductQuantity + InProgressMaterialQuantity) as ConvertedUnit,  
   ProductQuantity, NULL       
FROM  #MP5102_KQPB  
WHERE  ProductQuantity <> 0 OR InProgressMaterialQuantity <> 0
  
DROP TABLE #MP5102_KQSX, #MP5102_KQSX_HS, #MP5102_GTPB, #MP5102_DC, #MP5102_KQPB   
  
-- SINH SỐ CHỨNG TỪ PHÂN BỔ TỰ ĐỘNG
DECLARE @Enabled1 TINYINT,
		@Enabled2 TINYINT,
		@Enabled3 TINYINT,
		@S1 NVARCHAR(50),
		@S2 NVARCHAR(50),
		@S3 NVARCHAR(50),
		@S1Type TINYINT,
		@S2Type TINYINT,
		@S3Type TINYINT,
		@VoucherNo NVARCHAR(50),
		@StringKey1 nvarchar(50),
		@StringKey2 nvarchar(50),
		@StringKey3 nvarchar(50), 
		@OutputLen int, 
		@OutputOrder int,
		@Separated int, 
		@Separator char(1),
		@ExpenseVoucherTypeID VARCHAR(50),
		@DistributeDescription NVARCHAR(1000),
		@PeriodStr VARCHAR(20)

SET @ExpenseVoucherTypeID = (SELECT ISNULL(ExpenseVoucherTypeID,'PBO') FROM MT0000 WHERE DivisionID = @DivisionID)
SET @DistributeDescription = (SELECT ISNULL(DistributeDescription + ' ',N'Phân bổ chi phí ') FROM MT0000 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @PeriodStr = CASE WHEN @TranMonth < 10 THEN '0' + ltrim(@TranMonth) + ltrim(@TranYear) ELSE ltrim(@TranMonth) + ltrim(@TranYear) END

--LẤY CHỈ SỐ TĂNG SỐ CHỨNG TỪ
Select	@Enabled1=Enabled1, @Enabled2=Enabled2, @Enabled3=Enabled3, @S1=S1, @S2=S2, @S3=S3, @S1Type=S1Type, @S2Type=S2Type, @S3Type=S3Type,
		@OutputLen=OutputLength, @OutputOrder=OutputOrder, @Separated=Separated, @Separator=Separator
From AT1007 WITH (NOLOCK) Where DivisionID = @DivisionID AND VoucherTypeID = @ExpenseVoucherTypeID

If @Enabled1 = 1
	SET @StringKey1 = 
	Case @S1Type 
	When 1 Then Case When @TranMonth <10 Then '0' + ltrim(@TranMonth) Else ltrim(@TranMonth) End
	When 2 Then ltrim(@TranYear)
	When 3 Then @ExpenseVoucherTypeID
	When 4 Then @DivisionID
	When 5 Then @S1
	Else '' End
Else
	SET @StringKey1 = ''

If @Enabled2 = 1
	SET @StringKey2 = 
	Case @S2Type 
	When 1 Then Case When @TranMonth <10 Then '0' + ltrim(@TranMonth) Else ltrim(@TranMonth) End
	When 2 Then ltrim(@TranYear)
	When 3 Then @ExpenseVoucherTypeID
	When 4 Then @DivisionID
	When 5 Then @S2
	Else '' End
Else
	SET @StringKey2 = ''

If @Enabled3 = 1
	SET @StringKey3 = 
	Case @S3Type 
	When 1 Then Case When @TranMonth <10 Then '0' + ltrim(@TranMonth) Else ltrim(@TranMonth) End
	When 2 Then ltrim(@TranYear)
	When 3 Then @ExpenseVoucherTypeID
	When 4 Then @DivisionID
	When 5 Then @S3
	Else '' End
Else
	SET @StringKey3 = ''


Recal:
--- SINH SỐ CHỨNG TỪ PHÂN BỔ
Exec AP0000  @DivisionID, @VoucherNo OUTPUT, 'MT0400', @StringKey1, @StringKey2, @StringKey3, @OutputLen, @OutputOrder, @Separated, @Separator

IF EXISTS (SELECT 1 FROM MT0400 WITH (NOLOCK) WHERE DivisionID = @DivisionID AND VoucherNo = @VoucherNo)
	GOTO Recal

--INSERT VÀO BẢNG KẾT QUẢ PHÂN BỔ - MT0400
INSERT INTO MT0400 (ApportionCostID, PeriodID, MaterialQuantity, ProductQuantity, ConvertedAmount, ConvertedUnit, QuantityUnit, ProductID, MaterialID,ExpenseID, TranMonth, TranYear,
					Description, DivisionID, VoucherNo, VoucherDate, MaterialTypeID, VoucherTypeID, EmployeeID)

SELECT NEWID(), @PeriodID, Quantity, ProductQuantity, ConvertedAmount, ConvertedUnit, QuantityUnit, ProductID, MaterialID, ExpenseID, @TranMonth, @TranYear,
				@DistributeDescription + @PeriodStr, @DivisionID, @VoucherNo, GETDATE(), @MaterialTypeID, @ExpenseVoucherTypeID, @UserID
FROM MT0621	
WHERE ExpenseID = 'COST001'  AND MaterialTypeID = @MaterialTypeID


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
