IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP5202_GOD]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP5202_GOD]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
----  Phan bo chi phi Nhan cong theo PP he so
-- <Param>
----
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
----- Created by Nguyen Van Nhan and Hoang Thi Lan     Date:5/11/2003 
-- Edit by Quoc Hoai
---Edited by: Vo Thanh Huong, date: 20/05/2005, Xu ly lam tron
---- Modified on 07/03/2012 by Nguyễn Bình Minh: Sửa cách lấy số lượng sản phẩm phân bổ dở dang ứng với tỷ lệ hoàn thành của từng chi phí
---- Modified by Kim Thư on 13/12/2018 - Bổ sung lưu dữ liệu đã phân bổ vô table MT0400 => Không load MF0011 cải thiện tốc độ
-- <Example>
----
CREATE PROCEDURE MP5202_GOD
				 @DivisionID as Varchar(20),
				 @UserID VARCHAR(50),
				 @PeriodID as varchar(20),
				@TranMonth as int,@TranYear as int,
				@MaterialTypeID as varchar(20), 
				@CoefficientID as varchar(20) 
as 
/*
Declare @sSQL as varchar(8000),
	@SumProductCovalues as Money,
	@ListProduct_cur as Cursor,
	@ProductID as varchar(20),
	@ProductQuantity as Decimal(28,8),
	@ProductCovalues as Decimal(28,8),
	@ProductHumanRes as Money,
	@MaterialID as varchar(20),
	@MaterialQuantity as Decimal(28,8),
	@ConvertedAmount as Decimal(28,8),
	@QuantityUnit as Decimal(28,8),
	@ConvertedUnit	 as Decimal(28,8),
	@UnitID as int ,
	@ConvertedAmount1 as Decimal(28,8),
	@ConvertedDecimal as tinyint  --- Bien lam tron

--Tao  ra View so 1

set @ConvertedDecimal = (Select ConvertDecimal From MT0000)

--Tao  ra View so 1

Set @sSQL='
Select 	(Case  when MT1605.InventoryID is null then MT2222.ProductID 
		Else MT1605.InventoryID End) as ProductID ,
	isnull(CoValue,0) as  CoValue,
	Isnull(HumanQuantity,0) as ProductQuantity,
	 Isnull(CoValue*(HumanQuantity-InProcessHumanQuantity), 0) as ProductCoValues,
	Isnull(CoValue*(HumanQuantity),0) as ProductCoValuesAll		 
From MT1605  Full join MT2222 on MT2222.ProductID = MT1605.InventoryID
Where CoefficientID ='''+@CoefficientID+''' '

If not exists (Select top 1 1 From SysObjects Where name = 'MV5202' and Xtype ='V')
	Exec ('Create view MV5202 as '+@sSQL)
Else
	Exec ('Alter view MV5202 as '+@sSQL)


--Duyet  tung mat hang
DECLARE @FromPeriodID AS NVARCHAR(50) 
Set @FromPeriodID = ISNULL((Select FromPeriodID From MT1601 Where PeriodID = @PeriodID), '')
---- Set @ConvertedAmount =(Select Sum(Case when D_C ='D' then   Isnull(ConvertedAmount,0) else - Isnull(ConvertedAmount,0))  From MV9000 Where  DivisionID =@DivisionID and PeriodID = @PeriodID and
--										ExpenseID ='COST002' and MaterialTypeID =@MaterialTypeID)
Set @ConvertedAmount =(Select Sum(Case D_C when 'D' then Isnull(ConvertedAmount,0) else - Isnull(ConvertedAmount,0) end)  From MV9000 Where  DivisionID =@DivisionID and PeriodID = @PeriodID and
										ExpenseID ='COST002' and MaterialTypeID =@MaterialTypeID)
						+ (	Select Sum(ConvertedAmount)  From MT1613 
							Where	Type = 'E' And ExpenseID ='COST002' And DivisionID = @DivisionID 
									And PeriodID = @FromPeriodID And MaterialTypeID = @MaterialTypeID)
										         	            	
Set @SumProductCovalues = (Select Sum(isnull(ProductCovaluesAll,0)) From MV5202)

Set @ListProduct_cur = Cursor Scroll KeySet FOR 
	Select 	ProductID, ProductQuantity, ProductCoValues
	From MV5202		
OPEN	@ListProduct_cur
FETCH NEXT FROM @ListProduct_cur INTO  @ProductID, @ProductQuantity, @ProductCoValues
			
WHILE @@Fetch_Status = 0
	Begin
		
		If Isnull(@SumProductCoValues,0) <> 0 and Isnull(@ProductQuantity,0) <> 0
			Set  @ProductHumanRes = ((Isnull(@ConvertedAmount,0)/@SumProductCovalues)*Isnull(@ProductCoValues,0))/@ProductQuantity		
		Else
			Set @ProductHumanRes = 0 
		Set @ProductHumanRes = round(@ProductHumanRes, @ConvertedDecimal)
				

		If IsNull(@SumProductCovalues,0) <>0 

			Set @ConvertedAmount1 = round((Isnull(@ConvertedAmount,0)*Isnull(@ProductCoValues,0)/@SumProductCovalues),@ConvertedDecimal)
		Else 
			Set @ConvertedAmount1 = 0 		

		Insert MT0621 (MaterialID, ProductID,  UnitID,     ExpenseID,  Quantity,  QuantityUnit,   MaterialTypeID,
			    	ConvertedAmount,  ConvertedUnit,    ProductQuantity, Rate  )
		Values (Null, @ProductID,  @UnitID,   'COST002',   null, null ,     @MaterialTypeID, @ConvertedAmount1,	
				    	@ProductHumanRes ,   @ProductQuantity, Null)
		
		--print'@ProductHumanRes1'+str(@ProductHumanRes)
		--print'@ConvertedAmount1'+str(@ConvertedAmount1)
		FETCH NEXT FROM @ListProduct_cur INTO  @ProductID, @ProductQuantity, @ProductCoValues
	End

Close @ListProduct_cur


---- Xu ly lam tron

Declare @MaxProductID as varchar(20),
	@Detal decimal(28,8)

Set @Detal = round(isnull(@ConvertedAmount,0), @ConvertedDecimal) - isnull((Select Sum(ConvertedAmount) From MT0621 
				    Where  MaterialTypeID = @MaterialtypeID and ExpenseID = 'COST002' ),0)
If @Detal<>0 
	Begin
		--- Lam tron
	Set @MaxProductID = (Select top 1 ProductID
		From MT0621 Where ExpenseID ='COST002' and MaterialTypeID = @MaterialTypeID
		Order by ConvertedAmount Desc)

		Update MT0621 Set ConvertedAmount = ConvertedAmount + @Detal
		Where 	ProductID = @MaxProductID and
			MaterialTypeID = @MaterialTypeID and
			ExpenseID = 'COST002'
			
	
	End
*/

/*
---- Phan chi phi giam gia thanh
--Duyet  tung mat hang
Set @ConvertedAmount =(Select sum(ConvertedAmount)  From MV9000 Where  	DivisionID =@DivisionID and PeriodID = @PeriodID and
										ExpenseID ='COST002' and	MaterialTypeID =@MaterialTypeID and MV9000.CreditAccountID in (Select AccountID from MT0700))

Set @SumProductCovalues = (Select Sum(isnull(ProductCovalues,0)) From MV5202)

Set @ListProduct_cur = Cursor Scroll KeySet FOR 
	Select 	ProductID, ProductQuantity, ProductCoValues
	From MV5202		
OPEN	@ListProduct_cur
FETCH NEXT FROM @ListProduct_cur INTO  @ProductID, @ProductQuantity, @ProductCoValues
			
WHILE @@Fetch_Status = 0
	Begin
		
		If Isnull(@SumProductCoValues,0) <> 0 and Isnull(@ProductQuantity,0) <> 0
			Set  @ProductHumanRes = ((Isnull(@ConvertedAmount,0)/@SumProductCovalues)*Isnull(@ProductCoValues,0))/@ProductQuantity		
		Else
			Set @ProductHumanRes = 0 
		Set @ProductHumanRes = round(@ProductHumanRes, @ConvertedDecimal)
*/		
		/*
		print'@SumProductCovalues'+str(@SumProductCovalues)
		print'@ProductQuantity'+str(@ProductQuantity)
		print'@ProductCoValues'+str(@ProductCoValues)
		print'@ProductHumanRes'+str(@ProductHumanRes)
			*/
/*
		If IsNull(@SumProductCovalues,0) <>0 

			Set @ConvertedAmount1 = round((Isnull(@ConvertedAmount,0)*Isnull(@ProductCoValues,0)/@SumProductCovalues),@ConvertedDecimal)
		Else 
			Set @ConvertedAmount1 = 0 

		
		update MT0621 set ConvertedAmount=ConvertedAmount-@ConvertedAmount1,ConvertedUnit=ConvertedUnit-@ProductHumanRes,ProductQuantity=ProductQuantity-@ProductQuantity
		where MaterialID=@MaterialID and ProductID=@ProductID and  ExpenseID='COST002'  and  MaterialTypeID=@MaterialTypeID
		--print'@ProductHumanRes1'+str(@ProductHumanRes)
		--print'@ConvertedAmount1'+str(@ConvertedAmount1)
		FETCH NEXT FROM @ListProduct_cur INTO  @ProductID, @ProductQuantity, @ProductCoValues
	End

Close @ListProduct_cur


-------


Declare @MaxProductID as varchar(20)

Set @Detal = isnull(@ConvertedAmount,0) - isnull((Select Sum(ConvertedAmount) From MT0621 
				    Where  MaterialTypeID = @MaterialTypeID and ExpenseID = 'COST002' ),0)
If @Detal<>0 
	Begin
		--- Lam tron
	Set @MaxProductID = (Select top 1 ProductID
		From MT0621 Where ExpenseID ='COST002' and MaterialTypeID =@MaterialTypeID
		Order by ConvertedAmount Desc)

		Update MT0621 Set ConvertedAmount = ConvertedAmount + @Detal
		Where 	ProductID = @MaxProductID and
			MaterialTypeID = @MaterialTypeID and
			ExpenseID = 'COST002'
			
	
	End

*/

SET NOCOUNT ON
DECLARE	@ConvertedDecimal INT,
		@QuantityDecimal INT
		
SELECT	@ConvertedDecimal = ConvertDecimal,
		@QuantityDecimal = QuantityDecimal
FROM	MT0000 
WHERE	DivisionID = @DivisionID
			
-- Ket qua san xuat
SELECT		MT1001.ProductID,
			MT1001.UnitID,
			SUM(ISNULL(CASE WHEN MT0810.ResultTypeID = 'R01' THEN Quantity ELSE 0 END, 0)) AS ProductQuantity,
			SUM(ISNULL(CASE WHEN MT0810.ResultTypeID = 'R01' THEN 1 ELSE MT1001.HumanResourceRate / 100 END * MT1001.Quantity, 0)) AS EquipvalentHumanResourceQuantity
INTO		#MP5202_KQSX										
FROM		MT1001
INNER JOIN	MT0810 
		ON	MT0810.VoucherID = MT1001.VoucherID AND MT0810.DivisionID = MT1001.DivisionID
			AND MT0810.PeriodID = @PeriodID AND MT0810.ResultTypeID IN ('R01', 'R03')
GROUP BY	MT1001.ProductID,	MT1001.UnitID

-- Ket qua san xuat theo bo he so
SELECT		ISNULL(MT1605.InventoryID, KQSX.ProductID) AS ProductID,
			KQSX.UnitID,
			ISNULL(KQSX.ProductQuantity, 0) AS ProductQuantity,
			ISNULL(KQSX.ProductQuantity * MT1605.CoValue, 0) AS ProductHumanResourceQuantity,
			ISNULL(KQSX.EquipvalentHumanResourceQuantity * MT1605.CoValue, 0) AS EquipvalentHumanResourceQuantity			
INTO		#MP5202_KQSX_HS									
FROM		#MP5202_KQSX KQSX
FULL JOIN	MT1605
		ON	MT1605.InventoryID = KQSX.ProductID
WHERE		MT1605.CoefficientID = @CoefficientID

DECLARE @FromPeriodID AS NVARCHAR(50) 
SET @FromPeriodID = ISNULL((SELECT FromPeriodID FROM MT1601 WHERE PeriodID = @PeriodID), '')

-- Tong gia tri dau ky + tap hop trong ky
SELECT	MaterialID,
		SUM(HumanResourceQuantity) AS HumanResourceQuantity,
		SUM(ConvertedAmount) AS ConvertedAmount
INTO	#MP5202_GTPB		
FROM	(
			SELECT		MaterialID, SUM(MaterialQuantity) AS HumanResourceQuantity, SUM(ConvertedAmount) As ConvertedAmount	
			FROM		MT1613 
			WHERE		Type = 'E' AND ExpenseID = 'COST002' AND DivisionID = @DivisionID
						AND PeriodID = @FromPeriodID AND MaterialTypeID = @MaterialTypeID
						AND ExpenseID = 'COST002'
			GROUP BY	MaterialID, ProductID, ProductQuantity , ProductUnitID, MaterialUnitID
			UNION ALL
			SELECT		InventoryID AS MaterialID,
						ISNULL(SUM(CASE MV9000.D_C WHEN 'D' THEN ISNULL(MV9000.Quantity, 0) ELSE - ISNULL(MV9000.Quantity, 0) END), 0) AS HumanResourceQuantity,
						ISNULL(SUM(CASE D_C  when 'D' then   Isnull(MV9000.ConvertedAmount, 0) ELSE - ISNULL(MV9000.ConvertedAmount, 0) END), 0) AS ConvertedAmount
			FROM		MV9000 WITH (NOLOCK)
			WHERE		ExpenseID = 'COST002' AND PeriodID = @PeriodID
						AND DivisionID = @DivisionID AND MaterialTypeID = @MaterialTypeID
			GROUP BY	InventoryID
		) GTPB
GROUP BY	MaterialID  

DECLARE @EquipvalentHumanResourceQuantity AS DECIMAL(28, 8) 
SET @EquipvalentHumanResourceQuantity = (SELECT SUM(EquipvalentHumanResourceQuantity) FROM #MP5202_KQSX_HS)

-- Phan bo cho tung san pham
INSERT INTO MT0621 
(			DivisionID,	MaterialID,			ProductID,		UnitID,     
			ExpenseID,			MaterialTypeID,
			Quantity,			QuantityUnit,			
			ConvertedAmount,	ConvertedUnit,    
			ProductQuantity,	Rate
)
SELECT		@DivisionID,	GTPB.MaterialID,		KQSX.ProductID,	KQSX.UnitID,
			'COST002',				@MaterialTypeID,
			ROUND(GTPB.HumanResourceQuantity * KQSX.ProductHumanResourceQuantity / @EquipvalentHumanResourceQuantity, @QuantityDecimal) AS HumanResourceQuantity,
			ROUND(GTPB.HumanResourceQuantity * KQSX.ProductHumanResourceQuantity / @EquipvalentHumanResourceQuantity / KQSX.ProductQuantity, @QuantityDecimal) AS QuantityUnit,			
			ROUND(GTPB.ConvertedAmount *  KQSX.ProductHumanResourceQuantity / @EquipvalentHumanResourceQuantity, @ConvertedDecimal) AS ConvertedAmount,
			ROUND(GTPB.ConvertedAmount * KQSX.ProductHumanResourceQuantity / @EquipvalentHumanResourceQuantity / KQSX.ProductQuantity, @ConvertedDecimal) AS ConvertedUnit,
			KQSX.ProductQuantity,	NULL					
FROM		#MP5202_KQSX_HS KQSX 
CROSS JOIN	#MP5202_GTPB GTPB
WHERE		KQSX.ProductQuantity <> 0		

DROP TABLE #MP5202_KQSX, #MP5202_KQSX_HS, #MP5202_GTPB			

-- SINH SỐ CHỨNG TỪ PHÂN BỔ TỰ ĐỘNG
DECLARE @Enabled1 TINYINT,
		@Enabled2 TINYINT,
		@Enabled3 TINYINT,
		@S1 NVARCHAR(50),
		@S2 NVARCHAR(50),
		@S3 NVARCHAR(50),
		@S1Type TINYINT,
		@S2Type TINYINT,
		@S3Type TINYINT,
		@VoucherNo NVARCHAR(50),
		@StringKey1 nvarchar(50),
		@StringKey2 nvarchar(50),
		@StringKey3 nvarchar(50), 
		@OutputLen int, 
		@OutputOrder int,
		@Separated int, 
		@Separator char(1),
		@ExpenseVoucherTypeID VARCHAR(50),
		@DistributeDescription NVARCHAR(1000),
		@PeriodStr VARCHAR(20)

SET @ExpenseVoucherTypeID = (SELECT ISNULL(ExpenseVoucherTypeID,'PBO') FROM MT0000 WHERE DivisionID = @DivisionID)
SET @DistributeDescription = (SELECT ISNULL(DistributeDescription + ' ',N'Phân bổ chi phí ') FROM MT0000 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @PeriodStr = CASE WHEN @TranMonth < 10 THEN '0' + ltrim(@TranMonth) + ltrim(@TranYear) ELSE ltrim(@TranMonth) + ltrim(@TranYear) END

--LẤY CHỈ SỐ TĂNG SỐ CHỨNG TỪ
Select	@Enabled1=Enabled1, @Enabled2=Enabled2, @Enabled3=Enabled3, @S1=S1, @S2=S2, @S3=S3, @S1Type=S1Type, @S2Type=S2Type, @S3Type=S3Type,
		@OutputLen=OutputLength, @OutputOrder=OutputOrder, @Separated=Separated, @Separator=Separator
From AT1007 WITH (NOLOCK) Where DivisionID = @DivisionID AND VoucherTypeID = @ExpenseVoucherTypeID

If @Enabled1 = 1
	SET @StringKey1 = 
	Case @S1Type 
	When 1 Then Case When @TranMonth <10 Then '0' + ltrim(@TranMonth) Else ltrim(@TranMonth) End
	When 2 Then ltrim(@TranYear)
	When 3 Then @ExpenseVoucherTypeID
	When 4 Then @DivisionID
	When 5 Then @S1
	Else '' End
Else
	SET @StringKey1 = ''

If @Enabled2 = 1
	SET @StringKey2 = 
	Case @S2Type 
	When 1 Then Case When @TranMonth <10 Then '0' + ltrim(@TranMonth) Else ltrim(@TranMonth) End
	When 2 Then ltrim(@TranYear)
	When 3 Then @ExpenseVoucherTypeID
	When 4 Then @DivisionID
	When 5 Then @S2
	Else '' End
Else
	SET @StringKey2 = ''

If @Enabled3 = 1
	SET @StringKey3 = 
	Case @S3Type 
	When 1 Then Case When @TranMonth <10 Then '0' + ltrim(@TranMonth) Else ltrim(@TranMonth) End
	When 2 Then ltrim(@TranYear)
	When 3 Then @ExpenseVoucherTypeID
	When 4 Then @DivisionID
	When 5 Then @S3
	Else '' End
Else
	SET @StringKey3 = ''

Recal:
--- SINH SỐ CHỨNG TỪ PHÂN BỔ
Exec AP0000  @DivisionID, @VoucherNo OUTPUT, 'MT0400', @StringKey1, @StringKey2, @StringKey3, @OutputLen, @OutputOrder, @Separated, @Separator

IF EXISTS (SELECT 1 FROM MT0400 WITH (NOLOCK) WHERE DivisionID = @DivisionID AND VoucherNo = @VoucherNo)
	GOTO Recal

--INSERT VÀO BẢNG KẾT QUẢ PHÂN BỔ - MT0400
INSERT INTO MT0400 (ApportionCostID, PeriodID, MaterialQuantity, ProductQuantity, ConvertedAmount, ConvertedUnit, QuantityUnit, ProductID, MaterialID,ExpenseID, TranMonth, TranYear,
					Description, DivisionID, VoucherNo, VoucherDate, MaterialTypeID, VoucherTypeID, EmployeeID)

SELECT NEWID(), @PeriodID, Quantity, ProductQuantity, ConvertedAmount, ConvertedUnit, QuantityUnit, ProductID, MaterialID, ExpenseID, @TranMonth, @TranYear,
				@DistributeDescription + @PeriodStr, @DivisionID, @VoucherNo, GETDATE(), @MaterialTypeID, @ExpenseVoucherTypeID, @UserID
FROM MT0621	
WHERE ExpenseID = 'COST002'  AND MaterialTypeID = @MaterialTypeID


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
