IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP5627]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP5627]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


------ Created BY Hoang Thi Lan, Date 06/11/2003
------ Purpose  KiÓm tra  Phan bo chi phi san xuat chung
------ Edit BY Quoc Hoai - them dieu kien DivisionID
------ Modified by Bảo Thy on 24/05/2016: Bổ sung WITH (NOLOCK)
------ Modified by Tiểu Mai on 06/06/2016: Tách riêng phần quản lý hàng theo quy cách
/********************************************
'* Edited BY: [GS] [Việt Khánh] [29/07/2010]
'********************************************/

CREATE PROCEDURE  [dbo].[MP5627]      
    @DivisionID NVARCHAR(50), 
    @PeriodID  NVARCHAR(50), 
    @TranMonth AS INT, 
    @TranYear AS INT, 
    @DistributionID  NVARCHAR(50), 
    @Status AS TINYINT OUTPUT, 
    @Message AS NVARCHAR(250) OUTPUT
AS

DECLARE    
    @MethodID AS NVARCHAR(50), 
    @CoefficientID AS NVARCHAR(50), 
    @ApportionID AS NVARCHAR(50), 
    @MaterialTypeID AS NVARCHAR(50), 
    @Expense_627 AS CURSOR, 
    @sSQL NVARCHAR(4000), 
    @cur CURSOR, 
    @ProductID NVARCHAR(50),
    @S01ID NVARCHAR(50),	@S02ID NVARCHAR(50),
    @S03ID NVARCHAR(50),	@S04ID NVARCHAR(50),
    @S05ID NVARCHAR(50),	@S06ID NVARCHAR(50),
    @S07ID NVARCHAR(50),	@S08ID NVARCHAR(50),
    @S09ID NVARCHAR(50),	@S10ID NVARCHAR(50),
    @S11ID NVARCHAR(50),	@S12ID NVARCHAR(50),
    @S13ID NVARCHAR(50),	@S14ID NVARCHAR(50),
    @S15ID NVARCHAR(50),	@S16ID NVARCHAR(50),
    @S17ID NVARCHAR(50),	@S18ID NVARCHAR(50),
    @S19ID NVARCHAR(50),	@S20ID NVARCHAR(50)
             
SET NOCOUNT ON

DELETE MT0621 WHERE ExpenseID = 'COST003' AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))
SET @Expense_627 = CURSOR SCROLL KEYSET FOR 
SELECT MethodID, CoefficientID, ApportionID, MaterialTypeID 
FROM MT5001 
WHERE DistributionID = @DistributionID 
    AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))
    AND ExpenseID ='COST003' 
    AND IsDistributed = 1 
    AND MaterialTypeID IN (SELECT Distinct MaterialTypeID 
                            FROM MV9000
                            WHERE ExpenseID = 'COST001' AND PeriodID = @PeriodID 
                                AND TranMonth = @TranMonth AND TranYear = @TranYear
                                AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))

OPEN    @Expense_627
FETCH NEXT FROM @Expense_627 INTO  @MethodID, @CoefficientID, @ApportionID, @MaterialTypeID
WHILE @@Fetch_Status = 0
    BEGIN

        IF @MethodID ='D01' --- Phan bo truc tiep
          BEGIN
            IF EXISTS (SELECT 1 FROM MV9000 
                        WHERE ExpenseID = 'COST003' AND MaterialTypeID = @MaterialTypeID 
                            AND PeriodID = @PeriodID AND ISNULL(ProductID, '') ='' 
                            AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))
                BEGIN
                    
                    SET @Status = 1
                    SET @Message ='MFML000160|' + @MaterialTypeID
                    GOTO EndMess
                END
                IF EXISTS (SELECT 1 FROM MV9000 
                            WHERE ExpenseID = 'COST003' AND MaterialTypeID = @MaterialTypeID 
                                AND PeriodID = @PeriodID AND ISNULL(ProductID, '') <> '' 
                                AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))
                                AND ProductID NOT IN (SELECT ProductID 
                                                        FROM MT1001 WITH (NOLOCK) INNER JOIN MT0810 WITH (NOLOCK) ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
                                                        WHERE PeriodID = @PeriodID AND ResultTypeID IN ('R01', 'R03') 
                                                            AND MT1001.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))
                                                     )
                            )
                BEGIN
                    SET @Status = 1
                    SET @Message ='MFML000157|' + @MaterialTypeID
                    GOTO EndMess
                END

        END
        IF @MethodID ='D02' ---- Phan bo theo he so
            IF EXISTS ( SELECT DISTINCT ProductID 
                        FROM MT1001 WITH (NOLOCK) INNER JOIN MT0810 WITH (NOLOCK) ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
                        WHERE ResultTypeID = 'R01' AND PeriodID = @PeriodID 
                            AND MT1001.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))
                            AND ProductID NOT IN (SELECT InventoryID FROM MT1605 WITH (NOLOCK) WHERE CoefficientID =@CoefficientID
                                                    AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))))
                BEGIN
                    SET @sSQL = 'SELECT DISTINCT ProductID 
                                FROM MT1001 WITH (NOLOCK) INNER JOIN MT0810 WITH (NOLOCK) ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
                                WHERE ResultTypeID = ''R01'' AND PeriodID = '''+@PeriodID+'''
                                    AND MT1001.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID('''+@DivisionID+'''))
                                    AND ProductID NOT IN (SELECT InventoryID FROM MT1605 WITH (NOLOCK) WHERE CoefficientID ='''+@CoefficientID+'''
                                                            AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID('''+@DivisionID+''')))'
                    IF EXISTS (SELECT TOP 1 1 FROM sysObjects WHERE XType = 'V' AND Name = 'MV5627')
                        DROP VIEW MV5627
                    EXEC('CREATE VIEW  MV5627 ---tao boi MP5627
                        AS ' + @sSQL)
                        
                    SET @sSQL = ''
                    SET @cur = CURSOR SCROLL KEYSET FOR SELECT ProductID FROM MV5627 ORDER BY ProductID
                    
                    OPEN @cur
                    FETCH NEXT FROM @cur INTO @ProductID    
                    While @@FETCH_STATUS = 0 
                        BEGIN
                            SET @sSQL = @sSQL + @ProductID + ', '  
                            FETCH NEXT FROM @cur INTO @ProductID    
                        END
                    
                    SET @Status = 2
                    SET @Message ='MFML000154|' + CASE WHEN LEN(@sSQL) > 180 THEN LEFT(@sSQL, 180) + '....' ELSE LEFT(@sSQL, LEN(@sSQL) - 1) END
                    GOTO EndMess
                END

        IF @MethodID ='D03' ---- Phan bo theo dinh muc
        BEGIN
        	--------- Quan ly theo quy cach
        	IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
			BEGIN
            IF EXISTS ( SELECT DISTINCT MT1001.ProductID, O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
					O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID
								FROM MT1001 WITH (NOLOCK) INNER JOIN MT0810 WITH (NOLOCK) ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
								LEFT JOIN MT8899 O99 WITH (NOLOCK) ON O99.DivisionID = MT1001.DivisionID AND O99.VoucherID = MT1001.VoucherID AND O99.TransactionID = MT1001.TransactionID AND O99.TableID = 'MT1001'
								LEFT JOIN (SELECT DivisionID, ProductID, MT0136.S01ID, MT0136.S02ID, MT0136.S03ID, MT0136.S04ID, MT0136.S05ID, MT0136.S06ID, MT0136.S07ID, MT0136.S08ID,
								MT0136.S09ID, MT0136.S10ID, MT0136.S11ID, MT0136.S12ID, MT0136.S13ID, MT0136.S14ID, MT0136.S15ID, MT0136.S16ID, MT0136.S17ID, MT0136.S18ID, MT0136.S19ID, MT0136.S20ID
											  FROM MT0136 WITH (NOLOCK) WHERE ApportionID = @ApportionID
															AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))) AS G ON G.DivisionID = MT1001.DivisionID AND G.ProductID = MT1001.ProductID AND
															Isnull(G.S01ID,'') = Isnull(O99.S01ID,'') AND Isnull(G.S02ID,'') = Isnull(O99.S02ID,'') AND
															Isnull(G.S03ID,'') = Isnull(O99.S03ID,'') AND Isnull(G.S04ID,'') = Isnull(O99.S04ID,'') AND
															Isnull(G.S05ID,'') = Isnull(O99.S05ID,'') AND Isnull(G.S06ID,'') = Isnull(O99.S06ID,'') AND
															Isnull(G.S07ID,'') = Isnull(O99.S07ID,'') AND Isnull(G.S08ID,'') = Isnull(O99.S08ID,'') AND
															Isnull(G.S09ID,'') = Isnull(O99.S09ID,'') AND Isnull(G.S10ID,'') = Isnull(O99.S10ID,'') AND
															Isnull(G.S11ID,'') = Isnull(O99.S11ID,'') AND Isnull(G.S12ID,'') = Isnull(O99.S12ID,'') AND
															Isnull(G.S13ID,'') = Isnull(O99.S13ID,'') AND Isnull(G.S14ID,'') = Isnull(O99.S14ID,'') AND
															Isnull(G.S15ID,'') = Isnull(O99.S15ID,'') AND Isnull(G.S16ID,'') = Isnull(O99.S16ID,'') AND
															Isnull(G.S17ID,'') = Isnull(O99.S17ID,'') AND Isnull(G.S18ID,'') = Isnull(O99.S18ID,'') AND 
															Isnull(G.S19ID,'') = Isnull(O99.S19ID,'') AND Isnull(G.S20ID,'') = Isnull(O99.S20ID,'')
								WHERE ResultTypeID = 'R01' AND PeriodID = @PeriodID AND Isnull(G.DivisionID,'') = '')
                BEGIN
                    SET @sSQL = 'SELECT DISTINCT MT1001.ProductID, O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
								O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID
								FROM MT1001 WITH (NOLOCK) INNER JOIN MT0810 WITH (NOLOCK) ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
								LEFT JOIN MT8899 O99 WITH (NOLOCK) ON O99.DivisionID = MT1001.DivisionID AND O99.VoucherID = MT1001.VoucherID AND O99.TransactionID = MT1001.TransactionID AND O99.TableID = ''MT1001''
								LEFT JOIN (SELECT DivisionID, ProductID, MT0136.S01ID, MT0136.S02ID, MT0136.S03ID, MT0136.S04ID, MT0136.S05ID, MT0136.S06ID, MT0136.S07ID, MT0136.S08ID,
								MT0136.S09ID, MT0136.S10ID, MT0136.S11ID, MT0136.S12ID, MT0136.S13ID, MT0136.S14ID, MT0136.S15ID, MT0136.S16ID, MT0136.S17ID, MT0136.S18ID, MT0136.S19ID, MT0136.S20ID
											  FROM MT0136 WITH (NOLOCK) WHERE ApportionID = '''+@ApportionID+'''
															AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID('''+@DivisionID+'''))) AS G ON G.DivisionID = MT1001.DivisionID AND G.ProductID = MT1001.ProductID AND
															Isnull(G.S01ID,'''') = Isnull(O99.S01ID,'''') AND Isnull(G.S02ID,'''') = Isnull(O99.S02ID,'''') AND
															Isnull(G.S03ID,'''') = Isnull(O99.S03ID,'''') AND Isnull(G.S04ID,'''') = Isnull(O99.S04ID,'''') AND
															Isnull(G.S05ID,'''') = Isnull(O99.S05ID,'''') AND Isnull(G.S06ID,'''') = Isnull(O99.S06ID,'''') AND
															Isnull(G.S07ID,'''') = Isnull(O99.S07ID,'''') AND Isnull(G.S08ID,'''') = Isnull(O99.S08ID,'''') AND
															Isnull(G.S09ID,'''') = Isnull(O99.S09ID,'''') AND Isnull(G.S10ID,'''') = Isnull(O99.S10ID,'''') AND
															Isnull(G.S11ID,'''') = Isnull(O99.S11ID,'''') AND Isnull(G.S12ID,'''') = Isnull(O99.S12ID,'''') AND
															Isnull(G.S13ID,'''') = Isnull(O99.S13ID,'''') AND Isnull(G.S14ID,'''') = Isnull(O99.S14ID,'''') AND
															Isnull(G.S15ID,'''') = Isnull(O99.S15ID,'''') AND Isnull(G.S16ID,'''') = Isnull(O99.S16ID,'''') AND
															Isnull(G.S17ID,'''') = Isnull(O99.S17ID,'''') AND Isnull(G.S18ID,'''') = Isnull(O99.S18ID,'''') AND 
															Isnull(G.S19ID,'''') = Isnull(O99.S19ID,'''') AND Isnull(G.S20ID,'''') = Isnull(O99.S20ID,'''')
								WHERE ResultTypeID = ''R01'' AND PeriodID = '''+@PeriodID+''' AND Isnull(G.DivisionID,'''') = '''''
								
                    IF EXISTS (SELECT TOP 1 1 FROM sysObjects WHERE XType = 'V' AND Name = 'MV5627')
                        DROP VIEW MV5627
                    EXEC('CREATE VIEW  MV5627 ---tao boi MP5627
                        AS ' + @sSQL)
                        
                    SET @sSQL = ''
                    SET @cur = CURSOR SCROLL KEYSET FOR SELECT ProductID, S01ID, S02ID, S03ID, S04ID, S05ID, S06ID, S07ID, S08ID, S09ID, S10ID,
								S11ID, S12ID, S13ID, S14ID, S15ID, S16ID, S17ID, S18ID, S19ID, S20ID FROM MV5627 ORDER BY ProductID
                    
                    OPEN @cur
                    FETCH NEXT FROM @cur INTO @ProductID, @S01ID, @S02ID, @S03ID, @S04ID, @S05ID, @S06ID, @S07ID, @S08ID, @S09ID, @S10ID,
							@S11ID, @S12ID, @S13ID, @S14ID, @S15ID, @S16ID, @S17ID, @S18ID, @S19ID, @S20ID    
                    While @@FETCH_STATUS = 0 
                        BEGIN
                            SET @sSQL = @sSQL + @ProductID + Isnull(@S01ID,'') + Isnull(@S02ID,'') + Isnull(@S03ID,'') + Isnull(@S04ID,'') + Isnull(@S05ID,'') + Isnull(@S06ID,'') + Isnull(@S07ID,'') + Isnull(@S08ID,'') + Isnull(@S09ID,'') + Isnull(@S10ID,'') +
																Isnull(@S11ID,'') + Isnull(@S12ID,'') + Isnull(@S13ID,'') + Isnull(@S14ID,'') + Isnull(@S15ID,'') + Isnull(@S16ID,'') + Isnull(@S17ID,'') + Isnull(@S18ID,'') + Isnull(@S19ID,'') + Isnull(@S20ID,'') + ', '  
                            FETCH NEXT FROM @cur INTO @ProductID, @S01ID, @S02ID, @S03ID, @S04ID, @S05ID, @S06ID, @S07ID, @S08ID, @S09ID, @S10ID,
							@S11ID, @S12ID, @S13ID, @S14ID, @S15ID, @S16ID, @S17ID, @S18ID, @S19ID, @S20ID    
                        END
                    
                    SET @Status = 2
                    SET @Message ='MFML000152|'-- + CASE WHEN LEN(@sSQL) > 180 THEN LEFT(@sSQL, 180) + '....' ELSE LEFT(@sSQL, LEN(@sSQL) - 1) END
                    GOTO EndMess
                END
			END
			--------<<<------------ Quan ly theo quy cach
			ELSE
				BEGIN
				IF EXISTS ( SELECT DISTINCT MT1001.ProductID
												FROM MT1001 WITH (NOLOCK) INNER JOIN MT0810 WITH (NOLOCK) ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
											
												LEFT JOIN (SELECT DivisionID, ProductID
											  FROM MT0136 WITH (NOLOCK) WHERE ApportionID = @ApportionID
															AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))) AS G ON G.DivisionID = MT1001.DivisionID AND G.ProductID = MT1001.ProductID
								WHERE ResultTypeID = 'R01' AND PeriodID = @PeriodID AND Isnull(G.DivisionID,'') = '')
                BEGIN
                    SET @sSQL = 'SELECT DISTINCT MT1001.ProductID
								FROM MT1001 WITH (NOLOCK) INNER JOIN MT0810 WITH (NOLOCK) ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
								LEFT JOIN (SELECT DivisionID, ProductID
											  FROM MT0136 WITH (NOLOCK) WHERE ApportionID = '''+@ApportionID+'''
															AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID('''+@DivisionID+'''))) AS G ON G.DivisionID = MT1001.DivisionID AND G.ProductID = MT1001.ProductID
								WHERE ResultTypeID = ''R01'' AND PeriodID = '''+@PeriodID+''' AND Isnull(G.DivisionID,'''') = '''''
								
                    IF EXISTS (SELECT TOP 1 1 FROM sysObjects WHERE XType = 'V' AND Name = 'MV5627')
                        DROP VIEW MV5627
                    EXEC('CREATE VIEW  MV5627 ---tao boi MP5627
                        AS ' + @sSQL)
                        
                    SET @sSQL = ''
                    SET @cur = CURSOR SCROLL KEYSET FOR SELECT ProductID FROM MV5627 ORDER BY ProductID
                    
                    OPEN @cur
                    FETCH NEXT FROM @cur INTO @ProductID    
                    While @@FETCH_STATUS = 0 
                        BEGIN
                            SET @sSQL = @sSQL + @ProductID   
                            FETCH NEXT FROM @cur INTO @ProductID    
                        END
                    
                    SET @Status = 2
                    SET @Message ='MFML000152|'-- + CASE WHEN LEN(@sSQL) > 180 THEN LEFT(@sSQL, 180) + '....' ELSE LEFT(@sSQL, LEN(@sSQL) - 1) END
                    GOTO EndMess
                END					
				END
							
		END 
		
        /*
        IF @MethodID ='D04' ---- Phan bo theo nguyen vat lieu (NVL phai thuc hien truoc)
            BEGIN
            IF NOT EXISTS (SELECT MT0621.ProductID FROM MT0621 Full JOIN MT2222 ON  MT0621.ProductID = MT2222.ProductID 
                          WHERE ExpenseID = 'COST001' )                            
                BEGIN

                    SET @Status = 1
                    SET @Message ='S¶n phÈm nµy ch­a ph©n bæ theo NVL .B¹n kh«ng thÓ ph©n bæ chi phÝ ®­îc.'
                    GOTO EndMess
                    --Print @MethodID
                END
        END 
        
        IF @MethodID ='D05' --- phan bo theo luong
            BEGIN
            IF NOT EXISTS (SELECT MT0621.ProductID FROM MT0621 Full JOIN MT2222 ON  MT0621.ProductID = MT2222.ProductID 
                          WHERE ExpenseID = 'COST002' )                            
                BEGIN

                    SET @Status = 1
                    SET @Message ='S¶n phÈm nµy ch­a ph©n bæ theo l­¬ng .B¹n kh«ng thÓ ph©n bæ chi phÝ ®­îc.'
                    GOTO EndMess
                    --Print @MethodID
                END
        END 
        */
        IF @MethodID ='D06' --- Phan bo truc  tiep ket hop he so
             IF EXISTS (SELECT DISTINCT ProductID 
                        FROM MT1001 INNER JOIN MT0810 ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
                        WHERE ResultTypeID = 'R01' AND PeriodID = @PeriodID 
                            AND MT1001.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))
                            AND ProductID NOT IN (SELECT InventoryID FROM MT1605 WHERE CoefficientID = @CoefficientID
                                                    AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))))
                BEGIN
                    SET @sSQL = 'SELECT DISTINCT ProductID 
                                FROM MT1001 INNER JOIN MT0810 ON MT0810.DivisionID = MT1001.DivisionID AND MT0810.VoucherID = MT1001.VoucherID 
                                WHERE ResultTypeID = ''R01'' AND PeriodID = '''+@PeriodID+'''
                                    AND MT1001.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID('''+@DivisionID+'''))
                                    AND ProductID NOT IN (SELECT InventoryID FROM MT1605 WHERE CoefficientID = '''+@CoefficientID+'''
                                                            AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID('''+@DivisionID+''')))'
                    IF EXISTS (SELECT TOP 1 1 FROM sysObjects WHERE XType = 'V' AND Name = 'MV5627')
                        DROP VIEW MV5627
                    EXEC('CREATE VIEW  MV5627 ---tao boi MP5627
                        AS ' + @sSQL)
                        
                    SET @sSQL = ''
                    SET @cur = CURSOR SCROLL KEYSET FOR SELECT ProductID FROM MV5627 ORDER BY ProductID
                    
                    OPEN @cur
                    FETCH NEXT FROM @cur INTO @ProductID    
                    While @@FETCH_STATUS = 0 
                        BEGIN
                            SET @sSQL = @sSQL + @ProductID + ', '  
                            FETCH NEXT FROM @cur INTO @ProductID    
                        END
                    
                    SET @Status = 2
                    SET @Message ='MFML000154|'+ CASE WHEN LEN(@sSQL) > 180 THEN LEFT(@sSQL, 180) + '....' ELSE LEFT(@sSQL, LEN(@sSQL) - 1) END
                    GOTO EndMess
                END

        IF @MethodID ='D07' --- Phanbo truc tiep ket hop dinh muc
            BEGIN
            IF EXISTS ( SELECT DISTINCT ProductID 
                        FROM MT1001 INNER JOIN MT0810 ON MT0810.VoucherID = MT1001.VoucherID 
                        WHERE ResultTypeID = 'R01' AND PeriodID = @PeriodID 
                            AND MT1001.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))
                            AND ProductID NOT IN (SELECT ProductID FROM MT1603 WHERE ApportionID = @ApportionID
                                                    AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))))
                BEGIN
                    SET @sSQL = 'SELECT DISTINCT ProductID 
                                FROM MT1001 INNER JOIN MT0810 ON MT0810.VoucherID = MT1001.VoucherID 
                                WHERE ResultTypeID = ''R01'' AND PeriodID = '''+@PeriodID+'''
                                    AND MT1001.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID('''+@DivisionID+'''))
                                    AND ProductID NOT IN (SELECT ProductID FROM MT1603 WHERE ApportionID = '''+@ApportionID+'''
                                                            AND DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID('''+@DivisionID+''')))'
                    IF EXISTS (SELECT TOP 1 1 FROM sysObjects WHERE XType = 'V' AND Name = 'MV5627')
                        DROP VIEW MV5627
                    EXEC('CREATE VIEW  MV5627 ---tao boi MP5627
                        AS ' + @sSQL)
                        
                    SET @sSQL = ''
                    SET @cur = CURSOR SCROLL KEYSET FOR SELECT ProductID FROM MV5627 ORDER BY ProductID
                    
                    OPEN @cur
                    FETCH NEXT FROM @cur INTO @ProductID    
                    While @@FETCH_STATUS = 0 
                        BEGIN
                            SET @sSQL = @sSQL + @ProductID + ', '  
                            FETCH NEXT FROM @cur INTO @ProductID    
                        END
                    
                    SET @Status = 2
                    SET @Message ='MFML000152|' + CASE WHEN LEN(@sSQL) > 180 THEN LEFT(@sSQL, 180) + '....' ELSE LEFT(@sSQL, LEN(@sSQL) - 1) END
                    GOTO EndMess
                    --Print @MethodID
                END
        END 

        FETCH NEXT FROM @Expense_627  INTO  @MethodID, @CoefficientID, @ApportionID, @MaterialTypeID  
    END

CLOSE @Expense_627

EndMess:
SET NOCOUNT OFF
RETURN @Status
RETURN @Message

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
