IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP8006]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP8006]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



---- CREATE BY Hoang Thi Lan, date 18/11/2003
---- purpose:     Tinh chi phi do dang dau ky cho PP cap nhat bang tay.
----        duoc goi tu store MP8001

/********************************************
'* Edited BY: [GS] [Hoàng Phước] [02/08/2010]
'********************************************/
---- Modified by Tiểu Mai on 23/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
---- Modified by Kim Thư on 21/12/2018: Bổ sung @UserID và @VoucherNo để đưa vào MT1613 -> không load màn hình MF0009 -> cải tiến tốc độ
---- Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.

CREATE PROCEDURE  [dbo].[MP8006] 
                @DivisionID AS nvarchar(50), 
				@UserID AS VARCHAR(50), 
                @PeriodID  nvarchar(50), 
                @TranMonth INT, 
                @TranYear INT,
				@VoucherNo NVARCHAR(50) 
         
AS
DECLARE @LisProduct_Cur AS CURSOR, 
    @VoucherID AS nvarchar(50), 
    @TransactionID AS nvarchar(50), 
    @CMonth AS nvarchar(20), 
    @CYear AS nvarchar(20), 
    @ProductID AS nvarchar(50), 
    @WipQuantity AS DECIMAL(28, 8), 
    @ConvertedAmount AS DECIMAL(28, 8), 
    @MaterialID AS nvarchar(50), 
    @ExpenseID AS nvarchar(50), 
    @MaterialTypeID AS nvarchar(50), 
    @MaterialUnitID AS nvarchar(50), 
    @ProductUnitID AS nvarchar(50), 
    @ProductQuantity AS DECIMAL(28, 8), 
    @ConvertedUnit AS DECIMAL(28, 8)

---- Lay tu bang MT1612 roi INSERT vao bang MT1613
--print 'Chp DD DKY 2'
IF @TranMonth >9
    SET @CMonth = ltrim(rtrim(str(@TranMonth)))
ELSE
    SET @CMonth = '0'+ltrim(rtrim(str(@TranMonth)))

SET @CYear =right(Ltrim(rtrim(str(@TranYear))), 2)


EXEC AP0000 @DivisionID, @VoucherID  OUTPUT, 'MT1613', 'IV', @CMonth, @CYear, 16, 3, 0, '-'    

DELETE  FROM MT1613  WHERE DivisionID= @DivisionID AND PeriodID = @PeriodID AND TranMonth = @TranMonth AND  
        TranYear =@TranYear  AND Type ='B'     

-- Lấy thông tin master cho MT1613
DECLARE @UnfinishCostVoucherTypeID VARCHAR(50),
		@UnfinishCostDescription NVARCHAR(1000),
		@PeriodStr VARCHAR(20)

SET @UnfinishCostVoucherTypeID = (SELECT ISNULL(UnfinishCostVoucherTypeID,'CPDD') FROM MT0000 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @UnfinishCostDescription = (SELECT ISNULL(UnfinishCostDescription + ' ',N'Chi phí dở dang ') FROM MT0000 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @PeriodStr = CASE WHEN @TranMonth < 10 THEN '0' + ltrim(@TranMonth) + ltrim(@TranYear) ELSE ltrim(@TranMonth) + ltrim(@TranYear) END

 
SET @LisProduct_Cur  = CURSOR SCROLL KEYSET FOR 
    SELECT     ProductID, 
            SUM(ISNULL(WipQuantity, 0)), --- So luong nguyen vat lieu do dang cho san pham
        SUM(ISNULL(ConvertedAmount, 0)), --- Tong chi phi do dang cho san pham
        MaterialID, 
        ExpenseID, 
        MaterialTypeID, 
        SUM(ISNULL(ProductQuantity, 0)), 
        ConvertedUnit, 
        AT1302_P.UnitID AS ProductUnitID, 
        AT1302_M.UnitID AS MaterialUnitID
FROM MT1612 WITH (NOLOCK) LEFT JOIN  AT1302 AT1302_P WITH (NOLOCK) ON MT1612.ProductID = AT1302_P.InventoryID
        LEFT JOIN AT1302 AT1302_M WITH (NOLOCK) ON MT1612.MaterialID = AT1302_M.InventoryID AND AT1302_M.DivisionID IN (MT1612.DivisionID,'@@@')
WHERE MT1612.DivisionID = @DivisionID  
    AND PeriodID =@PeriodID AND TranMonth = @TranMonth AND TranYear = @TranYear    AND Type = 'B'
GROUP BY ProductID, MaterialID, ExpenseID, MaterialTypeID, ConvertedUnit, AT1302_P.UnitID, AT1302_M.UnitID

OPEN @LisProduct_Cur 
FETCH NEXT FROM @LisProduct_Cur INTO  @ProductID, @WipQuantity, @ConvertedAmount, @MaterialID, 
    @ExpenseID, @MaterialTypeID, @ProductQuantity, @ConvertedUnit, @ProductUnitID, @MaterialUnitID
WHILE @@Fetch_Status = 0
BEGIN            
    EXEC AP0000 @DivisionID, @TransactionID  OUTPUT, 'MT1613', 'IT', @CMonth, @CYear, 18, 3, 0, '-'
    
    INSERT into MT1613 (PeriodID, TranMonth, TranYear, DivisionID, VoucherID, TransactionID, 
        ProductID, MaterialID, ExpenseID, MaterialTypeID, 
        ProductUnitID, 
        MaterialUnitID, MaterialQuantity, ConvertedAmount, ProductQuantity, 
        ConvertedUnit, Type, VoucherTypeID, VoucherNo, VoucherDate, EmployeeID, Description, LastModifyUserID, LastModifyDate, CreateUserID, CreateDate
		)
    VALUES ( @PeriodID, @TranMonth, @TranYear, @DivisionID, @VoucherID, @TransactionID, 
        @ProductID, @MaterialID, @ExpenseID, @MaterialTypeID, 
        @ProductUnitID, 
        @MaterialUnitID, @WipQuantity, @ConvertedAmount, @ProductQuantity, 
        @ConvertedUnit, 'B', @UnfinishCostVoucherTypeID, @VoucherNo, GETDATE(), @UserID, @UnfinishCostDescription + @PeriodStr, @UserID, GETDATE(), @UserID, GETDATE() 
		)
        
    FETCH NEXT FROM @LisProduct_Cur INTO  @ProductID, @WipQuantity, @ConvertedAmount, @MaterialID, 
            @ExpenseID, @MaterialTypeID, @ProductQuantity, @ConvertedUnit, @ProductUnitID, @MaterialUnitID
END
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
