IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP8002]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP8002]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


----- Created BY Hoang Thi Lan
----- Date 12/11/2003.
----- Purpose: Tinh gia tri san pham do dang cuoi ky
----- Modify on 19/05/2014 by Bảo Anh: Nếu tồn tại MT2222 thì xóa bảng rồi tạo lại
----- Modified by Tiểu Mai on 12/01/2016: Bổ sung trường hợp có thiết lập quản lý mặt hàng theo quy cách.
----- Modified by Tiểu Mai on 06/06/2016: Bổ sung WITH (NOLOCK)
----- Modified by Tiểu Mai on 23/05/2017: Bổ sung chỉnh sửa danh mục dùng chung
----- Modified by Kim Thư on 21/12/2018: Bổ sung @UserID để đưa vào MT1613 -> không load màn hình MF0009 -> cải tiến tốc độ
----- Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
CREATE PROCEDURE [dbo].[MP8002] @DivisionID AS NVARCHAR(50), 
				@UserID AS VARCHAR(50), 
                @PeriodID AS NVARCHAR(50), 
                @TranMonth AS INT, 
                @TranYear AS INT, 
                @InProcessID AS NVARCHAR(50), 
                @VoucherID AS NVARCHAR(50), 
                @CMonth AS NVARCHAR(50), 
                @CYear AS NVARCHAR(50),
				@VoucherNo NVARCHAR(50)
AS
DECLARE @sSQL AS VARCHAR(8000),
		@sSQL1 AS NVARCHAR(MAX), 
		@EndMethodID AS tinyint

SET NOCOUNT ON

----- Buoc 1: Xac dinh san pham do dang.
IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
	SET @sSQL ='
	SELECT  D10.DivisionID, 
			D10.ProductID AS ProductID, 
			AT1302.InventoryTypeID, 
			D10.UnitID, 
			SUM(D10.Quantity) AS ProductQuantity, 
			PerfectRate, ---- Ty le % hoan thanh cua san pham
			MaterialRate, ---- Ty le % NVL dua dan vao sP
			HumanResourceRate, ---- Ty le % Nhan cong dua dan vao sP
			OthersRate,        ---- Ty le % SXC dua dan vao sP
			O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
			O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID
	FROM MT1001 D10 WITH (NOLOCK) INNER JOIN MT0810 D08 WITH (NOLOCK) ON D08.VoucherID = D10.VoucherID AND D08.DivisionID = D10.DivisionID        
				  INNER JOIN AT1302 WITH (NOLOCK) ON  AT1302.InventoryID = D10.ProductID AND AT1302.DivisionID IN (D10.DivisionID,''@@@'')
				  LEFT JOIN MT8899 O99 WITH (NOLOCK) ON O99.DivisionID = D10.DivisionID AND O99.VoucherID = D10.VoucherID AND O99.TransactionID = D10.TransactionID AND O99.TableID = ''MT1001''
	WHERE D08.PeriodID = '''+@PeriodID+''' AND
		D08.DivisionID ='''+@DivisionID+''' AND
		D08.ResultTypeID =''R03''     --- Chi lay cac chi phi do dang cuoi ky
	GROUP  BY 
		D10.DivisionID, D10.ProductID, AT1302.InventoryTypeID, 
		D10.UnitID, PerfectRate, MaterialRate, HumanResourceRate, OthersRate,
		O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
		O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID '     

ELSE
	SET @sSQL ='
	SELECT  D10.DivisionID, 
			D10.ProductID AS ProductID, 
			AT1302.InventoryTypeID, 
			D10.UnitID, 
			SUM(D10.Quantity) AS ProductQuantity, 
			PerfectRate, ---- Ty le % hoan thanh cua san pham
			MaterialRate, ---- Ty le % NVL dua dan vao sP
			HumanResourceRate, ---- Ty le % Nhan cong dua dan vao sP
			OthersRate        ---- Ty le % SXC dua dan vao sP
	FROM MT1001 D10 WITH (NOLOCK) INNER JOIN MT0810 D08 WITH (NOLOCK) ON D08.VoucherID = D10.VoucherID AND D08.DivisionID = D10.DivisionID        
				  INNER JOIN AT1302 WITH (NOLOCK) ON  AT1302.InventoryID = D10.ProductID AND AT1302.DivisionID IN (D10.DivisionID,''@@@'')
	WHERE D08.PeriodID = '''+@PeriodID+''' AND
		D08.DivisionID ='''+@DivisionID+''' AND
		D08.ResultTypeID =''R03''     --- Chi lay cac chi phi do dang cuoi ky
	GROUP  BY 
	   D10.DivisionID, D10.ProductID, AT1302.InventoryTypeID, 
	   D10.UnitID, PerfectRate, MaterialRate, HumanResourceRate, OthersRate '     

IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id(N'[dbo].[MT2222]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
	DROP TABLE MT2222

CREATE TABLE [dbo].[MT2222] (
    [DivisionID] NVARCHAR (50) NULL, 
    [ProductID] NVARCHAR (50) NULL, 
    [InventoryTypeID] NVARCHAR (50) NULL, 
    [UnitID] NVARCHAR (50) NULL, 
    [ProductQuantity] DECIMAL(28, 8) NULL, 
    [PerfectRate] DECIMAL(28, 8) null, 
    [MaterialRate] DECIMAL(28, 8) null, 
    [HumanResourceRate] DECIMAL(28, 8) null, 
    [OthersRate] DECIMAL(28, 8) null, 
	PS01ID NVARCHAR(50) NULL,
    PS02ID NVARCHAR(50) NULL,
    PS03ID NVARCHAR(50) NULL,
    PS04ID NVARCHAR(50) NULL,
    PS05ID NVARCHAR(50) NULL,
    PS06ID NVARCHAR(50) NULL,
    PS07ID NVARCHAR(50) NULL,
    PS08ID NVARCHAR(50) NULL,
    PS09ID NVARCHAR(50) NULL,
    PS10ID NVARCHAR(50) NULL,
    PS11ID NVARCHAR(50) NULL,
    PS12ID NVARCHAR(50) NULL,
    PS13ID NVARCHAR(50) NULL,
    PS14ID NVARCHAR(50) NULL,
    PS15ID NVARCHAR(50) NULL,
    PS16ID NVARCHAR(50) NULL,
    PS17ID NVARCHAR(50) NULL,
    PS18ID NVARCHAR(50) NULL,
    PS19ID NVARCHAR(50) NULL,
    PS20ID NVARCHAR(50) NULL,
    ) ON [PRIMARY]
    

DELETE MT2222  --- bang tam 
IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
SET @sSQL1 = '
    INSERT MT2222(DivisionID, ProductID, InventoryTypeID, UnitID, ProductQuantity, PerfectRate, MaterialRate, HumanResourceRate, OthersRate,   
                 PS01ID, PS02ID, PS03ID, PS04ID, PS05ID, PS06ID, PS07ID, PS08ID, PS09ID, PS10ID,
				 PS11ID, PS12ID, PS13ID, PS14ID, PS15ID, PS16ID, PS17ID, PS18ID, PS19ID, PS20ID) 
    
    '             
ELSE
	SET @sSQL1 = '
    INSERT MT2222( DivisionID, ProductID, InventoryTypeID, UnitID, ProductQuantity, PerfectRate, MaterialRate, HumanResourceRate, OthersRate   
                 ) 
    
    ' 
EXEC (@sSQL1 + @sSQL)


SELECT @EndMethodID = EndMethodID FROM MT1608 WITH (NOLOCK) WHERE InprocessID = @InprocessID and DivisionID = @DivisionID

IF @EndMethodID = 0   --- Tinh toan so lieu
   BEGIN 
----- Buoc 2: Xac dinh CP DD cho NVL TT
    EXEC    MP8621 @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @InProcessID, @VoucherID, @CMonth, @CYear, @VoucherNo

----- Buoc 3: Xac dinh CP DD cho NC TT
    EXEC    MP8622 @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @InProcessID, @VoucherID, @CMonth, @CYear, @VoucherNo
	
----- Buoc 4: Xac dinh CP DD cho CP SXC
    EXEC    MP8627 @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @InProcessID, @VoucherID, @CMonth, @CYear, @VoucherNo
   END
ELSE
	BEGIN
		IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
			EXEC     MP8011_QC  @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @VoucherNo
		ELSE
			EXEC     MP8011  @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @VoucherNo
			
	END	
	
SET NOCOUNT OFF

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
