IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP8201_GOD]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP8201_GOD]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Tính chi phí dở dang cuối kỳ cho NVL TT theo PP ước lượng tương đương
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
--Created by Hoang Thi Lan Date 12/11/2003
--Purpose :TÝnh chi phÝ dë dang cuèi kú cho NC TT theo PP ¦íc l­îng t­¬ng ®­¬ng
--Edit by Nguyen Quoc Huy, Date 06/03/2004
--Edit by: Dang Le Bao Quynh, Date 30/05/2007
--Purpose: Sua cach lay so lieu do dang dau ky tu bang MT1613 thay cho MT1612
---- Modified on 05/04/2012 by Nguyễn Bình Minh: Viết lại hoàn toàn để cải tiến tốc độ
---- Modified by Kim Thư on 21/12/2018: Bổ sung @UserID và @VoucherNo để đưa vào MT1613 -> không load màn hình MF0009 -> cải tiến tốc độ
-- <Example>
----EXEC MP8201_GOD N'GOD', N'DTTHCP022017', 2, 2017, 'I01', '123', '02', '2017'

CREATE PROCEDURE MP8201_GOD 
(
	@DivisionID as varchar(20),
	@UserID AS VARCHAR(50), 
	@PeriodID as varchar(20),
	@TranMonth as int,
	@TranYear as int,
	@MaterialTypeID as varchar(20),
	@VoucherID as varchar(20), 
	@CMonth as varchar(20), 
	@CYear as varchar(20),
	@VoucherNo NVARCHAR(50) 
)

AS 

/*
Declare @sSQL as varchar(8000),
	@BSumConverted622 as money,		--Chi phÝ NVL ®Çu kú
	@ISumConverted622 as money,		--Chi phÝ NVL trong kú
	@Quantity as int,			--Sè l­îng thµnh phÈm
	@QuantityInprocess as int,		--Sè l­¬ng dë dang cuèi kú
	@MaterialRate as money	,		--TØ lÖ % NVL
	@MaterialID as varchar(20),
	@ListMaterial_cur as cursor ,
	@MaterialQuantity as int ,
	@ConvertedAmount as money ,
	@ProductQuantity as int ,
	@InprocessCost as money,
	@ProductID as varchar(20),
	@PerfectRate as money,
	@InProcessQuantity as decimal(28,8),
	@HumanResourceRate as money,
	@OthersRate as money,
	@ProductQuantityEnd as int,
	@QuantityUnit as Decimal(28,8),
	@ConvertedUnitEnd as money,
	@TransactionID as varchar(20),
	@ProductUnitID as varchar(20),
	@MaterialUnitID as varchar(20),
	@ListProduct_cur as cursor,
	@ListMaterial_cur1 as cursor,
	@ConvertedDecimal int,
	@SumInProcessQuantity as money

Set Nocount on

Select @ConvertedDecimal= ConvertDecimal From MT0000

Set @sSQL='
	Select 	 Sum(Isnull(MaterialQuantity,0)) as MaterialQuantity,
		Sum(Isnull(convertedAmount,0)) as ConvertedAmount,
		ProductID,	--- Ma thanh pham
		---- So luong thanh pham duoc san xuat trong ky
		ProductQuantity = (Select sum(Quantity)  From MT1001 inner join MT0810 on MT0810.VoucherID = MT1001.VoucherID 
					            Where MT1001.ProductID = MT0400.ProductID and 
							Mt0810.ResultTypeID =''R01'' and MT0810.PeriodID = '''+@PeriodID+'''  and Mt0810.DivisionID ='''+@DivisionID+'''),

		AT1302_P.UnitID as ProductUnitID,
		MT0400.MaterialTypeID
	 From MT0400  left join AT1302 AT1302_P on MT0400.ProductID = AT1302_P .InventoryID
	
	Where 	DivisionID =''' + @DivisionID+''' and
		PeriodID = ''' + @PeriodID+''' and
		ExpenseID = ''COST002'' and
		ProductID in (Select ProductID From  MT2222)
	Group by  MT0400.MaterialTypeID, ProductID, ProductQuantity , AT1302_P.UnitID '


If not exists (Select top 1 1 From SysObjects Where name = 'MV8201' and Xtype ='V')
	Exec ('Create view MV8201 as '+@sSQL)

Else
	Exec ('Alter view MV8201 as '+@sSQL)


Set @ListProduct_cur  = Cursor Scroll KeySet FOR 
Select 			 MV8201.MaterialQuantity,   ---So luong NVL phat sinh trong ky
			 MV8201.ConvertedAmount,  ---- Chi phi cua NVL phat sinh trong ky
			 MV8201.ProductID , 		--- Ma san pham
			 MV8201.ProductQuantity,   -- So luong thanh pham hoan thanh
			Isnull(MT2222.ProductQuantity,0)*Isnull(MT2222.HumanResourceRate,0)/100 ,--as InPocessQuantity,   --- So luong thanh pham do dang quy doi
			 MT2222.PerfectRate,			--% hoµn thµnh	
			 MT2222.MaterialRate,			--%NVL
			 MT2222.HumanResourceRate,  ---%NC TT
			 MT2222.OthersRate,			--%SXC
			 MT2222.ProductQuantity  , 	--S« l­îng SP DD cuèi kú
			 MV8201.ProductUnitID		
		From MV8201 left join MT2222 on MV8201.ProductID  = MT2222.ProductID 
Where MV8201.MaterialTypeID =@MaterialTypeID
Union All 
	 Select 		
			0 as MaterialQuantity,
			0 as ConvertedAmount,
			MT1613.ProductID,
			ProductQuantity = isnull((Select sum(isnull(Quantity,0)) 	From MT1001 inner join MT0810 on MT0810.VoucherID = MT1001.VoucherID
									Where 	MT1001.ProductID = MT1613.ProductID and
										MT0810.PeriodID =@PeriodID and
										MT0810.ResultTypeID = 'R01' and --- ket qua san xuat la thanh pham
										MT0810.DivisionID =@DivisionID),0),
			Isnull(MT2222.ProductQuantity,0)*Isnull(MT2222.HumanResourceRate,0)/100 as InPocessQuantity, 
			MT2222.PerfectRate,MT2222.MaterialRate,MT2222.HumanresourceRate,MT2222.OthersRate,
			MT2222.ProductQuantity, 
			IP.UnitID as ProductUnitID
		
	From  MT1613 	left join MT2222 on MT2222.ProductID = MT1613.ProductID
			Left join AT1302 as IP on IP.InventoryID = MT1613.ProductID 
	Where   MT1613.ProductID not in (Select Distinct ProductID From MT0400 
						Where DivisionID =@DivisionID and PeriodID =@PeriodID and 
							MaterialTypeID = @MaterialTypeID and
							ExpenseID ='COST002'  )  and --- khong co phat sinh duoc phan bo
		MT1613.PeriodID = @PeriodID and
		MT1613.DivisionID = @DivisionID and
		MT1613.MaterialTypeID = @MaterialTypeID and
		MT1613.ExpenseID = 'COST002'

	Open @ListProduct_cur 
		FETCH NEXT FROM @ListProduct_cur INTO
		@MaterialQuantity ,@ConvertedAmount ,@ProductID ,@ProductQuantity ,@InProcessQuantity ,@PerfectRate ,@MaterialRate , 
		@HumanResourceRate ,@OthersRate ,@ProductQuantityEnd ,@ProductUnitID  


		WHILE @@Fetch_Status = 0
			Begin	
		--B­íc 1 :X¸c ®Þnh chi phÝ NC DD ®Çu kú 
			
			Set @BSumConverted622 = (  Select 	sum(Isnull(ConvertedAmount,0))
				      From 	MT1613
				      Where 	DivisionID= @DivisionID and  PeriodID =  @PeriodID and
						TranMonth=@TranMonth and TranYear = @TranYear  and
						ExpenseID = 'COST002'  and
						MaterialTypeID = @MaterialTypeID and ProductID=@ProductID )

		--B­íc 2:X¸c ®Þnh chi phÝ NC ph¸t sinh trong kú
			Set @ISumConverted622 = @ConvertedAmount
		
		--B­íc 3:TÝnh chi phÝ DD CKú  NVL theo PP ¦íc l­îng t­¬ng ®­¬ng
		If ( Isnull(@ProductQuantity,0) +Isnull(@InProcessQuantity,0) <> 0)
			Begin
				--Set @InprocessCost = (Isnull(@BSumConverted622,0) + Isnull(@ISumConverted622,0) ) *Isnull(@InProcessQuantity,0)/(Isnull(@ProductQuantity,0) +Isnull(@InProcessQuantity,0))
				Set @InprocessCost = Round((Isnull(@BSumConverted622,0) + Isnull(@ISumConverted622,0) ) *Isnull(@InProcessQuantity,0)/(Isnull(@ProductQuantity,0) +Isnull(@InProcessQuantity,0)), @ConvertedDecimal)
			End	
		
		Else 
			Set @InprocessCost = 0 
		
	
	--X¸c ®Þnh Chi phÝ NC cho 1 san pham do dang
		If (@ProductQuantityEnd <> 0)
		Set @ConvertedUnitEnd = Isnull(@InprocessCost,0)/@ProductQuantityEnd
		Else 
		Set @ConvertedUnitEnd = 0


	Exec AP0000  @TransactionID  OUTPUT, 'MT1613', 'IT', @CMonth, @CYear ,18, 3, 0, '-'


	Insert MT1613 (PeriodID,TranMonth,   TranYear, DivisionID,   VoucherID,            TransactionID,       
			ProductID,            MaterialID,           ExpenseID ,           MaterialTypeID,    ProductUnitID,  MaterialUnitID,PerfectRate ,
		              MaterialQuantity,        ConvertedAmount,
			  ProductQuantity ,              QuantityUnit ,                  ConvertedUnit,                 
			 CreateDate,                  CreateUserID,              Type,  MaterialRate ,  HumanResourceRate , OthersRate     )

	Values  (@PeriodID,@TranMonth,   @TranYear, @DivisionID,    @VoucherID,            @TransactionID,                      
		@ProductID,            @MaterialID,   'COST002' ,           @MaterialTypeID,    @ProductUnitID, @MaterialUnitID , @PerfectRate,
		@MaterialQuantity, @InprocessCost,
		@ProductQuantityEnd,@QuantityUnit, @ConvertedUnitEnd,
		Getdate(),Null, 'E' , @MaterialRate , @HumanResourceRate , @OthersRate     )
	FETCH NEXT FROM @ListProduct_cur INTO
	@MaterialQuantity ,@ConvertedAmount ,@ProductID ,@ProductQuantity ,@InProcessQuantity ,@PerfectRate ,@MaterialRate , 
	@HumanResourceRate ,@OthersRate ,@ProductQuantityEnd ,@ProductUnitID  
	End
	Close @ListProduct_cur
Set Nocount off
*/

--PRINT 'MP8102 - ' + @MaterialTypeID
--return

/*
SET NOCOUNT ON
DECLARE	@ConvertedDecimal INT,
		@ID AS UNIQUEIDENTIFIER,
		@TransactionID AS VARCHAR(50),
		@cTransID AS CURSOR

DECLARE @KeyLength AS INT
SET @KeyLength = 18

DECLARE 	@TotalKeys AS INT, -- Tong so khoa muon danh rieng
			@IGEID AS VARCHAR(20),
			@KeyString AS VARCHAR(20),
			@KeyFrom AS INT,
			@KeyTo AS INT,
			@Num AS INT 
		
SELECT @ConvertedDecimal = ConvertDecimal FROM MT0000 WHERE DivisionID = @DivisionID

--- Tinh so luong thanh pham duoc san xuat trong ky
SELECT		MT1001.ProductID,
			SUM(MT1001.Quantity) AS ProductQuantity
INTO		#MP8201_ProductQuantity
FROM		MT1001 
INNER JOIN	MT0810 
		on	MT0810.VoucherID = MT1001.VoucherID 
WHERE		MT0810.PeriodID = @PeriodID 
			AND MT0810.ResultTypeID = 'R01'  
			AND MT0810.DivisionID = @DivisionID
			AND MT1001.ProductID IN (SELECT ProductID FROM  MT2222)
GROUP BY	MT1001.ProductID
		 
SELECT	MV8201.*,
		MT2222.ProductQuantity * ISNULL(MT2222.HumanResourceRate, 0) / 100 AS InProcessQuantity,   --- So luong thanh pham do dang quy doi
		MT2222.PerfectRate,			MT2222.MaterialRate,
		MT2222.HumanresourceRate,	MT2222.OthersRate,
		MT2222.ProductQuantity AS ProductQuantityEnd -- So luong san pham do dang cuoi ky
INTO	#MP8201_ListProduct 				
FROM	(						
			SELECT 		SUM(MaterialQuantity) AS MaterialQuantity,
						SUM(ConvertedAmount) AS ConvertedAmount,
						MT0400.ProductID,	--- Ma thanh pham
						PQ.ProductQuantity, --- So luong thanh pham duoc san xuat trong ky
						AT1302_P.UnitID AS ProductUnitID
			FROM		MT0400  
			LEFT JOIN	AT1302 AT1302_P
					ON	MT0400.ProductID = AT1302_P .InventoryID
			LEFT JOIN	#MP8201_ProductQuantity PQ
					ON	PQ.ProductID = MT0400.ProductID
			WHERE 		PeriodID = @PeriodID AND
						DivisionID = @DivisionID AND						
						ExpenseID = 'COST002' AND
						MT0400.ProductID IN (SELECT ProductID FROM  MT2222) AND		
						MaterialTypeID = @MaterialTypeID
			GROUP BY	MT0400.ProductID, PQ.ProductQuantity , AT1302_P.UnitID
			UNION ALL
			SELECT		0 AS MaterialQuantity,
						0 AS ConvertedAmount,
						MT1613.ProductID,
						PQ.ProductQuantity, 
						IP.UnitID AS ProductUnitID
			FROM		MT1613
			LEFT JOIN	#MP8201_ProductQuantity PQ 
					ON	PQ.ProductID = MT1613.ProductID
			LEFT JOIN   AT1302 IP
					ON	IP.InventoryID = MT1613.ProductID
			WHERE		PeriodID = @PeriodID
						AND DivisionID = @DivisionID
						AND ExpenseID = 'COST002'   
						AND MT1613.ProductID IN (SELECT ProductID FROM  MT2222) 
						AND MaterialTypeID = @MaterialTypeID
						AND NOT EXISTS(	SELECT TOP 1 1 FROM MT0400 
										WHERE	MT0400.PeriodID = @PeriodID AND
												MT1613.ProductID = MT0400.ProductID AND 											 
												MT0400.DivisionID = @DivisionID AND 
												MT0400.ExpenseID = 'COST002' AND
												MT0400.MaterialTypeID = @MaterialTypeID)
		)	MV8201
LEFT JOIN	MT2222 
		ON	MV8201.ProductID  = MT2222.ProductID

-- Buoc 1: Xac dinh chi phi NC do dang dau ky cho tong NC
-- Ket qua chi phi do dang
SELECT		ProductID,										
			SUM(ConvertedAmount) AS BSumConverted622
INTO		#MP8201_InProcessHumanResourcePeriod			
FROM		MT1613
WHERE		PeriodID = @PeriodID
			AND DivisionID = @DivisionID  
			AND TranMonth = @TranMonth and TranYear = @TranYear
			AND MaterialTypeID = @MaterialTypeID
			AND ExpenseID = 'COST002' 
			AND EXISTS(	SELECT TOP 1 1 FROM #MP8201_ListProduct LST 
						WHERE LST.ProductID = MT1613.ProductID)
GROUP BY	ProductID	

SELECT		CONVERT(VARCHAR(20), '') AS TransactionID,
			LP.ProductID,						           
			LP.ProductUnitID,			LP.PerfectRate,
			LP.MaterialQuantity,
			---Chi phi NC/1SPDD			 
			CASE WHEN ISNULL(LP.ProductQuantity, 0) + ISNULL(LP.InProcessQuantity, 0) <> 0 THEN
				ROUND((ISNULL(IPH.BSumConverted622, 0) + ISNULL(LP.ConvertedAmount, 0)) * ISNULL(LP.InProcessQuantity, 0) / (ISNULL(LP.ProductQuantity, 0) + ISNULL(LP.InProcessQuantity,0)), @ConvertedDecimal)
			ELSE 0 END AS ConvertedAmount, --=HumanResourceInprocessCost
			LP.ProductQuantityEnd AS ProductQuantity,
			---Chi phi NC/1SPDD
			CASE WHEN ISNULL(LP.ProductQuantityEnd, 0) <> 0 THEN				
				CASE WHEN ISNULL(LP.ProductQuantity, 0) + ISNULL(LP.InProcessQuantity, 0) <> 0 THEN
					ROUND((ISNULL(IPH.BSumConverted622, 0) + ISNULL(LP.ConvertedAmount, 0)) * ISNULL(LP.InProcessQuantity, 0) / (ISNULL(LP.ProductQuantity, 0) + ISNULL(LP.InProcessQuantity,0)), @ConvertedDecimal)
				ELSE 0 END / LP.ProductQuantityEnd	-- MaterialInprocessCost/ProductQuantityEnd,
			ELSE 0 END AS ConvertedUnit, --=ConvertedUnitEnd
			LP.MaterialRate,			LP.HumanResourceRate,	LP.OthersRate			
INTO		#MP8201_Result						
FROM		#MP8201_ListProduct LP
LEFT JOIN	#MP8201_InProcessHumanResourcePeriod IPH
		ON	IPH.ProductID = LP.ProductID
			
SET @TotalKeys = @@ROWCOUNT

SET @IGEID = 'IT' + @CMonth + @CYear
EXEC AP0003 @DivisionID, @IGEID, 'MT1613', @TotalKeys, @KeyString OUT, @KeyFrom OUTPUT, @KeyTo OUTPUT
SET @Num = -1

UPDATE	#MP8201_Result
SET		@Num = @Num + 1,
		TransactionID = REPLACE(@KeyString + STR(@KeyFrom + @Num, @KeyLength - LEN(@KeyString)), ' ', '0')

INSERT INTO MT1613 (
			PeriodID,					TranMonth,				TranYear, 
			DivisionID,					VoucherID,				TransactionID,       
			ProductID,					ExpenseID,				
			MaterialTypeID,				ProductUnitID,			PerfectRate,
			MaterialQuantity,			ConvertedAmount,
			ProductQuantity ,           ConvertedUnit,                 
			CreateDate,					CreateUserID,           Type,  
			MaterialRate,				HumanResourceRate,		OthersRate)
SELECT		@PeriodID,					@TranMonth,				@TranYear, 
			@DivisionID,				@VoucherID,				TransactionID,
			ProductID,					'COST002',           
			@MaterialTypeID,			ProductUnitID,			PerfectRate,
			MaterialQuantity,			ConvertedAmount,
			ProductQuantity ,			ConvertedUnit,                  
			GETDATE(),					'ASOFTADMIN',           'E',  
			MaterialRate,				HumanResourceRate,		OthersRate	
FROM		#MP8201_Result

DROP TABLE #MP8201_ProductQuantity, #MP8201_ListProduct, #MP8201_InProcessHumanResourcePeriod, #MP8201_Result
*/


SET NOCOUNT ON
DECLARE	@ConvertedDecimal INT,
		@QuantityDecimal INT,
		@ID AS UNIQUEIDENTIFIER,
		@TransactionID AS VARCHAR(50),
		@cTransID AS CURSOR

DECLARE @CoefficientID AS NVARCHAR(50)
SELECT	@CoefficientID = CoefficientID
FROM	MT5001
WHERE	ExpenseID = 'COST002' AND DistributionID = (SELECT TOP 1 DistributionID FROM MT1601 WHERE PeriodID = @PeriodID)
		AND IsDistributed = 1

SELECT	@ConvertedDecimal = ConvertDecimal,
		@QuantityDecimal = QuantityDecimal
FROM	MT0000 
WHERE	DivisionID = @DivisionID

DECLARE @KeyLength AS INT
SET @KeyLength = 18
DECLARE @TotalKeys AS INT, -- Tong so khoa muon danh rieng
		@IGEID AS VARCHAR(20),
		@KeyString AS VARCHAR(20),
		@KeyFrom AS INT,
		@KeyTo AS INT,
		@Num AS INT 
			
-- Ket qua san xuat
SELECT		MT1001.ProductID,
			MT1001.UnitID,
			MT1001.PerfectRate,	MT1001.MaterialRate, MT1001.HumanResourceRate, MT1001.OthersRate,
			SUM(ISNULL(CASE WHEN MT0810.ResultTypeID = 'R03' THEN Quantity ELSE 0 END, 0)) AS InProgressQuantity,
			SUM(ISNULL(CASE WHEN MT0810.ResultTypeID = 'R03' THEN Quantity * MT1001.HumanResourceRate / 100 ELSE 0 END, 0)) AS InProgressHumanResourceQuantity,
			SUM(ISNULL(CASE WHEN MT0810.ResultTypeID = 'R01' THEN 1 ELSE MT1001.HumanResourceRate / 100 END * MT1001.Quantity, 0)) AS EquipvalentHumanResourceQuantity
INTO		#MP8201_KQSX										
FROM		MT1001
INNER JOIN	MT0810 
		ON	MT0810.VoucherID = MT1001.VoucherID AND MT0810.DivisionID = MT1001.DivisionID
			AND MT0810.PeriodID = @PeriodID AND MT0810.ResultTypeID IN ('R01', 'R03')
GROUP BY	MT1001.ProductID,	MT1001.UnitID,
			MT1001.PerfectRate,	MT1001.MaterialRate, MT1001.HumanResourceRate, MT1001.OthersRate

-- Ket qua san xuat theo bo he so
SELECT		ISNULL(MT1605.InventoryID, KQSX.ProductID) AS ProductID,
			KQSX.UnitID,
			ISNULL(KQSX.InProgressQuantity, 0) AS InProgressQuantity,
			ISNULL(KQSX.InProgressHumanResourceQuantity * MT1605.CoValue, 0) AS InProgressHumanResourceQuantity,
			ISNULL(KQSX.EquipvalentHumanResourceQuantity * MT1605.CoValue, 0) AS EquipvalentHumanResourceQuantity,
			KQSX.PerfectRate,	KQSX.MaterialRate, KQSX.HumanResourceRate, KQSX.OthersRate			
INTO		#MP8201_KQSX_HS									
FROM		#MP8201_KQSX KQSX
FULL JOIN	MT1605
		ON	MT1605.InventoryID = KQSX.ProductID
WHERE		MT1605.CoefficientID = @CoefficientID

DECLARE @FromPeriodID AS NVARCHAR(50) 
SET @FromPeriodID = ISNULL((SELECT FromPeriodID FROM MT1601 WHERE PeriodID = @PeriodID), '')

-- Tong gia tri dau ky + tap hop trong ky
SELECT	MaterialID,
			SUM(HumanResourceQuantity) AS HumanResourceQuantity,
			SUM(ConvertedAmount) AS ConvertedAmount
INTO	#MP8201_GTPB		
FROM	(
			SELECT		MaterialID, SUM(MaterialQuantity) AS HumanResourceQuantity, SUM(ConvertedAmount) As ConvertedAmount	
			FROM		MT1613 
			WHERE		Type = 'E' AND ExpenseID = 'COST002' AND DivisionID = @DivisionID
						AND PeriodID = @FromPeriodID AND MaterialTypeID = @MaterialTypeID
						AND ExpenseID = 'COST002'
			GROUP BY	MaterialID, ProductID, ProductQuantity , ProductUnitID, MaterialUnitID
			UNION ALL
			SELECT		InventoryID AS MaterialID,
						ISNULL(SUM(CASE MV9000.D_C WHEN 'D' THEN ISNULL(MV9000.Quantity,0) ELSE - ISNULL(MV9000.Quantity,0) END), 0) AS HumanResourceQuantity,
						ISNULL(SUM(CASE D_C  when 'D' then   Isnull(MV9000.ConvertedAmount,0) ELSE - ISNULL(MV9000.ConvertedAmount,0) END), 0) AS ConvertedAmount
			FROM		MV9000 WITH (NOLOCK)
			WHERE		ExpenseID = 'COST002' AND PeriodID = @PeriodID
						AND DivisionID = @DivisionID AND MaterialTypeID = @MaterialTypeID
			GROUP BY	InventoryID
) GTPB
GROUP BY	MaterialID  

DECLARE @EquipvalentHumanResourceQuantity AS DECIMAL(28, 8) 
SET @EquipvalentHumanResourceQuantity = (SELECT SUM(EquipvalentHumanResourceQuantity) FROM #MP8201_KQSX_HS)

 --Phan bo cho tung san pham
SELECT		CONVERT(VARCHAR(20), '') AS TransactionID,
			KQSX.ProductID,
			KQSX.UnitID,
			GTPB.MaterialID,
			KQSX.InProgressQuantity AS ProductQuantity,
			KQSX.PerfectRate,	KQSX.MaterialRate, KQSX.HumanResourceRate, KQSX.OthersRate,
			ROUND(GTPB.HumanResourceQuantity * InProgressHumanResourceQuantity / @EquipvalentHumanResourceQuantity, @QuantityDecimal) AS HumanResourceQuantity,
			ROUND(GTPB.HumanResourceQuantity * InProgressHumanResourceQuantity / @EquipvalentHumanResourceQuantity / KQSX.InProgressQuantity, @QuantityDecimal) AS QuantityUnit,
			ROUND(GTPB.ConvertedAmount * InProgressHumanResourceQuantity / @EquipvalentHumanResourceQuantity, @ConvertedDecimal) AS ConvertedAmount,
			ROUND(GTPB.ConvertedAmount * InProgressHumanResourceQuantity / @EquipvalentHumanResourceQuantity / KQSX.InProgressQuantity, @ConvertedDecimal) AS ConvertedUnit		
INTO		#MP8201_KQDD
FROM		#MP8201_KQSX_HS KQSX 
CROSS JOIN	#MP8201_GTPB GTPB
WHERE		KQSX.InProgressQuantity <> 0

SET @TotalKeys = @@ROWCOUNT

DELETE	#MP8201_KQDD
WHERE	HumanResourceQuantity = 0 AND ConvertedAmount = 0
	
SET @IGEID = 'IT' + @CMonth + @CYear
EXEC AP0003 @DivisionID, @IGEID, 'MT1613', @TotalKeys, @KeyString OUT, @KeyFrom OUTPUT, @KeyTo OUTPUT
SET @Num = -1

UPDATE	#MP8201_KQDD
SET		@Num = @Num + 1,
		TransactionID = REPLACE(@KeyString + STR(@KeyFrom + @Num, @KeyLength - LEN(@KeyString)), ' ', '0')

-- Lấy thông tin master cho MT1613
DECLARE @UnfinishCostVoucherTypeID VARCHAR(50),
		@UnfinishCostDescription NVARCHAR(1000),
		@PeriodStr VARCHAR(20)

SET @UnfinishCostVoucherTypeID = (SELECT ISNULL(UnfinishCostVoucherTypeID,'CPDD') FROM MT0000 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @UnfinishCostDescription = (SELECT ISNULL(UnfinishCostDescription + ' ',N'Chi phí dở dang ') FROM MT0000 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @PeriodStr = CASE WHEN @TranMonth < 10 THEN '0' + ltrim(@TranMonth) + ltrim(@TranYear) ELSE ltrim(@TranMonth) + ltrim(@TranYear) END


INSERT INTO MT1613 
(
	PeriodID,					TranMonth,				TranYear, 
	DivisionID,					VoucherID,				TransactionID,       
	ProductID,					MaterialID,				ExpenseID ,           
	MaterialTypeID,				ProductUnitID,			MaterialUnitID,		PerfectRate,
	MaterialQuantity,			ConvertedAmount,
	ProductQuantity ,			QuantityUnit ,          ConvertedUnit,                 
	MaterialRate,				HumanResourceRate,		OthersRate,
	Type,  
	CreateDate,                 CreateUserID ,
	VoucherTypeID, VoucherNo, VoucherDate, EmployeeID, Description, LastModifyUserID, LastModifyDate        
)
SELECT		@PeriodID,					@TranMonth,				@TranYear, 
			@DivisionID,				@VoucherID,				TransactionID,       
			KQDD.ProductID,				KQDD.MaterialID,		'COST002',           
			@MaterialTypeID,			KQDD.UnitID,			AT1302.UnitID,		
			KQDD.PerfectRate,
			KQDD.HumanResourceQuantity,		KQDD.ConvertedAmount,
			KQDD.ProductQuantity ,		KQDD.QuantityUnit ,     KQDD.ConvertedUnit,                 
			KQDD.MaterialRate,			KQDD.HumanResourceRate,	KQDD.OthersRate,
			'E',
			GETDATE(),                 @UserID,
			@UnfinishCostVoucherTypeID, @VoucherNo, GETDATE(), @UserID, @UnfinishCostDescription + @PeriodStr, @UserID, GETDATE()             
FROM		#MP8201_KQDD KQDD
LEFT JOIN	AT1302
		ON	AT1302.InventoryID = KQDD.MaterialID


DROP TABLE #MP8201_KQSX, #MP8201_KQSX_HS, #MP8201_GTPB, #MP8201_KQDD




GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
