IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP8202]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP8202]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Created BY Hoang Thi Lan
--Date 13/11/2003
--Purpose: Tíng CP DD cuối kỳ NC TT theo phương pháp Định mức 

/********************************************
'* Edited BY: [GS] [Hoàng Phước] [02/08/2010]
'********************************************/
--- Modified by Tiểu Mai on 20/01/2016: Bỏ View, tạo table tạm.
--- Modified by Tiểu Mai on 23/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
--- Modified by Kim Thư on 21/12/2018: Bổ sung @UserID và @VoucherNo để đưa vào MT1613 -> không load màn hình MF0009 -> cải tiến tốc độ
--- Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.

CREATE PROCEDURE [dbo].[MP8202]  @DivisionID AS nvarchar(50), 
				@UserID AS VARCHAR(50),
                 @PeriodID AS nvarchar(50), 
                 @TranMonth AS INT, 
                 @TranYear AS INT, 
                 @MaterialTypeID AS nvarchar(50), 
                 @ApportionID AS nvarchar(50), 
                 @VoucherID AS nvarchar(50), 
                 @CMonth AS nvarchar(50), 
                 @CYear AS nvarchar(50),
				 @VoucherNo NVARCHAR(50)
AS
DECLARE @sSQL AS  nvarchar(4000), 
    @MaterialAmount AS DECIMAL(28, 8), --Chi phí NVL đầu kỳ
    @ISumConverted621 AS DECIMAL(28, 8), --Chi phí NVL trong kỳ
    @Quantity AS DECIMAL(28, 8), --Số lượng thành phẩm
    @QuantityInprocess AS DECIMAL(28, 8), --Số lương dở dang cuối kỳ
    @MaterialRate AS DECIMAL(28, 8), --Tỉ lệ % NVL
    @MaterialID AS nvarchar(50), 
    @MaterialQuantity AS DECIMAL(28, 8), 
    @ConvertedAmount AS DECIMAL(28, 8), 
    @ProductQuantity AS DECIMAL(28, 8), 
    @InprocessCost AS DECIMAL(28, 8), 
    @ProductID AS nvarchar(50), 
    @PerfectRate AS DECIMAL(28, 8), 
    @InProcessQuantity AS DECIMAL(28, 8), 
    @HumanResourceRate AS DECIMAL(28, 8), 
    @OthersRate AS DECIMAL(28, 8), 
    @ProductQuantityEnd AS DECIMAL(28, 8), 
    @ConvertedUnitEnd AS DECIMAL(28, 8), 
    @TransactionID AS nvarchar(50), 
    @ProductUnitID AS nvarchar(50), 
    @MaterialUnitID AS nvarchar(50), 
@ListMaterial_cur AS CURSOR
--print 'da vao1'
SET NOCOUNT ON
CREATE TABLE #MV8202(MaterialID NVARCHAR(50), MaterialQuantity DECIMAL(28,8),ConvertedAmount DECIMAL(28,8), ProductID NVARCHAR(50), ProductQuantity DECIMAL(28,8), 
					ProductUnitID NVARCHAR(50), MaterialUnitID NVARCHAR(50), DivisionID NVARCHAR(50))

SET @sSQL=N'
SELECT MaterialID, SUM(ISNULL(MaterialQuantity, 0)) AS MaterialQuantity, 
    SUM(ISNULL(ConvertedAmount, 0)) AS ConvertedAmount, 
    ProductID, --- Ma thanh pham
    ProductQuantity, ---- So luong thanh pham duoc san xuat trong ky
    AT1302_P.UnitID AS ProductUnitID, 
    AT1302_M.UnitID AS MaterialUnitID, 
    MT0400.DivisionID
 FROM MT0400 WITH (NOLOCK)  LEFT JOIN AT1302 AT1302_P WITH (NOLOCK) ON MT0400.ProductID = AT1302_P.InventoryID AND AT1302_P.DivisionID IN (MT0400.DivisionID,''@@@'')
        LEFT JOIN AT1302 AT1302_M WITH (NOLOCK) ON MT0400.MaterialID=AT1302_M.InventoryID AND AT1302_M.DivisionID IN (MT0400.DivisionID,''@@@'')
WHERE MT0400.DivisionID ='''+@DivisionID+''' AND
    MT0400.PeriodID = '''+@PeriodID+''' AND
    ExpenseID =''COST002'' AND
    ProductID IN (SELECT ProductID FROM  MT2222)  AND        
    MaterialTypeID ='''+@MaterialTypeID+''' 
GROUP BY MaterialID, ProductID, ProductQuantity, AT1302_P.UnitID, AT1302_M.UnitID, MT0400.DivisionID'

--IF NOT EXISTS (SELECT TOP 1 1 FROM SysObjects WHERE name = 'MV8202' AND Xtype ='V')
--    EXEC ('CREATE VIEW MV8202 AS '+@sSQL)
--ELSE
--    EXEC ('ALTER VIEW MV8202 AS '+@sSQL)
INSERT INTO #MV8202
EXEC (@sSQL)

-- Lấy thông tin master cho MT1613
DECLARE @UnfinishCostVoucherTypeID VARCHAR(50),
		@UnfinishCostDescription NVARCHAR(1000),
		@PeriodStr VARCHAR(20)

SET @UnfinishCostVoucherTypeID = (SELECT ISNULL(UnfinishCostVoucherTypeID,'CPDD') FROM MT0000 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @UnfinishCostDescription = (SELECT ISNULL(UnfinishCostDescription + ' ',N'Chi phí dở dang ') FROM MT0000 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @PeriodStr = CASE WHEN @TranMonth < 10 THEN '0' + ltrim(@TranMonth) + ltrim(@TranYear) ELSE ltrim(@TranMonth) + ltrim(@TranYear) END


    SELECT         @MaterialID = MV8202.MaterialID, 
            @MaterialQuantity  = MV8202.MaterialQuantity, ---So luong NVL phat sinh trong ky
            @ConvertedAmount = MV8202.ConvertedAmount, ---- Chi phi cua NVL phat sinh trong ky
            @ProductID = MV8202.ProductID, --- Ma san pham
            @ProductQuantity = MV8202.ProductQuantity, -- So luong thanh pham hoan thanh
            @InProcessQuantity = ISNULL(MT2222.ProductQuantity, 0)*ISNULL(MT2222.HumanResourceRate, 0)/100, --- So luong thanh pham do dang quy doi
            @PerfectRate = MT2222.PerfectRate, 
            @MaterialRate = MT2222.MaterialRate, 
            @HumanResourceRate = MT2222.HumanResourceRate, 
            @OthersRate = MT2222.OthersRate, 
            @ProductQuantityEnd = MT2222.ProductQuantity, 
            @ProductUnitID =MV8202.ProductUnitID, 
            @MaterialUnitID = MV8202.MaterialUnitID
        FROM #MV8202 MV8202 LEFT JOIN MT2222 WITH (NOLOCK) ON MV8202.DivisionID  = MT2222.DivisionID AND MV8202.ProductID  = MT2222.ProductID 
        
        --Bước 1 :Xác định chi phí NVL định mức
        SELECT @MaterialAmount = MT1603.MaterialAmount
        FROM MT1602 WITH (NOLOCK) INNER JOIN  MT1603 WITH (NOLOCK) ON MT1602.DivisionID=MT1603.DivisionID AND MT1602.ApportionID=MT1603.ApportionID 
        WHERE MT1602.Disabled = 0 AND MT1602.IsBOM=1 AND MT1603.ProductID= @ProductID AND MT1603.ExpenseID = 'COST002'
            AND MT1602.DivisionID = @DivisionID

        --Bước 2: Tính Chi  phí SPDD  theo NC bằng PP Định mức
        SET @InprocessCost =ISNULL(@MaterialAmount, 0) *ISNULL(@InProcessQuantity, 0)
        
        --Xác định Chi phí NC cho 1 sản phẩm dở dang
        IF (@ProductQuantityEnd <> 0)
             SET @ConvertedUnitEnd =ISNULL(@InprocessCost, 0)/@ProductQuantityEnd
        ELSE SET @ConvertedUnitEnd = 0
        
        EXEC AP0000 @DivisionID, @TransactionID  OUTPUT, 'MT1613', 'IT', @CMonth, @CYear, 18, 3, 0, '-'

        INSERT MT1613 (PeriodID, TranMonth, TranYear, DivisionID, VoucherID, TransactionID, 
                ProductID, MaterialID, ExpenseID, MaterialTypeID, ProductUnitID, MaterialUnitID, PerfectRate, --- ProductUnitID
                          MaterialQuantity, ConvertedAmount, 
                  ProductQuantity, QuantityUnit, ConvertedUnit, 
                 CreateDate, CreateUserID, Type, MaterialRate, HumanResourceRate, OthersRate,
				 VoucherTypeID, VoucherNo, VoucherDate, EmployeeID, Description, LastModifyUserID, LastModifyDate  )

        VALUES  (@PeriodID, @TranMonth, @TranYear, @DivisionID, @VoucherID, @TransactionID, 
            @ProductID, @MaterialID, 'COST002', @MaterialTypeID, @ProductUnitID, @MaterialUnitID, @PerfectRate, 
            @MaterialQuantity, ISNULL(@InprocessCost, 0), 
            @ProductQuantityEnd, Null, @ConvertedUnitEnd, 
            Getdate(), @UserID, 'E', @MaterialRate, @HumanResourceRate, @OthersRate,
			@UnfinishCostVoucherTypeID, @VoucherNo, GETDATE(), @UserID, @UnfinishCostDescription + @PeriodStr, @UserID, GETDATE()     )

SET NOCOUNT OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
