IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP8621]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[MP8621]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

------ Created BY Nguyen Van Nhan, Date 12/11/2003
------ Purpose tinh chi phi do dang NVL cuoi ky cho DTTHCP
------ Modified by Tiểu Mai on 12/01/2016: Bổ sung trường hợp có thiết lập quản lý mặt hàng theo quy cách.
---- Modified by Kim Thư on 21/12/2018: Bổ sung @UserID và @VoucherNo để đưa vào MT1613 -> không load màn hình MF0009 -> cải tiến tốc độ

CREATE PROCEDURE  [dbo].[MP8621]     @DivisionID NVARCHAR(50), 
					@UserID AS VARCHAR(50), 
                    @PeriodID  NVARCHAR(50), 
                    @TranMonth AS INT, 
                    @TranYear AS INT, 
                    @InProcessID  NVARCHAR(50), 
                    @VoucherID AS NVARCHAR(50), 
                    @CMonth AS NVARCHAR(50), 
                    @CYear AS NVARCHAR(50),
					@VoucherNo NVARCHAR(50) 
AS

---
DECLARE     @EndMethodID  AS NVARCHAR(50), 
			@ApportionID      AS NVARCHAR(50), 
			@MaterialTypeID AS NVARCHAR(50), 
			@Expense_621 AS CURSOR
			
IF EXISTS (SELECT TOP 1 1 FROM AT0000 WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
	DELETE MT8899
	FROM MT8899 
	INNER JOIN MT1613 ON MT1613.DivisionID = MT8899.DivisionID AND MT1613.VoucherID = MT8899.VoucherID AND MT1613.TransactionID = MT8899.TransactionID AND MT8899.TableID = 'MT1613'
	WHERE ExpenseID ='COST001'  AND Type='E'  AND PeriodID= @PeriodID AND TranMonth = @TranMonth AND TranYear = @TranYear
    AND MT1613.DivisionID = @DivisionID

DELETE MT1613 
WHERE ExpenseID ='COST001'  AND Type='E'  AND PeriodID= @PeriodID AND TranMonth = @TranMonth AND TranYear = @TranYear
    AND DivisionID = @DivisionID

SET @Expense_621 = CURSOR SCROLL KEYSET FOR 
SELECT   EndMethodID, ApportionID, MaterialTypeID
FROM MT1618 
WHERE     InprocessID = @InProcessID AND ExpenseID ='COST001' AND IsUsed = 1                 
    AND DivisionID = @DivisionID

OPEN @Expense_621
FETCH NEXT FROM @Expense_621  INTO  @EndMethodID, @ApportionID, @MaterialTypeID
WHILE @@Fetch_Status = 0
    BEGIN
        --print '@EndMethodID' + @EndMethodID
        IF @EndMethodID ='I01'  --Theo pp ước lượng tương đương
            EXEC MP8101 @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @MaterialTypeID, @VoucherID, @CMonth, @CYear, @VoucherNo
            
        IF @EndMethodID ='I02'    --Theo PP  định mức
        BEGIN
        	IF EXISTS (SELECT TOP 1 1 FROM AT0000 WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
        	EXEC MP8102_QC @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @MaterialTypeID, @ApportionID, @VoucherID, @CMonth, @CYear, @VoucherNo
			ELSE
            EXEC MP8102 @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @MaterialTypeID, @ApportionID, @VoucherID, @CMonth, @CYear, @VoucherNo
        END 
        IF @EndMethodID ='I03'    --NVL trực tiếp      
            EXEC MP8103 @DivisionID, @UserID, @PeriodID, @TranMonth, @TranYear, @MaterialTypeID, @VoucherID, @CMonth, @CYear, @VoucherNo
    
        FETCH NEXT FROM @Expense_621  INTO  @EndMethodID, @ApportionID, @MaterialTypeID
    END

CLOSE @Expense_621
GO


