---- Create by Bảo Anh on 01/11/2018
---- Kết quả thu chi thực tế (detail)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[FNT2011]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[FNT2011]
(
	[APK] UNIQUEIDENTIFIER DEFAULT NEWID() NOT NULL,
    [DivisionID] VARCHAR(50) NOT NULL,
	[APKMaster] VARCHAR(50) NOT NULL,
	[Orders] INT NULL,
	[JobName] NVARCHAR(250) NULL,
	[PlanOAmount] DECIMAL(28,8) NULL,
	[PlanCAmount] DECIMAL(28,8) NULL,
	[RemainOAmount] DECIMAL(28,8) NULL,
	[RemainCAmount] DECIMAL(28,8) NULL,
	[ActualOAmount] DECIMAL(28,8) NULL,
	[ActualCAmount] DECIMAL(28,8) NULL,
	[IsFinish] BIT NOT NULL DEFAULT(0),
	[Ana01ID] VARCHAR(50) NULL,
	[Ana02ID] VARCHAR(50) NULL,
	[Ana03ID] VARCHAR(50) NULL,
	[Ana04ID] VARCHAR(50) NULL,
	[Ana05ID] VARCHAR(50) NULL,
	[Ana06ID] VARCHAR(50) NULL,
	[Ana07ID] VARCHAR(50) NULL,
	[Ana08ID] VARCHAR(50) NULL,
	[Ana09ID] VARCHAR(50) NULL,
	[Ana10ID] VARCHAR(50) NULL,
	[InheritTableID] VARCHAR(50) NULL,
	[InheritAPKMaster] VARCHAR(50) NULL,
	[InheritAPK] VARCHAR(50) NULL,
	[DeleteFlag] TINYINT DEFAULT (0) NOT NULL

CONSTRAINT [PK_FNT2011] PRIMARY KEY CLUSTERED
(
	[DivisionID],
	[APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END






