IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HQ7110]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[HQ7110]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



---- Create by: Dang Le Bao Quynh; Date: 07/08/09
---- Edit by: Huynh Tan Phu, Date 04/07/2007 Bo cac clolumn HV1400.WorkDate, HV1400.LeaveDate, HV1400.CountryName
---- Purpose: Viet chet in bao cao luong theo thiet lap
---- Modifile by Thanh Thịnh: Date 10/8/2015 Lý Do Nghĩ Việc, Ngày Cấp CMND, Nơi Cấp CMND, ngày cấp BHXH
---- Modifile by Thanh Thịnh: Date 02/11/2015 Thêm cột chiều cao
---- Modify on 02/01/2016 by Bảo Anh: Lấy các trường IdentifyPlace, IdentifyDate từ HT7110
---- Modify on 27/12/2016 by Hải Long: Lấy các trường SAmount, HAmount, TAmount, SAmount2, HAmount2, TAmount2
---- Modify on 27/12/2016 by Hải Long: Bổ sung trường ngày phép còn lại DaysRemained
---- Modify on 21/12/2020 by Huỳnh Thử: Bố sung cột ImageID
---- Modify on 18/03/2021 by Huỳnh Thử: Bố sung cột H40.Ana02ID, H40.Ana03ID, H40.Ana04ID
---- Modify on 18/03/2021 by Huỳnh Thử: Bố sung cột Ana02Name, Ana03Name, Ana04Name
---- Modify on 25/03/2021 by Huỳnh Thử: Bố sung cột Ana05Name
---- Modify on 02/04/2022 by Nhựt Trường: Bổ sung các trường IsMale, Income10, Income11, Income12, RelationNumber, ColumnAmount32_2, ColumnAmount34_2 (Merge code ANGEL).
---- Modify on 30/06/2022 by Kiều Nga: Bổ sung các trường ContractTypeID, QuantityRelation
---- Modify on 16/09/2022 by Nhật Quang: Bổ sung các trường HT3400PayRollMethodID
CREATE VIEW HQ7110
AS

SELECT H40.Ana02ID,A01_1.AnaName AS Ana02Name, H40.Ana03ID, A01_2.AnaName AS Ana03Name, H40.Ana04ID, A01_3.AnaName AS Ana04Name, H40.Ana05ID, A01_4.AnaName AS Ana05Name, H40.ImageID,
	 IsMale, H10.*, H00.InsuranceSalary, H00.Salary01, H00.Salary02, H00.Salary03, H40.EmployeeStatus, 
	 H21.SAmount, H21.HAmount, H21.TAmount, H21.SAmount2, H21.HAmount2, H21.TAmount2,
	 LRS.QuitJobName , ---h40.IdentifyPlace, h40.IdentifyDate,
	 H42.SoInsurBeginDate, H42.Hobby, H23.DaysRemained, H14.Income10, H14.Income11, H14.Income12, 
	 ISNULL(TB.RelationNumber,0) AS RelationNumber, ISNULL(TB.RelationNumber,0)*H15.UnitAmount AS ColumnAmount32_2, ROUND(H10.ColumnAmount34, 0) AS ColumnAmount34_2
	 ,H13.ContractTypeID,H33.QuantityRelation,H14.PayRollMethodID AS HT3400PayRollMethodID
FROM HT7110 H10
LEFT JOIN HT1400 H40 ON H40.DivisionID = H10.DivisionID AND H40.EmployeeID = H10.EmployeeID
LEFT JOIN HT1403 h43 ON h43.DivisionID = H10.DivisionID AND h43.EmployeeID = H10.EmployeeID
LEFT JOIN HT1107 LRS ON LRS.DivisionID = H10.DivisionID AND LRS.QuitJobID = h43.QuitJobID
LEFT JOIN HT2400 H00 ON H00.DivisionID = H10.DivisionID AND H00.EmployeeID = H10.EmployeeID AND H00.TranMonth = H10.TranMonth AND H00.TranYear = H10.TranYear
LEFT JOIN HT1402 H42 ON H42.DivisionID = H10.DivisionID AND H42.EmployeeID = H10.EmployeeID
LEFT JOIN HT2461 H21 ON H21.DivisionID = H10.DivisionID AND H21.EmployeeID = H10.EmployeeID AND H21.TranMonth = H10.TranMonth AND H21.TranYear = H10.TranYear
LEFT JOIN HT2803 H23 ON H23.DivisionID = H10.DivisionID AND H23.EmployeeID = H10.EmployeeID AND H23.TranMonth = H10.TranMonth AND H23.TranYear = H10.TranYear
LEFT JOIN AT1011 A01_1 ON H40.DivisionID = A01_1.DivisionID AND A01_1.AnaID = H40.Ana02ID AND A01_1.AnaTypeID ='A02'
LEFT JOIN AT1011 A01_2 ON H40.DivisionID = A01_2.DivisionID AND A01_2.AnaID = H40.Ana03ID AND A01_2.AnaTypeID ='A03'
LEFT JOIN AT1011 A01_3 ON H40.DivisionID = A01_3.DivisionID AND A01_3.AnaID = H40.Ana04ID AND A01_3.AnaTypeID ='A04'
LEFT JOIN AT1011 A01_4 ON H40.DivisionID = A01_4.DivisionID AND A01_4.AnaID = H40.Ana05ID AND A01_4.AnaTypeID ='A05'
LEFT JOIN HT3400 H14 ON H14.DivisionID = H10.DivisionID AND H14.EmployeeID = H10.EmployeeID AND H14.TranMonth = H10.TranMonth AND H14.TranYear = H10.TranYear
LEFT JOIN
(
	SELECT DivisionID, EmployeeID, COUNT(TransactionID) AS RelationNumber
	FROM HT0334
	WHERE Status = 0
	GROUP BY DivisionID, EmployeeID
) TB ON TB.DivisionID = H10.DivisionID AND TB.EmployeeID = H10.EmployeeID
LEFT JOIN
(
	SELECT DivisionID, MAX(UnitAmount) AS UnitAmount FROM HT0336 WITH (NOLOCK) WHERE IsForeigner = 0 GROUP BY HT0336.DivisionID 
) H15 ON H15.DivisionID = H10.DivisionID
LEFT JOIN
(
	SELECT DivisionID, MAX(UnitAmount) AS UnitAmount FROM HT0336 WITH (NOLOCK) WHERE IsForeigner = 1 GROUP BY HT0336.DivisionID 
) H16 ON H16.DivisionID = H10.DivisionID
OUTER APPLY 
(
	SELECT TOP 1 *
	FROM HT1360 H13 WITH (NOLOCK) 
	WHERE H13.DivisionID = H10.DivisionID AND H13.EmployeeID = H10.EmployeeID
	ORDER BY H13.SignDate DESC
) H13
--LEFT JOIN HT1360 H13 ON H13.DivisionID = H10.DivisionID AND H13.EmployeeID = H10.EmployeeID
LEFT JOIN (SELECT DivisionID,EmployeeID,count(*) as QuantityRelation FROM HT0334
		   GROUP BY DivisionID,EmployeeID) as H33 ON H33.DivisionID = H10.DivisionID AND H33.EmployeeID = H10.EmployeeID
LEFT JOIN HT1402 H22 ON H22.DivisionID = H10.DivisionID AND H22.EmployeeID = H10.EmployeeID



GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
