---- Create by Phan thanh hoàng vũ on 4/28/2017 4:38:57 PM
---- Danh mục phân quyền xem (Quyền dữ liệu)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[ST10502]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[ST10502]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [DataID] VARCHAR(50) NOT NULL,
  [TypeID] INT NOT NULL,
  [RoleID] VARCHAR(50) NOT NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyUserID] VARCHAR(50) NULL,
  [LastModifyDate] DATETIME NULL
CONSTRAINT [PK_ST10502] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END