---- Create by Phan thanh hoàng vũ on 4/28/2017 4:35:42 PM
---- Danh mục phân quyền xem (gán quyền)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[ST10503]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[ST10503]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [DivisionID] VARCHAR(50) NOT NULL,
  [IsUserOrGroup] INT NOT NULL,
  [UserID] VARCHAR(50) NULL,
  [GroupID] VARCHAR(50) NULL,
  [RoleID] VARCHAR(50) NOT NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyUserID] VARCHAR(50) NULL,
  [LastModifyDate] DATETIME NULL
CONSTRAINT [PK_ST10503] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END