IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HRMP0001]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[HRMP0001]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
----<Summary>
---- Lấy dữ liệu thông tin chứng từ
---- 
----<Param>
---- 
----<Return>
---- 
----<Reference>
----
----<History>
----<Created by>: Hải Long, Date: 15/09/2017
---- Modified by Khả Vi on 18/12/2017: Bổ sung cho module tuyển dụng
----<Example>
/*
	Exec HRMP0001 @DivisionID='AS',@UserID='ASOFTADMIN',@TableName='HRMF2051' 

	HRMP0001 @DivisionID, @UserID, @TableName
*/
CREATE PROCEDURE [dbo].[HRMP0001] 	
(
	@DivisionID NVARCHAR(50),
	@UserID NVARCHAR(50),	
	@TableName NVARCHAR(50)
)
AS

IF @TableName = 'HRMT2060'
BEGIN
	SELECT TOP 1 AT1007.* 
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTBudgetID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END

IF @TableName = 'HRMT2070'
BEGIN
	SELECT TOP 1 AT1007.* 
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingPlanID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END

IF @TableName = 'HRMT2080'
BEGIN
	SELECT TOP 1 AT1007.* 
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingRequestID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END

IF @TableName = 'HRMT2090'
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingProposeID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END

IF @TableName = 'HRMT2100'
BEGIN
	SELECT TOP 1 AT1007.* 
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingScheduleID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END

IF @TableName = 'HRMT2110'
BEGIN
	SELECT TOP 1 AT1007.* 
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingCostID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END

IF @TableName = 'HRMT2120'
BEGIN
	SELECT TOP 1 AT1007.* 
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingResultID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END

IF @TableName = 'HRMF2130'
BEGIN
	SELECT TOP 1 AT1007.* 
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingResultID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END

IF @TableName = 'HRMF2130'
BEGIN
	SELECT TOP 1 AT1007.* 
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingResultID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END
IF @TableName = 'HRMF1031' -- Hồ sơ ứng viên
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH(NOLOCK)
	INNER JOIN HRMT0010 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0010.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0010.VoucherTypeID
	WHERE HRMT0010.DivisionID = @DivisionID AND HRMT0010.GroupID = '01'
END
IF @TableName = 'HRMF2001' -- Kế hoạch tuyển dụng
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH(NOLOCK)
	INNER JOIN HRMT0010 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0010.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0010.VoucherTypeID
	WHERE HRMT0010.DivisionID = @DivisionID AND HRMT0010.GroupID = '02'
END
IF @TableName = 'HRMF2011' -- Yêu cầu tuyển dụng
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH(NOLOCK)
	INNER JOIN HRMT0010 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0010.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0010.VoucherTypeID
	WHERE HRMT0010.DivisionID = @DivisionID AND HRMT0010.GroupID = '03'
END
IF @TableName = 'HRMF2021' -- Đợt tuyển dụng
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH(NOLOCK)
	INNER JOIN HRMT0010 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0010.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0010.VoucherTypeID
	WHERE HRMT0010.DivisionID = @DivisionID AND HRMT0010.GroupID = '04'
END
IF @TableName = 'HRMF2031' -- Lịch phỏng vấn 
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH(NOLOCK)
	INNER JOIN HRMT0010 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0010.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0010.VoucherTypeID
	WHERE HRMT0010.DivisionID = @DivisionID AND HRMT0010.GroupID = '05'
END
IF @TableName = 'HRMF2051' --Quyết định tuyển dụng
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH(NOLOCK)
	INNER JOIN HRMT0010 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0010.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0010.VoucherTypeID
	WHERE HRMT0010.DivisionID = @DivisionID AND HRMT0010.GroupID = '06'
END 	
IF @TableName = 'HRMF2150' --Danh sách BlackList
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingBlackListID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END 
	
IF @TableName = 'HRMT2170' --Danh sách cập nhật tạm thời
BEGIN
	SELECT TOP 1 AT1007.*
	FROM AT1007 WITH (NOLOCK)  	
	INNER JOIN HRMT0001 WITH (NOLOCK) ON AT1007.DivisionID IN (HRMT0001.DivisionID, '@@@') AND AT1007.VoucherTypeID = HRMT0001.VTTrainingTransferOfPersonnelID
	WHERE AT1007.DivisionID IN (@DivisionID, '@@@')	
END 
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
