IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WQ1309]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[WQ1309]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


----NGUYEN THI THUY TUYEN
-----VIEW  chet lay du lieu don vi tinh chuyen doi  phan he ASOFT WM.
---- Edit by Tấn Phú, Date 11/06/2012 : Thay giá trị mật định null as DataType thành 0 as DataType
---- Modified on 16/05/2017 by Hải Long: Chỉnh sửa danh mục dùng chung
---- Modified by Huỳnh Thử on 30/09/2020 : Bổ sung danh mục dùng chung
------17/11/2006


CREATE VIEW [dbo].[WQ1309]
as
select AT1309.DivisionID,AT1309.InventoryID, AT1302.UnitID, AT1309.UnitID as ConvertedUnitID, UnitName as ConvertedUnitName, ConversionFactor,Operator,AT1309.FormulaID, FormulaDes,

case when  AT1309.DataType = 0 and Operator = 0 then 'WQ1309.MultiplyStr' Else   case  when AT1309.DataType = 0 and Operator =  1 then   'WQ1309.Divide'  else  '' End End as OperatorName,	
DataType,
case when  AT1309.DataType = 0 then 'WQ1309.Operators' Else Case when    AT1309.DataType = 1  then   'WQ1309.Formula'  End  End as DataTypeName,
Isnull(AT1309.S01ID,'') AS S01ID, Isnull(AT1309.S02ID,'') AS S02ID, Isnull(AT1309.S03ID,'') AS S03ID, Isnull(AT1309.S04ID,'') AS S04ID, Isnull(AT1309.S05ID,'') AS S05ID, 
Isnull(AT1309.S06ID,'') AS S06ID, Isnull(AT1309.S07ID,'') AS S07ID, Isnull(AT1309.S08ID,'') AS S08ID, Isnull(AT1309.S09ID,'') AS S09ID, Isnull(AT1309.S10ID,'') AS S10ID,
Isnull(AT1309.S11ID,'') AS S11ID, Isnull(AT1309.S12ID,'') AS S12ID, Isnull(AT1309.S13ID,'') AS S13ID, Isnull(AT1309.S14ID,'') AS S14ID, Isnull(AT1309.S15ID,'') AS S15ID, 
Isnull(AT1309.S16ID,'') AS S16ID, Isnull(AT1309.S17ID,'') AS S17ID, Isnull(AT1309.S18ID,'') AS S18ID, Isnull(AT1309.S19ID,'') AS S19ID, Isnull(AT1309.S20ID,'') AS S20ID

From AT1309 WITH (NOLOCK) 
Inner Join AT1304 WITH (NOLOCK) on AT1304.UnitID = AT1309.UnitID
left join AT1302 WITH (NOLOCK) on AT1302.DivisionID IN ('@@@', AT1309.DivisionID) AND AT1302.InventoryID = AT1309.InventoryID
Left Join AT1319 WITH (NOLOCK) on AT1309.FormulaID = AT1319.FormulaID
Where AT1309.Disabled = 0 
Union
select AT1302.DivisionID,AT1302.InventoryID,AT1302.UnitID, AT1302.UnitID as ConvertedUnitID , UnitName as ConvertedUnitName,1 as ConversionFactor,0 as Operator, null as FormulaID, null as FormulaDes,
'WQ1309.MultiplyStr' OperatorName, 0 as DataType,  'WQ1309.Operators'as DataTypeName,
'' as S01ID, '' as S02ID, '' as S03ID, '' as S04ID, '' as S05ID, '' as S06ID, '' as S07ID, '' as S08ID, '' as S09ID, '' as S10ID,
'' as S11ID, '' as S12ID, '' as S13ID, '' as S14ID, '' as S15ID, '' as S16ID, '' as S17ID, '' as S18ID, '' as S19ID, '' as S20ID
From AT1302 
Inner Join AT1304 on AT1304.UnitID = AT1302.UnitID



GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
