---- Create by Phan thanh hoàng vũ on 9/17/2018 12:57:11 PM
---- Danh sách chia cổ tức (Detail)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[SHMT2041]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[SHMT2041]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [APKMaster] UNIQUEIDENTIFIER NOT NULL,
  [DivisionID] VARCHAR(50) NOT NULL,
  [ObjectID] VARCHAR(50) NULL,
  [HoldQuantity] DECIMAL(28,8) NULL,
  [AmountPayable] DECIMAL(28,8) NULL,
  [OrderNo] INT NULL,
  [DeleteFlg] TINYINT DEFAULT (0) NULL,
  [APKMInherited] UNIQUEIDENTIFIER NULL,
  [APKDInherited] UNIQUEIDENTIFIER NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyDate] DATETIME NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [LastModifyUserID] VARCHAR(50) NULL
CONSTRAINT [PK_SHMT2041] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END