---- Create by Phan thanh hoàng vũ on 4/11/2017 3:54:57 PM
---- Chi tiết codemaster mã tăng tự động (bổ sung CRM)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[CRMT0097]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[CRMT0097]
(
  [CodeMaster] VARCHAR(50) NULL,
  [ID] VARCHAR(50) NULL,
  [TypeID] VARCHAR(50) NULL,
  [StypeID] VARCHAR(50) NOT NULL,
  [StypeName] NVARCHAR(250) NULL,
  [TableID] VARCHAR(50) NULL,
  [OrderNo] INT NULL
CONSTRAINT [PK_CRMT0097] PRIMARY KEY CLUSTERED
(
  [StypeID]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END