/****** Object:  Index [AT9000_DivisionID_TranMonth_TransactionType]    Script Date: 10/09/2012 14:06:03 ******/
--Bang AT9000
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_DivisionID_TranMonth_TransactionType')
DROP INDEX [AT9000_DivisionID_TranMonth_TransactionType] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO

/****** Object:  Index [AT9000_DivisionID_TranMonth_TransactionType]    Script Date: 10/09/2012 14:06:03 ******/
CREATE NONCLUSTERED INDEX [AT9000_DivisionID_TranMonth_TransactionType] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	[TranYear] ASC,
	[TranMonth] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
------------------------------------------------------------------------------------------------


IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_Index1')
DROP INDEX [AT9000_Index1] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO
CREATE NONCLUSTERED INDEX [AT9000_Index1] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	[VoucherID] ASC,
	[TransactionTypeID] ASC,
	[BatchID] ASC,
	[TransactionID] ASC 
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_Index2')
DROP INDEX [AT9000_Index2] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO

CREATE NONCLUSTERED INDEX [AT9000_Index2] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	[VoucherDate] ASC,
	[TransactionTypeID] ASC,
	[ObjectID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

-- Su dung Kiểm tra phiếu nhập kho, XK, VCNB đã được kế thừa hay chưa
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_WOrderID')
DROP INDEX [AT9000_WOrderID] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO
CREATE NONCLUSTERED INDEX [AT9000_WOrderID] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	WOrderID ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

/****** Object:  Index [AT9000_DivisionID_OTransactionID]    Script Date: 04/01/2017 14:06:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_DivisionID_OTransactionID')
DROP INDEX [AT9000_DivisionID_OTransactionID] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO
CREATE NONCLUSTERED INDEX [AT9000_DivisionID_OTransactionID] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	[OTransactionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

/****** Object:  Index [AT9000_DivisionID_TableID_TranYear_TranMonth_TransactionTypeID]    Script Date: 19/10/2018 - Kim Thư ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_DivisionID_TableID_TranYear_TranMonth_TransactionTypeID')
DROP INDEX [AT9000_DivisionID_TableID_TranYear_TranMonth_TransactionTypeID] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO
CREATE NONCLUSTERED INDEX [AT9000_DivisionID_TableID_TranYear_TranMonth_TransactionTypeID] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	[TableID] ASC,
	[TranYear] ASC,
	[TranMonth] ASC,
	[TransactionTypeID] ASC,
	[VoucherID] ASC,
	[TransactionID] ASC 
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

/****** Object:  Index [AT9000_Index3]    Script Date: 12/02/2018 - Kim Thư ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_Index3')
DROP INDEX [AT9000_Index3] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO
CREATE NONCLUSTERED INDEX [AT9000_Index3] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	[VoucherDate] ASC,	
	[TransactionTypeID] ASC,
	[VoucherID] ASC,
	[ObjectID] ASC,
	[VATObjectID] ASC,
	[InventoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]



/****** Object:  Index [AT9000_Index4]    Script Date: 12/02/2018 - Kim Thư ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_Index4')
DROP INDEX [AT9000_Index4] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO
CREATE NONCLUSTERED INDEX [AT9000_Index4] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	[VoucherID] ASC,
	[Orders] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

/****** Object:  Index [AT9000_Index5]    Script Date: 05/04/2019 - Kim Thư ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_Index5')
DROP INDEX [AT9000_Index5] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
GO
CREATE NONCLUSTERED INDEX [AT9000_Index5] ON [dbo].[AT9000] 
(
	[DivisionID] ASC,
	[TranYear] ASC,
	[TranMonth] ASC,
	[VoucherDate] ASC,
	[TransactionTypeID] ASC,
	[CurrencyID] ASC,
	[CreditAccountID] ASC,
	[DebitAccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]


-- Modified by Đức Thông on 23/03/2021: Bổ sung index cho xử lí xuất excel báo cáo theo dõi XDCB dở dang (Meiko)

DECLARE @CustomerName INT
SELECT @CustomerName = CustomerName FROM dbo.CustomerIndex

IF @CustomerName = 50 OR @CustomerName = 115
BEGIN
	IF EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name =	N'AT9000_Index6')
	DROP INDEX [AT9000_Index6] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
	
	CREATE NONCLUSTERED INDEX [AT9000_Index6] ON [dbo].[AT9000] 
	(
		[DivisionID] ASC,
		[TransactionID] ASC	
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF,		DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	
	IF EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name =	N'AT9000_Index7')
	DROP INDEX [AT9000_Index7] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
	
	CREATE NONCLUSTERED INDEX [AT9000_Index7] ON [dbo].[AT9000] 
	(
		[DivisionID] ASC,
		[InheritTransactionID] ASC	
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF,		DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
END

-- Modified by Thành Sang on 17/11/2022: Bổ sung index cho xử lý truy vấn tồn tại số chứng từ
ELSE IF @CustomerName = 94 -- KAJIMA
BEGIN
		
	IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AT9000]') AND name = N'AT9000_Index6')
	DROP INDEX [AT9000_Index6] ON [dbo].[AT9000] WITH ( ONLINE = OFF )
	
	CREATE NONCLUSTERED INDEX [AT9000_Index6] ON [dbo].[AT9000] 
	(
		[DivisionID] ASC,
		[VoucherNo] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	
END

GO