IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[APT0001]') AND name = N'APT0001_DivisionID_order_id')
DROP INDEX [APT0001_DivisionID_order_id] ON [dbo].[APT0001] WITH ( ONLINE = OFF )
CREATE NONCLUSTERED INDEX [APT0001_DivisionID_order_id] ON [dbo].[APT0001] 
(
	[DivisionID] ASC,
	[order_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]