IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OT2002]') AND name = N'OT2002_DivisionID_AppInheritOrderID')
DROP INDEX [OT2002_DivisionID_AppInheritOrderID] ON [dbo].[OT2002] WITH ( ONLINE = OFF )
CREATE NONCLUSTERED INDEX [OT2002_DivisionID_AppInheritOrderID] ON [dbo].[OT2002] 
(
	[DivisionID] ASC,
	[AppInheritOrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]


IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OT2002]') AND name = N'OT2002_DivisionID_AppInheritOrderID_ReAPK_TransactionID')
DROP INDEX [OT2002_DivisionID_AppInheritOrderID_ReAPK_TransactionID] ON [dbo].[OT2002] WITH ( ONLINE = OFF )
CREATE NONCLUSTERED INDEX [OT2002_DivisionID_AppInheritOrderID_ReAPK_TransactionID] ON [dbo].[OT2002] 
(
	[DivisionID] ASC,
	[AppInheritOrderID] ASC,
	[ReAPK] ASC,
	[TransactionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]


IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OT2002]') AND name = N'OT2002_DivisionID_QuotationID')
DROP INDEX [OT2002_DivisionID_QuotationID] ON [dbo].[OT2002] WITH ( ONLINE = OFF )
CREATE NONCLUSTERED INDEX [OT2002_DivisionID_QuotationID] ON [dbo].[OT2002] 
(
	[DivisionID] ASC,
	[QuotationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OT2002]') AND name = N'OT2002_DivisionID_SOrderID')
DROP INDEX [OT2002_DivisionID_SOrderID] ON [dbo].[OT2002] WITH ( ONLINE = OFF )
CREATE NONCLUSTERED INDEX [OT2002_DivisionID_SOrderID] ON [dbo].[OT2002] 
(
	[DivisionID] ASC,
	[SOrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OT2002]') AND name = N'OT2002_DivisionID_TransactionID')
DROP INDEX [OT2002_DivisionID_TransactionID] ON [dbo].[OT2002] WITH ( ONLINE = OFF )
CREATE NONCLUSTERED INDEX [OT2002_DivisionID_TransactionID] ON [dbo].[OT2002] 
(
	[DivisionID] ASC,
	[TransactionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OT2002]') AND name = N'OT2002_DivisionID_RefSTransactionID')
DROP INDEX [OT2002_DivisionID_RefSTransactionID] ON [dbo].[OT2002] WITH ( ONLINE = OFF )
CREATE NONCLUSTERED INDEX [OT2002_DivisionID_RefSTransactionID] ON [dbo].[OT2002] 
(
	[DivisionID] ASC,
	[RefSTransactionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]