-- <Summary>
---- 
-- <History>
---- Create on 16/02/2011 by Phát Danh
---- Modified on 19/11/2011 by Le Thi Thu Hien
---- Modified on 15/05/2012 by Thien Huynh: Bo sung phan quyen hien thi Gia von, Thanh tien
---- Modified on 20/12/2013 by Khanh Van
---- Modified on 04/12/2018 by Bảo Anh: Bổ sung phân quyền giá bán cho tất cả nhóm người dùng
---- Modified on 20/05/2019 by Kim Thư: Không insert phân quyền cho Division không có nhóm người dùng
---- Modified on 07/10/2021 by Lê Hoàng: Bổ sung phân quyền cho phép thiết lập dữ liệu Từ ngày đến ngày của Kỳ kế toán ở màn hình chọn kỳ AS0078
---- Modified on 10/08/2023 by Thành Sang: Bổ sung phân quyền cho phép nhập đơn giá/ chiết khấu - Khách KINGCOM
---- Modified on 28/08/2023 by Thành Sang: Tách phân quyền nhập đơn giá và chiết khấu - Khách KINGCOM
---- <Example>

DECLARE @Division nvarchar(50),
		@GroupID NVARCHAR(50),
		@ModuleID NVARCHAR(50),
		@CustomerIndex INT = -1

SET @CustomerIndex = (SELECT TOP 1 CustomerName FROM CustomerIndex)

declare cur_AllDivision cursor for select DivisionID from AT1101

open cur_AllDivision
fetch next from cur_AllDivision into @Division

while @@fetch_status = 0
  begin
  
	delete from AT1406
	where DivisionID = @Division
	and ModuleID in ('ASOFTOP', 'ASOFTT', 'ASOFTS')
	and groupid = 'ADMIN'
	and DataType = 'IV'
	and DataID = 'LP' 	
	insert into AT1406([DivisionID],[ModuleID],[GroupID],[DataID],[DataType],[BeginChar],[Permission],[CreateDate],[CreateUserID],[LastModifyUserID],[LastModifyDate])
				values (@Division,'ASOFTOP','ADMIN','LP','IV', N'Sửa giá bán /Price Edit','1',NULL,'ASOFTADMIN','ASOFTADMIN',NULL)
	
	insert into AT1406([DivisionID],[ModuleID],[GroupID],[DataID],[DataType],[BeginChar],[Permission],[CreateDate],[CreateUserID],[LastModifyUserID],[LastModifyDate])
				values (@Division,'ASOFTT','ADMIN','LP','IV',N'Sửa giá bán /Price Edit','1',NULL,'ASOFTADMIN','ASOFTADMIN',NULL)

	insert into AT1406([DivisionID],[ModuleID],[GroupID],[DataID],[DataType],[BeginChar],[Permission],[CreateDate],[CreateUserID],[LastModifyUserID],[LastModifyDate])
				values (@Division,'ASOFTS','ADMIN','LP','IV',N'Sửa giá bán /Price Edit','1',NULL,'ASOFTADMIN','ASOFTADMIN',NULL)
							
	delete from AT1407
	where DivisionID = @Division
	and ModuleID in ('ASOFTOP', 'ASOFTT', 'ASOFTS')
	and DataType = 'IV'
	and DataID = 'LP' 
	
	insert into AT1407([DivisionID],[ModuleID],[DataID],[DataName],[DataType],[CreateDate],[CreateUserID],[LastModifyUserID],[LastModifyDate])
				values (@Division,'ASOFTOP','LP',N'Sửa giá bán /Price Edit','IV',NULL,'ASOFTADMIN','ASOFTADMIN',NULL)
				
	insert into AT1407([DivisionID],[ModuleID],[DataID],[DataName],[DataType],[CreateDate],[CreateUserID],[LastModifyUserID],[LastModifyDate])
				values (@Division,'ASOFTT','LP',N'Sửa giá bán /Price Edit','IV',NULL,'ASOFTADMIN','ASOFTADMIN',NULL)

	insert into AT1407([DivisionID],[ModuleID],[DataID],[DataName],[DataType],[CreateDate],[CreateUserID],[LastModifyUserID],[LastModifyDate])
				values (@Division,'ASOFTS','LP',N'Sửa giá bán /Price Edit','IV',NULL,'ASOFTADMIN','ASOFTADMIN',NULL)
				
  -- get next record
    fetch next from cur_AllDivision into @Division
  end  
close cur_AllDivision
deallocate cur_AllDivision

--DECLARE @Division nvarchar(50),
--		@GroupID NVARCHAR(50),
--		@ModuleID NVARCHAR(50)

DECLARE cur_AllDivision CURSOR FOR
SELECT AT1101.DivisionID, AT1401.GroupID, ModuleID FROM AT1101
INNER JOIN AT1401
	ON	AT1401.DivisionID = AT1101.DivisionID
INNER JOIN AT1409
	ON AT1409.DivisionID = AT1101.DivisionID

OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @Division, @GroupID, @ModuleID

WHILE @@fetch_status = 0
  BEGIN
	
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1406 WHERE DataType = 'PE' 
													AND DivisionID = @Division 
													AND GroupID = @GroupID
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1406	(	DivisionID,	ModuleID,GroupID,DataID,DataType,	Permission,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			Select top 1 @Division, @ModuleID, @GroupID, CAST(BeginMonth AS varchar(2))+'/' +Cast(beginyear as varchar(4)), 'PE', 1, getdate(), 'ADMIN', 'ADMIN',GETDATE()
			From AT1101 where divisionID =@Division 

		END
	
	IF (@ModuleID = 'ASOFTS' OR @ModuleID = 'ASOFTOP' OR @ModuleID = 'ASOFTT')
		AND NOT EXISTS (SELECT TOP 1 1 FROM AT1406 WHERE DivisionID = @Division						
						and GroupID = @GroupID	AND ModuleID = @ModuleID
						and DataType = 'IV'
						and DataID = 'LP')
		BEGIN
			insert into AT1406([DivisionID],[ModuleID],[GroupID],[DataID],[DataType],[BeginChar],[Permission],[CreateDate],[CreateUserID],[LastModifyUserID],[LastModifyDate])
			values (@Division,@ModuleID,@GroupID,'LP','IV',N'Sửa giá bán /Price Edit','1',NULL,'ASOFTADMIN','ASOFTADMIN',NULL)
		END
	
    FETCH NEXT FROM cur_AllDivision INTO @Division,@GroupID, @ModuleID
  END
  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision

--DECLARE @Division nvarchar(50),
--		@GroupID NVARCHAR(50),
--		@ModuleID NVARCHAR(50)

DECLARE cur_AllDivision CURSOR FOR
SELECT AT1101.DivisionID, AT1401.GroupID, ModuleID FROM AT1101
INNER JOIN AT1401
	ON	AT1401.DivisionID = AT1101.DivisionID
INNER JOIN AT1409
	ON AT1409.DivisionID = AT1101.DivisionID

OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @Division, @GroupID, @ModuleID

WHILE @@fetch_status = 0
  BEGIN
	
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1406 WHERE DataType = 'VD' 
													AND DivisionID = @Division 
													AND GroupID = @GroupID
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1406	(	DivisionID,	ModuleID,GroupID,DataID,DataType,	Permission,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	@GroupID, 'VD', 'VD', 1, GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END
	
	--Hiển thị Giá vốn
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1406 WHERE DataType = 'PR' 
													AND DivisionID = @Division 
													AND GroupID = @GroupID
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1406	(	DivisionID,	ModuleID,GroupID,DataID,DataType,	Permission,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	@GroupID, 'PR', 'PR', 1, GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END
		
	--Hiển thị Thành tiền
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1406 WHERE DataType = 'AM' 
													AND DivisionID = @Division 
													AND GroupID = @GroupID
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1406	(	DivisionID,	ModuleID,GroupID,DataID,DataType,	Permission,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	@GroupID, 'AM', 'AM', 1, GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END
	
	--Cho phép thiết lập dữ liệu Từ ngày đến ngày của Kỳ kế toán ở màn hình chọn kỳ AS0078
	IF (@ModuleID = 'ASOFTS' OR @ModuleID = 'ASOFTOP' OR @ModuleID = 'ASOFTT' OR @ModuleID = 'ASOFTCI' OR @ModuleID = 'ASOFTCM'
	 OR @ModuleID = 'ASOFTCS' OR @ModuleID = 'ASOFTWM' OR @ModuleID = 'ASOFTFA' OR @ModuleID = 'ASOFTM' OR @ModuleID = 'ASOFTHRM')
		AND NOT EXISTS (SELECT TOP 1 1 FROM AT1406 WHERE DataType = 'PE' 
													AND DivisionID = @Division 
													AND GroupID = @GroupID
													AND ModuleID = @ModuleID
													AND DataID = 'PT')
		BEGIN
			INSERT INTO AT1406	(DivisionID,ModuleID,GroupID,DataID,DataType,Permission,CreateDate,CreateUserID,LastModifyUserID,LastModifyDate)
			SELECT TOP 1 @Division, @ModuleID, @GroupID, 'PT', 'PE', 1, GETDATE(), 'ADMIN', 'ADMIN', GETDATE()
			FROM AT1101 WHERE DivisionID = @Division 
		END
    FETCH NEXT FROM cur_AllDivision INTO @Division,@GroupID, @ModuleID
  END
  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision

IF (@CustomerIndex = 25)
BEGIN
-- CustomerIndex khách KINGCOM
DECLARE cur_AllDivision CURSOR FOR
	SELECT AT1101.DivisionID, AT1401.GroupID, ModuleID FROM AT1101 WITH (NOLOCK)
	INNER JOIN AT1401 WITH (NOLOCK)
		ON	AT1401.DivisionID = AT1101.DivisionID
	INNER JOIN AT1409 WITH (NOLOCK)
		ON AT1409.DivisionID = AT1101.DivisionID
	WHERE ModuleID = 'ASOFTOP'
	
	OPEN cur_AllDivision
	FETCH NEXT FROM cur_AllDivision INTO @Division, @GroupID, @ModuleID
	
	WHILE @@fetch_status = 0
  BEGIN
	
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1406 WHERE DataType = 'EN' 
													AND DataID = 'EN01'
													AND DivisionID = @Division 
													AND GroupID = @GroupID
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1406	(	APK, DivisionID, ModuleID, GroupID, DataID, DataType, Permission,
									CreateDate,	CreateUserID, LastModifyUserID,	LastModifyDate)
			VALUES	(	NewID(), @Division,	@ModuleID, @GroupID, 'EN01', 'EN', 0, GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END

	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1406 WHERE DataType = 'EN' 
													AND DataID = 'EN02'
													AND DivisionID = @Division 
													AND GroupID = @GroupID
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1406	(	APK, DivisionID, ModuleID, GroupID, DataID, DataType, Permission,
									CreateDate,	CreateUserID, LastModifyUserID,	LastModifyDate)
			VALUES	(	NewID(), @Division,	@ModuleID, @GroupID, 'EN02', 'EN', 0, GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END
	
	
    FETCH NEXT FROM cur_AllDivision INTO @Division,@GroupID, @ModuleID
  END
	  
	CLOSE cur_AllDivision
	DEALLOCATE cur_AllDivision
END
