-- <Summary>
---- Them vao module commission management
-- <History>
---- Create on 17/12/2013 by Khanh Van
---- Modified on 28/02/2018 by Hoàng vũ: Bổ sung module POS
---- Modified on 24/09/2020 by Vĩnh Tâm: Bổ sung Module BEM
---- <Example> 

IF not exists (Select top 1 1 From AT1409STD Where ModuleID = 'ASOFTCM')
	INSERT into AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTCM', N'Quản lý hoa hồng',N'Commission Management')

IF not exists (Select top 1 1 From AT1409STD Where ModuleID = 'ASOFTS')
	INSERT into AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTS', N'Hệ thống quản trị nguồn nhân lực',N'統合基幹業務システム')

IF not exists (Select top 1 1 From AT1409STD Where ModuleID = 'ASOFTAPP')
	INSERT into AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTAPP', N'Asoft Best Sellers',N'Asoft Best Sellers')

IF not exists (Select top 1 1 From AT1409STD Where ModuleID = 'ASOFTPOS')
	INSERT into AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTPOS', N'Quản lý hệ thống bán lẻ',N'Manager Point of sales')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTBEM')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTBEM', N'Quản lý chi phí kinh doanh', N'Business Expense Management')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTFN')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTFN', N'Quản lý vay', N'Loan Management')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTCSM')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTCSM', N'Quản lý dịch vụ khách hàng', N'Customer Service Management')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTNM')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTNM', N'Quản lý dinh dưỡng', N'Nutrition Management')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTQC')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTQC', N'Quản lý chất lượng', N'Quality Management')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTEDM')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTEDM', N'Quản lý học viên', N'Student Management')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTLM')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTLM', N'Quản lý vay', N'Loan Management')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTSHM')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTSHM', N'Quản lý cổ đông', N'Shareholder Management')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTBI')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTBI', N'Thông tin điều hành doanh nghiệp', N'Business Information')

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409STD WHERE ModuleID = 'ASOFTPO')
	INSERT INTO AT1409STD (ModuleID, Description, DescriptionE)
	VALUES (N'ASOFTPO', N'Quản lý mua hàng', N'Purchase management')