-- <Summary>
---- Thiết lập mã phân tích
-- <History>
---- Create on 16/05/2012 by Thien Huynh: Bo sung 5 Khoan muc Ana06ID - Ana10ID
---- Modified on 04/11/2013 by Thanh Sơn: Bổ sung 5 khoản mục Ngày D01 - D05 và 10 khoản mục Ghi chú N01 - N10
---- Modified on 26/10/2022 by Hoài Bảo: Cập nhật mã phân tích mặc định, bổ sung insert cột DefaultBusinessID cho mã phân tích A01 - A10

---- Modified on ... by 
-- <Example>

DECLARE @DivisionID NVarchar(50)
DECLARE cur_AllDivision CURSOR FOR
SELECT AT1101.DivisionID FROM AT1101
OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @DivisionID
WHILE @@fetch_status = 0
  BEGIN	
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A01' AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A01', N'A01 - Mã phân tích 1', N'Dự án', 0, N'A01 - Project', 0, 0, N'A01 - Analysis code 1', N'ProjectAnaTypeID')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A02'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A02', N'A02 - Mã phân tích 2', N'Hợp đồng', 0, N'A02 - Contract', 0, 0, N'A02 - Analysis code 2', N'ContractAnaTypeID')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A03'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A03', N'A03 - Mã phân tích 3', N'Kho', 0, N'A03 - Warehouse', 0, 0, N'A03 - Analysis code 3', N'WareHouseAnaTypeID')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A04'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A04', N'A04 - Mã phân tích 4', N'Phòng ban', 0, N'A04 - Department', 0, 0, N'A04 - Analysis code 4', N'DepartmentAnaTypeID')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A05'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A05', N'A05 - Mã phân tích 5', N'Tổ nhóm', 0, N'A05 - Team', 0, 0, N'A05 - Analysis code 5', N'TeamAnaTypeID')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A06' AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A06', N'A06 - Mã phân tích 6', N'Doanh thu', 0, N'A06 - Sales', 0, 0, N'A06 - Analysis code 6', N'SalesAnaTypeID')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A07'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A07', N'A07 - Mã phân tích 7', N'Chi phí', 0, N'A07 - Cost', 0, 0, N'A07 - Analysis code 7', N'CostAnaTypeID')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A08'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A08', N'A08 - Mã phân tích 8', N'Đơn hàng', 0, N'A08 - Orders', 0, 0, N'A08 - Analysis code 8', N'OrderAnaTypeID')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A09'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A09', N'A09 - Mã phân tích 9', N'Mã phân tích 9', 0, N'A09 - Analysis code 9', 0, 0, N'A09 - Analysis code 9', NULL)
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'A10'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE, DefaultBusinessID)
	Values (NEWID(), @DivisionID, N'A10', N'A10 - Mã phân tích 10', N'Mã phân tích 10', 0, N'A10 - Analysis code 10', 0, 0, N'A10 - Analysis code 10', NULL)

IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O01' AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O01', N'O01 - Mã phân tich 1', N'Mã phân tích 1', 0, N'O01 - Analysis code 1', 0, 0, N'O01 - Analysis code 1')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O02'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O02', N'O02 - Mã phân tich 2', N'Mã phân tích 2', 0, N'O02 - Analysis code 2', 0, 0, N'O02 - Analysis code 2')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O03'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O03', N'O03 - Mã phân tich 3', N'Mã phân tích 3', 0, N'O03 - Analysis code 3', 0, 0, N'O03 - Analysis code 3')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O04'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O04', N'O04 - Mã phân tich 4', N'Mã phân tích 4', 0, N'O04 - Analysis code 4', 0, 0, N'O04 - Analysis code 4')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O05'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O05', N'O05 - Mã phân tich 05', N'Mã phân tích 05', 0, N'O05 - Analysis code 05', 0, 0, N'O05 - Analysis code 05')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O06' AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O06', N'O06 - Mã phân tich 6', N'Mã phân tích 6', 0, N'O06 - Analysis code 6', 0, 0, N'O06 - Analysis code 6')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O07'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O07', N'O07 - Mã phân tich 7', N'Mã phân tích 7', 0, N'O06 - Analysis code 7', 0, 0, N'O07 - Analysis code 7')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O08'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O08', N'O08 - Mã phân tich 8', N'Mã phân tích 8', 0, N'O08 - Analysis code 8', 0, 0, N'O08 - Analysis code 8')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O09'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O09', N'O09 - Mã phân tich 9', N'Mã phân tích 9', 0, N'O09 - Analysis code 9', 0, 0, N'O09 - Analysis code 9')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'O10'  AND DivisionID=@DivisionID)
	InSert Into AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
	Values (NEWID(), @DivisionID, N'O10', N'O10 - Mã phân tich 10', N'Mã phân tích 10', 0, N'O10 - Analysis code 10', 0, 0, N'O10 - Analysis code 10')

IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'D01'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'D01', N'D01 - Ngày 01', N'Ngày 1', 0, N'Date 1', 0, 0, N'D01 - Date 01')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'D02'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'D02', N'D02 - Ngày 02', N'Ngày 2', 0, N'Date 2', 0, 0, N'D02 - Date 02')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'D03'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'D03', N'D03 - Ngày 03' , N'Ngày 3', 0, N'Date 3', 0, 0, N'D03 - Date 03')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'D04'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'D04', N'D04 - Ngày 04', N'Ngày 4', 0, N'Date 4', 0, 0, N'D04 - Date 04')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'D05'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'D05', N'D05 - Ngày 05', N'Ngày 5', 0, N'Date 5', 0, 0, N'D05 - Date 05')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N01'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N01', N'N01 - Ghi chú 01', N'Ghi chú 1', 0, N'Notes 1', 0, 0, N'N01 - Notes 01')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N02'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N02', N'N02 - Ghi chú 02', N'Ghi chú 2', 0, N'Notes 2', 0, 0, N'N02 - Notes 02')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N03'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N03', N'N03 - Ghi chú 03', N'Ghi chú 3', 0, N'Notes 3', 0, 0, N'N03 - Notes 03')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N04'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N04', N'N04 - Ghi chú 04', N'Ghi chú 4', 0, N'Notes 4', 0, 0, N'N04 - Notes 04')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N05'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N05', N'N05 - Ghi chú 05', N'Ghi chú 5', 0, N'Notes 5', 0, 0, N'N05 - Notes 05')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N06'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N06', N'N06 - Ghi chú 06', N'Ghi chú 6', 0, N'Notes 6', 0, 0, N'N06 - Notes 06')	
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N07'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N07', N'N07 - Ghi chú 07', N'Ghi chú 7', 0, N'Notes 7', 0, 0, N'N07 - Notes 07')	
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N08'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N08', N'N08 - Ghi chú 08', N'Ghi chú 8', 0, N'Notes 8', 0, 0, N'N08 - Notes 08')	
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N09'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N09', N'N09 - Ghi chú 09', N'Ghi chú 9', 0, N'Notes 9', 0, 0, N'N09 - Notes 09')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'N10'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)
		VALUES (NEWID(), @DivisionID, N'N10', N'N10 - Ghi chú 10', N'Ghi chú 10', 0, N'Notes 10', 0, 0, N'N10 - Notes 10')
---------------------------------------------------- Quy cách hàng ----------------------------------------------------------------------------------------------------
		
IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S01'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S01', N'S01 - Quy cách hàng 01', N'Quy cách hàng 1', 0, N'Inventory Standard 1', 0, 0, N'S01 - Inventory Standard 01', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S01'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S02'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S02', N'S02 - Quy cách hàng 02', N'Quy cách hàng 2', 0, N'Inventory Standard 2', 0, 0, N'S02 - Inventory Standard 02', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S02'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S03'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S03', N'S03 - Quy cách hàng 03', N'Quy cách hàng 3', 0, N'Inventory Standard 3', 0, 0, N'S03 - Inventory Standard 03', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S03'
	
IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S04'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S04', N'S04 - Quy cách hàng 04', N'Quy cách hàng 4', 0, N'Inventory Standard 4', 0, 0, N'S04 - Inventory Standard 04', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S04'


IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S05'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S05', N'S05 - Quy cách hàng 05', N'Quy cách hàng 5', 0, N'Inventory Standard 5', 0, 0, N'S05 - Inventory Standard 05', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S05'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S06'  AND DivisionID=@DivisionID )
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S06', N'S06 - Quy cách hàng 06', N'Quy cách hàng 6', 0, N'Inventory Standard 6', 0, 0, N'S06 - Inventory Standard 06', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S06'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S07' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S07', N'S07 - Quy cách hàng 07', N'Quy cách hàng 7', 0, N'Inventory Standard 7', 0, 0, N'S07 - Inventory Standard 07', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S07'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S08'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S08', N'S08 - Quy cách hàng 08', N'Quy cách hàng 8', 0, N'Inventory Standard 8', 0, 0, N'S08 - Inventory Standard 08', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S08'		

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S09'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S09', N'S09 - Quy cách hàng 09', N'Quy cách hàng 9', 0, N'Inventory Standard 9', 0, 0, N'S09 - Inventory Standard 09', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S09'		

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S10'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S10', N'S10 - Quy cách hàng 10', N'Quy cách hàng 10', 0, N'Inventory Standard 10', 0, 0, N'S10 - Inventory Standard 10', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S10'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S11'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S11', N'S11 - Quy cách hàng 11', N'Quy cách hàng 11', 0, N'Inventory Standard 11', 0, 0, N'S11 - Inventory Standard 11', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S11'		

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S12'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S12', N'S12 - Quy cách hàng 12', N'Quy cách hàng 12', 0, N'Inventory Standard 12', 0, 0, N'S12 - Inventory Standard 12', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S12'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S13'  AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S13', N'S13 - Quy cách hàng 13', N'Quy cách hàng 13', 0, N'Inventory Standard 13', 0, 0, N'S13 - Inventory Standard 13', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S13'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S14' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S14', N'S14 - Quy cách hàng 14', N'Quy cách hàng 14', 0, N'Inventory Standard 14', 0, 0, N'S14 - Inventory Standard 14', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S14'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S15' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S15', N'S15 - Quy cách hàng 15', N'Quy cách hàng 15', 0, N'Inventory Standard 15', 0, 0, N'S15 - Inventory Standard 15', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S15'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S16' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S16', N'S16 - Quy cách hàng 16', N'Quy cách hàng 16', 0, N'Inventory Standard 16', 0, 0, N'S16 - Inventory Standard 16', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S16'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S17' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S17', N'S17 - Quy cách hàng 17', N'Quy cách hàng 17', 0, N'Inventory Standard 17', 0, 0, N'S17 - Inventory Standard 17', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S17'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S18' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S18', N'S18 - Quy cách hàng 18', N'Quy cách hàng 18', 0, N'Inventory Standard 18', 0, 0, N'S18 - Inventory Standard 18', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S18'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S19' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S19', N'S19 - Quy cách hàng 19', N'Quy cách hàng 19', 0, N'Inventory Standard 19', 0, 0, N'S19 - Inventory Standard 19', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S19'

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'S20' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES (NEWID(), @DivisionID, N'S20', N'S20 - Quy cách hàng 20', N'Quy cách hàng 20', 0, N'Inventory Standard 20', 0, 0, N'S20 - Inventory Standard 20', 0, N'ASOFTADMIN', GETDATE(), N'ASOFTADMIN', GETDATE())
ELSE
		UPDATE AT0005
		SET CreateUserID = IIF(ISNULL(CreateUserID, '') = '', N'ASOFTADMIN', CreateUserID),
			CreateDate = IIF(ISNULL(CreateDate, '') = '', GETDATE(), CreateDate),
			LastModifyUserID = IIF(ISNULL(LastModifyUserID, '') = '', N'ASOFTADMIN', LastModifyUserID),
			LastModifyDate = IIF(ISNULL(LastModifyDate, '') = '', GETDATE(), LastModifyDate)
		WHERE DivisionID = @DivisionID AND TypeID = N'S20'

----- Thêm 5 mã phân tích mặt hàng
IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I01' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I01', N'I01 - Mã phân tích 1', N'I01 - Mã phân tích 1', 0, N'I01 - Analysis code 1', 0, 0, N'I01 - Analysis code 1', 0)
		
IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I02' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I02', N'I02 - Mã phân tích 2', N'I02 - Mã phân tích 2', 0, N'I02 - Analysis code 2', 0, 0, N'I02 - Analysis code 2', 0)
		
IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I03' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I03', N'I03 - Mã phân tích 3', N'I03 - Mã phân tích 3', 0, N'I03 - Analysis code 3', 0, 0, N'I03 - Analysis code 3', 0)

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I04' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I04', N'I04 - Mã phân tích 4', N'I04 - Mã phân tích 4', 0, N'I04 - Analysis code 4', 0, 0, N'I04 - Analysis code 4', 0)

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I05' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I05', N'I05 - Mã phân tích 05', N'I05 - Mã phân tích 05', 0, N'I05 - Analysis code 05', 0, 0, N'I05 - Analysis code 05', 0)		

----- Thêm 5 mã phân tích mặt hàng
IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I06' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I06', N'I06 - Mã phân tích 6', N'I06 - Mã phân tích 6', 0, N'I06 - Analysis code 6', 0, 0, N'I06 - Analysis code 6', 0)
		
IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I07' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I07', N'I07 - Mã phân tích 7', N'I07 - Mã phân tích 7', 0, N'I07 - Analysis code 7', 0, 0, N'I07 - Analysis code 7', 0)
		
IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I08' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I08', N'I08 - Mã phân tích 8', N'I08 - Mã phân tích 8', 0, N'I08 - Analysis code 8', 0, 0, N'I08 - Analysis code 8', 0)

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I09' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I09', N'I09 - Mã phân tích 9', N'I09 - Mã phân tích 9', 0, N'I09 - Analysis code 9', 0, 0, N'I09 - Analysis code 9', 0)

IF NOT EXISTS (SELECT TypeID FROM AT0005 WHERE TypeID = N'I10' AND DivisionID=@DivisionID)
		INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, [Status], IsCommon, SystemNameE, IsExtraFee)
		VALUES (NEWID(), @DivisionID, N'I10', N'I10 - Mã phân tích 10', N'I10 - Mã phân tích 10', 0, N'I10 - Analysis code 10', 0, 0, N'I10 - Analysis code 10', 0)		

    FETCH NEXT FROM cur_AllDivision INTO @DivisionID
  END  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision

------ Modified by Tiểu Mai on 18/11/2016: Bổ sung định nghĩa tham số cho hợp đồng

IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H01'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H01', N'H01 - Tham số  01', N'Tham số  01', 0, N'Parameter01', 0, 0, N'H01 - Parameter01')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H02'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H02', N'H02 - Tham số  02', N'Tham số  02', 0, N'Parameter02', 0, 0, N'H02 - Parameter02')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H03'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H03', N'H03 - Tham số  03', N'Tham số  03', 0, N'Parameter03', 0, 0, N'H03 - Parameter03')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H04'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H04', N'H04 - Tham số  04', N'Tham số  04', 0, N'Parameter04', 0, 0, N'H04 - Parameter04')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H05'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H05', N'H05 - Tham số  05', N'Tham số  05', 0, N'Parameter05', 0, 0, N'H05 - Parameter05')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H06'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H06', N'H06 - Tham số  06', N'Tham số  06', 0, N'Parameter06', 0, 0, N'H06 - Parameter06')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H07'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H07', N'H07 - Tham số  07', N'Tham số  07', 0, N'Parameter07', 0, 0, N'H07 - Parameter07')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H08'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H08', N'H08 - Tham số  08', N'Tham số  08', 0, N'Parameter08', 0, 0, N'H08 - Parameter08')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H09'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H09', N'H09 - Tham số  09', N'Tham số  09', 0, N'Parameter09', 0, 0, N'H09 - Parameter09')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H10'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H10', N'H10 - Tham số  10', N'Tham số  10', 0, N'Parameter10', 0, 0, N'H10 - Parameter10')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H11'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H11', N'H11 - Tham số  11', N'Tham số  11', 0, N'Parameter11', 0, 0, N'H11 - Parameter11')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H12'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H12', N'H12 - Tham số  12', N'Tham số  12', 0, N'Parameter12', 0, 0, N'H12 - Parameter12')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H13'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H13', N'H13 - Tham số  13', N'Tham số  13', 0, N'Parameter13', 0, 0, N'H13 - Parameter13')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H14'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H14', N'H14 - Tham số  14', N'Tham số  14', 0, N'Parameter14', 0, 0, N'H14 - Parameter14')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H15'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H15', N'H15 - Tham số  15', N'Tham số  15', 0, N'Parameter15', 0, 0, N'H15 - Parameter15')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H16'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H16', N'H16 - Tham số  16', N'Tham số  16', 0, N'Parameter16', 0, 0, N'H16 - Parameter16')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H17'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H17', N'H17 - Tham số  17', N'Tham số  17', 0, N'Parameter17', 0, 0, N'H17 - Parameter17')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H18'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H18', N'H18 - Tham số  18', N'Tham số  18', 0, N'Parameter18', 0, 0, N'H18 - Parameter18')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H19'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H19', N'H19 - Tham số  19', N'Tham số  19', 0, N'Parameter19', 0, 0, N'H19 - Parameter19')
IF NOT EXISTS ( SELECT TypeID FROM AT0005 WHERE TypeID = N'H20'  AND DivisionID=@DivisionID) INSERT INTO AT0005 (APK, DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, Status, IsCommon, SystemNameE)VALUES (NEWID(), @DivisionID, N'H20', N'H20 - Tham số  20', N'Tham số  20', 0, N'Parameter20', 0, 0, N'H20 - Parameter20')





