-- <Summary>
---- Them vao module commission management
-- <History>
---- Create on 17/12/2013 by Khanh Van
---- Modified on 28/02/2018 by Hoàng vũ: Bổ sung Module POS
---- Modified on 24/09/2020 by Vĩnh Tâm: Bổ sung Module BEM
---- <Example> 

DECLARE @DivisionID NVarchar(50)

DECLARE cur_AllDivision CURSOR FOR
SELECT AT1101.DivisionID FROM AT1101

OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @DivisionID

WHILE @@fetch_status = 0
  BEGIN	
		
		IF not exists (Select top 1 1 From AT1409 Where ModuleID = 'ASOFTCM' and DivisionID = @DivisionID)
		INSERT into AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(Select @DivisionID, ModuleID, Description, DescriptionE from AT1409STD where ModuleID='ASOFTCM')

		IF not exists (Select top 1 1 From AT1409 Where ModuleID = 'ASOFTAPP' and DivisionID = @DivisionID)
		INSERT into AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(Select @DivisionID, ModuleID, Description, DescriptionE from AT1409STD where ModuleID='ASOFTAPP')
	
		IF not exists (Select top 1 1 From AT1409 Where ModuleID = 'ASOFTS' and DivisionID=@DivisionID)
		INSERT into AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(Select @DivisionID, ModuleID, Description, DescriptionE from AT1409STD where ModuleID='ASOFTS')
		
		IF not exists (Select top 1 1 From AT1409 Where ModuleID = 'ASOFTPOS' and DivisionID=@DivisionID)
		INSERT into AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(Select @DivisionID, ModuleID, Description, DescriptionE from AT1409STD where ModuleID='ASOFTPOS')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTBEM' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTBEM')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTFN' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTFN')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTCSM' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTCSM')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTNM' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTNM')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTQC' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTQC')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTEDM' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTEDM')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTLM' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTLM')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTSHM' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTSHM')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1409 WHERE ModuleID = 'ASOFTBI' AND DivisionID = @DivisionID)
		INSERT INTO AT1409 (DivisionID, ModuleID, Description, DescriptionE)
		(SELECT @DivisionID, ModuleID, Description, DescriptionE FROM AT1409STD WHERE ModuleID ='ASOFTBI')

	    FETCH NEXT FROM cur_AllDivision INTO @DivisionID
  END
  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision