-- <Summary>
---- 
-- <History>
---- Create on 27/03/2012 by Huỳnh Tấn Phú
---- Modified on 26/12/2011 by Huỳnh Tấn Phú
---- Modified on 11/12/2023 by Trọng Phúc
---- <Example>
-- AT1404STD
DELETE from AT1404STD where ModuleID = 'ASoftCI'and ScreenID = 'CF0096'
INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
VALUES (N'ASoftCI', N'CF0096', N'Danh mục hợp đồng', N'Contract List',2,GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE())
-- AT1403STD
DELETE from AT1403STD where ModuleID = 'ASOFTCI'and ScreenID = 'CF0096'
INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
VALUES (N'CF0096', N'ADMIN', N'AsoftCI', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ADMIN', GETDATE())
-- A00004STD
DELETE from A00004STD where ModuleID = 'ASOFTCI' and ScreenID = 'CF0096'
INSERT [dbo].[A00004STD] ([ModuleID], [ScreenID], [CommandMenu]) 
VALUES (N'AsoftCI', N'CF0096', N'mnuList_Other_Contract')	  		
declare @Division nvarchar(50)
declare cur_AllDivision cursor for
select DivisionID from AT1101

open cur_AllDivision
fetch next from cur_AllDivision into @Division

while @@fetch_status = 0
  begin
  
		DELETE from A00004 where ModuleID = 'ASOFTCI'and ScreenID = 'CF0096'and DivisionID = @Division
		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
		VALUES (@Division, N'AsoftCI', N'CF0096', N'mnuList_Other_Contract')

		DELETE from AT1403 where ModuleID = 'ASOFTCI' and ScreenID = 'CF0096'and DivisionID = @Division
		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
		VALUES (@Division, N'CF0096', N'ADMIN', N'AsoftCI', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE())

		delete from AT1404 where ModuleID = 'AsoftCI' and ScreenID = 'CF0096'and DivisionID = @Division
		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
		VALUES (@Division, N'AsoftCI', N'CF0096', N'Danh mục hợp đồng', N'Contract List',
		2, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE())  		
  -- get next record
    fetch next from cur_AllDivision into @Division
  end  
close cur_AllDivision
deallocate cur_AllDivision
--declare @Division nvarchar(50)
declare cur_AllDivision cursor for
select DivisionID from AT1101
open cur_AllDivision
fetch next from cur_AllDivision into @Division

while @@fetch_status = 0  begin  
  if not exists (
	select * from A00004 
	where ModuleID = 'ASOFTT'
	and ScreenID = 'AF0246'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'AsoftT', N'AF0246', N'mnuList_PrintedInvoice')
  	end
	if not exists (
	select * from A00004STD 
	where ModuleID = 'ASOFTT'
	and ScreenID = 'AF0246')
  	begin
  		INSERT [dbo].[A00004STD] ([ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (N'AsoftT', N'AF0246', N'mnuList_PrintedInvoice')
  	end  		
  	if not exists (
	select * from AT1403 
	where ModuleID = 'ASOFTT'
	and ScreenID = 'AF0246'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'AF0246', N'ADMIN', N'AsoftT', 1, 1, 1, 1, 1, CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end
	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASOFTT'
	and ScreenID = 'AF0246')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0246', N'ADMIN', N'AsoftT', 1, 1, 1, 1, 1, CAST(0x00009DD400000000 AS DateTime), N'ASOFTADMIN', N'ADMIN', CAST(0x00009DD400000000 AS DateTime))
  	end	  					
  -- get next record
    fetch next from cur_AllDivision into @Division
  end  
close cur_AllDivision
deallocate cur_AllDivision
declare cur_AllDivision cursor for
select DivisionID from AT1101

open cur_AllDivision
fetch next from cur_AllDivision into @Division

while @@fetch_status = 0
  begin
  
  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftWM'
	and ScreenID = 'WF0076'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'ASoftWM', N'WF0076', N'mnuReport_Theodoidathang_SX_NK_GH')
  	end
	if not exists (
	select * from A00004STD 
	where ModuleID = 'ASoftWM'
	and ScreenID = 'WF0076')
  	begin
  		INSERT [dbo].[A00004STD] ([ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (N'ASoftWM', N'WF0076', N'mnuReport_Theodoidathang_SX_NK_GH')
  	end
  		
  	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftWM'
	and ScreenID = 'WF0076'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'WF0076', N'ADMIN', N'ASoftWM', 1, 1, 1, 1, 1, CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end
	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftWM'
	and ScreenID = 'WF0076')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'WF0076', N'ADMIN', N'ASoftWM', 1, 1, 1, 1, 1, CAST(0x00009DD400000000 AS DateTime), N'ASOFTADMIN', N'ADMIN', CAST(0x00009DD400000000 AS DateTime))
  	end
  		
	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftWM'
	and ScreenID = 'WF0076'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'ASoftWM', N'WF0076', N'Theo dõi đặt hàng - sản xuất - nhập kho - giao hàng', N'Order Tracking - manufacturing - warehousing - Delivery',
  		1, CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end
	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftWM'
	and ScreenID = 'WF0076')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'ASoftWM', N'WF0076', N'Theo dõi đặt hàng - sản xuất - nhập kho - giao hàng', N'Order Tracking - manufacturing - warehousing - Delivery',1,CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))

  	end			
  -- get next record
    fetch next from cur_AllDivision into @Division
  end
  
close cur_AllDivision
deallocate cur_AllDivision
if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0255')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0255', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, CAST(0x00009DD400000000 AS DateTime), N'ASOFTADMIN', N'ADMIN', CAST(0x00009DD400000000 AS DateTime))
  	end
	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0255')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'ASoftT', N'AF0255', N'Theo dõi chi tiết đơn hàng', N'Detail of Orders',1,CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end	
  	
declare cur_AllDivision cursor for
select DivisionID from AT1101

open cur_AllDivision
fetch next from cur_AllDivision into @Division

while @@fetch_status = 0
  begin
  
  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0255'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'ASoftT', N'AF0255', N'mnuReport_Sales_SOrderDetail')
  	end
	if not exists (
	select * from A00004STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0255')
  	begin
  		INSERT [dbo].[A00004STD] ([ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (N'ASoftT', N'AF0255', N'mnuReport_Sales_SOrderDetail')
  	end
  		
  	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0255'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'AF0255', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end
  		
	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0255'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'ASoftT', N'AF0255', N'Theo dõi chi tiết đơn hàng', N'Detail of Orders',
  		1, CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end
		
  -- get next record
    fetch next from cur_AllDivision into @Division
  end
  
close cur_AllDivision
deallocate cur_AllDivision
if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0250')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0250', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, CAST(0x00009DD400000000 AS DateTime), N'ASOFTADMIN', N'ADMIN', CAST(0x00009DD400000000 AS DateTime))
  	end
	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0250')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'ASoftT', N'AF0250', N'Báo cáo dòng tiền', N'Cash flow report',1,CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end	
  	
declare cur_AllDivision cursor for
select DivisionID from AT1101

open cur_AllDivision
fetch next from cur_AllDivision into @Division

while @@fetch_status = 0
  begin
  
  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0250'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'ASoftT', N'AF0250', N'mnuReport_Finance_CashFlow')
  	end
	if not exists (
	select * from A00004STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0250')
  	begin
  		INSERT [dbo].[A00004STD] ([ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (N'ASoftT', N'AF0250', N'mnuReport_Finance_CashFlow')
  	end
  		
  	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0250'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'AF0250', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end
  		
	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0250'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'ASoftT', N'AF0250', N'Báo cáo dòng tiền', N'Cash flow report',
  		1, CAST(0x00009EAD0119A136 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EAD0119A136 AS DateTime))
  	end
		
  -- get next record
    fetch next from cur_AllDivision into @Division
  end
  
close cur_AllDivision
deallocate cur_AllDivision
---- process for master menu & form
if not exists (
	select top 1 1 from A00004STD 
	where ModuleID = 'ASoftS' 
	and CommandMenu = 'mnuPermission_GroupUser'
)
	insert A00004STD(ModuleID, ScreenID, CommandMenu)
	Values ('ASoftS','AS0006', 'mnuPermission_GroupUser')
-- process divisionid 
insert into A00004(DivisionID, ModuleID, ScreenID, CommandMenu)
select A.DivisionID, B.ModuleID, B.ScreenID, B.CommandMenu 
from A00004STD B cross join (Select Distinct DivisionID from AT1101) A
Where ModuleID = 'ASoftS'
And CommandMenu = 'mnuPermission_GroupUser'
And not exists(select top 1 1 from A00004 
				where DivisionID = A.DivisionID 
				And ModuleID = B.ModuleID 
				And ScreenID = B.ScreenID
				And CommandMenu = B.CommandMenu
				And ModuleID = 'ASoftS'
				And CommandMenu = 'mnuPermission_GroupUser'
				)
--- process for master menu & form
if not exists (
	select top 1 1 from A00004STD 
	where ModuleID = 'ASoftS' 
	and CommandMenu = 'mnuPermission_GroupUserPermission')
	insert A00004STD(ModuleID, ScreenID, CommandMenu)
	Values ('ASoftS','AS0007', 'mnuPermission_GroupUserPermission')
-- process divisionid
insert into A00004(DivisionID, ModuleID, ScreenID, CommandMenu)
select A.DivisionID, B.ModuleID, B.ScreenID, B.CommandMenu 
from A00004STD B cross join (Select Distinct DivisionID from AT1101) A
Where ModuleID = 'ASoftS'
And CommandMenu = 'mnuPermission_GroupUserPermission'
And not exists(select top 1 1 from A00004 
				where DivisionID = A.DivisionID 
				And ModuleID = B.ModuleID 
				And ScreenID = B.ScreenID
				And CommandMenu = B.CommandMenu
				And ModuleID = 'ASoftS'
				And CommandMenu = 'mnuPermission_GroupUserPermission'
				)
--- process for master menu & form
if not exists (
	select top 1 1 from A00004STD 
	where ModuleID = 'ASoftS' 
	and CommandMenu = 'mnuPermission_DataPermission'
)
	insert A00004STD(ModuleID, ScreenID, CommandMenu)
	Values ('ASoftS','AS0008', 'mnuPermission_DataPermission')
-- process divisionid 
insert into A00004(DivisionID, ModuleID, ScreenID, CommandMenu)
select A.DivisionID, B.ModuleID, B.ScreenID, B.CommandMenu 
from A00004STD B cross join (Select Distinct DivisionID from AT1101) A
Where ModuleID = 'ASoftS'
And CommandMenu = 'mnuPermission_DataPermission'
And not exists(select top 1 1 from A00004 
				where DivisionID = A.DivisionID 
				And ModuleID = B.ModuleID 
				And ScreenID = B.ScreenID
				And CommandMenu = B.CommandMenu
				And ModuleID = 'ASoftS'
				And CommandMenu = 'mnuPermission_DataPermission'
				)				
Update AT1404 set ScreenType = 3
where ScreenID = 'OF0032'
Update AT1404 set ScreenType = 2
where ScreenID = 'OF0028'


---phân quyền người dùng quản lý đối tượng - Customer Tân Hòa Lợi 122
IF EXISTS (SELECT TOP 1 1 FROM CustomerIndex WHERE CustomerName IN (122,44))
BEGIN
	IF EXISTS (SELECT TOP 1 1 FROM A00004_1 WHERE ModuleID = 'ASoftS' and ScreenID = 'AS0082PI')
	BEGIN
		DELETE A00004_1 WHERE ScreenID in ('AS0082PI')
	END

	IF NOT EXISTS (
	SELECT TOP 1 1 FROM A00004STD 
	WHERE ModuleID = 'ASoftS' 
	and ScreenID = 'AS0082PI')
	BEGIN
	INSERT A00004STD(ModuleID, ScreenID, CommandMenu)
	VALUES ('ASoftS','AS0082PI', 'mnuPermission_UserManagesObj')
	END

	if not exists (
	select * from A00004 
	where ModuleID = 'ASoftS'
	and ScreenID = 'AS0082PI'
	and DivisionID = @Division)
  	begin
		insert into A00004(DivisionID, ModuleID, ScreenID, CommandMenu)
		select A.DivisionID, B.ModuleID, B.ScreenID, B.CommandMenu 
		from A00004STD B cross join (Select Distinct DivisionID from AT1101) A
		Where ModuleID = 'ASoftS'
		And CommandMenu = 'mnuPermission_UserManagesObj'
  	end

	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftS'
	and ScreenID = 'AS0082PI')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AS0082PI', N'ADMIN', N'ASoftS', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ADMIN', GETDATE())
  	end

	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftS'
	and ScreenID = 'AS0082PI')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'ASoftS', N'AS0082PI', N'Phân quyền nhóm người dùng quản lý đối tượng', N'User permission manages objects',1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE())
  	end	

	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftS'
	and ScreenID = 'AS0082PI'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'AS0082PI', N'ADMIN', N'ASoftS', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE())
  	end
  		
	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftS'
	and ScreenID = 'AS0082PI'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (@Division, N'ASoftS', N'AS0082PI', N'Phân quyền nhóm người dùng quản lý đối tượng', N'User permission manages objects',
  		1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE())
  	end
	
END

IF EXISTS (SELECT * FROM CustomerIndex WHERE CustomerName IN (166))
BEGIN
	IF EXISTS (SELECT TOP 1 1 FROM A00004_1 WHERE ModuleID = 'ASoftT' and ScreenID = 'AF0401')
	BEGIN
		DELETE A00004_1 WHERE ScreenID in ('AF0401')
	END

	IF NOT EXISTS (
	SELECT TOP 1 1 FROM A00004STD 
	WHERE ModuleID = 'ASoftT' 
	and ScreenID = 'AF0401')
	BEGIN
	INSERT A00004STD(ModuleID, ScreenID, CommandMenu)
	VALUES ('ASoftT','AF0401', 'mnuReport_NumberOfItemSold')
	END

	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0401')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0401', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ADMIN', GETDATE())
  	end
	
	  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0401'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'ASoftT', N'AF0401', N'mnuReport_NumberOfItemSold')
  	end

	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0401')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (N'ASoftT', N'AF0401', N'Báo cáo số lượng hàng bán', N'Repor Number Of Item Sold',1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end	

	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0401'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (@Division, N'ASoftT', N'AF0401', N'Báo cáo số lượng hàng bán', N'Repor Number Of Item Sold',
  		1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end

	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0401'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate],[SourceID]) 
  		VALUES (@Division, N'AF0401', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end
	else
	begin
		UPDATE [AT1403] SET [IsAddNew] = 1, [IsUpdate] = 1, [IsDelete] = 1, [IsView] = 1, [IsPrint] = 1 WHERE ScreenID = 'AF0401'
	end

	-- Báo cáo so sánh theo phân loại sản phẩm

	IF EXISTS (SELECT TOP 1 1 FROM A00004_1 WHERE ModuleID = 'ASoftT' and ScreenID = 'AF0404')
	BEGIN
		DELETE A00004_1 WHERE ScreenID in ('AF0404')
	END

	IF NOT EXISTS (
	SELECT TOP 1 1 FROM A00004STD 
	WHERE ModuleID = 'ASoftT' 
	and ScreenID = 'AF0404')
	BEGIN
	INSERT A00004STD(ModuleID, ScreenID, CommandMenu)
	VALUES ('ASoftT','AF0404', 'mnuReport_ProductCategory')
	END

	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0404')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0404', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ADMIN', GETDATE())
  	end
	
	  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0404'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'ASoftT', N'AF0404', N'mnuReport_ProductCategory')
  	end

	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0404')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (N'ASoftT', N'AF0404', N'Báo cáo so sánh theo phân loại sản phẩm', N'Product Category Comparison Report',1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end	

	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0404'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (@Division, N'ASoftT', N'AF0404', N'Báo cáo so sánh theo phân loại sản phẩm', N'Product Category Comparison Report',
  		1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end

	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0404'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate],[SourceID]) 
  		VALUES (@Division, N'AF0404', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end
	else
	begin
		UPDATE [AT1403] SET [IsAddNew] = 1, [IsUpdate] = 1, [IsDelete] = 1, [IsView] = 1, [IsPrint] = 1 WHERE ScreenID = 'AF0404'
	end

	-- Báo cáo so sánh theo phân loại sản phẩm

	IF EXISTS (SELECT TOP 1 1 FROM A00004_1 WHERE ModuleID = 'ASoftT' and ScreenID = 'AF0407')
	BEGIN
		DELETE A00004_1 WHERE ScreenID in ('AF0407')
	END

	IF NOT EXISTS (
	SELECT TOP 1 1 FROM A00004STD 
	WHERE ModuleID = 'ASoftT' 
	and ScreenID = 'AF0407')
	BEGIN
	INSERT A00004STD(ModuleID, ScreenID, CommandMenu)
	VALUES ('ASoftT','AF0407', 'mnuReport_ProductSalesClassification')
	END

	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0407')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0407', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ADMIN', GETDATE())
  	end
	
	  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0407'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'ASoftT', N'AF0407', N'mnuReport_ProductSalesClassification')
  	end

	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0407')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (N'ASoftT', N'AF0407', N'Báo cáo phân lọai doanh sản phẩm theo cấp (Đã trừ hồi)', N'Report on Product Sales Classification by Level (Net of Returns)',1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end	

	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0407'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (@Division, N'ASoftT', N'AF0407', N'Báo cáo phân lọai doanh sản phẩm theo cấp (Đã trừ hồi)', N'Report on Product Sales Classification by Level (Net of Returns)',
  		1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end

	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0407'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate],[SourceID]) 
  		VALUES (@Division, N'AF0407', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end
	else
	begin
		UPDATE [AT1403] SET [IsAddNew] = 1, [IsUpdate] = 1, [IsDelete] = 1, [IsView] = 1, [IsPrint] = 1 WHERE ScreenID = 'AF0407'
	end

	-- Màn hình chọn loại sản phẩm

	IF EXISTS (SELECT TOP 1 1 FROM A00004_1 WHERE ModuleID = 'ASoftT' and ScreenID = 'AF0405')
	BEGIN
		DELETE A00004_1 WHERE ScreenID in ('AF0405')
	END

	IF NOT EXISTS (
	SELECT TOP 1 1 FROM A00004STD 
	WHERE ModuleID = 'ASoftT' 
	and ScreenID = 'AF0405')
	BEGIN
	INSERT A00004STD(ModuleID, ScreenID)
	VALUES ('ASoftT','AF0405')
	END

	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0405')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0405', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ADMIN', GETDATE())
  	end
	
	  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0405'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID]) 
  		VALUES (@Division, N'ASoftT', N'AF0405')
  	end

	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0405')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (N'ASoftT', N'AF0405', N'Chọn loại sản phẩm', N'Select Product Type',4, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end	

	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0405'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (@Division, N'ASoftT', N'AF0405', N'Chọn loại sản phẩm', N'Select Product Type',
  		4, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end

	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0405'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate],[SourceID]) 
  		VALUES (@Division, N'AF0405', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end
	else
	begin
		UPDATE [AT1403] SET [IsAddNew] = 1, [IsUpdate] = 1, [IsDelete] = 1, [IsView] = 1, [IsPrint] = 1 WHERE ScreenID = 'AF0405'
	end
	---Báo cáo tổng hợp doanh thu theo từng công ty---
	IF EXISTS (SELECT TOP 1 1 FROM A00004_1 WHERE ModuleID = 'ASoftT' and ScreenID = 'AF0406')
	BEGIN
		DELETE A00004_1 WHERE ScreenID in ('AF0406')
	END

	IF NOT EXISTS (
	SELECT TOP 1 1 FROM A00004STD 
	WHERE ModuleID = 'ASoftT' 
	and ScreenID = 'AF0406')
	BEGIN
	INSERT A00004STD(ModuleID, ScreenID, CommandMenu)
	VALUES ('ASoftT','AF0406', 'mnuReport_TotalRevenueOfEachCompany')
	END

	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0406')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0406', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ADMIN', GETDATE())
  	end
	
	  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0406'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'ASoftT', N'AF0406', N'mnuReport_TotalRevenueOfEachCompany')
  	end

	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0406')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (N'ASoftT', N'AF0406', N'Báo cáo tổng hợp doanh thu theo từng công ty', N'Total Revenue Of Each Company',1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end	

	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0406'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (@Division, N'ASoftT', N'AF0406', N'Báo cáo số lượng hàng bán', N'Total Revenue Of Each Company',
  		1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end

	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0406'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate],[SourceID]) 
  		VALUES (@Division, N'AF0406', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end
	else
	begin
		UPDATE [AT1403] SET [IsAddNew] = 1, [IsUpdate] = 1, [IsDelete] = 1, [IsView] = 1, [IsPrint] = 1 WHERE ScreenID = 'AF0406'
	end
	---Báo cáo số lượng theo nhóm hàng---
	IF EXISTS (SELECT TOP 1 1 FROM A00004_1 WHERE ModuleID = 'ASoftT' and ScreenID = 'AF0438')
	BEGIN
		DELETE A00004_1 WHERE ScreenID in ('AF0438')
	END

	IF NOT EXISTS (
	SELECT TOP 1 1 FROM A00004STD 
	WHERE ModuleID = 'ASoftT' 
	and ScreenID = 'AF0438')
	BEGIN
	INSERT A00004STD(ModuleID, ScreenID, CommandMenu)
	VALUES ('ASoftT','AF0438', 'mnuReport_QuantityForEachInventory')
	END

	if not exists (
	select * from AT1403STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0438')
  	begin
  		INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) 
  		VALUES (N'AF0438', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ADMIN', GETDATE())
  	end
	
	  if not exists (
	select * from A00004 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0438'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[A00004] ([DivisionID], [ModuleID], [ScreenID], [CommandMenu]) 
  		VALUES (@Division, N'ASoftT', N'AF0438', N'mnuReport_QuantityForEachInventory')
  	end

	if not exists (
	select * from AT1404STD 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0438')
  	begin
		INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (N'ASoftT', N'AF0438', N'Báo cáo tổng hợp doanh thu theo từng công ty', N'Quantity For Each Inventory',1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end	

	if not exists (
	select * from AT1404 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0438'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1404] ([DivisionID], [ModuleID], [ScreenID], [ScreenName], [ScreenNameE], [ScreenType], 
  		[CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate], [SourceID]) 
  		VALUES (@Division, N'ASoftT', N'AF0438', N'Báo cáo số lượng hàng bán', N'Quantity For Each Inventory',
  		1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end

	if not exists (
	select * from AT1403 
	where ModuleID = 'ASoftT'
	and ScreenID = 'AF0438'
	and DivisionID = @Division)
  	begin
  		INSERT [dbo].[AT1403] ([DivisionID], [ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate],[SourceID]) 
  		VALUES (@Division, N'AF0438', N'ADMIN', N'ASoftT', 1, 1, 1, 1, 1, GETDATE(), N'ASOFTADMIN', N'ASOFTADMIN', GETDATE(), N'ERP8')
  	end
	else
	begin
		UPDATE [AT1403] SET [IsAddNew] = 1, [IsUpdate] = 1, [IsDelete] = 1, [IsView] = 1, [IsPrint] = 1 WHERE ScreenID = 'AF0438'
	end
END