-- <Summary>
---- 
-- <History>
---- Create on 19/11/2011 by Le Thi Thu Hien
---- Modified on 15/05/2012 by Thien Huynh: Bo sung phan quyen hien thi Gia von, Thanh tien
---- Modified on 15/05/2012 by Thien Huynh: Bo sung them vao ky ke toan dau tien
---- Modified on 06/11/2018 by Tra Giang: Bo sung phân quyền hiển thị giá bán, chiết khấu, hoa hồng , giảm giá
---- Modified on 09/11/2018 by Kim Thư: Sửa câu If not exist sửa lỗi insert báo trùng dữ liệu khi chạy lại fix
---- Modified on 07/10/2021 by Lê Hoàng: Bổ sung phân quyền cho phép thiết lập dữ liệu Từ ngày đến ngày của Kỳ kế toán ở màn hình chọn kỳ AS0078
---- Modified on 10/08/2023 by Thành Sang: Bổ sung phân quyền cho phép nhập đơn giá/ chiết khấu - Khách KINGCOM
---- Modified on 28/08/2023 by Thành Sang: Tách phân quyền nhập đơn giá và chiết khấu - Khách KINGCOM
---- <Example>
DECLARE @Division nvarchar(50),
		@ModuleID NVARCHAR(50),
		@CustomerIndex INT = -1

SET @CustomerIndex = (SELECT TOP 1 CustomerName FROM CustomerIndex)

DECLARE cur_AllDivision CURSOR FOR
SELECT AT1101.DivisionID, ModuleID FROM AT1101
LEFT JOIN AT1409
	ON AT1409.DivisionID = AT1101.DivisionID
OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @Division, @ModuleID
WHILE @@fetch_status = 0
  BEGIN
	
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'VD' AND DataID = 'VD'
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1407	(	DivisionID,	ModuleID,DataID,DataName, DataType,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	 'VD', N'Ngày phiếu', 'VD',  GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END	
	
	--Hiển thị Giá vốn
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'PR' AND DataID = 'PR'
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1407	(	DivisionID,	ModuleID,DataID,DataName, DataType,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	 'PR', N'Hiển thị Giá vốn', 'PR',  GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END		
	
	--Hiển thị Thành tiền
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'AM' AND DataID = 'AM'
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1407	(	DivisionID,	ModuleID,DataID,DataName, DataType,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	 'AM', N'Hiển thị Thành tiền', 'AM',  GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END

	--Hiển thị giá bán
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'IV'  AND DataID = 'LP'
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1407	(	DivisionID,	ModuleID,DataID,DataName, DataType,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	 'LP', N'Sửa giá bán', 'IV',  GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END	
	
	--Hiển thị chiết khấu
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'IV'  AND DataID = 'CK'
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1407	(	DivisionID,	ModuleID,DataID,DataName, DataType,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	 'CK', N'Sửa chiết khấu', 'IV',  GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END	
	
	--Hiển thị giảm giá
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'IV'   AND DataID = 'GG'
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1407	(	DivisionID,	ModuleID,DataID,DataName, DataType,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	 'GG', N'Sửa giảm giá', 'IV',  GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END	
	
	--Hiển thị hoa hồng
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'IV'  AND DataID = 'HH' 
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1407	(	DivisionID,	ModuleID,DataID,DataName, DataType,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			VALUES	(	@Division,	@ModuleID,	 'HH', N'Sửa hoa hồng', 'IV',  GETDATE(),'ADMIN', 'ADMIN',GETDATE())

		END	

	--Cho phép thiết lập dữ liệu Từ ngày đến ngày của Kỳ kế toán ở màn hình chọn kỳ AS0078
	IF (@ModuleID = 'ASOFTS' OR @ModuleID = 'ASOFTOP' OR @ModuleID = 'ASOFTT' OR @ModuleID = 'ASOFTCI' OR @ModuleID = 'ASOFTCM'
	 OR @ModuleID = 'ASOFTCS' OR @ModuleID = 'ASOFTWM' OR @ModuleID = 'ASOFTFA' OR @ModuleID = 'ASOFTM' OR @ModuleID = 'ASOFTHRM')
		AND NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'PE' 
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID
													AND DataID = 'PT')
		BEGIN
			INSERT INTO AT1407([DivisionID],[ModuleID],[DataID],[DataName],[DataType],[CreateDate],[CreateUserID],[LastModifyUserID],[LastModifyDate])
			VALUES (@Division,@ModuleID,'PT',N'Thời gian bắt đầu và kết thúc của Kỳ kế toán','PE',GETDATE(),'ASOFTADMIN','ASOFTADMIN',GETDATE())
		END
    FETCH NEXT FROM cur_AllDivision INTO @Division, @ModuleID
  END  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision
--DECLARE @Division nvarchar(50),
--		@ModuleID NVARCHAR(50)


DECLARE cur_AllDivision CURSOR FOR
SELECT AT1101.DivisionID, ModuleID FROM AT1101
LEFT JOIN AT1409
	ON AT1409.DivisionID = AT1101.DivisionID

OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @Division, @ModuleID

WHILE @@fetch_status = 0
  BEGIN
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'PE' AND DataID= (SELECT CAST(BeginMonth AS varchar(2))+'/' +Cast(beginyear as varchar(4))  From AT1101 where divisionID =@Division )
													AND DivisionID = @Division 
													AND ModuleID = @ModuleID)
		BEGIN
			INSERT INTO AT1407	(	DivisionID,	ModuleID,DataID,DataName, DataType,
									CreateDate,	CreateUserID,LastModifyUserID,	LastModifyDate)
			Select @Division, @ModuleID, CAST(BeginMonth AS varchar(2))+'/' +Cast(beginyear as varchar(4)), N'Kỳ kế toán'+ CAST(BeginMonth AS varchar(2))+'/' +Cast(beginyear as varchar(4)),'PE', GETDATE(),'ADMIN', 'ADMIN',GETDATE()
			 From AT1101 where divisionID =@Division 

		END

    FETCH NEXT FROM cur_AllDivision INTO @Division, @ModuleID
  END
  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision

IF (@CustomerIndex = 25)
BEGIN
-- CustomerIndex khách KINGCOM
	DECLARE cur_AllDivision CURSOR FOR

	SELECT AT1101.DivisionID,ModuleID FROM AT1101 WITH (NOLOCK)
	INNER JOIN AT1409 WITH (NOLOCK)
		ON AT1409.DivisionID = AT1101.DivisionID
	WHERE ModuleID = 'ASOFTOP'
	
	OPEN cur_AllDivision
	FETCH NEXT FROM cur_AllDivision INTO @Division, @ModuleID
	
	WHILE @@fetch_status = 0
  BEGIN
	
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'EN' 
													AND DataID = 'EN01'
													AND ModuleID = @ModuleID
													AND DivisionID = @Division)
		BEGIN
			INSERT AT1407 (APK, DivisionID, ModuleID, DataID, DataName, DataType, CreateUserID, LastModifyUserID, CreateDate, LastModifyDate )
			VALUES (NewID(), 'KC', 'ASOFTOP', 'EN01', N'Phân quyền nhập liệu đơn giá', 'EN', 'ADMIN', 'ADMIN', GETDATE(), GETDATE()  )
		END
	
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1407 WHERE DataType = 'EN' 
													AND DataID = 'EN02'
													AND ModuleID = @ModuleID
													AND DivisionID = @Division)
		BEGIN
			INSERT AT1407 (APK, DivisionID, ModuleID, DataID, DataName, DataType, CreateUserID, LastModifyUserID, CreateDate, LastModifyDate )
			VALUES (NewID(), 'KC', 'ASOFTOP', 'EN02', N'Phân quyền nhập liệu chiết khấu', 'EN', 'ADMIN', 'ADMIN', GETDATE(), GETDATE()  )
		END
	
    FETCH NEXT FROM cur_AllDivision INTO @Division, @ModuleID
  END
	  
	CLOSE cur_AllDivision
	DEALLOCATE cur_AllDivision
END

