-- <Summary>
---- Bổ sung Danh sách con nhân viên theo độ tuổi [Customize Index: 36 - Sài Gòn Petro]
-- <History>
---- Create on 07/10/2014 by Bảo Anh
---- Modified on 02/10/2014 by Lê Thị Hạnh
---- Modified on 30/06/2015 by Bảo Anh: Bỏ mẫu HR0318 vì mẫu này in ở MH nghiệp vụ
---- Modified on 03/11/2015 by Kim Vũ: Bổ sung Type = 80 trong G03 báo cáo đề nghị điều chỉnh hồ sơ BHXH - BHYT
---- Modified on 25/02/2016 by Kim Vũ: Bổ sung Type = 4 trong G06
---- Modified on 25/02/2016 by Kim Vũ: Bổ sung Type = 5 trong G06
---- Modified on 14/04/2016 by Kim Vũ: Bổ sung ReportID HR346201 ~ HR3462
---- Modified on 15/01/2018 by Bảo Anh: UPDATE SQLString, Orderby cho các mẫu bổ sung in nhiều Đơn vị (Bỏ Where DivisionID)

---- Add HR0348
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR0348', 
	 @ReportName = N'Danh sách con nhân viên theo độ tuổi', @ReportNameE = N'Age Of Employee Children List', 
	 @ReportTitle = N'DANH SÁCH CON NHÂN VIÊN THEO ĐỘ TUỔI', @ReportTitleE = N'AGE OF EMPLOYEE CHILDREN LIST',
	 @Description = N'DANH SÁCH CON NHÂN VIÊN THEO ĐỘ TUỔI', @DescriptionE = N'AGE OF EMPLOYEE CHILDREN LIST', 
	 @Type = 2, @SQLstring = N'', @Orderby = N'ORDER BY EmployeeID, RelationDate, RelationID',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR1412
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR1412', 
	 @ReportName = N'Danh sách nhân viên nghỉ việc', @ReportNameE = N'Resignation list', 
	 @ReportTitle = N'DANH SÁCH NHÂN VIÊN NGHỈ VIỆC', @ReportTitleE = N'RESIGNATION LIST',
	 @Description = N'DANH SÁCH NHÂN VIÊN NGHỈ VIỆC', @DescriptionE = N'RESIGNATION LIST', 
	 @Type = 9, @SQLstring = N'', @Orderby = N'Order by DepartmentID, Isnull(TeamID,''''), EmployeeID',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR1413
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR1413', 
	 @ReportName = N'Danh sách nhân viên tạm nghỉ', @ReportNameE = N'Breaking list', 
	 @ReportTitle = N'DANH SÁCH NHÂN VIÊN TẠM NGHỈ', @ReportTitleE = N'BREAKING LIST',
	 @Description = N'DANH SÁCH NHÂN VIÊN TẠM NGHỈ', @DescriptionE = N'BREAKING LIST', 
	 @Type = 3, @SQLstring = N'', @Orderby = N'Order by DepartmentID, Isnull(TeamID,''''), EmployeeID',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR2504
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR2504', 
	 @ReportName = N'Danh sách thanh toán chế độ ốm đau, thai sản, dưỡng sức PHSK', @ReportNameE = N'Payment insurance regime report', 
	 @ReportTitle = N'DANH SÁCH THANH TOÁN CHẾ ĐỘ ỐM ĐAU, THAI SẢN, DƯỠNG SỨC PHSK', @ReportTitleE = N'PAYMENT INSURANCE REGIME REPORT',
	 @Description = N'DANH SÁCH THANH TOÁN CHẾ ĐỘ ỐM ĐAU, THAI SẢN, DƯỠNG SỨC PHSK', @DescriptionE = N'PAYMENT INSURANCE REGIME REPORT', 
	 @Type = 9, @SQLstring = N'', @Orderby = N'Order by Group01ID, ConditionTypeID',
	 @TEST = 0, @TableID = N'HT8888'	
---- Add HR0324
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR0324', 
	 @ReportName = N'Danh sách trả thẻ BHYT', @ReportNameE = N'Return health insurance list', 
	 @ReportTitle = N'DANH SÁCH TRẢ THẺ BHYT', @ReportTitleE = N'RETURN HEALTH INSURANCE LIST',
	 @Description = N'DANH SÁCH TRẢ THẺ BHYT', @DescriptionE = N'RETURN HEALTH INSURANCE LIST', 
	 @Type = 10, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR0323
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR0323', 
	 @ReportName = N'Danh sách lao động tham gia BHXH, BHYT', @ReportNameE = N'Labor list join in social insurance, health insurance', 
	 @ReportTitle = N'DANH SÁCH LAO ĐỘNG THAM GIA BHXH, BHYT', @ReportTitleE = N'LABOR LIST JOIN IN SOCIAL INSURANCE, HEALTH INSURANCE',
	 @Description = N'DANH SÁCH LAO ĐỘNG THAM GIA BHXH, BHYT', @DescriptionE = N'LABOR LIST JOIN IN SOCIAL INSURANCE, HEALTH INSURANCE', 
	 @Type = 10, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR0340: BẢNG THANH TOÁN TÀU
EXEC AP8888 @GroupID = N'G11', @ModuleID = 'ASoftHR', @ReportID = N'HR0340', 
	 @ReportName = N'Bảng thanh toán tàu tổng hợp', @ReportNameE = N'Ship general payment report', 
	 @ReportTitle = N'BẢNG THANH TOÁN TÀU', @ReportTitleE = N'SHIP PAYMENT REPORT',
	 @Description = N'Bảng thanh toán tàu tổng hợp', @DescriptionE = N'Ship general paymenr Report', 
	 @Type = 1, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR0341: Chi tiết ca-tàu-tổ
EXEC AP8888 @GroupID = N'G11', @ModuleID = 'ASoftHR', @ReportID = N'HR0341', 
	 @ReportName = N'Bảng thanh toán tàu chi tiết', @ReportNameE = N'Ship detail payment report', 
	 @ReportTitle = N'BẢNG THANH TOÁN TÀU', @ReportTitleE = N'SHIP PAYMENT REPORT',
	 @Description = N'Bảng thanh toán tàu chi tiết', @DescriptionE = N'Ship detail paymenr Report', 
	 @Type = 2, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR0342: Chi tiết ca-tàu-tổ
EXEC AP8888 @GroupID = N'G12', @ModuleID = 'ASoftHR', @ReportID = N'HR0342', 
	 @ReportName = N'Bảng in chi tiết từng ca-tàu-tổ', @ReportNameE = N'Detail of shift-ship-team report', 
	 @ReportTitle = N'BẢNG IN CGI TIẾT TỪNG CA TÀU TỔ', @ReportTitleE = N'DETAIL OF SHIFT-SHIP-TEAM REPORT',
	 @Description = N'Bảng in chi tiết từng ca-tàu-tổ', @DescriptionE = N'Detail of shift-ship-team report', 
	 @Type = 1, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'	
---- Add HR2406
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'ASoftHR', @ReportID = N'HR2406', 
	 @ReportName = N'Báo cáo chấm công ngày', @ReportNameE = N'Time-keeping report', 
	 @ReportTitle = N'BÁO CÁO CHẤM CÔNG NGÀY', @ReportTitleE = N'TIME-KEEPING REPORT',
	 @Description = N'BÁO CÁO CHẤM CÔNG NGÀY', @DescriptionE = N'TIME-KEEPING REPORT', 
	 @Type = 2, @SQLstring = N'Select * from HV2403', @Orderby = N'Order by DepartmentID, TeamID, EmployeeID, AbsentDate, OrdersAbsentType',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR2706
EXEC AP8888 @GroupID = N'G08', @ModuleID = 'ASoftHR', @ReportID = N'HR2706', 
	 @ReportName = N'Chứng từ Khấu trừ thuế TNCN', @ReportNameE = N'Certificate of Personal Income Tax Withholding', 
	 @ReportTitle = N'CHỨNG TỪ KHẤU TRỪ THUẾ THU NHẬP CÁ NHÂN', @ReportTitleE = N'CERTIFICATE OF PERSONAL INCOME TAX WITHHOLDING',
	 @Description = N'CHỨNG TỪ KHẤU TRỪ THUẾ THU NHẬP CÁ NHÂN', @DescriptionE = N'CERTIFICATE OF PERSONAL INCOME TAX WITHHOLDING', 
	 @Type = 2, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'	
---- Add HR2411
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftHR', @ReportID = N'HR2411', 
	 @ReportName = N'Báo cáo theo dõi thi đua', @ReportNameE = N'Emulation report', 
	 @ReportTitle = N'BÁO CÁO THEO DÕI THI ĐUA', @ReportTitleE = N'EMULATION REPORT',
	 @Description = N'BÁO CÁO THEO DÕI THI ĐUA', @DescriptionE = N'EMULATION REPORT', 
	 @Type = 0, @SQLstring = N'', @Orderby = N'Order by DepartmentID, EmployeeID',
	 @TEST = 0, @TableID = N'HT8888'	 
---- Add HR2705
EXEC AP8888 @GroupID = N'G08', @ModuleID = 'ASoftHR', @ReportID = N'HR2705', 
	 @ReportName = N'Bảng kê thuế TNCN (mẫu 05A/BK-TNCN)', @ReportNameE = N'Personal tax list', 
	 @ReportTitle = N'BẢNG KÊ THUẾ TNCN (MẪU 05A/BK-TNCN)', @ReportTitleE = N'PERSONAL TAX LIST',
	 @Description = N'BẢNG KÊ THUẾ TNCN (MẪU 05A/BK-TNCN)', @DescriptionE = N'PERSONAL TAX LIST', 
	 @Type = 2, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'	
---- Add HR0349
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR0349', 
	 @ReportName = N'Báo cáo quá trình công tác', @ReportNameE = N'Employee History Report', 
	 @ReportTitle = N'BÁO CÁO QUÁ TRÌNH CÔNG TÁC', @ReportTitleE = N'EMPLOYEE HISTORY REPORT',
	 @Description = N'BÁO CÁO QUÁ TRÌNH CÔNG TÁC', @DescriptionE = N'EMPLOYEE HISTORY REPORT', 
	 @Type = 4, @SQLstring = N'', @Orderby = N'ORDER BY EmployeeID, FromDate, ToDate',
	 @TEST = 0, @TableID = N'HT8888'	
---- Add HR2816
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR2816', 
	 @ReportName = N'Chi tiết nhân viên', @ReportNameE = N'PERSONAL DETAIL', 
	 @ReportTitle = N'Chi tiết nhân viên', @ReportTitleE = N'PERSONAL DETAIL',
	 @Description = N'Chi tiết nhân viên', @DescriptionE = N'PERSONAL DETAIL', 
	 @Type = 10, @SQLstring = N'SELECT HV2815.*, HV2820.*  From HV2815 HV2815, HV2820 HV2820  Where  HV2815.EmployeeID = HV2820.EmployeeID  and HV2815.DivisionID = HV2820.DivisionID   AND  HV2815.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', @Orderby = N'Order By HV2820.Suppress Asc,HV2815.EmployeeID ASC',
	 @TEST = 0, @TableID = N'HT8888'
---- Add HR1400
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR1400', 
	 @ReportName = N'Danh sách nhân viên', @ReportNameE = N'LABOUR LIST', 
	 @ReportTitle = N'Danh sách nhân viên', @ReportTitleE = N'LABOUR LIST',
	 @Description = N'Danh sách nhân viên', @DescriptionE = N'LABOUR LIST', 
	 @Type = 10, @SQLstring = N'SELECT * FROM HV1400 WHERE DivisionID = @DivisionID', @Orderby = N'ORDER BY EmployeeID ASC',
	 @TEST = 0, @TableID = N'HT8888'	
---- Add HR0318
--EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR0318', 
--	 @ReportName = N'Tờ khai tham gia bảo hiểm xã hội, bảo hiểm y tế', @ReportNameE = N'Labor list join in social insurance, health insurance', 
--	 @ReportTitle = N'TỜ KHAI THAM GIA BHXH, BHYT', @ReportTitleE = N'LABOR LIST JOIN IN SOCIAL INSURANCE, HEALTH INSURANCE',
--	 @Description = N'TỜ KHAI THAM GIA BHXH, BHYT', @DescriptionE = N'LABOR LIST JOIN IN SOCIAL INSURANCE, HEALTH INSURANCE', 
--	 @Type = 1, @SQLstring = N'', @Orderby = N'',
--	 @TEST = 0, @TableID = N'HT8888'	 
---- Add HR0345: Danh sách tạm hoãn hợp đồng
EXEC AP8888 @GroupID = N'G21', @ModuleID = 'ASoftHR', @ReportID = N'HR0345', 
	 @ReportName = N'Danh sách tạm hoãn công ty', @ReportNameE = N'Danh sách tạm hoãn công ty', 
	 @ReportTitle = N'DANH SÁCH TẠM HOÃN CÔNG TY', @ReportTitleE = N'DANH SÁCH TẠM HOÃN CÔNG TY',
	 @Description = N'DANH SÁCH TẠM HOÃN CÔNG TY', @DescriptionE = N'DANH SÁCH TẠM HOÃN CÔNG TY', 
	 @Type = 1, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'	 
---- Add HR1380: Quyết định thôi việc
EXEC AP8888 @GroupID = N'G20', @ModuleID = 'ASoftHR', @ReportID = N'HR0345', 
	 @ReportName = N'Quyết định thôi việc', @ReportNameE = N'Deciding severance report', 
	 @ReportTitle = N'QUYẾT ĐỊNH THÔI VIỆC', @ReportTitleE = N'DECIDING SEVERANCE REPORT',
	 @Description = N'QUYẾT ĐỊNH THÔI VIỆC', @DescriptionE = N'DECIDING SEVERANCE REPORT', 
	 @Type = 1, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'

---- Update Report
update HT8888 Set GroupID = 'G01', Type = 1 WHere ReportID in ('HR1407','HR1408','HR1410')

---- Delete Report
Delete HT8888STD Where ReportID = 'HR0318'
Delete HT8888 Where ReportID = 'HR0318'

---- Add HR2488: DANH SÁCH ĐỀ NGHỊ ĐIỀU CHỈNH HỒ SƠ CẤP SỔ BHXH, THẺ BHYT
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR2488', 
	 @ReportName = N'D07-TS', @ReportNameE = N'D07-TS', 
	 @ReportTitle = N'DANH SÁCH ĐỀ NGHỊ ĐIỀU CHỈNH HỒ SƠ CẤP SỔ BHXH, THẺ BHYT', @ReportTitleE = N'DANH SÁCH ĐỀ NGHỊ ĐIỀU CHỈNH HỒ SƠ CẤP SỔ BHXH, THẺ BHYT',
	 @Description = N'DANH SÁCH ĐỀ NGHỊ BHXH, BHYT', @DescriptionE = N'DANH SÁCH ĐỀ NGHỊ BHXH, BHYT', 
	 @Type = 80, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR2488A', 
	 @ReportName = N'03a-DS/CLS', @ReportNameE = N'03a-DS/CLS', 
	 @ReportTitle = N'DANH SÁCH ĐỀ NGHỊ CẤP LẠI SỔ BHXH', @ReportTitleE = N'DANH SÁCH ĐỀ NGHỊ CẤP LẠI SỔ BHXH',
	 @Description = N'DANH SÁCH ĐỀ NGHỊ BHXH, BHYT', @DescriptionE = N'DANH SÁCH ĐỀ NGHỊ BHXH, BHYT', 
	 @Type = 80, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR2488B', 
	 @ReportName = N'03b-DS/CLTH', @ReportNameE = N'03b-DS/CLTH', 
	 @ReportTitle = N'DANH SÁCH ĐỀ NGHỊ CẤP LẠI THẺ BHYT', @ReportTitleE = N'DANH SÁCH ĐỀ NGHỊ CẤP LẠI THẺ BHYT',
	 @Description = N'DANH SÁCH ĐỀ NGHỊ BHXH, BHYT', @DescriptionE = N'DANH SÁCH ĐỀ NGHỊ BHXH, BHYT', 
	 @Type = 80, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
-- Update SQLString HR2488
	Update HT8888 set SQLString =N'Select *
      From HQ2488
      Where VoucherID = ''@VoucherID''
      and DivisionID = @DivisionID' where ReportID ='HR2488' and Type = 80 and GroupID ='G03'
	Update HT8888 set SQLString =N'Select *
      From HQ2488
      Where VoucherID = ''@VoucherID''
      and DivisionID = @DivisionID' where ReportID ='HR2488A' and Type = 80 and GroupID ='G03'
	Update HT8888 set SQLString =N'Select *
      From HQ2488
      Where VoucherID = ''@VoucherID''
      and DivisionID = @DivisionID' where ReportID ='HR2488B' and Type = 80 and GroupID ='G03'

/****Modified by Bảo Thy on 12/09/2017: Add 2 mẫu report tổng hợp vi phạm của MEIKO vào chuẩn
--http://192.168.0.204:8069/web?db=ASERP#id=5835&view_type=form&model=crm.helpdesk&menu_id=451&action=423
***/
---- Add HR2411
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftHR', @ReportID = N'HR0361', 
	 @ReportName = N'Báo cáo tổng hợp vi phạm (theo năm)', @ReportNameE = N'List of Violation (by Year)', 
	 @ReportTitle = N'BÁO CÁO TỔNG HỢP VI PHẠM (THEO NĂM)', @ReportTitleE = N'LIST OF VIOLATION (BY YEAR)',
	 @Description = N'BÁO CÁO TỔNG HỢP VI PHẠM (THEO NĂM)', @DescriptionE = N'LIST OF VIOLATION (BY YEAR)', 
	 @Type = 1, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'	
	  
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftHR', @ReportID = N'HR0362', 
	 @ReportName = N'Báo cáo tổng hợp vi phạm (theo tháng)', @ReportNameE = N'List of Violation (by Month)', 
	 @ReportTitle = N'BÁO CÁO TỔNG HỢP VI PHẠM (THEO THÁNG)', @ReportTitleE = N'LIST OF VIOLATION (BY MONTH)',
	 @Description = N'BÁO CÁO TỔNG HỢP VI PHẠM (THEO THÁNG)', @DescriptionE = N'LIST OF VIOLATION (BY MONTH)', 
	 @Type = 2, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
	 	 
--- In the cham cong, quet the cham cong
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'ASoftHR', @ReportID = N'HR0369', 
	 @ReportName = N'Quét thẻ chấm công', @ReportNameE = N'Quét thẻ chấm công', 
	 @ReportTitle = N'QUÉT THẺ CHẤM CÔNG', @ReportTitleE = N'QUÉT THẺ CHẤM CÔNG',
	 @Description = N'THẺ CHẤM CÔNG', @DescriptionE = N'THẺ CHẤM CÔNG', 
	 @Type = 4, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'ASoftHR', @ReportID = N'HR0370', 
	 @ReportName = N'Dữ liệu chấm công', @ReportNameE = N'Dữ liệu chấm công', 
	 @ReportTitle = N'DỮ LIỆU CHẤM CÔNG', @ReportTitleE = N'DỮ LIỆU CHẤM CÔNG',
	 @Description = N'DỮ LIỆU CHẤM CÔNG', @DescriptionE = N'DỮ LIỆU CHẤM CÔNG', 
	 @Type = 5, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'ASoftHR', @ReportID = N'HR0211', 
	 @ReportName = N'Phiếu Lương( theo tháng)', @ReportNameE = N'Phiếu Lương( theo tháng)', 
	 @ReportTitle = N'Phiếu Lương', @ReportTitleE = N'Phiếu Lương',
	 @Description = N'Phiếu Lương( In nhiều tháng, mỗi tháng 1 phiếu)', @DescriptionE = N'Phiếu Lương( In nhiều tháng, mỗi tháng 1 phiếu)', 
	 @Type = 6, @SQLstring = N'Select * From HV3409 Where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N' Order by DepartmentID, EmployeeID, Signs desc,IncomeID, TranMonth, TranYear',
	 @TEST = 0, @TableID = N'HT8888'
	 
----Add HR0376
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'ASoftHR', @ReportID = N'HR0376', 
	 @ReportName = N'Báo cáo chi tiết số giờ làm thêm theo ca', @ReportNameE = N'Báo cáo chi tiết số giờ làm thêm theo ca', 
	 @ReportTitle = N'BÁO CÁO CHI TIẾT SỐ GIỜ LÀM THÊM THEO CA', @ReportTitleE = N'BÁO CÁO CHI TIẾT SỐ GIỜ LÀM THÊM THEO CA',
	 @Description = N'Báo cáo chi tiết số nhân viên, số giờ làm thêm theo ca', @DescriptionE = N'Báo cáo chi tiết số nhân viên, số giờ làm thêm theo ca', 
	 @Type = 6, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
----Add HR0155
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR0155', 
	 @ReportName = N'Báo cáo danh sách người lao động trích nộp BHXH hàng tháng', @ReportNameE = N'Báo cáo danh sách người lao động trích nộp BHXH hàng tháng', 
	 @ReportTitle = N'BÁO CÁO DANH SÁCH NGƯỜI LAO ĐỘNG TRÍCH NỘP BHXH HÀNG THÁNG', @ReportTitleE = N'BÁO CÁO DANH SÁCH NGƯỜI LAO ĐỘNG TRÍCH NỘP BHXH HÀNG THÁNG',
	 @Description = N'Báo cáo danh sách người lao động trích nộp BHXH hàng tháng', @DescriptionE = N'Báo cáo danh sách người lao động trích nộp BHXH hàng tháng', 
	 @Type = 80, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
----Add HR0156
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftHR', @ReportID = N'HR0156', 
	 @ReportName = N'Tổng hợp chi phí bảo hiểm', @ReportNameE = N'Tổng hợp chi phí bảo hiểm', 
	 @ReportTitle = N'TỔNG HỢP CHI PHÍ BẢO HIỂM', @ReportTitleE = N'TỔNG HỢP CHI PHÍ BẢO HIỂM',
	 @Description = N'Tổng hợp chi phí bảo hiểm', @DescriptionE = N'Tổng hợp chi phí bảo hiểm', 
	 @Type = 81, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
----Add HR0379
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR0379', 
	 @ReportName = N'Giấy xác nhận hưởng chế độ thai sản trước khi sinh', @ReportNameE = N'Giấy xác nhận hưởng chế độ thai sản trước khi sinh', 
	 @ReportTitle = N'GIẤY XÁC NHẬN CHO NGƯỜI LAO ĐỘNG NGHỈ HƯỞNG CHẾ ĐỘ THAI SẢN TRƯỚC KHI SINH',
	 @ReportTitleE = N'GIẤY XÁC NHẬN CHO NGƯỜI LAO ĐỘNG NGHỈ HƯỞNG CHẾ ĐỘ THAI SẢN TRƯỚC KHI SINH',
	 @Description = N'Giấy xác nhận cho người lao động hưởng chế độ thai sản trước khi sinh',
	 @DescriptionE = N'Giấy xác nhận cho người lao động hưởng chế độ thai sản trước khi sinh', 
	 @Type = 5, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
-- Add HR346201 by Kim Vũ
EXEC AP8888 @GroupID = N'G08', @ModuleID = 'ASoftHR', @ReportID = N'HR346201', 
	 @ReportName = N'Phiếu lương theo kỳ', @ReportNameE = N'Phiếu lương theo kỳ', 
	 @ReportTitle = N'PHIẾU LƯƠNG', @ReportTitleE = N'PHIẾU LƯƠNG',
	 @Description = N'Phiếu lương theo kỳ', @DescriptionE = N'Phiếu lương theo kỳ', 
	 @Type = 20, @SQLstring = N'Select * From HT7110 Where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'ORDER BY DepartmentID, IsNull(TeamID,''''),Orders',
	 @TEST = 0, @TableID = N'HT8888'

	 -- Add HR1409 by Quang Chien
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR1409', 
	 @ReportName = N'Thống kê nhân viên', @ReportNameE = N'Thống kê nhân viên', 
	 @ReportTitle = N'THỐNG KÊ NHÂN VIÊN', @ReportTitleE = N'THỐNG KÊ NHÂN VIÊN',
	 @Description = N'Thống kê nhân viên', @DescriptionE = N'Thống kê nhân viên', 
	 @Type = 11, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'

	 	 -- Add HR1307 by Quang Chien
EXEC AP8888 @GroupID = N'G09', @ModuleID = 'ASoftHR', @ReportID = N'HR1307', 
	 @ReportName = N'Quản lý hợp đồng lao động', @ReportNameE = N'Quản lý hợp đồng lao động', 
	 @ReportTitle = N'QUẢN LÝ HỢP ĐỒNG LAO ĐỘNG', @ReportTitleE = N'QUẢN LÝ HỢP ĐỒNG LAO ĐỘNG',
	 @Description = N'Quản lý hợp đồng lao động', @DescriptionE = N'Quản lý hợp đồng lao động', 
	 @Type = 1, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'

-- Add HR0523 on 19/10/2017 by Bảo Thy (Newtoyo: 81)
IF (SELECT CustomerName FROM Customerindex) = 81
BEGIN
	 EXEC AP8888 @GroupID = N'G05', @ModuleID = 'ASoftHR', @ReportID = N'HR0523', 
	 @ReportName = N'Lương năng suất', @ReportNameE = N'Capacity Salary', 
	 @ReportTitle = N'LƯƠNG NĂNG SUẤT', @ReportTitleE = N'CAPACITY SALARY',
	 @Description = N'Bảng lương năng suất', @DescriptionE = N'Bảng lương năng suất', 
	 @Type = 2, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
END
--Add HF0524 on 19/10/2017 by Khả Vi (NEWTOYO)
IF (SELECT CustomerName FROM Customerindex) = 81
BEGIN
	 EXEC AP8888 @GroupID = N'G05', @ModuleID = 'ASoftHR', @ReportID = N'HR0524', 
	 @ReportName = N'Bảng tính lương sản lượng vượt và ngoài giờ', @ReportNameE = N'Bảng tính lương sản lượng vượt và ngoài giờ', 
	 @ReportTitle = N'BẢNG TÍNH LƯƠNG SẢN LƯỢNG VƯỢT VÀ NGOÀI GIỜ', @ReportTitleE = N'BẢNG TÍNH LƯƠNG SẢN LƯỢNG VƯỢT VÀ NGOÀI GIỜ',
	 @Description = N'Bảng tính lương sản lượng vượt và ngoài giờ', @DescriptionE = N'Bảng tính lương sản lượng vượt và ngoài giờ', 
	 @Type = 2, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
END

--- UPDATE SQLString, Orderby cho các mẫu bổ sung in nhiều Đơn vị
----- Mẫu theo thiết lập
UPDATE HT8888
SET SQLstring = REPLACE(SQLstring,'Where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))',''),
	Orderby = REPLACE(Orderby,'ORDER BY DepartmentID','ORDER BY DivisionID, DepartmentID')
WHERE GroupID = 'G07' or (GroupID = 'G08' and Type = 20)

UPDATE HT8888
SET SQLstring = REPLACE(SQLstring,'And DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))','')
WHERE GroupID = 'G07' or (GroupID = 'G08' and Type = 20)

---- Mẫu không theo thiết lập
UPDATE HT8888
SET SQLstring = REPLACE(SQLstring,'Where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))',''),
	Orderby = REPLACE(Orderby,'ORDER BY DepartmentID','ORDER BY DivisionID, DepartmentID')
WHERE ReportID in ('HR2490','HR2503','HR2505','HR2535','HR2526','HR2507','HR2508','HR2406','HR2492','HR2493',
'HR2496','HR2499','HR2520','HR2521','HR0211','HR2513','HR2517','HR2518','HR2519','HR2523','HR2527','HR2528','HR2529')

--Add HF0528 on 09/03/2018 by Khả Vi (VIETFIRST:88)
IF (SELECT CustomerName FROM Customerindex) = 88
BEGIN
	 EXEC AP8888 @GroupID = N'G05', @ModuleID = 'ASoftHR', @ReportID = N'HR0528', 
	 @ReportName = N'Đề xuất tính lương năng suất cho kỹ thuật', @ReportNameE = N'Productivity payment proposal for technician', 
	 @ReportTitle = N'ĐỀ XUẤT TÍNH LƯƠNG NĂNG SUẤT CHO KỸ THUẬT', @ReportTitleE = N'PRODUCTIVITY PAYMENT PROPOSAL FOR TECHNICIAN',
	 @Description = N'Đề xuất tính lương năng suất cho kỹ thuật', @DescriptionE = N'Bảng tính lương sản lượng vượt và ngoài giờ', 
	 @Type = 2, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 0, @TableID = N'HT8888'
END

-- Add HR1380 by Kim Vũ
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftHR', @ReportID = N'HR1380', 
	 @ReportName = N'Quyết định thôi việc', @ReportNameE = N'Quyết định thôi việc', 
	 @ReportTitle = N'QUYẾT ĐỊNH THÔI VIỆC', @ReportTitleE = N'QUYẾT ĐỊNH THÔI VIỆC',
	 @Description = N'Quyết định thôi việc', @DescriptionE = N'Quyết định thôi việc', 
	 @Type = 3, @SQLstring = N'', 
	 @Orderby = N'',
	 @TEST = 1, @TableID = N'HT8888'

--- Modified on 11/01/2019 by Bảo Anh:
----- Đưa báo cáo khen thưởng vào QL báo cáo, bổ sung mẫu QĐ khen thưởng
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftHR', @ReportID = N'HR1308', 
	 @ReportName = N'Quá trình khen thưởng kỷ luật', @ReportNameE = N'Quá trình khen thưởng kỷ luật', 
	 @ReportTitle = N'QUÁ TRÌNH KHEN THƯỞNG KỶ LUẬT', @ReportTitleE = N'QUÁ TRÌNH KHEN THƯỞNG KỶ LUẬT',
	 @Description = N'Quá trình khen thưởng kỷ luật', @DescriptionE = N'Quá trình khen thưởng kỷ luật', 
	 @Type = 4, @SQLstring = N'',
	 @Orderby = N'',
	 @TEST = 1, @TableID = N'HT8888'

EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftHR', @ReportID = N'HR1318', 
	 @ReportName = N'Quyết định khen thưởng', @ReportNameE = N'Quyết định khen thưởng', 
	 @ReportTitle = N'QUYẾT ĐỊNH KHEN THƯỞNG', @ReportTitleE = N'QUYẾT ĐỊNH KHEN THƯỞNG',
	 @Description = N'Quyết định khen thưởng', @DescriptionE = N'Quyết định khen thưởng', 
	 @Type = 4, @SQLstring = N'',
	 @Orderby = N'',
	 @TEST = 1, @TableID = N'HT8888'

----- Đưa báo cáo Bổ nhiệm/Miễn nhiệm/ĐC cấp bậc vào QL báo cáo, bổ sung mẫu 2
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftHR', @ReportID = N'HR0363', 
	 @ReportName = N'Quyết định Bổ nhiệm/Miễn nhiệm/Điều chỉnh cấp bậc/ Điều chỉnh lương', @ReportNameE = N'Quyết định Bổ nhiệm/Miễn nhiệm/Điều chỉnh cấp bậc/ Điều chỉnh lương', 
	 @ReportTitle = N'QUYẾT ĐỊNH BỔ NHIỆM/ MIỄN NHIỆM/ ĐIỀU CHỈNH CẤP BẬC/ ĐIỀU CHỈNH LƯƠNG', @ReportTitleE = N'QUYẾT ĐỊNH BỔ NHIỆM/ MIỄN NHIỆM/ ĐIỀU CHỈNH CẤP BẬC/ ĐIỀU CHỈNH LƯƠNG',
	 @Description = N'Quyết định Bổ nhiệm/Miễn nhiệm/Điều chỉnh cấp bậc/ Điều chỉnh lương', @DescriptionE = N'Quyết định Bổ nhiệm/Miễn nhiệm/Điều chỉnh cấp bậc/ Điều chỉnh lương', 
	 @Type = 5, @SQLstring = N'',
	 @Orderby = N'',
	 @TEST = 1, @TableID = N'HT8888'

EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftHR', @ReportID = N'HR0364', 
	 @ReportName = N'Quyết định tăng lương', @ReportNameE = N'Quyết định tăng lương', 
	 @ReportTitle = N'QUYẾT ĐỊNH TĂNG LƯƠNG', @ReportTitleE = N'QUYẾT ĐỊNH TĂNG LƯƠNG',
	 @Description = N'Quyết định tăng lương', @DescriptionE = N'Quyết định tăng lương', 
	 @Type = 5, @SQLstring = N'',
	 @Orderby = N'',
	 @TEST = 1, @TableID = N'HT8888'

----- Bổ sung mẫu thông tin nhân sự cho APT
IF (Select CustomerName from CustomerIndex) = 27
BEGIN
	EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftHR', @ReportID = N'HR1407_APT', 
	 @ReportName = N'Thông tin nhân sự', @ReportNameE = N'Thông tin nhân sự', 
	 @ReportTitle = N'THÔNG TIN NHÂN SỰ', @ReportTitleE = N'THÔNG TIN NHÂN SỰ',
	 @Description = N'Thông tin nhân sự', @DescriptionE = N'Thông tin nhân sự', 
	 @Type = 1, @SQLstring = N'',
	 @Orderby = N'',
	 @TEST = 1, @TableID = N'HT8888'
END