--IF OBJECT_ID ('HX1400', 'TR') IS NOT NULL
--	DROP TRIGGER HX1400;
	
--IF OBJECT_ID ('HY1400', 'TR') IS NOT NULL
--	DROP TRIGGER HY1400;
	
Update HT0006 set ParentID = null WHERE ParentID =''

/****** Object:  Table [dbo].[HT0018STD]    Script Date: 01/12/2012 11:06:37 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HT0018STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HT0018STD](
	[ImportMethod] [nvarchar](100) NOT NULL,
	[Tab_char] [tinyint] NOT NULL,
	[Space_char] [tinyint] NOT NULL,
	[Semilicon_char] [tinyint] NOT NULL,
	[Comma_char] [tinyint] NOT NULL,
	[Others_char] [tinyint] NOT NULL,
	[Others_Define] [nchar](100) NULL,
	[S_InCode] [nvarchar](50) NULL,
	[S_OutCode] [nvarchar](50) NULL
) ON [PRIMARY]
END
DELETE [HT0018STD]
INSERT [dbo].[HT0018STD] ([ImportMethod], [Tab_char], [Space_char], [Semilicon_char], [Comma_char], [Others_char], [Others_Define], [S_InCode], [S_OutCode]) VALUES (N'CC', 0, 0, 0, 0, 0, N'-', N'IN', N'OUT')

IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HT6666STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HT6666STD](
	[PeriodID] [nvarchar](50) NOT NULL,
	[PeriodName] [nvarchar](50) NULL,
	[IsDefault] [tinyint] NOT NULL
) ON [PRIMARY]
END
IF NOT EXISTS(SELECT TOP 1 * FROM HT6666STD WHERE PeriodID = N'P01')
BEGIN
	INSERT dbo.HT6666STD (PeriodID, PeriodName, IsDefault) VALUES (N'P01', N'Kỳ I', 1)
END	
IF NOT EXISTS(SELECT TOP 1 * FROM HT6666STD WHERE PeriodID = N'P02')
BEGIN
	INSERT dbo.HT6666STD (PeriodID, PeriodName, IsDefault) VALUES (N'P02', N'Kỳ II', 0)
END	

/****** Object:  Table [dbo].[HT0017STD]    Script Date: 01/11/2012 17:18:24 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HT0017STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HT0017STD](
	[ParaID] [nvarchar](50) NOT NULL,
	[Parameter] [nvarchar](50) NOT NULL,
	[ParameterE] [nvarchar](50) NULL,
	[Position] [int] NOT NULL,
	[Width] [int] NULL,
	[IsUsed] [tinyint] NOT NULL,
	[ViewIndex] [int] NOT NULL
) ON [PRIMARY]
END
DELETE [HT0017STD]
INSERT [dbo].[HT0017STD] ([ParaID], [Parameter], [ParameterE], [Position], [Width], [IsUsed], [ViewIndex]) VALUES (N'PBAR', N'Vị trí cột mã thẻ', N'Barcode position column', 1, 5, 1, 0)
INSERT [dbo].[HT0017STD] ([ParaID], [Parameter], [ParameterE], [Position], [Width], [IsUsed], [ViewIndex]) VALUES (N'PDAY', N'Vị trí cột ngày', N'Day position column', 2, 10, 1, 1)
INSERT [dbo].[HT0017STD] ([ParaID], [Parameter], [ParameterE], [Position], [Width], [IsUsed], [ViewIndex]) VALUES (N'PDMY', N'Vị trí côt ngày-tháng-năm', N'dd-mm-yyyy position column', 2, 10, 0, 4)

/****** Object:  Table dbo.HT0002STD    Script Date: 11/30/2011 10:52:05 ******/
--- Edited by Bao Anh	Date: 14/12/2012	Bo sung truong Tinh thuc lanh IsCalculateNetIncome
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HT0002STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HT0002STD](
	[IncomeID] [nvarchar](50) NOT NULL,
	[FieldName] [nvarchar](250) NULL,
	[IncomeName] [nvarchar](250) NULL,
	[Caption] [nvarchar](250) NULL,
	[IsUsed] [tinyint] NOT NULL,
	[IsTax] [tinyint] NOT NULL,
	[CaptionE] [nvarchar](250) NULL,
	[IncomeNameE] [nvarchar](50) NULL,
	[IsCalculateNetIncome] [tinyint] NOT NULL
) ON [PRIMARY]
END
DELETE [HT0002STD]
INSERT dbo.HT0002STD (IncomeID, FieldName, IncomeName, Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome) VALUES (N'I01', N'I01', N'Thu nhập 01', N'Lương cứng', 1, 1, N'', NULL,1)
INSERT dbo.HT0002STD (IncomeID, FieldName, IncomeName, Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome) VALUES (N'I02', N'I02', N'Thu nhập 02', N'Lương mềm', 1, 1, N'', NULL,1)
INSERT dbo.HT0002STD (IncomeID, FieldName, IncomeName, Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome) VALUES (N'I03', N'I03', N'Thu nhập 03', N'Phụ cấp', 1, 1, N'', NULL,1)

/****** Object:  Table dbo.HT0005STD    Script Date: 11/30/2011 13:21:46 ******/
--- Edited by Bao Anh	Date: 14/12/2012	Bo sung truong Tinh thuc lanh IsCalculateNetIncome
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HT0005STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HT0005STD](
	[SubID] [nvarchar](50) NOT NULL,
	[FieldName] [nvarchar](250) NULL,
	[SubName] [nvarchar](250) NULL,
	[Caption] [nvarchar](100) NULL,
	[IsTranfer] [tinyint] NULL,
	[IsUsed] [tinyint] NOT NULL,
	[SourceFieldName] [nvarchar](250) NULL,
	[SourceTableName] [nvarchar](250) NULL,
	[IsTax] [tinyint] NULL,
	[CaptionE] [nvarchar](250) NULL,
	[SubNameE] [nvarchar](50) NULL,
	[IsCalculateNetIncome] [tinyint] NOT NULL
) ON [PRIMARY]
END
DELETE [HT0005STD]
/****** Object:  Table [dbo].[HT0005STD]    Script Date: 02/27/2012 16:45:09 ******/
INSERT [dbo].[HT0005STD] ([SubID], [FieldName], [SubName], [Caption], [IsTranfer], [IsUsed], [SourceFieldName], [SourceTableName], [IsTax], [CaptionE], [SubNameE], [IsCalculateNetIncome]) VALUES (N'S01', N'S01', N'Giảm trừ 01', N'BHXH', 1, 1, N'SAmount', N'HT2461', 0, NULL, NULL,1)
INSERT [dbo].[HT0005STD] ([SubID], [FieldName], [SubName], [Caption], [IsTranfer], [IsUsed], [SourceFieldName], [SourceTableName], [IsTax], [CaptionE], [SubNameE], [IsCalculateNetIncome]) VALUES (N'S02', N'S02', N'Giảm trừ 02', N'BHYT', 1, 1, N'HAmount', N'HT2461', 0, NULL, NULL,1)
INSERT [dbo].[HT0005STD] ([SubID], [FieldName], [SubName], [Caption], [IsTranfer], [IsUsed], [SourceFieldName], [SourceTableName], [IsTax], [CaptionE], [SubNameE], [IsCalculateNetIncome]) VALUES (N'S03', N'S03', N'Giảm trừ 03', N'BHTN', 1, 1, N'TAmount', N'HT2461', 0, NULL, NULL,1)


/****** Object:  Table dbo.HT1000STD    Script Date: 12/22/2011 10:27:35 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HT1000STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HT1000STD](
	[MethodID] [nvarchar](50) NOT NULL,
	[SystemName] [nvarchar](250) NULL,
	[UserName] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[IsDivision] [tinyint] NOT NULL,
	[IsUsed] [tinyint] NULL
) ON [PRIMARY]
END
DELETE [HT1000STD]
INSERT dbo.HT1000STD (MethodID, SystemName, UserName, Description, IsDivision, IsUsed) VALUES (N'P01', N'Lương nhân', N'Lương công nhật ', N'Bằng lương cơ bản nhân với hệ số chung nhân với ngày công chia cho số ngày quy đinh', 0, 1)
INSERT dbo.HT1000STD (MethodID, SystemName, UserName, Description, IsDivision, IsUsed) VALUES (N'P02', N'Lương chia', N'Lương khoán', N'Bằng quỹ lương chia cho tổng của tích hệ số chung nhân với ngày công sau đó nhân với ngày công và hệ số chung của nhân viên ', 1, 1)
INSERT dbo.HT1000STD (MethodID, SystemName, UserName, Description, IsDivision, IsUsed) VALUES (N'P03', N'Lương sản phẩm', N'Lương sản phẩm', N'Tổng giá trị của một bộ bộ phận phân bổ cho từng người theo ngày công và hệ số', 3, 1)

/****** Object:  Table dbo.HT0003STD    Script Date: 01/03/2012 15:59:59 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HT0003STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HT0003STD](
	[CoefficientID] [nvarchar](50) NOT NULL,
	[FieldName] [nvarchar](250) NULL,
	[CoefficientName] [nvarchar](250) NULL,
	[Caption] [nvarchar](250) NULL,
	[IsUsed] [tinyint] NULL,
	[IsConstant] [tinyint] NULL,
	[ValueOfConstant] [decimal](28, 8) NULL
) ON [PRIMARY]
END
DELETE [HT0003STD]
INSERT dbo.HT0003STD (CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant) VALUES (N'C01', N'C01', N'Hệ số 01', N'He so chuc vu', 1, NULL, NULL)
INSERT dbo.HT0003STD (CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant) VALUES (N'C02', N'C02', N'Hệ số 02', N'C02', 1, NULL, NULL)
INSERT dbo.HT0003STD (CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant) VALUES (N'C03', N'C03', N'Hệ số 03', N'C03', 1, NULL, NULL)

delete [HT8888STD] 
/****** Object:  Table [dbo].[HT8888STD]    Script Date: 04/18/2012 11:43:23 ******/
INSERT [dbo].[HT8888STD] ([ReportID], [ReportName], [Title], [GroupID], [Type], [Disabled], [SQLstring], [Orderby], [TitleE], [ReportNameE], [Description], [DescriptionE]) VALUES (N'HR1363', N'Hợp đồng lao động', N'HỢP ĐỒNG LAO ĐỘNG', N'G09', 0, 0, N'Select * From HV1360 Where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', N'', N'LABOUR CONTRACT REPORT', N'Labour Contract Report', N'Hợp đồng lao động', N'Labour Contract Report')
INSERT [dbo].[HT8888STD] ([ReportID], [ReportName], [Title], [GroupID], [Type], [Disabled], [SQLstring], [Orderby], [TitleE], [ReportNameE], [Description], [DescriptionE]) VALUES (N'HR1407', N'Danh sách nhân viên (mẫu 1)', N'Danh sách nhân viên', N'G09', 0, 0, N'Select * From HV1400  Where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', N'ORDER BY DepartmentID, Orders', N'List of Employees ', N'List of Employees (form 1)', NULL, NULL)
INSERT [dbo].[HT8888STD] ([ReportID], [ReportName], [Title], [GroupID], [Type], [Disabled], [SQLstring], [Orderby], [TitleE], [ReportNameE], [Description], [DescriptionE]) VALUES (N'HR1408', N'Danh sách nhân viên ', N'Danh sách nhân viên (mẫu 1) ', N'G09', 0, 0, N'Select * From HV1400  Where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', N'ORDER BY DepartmentID, Orders', N'List of Employees ', N'List of Employees (form 2)', NULL, NULL)
--INSERT [dbo].[HT8888STD] ([ReportID], [ReportName], [Title], [GroupID], [Type], [Disabled], [SQLstring], [Orderby], [TitleE], [ReportNameE], [Description], [DescriptionE]) VALUES (N'HR2519', N'In Bìa thư (Lần I)', N'LƯƠNG LẦN 1 THÁNG', N'G05', 1, 0, N'Select * From HV3406 Where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', N'Order by DepartmentID,  isnull(TeamiD, ''''), EmployeeID, Signs desc,IncomeID', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[HT8888STD]    Script Date: 08/24/2012 13:39:24 ******/


DECLARE @DivisionID NVARCHAR(50)
DECLARE cur_AllDivision CURSOR FOR 
SELECT DivisionID FROM AT1101
		
OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @DivisionID
WHILE @@fetch_status = 0
BEGIN
    IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I01' AND FieldName =N'I01' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I01' AND FieldName =N'I01' 
	END 

	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I02' AND FieldName =N'I02' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I02' AND FieldName =N'I02' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I03' AND FieldName =N'I03' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I03' AND FieldName =N'I03' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I04' AND FieldName =N'I04' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I04' AND FieldName =N'I04' 
	END 
	
	 IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I05' AND FieldName =N'I05' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I05' AND FieldName =N'I05' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I06' AND FieldName =N'I06' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I06' AND FieldName =N'I06' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I07' AND FieldName =N'I07' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I07' AND FieldName =N'I07' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I08' AND FieldName =N'I08' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I08' AND FieldName =N'I08' 
	END
	
	 IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I09' AND FieldName =N'I09' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I09' AND FieldName =N'I09' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I10' AND FieldName =N'I10' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I10' AND FieldName =N'I10' 
	END 	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I11' AND FieldName =N'I11' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I11' AND FieldName =N'I11' 
	END 

	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I12' AND FieldName =N'I12' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I12' AND FieldName =N'I12' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I13' AND FieldName =N'I13' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I13' AND FieldName =N'I13' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I14' AND FieldName =N'I14' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I14' AND FieldName =N'I14' 
	END 
	
	 IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I15' AND FieldName =N'I15' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I15' AND FieldName =N'I15' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I16' AND FieldName =N'I16' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I16' AND FieldName =N'I16' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I17' AND FieldName =N'I17' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I17' AND FieldName =N'I17' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I18' AND FieldName =N'I18' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I18' AND FieldName =N'I18' 
	END
	
	 IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I19' AND FieldName =N'I19' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I19' AND FieldName =N'I19' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0002 WHERE IncomeID = N'I20' AND FieldName =N'I20' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0002(DivisionID, IncomeID, FieldName, IncomeName,Caption, IsUsed, IsTax, CaptionE, IncomeNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0002STD WHERE IncomeID = N'I20' AND FieldName =N'I20' 
	END
	ELSE	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S01' AND FieldName =N'S01' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S01' AND FieldName =N'S01' 
	END 
	BEGIN
		UPDATE HT0005 SET SourceFieldName = N'SAmount', SourceTableName = N'HT2461' WHERE SubID = N'S01' AND FieldName =N'S01' and DivisionID = @DivisionID
	END

	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S02' AND FieldName =N'S02' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S02' AND FieldName =N'S02' 
	END 
	BEGIN
		UPDATE HT0005 SET SourceFieldName = N'HAmount', SourceTableName = N'HT2461' WHERE SubID = N'S02' AND FieldName =N'S02' and DivisionID = @DivisionID
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S03' AND FieldName =N'S03' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S03' AND FieldName =N'S03' 
	END 
	BEGIN
		UPDATE HT0005 SET SourceFieldName = N'TAmount', SourceTableName = N'HT2461' WHERE SubID = N'S03' AND FieldName =N'S03' and DivisionID = @DivisionID
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S04' AND FieldName =N'S04' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S04' AND FieldName =N'S04' 
	END 
	BEGIN
		UPDATE HT0005 SET SourceFieldName = N'AdvanceAmount', SourceTableName = N'HT2500' WHERE SubID = N'S04' AND FieldName =N'S04' and DivisionID = @DivisionID
	END
	
	 IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S05' AND FieldName =N'S05' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S05' AND FieldName =N'S05' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S06' AND FieldName =N'S06' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S06' AND FieldName =N'S06' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S07' AND FieldName =N'S07' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S07' AND FieldName =N'S07' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S08' AND FieldName =N'S08'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S08' AND FieldName =N'S08' 
	END
	
	 IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S09' AND FieldName =N'S09' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S09' AND FieldName =N'S09' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S10' AND FieldName =N'S10'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S10' AND FieldName =N'S10' 
	END 	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S11' AND FieldName =N'S11'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S11' AND FieldName =N'S11' 
	END 

	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S12' AND FieldName =N'S12'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S12' AND FieldName =N'S12' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S13' AND FieldName =N'S13' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S13' AND FieldName =N'S13' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S14' AND FieldName =N'S14' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S14' AND FieldName =N'S14' 
	END 
	
	 IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S15' AND FieldName =N'S15' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S15' AND FieldName =N'S15' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S16' AND FieldName =N'S16'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S16' AND FieldName =N'S16' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S17' AND FieldName =N'S17'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S17' AND FieldName =N'S17' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S18' AND FieldName =N'S18'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S18' AND FieldName =N'S18' 
	END
	
	 IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S19' AND FieldName =N'S19'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S19' AND FieldName =N'S19' 
	END 
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0005 WHERE SubID = N'S20' AND FieldName =N'S20' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0005(DivisionID, SubID, FieldName, SubName, Caption, IsTranfer, IsUsed, SourceFieldName, SourceTableName, IsTax, CaptionE, SubNameE, IsCalculateNetIncome)  
		SELECT @DivisionID, * FROM HT0005STD WHERE SubID = N'S20' AND FieldName =N'S20' 
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT1000 WHERE MethodID = N'P01' AND SystemName = N'Lương nhân' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT1000(DivisionID ,MethodID, SystemName, UserName, Description, IsDivision, IsUsed)  
		SELECT @DivisionID, * FROM HT1000STD WHERE MethodID = N'P01' AND SystemName = N'Lương nhân'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT1000 WHERE MethodID = N'P02' AND SystemName = N'Lương chia' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT1000(DivisionID ,MethodID, SystemName, UserName, Description, IsDivision, IsUsed)  
		SELECT @DivisionID, * FROM HT1000STD WHERE MethodID = N'P02' AND SystemName = N'Lương chia'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT1000 WHERE MethodID = N'P03' AND SystemName = N'Lương sản phẩm' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT1000(DivisionID ,MethodID, SystemName, UserName, Description, IsDivision, IsUsed)  
		SELECT @DivisionID, * FROM HT1000STD WHERE MethodID = N'P03' AND SystemName = N'Lương sản phẩm'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT1000 WHERE MethodID = N'P04' AND SystemName = N'Lương sản phẩm chỉ định' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT1000(DivisionID ,MethodID, SystemName, UserName, Description, IsDivision, IsUsed)  
		SELECT @DivisionID, * FROM HT1000STD WHERE MethodID = N'P04' AND SystemName = N'Lương sản phẩm chỉ định'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT1000 WHERE MethodID = N'P10' AND SystemName = N'Lương tổng hợp' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT1000(DivisionID ,MethodID, SystemName, UserName, Description, IsDivision, IsUsed)  
		SELECT @DivisionID, * FROM HT1000STD WHERE MethodID = N'P10' AND SystemName = N'Lương tổng hợp'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C01' AND FieldName = N'C01' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C01' AND FieldName = N'C01'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C02' AND FieldName = N'C02' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C02' AND FieldName = N'C02'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C03' AND FieldName = N'C03' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C03' AND FieldName = N'C03'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C04' AND FieldName = N'C04' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C04' AND FieldName = N'C04'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C05' AND FieldName = N'C05' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C05' AND FieldName = N'C05'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C06' AND FieldName = N'C06' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C06' AND FieldName = N'C06'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C07' AND FieldName = N'C07' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C07' AND FieldName = N'C07'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C08' AND FieldName = N'C08' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C08' AND FieldName = N'C08'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C09' AND FieldName = N'C09' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C09' AND FieldName = N'C09'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C10' AND FieldName = N'C10' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C10' AND FieldName = N'C10'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C11' AND FieldName = N'C11' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C11' AND FieldName = N'C11'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C12' AND FieldName = N'C12' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C12' AND FieldName = N'C12'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0003 WHERE CoefficientID = N'C13' AND FieldName = N'C13' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0003(DivisionID ,CoefficientID, FieldName, CoefficientName, Caption, IsUsed, IsConstant, ValueOfConstant)  
		SELECT @DivisionID, * FROM HT0003STD WHERE CoefficientID = N'C13' AND FieldName = N'C13'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT6666 WHERE PeriodID = N'P01' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT6666 (DivisionID, PeriodID, PeriodName, IsDefault)
		SELECT @DivisionID, * FROM HT6666STD WHERE PeriodID = N'P01'
	END	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT6666 WHERE PeriodID = N'P02' and DivisionID = @DivisionID)
    BEGIN
		INSERT HT6666 (DivisionID, PeriodID, PeriodName, IsDefault)
		SELECT @DivisionID, * FROM HT6666STD WHERE PeriodID = N'P02'
	END	
	
	/* Insert dữ liệu HT0017 */
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PBAR'  and DivisionID = @DivisionID)
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PBAR'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PDAY' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PDAY'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PDMY' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PDMY'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PHMS' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PHMS'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PHOU' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PHOU'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PIOS' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PIOS'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PMAC' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PMAC'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PMIN' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PMIN'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PMON' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PMON'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PSEC' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PSEC'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PSHI' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PSHI'
	END
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0017 WHERE ParaID = N'PYEA' and DivisionID = @DivisionID )
    BEGIN
		INSERT HT0017(DivisionID, ParaID, Parameter, ParameterE, Position, Width, IsUsed, ViewIndex)  
		SELECT @DivisionID, * FROM HT0017STD WHERE ParaID = N'PYEA'
	END	
	
	IF NOT EXISTS(SELECT TOP 1 * FROM HT0018 where DivisionID = @DivisionID)
	BEGIN
		INSERT HT0018(DivisionID, ImportMethod, Tab_char, Space_char, Semilicon_char, Comma_char, Others_char, Others_Define, S_InCode, S_OutCode)  
		SELECT @DivisionID, * FROM HT0018STD
	END			
	
    FETCH NEXT FROM cur_AllDivision INTO @DivisionID
END  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision

--Xoá và Insert lại bảng HT8888 đúng với HT8888STD
DELETE HT8888 WHERE ReportID in (Select distinct ReportID From HT8888STD) And IsDelete = 0

INSERT HT8888(APK, DivisionID, ReportID, ReportName, Title, GroupID, Type, Disabled, SQLstring, Orderby, TitleE, ReportNameE, Description, DescriptionE, IsDelete)
SELECT NEWID() AS APK, DivisionID, ReportID, ReportName, Title, GroupID, Type, HT8888STD.Disabled, SQLstring, Orderby, TitleE, ReportNameE, Description, DescriptionE, IsDelete
FROM HT8888STD, AT1101