-- <Summary>
---- 
-- <History>
---- Create on 31/05/2013 on Lê Thị Thu Hiền
---- Modified on 21/05/2015 by Thanh Sơn: Thêm 10 tham số nhập text chi tiết đơn hàng bán
---- Modified on 09/09/2016 by Hải Long: Thêm tham số SD21-SD40 cho khách hàng ABA
---- <Example>
---- Add Data

IF NOT EXISTS (SELECT TOP 1 1 FROM OT0005 WHERE TransactionID = 'Purchase Detail')
BEGIN
	INSERT INTO OT0005
	(	
		DivisionID,
		TypeID,
		SystemName,
		UserName,
		IsUsed,
		UserNameE,
		SystemNameE,
		TransactionID
	)
	SELECT 	DivisionID,
		TypeID,
		SystemName,
		UserName,
		IsUsed,
		UserNameE,
		SystemNameE,
		'Purchase Detail'
	FROM OT0005STD, AT1101
	WHERE OT0005STD.TransactionID = 'Purchase Detail'

END
-------- Modified on 25/02/2014 on Lê Thị Thu Hiền
IF NOT EXISTS (SELECT TOP 1 1 FROM OT0005 WHERE TransactionID = 'Estimate Manufacture')
BEGIN
	INSERT INTO OT0005
	(	
		DivisionID,
		TypeID,
		SystemName,
		UserName,
		IsUsed,
		UserNameE,
		SystemNameE,
		TransactionID
	)
	SELECT 	DivisionID,
		TypeID,
		SystemName,
		UserName,
		IsUsed,
		UserNameE,
		SystemNameE,
		'Estimate Manufacture'
	FROM OT0005STD, AT1101
	WHERE OT0005STD.TransactionID = 'Estimate Manufacture'
END
--------- Modified on 15/11/2011 by Le Thi Thu Hien
IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID LIKE 'M%')	
	INSERT INTO OT0005 (DivisionID, TypeID,SystemName,UserName,IsUsed,UserNameE,SystemNameE)
		SELECT	AT.DivisionID, STD.TypeID,STD.SystemName,STD.UserName,STD.IsUsed,STD.UserNameE,STD.SystemNameE 
		FROM	OT0005STD STD, (SELECT DISTINCT DivisionID FROM AT1101) AT	
		WHERE	STD.TypeID  LIKE 'M%'
		
--------- Modified on 15/11/2011 by Le Thi Thu Hien		
IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID LIKE 'Q%')	
	INSERT INTO OT0005 (DivisionID, TypeID,SystemName,UserName,IsUsed,UserNameE,SystemNameE)
		SELECT	AT.DivisionID, STD.TypeID,STD.SystemName,STD.UserName,STD.IsUsed,STD.UserNameE,STD.SystemNameE 
		FROM	OT0005STD STD, (SELECT DISTINCT DivisionID FROM AT1101) AT	
		WHERE	STD.TypeID  LIKE 'Q%'

--------- Modified on 04/09/2015 by Tiểu Mai
IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID LIKE 'ED%')	
	INSERT INTO OT0005 (DivisionID, TypeID,SystemName,UserName,IsUsed,UserNameE,SystemNameE)
		SELECT	AT.DivisionID, STD.TypeID,STD.SystemName,STD.UserName,STD.IsUsed,STD.UserNameE,STD.SystemNameE 
		FROM	OT0005STD STD, (SELECT DISTINCT DivisionID FROM AT1101) AT	
		WHERE	STD.TypeID  LIKE 'ED%'
		
--------- Modified on 04/09/2015 by Tiểu Mai		
IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID LIKE 'QD%')	
	INSERT INTO OT0005 (DivisionID, TypeID,SystemName,UserName,IsUsed,UserNameE,SystemNameE)
		SELECT	AT.DivisionID, STD.TypeID,STD.SystemName,STD.UserName,STD.IsUsed,STD.UserNameE,STD.SystemNameE 
		FROM	OT0005STD STD, (SELECT DISTINCT DivisionID FROM AT1101) AT	
		WHERE	STD.TypeID  LIKE 'QD%'	
--------------------------------------------------------------------------------

DECLARE @Cur CURSOR,
		@DivisionID VARCHAR(50),
		@sSQL NVARCHAR(1000)
SET @Cur = CURSOR SCROLL KEYSET FOR
SELECT DivisionID FROM AT0001

OPEN @Cur
FETCH NEXT FROM @Cur INTO @DivisionID
WHILE @@FETCH_STATUS = 0
BEGIN
	DECLARE @i INT = 10
	WHILE @i <= 20
	BEGIN
		SET @sSQL = '
		INSERT INTO OT0005(APK,DivisionID,TypeID,SystemName,UserName,IsUsed,UserNameE,SystemNameE,TransactionID)
		VALUES (NEWID(), '''+@DivisionID+''', ''SD'+CONVERT(VARCHAR(2),@i)+''', N'''+'SD'+CONVERT(VARCHAR(2),@i)+' - '+N'Tham số '+CONVERT(VARCHAR(2),@i)+''', N'''+N'Chưa sử dụng'+''', 0, ''Not use'', NULL, ''Sales Detail'')'
		IF NOT EXISTS (SELECT TOP 1 1 FROM OT0005 WHERE DivisionID = @DivisionID AND TypeID = 'SD'+ CONVERT(VARCHAR(2),@i))		
		EXEC (@sSQL)
		--PRINT(@sSQL)
		SET @i = @i + 1
	END
	FETCH NEXT FROM @Cur INTO @DivisionID
END


Declare @CustomerName INT
SELECT TOP 1 @CustomerName =  CustomerName FROM CustomerIndex
-- SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

IF(@CustomerName = 45)
BEGIN
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD21')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD21', N'SD21 - Tham số 21', NULL, 0, 'SD21 - Parameter 21', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD22')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD22', N'SD22 - Tham số 22', NULL, 0, 'SD22 - Parameter 22', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD23')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD23', N'SD23 - Tham số 23', NULL, 0, 'SD23 - Parameter 23', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD24')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD24', N'SD24 - Tham số 24', NULL, 0, 'SD24 - Parameter 24', 'Sales Detail')	
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD25')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD25', N'SD25 - Tham số 25', NULL, 0, 'SD25 - Parameter 25', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD26')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD26', N'SD26 - Tham số 26', NULL, 0, 'SD26 - Parameter 26', 'Sales Detail')				
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD27')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD27', N'SD27 - Tham số 27', NULL, 0, 'SD27 - Parameter 27', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD28')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD28', N'SD28 - Tham số 28', NULL, 0, 'SD28 - Parameter 28', 'Sales Detail')	
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD29')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD29', N'SD29 - Tham số 29', NULL, 0, 'SD29 - Parameter 29', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD30')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD30', N'SD30 - Tham số 30', NULL, 0, 'SD30 - Parameter 30', 'Sales Detail')		
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD31')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD31', N'SD31 - Tham số 31', NULL, 0, 'SD31 - Parameter 31', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD32')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD32', N'SD32 - Tham số 32', NULL, 0, 'SD32 - Parameter 32', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD33')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD33', N'SD33 - Tham số 33', NULL, 0, 'SD33 - Parameter 33', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD34')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD34', N'SD34 - Tham số 34', NULL, 0, 'SD34 - Parameter 34', 'Sales Detail')	
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD35')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD35', N'SD35 - Tham số 35', NULL, 0, 'SD35 - Parameter 35', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD36')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD36', N'SD36 - Tham số 36', NULL, 0, 'SD36 - Parameter 36', 'Sales Detail')				
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD37')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD37', N'SD37 - Tham số 37', NULL, 0, 'SD37 - Parameter 37', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD38')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD38', N'SD38 - Tham số 38', NULL, 0, 'SD38 - Parameter 38', 'Sales Detail')	
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD39')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD39', N'SD39 - Tham số 39', NULL, 0, 'SD39 - Parameter 39', 'Sales Detail')
		
	IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID = N'SD40')
		Insert into OT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, SystemNameE, TransactionID)
		values ('AB', 'SD40', N'SD40 - Tham số 40', NULL, 0, 'SD40 - Parameter 40', 'Sales Detail')	
																	
	UPDATE OT0005
	SET IsUsed = 0
	WHERE TypeID LIKE 'PD%'
END

			
--------- Modified on 06/05/2017 by Phuong Thao
IF NOT EXISTS(SELECT TOP 1 1 FROM OT0005 WHERE TypeID LIKE 'ST%')	
	INSERT INTO OT0005 (DivisionID, TypeID,SystemName,UserName,IsUsed,UserNameE,SystemNameE, TransactionID)
	SELECT	AT.DivisionID, STD.TypeID,STD.SystemName,STD.UserName,STD.IsUsed,STD.UserNameE,STD.SystemNameE, STD.TransactionID 
	FROM	OT0005STD STD, (SELECT DISTINCT DivisionID FROM AT1101) AT	
	WHERE	STD.TypeID  LIKE 'ST%'	