-- <Summary>
---- 
-- <History>
---- Create on 11/10/2010 by Thanh Trẫm
---- Modified on 25/07/2022 by Thành Sang:  Bổ sung OrderStatus = 7 Vượt han mức nợ
---- Modified on 20/07/2023 by Đình Định: SONGBINH - Chỉnh lại ngôn ngữ tiếng Anh OrderStaus = 4.
---- <Example> 
-- Thêm dữ liệu bảng OT1101STD và OT1101
DECLARE @DivisionID NVarchar(50)
DECLARE cur_AllDivision CURSOR FOR
SELECT AT1101.DivisionID FROM AT1101 WITH (NOLOCK)
OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @DivisionID
WHILE @@fetch_status = 0
  BEGIN	
	--OT1101
	IF NOT EXISTS ( SELECT TypeID FROM OT1101 WITH (NOLOCK) WHERE TypeID = N'SO' AND DivisionID = @DivisionID and OrderStatus=6)
		InSert Into OT1101 (APK, DivisionID, OrderStatus, Description, EDescription, TypeID, LanguageID)
		Values (NEWID(), @DivisionID,6,N'Không chấp nhận','Denied','SO','OT1101.SO.05')
	
	IF NOT EXISTS ( SELECT TypeID FROM OT1101 WITH (NOLOCK) WHERE TypeID = N'SO' AND DivisionID = @DivisionID and OrderStatus=7)
		InSert Into OT1101 (APK, DivisionID, OrderStatus, Description, EDescription, TypeID, LanguageID)
		Values (NEWID(), @DivisionID,7,N'Vượt giới hạn nợ','Debit Limit Exceeded','SO','OT1101.SO.07')


	--OT1101STD
	IF NOT EXISTS ( SELECT TypeID FROM OT1101STD WITH (NOLOCK) WHERE TypeID = N'SO' AND OrderStatus=6)
		InSert Into OT1101STD (OrderStatus, Description, EDescription, TypeID, LanguageID)
		Values (6,N'Không chấp nhận','Denied','SO','OT1101.SO.05')
    FETCH NEXT FROM cur_AllDivision INTO @DivisionID

	IF NOT EXISTS ( SELECT TypeID FROM OT1101STD WITH (NOLOCK) WHERE TypeID = N'SO' AND OrderStatus=7)
		InSert Into OT1101STD (OrderStatus, Description, EDescription, TypeID, LanguageID)
		Values (7,N'Vượt giới hạn nợ','Debit Limit Exceeded','SO','OT1101.SO.07')
    FETCH NEXT FROM cur_AllDivision INTO @DivisionID

  END  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision

UPDATE OT1101STD SET LanguageID = 'OT1101.' + TypeID + '.' + RIGHT('00' + LTRIM(STR(OrderStatus)), 2)
-- Thêm dữ liệu bảng OT1101
UPDATE OT1101 SET OT1101.LanguageID = OT1101STD.LanguageID 
FROM OT1101 
LEFT JOIN OT1101STD WITH (NOLOCK) ON OT1101.TypeID = OT1101STD.TypeID AND OT1101.OrderStatus = OT1101STD.OrderStatus 
-- Khách hàng Song Bình
IF (SELECT CustomerName FROM CustomerIndex WITH(NOLOCK))= 110
BEGIN
	UPDATE OT1101STD SET EDescription = 'Suspended' WHERE OT1101STD.OrderStatus = 4 
	UPDATE OT1101STD SET EDescription = 'Accepted' WHERE OT1101STD.OrderStatus = 1 AND OT1101STD.TypeID NOT IN ('MO') 
	
	UPDATE OT1101 SET OT1101.EDescription = OT1101STD.EDescription
	FROM OT1101 
	LEFT JOIN OT1101STD WITH (NOLOCK) ON OT1101.TypeID = OT1101STD.TypeID AND OT1101.OrderStatus = OT1101STD.OrderStatus 
END