-- <Summary>
---- 
-- <History>
---- Create on 10/07/2012 by Bảo Anh
---- Modified on 25/11/2014 by Mai Trí Thiện
---- Modified on 23/10/2020 by Đức Thông	Bổ sung thêm 2 báo cáo tổng hợp và chi tiết đơn hàng trên APP
---- Modified on 28/10/2020 by Đức Thông	Sửa type cho 2 report đơn hàng tổng hợp và chi tiết trên APP (13, 14)
---- <Example>

DECLARE @CustomizeIndex INT

SELECT @CustomizeIndex = CustomerName FROM CustomerIndex

---- Add OR0124
EXEC AP8888 @GroupID = N'G99', @ModuleID = 'AsoftOP', @ReportID = N'OR0124', 
	 @ReportName = N'Báo cáo tổng chi hoa hồng', @ReportNameE = N'Payment total report', 
	 @ReportTitle = N'BÁO CÁO TỔNG CHI HOA HỒNG', @ReportTitleE = N'PAYMENT TOTAL REPORT',
	 @Description = N'TỔNG CHI HOA HỒNG', @DescriptionE = N'PAYMENT TOTAL', 
	 @Type = 1, @SQLstring = N'', @Orderby = N'Order by SalesmanID',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR21022
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'AsoftOP', @ReportID = N'OR21022', 
	 @ReportName = N'Mẫu 4', @ReportNameE = N'Form 4', 
	 @ReportTitle = N'MẪU 4', @ReportTitleE = N'FORM 4',
	 @Description = N'CHÀO GIÁ', @DescriptionE = N'QUOTATION', 
	 @Type = 9, @SQLstring = N'', @Orderby = N'Order by Orders',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR21021
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'AsoftOP', @ReportID = N'OR21021', 
	 @ReportName = N'Mẫu 3', @ReportNameE = N'Form 3', 
	 @ReportTitle = N'MẪU 3', @ReportTitleE = N'FORM 3',
	 @Description = N'CHÀO GIÁ', @DescriptionE = N'QUOTATION', 
	 @Type = 9, @SQLstring = N'Select * From OV2101', @Orderby = N'Order by Orders',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0128
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0128', 
	 @ReportName = N'Xác nhận hoàn thành', @ReportNameE = N'Confirm completion', 
	 @ReportTitle = N'Xác nhận hoàn thành', @ReportTitleE = N'Confirm completion',
	 @Description = N'Xác nhận hoàn thành', @DescriptionE = N'Confirm completion', 
	 @Type = 12, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR2102
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'AsoftOP', @ReportID = N'OR2102', 
	 @ReportName = N'Mẫu 2', @ReportNameE = N'Form 2', 
	 @ReportTitle = N'PHỤ LỤC', @ReportTitleE = N'APPENDIX',
	 @Description = N'CHÀO GIÁ', @DescriptionE = N'QUOTATION', 
	 @Type = 9, @SQLstring = N'Select * From OV2101', @Orderby = N'Order by Orders',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR2101
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'AsoftOP', @ReportID = N'OR2101', 
	 @ReportName = N'Mẫu 1', @ReportNameE = N'Form 1', 
	 @ReportTitle = N'PHIẾU CHÀO GIÁ', @ReportTitleE = N'QUOTATION VOUCHER',
	 @Description = N'CHÀO GIÁ', @DescriptionE = N'QUOTATION', 
	 @Type = 9, @SQLstring = N'Select * From OV2101', @Orderby = N'Order by Orders',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0123
EXEC AP8888 @GroupID = N'G99', @ModuleID = 'AsoftOP', @ReportID = N'OR0123', 
	 @ReportName = N'Báo cáo tiền thưởng hoa hồng', @ReportNameE = N'Bonus report', 
	 @ReportTitle = N'BÁO CÁO TIỀN THƯỞNG HOA HỒNG', @ReportTitleE = N'PAYMENT TOTAL REPORT',
	 @Description = N'TIỀN THƯỞNG HOA HỒNG', @DescriptionE = N'BONUS REPORT', 
	 @Type = 1, @SQLstring = N'', @Orderby = N'Order by SalesmanID, ContractNo',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0126
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0126', 
	 @ReportName = N'Lệnh điều động - Mẫu A', @ReportNameE = N'Mobilization orders - A', 
	 @ReportTitle = N'Lệnh điều động', @ReportTitleE = N'Mobilization orders',
	 @Description = N'Lệnh điều động', @DescriptionE = N'Mobilization orders', 
	 @Type = 11, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0126A
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0126A', 
	 @ReportName = N'Lệnh điều động', @ReportNameE = N'Mobilization orders', 
	 @ReportTitle = N'Lệnh điều động', @ReportTitleE = N'Mobilization orders',
	 @Description = N'Lệnh điều động', @DescriptionE = N'Mobilization orders', 
	 @Type = 11, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'	 
---- Add OR0133
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0133', 
	 @ReportName = N'Quyết toán khách hàng', @ReportNameE = N'Commited Object', 
	 @ReportTitle = N'QUYẾT TOÁN KHÁCH HÀNG', @ReportTitleE = N'COMMITED OBJECT',
	 @Description = N'QUYẾT TOÁN KHÁCH HÀNG', @DescriptionE = N'COMMITED OBJECT', 
	 @Type = 13, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0134
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0134', 
	 @ReportName = N'Quyết toán khách hàng - Tất cả', @ReportNameE = N'Commited Object - All', 
	 @ReportTitle = N'QUYẾT TOÁN KHÁCH HÀNG', @ReportTitleE = N'COMMITED OBJECT',
	 @Description = N'QUYẾT TOÁN KHÁCH HÀNG', @DescriptionE = N'COMMITED OBJECT', 
	 @Type = 13, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0135
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0135', 
	 @ReportName = N'Quyết toán khách hàng tổng hợp', @ReportNameE = N'General Commited Object', 
	 @ReportTitle = N'QUYẾT TOÁN KHÁCH HÀNG TỔNG HỢP', @ReportTitleE = N'GENERAL COMMITED OBJECT',
	 @Description = N'QUYẾT TOÁN KHÁCH HÀNG TỔNG HỢP', @DescriptionE = N'General Commited Object', 
	 @Type = 13, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0140
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0140', 
	 @ReportName = N'Quyết toán Tàu-Sà lan (Sà Lan)', @ReportNameE = N'Commited Ship', 
	 @ReportTitle = N'QUYẾT TOÁN TÀU - SÀ LAN', @ReportTitleE = N'COMMITED SHIP',
	 @Description = N'QUYẾT TOÁN TÀU - SÀ LAN', @DescriptionE = N'COMMITED SHIP', 
	 @Type = 14, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0141
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0141', 
	 @ReportName = N'Quyết toán Tàu - Sà lan (Nội địa)', @ReportNameE = N'Commited Ship', 
	 @ReportTitle = N'QUYẾT TOÁN TÀU - SÀ LAN', @ReportTitleE = N'COMMITED SHIP',
	 @Description = N'QUYẾT TOÁN TÀU - SÀ LAN', @DescriptionE = N'COMMITED SHIP', 
	 @Type = 14, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0142
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0142', 
	 @ReportName = N'Quyết toán Tàu - Sà lan (Nước ngoài)', @ReportNameE = N'Commited Ship', 
	 @ReportTitle = N'QUYẾT TOÁN TÀU - SÀ LAN', @ReportTitleE = N'COMMITED SHIP',
	 @Description = N'QUYẾT TOÁN TÀU - SÀ LAN', @DescriptionE = N'COMMITED SHIP', 
	 @Type = 14, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0136
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftOP', @ReportID = N'OR0136', 
	 @ReportName = N'Quyết toán khách hàng tổng hợp - mẫu 2', @ReportNameE = N'General Commited Object', 
	 @ReportTitle = N'QUYẾT TOÁN KHÁCH HÀNG TỔNG HỢP', @ReportTitleE = N'GENERAL COMMITED OBJECT',
	 @Description = N'QUYẾT TOÁN KHÁCH HÀNG TỔNG HỢP', @DescriptionE = N'GENERAL COMMITED OBJECT', 
	 @Type = 13, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
---- Add OR0308
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftOP', @ReportID = N'OR0308', 
	 @ReportName = N'Báo cáo theo dõi tình trạng đơn đặt hàng', @ReportNameE = N'Order status', 
	 @ReportTitle = N'BÁO CÁO THEO DÕI TÌNH TRẠNG ĐƠN ĐẶT HÀNG', @ReportTitleE = N'ORDER STATUS',
	 @Description = N'BÁO CÁO THEO DÕI TÌNH TRẠNG ĐƠN ĐẶT HÀNG', @DescriptionE = N'ORDER STATUS', 
	 @Type = 2, @SQLstring = N'Select * From OV0301 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', @Orderby = N'Order by GroupID, OrderDate, VoucherNo, InventoryID',
	 @TEST = 0, @TableID = N'OT8888'
---- Update Report
Update OT8888 Set DescriptionE = N'Purchase Request' , TitleE = N'PURCHASE REQUEST', ReportNameE = N'Purchase Request' where ReportID = 'OR3101'
Update OT8888 Set DescriptionE = N'Purchase Request' , TitleE = N'PURCHASE REQUEST', ReportNameE = N'Purchase Request' where ReportID = 'OR3102'
Update OT8888 Set DescriptionE = N'The exports and supplies' , TitleE = N'STATUS OF MATERIALS', ReportNameE = N'The exports and supplies' where ReportID = 'OR3227'
Update OT8888 Set DescriptionE = N'Code analysis' , TitleE = N'REPORTS REQUESTED BY PURCHASING CODE ANALYSIS', ReportNameE = N'Report purchase requirements under the code analysis' where ReportID = 'OR3046'
Update OT8888 Set DescriptionE = N'Review the situation to order' , TitleE = N'GENERAL ORDER STATUS', ReportNameE = N'Review the situation to order' where ReportID = 'OR6012'
Update OT8888 Set DescriptionE = N'Review the situation of order (specified by PO)' , TitleE = N'ORDER STATUS SUMMARY (DETAIL BY PO)', ReportNameE = N'Review the situation of order (specified by PO)' where ReportID = 'OR6014'
Update OT8888 Set DescriptionE = N'Review the situation to order - delivery' , TitleE = N'GENERAL ORDER STATUS - Cargoes', ReportNameE = N'Review the situation to order - delivery' where ReportID = 'OR6015'
Update OT8888 Set DescriptionE = N'Price analysis' , TitleE = N'ANALYSIS OF PURCHASE PRICE', ReportNameE = N'Price analysis' where ReportID = 'OR6016'
Update OT8888 Set DescriptionE = N'Purchase orders' , TitleE = N'PURCHASE ORDER', ReportNameE = N'Purchase orders' where ReportID = 'OR3002'
Update OT8888 Set DescriptionE = N'Purchase orders' , TitleE = N'PURCHASE ORDER', ReportNameE = N'Purchase orders' where ReportID = 'OR3001'
Update OT8888 Set DescriptionE = N'Purchase orders' , TitleE = N'PURCHASE ORDER', ReportNameE = N'Purchase orders' where ReportID = 'OR3011'
Update OT8888 Set DescriptionE = N'Sell ​​orders' , TitleE = N'SALES ORDER', ReportNameE = N'Sell ​​orders' where ReportID = 'OR2001'
Update OT8888 Set DescriptionE = N'Sell ​​orders' , TitleE = N'SALES ORDER', ReportNameE = N'Sell ​​orders' where ReportID = 'OR2011'
Update OT8888 Set DescriptionE = N'Code analysis' , TitleE = N'REPORTS REQUESTED BY PURCHASING CODE ANALYSIS', ReportNameE = N'Report purchase requirements under the code analysis' where ReportID = 'OR3047'
Update OT8888 Set DescriptionE = N'Code analysis' , TitleE = N'REPORTS REQUESTED BY PURCHASING CODE ANALYSIS', ReportNameE = N'Report purchase requirements under the code analysis' where ReportID = 'OR3048'
Update OT8888 Set DescriptionE = N'Code analysis' , TitleE = N'REPORTS REQUESTED BY PURCHASING CODE ANALYSIS', ReportNameE = N'Report purchase requirements under the code analysis' where ReportID = 'OR3049'
Update OT8888STD Set DescriptionE = N'Purchase Request' , TitleE = N'PURCHASE REQUEST', ReportNameE = N'Purchase Request' where ReportID = 'OR3101'
Update OT8888STD Set DescriptionE = N'Purchase Request' , TitleE = N'PURCHASE REQUEST', ReportNameE = N'Purchase Request' where ReportID = 'OR3102'
Update OT8888STD Set DescriptionE = N'The exports and supplies' , TitleE = N'STATUS OF MATERIALS', ReportNameE = N'The exports and supplies' where ReportID = 'OR3227'
Update OT8888STD Set DescriptionE = N'Code analysis' , TitleE = N'REPORTS REQUESTED BY PURCHASING CODE ANALYSIS', ReportNameE = N'Report purchase requirements under the code analysis' where ReportID = 'OR3046'
Update OT8888STD Set DescriptionE = N'Review the situation to order' , TitleE = N'GENERAL ORDER STATUS', ReportNameE = N'Review the situation to order' where ReportID = 'OR6012'
Update OT8888STD Set DescriptionE = N'Review the situation of order (specified by PO)' , TitleE = N'ORDER STATUS SUMMARY (DETAIL BY PO)', ReportNameE = N'Review the situation of order (specified by PO)' where ReportID = 'OR6014'
Update OT8888STD Set DescriptionE = N'Review the situation to order - delivery' , TitleE = N'GENERAL ORDER STATUS - Cargoes', ReportNameE = N'Review the situation to order - delivery' where ReportID = 'OR6015'
Update OT8888STD Set DescriptionE = N'Price analysis' , TitleE = N'ANALYSIS OF PURCHASE PRICE', ReportNameE = N'Price analysis' where ReportID = 'OR6016'
Update OT8888STD Set DescriptionE = N'Purchase orders' , TitleE = N'PURCHASE ORDER', ReportNameE = N'Purchase orders' where ReportID = 'OR3002'
Update OT8888STD Set DescriptionE = N'Purchase orders' , TitleE = N'PURCHASE ORDER', ReportNameE = N'Purchase orders' where ReportID = 'OR3001'
Update OT8888STD Set DescriptionE = N'Purchase orders' , TitleE = N'PURCHASE ORDER', ReportNameE = N'Purchase orders' where ReportID = 'OR3011'
Update OT8888STD Set DescriptionE = N'Sell ​​orders' , TitleE = N'SALES ORDER', ReportNameE = N'Sell ​​orders' where ReportID = 'OR2001'
Update OT8888STD Set DescriptionE = N'Sell ​​orders' , TitleE = N'SALES ORDER', ReportNameE = N'Sell ​​orders' where ReportID = 'OR2011'
Update OT8888STD Set DescriptionE = N'Code analysis' , TitleE = N'REPORTS REQUESTED BY PURCHASING CODE ANALYSIS', ReportNameE = N'Report purchase requirements under the code analysis' where ReportID = 'OR3047'
Update OT8888STD Set DescriptionE = N'Code analysis' , TitleE = N'REPORTS REQUESTED BY PURCHASING CODE ANALYSIS', ReportNameE = N'Report purchase requirements under the code analysis' where ReportID = 'OR3048'
Update OT8888STD Set DescriptionE = N'Code analysis' , TitleE = N'REPORTS REQUESTED BY PURCHASING CODE ANALYSIS', ReportNameE = N'Report purchase requirements under the code analysis' where ReportID = 'OR3049'

--- Modified by Tiểu Mai on 06/01/2016: Add OR0084 cho An Phat
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'AsoftOP', @ReportID = N'OR0084', 
	 @ReportName = N'Báo cáo theo dõi tình hình đơn hàng sản xuất', @ReportNameE = N'Order status', 
	 @ReportTitle = N'PHIẾU KIỂM KÊ', @ReportTitleE = N'ORDER STATUS',
	 @Description = N'BÁO CÁO THEO DÕI TÌNH HÌNH ĐƠN HÀNG SX (PHIẾU KIỂM KÊ)', @DescriptionE = N'ORDER STATUS', 
	 @Type = 11, @SQLstring = N'Select * From OV0084 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', @Orderby = N'Order by SOrderID',
	 @TEST = 0, @TableID = N'OT8888'

--- Modified by Hải Long on 06/09/2016: Add OR0306 cho An Phat
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftOP', @ReportID = N'OR0306', 
	 @ReportName = N'Báo cáo tổng hợp tình hình giao hàng (Mẫu 4)', @ReportNameE = N'Order status', 
	 @ReportTitle = N'Báo cáo tổng hợp tình hình giao hàng', @ReportTitleE = N'ORDER STATUS',
	 @Description = N'Báo cáo tổng hợp tình hình giao hàng', @DescriptionE = N'ORDER STATUS', 
	 @Type = 2, @SQLstring = N'Select * From OV0301_AP where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
	 ---- Add OR0054
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftOP', @ReportID = N'OR0054', 
	 @ReportName = N'Thông báo điều chỉnh đơn hàng sản xuất 1', @ReportNameE = N'Thông báo điều chỉnh đơn hàng sản xuất 2', 
	 @ReportTitle = N'THÔNG BÁO ĐIỀU CHỈNH ĐƠN HÀNG SẢN XUẤT', @ReportTitleE = N'THÔNG BÁO ĐIỀU CHỈNH ĐƠN HÀNG SẢN XUẤT',
	 @Description = N'THÔNG BÁO ĐIỀU CHỈNH ĐƠN HÀNG SẢN XUẤT', @DescriptionE = N'THÔNG BÁO ĐIỀU CHỈNH ĐƠN HÀNG SẢN XUẤT', 
	 @Type = 11, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
	 	 ---- Add OR00541
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftOP', @ReportID = N'OR00541', 
	 @ReportName = N'Thông báo điều chỉnh đơn hàng sản xuất 2', @ReportNameE = N'Thông báo điều chỉnh đơn hàng sản xuất 2', 
	 @ReportTitle = N'THÔNG BÁO ĐIỀU CHỈNH ĐƠN HÀNG SẢN XUẤT', @ReportTitleE = N'THÔNG BÁO ĐIỀU CHỈNH ĐƠN HÀNG SẢN XUẤT',
	 @Description = N'THÔNG BÁO ĐIỀU CHỈNH ĐƠN HÀNG SẢN XUẤT', @DescriptionE = N'THÔNG BÁO ĐIỀU CHỈNH ĐƠN HÀNG SẢN XUẤT', 
	 @Type = 11, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'
	 ---- Add OR2012
	 EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftOP', @ReportID = N'OR2012', 
	 @ReportName = N'Đơn hàng sản xuất', @ReportNameE = N'Đơn hàng sản xuất', 
	 @ReportTitle = N'ĐƠN HÀNG SẢN XUẤT', @ReportTitleE = N'ĐƠN HÀNG SẢN XUẤT',
	 @Description = N'ĐƠN HÀNG SẢN XUẤT', @DescriptionE = N'ĐƠN HÀNG SẢN XUẤT', 
	 @Type = 12, @SQLstring = N'', @Orderby = N'',
	 @TEST = 0, @TableID = N'OT8888'

/********* Modified by Bảo Thy on 28/04/2017: Bổ sung các mẫu báo cáo có quy cách **********/

---- Add OR2001_QC
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftOP', @ReportID = N'OR2001_QC', @ReportName = N'Đơn hàng bán (Mẫu 1) có quy cách', 
	 @ReportNameE = N'Sales orders Form 1_Specificate',  @ReportTitle = N'ĐƠN HÀNG BÁN', 
	 @ReportTitleE = N'SALES ORDER', @Description = N'ĐƠN HÀNG BÁN', 
	 @DescriptionE = N'SALES ORDER', @Type = 910, @SQLstring = N'Select * From OV3001 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N' Order by Orders', @TEST = 0, @TableID = N'OT8888'

---- Add OR2011_QC
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftOP', @ReportID = N'OR2011_QC', @ReportName = N'Đơn hàng bán (Mẫu 2) có quy cách', 
	 @ReportNameE = N'Sales orders Form 2_Specificate',  @ReportTitle = N'ĐƠN HÀNG BÁN', 
	 @ReportTitleE = N'SALES ORDER', @Description = N'ĐƠN HÀNG BÁN', 
	 @DescriptionE = N'SALES ORDER', @Type = 910, @SQLstring = N'Select * From OV3001 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by SOrderID,Orders', @TEST = 1, @TableID = N'OT8888'

---- Add OR2101_QC
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'ASoftOP', @ReportID = N'OR2101_QC', @ReportName = N'Mẫu 1 có quy cách', 
	 @ReportNameE = N'Form 1_Specificate',  @ReportTitle = N'PHIẾU CHÀO GIÁ', 
	 @ReportTitleE = N'QUOTATION VOUCHER', @Description = N'PHIẾU CHÀO GIÁ', 
	 @DescriptionE = N'QUOTATION VOUCHER', @Type = 909, @SQLstring = N'Select * From OV2101', @Orderby = N' Order by Orders',
	 @TEST = 0, @TableID = N'OT8888'

---- Add OR2102_QC
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'ASoftOP', @ReportID = N'OR2102_QC', @ReportName = N'Mẫu 2 có quy cách', 
	 @ReportNameE = N'Form 2_Specificate',  @ReportTitle = N'CHÀO GIÁ', 
	 @ReportTitleE = N'QUOTATION', @Description = N'CHÀO GIÁ', 
	 @DescriptionE = N'QUOTATION', @Type = 909, @SQLstring = N'Select * From OV2101', @Orderby = N' Order by Orders',
	 @TEST = 0, @TableID = N'OT8888'

---- Add OR2501_QC
EXEC AP8888 @GroupID = N'G99', @ModuleID = 'ASoftOP', @ReportID = N'OR2501_QC', @ReportName = N'Tình hình tồn kho có quy cách', 
	 @ReportNameE = N'Report of stock_Specificate',  @ReportTitle = N'BÁO CÁO TÌNH HÌNH TỒN KHO', 
	 @ReportTitleE = N'REPORT OF STOCK', @Description = N'BÁO CÁO TÌNH HÌNH TỒN KHO', 
	 @DescriptionE = N'REPORT OF STOCK', @Type = 900, @SQLstring = N'Select * From OV2501 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by InventoryID, WareHouseID', @TEST = 0, @TableID = N'OT8888'

---- Add OR3026_QC
EXEC AP8888 @GroupID = N'G06', @ModuleID = 'ASoftOP', @ReportID = N'OR3026_QC', @ReportName = N'Chi tiết chào giá có quy cách', 
	 @ReportNameE = N'Detail of quotation_Specificate',  @ReportTitle = N'CHI TIẾT CHÀO GIÁ', 
	 @ReportTitleE = N'DETAIL OF QUOTATION', @Description = N'CHI TIẾT CHÀO GIÁ', 
	 @DescriptionE = N'DETAIL OF QUOTATION', @Type = 901, @SQLstring = N'Select * From OV3026 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by GroupID,VoucherDate, VoucherNo, Orders', @TEST = 0, @TableID = N'OT8888'

---- Add OR3027_QC
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftOP', @ReportID = N'OR3027_QC', @ReportName = N'Chi tiết đơn hàng bán (Nguyên tệ - Quy đổi) có quy cách', 
	 @ReportNameE = N'Detail of sales orders (Original-Converted)_Specificate',  @ReportTitle = N'CHI TIẾT ĐƠN HÀNG BÁN', 
	 @ReportTitleE = N'DETAIL OF SALES ORDERS', @Description = N'CHI TIẾT ĐƠN HÀNG BÁN', 
	 @DescriptionE = N'DETAIL OF SALES ORDERS', @Type = 900, @SQLstring = N'Select * From OV3022 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by GroupID, OrderDate,VoucherNo,Orders', @TEST = 0, @TableID = N'OT8888'

---- Add OR3025_QC
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftOP', @ReportID = N'OR3025_QC', @ReportName = N'Chi tiết đơn hàng mua (Nguyên tệ - Quy đổi) có quy cách', 
	 @ReportNameE = N'Detail of purchase orders (Original-Converted)_Specificate',  @ReportTitle = N'CHI TIẾT ĐƠN HÀNG MUA', 
	 @ReportTitleE = N'DETAIL OF PURCHASE ORDERS ', @Description = N'CHI TIẾT ĐƠN HÀNG MUA', 
	 @DescriptionE = N'DETAIL OF PURCHASE ORDERS ', @Type = 900, @SQLstring = N'Select * From OV3021 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by GroupID,OrderDate , VoucherNo, Orders', @TEST = 0, @TableID = N'OT8888'

---- Add OR3051_QC
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftOP', @ReportID = N'OR3051_QC', @ReportName = N'Chi tiết đơn hàng sản xuất có quy cách', 
	 @ReportNameE = N'Detail of manufacturing orders_Specificate',  @ReportTitle = N'CHI TIẾT ĐƠN HÀNG SẢN XUẤT', 
	 @ReportTitleE = N'DETAIL OF MANUFACTURING ORDERS', @Description = N'CHI TIẾT ĐƠN HÀNG SẢN XUẤT', 
	 @DescriptionE = N'DETAIL OF MANUFACTURING ORDERS', @Type = 901, @SQLstring = N'Select * From OV3023  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by GroupID, OrderDate, VoucherNo, Orders', @TEST = 0, @TableID = N'OT8888'


IF @CustomizeIndex = 80
BEGIN  
	---- Add OR2001_BLA cho Bê tông Long An by Tiểu Mai on 28/08/2017
	EXEC AP8888 @GroupID = N'G01', @ModuleID = 'ASoftOP', @ReportID = N'OR2001_BLA', @ReportName = N'Đơn đặt hàng (Lô cọc)', 
		 @ReportNameE = N'Sales orders',  @ReportTitle = N'ĐƠN ĐẶT HÀNG (LÔ CỌC)', 
		 @ReportTitleE = N'SALES ORDER', @Description = N'ĐƠN ĐẶT HÀNG (LÔ CỌC)', 
		 @DescriptionE = N'SALES ORDER', @Type = 910, @SQLstring = N'', 
		 @Orderby = N'', @TEST = 1, @TableID = N'OT8888'
	 
	---- Add OR2012_BLA cho Bê tông Long An by Tiểu Mai on 28/08/2017
	EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftOP', @ReportID = N'OR2012_BLA', 
		 @ReportName = N'Thông tin kế hoạch sản xuất', @ReportNameE = N'Thông tin kế hoạch sản xuất', 
		 @ReportTitle = N'Thông tin kế hoạch sản xuất', @ReportTitleE = N'Thông tin kế hoạch sản xuất',
		 @Description = N'Thông tin kế hoạch sản xuất', @DescriptionE = N'Thông tin kế hoạch sản xuất', 
		 @Type = 12, @SQLstring = N'', @Orderby = N'',
		 @TEST = 0, @TableID = N'OT8888'
	 
END 

------ Modified by Phương Thảo on 16/10/2016: Bổ sung mẫu bc quy cách cho ĐH mua và ĐH sản xuất
---- Add OR3001_QC
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftOP', @ReportID = N'OR3001_QC', @ReportName = N'Đơn hàng mua có quy cách (Mẫu 1)', 
	 @ReportNameE = N'Purchase orders_Specificate',  @ReportTitle = N'ĐƠN HÀNG MUA', 
	 @ReportTitleE = N'PURCHASE ORDER', @Description = N'Đơn hàng mua', 
	 @DescriptionE = N'Purchase orders', @Type = 910, @SQLstring = N'Select * From OV3002 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by Orders', @TEST = 0, @TableID = N'OT8888'

---- Add OR3002_QC
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftOP', @ReportID = N'OR3002_QC', @ReportName = N'Đơn hàng mua có quy cách (Mẫu 2)', 
	 @ReportNameE = N'Purchase orders_Specificate',  @ReportTitle = N'ĐƠN HÀNG MUA', 
	 @ReportTitleE = N'PURCHASE ORDER', @Description = N'Đơn hàng mua', 
	 @DescriptionE = N'Purchase orders', @Type = 910, @SQLstring = N'Select * From OV3110 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by InventoryID', @TEST = 0, @TableID = N'OT8888'

---- Add OR3011_QC
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'ASoftOP', @ReportID = N'OR3011_QC', @ReportName = N'Đơn hàng mua có quy cách (Mẫu 3)', 
	 @ReportNameE = N'Purchase orders_Specificate',  @ReportTitle = N'ĐƠN HÀNG MUA', 
	 @ReportTitleE = N'PURCHASE ORDER', @Description = N'Đơn hàng mua', 
	 @DescriptionE = N'Purchase orders', @Type = 910, @SQLstring = N'Select * From OV3002 where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', 
	 @Orderby = N'Order by AnaName,InventoryName', @TEST = 0, @TableID = N'OT8888'

---- Add OR2012_QC
EXEC AP8888 @GroupID = N'G03', @ModuleID = 'ASoftOP', @ReportID = N'OR2012_QC', @ReportName = N'Đơn hàng sản xuất có quy cách', 
	 @ReportNameE = N'Manufacture orders_Specificate',  @ReportTitle = N'ĐƠN HÀNG SẢN XUÁT', 
	 @ReportTitleE = N'MANUFACTURE ORDER', @Description = N'Đơn hàng sản xuất (có quy cách)', 
	 @DescriptionE = N'Manufacture orders', @Type = 910, @SQLstring = N'', @Orderby = N'', @TEST = 0, @TableID = N'OT8888'


IF @CustomizeIndex = 44
BEGIN  

	---- Add OR0001_APP cho SAVI by Đức Thông on 22/10/2020 (Tổng hợp đơn hàng trên APP)
	EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftOP', @ReportID = N'OR0001_APP', 
		 @ReportName = N'Tổng hợp đơn hàng bán trên app', @ReportNameE = N'Tổng hợp đơn hàng bán trên app', 
		 @ReportTitle = N'Tổng hợp đơn hàng bán trên app', @ReportTitleE = N'Tổng hợp đơn hàng bán trên app',
		 @Description = N'Tổng hợp đơn hàng bán trên app', @DescriptionE = N'Tổng hợp đơn hàng bán trên app', 
		 @Type = 13, @SQLstring = N'Select * From OV3062_AP where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', @Orderby = N'ORDER BY CreateDate DESC, VoucherNo',
		 @TEST = 0, @TableID = N'OT8888'

	---- Add OR0001_APP_DETAIL cho SAVI by Đức Thông on 22/10/2020 (Chi tiết đơn hàng trên APP)
	EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftOP', @ReportID = N'OR0001_APP_DETAIL', 
		 @ReportName = N'Chi tiết đơn hàng bán trên app', @ReportNameE = N'Chi tiết đơn hàng bán trên app', 
		 @ReportTitle = N'Chi tiết đơn hàng bán trên app', @ReportTitleE = N'Chi tiết đơn hàng bán trên app',
		 @Description = N'Chi tiết đơn hàng bán trên app', @DescriptionE = N'Chi tiết đơn hàng bán trên app', 
		 @Type = 14, @SQLstring = N'Select * From OV3022_AP where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID))', @Orderby = N' ORDER BY order_created_date DESC, VoucherNo, InventoryName',
		 @TEST = 0, @TableID = N'OT8888'
	 
END 