-- <Summary>
---- 
-- <History>
---- Create on 01/01/2014 by Thanh Sown
---- Modified on ... by ...
---- Add WR0097: báo cáo yêu cầu vận chuyển nội bộ
---- Add WR0141: Đối chiếu số lượng bán ra tại cửa hàng và công ty (MINHSANG)
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftWM', @ReportID = N'WR0097', 
	 @ReportName = N'Phiếu yêu cầu VCNB', @ReportNameE = N'Internal Transfer WardHouse Requirement', 
	 @ReportTitle = N'PHIẾU YÊU CẦU XUẤT KIÊM VẬN CHUYỂN NỘI BỘ', @ReportTitleE = N'Internal Transfer WardHouse Requirement',
	 @Description = N'PHIẾU YÊU CẦU XUẤT KIÊM VẬN CHUYỂN NỘI BỘ', @DescriptionE = N'Internal Transfer WardHouse Requirement', 
	 @Type = 3, @SQLstring = N'', @Orderby = N'Order by Orders',
	 @TEST = 0, @TableID = N'WT8888'
---- Add WR0096: báo cáo yêu cầu nhập kho
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftWM', @ReportID = N'WR0096', 
	 @ReportName = N'Phiếu yêu cầu xuất kho', @ReportNameE = N'Export WareHouse Requirement', 
	 @ReportTitle = N'PHIẾU YÊU CẦU XUẤT KHO', @ReportTitleE = N'Export WareHouse Requirement',
	 @Description = N'PHIẾU YÊU CẦU XUẤT KHO', @DescriptionE = N'Export WareHouse Requirement', 
	 @Type = 2, @SQLstring = N'', @Orderby = N'Order by Orders',
	 @TEST = 0, @TableID = N'WT8888'
---- Add WR0096QR: báo cáo qr yêu cầu nhập kho
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftWM', @ReportID = N'WR0096QR', 
	 @ReportName = N'Phiếu QR yêu cầu xuất kho', @ReportNameE = N'Export QR WareHouse Requirement', 
	 @ReportTitle = N'PHIẾU QR YÊU CẦU XUẤT KHO', @ReportTitleE = N'Export QR WareHouse Requirement',
	 @Description = N'PHIẾU QR YÊU CẦU XUẤT KHO', @DescriptionE = N'Export QR WareHouse Requirement', 
	 @Type = 2, @SQLstring = N'', @Orderby = N'Order by Orders',
	 @TEST = 0, @TableID = N'WT8888'
---- Add WR0095: báo cáo yêu cầu nhập kho
EXEC AP8888 @GroupID = N'G02', @ModuleID = 'AsoftWM', @ReportID = N'WR0095', 
	 @ReportName = N'Phiếu yêu cầu nhập kho', @ReportNameE = N'Import WareHouse Requirement', 
	 @ReportTitle = N'PHIẾU YÊU CẦU NHẬP KHO', @ReportTitleE = N'Import WareHouse Requirement',
	 @Description = N'PHIẾU YÊU CẦU NHẬP KHO', @DescriptionE = N'Import WareHouse Requirement', 
	 @Type = 1, @SQLstring = N'', @Orderby = N'Order by Orders',
	 @TEST = 0, @TableID = N'WT8888'

------ Modified by Bảo Thy on 25/04/2017: Bổ sung báo cáo theo quy cách vào chuẩn

---- Add WR2007_QC
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'WR2007_QC', 
	 @ReportName = N'Báo cáo nhập xuất tồn theo kho (Nhóm 1) có quy cách', @ReportNameE = N'Report of Receiving - Delivering - Stock according to warehouse (1 level)_Specificate', 
	 @ReportTitle = N'NHẬP XUẤT TỒN THEO KHO', @ReportTitleE = N'REPORT OF RECEIVING - DELIVERING - STOCK ACCORDING TO WAREHOUSE (1 LEVEL)',
	 @Description = N'NHẬP XUẤT TỒN THEO KHO', @DescriptionE = N'REPORT OF RECEIVING - DELIVERING - STOCK ACCORDING TO WAREHOUSE (1 LEVEL)', 
	 @Type = 904, @SQLstring = N'Select * from WV2008  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'Order by  GroupID1, GroupID2,  InventoryID', @TEST = 0, @TableID = N'WT8888'

---- Add WR2008_QC
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'WR2008_QC', 
	 @ReportName = N'Báo cáo nhập xuất tồn theo kho có quy cách', @ReportNameE = N'Report of Receiving - Delivering - Stock according to warehouse_Specificate', 
	 @ReportTitle = N'NHẬP XUẤT TỒN THEO KHO', @ReportTitleE = N'REPORT OF RECEIVING - DELIVERING - STOCK ACCORDING TO WAREHOUSE',
	 @Description = N'NHẬP XUẤT TỒN THEO KHO', @DescriptionE = N'REPORT OF RECEIVING - DELIVERING - STOCK ACCORDING TO WAREHOUSE', 
	 @Type = 904, @SQLstring = N'Select * from WV2008  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'Order by  GroupID1, GroupID2,  InventoryID', @TEST = 0, @TableID = N'WT8888'

---- Add WR2009_QC
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'WR2009_QC', 
	 @ReportName = N'Báo cáo nhập xuất tồn theo kho (Nhóm 2) có quy cách', @ReportNameE = N'Report of Receiving - Delivering - Stock according to warehouse (2 levels)_Specificate', 
	 @ReportTitle = N'NHẬP XUẤT TỒN THEO KHO', @ReportTitleE = N'REPORT OF RECEIVING - DELIVERING - STOCK ACCORDING TO WAREHOUSE (2 LEVELS)',
	 @Description = N'NHẬP XUẤT TỒN THEO KHO', @DescriptionE = N'REPORT OF RECEIVING - DELIVERING - STOCK ACCORDING TO WAREHOUSE (2 LEVELS)', 
	 @Type = 904, @SQLstring = N'Select * from WV2008  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'Order by  GroupID1, GroupID2,  InventoryID', @TEST = 0, @TableID = N'WT8888'

---- Add WR3007_QC
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'WR3007_QC', 
	 @ReportName = N'Báo cáo nhập xuất tồn tất cả các kho có quy cách', @ReportNameE = N'Report of Receiving - Delivering - Stock_Specificate', 
	 @ReportTitle = N'NHẬP XUẤT TỒN', @ReportTitleE = N'REPORT OF RECEIVING - DELIVERING - STOCK',
	 @Description = N'NHẬP XUẤT TỒN', @DescriptionE = N'REPORT OF RECEIVING - DELIVERING - STOCK', 
	 @Type = 905, @SQLstring = N'Select * from WV3008  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'Order by  GroupID1, GroupID2, InventoryID', @TEST = 0, @TableID = N'WT8888'

---- Add WR3008_QC
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'WR3008_QC', 
	 @ReportName = N'Báo cáo nhập xuất tồn tất cả các kho (nhóm 1 cấp) có quy cách', @ReportNameE = N'Report of Receiving - Delivering - Stock (1 level)_Specificate', 
	 @ReportTitle = N'NHẬP XUẤT TỒN', @ReportTitleE = N'REPORT OF RECEIVING - DELIVERING - STOCK (1 LEVEL)',
	 @Description = N'NHẬP XUẤT TỒN', @DescriptionE = N'REPORT OF RECEIVING - DELIVERING - STOCK (1 LEVEL)', 
	 @Type = 905, @SQLstring = N'Select * from WV3008  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'Order by  GroupID1, GroupID2, InventoryID', @TEST = 0, @TableID = N'WT8888'

---- Add WR3009_QC
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'WR3009_QC', 
	 @ReportName = N'Báo cáo nhập xuất tồn tất cả các kho (nhóm 2 cấp) có quy cách', @ReportNameE = N'Report of Receiving - Delivering - Stock (2 levels)_Specificate', 
	 @ReportTitle = N'NHẬP XUẤT TỒN', @ReportTitleE = N'REPORT OF RECEIVING - DELIVERING - STOCK (2 LEVELS)',
	 @Description = N'NHẬP XUẤT TỒN', @DescriptionE = N'REPORT OF RECEIVING - DELIVERING - STOCK (2 LEVELS)', 
	 @Type = 905, @SQLstring = N'Select * from WV3008  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'Order by  GroupID1, GroupID2, InventoryID', @TEST = 0, @TableID = N'WT8888'
	 
---- Add WR4710_QC
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'WR4710_QC', 
	 @ReportName = N'Phân tích tuổi hàng tồn kho có quy cách', @ReportNameE = N'Phân tích tuổi hàng tồn kho có quy cách', 
	 @ReportTitle = N'PHÂN TÍCH TUỔI HÀNG TỒN KHO', @ReportTitleE = N'PHÂN TÍCH TUỔI HÀNG TỒN KHO',
	 @Description = N'PHÂN TÍCH TUỔI HÀNG TỒN KHO', @DescriptionE = N'PHÂN TÍCH TUỔI HÀNG TỒN KHO', 
	 @Type = 940, @SQLstring = N'Select * from WV0318  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'', @TEST = 0, @TableID = N'WT8888'

---- Add WR4711_QC
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'WR4711_QC', 
	 @ReportName = N'Phân tích tuổi hàng tồn kho có quy cách', @ReportNameE = N'Phân tích tuổi hàng tồn kho có quy cách', 
	 @ReportTitle = N'PHÂN TÍCH TUỔI HÀNG TỒN KHO', @ReportTitleE = N'PHÂN TÍCH TUỔI HÀNG TỒN KHO',
	 @Description = N'PHÂN TÍCH TUỔI HÀNG TỒN KHO', @DescriptionE = N'PHÂN TÍCH TUỔI HÀNG TỒN KHO', 
	 @Type = 941, @SQLstring = N'Select * from WV0316  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'', @TEST = 0, @TableID = N'WT8888'

---- Add WR2047_QC
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftWM', @ReportID = N'WR2047_QC', 
	 @ReportName = N'Nhật ký kiểm kê hàng hóa có quy cách', @ReportNameE = N'Diary of inventoring goods_Specificate', 
	 @ReportTitle = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @ReportTitleE = N'DIARY OF INVENTORING GOODS',
	 @Description = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @DescriptionE = N'DIARY OF INVENTORING GOODS', 
	 @Type = 901, @SQLstring = N'Select * from WV2047  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'Order by WarehouseID,Orders', @TEST = 0, @TableID = N'WT8888'

---- Add WR2048_QC
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftWM', @ReportID = N'WR2048_QC', 
	 @ReportName = N'Nhật ký kiểm kê hàng hóa có quy cách', @ReportNameE = N'Diary of inventoring goods_Specificate', 
	 @ReportTitle = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @ReportTitleE = N'DIARY OF INVENTORING GOODS',
	 @Description = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @DescriptionE = N'DIARY OF INVENTORING GOODS', 
	 @Type = 901, @SQLstring = N'Select * from WV2047  where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)) ', 
	 @Orderby = N'Order by WarehouseID,Orders', @TEST = 0, @TableID = N'WT8888'

---- Add WR0141 (MINHSANG)
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftWM', @ReportID = N'WR0141', 
	 @ReportName = N'Đối chiếu số lượng bán ra tại cửa hàng và công ty', @ReportNameE = N'Compare the number of sales at stores and companies', 
	 @ReportTitle = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @ReportTitleE = N'DIARY OF INVENTORING GOODS',
	 @Description = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @DescriptionE = N'DIARY OF INVENTORING GOODS', 
	 @Type = 1, @SQLstring = N'', 
	 @Orderby = N'Order by WarehouseID,Orders', @TEST = 0, @TableID = N'WT8888'

---- Add WR0142 (MINHSANG)
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftWM', @ReportID = N'WR0142', 
	 @ReportName = N'Đối chiếu số lượng tồn kho quản lý tại công ty', @ReportNameE = N'Compare the amount of inventory management at the company', 
	 @ReportTitle = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @ReportTitleE = N'DIARY OF INVENTORING GOODS',
	 @Description = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @DescriptionE = N'DIARY OF INVENTORING GOODS', 
	 @Type = 2, @SQLstring = N'', 
	 @Orderby = N'Order by WarehouseID,Orders', @TEST = 0, @TableID = N'WT8888'

---- Add WR0143 (MINHSANG)
EXEC AP8888 @GroupID = N'G01', @ModuleID = 'AsoftWM', @ReportID = N'WR0143', 
	 @ReportName = N'Đối chiếu số tiền công ty so với số tiền nhận từ các cửa hàng', @ReportNameE = N'Compare the company of amount against the amount received from the store', 
	 @ReportTitle = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @ReportTitleE = N'DIARY OF INVENTORING GOODS',
	 @Description = N'NHẬT KÝ KIỂM KÊ HÀNG HÓA', @DescriptionE = N'DIARY OF INVENTORING GOODS', 
	 @Type = 3, @SQLstring = N'', 
	 @Orderby = N'Order by WarehouseID,Orders', @TEST = 0, @TableID = N'WT8888'

---- Add BR7001, BR3008 (Quản lý mặt hàng theo số seri - Việt Linh)
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'BR7001', 
	 @ReportName = N'Báo cáo nhập xuất tồn chi tiết theo seri (từng kho)', @ReportNameE = N'Receiving - Delivering - Serial', 
	 @ReportTitle = N'NHẬP XUẤT TỒN CHI TIẾT THEO SERI', @ReportTitleE = N'RECEIVING - DELIVERING - SERIAL',
	 @Description = N'NHẬP XUẤT TỒN CHI TIẾT THEO SERI', @DescriptionE = N'RECEIVING - DELIVERING - SERIAL', 
	 @Type = 33, @SQLstring = N'', 
	 @Orderby = N'Order by InventoryID, SeriNo', @TEST = 0, @TableID = N'WT8888'
	 
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'AsoftWM', @ReportID = N'BR3008', 
	 @ReportName = N'Báo cáo nhập xuất tồn chi tiết theo seri (tất cả các kho)', @ReportNameE = N'Receiving - Delivering - Serial', 
	 @ReportTitle = N'NHẬP XUẤT TỒN CHI TIẾT THEO SERI', @ReportTitleE = N'RECEIVING - DELIVERING - SERIAL',
	 @Description = N'NHẬP XUẤT TỒN CHI TIẾT THEO SERI', @DescriptionE = N'RECEIVING - DELIVERING - SERIAL', 
	 @Type = 34, @SQLstring = N'', 
	 @Orderby = N'Order by InventoryID, SeriNo', @TEST = 0, @TableID = N'WT8888'
	---- Add WR0056
EXEC AP8888 @GroupID = N'G05', @ModuleID = 'ASoftWM', @ReportID = N'WR0056', @ReportName = N'Báo cáo chi tiết phí thuê kho', 
	 @ReportNameE = N'Báo cáo chi tiết phí thuê kho',  @ReportTitle = N'BÁO CÁO CHI TIẾT PHÍ THUÊ KHO', 
	 @ReportTitleE = N'BÁO CÁO CHI TIẾT PHÍ THUÊ KHO', @Description = N'BÁO CÁO CHI TIẾT PHÍ THUÊ KHO', 
	 @DescriptionE = N'BÁO CÁO CHI TIẾT PHÍ THUÊ KHO', @Type = 43, @SQLstring = N'', @Orderby = N'', @TEST = 0, @TableID = N'WT8888'