Declare @CustomerName INT
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

IF @CustomerName = 43 --Secoin
Begin
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'000')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'000', N'I. CƠ CẤU VỐN KINH DOANH VÀ TÌNH HÌNH ĐẢM BẢO KHẢ NĂNG THANH TOÁN', NULL, 0, NULL, 0, 0)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'100')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'100', N'1. Tỷ số nợ = Nợ phải trả / Tổng cộng nguồn vốn   x 100', N'([101]/[102])*100', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'101')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'101', N'    - Nợ phải trả ', NULL, 0, N'15L200500000000020', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'102')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'102', N'    - Tổng cộng nguồn vốn', NULL, 0, N'15L200500000000021', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'150')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'150', N'2. Vốn luân chuyển = Tổng tài sản ngắn hạn – Tổng nợ ngắn hạn (triệu đồng)', N'[151]-[152]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'151')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'151', N'    - Tổng tài sản ngắn hạn', NULL, 0, N'15L200500000000001', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'152')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'152', N'    - Tổng nợ ngắn hạn', NULL, 0, N'15L200500000000022', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'200')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'200', N'3. Hệ số thanh toán ngắn hạn = Tài sản ngắn hạn / Nợ ngắn hạn', N'[201]/[202]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'201')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'201', N'    - Tài sản ngắn hạn', NULL, 0, N'15L200500000000001', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'202')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'202', N'    - Nợ ngắn hạn', NULL, 0, N'15L200500000000022', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'250')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'250', N'4. Hệ số thanh toán nhanh = (Tiền + Đầu tư chứng khoán ngắn) / Nợ ngắn hạn', N'([251]+[252])/[253]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'251')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'251', N'    - Tiền', NULL, 0, N'15L200500000000002', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'252')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'252', N'    - Đầu tư chứng khoán ngắn', NULL, 0, N'15L200500000000003', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'253')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'253', N'    - Nợ ngắn hạn', NULL, 0, N'15L200500000000022', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'300')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'300', N'5. Hệ số thanh toán chung (lần) = Tổng cộng tài sản / Tổng cộng nợ phải trả', N'[301]/[302]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'301')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'301', N'    - Tổng cộng tài sản ', NULL, 0, N'15L200500000000008', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'302')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'302', N'    - Tổng cộng nợ phải trả', NULL, 0, N'15L200500000000020', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'349')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'349', N'II. CÁC KHOẢN PHẢI THU CỦA KHÁCH HÀNG - CÁC KHOẢN PHẢI TRẢ NGƯỜI BÁN', NULL, 0, NULL, 0, 0)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'350')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'350', N'6. Số vòng luân chuyển các khoản phải thu = Tổng doanh thu/ Số dư Bq các khoản phải thu K.H', N'[351]/[352]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'351')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'351', N'    - Tổng doanh thu', NULL, 0, N'10', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'352')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'352', N'    - Số dư Bq các khoản phải thu K.H', N'[3521]+[3522]-[3523]-[3524]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'3521')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'3521', N'            + Phải thu ngắn hạn của khách hàng', NULL, 1, N'15L200500000000018', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'3522')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'3522', N'            + Phải thu dài hạn của khách hàng', NULL, 1, N'15L200500000000040', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'3523')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'3523', N'            + Người mua trả tiền trước ngắn hạn', NULL, 1, N'15L200500000000063', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'3524')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'3524', N'            + Người mua trả tiền trước dài hạn', NULL, 1, N'15L200500000000074', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'400')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'400', N'7. Kỳ thu tiền bình quân (ngày) = Số ngày của kỳ / Số vòng luân chuyển của các khoản phải thu của khách hàng', N'[401]/[402]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'401')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'401', N'    - Số ngày của kỳ', NULL, 0, NULL, 7, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'402')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'402', N'    - Số vòng luân chuyển của các khoản phải thu của khách hàng', N'[350]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'450')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'450', N'8. Số vòng luân chuyển các khoản phải trả = Tổng tiền hàng mua chịu / Số dư bình quân các khoản phải trả', N'[451]/[452]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'451')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'451', N'    - Tổng tiền hàng mua chịu', N'[4511]+[4512]-[4513]-[4514]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'4511')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'4511', N'              + Phải trả cho người bán ngắn hạn', NULL, 1, NULL, 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'4512')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'4512', N'              + Phải trả người bán dài hạn', NULL, 1, NULL, 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'4513')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'4513', N'              + Trả trước cho người bán ngắn hạn', NULL, 1, NULL, 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'4514')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'4514', N'              + Trả trước cho người bán dài hạn', NULL, 1, NULL, 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'452')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'452', N'    - Số dư bình quân các khoản phải trả', N'[4521]+[4522]-[4523]-[4524]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'4521')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'4521', N'              + Phải trả cho người bán ngắn hạn', NULL, 1, N'15L200500000000062', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'4522')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'4522', N'              + Phải trả người bán dài hạn', NULL, 1, N'15L200500000000073', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'4523')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'4523', N'              + Trả trước cho người bán ngắn hạn', NULL, 1, N'15L200500000000019', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'4524')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'4524', N'              + Trả trước cho người bán dài hạn', NULL, 1, N'L201500000000007', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'500')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'500', N'7. Kỳ trả tiền bình quân (ngày) = Số ngày của kỳ / Số vòng luân chuyển của các khoản phải traû ', N'[501]/[502]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'501')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'501', N'    - Số ngày của kỳ', NULL, 0, NULL, 7, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'502')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'502', N'    - Số vòng luân chuyển của các khoản phải traû ', N'[450]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'549')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'549', N'III. PHÂN TÍCH HIỆU QUẢ SỬ DỤNG VỐN', NULL, 0, NULL, 0, 0)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'550')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'550', N'10. Sức sản xuất của tổng TS= Doanh thu thuần (hoặc tổng giá trị sx) / Tổng tài sản bình quân', N'[551]/[552]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'551')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'551', N'    - Doanh thu thuần (hoặc tổng giá trị sx)', NULL, 0, N'10', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'552')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'552', N'    - Tổng tài sản bình quân', NULL, 0, N'15L200500000000008', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'600')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'600', N'11. Hệ số quay vòng tồn kho = Giá vốn hàng bán/ HTK bình quân', N'[601]/[602]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'601')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'601', N'     - Giá vốn hàng bán', NULL, 0, N'11', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'602')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'602', N'     - HTK bình quân', NULL, 0, N'15L200500000000031', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'650')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'650', N'11. Số ngày bình quân của một vòng quay kho = 365 / Hệ số quay vòng hàng tồn kho', N'[651]/[652]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'651')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'651', N'    - Số ngày của kỳ', NULL, 0, NULL, 7, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'652')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'652', N'    - Hệ số quay vòng hàng tồn kho', N'[600]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'700')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'700', N'12. Hệ số lợi nhuận trên vốn kinh doanh = Lợi nhuận thuần sau thuế / Vốn kinh doanh bình quân', N'[701]/[702]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'701')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'701', N'    - Lợi nhuận thuần sau thuế', NULL, 0, N'60', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'702')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'702', N'    - Vốn kinh doanh bình quân', N'[7021]+[7022]+[7023]+[7024]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'7021')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'7021', N'         + Vốn góp của chủ sở hữu', NULL, 1, N'15L200500000000078', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'7022')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'7022', N'         + Thặng dư vốn cổ phần', NULL, 1, N'15L200500000000079', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'7023')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'7023', N'         + Quyền chọn trái phiếu chuyển đổi', NULL, 1, N'15L200600000000010', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'7024')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'7024', N'         + Vốn khác của chủ sở hữu', NULL, 1, N'15L200500000000080', 2, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'750')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'750', N'13. Hệ số lợi nhuận trên doanh thu = Lợi nhuận thuần sau thuế / Doanh thu thuần', N'[751]/[752]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'751')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'751', N'    - Lợi nhuận thuần sau thuế', NULL, 0, N'60', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'752')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'752', N'    - Doanh thu thuần', NULL, 0, N'10', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'800')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'800', N'14. Hệ số lợi nhuận trên vốn chủ sở hữu = Lợi nhuận thuần sau thuế / Vốn chủ sở hữu Bq', N'[801]/[802]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'801')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'801', N'    - Lợi nhuận thuần sau thuế', NULL, 0, N'60', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'802')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'802', N'    - Vốn chủ sở hữu Bq', NULL, 0, N'15L200500000000078', 3, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'849')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'849', N'IV. HIỆU QUẢ KINH DOANH', NULL, 0, NULL, 0, 0)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'850')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'850', N'15. Tỷ lệ lãi gộp = Lãi gộp / Doanh thu thuần', N'[851]/[852]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'851')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'851', N'    - Lãi gộp', NULL, 0, N'20', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'852')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'852', N'    - Doanh thu thuần', NULL, 0, N'10', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'900')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'900', N'16. Tỷ lệ lãi thuần từ HĐKD trước thuế = Lãi thuần từ HDKD trước thuế / Doanh thu thuần', N'[901]/[902]', 0, NULL, 0, 1)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'901')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'901', N'    - Lãi thuần từ HDKD trước thuế', NULL, 0, N'50', 5, 2)
		IF NOT EXISTS (Select Top 1 1 From AT7927 Where DivisionID =  N'SC'  and ReportCode =  N'PTTC_TT200' and LineCode = N'902')
		Insert into AT7927 (DivisionID,ReportCode, LineCode, LineName, Formula,PrintStatus, InheritAPK,IsStatus, IsCode)
		Values
		(N'SC', N'PTTC_TT200', N'902', N'    - Doanh thu thuần', NULL, 0, N'10', 5, 2)


End
Drop table #CustomerName