---- Create by Phan thanh hoàng vũ on 2/19/2019 2:58:05 PM
---- Danh sách dặn thuốc (Master) => BLUESKY

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[APT0009]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[APT0009]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [DivisionID] VARCHAR(50) NULL,
  [SchoolYearID] VARCHAR(50) NULL,
  [ArrangeClassID] VARCHAR(50) NULL,
  [GradeID] VARCHAR(50) NULL,
  [ClassID] VARCHAR(50) NULL,
  [StudentID] VARCHAR(50) NULL,
  [SickName] NVARCHAR(250) NULL,
  [FromDate] DATETIME NULL,
  [ToDate] DATETIME NULL,
  [Notes] NVARCHAR(250) NULL,
  [DeleteFlg] TINYINT DEFAULT (0) NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [LastModifyUserID] VARCHAR(50) NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyDate] DATETIME NULL
CONSTRAINT [PK_APT0009] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END