
IF EXISTS
(
    SELECT TOP 1 1
    FROM DBO.SYSOBJECTS WITH(NOLOCK)
    WHERE ID = OBJECT_ID(N'[DBO].[AQ2901]')
          AND OBJECTPROPERTY(ID, N'IsView') = 1
)
    DROP VIEW [dbo].[AQ2901];
GO
SET QUOTED_IDENTIFIER ON;
GO
SET ANSI_NULLS ON;
GO

--Created by: Thuy Tuyen, date : 11/05/2008
--Purpose: So luong SO va so luong hang  lap hoa don ban hang (view chet)
--Last edit: Thuy Tuyen  date: 10/10/2009
--Edit by:  Thuy Tuyen, date 26/03/2009, them truong G.OrderID as T9OrderID
--Edit by:  Quốc Tuấn, date 07/01/2015, them truong EndConvertedQuantity
---- Modified on 08/06/2016 by Bảo Thy: Bổ sung WITH (NOLOCK)
---- Modify on 15/05/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modify on 16/04/2018 by Bảo Anh: Bổ sung IsDiscount
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Đức Thông on 13/10/2020 : SAVI: Chỉnh sửa cách lấy số lượng hàng theo đơn vị tính
---- Modified by Đức Thông on 21/10/2020 : SAVI: ActualConvertedQuantity: Số lượng trong hóa đơn phải map với số lượng của đvt trong đơn hàng để lúc kế thừa đơn hàng bán hiển thị đúng số lượng

CREATE VIEW [dbo].[AQ2901]
AS
     SELECT OT2001.DivisionID, 
            TranMonth, 
            TranYear, 
            OT2002.SOrderID, 
            OT2001.OrderStatus, 
            TransactionID, 
            OT2001.Duedate, 
            OT2001.Shipdate, 
            OT2002.InventoryID, 
            ISNULL(OrderQuantity, 0) AS OrderQuantity, 
            ISNULL(ActualQuantity, 0) AS ActualQuantity, 
            OT2001.PaymentTermID, 
            AT1208.Duedays,
            CASE
                WHEN OT2002.Finish = 1
                THEN NULL
                ELSE ISNULL(OrderQuantity, 0) - ISNULL(ActualQuantity, 0)
            END AS EndQuantity, 
            G.OrderID AS T9OrderID,
            CASE
                WHEN OT2002.Finish = 1
                THEN NULL
                ELSE ISNULL(ConvertedQuantity, OrderQuantity) - ISNULL(ActualConvertedQuantity, 0)
            END AS EndConvertedQuantity, 
            (ISNULL(OriginalAmount, 0) - ISNULL(ActualOriginalAmount, 0)) AS EndOriginalAmount, 
            (
            SELECT TOP 1 IsDiscount
            FROM AT1302 WITH(NOLOCK)
            WHERE DivisionID IN('@@@', OT2002.DivisionID)
            AND InventoryID = OT2002.InventoryID) AS IsDiscount
     FROM OT2002 WITH(NOLOCK)
          INNER JOIN OT2001 WITH(NOLOCK) ON OT2001.DivisionID = OT2002.DivisionID
                                            AND OT2002.SOrderID = OT2001.SOrderID
          LEFT JOIN AT1208 WITH(NOLOCK) ON AT1208.PaymentTermID = OT2001.PaymentTermID
          LEFT JOIN(
          SELECT AT9000.DivisionID, 
                 AT9000.OrderID, 
                 OTransactionID, 
                 AT9000.InventoryID,
                 CASE
                     WHEN EXISTS
     ( -- Cùng đơn vị tính --> Lấy đvt qui đổi trong AT9000
         SELECT TOP 1 1
         FROM dbo.OT2002
         WHERE OT2002.InventoryID = AT9000.InventoryID
               AND AT9000.OrderID = OT2002.SOrderID
               AND AT9000.ConvertedUnitID = OT2002.UnitID
     )
                     THEN SUM(ConvertedQuantity)
                     WHEN EXISTS -- Khác đvt, đvt trong đơn hàng là chuẩn --> Lấy đvt chuẩn trong AT9000
     (
         SELECT TOP 1 1
         FROM dbo.OT2002
         WHERE OT2002.SOrderID = AT9000.OrderID
               AND OT2002.InventoryID = AT9000.InventoryID
               AND OT2002.UnitID = AT9000.UnitID
     )
                     THEN SUM(Quantity)
                     ELSE -- Khác đvt, đvt trong đơn hàng là qui đổi --> Qui đổi đvt trong AT9000
                     CASE Operator
                         WHEN 1
                         THEN SUM(Quantity * AT1309.ConversionFactor)
                         WHEN 0
                         THEN SUM(Quantity / AT1309.ConversionFactor)
                     END
                 END AS ActualQuantity, 
                 SUM(ISNULL(OriginalAmount, 0)) AS ActualOriginalAmount,
                 CASE
                     WHEN EXISTS -- Cùng đơn vị tính --> Lấy đvt qui đổi trong AT9000
     (
         SELECT TOP 1 1
         FROM dbo.OT2002
         WHERE OT2002.InventoryID = AT9000.InventoryID
               AND AT9000.OrderID = OT2002.SOrderID
               AND AT9000.ConvertedUnitID = OT2002.UnitID
     )
                     THEN SUM(ConvertedQuantity)
                     WHEN EXISTS -- Đvt chuẩn --> Qui đổi
     (
         SELECT TOP 1 1
         FROM dbo.OT2002
         WHERE OT2002.SOrderID = AT9000.OrderID
               AND OT2002.InventoryID = AT9000.InventoryID
               AND OT2002.UnitID = AT9000.UnitID
               AND OT2002.UnitID != AT9000.ConvertedUnitID
     )
                     THEN SUM(Quantity)
                     ELSE CASE Operator
                              WHEN 1
                              THEN SUM(Quantity * AT1309.ConversionFactor)
                              WHEN 0
                              THEN SUM(Quantity / AT1309.ConversionFactor)
                          END
                 END AS ActualConvertedQuantity, 
                 AT9000.UnitID, 
                 AT9000.ConvertedUnitID
          FROM AT9000 WITH(NOLOCK)
               LEFT JOIN dbo.AT1309 ON AT9000.InventoryID = AT1309.InventoryID
          WHERE TransactionTypeID = 'T04'
                AND ISNULL(AT9000.OrderID, '') <> ''
          GROUP BY AT9000.DivisionID, 
                   AT9000.OrderID, 
                   AT9000.InventoryID, 
                   OTransactionID, 
                   AT9000.UnitID, 
                   AT9000.ConvertedUnitID, 
                   AT1309.Operator) AS G --- (co nghia la Giao  hang)
          ON OT2001.DivisionID = G.DivisionID
             AND OT2002.SOrderID = G.OrderID
             AND OT2002.InventoryID = G.InventoryID
             AND OT2002.TransactionID = G.OTransactionID;
GO
SET QUOTED_IDENTIFIER OFF;
GO
SET ANSI_NULLS ON;