IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OV2800]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[OV2800]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---Created by: Vo Thanh Huong, date: 08/04/2005
---Purpose: Tinh so luong hang giu cho (SO, ES), hang dang ve(PO) 
---Edit: Thuy Tuyen, them truong Tranmonth, Tranyear
---Edit: Hoàng Vũ, on 14/08/2015, them thêm giữ chổ phiếu giao việc (Khách hàng secoin)
---Modified by Bảo Thy on 03/05/2017: Bổ sung 20 quy cách

CREATE VIEW [dbo].[OV2800] as
--Giu cho SO

Select 'SO' as TypeID, T01.DivisionID, T00.SOrderID as OrderID, T00.InventoryID, WareHouseID, ObjectID,EmployeeID,OrderDate,
	sum(isnull(OrderQuantity, 0)) as OrderQuantity, 
	sum(isnull(AdjustQuantity,0)) as AdjustQuantity,
	avg(isnull(ActualQuantity, 0)) as ActualQuantity,
	T00.Finish, T01.Tranmonth, T01.Tranyear,
	ISNULL(O89.S01ID,'') AS S01ID, ISNULL(O89.S02ID,'') AS S02ID, ISNULL(O89.S03ID,'') AS S03ID, ISNULL(O89.S04ID,'') AS S04ID, ISNULL(O89.S05ID,'') AS S05ID, 
	ISNULL(O89.S06ID,'') AS S06ID, ISNULL(O89.S07ID,'') AS S07ID, ISNULL(O89.S08ID,'') AS S08ID, ISNULL(O89.S09ID,'') AS S09ID, ISNULL(O89.S10ID,'') AS S10ID,
	ISNULL(O89.S11ID,'') AS S11ID, ISNULL(O89.S12ID,'') AS S12ID, ISNULL(O89.S13ID,'') AS S13ID, ISNULL(O89.S14ID,'') AS S14ID, ISNULL(O89.S15ID,'') AS S15ID, 
	ISNULL(O89.S16ID,'') AS S16ID, ISNULL(O89.S17ID,'') AS S17ID, ISNULL(O89.S18ID,'') AS S18ID, ISNULL(O89.S19ID,'') AS S19ID, ISNULL(O89.S20ID,'') AS S20ID
From  OT2002 T00 inner join OT2001 T01 on T00.SOrderID = T01.SOrderID 
LEFT JOIN OT8899 O89 ON T00.DivisionID = O89.DivisionID AND T00.TransactionID = O89.TransactionID AND T00.SOrderID = O89.VoucherID
left join 
(--Giao hang SO
	Select T00.OrderID, InventoryID, sum(ActualQuantity) as ActualQuantity,
	ISNULL(W89.S01ID,'') AS S01ID, ISNULL(W89.S02ID,'') AS S02ID, ISNULL(W89.S03ID,'') AS S03ID, ISNULL(W89.S04ID,'') AS S04ID, ISNULL(W89.S05ID,'') AS S05ID, 
	ISNULL(W89.S06ID,'') AS S06ID, ISNULL(W89.S07ID,'') AS S07ID, ISNULL(W89.S08ID,'') AS S08ID, ISNULL(W89.S09ID,'') AS S09ID, ISNULL(W89.S10ID,'') AS S10ID,
	ISNULL(W89.S11ID,'') AS S11ID, ISNULL(W89.S12ID,'') AS S12ID, ISNULL(W89.S13ID,'') AS S13ID, ISNULL(W89.S14ID,'') AS S14ID, ISNULL(W89.S15ID,'') AS S15ID, 
	ISNULL(W89.S16ID,'') AS S16ID, ISNULL(W89.S17ID,'') AS S17ID, ISNULL(W89.S18ID,'') AS S18ID, ISNULL(W89.S19ID,'') AS S19ID, ISNULL(W89.S20ID,'') AS S20ID
	From AT2007 T00 inner join AT2006 T01 on T00.VoucherID = T01.VoucherID
	LEFT JOIN WT8899 W89 on T00.DivisionID = W89.DivisionID AND T00.TransactionID = W89.TransactionID AND T00.VoucherID = W89.VoucherID
	Where KindVoucherID in (2, 4) and isnull(T00.OrderID, '') <> ''
	Group by T00.OrderID, InventoryID, ISNULL(W89.S01ID,''), ISNULL(W89.S02ID,''), ISNULL(W89.S03ID,''), ISNULL(W89.S04ID,''), ISNULL(W89.S05ID,''), 
	ISNULL(W89.S06ID,''), ISNULL(W89.S07ID,''), ISNULL(W89.S08ID,''), ISNULL(W89.S09ID,''), ISNULL(W89.S10ID,''),
	ISNULL(W89.S11ID,''), ISNULL(W89.S12ID,''), ISNULL(W89.S13ID,''), ISNULL(W89.S14ID,''), ISNULL(W89.S15ID,''), 
	ISNULL(W89.S16ID,''), ISNULL(W89.S17ID,''), ISNULL(W89.S18ID,''), ISNULL(W89.S19ID,''), ISNULL(W89.S20ID,'')
) T02 		on T02.InventoryID = T00.InventoryID and T02.OrderID = T00.SOrderID
AND ISNULL(T02.S01ID,'') = isnull(O89.S01ID,'') AND ISNULL(T02.S02ID,'') = isnull(O89.S02ID,'')
AND ISNULL(T02.S03ID,'') = isnull(O89.S03ID,'') AND ISNULL(T02.S04ID,'') = isnull(O89.S04ID,'') 
AND ISNULL(T02.S05ID,'') = isnull(O89.S05ID,'') AND ISNULL(T02.S06ID,'') = isnull(O89.S06ID,'') 
AND ISNULL(T02.S07ID,'') = isnull(O89.S07ID,'') AND ISNULL(T02.S08ID,'') = isnull(O89.S08ID,'') 
AND ISNULL(T02.S09ID,'') = isnull(O89.S09ID,'') AND ISNULL(T02.S10ID,'') = isnull(O89.S10ID,'') 
AND ISNULL(T02.S11ID,'') = isnull(O89.S11ID,'') AND ISNULL(T02.S12ID,'') = isnull(O89.S12ID,'') 
AND ISNULL(T02.S13ID,'') = isnull(O89.S13ID,'') AND ISNULL(T02.S14ID,'') = isnull(O89.S14ID,'') 
AND ISNULL(T02.S15ID,'') = isnull(O89.S15ID,'') AND ISNULL(T02.S16ID,'') = isnull(O89.S16ID,'') 
AND ISNULL(T02.S17ID,'') = isnull(O89.S17ID,'') AND ISNULL(T02.S18ID,'') = isnull(O89.S18ID,'') 
AND ISNULL(T02.S19ID,'') = isnull(O89.S19ID,'') AND ISNULL(T02.S20ID,'') = isnull(O89.S20ID,'')
Where OrderStatus not in (0, 3, 4, 9) and T00.IsPicking = 1  and T01.Disabled = 0
Group by T01.DivisionID,  T00.SOrderID, T00.InventoryID, WareHouseID, T00.Finish, ObjectID,EmployeeID,OrderDate,T01.Tranmonth, T01.Tranyear,
ISNULL(O89.S01ID,''), ISNULL(O89.S02ID,''), ISNULL(O89.S03ID,''), ISNULL(O89.S04ID,''), ISNULL(O89.S05ID,''), 
ISNULL(O89.S06ID,''), ISNULL(O89.S07ID,''), ISNULL(O89.S08ID,''), ISNULL(O89.S09ID,''), ISNULL(O89.S10ID,''),
ISNULL(O89.S11ID,''), ISNULL(O89.S12ID,''), ISNULL(O89.S13ID,''), ISNULL(O89.S14ID,''), ISNULL(O89.S15ID,''), 
ISNULL(O89.S16ID,''), ISNULL(O89.S17ID,''), ISNULL(O89.S18ID,''), ISNULL(O89.S19ID,''), ISNULL(O89.S20ID,'')

Union All

--Giu cho DN như giu cho SO  (Phieu giao viec- Delivery Note)
Select  'DN' as TypeID, z.DivisionID, z.OrderID, z.InventoryID, z.WareHouseID, z.ObjectID, z.EmployeeID, z.VoucherDate
	, sum(z.OrderQuantity) as OrderQuantity  --Giữ chỗ
	, 0 as AdjustQuantity --Điều chỉnh
	, sum(z.ActualQuantity) as ActualQuantity --Thực xuất			
	, z.Finish, z.Tranmonth, z.Tranyear,
	CONVERT(VARCHAR(50),'') AS S01ID, CONVERT(VARCHAR(50),'') AS S02ID, CONVERT(VARCHAR(50),'') AS S03ID, CONVERT(VARCHAR(50),'') AS S04ID, CONVERT(VARCHAR(50),'') AS S05ID, 
	CONVERT(VARCHAR(50),'') AS S06ID, CONVERT(VARCHAR(50),'') AS S07ID, CONVERT(VARCHAR(50),'') AS S08ID, CONVERT(VARCHAR(50),'') AS S09ID, CONVERT(VARCHAR(50),'') AS S10ID,
	CONVERT(VARCHAR(50),'') AS S11ID, CONVERT(VARCHAR(50),'') AS S12ID, CONVERT(VARCHAR(50),'') AS S13ID, CONVERT(VARCHAR(50),'') AS S14ID, CONVERT(VARCHAR(50),'') AS S15ID, 
	CONVERT(VARCHAR(50),'') AS S16ID, CONVERT(VARCHAR(50),'') AS S17ID, CONVERT(VARCHAR(50),'') AS S18ID, CONVERT(VARCHAR(50),'') AS S19ID, CONVERT(VARCHAR(50),'') AS S20ID
			
				From 
				(
						Select D.DivisionID, M.VoucherID as OrderID, D.RInventoryID as InventoryID, D.WareHouseID, M.ObjectID,M.EmployeeID,M.VoucherDate,
							1 as OrderQuantity, 
							0 as AdjustQuantity,
							isnull(A.ActualQuantity, 0) as ActualQuantity,
							0 as Finish, M.Tranmonth, M.Tranyear
						From  MT2007 M inner join MT2008 D on M.VoucherID = D.VoucherID and M.DivisionID = D.DivisionID 
										Left join AT2007 A  on A.InheritVoucherID = D.VoucherID and A.InheritTransactionID = D.TransactionID
										left join AT2006 B on A.VoucherID = B.VoucherID and A.DivisionID = B.DivisionID 
										and KindVoucherID in (2, 4)
						Where D.InventoryID is not null and D.WareHouseID is not null
				) z
Group by z.DivisionID, z.OrderID, z.InventoryID, z.WareHouseID, z.ObjectID, z.EmployeeID, z.VoucherDate, z.Finish, z.Tranmonth, z.Tranyear

Union All

--Hang dang ve PO
Select 'PO' as TypeID, T01.DivisionID, T00.POrderID, T00.InventoryID, WareHouseID, ObjectID,EmployeeID,OrderDate,
	sum(isnull(OrderQuantity, 0)) as OrderQuantity, 
	sum(isnull(AdjustQuantity,0)) as AdjustQuantity,
	avg(isnull(ActualQuantity,0)) as ActualQuantity,
	T00.Finish	,T01.Tranmonth, T01.Tranyear,
	ISNULL(O89.S01ID,'') AS S01ID, ISNULL(O89.S02ID,'') AS S02ID, ISNULL(O89.S03ID,'') AS S03ID, ISNULL(O89.S04ID,'') AS S04ID, ISNULL(O89.S05ID,'') AS S05ID, 
	ISNULL(O89.S06ID,'') AS S06ID, ISNULL(O89.S07ID,'') AS S07ID, ISNULL(O89.S08ID,'') AS S08ID, ISNULL(O89.S09ID,'') AS S09ID, ISNULL(O89.S10ID,'') AS S10ID,
	ISNULL(O89.S11ID,'') AS S11ID, ISNULL(O89.S12ID,'') AS S12ID, ISNULL(O89.S13ID,'') AS S13ID, ISNULL(O89.S14ID,'') AS S14ID, ISNULL(O89.S15ID,'') AS S15ID, 
	ISNULL(O89.S16ID,'') AS S16ID, ISNULL(O89.S17ID,'') AS S17ID, ISNULL(O89.S18ID,'') AS S18ID, ISNULL(O89.S19ID,'') AS S19ID, ISNULL(O89.S20ID,'') AS S20ID
From  OT3002 T00 inner join OT3001 T01 on T00.POrderID = T01.POrderID
LEFT JOIN OT8899 O89 ON T00.DivisionID = O89.DivisionID AND T00.TransactionID = O89.TransactionID AND T00.POrderID = O89.VoucherID
left join 
(--Nhap hang PO
	Select T00.OrderID, InventoryID, sum(ActualQuantity) as ActualQuantity,
	ISNULL(W89.S01ID,'') AS S01ID, ISNULL(W89.S02ID,'') AS S02ID, ISNULL(W89.S03ID,'') AS S03ID, ISNULL(W89.S04ID,'') AS S04ID, ISNULL(W89.S05ID,'') AS S05ID, 
	ISNULL(W89.S06ID,'') AS S06ID, ISNULL(W89.S07ID,'') AS S07ID, ISNULL(W89.S08ID,'') AS S08ID, ISNULL(W89.S09ID,'') AS S09ID, ISNULL(W89.S10ID,'') AS S10ID,
	ISNULL(W89.S11ID,'') AS S11ID, ISNULL(W89.S12ID,'') AS S12ID, ISNULL(W89.S13ID,'') AS S13ID, ISNULL(W89.S14ID,'') AS S14ID, ISNULL(W89.S15ID,'') AS S15ID, 
	ISNULL(W89.S16ID,'') AS S16ID, ISNULL(W89.S17ID,'') AS S17ID, ISNULL(W89.S18ID,'') AS S18ID, ISNULL(W89.S19ID,'') AS S19ID, ISNULL(W89.S20ID,'') AS S20ID
	From AT2007 T00 inner join AT2006 T01 on T00.VoucherID = T01.VoucherID
	LEFT JOIN WT8899 W89 on T00.DivisionID = W89.DivisionID AND T00.TransactionID = W89.TransactionID AND T00.VoucherID = W89.VoucherID
	Where KindVoucherID in (1, 5, 7) and isnull(T00.OrderID, '') <> ''
	Group by T00.OrderID, InventoryID, ISNULL(W89.S01ID,''), ISNULL(W89.S02ID,''), ISNULL(W89.S03ID,''), ISNULL(W89.S04ID,''), ISNULL(W89.S05ID,''), 
	ISNULL(W89.S06ID,''), ISNULL(W89.S07ID,''), ISNULL(W89.S08ID,''), ISNULL(W89.S09ID,''), ISNULL(W89.S10ID,''),
	ISNULL(W89.S11ID,''), ISNULL(W89.S12ID,''), ISNULL(W89.S13ID,''), ISNULL(W89.S14ID,''), ISNULL(W89.S15ID,''), 
	ISNULL(W89.S16ID,''), ISNULL(W89.S17ID,''), ISNULL(W89.S18ID,''), ISNULL(W89.S19ID,''), ISNULL(W89.S20ID,'')
) T03 on T03.OrderID = T00.POrderID and T03.InventoryID = T00.InventoryID
AND ISNULL(T03.S01ID,'') = isnull(O89.S01ID,'') AND ISNULL(T03.S02ID,'') = isnull(O89.S02ID,'')
AND ISNULL(T03.S03ID,'') = isnull(O89.S03ID,'') AND ISNULL(T03.S04ID,'') = isnull(O89.S04ID,'') 
AND ISNULL(T03.S05ID,'') = isnull(O89.S05ID,'') AND ISNULL(T03.S06ID,'') = isnull(O89.S06ID,'') 
AND ISNULL(T03.S07ID,'') = isnull(O89.S07ID,'') AND ISNULL(T03.S08ID,'') = isnull(O89.S08ID,'') 
AND ISNULL(T03.S09ID,'') = isnull(O89.S09ID,'') AND ISNULL(T03.S10ID,'') = isnull(O89.S10ID,'') 
AND ISNULL(T03.S11ID,'') = isnull(O89.S11ID,'') AND ISNULL(T03.S12ID,'') = isnull(O89.S12ID,'') 
AND ISNULL(T03.S13ID,'') = isnull(O89.S13ID,'') AND ISNULL(T03.S14ID,'') = isnull(O89.S14ID,'') 
AND ISNULL(T03.S15ID,'') = isnull(O89.S15ID,'') AND ISNULL(T03.S16ID,'') = isnull(O89.S16ID,'') 
AND ISNULL(T03.S17ID,'') = isnull(O89.S17ID,'') AND ISNULL(T03.S18ID,'') = isnull(O89.S18ID,'') 
AND ISNULL(T03.S19ID,'') = isnull(O89.S19ID,'') AND ISNULL(T03.S20ID,'') = isnull(O89.S20ID,'')
Where OrderStatus not in (0, 3,4, 9) and T00.IsPicking = 1  and T01.Disabled = 0
Group by T01.DivisionID, T00.POrderID, T00.InventoryID, WareHouseID, T00.Finish	,ObjectID,EmployeeID,OrderDate,T01.Tranmonth, T01.Tranyear,
ISNULL(O89.S01ID,''), ISNULL(O89.S02ID,''), ISNULL(O89.S03ID,''), ISNULL(O89.S04ID,''), ISNULL(O89.S05ID,''), 
ISNULL(O89.S06ID,''), ISNULL(O89.S07ID,''), ISNULL(O89.S08ID,''), ISNULL(O89.S09ID,''), ISNULL(O89.S10ID,''),
ISNULL(O89.S11ID,''), ISNULL(O89.S12ID,''), ISNULL(O89.S13ID,''), ISNULL(O89.S14ID,''), ISNULL(O89.S15ID,''), 
ISNULL(O89.S16ID,''), ISNULL(O89.S17ID,''), ISNULL(O89.S18ID,''), ISNULL(O89.S19ID,''), ISNULL(O89.S20ID,'')

Union All

--Giu cho du tru ES
Select 'ES' as TypeID, T01.DivisionID,  T00.EstimateID as OrderID, MaterialID as InventoryID, T01.WareHouseID, '' as  ObjectID,EmployeeID, null as OrderDate,
	sum(isnull(MaterialQuantity, 0)) as OrderQuantity, 
	0 as AdjustQuantity, avg(isnull(ActualQuantity,0)) as ActualQuantity,
	0 as Finish, T01.Tranmonth, T01.Tranyear,
	CONVERT(VARCHAR(50),'') AS S01ID, CONVERT(VARCHAR(50),'') AS S02ID, CONVERT(VARCHAR(50),'') AS S03ID, CONVERT(VARCHAR(50),'') AS S04ID, CONVERT(VARCHAR(50),'') AS S05ID, 
	CONVERT(VARCHAR(50),'') AS S06ID, CONVERT(VARCHAR(50),'') AS S07ID, CONVERT(VARCHAR(50),'') AS S08ID, CONVERT(VARCHAR(50),'') AS S09ID, CONVERT(VARCHAR(50),'') AS S10ID,
	CONVERT(VARCHAR(50),'') AS S11ID, CONVERT(VARCHAR(50),'') AS S12ID, CONVERT(VARCHAR(50),'') AS S13ID, CONVERT(VARCHAR(50),'') AS S14ID, CONVERT(VARCHAR(50),'') AS S15ID, 
	CONVERT(VARCHAR(50),'') AS S16ID, CONVERT(VARCHAR(50),'') AS S17ID, CONVERT(VARCHAR(50),'') AS S18ID, CONVERT(VARCHAR(50),'') AS S19ID, CONVERT(VARCHAR(50),'') AS S20ID
From  OT2203 T00 inner join OT2201 T01 on T00.EstimateID = T01.EstimateID
	left join (--Xuat hang ES
	Select T00.OrderID, InventoryID, sum(ActualQuantity) as ActualQuantity
	From AT2007 T00 inner join AT2006 T01 on T00.VoucherID = T01.VoucherID
	Where KindVoucherID in (2, 4) and isnull(T00.OrderID, '') <> ''
	Group by T00.DivisionID, T00.OrderID, InventoryID
	) T03 on T03.OrderID = T00.EstimateID and T03.InventoryID = T00.MaterialID 
Where OrderStatus not in (0, 2, 9) and T00.IsPicking = 1 -- and T01.Disabled = 0
Group by T01.DivisionID, T00.EstimateID, MaterialID, T01.WareHouseID,EmployeeID,T01.Tranmonth, T01.Tranyear

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
