IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP0061]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[OP0061]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



-- <Summary>
---- Kiểm tra sửa /xóa lệnh điều động của BOURBON
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 29/09/2014 by Le Thi Thu Hien
---- Modified by Tiểu Mai on 03/10/2017: Bổ sung kiểm tra theo @Mode Sửa/Xóa cho Bourbon khi có kế thừa qua HRM
-- <Example>
/*
exec OP0061 @DivisionID=N'BBL',@UserID=N'ASOFTADMIN',@TranMonth=9,@TranYear=2017,@VoucherID=N'LD/04/17/0323',@Mode=0
exec OP0061 @DivisionID=N'BBL',@UserID=N'ASOFTADMIN',@TranMonth=9,@TranYear=2017,@VoucherID=N'LD/09/17/0082',@Mode=0
exec OP0061 @DivisionID=N'BBL',@UserID=N'ASOFTADMIN',@TranMonth=9,@TranYear=2017,@VoucherID=N'LD/09/17/0082',@Mode=1
*/

CREATE PROCEDURE OP0061
( 
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@TranMonth AS TINYINT,
	@TranYear AS INT,
	@VoucherID AS NVARCHAR(50),
	@Mode TINYINT	----0: Sửa
					----1: Xóa
) 
AS 
DECLARE @Status AS tinyint,  --- 1: Khong cho xoa, sua:    2--- co canh bao nhung  cho xoa cho sua; --3: Cho sua mot phan thoi
		@EngMessage as NVARCHAR(2000), 
		@VieMessage as NVARCHAR(2000)

SELECT 	@Status = 0, 
		@EngMessage = '',
		@VieMessage = ''

IF @Mode = 0
BEGIN
	IF EXISTS ( SELECT TOP 1 1 FROM OT3001 WITH (NOLOCK) 
				INNER JOIN OT3002 WITH (NOLOCK)  ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID
				INNER JOIN (SELECT OT3002.Notes01, Notes04, InventoryID, OT3002.Ana03ID, OT3002.Ana04ID
							FROM OT3001 WITH (NOLOCK) 
							LEFT JOIN OT3002 WITH (NOLOCK)  ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID 
							WHERE KindVoucherID = 2 
							AND TransactionID IN (SELECT HT0410.InheritPTransactionID FROM HT0410 WITH (NOLOCK))
							) A ON ISNULL(OT3001.POrderID,'') = A.Notes01 AND 
									ISNULL(OT3002.InventoryID,'')	= ISNULL(A.Notes04,'') AND 
									ISNULL(OT3002.Notes04,'')		= ISNULL(A.InventoryID,'') AND
									ISNULL(OT3002.Ana03ID,'')		= ISNULL(A.Ana03ID,'') AND 
									ISNULL(OT3002.Ana04ID,'')		= ISNULL(A.Ana04ID,'')
				WHERE OT3001.POrderID = @VoucherID AND OT3001.DivisionID = @DivisionID
		)
	AND EXISTS ( SELECT TOP 1 1 FROM OT3001 WITH (NOLOCK)  
				LEFT JOIN OT3002 WITH (NOLOCK)  ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID
				INNER JOIN (SELECT OT3002.* FROM OT3001 WITH (NOLOCK) 
							LEFT JOIN OT3002 WITH (NOLOCK)  ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID 
							WHERE KindVoucherID = 2 AND OT3002.TransactionID NOT IN (SELECT HT0410.InheritPTransactionID FROM HT0410 WITH (NOLOCK))
								) A ON ISNULL(OT3001.POrderID,'') = A.Notes01 AND 
									ISNULL(OT3002.InventoryID,'')	= ISNULL(A.Notes04,'') AND 
									ISNULL(OT3002.Notes04,'')		= ISNULL(A.InventoryID,'') AND
									ISNULL(OT3002.Ana03ID,'')		= ISNULL(A.Ana03ID,'') AND 
									ISNULL(OT3002.Ana04ID,'')		= ISNULL(A.Ana04ID,'')
				WHERE OT3001.POrderID = @VoucherID AND OT3001.DivisionID = @DivisionID AND 
				OT3001.POrderID IN (SELECT DISTINCT OT3001.POrderID FROM OT3001 WITH (NOLOCK)  
									LEFT JOIN OT3002 WITH (NOLOCK)  ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID
									INNER JOIN (SELECT OT3002.* FROM OT3001 WITH (NOLOCK) 
												LEFT JOIN OT3002 WITH (NOLOCK)  ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID 
												WHERE KindVoucherID = 2 
												AND TransactionID IN (SELECT HT0410.InheritPTransactionID FROM HT0410 WITH (NOLOCK))
									) A ON ISNULL(OT3001.POrderID,'') = A.Notes01 AND 
											ISNULL(OT3002.InventoryID,'')	= ISNULL(A.Notes04,'') AND 
											ISNULL(OT3002.Notes04,'')		= ISNULL(A.InventoryID,'') AND
											ISNULL(OT3002.Ana03ID,'')		= ISNULL(A.Ana03ID,'') AND 
											ISNULL(OT3002.Ana04ID,'')		= ISNULL(A.Ana04ID,'')
				)
		)	
	BEGIN
		SET @Status = 3
		SET @VieMessage ='OFML000276'
		SET @EngMessage ='OFML000276'
		Goto EndMess
	END

	IF EXISTS (SELECT TOP 1 1 FROM OT3001 WITH (NOLOCK)  
					LEFT JOIN OT3002 WITH (NOLOCK)  ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID
					INNER JOIN (SELECT OT3002.* FROM OT3001 WITH (NOLOCK) 
								LEFT JOIN OT3002 WITH (NOLOCK)  ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID 
								WHERE KindVoucherID = 2 AND OT3002.TransactionID IN (SELECT HT0410.InheritPTransactionID FROM HT0410 WITH (NOLOCK))
									) A ON ISNULL(OT3001.POrderID,'') = A.Notes01 AND 
										ISNULL(OT3002.InventoryID,'')	= ISNULL(A.Notes04,'') AND 
										ISNULL(OT3002.Notes04,'')		= ISNULL(A.InventoryID,'') AND
										ISNULL(OT3002.Ana03ID,'')		= ISNULL(A.Ana03ID,'') AND 
										ISNULL(OT3002.Ana04ID,'')		= ISNULL(A.Ana04ID,'')
					WHERE OT3001.POrderID = @VoucherID AND OT3001.DivisionID = @DivisionID)
	BEGIN
		SET @Status = 1
		SET @VieMessage ='OFML000267'
		SET @EngMessage ='OFML000267'
		Goto EndMess
	END
END
ELSE 
BEGIN 
	If exists (Select top 1 1 From OT3002 WITH (NOLOCK)
					INNER JOIN OT3001 WITH (NOLOCK) ON OT3002.DivisionID = OT3001.DivisionID AND OT3002.POrderID = OT3001.POrderID 
		           Where OT3002.DivisionID = @DivisionID
		           AND OT3002.Notes01 = @VoucherID
		           AND OT3001.KindVoucherID = 2)
	Begin
			Set @Status = 1
			Set @VieMessage ='OFML000221'
			Set @EngMessage ='This order is used. You can not delete one. You must check!'
			Goto EndMess
	END		
END 

EndMess:
SELECT @Status AS Status, @EngMessage AS EngMessage, @VieMessage as VieMessage



GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
