IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP0065_BBL]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[OP0065_BBL]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


-- <Summary>
---- Load master màn hình nghiep vu Xac nhan hoan thanh cua khach hang BOURBON
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 09/08/2023 by Thành Sang
---- Modified by Thành Sang on 09/08/2023: Bổ sung cột IsExistsPONotInherit để check đơn hàng mua kế thừa hết chưa
-- <Example>
---- 
CREATE PROCEDURE OP0065_BBL
( 
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@TranMonth AS TINYINT,
	@TranYear AS INT,
	@VoucherID AS NVARCHAR(50),
	@SOrderID AS NVARCHAR(50)
) 
AS 
DECLARE @IsExistsPONotInherit INT = -1  -- Nếu tồn tại đơn hàng mua chưa được kế thừa >
										-- @IsExistsPONotInherit = 1: Vẫn cho phép chỉnh sửa. 
										-- @IsExistsPONotInherit = 0: Show cảnh báo

---------------- Lấy dữ liệu kế thừa ----------------
CREATE TABLE #CheckDataInherit (
    InventoryID NVARCHAR(50),
    Notes01 NVARCHAR(250),
    Ana04ID NVARCHAR(50),
    Ana07ID NVARCHAR(50),
    Ana08ID NVARCHAR(50),
    Ana10ID NVARCHAR(50),
    IsSaleOrder INT --  = 1 > đơn hàng bán
);
INSERT INTO #CheckDataInherit (InventoryID, Notes01, Ana04ID, Ana07ID, Ana08ID, Ana10ID, IsSaleOrder)(
SELECT	OT2002.InventoryID, OT3001.VoucherNo AS Notes01,
		OT3002.Ana04ID, OT3002.Ana07ID, OT3002.Ana08ID, OT3002.Ana10ID,
		0 as IsSaleOrder 
FROM OT3002 OT3002 WITH (NOLOCK)
INNER JOIN OT3001 OT3001 WITH (NOLOCK) ON OT3001.DivisionID = OT3002.DivisionID AND OT3001.POrderID = OT3002.POrderID 
INNER JOIN OT2002 OT2002 WITH (NOLOCK) ON OT2002.DivisionID = OT3002.DivisionID AND OT2002.InventoryID = OT3002.Notes04 AND OT2002.Ana04ID = OT3002.Ana04ID
INNER JOIN OT2001 OT2001 WITH (NOLOCK) ON OT2001.DivisionID = OT2002.DivisionID AND OT2001.SOrderID = OT2002.SOrderID
LEFT JOIN AT1011 Ana04 WITH (NOLOCK) ON OT3002.Ana04ID = Ana04.AnaID AND Ana04.AnaTypeID = 'A04'
LEFT JOIN AT1011 Ana07 WITH (NOLOCK) ON OT3002.Ana07ID = Ana07.AnaID AND Ana07.AnaTypeID = 'A07'
LEFT JOIN AT1011 Ana08 WITH (NOLOCK) ON OT3002.Ana08ID = Ana08.AnaID AND Ana08.AnaTypeID = 'A08'
LEFT JOIN AT1011 Ana10 WITH (NOLOCK) ON OT3002.Ana10ID = Ana10.AnaID AND Ana10.AnaTypeID = 'A10'
LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN ('' +@DivisionID+ '', '@@@') AND AT1202.ObjectID = OT3001.ObjectID
WHERE OT3002.DivisionID = '' + @DivisionID + ''
AND OT3001.KindVoucherID = 1
AND	OT2001.SOrderID = '' + @SOrderID + ''
AND OT3001.OrderStatus < 3

UNION
SELECT	
		OT3002.Notes04 as InventoryID, OT3001.VoucherNo AS Notes01,
		OT3002.Ana04ID, OT3002.Ana07ID, OT3002.Ana08ID, OT3002.Ana10ID,
	    0 as IsSaleOrder 
FROM OT3002 OT3002 WITH (NOLOCK)
INNER JOIN OT3001 OT3001 WITH (NOLOCK) ON OT3001.DivisionID = OT3002.DivisionID AND OT3001.POrderID = OT3002.POrderID 
LEFT JOIN AT1011 Ana04 WITH (NOLOCK) ON OT3002.Ana04ID = Ana04.AnaID AND Ana04.AnaTypeID = 'A04'
LEFT JOIN AT1011 Ana07 WITH (NOLOCK) ON OT3002.Ana07ID = Ana07.AnaID AND Ana07.AnaTypeID = 'A07'
LEFT JOIN AT1011 Ana08 WITH (NOLOCK) ON OT3002.Ana08ID = Ana08.AnaID AND Ana08.AnaTypeID = 'A08'
LEFT JOIN AT1011 Ana10 WITH (NOLOCK) ON OT3002.Ana10ID = Ana10.AnaID AND Ana10.AnaTypeID = 'A10'
WHERE OT3002.DivisionID =  '' + @DivisionID + ''
AND OT3001.KindVoucherID = 1
AND OT3002.Notes03 =  '' + @SOrderID + ''
AND OT3001.OrderStatus < 3
AND ISNULL(OT3002.Notes03, '') + ISNULL(OT3002.Notes04, '') + ISNULL(Ot3002.Ana04ID, '') NOT IN (
	SELECT
		ISNULL(OT2001.SOrderID, '') + ISNULL(OT2002.InventoryID, '') + ISNULL(OT2002.Ana04ID, '')
		FROM OT2002 OT2002 WITH (NOLOCK)
		INNER JOIN OT2001 OT2001 WITH (NOLOCK) ON OT2001.DivisionID = OT2002.DivisionID AND OT2001.SOrderID = OT2002.SOrderID 
		WHERE OT2001.SOrderID = '' + @SOrderID + ''
		AND OT2001.DivisionID = '' + @DivisionID + ''
)

UNION
----------- Lay dong dịch vu ma khong co trong LDD
SELECT 	OT2002.InventoryID, '' as Notes01,
		OT2002.Ana04ID, OT2002.Ana07ID, OT2002.Ana08ID, OT2002.Ana10ID,
		1 as IsSaleOrder 
FROM OT2002 OT2002 WITH (NOLOCK)
INNER JOIN AT1302 AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN ('@@@', OT2002.DivisionID) AND AT1302.InventoryID = OT2002.InventoryID 
INNER JOIN OT2001 OT2001 WITH (NOLOCK) ON OT2001.DivisionID = OT2002.DivisionID AND OT2001.SOrderID = OT2002.SOrderID
LEFT JOIN AT1011 Ana04 WITH (NOLOCK) ON OT2002.Ana04ID = Ana04.AnaID AND Ana04.AnaTypeID = 'A04'
LEFT JOIN AT1011 Ana07 WITH (NOLOCK) ON OT2002.Ana07ID = Ana07.AnaID AND Ana07.AnaTypeID = 'A07'
LEFT JOIN AT1011 Ana08 WITH (NOLOCK) ON OT2002.Ana08ID = Ana08.AnaID AND Ana08.AnaTypeID = 'A08'
LEFT JOIN AT1011 Ana10 WITH (NOLOCK) ON OT2002.Ana10ID = Ana10.AnaID AND Ana10.AnaTypeID = 'A10'
WHERE OT2002.DivisionID =  '' + @DivisionID + ''
AND	OT2002.SOrderID =  '' + @SOrderID + '')

-- insert data tới #_TempIsExistsPONotInherit
SELECT IsSaleOrder
INTO #_TempIsExistsPONotInherit 
FROM #CheckDataInherit WITH (NOLOCK)
WHERE 
CONCAT(InventoryID, '|', Notes01, '|', Ana04ID, '|', Ana07ID, '|', Ana08ID, '|', Ana10ID, '|', IsSaleOrder) NOT IN (
SELECT CONCAT(_DataInherited.InventoryID, '|', _DataInherited.Notes01, '|', _DataInherited.Ana04ID, '|', _DataInherited.Ana07ID, '|', _DataInherited.Ana08ID, '|', _DataInherited.Ana10ID,
'|', _DataInherited.IsSaleOrder) as strB
FROM OT3002 WITH (NOLOCK)															   										
LEFT JOIN AT1011 Ana04 WITH (NOLOCK) ON Ana04.DivisionID IN ('@@@', OT3002.DivisionID) AND OT3002.Ana04ID = Ana04.AnaID AND Ana04.AnaTypeID = 'A04'
LEFT JOIN AT1011 Ana07 WITH (NOLOCK) ON Ana07.DivisionID IN ('@@@', OT3002.DivisionID) AND OT3002.Ana07ID = Ana07.AnaID AND Ana07.AnaTypeID = 'A07'
LEFT JOIN AT1011 Ana08 WITH (NOLOCK) ON Ana08.DivisionID IN ('@@@', OT3002.DivisionID) AND OT3002.Ana08ID = Ana08.AnaID AND Ana08.AnaTypeID = 'A08'
LEFT JOIN AT1011 Ana10 WITH (NOLOCK) ON Ana10.DivisionID IN ('@@@', OT3002.DivisionID) AND OT3002.Ana10ID = Ana10.AnaID AND Ana10.AnaTypeID = 'A10'
INNER JOIN OT3001 WITH (NOLOCK) ON OT3001.POrderID = OT3002.POrderID AND OT3001.DivisionID = OT3002.DivisionID
LEFT JOIN #CheckDataInherit _DataInherited WITH (NOLOCK) ON _DataInherited.InventoryID = OT3002.InventoryID
		   AND ISNULL(_DataInherited.Notes01,'') = ISNULL(OT3002.Notes01,'')
		   AND ISNULL(_DataInherited.Ana04ID,'') = ISNULL(OT3002.Ana04ID,'') AND ISNULL(_DataInherited.Ana07ID,'') = ISNULL(OT3002.Ana07ID,'')
		   AND ISNULL(_DataInherited.Ana08ID,'') = ISNULL(OT3002.Ana08ID,'') AND ISNULL(_DataInherited.Ana10ID,'') = ISNULL(OT3002.Ana10ID,'')
WHERE OT3002.DivisionID = @DivisionID
AND OT3002.POrderID = @VoucherID ) 
AND #CheckDataInherit.IsSaleOrder = 0 -- chỉ lấy đơn hàng mua

SET @IsExistsPONotInherit = ISNULL((SELECT TOP 1 1 IsSaleOrder FROM #_TempIsExistsPONotInherit), 0)
---------------- * ----------------

SELECT	OT3001.POrderID, OT3001.DivisionID, OT3001.VoucherTypeID, OT3001.VoucherNo,
		OT3001.InventoryTypeID, OT3001.CurrencyID, OT3001.ExchangeRate,
		OT3001.OrderType, OT3001.ObjectID, OT3001.ObjectName, 
		OT3001.ReceivedAddress, OT3001.Notes,
		OT3001.[Description], OT3001.[Disabled], OT3001.OrderStatus, OV1001.Description AS OrderStatusName,
		OT3001.Ana01ID,	OT3001.Ana02ID, OT3001.Ana03ID, OT3001.Ana04ID, OT3001.Ana05ID,
		OT1002_1.AnaName AS Ana01Name, OT1002_2.AnaName AS Ana02Name, 
		OT1002_3.AnaName AS Ana03Name, OT1002_4.AnaName AS Ana04Name, OT1002_5.AnaName AS Ana05Name, 
		OT3001.TranMonth, OT3001.TranYear, OT3001.EmployeeID, OT3001.OrderDate,
		OT3001.Transport, OT3001.PaymentID, OT3001.VATNo,
		OT3001.[Address], OT3001.ShipDate, OT3001.ContractNo, OT3001.ContractDate,
		OT3001.CreateUserID, OT3001.Createdate, OT3001.LastModifyUserID,
		OT3001.LastModifyDate, OT3001.DueDate, OT3001.RequestID, OT3001.Varchar01,
		OT3001.Varchar02, OT3001.Varchar03, OT3001.Varchar04, OT3001.Varchar05,
		OT3001.Varchar06, OT3001.Varchar07, OT3001.Varchar08, OT3001.Varchar09,
		OT3001.Varchar10, OT3001.Varchar11, OT3001.Varchar12, OT3001.Varchar13,
		OT3001.Varchar14, OT3001.Varchar15, OT3001.Varchar16, OT3001.Varchar17,
		OT3001.Varchar18, OT3001.Varchar19, OT3001.Varchar20, OT3001.PaymentTermID,
		OT3001.IsConfirm, OT3001.DescriptionConfirm, OT3001.DeliveryDate,
		OT3001.SOrderID, OT3001.Ana06ID, OT3001.Ana07ID, OT3001.Ana08ID,
		OT3001.Ana09ID, OT3001.Ana10ID, OT3001.PriceListID, OT3001.IsPrinted,OT3001.ClassifyID,
		OT3001.KindVoucherID, AT1202.IsUpdateName, @IsExistsPONotInherit AS IsExistsPONotInherit
FROM OT3001 OT3001
LEFT JOIN OT1002 OT1002_1 ON OT1002_1.AnaID = OT3001.Ana01ID AND OT1002_1.AnaTypeID = 'P01' AND OT1002_1.DivisionID = OT3001.DivisionID
LEFT JOIN OT1002 OT1002_2 ON OT1002_2.AnaID = OT3001.Ana02ID AND OT1002_2.AnaTypeID = 'P02' AND OT1002_2.DivisionID = OT3001.DivisionID
LEFT JOIN OT1002 OT1002_3 ON OT1002_3.AnaID = OT3001.Ana03ID AND OT1002_3.AnaTypeID = 'P03' AND OT1002_3.DivisionID = OT3001.DivisionID
LEFT JOIN OT1002 OT1002_4 ON OT1002_4.AnaID = OT3001.Ana04ID AND OT1002_4.AnaTypeID = 'P04' AND OT1002_4.DivisionID = OT3001.DivisionID
LEFT JOIN OT1002 OT1002_5 ON OT1002_5.AnaID = OT3001.Ana05ID AND OT1002_5.AnaTypeID = 'P05' AND OT1002_5.DivisionID = OT3001.DivisionID
LEFT JOIN OV1001 ON OV1001.OrderStatus = OT3001.OrderStatus AND OV1001.TypeID= 'PO' AND OV1001.DivisionID = OT3001.DivisionID
LEFT JOIN AT1202 ON AT1202.DivisionID IN (@DivisionID, '@@@') AND AT1202.ObjectID = OT3001.ObjectID
WHERE OT3001.DivisionID = @DivisionID
AND OT3001.POrderID = @VoucherID
AND ISNULL(OT3001.KindVoucherID,0) = 2
--AND OT3001.TranYear*100+OT3001.TranMonth = @TranYear*100+@TranMonth

-- Xóa bảng tạm
DROP TABLE #CheckDataInherit;

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

