IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP0075]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[OP0075]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--<Summary>
--- Load grid chi tiết phiếu điều chỉnh đơn hàng bán (không sinh view) + 20 mã phân tích quy cách hàng
--<Param>
----
--<Return>
----
--<Reference>
----
--<History>
---- Created by: Thanh Sơn on: 17/06/2015
---- Modified by Tiểu Mai on 06/06/2016: Bổ sung WITH (NOLOCK)
---- Modify on 26/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
--<Example>
/*
	OP0075 'HD', '', 'HDVNS-H1506021'
*/
CREATE PROCEDURE OP0075
(
	@DivisionID VARCHAR(50),
	@UserID VARCHAR(50),
	@VoucherID VARCHAR(50),
	@APKMaster VARCHAR(50) = '',
	@Type VARCHAR(50) = '',
	@Mode INT = 0, ---- 0 Edit, 1 view
	@PageNumber INT = 1,
	@PageSize INT = 25,
	@LanguageID VARCHAR(50) =''
)
AS
DECLARE @sSQL NVARCHAR (MAX)='',
		@sSQL2 NVARCHAR (MAX)='',
		@sSQL3 NVARCHAR (MAX)='',
        @sSQLPage NVARCHAR (MAX)='',
		@sSQLPage2 NVARCHAR (MAX)='',
		@TotalRow VARCHAR(50),
		@sWhere NVARCHAR(MAX) ='',
		@Level INT = 0,
		@sSQLSL NVARCHAR (MAX) = '',
		@sSQLJon NVARCHAR (MAX) = '',
		@i INT = 1, @s VARCHAR(2)

IF @Mode = 1
BEGIN
    SET @TotalRow = ''
	IF  @PageNumber = 1 SET @TotalRow = 'COUNT(*) OVER ()' ELSE SET @TotalRow = 'NULL'
	SET @sSQLPage = 'ROW_NUMBER() OVER (ORDER BY O07.Orders) AS RowNum, '+@TotalRow+' AS TotalRow,'

	SET @sSQLPage2 = @sSQLPage2+'
	OFFSET '+STR((@PageNumber-1) * @PageSize)+' ROWS
	FETCH NEXT '+STR(@PageSize)+' ROWS ONLY '
END

IF ISNULL(@Type, '') = 'DHDC' 
BEGIN
SET @Swhere = @Swhere + ' AND CONVERT(VARCHAR(50),O07.APKMaster_9000)= '''+@APKMaster+''''
SELECT @Level = MAX(Level) FROM OOT9001 WITH (NOLOCK) WHERE CONVERT(VARCHAR(50),APKMaster) = @APKMaster
END
ELSE 
BEGIN
SET @Swhere = @Swhere + ' AND O07.VoucherID = '''+@VoucherID+''''
SELECT @Level = MAX(Level) FROM OOT9001 WITH (NOLOCK) LEFT JOIN OT2006 ON CONVERT(VARCHAR(50),OOT9001.APKMaster) = OT2006.APKMaster_9000  WHERE CONVERT(VARCHAR(50), OT2006.VoucherID) = @VoucherID
END

	WHILE @i <= @Level
	BEGIN
		IF @i < 10 SET @s = '0' + CONVERT(VARCHAR, @i)
		ELSE SET @s = CONVERT(VARCHAR, @i)
		SET @sSQLSL=@sSQLSL+' , APK9001'+@s+',Case WHEN O07.Status =1 AND Status'+@s+' IS NULL then O07.Status else Status'+@s+' end as Status'+@s+', Approvel'+@s+'Note,Case WHEN O07.Status =1 AND ApprovalDate'+@s+' IS NULL then OOT90.LastModifyDate  else ApprovalDate'+@s+' end as ApprovalDate'+@s+''
		SET @sSQLJon =@sSQLJon+ '
						LEFT JOIN (SELECT OOT1.APK APK9001'+@s+', OOT1.APKMaster,OOT1.DivisionID, T94.APKDetail APK2001,
						T94.Status Status'+@s+',
						O99.Description StatusName'+@s+',
						T94.Note Approvel'+@s+'Note,
						T94.ApprovalDate ApprovalDate'+@s+'
						FROM OOT9001 OOT1 WITH (NOLOCK)
						LEFT JOIN OOT9004 T94 WITH (NOLOCK) ON OOT1.APK = T94.APK9001 AND T94.DeleteFlag = 0
						LEFT JOIN OOT0099 O99 WITH (NOLOCK) ON O99.ID1=ISNULL(T94.Status,0) AND O99.CodeMaster=''Status''
						WHERE OOT1.Level='+STR(@i)+'
						)APP'+@s+' ON APP'+@s+'.DivisionID= OOT90.DivisionID  AND APP'+@s+'.APKMaster=OOT90.APK 
						AND CASE WHEN ISNULL(CONVERT(Varchar (50),APP'+@s+'.APK2001),'''') <> '''' THEN APP'+@s+'.APK2001 ELSE O07.APK END = O07.APK '
		SET @i = @i + 1		
	END	

SET @sSQL = @sSQL + 'IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = '''+@DivisionID+''' AND IsSpecificate = 1)
	SELECT '+@sSQLPage+' O07.APK, O07.DivisionID, O07.TransactionID, O07.VoucherID, O07.InventoryID, O07.UnitID, O07.AdjustQuantity, 
		O07.AdjustPrice, O07.OriginalAmount, O07.ConvertedAmount, O07.IsPicking, O07.WareHouseID, 
		O07.TDescription, O07.RefOrderID, O07.RefTransactionID, O07.Ana01ID, O07.Ana02ID, O07.Ana03ID, 
		O07.Ana04ID, O07.Ana05ID, O07.Ana06ID, O07.Ana07ID, O07.Ana08ID, O07.Ana09ID, O07.Ana10ID, O07.Orders,
		(CASE WHEN ISNULL(O07.InventoryCommonName, '''') = '''' THEN A02.InventoryName ELSE O07.InventoryCommonName END) InventoryName, 
		O07.InventoryCommonName, (CASE WHEN ISNULL(O07.InventoryCommonName, '''') = '''' THEN 0 ELSE 1 END) IsUpdate,
		A04.UnitName, O02.OrderQuantity, O02.SalePrice, O07.DataType, A00002.Name as DataTypeName,
		O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
		O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID,
		AT01.StandardName S01Name, AT02.StandardName S02Name, AT03.StandardName S03Name, AT04.StandardName S04Name, AT05.StandardName S05Name,
		AT06.StandardName S06Name, AT07.StandardName S07Name, AT08.StandardName S08Name, AT09.StandardName S09Name, AT10.StandardName S10Name,
		AT11.StandardName S11Name, AT12.StandardName S12Name, AT13.StandardName S13Name, AT14.StandardName S14Name, AT15.StandardName S15Name,
		AT16.StandardName S16Name, AT17.StandardName S17Name, AT18.StandardName S18Name, AT19.StandardName S19Name, AT20.StandardName S20Name
		'+@sSQLSL+'
		FROM OT2007 O07 WITH (NOLOCK)
		LEFT JOIN OOT9000 OOT90 WITH (NOLOCK) ON O07.APKMaster_9000 = OOT90.APK
		LEFT JOIN AT1304 A04 WITH (NOLOCK) ON A04.UnitID = O07.UnitID
		LEFT JOIN AT1302 A02 WITH (NOLOCK) ON A02.DivisionID IN (''@@@'', O07.DivisionID) AND A02.InventoryID = O07.InventoryID
		LEFT JOIN OT2002 O02 WITH (NOLOCK) ON O02.DivisionID = O07.DivisionID and O02.SOrderID = O07.RefOrderID and O02.TransactionID = O07.RefTransactionID
		LEFT JOIN OT8899 O99 WITH (NOLOCK) ON O99.DivisionID = O07.DivisionID AND O99.VoucherID = O07.RefOrderID and O99.TransactionID = O07.RefTransactionID'
		
SET @sSQL2 = @sSQL2+'
		LEFT JOIN AT0128 AT01 WITH (NOLOCK) ON AT01.StandardID = O99.S01ID AND AT01.StandardTypeID = ''S01''
		LEFT JOIN AT0128 AT02 WITH (NOLOCK) ON AT02.StandardID = O99.S02ID AND AT02.StandardTypeID = ''S02''
		LEFT JOIN AT0128 AT03 WITH (NOLOCK) ON AT03.StandardID = O99.S03ID AND AT03.StandardTypeID = ''S03''
		LEFT JOIN AT0128 AT04 WITH (NOLOCK) ON AT04.StandardID = O99.S04ID AND AT04.StandardTypeID = ''S04''
		LEFT JOIN AT0128 AT05 WITH (NOLOCK) ON AT05.StandardID = O99.S05ID AND AT05.StandardTypeID = ''S05''
		LEFT JOIN AT0128 AT06 WITH (NOLOCK) ON AT06.StandardID = O99.S06ID AND AT06.StandardTypeID = ''S06'' 
		LEFT JOIN AT0128 AT07 WITH (NOLOCK) ON AT07.StandardID = O99.S07ID AND AT07.StandardTypeID = ''S07''
		LEFT JOIN AT0128 AT08 WITH (NOLOCK) ON AT08.StandardID = O99.S08ID AND AT08.StandardTypeID = ''S08''
		LEFT JOIN AT0128 AT09 WITH (NOLOCK) ON AT09.StandardID = O99.S09ID AND AT09.StandardTypeID = ''S09''
		LEFT JOIN AT0128 AT10 WITH (NOLOCK) ON AT10.StandardID = O99.S10ID AND AT10.StandardTypeID = ''S10''
		LEFT JOIN AT0128 AT11 WITH (NOLOCK) ON AT11.StandardID = O99.S11ID AND AT11.StandardTypeID = ''S11''
		LEFT JOIN AT0128 AT12 WITH (NOLOCK) ON AT12.StandardID = O99.S12ID AND AT12.StandardTypeID = ''S12''
		LEFT JOIN AT0128 AT13 WITH (NOLOCK) ON AT13.StandardID = O99.S13ID AND AT13.StandardTypeID = ''S13''
		LEFT JOIN AT0128 AT14 WITH (NOLOCK) ON AT14.StandardID = O99.S15ID AND AT14.StandardTypeID = ''S14''
		LEFT JOIN AT0128 AT15 WITH (NOLOCK) ON AT15.StandardID = O99.S15ID AND AT15.StandardTypeID = ''S15''
		LEFT JOIN AT0128 AT16 WITH (NOLOCK) ON AT16.StandardID = O99.S16ID AND AT16.StandardTypeID = ''S16''
		LEFT JOIN AT0128 AT17 WITH (NOLOCK) ON AT17.StandardID = O99.S17ID AND AT17.StandardTypeID = ''S17''
		LEFT JOIN AT0128 AT18 WITH (NOLOCK) ON AT18.StandardID = O99.S18ID AND AT18.StandardTypeID = ''S18''
		LEFT JOIN AT0128 AT19 WITH (NOLOCK) ON AT19.StandardID = O99.S19ID AND AT19.StandardTypeID = ''S19''
		LEFT JOIN AT0128 AT20 WITH (NOLOCK) ON AT20.StandardID = O99.S20ID AND AT20.StandardTypeID = ''S20''
		LEFT JOIN OV0005 OV05 WITH (NOLOCK) ON OV05.DataType = O07.DataType
		LEFT JOIN A00002 ON OV05.Description = A00002.ID AND LanguageID=''' + @LanguageID + '''
		'+@sSQLJon+'
WHERE O07.DivisionID = ''' + @DivisionID + ''''+@Swhere+'
	Order by O07.Orders
	'+@sSQLPage2+''

SET @sSQL3 = @sSQL3+'
ELSE
	SELECT '+@sSQLPage+' O07.APK,O07.DivisionID, O07.TransactionID, O07.VoucherID, O07.InventoryID, O07.UnitID, O07.AdjustQuantity, 
		O07.AdjustPrice, O07.OriginalAmount, O07.ConvertedAmount, O07.IsPicking, O07.WareHouseID, 
		O07.TDescription, O07.RefOrderID, O07.RefTransactionID, O07.Ana01ID, O07.Ana02ID, O07.Ana03ID, 
		O07.Ana04ID, O07.Ana05ID, O07.Ana06ID, O07.Ana07ID, O07.Ana08ID, O07.Ana09ID, O07.Ana10ID, O07.Orders,
		(CASE WHEN ISNULL(O07.InventoryCommonName, '''') = '''' THEN A02.InventoryName ELSE O07.InventoryCommonName END) InventoryName, 
		O07.InventoryCommonName, (CASE WHEN ISNULL(O07.InventoryCommonName, '''') = '''' THEN 0 ELSE 1 END) IsUpdate,
		A04.UnitName, O02.OrderQuantity, O02.SalePrice, O07.DataType ,A00002.Name as DataTypeName
		'+@sSQLSL+'		
	FROM OT2007 O07 WITH (NOLOCK)
		LEFT JOIN OOT9000 OOT90 WITH (NOLOCK) ON O07.APKMaster_9000 = OOT90.APK
		LEFT JOIN AT1304 A04 WITH (NOLOCK) ON A04.UnitID = O07.UnitID
		LEFT JOIN AT1302 A02 WITH (NOLOCK) ON A02.DivisionID IN (''@@@'', O07.DivisionID) AND A02.InventoryID = O07.InventoryID
		LEFT JOIN OT2002 O02 WITH (NOLOCK) ON O02.DivisionID = O07.DivisionID and O02.SOrderID = O07.RefOrderID and O02.TransactionID = O07.RefTransactionID
	    LEFT JOIN OV0005 OV05 WITH (NOLOCK) ON OV05.DataType = O07.DataType 
		LEFT JOIN A00002  WITH (NOLOCK) ON OV05.Description = A00002.ID AND LanguageID=''' + @LanguageID + '''
		'+@sSQLJon+'
	WHERE O07.DivisionID = ''' + @DivisionID + ''''+@Swhere+'
	Order by O07.Orders
	'+@sSQLPage2+''

	Exec(@sSQL + @sSQL2 + @sSQL3)

	print @sSQL
	print @sSQL2
	print @sSQL3

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
