IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP0050]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[OP0050]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
--- Lấy giá mua gần nhất của 1 mặt hàng
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
---- Created by: Bảo Anh on 02/08/2018
---- Modify on
-- <Example>
/*
   exec OP0050 @DivisionID=N'GMV',@OrderDate='20180801',@InventoryID='JSFS-H002223'
*/

 CREATE PROCEDURE OP0050
(
     @DivisionID NVARCHAR(2000),
	 @OrderDate DATETIME,
     @InventoryID VARCHAR(50)
)
AS
DECLARE @UnitPrice AS DECIMAL(28,8)

SELECT TOP 1 @UnitPrice = CASE WHEN ISNULL(Quantity,0) = 0 THEN 0 ELSE ConvertedAmount/Quantity END
FROM AT9000 WITH (NOLOCK)
WHERE DivisionID = @DivisionID AND VoucherDate <= @OrderDate AND TransactionTypeID = 'T03'
AND InventoryID = @InventoryID
ORDER BY VoucherDate DESC

SELECT @UnitPrice
 
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON