IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP0090]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[OP0090]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- OP0090
-- <Summary>
---- Stored load Detail kế thừa hợp đồng (TDCLA)
---- Created on 02/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 25/09/2014 by Hải Long: Bổ sung mã phân tích
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- EXEC OP0090 @DivisionID = 'ANG',@UserID='ASOFTADMIN',@ContractID='CT20170000000001'

CREATE PROCEDURE [dbo].[OP0090]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),			
	@ContractID AS NVARCHAR(MAX),
	@Form AS TINYINT = 0
AS

DECLARE @sSQL1 AS NVARCHAR(MAX) = '',
		@sSQL2 AS NVARCHAR(MAX) = '',
		@sSQL3 AS NVARCHAR(MAX) = '',
		@sJoin AS NVARCHAR(MAX) = '',
		@SalesContractAnaTypeID AS NVARCHAR(50) = ''	
		
SELECT @SalesContractAnaTypeID = SalesContractAnaTypeID FROM AT0000 WITH(NOLOCK) WHERE DefDivisionID = @DivisionID			


IF @Form = 0
BEGIN
	SET @sJoin = '
	LEFT JOIN
	(
		SELECT DivisionID, InheritVoucherID, InheritTransactionID, InheritTableID, 
		SUM(OrderQuantity) AS OrderQuantity, SUM(ConvertedQuantity) AS ConvertedQuantity
		FROM OT2002 WITH (NOLOCK)
		WHERE DivisionID = ''' + @DivisionID + '''
		AND InheritTableID = ''AT1031''
		GROUP BY DivisionID, InheritVoucherID, InheritTransactionID, InheritTableID
	) TB ON TB.DivisionID = AT1031.DivisionID AND TB.InheritVoucherID = AT1031.ContractID AND TB.InheritTransactionID = AT1031.TransactionID
	' 	
END
ELSE
BEGIN
	SET @sJoin = '
	LEFT JOIN
	(
		SELECT DivisionID, InheritVoucherID, InheritTransactionID, InheritTableID, 
		SUM(ActualQuantity) AS OrderQuantity, SUM(ConvertedQuantity) AS ConvertedQuantity
		FROM AT2007 WITH (NOLOCK)
		WHERE DivisionID = ''' + @DivisionID + '''
		AND InheritTableID = ''AT1031''
		GROUP BY DivisionID, InheritVoucherID, InheritTransactionID, InheritTableID
	) TB ON TB.DivisionID = AT1031.DivisionID AND TB.InheritVoucherID = AT1031.ContractID AND TB.InheritTransactionID = AT1031.TransactionID
	' 		
END	

SET @sSQL1 = '
SELECT AT1031.DivisionID, AT1031.ContractID AS InheritVoucherID, AT1031.TransactionID AS InheritTransactionID, ''AT1031'' AS InheritTableID, 
AT1020.ObjectID, AT1031.InventoryID, AT1302.InventoryName, AT1031.UnitID AS ConvertedUnitID, AT1302.UnitID, AT1304.UnitName, AT1031.Notes,
(AT1031.OrderQuantity - ISNULL(TB.OrderQuantity, 0)) AS OrderQuantity, (AT1031.ConvertedOrderQuantity - ISNULL(TB.ConvertedQuantity, 0)) AS ConvertedQuantity, 
AT1031.SalePrice, AT1031.ConvertedSalePrice, 
(AT1031.OrderQuantity - ISNULL(TB.OrderQuantity, 0))*AT1031.SalePrice AS OriginalAmount, (AT1031.ConvertedOrderQuantity - ISNULL(TB.ConvertedQuantity, 0))*AT1031.ConvertedSalePrice AS ConvertedAmount, 
AT1031.VATGroupID, AT1031.VATPercent,
(AT1031.OrderQuantity - ISNULL(TB.OrderQuantity, 0))*AT1031.SalePrice*AT1031.VATPercent/100 AS VATOriginalAmount, 
(AT1031.ConvertedOrderQuantity - ISNULL(TB.ConvertedQuantity, 0))*AT1031.ConvertedSalePrice*AT1031.VATPercent/100 AS VATConvertedAmount, 
AT1031.DiscountPercent, 
(AT1031.OrderQuantity - ISNULL(TB.OrderQuantity, 0))*AT1031.SalePrice*AT1031.DiscountPercent/100 AS DiscountOriginalAmount, 
(AT1031.ConvertedOrderQuantity - ISNULL(TB.ConvertedQuantity, 0))*AT1031.ConvertedSalePrice*AT1031.DiscountPercent/100 AS DiscountConvertedAmount, 
AT1031.S01ID, AT1031.S02ID, AT1031.S03ID, AT1031.S04ID, AT1031.S05ID, AT1031.S06ID, AT1031.S07ID, AT1031.S08ID, AT1031.S09ID, AT1031.S10ID, 
AT1031.S11ID, AT1031.S12ID, AT1031.S13ID, AT1031.S14ID, AT1031.S15ID, AT1031.S16ID, AT1031.S17ID, AT1031.S18ID, AT1031.S19ID, AT1031.S20ID,
AT01.StandardName S01Name, AT02.StandardName S02Name, AT03.StandardName S03Name, AT04.StandardName S04Name, AT05.StandardName S05Name,
AT06.StandardName S06Name, AT07.StandardName S07Name, AT08.StandardName S08Name, AT09.StandardName S09Name, AT10.StandardName S10Name,
AT11.StandardName S11Name, AT12.StandardName S12Name, AT13.StandardName S13Name, AT14.StandardName S14Name, AT15.StandardName S15Name,
AT16.StandardName S16Name, AT17.StandardName S17Name, AT18.StandardName S18Name, AT19.StandardName S19Name, AT20.StandardName S20Name,
AT1309.Operator, AT1309.DataType, AT1309.ConversionFactor, AT1319.FormulaDes,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A01'' THEN AT1020.ContractNo ELSE NULL END AS Ana01ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A02'' THEN AT1020.ContractNo ELSE NULL END AS Ana02ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A03'' THEN AT1020.ContractNo ELSE NULL END AS Ana03ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A04'' THEN AT1020.ContractNo ELSE NULL END AS Ana04ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A05'' THEN AT1020.ContractNo ELSE NULL END AS Ana05ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A06'' THEN AT1020.ContractNo ELSE NULL END AS Ana06ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A07'' THEN AT1020.ContractNo ELSE NULL END AS Ana07ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A08'' THEN AT1020.ContractNo ELSE NULL END AS Ana08ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A09'' THEN AT1020.ContractNo ELSE NULL END AS Ana09ID,
CASE WHEN ''' + @SalesContractAnaTypeID + ''' = ''A10'' THEN AT1020.ContractNo ELSE NULL END AS Ana10ID'

SET @sSQL2 = '
FROM AT1031 WITH (NOLOCK)
INNER JOIN AT1020 WITH (NOLOCK) ON AT1020.DivisionID = AT1031.DivisionID AND AT1020.ContractID = AT1031.ContractID
LEFT JOIN AT1309 WITH (NOLOCK) ON AT1309.InventoryID = AT1031.InventoryID AND AT1309.UnitID = AT1031.UnitID
AND ISNULL(AT1309.S01ID, '''') = ISNULL(AT1031.S01ID, '''')
AND ISNULL(AT1309.S02ID, '''') = ISNULL(AT1031.S02ID, '''')
AND ISNULL(AT1309.S03ID, '''') = ISNULL(AT1031.S03ID, '''')
AND ISNULL(AT1309.S04ID, '''') = ISNULL(AT1031.S04ID, '''')
AND ISNULL(AT1309.S05ID, '''') = ISNULL(AT1031.S05ID, '''')
AND ISNULL(AT1309.S06ID, '''') = ISNULL(AT1031.S06ID, '''')
AND ISNULL(AT1309.S07ID, '''') = ISNULL(AT1031.S07ID, '''')
AND ISNULL(AT1309.S08ID, '''') = ISNULL(AT1031.S08ID, '''')
AND ISNULL(AT1309.S09ID, '''') = ISNULL(AT1031.S09ID, '''')
AND ISNULL(AT1309.S10ID, '''') = ISNULL(AT1031.S10ID, '''')
AND ISNULL(AT1309.S11ID, '''') = ISNULL(AT1031.S11ID, '''')
AND ISNULL(AT1309.S12ID, '''') = ISNULL(AT1031.S12ID, '''')
AND ISNULL(AT1309.S13ID, '''') = ISNULL(AT1031.S13ID, '''')
AND ISNULL(AT1309.S14ID, '''') = ISNULL(AT1031.S14ID, '''')
AND ISNULL(AT1309.S15ID, '''') = ISNULL(AT1031.S15ID, '''')
AND ISNULL(AT1309.S16ID, '''') = ISNULL(AT1031.S16ID, '''')
AND ISNULL(AT1309.S17ID, '''') = ISNULL(AT1031.S17ID, '''')
AND ISNULL(AT1309.S18ID, '''') = ISNULL(AT1031.S18ID, '''')
AND ISNULL(AT1309.S19ID, '''') = ISNULL(AT1031.S19ID, '''')
AND ISNULL(AT1309.S20ID, '''') = ISNULL(AT1031.S20ID, '''')'

SET @sSQL3 = '
LEFT JOIN AT1319 WITH (NOLOCK) ON AT1309.FormulaID = AT1319.FormulaID
LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (''@@@'', AT1031.DivisionID) AND AT1031.InventoryID = AT1302.InventoryID
LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT1020.ObjectID
LEFT JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT1031.UnitID
LEFT JOIN AT0128 AT01 WITH (NOLOCK) ON AT01.StandardID = AT1031.S01ID AND AT01.StandardTypeID = ''S01''
LEFT JOIN AT0128 AT02 WITH (NOLOCK) ON AT02.StandardID = AT1031.S02ID AND AT02.StandardTypeID = ''S02''
LEFT JOIN AT0128 AT03 WITH (NOLOCK) ON AT03.StandardID = AT1031.S03ID AND AT03.StandardTypeID = ''S03''
LEFT JOIN AT0128 AT04 WITH (NOLOCK) ON AT04.StandardID = AT1031.S04ID AND AT04.StandardTypeID = ''S04''
LEFT JOIN AT0128 AT05 WITH (NOLOCK) ON AT05.StandardID = AT1031.S05ID AND AT05.StandardTypeID = ''S05''
LEFT JOIN AT0128 AT06 WITH (NOLOCK) ON AT06.StandardID = AT1031.S06ID AND AT06.StandardTypeID = ''S06''
LEFT JOIN AT0128 AT07 WITH (NOLOCK) ON AT07.StandardID = AT1031.S07ID AND AT07.StandardTypeID = ''S07''
LEFT JOIN AT0128 AT08 WITH (NOLOCK) ON AT08.StandardID = AT1031.S08ID AND AT08.StandardTypeID = ''S08''
LEFT JOIN AT0128 AT09 WITH (NOLOCK) ON AT09.StandardID = AT1031.S09ID AND AT09.StandardTypeID = ''S09''
LEFT JOIN AT0128 AT10 WITH (NOLOCK) ON AT10.StandardID = AT1031.S10ID AND AT10.StandardTypeID = ''S10''
LEFT JOIN AT0128 AT11 WITH (NOLOCK) ON AT11.StandardID = AT1031.S11ID AND AT11.StandardTypeID = ''S11''
LEFT JOIN AT0128 AT12 WITH (NOLOCK) ON AT12.StandardID = AT1031.S12ID AND AT12.StandardTypeID = ''S12''
LEFT JOIN AT0128 AT13 WITH (NOLOCK) ON AT13.StandardID = AT1031.S13ID AND AT13.StandardTypeID = ''S13''
LEFT JOIN AT0128 AT14 WITH (NOLOCK) ON AT14.StandardID = AT1031.S15ID AND AT14.StandardTypeID = ''S14''
LEFT JOIN AT0128 AT15 WITH (NOLOCK) ON AT15.StandardID = AT1031.S15ID AND AT15.StandardTypeID = ''S15''
LEFT JOIN AT0128 AT16 WITH (NOLOCK) ON AT16.StandardID = AT1031.S16ID AND AT16.StandardTypeID = ''S16''
LEFT JOIN AT0128 AT17 WITH (NOLOCK) ON AT17.StandardID = AT1031.S17ID AND AT17.StandardTypeID = ''S17''
LEFT JOIN AT0128 AT18 WITH (NOLOCK) ON AT18.StandardID = AT1031.S18ID AND AT18.StandardTypeID = ''S18''
LEFT JOIN AT0128 AT19 WITH (NOLOCK) ON AT19.StandardID = AT1031.S19ID AND AT19.StandardTypeID = ''S19''
LEFT JOIN AT0128 AT20 WITH (NOLOCK) ON AT20.StandardID = AT1031.S20ID AND AT20.StandardTypeID = ''S20''' + @sJoin + '
WHERE AT1031.DivisionID = ''' + @DivisionID + '''
AND AT1031.ContractID IN (''' + @ContractID + ''')
AND (AT1031.OrderQuantity - ISNULL(TB.OrderQuantity, 0)) > 0
ORDER BY AT1031.Orders, AT1031.InventoryID'

PRINT @sSQL1
PRINT @sSQL2
PRINT @sSQL3
EXEC (@sSQL1 + @sSQL2 + @sSQL3)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

