IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP0161]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[OP0161]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Customize Angel: Đổ dữ liệu lưới detail ở MH kế thừa KHSX tổng hợp công đoạn lập kế hoạch mua hàng
---- Created by Bảo Anh, Date: 03/03/2016
---- Modify on 26/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- OP0161 @DivisionID=N'CTY',@TransactionIDList='DE2013000018,DE2013000019',@VoucherID=N'cfae59d3-080b-43c6-bfbd-083e4f157d87'

CREATE PROCEDURE [dbo].[OP0161] 
    @DivisionID NVARCHAR(50), 
    @TransactionIDList AS VARCHAR(max),
	@VoucherID AS NVARCHAR(50) = ''
	
AS
Declare @SQL1 varchar(max),
		@SQL2 varchar(max),
		@SQL3 varchar(max)

SELECT @SQL1 = '', @SQL2 = '', @SQL3 = ''
--SET @TransactionIDList = REPLACE(@TransactionIDList,',',''',''')

--- Lọc ra các KHSX tổng hợp công đoạn chưa kế thừa hoặc kế thừa chưa hết
SET @SQL1 = '
SELECT EstimateID, TransactionID, (MaterialQuantity - Isnull(ProductQuantity,0)) as EndQuantity
INTO #TAM
FROM	(
Select OT03.EstimateID, TransactionID, Isnull(MaterialQuantity,0) as MaterialQuantity, Isnull(ProductQuantity,0) as ProductQuantity
	From OT2203 OT03
	Left join	(Select DivisionID, InheritVoucherID, InheritTransactionID, sum(RequireQuantity) as ProductQuantity From OT0156
				Where DivisionID = ''' + @DivisionID + '''
				And InheritTableID = ''OT2203'' and Isnull(InheritTransactionID,'''') <> ''''
				Group by DivisionID, InheritVoucherID, InheritTransactionID
				) OT02 
	On OT03.DivisionID = OT02.DivisionID And OT03.EstimateID = OT02.InheritVoucherID and OT03.TransactionID = OT02.InheritTransactionID
	Inner join OT2201 OT01 On OT03.DivisionID = OT01.DivisionID And OT03.EstimateID = OT01.EstimateID
	Where OT03.DivisionID = ''' + @DivisionID + ''' And ExpenseID = ''COST001'' and OT03.EDetailID in (''' + @TransactionIDList + ''')
) A
WHERE MaterialQuantity - Isnull(ProductQuantity,0) > 0'

IF isnull(@VoucherID,'')<> ''	--- khi load edit
BEGIN
	SET @SQL2 = '
	SELECT	cast(1 as tinyint) as IsChecked, OT02.InheritVoucherID as VoucherID, OT02.InheritTransactionID as TransactionID, OT01.VoucherNo, OT03.Orders,
			OT03.ProductID, T01.InventoryName as ProductName, OT01.TeamID, HT1101.TeamName,
			OT03.MaterialID, T02.InventoryName as MaterialName,
			OT03.UnitID as MaterialUnitID, T04.UnitName as MaterialUnitName, OT03.MaterialQuantity,
			T02.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			T02.InventoryTypeID, AT1301.InventoryTypeName,
			T02.I01ID, T02.I02ID, T02.I03ID, T02.I04ID, T02.I05ID, T02.I06ID, T02.I07ID, T02.I08ID, T02.I09ID, T02.I10ID
	FROM OT0156 OT02
	INNER JOIN OT2203 OT03 ON OT02.DivisionID = OT03.DivisionID And OT02.InheritVoucherID = OT03.EstimateID and OT02.InheritTransactionID = OT03.TransactionID and OT03.ExpenseID = ''COST001''
	INNER JOIN OT2201 OT01 ON OT03.DivisionID = OT01.DivisionID And OT03.EstimateID = OT01.EstimateID
	LEFT JOIN AT1302 T01 ON T01.DivisionID IN (''@@@'', OT03.DivisionID) AND OT03.ProductID = T01.InventoryID
	LEFT JOIN AT1302 T02 ON T02.DivisionID IN (''@@@'', OT03.DivisionID) AND OT03.MaterialID = T02.InventoryID
	LEFT JOIN AT1304 T04 ON OT03.UnitID = T04.UnitID and OT03.ExpenseID = ''COST001''
	LEFT JOIN HT1101 On OT01.DivisionID = HT1101.DivisionID and OT01.TeamID = HT1101.TeamID
	LEFT JOIN AT1301 On T02.InventoryTypeID = AT1301.InventoryTypeID
	LEFT JOIN AT1015 On T02.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01''
	WHERE OT02.DivisionID = ''' + @DivisionID + ''' AND OT02.VoucherID = ''' + @VoucherID + ''' AND Isnull(OT02.InheritTableID,'''') = ''OT2203'' AND Isnull(OT02.InheritTransactionID,'''') <> ''''
	'

	SET @SQL3 = '
	UNION
	SELECT	cast(0 as tinyint) as IsChecked, OT03.EstimateID as VoucherID, OT03.TransactionID, OT01.VoucherNo, OT03.Orders,
			OT03.ProductID, T01.InventoryName as ProductName, OT01.TeamID, HT1101.TeamName, 
			OT03.MaterialID, T02.InventoryName as MaterialName,
			OT03.UnitID as MaterialUnitID, T04.UnitName as MaterialUnitName, #TAM.EndQuantity as MaterialQuantity,
			T02.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			T02.InventoryTypeID, AT1301.InventoryTypeName,
			T02.I01ID, T02.I02ID, T02.I03ID, T02.I04ID, T02.I05ID, T02.I06ID, T02.I07ID, T02.I08ID, T02.I09ID, T02.I10ID
	FROM OT2203 OT03
	INNER JOIN OT2201 OT01 ON OT03.DivisionID = OT01.DivisionID And OT03.EstimateID = OT01.EstimateID
	INNER JOIN #TAM ON OT03.TransactionID = #TAM.TransactionID
	LEFT JOIN AT1302 T01 ON T01.DivisionID IN (''@@@'', OT03.DivisionID) AND OT03.ProductID = T01.InventoryID
	LEFT JOIN AT1302 T02 ON T02.DivisionID IN (''@@@'', OT03.DivisionID) AND OT03.MaterialID = T02.InventoryID
	LEFT JOIN AT1304 T04 ON OT03.UnitID = T04.UnitID and OT03.ExpenseID = ''COST001''
	LEFT JOIN HT1101 On OT01.DivisionID = HT1101.DivisionID and OT01.TeamID = HT1101.TeamID
	LEFT JOIN AT1301 On T02.InventoryTypeID = AT1301.InventoryTypeID
	LEFT JOIN AT1015 On T02.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01''
	WHERE OT03.DivisionID = ''' + @DivisionID + ''' AND ExpenseID = ''COST001''
	
	ORDER BY OT01.VoucherNo, OT03.ProductID, OT03.Orders'
END
ELSE --- addnew
	SET @SQL2 = '
	SELECT	cast(0 as tinyint) as IsChecked, OT03.EstimateID as VoucherID, OT03.TransactionID, OT01.VoucherNo, OT03.Orders,
			OT03.ProductID, T01.InventoryName as ProductName, OT01.TeamID, HT1101.TeamName, 
			OT03.MaterialID, T02.InventoryName as MaterialName,
			OT03.UnitID as MaterialUnitID, T04.UnitName as MaterialUnitName, #TAM.EndQuantity as MaterialQuantity,
			T02.I01ID as ProductTypeID, AT1015.AnaName as ProductTypeName,
			T02.InventoryTypeID, AT1301.InventoryTypeName,
			T02.I01ID, T02.I02ID, T02.I03ID, T02.I04ID, T02.I05ID, T02.I06ID, T02.I07ID, T02.I08ID, T02.I09ID, T02.I10ID
	FROM OT2203 OT03
	INNER JOIN OT2201 OT01 ON OT03.DivisionID = OT01.DivisionID And OT03.EstimateID = OT01.EstimateID
	INNER JOIN #TAM ON OT03.TransactionID = #TAM.TransactionID
	LEFT JOIN AT1302 T01 ON T01.DivisionID IN (''@@@'', OT03.DivisionID) AND OT03.ProductID = T01.InventoryID
	LEFT JOIN AT1302 T02 ON T02.DivisionID IN (''@@@'', OT03.DivisionID) AND OT03.MaterialID = T02.InventoryID
	LEFT JOIN AT1304 T04 ON OT03.UnitID = T04.UnitID and OT03.ExpenseID = ''COST001''
	LEFT JOIN HT1101 On OT01.DivisionID = HT1101.DivisionID and OT01.TeamID = HT1101.TeamID
	LEFT JOIN AT1301 On T02.InventoryTypeID = AT1301.InventoryTypeID
	LEFT JOIN AT1015 On T02.I01ID = AT1015.AnaID and AT1015.AnaTypeID = ''I01''
	WHERE OT03.DivisionID = ''' + @DivisionID + ''' AND ExpenseID = ''COST001''
	
	ORDER BY OT01.VoucherNo, OT03.ProductID, OT03.Orders'

EXEC(@SQL1 + @SQL2 + @SQL3)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON