IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP0160]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[OP0160]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Customize Angel: Load dữ liệu lưới master ở MH kế thừa KHSX tổng hợp các công đoạn lập kế hoạch mua hàng
---- Created by Bảo Anh, Date: 03/03/2016
---- Modify on 26/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- OP0160 'CTY',9,2013,'%',''

CREATE PROCEDURE [dbo].[OP0160] 
    @DivisionID NVARCHAR(50),
	@TranMonth int,
	@TranYear int,
	@TeamID NVARCHAR(50),
    @VoucherID AS NVARCHAR(50) = ''
AS

--- Lọc ra các KHSX tổng hợp công đoạn chưa kế thừa hoặc kế thừa chưa hết
SELECT EstimateID, TransactionID, (MaterialQuantity - Isnull(ProductQuantity,0)) as EndQuantity
INTO #TAM
FROM	(
	Select OT03.EstimateID, TransactionID, Isnull(MaterialQuantity,0) as MaterialQuantity, Isnull(ProductQuantity,0) as ProductQuantity
	From OT2203 OT03
	Left join	(Select DivisionID, InheritVoucherID, InheritTransactionID, sum(RequireQuantity) as ProductQuantity From OT0156
				Where DivisionID = @DivisionID And InheritTableID = 'OT2203' and Isnull(InheritTransactionID,'') <> ''
				Group by DivisionID, InheritVoucherID, InheritTransactionID
				) OT02 
	On OT03.DivisionID = OT02.DivisionID And OT03.EstimateID = OT02.InheritVoucherID and OT03.TransactionID = OT02.InheritTransactionID
	Inner join OT2201 OT01 On OT03.DivisionID = OT01.DivisionID And OT03.EstimateID = OT01.EstimateID
	Where OT03.DivisionID = @DivisionID and OT03.TranMonth = @TranMonth and OT03.TranYear = @TranYear
	And ExpenseID = 'COST001' And Isnull(OT01.TeamID,'') like @TeamID
) A
WHERE MaterialQuantity - Isnull(ProductQuantity,0) > 0

--- Trả dữ liệu
IF isnull(@VoucherID,'')<> ''	--- khi load edit
	SELECT	cast(1 as BIT) as IsChecked, OT2201.EstimateID as VoucherID, VoucherNo, VoucherDate, Description, OT2201.TeamID, HT1101.TeamName,	
			OT2202.ProductID, AT1302.InventoryName as ProductName, AT1302.UnitID as ProductUnitID, AT1304.UnitName as ProductUnitName, OT2202.ProductQuantity,
			OT2202.EDetailID as TransactionID, AT1302.InventoryTypeID, AT1301.InventoryTypeName,
			AT1302.I01ID, AT1302.I02ID, AT1302.I03ID, AT1302.I04ID, AT1302.I05ID, AT1302.I06ID, AT1302.I07ID, AT1302.I08ID, AT1302.I09ID, AT1302.I10ID
	FROM OT2201
	INNER JOIN OT2202 On OT2201.DivisionID = OT2202.DivisionID and OT2201.EstimateID = OT2202.EstimateID
	LEFT JOIN AT1302 On AT1302.DivisionID IN ('@@@', OT2202.DivisionID) AND OT2202.ProductID = AT1302.InventoryID
	LEFT JOIN AT1304 On AT1304.UnitID = AT1302.UnitID
	LEFT JOIN HT1101 On OT2201.DivisionID = HT1101.DivisionID and OT2201.TeamID = HT1101.TeamID
	LEFT JOIN AT1301 On AT1302.InventoryTypeID = AT1301.InventoryTypeID
	WHERE OT2201.DivisionID = @DivisionID
	AND exists (Select top 1 1 From OT0156 Where DivisionID = @DivisionID And VoucherID = @VoucherID And InheritTableID = 'OT2203' and Isnull(InheritVoucherID,'') = OT2201.EstimateID
				and InheritTransactionID in (Select TransactionID From OT2203 Where EstimateID = OT2201.EstimateID and EDetailID = OT2202.EDetailID))

	UNION ALL
	SELECT	cast(0 as BIT) as IsChecked, OT2201.EstimateID as VoucherID, VoucherNo, VoucherDate, Description, OT2201.TeamID, HT1101.TeamName,
			OT2202.ProductID, AT1302.InventoryName as ProductName, AT1302.UnitID as ProductUnitID, AT1304.UnitName as ProductUnitName, OT2202.ProductQuantity,
			OT2202.EDetailID as TransactionID, AT1302.InventoryTypeID, AT1301.InventoryTypeName,
			AT1302.I01ID, AT1302.I02ID, AT1302.I03ID, AT1302.I04ID, AT1302.I05ID, AT1302.I06ID, AT1302.I07ID, AT1302.I08ID, AT1302.I09ID, AT1302.I10ID
	FROM OT2201
	INNER JOIN OT2202 On OT2201.DivisionID = OT2202.DivisionID and OT2201.EstimateID = OT2202.EstimateID
	LEFT JOIN AT1302 On AT1302.DivisionID IN ('@@@', OT2202.DivisionID) AND OT2202.ProductID = AT1302.InventoryID
	LEFT JOIN AT1304 On AT1304.UnitID = AT1302.UnitID
	LEFT JOIN HT1101 On OT2201.DivisionID = HT1101.DivisionID and OT2201.TeamID = HT1101.TeamID
	LEFT JOIN AT1301 On AT1302.InventoryTypeID = AT1301.InventoryTypeID
	WHERE OT2201.DivisionID = @DivisionID and OT2201.TranMonth = @TranMonth and OT2201.TranYear = @TranYear
	And exists (Select top 1 1 From #TAM Where EstimateID = OT2201.EstimateID and TransactionID in (Select TransactionID From OT2203 Where EstimateID = OT2201.EstimateID and EDetailID = OT2202.EDetailID))
	And not exists (Select top 1 1 From OT0156 Where DivisionID = @DivisionID And VoucherID = @VoucherID And InheritTableID = 'OT2203' and Isnull(InheritVoucherID,'') = OT2201.EstimateID
					and InheritTransactionID in (Select TransactionID From OT2203 Where EstimateID = OT2201.EstimateID and EDetailID = OT2202.EDetailID))

	ORDER BY VoucherDate, VoucherNo
	
ELSE --- khi load addnew
	SELECT	cast(0 as BIT) as IsChecked, OT2201.EstimateID as VoucherID, VoucherNo, VoucherDate, Description, OT2201.TeamID, HT1101.TeamName,
			OT2202.ProductID, AT1302.InventoryName as ProductName, AT1302.UnitID as ProductUnitID, AT1304.UnitName as ProductUnitName, OT2202.ProductQuantity,
			OT2202.EDetailID as TransactionID, AT1302.InventoryTypeID, AT1301.InventoryTypeName,
			AT1302.I01ID, AT1302.I02ID, AT1302.I03ID, AT1302.I04ID, AT1302.I05ID, AT1302.I06ID, AT1302.I07ID, AT1302.I08ID, AT1302.I09ID, AT1302.I10ID
	FROM OT2201
	INNER JOIN OT2202 On OT2201.DivisionID = OT2202.DivisionID and OT2201.EstimateID = OT2202.EstimateID
	LEFT JOIN AT1302 On AT1302.DivisionID IN ('@@@', OT2202.DivisionID) AND OT2202.ProductID = AT1302.InventoryID
	LEFT JOIN AT1304 On AT1304.UnitID = AT1302.UnitID
	LEFT JOIN HT1101 On OT2201.DivisionID = HT1101.DivisionID and OT2201.TeamID = HT1101.TeamID
	LEFT JOIN AT1301 On AT1302.InventoryTypeID = AT1301.InventoryTypeID
	WHERE OT2201.DivisionID = @DivisionID and OT2201.TranMonth = @TranMonth and OT2201.TranYear = @TranYear
	And exists (Select top 1 1 From #TAM Where EstimateID = OT2201.EstimateID and TransactionID in (Select TransactionID From OT2203 Where EstimateID = OT2201.EstimateID and EDetailID = OT2202.EDetailID))
	ORDER BY VoucherDate, VoucherNo

DROP TABLE #TAM

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON