IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH (NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[OP0303_VPS]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[OP0303_VPS]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---Created by : Thuy Tuyen
---purpose: In bao cao Tong hop tinh hinh dat hang( So sanh giu Yeu cau- don hang mua- nhap kho )
-- date: 11/05/2009,26/05/2009
-- Last edit: Thuy Tuyen 05/06/2009 ,17/06/2009, 18/06/2009,26/10/2009,30/11/2009
--- Edit by B.Anh, date 11/12/2009	Sua loi khong len du lieu phan so luong giao thuc te va ngay giao tu nhap kho Asoft-T
--Edit Thuy Tuyen: Lay them truong don gia  khi lap don hang mua, date: 15/01/2009
---- Modified on 31/01/2012 by Le Thi Thu Hien : Sua dieu kien CONVERT theo ngay
---- Modified on 31/05/2016 by Bảo Thy: Bổ sung WITH (NOLOCK)
---- Modified on 20/07/2018 by Bảo Anh: Bổ sung FollowerID1, FollowerName1, FollowerID2, FollowerName2, PVoucherNo
---- Modified on 02/08/2018 by Bảo Anh: Sửa thành store customize VPS (http://192.168.0.204:8069/web#id=7452&view_type=form&model=crm.helpdesk&menu_id=451&action=423)
---- Modified on 23/08/2018 by Kim Thư: Bổ sung load thêm cột TDescription, ReceiveActualQuantity,ReceiveActualDate, Notes, Notes01, Notes02, 
										--OrderStatus, InventoryNormID, MinQUantity, MaxQuantity, 5 cột mã phân tích cho view OV0316
----Modified on 29/8/2018 by Kim Thư: Bổ sung cột PUnitPrice lấy theo đơn giá mua gần nhất
----Modified on 4/9/2018 by Kim Thư: Sửa cách lấy giá trị SalesAmount, lấy tất cả bút toán có CreditAmountID=331
----Modified on 03/10/2018 by Kim Thư: Thêm cột PDescription từ OT3002, điều chỉnh kết bảng OT3002 vì ROrderID có thể null
----Modified on 05/10/2018 by Kim Thư: Bổ sung OV2400.TDescription
---- Modified on 29/01/2021 by Kiều Nga : Chuyển đk lọc từ kỳ, đến kỳ sang chọn kỳ
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
/********************************************
'* Edited by: [GS] [Mỹ Tuyền] [16/12/2010]
'********************************************/

CREATE PROCEDURE [dbo].[OP0303_VPS]  
				@DivisionID nvarchar(50),
				@DivisionIDList	NVARCHAR(MAX),
				@IsDate INT, ---- 1: là ngày, 0: là kỳ
				@FromDate DATETIME,
				@ToDate DATETIME,
				@PeriodList NVARCHAR(MAX)='',			
				@FromInventoryID nvarchar(50),
				@ToInventoryID nvarchar(50),
				@IsGroup as tinyint,
				@GroupID nvarchar(50), -- GroupID: OB, CI1, CI2, CI3, I01, I02, I03, I04, I05	
				@IsCheck int,---- 0: co len du lieu cua thang truoc chua nhan,1: khong len du lieu cua thang truoc
				@FromObjectID nvarchar(50),
				@ToObjectID nvarchar(50)
AS
DECLARE @sSQL nvarchar(4000),
		@sSQL1 nvarchar(4000),
		@sSQL2 nvarchar(4000),
		@sSQL3 nvarchar(4000),
		@GroupField nvarchar(20),
		@sFROM nvarchar(500),
		@sSELECT nvarchar(500),
		@sWHERE nvarchar(500), 
    @FromMonthYearText NVARCHAR(20), 
    @ToMonthYearText NVARCHAR(20), 
    @FromDateText NVARCHAR(20), 
    @ToDateText NVARCHAR(20),
	@sWhereDivision NVARCHAR(max)

Set @sWhereDivision = ''
    
--Search theo đơn vị @DivisionIDList trống thì lấy biến môi trường @DivisionID
IF Isnull(@DivisionIDList, '') != ''
	SET @sWhereDivision = ' IN ('''+@DivisionIDList+''')'
ELSE 
	SET @sWhereDivision = ' = N'''+@DivisionID+''''	
    
SET @FromDateText = CONVERT(NVARCHAR(20), @FromDate, 101)
SET @ToDateText = CONVERT(NVARCHAR(20), @ToDate, 101) + ' 23:59:59'

Select @sFROM = '',  @sSELECT = ''

---Step 1: Lay  so luong  giao thu te 
	--------Step 1.1: Lay  Tong so luong   giao thuc te (nhap kho).

Set @sSQL = N'
Select	A00.DivisionID , 
		A00.OrderID , 
		A00.InventoryID,  
		A00.OTransactionID,
		sum(ActualQuantity) as ActualQuantity, 
		Max(A01.VoucherDate) as ActualDate, 
		SUM(' + CASE WHEN @IsDate = 1 then  ' CASE WHEN CONVERT(DATETIME,CONVERT(VARCHAR(10),T01.OrderDate ,101),101)  < ''' + @FromDateText  + ''' THEN  ActualQuantity ELSE 0 END ' 
		ELSE '  CASE WHEN (CASE WHEN T01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(T01.TranMonth)))+''/''+ltrim(Rtrim(str(T01.TranYear))) IN ('''+@PeriodList +''')  THEN ActualQuantity ELSE 0 END'   END + ')
		AS ActualQuantity0
From AT2007 A00  WITH (NOLOCK)
inner join AT2006 A01 WITH (NOLOCK) on A00.VoucherID = A01.VoucherID and A01.KindVoucherID  in(1, 5, 7) And A00.DivisionID = A01.DivisionID
Inner join OT3002 T02 WITH (NOLOCK) on T02.TransactionID = A00.OTransactionID And A00.DivisionID = T02.DivisionID
inner join OT3001 T01 WITH (NOLOCK) on T01.POrderID  = T02.POrderID  and T01.OrderStatus not in ( 9)  And A00.DivisionID = T01.DivisionID

Where  T01.DivisionID '+@sWhereDivision +' /*AND    ' +
	CASE WHEN @IsDate = 1 then  ' CONVERT(DATETIME,CONVERT(VARCHAR(10),T01.OrderDate,101),101)  <= ''' + @ToDateText  + '''' 
	ELSE  '   (CASE WHEN T01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(T01.TranMonth)))+''/''+ltrim(Rtrim(str(T01.TranYear))) in ('''+@PeriodList +''')'   end  + ' AND ' + 
	CASE WHEN @IsDate = 1 then  ' CONVERT(DATETIME,CONVERT(VARCHAR(10),A01.VoucherDate,101),101)  <= ''' + @ToDateText  + '''' 
	ELSE  '   (CASE WHEN A01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(A01.TranMonth)))+''/''+ltrim(Rtrim(str(A01.TranYear))) in ('''+@PeriodList +''')'    end  +  ' */
	GROUP BY A00.DivisionID, A00.OrderID, A00.InventoryID, A00.OTransactionID'

IF EXISTS(SELECT TOP 1 1 FROM SYSOBJECTS WITH (NOLOCK) WHERE XTYPE = 'V' AND NAME = 'OV0313')
	DROP VIEW OV0313
EXEC('CREATE VIEW OV0313 ---tao boi OP0303_VPS
		as ' + @sSQL)



--------Step 1.2: Lay  Tong so luong  dat hang thuc te(don  hang mua ) .
Set @sSQL =  -- chi tiet
N'Select A00.DivisionID as DivisionID, 
	A00.ROrderID as OrderID , 
	A00.POrderID , 	
	A00.InventoryID,  
	A00.RefTransactionID,
	A00.TransactionID,
	sum(A00.OrderQuantity) as ActualQuantity, 
	Avg(PurchasePrice) as PurchasePrice,
	Max(A01.OrderDate) as ActualDate, 
	A01.ShipDate as  POShipdate,
	SUM(' + CASE WHEN @IsDate = 1 then  ' CASE WHEN CONVERT(DATETIME,CONVERT(VARCHAR(10),T01.OrderDate ,101),101)  < ''' + @FromDateText  + ''' THEN  A00.OrderQuantity ELSE 0 END ' 
	ELSE '  CASE WHEN (CASE WHEN T01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(T01.TranMonth)))+''/''+ltrim(Rtrim(str(T01.TranYear))) IN ('''+@PeriodList +''')  THEN A00.OrderQuantity ELSE 0 END'   END + ')
	AS ActualQuantity0
From OT3002  A00 WITH (NOLOCK) inner join OT3001 A01 WITH (NOLOCK) on A00.POrderID = A01.POrderID  And A00.DivisionID = A01.DivisionID
Inner join OT3102 T02 WITH (NOLOCK) on T02.TransactionID = isnull(A00.RefTransactionID,'''') And A00.DivisionID = T02.DivisionID
inner join OT3101 T01 WITH (NOLOCK) on T01.ROrderID  = T02.ROrderID  and T01.OrderStatus not in ( 9) And A00.DivisionID = T01.DivisionID
Where  T01.DivisionID '+@sWhereDivision +' /* AND    ' +
	CASE WHEN @IsDate = 1 then  ' CONVERT(DATETIME,CONVERT(VARCHAR(10),T01.OrderDate,101),101)  <= ''' + @ToDateText  + '''' 
	ELSE  '   (CASE WHEN T01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(T01.TranMonth)))+''/''+ltrim(Rtrim(str(T01.TranYear))) in ('''+@PeriodList +''')'   end  + ' AND ' + 

	CASE WHEN @IsDate = 1 then  ' CONVERT(DATETIME,CONVERT(VARCHAR(10),A01.OrderDate,101),101)  <= ''' + @ToDateText  + '''' 
	ELSE  '   (CASE WHEN A01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(A01.TranMonth)))+''/''+ltrim(Rtrim(str(A01.TranYear))) in ('''+@PeriodList +''')'   end  +  '*/
	Group by A00.DivisionID, A00.ROrderID, A00.InventoryID,A00.POrderID, A00.RefTransactionID, A00.TransactionID,A01.ShipDate'

---print @sSQL
If exists(Select Top 1 1 From sysObjects WITH (NOLOCK) Where XType = 'V' and Name = 'OV0331')
	Drop view OV0331
EXEC('Create view OV0331 ---tao boi OP0303_VPS
		as ' + @sSQL)

 --------Step 1.2: Lay  Tong so luong  dat hang thuc te(don  hang mua ) .
Set @sSQL =  -- tong hop
N'Select A00.DivisionID as DivisionID, 
	A00.ROrderID as OrderID,
	A00.InventoryID,  
	A00.RefTransactionID,
	Avg(PurchasePrice) as PurchasePrice,
	SUM(A00.OrderQuantity) as ActualQuantity,
	SUM(A00.ConvertedAmount) as ConvertedAmount,
	Max(A01.OrderDate) as ActualDate, 
	'''' as  POShipdate,
	SUM(' + CASE WHEN @IsDate = 1 then  ' CASE WHEN CONVERT(DATETIME,CONVERT(VARCHAR(10),T01.OrderDate ,101),101) < ''' + @FromDateText  + ''' THEN  A00.OrderQuantity ELSE 0 END ' 
	ELSE '  CASE WHEN (CASE WHEN T01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(T01.TranMonth)))+''/''+ltrim(Rtrim(str(T01.TranYear))) IN ('''+@PeriodList +''')  THEN A00.OrderQuantity ELSE 0 END'   END + ')
	AS ActualQuantity0,
	MAX(A01.CreateUserID) AS FollowerID2, MAX(AT1103.FullName) AS FollowerName2, A01.VoucherNo AS PVoucherNo, A01.ObjectID

From OT3002 A00 WITH (NOLOCK) inner join OT3001 A01 WITH (NOLOCK) on A00.POrderID = A01.POrderID And A00.DivisionID = A01.DivisionID
Inner join OT3102 T02 WITH (NOLOCK) on T02.TransactionID = isnull(A00.RefTransactionID,'''') And A00.DivisionID = T02.DivisionID
inner join OT3101 T01 WITH (NOLOCK) on T01.ROrderID  = T02.ROrderID  and T01.OrderStatus not in ( 9) And A00.DivisionID = T01.DivisionID
LEFT JOIN AT1103 WITH (NOLOCK) ON A01.DivisionID = AT1103.DivisionID AND A01.CreateUserID = AT1103.EmployeeID
Where  T01.DivisionID '+@sWhereDivision +' /* AND    ' +
	CASE WHEN @IsDate = 1 then  ' CONVERT(DATETIME,CONVERT(VARCHAR(10),T01.OrderDate ,101),101)  <= ''' + @ToDateText  + '''' 
	ELSE  '   (CASE WHEN T01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(T01.TranMonth)))+''/''+ltrim(Rtrim(str(T01.TranYear))) in ('''+@PeriodList +''')'   end  + ' AND ' + 
	CASE WHEN @IsDate = 1 then  ' CONVERT(DATETIME,CONVERT(VARCHAR(10),A01.OrderDate ,101),101)  <= ''' + @ToDateText  + '''' 
	ELSE  '   (CASE WHEN A01.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(A01.TranMonth)))+''/''+ltrim(Rtrim(str(A01.TranYear))) in ('''+@PeriodList +''')'   end  +  '*/
	Group by A00.DivisionID ,A00.ROrderID, A00.InventoryID, A00.RefTransactionID, A01.VoucherNo, A01.ObjectID'
If exists(Select Top 1 1 From sysObjects WITH (NOLOCK) Where XType = 'V' and Name = 'OV0314')
	Drop view OV0314
EXEC('Create view OV0314 ---tao boi OP0303_VPS
		as ' + @sSQL)

---Step2: Lay du lieu nhom (OR0302,OR0321)
		
IF @IsGroup  = 1  ---Co nhom
	BEGIN
	Exec OP4700  	@GroupID,	@GroupField OUTPUT
	Select @sFROM = @sFROM + ' left join OV6666 V1 on V1.SelectionType = ''' + @GroupID + ''' and V1.SelectionID = OV2400.' + @GroupField + ' And V1.DivisionID = OV2400.DivisionID ',
		@sSELECT = @sSELECT + ', 
		V1.SelectionID as GroupID, V1.SelectionName as GroupName'
		
	END

ELSE  ---Khong  nhom
	Set @sSELECT = @sSELECT +  ', 
		'''' as GroupID, '''' as GroupName'	



---------Step3.1: Tong hop (OR6012)

If @IsCheck=1 ---co chon nhung phieu chua giao het
BEGIN
Set @sSQL =  N'
Select  OV2400.DivisionID as DivisionID, 
		OV2400.OrderID as POrderID,  
		OV2400.VoucherNo,           
		OV2400.VoucherDate as OrderDate,
		OV2400.ObjectID,
		OV2400.ObjectName,
		OV2400.OrderStatus,
		OT1101.Description as OrderStatusName,
		OV2400.InventoryID, 
		OV2400.InventoryName, 

		OV2400.UnitName,
		OV2400.Specification,
		 OV2400.InventoryTypeID,
		OV2400.OrderQuantity,
		OV2400.RequestPrice,

		(SELECT TOP 1 (ConvertedAmount/Quantity) FROM AT9000 WITH(NOLOCK) 
		WHERE DivisionID = OV2400.DivisionID AND TransactionTypeID = ''T03'' AND InventoryID = OV2400.InventoryID 
				AND VoucherDate <= OV2400.VoucherDate
		ORDER BY VoucherDate DESC) as PUnitPrice,

		isnull(OV2400.RequestPrice, 0)* isnull(OV2400.ExchangeRate, 0) as ConvertedPrice,	
		OV2400.OriginalAmount as TOriginalAmount,
		OV2400.ConvertedAmount as TConvertedAmount,
		OV2400.ShipDate,
		OV0314.ActualQuantity,
		OV0314.ActualDate,
		OV0314.PurchasePrice,
		OV0314.ConvertedAmount AS PurchaseAmount, OV0314.ObjectID AS PurchaseObjectID,
		
		case when isnull(OV2400.ShipDate, '''') = '''' or isnull(OV0314.ActualDate, '''') = '''' then 0 else 
		Datediff(day, OV2400.ShipDate, OV0314.ActualDate) end as AfterDayAmount, 
		(OV2400.OrderQuantity - isnull(OV0314.ActualQuantity, 0) + isnull(OV2400.AdjustQuantity, 0)) as RemainQuantity,
		OV2400.EmployeeID as FollowerID1, AT1103.FullName AS FollowerName1,
		OV0314.FollowerID2, OV0314.FollowerName2, OV0314.PVoucherNo,

		(SELECT TOP 1 ObjectID FROM AT9000 WITH (NOLOCK)
		WHERE DivisionID = OV2400.DivisionID AND TransactionTypeID = ''T03'' AND InventoryID = OV2400.InventoryID AND VoucherDate <= OV2400.VoucherDate
		ORDER BY VoucherDate DESC) AS LastObjectID,

		(SELECT TOP 1 VoucherDate FROM AT9000 WITH (NOLOCK)
		WHERE DivisionID = OV2400.DivisionID AND TransactionTypeID = ''T03'' AND InventoryID = OV2400.InventoryID AND VoucherDate <= OV2400.VoucherDate
		ORDER BY VoucherDate DESC) AS LastVoucherDate,
		
		OV2400.VDescription AS Description, OV2400.TDescription AS DetailDescription,
		AT2007.ActualQuantity AS ReceiveActualQuantity,
		AT2006.VoucherDate AS ReceiveActualDate,
		OT3002.Notes, OT3002.Notes01, OT3002.Notes02, OT3002.Description AS PDescription,
		OT3001.OrderStatus AS POrderStatus, OV1101.Description AS POrderStatusName,
		AT1314.InventoryNormID, AT1314.MinQuantity, AT1314.MaxQuantity,
		OV2400.VAna01ID, OV2400.VAna02ID, OV2400.VAna03ID, OV2400.VAna04ID, OV2400.VAna05ID,
		O1.AnaName AS VAna01Name, O2.AnaName AS VAna02Name, O3.AnaName AS VAna03Name, O4.AnaName AS VAna04Name, O5.AnaName AS VAna05Name		
		
' 

Set @sSQL1 = @sSELECT  + N'
INTO #OT2700
From OV2700  OV2400
left join OV0314 on OV2400.TransactionID =isnull( OV0314.RefTransactionID,'''') And OV2400.DivisionID = OV0314.DivisionID
left join OT1101 WITH (NOLOCK) on OT1101.OrderStatus = OV2400.OrderStatus and TypeID =  ''RO'' And OV2400.DivisionID = OT1101.DivisionID
LEFT JOIN AT1103 WITH (NOLOCK) ON OV2400.DivisionID = AT1103.DivisionID AND OV2400.EmployeeID = AT1103.EmployeeID 
	           ' + @sFROM + ' 
LEFT JOIN OT3001 WITH (NOLOCK) ON OT3001.DivisionID = OV2400.DivisionID AND OT3001.POrderID = OV0314.PVoucherNo --AND OT3001.POrderID = OT3002.POrderID
LEFT JOIN OT3002 WITH (NOLOCK) ON OT3002.DivisionID = OV2400.DivisionID AND OT3001.POrderID = OT3002.POrderID AND OT3002.RefTransactionID = OV2400.TransactionID--OV2400.OrderID = OT3002.ROrderID 
LEFT JOIN AT2007 WITH (NOLOCK) ON AT2007.DivisionID = OV2400.DivisionID AND AT2007.OrderID = OT3001.POrderID AND AT2007.OTransactionID = OT3002.TransactionID
LEFT JOIN AT2006 WITH (NOLOCK) ON AT2006.DivisionID = OV2400.DivisionID AND AT2006.VoucherID = AT2007.VoucherID
LEFT JOIN OV1101 WITH (NOLOCK) ON OV1101.DivisionID = OT3001.DivisionID AND OV1101.OrderStatus = OT3001.OrderStatus AND OV1101.TypeID=''PO''
LEFT JOIN AT1314 WITH (NOLOCK) ON AT1314.DivisionID = OV2400.DivisionID AND AT1314.InventoryID = OV2400.InventoryID
LEFT JOIN OT1002 O1 WITH (NOLOCK) ON O1.DivisionID = OV2400.DivisionID AND O1.AnaID = OV2400.VAna01ID AND O1.AnaTypeID = ''P01''
LEFT JOIN OT1002 O2 WITH (NOLOCK) ON O2.DivisionID = OV2400.DivisionID AND O2.AnaID = OV2400.VAna02ID AND O1.AnaTypeID = ''P02''
LEFT JOIN OT1002 O3 WITH (NOLOCK) ON O3.DivisionID = OV2400.DivisionID AND O3.AnaID = OV2400.VAna03ID AND O1.AnaTypeID = ''P03''
LEFT JOIN OT1002 O4 WITH (NOLOCK) ON O4.DivisionID = OV2400.DivisionID AND O4.AnaID = OV2400.VAna04ID AND O1.AnaTypeID = ''P04''
LEFT JOIN OT1002 O5 WITH (NOLOCK) ON O5.DivisionID = OV2400.DivisionID AND O5.AnaID = OV2400.VAna05ID AND O1.AnaTypeID = ''P05''

Where  OV2400.DivisionID '+@sWhereDivision +' and ' +   
		case when @IsDate = 1 then  ' ((OV2400.OrderStatus not in (   4, 9)   and 
		CONVERT(DATETIME,CONVERT(VARCHAR(10),OV2400.VoucherDate ,101),101)  < ''' + @FromDateText  + ''' AND  
		(OV2400.OrderQuantity - isnull(OV0314.ActualQuantity0, 0) + isnull(OV2400.AdjustQuantity, 0)) > 0) or
		CONVERT(DATETIME,CONVERT(VARCHAR(10),OV2400.VoucherDate ,101),101)  BETWEEN ''' + 					
		 @FromDateText + ''' and ''' +  @ToDateText  + ''') '
		else 	' ((OV2400.OrderStatus not in ( 9, 4)   and  
		(CASE WHEN OV2400.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(OV2400.TranMonth)))+''/''+ltrim(Rtrim(str(OV2400.TranYear))) IN ('''+@PeriodList +''')  AND  
		(OV2400.OrderQuantity - isnull(OV0314.ActualQuantity0, 0) + isnull(OV2400.AdjustQuantity, 0)) > 0)) ' end +  
		  ' and  OV2400.InventoryID ' + case when @FromInventoryID = '%' then ' like ''%''' 
		else ' between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + ''''   end +
		  ' and  OV2400.ObjectID ' + case when @FromObjectID = '%' then ' like ''%''' 
		else ' between ''' + @FromObjectID + ''' and ''' + @ToObjectID + ''''   end 

END
Else	--- Khong chon nhung phieu chua giao het
BEGIN
Set @sSQL =  N'
Select  OV2400.DivisionID as DivisionID,
		OV2400.OrderID as POrderID,  
		OV2400.VoucherNo,           
		OV2400.VoucherDate as OrderDate,
		OV2400.ObjectID,
		OV2400.ObjectName,
		----OV2400.Orders,
		OV2400.OrderStatus,
		OT1101.Description as OrderStatusName,
		OV2400.InventoryID, 
		OV2400.InventoryName, 

		OV2400.UnitName,
		OV2400.Specification,
		 OV2400.InventoryTypeID,
		OV2400.OrderQuantity,
		OV2400.RequestPrice,

		(SELECT TOP 1 (ConvertedAmount/Quantity) FROM AT9000 WITH(NOLOCK) 
		WHERE DivisionID = OV2400.DivisionID AND TransactionTypeID = ''T03'' AND InventoryID = OV2400.InventoryID 
				AND VoucherDate <= OV2400.VoucherDate
		ORDER BY VoucherDate DESC) as PUnitPrice,

		isnull(OV2400.RequestPrice, 0)* isnull(OV2400.ExchangeRate, 0) as ConvertedPrice,	
		OV2400.OriginalAmount as TOriginalAmount,
		OV2400.ConvertedAmount as TConvertedAmount,
		OV2400.ShipDate,
		OV0314.ActualQuantity,
		OV0314.ActualDate,
		OV0314.PurchasePrice,
		OV0314.ConvertedAmount AS PurchaseAmount, OV0314.ObjectID AS PurchaseObjectID,
		
		case when isnull(OV2400.ShipDate, '''') = '''' or isnull(OV0314.ActualDate, '''') = '''' then 0 else 
		Datediff(day, OV2400.ShipDate, OV0314.ActualDate) end as AfterDayAmount, 
		(OV2400.OrderQuantity - isnull(OV0314.ActualQuantity, 0) + isnull(OV2400.AdjustQuantity, 0)) as RemainQuantity,
		OV2400.EmployeeID as FollowerID1, AT1103.FullName AS FollowerName1,
		OV0314.FollowerID2, OV0314.FollowerName2, OV0314.PVoucherNo,

		(SELECT TOP 1 ObjectID FROM AT9000 WITH (NOLOCK)
		WHERE DivisionID = OV2400.DivisionID AND TransactionTypeID = ''T03'' AND InventoryID = OV2400.InventoryID AND VoucherDate <= OV2400.VoucherDate
		ORDER BY VoucherDate DESC) AS LastObjectID,

		(SELECT TOP 1 VoucherDate FROM AT9000 WITH (NOLOCK)
		WHERE DivisionID = OV2400.DivisionID AND TransactionTypeID = ''T03'' AND InventoryID = OV2400.InventoryID AND VoucherDate <= OV2400.VoucherDate
		ORDER BY VoucherDate DESC) AS LastVoucherDate,
		
		OV2400.VDescription AS Description, OV2400.TDescription AS DetailDescription,
		AT2007.ActualQuantity AS ReceiveActualQuantity,
		AT2006.VoucherDate AS ReceiveActualDate,
		OT3002.Notes, OT3002.Notes01, OT3002.Notes02,  OT3002.Description AS PDescription,
		OT3001.OrderStatus AS POrderStatus, OV1101.Description AS POrderStatusName,
		AT1314.InventoryNormID, AT1314.MinQuantity, AT1314.MaxQuantity,
		OV2400.VAna01ID, OV2400.VAna02ID, OV2400.VAna03ID, OV2400.VAna04ID, OV2400.VAna05ID,
		O1.AnaName AS VAna01Name, O2.AnaName AS VAna02Name, O3.AnaName AS VAna03Name, O4.AnaName AS VAna04Name, O5.AnaName AS VAna05Name

' 

Set @sSQL1 = @sSELECT  + N'
INTO #OT2700
From OV2700  OV2400
left join OV0314 on  OV2400.TransactionID =isnull( OV0314.RefTransactionID,'''') And OV2400.DivisionID = OV0314.DivisionID
left join OT1101 WITH (NOLOCK) on OT1101.OrderStatus = OV2400.OrderStatus and TypeID =  ''RO'' And OV2400.DivisionID = OT1101.DivisionID
LEFT JOIN AT1103 WITH (NOLOCK) ON OV2400.DivisionID = AT1103.DivisionID AND OV2400.EmployeeID = AT1103.EmployeeID 
	             ' + @sFROM + ' 
LEFT JOIN OT3001 WITH (NOLOCK) ON OT3001.DivisionID = OV2400.DivisionID AND OT3001.POrderID = OV0314.PVoucherNo --AND OT3001.POrderID = OT3002.POrderID
LEFT JOIN OT3002 WITH (NOLOCK) ON OT3002.DivisionID = OV2400.DivisionID AND OT3001.POrderID = OT3002.POrderID AND OT3002.RefTransactionID = OV2400.TransactionID--OV2400.OrderID = OT3002.ROrderID 
LEFT JOIN AT2007 WITH (NOLOCK) ON AT2007.DivisionID = OV2400.DivisionID AND AT2007.OrderID = OT3001.POrderID AND AT2007.OTransactionID = OT3002.TransactionID
LEFT JOIN AT2006 WITH (NOLOCK) ON AT2006.DivisionID = OV2400.DivisionID AND AT2006.VoucherID = AT2007.VoucherID
LEFT JOIN OV1101 WITH (NOLOCK) ON OV1101.DivisionID = OT3001.DivisionID AND OV1101.OrderStatus = OT3001.OrderStatus AND OV1101.TypeID=''PO''
LEFT JOIN AT1314 WITH (NOLOCK) ON AT1314.DivisionID = OV2400.DivisionID AND AT1314.InventoryID = OV2400.InventoryID
LEFT JOIN OT1002 O1 WITH (NOLOCK) ON O1.DivisionID = OV2400.DivisionID AND O1.AnaID = OV2400.VAna01ID AND O1.AnaTypeID = ''P01''
LEFT JOIN OT1002 O2 WITH (NOLOCK) ON O2.DivisionID = OV2400.DivisionID AND O2.AnaID = OV2400.VAna02ID AND O1.AnaTypeID = ''P02''
LEFT JOIN OT1002 O3 WITH (NOLOCK) ON O3.DivisionID = OV2400.DivisionID AND O3.AnaID = OV2400.VAna03ID AND O1.AnaTypeID = ''P03''
LEFT JOIN OT1002 O4 WITH (NOLOCK) ON O4.DivisionID = OV2400.DivisionID AND O4.AnaID = OV2400.VAna04ID AND O1.AnaTypeID = ''P04''
LEFT JOIN OT1002 O5 WITH (NOLOCK) ON O5.DivisionID = OV2400.DivisionID AND O5.AnaID = OV2400.VAna05ID AND O1.AnaTypeID = ''P05''

Where OV2400.DivisionID '+@sWhereDivision +' and ' +   
		case when @IsDate = 1 then  ' OV2400.OrderStatus not in (  4, 9)   and 
		CONVERT(DATETIME,CONVERT(VARCHAR(10),OV2400.VoucherDate ,101),101)  BETWEEN ''' + 					
		 @FromDateText + ''' and ''' +  @ToDateText  + ''' '
		else 	' OV2400.OrderStatus not in (9,  4)   and  
		(CASE WHEN OV2400.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(OV2400.TranMonth)))+''/''+ltrim(Rtrim(str(OV2400.TranYear))) IN ('''+@PeriodList +''') and ' + 
		@ToMonthYearText   end +  
		  ' and  OV2400.InventoryID ' + case when @FromInventoryID = '%' then ' like ''%''' 
		else ' between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + ''''   end +
		  ' and  OV2400.ObjectID ' + case when @FromObjectID = '%' then ' like ''%''' 
		else ' between ''' + @FromObjectID + ''' and ''' + @ToObjectID + ''''   end 
END

--- Lấy số dư cong nợ của tất cả đối tượng
SET @sSQL2 = '
SELECT  ObjectID, VoucherDate,OriginalAmountCN *(-1) AS SignOriginalAmount, ConvertedAmount *(-1) AS SignConvertedAmount
INTO #AV7401
FROM AT9000 D3  WITH (NOLOCK)
INNER JOIN AT1005 WITH (NOLOCK) ON AT1005.AccountID = D3.DebitAccountID and AT1005.DivisionID = D3.DivisionID
WHERE AT1005.GroupID = ''G04''
    AND D3.DivisionID '+@sWhereDivision +'
    AND (D3.ObjectID ' + case when @FromObjectID = '%' then ' like ''%''' 
						else ' between ''' + @FromObjectID + ''' and ''' + @ToObjectID + '''' end + ') 
    AND D3.CurrencyIDCN LIKE ''%''
AND D3.DebitAccountID > = ''331'' AND D3.DebitAccountID< = ''331'' 
UNION ALL 
SELECT ObjectID, VoucherDate,OriginalAmountCN AS SignOriginalAmount, ConvertedAmount AS SignConvertedAmount
FROM AT9000 D3 WITH (NOLOCK) INNER JOIN AT1005 WITH (NOLOCK) ON AT1005.AccountID = D3.CreditAccountID and AT1005.DivisionID = D3.DivisionID
WHERE AT1005.GroupID = ''G04'' 
    AND D3.DivisionID '+@sWhereDivision +'
    AND (CASE 
            WHEN TransactionTypeID = ''T99'' 
                THEN D3.CreditObjectID 
            ELSE D3.ObjectID 
        END ' + case when @FromObjectID = '%' then ' like ''%''' 
						else ' between ''' + @FromObjectID + ''' and ''' + @ToObjectID + '''' end + ') 
    AND D3.CurrencyIDCN LIKE ''%''
AND D3.CreditAccountID > = ''331'' AND D3.CreditAccountID< = ''331'' 
'
--EXEC AP7401 ''' + @DivisionID + ''', ''%'',''331'',''331'',''B0016'',''ZXSX'''

--- Tạo table chứa dữ liệu
If exists (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OT2700]') AND type in (N'U')) 
	DROP TABLE OT2700

SET @sSQL3 = '
SELECT	#OT2700.*, AT1202.ObjectName AS LastObjectName, T02.ObjectName AS PurchaseObjectName,

		(SELECT SUM(SignConvertedAmount) FROM #AV7401 WHERE ObjectID = #OT2700.LastObjectID AND VoucherDate <= #OT2700.OrderDate
		) AS EndAmount,	--- Số dư cong nợ của đối tượng trong hóa đơn mua hàng gần nhất của mặt hàng
		
		(SELECT SUM(ConvertedAmount) FROM AT9000 WITH (NOLOCK)
		WHERE DivisionID '+@sWhereDivision +' AND ObjectID = #OT2700.LastObjectID AND VoucherDate <= #OT2700.OrderDate AND CreditAccountID=''331'' --AND TransactionTypeID = ''T03'' 
		) AS SalesAmount,	--- Doanh số mua hàng của đối tượng trong hóa đơn mua hàng gần nhất của mặt hàng

		(SELECT SUM(SignQuantity) FROM AV7000 WHERE DivisionID '+@sWhereDivision +' AND InventoryID = #OT2700.InventoryID
			AND VoucherDate <= #OT2700.OrderDate AND WareHouseID IN (''KCC'', ''KNVL'', ''KTP'')
		) AS EndQuantity	--- Số dư tồn kho của mặt hàng tại các kho KCC, KNVL, KTP
INTO OT2700
FROM #OT2700 WITH (NOLOCK)
LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND #OT2700.LastObjectID = AT1202.ObjectID
LEFT JOIN AT1202 T02 WITH (NOLOCK) ON T02.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND #OT2700.PurchaseObjectID = T02.ObjectID'

EXEC (@sSQL+@sSQL1+@sSQL2+@sSQL3)

--print @sSQL
--print @sSQL1
--select @sSQL2
--print @sSQL3

If exists (Select top 1 1 From SysObjects WITH (NOLOCK) Where name = 'OV0316' and Xtype ='V') 
	Drop view OV0316
Exec ('Create view OV0316  --tao boi OP0303_VPS
		as SELECT * FROM OT2700')

------Step3: Lay du lieu in bao cao
	---------Step3.1: Chi tiet  (OR6014, OR6015)

If @IsCheck=1 ---co chon nhung phieu chua giao het
BEGIN
Set @sSQL =  N'
Select  OV2400.DivisionID as DivisionID,
		OV2400.OrderID as POrderID,  
		OV2400.TransactionID,
		OV2400.VoucherNo,           
		OV2400.VoucherDate as OrderDate,
		OV2400.ObjectID,
		OV2400.ObjectName,
		OV2400.OrderStatus,
		OT1101.Description as OrderStatusName,
		OV2400.InventoryID, 
		OV2400.InventoryName, 

		OV2400.UnitName,
		OV2400.Specification,
		 OV2400.InventoryTypeID,
		OV2400.OrderQuantity,
		OV2400.RequestPrice,
		isnull(OV2400.RequestPrice, 0)* isnull(OV2400.ExchangeRate, 0) as ConvertedPrice,	
		OV2400.OriginalAmount as TOriginalAmount,

		OV2400.ConvertedAmount as TConvertedAmount,
		OV2400.ShipDate,
		OV0331.ActualQuantity,
		OV0331.ActualDate,
		OV0331.PurchasePrice,

		OV0331.POrderID as  ActualOrderID,
		case when isnull(OV2400.ShipDate, '''') = '''' or isnull(OV0331.ActualDate, '''') = '''' then 0 else 
		Datediff(day, OV2400.ShipDate, OV0331.ActualDate) end as AfterDayAmount, 
		(OV2400.OrderQuantity - isnull(OV0331.ActualQuantity, 0) + isnull(OV2400.AdjustQuantity, 0)) as RemainQuantity,

		OV0313.ActualQuantity as TActualQuantity,
		OV0313.ActualDate as TActualDate ,
		OV0331.POShipdate
		' 
		
Set @sSQL1 = @sSELECT + N'
From OV2700  OV2400
 left join OV0331  on  OV2400.TransactionID = OV0331.RefTransactionID And OV2400.DivisionID = OV0331.DivisionID
 left join OV0313  on OV0331.InventoryID = OV0313.InventoryID  and OV0313.OTransactionID = OV0331.TransactionID And OV2400.DivisionID = OV0313.DivisionID
left join OT1101 WITH (NOLOCK) on OT1101.OrderStatus = OV2400.OrderStatus and TypeID =  ''RO'' And OV2400.DivisionID = OT1101.DivisionID
	           ' + @sFROM + ' 
Where  OV2400.DivisionID '+@sWhereDivision +' and ' +   
		case when @IsDate = 1 then  ' ((OV2400.OrderStatus not in (   4, 9)   and 
		CONVERT(DATETIME,CONVERT(VARCHAR(10),OV2400.VoucherDate ,101),101)  < ''' + @FromDateText  + ''' AND  
		(OV2400.OrderQuantity - isnull(OV0331.ActualQuantity0, 0) + isnull(OV2400.AdjustQuantity, 0)) > 0) or
		CONVERT(DATETIME,CONVERT(VARCHAR(10),OV2400.VoucherDate ,101),101)  BETWEEN ''' + 					
		 @FromDateText + ''' and ''' +  @ToDateText  + ''') '
		else 	' ((OV2400.OrderStatus not in ( 9, 4)   and  
		(CASE WHEN OV2400.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(OV2400.TranMonth)))+''/''+ltrim(Rtrim(str(OV2400.TranYear))) IN ('''+@PeriodList +''')  AND  
		(OV2400.OrderQuantity - isnull(OV0331.ActualQuantity0, 0) + isnull(OV2400.AdjustQuantity, 0)) > 0)) ' end +  
		  ' and  OV2400.InventoryID ' + case when @FromInventoryID = '%' then ' like ''%''' 
		else ' between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + ''''   end +
		  ' and  OV2400.ObjectID ' + case when @FromObjectID = '%' then ' like ''%''' 
		else ' between ''' + @FromObjectID + ''' and ''' + @ToObjectID + ''''   end 

END
Else	--- Khong chon nhung phieu chua giao het
BEGIN
Set @sSQL =  N'
Select  OV2400.DivisionID as DivisionID,
		OV2400.OrderID as POrderID,  
		OV2400.TransactionID,
		OV2400.VoucherNo,           
		OV2400.VoucherDate as OrderDate,
		OV2400.ObjectID,
		OV2400.ObjectName,
		----OV2400.Orders,
		OV2400.OrderStatus,
		OT1101.Description as OrderStatusName,
		OV2400.InventoryID, 
		OV2400.InventoryName, 

		OV2400.UnitName,
		OV2400.Specification,
		 OV2400.InventoryTypeID,
		OV2400.OrderQuantity,
		OV2400.RequestPrice,
		isnull(OV2400.RequestPrice, 0)* isnull(OV2400.ExchangeRate, 0) as ConvertedPrice,	
		OV2400.OriginalAmount as TOriginalAmount,
		OV2400.ConvertedAmount as TConvertedAmount,
		OV2400.ShipDate,
		OV0331.ActualQuantity,
		OV0331.ActualDate,
		OV0331.PurchasePrice,
		OV0331.POrderID as  ActualOrderID,
		case when isnull(OV2400.ShipDate, '''') = '''' or isnull(OV0313.ActualDate, '''') = '''' then 0 else 
		---Datediff(day, OV2400.ShipDate, OV0331.ActualDate) end as AfterDayAmount, 

		Datediff(day, OV2400.ShipDate, OV0313.ActualDate) end as AfterDayAmount, 

		(OV2400.OrderQuantity - isnull(OV0331.ActualQuantity, 0) + isnull(OV2400.AdjustQuantity, 0)) as RemainQuantity ,
		
		OV0313.ActualQuantity as TActualQuantity,
		OV0313.ActualDate as TActualDate ,
		OV0331.POShipdate
		  ' 
		  
Set @sSQL1 = @sSELECT  + N'
From OV2700  OV2400
 left join OV0331  on OV2400.TransactionID = OV0331.RefTransactionID And OV2400.DivisionID = OV0331.DivisionID
  left join OV0313  on OV0331.InventoryID = OV0313.InventoryID  and OV0313.OTransactionID = OV0331.TransactionID And OV2400.DivisionID = OV0313.DivisionID
left join OT1101 WITH (NOLOCK) on OT1101.OrderStatus = OV2400.OrderStatus and TypeID =  ''RO'' And OV2400.DivisionID = OT1101.DivisionID
	             ' + @sFROM + ' 
Where OV2400.DivisionID '+@sWhereDivision +' and ' +   
		case when @IsDate = 1 then  ' OV2400.OrderStatus not in (  4, 9)   and 
		CONVERT(DATETIME,CONVERT(VARCHAR(10),OV2400.VoucherDate ,101),101)  BETWEEN ''' + 					
		 @FromDateText + ''' and ''' +  @ToDateText  + ''' '
		else 	' OV2400.OrderStatus not in (9,  4)   and  
		(CASE WHEN OV2400.TranMonth <10 THEN ''0'' ELSE '''' END) + rtrim(ltrim(str(OV2400.TranMonth)))+''/''+ltrim(Rtrim(str(OV2400.TranYear))) IN ('''+@PeriodList +''')' end +  
		  ' and  OV2400.InventoryID ' + case when @FromInventoryID = '%' then ' like ''%''' 
		else ' between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + ''''   end +
		  ' and  OV2400.ObjectID ' + case when @FromObjectID = '%' then ' like ''%''' 
		else ' between ''' + @FromObjectID + ''' and ''' + @ToObjectID + ''''   end 

END
---Print @sSQL


If exists (Select top 1 1 From SysObjects WITH (NOLOCK) Where name = 'OV0315' and Xtype ='V') 
	Drop view OV0315

Exec ('Create view OV0315  --tao boi OP0303_VPS
		as '+@sSQL+@sSQL1)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

