IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP3007]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[OP3007]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---Created by: Vo Thanh Huong, date: 22/11/2004
---purpose: In bao cao bo sung chi phi cho du toan don hang
---- Modified by Hải Long on 22/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
/***************************************************************
'* Edited by : [GS] [Quoc Cuong] [03/08/2010]
'**************************************************************/

CREATE PROCEDURE [dbo].[OP3007] 
    @DivisionID NVARCHAR(50),
    @SOrderID NVARCHAR(50)
AS

DECLARE @sSQL NVARCHAR(2000)

SET @sSQL = '
SELECT 
OT2004.DivisionID, 
OT2001.VoucherNo, 
OT2001.OrderDate, 
OT2001.ObjectID,
OT2001.ContractNo,
OT2001.ContractDate, 
CASE WHEN ISNULL(OT2001.ObjectName, '''') = '''' THEN AT1202.ObjectName ELSE OT2001.ObjectName END AS ObjectName, 
CASE WHEN ISNULL(OT2001.DeliveryAddress, '''') = '''' THEN AT1202.Address ELSE OT2001.DeliveryAddress END AS Address, 

OT2001.EmployeeID, 
AT1103.FullName, 
OT2004.CostID, 
OT1004.CostName, 
OT2004.Description, 
OT2004.Amount, 
OT2004.Orders 

FROM OT2004
INNER JOIN OT2001 ON OT2001.SOrderID = OT2004.SOrderID AND OT2001.DivisionID = OT2004.DivisionID 
INNER JOIN OT1004 ON OT1004.CostID = OT2004.CostID AND OT1004.DivisionID = OT2004.DivisionID 
LEFT JOIN AT1202 ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = OT2001.ObjectID
LEFT JOIN AT1103 ON AT1103.EmployeeID = OT2001.EmployeeID

WHERE OT2004.SOrderID = ''' + @SOrderID + '''
AND OT2004.DivisionID = ''' + @DivisionID + '''
'

If NOT EXISTS (SELECT Top 1 1 FROM sysObjects Where Xtype = 'V' AND Name = 'OV3012')
    EXEC('CREATE VIEW OV3012 -- Tạo bởi OP3007
        AS ' + @sSQL)
ELSE
    EXEC('ALTER VIEW OV3012 -- Tạo bởi OP3007
        AS ' + @sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO