IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP3024_SECOIN]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[OP3024_SECOIN]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Báo cáo đơn hàng sản xuất (Customerindex: 43 => Secoin)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 10/12/2014 by Phan thanh thoang vu
---- Edit by phan thanh hoang vu on 03/03/2015
---- Bo sung dieu kien loc trong
---- Modify on 27/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
/*
	Exec OP3024_SECOIN 'AS', '201401', '201603', '2014-01-01', '2016-03-30', 0,  '', '', '', '', 'ASOFTADMIN'
*/
---- 
CREATE PROCEDURE OP3024_SECOIN
(
	@DivisionID AS NVARCHAR(50),
	@FromPeriod AS INT,
	@ToPeriod AS INT,
	@FromDate AS NVARCHAR(50),  
	@ToDate AS NVARCHAR(50),
	@TimeMode as INT, -- Period=0. day = 1
	@FromObjectID as nvarchar(50),
	@ToObjectID as nvarchar(50),				
	@FromInventoryID as nvarchar(50),
	@ToInventoryID as nvarchar(50),
	@UserID as nvarchar(50)
)	

AS
Begin
DECLARE @sSQL           AS NVARCHAR(Max),
		@sSQL01           AS NVARCHAR(Max),
		@sSQL02           AS NVARCHAR(Max),
		@sWhere       AS NVARCHAR(4000),
		@sWhereTemp       AS NVARCHAR(4000)
	
	----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
			DECLARE @sSQLPer AS NVARCHAR(MAX),

					@sWHEREPer AS NVARCHAR(MAX),
					
					@sSQLPerTemp AS NVARCHAR(MAX),

					@sWHEREPerTemp AS NVARCHAR(MAX)

			SET @sSQLPer = ''

			SET @sWHEREPer = ''	
			SET @sSQLPerTemp = ''

			SET @sWHEREPerTemp = ''	
		

			IF EXISTS (SELECT TOP 1 1 FROM OT0001 WHERE DivisionID = @DivisionID AND IsPermissionView = 1 ) 
			-- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
			BEGIN
					SET @sSQLPer = ' LEFT JOIN AT0010 ON AT0010.DivisionID = DHSX.DivisionID 

														AND AT0010.AdminUserID = '''+@UserID+''' 

														AND AT0010.UserID = DHSX.CreateUserID '

					SET @sWHEREPer = ' AND (DHSX.CreateUserID = AT0010.UserID

											OR  DHSX.CreateUserID = '''+@UserID+''') '	

					SET @sSQLPerTemp = ' LEFT JOIN AT0010 ON AT0010.DivisionID = M.DivisionID 

														AND AT0010.AdminUserID = '''+@UserID+''' 

														AND AT0010.UserID = M.CreateUserID '

					SET @sWHEREPerTemp = ' AND (M.CreateUserID = AT0010.UserID

											OR  M.CreateUserID = '''+@UserID+''') '	
					

				END
	-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	

	SET @sWhere = ' 1 = 1 '
	SET @sWhereTemp = ' 1 = 1 and M.OrderType = 1 '
	
	IF isnull(@DivisionID, '') != ''
		Begin
			Set @sWhere = @sWhere +  ' And DHSX.DivisionID Like N''' + @DivisionID + ''''
			Set @sWhereTemp = @sWhereTemp +  ' And M.DivisionID Like N''' + @DivisionID + ''''
			
		End
	IF @TimeMode = 1
		Begin
			Set @sWhere = @sWhere + N' AND CONVERT(NVARCHAR(10),DHSX.VoucherDate, 21) BETWEEN '''
												+ CONVERT(NVARCHAR(10),@FromDate,21)+ ''' AND '''
												+ CONVERT(NVARCHAR(10),@ToDate,21) + ''' '
			
			
			Set @sWhereTemp = @sWhereTemp + N' AND CONVERT(NVARCHAR(10), M.OrderDate, 21) BETWEEN '''
												+ CONVERT(NVARCHAR(10),@FromDate,21)+ ''' AND '''
												+ CONVERT(NVARCHAR(10),@ToDate,21) + ''' '
		End
	Else
		Begin
			Set @sWhere = @sWhere + N' AND DHSX.TranYear*100 + DHSX.TranMonth BETWEEN '
										+ CONVERT(NVARCHAR(10), @FromPeriod) 
										+ ' AND '+CONVERT(NVARCHAR(10), @ToPeriod)
										+ ' '
			Set @sWhereTemp = @sWhereTemp + N' AND M.TranYear*100 + M.TranMonth BETWEEN '
											+ CONVERT(NVARCHAR(10), @FromPeriod) 
											+ ' AND '+CONVERT(NVARCHAR(10), @ToPeriod)
											+ ' '
		End
	
	IF (isnull(@FromObjectID, '') != '' and isnull(@ToObjectID, '') != '')
	Begin
		Set @sWhere = @sWhere + ' and (DHSX.ObjectID between ''' + @FromObjectID + ''' And ''' + @ToObjectID + ''')'
		Set @sWhereTemp = @sWhereTemp + ' and (M.ObjectID between ''' + @FromObjectID + ''' And ''' + @ToObjectID + ''')'
	End
	IF (isnull(@FromInventoryID, '') != '' and isnull(@ToInventoryID, '') != '')
	Begin
		Set @sWhere = @sWhere + ' and (DHSX.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')'
		Set @sWhereTemp = @sWhereTemp + ' and (D.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')'
	End
	Set @sSQL = '
			DECLARE @Temp table 
			(	--Luu gia tri con lai
				DivisionID Nvarchar(50),
				VoucherID Nvarchar(50),
				TransactionID Nvarchar(50),
				RemainQuantity decimal(28,8),
				RamainConvertedQuantity decimal(28,8)
			)

			Insert into @Temp (DivisionID, VoucherID, TransactionID, RemainQuantity, RamainConvertedQuantity)
			Select M.DivisionID, M.SOrderID, D.TransactionID,
					Isnull(D.OrderQuantity,0)-Sum(Isnull(KQSX.Quantity,0)),
					isnull(D.ConvertedQuantity,0)-Sum(isnull(KQSX.ConvertedQuantity,0))

			from OT2001 M inner join OT2002 D on M.DivisionID = D.DivisionID and M.SOrderID = D.SOrderID
							Left join (
										Select M.DivisionID, M.VoucherID, D.TransactionID, M.VoucherNo, D.InventoryID, Isnull(D.Quantity,0) as Quantity, 
											Isnull(D.ConvertedQuantity, 0) as ConvertedQuantity, D.InheritVoucherID, D.InheritTransactionID
										from MT2007 M inner join MT2008 D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
										Where M.DivisionID = '''+ @DivisionID+ '''
									) as PGV on D.DivisionID = PGV.DivisionID and D.SOrderID = PGV.InheritVoucherID 
												and D.TransactionID = PGV.InheritTransactionID
							Left join (	
										Select M.DivisionID, M.VoucherID, D.TransactionID, M.VoucherNo, M.VoucherDate,D.InventoryID, 
												Isnull(D.Quantity,0) as Quantity, Isnull(D.ConvertedQuantity, 0) as ConvertedQuantity, 
												D.InheritVoucherID, D.InheritTransactionID, D.Ana01ID
										from MT0810 M inner join MT1001 D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
										Where M.DivisionID = '''+ @DivisionID+ ''' and M.IsPhase = 2
										Union all
										
										Select M.DivisionID, M.VoucherID, D.TransactionID, M.VoucherNo, M.VoucherDate, D.ProductID as InventoryID, 
												Isnull(D.Quantity,0) as Quantity, Isnull(D.ConvertedQuantity, 0) as ConvertedQuantity, 
												KQSX.InheritVoucherID, KQSX.InheritTransactionID, D.Ana01ID
										from MT0810 M inner join MT1001 D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
														Left join (
																	Select M.DivisionID, M.VoucherID, D.TransactionID,
																			D.Quantity, D.ConvertedQuantity, D.InheritVoucherID, D.InheritTransactionID
																	from MT0810 M inner join MT1001 D on M.DivisionID = D.DivisionID 
																										and M.VoucherID = D.VoucherID
																	Where M.DivisionID = '''+ @DivisionID+ ''' and M.IsPhase = 1 and M.Isjob = 1
																	) KQSX on D.DivisionID=KQSX.DivisionID and D.InheritVoucherID = KQSX.VoucherID 
																										and D.InheritTransactionID = KQSX.TransactionID
										Where M.DivisionID = '''+ @DivisionID+ ''' and M.IsPhase = 1 and M.IsResult = 1
									) KQSX on PGV.DivisionID = KQSX.DivisionID and PGV.VoucherID = KQSX.InheritVoucherID 
																						and PGV.TransactionID = KQSX.InheritTransactionID
							Left join AT1202 on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = M.ObjectID
			'+ @sSQLPerTemp +' Where ' + @sWhereTemp + @sWHEREPerTemp+' 
			Group by M.DivisionID,M.SOrderID, D.TransactionID, D.OrderQuantity, D.ConvertedQuantity '

	
	Set @sSQL01 ='Select 
	   DHSX.DivisionID, 
	   DHSX.VoucherDate,
	   DHSX.VoucherNo, 
	   DHSX.ImVoucherDate,
	   DHSX.ImVoucherNo,
	   DHSX.ObjectID,
	   AT1202.ObjectName,
	   DHSX.InventoryID,
	   AT1302.InventoryName, 
	   DHSX.UnitID,
	   AT1304.UnitName,
	   AT1302.I02ID as AnaID02,
	   AT1015.AnaName as AnaName02, 
	   DHSX.OrderQuantity,
	   DHSX.ImQuantity,
	   DHSX.RemainQuantity,
	   AV2001.Name as Notes,--DHSX.Notes,
	   DHSX.ConvertedQuantity,
	   DHSX.ImConvertedQuantity,
	   DHSX.RamainConvertedQuantity,
	   DHSX.VoucherTypeID, DHSX.ClassifyID, DHSX.OrderType,
	   DHSX.InventoryTypeID, DHSX.TranMonth, DHSX.TranYear, DHSX.EmployeeID, DHSX.DepartmentID, DHSX.PeriodID,
	   DHSX.EndDate, DHSX.CreateDate, DHSX.CreateUserID, DHSX.LastModifyUserID, DHSX.LastModifyDate,
	   DHSX.Ana01ID,A01.AnaName as Ana01Name,
	   DHSX.Ana02ID,A02.AnaName as Ana02Name,
	   DHSX.Ana03ID,A03.AnaName as Ana03Name,
	   DHSX.Ana04ID,A04.AnaName as Ana04Name,
	   DHSX.Ana05ID,A05.AnaName as Ana05Name,
	   DHSX.Ana06ID,A06.AnaName as Ana06Name,
	   DHSX.Ana07ID,A07.AnaName as Ana07Name,
	   DHSX.Ana08ID,A08.AnaName as Ana08Name,
	   DHSX.Ana09ID,A09.AnaName as Ana09Name,
	   DHSX.Ana10ID,A10.AnaName as Ana10Name
from 
(
--Lay ket qua san xuat cua don hang san xuat
Select M.DivisionID, M.OrderDate as VoucherDate, M.VoucherNo, TEM.RemainQuantity,TEM.RamainConvertedQuantity,
	   Case when TEM.RemainQuantity<=0 then 3 else 4 end Notes,
	   KQSX.VoucherDate as ImVoucherDate, KQSX.VoucherNo as ImVoucherNo,
	   M.ObjectID, D.InventoryID, D.UnitID, D.OrderQuantity,
	   Sum(KQSX.Quantity) as ImQuantity, D.ConvertedQuantity as ConvertedQuantity,
	   Sum(KQSX.ConvertedQuantity) as ImConvertedQuantity,
	   M.VoucherTypeID, M.ClassifyID, M.OrderType,
	   M.InventoryTypeID, M.TranMonth, M.TranYear, M.EmployeeID, M.DepartmentID, M.PeriodID,
	   KQSX.Ana01ID,D.Ana02ID,D.Ana03ID,D.Ana04ID,D.Ana05ID,D.Ana06ID,D.Ana07ID,D.Ana08ID,
	   D.Ana09ID,D.Ana10ID, D.EndDate, M.CreateDate, M.CreateUserID, M.LastModifyUserID, M.LastModifyDate
from OT2001 M inner join OT2002 D on M.DivisionID = D.DivisionID and M.SOrderID = D.SOrderID
			  Left join (
							Select M.DivisionID, M.VoucherID, D.TransactionID, M.VoucherNo, D.InventoryID, D.Quantity, 
								D.ConvertedQuantity, D.InheritVoucherID, D.InheritTransactionID
							from MT2007 M inner join MT2008 D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
							Where M.DivisionID = '''+@DivisionID+'''
						) as PGV on D.DivisionID = PGV.DivisionID and D.SOrderID = PGV.InheritVoucherID and D.TransactionID = PGV.InheritTransactionID
			  Left join (	--Trường hợp: Sản xuất 1 công đoạn
							Select M.DivisionID, M.VoucherID, D.TransactionID, M.VoucherNo, M.VoucherDate,D.InventoryID, D.Quantity, 
								D.ConvertedQuantity, D.InheritVoucherID, D.InheritTransactionID, D.Ana01ID
							from MT0810 M inner join MT1001 D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
							Where M.DivisionID = '''+@DivisionID+''' and M.IsPhase = 2
							Union all
							--Trường hợp: Sản xuất 2 công đoạn [Thành phẩm]
							Select M.DivisionID, M.VoucherID, D.TransactionID, M.VoucherNo, M.VoucherDate, D.ProductID as InventoryID, D.Quantity, 
								D.ConvertedQuantity, KQSX.InheritVoucherID, KQSX.InheritTransactionID, D.Ana01ID
							from MT0810 M inner join MT1001 D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
										  Left join (--Trường hợp: Sản xuất 2 công đoạn [Bán thành phẩm]
														Select M.DivisionID, M.VoucherID, D.TransactionID,
															  D.Quantity, D.ConvertedQuantity, D.InheritVoucherID, D.InheritTransactionID
														from MT0810 M inner join MT1001 D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
														Where M.DivisionID = '''+@DivisionID+''' and M.IsPhase = 1 and M.Isjob = 1'
Set @sSQL02 =													') KQSX on D.DivisionID=KQSX.DivisionID and D.InheritVoucherID = KQSX.VoucherID 
																						   and D.InheritTransactionID = KQSX.TransactionID
							Where M.DivisionID = '''+@DivisionID+''' and M.IsPhase = 1 and M.IsResult = 1
						) KQSX on PGV.DivisionID = KQSX.DivisionID and PGV.VoucherID = KQSX.InheritVoucherID 
																		   and PGV.TransactionID = KQSX.InheritTransactionID
			 Left join AT1202 on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = M.ObjectID
			 Left join @Temp TEM on M.DivisionID = TEM.DivisionID and M.SOrderID = TEM.VoucherID and D.TransactionID = TEM.TransactionID 
Where M.OrderType = 1 and M.DivisionID = '''+@DivisionID+'''
Group by M.DivisionID, M.OrderDate, M.VoucherNo, TEM.RemainQuantity,TEM.RamainConvertedQuantity,
	   KQSX.VoucherDate, KQSX.VoucherNo,
	   M.ObjectID, D.InventoryID, D.UnitID, D.OrderQuantity,
	   D.ConvertedQuantity,
	   M.VoucherTypeID, M.ClassifyID, M.OrderType,
	   M.InventoryTypeID, M.TranMonth, M.TranYear, M.EmployeeID, M.DepartmentID, M.PeriodID,
	   KQSX.Ana01ID,D.Ana02ID,D.Ana03ID,D.Ana04ID,D.Ana05ID,D.Ana06ID,D.Ana07ID,D.Ana08ID,
	   D.Ana09ID,D.Ana10ID, D.EndDate, M.CreateDate, M.CreateUserID, M.LastModifyUserID, M.LastModifyDate
	   

) DHSX  Left join AT1202 on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND DHSX.ObjectID = AT1202.ObjectID
		Left join AT1302 on AT1302.DivisionID IN (''@@@'', DHSX.DivisionID) AND DHSX.InventoryID = AT1302.InventoryID
		Left join AT1304 on DHSX.UnitID = AT1304.UnitID
		Left join AV2001 on AV2001.ID = DHSX.Notes
		Left join AT1015 on AT1302.I02ID = AT1015.AnaID and AT1015.AnaTypeID = ''I02''
		Left join AT1011 A01 on DHSX.Ana01ID = A01.AnaID and A01.AnaTypeID = ''A01''
		Left join AT1011 A02 on DHSX.Ana02ID = A02.AnaID and A02.AnaTypeID = ''A02''
		Left join AT1011 A03 on DHSX.Ana03ID = A03.AnaID and A03.AnaTypeID = ''A03''
		Left join AT1011 A04 on DHSX.Ana04ID = A04.AnaID and A04.AnaTypeID = ''A04''
		Left join AT1011 A05 on DHSX.Ana05ID = A05.AnaID and A05.AnaTypeID = ''A05''
		Left join AT1011 A06 on DHSX.Ana06ID = A06.AnaID and A06.AnaTypeID = ''A06''
		Left join AT1011 A07 on DHSX.Ana07ID = A07.AnaID and A07.AnaTypeID = ''A07''
		Left join AT1011 A08 on DHSX.Ana08ID = A08.AnaID and A08.AnaTypeID = ''A08''
		Left join AT1011 A09 on DHSX.Ana09ID = A09.AnaID and A09.AnaTypeID = ''A09''
		Left join AT1011 A10 on DHSX.Ana10ID = A10.AnaID and A10.AnaTypeID = ''A10''
		
		'+ @sSQLPer +' Where ' + @sWhere + @sWHEREPer 
	EXEC (@sSQL+@sSQL01+@sSQL02)
	Print (@sSQL)
	Print (@sSQL01)
	Print (@sSQL02)
End

