IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP5012]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[OP5012]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Create Procedure : Nguyen Thi Thuy Tuyen
----Create Date :24/05/06
----Purpose :
---- Edit by :
/********************************************
'* Edited by: [GS] [Thành Nguyên] [04/08/2010]
'********************************************/
---- Modified by TIểu Mai on 24/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

CREATE PROCEDURE  [dbo].[OP5012]  
					@DivisionID nvarchar(50),
					@SOrderID as nvarchar(50)
AS

Declare @sSQL1 as nvarchar(4000) 

Set @sSQL1 ='
Select 	
	OT2001.DivisionID,
	OT2001.SOrderID,
	OT2001.ObjectID,
	AT1202.ObjectName,
	OT2001.OrderDate,
	OT2002.InventoryID,
	AT1302.InventoryName,
	OT2002.OrderQuantity,
	OT2001.Notes	
From OT2001 WITH (NOLOCK) inner Join AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = OT2001.ObjectID
	inner Join OT2002 WITH (NOLOCK) on OT2002.SOrderID= OT2001.SOrderID
	left join AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (''@@@'', OT2002.DivisionID) AND AT1302.InventoryID = OT2002.InventoryID
Where OT2001.SOrderID = N'''+@SOrderID+''' '

--print @sSQL1
-----------
If not exists (SELECT Top 1 1 From sysObjects Where XType = 'V'  and Name = 'OV5013')
	EXEC('Create view OV5013 ---tao boi OP5012 as ' + @sSQL1)
Else
	EXEC('Alter View OV5013 ---tao boi OP5012 as '+ @sSQL1)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
