DECLARE @CustomerName INT
SET @CustomerName = (SELECT CustomerName FROM CustomerIndex)


DELETE A00065 WHERE ImportTransTypeID = 'DeliveryStatus'
DELETE A01065 WHERE ImportTemplateID = 'DeliveryStatus'

IF NOT EXISTS (SELECT TOP 1 1 FROM A01065 WHERE ImportTemplateID = 'DeliveryStatus')
exec sp_executesql N'
      INSERT INTO A01065(
      ImportTemplateID,
      ImportTemplateName,
      ImportTransTypeID,
      DefaultSheet,
      AnchorCol,
      StartRow,
      DataFolder,
      DefaultFileName,
      Disabled,
      CreateUserID,
      CreateDate,
      LastModifyUserID,
      LastModifyDate
      ) VALUES (
      @ImportTemplateID,
      @ImportTemplateName,
      @ImportTransTypeID,
      @DefaultSheet,
      @AnchorCol,
      @StartRow,
      @DataFolder,
      @DefaultFileName,
      @Disabled,
      ''ASOFTADMIN'',
      GETDATE(),
      ''ASOFTADMIN'',
      GETDATE()
      )
    ',N'@ImportTemplateID nvarchar(50),@ImportTemplateName nvarchar(50),@ImportTransTypeID nvarchar(50),@DefaultSheet nvarchar(4),@AnchorCol nvarchar(1),@StartRow int,@DataFolder nvarchar(10),@DefaultFileName nvarchar(50),@Disabled tinyint',@ImportTemplateID=N'DeliveryStatus',@ImportTemplateName=N'Tiến độ nhận hàng',@ImportTransTypeID=N'DeliveryStatus',@DefaultSheet=N'Data',@AnchorCol=N'A',@StartRow=10,@DataFolder=N'C:\IMPORTS',@DefaultFileName=N'Import_Excel_TienDoNhanHang',@Disabled=0
