---Modified on 27/5/2019 by Hồng Thảo: Xóa file import cho khách hàng CBD vì không dùng 
---Modified on 29/08/2023 by Mạnh Cường: Cập nhật - Fix tải mẫu import bảng phân ca bị lỗi
DECLARE @CustomerName INT
SET @CustomerName = (SELECT CustomerName FROM CustomerIndex)

IF @CustomerName = 103
BEGIN 
DELETE A00065 WHERE ImportTransTypeID = 'TableAssignShift'
END 
ELSE 

BEGIN 

DELETE A00065 WHERE ImportTransTypeID = 'TableAssignShift'


DELETE FROM A01065 WHERE ImportTemplateID = 'TableAssignShift'
IF NOT EXISTS (SELECT TOP 1 1 FROM A01065 WHERE ImportTemplateID = 'TableAssignShift')
exec sp_executesql N'
      INSERT INTO A01065(
      ImportTemplateID,
      ImportTemplateName,
      ImportTransTypeID,
      DefaultSheet,
      AnchorCol,
      StartRow,
      DataFolder,
      DefaultFileName,
      Disabled,
      CreateUserID,
      CreateDate,
      LastModifyUserID,
      LastModifyDate
      ) VALUES (
      @ImportTemplateID,
      @ImportTemplateName,
      @ImportTransTypeID,
      @DefaultSheet,
      @AnchorCol,
      @StartRow,
      @DataFolder,
      @DefaultFileName,
      @Disabled,
      ''ASOFTADMIN'',
      GETDATE(),
      ''ASOFTADMIN'',
      GETDATE()
      )
    ',N'@ImportTemplateID nvarchar(50),@ImportTemplateName nvarchar(50),@ImportTransTypeID nvarchar(50),@DefaultSheet nvarchar(4),@AnchorCol nvarchar(1),@StartRow int,@DataFolder nvarchar(10),@DefaultFileName nvarchar(50),@Disabled tinyint',@ImportTemplateID=N'TableAssignShift',@ImportTemplateName=N'Bảng phân ca'
	,@ImportTransTypeID=N'TableAssignShift',@DefaultSheet=N'Data',@AnchorCol=N'A',@StartRow=10,@DataFolder=N'C:\IMPORTS',@DefaultFileName=N'Import_Excel_BangPhanCa.xlsx',@Disabled=0

END 




 
