-- <Summary>
---- Insert dữ liệu ngầm vào bảng HT0099
-- <History>
---- Create on 03/02/2015 by Bảo Anh: Bổ sung dữ liệu ngầm cho trạng thái duyệt đi trễ, về sớm
---- Modified on 28/07/2021 by Hoài Bảo: Bổ sung dữ liệu cột [CodeMasterName]
---- <Example>
DECLARE @CodeMaster VARCHAR(50), @OrderNo INT, @ID VARCHAR(50), @Description NVARCHAR(250), @DescriptionE NVARCHAR(250), @Disabled TINYINT, @CodeMasterName NVARCHAR(MAX)

------------------------------------------------------------------------------TRẠNG THÁI DUYỆT ĐI TRỄ, VỀ SỚM---------------------------------------------------------------------------------------------
SET @CodeMaster = 'ConfirmInOut' SET @CodeMasterName = N'Xác nhận vào/ra' 
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Chưa duyệt' SET @DescriptionE = N'Not confirmed' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Đồng ý' SET @DescriptionE = N'OK' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Không đồng ý' SET @DescriptionE = N'Not OK' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
----Modified by Bảo Thy on 17/07/2017: Bổ sung dữ liệu ngầm combo Không hiển thị (HRM-9.0)
SET @CodeMaster = 'Disabled' SET @CodeMasterName = N'Không hiển thị'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Không' SET @DescriptionE = N'No' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Có' SET @DescriptionE = N'Yes' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'Proficient' SET @CodeMasterName = N'Trình độ tin học (Màn hình cập nhật hồ sơ ứng viên - HRMF1031)'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Cơ bản' SET @DescriptionE = N'Basic' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Trung bình' SET @DescriptionE = N'Intermidiate' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Nâng cao' SET @DescriptionE = N'Advanced' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'Gender' SET  @CodeMasterName = N'Giới tính (Màn hình cập nhật hồ sơ ứng viên - HRMF1031)'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Nam' SET @DescriptionE = N'Male' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Nữ' SET @DescriptionE = N'Female' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Khác' SET @DescriptionE = N'Other' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'RecruitStatus' SET @CodeMasterName = N'Trạng thái tuyển dụng (Màn hình xác nhận tuyển dụng - HRMF2054)'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Tạo mới' SET @DescriptionE = N'Add new' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Chờ phỏng vấn' SET @DescriptionE = N'Waitting for interviewing' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Không phù hợp' SET @DescriptionE = N'Unsuitable' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 3  SET @ID = '3' SET @Description = N'Đang phỏng vấn' SET @DescriptionE = N'Interviewing' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 4  SET @ID = '4' SET @Description = N'Chờ nhận việc' SET @DescriptionE = N'Waitting' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 5  SET @ID = '5' SET @Description = N'Đã nhận việc' SET @DescriptionE = N'Accepted' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 6  SET @ID = '6' SET @Description = N'Từ chối nhận việc' SET @DescriptionE = N'Denied' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 7  SET @ID = '7' SET @Description = N'Hủy' SET @DescriptionE = N'Cancel' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'WorkType' SET @CodeMasterName = N'Hình thức làm việc (Màn hình Cập nhật hồ sơ ứng viên - HRMF1031)'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Toàn thời gian' SET @DescriptionE = N'Full time' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Bán thời gian' SET @DescriptionE = N'Part time' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Cộng tác viên' SET @DescriptionE = N'' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'Status' SET @CodeMasterName = N'Trạng thái duyệt (Màn hình Kế hoạch tuyển dụng - HRMF2000)'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Chờ duyệt' SET @DescriptionE = N'Waiting' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Duyệt' SET @DescriptionE = N'Approved' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Từ chối' SET @DescriptionE = N'Rejected' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'ResultFormat' SET @CodeMasterName = N'Định dạng kết quả (Màn hình cập nhật hình thức phỏng vấn - HRMF1011)'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Số' SET @DescriptionE = N'Number' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Chuỗi' SET @DescriptionE = N'String' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Xếp loại' SET @DescriptionE = N'Rate' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'InterviewConfirm' SET @CodeMasterName = N'Xác nhận phỏng vấn (Màn hình cập nhật lịch phỏng vấn - HRMF2031)'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Từ chối phỏng vấn' SET @DescriptionE = N'Denied' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Xác nhận phỏng vấn' SET @DescriptionE = N'Accepted' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'RecruitmentModule' SET @CodeMasterName = N'Module tuyển dụng' 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Nguồn phỏng vấn' SET @DescriptionE = N'Interview resource' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Hình thức phỏng vấn' SET @DescriptionE = N'Interview type' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 3  SET @ID = '3' SET @Description = N'Định biên tuyển dụng' SET @DescriptionE = N'Recruitment boundary' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 4  SET @ID = '4' SET @Description = N'Hồ sơ ứng viên' SET @DescriptionE = N'Candidate file' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 5  SET @ID = '5' SET @Description = N'Kế hoạch tuyển dụng' SET @DescriptionE = N'Recruitment plan' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 6  SET @ID = '6' SET @Description = N'Yêu cầu tuyển dụng' SET @DescriptionE = N'Interview require' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 7  SET @ID = '7' SET @Description = N'Đợt tuyển dụng' SET @DescriptionE = N'Recruitment period' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 8  SET @ID = '8' SET @Description = N'Lịch phỏng vấn' SET @DescriptionE = N'Interview schedule' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 9  SET @ID = '9' SET @Description = N'Kết quả phỏng vấn' SET @DescriptionE = N'Interview result' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 10  SET @ID = '10' SET @Description = N'Quyết định tuyển dụng' SET @DescriptionE = N'Recruitment decision' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

SET @CodeMaster = 'HistoryAction' SET @CodeMasterName = N'Lịch sử hành động (Màn hình xem thông tin hồ sơ tuyển dụng - HRMF2032)'
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Tạo mới' SET @DescriptionE = N'Add new' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Chỉnh sửa' SET @DescriptionE = N'Edit' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID

SET @CodeMaster = 'TrainingModule' SET @CodeMasterName = N'Module đào tạo'
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Lĩnh vực đào tạo' SET @DescriptionE = N'Training field' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Ngân sách đào tạo' SET @DescriptionE = N'Interview budget' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID  
SET @OrderNo = 3  SET @ID = '3' SET @Description = N'Khóa đào tạo' SET @DescriptionE = N'Training Course' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID
SET @OrderNo = 4  SET @ID = '4' SET @Description = N'Kế hoạch đào tạo định kỳ' SET @DescriptionE = N'Training Plan' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID
SET @OrderNo = 5  SET @ID = '5' SET @Description = N'Yêu cầu đào tạo' SET @DescriptionE = N'Training Request' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID
SET @OrderNo = 6  SET @ID = '6' SET @Description = N'Đề xuất đào tạo' SET @DescriptionE = N'Training Propose' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID
SET @OrderNo = 7  SET @ID = '7' SET @Description = N'Lịch đào tạo' SET @DescriptionE = N'Training Schedule' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID
SET @OrderNo = 8  SET @ID = '8' SET @Description = N'Ghi nhận chi phí' SET @DescriptionE = N'Training Cost' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID
SET @OrderNo = 9  SET @ID = '9' SET @Description = N'Ghi nhận kết quả' SET @DescriptionE = N'Training Result' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID

SET @CodeMaster = 'TrainingType' SET @CodeMasterName = N'Hình thức đào tạo (Màn hình Danh mục lịch đào tạo - HRMF2100)'
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Đào tạo bên ngoài' SET @DescriptionE = N'Outside Training' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Đào tạo nội bộ' SET @DescriptionE = N'Internal Training' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID

-- Modify by Khả Vi on 30/11/2017: Bổ sung đánh giá xếp loại cho hình thức phỏng vấn 
SET @CodeMaster = 'Rate' SET @CodeMasterName = N'Đánh giá xếp loại cho hình thức phỏng vấn'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Yếu' SET @DescriptionE = N'Eeak' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Dưới Trung Bình' SET @DescriptionE = N'Below Average' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Trung Bình' SET @DescriptionE = N'Average' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 3  SET @ID = '3' SET @Description = N'Khá' SET @DescriptionE = N'Rather' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 4  SET @ID = '4' SET @Description = N'Tốt' SET @DescriptionE = N'Good' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

-- Modify by Phương Thảo on 10/08/2023: Bổ sung Trạng thái hợp đồng
SET @CodeMaster = 'StatusRecieve' SET @CodeMasterName = N'Trạng thái hợp đồng'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Chưa ký' SET @DescriptionE = N'Unsigned' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Đã kí' SET @DescriptionE = N'Signed' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Đã chấm dứt' SET @DescriptionE = N'Ended' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 3  SET @ID = '3' SET @Description = N'Tạm ngừng' SET @DescriptionE = N'pause' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 4  SET @ID = '4' SET @Description = N'Hết hiệu lực' SET @DescriptionE = N'Expire' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

-- Modify by Phương Thảo on 10/08/2023: Bổ sung Thông tin bênh viện 
SET @CodeMaster = 'HospitalID' SET @CodeMasterName = N'Tên bệnh  viện'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Bệnh viện Chợ Rẫy' SET @DescriptionE = N'Cho Ray Hospital' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Bệnh viện Thống Nhất' SET @DescriptionE = N'Thong Nhat Hospital' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Viện Răng - Hàm - Mặt TP.HCM' SET @DescriptionE = N'Institute of Dentistry - Jaw - Face Ho Chi Minh City' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 3  SET @ID = '3' SET @Description = N'Bệnh viện Nhân dân Gia Định' SET @DescriptionE = N'Gia Dinh People Hospital' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 4  SET @ID = '4' SET @Description = N'Bệnh viện Trưng Vương' SET @DescriptionE = N'Trung Vuong Hospital' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 

-- Modify by Thu Hà on 20/09/2023: Bổ sung Trạng thái nhân viên
SET @CodeMaster = 'EmployeeStatus' SET @CodeMasterName = N'Trạng thái nhân viên'
SET @OrderNo = 0  SET @ID = '0' SET @Description = N'Tuyển dụng' SET @DescriptionE = N'Recruitment' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 1  SET @ID = '1' SET @Description = N'Đang làm' SET @DescriptionE = N'Doing' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 2  SET @ID = '2' SET @Description = N'Thử việc' SET @DescriptionE = N'TryJob' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
SET @OrderNo = 3  SET @ID = '3' SET @Description = N'Tạm nghỉ' SET @DescriptionE = N'pause' SET @Disabled = 0 IF NOT EXISTS (SELECT TOP 1 1 FROM HT0099 WHERE CodeMaster = @CodeMaster AND ID = @ID) INSERT INTO HT0099 (CodeMaster, OrderNo, ID, [Description],DescriptionE, [Disabled], CodeMasterName) VALUES (@CodeMaster, @OrderNo, @ID, @Description, @DescriptionE, @Disabled, @CodeMasterName) ELSE UPDATE HT0099 SET OrderNo = @OrderNo, [Description] = @Description,DescriptionE = @DescriptionE, [Disabled] =@Disabled, CodeMasterName = @CodeMasterName WHERE CodeMaster = @CodeMaster AND ID = @ID 
