--- Author : Generated by Asoft Script Writer 1.0
--- Purpose : add a new column to table
--- Date : 17/02/2014

If Exists (Select * From sysobjects Where name = 'A00001' and xtype ='U') 
Begin
           If not exists (select * from syscolumns col inner join sysobjects tab 
           On col.id = tab.id where tab.name =   'A00001'  and col.name = 'FormID')
           Alter Table A00001 Add FormID nvarchar(50) Null
End