IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[FP0054]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[FP0054]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- FP0054
-- <Summary>
---- Stored Đổ nguồn màn hình danh sách công cụ dụng cụ xuất trong kỳ
---- Created on 28/07/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 28/11/2017 by Khả Vi: Bổ sung trường số tiền còn lại (ResidualValue) 
/* <Example>
	EXEC FP0054 @DivisionID = 'QV', @UserID = '', @TranMonth = 7, @TranYear = 2017, @strWhere = ''	
	
	EXEC FP0054 @DivisionID, @UserID, @TranMonth, @TranYear, @strWhere
*/
CREATE PROCEDURE [dbo].[FP0054]
	@DivisionID NVARCHAR(50),
	@UserID NVARCHAR(50),	
	@TranMonth AS INT,
	@TranYear AS INT,
	@strWhere AS NVARCHAR(MAX)
AS

DECLARE @sSQL NVARCHAR(MAX)

IF ISNULL(@strWhere, '') = ''
BEGIN
	SET @strWhere = ''
END

SET @sSQL = '
SELECT * 
FROM 
(
	SELECT APK, AT1603.DivisionID, ToolID, ToolName, SerialNo, InventoryID, CreditAccountID, DebitAccountID, ApportionRate,
	MethodID, ActualQuantity, Periods, UseStatus, ConvertedAmount, BeginMonth, BeginYear, Description, ReTransactionID,
	ReVoucherID, CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, ObjectID, IsUsed, ApportionAmount, AT1603.VoucherID,
	(CASE WHEN TB.CountVoucherNo > 1 THEN NULL ELSE TB.VoucherNo END) VoucherNo, 
	Ana01ID, Ana02ID, Ana03ID, Ana04ID, Ana05ID, Ana06ID, Ana07ID, Ana08ID, Ana09ID, Ana10ID,
	Parameter01, Parameter02, Parameter03, Parameter04, Parameter05, Parameter06, Parameter07, Parameter08, Parameter09, Parameter10,
	Parameter11, Parameter12, Parameter13, Parameter14, Parameter15, Parameter16, Parameter17, Parameter18, Parameter19, Parameter20,
	DepPeriod, EstablishDate, ParentVoucherID, PeriodID, IsMultiAccount, ResidualValue
	FROM AT1603 WITH (NOLOCK)
	LEFT JOIN 
	(
		SELECT AT1633.DivisionID, AT1633.VoucherID,
		STUFF((
			SELECT '', '' + [VoucherNo] 
			FROM AT1633 TB1633 WITH (NOLOCK)
			INNER JOIN AT9000 TB9000 WITH (NOLOCK) ON TB9000.DivisionID = TB1633.DivisionID AND TB9000.VoucherID = TB1633.ReVoucherID AND TB9000.TransactionID = TB1633.RetransactionID		
			WHERE TB1633.DivisionID = ''' + @DivisionID + '''
			AND TB1633.VoucherID = AT1633.VoucherID
			GROUP BY TB1633.DivisionID, TB1633.VoucherID, VoucherNo
			FOR XML PATH(''''),TYPE).value(''(./text())[1]'',''VARCHAR(MAX)''),1,2,''''
		) AS VoucherNo,
		(SELECT COUNT(DISTINCT ReVoucherID) FROM AT1633 TB1633 WITH (NOLOCK) WHERE TB1633.VoucherID = AT1633.VoucherID) AS CountVoucherNo
		FROM AT1633 WITH (NOLOCK)
		INNER JOIN AT9000 WITH (NOLOCK) ON AT9000.DivisionID = AT1633.DivisionID AND AT9000.VoucherID = AT1633.ReVoucherID AND AT9000.TransactionID = AT1633.RetransactionID
		GROUP BY AT1633.DivisionID, AT1633.VoucherID
	) TB ON AT1603.DivisionID = TB.DivisionID AND AT1603.VoucherID = TB.VoucherID
) TB
WHERE DivisionID = ''' + @DivisionID + '''' + @strWhere + ' 
--AND BeginMonth = ' + CONVERT(NVARCHAR(5), @TranMonth) + '
--AND BeginYear = ' + CONVERT(NVARCHAR(5), @TranYear) + '
ORDER BY ToolID'


--PRINT @sSQL
EXEC (@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

