---- Lưu giá trị tham số dùng trong công thức tính Kết quả thực hiện chỉ tiêu KPI

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[KPIT20006]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[KPIT20006]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [APKMaster] UNIQUEIDENTIFIER NOT NULL,
  [APKDetail] UNIQUEIDENTIFIER NOT NULL,
  [DivisionID] VARCHAR(50) NOT NULL,
  [DateName] VARCHAR(50) NOT NULL,
  [ParameterID] VARCHAR(50) NULL,
  [Value] DECIMAL(28,8) NULL,
  [Orders] INT NULL
  
CONSTRAINT [PK_KPIT20006] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END