---- Create by Phan thanh hoàng vũ on 8/29/2017 10:15:10 AM
---- Dách sách tính thưởng (Detail)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[KPIT20102]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[KPIT20102]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [APKMaster] UNIQUEIDENTIFIER NOT NULL,
  [DivisionID] VARCHAR(50) NOT NULL,
  [EmployeeID] VARCHAR(50) NULL,
  [EmployeeName] NVARCHAR(250) NULL,
  [EvaluationSetID] VARCHAR(50) NULL,
  [EvaluationSetName] NVARCHAR(250) NULL,
  [DutyID] VARCHAR(50) NULL,
  [TitleID] VARCHAR(50) NULL,
  [TotalUnifiedPoint] DECIMAL(28,8) NULL,
  [ClassificationUnifiedPoint] VARCHAR(50) NULL,
  [Revenue] DECIMAL(28,8) NULL,
  [BonusRate] DECIMAL(28,8) NULL,
  [BonusAmount] DECIMAL(28,8) NULL,
  [OrderNo] INT NULL,
  [APKMInherited] UNIQUEIDENTIFIER NULL,
  [APKDInherited] UNIQUEIDENTIFIER NULL,
  [DeleteFlg] TINYINT DEFAULT (0) NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyUserID] VARCHAR(50) NULL,
  [LastModifyDate] DATETIME NULL
CONSTRAINT [PK_KPIT20102] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END 