---- Create by Phan thanh hoàng vũ on 8/16/2017 1:44:48 PM
---- Danh mục đợt đánh giá

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[KPIT10601]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[KPIT10601]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [DivisionID] VARCHAR(50) NOT NULL,
  [EvaluationTypeID] INT NULL,
  [EvaluationPhaseID] VARCHAR(50) NOT NULL,
  [EvaluationPhaseName] NVARCHAR(250) NOT NULL,
  [Note] NVARCHAR(250) NULL,
  [FromDate] DATETIME NULL,
  [ToDate] DATETIME NULL,
  [IsCommon] TINYINT DEFAULT (0) NULL,
  [Disabled] TINYINT DEFAULT (0) NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyUserID] VARCHAR(50) NULL,
  [LastModifyDate] DATETIME NULL
CONSTRAINT [PK_KPIT10601] PRIMARY KEY CLUSTERED
(
  [EvaluationPhaseID]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END