GO
/****** Object:  UserDefinedFunction [dbo].[HS0001]    Script Date: 07/30/2010 11:32:52 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

---Ham nay co chuc nang chuyen mot kieu du lieu kieu demical thanh kieu du lieu nvarchar theo dinh dang cung cap.
---Lam tron so thap phan toi da la 4, toi thieu la 0
---Co the lam tron den hang don vi, hang chuc v.v.. neu cung cap tham so lam tron <0
---Design Date: May, 09 2006
---Design Person: Dang Le Bao Quynh 

/********************************************
'* Edited by: [GS] [Hoàng Phước] [30/07/2010]
'********************************************/


ALTER FUNCTION [dbo].[HS0001]  (@NumberConver decimal(19,4), @Scale int, @GetFormat tinyint, @DecimalSymbol char(1),@DigitGroupSymbol char(1)) 
RETURNS nvarchar(25) 
AS  
BEGIN 
	DECLARE @Decimal nvarchar(19),
		    @DecimalPart nvarchar(19),
		    @DigitPart nvarchar(19),
		    @DigitPartConverted nvarchar(25),	
		    @Position int,	
		    @DivisionValue int,
		    @ModuleValue int,
		    @ReturnValue nvarchar(25)				
	IF @Scale=0 SET @Decimal=CAST(CAST(CAST(ROUND(@NumberConver,0) as varbinary(20)) as decimal(19,0)) as nvarchar(19))
	ELSE
		IF @Scale=1 SET @Decimal=CAST(CAST(CAST(ROUND(@NumberConver,1) as varbinary(20)) as decimal(19,1)) as nvarchar(19))
		ELSE
			IF @Scale=2 SET @Decimal=CAST(CAST(CAST(ROUND(@NumberConver,2) as varbinary(20)) as decimal(19,2)) as nvarchar(19))
			ELSE
				IF @Scale=3 SET @Decimal=CAST(CAST(CAST(ROUND(@NumberConver,3) as varbinary(20)) as decimal(19,3)) as nvarchar(19))
				ELSE
					IF @Scale=4 SET @Decimal=CAST(CAST(CAST(ROUND(@NumberConver,4) as varbinary(20)) as decimal(19,4)) as nvarchar(19))
					ELSE 
						IF @Scale>4 SET @Decimal=CAST(CAST(CAST(ROUND(@NumberConver,4) as varbinary(20)) as decimal(19,4)) as nvarchar(19))
						ELSE SET @Decimal=CAST(CAST(CAST(ROUND(@NumberConver,@Scale) as varbinary(20)) as decimal(19,0)) as nvarchar(19))

	SET @Position = CHARINDEX('.',@Decimal)
	
	IF @Position>0
		BEGIN
			SET @DecimalPart = RIGHT(@Decimal,LEN(@Decimal)-@Position)
			SET @DigitPart = LEFT(@Decimal,@Position-1)
		END
	ELSE
		BEGIN
			SET @DecimalPart = ''
			SET @DigitPart = @Decimal
		END

	IF @GetFormat=0 
		BEGIN
			SET @ReturnValue = @Decimal
		END
	ELSE
		BEGIN
			SET @DivisionValue=Len(@DigitPart)/3
			SET @ModuleValue=Len(@DigitPart)%3
			
			IF @ModuleValue>0
				BEGIN
					IF @DivisionValue>0
						SET @DigitPartConverted=LEFT(@DigitPart,@ModuleValue) + @DigitGroupSymbol
					ELSE
						SET @DigitPartConverted=LEFT(@DigitPart,@ModuleValue) 
					SET @DigitPart=RIGHT(@DigitPart,@DivisionValue*3)
					SET @Position=1
					While @Position<@DivisionValue
						BEGIN
							SET @DigitPartConverted=@DigitPartConverted+LEFT(@DigitPart,3)+@DigitGroupSymbol
							SET @DigitPart=RIGHT(@DigitPart,len(@DigitPart) -3)
							SET @Position=@Position+1
						END
					SET @DigitPartConverted=@DigitPartConverted+@DigitPart
				END
			ELSE
				BEGIN
					SET @Position=1
					SET @DigitPartConverted=''
					While @Position<@DivisionValue
						BEGIN
							SET @DigitPartConverted=@DigitPartConverted+LEFT(@DigitPart,3)+@DigitGroupSymbol
							SET @DigitPart=RIGHT(@DigitPart,len(@DigitPart) -3)
							SET @Position=@Position+1
						END
					SET @DigitPartConverted=@DigitPartConverted+@DigitPart
				END
			
			IF @DecimalPart = ''
				SET @ReturnValue = @DigitPartConverted
			ELSE
				SET @ReturnValue = @DigitPartConverted+@DecimalSymbol+@DecimalPart	
		END
	
	RETURN(@ReturnValue)
END



