IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[REMOVEUNICODE]') AND XTYPE IN (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[REMOVEUNICODE]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE FUNCTION [dbo].[RemoveUnicode] (
  @cadena NVARCHAR

(MAX)  -- String to manipulate
) 
RETURNS VARCHAR(MAX)
AS
BEGIN
	
  DECLARE @caracteresElim NVARCHAR(MAX)
  SET @caracteresElim = N'a á à ả ã ạ ă ắ ằ ẳ ẵ ặ â ấ ầ ẩ ẫ ậ o ó ò ỏ õ ọ ô ố ồ ổ ỗ ộ ơ ớ ờ ở ỡ ợ u ú ù ủ ũ ụ ư ứ ừ ử ữ ự i í ì ỉ ĩ ị e é è ẻ ẽ ẹ ê ế ề ể ễ ệ đ y ý ỳ ỷ ỹ ỵ'  -- String of characters to be replaced
  DECLARE @caracteresReem NVARCHAR(MAX)
  SET @caracteresReem = N'a a a a a a a a a a a a a a a a a a o o o o o o o o o o o o o o o o o o u u u u u u u u u u u u i i i i i i e e e e e e e e e e e e d y y y y y y'  -- String of characters for replacement
  DECLARE @cadenaFinal NVARCHAR(MAX), @longCad INT, @pos INT, @caracter NCHAR(1), @posCarER INT;
  SELECT
    @cadenaFinal = '',
    @longCad = LEN(@cadena),
    @pos = 1;

  IF LEN(@caracteresElim)<>LEN(@caracteresReem)
    BEGIN
      RETURN NULL;
    END

  WHILE @pos <= @longCad
    BEGIN
      SELECT
        @caracter = SUBSTRING(@cadena,@pos,1),
        @pos = @pos + 1,
        @posCarER = CHARINDEX(@caracter,@caracteresElim);

      IF @posCarER <= 0
        BEGIN
          SET @cadenaFinal = @cadenaFinal + @caracter;
        END
      ELSE
        BEGIN
          SET @cadenaFinal = @cadenaFinal + SUBSTRING(@caracteresReem,@posCarER,1)
        END
    END

  RETURN @cadenaFinal;
END
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
