IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP0287]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[HP0287]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


-- <Summary>
---- Load dữ liệu cho grid chấm công sản phẩm theo ca cho nhân viên theo phương pháp chỉ định
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
----Created by: Nguyễn Thanh Sơn, date: 27/08/2013
----Created by: Hoàng Vũ, date: 03/03/2016: Cải tiến cách load dữ liệu (Chyển từ công chuỗi để lấy ra số column trong SQL) Lấy dữ liệu theo hàng, 
--------------------------------------------và Code sẽ duyệt mặt và chuyển sang column để load lên lưới màn hình HF0287
----Edit by:Quốc Tuấn: 23/03/2016 : pivot dũ liệu mặt hàng
--- Modified by Phương Thảo on 17/05/2017 : Sửa danh mục dùng chung
--- Modified by Nhật Quang	on 12/12/2022  : Bổ sung thêm điều kiện: -Luồng Chuẩn: danh sách nhân viên được chọn, -HIPC: kỳ lương.
--- Modified by Nhật Quang	on 20/02/2023  : Thay đổi CustomerIndex HIPC (92? -> 158)
--- Modified by Văn Tài		on 16/06/2023  : [2023/05/IS/0158] Xử lý lấy thêm dữ liệu tên khách hàng thuộc đơn hàng.
-- <Example>
---- 
/*
EXEC HP0287 'SC', 'ASOFTADMIN',9, 2013,'LAN01', 'PQS','%', 1,'2013-09-19 09:19:33.093',1,'ca 1'
exec HP0287 @DivisionID=N'SC',@UserID=N'ASOFTADMIN',@TranMonth=7,@TranYear=2015,@TimesID=N'TUAN01',@DepartmentID=N'PXNM',@TeamID=N'%',@CheckDate=1,@TrackingDate='2015-07-04 00:00:00.000',@CheckShift=1,@ShiftID=N'ca01'
*/

CREATE PROCEDURE HP0287
(
@DivisionID AS NVARCHAR(50),
		@UserID AS NVARCHAR(50),
		@TranMonth AS INT,
		@TranYear AS INT,
		@TimesID AS NVARCHAR(50),
		@DepartmentID AS NVARCHAR(50),
		@TeamID AS NVARCHAR(50),
        @CheckDate AS TINYINT,
        @TrackingDate AS DATETIME,
        @CheckShift AS TINYINT,
        @ShiftID AS NVARCHAR(50),
		@ListEmployeeID AS NVARCHAR(1000),
		@SalaryPeriod AS NVARCHAR(50)
 )

AS
DECLARE @sSQL NVARCHAR(MAX),
    @sSQL1 NVARCHAR(MAX),
	@cur CURSOR,
	@Column INT,
	@sWhere NVARCHAR(MAX),
	@sGroup NVARCHAR(MAX),
	@ProductID NVARCHAR(50),
	@sSQLCustomize NVARCHAR(MAX),
	@sSelectCustomize NVARCHAR(MAX)

	DECLARE @CustomerIndex INT = (SELECT TOP 1 CustomerIndex.CustomerName FROM CustomerIndex WITH (NOLOCK))

Select @Column = 1, @sSQL = '' 
SET @sWhere=''
SET @sSQL = '' 

IF(@CustomerIndex = 158)
	BEGIN

	SET @sSQLCustomize = N'AND HT0287.SalaryPeriod = N'''+@SalaryPeriod+''''
	SET @sSelectCustomize = N', HT0287.VoucherNo, HT0287.PhaseID'

	END

IF @CheckDate = 1  
	SET @sWhere=@sWhere +  N' AND convert(nvarchar(10),isnull( HT0287.TrackingDate,''1900-01-01 00:00:00''), 101)='''+convert(nvarchar(10),@TrackingDate, 101)+''''

IF @CheckShift = 1 
	SET @sWhere=@sWhere + N' AND HT0287.ShiftID= '''+@ShiftID+''''


Set @sSQL = '
DECLARE @Column VARCHAR(MAX),
		@sSQL VARCHAR(MAX)
Declare @HT1015 table (	DivisionID nvarchar(50), ProductID nvarchar(50),ProductNo nvarchar(50),ProductName NVARCHAR(500))
Insert into @HT1015 (DivisionID, ProductID, ProductNo,ProductName)
Select DivisionID, ProductID, (Case when ROW_NUMBER() Over (Order by HT1015.ProductID) < 10 then ''P0'' else ''P'' end )+Cast(ROW_NUMBER() Over (Order by HT1015.ProductID) as nvarchar(50)) as ProductNo  
,ProductName
from HT1015
Where DivisionID = '''+@DivisionID+''' and Disabled = 0
Order by HT1015.ProductID'

Set @sSQL1 = '
Select HT0287.DivisionID
, HT0287.TimesID
, HT0287.TranMonth
, HT0287.TranYear
, HT0287.EmployeeID
, LTRIM(RTRIM(ISNULL(HT2.LastName, ''''))) + '' '' + LTRIM(RTRIM(ISNULL(HT2.MiddleName, ''''))) + '' '' + LTRIM(RTRIM(ISNULL(HT2.FirstName, ''''))) AS EmployeeName
, HT0287.DepartmentID
, AT.DepartmentName
, HT0287.TeamID
, HT1.TeamName
, HT0287.TrackingDate
, HT0287.ShiftID
, HT0287.ProductID
, HT0287.Quantity
, HT1015.ProductNo
, HT1015.ProductName
, AT02.ObjectName AS CustomName
' + @sSelectCustomize + '
INTO #HP0287
FROM HT0287 
LEFT JOIN @HT1015 AS HT1015 ON HT0287.DivisionID = HT1015.DivisionID AND HT0287.ProductID = HT1015.ProductID
LEFT JOIN AT1102 AT ON HT0287.DepartmentID = AT.DepartmentID
LEFT JOIN HT1400 HT2 on HT0287.DivisionID = HT2.DivisionID AND HT0287.EmployeeID = HT2.EmployeeID
LEFT JOIN HT1101 HT1 ON HT0287.DivisionID = AT.DivisionID AND HT0287.DepartmentID = HT1.DepartmentID AND ISNULL(HT0287.TeamID,'''') = ISNULL(HT1.TeamID,'''')
LEFT JOIN OT2001 OT01 ON OT01.DivisionID = HT0287.DivisionID AND OT01.VoucherNo = HT0287.VoucherNo
LEFT JOIN AT1202 AT02 ON AT02.DivisionID IN (''@@@'', HT0287.DivisionID) AND AT02.ObjectID = OT01.ObjectID
WHERE HT0287.DivisionID='''+@DivisionID+'''
AND  HT0287.TimesID = '''+@TimesID+'''
AND  HT0287.TranMonth = '+STR(@TranMonth)+'
AND  HT0287.TranYear = '+STR (@TranYear)+'
AND  HT0287.DepartmentID = '''+@DepartmentID+'''
AND  HT0287.EmployeeID IN ('''+ISNULL(REPLACE(@ListEmployeeID,',',''','''),'''')+''')
'+ @sSQLCustomize + '
AND  ISNULL(HT0287.TeamID,'''') LIKE ISNULL('''+@TeamID+''','''' )
AND  HT1015.ProductNo IS NOT NULL
' + @sWhere +'

SET @Column= (SELECT  ''[''+REPLACE(SUBSTRING((SELECT ProductNo+'','' FROM #HP0287
                                               GROUP BY ProductNo
	ORDER BY ProductNo DESC   FOR XML PATH('''')),1,LEN((SELECT ProductNo+'','' FROM #HP0287
												GROUP BY ProductNo
	                                            ORDER BY ProductNo DESC FOR XML PATH('''')))-1),'','',''],['')+'']'')
SET @sSQL=''
SELECT DivisionID, TimesID, TranMonth,TranYear,EmployeeID
, EmployeeName, DepartmentID, DepartmentName, TeamID, TeamName, TrackingDate, 
ShiftID ,VoucherNo, PhaseID, CustomName, ''+ @Column+''
FROM 
(SELECT DivisionID, TimesID, TranMonth,TranYear,EmployeeID
, EmployeeName, DepartmentID, DepartmentName, TeamID, TeamName, TrackingDate, 
ShiftID,Quantity,ProductNo,VoucherNo, PhaseID, CustomName
FROM #HP0287) p
PIVOT
(
SUM (Quantity)
FOR ProductNo IN
(''+ @Column+'' )
) AS pvt''

SELECT Distinct ProductID,ProductName,ProductNo
FROM #HP0287

IF ISNULL(@sSQL,'''')='''' SET @sSQL=''SELECT * FROM #HP0287''
PRINT @sSQL
EXEC (@sSQL)
'
PRINT (@sSQL + @sSQL1)
EXEC (@sSQL + @sSQL1)



GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
