IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP1025]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP1025]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


--Create by: Dang Le Bao Quynh; Date: 26/09/2007
--Purpose: Tao view phuc vu truy van bang phan ca cong viec
-- Modified by Bảo Thy on 27/09/2016: Bổ sung Khối, Phòng, Ban, Công đoạn cho MEIKO
-- Modified by Phương Thảo on 18/05/2017: Sửa danh mục dùng chung
-- Modified by Văn Tài	   on 03/11/2020: Sửa cho trường hợp thiết lập cắt bảng phân ca theo kỳ.
-- Modified by Văn Tài	   on 09/11/2020: Lấy bảng phân ca ban đầu bằng cách IN bảng HT2400 (Hồ sơ lương trong kỳ) chứ không phải NOT IN.
-- Modified by Xuân Nguyên on 29/06/2021: Lấy bảng cập nhật phân ca bằng NOT IN bảng HT1025
-- Modified by Huỳnh Thử on 15/07/2021: Bổ sung HV14.DepartmentName, HV14.TeamName
-- Modified by Nhựt Trường on 23/09/2022: [2022/09/IS/0125] - Fix lỗi trùng tên cột DepartmentName, TeamName nếu là CustomerIndex MEIKO.
/***************************************************************
'* Edited by : [GS] [Quoc Cuong] [30/07/2010]
'**************************************************************/
-- <Example>
/*
 exec HP1025 'ht','%','%','%',1,2016
 select * from HV1026
*/
CREATE PROCEDURE [dbo].[HP1025] 
				@DivisionID nvarchar(50),
				@DepartmentID nvarchar(50),
				@TeamID nvarchar(50),
				@EmployeeID nvarchar(50),
				@TranMonth int,
				@TranYear int

AS

DECLARE @sSQL nvarchar(4000),
		@CustomerIndex INT,
		@sSELECT NVARCHAR(MAX) = '',
		@sJOIN NVARCHAR(MAX) ='',
		@TableHT2400 NVARCHAR(50) = '',
		@sTranMonth NVARCHAR(50) = ''

SELECT @CustomerIndex = CustomerName From CustomerIndex

SELECT @sTranMonth = CASE WHEN @TranMonth >9 THEN Convert(Varchar(2),@TranMonth) ELSE '0'+Convert(Varchar(1),@TranMonth) END

IF EXISTS (SELECT TOP 1 1 FROM AT0001 WITH (NOLOCK) WHERE IsSplitTable = 1)	
BEGIN
	SELECT  @TableHT2400 = 'HT2400M' + @sTranMonth + CONVERT(VARCHAR(4), @TranYear)	
END
ELSE
BEGIN
	SELECT  @TableHT2400 = 'HT2400'	
END

PRINT (@TableHT2400)

IF @CustomerIndex = 50
BEGIN 
	SET @sSELECT = ', HV14.DepartmentID, A11.DepartmentName, HV14.TeamID, A12.TeamName, HV14.Ana04ID AS SubSectionID, A13.AnaName AS SubSectionName,
			HV14.Ana05ID AS ProcessID, A14.AnaName ProcessName'
	
	SET @sJOIN = 'LEFT JOIN AT1102 A11 ON A11.DepartmentID = HV14.DepartmentID 
			LEFT JOIN HT1101 A12 ON A12.DivisionID = HV14.DivisionID AND A12.DepartmentID = HV14.DepartmentID AND A12.TeamID= HV14.TeamID
			LEFT JOIN AT1011 A13 ON A13.AnaID = HV14.Ana04ID AND A13.AnaTypeID=''A04''
			LEFT JOIN AT1011 A14 ON A14.AnaID = HV14.Ana05ID AND A14.AnaTypeID=''A05'''
END 
	
	Set @sSQL = 	'Select HT10.DivisionID, HT10.TransactionID, 
			'+CASE WHEN @CustomerIndex <> 50 THEN 'HV14.DepartmentName, HV14.TeamName,'  ELSE '' END+'
			HT10.EmployeeID, HV14.FullName, 
			HT10.D01,HT10.D02,HT10.D03,HT10.D04,HT10.D05,HT10.D06,HT10.D07,HT10.D08,HT10.D09,HT10.D10,
			HT10.D11,HT10.D12,HT10.D13,HT10.D14,HT10.D15,HT10.D16,HT10.D17,HT10.D18,HT10.D19,HT10.D20,
			HT10.D21,HT10.D22,HT10.D23,HT10.D24,HT10.D25,HT10.D26,HT10.D27,HT10.D28,HT10.D29,HT10.D30,HT10.D31,HT10.Notes
			'+@sSELECT+'
			From HT1025 HT10
			LEFT JOIN HV1400 HV14 ON HV14.DivisionID = HT10.DivisionID AND HV14.EmployeeID = HT10.EmployeeID  
			'+@sJOIN+'
			Where 	HT10.DivisionID = ''' + @DivisionID + ''' And  
				HT10.EmployeeID Like ''' + @EmployeeID + ''' And 
				HT10.EmployeeID In 
					(Select EmployeeID From ' + @TableHT2400 + ' HT2400 
					Where 	DivisionID  = ''' + @DivisionID + ''' And DepartmentID Like ''' + @DepartmentID + ''' And 
						isnull(TeamID,'''') Like ''' + @TeamID + ''' And TranMonth = ' + ltrim(@TranMonth) + ' And TranYear = ' + ltrim(@TranYear) + ') And
				HT10.TranMonth = ' + ltrim(@TranMonth) + ' And 
				HT10.TranYear = ' + ltrim(@TranYear)

If not exists (Select id From sysobjects Where id = Object_id('HV1025') And Xtype = 'V')
	EXEC ( 'Create View HV1025 -- Create by HP1025 
		As 
		' + @sSQL
			)
Else
	EXEC ( 'Alter View HV1025 -- Create by HP1025 
		As 
		' + @sSQL
			)
 
	Set @sSQL = 	'Select HT24.DivisionID, Null As TransactionID, 
			'+CASE WHEN @CustomerIndex <> 50 THEN 'HV14.DepartmentName, HV14.TeamName,'  ELSE '' END+'
			HT24.EmployeeID, HV14.FullName, 
			Null As D01,Null As D02,Null As D03,Null As D04,Null As D05,Null As D06,Null As D07,Null As D08,Null As D09,Null As D10,
			Null As D11,Null As D12,Null As D13,Null As D14,Null As D15,Null As D16,Null As D17,Null As D18,Null As D19,Null As D20,
			Null As D21,Null As D22,Null As D23,Null As D24,Null As D25,Null As D26,Null As D27,Null As D28,Null As D29,Null As D30,Null As D31,Null As Notes
			'+@sSELECT+'
			FROM ' + @TableHT2400 + ' HT24  Left Join HV1400 HV14 On HT24.EmployeeID = HV14.EmployeeID and HT24.DivisionID = HV14.DivisionID 
			'+@sJOIN+'
			Where 	HT24.DivisionID = ''' + @DivisionID + ''' And  
				HT24.DepartmentID Like ''' + @DepartmentID + ''' And 
				isnull(HT24.TeamID,'''') Like ''' + @TeamID + ''' And 
				HT24.EmployeeID Like ''' + @EmployeeID + ''' And 
				HT24.TranMonth = ' + ltrim(@TranMonth) + ' And 
				HT24.TranYear = ' + ltrim(@TranYear) + ' And 
				HT24.EmployeeID Not In 
				(Select EmployeeID FROM HT1025 Where DivisionID = ''' + @DivisionID + ''' And HT1025.TranMonth = ' + ltrim(@TranMonth) + ' And HT1025.TranYear = ' + ltrim(@TranYear) + ') And 
				HV14.EmployeeStatus IN (1,2)' 

If not exists (Select id From sysobjects Where id = Object_id('HV1026') And Xtype = 'V')
	EXEC ( 'Create View HV1026 -- Create by HP1025 
		As 
		' + @sSQL
			)
Else
	EXEC ( 'Alter View HV1026 -- Create by HP1025 
		As 
		' + @sSQL
		)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO


