IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP2402]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP2402]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--------- 	Created by Nguyen Thi Ngoc Minh, Date 04/05/2004
---------	Purpose: Ket chuyen cham cong ngay sang cham cong thang
---------	edited by: Vo Thanh Huong, date: 01/09/2004
---------    Edit by: Dang Le Bao Quynh; Date 13/09/2006
---------	Purpose: Tinh luong nhieu ky	   
---- Modified on 20/11/2013 by Le Thi Thu Hien : Bo sung them HT1033 (Ket chuyen cham cong ngay sang nhieu thang)
---- Modified on 11/12/2013 by Bao Anh : Sua loi over flow do cast(@TimeConvert AS nvarchar(10))
---- Modified on 14/12/2015 by Bảo Anh : Cộng thêm số giờ phụ nữ cho nhân viên nữ (customize Meiko)
---- Modified on 01/04/2016 by Kim Vũ: Fix bug kiểu dữ liệu
---- Modified on 10/09/2020 by Nhựt Trường: tách store cho customer Meiko.
-- <Example>
---- 

CREATE PROCEDURE [dbo].[HP2402] 
				@DivisionID AS nvarchar(50),
				@DepartmentID AS nvarchar(50),
				@TeamID AS nvarchar(50),
				@EmployeeID AS nvarchar(50),
				@AbsentTypeID AS nvarchar(50),
				@TranMonth AS int,
				@TranYear AS int,
				@CreateUserID AS nvarchar(50),
				@PeriodID nvarchar(50) = Null,
				@BeginDate Datetime = Null,
				@EndDate Datetime = Null
AS

DECLARE @CustomerName INT
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

IF @CustomerName = 50 ---- Customize Meiko
BEGIN
	EXEC HP2402_MK @DivisionID, @DepartmentID, @TeamID, @EmployeeID, @AbsentTypeID, @TranMonth, @TranYear, @CreateUserID, @PeriodID, @BeginDate, @EndDate
END
ELSE
BEGIN

DECLARE	@sSQL1 AS nvarchar(4000),
		@sSQL2 AS nvarchar(4000),
		@cursor AS cursor,
		@TimeConvert AS decimal(28,8),	
		@AbsentAmount AS decimal(28,8),
		@ChildUnitID AS nvarchar(50),
		@ParentUnitID AS nvarchar(50),
		@ParentID AS nvarchar(50),
		@ConvertAmount AS decimal(28,8),
		@ParentAmount AS decimal(28,8),		
		@TeamID1 nvarchar(50),
		@DepartmentID1 nvarchar(50),
		@CustomerIndex int,
		@FirstDate datetime, @MiddleDate datetime, @LastDate datetime,
		@sSQL001 Nvarchar(4000) ='',
		@sSQL002 Nvarchar(4000) ='',
		@TableHT2400 Varchar(50),
		@TableHT2401 Varchar(50),
		@TableHT2402 Varchar(50),
		@sTranMonth Varchar(2)

SET @sSQL1 = ''
SET	@sSQL2 = ''


SET @FirstDate = CONVERT(Datetime,STR(@TranMonth)+'/'+'1'+'/'++STR(@TranYear)) 

SET @MiddleDate = CONVERT(Datetime,STR(@TranMonth)+'/'+'15'+'/'++STR(@TranYear)) 
--print @Date
SET @LastDate = DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,@FirstDate)+1,0))


IF NOT EXISTS (SELECT ISNULL(TimeConvert,8) FROM HT0000 WHERE DivisionID = @DivisionID)									
	Set @TimeConvert = 8
Else
	Set @TimeConvert = (SELECT ISNULL(TimeConvert,8) FROM HT0000 WHERE DivisionID = @DivisionID)

---- Tách bảng
SELECT @sTranMonth = CASE WHEN @TranMonth >9 THEN Convert(Varchar(2),@TranMonth) ELSE '0'+Convert(Varchar(1),@TranMonth) END

IF EXISTS (SELECT TOP 1 1 FROM AT0001 WITH (NOLOCK) WHERE IsSplitTable = 1)	
BEGIN
	SELECT  @TableHT2401 = 'HT2401M'+@sTranMonth+Convert(Varchar(4),@TranYear),
			@TableHT2402 = 'HT2402M'+@sTranMonth+Convert(Varchar(4),@TranYear),
			@TableHT2400 = 'HT2400M'+@sTranMonth+Convert(Varchar(4),@TranYear)
END
ELSE
BEGIN
	SELECT  @TableHT2401 = 'HT2401',
			@TableHT2402 = 'HT2402',
			@TableHT2400 = 'HT2400'
END	

	
If @PeriodID IS NULL								
	Set @sSQL1 = '
		SELECT T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID,'''') AS TeamID, T01.EmployeeID, T01.TranMonth, T01.TranYear, T01.AbsentTypeID, 
				T13.ConvertUnit, T13.UnitID AS ChildUnitID,
				T13.ParentID, T23.UnitID AS ParentUnitID,
				CASE WHEN (T13.UnitID = T23.UnitID) THEN SUM(ISNULL(T01.AbsentAmount,0) * ISNULL(T23.ConvertUnit,0))
				when T13.UnitID = ''D'' and T23.UnitID = ''H''  then 
				sum(isnull(T01.AbsentAmount,0) * isnull(T23.ConvertUnit,0) * '+ cast(@TimeConvert AS nvarchar(11)) + ')		
			else sum(isnull(T01.AbsentAmount,0) * isnull(T23.ConvertUnit,0) / '+ cast(@TimeConvert AS nvarchar(11)) + ') end AS ParentAmount 
		INTO #HP2402_HT2401
		FROM '+@TableHT2401+' AS T01 
		INNER JOIN (SELECT  HT1013.AbsentTypeID, HT1013.AbsentName, 
							ISNULL (HT1033.ParentID,HT1013.ParentID) AS ParentID, 
							HT1013.UnitID, HT1013.DivisionID, HT1013.ConvertUnit
					FROM	HT1013 HT1013
					LEFT JOIN HT1033 HT1033
							ON HT1013.DivisionID = HT1033.DivisionID 
							AND HT1013.AbsentTypeID = HT1033.AbsentTypeID
					) AS T13 on T01.AbsentTypeID = T13.AbsentTypeID and T01.DivisionID = T13.DivisionID
		INNER JOIN HT1013 AS T23 
				on T23.AbsentTypeID = T13.ParentID 
				and T23.DivisionID = T13.DivisionID
		Where T01.TranMonth = ' + cast(@TranMonth AS nvarchar(2)) + ' and
			T01.TranYear = ' + cast(@TranYear AS nvarchar(4)) + ' and
			T01.DivisionID like ''' + @DivisionID + ''' and
			T01.DepartmentID like ''' + @DepartmentID + ''' and
			isnull(T01.TeamID,'''') like isnull(''' + @TeamID + ''', ''' + ''') and
			T01.EmployeeID like ''' + @EmployeeID + ''' and	
			T13.ParentID like ''' + @AbsentTypeID + ''' 
		Group by T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID,''''), T01.EmployeeID, T01.TranMonth, T01.TranYear, T01.AbsentTypeID, 
			T13.ConvertUnit, T13.UnitID, T13.ParentID, T23.UnitID'
Else
	Set @sSQL1 = '
		Select T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID,'''') AS TeamID, T01.EmployeeID, T01.TranMonth, T01.TranYear, T01.AbsentTypeID, 
			T13.ConvertUnit, T13.UnitID AS ChildUnitID,
			T13.ParentID, T23.UnitID AS ParentUnitID,
			case when (T13.UnitID = T23.UnitID)  then sum(isnull(T01.AbsentAmount,0) * isnull(T23.ConvertUnit,0))
			when T13.UnitID = ''D'' and T23.UnitID = ''H''  then 
				sum(isnull(T01.AbsentAmount,0) * isnull(T23.ConvertUnit,0) * '+ cast(@TimeConvert AS nvarchar(11)) + ')		
				else sum(isnull(T01.AbsentAmount,0) * isnull(T23.ConvertUnit,0) / '+ cast(@TimeConvert AS nvarchar(11)) + ') end AS ParentAmount 
		 INTO #HP2402_HT2401
		 FROM '+@TableHT2401+' AS T01 
		 INNER JOIN (SELECT  HT1013.AbsentTypeID, HT1013.AbsentName, 
							ISNULL (HT1033.ParentID,HT1013.ParentID) AS ParentID, 
							HT1013.UnitID, HT1013.DivisionID, HT1013.ConvertUnit
					FROM	HT1013 HT1013
					LEFT JOIN HT1033 HT1033
							ON HT1013.DivisionID = HT1033.DivisionID 
							AND HT1013.AbsentTypeID = HT1033.AbsentTypeID
					) AS T13 on T01.AbsentTypeID = T13.AbsentTypeID and T01.DivisionID = T13.DivisionID
		INNER JOIN HT1013 AS T23 
				on T23.AbsentTypeID = T13.ParentID 
				and T23.DivisionID = T13.DivisionID
		Where T01.TranMonth = ' + cast(@TranMonth AS nvarchar(2)) + ' and
			T01.TranYear = ' + cast(@TranYear AS nvarchar(4)) + ' and
			T01.DivisionID like ''' + @DivisionID + ''' and
			T01.DepartmentID like ''' + @DepartmentID + ''' and
			isnull(T01.TeamID,'''') like isnull(''' + @TeamID + ''', ''' + ''') and
			T01.EmployeeID like ''' + @EmployeeID + ''' and	
			T13.ParentID like ''' + @AbsentTypeID + ''' and 
			T01.AbsentDate between ''' + ltrim(month(@BeginDate)) + '/' + ltrim(Day(@BeginDate)) + '/' + ltrim(Year(@BeginDate)) + ''' And ''' 
			+ ltrim(month(@EndDate)) + '/' + ltrim(Day(@EndDate)) + '/' + ltrim(Year(@EndDate)) + ''' 				
		Group by T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID,'''') , T01.EmployeeID, T01.TranMonth, T01.TranYear, T01.AbsentTypeID, 
			T13.ConvertUnit, T13.UnitID, T13.ParentID, T23.UnitID'
	
--print @sSQL1;	
--IF NOT EXISTS (SELECT 1 FROM  SYSOBJECTS WHERE XTYPE ='V' AND NAME ='HV2603')
--	EXEC(' CREATE VIEW HV2603  ---tao boi HP2402
--			as '+@sSQL1)
--ELSE
--	EXEC(' ALTER VIEW HV2603  ---tao boi HP2402
--			as '+@sSQL1)


Set @sSQL2 = '				
		IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id(N''[dbo].[HP2402_HT2401]'') AND OBJECTPROPERTY(id, N''IsUserTable'') = 1)
			DROP TABLE HP2402_HT2401

		SELECT	T01.DivisionID, T01.DepartmentID, T01.TeamID, T01.EmployeeID, 
				T01.TranMonth, T01.TranYear, T01.ParentID AS AbsentTypeID,
				Sum(T01.ParentAmount) AS AbsentAmount, HT1403.TitleID
		INTO	HP2402_HT2401
		FROM	#HP2402_HT2401  T01
		INNER JOIN HT1403 ON T01.EmployeeID = HT1403.EmployeeID AND T01.DivisionID = HT1403.DivisionID
		WHERE	T01.DivisionID = '''+@DivisionID+'''
		GROUP BY T01.DivisionID, T01.DepartmentID, T01.TeamID, 
				T01.EmployeeID, T01.TranMonth, T01.TranYear, T01.ParentID, HT1403.TitleID 		
				
				'

--print @sSQL1
--print @sSQL2
EXEC (@sSQL1 + @sSQL2)


If @PeriodID Is Null
Begin
	SET @sSQL001 = '	
	DELETE '+@TableHT2402+'
	FROM '+@TableHT2402+' T1
	INNER JOIN  HP2402_HT2401  T2 ON T1.DivisionID = T2.DivisionID AND T1.EmployeeID = T2.EmployeeID AND T1.TranMonth = T2.TranMonth AND T1.TranYear = T2.TranYear
	WHERE T1.DivisionID = '''+@DivisionID+'''
		and T1.EmployeeID like '''+@EmployeeID +'''
		and T1.TranMonth = '+STR(@TranMonth)+' 
		and T1.TranYear = '+STR(@TranYear)+'
		and T1.DepartmentID like '''+@DepartmentID+''' 
		and isnull(T1.TeamID,'''')  like isnull('''+@TeamID+''','''')


	Insert into '+@TableHT2402+' ( EmployeeID, TranMonth, TranYear, DivisionID, DepartmentID, TeamID, 
								AbsentTypeID, AbsentAmount, CreateDate, LastModifyDate, CreateUserID, LastModifyUserID, PeriodID)
	Select	EmployeeID, TranMonth, TranYear, DivisionID,  DepartmentID, TeamID, AbsentTypeID, AbsentAmount,
			getdate(), getdate(), '''+@CreateUserID+''', '''+@CreateUserID+''', '''+ISNULL(@PeriodID,'')+'''
	From	HP2402_HT2401
			'
End
Else
Begin
	SET @sSQL001 = '
	DELETE '+@TableHT2402+'
	FROM '+@TableHT2402+' T1
	INNER JOIN  HP2402_HT2401  T2 ON T1.DivisionID = T2.DivisionID AND T1.EmployeeID = T2.EmployeeID AND T1.TranMonth = T2.TranMonth AND T1.TranYear = T2.TranYear
	WHERE T1.DivisionID = '''+@DivisionID+'''
		and T1.EmployeeID like '''+@EmployeeID +'''
		and T1.TranMonth = '+STR(@TranMonth)+' 
		and T1.TranYear = '+STR(@TranYear)+'
		and T1.DepartmentID like '''+@DepartmentID+''' 
		and isnull(T1.TeamID,'''')  like isnull('''+@TeamID+''','''')
		and PeriodID = '''+@PeriodID+'''

	Insert into '+@TableHT2402+' ( EmployeeID, TranMonth, TranYear, DivisionID, DepartmentID, TeamID, 
								AbsentTypeID, AbsentAmount, CreateDate, LastModifyDate, CreateUserID, LastModifyUserID, PeriodID)
	Select	EmployeeID, TranMonth, TranYear, DivisionID,  DepartmentID, TeamID, AbsentTypeID, AbsentAmount,
			getdate(), getdate(), '''+@CreateUserID+''', '''+@CreateUserID+''', '''+@PeriodID+'''
	From	HP2402_HT2401

			'
End
--Print @sSQL001
EXEC (@sSQL001)

--Cap nhat bang HT7777
	If @PeriodID is not null
	Begin
		If not Exists (Select Top 1 1 From HT7777 Where DivisionID = @DivisionID 	
								and TranYear = @TranYear and
								TranMonth = @TranMonth and
								PeriodID = @PeriodID)
			Insert Into HT7777(DivisionID, TranYear,TranMonth,PeriodID,BeginDate,EndDate)
				Values (@DivisionID , @TranYear,@TranMonth,@PeriodID,@BeginDate,@EndDate)
		Else
			Update HT7777 Set BeginDate=@BeginDate, EndDate=@EndDate
					Where DivisionID = @DivisionID
						and TranYear = @TranYear and
						TranMonth = @TranMonth and
						PeriodID = @PeriodID	
	End
--Cap nhat bang HT6666
	If @PeriodID is not null
	Begin
		Update HT6666 Set IsDefault=0 Where PeriodID <> @PeriodID and DivisionID = @DivisionID
		Update HT6666 Set IsDefault=1 Where PeriodID = @PeriodID and DivisionID = @DivisionID
	End

--- Customize Meiko: cộng số giờ OT phụ nữ đối với nhân viên nữ
SELECT @CustomerIndex = CustomerName From CustomerIndex
IF @CustomerIndex = 50
BEGIN
	Declare @FEAbsentTypeID nvarchar(50),
			@UnitID NVARCHAR(50),
			@ConvertUnit decimal(28,8),
			@Amount decimal(28,8)
			
	SELECT @FEAbsentTypeID = FEAbsentTypeID FROM HT0000 WHERE DivisionID = @DivisionID
	SELECT @UnitID = UnitID, @ConvertUnit = Isnull(ConvertUnit,1) FROM HT1013
	WHERE DivisionID = @DivisionID AND AbsentTypeID = @FEAbsentTypeID

	SELECT @Amount = @ConvertUnit*(case when @UnitID = 'H' then 2 else 2/8 end)

	DELETE HT2402 WHERE DivisionID = @DivisionID AND TranMonth = @TranMonth AND TranYear = @TranYear
		AND DepartmentID like @DepartmentID AND Isnull(TeamID,'') like @TeamID
		AND EmployeeID like @EmployeeID AND AbsentTypeID = @FEAbsentTypeID AND Isnull(PeriodID,'') = @PeriodID
												
	Insert into HT2402 (EmployeeID, TranMonth, TranYear, DivisionID, DepartmentID, TeamID, 
							AbsentTypeID, AbsentAmount, CreateDate, LastModifyDate, CreateUserID, LastModifyUserID, PeriodID)
	SELECT	HV26.EmployeeID, @TranMonth, @TranYear, @DivisionID, HT1400.DepartmentID, HT1400.TeamID,
			@FEAbsentTypeID, @Amount, getdate(),getdate(), @CreateUserID, @CreateUserID, @PeriodID
	FROM HV2604 HV26
	INNER JOIN HT1400 On HV26.DivisionID = HT1400.DivisionID and HV26.EmployeeID = HT1400.EmployeeID and HT1400.IsMale = 0				
END

IF(@CustomerIndex = 81)
BEGIN

	----------------------- Kết chuyển hệ số 145 ---> 150 : phân biệt thử việc, chính thức ----------------
	-------------->> HS149: Nếu 100% TV = 1, 100% CT = 0, vừa CT, vừa TV = 0
	-------------->> HS150: Nếu 100% TV = 0, 100% CT = 1, vừa CT, vừa TV = 1
	IF(@PeriodID = 'P01')
	BEGIN
		SET @sSQL002 ='

		UPDATE T1
		SET	 T1.C148 = 1,
			 T1.C149 = 0,
			 T1.C150 = 0	
		FROM	HT2499 T1
		LEFT JOIN HT1403 T2 ON T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	
		WHERE T1.DivisionID = '''+@DivisionID+''' AND T1.TranMonth = '+STR(@TranMonth)+' AND T1.TranYear = '+STR(@TranYear)+'	
		and exists (select top 1 1 from HP2402_HT2401 T2 where T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	)
		AND (
			-- TV hoan toan
			(T2.ToApprenticeTime is not null or  T2.FromApprenticeTime is not null) 
			and (FromApprenticeTime <= '''+Convert(Varchar(20),@FirstDate,112)+'''
			and ToApprenticeTime >= '''+Convert(Varchar(20),@MiddleDate,112)+''')
		)

		UPDATE T1
		SET	 T1.C148 = 0,
			 T1.C149 = 1,
			 T1.C150 = 0	
		FROM	HT2499 T1
		LEFT JOIN HT1403 T2 ON T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	
		WHERE T1.DivisionID = '''+@DivisionID+''' AND T1.TranMonth = '+STR(@TranMonth)+' AND T1.TranYear = '+STR(@TranYear)+'	
		and exists (select top 1 1 from HP2402_HT2401 T2 where T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	)
		AND 
		(	T2.ToApprenticeTime is null and T2.FromApprenticeTime is null
		  or	
			-- CT hoan toan
			(
	 
			'''+Convert(Varchar(20),@FirstDate,112)+''' > T2.ToApprenticeTime 
			OR
			'''+Convert(Varchar(20),@MiddleDate,112)+''' < T2.FromApprenticeTime
			)	
		)

		UPDATE T1
		SET	 T1.C148 = 0,
			 T1.C149 = 0,
			 T1.C150 = 1	
		FROM	HT2499 T1
		LEFT JOIN HT1403 T2 ON T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	
		WHERE T1.DivisionID = '''+@DivisionID+''' AND T1.TranMonth = '+STR(@TranMonth)+' AND T1.TranYear = '+STR(@TranYear)+'	
		and exists (select top 1 1 from HP2402_HT2401 T2 where T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	)
		AND 
		(	-- vua CT, vua TV
			(T2.ToApprenticeTime >= '''+Convert(Varchar(20),@FirstDate,112)+''' AND T2.ToApprenticeTime < '''+Convert(Varchar(20),@MiddleDate,112)+''')
			or
			(T2.FromApprenticeTime > '''+Convert(Varchar(20),@FirstDate,112)+''' AND T2.FromApprenticeTime < ='''+Convert(Varchar(20),@MiddleDate,112)+''')
		)


		UPDATE T1
		SET	 T1.C144 = 1
		FROM	HT2499 T1
		WHERE
		---- Lam du thang
			(	NOT EXISTS 
				(SELECT TOP 1 1 FROM HT1380 T2 WHERE T1.EmployeeID = T2.EmployeeID and T2.LeaveDate < '''+Convert(Varchar(20),@MiddleDate,112)+''')
				AND
				NOT EXISTS
				(SELECT TOP 1 1 FROM HT1403 T3 WHERE T1.EmployeeID = T3.EmployeeID and T3.WorkDate > '''+Convert(Varchar(20),@FirstDate,112)+''')
			)

		UPDATE T1
		SET	 T1.C144 = 2
		FROM	HT2499 T1
		WHERE
		---- Lam du thang
			(	EXISTS 
				(SELECT TOP 1 1 FROM HT1380 T2 WHERE T1.EmployeeID = T2.EmployeeID and T2.LeaveDate < '''+Convert(Varchar(20),@MiddleDate,112)+''')
				OR
				EXISTS
				(SELECT TOP 1 1 FROM HT1403 T3 WHERE T1.EmployeeID = T3.EmployeeID and T3.WorkDate > '''+Convert(Varchar(20),@FirstDate,112)+''')
			)
		'
	END
	ELSE
	IF(@PeriodID = 'P02')
	BEGIN
		SET @sSQL002 ='
		UPDATE T1
		SET	 T1.C145 = 1,
			 T1.C146 = 0,
			 T1.C147 = 0	
		FROM	HT2499 T1
		LEFT JOIN HT1403 T2 ON T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	
		WHERE T1.DivisionID = '''+@DivisionID+''' AND T1.TranMonth = '+STR(@TranMonth)+' AND T1.TranYear = '+STR(@TranYear)+'	
		and exists (select top 1 1 from HP2402_HT2401 T2 where T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	)
		AND (
			-- TV hoan toan
			(T2.ToApprenticeTime is not null or  T2.FromApprenticeTime is not null) 
			and (FromApprenticeTime <= '''+Convert(Varchar(20),@MiddleDate+1,112)+'''
			and ToApprenticeTime >= '''+Convert(Varchar(20),@LastDate,112)+''')
		)

		UPDATE T1
		SET	 T1.C145 = 0,
			 T1.C146 = 1,
			 T1.C147 = 0	
		FROM	HT2499 T1
		LEFT JOIN HT1403 T2 ON T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	
		WHERE T1.DivisionID = '''+@DivisionID+''' AND T1.TranMonth = '+STR(@TranMonth)+' AND T1.TranYear = '+STR(@TranYear)+'	
		and exists (select top 1 1 from HP2402_HT2401 T2 where T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	)
		AND 
		(	T2.ToApprenticeTime is null and T2.FromApprenticeTime is null
		  or	
			-- CT hoan toan
			(
	 
			'''+Convert(Varchar(20),@MiddleDate+1,112)+''' > T2.ToApprenticeTime 
			OR
			'''+Convert(Varchar(20),@LastDate,112)+''' < T2.FromApprenticeTime
			)	
		)

		UPDATE T1
		SET	 T1.C145 = 0,
			 T1.C146 = 0,
			 T1.C147 = 1	
		FROM	HT2499 T1
		LEFT JOIN HT1403 T2 ON T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	
		WHERE T1.DivisionID = '''+@DivisionID+''' AND T1.TranMonth = '+STR(@TranMonth)+' AND T1.TranYear = '+STR(@TranYear)+'	
		and exists (select top 1 1 from HP2402_HT2401 T2 where T1.EmployeeID = T2.EmployeeID and T1.DivisionID = T2.DivisionID	)
		AND 
		(	-- vua CT, vua TV
			(T2.ToApprenticeTime >= '''+Convert(Varchar(20),@MiddleDate+1,112)+''' AND T2.ToApprenticeTime < '''+Convert(Varchar(20),@LastDate,112)+''')
			or
			(T2.FromApprenticeTime > '''+Convert(Varchar(20),@MiddleDate+1,112)+''' AND T2.FromApprenticeTime < ='''+Convert(Varchar(20),@LastDate,112)+''')
		)

		UPDATE T1
		SET	 T1.C143 = 1
		FROM	HT2499 T1
		WHERE
		---- Lam du thang
			(	NOT EXISTS 
				(SELECT TOP 1 1 FROM HT1380 T2 WHERE T1.EmployeeID = T2.EmployeeID and T2.LeaveDate < '''+Convert(Varchar(20),@LastDate,112)+''')
				AND
				NOT EXISTS
				(SELECT TOP 1 1 FROM HT1403 T3 WHERE T1.EmployeeID = T3.EmployeeID and T3.WorkDate > '''+Convert(Varchar(20),@MiddleDate+1,112)+''')
			)

		UPDATE T1
		SET	 T1.C143 = 2
		FROM	HT2499 T1
		WHERE
		---- Lam du thang
			(	EXISTS 
				(SELECT TOP 1 1 FROM HT1380 T2 WHERE T1.EmployeeID = T2.EmployeeID and T2.LeaveDate < '''+Convert(Varchar(20),@LastDate,112)+''')
				OR
				EXISTS
				(SELECT TOP 1 1 FROM HT1403 T3 WHERE T1.EmployeeID = T3.EmployeeID and T3.WorkDate > '''+Convert(Varchar(20),@MiddleDate+1,112)+''')
			)
		'
	END
	EXEC(@sSQL002)
	--print @sSQL002
END

END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON