IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP2433]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
	DROP PROCEDURE [DBO].[HP2433]
	
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-----Created by: Dang Le Bao Quynh, date: 12/10/2007  
-----Purpose: Xu ly gio vao gio ra theo quy dinh  
--- Modify on 11/08/2013 by Bảo Anh: Bổ sung trường hợp số phút được phép đi trễ, về sớm được nhập ở thiết lập hệ thống (Thuận Lợi)  
--- Modify on 14/08/2013 by Bảo Anh: Bổ sung loại công cơm TypeID = 'C' (Hưng Vượng)
--- Modify on 08/07/2015 by Bảo Anh: Cải tiến tốc độ
--- Modify on 21/12/2015 by Bảo Anh: Customize Meiko (gọi HP2433_MK)
--- Modify on 25/04/2016 by Bảo Anh: Customize IPL (gọi HP2433_IPL)
--- Modify on 11/12/2019 by Văn Tài: Format lại cách trình bày, không thay đổi về code.
--- Modify on 25/04/2022 by Văn Tài: Bổ sung cờ tăng ca trước, merge code quy định tăng ca từ bản DA qua sau.
--- Modify on 08/05/2023 by Viết Toàn: Customize HIPC (gọi HP2433_HIPC)
/********************************************  
'* Edited by: [GS] [Cẩm Loan] [16/12/2010]  
'********************************************/  
--- Modify on 20/08/2016 by Phương Thảo: Bổ sung xử lý tách bảng nghiệp vụ

SET NOCOUNT ON
GO
  
CREATE PROCEDURE [dbo].[HP2433]  @DivisionID NVARCHAR(50),
     @TranMonth INT,  
     @TranYear INT,  
     @AbsentDate DATETIME,  
     @EmployeeID NVARCHAR(50),  
     @AbsentCardNo NVARCHAR(50),      
     @ShiftID NVARCHAR(50),  
     @DateTypeID NVARCHAR(3),  
     @IsNextDay BIT,  
     @UserID NVARCHAR(50)  
AS  
  
DECLARE @TransactionID NVARCHAR(50),  
	    @AbsentHour DECIMAL(28,8),  
	    @AbsentTypeID NVARCHAR(50),  
	    @Sub INT,  
	    @InEarlyMinutes INT,
	    @InLateMinutes INT, 
	    @OutEarlyMinutes INT,
	    @OutLateMinutes INT, 
	    @DeductMinutes INT,
	    @DeductTotal DECIMAL(28,8),
	    @ShiftMaxRow INT,
	    @FromMinute DATETIME,
	    @ToMinute DATETIME,
	    @IsNextDayDetail BIT,
		@IsOverTime INT,
	    @RestrictID NVARCHAR(50),
	    @Orders INT,
	    @ScanDate DATETIME,
	    @InScanDate DATETIME,
	    @OutScanDate DATETIME,
	    @FromTimeValid DATETIME,
	    @ToTimeValid DATETIME,
	    @LateBeginPermit INT,
	    @EarlyEndPermit INT,
	    @SubMinute INT,
	    @Coefficient DECIMAL(28,8),
	    @curHV1020 CURSOR,
	    @curHV2433 CURSOR,
	    @i INT,
	    @j INT,
	    @o INT,
	    @LateBeginPermit00 INT,
	    @EarlyEndPermit00 INT,
	    @TypeID NVARCHAR(50),
	    @InScanDate_C DATETIME,
	    @InScanDate_NotC DATETIME,
	    @CustomerIndex INT

DECLARE	@sSQL001 NVARCHAR(4000),
		@TableHT2407 VARCHAR(50),		
		@sTranMonth VARCHAR(2)

SELECT @sTranMonth = CASE WHEN @TranMonth > 9 
					      THEN CONVERT(VARCHAR(2), @TranMonth) 
					      ELSE '0' + CONVERT(Varchar(1), @TranMonth) 
					 END

IF EXISTS (SELECT TOP 1 1 FROM AT0001 WHERE IsSplitTable = 1)	
	BEGIN
		SET  @TableHT2407 = 'HT2407M' + @sTranMonth + CONVERT(VARCHAR(4), @TranYear)
	END
ELSE
	BEGIN
		SET  @TableHT2407 = 'HT2407'
	END

SELECT @CustomerIndex = CustomerName FROM CustomerIndex
IF @CustomerIndex = 50 --- customize Meiko
	EXEC HP2433_MK @DivisionID, @TranMonth, @TranYear, @AbsentDate, @EmployeeID, @AbsentCardNo, @ShiftID, @DateTypeID, @IsNextDay, @UserID
ELSE IF @CustomerIndex = 17 --- IPL
	EXEC HP2433_IPL @DivisionID, @TranMonth, @TranYear, @AbsentDate, @EmployeeID, @AbsentCardNo, @ShiftID, @DateTypeID, @IsNextDay, @UserID
ELSE IF @CustomerIndex = 158
	EXEC HP2433_HIPC @DivisionID, @TranMonth, @TranYear, @AbsentDate, @EmployeeID, @AbsentCardNo, @ShiftID, @DateTypeID, @IsNextDay, @UserID
ELSE
BEGIN
	--- Lấy số phút được phép đi trễ, về sớm theo thiết lập  
	SELECT @LateBeginPermit00 = ISNULL(LateBeginPermit, 0)
		 , @EarlyEndPermit00 = ISNULL(EarlyEndPermit, 0)  
	FROM HT0000 
	WHERE DivisionID = @DivisionID
  
	SELECT @ShiftMaxRow = ISNULL(MAX(Orders), '')
	FROM HV1020
	WHERE ShiftID = @ShiftID 
	  AND DateTypeID = @DateTypeID  

	--Tao bang tam lay du lieu cua ca  
	/*  
		Create Table #HT1020 (  
		FromMinute,  
		ToMinute,  
		IsNextDay, AbsentTypeID, RestrictID, Orders  
		)  
	*/  
	-- Tạo bảng tạm lấy dữ liệu để quét vào và ra trên cùng 1 dòng
	CREATE TABLE #HT2433(  
		   Orders INT,  
		   InScanDate DATETIME,  
		   OutScanDate DATETIME  
	   )  

	SET @i=1  
	SET @j=1  
	SET @o = 1     
	SET @curHV2433 = CURSOR STATIC FOR  
									  SELECT ScanDate 
									  FROM HTT2433 
									  WHERE DivisionID = @DivisionID 
									  	AND TranMonth = @TranMonth  
									  	AND TranYear = @TranYear 
									  	AND EmployeeID = @EmployeeID 
									  ORDER BY ScanDate  
  
	OPEN @curHV2433
	FETCH NEXT FROM @curHV2433 INTO @ScanDate  
	WHILE @@Fetch_Status = 0  
	BEGIN  
		  IF @i % 2 = 0  
			BEGIN  
				 UPDATE #HT2433 SET OutScanDate = @ScanDate WHERE Orders = @j  
				 SET @j = @j + 1  
			END  
		  ELSE  
		    BEGIN  
			 INSERT INTO #HT2433(Orders, InScanDate) 
					     VALUES (@j, @ScanDate)  
		    END  

		  SET @i = @i + 1  
		  FETCH NEXT FROM @curHV2433 INTO @ScanDate  
	END 

	CLOSE @curHV2433  

	 -- So sánh đối chiếu từng dòng quét thẻ thực tế va thiết lập
	 SET @curHV2433 = CURSOR STATIC FOR  
										SELECT InScanDate, OutScanDate 
										FROM #HT2433 
										ORDER BY Orders  
   
	 --Lap tung dong thuc te  
	OPEN @curHV2433  
	FETCH NEXT FROM @curHV2433 INTO @InScanDate
								  , @OutScanDate
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
	   SET @InScanDate_C = @InScanDate
	   SET @InScanDate_NotC = @InScanDate
	   SET @curHV1020 = CURSOR STATIC FOR  
										 SELECT CAST(@AbsentDate + ' ' + FromMinute AS DATETIME)
										 	  , CAST(@AbsentDate + ' ' + ToMinute AS DATETIME)
										 	  , IsNextDay
										 	  , AbsentTypeID
										 	  , RestrictID
										 	  , Orders
										 	  , TypeID 
											  , IsOvertime
										 FROM HV1020
										 WHERE ShiftID = @ShiftID 
										   AND DateTypeID = @DateTypeID
										 ORDER BY Orders

	   OPEN @curHV1020  
	   FETCH NEXT FROM @curHV1020 INTO @FromMinute
									 , @ToMinute
									 , @IsNextDayDetail
									 , @AbsentTypeID
									 , @RestrictID
									 , @Orders
									 , @TypeID  
									 , @IsOvertime
	   WHILE @@FETCH_STATUS = 0  
	   BEGIN  
			SET @InEarlyMinutes = 0  
			SET @InLateMinutes = 0  
			SET @OutEarlyMinutes = 0  
			SET @OutLateMinutes = 0  
			SET @DeductMinutes = 0  
			SET @DeductTotal = 0  
			SET @Sub = 0  
			SET @SubMinute = 0     
			SET @Coefficient = 1  
      
			IF @IsNextDayDetail = 1  
				 BEGIN  
					IF @FromMinute > @ToMinute  
						BEGIN  
							SET @ToMinute = DATEADD(d, 1, @ToMinute)  
						END  
					ELSE   
						BEGIN  
							SET @FromMinute = DATEADD(d, 1, @FromMinute)  
							SET @ToMinute = DATEADD(d, 1, @ToMinute)  
						END  
				 END  

			-- Bắt đầu so sánh đối chiếu 
			-- Xác định vào trễ ra sớm
			IF @TypeID = 'C' SET @InScanDate = @InScanDate_C  
			IF @TypeID <> 'C' SET @InScanDate = @InScanDate_NotC  

			-- DEBUG
			PRINT('-------------- DEBUG -------------------')
			PRINT(CONVERT(NVARCHAR, @FromMinute, 120))
			PRINT(CONVERT(NVARCHAR, @ToMinute, 120))
			PRINT('@InScanDate_C:    ' + CONVERT(NVARCHAR, @InScanDate_C, 120))
			PRINT('@InScanDate_NotC: ' + CONVERT(NVARCHAR, @InScanDate_NotC, 120))
			PRINT('----------------------------------------')

			IF		@InScanDate <= @ToMinute 
				AND @OutScanDate > @FromMinute  
			BEGIN
				SET @FromTimeValid = @InScanDate
				SET @Sub = DATEDIFF(MINUTE, @InScanDate, @FromMinute)

				IF @Sub >= 0
					BEGIN  
					   SET @InEarlyMinutes = @Sub
					   SET @InLateMinutes = 0
					END  
				ELSE  
					BEGIN  
					   SET @InEarlyMinutes = 0  
					   SET @InLateMinutes = -@Sub  
					END  

				IF @OutScanDate <= @ToMinute   
					BEGIN  
					   SET @ToTimeValid = @OutScanDate  
					   SET @OutEarlyMinutes = DATEDIFF(MINUTE, @OutScanDate, @ToMinute)  
					END  
				ELSE  
					BEGIN  
					   IF @Orders = @ShiftMaxRow  
							BEGIN  
								 SET @ToTimeValid = @OutScanDate  
								 SET @OutLateMinutes = -DATEDIFF(MINUTE, @OutScanDate, @ToMinute)  
							END  
					   ELSE  
							BEGIN  
								 SET @OutLateMinutes = 0  
								 -- SET @ToTimeValid = @ToMinute  
								 SET @ToTimeValid = @OutScanDate  
							 IF @TypeID <> 'C'  
								 BEGIN  
								   SET @InScanDate = DATEADD(SECOND, 1, @ToMinute)  
								   SET @InScanDate_NotC = @InScanDate   
								 END  
							END  
					END  
  
				 IF		   ISNULL(@RestrictID, '') <> '' 
						OR ISNULL(@LateBeginPermit00, 0) <> 0 
						OR ISNULL(@EarlyEndPermit00, 0) <> 0  
					BEGIN  
					   IF ISNULL(@RestrictID, '') <> ''  
							SELECT @LateBeginPermit = ISNULL(LateBeginPermit, 0)
								 , @EarlyEndPermit = ISNULL(EarlyEndPermit, 0) 
							FROM HT1022  
							WHERE HT1022.RestrictID = @RestrictID  
					   ELSE  
							BEGIN  
								SET @LateBeginPermit = @LateBeginPermit00  
								SET @EarlyEndPermit = @EarlyEndPermit00  
							End  

					   -- Tính tổng số phút bị trừ
					   SET @DeductMinutes = CASE WHEN @InLateMinutes > @LateBeginPermit THEN @InLateMinutes ELSE 0 END 
										  + CASE WHEN @OutEarlyMinutes > @EarlyEndPermit THEN @OutEarlyMinutes ELSE 0 END  

					   -- Xac dinh so phut thuc tru va he so tru  
					   SELECT TOP 1 @SubMinute = ISNULL(SubMinute, 0)
								  , @Coefficient = ISNULL(Coefficient, 1) 
					   FROM HT1023   
					   WHERE HT1023.RestrictID = @RestrictID 
							AND @DeductMinutes >= ISNULL(FromMinute, 0) 
							AND @DeductMinutes <= CASE WHEN ISNULL(ToMinute, 0) = -1 
													   THEN 1440 
													   ELSE ISNULL(ToMinute, 0) 
												  END  
					   ORDER BY LevelID

					   SET @DeductTotal = CASE WHEN ISNULL(@SubMinute, 0) > 0 
											   THEN ISNULL(@SubMinute, 0) * ISNULL(@Coefficient, 1) 
											   ELSE ISNULL(@DeductMinutes, 0) * ISNULL(@Coefficient, 1) 
										  END  
				   END       
				 ELSE  
					  BEGIN  
						   SET @DeductMinutes = @InLateMinutes + @OutEarlyMinutes  
						   SET @Coefficient = 1  
						   SET @DeductTotal = @DeductMinutes   
					  END  

				SET @AbsentHour = ROUND((DATEDIFF(mi, @FromMinute, @ToMinute ) - @DeductTotal) / 60, 2)  

				PRINT ('TEST HP2433')
				PRINT (@AbsentHour)

				SET @sSQL001 = N'
				 INSERT INTO '+@TableHT2407+'  (
												  TransactionID, DivisionID, EmployeeID, AbsentCardNo, TranMonth, TranYear, AbsentDate, ShiftID, Orders,  
												  FromTime, ToTime, AbsentHour, FromTimeValid, ToTimeValid, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate,  
												  AbsentTypeID, InEarlyMinutes, InLateMinutes, OutEarlyMinutes, OutLateMinutes, DeductMinutes, RestrictID, Coefficient, DeductTotal  
												)  
				 VALUES  (	NEWID(), 
							''' + @DivisionID 
							+ ''', ''' + @EmployeeID 
							+ ''', ''' + @AbsentCardNo
							+ ''', ' + STR(@TranMonth) 
							+ ', ' + STR(@TranYear)
							+ ', ''' + CONVERT(VARCHAR(50), @AbsentDate, 120)
							+ ''', ''' + @ShiftID 
							+ ''', ' + STR(@o) 
							+ ', ''' + CONVERT(VARCHAR(50), @FromMinute, 120) 
							+ ''', ''' + CONVERT(VARCHAR(50), @ToMinute, 120) 
							+ ''', ' + CONVERT(VARCHAR(50), @AbsentHour) 
							+ ', ''' + CONVERT(VARCHAR(50), @FromTimeValid, 120) 
							+ ''', ''' + CONVERT(Varchar(50), @ToTimeValid, 120)
							+ ''', ''' + @UserID 
							+ ''', GETDATE(), ''' + @UserID 
							+ ''', GETDATE(), ''' + @AbsentTypeID 
							+ ''', ' + STR(@InEarlyMinutes) 
							+ ', ' + STR(@InLateMinutes) 
							+ ', ' + STR(@OutEarlyMinutes) 
							+ ', ' + STR(@OutLateMinutes) 
							+ ', ' + STR(@DeductMinutes)
							+ ', ''' + ISNULL(@RestrictID, '') 
							+ ''', ' + CONVERT(VARCHAR(50), @Coefficient)
							+ ', ' +STR(@DeductTotal) + '   
						)  '

				EXEC(@sSQL001)
				 SET @o = @o +1        
			END  
  
			FETCH NEXT FROM @curHV1020 INTO @FromMinute
										  , @ToMinute
										  , @IsNextDayDetail
										  , @AbsentTypeID
										  , @RestrictID
										  , @Orders
										  , @TypeID 
										  , @IsOvertime
	   END  
	   CLOSE @curHV1020  
  
	   FETCH NEXT FROM @curHV2433 INTO @InScanDate, @OutScanDate  
	END  
	CLOSE @curHV2433     
	DEALLOCATE @curHV2433  
	DROP TABLE #HT2433

END

SET NOCOUNT OFF