IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP2435_MK]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP2435_MK]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---Created by : Dang Le Bao Quynh, Date : 15/10/2007
---Purpose: Kiem tra du lieu truoc khi ket chuyen sang cham cong ngay 
--- Modify on 27/12/2013 by Bao Anh: Sửa thứ tự Where cho các bảng HT2407, HT2401 theo Index để cải thiện tốc độ
/********************************************
'* Edited by: [GS] [Thành Nguyên] [02/08/2010]
'********************************************/
--- Modify by Phương Thảo on 16/11/2016: Bổ sung tách bảng nghiệp vụ


--- EXEC HP2435_MK 'mk', 'A000000', '000715', 9, 2016, '2016-09-01', '2016-09-30'

CREATE PROCEDURE [dbo].[HP2435_MK]   	@DivisionID nvarchar(50),
					@DepartmentID nvarchar(50),
					@EmployeeID nvarchar(50),
				 	@TranMonth int,
				 	@TranYear int,
				 	@FromDate datetime,
				 	@ToDate datetime
				
AS

Declare @TableHT2401 Varchar(50),
		@sSQL nvarchar(4000),
		@sTranMonth Varchar(2)

SELECT @sTranMonth = CASE WHEN @TranMonth >9 THEN Convert(Varchar(2),@TranMonth) ELSE '0'+Convert(Varchar(1),@TranMonth) END

IF EXISTS (SELECT TOP 1 1 FROM AT0001 WHERE IsSplitTable = 1)	
BEGIN
	SELECT  @TableHT2401 = 'HT2401M'+@sTranMonth+Convert(Varchar(4),@TranYear)
END
ELSE
BEGIN
	SELECT  @TableHT2401 = 'HT2401'
END

SELECT @sSQL = '
Declare @Status int

Set @Status = 0

If exists (Select Top 1 1 From '+@TableHT2401+' Where DivisionID = '''+@DivisionID+''' and TranYear = '+STR(@TranYear)+' And TranMonth = '+STR(@TranMonth)+'
			and DepartmentID Like '''+@DepartmentID+''' And EmployeeID Like '''+@EmployeeID+''' 
			and	(AbsentDate between '''+Convert(Varchar(20),@FromDate,120)+''' and '''+Convert(Varchar(20),@ToDate,120)+'''))
	Begin
		Set @Status = 1
	End

Select @Status as Status

'
--PRINT @sSQL
EXEC (@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

