IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP2429]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP2429]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----Created by: Dang Le Bao Quynh, date: 15/10/2007
----purpose: Kiem tra du lieu truoc khi tinh cong
--- Modify on 30/06/2015 by Bảo Anh: Truyền thêm @DepartmentID và @EmployeeID
/********************************************
'* Edited by: [GS] [Thành Nguyên] [02/08/2010]
'********************************************/
--- Modify on 18/08/2016 by Phương Thảo: Bổ sung xử lý tách bảng nghiệp vụ

CREATE PROCEDURE [dbo].[HP2429]  @DivisionID nvarchar(50),				
				@TranMonth int,
				@TranYear int,
				@FromDate datetime,
				@ToDate datetime,
				@DepartmentID nvarchar(50) = '%',
				@EmployeeID nvarchar(50) = '%'
				                                               								
AS


DECLARE	@sSQL001 Nvarchar(4000),
		@TableHT2407 Varchar(50),		
		@sTranMonth Varchar(2)

SELECT @sTranMonth = CASE WHEN @TranMonth >9 THEN Convert(Varchar(2),@TranMonth) ELSE '0'+Convert(Varchar(1),@TranMonth) END

IF EXISTS (SELECT TOP 1 1 FROM AT0001 WHERE IsSplitTable = 1)	
BEGIN
	SET  @TableHT2407 = 'HT2407M'+@sTranMonth+Convert(Varchar(4),@TranYear)
END
ELSE
BEGIN
	SET  @TableHT2407 = 'HT2407'
END



SET @sSQL001 = '
Declare @Status int
Set @Status = 0

IF exists (Select Top 1 1 From  '+@TableHT2407+' AS HT2407 Where (AbsentDate between '''+Convert(Varchar(20),@FromDate,101)+''' And '''+Convert(Varchar(20),@ToDate,101)+''')  and
			DivisionID = '''+@DivisionID+''' and
			TranMonth = '+STR(@TranMonth)+' and
			TranYear = '+STR(@TranYear)+' and
			EmployeeID like '''+@EmployeeID+''' and
			(Select DepartmentID From HT1400 Where DivisionID = '''+@DivisionID+''' And EmployeeID = HT2407.EmployeeID) like '''+@DepartmentID+''')
	Begin
		Set @Status = 1
	End

Select @Status Status
'
--print @sSQL001
EXEC(@sSQL001)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

