IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP2409_TH]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[HP2409_TH]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---Created by: Vo Thanh Huong, date: 16/10/2004
---Purpose:  Insert vào HT2408 tu Table tam  HT2406
---Edit by: Dang Le Bao Quynh, date 05/10/2007
---Thay doi cach luu du lieu vao bang tam 
--- Modify on 27/06/2016 by Bảo Anh: Cải tiến tốc độ
/********************************************
'* Edited by: [GS] [Mỹ Tuyền] [30/07/2010]
'********************************************/
--- Modify on 18/08/2016 by Phương Thảo: Bổ sung xử lý tách bảng nghiệp vụ
--- Modify on 07/02/2017 by Phương Thảo: Chuyển phần xử lý của meiko vào chuẩn
--- Modify on 27/03/2018 by Bảo Anh: Tiến Hưng trả lại store cũ không xử lý giờ Min Max

CREATE PROCEDURE [dbo].[HP2409_TH] @DivisionID nvarchar(50),
				@TranMonth int,
				@TranYear int,
				@FromDate datetime, 
				@ToDate datetime,
				@DepartmentID nvarchar(50),
				@CreateUserID nvarchar(50)				
AS

Declare @cur as cursor,
	@EmployeeID nvarchar(50),
	@BeginDate datetime,
	@EndDate datetime,
	@sSQL001 Nvarchar(4000),
	@sSQL002 Nvarchar(4000),
	@TableHT2406 Varchar(50),
	@TableHT2408 Varchar(50),
	@sTranMonth Varchar(2)

SELECT @sTranMonth = CASE WHEN @TranMonth >9 THEN Convert(Varchar(2),@TranMonth) ELSE '0'+Convert(Varchar(1),@TranMonth) END

IF EXISTS (SELECT TOP 1 1 FROM AT0001 WHERE IsSplitTable = 1)	
BEGIN
	SELECT  @TableHT2406 = 'HT2406M'+@sTranMonth+Convert(Varchar(4),@TranYear),
			@TableHT2408 = 'HT2408M'+@sTranMonth+Convert(Varchar(4),@TranYear)
END
ELSE
BEGIN
	SELECT  @TableHT2406 = 'HT2406',
			@TableHT2408 = 'HT2408'
END


SET @sSQL001 = '
Delete HT2408 
From '+@TableHT2408+ ' AS HT2408 
inner join  HT1400 on HT1400.EmployeeID=HT2408.EmployeeID and HT1400.DivisionID=HT2408.DivisionID
Where 	HT2408.DivisionID = '''+@DivisionID+''' and
	HT2408.TranMonth = '+STR(@TranMonth)+' and
	HT2408.TranYear = '+STR(@TranYear)+' and
	HT1400.DepartmentID like '''+@DepartmentID+''' and
	HT2408.AbsentDate between '''+Convert(Varchar(20),@FromDate,101)+''' and '''+Convert(Varchar(20),@ToDate,101)+'''
	
Insert '+@TableHT2408+ '(DivisionID, TranMonth, TranYear, AbsentCardNo,  EmployeeID, AbsentDate, AbsentTime, 
		CreateUserID, CreateDate, LastModifyUserID, LastModifyDate, MachineCode, ShiftCode, IOCode,InputMethod, IsAO) 
Select 	'''+@DivisionID+''', '+STR(@TranMonth)+', '+STR(@TranYear)+', T00.AbsentCardNo, T01.EmployeeID, T00.AbsentDate, T00.AbsentTime,
	'''+@CreateUserID+''', getdate(), '''+@CreateUserID+''', getdate(), MachineCode, ShiftCode, IOCode,InputMethod, 0
From 	'+@TableHT2406+' T00
inner  join HT1407 T01 on T00.AbsentCardNo = T01.AbsentCardNo and T00.DivisionID = T01.DivisionID
inner join  HT1400 on HT1400.EmployeeID=T01.EmployeeID and HT1400.DivisionID=T01.DivisionID
Where T00.DivisionID = '''+@DivisionID+'''
	And T00.TranMonth = '+STR(@TranMonth)+'
	And	T00.TranYear = '+STR(@TranYear)+'
	And	T00.AbsentDate Between '''+Convert(Varchar(20),@FromDate,101)+''' And '''+Convert(Varchar(20),@ToDate,101)+'''
	And T00.AbsentDate Between  T01.BeginDate And isnull(T01.EndDate,''12/31/9999'')
	And HT1400.DepartmentID like '''+@DepartmentID+'''
'

/* Bỏ vòng lặp cursor để cải tiến tốc độ
Set @cur = cursor static for
Select HT1407.EmployeeID, HT1407.BeginDate, isnull(HT1407.EndDate,'12/31/9999') From HT1407 
inner join  HV1400 on HV1400.EmployeeID=HT1407.EmployeeID and HV1400.DivisionID=HT1407.DivisionID
Where 	HT1407.EmployeeID In (Select EmployeeID From HV1400 Where DivisionID = @DivisionID And DepartmentID like @DepartmentID)
And HT1407.DivisionID = @DivisionID
And HV1400.DepartmentID like @DepartmentID
And HT1407.BeginDate<=@ToDate And @FromDate<=isnull(EndDate,'12/31/9999')
	
	
Open @cur
Fetch Next From @cur Into  @EmployeeID, @BeginDate, @EndDate
While @@Fetch_Status=0
Begin
	Insert HT2408(DivisionID, TranMonth, TranYear, AbsentCardNo,  EmployeeID, AbsentDate, AbsentTime, 
		CreateUserID, CreateDate, LastModifyUserID, LastModifyDate, MachineCode, ShiftCode, IOCode,InputMethod) 
	Select 	@DivisionID, @TranMonth, @TranYear, T00.AbsentCardNo, T01.EmployeeID, T00.AbsentDate, T00.AbsentTime,
		@CreateUserID, getdate(), @CreateUserID, getdate(), MachineCode, ShiftCode, IOCode,InputMethod
	From 	HT2406 T00 left  join HT1407 T01 on T00.AbsentCardNo = T01.AbsentCardNo and T00.DivisionID = T01.DivisionID
	Where 	T00.AbsentDate Between  @BeginDate And  @EndDate
		And T00.AbsentDate Between @FromDate And @ToDate
		And T01.EmployeeID = @EmployeeID
		And T00.DivisionID = @DivisionID
		And TranMonth = @TranMonth 
		And	TranYear = @TranYear
		 
	Fetch Next From @cur Into  @EmployeeID, @BeginDate, @EndDate
End

Close @Cur
*/

--print @sSQL001
EXEC (@sSQL001)

--EXEC HP2430  @DivisionID, 	@TranMonth,	 @TranYear,	@FromDate,	 @ToDate, 	@CreateUserID

SET NOCOUNT OFF



GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
