IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP2563]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP2563]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----Created date: 11/07/2005  
----purpose: In bang cham cong  
---Edit by Huynh Trung Dung ,date 17/12/2010 --- Them tham so @ToDepartmentID 
---- Modified by Phương Thảo on 22/05/2017: Sửa danh mục dùng chung
---- Modified on 10/01/2018 by Bảo Anh: Bổ sung in nhiều đơn vị
 
CREATE PROCEDURE HP2563  @DivisionID nvarchar(50),  
    @DepartmentID nvarchar(50),   
    @ToDepartmentID nvarchar(50),   
    @TeamID nvarchar(50),  
    @FromDate datetime,  
    @ToDate datetime,
	@StrDivisionID AS NVARCHAR(4000) = ''  
        
AS   
DECLARE   
	@sSQL1 nvarchar(4000),
	@StrDivisionID_New AS NVARCHAR(4000)

SET @StrDivisionID_New = ''		

IF ISNULL(@StrDivisionID,'') <> ''
	SELECT @StrDivisionID_New = CASE WHEN @StrDivisionID = '%' THEN ' LIKE ''' + 
	@StrDivisionID + '''' ELSE ' IN (''' + replace(@StrDivisionID, ',',''',''') + ''')' END
ELSE
	SELECT @StrDivisionID_New = ' = ''' + @DivisionID + ''''  
  
Set @sSQL1= 'Select HV.TeamID ,HV.TeamName, HV.EmployeeID, HV.FullName, HV.DivisionID,HV.DepartmentID, AT02.DepartmentName, HV.DutyID, HV.DutyName, WorkDate   
  From HV1400 HV 
  left join AT1102  AT02 on HV.DepartmentID=AT02.DepartmentID   
  Where HV.DivisionID '+@StrDivisionID_New+' and HV.DepartmentID between '''+ @DepartmentID+''' and '''+ @ToDepartmentID+''' and IsNull(HV.TeamID,'''') like  ''' + IsNull(@TeamID,'') +'''   
  and HV.EmployeeStatus=1'  
  
  
If not exists (Select Top 1 1 From SysObjects Where Xtype = 'V' and Name = 'HV2564' )  
 EXEC('Create View HV2564 ---tao boi HP2563  
   as ' + @sSQL1)  
else  
 EXEC('Alter View HV2564 ---tao boi HP2563  
   as ' + @sSQL1)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

