IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP2516_MK]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP2516_MK]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


---Created by: Vo Thanh Huong, date: 24/09/2004
---purpose: Xu ly so lieu IN phieu luong cong thang tung nguoi
---Added by: Phuong Loan, them phan tinh thue thu nhap

/********************************************
'* Edited by: [GS] [Việt Khánh] [02/08/2010]
'********************************************/
--Edited by: [GS] [Trọng Khánh] [02/08/2010]
---- Modified on 20/12/2012 by Lê Thị Thu Hiền : Kiểm tra @Condition = ''
---- Modified on 14/08/2013 by Bảo Anh : Sửa lỗi câu lệnh tạo view HV3405 (mantis 0020446)
---- Modifyed by Kim Vu on 23/02/2016: Bổ sung in theo danh sách nhân viên được chọn
---- Modified by Bảo Thy on 17/01/2017: BỔ sung I151 -> I200 (MEIKO)

CREATE PROCEDURE [dbo].[HP2516_MK] 
    @DivisionID NVARCHAR(50), 
    @FromDepartmentID NVARCHAR(50), 
    @ToDepartmentID NVARCHAR(50), 
    @TeamID NVARCHAR(50), 
    @FromEmployeeID NVARCHAR(50), 
    @ToEmployeeID NVARCHAR(50), 
    @FromYear INT, 
    @FromMonth INT, 
    @ToYear INT, 
    @ToMonth INT, 
    @lstPayrollMethodID NVARCHAR(4000),   
    @GrossPay nvarchar(50),
	@Deduction nvarchar(50), 
	@IncomeTax nvarchar(50),
	@gnLang int,
	@Condition nvarchar(1000),
	@lstEmployeeID as NVARCHAR(4000) --- Danh sach nhân viên được chọn
AS 

DECLARE 
    @sSQL NVARCHAR(max), 
    @sSQL2 NVARCHAR(max), 
    @cur CURSOR, 
    @IncomeID NVARCHAR(50), 
    @Signs DECIMAL, 
    @Notes NVARCHAR(250), 
    @Caption NVARCHAR(250), 
    @Orders INT, 
    @lstPayrollMethodID_new NVARCHAR(500), 
    @PayrollMethodID NVARCHAR(50),
	@sSQL_Where nvarchar(4000),
	@sSelect1 nvarchar(MAX)='', 
	@sSelect2 nvarchar(MAX)='', 
	@sSelect3 nvarchar(MAX)='', 
	@sSelect4 nvarchar(MAX)='', 
	@sSelect5 nvarchar(MAX)=''

SELECT @lstPayrollMethodID_new = CASE WHEN @lstPayrollMethodID = '%' THEN ' LIKE ''' + 
@lstPayrollMethodID + '''' ELSE ' IN (''' + replace(@lstPayrollMethodID, ',',''',''') + ''')' END, @Orders = 1

IF EXISTS (SELECT * FROM sysobjects WHERE name = 'HT5402' AND xtype = 'U') ---Table tam 
    DROP TABLE HT5402

SELECT @sSQL = '', @sSQL2 = '' 

--- kiem tra dieu kien where 
if(ISNULL(@lstEmployeeID,'') = '')
begin
	SET @sSQL_Where =''
end
else
begin
	SET @sSQL_Where = ' AND T01.EmployeeID  in (''' + @lstEmployeeID + ''') '
end

---Neu don vi co tinh thue thu nhap

IF EXISTS (SELECT TOP 1 1 FROM HT2400 WHERE DivisionID = @DivisionID AND TranMonth + 100* TranYear BETWEEN CAST(@FromMonth + @FromYear*100 AS NVARCHAR(10)) AND  CAST(@ToMonth + @ToYear*100 AS NVARCHAR(10)) AND TaxObjectID is not null)
    BEGIN 
		IF ISNULL((SELECT CustomerName FROM CustomerIndex),-1)=50 --MEIKO
		BEGIN
			SET @sSQL = '
			SELECT T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID, '''') AS TeamID, T01.EmployeeID, V01.FullName, V01.Birthday, PayrollMethodID, 
			    AVG(ISNULL(T02.InsuranceSalary, 0)) AS InsuranceSalary, 
			    SUM(ISNULL(Income01, 0)) AS Income01, SUM(ISNULL(Income02, 0)) AS Income02, SUM(ISNULL(Income03, 0)) AS Income03, 
			    SUM(ISNULL(Income04, 0)) AS Income04, 
			    SUM(ISNULL(Income05, 0)) AS Income05, SUM(ISNULL(Income06, 0)) AS Income06, SUM(ISNULL(Income07, 0)) AS Income07, 
			    SUM(ISNULL(Income08, 0)) AS Income08, SUM(ISNULL(Income09, 0)) AS Income09, SUM(ISNULL(Income10, 0)) AS Income10, 
			    SUM(ISNULL(Income11, 0)) AS Income11, SUM(ISNULL(Income12, 0)) AS Income12, SUM(ISNULL(Income13, 0)) AS Income13, 
			    SUM(ISNULL(Income14, 0)) AS Income14, SUM(ISNULL(Income15, 0)) AS Income15, SUM(ISNULL(Income16, 0)) AS Income16, 
				SUM(ISNULL(Income17, 0)) AS Income17, SUM(ISNULL(Income18, 0)) AS Income18, SUM(ISNULL(Income19, 0)) AS Income19, SUM(ISNULL(Income20, 0)) AS Income20, '
			SET @sSelect1 = '
				SUM(ISNULL(Income21,0)) AS Income21, SUM(ISNULL(Income22,0)) AS Income22, SUM(ISNULL(Income23,0)) AS Income23, SUM(ISNULL(Income24,0)) AS Income24,
				SUM(ISNULL(Income25,0)) AS Income25, SUM(ISNULL(Income26,0)) AS Income26, SUM(ISNULL(Income27,0)) AS Income27, SUM(ISNULL(Income28,0)) AS Income28,
				SUM(ISNULL(Income29,0)) AS Income29, SUM(ISNULL(Income30,0)) AS Income30, SUM(ISNULL(Income31,0)) AS Income31, SUM(ISNULL(Income32,0)) AS Income32,
				SUM(ISNULL(Income33,0)) AS Income33, SUM(ISNULL(Income34,0)) AS Income34, SUM(ISNULL(Income35,0)) AS Income35, SUM(ISNULL(Income36,0)) AS Income36, 
				SUM(ISNULL(Income37,0)) AS Income37, SUM(ISNULL(Income38,0)) AS Income38, SUM(ISNULL(Income39,0)) AS Income39, SUM(ISNULL(Income40,0)) AS Income40, 
				SUM(ISNULL(Income41,0)) AS Income41, SUM(ISNULL(Income42,0)) AS Income42, SUM(ISNULL(Income43,0)) AS Income43, SUM(ISNULL(Income44,0)) AS Income44, 
				SUM(ISNULL(Income45,0)) AS Income45, SUM(ISNULL(Income46,0)) AS Income46, SUM(ISNULL(Income47,0)) AS Income47, SUM(ISNULL(Income48,0)) AS Income48, 
				SUM(ISNULL(Income49,0)) AS Income49, SUM(ISNULL(Income50,0)) AS Income50, SUM(ISNULL(Income51,0)) AS Income51, SUM(ISNULL(Income52,0)) AS Income52, 
				SUM(ISNULL(Income53,0)) AS Income53, SUM(ISNULL(Income54,0)) AS Income54, SUM(ISNULL(Income55,0)) AS Income55, SUM(ISNULL(Income56,0)) AS Income56, 
				SUM(ISNULL(Income57,0)) AS Income57, SUM(ISNULL(Income58,0)) AS Income58, SUM(ISNULL(Income59,0)) AS Income59, SUM(ISNULL(Income60,0)) AS Income60, 
				SUM(ISNULL(Income61,0)) AS Income61, SUM(ISNULL(Income62,0)) AS Income62, SUM(ISNULL(Income63,0)) AS Income63, SUM(ISNULL(Income64,0)) AS Income64, 
				SUM(ISNULL(Income65,0)) AS Income65, SUM(ISNULL(Income66,0)) AS Income66, SUM(ISNULL(Income67,0)) AS Income67, SUM(ISNULL(Income68,0)) AS Income68, 
				SUM(ISNULL(Income69,0)) AS Income69, SUM(ISNULL(Income70,0)) AS Income70, SUM(ISNULL(Income71,0)) AS Income71, SUM(ISNULL(Income72,0)) AS Income72, 
				SUM(ISNULL(Income73,0)) AS Income73, SUM(ISNULL(Income74,0)) AS Income74, SUM(ISNULL(Income75,0)) AS Income75, SUM(ISNULL(Income76,0)) AS Income76, 
				SUM(ISNULL(Income77,0)) AS Income77, SUM(ISNULL(Income78,0)) AS Income78, SUM(ISNULL(Income79,0)) AS Income79, SUM(ISNULL(Income80,0)) AS Income80, 
				SUM(ISNULL(Income81,0)) AS Income81, SUM(ISNULL(Income82,0)) AS Income82, SUM(ISNULL(Income83,0)) AS Income83, SUM(ISNULL(Income84,0)) AS Income84, 
				SUM(ISNULL(Income85,0)) AS Income85, SUM(ISNULL(Income86,0)) AS Income86, SUM(ISNULL(Income87,0)) AS Income87, SUM(ISNULL(Income88,0)) AS Income88, 
				SUM(ISNULL(Income89,0)) AS Income89, SUM(ISNULL(Income90,0)) AS Income90, SUM(ISNULL(Income91,0)) AS Income91, SUM(ISNULL(Income92,0)) AS Income92, 
				SUM(ISNULL(Income93,0)) AS Income93, SUM(ISNULL(Income94,0)) AS Income94, SUM(ISNULL(Income95,0)) AS Income95, SUM(ISNULL(Income96,0)) AS Income96, 
				SUM(ISNULL(Income97,0)) AS Income97, SUM(ISNULL(Income98,0)) AS Income98, SUM(ISNULL(Income99,0)) AS Income99, SUM(ISNULL(Income100,0)) AS Income100, '
			SET @sSelect2 = '
				SUM(ISNULL(Income101,0)) AS Income101, SUM(ISNULL(Income102,0)) AS Income102, SUM(ISNULL(Income103,0)) AS Income103, SUM(ISNULL(Income104,0)) AS Income104, 
				SUM(ISNULL(Income105,0)) AS Income105, SUM(ISNULL(Income106,0)) AS Income106, SUM(ISNULL(Income107,0)) AS Income107, SUM(ISNULL(Income108,0)) AS Income108, 
				SUM(ISNULL(Income109,0)) AS Income109, SUM(ISNULL(Income110,0)) AS Income110, SUM(ISNULL(Income111,0)) AS Income111, SUM(ISNULL(Income112,0)) AS Income112, 
				SUM(ISNULL(Income113,0)) AS Income113, SUM(ISNULL(Income114,0)) AS Income114, SUM(ISNULL(Income115,0)) AS Income115, SUM(ISNULL(Income116,0)) AS Income116, 
				SUM(ISNULL(Income117,0)) AS Income117, SUM(ISNULL(Income118,0)) AS Income118, SUM(ISNULL(Income119,0)) AS Income119, SUM(ISNULL(Income120,0)) AS Income120, 
				SUM(ISNULL(Income121,0)) AS Income121, SUM(ISNULL(Income122,0)) AS Income122, SUM(ISNULL(Income123,0)) AS Income123, SUM(ISNULL(Income124,0)) AS Income124, 
				SUM(ISNULL(Income125,0)) AS Income125, SUM(ISNULL(Income126,0)) AS Income126, SUM(ISNULL(Income127,0)) AS Income127, SUM(ISNULL(Income128,0)) AS Income128, 
				SUM(ISNULL(Income129,0)) AS Income129, SUM(ISNULL(Income130,0)) AS Income130, SUM(ISNULL(Income131,0)) AS Income131, SUM(ISNULL(Income132,0)) AS Income132, 
				SUM(ISNULL(Income133,0)) AS Income133, SUM(ISNULL(Income134,0)) AS Income134, SUM(ISNULL(Income135,0)) AS Income135, SUM(ISNULL(Income136,0)) AS Income136, 
				SUM(ISNULL(Income137,0)) AS Income137, SUM(ISNULL(Income138,0)) AS Income138, SUM(ISNULL(Income139,0)) AS Income139, SUM(ISNULL(Income140,0)) AS Income140, 
				SUM(ISNULL(Income141,0)) AS Income141, SUM(ISNULL(Income142,0)) AS Income142, SUM(ISNULL(Income143,0)) AS Income143, SUM(ISNULL(Income144,0)) AS Income144, 
				SUM(ISNULL(Income145,0)) AS Income145, SUM(ISNULL(Income146,0)) AS Income146, SUM(ISNULL(Income147,0)) AS Income147, SUM(ISNULL(Income148,0)) AS Income148, 
				SUM(ISNULL(Income149,0)) AS Income149, SUM(ISNULL(Income150,0)) AS Income150,
				SUM(ISNULL(Income151,0)) AS Income151, SUM(ISNULL(Income152,0)) AS Income152, SUM(ISNULL(Income153,0)) AS Income153, SUM(ISNULL(Income154,0)) AS Income154, 
				SUM(ISNULL(Income155,0)) AS Income155, SUM(ISNULL(Income156,0)) AS Income156, SUM(ISNULL(Income157,0)) AS Income157, SUM(ISNULL(Income158,0)) AS Income158, 
				SUM(ISNULL(Income159,0)) AS Income159, SUM(ISNULL(Income160,0)) AS Income160, SUM(ISNULL(Income161,0)) AS Income161, SUM(ISNULL(Income162,0)) AS Income162,'
			SET @sSelect3 = ' 
				SUM(ISNULL(Income163,0)) AS Income163, SUM(ISNULL(Income164,0)) AS Income164, SUM(ISNULL(Income165,0)) AS Income165, SUM(ISNULL(Income166,0)) AS Income166, 
				SUM(ISNULL(Income167,0)) AS Income167, SUM(ISNULL(Income168,0)) AS Income168, SUM(ISNULL(Income169,0)) AS Income169, SUM(ISNULL(Income170,0)) AS Income170,
				SUM(ISNULL(Income171,0)) AS Income171, SUM(ISNULL(Income172,0)) AS Income172, SUM(ISNULL(Income173,0)) AS Income173, SUM(ISNULL(Income174,0)) AS Income174, 
				SUM(ISNULL(Income175,0)) AS Income175, SUM(ISNULL(Income176,0)) AS Income176, SUM(ISNULL(Income177,0)) AS Income177, SUM(ISNULL(Income178,0)) AS Income178, 
				SUM(ISNULL(Income179,0)) AS Income179, SUM(ISNULL(Income180,0)) AS Income180, SUM(ISNULL(Income181,0)) AS Income181, SUM(ISNULL(Income182,0)) AS Income182, 
				SUM(ISNULL(Income183,0)) AS Income183, SUM(ISNULL(Income184,0)) AS Income184, SUM(ISNULL(Income185,0)) AS Income185, SUM(ISNULL(Income186,0)) AS Income186, 
				SUM(ISNULL(Income187,0)) AS Income187, SUM(ISNULL(Income188,0)) AS Income188, SUM(ISNULL(Income189,0)) AS Income189, SUM(ISNULL(Income190,0)) AS Income190, 
				SUM(ISNULL(Income191,0)) AS Income191, SUM(ISNULL(Income192,0)) AS Income192, SUM(ISNULL(Income193,0)) AS Income193, SUM(ISNULL(Income194,0)) AS Income194, 
				SUM(ISNULL(Income195,0)) AS Income195, SUM(ISNULL(Income196,0)) AS Income196, SUM(ISNULL(Income197,0)) AS Income197, SUM(ISNULL(Income198,0)) AS Income198, 
				SUM(ISNULL(Income199,0)) AS Income199, SUM(ISNULL(Income200,0)) AS Income200,
				SUM(ISNULL(SubAmount01, 0)) AS SubAmount01, SUM(ISNULL(SubAmount02, 0)) AS SubAmount02, SUM(ISNULL(SubAmount03, 0)) AS SubAmount03, 
			    SUM(ISNULL(SubAmount04, 0)) AS SubAmount04, SUM(ISNULL(SubAmount05, 0)) AS SubAmount05, SUM(ISNULL(SubAmount06, 0)) AS SubAmount06, 
			    SUM(ISNULL(SubAmount07, 0)) AS SubAmount07, SUM(ISNULL(SubAmount08, 0)) AS SubAmount08, SUM(ISNULL(SubAmount09, 0)) AS SubAmount09, 
			    SUM(ISNULL(SubAmount10, 0)) AS SubAmount10, SUM(ISNULL(SubAmount11, 0)) AS SubAmount11, SUM(ISNULL(SubAmount12, 0)) AS SubAmount12, 
				SUM(ISNULL(SubAmount13, 0)) AS SubAmount13, SUM(ISNULL(SubAmount14, 0)) AS SubAmount14, SUM(ISNULL(SubAmount15, 0)) AS SubAmount15, 
				SUM(ISNULL(SubAmount16, 0)) AS SubAmount16, SUM(ISNULL(SubAmount17, 0)) AS SubAmount17, SUM(ISNULL(SubAmount18, 0)) AS SubAmount18, 
				SUM(ISNULL(SubAmount19, 0)) AS SubAmount19, SUM(ISNULL(SubAmount20, 0)) AS SubAmount20,'
			SET @sSelect4 = '
				SUM(ISNULL(SubAmount21,0)) AS SubAmount21, SUM(ISNULL(SubAmount22,0)) AS SubAmount22, SUM(ISNULL(SubAmount23,0)) AS SubAmount23, SUM(ISNULL(SubAmount24,0)) AS SubAmount24,
				SUM(ISNULL(SubAmount25,0)) AS SubAmount25, SUM(ISNULL(SubAmount26,0)) AS SubAmount26, SUM(ISNULL(SubAmount27,0)) AS SubAmount27, SUM(ISNULL(SubAmount28,0)) AS SubAmount28,
				SUM(ISNULL(SubAmount29,0)) AS SubAmount29, SUM(ISNULL(SubAmount30,0)) AS SubAmount30, SUM(ISNULL(SubAmount31,0)) AS SubAmount31, SUM(ISNULL(SubAmount32,0)) AS SubAmount32,
				SUM(ISNULL(SubAmount33,0)) AS SubAmount33, SUM(ISNULL(SubAmount34,0)) AS SubAmount34, SUM(ISNULL(SubAmount35,0)) AS SubAmount35, SUM(ISNULL(SubAmount36,0)) AS SubAmount36,
				SUM(ISNULL(SubAmount37,0)) AS SubAmount37, SUM(ISNULL(SubAmount38,0)) AS SubAmount38, SUM(ISNULL(SubAmount39,0)) AS SubAmount39, SUM(ISNULL(SubAmount40,0)) AS SubAmount40, 
				SUM(ISNULL(SubAmount41,0)) AS SubAmount41, SUM(ISNULL(SubAmount42,0)) AS SubAmount42, SUM(ISNULL(SubAmount43,0)) AS SubAmount43, SUM(ISNULL(SubAmount44,0)) AS SubAmount44, 
				SUM(ISNULL(SubAmount45,0)) AS SubAmount45, SUM(ISNULL(SubAmount46,0)) AS SubAmount46, SUM(ISNULL(SubAmount47,0)) AS SubAmount47, SUM(ISNULL(SubAmount48,0)) AS SubAmount48, 
				SUM(ISNULL(SubAmount49,0)) AS SubAmount49, SUM(ISNULL(SubAmount50,0)) AS SubAmount50, SUM(ISNULL(SubAmount51,0)) AS SubAmount51, SUM(ISNULL(SubAmount52,0)) AS SubAmount52, 
				SUM(ISNULL(SubAmount53,0)) AS SubAmount53, SUM(ISNULL(SubAmount54,0)) AS SubAmount54, SUM(ISNULL(SubAmount55,0)) AS SubAmount55, SUM(ISNULL(SubAmount56,0)) AS SubAmount56, 
				SUM(ISNULL(SubAmount57,0)) AS SubAmount57, SUM(ISNULL(SubAmount58,0)) AS SubAmount58, SUM(ISNULL(SubAmount59,0)) AS SubAmount59, SUM(ISNULL(SubAmount60,0)) AS SubAmount60, 
				SUM(ISNULL(SubAmount61,0)) AS SubAmount61, SUM(ISNULL(SubAmount62,0)) AS SubAmount62, SUM(ISNULL(SubAmount63,0)) AS SubAmount63, SUM(ISNULL(SubAmount64,0)) AS SubAmount64, 
				SUM(ISNULL(SubAmount65,0)) AS SubAmount65, SUM(ISNULL(SubAmount66,0)) AS SubAmount66, SUM(ISNULL(SubAmount67,0)) AS SubAmount67, SUM(ISNULL(SubAmount68,0)) AS SubAmount68, 
				SUM(ISNULL(SubAmount69,0)) AS SubAmount69, SUM(ISNULL(SubAmount70,0)) AS SubAmount70, SUM(ISNULL(SubAmount71,0)) AS SubAmount71, SUM(ISNULL(SubAmount72,0)) AS SubAmount72, 
				SUM(ISNULL(SubAmount73,0)) AS SubAmount73, SUM(ISNULL(SubAmount74,0)) AS SubAmount74, SUM(ISNULL(SubAmount75,0)) AS SubAmount75, SUM(ISNULL(SubAmount76,0)) AS SubAmount76, 
				SUM(ISNULL(SubAmount77,0)) AS SubAmount77, SUM(ISNULL(SubAmount78,0)) AS SubAmount78, SUM(ISNULL(SubAmount79,0)) AS SubAmount79, SUM(ISNULL(SubAmount80,0)) AS SubAmount80, 
				SUM(ISNULL(SubAmount81,0)) AS SubAmount81, SUM(ISNULL(SubAmount82,0)) AS SubAmount82, SUM(ISNULL(SubAmount83,0)) AS SubAmount83, SUM(ISNULL(SubAmount84,0)) AS SubAmount84, 
				SUM(ISNULL(SubAmount85,0)) AS SubAmount85, SUM(ISNULL(SubAmount86,0)) AS SubAmount86, SUM(ISNULL(SubAmount87,0)) AS SubAmount87, SUM(ISNULL(SubAmount88,0)) AS SubAmount88, 
				SUM(ISNULL(SubAmount89,0)) AS SubAmount89, SUM(ISNULL(SubAmount90,0)) AS SubAmount90, SUM(ISNULL(SubAmount91,0)) AS SubAmount91, SUM(ISNULL(SubAmount92,0)) AS SubAmount92, 
				SUM(ISNULL(SubAmount93,0)) AS SubAmount93, SUM(ISNULL(SubAmount94,0)) AS SubAmount94, SUM(ISNULL(SubAmount95,0)) AS SubAmount95, SUM(ISNULL(SubAmount96,0)) AS SubAmount96, 
				SUM(ISNULL(SubAmount97,0)) AS SubAmount97, SUM(ISNULL(SubAmount98,0)) AS SubAmount98, SUM(ISNULL(SubAmount99,0)) AS SubAmount99, SUM(ISNULL(SubAmount100,0)) AS SubAmount100,'
			SET @sSelect5 = '	
				SUM(ISNULL(TaxAmount, 0)) AS SubAmount00
			FROM HT3400 T01 INNER JOIN HV1400 V01 ON V01.EmployeeID = T01.EmployeeID And V01.DivisionID = T01.DivisionID 
				LEFT JOIN HT3499 T03 ON T01.DivisionID = T03.DivisionID AND T01.TransactionID = T03.TransactionID
			    INNER JOIN HT2400 T02 ON T02.EmployeeID = T01.EmployeeID And T02.DivisionID = T01.DivisionID 
			    AND T02.TranMonth = T01.TranMonth AND T02.TranYear = T01.TranYear AND 
			    T02.DepartmentID = T01.DepartmentID AND ISNULL(T02.TeamID, '''') = ISNULL(T01.TeamID, '''') 
			WHERE T01.DivisionID = ''' + @DivisionID + ''' AND 
			    T01.DepartmentID BETWEEN ''' + @FromDepartmentID + ''' AND ''' + @ToDepartmentID + ''' 
			    '+CASE WHEN ISNULL(@Condition,'') <> '' THEN ' AND ISNULL(T01.DepartmentID,''#'') in ('+@Condition+')' ELSE '' END +' 
			    AND ISNULL(T01.TeamID, '''') LIKE ISNULL(''' + @TeamID + ''', '''') AND 
			    T01.EmployeeID BETWEEN ''' + @FromEmployeeID + ''' AND ''' + @ToEmployeeID + ''' AND 
			    T01.TranMonth + T01.TranYear*100 BETWEEN ' + CAST(@FromMonth + @FromYear*100 AS NVARCHAR(10)) + ' AND ' + 
			    CAST(@ToMonth + @ToYear*100 AS NVARCHAR(10)) + ' AND
			    PayrollMethodID ' + @lstPayrollMethodID_new + @sSQL_Where + '
			GROUP BY T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID, ''''), T01.EmployeeID, V01.FullName, V01.Birthday, PayrollMethodID'
		END
		ELSE
		BEGIN
			SET @sSQL = '
			SELECT T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID, '''') AS TeamID, T01.EmployeeID, V01.FullName, V01.Birthday, PayrollMethodID, 
			    AVG(ISNULL(T02.InsuranceSalary, 0)) AS InsuranceSalary, 
			    SUM(ISNULL(Income01, 0)) AS Income01, SUM(ISNULL(Income02, 0)) AS Income02, SUM(ISNULL(Income03, 0)) AS Income03, 
			    SUM(ISNULL(Income04, 0)) AS Income04, 
			    SUM(ISNULL(Income05, 0)) AS Income05, SUM(ISNULL(Income06, 0)) AS Income06, SUM(ISNULL(Income07, 0)) AS Income07, 
			    SUM(ISNULL(Income08, 0)) AS Income08, SUM(ISNULL(Income09, 0)) AS Income09, SUM(ISNULL(Income10, 0)) AS Income10, 
			    SUM(ISNULL(Income11, 0)) AS Income11, SUM(ISNULL(Income12, 0)) AS Income12, SUM(ISNULL(Income13, 0)) AS Income13, 
			    SUM(ISNULL(Income14, 0)) AS Income14, 
			    SUM(ISNULL(Income15, 0)) AS Income15, SUM(ISNULL(Income16, 0)) AS Income16, SUM(ISNULL(Income17, 0)) AS Income17, 
			    SUM(ISNULL(Income18, 0)) AS Income18, SUM(ISNULL(Income19, 0)) AS Income19, SUM(ISNULL(Income20, 0)) AS Income20, 
			    SUM(ISNULL(SubAmount01, 0)) AS SubAmount01, SUM(ISNULL(SubAmount02, 0)) AS SubAmount02, SUM(ISNULL(SubAmount03, 0)) AS SubAmount03, 
			    SUM(ISNULL(SubAmount04, 0)) AS SubAmount04, SUM(ISNULL(SubAmount05, 0)) AS SubAmount05, SUM(ISNULL(SubAmount06, 0)) AS SubAmount06, 
			    SUM(ISNULL(SubAmount07, 0)) AS SubAmount07, SUM(ISNULL(SubAmount08, 0)) AS SubAmount08, SUM(ISNULL(SubAmount09, 0)) AS SubAmount09, 
			    SUM(ISNULL(SubAmount10, 0)) AS SubAmount10, 
			    SUM(ISNULL(SubAmount11, 0)) AS SubAmount11, SUM(ISNULL(SubAmount12, 0)) AS SubAmount12, SUM(ISNULL(SubAmount13, 0)) AS SubAmount13, 
			    SUM(ISNULL(SubAmount14, 0)) AS SubAmount14, SUM(ISNULL(SubAmount15, 0)) AS SubAmount15, SUM(ISNULL(SubAmount16, 0)) AS SubAmount16, 
			    SUM(ISNULL(SubAmount17, 0)) AS SubAmount17, SUM(ISNULL(SubAmount18, 0)) AS SubAmount18, SUM(ISNULL(SubAmount19, 0)) AS SubAmount19, 
			    SUM(ISNULL(SubAmount20, 0)) AS SubAmount20, SUM(ISNULL(TaxAmount, 0)) AS SubAmount00
			FROM HT3400 T01 INNER JOIN HV1400 V01 ON V01.EmployeeID = T01.EmployeeID And V01.DivisionID = T01.DivisionID 
			    INNER JOIN HT2400 T02 ON T02.EmployeeID = T01.EmployeeID And T02.DivisionID = T01.DivisionID 
			    AND T02.TranMonth = T01.TranMonth AND T02.TranYear = T01.TranYear AND 
			    T02.DepartmentID = T01.DepartmentID AND ISNULL(T02.TeamID, '''') = ISNULL(T01.TeamID, '''') 
			WHERE T01.DivisionID = ''' + @DivisionID + ''' AND 
			    T01.DepartmentID BETWEEN ''' + @FromDepartmentID + ''' AND ''' + @ToDepartmentID + ''' 
			    '+CASE WHEN ISNULL(@Condition,'') <> '' THEN ' AND ISNULL(T01.DepartmentID,''#'') in ('+@Condition+')' ELSE '' END +' 
			    AND ISNULL(T01.TeamID, '''') LIKE ISNULL(''' + @TeamID + ''', '''') AND 
			    T01.EmployeeID BETWEEN ''' + @FromEmployeeID + ''' AND ''' + @ToEmployeeID + ''' AND 
			    T01.TranMonth + T01.TranYear*100 BETWEEN ' + CAST(@FromMonth + @FromYear*100 AS NVARCHAR(10)) + ' AND ' + 
			    CAST(@ToMonth + @ToYear*100 AS NVARCHAR(10)) + ' AND
			    PayrollMethodID ' + @lstPayrollMethodID_new + @sSQL_Where + '
			GROUP BY T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID, ''''), T01.EmployeeID, V01.FullName, V01.Birthday, PayrollMethodID'
		END
  
        IF EXISTS (SELECT 1 FROM sysObjects WHERE XType = 'V' AND Name = 'HV3405')
            DROP VIEW HV3405
            
			print @sSQL
			print @sSelect1
			print @sSelect2
			print @sSelect3
			print @sSelect4
			print @sSelect5


        EXEC('----tao boi HP2516_MK
            CREATE VIEW HV3405 AS ' + @sSQL+@sSelect1+@sSelect2+@sSelect3+@sSelect4+@sSelect5)

        SET @sSQL = ''
        SET @cur = CURSOR SCROLL KEYSET FOR
            SELECT T00.PayrollMethodID, T00.IncomeID, RIGHT(T00.IncomeID, 2) AS Orders, 1 AS Signs, 
                --CASE @gnLang WHEN 0 THEN 'Tieàn löông' ELSE 'Gross Pay' END AS Notes, 
                --CASE @gnLang WHEN 0 THEN T01.Caption ELSE T01.CaptionE END AS Caption
                @GrossPay as Notes,
                Case @gnLang When 0 Then T01.Caption Else T01.CaptionE end as Caption
            FROM HT5005 T00 INNER JOIN HT0002 T01 ON T00.IncomeID = T01.IncomeID And T00.DivisionID = T01.DivisionID
            WHERE T00.DivisionID = @DivisionID And T00.PayrollMethodID IN (SELECT DISTINCT PayrollMethodID FROM HV3405) 
            UNION 
            SELECT T00.PayrollMethodID, T00.SubID AS IncomeID, RIGHT(T00.SubID, 2) AS Orders, -1 AS Signs, 
                --CASE @gnLang WHEN 0 THEN 'Caùc khoaûn giaûm tröø' ELSE 'Deduction' END AS Notes,
                @Deduction as Notes, 
                CASE @gnLang WHEN 0 THEN T01.Caption ELSE T01.CaptionE END AS Caption
            FROM HT5006 T00 INNER JOIN HT0005 T01 ON T00.SubID = T01.SubID And T00.DivisionID = T01.DivisionID
            WHERE T00.DivisionID = @DivisionID And T00.PayrollMethodID IN (SELECT DISTINCT PayrollMethodID FROM HV3405) 
            UNION 
            SELECT DISTINCT T00.PayrollMethodID, 'S00' AS IncomeID, 0 AS Orders, -1 AS Signs, 
                --CASE @gnLang WHEN 0 THEN 'Caùc khoaûn giaûm tröø' ELSE 'Deduction' END AS Notes, 
                --CASE @gnLang WHEN 0 THEN 'Thueá TN' ELSE 'Income Tax' END AS Caption
                @Deduction as Notes,@IncomeTax as Caption
            FROM HT5006 T00 
            WHERE T00.DivisionID = @DivisionID And T00.PayrollMethodID IN (SELECT DISTINCT PayrollMethodID FROM HV3405) 

        OPEN @cur
        FETCH NEXT FROM @cur INTO @PayrollMethodID, @IncomeID, @Orders, @Signs, @Notes, @Caption
        WHILE @@FETCH_STATUS = 0 
            BEGIN
                IF @sSQL = ''
                    SET @sSQL = @sSQL + ' SELECT DivisionID, DepartmentID, TeamID, EmployeeID, InsuranceSalary, N''' + @Caption + ''' AS Caption, N''' + 
                        @Notes + ''' AS Notes, ''' + @IncomeID + ''' AS IncomeID, ' + 
                        CAST(@Signs AS NVARCHAR(50)) + ' AS Signs, ' + CASE WHEN @Signs = 1 THEN 'Income' ELSE '-SubAmount' END + 
                        CASE WHEN @Orders < 10 THEN '0' ELSE '' END + CAST(@Orders AS NVARCHAR(50)) + ' AS SalaryAmount, ' + 
                        CAST(@Orders AS NVARCHAR(50)) + ' AS Orders 
                        INTO HT5402
                    FROM HV3405 WHERE PayrollMethodID = ''' + @PayrollMethodID + '''
                    UNION ALL '
                ELSE 
                    IF LEN(@sSQL)>= 3000
                        SET @sSQL2 = @sSQL2 + ' SELECT DivisionID, DepartmentID, TeamID, EmployeeID, InsuranceSalary, N''' + @Caption + ''' AS Caption, N''' + 
                            @Notes + ''' AS Notes, ''' + @IncomeID + ''' AS IncomeID, ' + 
                            CAST(@Signs AS NVARCHAR(50)) + ' AS Signs, ' + CASE WHEN @Signs = 1 THEN 'Income' ELSE '-SubAmount' END + 
                            CASE WHEN @Orders < 10 THEN '0' ELSE '' END + CAST(@Orders AS NVARCHAR(50)) + ' AS SalaryAmount, ' + 
                            CAST(@Orders AS NVARCHAR(50)) + ' AS Orders 
                        FROM HV3405 WHERE PayrollMethodID = ''' + @PayrollMethodID + '''
                        UNION ALL '
                    ELSE 
                        SET @sSQL = @sSQL + ' SELECT DivisionID, DepartmentID, TeamID, EmployeeID, InsuranceSalary, N''' + @Caption + ''' AS Caption, N''' + 
                            @Notes + ''' AS Notes, ''' + @IncomeID + ''' AS IncomeID, ' + 
                            CAST(@Signs AS NVARCHAR(50)) + ' AS Signs, ' + CASE WHEN @Signs = 1 THEN 'Income' ELSE '-SubAmount' END + 
                            CASE WHEN @Orders < 10 THEN '0' ELSE '' END + CAST(@Orders AS NVARCHAR(50)) + ' AS SalaryAmount, ' + 
                            CAST(@Orders AS NVARCHAR(50)) + ' AS Orders 
                            FROM HV3405 WHERE PayrollMethodID = ''' + @PayrollMethodID + '''
                        UNION ALL '

                FETCH NEXT FROM @cur INTO @PayrollMethodID, @IncomeID, @Orders, @Signs, @Notes, @Caption
            END
        Close @cur
        Deallocate @cur

        IF LEN(@sSQL2)>5
            SET @sSQL2 = LEFT(@sSQL2, LEN(@sSQL2) - 9)
        ELSE IF LEN(@sSQL) > 5
            SET @sSQL = LEFT(@sSQL, LEN(@sSQL) - 9)
        ELSE
            SET @sSQL = 'CREATE TABLE HT5402(DivisionID NVARCHAR(50),DepartmentID NVARCHAR(50),TeamID  NVARCHAR(50), EmployeeID NVARCHAR(250),
						InsuranceSalary Decimal(28,8),Caption NVARCHAR(250),Notes NVARCHAR(250),IncomeID NVARCHAR(50),
						Signs int,	SalaryAmount Decimal(28,8),	Orders int )'		
	         print @sSQL
			 print @sSQL2

        EXEC(@sSQL + @sSQL2)
        /*IF EXISTS (SELECT 1 FROM sysObjects WHERE XType = 'V' AND Name = 'HV3407')
        DROP VIEW HV3407
        EXEC('CREATE VIEW HV3407 ---tao boi HP2516_MK
        AS ' + @sSQL) */

        SET @sSQL = '
            SELECT HV3407.DivisionID, HV3407.DepartmentID, HV3407.TeamID, HV3407.EmployeeID, HV1400.FullName, HV3407.Caption, HV3407.Notes, HV3407.IncomeID, 
                HV3407.Signs, HV3407.Orders, SUM(HV3407.SalaryAmount) AS SalaryAmount, 
                AVG(HV3407.InsuranceSalary) AS InSuranceSalary, HV1400.Notes AS Note2, BankAccountNo 
            FROM HT5402 HV3407 LEFT JOIN HV1400 ON HV1400.EmployeeID = HV3407.EmployeeID
            GROUP BY HV3407.DivisionID, HV3407.DepartmentID, HV3407.TeamID, HV3407.EmployeeID, HV1400.FullName, HV3407.Caption, HV3407.Notes, HV3407.IncomeID, HV3407.Signs, 
                HV3407.Orders, HV1400.Notes, BankAccountNo'


        IF EXISTS (SELECT 1 FROM sysObjects WHERE XType = 'V' AND Name = 'HV3406')
            DROP VIEW HV3406
            
			print @sSQL

        EXEC('---tao boi HP2516_MK
            CREATE VIEW HV3406 AS ' + @sSQL)
    END

ELSE ---don vi khong tinh thue thu nhap
    BEGIN   
	IF ISNULL((SELECT CustomerName FROM CustomerIndex),-1)=50 --MEIKO
		BEGIN
			SET @sSQL = '
			SELECT T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID, '''') AS TeamID, T01.EmployeeID, V01.FullName, V01.Birthday, PayrollMethodID, 
			    AVG(ISNULL(T02.InsuranceSalary, 0)) AS InsuranceSalary, 
			    SUM(ISNULL(Income01, 0)) AS Income01, SUM(ISNULL(Income02, 0)) AS Income02, SUM(ISNULL(Income03, 0)) AS Income03, 
			    SUM(ISNULL(Income04, 0)) AS Income04, 
			    SUM(ISNULL(Income05, 0)) AS Income05, SUM(ISNULL(Income06, 0)) AS Income06, SUM(ISNULL(Income07, 0)) AS Income07, 
			    SUM(ISNULL(Income08, 0)) AS Income08, SUM(ISNULL(Income09, 0)) AS Income09, SUM(ISNULL(Income10, 0)) AS Income10, 
			    SUM(ISNULL(Income11, 0)) AS Income11, SUM(ISNULL(Income12, 0)) AS Income12, SUM(ISNULL(Income13, 0)) AS Income13, 
			    SUM(ISNULL(Income14, 0)) AS Income14, SUM(ISNULL(Income15, 0)) AS Income15, SUM(ISNULL(Income16, 0)) AS Income16, 
				SUM(ISNULL(Income17, 0)) AS Income17, SUM(ISNULL(Income18, 0)) AS Income18, SUM(ISNULL(Income19, 0)) AS Income19, SUM(ISNULL(Income20, 0)) AS Income20, '
			SET @sSelect1 = '
				SUM(ISNULL(Income21,0)) AS Income21, SUM(ISNULL(Income22,0)) AS Income22, SUM(ISNULL(Income23,0)) AS Income23, SUM(ISNULL(Income24,0)) AS Income24,
				SUM(ISNULL(Income25,0)) AS Income25, SUM(ISNULL(Income26,0)) AS Income26, SUM(ISNULL(Income27,0)) AS Income27, SUM(ISNULL(Income28,0)) AS Income28,
				SUM(ISNULL(Income29,0)) AS Income29, SUM(ISNULL(Income30,0)) AS Income30, SUM(ISNULL(Income31,0)) AS Income31, SUM(ISNULL(Income32,0)) AS Income32,
				SUM(ISNULL(Income33,0)) AS Income33, SUM(ISNULL(Income34,0)) AS Income34, SUM(ISNULL(Income35,0)) AS Income35, SUM(ISNULL(Income36,0)) AS Income36, 
				SUM(ISNULL(Income37,0)) AS Income37, SUM(ISNULL(Income38,0)) AS Income38, SUM(ISNULL(Income39,0)) AS Income39, SUM(ISNULL(Income40,0)) AS Income40, 
				SUM(ISNULL(Income41,0)) AS Income41, SUM(ISNULL(Income42,0)) AS Income42, SUM(ISNULL(Income43,0)) AS Income43, SUM(ISNULL(Income44,0)) AS Income44, 
				SUM(ISNULL(Income45,0)) AS Income45, SUM(ISNULL(Income46,0)) AS Income46, SUM(ISNULL(Income47,0)) AS Income47, SUM(ISNULL(Income48,0)) AS Income48, 
				SUM(ISNULL(Income49,0)) AS Income49, SUM(ISNULL(Income50,0)) AS Income50, SUM(ISNULL(Income51,0)) AS Income51, SUM(ISNULL(Income52,0)) AS Income52, 
				SUM(ISNULL(Income53,0)) AS Income53, SUM(ISNULL(Income54,0)) AS Income54, SUM(ISNULL(Income55,0)) AS Income55, SUM(ISNULL(Income56,0)) AS Income56, 
				SUM(ISNULL(Income57,0)) AS Income57, SUM(ISNULL(Income58,0)) AS Income58, SUM(ISNULL(Income59,0)) AS Income59, SUM(ISNULL(Income60,0)) AS Income60, 
				SUM(ISNULL(Income61,0)) AS Income61, SUM(ISNULL(Income62,0)) AS Income62, SUM(ISNULL(Income63,0)) AS Income63, SUM(ISNULL(Income64,0)) AS Income64, 
				SUM(ISNULL(Income65,0)) AS Income65, SUM(ISNULL(Income66,0)) AS Income66, SUM(ISNULL(Income67,0)) AS Income67, SUM(ISNULL(Income68,0)) AS Income68, 
				SUM(ISNULL(Income69,0)) AS Income69, SUM(ISNULL(Income70,0)) AS Income70, SUM(ISNULL(Income71,0)) AS Income71, SUM(ISNULL(Income72,0)) AS Income72, 
				SUM(ISNULL(Income73,0)) AS Income73, SUM(ISNULL(Income74,0)) AS Income74, SUM(ISNULL(Income75,0)) AS Income75, SUM(ISNULL(Income76,0)) AS Income76, 
				SUM(ISNULL(Income77,0)) AS Income77, SUM(ISNULL(Income78,0)) AS Income78, SUM(ISNULL(Income79,0)) AS Income79, SUM(ISNULL(Income80,0)) AS Income80, 
				SUM(ISNULL(Income81,0)) AS Income81, SUM(ISNULL(Income82,0)) AS Income82, SUM(ISNULL(Income83,0)) AS Income83, SUM(ISNULL(Income84,0)) AS Income84, 
				SUM(ISNULL(Income85,0)) AS Income85, SUM(ISNULL(Income86,0)) AS Income86, SUM(ISNULL(Income87,0)) AS Income87, SUM(ISNULL(Income88,0)) AS Income88, 
				SUM(ISNULL(Income89,0)) AS Income89, SUM(ISNULL(Income90,0)) AS Income90, SUM(ISNULL(Income91,0)) AS Income91, SUM(ISNULL(Income92,0)) AS Income92, 
				SUM(ISNULL(Income93,0)) AS Income93, SUM(ISNULL(Income94,0)) AS Income94, SUM(ISNULL(Income95,0)) AS Income95, SUM(ISNULL(Income96,0)) AS Income96, 
				SUM(ISNULL(Income97,0)) AS Income97, SUM(ISNULL(Income98,0)) AS Income98, SUM(ISNULL(Income99,0)) AS Income99, SUM(ISNULL(Income100,0)) AS Income100, '
			SET @sSelect2 = '
				SUM(ISNULL(Income101,0)) AS Income101, SUM(ISNULL(Income102,0)) AS Income102, SUM(ISNULL(Income103,0)) AS Income103, SUM(ISNULL(Income104,0)) AS Income104, 
				SUM(ISNULL(Income105,0)) AS Income105, SUM(ISNULL(Income106,0)) AS Income106, SUM(ISNULL(Income107,0)) AS Income107, SUM(ISNULL(Income108,0)) AS Income108, 
				SUM(ISNULL(Income109,0)) AS Income109, SUM(ISNULL(Income110,0)) AS Income110, SUM(ISNULL(Income111,0)) AS Income111, SUM(ISNULL(Income112,0)) AS Income112, 
				SUM(ISNULL(Income113,0)) AS Income113, SUM(ISNULL(Income114,0)) AS Income114, SUM(ISNULL(Income115,0)) AS Income115, SUM(ISNULL(Income116,0)) AS Income116, 
				SUM(ISNULL(Income117,0)) AS Income117, SUM(ISNULL(Income118,0)) AS Income118, SUM(ISNULL(Income119,0)) AS Income119, SUM(ISNULL(Income120,0)) AS Income120, 
				SUM(ISNULL(Income121,0)) AS Income121, SUM(ISNULL(Income122,0)) AS Income122, SUM(ISNULL(Income123,0)) AS Income123, SUM(ISNULL(Income124,0)) AS Income124, 
				SUM(ISNULL(Income125,0)) AS Income125, SUM(ISNULL(Income126,0)) AS Income126, SUM(ISNULL(Income127,0)) AS Income127, SUM(ISNULL(Income128,0)) AS Income128, 
				SUM(ISNULL(Income129,0)) AS Income129, SUM(ISNULL(Income130,0)) AS Income130, SUM(ISNULL(Income131,0)) AS Income131, SUM(ISNULL(Income132,0)) AS Income132, 
				SUM(ISNULL(Income133,0)) AS Income133, SUM(ISNULL(Income134,0)) AS Income134, SUM(ISNULL(Income135,0)) AS Income135, SUM(ISNULL(Income136,0)) AS Income136, 
				SUM(ISNULL(Income137,0)) AS Income137, SUM(ISNULL(Income138,0)) AS Income138, SUM(ISNULL(Income139,0)) AS Income139, SUM(ISNULL(Income140,0)) AS Income140, 
				SUM(ISNULL(Income141,0)) AS Income141, SUM(ISNULL(Income142,0)) AS Income142, SUM(ISNULL(Income143,0)) AS Income143, SUM(ISNULL(Income144,0)) AS Income144, 
				SUM(ISNULL(Income145,0)) AS Income145, SUM(ISNULL(Income146,0)) AS Income146, SUM(ISNULL(Income147,0)) AS Income147, SUM(ISNULL(Income148,0)) AS Income148, 
				SUM(ISNULL(Income149,0)) AS Income149, SUM(ISNULL(Income150,0)) AS Income150,
				SUM(ISNULL(Income151,0)) AS Income151, SUM(ISNULL(Income152,0)) AS Income152, SUM(ISNULL(Income153,0)) AS Income153, SUM(ISNULL(Income154,0)) AS Income154, 
				SUM(ISNULL(Income155,0)) AS Income155, SUM(ISNULL(Income156,0)) AS Income156, SUM(ISNULL(Income157,0)) AS Income157, SUM(ISNULL(Income158,0)) AS Income158, 
				SUM(ISNULL(Income159,0)) AS Income159, SUM(ISNULL(Income160,0)) AS Income160, SUM(ISNULL(Income161,0)) AS Income161, SUM(ISNULL(Income162,0)) AS Income162,'
			SET @sSelect3 = ' 
				SUM(ISNULL(Income163,0)) AS Income163, SUM(ISNULL(Income164,0)) AS Income164, SUM(ISNULL(Income165,0)) AS Income165, SUM(ISNULL(Income166,0)) AS Income166, 
				SUM(ISNULL(Income167,0)) AS Income167, SUM(ISNULL(Income168,0)) AS Income168, SUM(ISNULL(Income169,0)) AS Income169, SUM(ISNULL(Income170,0)) AS Income170,
				SUM(ISNULL(Income171,0)) AS Income171, SUM(ISNULL(Income172,0)) AS Income172, SUM(ISNULL(Income173,0)) AS Income173, SUM(ISNULL(Income174,0)) AS Income174, 
				SUM(ISNULL(Income175,0)) AS Income175, SUM(ISNULL(Income176,0)) AS Income176, SUM(ISNULL(Income177,0)) AS Income177, SUM(ISNULL(Income178,0)) AS Income178, 
				SUM(ISNULL(Income179,0)) AS Income179, SUM(ISNULL(Income180,0)) AS Income180, SUM(ISNULL(Income181,0)) AS Income181, SUM(ISNULL(Income182,0)) AS Income182, 
				SUM(ISNULL(Income183,0)) AS Income183, SUM(ISNULL(Income184,0)) AS Income184, SUM(ISNULL(Income185,0)) AS Income185, SUM(ISNULL(Income186,0)) AS Income186, 
				SUM(ISNULL(Income187,0)) AS Income187, SUM(ISNULL(Income188,0)) AS Income188, SUM(ISNULL(Income189,0)) AS Income189, SUM(ISNULL(Income190,0)) AS Income190, 
				SUM(ISNULL(Income191,0)) AS Income191, SUM(ISNULL(Income192,0)) AS Income192, SUM(ISNULL(Income193,0)) AS Income193, SUM(ISNULL(Income194,0)) AS Income194, 
				SUM(ISNULL(Income195,0)) AS Income195, SUM(ISNULL(Income196,0)) AS Income196, SUM(ISNULL(Income197,0)) AS Income197, SUM(ISNULL(Income198,0)) AS Income198, 
				SUM(ISNULL(Income199,0)) AS Income199, SUM(ISNULL(Income200,0)) AS Income200,
				SUM(ISNULL(SubAmount01, 0)) AS SubAmount01, SUM(ISNULL(SubAmount02, 0)) AS SubAmount02, SUM(ISNULL(SubAmount03, 0)) AS SubAmount03, 
			    SUM(ISNULL(SubAmount04, 0)) AS SubAmount04, SUM(ISNULL(SubAmount05, 0)) AS SubAmount05, SUM(ISNULL(SubAmount06, 0)) AS SubAmount06, 
			    SUM(ISNULL(SubAmount07, 0)) AS SubAmount07, SUM(ISNULL(SubAmount08, 0)) AS SubAmount08, SUM(ISNULL(SubAmount09, 0)) AS SubAmount09, 
			    SUM(ISNULL(SubAmount10, 0)) AS SubAmount10, SUM(ISNULL(SubAmount11, 0)) AS SubAmount11, SUM(ISNULL(SubAmount12, 0)) AS SubAmount12, 
				SUM(ISNULL(SubAmount13, 0)) AS SubAmount13, SUM(ISNULL(SubAmount14, 0)) AS SubAmount14, SUM(ISNULL(SubAmount15, 0)) AS SubAmount15, 
				SUM(ISNULL(SubAmount16, 0)) AS SubAmount16, SUM(ISNULL(SubAmount17, 0)) AS SubAmount17, SUM(ISNULL(SubAmount18, 0)) AS SubAmount18, 
				SUM(ISNULL(SubAmount19, 0)) AS SubAmount19, SUM(ISNULL(SubAmount20, 0)) AS SubAmount20,'
			SET @sSelect4 = '
				SUM(ISNULL(SubAmount21,0)) AS SubAmount21, SUM(ISNULL(SubAmount22,0)) AS SubAmount22, SUM(ISNULL(SubAmount23,0)) AS SubAmount23, SUM(ISNULL(SubAmount24,0)) AS SubAmount24,
				SUM(ISNULL(SubAmount25,0)) AS SubAmount25, SUM(ISNULL(SubAmount26,0)) AS SubAmount26, SUM(ISNULL(SubAmount27,0)) AS SubAmount27, SUM(ISNULL(SubAmount28,0)) AS SubAmount28,
				SUM(ISNULL(SubAmount29,0)) AS SubAmount29, SUM(ISNULL(SubAmount30,0)) AS SubAmount30, SUM(ISNULL(SubAmount31,0)) AS SubAmount31, SUM(ISNULL(SubAmount32,0)) AS SubAmount32,
				SUM(ISNULL(SubAmount33,0)) AS SubAmount33, SUM(ISNULL(SubAmount34,0)) AS SubAmount34, SUM(ISNULL(SubAmount35,0)) AS SubAmount35, SUM(ISNULL(SubAmount36,0)) AS SubAmount36,
				SUM(ISNULL(SubAmount37,0)) AS SubAmount37, SUM(ISNULL(SubAmount38,0)) AS SubAmount38, SUM(ISNULL(SubAmount39,0)) AS SubAmount39, SUM(ISNULL(SubAmount40,0)) AS SubAmount40, 
				SUM(ISNULL(SubAmount41,0)) AS SubAmount41, SUM(ISNULL(SubAmount42,0)) AS SubAmount42, SUM(ISNULL(SubAmount43,0)) AS SubAmount43, SUM(ISNULL(SubAmount44,0)) AS SubAmount44, 
				SUM(ISNULL(SubAmount45,0)) AS SubAmount45, SUM(ISNULL(SubAmount46,0)) AS SubAmount46, SUM(ISNULL(SubAmount47,0)) AS SubAmount47, SUM(ISNULL(SubAmount48,0)) AS SubAmount48, 
				SUM(ISNULL(SubAmount49,0)) AS SubAmount49, SUM(ISNULL(SubAmount50,0)) AS SubAmount50, SUM(ISNULL(SubAmount51,0)) AS SubAmount51, SUM(ISNULL(SubAmount52,0)) AS SubAmount52, 
				SUM(ISNULL(SubAmount53,0)) AS SubAmount53, SUM(ISNULL(SubAmount54,0)) AS SubAmount54, SUM(ISNULL(SubAmount55,0)) AS SubAmount55, SUM(ISNULL(SubAmount56,0)) AS SubAmount56, 
				SUM(ISNULL(SubAmount57,0)) AS SubAmount57, SUM(ISNULL(SubAmount58,0)) AS SubAmount58, SUM(ISNULL(SubAmount59,0)) AS SubAmount59, SUM(ISNULL(SubAmount60,0)) AS SubAmount60, 
				SUM(ISNULL(SubAmount61,0)) AS SubAmount61, SUM(ISNULL(SubAmount62,0)) AS SubAmount62, SUM(ISNULL(SubAmount63,0)) AS SubAmount63, SUM(ISNULL(SubAmount64,0)) AS SubAmount64, 
				SUM(ISNULL(SubAmount65,0)) AS SubAmount65, SUM(ISNULL(SubAmount66,0)) AS SubAmount66, SUM(ISNULL(SubAmount67,0)) AS SubAmount67, SUM(ISNULL(SubAmount68,0)) AS SubAmount68, 
				SUM(ISNULL(SubAmount69,0)) AS SubAmount69, SUM(ISNULL(SubAmount70,0)) AS SubAmount70, SUM(ISNULL(SubAmount71,0)) AS SubAmount71, SUM(ISNULL(SubAmount72,0)) AS SubAmount72, 
				SUM(ISNULL(SubAmount73,0)) AS SubAmount73, SUM(ISNULL(SubAmount74,0)) AS SubAmount74, SUM(ISNULL(SubAmount75,0)) AS SubAmount75, SUM(ISNULL(SubAmount76,0)) AS SubAmount76, 
				SUM(ISNULL(SubAmount77,0)) AS SubAmount77, SUM(ISNULL(SubAmount78,0)) AS SubAmount78, SUM(ISNULL(SubAmount79,0)) AS SubAmount79, SUM(ISNULL(SubAmount80,0)) AS SubAmount80, 
				SUM(ISNULL(SubAmount81,0)) AS SubAmount81, SUM(ISNULL(SubAmount82,0)) AS SubAmount82, SUM(ISNULL(SubAmount83,0)) AS SubAmount83, SUM(ISNULL(SubAmount84,0)) AS SubAmount84, 
				SUM(ISNULL(SubAmount85,0)) AS SubAmount85, SUM(ISNULL(SubAmount86,0)) AS SubAmount86, SUM(ISNULL(SubAmount87,0)) AS SubAmount87, SUM(ISNULL(SubAmount88,0)) AS SubAmount88, 
				SUM(ISNULL(SubAmount89,0)) AS SubAmount89, SUM(ISNULL(SubAmount90,0)) AS SubAmount90, SUM(ISNULL(SubAmount91,0)) AS SubAmount91, SUM(ISNULL(SubAmount92,0)) AS SubAmount92, 
				SUM(ISNULL(SubAmount93,0)) AS SubAmount93, SUM(ISNULL(SubAmount94,0)) AS SubAmount94, SUM(ISNULL(SubAmount95,0)) AS SubAmount95, SUM(ISNULL(SubAmount96,0)) AS SubAmount96, 
				SUM(ISNULL(SubAmount97,0)) AS SubAmount97, SUM(ISNULL(SubAmount98,0)) AS SubAmount98, SUM(ISNULL(SubAmount99,0)) AS SubAmount99, SUM(ISNULL(SubAmount100,0)) AS SubAmount100,'
			SET @sSelect5 = '
			 FROM HT3400 T01 INNER JOIN HV1400 V01 ON V01.EmployeeID = T01.EmployeeID And V01.DivisionID = T01.DivisionID 
				LEFT JOIN HT3499 T03 ON T01.DivisionID = T03.DivisionID AND T01.TransactionID = T03.TransactionID
                INNER JOIN HT2400 T02 ON T02.EmployeeID = T01.EmployeeID And T02.DivisionID = T01.DivisionID
                AND T02.TranMonth = T01.TranMonth AND T02.TranYear = T02.TranYear AND 
                T02.DepartmentID = T01.DepartmentID AND ISNULL(T02.TeamID, '''') = ISNULL(T01.TeamID, '''') 
            WHERE T01.DivisionID = ''' + @DivisionID + ''' AND 
                T01.DepartmentID BETWEEN ''' + @FromDepartmentID + ''' AND ''' + @ToDepartmentID + ''' 
                '+CASE WHEN ISNULL(@Condition,'') <> '' THEN ' AND ISNULL(T01.DepartmentID,''#'') in ('+@Condition+')' ELSE '' END + '
                AND ISNULL(T01.TeamID, '''') LIKE ISNULL(''' + @TeamID + ''', '''') AND 
                T01.EmployeeID BETWEEN ''' + @FromEmployeeID + ''' AND ''' + @ToEmployeeID + ''' AND 
                T01.TranMonth + T01.TranYear*100 BETWEEN ' + CAST(@FromMonth + @FromYear*100 AS NVARCHAR(10)) + ' AND ' + 
                CAST(@ToMonth + @ToYear*100 AS NVARCHAR(10)) + ' AND
                PayrollMethodID ' + @lstPayrollMethodID_new + @sSQL_Where +'
            GROUP BY T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID, ''''), T01.EmployeeID, V01.FullName, V01.Birthday, PayrollMethodID'
		END
		ELSE
		BEGIN
        SET @sSQL = '
            SELECT T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID, '''') AS TeamID, T01.EmployeeID, V01.FullName, V01.Birthday, PayrollMethodID, 
                AVG(ISNULL(T02.InsuranceSalary, 0)) AS InsuranceSalary, 
                SUM(ISNULL(Income01, 0)) AS Income01, SUM(ISNULL(Income02, 0)) AS Income02, SUM(ISNULL(Income03, 0)) AS Income03, 
                SUM(ISNULL(Income04, 0)) AS Income04, 
                SUM(ISNULL(Income05, 0)) AS Income05, SUM(ISNULL(Income06, 0)) AS Income06, SUM(ISNULL(Income07, 0)) AS Income07, 
                SUM(ISNULL(Income08, 0)) AS Income08, SUM(ISNULL(Income09, 0)) AS Income09, SUM(ISNULL(Income10, 0)) AS Income10, 
                SUM(ISNULL(Income11, 0)) AS Income11, SUM(ISNULL(Income12, 0)) AS Income12, SUM(ISNULL(Income13, 0)) AS Income13, 
                SUM(ISNULL(Income14, 0)) AS Income14, 
                SUM(ISNULL(Income15, 0)) AS Income15, SUM(ISNULL(Income16, 0)) AS Income16, SUM(ISNULL(Income17, 0)) AS Income17, 
                SUM(ISNULL(Income18, 0)) AS Income18, SUM(ISNULL(Income19, 0)) AS Income19, SUM(ISNULL(Income20, 0)) AS Income20, 
                SUM(ISNULL(SubAmount01, 0)) AS SubAmount01, SUM(ISNULL(SubAmount02, 0)) AS SubAmount02, SUM(ISNULL(SubAmount03, 0)) AS SubAmount03, 
                SUM(ISNULL(SubAmount04, 0)) AS SubAmount04, SUM(ISNULL(SubAmount05, 0)) AS SubAmount05, SUM(ISNULL(SubAmount06, 0)) AS SubAmount06, 
                SUM(ISNULL(SubAmount07, 0)) AS SubAmount07, SUM(ISNULL(SubAmount08, 0)) AS SubAmount08, SUM(ISNULL(SubAmount09, 0)) AS SubAmount09, 
                SUM(ISNULL(SubAmount10, 0)) AS SubAmount10, 
                SUM(ISNULL(SubAmount11, 0)) AS SubAmount11, SUM(ISNULL(SubAmount12, 0)) AS SubAmount12, SUM(ISNULL(SubAmount13, 0)) AS SubAmount13, 
                SUM(ISNULL(SubAmount14, 0)) AS SubAmount14, SUM(ISNULL(SubAmount15, 0)) AS SubAmount15, SUM(ISNULL(SubAmount16, 0)) AS SubAmount16, 
                SUM(ISNULL(SubAmount17, 0)) AS SubAmount17, SUM(ISNULL(SubAmount18, 0)) AS SubAmount18, SUM(ISNULL(SubAmount19, 0)) AS SubAmount19, 
                SUM(ISNULL(SubAmount20, 0)) AS SubAmount20 
            FROM HT3400 T01 INNER JOIN HV1400 V01 ON V01.EmployeeID = T01.EmployeeID And V01.DivisionID = T01.DivisionID 
                INNER JOIN HT2400 T02 ON T02.EmployeeID = T01.EmployeeID And T02.DivisionID = T01.DivisionID
                AND T02.TranMonth = T01.TranMonth AND T02.TranYear = T02.TranYear AND 
                T02.DepartmentID = T01.DepartmentID AND ISNULL(T02.TeamID, '''') = ISNULL(T01.TeamID, '''') 
            WHERE T01.DivisionID = ''' + @DivisionID + ''' AND 
                T01.DepartmentID BETWEEN ''' + @FromDepartmentID + ''' AND ''' + @ToDepartmentID + ''' 
                '+CASE WHEN ISNULL(@Condition,'') <> '' THEN ' AND ISNULL(T01.DepartmentID,''#'') in ('+@Condition+')' ELSE '' END + '
                AND ISNULL(T01.TeamID, '''') LIKE ISNULL(''' + @TeamID + ''', '''') AND 
                T01.EmployeeID BETWEEN ''' + @FromEmployeeID + ''' AND ''' + @ToEmployeeID + ''' AND 
                T01.TranMonth + T01.TranYear*100 BETWEEN ' + CAST(@FromMonth + @FromYear*100 AS NVARCHAR(10)) + ' AND ' + 
                CAST(@ToMonth + @ToYear*100 AS NVARCHAR(10)) + ' AND
                PayrollMethodID ' + @lstPayrollMethodID_new + @sSQL_Where +'
            GROUP BY T01.DivisionID, T01.DepartmentID, ISNULL(T01.TeamID, ''''), T01.EmployeeID, V01.FullName, V01.Birthday, PayrollMethodID'
		END

        IF EXISTS (SELECT 1 FROM sysObjects WHERE XType = 'V' AND Name = 'HV3405')
            DROP VIEW HV3405
            
			print @sSQL
			print @sSelect1
			print @sSelect2
			print @sSelect3
			print @sSelect4
			print @sSelect5

        EXEC('----tao boi HP2516_MK
            CREATE VIEW HV3405 AS ' + @sSQL+@sSelect1+@sSelect2+@sSelect3+@sSelect4+@sSelect5)

        SET @sSQL = ''

        SET @cur = CURSOR SCROLL KEYSET FOR
            SELECT T00.PayrollMethodID, T00.IncomeID, RIGHT(T00.IncomeID, 2) AS Orders, 1 AS Signs, 
                --CASE @gnLang WHEN 0 THEN 'Tieàn löông' ELSE 'Gross Pay' END AS Notes, 
                @GrossPay as Notes,
                CASE @gnLang WHEN 0 THEN T01.Caption ELSE T01.CaptionE END AS Caption
            FROM HT5005 T00 INNER JOIN HT0002 T01 ON T00.IncomeID = T01.IncomeID And T00.DivisionID = T01.DivisionID
            WHERE T00.DivisionID = @DivisionID And T00.PayrollMethodID IN (SELECT DISTINCT PayrollMethodID FROM HV3405) 
            UNION 
            SELECT T00.PayrollMethodID, T00.SubID AS IncomeID, RIGHT(T00.SubID, 2) AS Orders, -1 AS Signs, 
                --CASE @gnLang WHEN 0 THEN 'Caùc khoaûn giaûm tröø' ELSE 'Deduction' END AS Notes, 
                @Deduction as Notes,
                CASE @gnLang WHEN 0 THEN T01.Caption ELSE T01.CaptionE END AS Caption
            FROM HT5006 T00 INNER JOIN HT0005 T01 ON T00.SubID = T01.SubID And T00.DivisionID = T01.DivisionID
            WHERE T00.DivisionID = @DivisionID And T00.PayrollMethodID IN (SELECT DISTINCT PayrollMethodID FROM HV3405) 

        OPEN @cur
        FETCH NEXT FROM @cur INTO @PayrollMethodID, @IncomeID, @Orders, @Signs, @Notes, @Caption
        WHILE @@FETCH_STATUS = 0 
            BEGIN
                IF @sSQL = '' 
					
                    SET @sSQL = @sSQL + '
                        SELECT DivisionID, DepartmentID, TeamID, EmployeeID, InsuranceSalary, N''' + @Caption + ''' AS Caption, N''' + 
                        @Notes + ''' AS Notes, ''' + @IncomeID + ''' AS IncomeID, ' + 
                        CAST(@Signs AS NVARCHAR(50)) + ' AS Signs, ' + CASE WHEN @Signs = 1 THEN 'Income' ELSE '-SubAmount' END + 
                        CASE WHEN @Orders < 10 THEN '0' ELSE '' END + CAST(@Orders AS NVARCHAR(50)) + ' AS SalaryAmount, ' + 
                        CAST(@Orders AS NVARCHAR(50)) + ' AS Orders 
                        INTO HT5402
                        FROM HV3405 WHERE PayrollMethodID = ''' + @PayrollMethodID + '''
                        UNION ALL '
                ELSE 
                    IF LEN(@sSQL)>= 3000
                        SET @sSQL2 = @sSQL2 + ' SELECT DivisionID, DepartmentID, TeamID, EmployeeID, InsuranceSalary, N''' + @Caption + ''' AS Caption, N''' + 
                            @Notes + ''' AS Notes, ''' + @IncomeID + ''' AS IncomeID, ' + 
                            CAST(@Signs AS NVARCHAR(50)) + ' AS Signs, ' + CASE WHEN @Signs = 1 THEN 'Income' ELSE '-SubAmount' END + 
                            CASE WHEN @Orders < 10 THEN '0' ELSE '' END + CAST(@Orders AS NVARCHAR(50)) + ' AS SalaryAmount, ' + 
                            CAST(@Orders AS NVARCHAR(50)) + ' AS Orders 
                        FROM HV3405 WHERE PayrollMethodID = ''' + @PayrollMethodID + '''
                        UNION ALL '
                    ELSE
                        SET @sSQL = @sSQL + ' SELECT DivisionID, DepartmentID, TeamID, EmployeeID, InsuranceSalary, N''' + @Caption + ''' AS Caption, N''' + 
                            @Notes + ''' AS Notes, ''' + @IncomeID + ''' AS IncomeID, ' + 
                            CAST(@Signs AS NVARCHAR(50)) + ' AS Signs, ' + CASE WHEN @Signs = 1 THEN 'Income' ELSE '-SubAmount' END + 
                            CASE WHEN @Orders < 10 THEN '0' ELSE '' END + CAST(@Orders AS NVARCHAR(50)) + ' AS SalaryAmount, ' + 
                            CAST(@Orders AS NVARCHAR(50)) + ' AS Orders 
                        FROM HV3405 WHERE PayrollMethodID = ''' + @PayrollMethodID + '''
                        UNION ALL '
                FETCH NEXT FROM @cur INTO @PayrollMethodID, @IncomeID, @Orders, @Signs, @Notes, @Caption
            END
        Close @cur
        Deallocate @cur

        IF LEN(@sSQL2) > 5 
            SET @sSQL2 = LEFT(@sSQL2, LEN(@sSQL2) - 9)
        ELSE IF LEN(@sSQL) > 5
            SET @sSQL = LEFT(@sSQL, LEN(@sSQL) - 9)
        ELSE
			SET @sSQL = 'CREATE TABLE HT5402(DivisionID NVARCHAR(50),DepartmentID NVARCHAR(50),TeamID  NVARCHAR(50), EmployeeID NVARCHAR(250),
					InsuranceSalary Decimal(28,8),Caption NVARCHAR(250),Notes NVARCHAR(250),IncomeID NVARCHAR(50),
					Signs int,	SalaryAmount Decimal(28,8),	Orders int )'
			
			print @sSQL
			print @sSQL2

        EXEC(@sSQL + @sSQL2)
        /*
        IF EXISTS (SELECT 1 FROM sysObjects WHERE XType = 'V' AND Name = 'HV3407')
        DROP VIEW HV3407
        EXEC('CREATE VIEW HV3407 ---tao boi HP2516_MK
        AS ' + @sSQL) */

        SET @sSQL = '
            SELECT HV3407.DivisionID, HV3407.DepartmentID, HV3407.TeamID, HV3407.EmployeeID, HV1400.FullName, HV3407.Caption, HV3407.Notes, HV3407.IncomeID, 
                HV3407.Signs, HV3407.Orders, 
                SUM(HV3407.SalaryAmount) AS SalaryAmount, AVG(HV3407.InsuranceSalary) AS InSuranceSalary, HV1400.Notes AS Note2, 
                BankAccountNo 
            FROM HT5402 HV3407 LEFT JOIN HV1400 ON HV1400.EmployeeID = HV3407.EmployeeID GROUP BY HV3407.DivisionID,HV3407.DepartmentID, HV3407.TeamID, HV3407.EmployeeID, HV1400.FullName, HV3407.Caption, HV3407.Notes, HV3407.IncomeID, HV3407.Signs, 
                HV3407.Orders, HV1400.Notes, BankAccountNo'

        IF EXISTS (SELECT 1 FROM sysObjects WHERE XType = 'V' AND Name = 'HV3406')
            DROP VIEW HV3406
            
			print @sSQL
        EXEC('---tao boi HP2516_MK
            CREATE VIEW HV3406 AS ' + @sSQL)

    END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON