IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP5013_MK]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[HP5013_MK]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----Xoa du lieu tinh luong
---- Modified by Tiểu Mai on 15/03/2016: Bổ sung kiểm tra xóa bảng lương đã duyệt (ANGEL)

CREATE PROCEDURE [dbo].[HP5013_MK]
       @DivisionID AS nvarchar(50) ,
       @TranMonth AS int ,
       @TranYear AS int ,
       @PayrollMethodID AS nvarchar(50) ,
       @DepartmentID1 AS nvarchar(50) ,
       @TeamID1 AS nvarchar(50)
AS
DECLARE
        @Status AS tinyint ,
        @Message AS nvarchar(250) ,
        @CustomerName Int

SET @Status = 0
SET @Message = ''

CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)	
IF @CustomerName = 57 --- ANGEL
BEGIN

	IF EXISTS (SELECT TOP 1 1 FROM HT3400 
	           WHERE DivisionID = @DivisionID 
					AND PayrollMethodID = @PayrollMethodID 
					AND DepartmentID LIKE @DepartmentID1 
					AND IsNull(TeamID , '') LIKE IsNull(@TeamID1 , '') 
					AND TranMonth = @TranMonth AND TranYear = @TranYear
					AND IsConfirm = 1)
	BEGIN
		SET @Status = 1
		SET @Message = N'HFML000523'			
	END
	ELSE
		DELETE
			HT3400
	WHERE
			PayrollMethodID = @PayrollMethodID AND DivisionID = @DivisionID AND DepartmentID LIKE @DepartmentID1 AND IsNull(TeamID , '') LIKE IsNull(@TeamID1 , '') AND TranMonth = @TranMonth AND TranYear = @TranYear 

END
ELSE
BEGIN
	DELETE HT3499
	FROM  HT3499
	INNER JOIN HT3400 ON HT3400.TransactionID = HT3499.TransactionID AND HT3400.DivisionID = HT3499.DivisionID
	WHERE
			HT3400.PayrollMethodID = @PayrollMethodID AND HT3499.DivisionID = @DivisionID AND HT3400.DepartmentID LIKE @DepartmentID1 
			AND IsNull(HT3400.TeamID , '') LIKE IsNull(@TeamID1 , '') AND HT3499.TranMonth = @TranMonth AND HT3499.TranYear = @TranYear 
	
	DELETE HT3400
	WHERE  PayrollMethodID = @PayrollMethodID AND DivisionID = @DivisionID AND DepartmentID LIKE @DepartmentID1 
		   AND IsNull(TeamID , '') LIKE IsNull(@TeamID1 , '') AND TranMonth = @TranMonth AND TranYear = @TranYear 
	
END	

	
SELECT  
    @Status AS Status ,  
    @Message AS Message
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
