
/****** Object:  StoredProcedure [dbo].[HP5013]    Script Date: 08/05/2010 10:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

----Xoa du lieu tinh luong
---- Modified by Tiểu Mai on 15/03/2016: Bổ sung kiểm tra xóa bảng lương đã duyệt (ANGEL)
---- Modified by Huỳnh Thử on 06/10/2020: Fix lỗi run all Fix

ALTER PROCEDURE [dbo].[HP5013]
       @DivisionID AS nvarchar(50) ,
       @TranMonth AS int ,
       @TranYear AS int ,
       @PayrollMethodID AS nvarchar(50) ,
       @DepartmentID1 AS nvarchar(50) ,
       @TeamID1 AS nvarchar(50)
AS

DECLARE @CustomerName INT
--CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
--INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM dbo.CustomerIndex)

IF @CustomerName = 50 ---- Customize Meiko
BEGIN
	EXEC HP5013_MK  @DivisionID,
       @TranMonth,
       @TranYear,
       @PayrollMethodID,
       @DepartmentID1,
       @TeamID1
END
ELSE

DECLARE
        @Status AS tinyint ,
        @Message AS nvarchar(250) 

SET @Status = 0
SET @Message = ''

IF @CustomerName = 57 --- ANGEL
BEGIN

	IF EXISTS (SELECT TOP 1 1 FROM HT3400 
	           WHERE DivisionID = @DivisionID 
					AND PayrollMethodID = @PayrollMethodID 
					AND DepartmentID LIKE @DepartmentID1 
					AND IsNull(TeamID , '') LIKE IsNull(@TeamID1 , '') 
					AND TranMonth = @TranMonth AND TranYear = @TranYear
					AND IsConfirm = 1)
	BEGIN
		SET @Status = 1
		SET @Message = N'HFML000523'			
	END
	ELSE
		DELETE
			HT3400
	WHERE
			PayrollMethodID = @PayrollMethodID AND DivisionID = @DivisionID AND DepartmentID LIKE @DepartmentID1 AND IsNull(TeamID , '') LIKE IsNull(@TeamID1 , '') AND TranMonth = @TranMonth AND TranYear = @TranYear 

END
ELSE
	DELETE
			HT3400
	WHERE
			PayrollMethodID = @PayrollMethodID AND DivisionID = @DivisionID AND DepartmentID LIKE @DepartmentID1 AND IsNull(TeamID , '') LIKE IsNull(@TeamID1 , '') AND TranMonth = @TranMonth AND TranYear = @TranYear 

	
SELECT  
    @Status AS Status ,  
    @Message AS Message