IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP5005_AG]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP5005_AG]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----Created by: Vo Thanh Huong
----Created date: 20/08/2004
----purpose: Tinh cac khoan giam tru duoc ket chuyen -----duoc goi tu HP5000, chua xu ly cac khoan giam tru tinh bang loai tien te khac VND
--- Modify on 08/01/2014 by Bảo Anh: Cải thiện tốc độ (câu tạo cursor không join HT2461, dùng biến kiểu table thay cho HV5555)
--- Modify on 08/06/2016 by Bảo Anh: Cải thiện tốc độ (chỉ update khoản giảm trừ đang tính, không update hết)
---- Modified by: Kim Thư 09/10/2018 - Bổ sung lọc theo từng nhân viên, truyền thêm EmployeeID1
/********************************************
'* Edited by: [GS] [Minh Lâm] [02/08/2010]
'********************************************/
CREATE PROCEDURE [dbo].[HP5005_AG]
       @PayrollMethodID nvarchar(50) ,
       @DivisionID nvarchar(50) ,
       @TranMonth int ,
       @TranYear int ,
       @SubID nvarchar(50) ,
       @Orders int ,
       @SourceFieldName nvarchar(250) ,
       @SourceTableName nvarchar(250) ,
       @DepartmentID1 AS nvarchar(50) ,
       @TeamID1 AS nvarchar(50),
	   @EmployeeID1 AS varchar(50)
AS
DECLARE
        @sSQL nvarchar(4000) ,
        @SalaryAmount decimal(28,8) ,
        @cur cursor ,
        @TransactionID nvarchar(50) ,
        @EmployeeID nvarchar(50) ,
        @DepartmentID nvarchar(50) ,
        @TeamID nvarchar(50)
        
Declare @ST Table(SalaryAmount decimal(28,8))

		
IF @DepartmentID1 = '%'
   BEGIN

         SET @cur = CURSOR SCROLL KEYSET FOR SELECT
                                                 HT34.TransactionID ,
                                                 HT34.EmployeeID ,
                                                 HT34.DepartmentID ,
                                                 HT34.TeamID
                                             FROM
                                                 HT3400 HT34  WITH (NOLOCK)---LEFT JOIN HT2461 HT24
                                             ---ON  HT34.EmployeeID = HT24.EmployeeID AND HT34.DivisionID = HT24.DivisionID AND HT34.DepartmentID = HT24.DepartmentID AND ISNull(HT34.TeamID , '') LIKE ISNull(HT24.TeamID , '') AND HT34.TranMonth = HT24.TranMonth AND HT34.TranYear = HT24.TranYear
                                             WHERE
                                                 HT34.PayrollMethodID = @PayrollMethodID AND HT34.TranMonth = @TranMonth AND HT34.TranYear = @TranYear AND HT34.DivisionID = @DivisionID 
												 AND HT34.DepartmentID like @DepartmentID1 and Isnull(HT34.TeamID,'') like @TeamID1 AND HT34.EmployeeID LIKE @EmployeeID1
         OPEN @cur
         FETCH next FROM @cur INTO @TransactionID,@EmployeeID,@DepartmentID,@TeamID
         WHILE @@FETCH_STATUS = 0
               BEGIN
                     SET @SalaryAmount = 0
                     IF ( Isnull(@SourceFieldName , '') NOT LIKE '' ) AND ( Isnull(@SourceTableName , '') NOT LIKE '' )
                        BEGIN							
                            SET @sSQL = 'Select  Sum(Isnull(' + @SourceFieldName + ', 0)) as SalaryAmount		 
											From ' + @SourceTableName + '
											Where DivisionID = ''' + @DivisionID + ''' and 
												EmployeeID  = ''' + @EmployeeID + ''' and 
												DepartmentID = ''' + @DepartmentID + ''' and
												isnull(TeamID, '''') = ''' + isnull(@TeamID , '') + ''' and 
												TranMonth = ' + str(@TranMonth) + ' and
												TranYear = ' + str(@TranYear)

                            Insert into @ST(SalaryAmount) EXEC(@sSQL)
							SELECT @SalaryAmount = SalaryAmount from @ST

							
							SET @sSQL = 'UPDATE HT3400 SET SubAmount' + (case when @Orders < 10 then '0' else '' end) + ltrim(@Orders) + ' = ' + ltrim(@SalaryAmount) + '
									WHERE DivisionID = ''' + @DivisionID + ''' AND PayrollMethodID = ''' + @PayrollMethodID + ''' AND TransactionID = ''' + @TransactionID + ''''
							
							EXEC(@sSQL)
								
                            FETCH next FROM @cur INTO @TransactionID,@EmployeeID,@DepartmentID,@TeamID
                        END
               END
         CLOSE @cur

   END
ELSE -------------------------------------------------@DepartmentID1<>'%'----------------------------------------

   BEGIN

         SET @cur = CURSOR SCROLL KEYSET FOR SELECT
                                                 HT34.TransactionID ,
                                                 HT34.EmployeeID ,
                                                 HT34.DepartmentID ,
                                                 HT34.TeamID
                                             FROM
                                                 HT3400 HT34  WITH (NOLOCK)---LEFT JOIN HT2461 HT24
                                             ---ON  HT34.EmployeeID = HT24.EmployeeID AND HT34.DivisionID = HT24.DivisionID AND HT34.DepartmentID = HT24.DepartmentID AND ISNull(HT34.TeamID , '') LIKE ISNull(HT24.TeamID , '') AND HT34.TranMonth = HT24.TranMonth AND HT34.TranYear = HT24.TranYear
                                             WHERE
                                                 HT34.PayrollMethodID = @PayrollMethodID AND HT34.TranMonth = @TranMonth AND HT34.TranYear = @TranYear 
												 AND HT34.DivisionID = @DivisionID AND HT34.DepartmentID LIKE @DepartmentID1 
												 AND IsNull(HT34.TeamID , '') LIKE IsNull(@TeamID1 , '')
												 AND HT34.EmployeeID LIKE @EmployeeID1
												 --AND HT34.DepartmentID IN ( SELECT
													--							DepartmentID
													--						FROM
													--							HT5004
													--						WHERE
													--							PayrollMethodID = @PayrollMethodID )

         OPEN @cur
         FETCH next FROM @cur INTO @TransactionID,@EmployeeID,@DepartmentID,@TeamID
         WHILE @@FETCH_STATUS = 0
               BEGIN
                     SET @SalaryAmount = 0
                     IF ( Isnull(@SourceFieldName , '') NOT LIKE '' ) AND ( Isnull(@SourceTableName , '') NOT LIKE '' )
                        BEGIN							
							SET @sSQL = 'Select round(Sum(Isnull(' + @SourceFieldName + ', 0)),0) as SalaryAmount		 
											From ' + @SourceTableName + '
											Where DivisionID = ''' + @DivisionID + ''' and 
												DepartmentID = ''' + @DepartmentID1 + ''' and 
												IsNull(TeamID,'''') like  ''' + @TeamID1 + ''' and 
												EmployeeID  = ''' + @EmployeeID + ''' and
												TranMonth = ' + str(@TranMonth) + ' and
												TranYear = ' + str(@TranYear)
							Insert into @ST(SalaryAmount) EXEC(@sSQL)
							SELECT @SalaryAmount = SalaryAmount from @ST
								
							SET @sSQL = 'UPDATE HT3400 SET SubAmount' + (case when @Orders < 10 then '0' else '' end) + ltrim(@Orders) + ' = ' + ltrim(@SalaryAmount) + '
									WHERE DivisionID = ''' + @DivisionID + ''' AND PayrollMethodID = ''' + @PayrollMethodID + ''' AND TransactionID = ''' + @TransactionID + ''''
							
							EXEC(@sSQL)

							FETCH next FROM @cur INTO @TransactionID,@EmployeeID,@DepartmentID,@TeamID
                        END
               END
         CLOSE @cur

   END