IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP5108]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP5108]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Create by: Dang Le Bao Quynh; Date 20/07/2006
--Purpose: Tao view cho bao cao luong san pham
/********************************************
'* Edited by: [GS] [Minh Lâm] [02/08/2010]
'********************************************/
---- Modified by Phương Thảo on 22/05/2017: Sửa danh mục dùng chung
---- Modified on 15/01/2018 by Bảo Anh: Bổ sung in nhiều đơn vị

CREATE PROCEDURE [dbo].[HP5108]
       @TranMonth int ,
       @TranYear int ,
       @DivisionID nvarchar(50) ,
       @DepartmentID nvarchar(50) ,
       @TeamID nvarchar(50) ,
       @EmployeeID nvarchar(50) ,
       @lstPayrollMethodID nvarchar(4000),
	   @StrDivisionID AS NVARCHAR(4000) = '' 
AS
DECLARE
        @PayrollMethodCon nvarchar(4000) ,
        @sSQL nvarchar(4000),
		@StrDivisionID_New AS NVARCHAR(4000)

SET @StrDivisionID_New = ''

IF ISNULL(@StrDivisionID,'') <> ''
	SELECT @StrDivisionID_New = CASE WHEN @StrDivisionID = '%' THEN ' LIKE ''' + 
	@StrDivisionID + '''' ELSE ' IN (''' + replace(@StrDivisionID, ',',''',''') + ''')' END
ELSE
	SELECT @StrDivisionID_New = ' = ''' + @DivisionID + ''''

IF @lstPayrollMethodID = '%'
   BEGIN
         SET @PayrollMethodCon = 'Like ' + '''%'''
   END
ELSE
   BEGIN
         SET @PayrollMethodCon = 'IN (''' + replace(@lstPayrollMethodID , ',' , ''',''') + ''')'
   END

IF EXISTS ( SELECT
                id
            FROM
                sysobjects
            WHERE
                id = object_id('HV5108') AND xtype = 'V' )
   BEGIN
         DROP VIEW HV5108
   END

SET @sSQL = 'CREATE VIEW HV5108 --Tao boi HP5108
AS
SELECT TOP 100 PERCENT HT2.DivisionID, HT2.DepartmentID, AT1.DepartmentName,HT2.TeamID,HT11.TeamName,
HT2.EmployeeID,HV1.FullName,HV1.FirstName,HT2.GeneralCo,HT2.GeneralAbsentAmount,HT2.ProductSalary 
FROM HT3404 HT2 
INNER JOIN AT1102 AT1 ON HT2.DepartmentID=AT1.DepartmentID
INNER JOIN HT1101 HT11 ON HT2.TeamID=HT11.TeamID AND HT2.DivisionID=HT11.DivisionID
INNER JOIN HV1400 HV1 ON HT2.EmployeeID=HV1.EmployeeID AND HT2.DivisionID=HV1.DivisionID
WHERE TranMonth=' + ltrim(@TranMonth) + ' and TranYear=' + ltrim(@TranYear) + ' and HT2.DivisionID '+@StrDivisionID_New+' 
and HT2.DepartmentID like ''' + @DepartmentID + ''' and HT2.TeamID like ''' + @TeamID + ''' 
and HT2.EmployeeID Like ''' + @EmployeeID + ''' and HT2.PayrollMethodID ' + @PayrollMethodCon + ' 
ORDER BY AT1.DepartmentID,HT11.TeamID,HV1.FirstName'
--PRINT @sSQL
EXEC ( @sSQL )

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

