IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP5108_SC]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
	DROP PROCEDURE [DBO].[HP5108_SC]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
--Purpose: Báo cáo lương sản phẩm (mẫu HR2524), 
--Created by Phan thanh hoàng vũ, Date 15/07/2016: Customize secoin, bổ sung điều kiện search từ ngày đến ngày.
----- Modified by Tiểu Mai on 26/05/2017: Chỉnh sửa danh mục dùng chung và bổ sung WITH (NOLOCK)
--Exxample: Exec HP5108_SC '2016-01-01', '2016-07-30', 5, 2016, 'SC',N'%',N'%','%',N'BOCXEP,CODIEN'
CREATE PROCEDURE [dbo].[HP5108_SC]
	   @FromDate Datetime,
	   @ToDate DateTime,
       @TranMonth int ,
       @TranYear int ,
       @DivisionID nvarchar(50) ,
       @DepartmentID nvarchar(50) ,
       @TeamID nvarchar(50) ,
       @EmployeeID nvarchar(50) ,
       @lstPayrollMethodID nvarchar(4000)
AS
		DECLARE @PayrollMethodCon nvarchar(4000) ,
				@sSQL nvarchar(4000),
				@CustomerName INT		

		CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
		INSERT #CustomerName EXEC AP4444
		SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

		IF @CustomerName = 43 --- Customize Secoin
		BEGIN
				IF @lstPayrollMethodID = '%'
					SET @PayrollMethodCon = 'Like ' + '''%'''
				ELSE
					SET @PayrollMethodCon = 'IN (''' + replace(@lstPayrollMethodID , ',' , ''',''') + ''')'

				IF EXISTS ( SELECT id FROM sysobjects WHERE id = object_id('HV5108') AND xtype = 'V' )
				DROP VIEW HV5108

				SET @sSQL = 'CREATE VIEW HV5108 --Tao boi HP5108_SC
				AS
				SELECT TOP 100 PERCENT HT2.DivisionID, HT2.DepartmentID, AT1.DepartmentName,HT2.TeamID,HT11.TeamName,
				HT2.EmployeeID,HV1.FullName,HV1.FirstName,HT2.GeneralCo,HT2.GeneralAbsentAmount,HT2.ProductSalary 
				FROM HT3404 HT2 WITH (NOLOCK) 
				INNER JOIN AT1102 AT1 WITH (NOLOCK) ON HT2.DepartmentID=AT1.DepartmentID
				INNER JOIN HT1101 HT11 WITH (NOLOCK) ON HT2.TeamID=HT11.TeamID
				INNER JOIN HV1400 HV1 ON HT2.EmployeeID=HV1.EmployeeID AND HT2.DivisionID=HV1.DivisionID
				WHERE (TranMonth BETWEEN '+ Cast(Month(@FromDate) as nvarchar)+' AND ' + Cast(Month(@ToDate) as nvarchar)+') ' + 
					' and (TranYear BETWEEN '+ Cast(Year(@FromDate) as nvarchar)+' AND ' + Cast(Year(@ToDate) as nvarchar)+') ' + 
					' and HT2.DivisionID=''' + @DivisionID + 
					''' and HT2.DepartmentID like ''' + @DepartmentID + 
					''' and HT2.TeamID like ''' + @TeamID + 
					''' and HT2.EmployeeID Like ''' + @EmployeeID + 
					''' and HT2.PayrollMethodID ' + @PayrollMethodCon + 
					' ORDER BY AT1.DepartmentID,HT11.TeamID,HV1.FirstName'
				EXEC (@sSQL)
				
		END