IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP7006]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[HP7006]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Create Date: 20/09/2005
---Purpose: In bao cao luong theo thiet lap cua nguoi dung
--Code written by : Luong Bao Anh

/********************************************
'* Edited by: [GS] [Minh Lâm] [02/08/2010]
'********************************************/
----- Modifyed by Kim Vu on 23/02/2016: Bổ sung in theo danh sách nhân viên được chọn
----- Modified by Bảo Thy on 16/09/2016: Thay đổi cách lấy danh sách nhân viên bằng XML để không bị tràn chuỗi
---- Modified on 15/01/2018 by Bảo Anh: Bổ sung in nhiều đơn vị
---- Modified on 03/03/2021 by Văn Tài: Khai báo @lstEmployeeID = null để trường hợp store khác gọi trung gian. HP0360.

CREATE PROCEDURE [dbo].[HP7006]
       @DivisionID nvarchar(50) ,
       @ReportCode nvarchar(50) ,
       @FromDepartmentID nvarchar(50) ,
       @ToDepartmentID nvarchar(50) ,
       @TeamID nvarchar(50) ,
       @FromEmployeeID nvarchar(50) ,
       @ToEmployeeID nvarchar(50) ,
       @FromMonth int ,
       @FromYear int ,
       @ToMonth int ,
       @ToYear int ,
       @lstPayrollMethodID AS nvarchar(50) , -----phuong phap tinh luong
       @IsGroup tinyint , ----- 1 la tong hop, 0 la chi tiet
       @GroupFactor nvarchar(50),----tong hop theo phong ban hay to nhom
	   @lstEmployeeID as XML = NULL, ---- danh sách nhân viên được chọn
	   @StrDivisionID AS NVARCHAR(4000) = ''

AS
DECLARE @sSQL varchar(8000)





IF @IsGroup = 1
   BEGIN
         IF @GroupFactor = 'Dept'
            BEGIN
                  EXEC HP7010 @DivisionID , @ReportCode , @FromDepartmentID , @ToDepartmentID , @TeamID , @FromEmployeeID , @ToEmployeeID , @FromMonth , @FromYear , @ToMonth , @ToYear , @lstPayrollMethodID, @lstEmployeeID, @StrDivisionID
            END
         ELSE
            BEGIN
                  EXEC HP7009 @DivisionID , @ReportCode , @FromDepartmentID , @ToDepartmentID , @TeamID , @FromEmployeeID , @ToEmployeeID , @FromMonth , @FromYear , @ToMonth , @ToYear , @lstPayrollMethodID, @lstEmployeeID, @StrDivisionID
            END

   END
ELSE
   BEGIN----KHONG NHOM
         EXEC HP7008 @DivisionID , @ReportCode , @FromDepartmentID , @ToDepartmentID , @TeamID , @FromEmployeeID , @ToEmployeeID , @FromMonth , @FromYear , @ToMonth , @ToYear , @lstPayrollMethodID, @lstEmployeeID, @StrDivisionID
   END