IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MQ2221]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[MQ2221]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----- Create By: Dang Le Bao Quynh; Date 26/10/2009
----- Purpose: View chet phuc vu viec ke thua don hang san xuat lam ket qua san xuat
-- Edit by : Trong Khanhs [10/02/2012] -- Thêm 5 mã phân tích
--- Edited by Bao Anh	Date: 30/11/2012	Lay len tat ca DHSX (truoc day chi lay Don hang dang san xuat)
--- Edit by Hoàng Vũ Date: 16/02/2015 lấy thêm 10 trường tham số dưới detail và 2 trường ghi chú
--- Edit by Hoàng Vũ Date: 07/07/2015 lấy thêm 2 trường số liệu kế thừa phiếu giao việc: InheritQuantity_secoin, RemainQuantity_secoin (Customize index khách hàng secoin)
--- Edit by Tiểu Mai, Date: 28/10/2015: Bổ sung 20 trường quy cách từ table MT8899.
--- Modified by Tiểu Mai on 23/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
--- Modified by Bảo Anh on 18/06/2018: Chỉ load các đơn hàng được duyệt
--- Modified by Văn Tài on 01/10/2019: Move cách xử lý LEFT JOIN OT2002 từ chuẩn
--- Modified by Nhựt Trường on 13/10/2020: (Sửa danh mục dùng chung) Bổ sung điều kiện DivisionID IN cho AT1302.
--- Modified by Đức Duy on 17/02/2023: [2023/02/IS/0091] -  Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
--- Modified by Thành Sang on 10/07/2023: - Sửa format và bỏ điều kiện MT1001.InheritTransactionID = OT2002.TransactionID (CustomerIndex Thiên Nam )

CREATE VIEW [dbo].[MQ2221]
AS
SELECT DISTINCT OT2001.SOrderID, OT2002.RefOrderID, OT2002.RefSOrderID, OT2001.VoucherTypeID, OT2001.VoucherNo, OT2001.OrderDate, OT2001.Notes,
		OT2001.VoucherNo AS ReVoucherNo, OT2001.PeriodID, MT1601.Description AS PeriodName, OT2001.ObjectID,
		CASE WHEN AT1202.IsUpdateName = 1 THEN OT2001.ObjectName ELSE AT1202.ObjectName END AS ObjectName,
		OT2001.DepartmentID, AT1102.DepartmentName, OT2001.EmployeeID, AT1103.FullName AS EmployeeName, OT2001.InventoryTypeID,
		OT2001.DivisionID, OT2001.TranMonth, OT2001.TranYear, OT2002.TransactionID, OT2002.Orders, OT2002.InventoryID AS ProductID,
		AT1302.InventoryName AS ProductName, AT1302.UnitID, AT1302.AccountID, OT2002.ExtraID, AT1311.ExtraName, OT2002.OrderQuantity,
		ISNULL((SELECT SUM(ISNULL(Quantity, 0))FROM MT1001 WITH (NOLOCK) WHERE MT1001.OTransactionID = OT2002.TransactionID 
		OR (MT1001.InheritTransactionID = OT2002.TransactionID AND (SELECT CustomerName from CustomerIndex) <> 92)
		), 0) AS InheritedQuantity,
		CASE WHEN OT2002.Finish = 1 then 0 else (OT2002.OrderQuantity - isnull((Select Sum(isnull(Quantity,0)) From MT1001 Where MT1001.OTransactionID = OT2002.TransactionID
		OR (MT1001.InheritTransactionID = OT2002.TransactionID AND (SELECT CustomerName from CustomerIndex) <> 92)
		),0)) End As RemainQuantity,
		ISNULL(( SELECT SUM(ISNULL(Quantity, 0)) FROM MT2008 WITH (NOLOCK) WHERE MT2008.InheritTransactionID = OT2002.TransactionID), 0) AS InheritedQuantity_Secoin,
		OT2002.OrderQuantity - ISNULL((SELECT SUM(ISNULL(Quantity, 0))FROM MT2008 WITH (NOLOCK) WHERE MT2008.InheritTransactionID = OT2002.TransactionID), 0) AS RemainQuantity_Secoin,
		OT2002.Description AS Note, OT2002.Ana01ID, OT2002.Ana02ID, OT2002.Ana03ID, OT2002.Ana04ID, OT2002.Ana05ID, OT2002.Ana06ID, OT2002.Ana07ID, OT2002.Ana08ID,OT2002.Ana09ID, OT2002.Ana10ID,
		A1.AnaName AS Ana01Name, A2.AnaName AS Ana02Name, A3.AnaName AS Ana03Name, A4.AnaName AS Ana04Name, A5.AnaName AS Ana05Name, A6.AnaName AS Ana06Name, A7.AnaName AS Ana07Name, A8.AnaName AS Ana08Name, A9.AnaName AS Ana09Name, A10.AnaName AS Ana10Name,
		OT2.SalePrice, OT2002.ConvertedAmount, OT2002.OriginalAmount, OT2002.nvarchar01, OT2002.nvarchar02, OT2002.nvarchar03, OT2002.nvarchar04, OT2002.nvarchar05, OT2002.nvarchar06, OT2002.nvarchar07, OT2002.nvarchar08, OT2002.nvarchar09, OT2002.nvarchar10,
		OT2002.Notes01, OT2002.Notes02, M89.S01ID, M89.S02ID, M89.S03ID, M89.S04ID, M89.S05ID, M89.S06ID, M89.S07ID, M89.S08ID, M89.S09ID, M89.S10ID, M89.S11ID, M89.S12ID, M89.S13ID, M89.S14ID, M89.S15ID, M89.S16ID, M89.S17ID, M89.S18ID, M89.S19ID, M89.S20ID
FROM OT2001 WITH (NOLOCK)
INNER JOIN OT2002 WITH (NOLOCK) ON OT2001.SOrderID = OT2002.SOrderID AND OT2001.DivisionID = OT2002.DivisionID
LEFT JOIN (
			SELECT OT2.SOrderID, OT2.RefSOrderID, OT2.InventoryID, OT2.DivisionID, OT2.SalePrice
			FROM OT2002 OT2 WITH (NOLOCK)
			INNER JOIN OT2002 WITH (NOLOCK) ON OT2.SOrderID = OT2002.SOrderID AND OT2.DivisionID = OT2002.DivisionID
			WHERE OT2.SOrderID = OT2002.RefSOrderID) OT2 ON OT2.InventoryID = OT2002.InventoryID AND OT2.DivisionID = OT2002.DivisionID
LEFT JOIN AT1311 WITH (NOLOCK) ON OT2002.DivisionID = AT1311.DivisionID AND OT2002.ExtraID = AT1311.ExtraID
LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (OT2002.DivisionID, '@@@') AND OT2001.ObjectID = AT1202.ObjectID
LEFT JOIN AT1102 WITH (NOLOCK) ON OT2001.DepartmentID = AT1102.DepartmentID
LEFT JOIN AT1103 WITH (NOLOCK) ON OT2001.EmployeeID = AT1103.EmployeeID
LEFT JOIN MT1601 WITH (NOLOCK) ON OT2001.PeriodID = MT1601.PeriodID AND OT2001.DivisionID = MT1601.DivisionID
LEFT JOIN AT1302 WITH (NOLOCK) ON OT2002.InventoryID = AT1302.InventoryID AND AT1302.DivisionID IN (OT2002.DivisionID,'@@@')
LEFT JOIN AT1011 A1 WITH (NOLOCK) ON OT2002.Ana01ID = A1.AnaID AND A1.AnaTypeID = 'A01'
LEFT JOIN AT1011 A2 WITH (NOLOCK) ON OT2002.Ana02ID = A2.AnaID AND A2.AnaTypeID = 'A02'
LEFT JOIN AT1011 A3 WITH (NOLOCK) ON OT2002.Ana03ID = A3.AnaID AND A3.AnaTypeID = 'A03'
LEFT JOIN AT1011 A4 WITH (NOLOCK) ON OT2002.Ana04ID = A4.AnaID AND A4.AnaTypeID = 'A04'
LEFT JOIN AT1011 A5 WITH (NOLOCK) ON OT2002.Ana05ID = A5.AnaID AND A5.AnaTypeID = 'A05'
LEFT JOIN AT1011 A6 WITH (NOLOCK) ON OT2002.Ana06ID = A6.AnaID AND A6.AnaTypeID = 'A06'
LEFT JOIN AT1011 A7 WITH (NOLOCK) ON OT2002.Ana07ID = A7.AnaID AND A7.AnaTypeID = 'A07'
LEFT JOIN AT1011 A8 WITH (NOLOCK) ON OT2002.Ana08ID = A8.AnaID AND A8.AnaTypeID = 'A08'
LEFT JOIN AT1011 A9 WITH (NOLOCK) ON OT2002.Ana09ID = A9.AnaID AND A9.AnaTypeID = 'A09'
LEFT JOIN AT1011 A10 WITH (NOLOCK) ON OT2002.Ana10ID = A10.AnaID AND A10.AnaTypeID = 'A10'
LEFT JOIN MT8899 M89 WITH (NOLOCK) ON M89.DivisionID = OT2002.DivisionID AND M89.VoucherID = OT2002.SOrderID AND M89.TransactionID = OT2002.TransactionID
WHERE OT2001.OrderType = 1 AND OT2001.OrderStatus = 1 AND (MT1601.IsDistribute = 0 OR MT1601.IsDistribute IS NULL)
GO
SET QUOTED_IDENTIFIER OFF;
GO
SET ANSI_NULLS ON;
GO
