IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP0044]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[CP0044]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- CP0044
-- <Summary>
---- Kiểm tra mặt hàng đã có định mức hàng hóa hay chưa (Bê Tông Long An)
---- Created on 03/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- EXEC CP0044 @DivisionID = 'ANG',@UserID='ASOFTADMIN',@InventoryID = 'BBCN01', @WareHouseID = 'KBP', @TranMonth = 7, @TranYear = 2017, @FromDate='2017-06-30 00:00:00',@ToDate='2017-07-30 00:00:00'

CREATE PROCEDURE [dbo].[CP0044]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),			
	@InventoryID AS NVARCHAR(50),
	@S01ID AS NVARCHAR(50),
	@S02ID AS NVARCHAR(50),
	@S03ID AS NVARCHAR(50),	
	@S04ID AS NVARCHAR(50),	
	@S05ID AS NVARCHAR(50),	
	@S06ID AS NVARCHAR(50),
	@S07ID AS NVARCHAR(50),
	@S08ID AS NVARCHAR(50),	
	@S09ID AS NVARCHAR(50),	
	@S10ID AS NVARCHAR(50),	
	@S11ID AS NVARCHAR(50),
	@S12ID AS NVARCHAR(50),
	@S13ID AS NVARCHAR(50),	
	@S14ID AS NVARCHAR(50),	
	@S15ID AS NVARCHAR(50),	
	@S16ID AS NVARCHAR(50),
	@S17ID AS NVARCHAR(50),
	@S18ID AS NVARCHAR(50),	
	@S19ID AS NVARCHAR(50),	
	@S20ID AS NVARCHAR(50),						
	@WareHouseID AS NVARCHAR(50),	
	@TranMonth AS INT,
	@TranYear AS INT,
    @FromDate DATETIME,
    @ToDate DATETIME
AS

SELECT TOP 1 1 
FROM AT1314 WITH (NOLOCK)
WHERE DivisionID = @DivisionID
AND InventoryID = @InventoryID 
AND ISNULL(S01ID, '') = ISNULL(@S01ID, '')
AND ISNULL(S02ID, '') = ISNULL(@S02ID, '')
AND ISNULL(S03ID, '') = ISNULL(@S03ID, '')
AND ISNULL(S04ID, '') = ISNULL(@S04ID, '')
AND ISNULL(S05ID, '') = ISNULL(@S05ID, '')
AND ISNULL(S06ID, '') = ISNULL(@S06ID, '')
AND ISNULL(S07ID, '') = ISNULL(@S07ID, '')
AND ISNULL(S08ID, '') = ISNULL(@S08ID, '')
AND ISNULL(S09ID, '') = ISNULL(@S09ID, '')
AND ISNULL(S10ID, '') = ISNULL(@S10ID, '')
AND ISNULL(S11ID, '') = ISNULL(@S11ID, '')
AND ISNULL(S12ID, '') = ISNULL(@S12ID, '')
AND ISNULL(S13ID, '') = ISNULL(@S13ID, '')
AND ISNULL(S14ID, '') = ISNULL(@S14ID, '')
AND ISNULL(S15ID, '') = ISNULL(@S15ID, '')
AND ISNULL(S16ID, '') = ISNULL(@S16ID, '')
AND ISNULL(S17ID, '') = ISNULL(@S17ID, '')
AND ISNULL(S18ID, '') = ISNULL(@S18ID, '')
AND ISNULL(S19ID, '') = ISNULL(@S19ID, '')
AND ISNULL(S20ID, '') = ISNULL(@S20ID, '')
AND WareHouseID LIKE @WareHouseID
AND TranMonth = @TranMonth 
AND TranYear = @TranYear
AND CONVERT(DATE, FromDate) = CONVERT(DATE, @FromDate) 
AND CONVERT(DATE, ToDate) = CONVERT(DATE, @ToDate)	

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

