IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP0039]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[CP0039]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- CP0039
-- <Summary>
---- Stored Load dữ liệu tab chi tiết mặt hàng (cập nhật thông tin hợp đồng) (TDCLA)
---- Created on 31/07/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Huỳnh Thử on 28/09/2020 : ReName AT1032 -> AT1302

-- <Example>
---- EXEC CP0039 @DivisionID = 'ANG', @UserID = 'ASOFTADMIN', @ContractID = 'CT20170000000001'

CREATE PROCEDURE [dbo].[CP0039]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),			
	@ContractID AS NVARCHAR(50)
AS

DECLARE @sSQL1 AS NVARCHAR(MAX) = '',
		@sSQL2 AS NVARCHAR(MAX) = ''

SET @sSQL1 = '
SELECT AT1031.*, AT1302.InventoryName, AT1309.Operator, AT1309.DataType, AT1309.ConversionFactor, AT1319.FormulaDes,
AT01.StandardName S01Name, AT02.StandardName S02Name, AT03.StandardName S03Name, AT04.StandardName S04Name, AT05.StandardName S05Name,
AT06.StandardName S06Name, AT07.StandardName S07Name, AT08.StandardName S08Name, AT09.StandardName S09Name, AT10.StandardName S10Name,
AT11.StandardName S11Name, AT12.StandardName S12Name, AT13.StandardName S13Name, AT14.StandardName S14Name, AT15.StandardName S15Name,
AT16.StandardName S16Name, AT17.StandardName S17Name, AT18.StandardName S18Name, AT19.StandardName S19Name, AT20.StandardName S20Name
FROM AT1031 WITH (NOLOCK)
LEFT JOIN AT1309 WITH (NOLOCK) ON AT1309.InventoryID = AT1031.InventoryID AND AT1309.UnitID = AT1031.UnitID
AND ISNULL(AT1309.S01ID, '''') = ISNULL(AT1031.S01ID, '''')
AND ISNULL(AT1309.S02ID, '''') = ISNULL(AT1031.S02ID, '''')
AND ISNULL(AT1309.S03ID, '''') = ISNULL(AT1031.S03ID, '''')
AND ISNULL(AT1309.S04ID, '''') = ISNULL(AT1031.S04ID, '''')
AND ISNULL(AT1309.S05ID, '''') = ISNULL(AT1031.S05ID, '''')
AND ISNULL(AT1309.S06ID, '''') = ISNULL(AT1031.S06ID, '''')
AND ISNULL(AT1309.S07ID, '''') = ISNULL(AT1031.S07ID, '''')
AND ISNULL(AT1309.S08ID, '''') = ISNULL(AT1031.S08ID, '''')
AND ISNULL(AT1309.S09ID, '''') = ISNULL(AT1031.S09ID, '''')
AND ISNULL(AT1309.S10ID, '''') = ISNULL(AT1031.S10ID, '''')
AND ISNULL(AT1309.S11ID, '''') = ISNULL(AT1031.S11ID, '''')
AND ISNULL(AT1309.S12ID, '''') = ISNULL(AT1031.S12ID, '''')
AND ISNULL(AT1309.S13ID, '''') = ISNULL(AT1031.S13ID, '''')
AND ISNULL(AT1309.S14ID, '''') = ISNULL(AT1031.S14ID, '''')
AND ISNULL(AT1309.S15ID, '''') = ISNULL(AT1031.S15ID, '''')
AND ISNULL(AT1309.S16ID, '''') = ISNULL(AT1031.S16ID, '''')
AND ISNULL(AT1309.S17ID, '''') = ISNULL(AT1031.S17ID, '''')
AND ISNULL(AT1309.S18ID, '''') = ISNULL(AT1031.S18ID, '''')
AND ISNULL(AT1309.S19ID, '''') = ISNULL(AT1031.S19ID, '''')
AND ISNULL(AT1309.S20ID, '''') = ISNULL(AT1031.S20ID, '''')'


SET @sSQL2 = '
LEFT JOIN AT1319 WITH (NOLOCK) ON AT1309.FormulaID = AT1319.FormulaID
LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (''@@@'', AT1031.DivisionID) AND AT1031.InventoryID = AT1302.InventoryID
LEFT JOIN AT0128 AT01 WITH (NOLOCK) ON AT01.StandardID = AT1031.S01ID AND AT01.StandardTypeID = ''S01''
LEFT JOIN AT0128 AT02 WITH (NOLOCK) ON AT02.StandardID = AT1031.S02ID AND AT02.StandardTypeID = ''S02''
LEFT JOIN AT0128 AT03 WITH (NOLOCK) ON AT03.StandardID = AT1031.S03ID AND AT03.StandardTypeID = ''S03''
LEFT JOIN AT0128 AT04 WITH (NOLOCK) ON AT04.StandardID = AT1031.S04ID AND AT04.StandardTypeID = ''S04''
LEFT JOIN AT0128 AT05 WITH (NOLOCK) ON AT05.StandardID = AT1031.S05ID AND AT05.StandardTypeID = ''S05''
LEFT JOIN AT0128 AT06 WITH (NOLOCK) ON AT06.StandardID = AT1031.S06ID AND AT06.StandardTypeID = ''S06''
LEFT JOIN AT0128 AT07 WITH (NOLOCK) ON AT07.StandardID = AT1031.S07ID AND AT07.StandardTypeID = ''S07''
LEFT JOIN AT0128 AT08 WITH (NOLOCK) ON AT08.StandardID = AT1031.S08ID AND AT08.StandardTypeID = ''S08''
LEFT JOIN AT0128 AT09 WITH (NOLOCK) ON AT09.StandardID = AT1031.S09ID AND AT09.StandardTypeID = ''S09''
LEFT JOIN AT0128 AT10 WITH (NOLOCK) ON AT10.StandardID = AT1031.S10ID AND AT10.StandardTypeID = ''S10''
LEFT JOIN AT0128 AT11 WITH (NOLOCK) ON AT11.StandardID = AT1031.S11ID AND AT11.StandardTypeID = ''S11''
LEFT JOIN AT0128 AT12 WITH (NOLOCK) ON AT12.StandardID = AT1031.S12ID AND AT12.StandardTypeID = ''S12''
LEFT JOIN AT0128 AT13 WITH (NOLOCK) ON AT13.StandardID = AT1031.S13ID AND AT13.StandardTypeID = ''S13''
LEFT JOIN AT0128 AT14 WITH (NOLOCK) ON AT14.StandardID = AT1031.S15ID AND AT14.StandardTypeID = ''S14''
LEFT JOIN AT0128 AT15 WITH (NOLOCK) ON AT15.StandardID = AT1031.S15ID AND AT15.StandardTypeID = ''S15''
LEFT JOIN AT0128 AT16 WITH (NOLOCK) ON AT16.StandardID = AT1031.S16ID AND AT16.StandardTypeID = ''S16''
LEFT JOIN AT0128 AT17 WITH (NOLOCK) ON AT17.StandardID = AT1031.S17ID AND AT17.StandardTypeID = ''S17''
LEFT JOIN AT0128 AT18 WITH (NOLOCK) ON AT18.StandardID = AT1031.S18ID AND AT18.StandardTypeID = ''S18''
LEFT JOIN AT0128 AT19 WITH (NOLOCK) ON AT19.StandardID = AT1031.S19ID AND AT19.StandardTypeID = ''S19''
LEFT JOIN AT0128 AT20 WITH (NOLOCK) ON AT20.StandardID = AT1031.S20ID AND AT20.StandardTypeID = ''S20''
WHERE AT1031.DivisionID = ''' + @DivisionID + '''
AND AT1031.ContractID = ''' + @ContractID + '''
ORDER BY AT1031.Orders, AT1031.InventoryID'

PRINT @sSQL1
PRINT @sSQL2
EXEC (@sSQL1 + @sSQL2)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

