IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP0085]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[CP0085]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
--- CustomizeIndex = 43 (Secoin)
--- Duyệt những mặt hàng bên CI = sản phẩm bên HRM và co dùng Mã phân tích mặt hàng số 5 thì update đơn giá [HF086] từ trường [Ghi chú] bên mã phân tích mặt hàng
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
----Created by: Phan thanh hoang vu
---- Modified by Bảo Thy on 22/05/2017: Sửa danh mục dủng chung
----Create date: 02/03/2015
/*
	EXEC CP0085 'AS', 'I05', 'B3'
*/

 CREATE PROCEDURE CP0085
(
	@DivisionID VARCHAR(50),
    @AnaTypeID as Varchar(50), --Loại mã phân tích mặt hàng thứ 5
	@AnaID as varchar(50) -- Mã phân tích insert/sửa
)
AS
BEGIN
		DECLARE @uDivisionID VARCHAR(50), 
				@uInventoryID VARCHAR(50), 
				@uI05ID VARCHAR(50), 
				@uNotes VARCHAR(50), 
				@uUnitPrice VARCHAR(50), 
				@uMethodID VARCHAR(50),
				@cur_UpdateUnitPrice CURSOR

		SET @cur_UpdateUnitPrice = CURSOR SCROLL KEYSET FOR
		Select AT1302.DivisionID, AT1302.InventoryID, AT1302.I05ID, isnull(AT1015.Notes, 0) as Notes , HT1015.UnitPrice, HT1015.MethodID
		From AT1302 left join AT1015 on AT1302.DivisionID = AT1015.DivisionID and AT1302.I05ID = AT1015.AnaID and AT1015.AnaTypeID = @AnaTypeID
					left join HT1015 on AT1302.DivisionID = HT1015.DivisionID and AT1302.InventoryID = HT1015.ProductID
		Where AT1302.DivisionID IN (@DivisionID, '@@@') and AT1302.I05ID = @AnaID

		OPEN @cur_UpdateUnitPrice
		FETCH NEXT FROM @cur_UpdateUnitPrice INTO @uDivisionID, @uInventoryID, @uI05ID, @uNotes, @uUnitPrice, @uMethodID
		WHILE @@FETCH_STATUS = 0
		  BEGIN	
			IF Isnull(@uMethodID, 0) = 2
			BEGIN
				Update HT1015 Set HT1015.UnitPrice = @uNotes 
				where HT1015.DivisionID = @uDivisionID and HT1015.ProductID = @uInventoryID and HT1015.MethodID = @uMethodID
			END
			
			FETCH NEXT FROM @cur_UpdateUnitPrice INTO @uDivisionID, @uInventoryID, @uI05ID, @uNotes, @uUnitPrice, @uMethodID
		  END
  
		CLOSE @cur_UpdateUnitPrice
		
END
