IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP0045]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[CP0045]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- CP0045
-- <Summary>
---- import định mức hàng hóa hay chưa (Bê Tông Long An)
---- Created on 03/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 26/09/2017 by Hải Long: Kiểm tra tồn tại của mã kho hàng và bộ định mức
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.

-- <Example>
---- EXEC CP0045 @DivisionID = 'ANG',@UserID='ASOFTADMIN',@InventoryID = 'BBCN01', @WareHouseID = 'KBP', @TranMonth = 7, @TranYear = 2017, @FromDate='2017-06-30 00:00:00',@ToDate='2017-07-30 00:00:00'

CREATE PROCEDURE [dbo].[CP0045]
	@DivisionID AS NVARCHAR(50),			
	@UserID AS NVARCHAR(50),	
	@TranMonth AS INT,
	@TranYear AS INT,
	@XML AS XML
AS

DECLARE @Status AS TINYINT = 0,
		@Message AS NVARCHAR(50),
		@InventoryID AS NVARCHAR(50),
		@WareHouseID AS NVARCHAR(50),
		@NormID AS NVARCHAR(50)  

SELECT	X.Data.query('Row').value('.', 'INT') AS Row,
		X.Data.query('InventoryID').value('.', 'NVARCHAR(50)') AS InventoryID,		
		X.Data.query('S01ID').value('.', 'NVARCHAR(50)') AS S01ID,
		X.Data.query('S02ID').value('.', 'NVARCHAR(50)') AS S02ID,
		X.Data.query('S03ID').value('.', 'NVARCHAR(50)') AS S03ID,
		X.Data.query('S04ID').value('.', 'NVARCHAR(50)') AS S04ID,
		X.Data.query('S05ID').value('.', 'NVARCHAR(50)') AS S05ID,
		X.Data.query('S06ID').value('.', 'NVARCHAR(50)') AS S06ID,
		X.Data.query('S07ID').value('.', 'NVARCHAR(50)') AS S07ID,
		X.Data.query('S08ID').value('.', 'NVARCHAR(50)') AS S08ID,
		X.Data.query('S09ID').value('.', 'NVARCHAR(50)') AS S09ID,
		X.Data.query('S10ID').value('.', 'NVARCHAR(50)') AS S10ID,
		X.Data.query('S11ID').value('.', 'NVARCHAR(50)') AS S11ID,
		X.Data.query('S12ID').value('.', 'NVARCHAR(50)') AS S12ID,
		X.Data.query('S13ID').value('.', 'NVARCHAR(50)') AS S13ID,
		X.Data.query('S14ID').value('.', 'NVARCHAR(50)') AS S14ID,
		X.Data.query('S15ID').value('.', 'NVARCHAR(50)') AS S15ID,
		X.Data.query('S16ID').value('.', 'NVARCHAR(50)') AS S16ID,
		X.Data.query('S17ID').value('.', 'NVARCHAR(50)') AS S17ID,
		X.Data.query('S18ID').value('.', 'NVARCHAR(50)') AS S18ID,
		X.Data.query('S19ID').value('.', 'NVARCHAR(50)') AS S19ID,
		X.Data.query('S20ID').value('.', 'NVARCHAR(50)') AS S20ID,
		X.Data.query('NormID').value('.', 'NVARCHAR(50)') AS NormID,		
		X.Data.query('WareHouseID').value('.', 'NVARCHAR(50)') AS WareHouseID,	
		X.Data.query('MinQuantity').value('.', 'INT') AS MinQuantity,	
		X.Data.query('MaxQuantity').value('.', 'INT') AS MaxQuantity,	
		X.Data.query('ReOrderQuantity').value('.', 'INT') AS ReOrderQuantity,	
		X.Data.query('FromDate').value('.', 'DATETIME') AS FromDate,		
		X.Data.query('ToDate').value('.', 'DATETIME') AS ToDate,																						
		X.Data.query('TranMonth').value('.', 'INT') AS TranMonth,	
		X.Data.query('TranYear').value('.', 'INT') AS TranYear,	
		X.Data.query('Notes').value('.', 'NVARCHAR(250)') AS Notes				
INTO #Data		
FROM @XML.nodes('//Data') AS X (Data)

-- Kiểm tra tồn tại mã mặt hàng
SELECT TOP 1 @InventoryID = #Data.InventoryID
FROM #Data
LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN ('@@@', #Data.DivisionID) AND AT1302.InventoryID = #Data.InventoryID
WHERE AT1302.InventoryID IS NULL 
ORDER BY #Data.Row

IF ISNULL(@InventoryID, '') <> ''
BEGIN
	SET @Status = 1
	SET @Message = 'CFML000218'
	GOTO LB_RESULT	
END

-- Kiểm tra tồn tại của kho hàng và mã bộ định mức
SELECT TOP 1 @WareHouseID = #Data.WareHouseID
FROM #Data
LEFT JOIN AT1303 WITH (NOLOCK) ON AT1303.DivisionID IN ('@@@', @DivisionID) AND AT1303.WareHouseID = #Data.WareHouseID
WHERE AT1303.WareHouseID IS NULL 
ORDER BY #Data.Row

SELECT TOP 1 @NormID = #Data.NormID
FROM #Data
LEFT JOIN AT1313 WITH (NOLOCK) ON AT1313.NormID = #Data.NormID
WHERE AT1313.NormID IS NULL 
ORDER BY #Data.Row

IF (ISNULL(@WareHouseID, '') <> '' OR ISNULL(@NormID, '') <> '')
BEGIN
	SET @Status = 1
	SET @Message = 'CFML000223'
	GOTO LB_RESULT	
END

-- Kiểm tra mặt hàng đã có định mức tồn kho hay chưa?
SELECT TOP 1 @InventoryID = AT1314.InventoryID, @WareHouseID= AT1314.WareHouseID 
FROM AT1314 WITH (NOLOCK)
INNER JOIN #Data ON  AT1314.DivisionID = @DivisionID AND #Data.InventoryID = AT1314.InventoryID 
AND ISNULL(#Data.S01ID, '') = ISNULL(AT1314.S01ID, '')
AND ISNULL(#Data.S02ID, '') = ISNULL(AT1314.S02ID, '')
AND ISNULL(#Data.S03ID, '') = ISNULL(AT1314.S03ID, '')
AND ISNULL(#Data.S04ID, '') = ISNULL(AT1314.S04ID, '')
AND ISNULL(#Data.S05ID, '') = ISNULL(AT1314.S05ID, '')
AND ISNULL(#Data.S06ID, '') = ISNULL(AT1314.S06ID, '')
AND ISNULL(#Data.S07ID, '') = ISNULL(AT1314.S07ID, '')
AND ISNULL(#Data.S08ID, '') = ISNULL(AT1314.S08ID, '')
AND ISNULL(#Data.S09ID, '') = ISNULL(AT1314.S09ID, '')
AND ISNULL(#Data.S10ID, '') = ISNULL(AT1314.S10ID, '')
AND ISNULL(#Data.S11ID, '') = ISNULL(AT1314.S11ID, '')
AND ISNULL(#Data.S12ID, '') = ISNULL(AT1314.S12ID, '')
AND ISNULL(#Data.S13ID, '') = ISNULL(AT1314.S13ID, '')
AND ISNULL(#Data.S14ID, '') = ISNULL(AT1314.S14ID, '')
AND ISNULL(#Data.S15ID, '') = ISNULL(AT1314.S15ID, '')
AND ISNULL(#Data.S16ID, '') = ISNULL(AT1314.S16ID, '')
AND ISNULL(#Data.S17ID, '') = ISNULL(AT1314.S17ID, '')
AND ISNULL(#Data.S18ID, '') = ISNULL(AT1314.S18ID, '')
AND ISNULL(#Data.S19ID, '') = ISNULL(AT1314.S19ID, '')
AND ISNULL(#Data.S20ID, '') = ISNULL(AT1314.S20ID, '')
AND #Data.WareHouseID LIKE AT1314.WareHouseID
--AND #Data.TranMonth = AT1314.TranMonth 
--AND #Data.TranYear = AT1314.TranYear
AND CONVERT(DATE, #Data.FromDate) = CONVERT(DATE, AT1314.FromDate) 
AND CONVERT(DATE, #Data.ToDate) = CONVERT(DATE, AT1314.ToDate)	
ORDER BY #Data.Row

IF ISNULL(@InventoryID, '') <> ''
BEGIN
	SET @Status = 1
	SET @Message = 'CFML000021'
	GOTO LB_RESULT	
END

INSERT INTO AT1314 (DivisionID, InventoryNormID, NormID, InventoryID, WareHouseID, MinQuantity, MaxQuantity, ReOrderQuantity, 
     S01ID, S02ID, S03ID, S04ID, S05ID, S06ID, S07ID, S08ID, S09ID, S10ID,
     S11ID, S12ID, S13ID, S14ID, S15ID, S16ID, S17ID, S18ID, S19ID, S20ID, Notes, 
     FromDate, ToDate, TranMonth, TranYear, CreateDate, LastModifyDate, CreateUserID, LastModifyUserID)
SELECT @DivisionID, NEWID(), NormID, InventoryID, WareHouseID, MinQuantity, MaxQuantity, ReOrderQuantity, 
     S01ID, S02ID, S03ID, S04ID, S05ID, S06ID, S07ID, S08ID, S09ID, S10ID,
     S11ID, S12ID, S13ID, S14ID, S15ID, S16ID, S17ID, S18ID, S19ID, S20ID, Notes, 
     FromDate, ToDate, TranMonth, TranYear, GETDATE(), GETDATE(), @UserID, @UserID   
FROM #Data        
    

LB_RESULT:
SELECT @Status AS STATUS, @Message AS MESSAGE, @InventoryID AS InventoryID, @WareHouseID AS WareHouseID  

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

