IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP0058]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[CP0058]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
--- 
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
---- Created by: Hoàng Vũ on: 02/12/2015: Customize theo khách hàng SECOIN, Bắn dữ liệu từ mặt hàng CI qua sản phẩm bên HRM. 
---- Modified on: Hoàng Vũ on: 26/01/2016: Customize theo khách hàng SECOIN, bắn thêm nhóm đơn giá.
---- Modified on: Quốc Tuấn on: 21/06/2016: sữa lỗi convert số bị lỗi cho khách hàng secoin
---- Modified on 22/05/2017 by Bảo Thy: Sửa danh mục dùng chung
---- Modified on 
-- <Example>: EXEC CP0058 'AS', 'NUOC', 'ASOFTADMIN'
 
CREATE PROCEDURE CP0058 
(
	@DivisionID Varchar(50),
	@InventoryID Varchar(50),
	@UserID Varchar(50)
)

AS
BEGIN
	DECLARE @InventoryTypeIDTemp VARCHAR(50),		
			@InventoryNameTemp NVARCHAR(500),
			@DisabledTemp TINYINT,
			@UnitIDTemp VARCHAR(50),
			@Description NVARCHAR(250),
			@LastModifyDateTemp DateTime,
			@IsToHRM Tinyint,
			@UnitPrice DECIMAL(28,8)
		
	SELECT TOP 1 @InventoryTypeIDTemp = AT1302.InventoryTypeID, @InventoryNameTemp = AT1302.InventoryName
		  , @DisabledTemp = AT1302.Disabled, @Description = AT1302.Notes01
		  , @LastModifyDateTemp = AT1302.LastModifyDate
		  , @UnitIDTemp =AT1302.UnitID
		  , @IsToHRM = Isnull(AT1302.IsToHRM,0)
		  , @UnitPrice = (CASE  WHEN  ISNUMERIC(ISNULL(AT1015.Notes,' 0'))=1 THEN  CONVERT(DECIMAL(28,8),REPLACE(ISNULL(AT1015.Notes,' 0'),',','')) ELSE 0 END)
	From AT1302 left join AT1015 on AT1302.I05ID = AT1015.AnaID and AT1015.AnaTypeID = 'I05'
	WHERE AT1302.DivisionID IN (@DivisionID,'@@@') AND AT1302.InventoryID = @InventoryID
	

	IF (SELECT TOP 1 CustomerName FROM CustomerIndex) = 43 ---- nếu là Secoin
	BEGIN
		IF @IsToHRM = 1
		BEGIN
						IF EXISTS (SELECT TOP 1 1 FROM HT1015 WHERE DivisionID = @DivisionID AND ProductID = @InventoryID)
							UPDATE HT1015 SET ProductName = @InventoryNameTemp, Disabled = @DisabledTemp
												, LastModifyUserID = @UserID, LastModifyDate = @LastModifyDateTemp
												, UnitID = @UnitIDTemp
												, Description = @Description, ProductTypeID = @InventoryTypeIDTemp
												, UnitPrice = @UnitPrice 
							WHERE DivisionID = @DivisionID AND ProductID = @InventoryID
						ELSE
						BEGIN
								INSERT INTO HT1015 (APK, DivisionID, ProductID, ProductName, Description
													, Disabled, MethodID, UnitPrice
													, ProductTypeID, Orders
													, CreateDate, LastModifyDate, CreateUserID, LastModifyUserID, UnitID)
								SELECT NEWID(), DivisionID, InventoryID, InventoryName, Notes01
												, Disabled, 2 as MethodID, @UnitPrice as UnitPrice
												, InventoryTypeID, (Select Max(Orders)+1 From HT1015) as Orders
												, CreateDate, LastModifyDate, CreateUserID, LastModifyUserID, UnitID
								from AT1302
								Where DivisionID IN (@DivisionID, '@@@') AND InventoryID = @InventoryID
						END
		END

	END
END


