IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP0041]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[CP0041]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- CP0041
-- <Summary>
---- Stored danh mục phụ lục hợp đồng (TDCLA)
---- Created on 31/07/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- EXEC CP0041 @DivisionID = 'HHP', @UserID = 'ASOFTADMIN', @InheritContractID = 'CT20170000000001'

CREATE PROCEDURE [dbo].[CP0041]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),			
	@InheritContractID AS NVARCHAR(50)
AS

DECLARE @sSQL AS NVARCHAR(MAX) = ''

SET @sSQL = '
SELECT A20.ContractID, A20.DivisionID, A20.ContractNo, A20.SignDate, A20.ContractName, A20.Description, 
	PaymentStatus = MAX(PaymentStatus), A20.ObjectID, A02.ObjectName, A20.BeginDate,
	A20.EndDate, A20.ExchangeRate, A20.ConvertedAmount, A20.Amount, A20.CurrencyID, A04.ExchangeRateDecimal,
	A20.ConRef01, A20.ConRef02, A20.ConRef03, A20.ConRef04, A20.ConRef05,
	A20.ConRef06, A20.ConRef07, A20.ConRef08, A20.ConRef09, A20.ConRef10
FROM AT1020 A20
LEFT JOIN AT1004 A04 ON A04.CurrencyID = A20.CurrencyID
LEFT JOIN AT1202 A02 ON A20.ObjectID = A02.ObjectID
LEFT JOIN AT1021 ON AT1021.ContractID = A20.ContractID AND AT1021.DivisionID = A20.DivisionID
WHERE A20.DivisionID = ''' + @DivisionID + '''
AND A20.InheritContractID = ''' + @InheritContractID + '''
AND A20.IsAppendixContract = 1
GROUP BY A20.ContractID, A20.DivisionID, A20.ContractNo, A20.SignDate, A20.ContractName, A20.Description, A20.ObjectID, A02.ObjectName,
A20.BeginDate, A20.EndDate, A20.ExchangeRate, A20.ConvertedAmount, A20.Amount, A20.CurrencyID, A04.ExchangeRateDecimal,
A20.ConRef01, A20.ConRef02, A20.ConRef03, A20.ConRef04, A20.ConRef05, A20.ConRef06, A20.ConRef07, A20.ConRef08, A20.ConRef09, A20.ConRef10'

PRINT @sSQL
EXEC (@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

