IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP4010]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[CP4010]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--------Date: 2/11/2006
--------Cearter:Nguyen Thi Thuy Tuyen
--------Lay du lieu phieu ban hang tra ra man hinh lap ho so bao hanh bao tri
---- Modified by Bảo Thy on 30/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Bảo Thy on 22/05/2017: Sửa danh mục dùng chung
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
/********************************************
'* Edited by: [GS] [Tố Oanh] [29/07/2010]
'********************************************/

CREATE PROCEDURE  [dbo].[CP4010]
			@DivisionID nvarchar (50),
			@VoucherID nvarchar (50)


as
 Declare @sSQL nvarchar (4000)
Set @sSQL = '
Select   
	AT2007.DivisionID,
	AT2007.TransactionID,
	AT2006.VoucherNo,
	VoucherDate,
	AT2007.VoucherID,
	null as InvoiceNo,
	null as InvoiceDate,
	AT2007.UnitID,
	AT2007.InventoryID,
	AT1302.InventoryName,
	AT2007.ActualQuantity as Quantity,
	AT2006.ObjectID,
	AT1202.ObjectName,
	 null as TransactionTypeID,
	AT2007.Notes as TDescription,
	AT2006.Description as contractNo
From AT2007	 WITH (NOLOCK)
	 Inner Join AT2006 WITH (NOLOCK) on AT2006.VoucherID = AT2007.VoucherID and AT2006.DivisionID = AT2007.DivisionID
	 Left Join AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (''@@@'', AT2007.DivisionID) AND AT1302.InventoryID = AT2007.InventoryID
	 Left Join AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT2006.ObjectID
Where
AT2006.DivisionID = ''' +@DivisionID+''' and
 AT2006.VoucherID ='''+@VoucherID+''' 

'

---Print @sSQL
If not Exists (Select 1 From SysObjects WITH (NOLOCK) Where Xtype ='V' and Name = 'CV4010')
	Exec('Create View CV4010 ---tao boi CP4010
		 as '+@sSQL)
Else
	Exec('Alter View CV4010 ---tao boi CP4010
		 as '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO