IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP4002]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[CP4002]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO





---------Date: 7/11/2006
--------Nguyen Thi Thuy Tuyen
--------Lay du lieu in bao cao nhat ky dich vu
------Last  Edit 12-03-2006 Lay truong VoucherTypeID
---- Modified by Bảo Thy on 22/05/2017: Sửa danh mục dùng chung
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.


----<Example> EXEC CP4002 'AAAAAAA'
/********************************************
'* Edited by: [GS] [Tố Oanh] [29/07/2010]
'********************************************/

CREATE PROCEDURE  [dbo].[CP4002]
			@TransactionID nVarchar (50)

as
 Declare @sSQL  nVarchar (4000)
	
Set @sSQL = '
Select 
	CT4002.TranMonth, 
	CT4002.TranYear, 
	CT4002.DivisionID, 
	CT4002.WMFileID, 
	CT4000.WMFileName, 
	CT4000.ObjectID,
	AT1202.ObjectName,
	AT1202.Address,
	AT1202.Fax,
	AT1202.Email,
	AT1202.Tel, 
	CT4000.Contact ,
	CT4000.ContractNo,
	CT4002.TransactionID, 
	CT4002.CaseID, 
	CT4002.TaskID, 
	CT4002.InventoryID, 
	AT1302.InventoryName,
	CT4002.Serial,
	CT4002.UnitID, 
	CT5000.HostID, 
	CT5000.Hostname, 
	CT5000.Version, 
	CT5000.Patch,
	CT4002.EmployeeID, 
	AT1103.FullName as EmployeeName,
	CT4000. ServiceTypeID,
	CT1001. ServiceTypeName,
	CT4002.ErrorStatusID, 
	CT2001.ErrorStatusName,
	CT4002.ErrorLevelID, 
	CT2002.ErrorLevelName,
	CT4002.ErrorTypeID, 
	CT2003.ErrorTypeName,
	CT4002.FileLog, 
	CT4002.ErrorIssueID,
	CT2004.ErrorIssueName, 
	CT4002.Repair, 
	CT4002.Signature01, 
	CT4002.IsTest, 
	CT4002.FixDate, 
	CT4002.StartTime, 
	CT4002.EndTime, 
	CT4002.MonitorTime, 
	CT4002.FixNextDate, 
	CT4002.Signature02, 
	CT4002.Notes01, 
	CT4002.Notes02, 
	CT4002.Notes03, 
	CT4002.Notes04, 
	CT4002.Notes05,
	CT4000.Site,
	CT4002.RequestNo, 
	CT4002.ReVoucherID, 
	CT4002.Finish, 
	-----CT2008.StatusName,
	CT4002.TimelinessID, 
	CT2005.TimelinessName,
	CT4002.MannerID, 
	CT2006.MannerName,
	CT4002.QualityID,
	CT2007.QualityName,
	CT4002.VoucherTypeID,
	CT4002.IsReplace
From CT4002 WITH (NOLOCK)
	Left Join CT4000  WITH (NOLOCK) on CT4000.WMFileID = CT4002.WMFileID and CT4000.DivisionID = CT4002.DivisionID
	Left Join AT1302  WITH (NOLOCK) on AT1302.DivisionID IN (''@@@'', CT4002.DivisionID) AND AT1302.InventoryID = CT4002.InventoryID
	Left Join CT5000  WITH (NOLOCK) on CT5000.InventoryID = CT4002.InventoryID and CT5000.DivisionID = CT4002.DivisionID And CT5000.Serial = CT4002.Serial 
	Left Join AT1103  WITH (NOLOCK) on AT1103.EmployeeID = CT4002.EmployeeID
	Left Join AT1202  WITH (NOLOCK) on AT1202.DivisionID IN (CT4002.DivisionID, ''@@@'') AND AT1202.ObjectID = CT4000.ObjectID
	Left Join CT1001  WITH (NOLOCK) on CT1001.ServiceTypeID = CT4000.ServiceTypeID and CT1001.DivisionID = CT4000.DivisionID
	Left Join CT2001  WITH (NOLOCK) on CT2001.ErrorStatusID = CT4002.ErrorStatusID and CT2001.DivisionID = CT4002.DivisionID
	Left Join CT2002  WITH (NOLOCK) on CT2002.ErrorLevelID = CT4002.ErrorLevelID and CT2002.DivisionID = CT4002.DivisionID
	Left Join CT2004  WITH (NOLOCK) on CT2004.ErrorIssueID = CT4002.ErrorIssueID and CT2004.DivisionID = CT4002.DivisionID 
	Left Join CT2003  WITH (NOLOCK) on CT2003.ErrorTypeID = CT4002.ErrorTypeID and CT2003.DivisionID = CT4002.DivisionID 
	left Join CT2005  WITH (NOLOCK) on CT2005.TimelinessID = CT4002.TimelinessID and CT2005.DivisionID = CT4002.DivisionID
	left Join CT2006  WITH (NOLOCK) on CT2006.MannerID = CT4002.MannerID and CT2006.DivisionID = CT4002.DivisionID
	left Join CT2007  WITH (NOLOCK) on CT2007.QualityID = CT4002.QualityID and CT2007.DivisionID = CT4002.DivisionID
	
Where  CT4002.TransactionID = ''' +@TransactionID+ '''

'
--Print @sSQL
If not Exists (Select 1 From SysObjects Where Xtype ='V' and Name = 'CV4002')
	Exec('Create View CV4002 ---tao boiCP4002
		 as '+@sSQL)
Else
	Exec('Alter View CV4002 ---tao boi  CP4002
		 as '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO