IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CP4022]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[CP4022]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
---------Date: 21/12/2006
--------Nguyen Thi Thuy Tuyen
--------In Thay the thiet bi
---- Modified by Bảo Thy on 22/05/2017: Sửa danh mục dùng chung
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung
/********************************************
'* Edited by: [GS] [Tố Oanh] [29/07/2010]
'********************************************/

CREATE PROCEDURE  [dbo].[CP4022]
			@DivisionID nVarchar (50),
			@VoucherNo nVarchar(50)

as
 Declare @sSQL  nVarchar (4000)
	
Set @sSQL = '
Select 
	CT5002.DivisionID,
	CT5002.Orders, 
	CT5002.TransactionID, 
	CT5002.VoucherNo, 
	CT4002.FixDate,
	CT5002.VoucherID, 
	CT5002.RevokeInventoryID, 
	A.InventoryName as  RevokeInventoryName,
	CT5002.RevokeQuantity, 
	CT5002.RevokeSerial, 
	CT5002.ReplaceInventoryID,
	B.InventoryName as  ReplaceInventoryName, 
	CT5002.ReplaceQuantity, 
	CT5002.ReplaceSerial, 
	CT5002.Notes
	
From CT5002 WITH (NOLOCK)
	left Join CT4002 on CT4002.VoucherNo = CT5002.VoucherNo and CT4002.DivisionID = CT5002.DivisionID
	left Join AT1302  A WITH (NOLOCK) on A.DivisionID IN (''@@@'', CT5002.DivisionID) AND A.InventoryID = CT5002.RevokeInventoryID
	left Join AT1302  B WITH (NOLOCK) on B.DivisionID IN (''@@@'', CT5002.DivisionID) AND B.InventoryID = CT5002.ReplaceInventoryID
	
Where CT5002.VoucherNo ='''+ @VoucherNo +'''
        and CT4002.DivisionID ='''+ @DivisionID +'''
	

'
---Print @sSQL
If not Exists (Select 1 From SysObjects Where Xtype ='V' and Name = 'CV4022')
	Exec('Create View CV4022 ---tao boiCP4022
		 as '+@sSQL)
Else
	Exec('Alter View CV4022 ---tao boi  CP4022
		 as '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
