---- Create by Phan thanh hoàng vũ on 10/6/2017 8:52:44 AM
---- Danh muc năng lực (Detail)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[PAT10103]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[PAT10103]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [APKMaster] UNIQUEIDENTIFIER NOT NULL,
  [DivisionID] VARCHAR(50) NULL,
  [DepartmentID] VARCHAR(50) NULL,
  [EvaluationPhaseID] VARCHAR(50) NULL,
  [AppraisalGroupID] VARCHAR(50) NULL,
  [LevelCritical] INT NULL,
  [LevelStandardID] INT NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyUserID] VARCHAR(50) NULL,
  [LastModifyDate] DATETIME NULL
CONSTRAINT [PK_PAT10103] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END