---- Create by Phan thanh hoàng vũ on 7/26/2017 3:47:16 PM
---- Danh mục bảng giá bán OUT (Minhsang)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[OT1301_MS]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[OT1301_MS]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [DivisionID] VARCHAR(50) NOT NULL,
  [ID] VARCHAR(50) NOT NULL,
  [Description] NVARCHAR(250) NULL,
  [FromDate] DATETIME NULL,
  [ToDate] DATETIME NULL,
  [InventoryTypeID] VARCHAR(50) NULL,
  [CurrencyID] VARCHAR(50) NULL,
  [Disabled] TINYINT DEFAULT (0) NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyUserID] VARCHAR(50) NULL,
  [LastModifyDate] DATETIME NULL
CONSTRAINT [PK_OT1301_MS] PRIMARY KEY CLUSTERED
(
  [ID]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END 