IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[ERP9ADDMESSAGE]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[ERP9ADDMESSAGE]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


CREATE PROCEDURE ERP9AddMessage
(
    @ModuleID VARCHAR(10),
	@KeyID VARCHAR(100),
    @Text NVARCHAR(4000),
    @Language VARCHAR(10)
)
AS
	SET @KeyID = LTRIM(RTRIM(@KeyID))
	IF NOT EXISTS (SELECT 1 FROM [A00002] WHERE [ID] = @KeyID AND LanguageID = @Language)
		BEGIN
		  INSERT INTO [A00002]([ID],[LanguageID],[Name],[Module], [InsertDate], FormID, [Platform])
		  VALUES (RTRIM(LTRIM(@KeyID)), RTRIM(LTRIM(@Language)), @Text, RTRIM(LTRIM(@ModuleID)), GetDate(), RTRIM(LTRIM(@KeyID)),1)
		END
	ELSE
		BEGIN
		  UPDATE [A00002]
		  SET [Name]=@Text, FormID=RTRIM(LTRIM(@KeyID))
		  WHERE [ID]=RTRIM(LTRIM(@KeyID)) AND [LanguageID]=RTRIM(LTRIM(@Language))
		END


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
