IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0004]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0004]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Kiểm tra trùng số seri số hóa đơn
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 04/07/2012 by Lê Thị Thu Hiền
---- 
---- Modified on 26/02/2013 by Lê Thị Thu Hiền : Bổ sung Màn hình bán hàng
---- Modified by Bảo Thy on 25/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Huỳnh Thử on 13/04/2020: Khi check trùng số seri và số HD thì check thêm xem có trùng mã đối tượng không
---- Modified by Huỳnh Thử on 13/07/2020: Bổ sung màn hình -- Chi tiền mặt. AF0062
														   -- Chi ngân hàng.  AF0103
														   -- Phiếu tổng hợp. AF0067
---- Modified by Huỳnh Thử on 21/10/2020: Tách store KoYo
---- Modified by Huỳnh Thử on 25/08/2020: check thêm trường VATNO 
---- Modified by Nhựt Trường on 30/12/2021: check thêm trường InvoiceSign 
---- Modified by Kiều Nga  on 23/02/2022: Bổ sung kiểm tra trùng số hóa đơn cho JinYang.
---- Modified by Nhật Thanh  on 16/06/2022: Bổ sung kiểm tra đối tượng
---- Modified by Thanh Lượng  on 23/08/2023: Bổ sung màn hình -- phiếu thu qua ngân hàng -AF0102
---- Modified by Nhựt Trường on 30/10/2023: [2023/10/IS/0238] - Bổ sung check thêm trường loại hóa đơn (VATTypeID).
-- <Example>
---- EXEC AP0004 'MK', 'ASOFT-T', 'AF0063' , '2','11111', 'EDIT', 'wewewewew'

CREATE PROCEDURE AP0004
( 
	@DivisionID AS NVARCHAR(50),
	@ModuleID AS NVARCHAR(50),
	@FormID AS NVARCHAR(50),
	@Serial AS NVARCHAR(50),
	@InvoiceNo AS NVARCHAR(50),
	@Mode AS NVARCHAR(50) = 'NEW',	--- 'EDIT' : Sửa
							--- 'NEW' : Thêm mới
	@VoucherID AS NVARCHAR(50) = '',
	@ObjectID AS NVARCHAR(50),
	@VATNO AS NVARCHAR(50),
	@InvoiceSign AS NVARCHAR(50)='',
	@VATObjectID AS NVARCHAR(50)='',
	@VATTypeID AS NVARCHAR(50)=''
	
) 
AS 
DECLARE @Sql NVARCHAR(MAX),
		@Table NVARCHAR(50),
		@WHERE NVARCHAR(4000)='',
		@StatusSql TINYINT,
		@Status TINYINT = 0,
		@CustomerName INT 

SELECT @CustomerName = CustomerName FROM dbo.CustomerIndex
IF @CustomerName = 52 -- KoYo
BEGIN
	EXEC AP0004_KOYO @DivisionID , -- nvarchar(50)
	                @ModuleID ,   -- nvarchar(50)
	                @FormID ,     -- nvarchar(50)
	                @Serial ,     -- nvarchar(50)
	                @InvoiceNo ,  -- nvarchar(50)
	                @Mode ,       -- nvarchar(50)
	                @VoucherID,  -- nvarchar(50)
	                @ObjectID ,   -- nvarchar(50)
	                @VATNO       -- nvarchar(50)
	
END
ELSE
IF @CustomerName = 149 -- JINYANG
BEGIN
	EXEC AP0004_JINYANG @DivisionID , -- nvarchar(50)
	                @ModuleID ,   -- nvarchar(50)
	                @FormID ,     -- nvarchar(50)
	                @Serial ,     -- nvarchar(50)
	                @InvoiceNo ,  -- nvarchar(50)
	                @Mode ,       -- nvarchar(50)
	                @VoucherID,  -- nvarchar(50)
	                @ObjectID ,   -- nvarchar(50)
	                @VATNO,       -- nvarchar(50)
		            @InvoiceSign,      -- nvarchar(50)
					@VATObjectID      -- nvarchar(50)
END
ELSE
BEGIN
	IF @FormID = 'AF0063' OR @FormID = 'AF0066' OR @FormID = 'AF0062' OR @FormID = 'AF0067' OR @FormID = 'AF0103'OR @FormID = 'AF0102'
	BEGIN
		SET @Table = 'AT9000'
		IF @FormID = 'AF0063' SET @WHERE = 'AND TransactionTypeID = ''T03'' AND ISNULL(VATNO,'''') = '''+ISNULL(@VATNO,'')+''' '
		IF @FormID = 'AF0066' SET @WHERE = 'AND TransactionTypeID = ''T04'' AND ISNULL(InvoiceSign,'''') = '''+ISNULL(@InvoiceSign,'')+''' '
		SET @WHERE = @WHERE + ' AND ObjectID = '''+@ObjectID+''''
		IF @Mode = 'EDIT' SET @WHERE = @WHERE + 'AND VoucherID NOT IN  ('''+@VoucherID+''')'
	END

	SET @Sql = N'
		SELECT @StatusSql = 1 FROM	'+@Table+'  WITH (NOLOCK)
		WHERE DivisionID = '''+@DivisionID+'''
			AND ISNULL(Serial,'''') = '''+@Serial+''' 
			AND ISNULL(InvoiceNo,'''') = '''+@InvoiceNo+'''
			AND ISNULL(VATTypeID,'''') = '''+@VATTypeID+''''
	SET @Sql = @Sql+@WHERE
	PRINT @Sql
	EXEC sp_executesql @Sql, N'@StatusSql int output', @Status OUTPUT;
	--PRINT @Sql

	SELECT @Status AS Status
END 


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

