IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AX01070]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AX01070]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Dùng để Xóa phân quyền dữ liệu cho báo cáo đặc thù
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 27/03/2012 by Nguyễn Bình Minh
---- 
---- Modified on 27/03/2012 by Nguyễn Bình Minh
-- <Example>
---- 
CREATE TRIGGER AX01070 ON dbo.A01070
FOR DELETE 
AS 

-- Phân quyền dữ liệu
DELETE	PER 
FROM	AT1407 PER
WHERE	EXISTS(SELECT TOP 1 1 FROM DELETED DEL WHERE DEL.ReportID = PER.DataID AND DEL.ModuleID = DEL.ModuleID)
		AND PER.DataType = 'CR'

-- Phân quyền dữ liệu
DELETE	PER 
FROM	AT1406 PER
WHERE	EXISTS(SELECT TOP 1 1 FROM DELETED DEL WHERE DEL.ReportID = PER.DataID AND DEL.ModuleID = DEL.ModuleID)
		AND PER.DataType = 'CR'		
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
