IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[AX1021]'))
DROP TRIGGER [dbo].[AX1021]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- <Summary>
---- Cập nhật các thông tin mã phân tích tương ứng với hợp đồng
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on
---- 
---- Modified on 15/02/2012 by Nguyễn Bình Minh: Mã phân tích hợp đồng lấy động
---- Modified on 12/03/2012 by Nguyễn Bình Minh (TT2125): 
----    Sửa tương ứng với thiết lập cập nhật hợp đồng mua tương ứng với thiết lập mã phân tích mua, hợp đồng bán tương ứng với thiết lập mã phân tích bán
---- Modified by Tiểu Mai on 18/05/2017: Bổ sung chỉnh sửa danh mục dùng chung
-- <Example>
---- 
CREATE TRIGGER [dbo].[AX1021] ON [dbo].[AT1021] 
FOR DELETE
AS

UPDATE		AT1011
SET			Amount01 = CASE WHEN DEL.StepID = 1 THEN DEL.PaymentAmount ELSE AT1011.Amount01 END,
			Amount02 = CASE WHEN DEL.StepID = 2 THEN DEL.PaymentAmount ELSE AT1011.Amount02 END,
			Amount03 = CASE WHEN DEL.StepID = 3 THEN DEL.PaymentAmount ELSE AT1011.Amount03 END,
			Amount04 = CASE WHEN DEL.StepID = 4 THEN DEL.PaymentAmount ELSE AT1011.Amount04 END,
			Amount05 = CASE WHEN DEL.StepID = 5 THEN DEL.PaymentAmount ELSE AT1011.Amount05 END,
			Amount06 = CASE WHEN DEL.StepID = 6 THEN DEL.PaymentAmount ELSE AT1011.Amount06 END,
			Amount07 = CASE WHEN DEL.StepID = 7 THEN DEL.PaymentAmount ELSE AT1011.Amount07 END,
			Amount08 = CASE WHEN DEL.StepID = 8 THEN DEL.PaymentAmount ELSE AT1011.Amount08 END,
			Amount09 = CASE WHEN DEL.StepID = 9 THEN DEL.PaymentAmount ELSE AT1011.Amount09 END,
			Amount10 = CASE WHEN DEL.StepID = 10 THEN DEL.PaymentAmount ELSE AT1011.Amount10 END,																					
			Note01 = CASE WHEN DEL.StepID = 1 THEN DEL.Notes ELSE AT1011.Notes END,
			Note02 = CASE WHEN DEL.StepID = 2 THEN DEL.Notes ELSE AT1011.Notes END,
			Note03 = CASE WHEN DEL.StepID = 3 THEN DEL.Notes ELSE AT1011.Notes END,
			Note04 = CASE WHEN DEL.StepID = 4 THEN DEL.Notes ELSE AT1011.Notes END,
			Note05 = CASE WHEN DEL.StepID = 5 THEN DEL.Notes ELSE AT1011.Notes END,
			Note06 = CASE WHEN DEL.StepID = 6 THEN DEL.Notes ELSE AT1011.Notes END,
			Note07 = CASE WHEN DEL.StepID = 7 THEN DEL.Notes ELSE AT1011.Notes END,
			Note08 = CASE WHEN DEL.StepID = 8 THEN DEL.Notes ELSE AT1011.Notes END,
			Note09 = CASE WHEN DEL.StepID = 9 THEN DEL.Notes ELSE AT1011.Notes END,
			Note10 = CASE WHEN DEL.StepID = 10 THEN DEL.Notes ELSE AT1011.Notes END																								
FROM		AT1011 AT1011
INNER JOIN	AT1020 ON AT1011.AnaID = AT1020.ContractNo
INNER JOIN	DELETED DEL ON DEL.ContractID = AT1020.ContractID
INNER JOIN	AT0000 ON AT0000.DefDivisionID = AT1011.DivisionID
WHERE AT1011.AnaTypeID = CASE WHEN AT1020.ContractType = 0 THEN AT0000.ContractAnaTypeID ELSE AT0000.SalesContractAnaTypeID END