IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[AX1020]'))
DROP TRIGGER [dbo].[AX1020]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- <Summary>
---- Cập nhật dữ liệu bảng AT1011 khi Cập nhật thông tin hợp đồng
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 15/02/2012 by Nguyễn Bình Minh: Mã hợp đồng lấy động
---- Modified on 12/03/2012 by Nguyễn Bình Minh (TT2125): 
----    Sửa tương ứng với thiết lập cập nhật hợp đồng mua tương ứng với thiết lập mã phân tích mua, hợp đồng bán tương ứng với thiết lập mã phân tích bán
---- Modified by Tiểu Mai on 18/05/2017: Bổ sung chỉnh sửa danh mục dùng chung
-- <Example>
---- 
CREATE TRIGGER [dbo].[AX1020] ON [dbo].[AT1020] 
FOR DELETE
AS

DELETE		AT1011
FROM		AT1011
INNER JOIN	AT0000 ON AT0000.DefDivisionID = AT1011.DivisionID
INNER JOIN  DELETED DEL ON DEL.ContractNo = AT1011.AnaID
WHERE		AT1011.AnaTypeID = CASE WHEN DEL.ContractType = 0 THEN AT0000.ContractAnaTypeID ELSE AT0000.SalesContractAnaTypeID END