IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AX1103]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AX1103]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


----- Modified by Phương Thảo ON 19/06/2016: Sửa danh mục dùng chung
----- Modified by Nhựt Trường ON 08/01/2021: Bổ sung thêm điều kiện DivisionID.

CREATE TRIGGER [dbo].[AX1103]  ON [dbo].[AT1103] 
FOR  DELETE
AS

If Exists (Select 1 From Deleted Where IsUserID<>0)
	If Exists (Select 1  From AT1405 inner join Deleted Del on AT1405.DivisionID IN (Del.DivisionID,'@@@') AND Del.EmployeeID = AT1405.UserID)
		Delete  AT1405
		From AT1405 inner join Deleted Del on AT1405.DivisionID IN (Del.DivisionID,'@@@') AND Del.EmployeeID = AT1405.UserID

