/****** Object:  Trigger [dbo].[AX1603]    Script Date: 07/30/2010 11:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------Created by Nguyen Van Nhan, Date 23/12/2004
---- Purpose:  Cap nhat trang thai cua phieu

/********************************************
'* Edited by: [GS] [Hoàng Phước] [30/07/2010]
'********************************************/

ALTER TRIGGER [dbo].[AX1603] ON [dbo].[AT1603] 
FOR DELETE 

AS

Update AT9000 set Status =0
From AT9000 	inner join Deleted  Del 	on 	AT9000.TransactionID = Del.RetransactionID and
						AT9000.VoucherID = Del.ReVoucherID and AT9000.DivisionID = Del.DivisionID

