IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AX2017]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AX2017]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
/********************************************
'* Edited by: [GS] [Hoàng Phước] [30/07/2010]
'********************************************/
--- Edited by Bao Anh	Date: 05/08/2012
--- Purpose: Cap nhat du lieu cho AT2888 (so du ton kho co quy cach va so luong mark - yeu cau 2T)
--- Edited by Bao Anh	Date: 20/11/2012	
--- Purpose:	1. Lay dung gia tri cho @ConvertedQuantity = ConvertedQuantity
---				2. Dung @ActualQuantity cap nhat vao AT2008 va AT0114 (truoc day dung @ConvertedQuantity)
--- Modified on 02/11/2015 by Tiểu Mai: Bổ sung trường hợp Quản lý mặt hàng theo quy cách.
--- Modified by Tiểu Mai on 12/08/2016: Bỏ đoạn quy cách, đưa về trigger WX8899
--- Modified by Tiểu Mai on 06/10/2016: Fix bug tồn kho chưa đúng
--- Modified by Bảo Thy on 20/04/2017: Nếu không theo quy cách thì delete AT0114 tại đây, ngược lại thì delete tại WX8899 (TUNGTEX)
--- Modified by Bảo Thy on 10/05/2017: Sửa danh mục dùng chung
--- Modified by Bảo Thy on 14/06/2017: Fix lỗi cập nhật số dư nhiều lần
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung

CREATE TRIGGER [dbo].[AX2017] ON [dbo].[AT2017] 
FOR DELETE 
AS

Declare		@D07_Cursor		Cursor
Declare  	
	@KindVoucherID  	TinyInt ,
	@TransactionID		nvarchar(50),
	@DivisionID		nvarchar(50),		
	@RDVoucherID		nvarchar(50), 	
	@InventoryID		nvarchar(50), 	
	@MethodID		tinyint,
	@TranYear		Int,		
	@TranMonth		int,
	@ActualQuantity	Decimal(28,8),	
	@ConvertedQuantity	Decimal(28,8),	
	@ConvertedUnitPrice	Decimal(28,8),	
	@ConvertedAmount	Decimal(28,8),		
	@OriginalAmount	Decimal(28,8),
	@DebitAccountID	nvarchar(50), 	
	@CreditAccountID	nvarchar(50),
	@WareHouseID		nvarchar(50),	
	@WareHouseID2	nvarchar(50),
	@IsLimitDate 		tinyint,
	@IsSource		TINYINT,
	@Parameter01 AS DECIMAL(28,8),
	@Parameter02 AS DECIMAL(28,8),
	@Parameter03 AS DECIMAL(28,8),
	@Parameter04 AS DECIMAL(28,8),
	@Parameter05 AS DECIMAL(28,8),
	@S01ID VARCHAR(50),
	@S02ID VARCHAR(50),
	@S03ID VARCHAR(50),
	@S04ID VARCHAR(50),
	@S05ID VARCHAR(50),
	@S06ID VARCHAR(50),
	@S07ID VARCHAR(50),
	@S08ID VARCHAR(50),
	@S09ID VARCHAR(50),
	@S10ID VARCHAR(50),
	@S11ID VARCHAR(50),
	@S12ID VARCHAR(50),
	@S13ID VARCHAR(50),
	@S14ID VARCHAR(50),
	@S15ID VARCHAR(50),
	@S16ID VARCHAR(50),
	@S17ID VARCHAR(50),
	@S18ID VARCHAR(50),
	@S19ID VARCHAR(50),
	@S20ID VARCHAR(50)
	
Set @D07_Cursor = Cursor Scroll KeySet For
Select 		Del.TransactionID, Del.DivisionID, Del.VoucherID, Del.TranYear, Del.TranMonth,   ---- Thong tin chung				
		T09.WareHouseID, T09.WareHouseID2,    KindVoucherID,	
		Del.InventoryID, T02.MethodID as  MethodID,
		ActualQuantity, 
		Isnull(ConvertedQuantity,0),---ActualQuantity*isnull(T04.ConversionFactor,1),				
		OriginalAmount, ConvertedAmount,
		DebitAccountID,CreditAccountID,
		T02.IsLimitDate,
		T02.IsSource,
		Isnull(Del.Parameter01,0), Isnull(Del.Parameter02,0), Isnull(Del.Parameter03,0), Isnull(Del.Parameter04,0), Isnull(Del.Parameter05,0),
		O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
		O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID
		
From 	Deleted Del 	Inner Join AT2016 T09 WITH (NOLOCK)	On 	Del.VoucherID = T09.VoucherID And 
							Del.DivisionID = T09.DivisionID And
							Del.TranMonth = T09.TranMonth And 
							Del.TranYear = T09.TranYear
			inner join AT1302 T02 WITH (NOLOCK)	on T02.DivisionID IN ('@@@', Del.DivisionID) AND Del.InventoryID = T02.InventoryID
			Left  join AT1309 T04 WITH (NOLOCK)	On	Del.UnitID 	= T04.UnitID and Del.InventoryID 	= T04.InventoryID
			LEFT JOIN WT8899 O99 WITH (NOLOCK) ON O99.DivisionID = Del.DivisionID AND  O99.VoucherID = Del.VoucherID	AND O99.TransactionID = Del.TransactionID		

Open @D07_Cursor
Fetch Next From @D07_Cursor Into @TransactionID, @DivisionID, @RDVoucherID, @TranYear, @TranMonth,   ---- Thong tin chung		
		@WareHouseID, @WareHouseID2,   @KindVoucherID,		 	
		@InventoryID,   @MethodID, 	@ActualQuantity, 
		@ConvertedQuantity, @OriginalAmount, @ConvertedAmount,
		@DebitAccountID,@CreditAccountID,
		@IsLimitDate, @IsSource,
		@Parameter01, @Parameter02, @Parameter03, @Parameter04, @Parameter05,
		@S01ID, @S02ID, @S03ID, @S04ID, @S05ID, @S06ID, @S07ID, @S08ID, @S09ID, @S10ID,
		@S11ID, @S12ID, @S13ID, @S14ID, @S15ID, @S16ID, @S17ID, @S18ID, @S19ID, @S20ID                                    

While @@FETCH_STATUS = 0
Begin	
		----- Xoa bang tinh gia	
		IF (@IsSource =1 Or @IsLimitDate =1 or @MethodID in (1,2,3))
		AND (SELECT ISNULL(IsSpecificate,0) FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID) = 0
				Delete AT0114 Where 	DivisionID =@DivisionID and
							WareHouseID =@WareHouseID and
							ReVoucherID =@RDVoucherID and
							ReTransactionID = @TransactionID
	
	Delete AT9000  Where TransactionID =@TransactionID and TableID ='AT2017'  and TransactionTypeID='T00' and DivisionID =@DivisionID	
	
	IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 0) ---- Thiết lập quy cách
		Exec AP0612 @DivisionID, @WareHouseID, @TranMonth, @TranYear, @InventoryID, @ConvertedAmount, @ActualQuantity, @DebitAccountID, @CreditAccountID, 0, @Parameter01, @Parameter02, @Parameter03, @Parameter04, @Parameter05, @ActualQuantity -- (1) la cap nhat tang,(0 ) la cap nhat giam

	Fetch Next From @D07_Cursor Into @TransactionID, @DivisionID, @RDVoucherID, @TranYear, @TranMonth,   ---- Thong tin chung		
			@WareHouseID, @WareHouseID2,   @KindVoucherID,		 	
			@InventoryID,   @MethodID, 	@ActualQuantity, 
			@ConvertedQuantity, @OriginalAmount, @ConvertedAmount,
			@DebitAccountID,@CreditAccountID,
			@IsLimitDate, @IsSource,
			@Parameter01, @Parameter02, @Parameter03, @Parameter04, @Parameter05,
			@S01ID, @S02ID, @S03ID, @S04ID, @S05ID, @S06ID, @S07ID, @S08ID, @S09ID, @S10ID,
			@S11ID, @S12ID, @S13ID, @S14ID, @S15ID, @S16ID, @S17ID, @S18ID, @S19ID, @S20ID
End
Close @D07_Cursor
DeAllocate @D07_Cursor

