IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AY0128]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AY0128]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Nếu là HYUNDAE thì khi tạo mới một quy cách thì mặc định sử dụng ở tất cả mặt hàng
---- Modified by Bảo Thy on 19/05/2017: Sửa danh mục dùng chung
---- Modified by Huỳnh Thử on 28/09/2020 : Bổ sung danh mục dùng chung

CREATE TRIGGER AY0128 ON AT0128 FOR INSERT
AS

IF (SELECT TOP 1 CustomerName FROM CustomerIndex) = 46
BEGIN
	DECLARE @Cur CURSOR, @DivisionID VARCHAR(50), @InventoryID VARCHAR(50)
	
	SET @Cur = CURSOR SCROLL KEYSET FOR
	SELECT DISTINCT CASE WHEN AT1302.DivisionID = '@@@' THEN AT1101.DivisionID ELSE AT1302.DivisionID END, AT1302.InventoryID 
	FROM AT1302
	LEFT JOIN AT1101 WITH (NOLOCK) ON 1=1 
	WHERE AT1302.DivisionID IN ('@@@',@DivisionID)
	OPEN @Cur
	FETCH NEXT FROM @Cur INTO @DivisionID, @InventoryID
	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO AT1323 (APK, DivisionID, InventoryID, StandardID, IsUsed, StandardTypeID)
		SELECT NEWID(), @DivisionID, @InventoryID, StandardID, 1, StandardTypeID
		FROM INSERTED
		FETCH NEXT FROM @Cur INTO @DivisionID, @InventoryID
	END	
END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
