IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[AY1020]'))
DROP TRIGGER [dbo].[AY1020]
GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- <Summary>
---- Cập nhật dữ liệu bảng AT1011 khi Cập nhật thông tin hợp đồng
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 15/02/2012 by Nguyễn Bình Minh: Mã phân tích hợp đồng lấy động
---- Modified on 12/03/2012 by Nguyễn Bình Minh (TT2125): 
----    Sửa tương ứng với thiết lập cập nhật hợp đồng mua tương ứng với thiết lập mã phân tích mua, hợp đồng bán tương ứng với thiết lập mã phân tích bán
---- Modified by Tiểu Mai on 18/05/2017: Bổ sung chỉnh sửa danh mục dùng chung
---- Modified by Xuân Nguyên on 30/07/2021: Customize Phúc Long - không cho insert/UPDATE vào AT1011 khi tạo hợp đồng
---- Modified by Hoài Bảo on 31/10/2022: Cập nhật insert mã phân tích mặc định khi chưa có thiết lập.
-- <Example>
---- 
CREATE TRIGGER [dbo].[AY1020] ON [dbo].[AT1020] 
FOR INSERT, UPDATE
AS
DECLARE 	
	@CustomerName INT
--Tao bang tam de kiem tra day co phai la khach hang Phuc Long khong (CustomerName = 32)
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)
IF @CustomerName not in (32)--- Customize Phúc Long
BEGIN
UPDATE		AT1011
SET			AnaName = INS.ContractName,
			Notes = INS.Description,
			LastModifyDate = GETDATE(),
			LastModifyUserID = INS.LastModifyUserID,
			RefDate = INS.SignDate
FROM		AT1011 AT1011
INNER JOIN	AT0000 AT0000 ON AT0000.DefDivisionID = AT1011.DivisionID
INNER JOIN	INSERTED INS ON INS.ContractNo = AT1011.AnaID
LEFT JOIN AT0005 AT051 WITH (NOLOCK) ON AT051.DefaultBusinessID = 'ContractAnaTypeID'
WHERE		AT1011.AnaTypeID = CASE WHEN INS.ContractType = 0 THEN ISNULL(AT0000.ContractAnaTypeID, AT051.TypeID) ELSE ISNULL(AT0000.SalesContractAnaTypeID, AT051.TypeID) END 


INSERT INTO AT1011 (APK, DivisionID, AnaID, AnaTypeID, AnaName, Notes, 
					CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, Disabled, RefDate, IsCommon)
	SELECT		NEWID(), INS.DivisionID, INS.ContractNo, CASE WHEN INS.ContractType = 0 THEN ISNULL(AT0000.ContractAnaTypeID, AT051.TypeID) ELSE ISNULL(AT0000.SalesContractAnaTypeID, AT051.TypeID) END, INS.ContractName, INS.Description, 
				GETDATE(), INS.CreateUserID, GETDATE(), INS.LastModifyUserID, 0, INS.SignDate, 0
	FROM		INSERTED INS
	INNER JOIN	AT0000 ON AT0000.DefDivisionID = INS.DivisionID
	LEFT JOIN AT0005 AT051 WITH (NOLOCK) ON AT051.DefaultBusinessID = 'ContractAnaTypeID'
	WHERE		NOT EXISTS(SELECT TOP 1 1 FROM AT1011 WITH (NOLOCK)
	     		           WHERE AT1011.AnaTypeID = CASE WHEN INS.ContractType = 0 THEN ISNULL(AT0000.ContractAnaTypeID, AT051.TypeID) ELSE ISNULL(AT0000.SalesContractAnaTypeID, AT051.TypeID) END
	     						AND AT1011.AnaID = INS.ContractNo)
END
