IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AY1103]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AY1103]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----- Created by Nguyen Van Nhan, Date 25/09/2003
----- Purpose: Insert
----- Modified by Thanh Sơn ON 26/12/2014: Chuyển cấu trúc store về dạng Drop -> Create
----- Modified by Phương Thảo ON 19/06/2016: Sửa danh mục dùng chung
----- Modified by Kim Thư on 10/07/2019: Sửa insert dữ liệu nhân viên dùng chung

CREATE TRIGGER [dbo].[AY1103] ON [dbo].[AT1103] 
FOR INSERT
AS


Declare	@DivisionID_Cursor as cursor,
		@DivisionID as nvarchar(50)


IF EXISTS (SELECT 1 FROM Inserted WHERE IsUserID <> 0)
BEGIN
	IF EXISTS (SELECT 1 FROM Inserted WHERE IsCommon <> 0)
	BEGIN
		If NOT EXISTS (SELECT TOP 1 1 From AT1405 INNER JOIN INSERTED Ins ON Ins.EmployeeID = AT1405.UserID)	
		BEGIN
			--Set @DivisionID_Cursor = CURSOR SCROLL KEYSET FOR
			--Select DivisionID
			--From AT1101
			--Open @DivisionID_Cursor
			--Fetch next from @DivisionID_Cursor into @DivisionID
			--While @@Fetch_Status = 0
			--Begin			
				INSERT INTO AT1405 (DivisionID, UserID, UserName, [Password], IsCommon)
				SELECT '@@@', EmployeeID, FullName, '', 1 FROM INSERTED	
			--Fetch next from @DivisionID_Cursor into @DivisionID
			--End
			--Close @DivisionID_Cursor
		END

	END
	ELSE
	BEGIN
		If NOT EXISTS (SELECT TOP 1 1 From AT1405 INNER JOIN INSERTED Ins ON Ins.EmployeeID = AT1405.UserID)			 
			INSERT INTO AT1405 (DivisionID, UserID, UserName, [Password])
			SELECT DivisionID, EmployeeID, FullName, '' FROM INSERTED		
	END
END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
