IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AY1202]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AY1202]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
--- 
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
---- Created by: Thanh Sơn on: 10/04/2015
---- Modify on 28/01/2016 by Bảo Anh: Chuyển trigger customize của ABA vào trigger chuẩn
-- <Example>
/*
	
*/
 
CREATE TRIGGER [dbo].[AY1202] ON [dbo].[AT1202]
FOR INSERT 
AS
	
DECLARE @ObjectID VARCHAR(50),		
		@AnaIDTypeID VARCHAR(50),
		@DivisionID VARCHAR(50),
		@O01ID VARCHAR(50),
		@AnaTypeID NVARCHAR(50),
		@ObjectName NVARCHAR(250),
		@CreateUserID NVARCHAR(50),
		@CreateDate DATETIME,
		@LastModifyUserID NVARCHAR(50),
		@LastModifyDate DATETIME
			
IF (SELECT TOP 1 CustomerName FROM CustomerIndex) = 46 ---- nếu là Huyndae
BEGIN
	SELECT @DivisionID = DivisionID, @ObjectID = ObjectID, @O01ID = O01ID FROM INSERTED
	
	IF @ObjectID LIKE 'KHK%'
	BEGIN
		UPDATE AT1202 SET O01ID = 'KHK' WHERE DivisionID = @DivisionID AND ObjectID = @ObjectID
	END
	ELSE
	BEGIN
		IF ISNULL(@O01ID, '') = ''
		BEGIN
			SET @AnaIDTypeID = 'O01'

			IF NOT EXISTS (SELECT TOP 1 1 FROM AT1015 WHERE DivisionID IN (@DivisionID, '@@@') AND AnaTypeID = @AnaIDTypeID AND AnaID = @ObjectID)
			INSERT INTO AT1015 (APK, DivisionID, AnaID, AnaTypeID, AnaName, CreateDate, CreateUserID, LastModifyUserID, LastModifyDate, [Disabled])
			SELECT NEWID(), DivisionID, ObjectID, @AnaIDTypeID, ObjectName, CreateDate, CreateUserID, LastModifyUserID, LastModifyDate, [Disabled]
			FROM INSERTED

			UPDATE AT1202 SET O01ID = @ObjectID WHERE DivisionID IN (@DivisionID, '@@@') AND ObjectID = @ObjectID
		END	
	END
END

IF (SELECT TOP 1 CustomerName FROM CustomerIndex) = 45 ---- nếu là ABA
BEGIN
	SET @AnaTypeID = 'A05'
	SELECT @DivisionID = DivisionID, @ObjectID = ObjectID, @ObjectName = ObjectName, 
		   @CreateUserID = CreateUserID, @CreateDate = CreateDate, 
		   @LastModifyUserID = LastModifyUserID, @LastModifyDate = LastModifyDate
	FROM INSERTED 
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1011 WHERE DivisionID IN (@DivisionID, '@@@') AND AnaTypeID = @AnaTypeID AND AnaID = @ObjectID)
	BEGIN
		INSERT INTO AT1011 (DivisionID, AnaID, AnaTypeID, AnaName, [Disabled],
		            CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		VALUES(@DivisionID,@ObjectID,@AnaTypeID,@ObjectName,0,@CreateUserID,@CreateDate,@LastModifyUserID,@LastModifyDate)
	END
END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON