/****** Object:  Trigger [dbo].[AY1404]    Script Date: 01/04/2011 14:54:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---- Insert vao phan quyen
---- Created by Nguyen Van Nhan, Date 03/05/2003
---- Modified by Vĩnh Tâm, Date 26/11/2020: Xử lý không cấp quyền cho màn hình mới
---- Modified by Tấn Thành, Date 02/02/2021: Bổ sung lưu CommonID (Đồng bộ thiết lập phân quyền APP/ERP9/ERP8)

ALTER TRIGGER [dbo].[AY1404] ON [dbo].[AT1404]
    FOR INSERT
AS
    --DECLARE @Screen_cur AS CURSOR ,
    --    @GroupID AS NVARCHAR(50) ,
    --    @ModuleID AS NVARCHAR(50)

    IF ( EXISTS ( SELECT    *
                  FROM      AT1401 ) ) 
        BEGIN
            INSERT  AT1403
                    ( DivisionID ,
                      ScreenID ,
                      GroupID ,
                      ModuleID ,
                      IsAddNew ,
                      IsUpdate ,
                      IsDelete ,
                      IsView ,
                      IsPrint ,
                      CreateDate ,
                      CreateUserID ,
                      LastModifyUserID ,
                      LastModifyDate ,
                      SourceID,
					  CommonID
                    )
                    SELECT distinct AT1401.DivisionID ,
                            ins.ScreenID ,
                            GroupID ,
                            ModuleID ,
                            0 ,
                            0 ,
                            0 ,
                            0 ,
                            0 ,
                            Ins.CreateDate ,
                            Ins.CreateUserID ,
                            Ins.LastModifyUserID ,
                            Ins.LastModifyDate,
                            ins.SourceID,
							ins.CommonID
                    FROM    Inserted ins ,
                            AT1401
                    WHERE   AT1401.DivisionID + '_' + ScreenID + '_' + GroupID + '_' + ModuleID NOT IN (
                            SELECT  DivisionID + '_' + ScreenID + '_' + GroupID + '_' + ModuleID
                            FROM    AT1403 )
        END
