/****** Object:  Trigger [dbo].[AY1603]    Script Date: 07/30/2010 11:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------Created by Nguyen Van Nhan, Date 23/12/2004
---- Purpose:  Cap nhat trang thai cua phieu

/********************************************
'* Edited by: [GS] [Hoàng Phước] [30/07/2010]
'********************************************/

ALTER TRIGGER [dbo].[AY1603] ON [dbo].[AT1603] 
FOR INSERT

AS

Update AT9000 set Status =1
From AT9000 	inner join Inserted Ins 	on 	AT9000.TransactionID = Ins.RetransactionID and AT9000.VoucherID = Ins.ReVoucherID and AT9000.DivisionID = Ins.DivisionID

