/****** Object:  Trigger [dbo].[AZ0005]    Script Date: 08/05/2010 09:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----- Nguyen Van Nhan, Date 24/05/04
----- Purpose: Cap nhat du lieu b?ng AT6000 ph?c v? vi?c báo cáo phân tích tài chính
----- Edit by: Nguyen Quoc Huy

ALTER TRIGGER  [dbo].[AZ0005]  ON [dbo].[AT0005] 
FOR UPDATE

AS

Update AT6000 
	Set Description = ins.UserName,
		Disabled = (Case 	When isnull(Ins.IsUsed,0)=0
						Then 1
						Else 0
				End)
			
From Inserted Ins  inner join AT6000 on AT6000.Code = Ins.TypeID and AT6000.DivisionID = Ins.DivisionID

