IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AZ01070]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AZ01070]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


-- <Summary>
---- Dùng để Sửa phân quyền dữ liệu cho báo cáo đặc thù
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 27/03/2012 by Nguyễn Bình Minh
---- 
---- Modified on 27/03/2012 by Nguyễn Bình Minh
-- <Example>
---- 
CREATE TRIGGER AZ01070 ON dbo.A01070
FOR UPDATE 
AS 
UPDATE		PER
SET			PER.DataName = INS.ReportName
FROM		AT1407 PER
INNER JOIN	INSERTED INS
		ON	INS.ReportID = PER.DataID AND INS.ModuleID = PER.ModuleID
WHERE		PER.DataType = 'CR'				

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

