IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AZ1202]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AZ1202]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
----- Xoa người dùng khi bỏ check Người dùng hệ thống ở danh mục đối tượng 
----- Created by Bảo Thy on 09/02/2017
----- Modified by Tiểu Mai on 26/05/2017: Chỉnh sửa danh mục dùng chung

CREATE TRIGGER  [dbo].[AZ1202]  ON [dbo].[AT1202] 
FOR UPDATE
AS

IF EXISTS (SELECT TOP 1 1 FROM AT1402 WHERE UserID IN (SELECT ObjectID FROM INSERTED WHERE IsUser = 0))			 
DELETE AT1402 FROM AT1402 INNER JOIN DELETED Del ON Del.ObjectID = AT1402.UserID AND Del.DivisionID IN (AT1402.DivisionID, '@@@')

IF EXISTS (SELECT TOP 1 1 FROM AT1405 WHERE UserID IN (SELECT ObjectID FROM INSERTED WHERE IsUser = 0))			 
DELETE AT1405 FROM AT1405 INNER JOIN DELETED Del ON Del.ObjectID = AT1405.UserID AND Del.DivisionID IN (AT1405.DivisionID, '@@@')

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

