IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AZ20072]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[AZ20072]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



-- <Summary>
---- Cập nhật số dư cho bảng AT20082 dùng để tính giá xuất kho
-- <History>
---- Create on 27/03/2018 by Bảo Anh
---- Modified on

CREATE TRIGGER [dbo].[AZ20072] ON [dbo].[AT20072]
FOR UPDATE 
AS

DELETE AT20071
INSERT INTO AT20071 (DivisionID,TranMonth,TranYear,TransactionID,RDVoucherID,TableID,
					KindVoucherID, WareHouseID, WareHouseID2, InventoryID, UnitID, UnitPrice,
					OldQuantity, NewQuantity,OldConvertedAmount, NewConvertedAmount, OriginalAmount,
					DebitAccountID_Old, CreditAccountID_Old, DebitAccountID_New, CreditAccountID_New
					)
SELECT Inserted.DivisionID, Inserted.TranMonth, Inserted.TranYear, Inserted.TransactionID,Inserted.VoucherID,Inserted.TableID,
Inserted.KindVoucherID, Inserted.WareHouseID, Inserted.WareHouseID2, Inserted.InventoryID, Inserted.UnitID, Inserted.UnitPrice, 
Deleted.ActualQuantity, Inserted.ActualQuantity, Deleted.ConvertedAmount, Inserted.ConvertedAmount, Inserted.OriginalAmount, 
Deleted.DebitAccountID, Deleted.CreditAccountID, Inserted.DebitAccountID, Inserted.CreditAccountID
    
FROM Deleted  
INNER JOIN Inserted ON Inserted.TransactionID = Deleted.TransactionID and Inserted.DivisionID = Deleted.DivisionID

--- cập nhật vào bảng số dư dùng để tính giá xuất kho
---- 1. Trường hợp update phiếu xuất
UPDATE T08
SET 	T08.CreditAmount 	=	isnull(T08.CreditAmount,0)	- Isnull(T07.OldConvertedAmount,0) + Isnull(T07.NewConvertedAmount,0),
		T08.EndAmount		=	isnull(T08.BeginAmount,0) + isnull(T08.DebitAmount,0) - (isnull(T08.CreditAmount,0)	- Isnull(T07.OldConvertedAmount,0) + Isnull(T07.NewConvertedAmount,0))
FROM AT20082 T08 WITH (ROWLOCK)
INNER JOIN (Select	DivisionID, TranMonth, TranYear, InventoryID, CreditAccountID_New, WareHouseID,
					SUM(OldConvertedAmount) as OldConvertedAmount, SUM(NewConvertedAmount) as NewConvertedAmount
			From AT20071 WITH (NOLOCK) Where Isnull(TableID,'') <> 'AT0114' And KindVoucherID in (2,4,6,8,10,14,20)
			Group by DivisionID, TranMonth, TranYear, InventoryID, CreditAccountID_New, WareHouseID) T07
ON T08.DivisionID = T07.DivisionID and T08.TranMonth = T07.TranMonth and T08.TranYear = T07.TranYear
	and T08.InventoryID = T07.InventoryID and T08.WareHouseID =T07.WareHouseID and T08.InventoryAccountID = T07.CreditAccountID_New

---- 2. Trường hợp update phiếu VCNB
-------- 2a. Update cho kho nhập
UPDATE T08
SET		T08.DebitAmount 	=	isnull(T08.DebitAmount,0) - Isnull(T07.OldConvertedAmount,0) + Isnull(T07.NewConvertedAmount,0),
		T08.InDebitAmount 	=	isnull(T08.InDebitAmount,0) - Isnull(T07.OldConvertedAmount,0) + Isnull(T07.NewConvertedAmount,0),
		T08.EndAmount		=	isnull(T08.BeginAmount,0) + (isnull(T08.DebitAmount,0) - Isnull(T07.OldConvertedAmount,0) + Isnull(T07.NewConvertedAmount,0)) - isnull(T08.CreditAmount,0) 		
FROM AT20082 T08 WITH (ROWLOCK)
INNER JOIN (Select	DivisionID, TranMonth, TranYear, InventoryID, DebitAccountID_New, WareHouseID,
					SUM(OldConvertedAmount) as OldConvertedAmount, SUM(NewConvertedAmount) as NewConvertedAmount
			From AT20071 WITH (NOLOCK) Where Isnull(TableID,'') <> 'AT0114' And KindVoucherID = 3
			Group by DivisionID, TranMonth, TranYear, InventoryID, DebitAccountID_New, WareHouseID) T07
ON T08.DivisionID = T07.DivisionID and T08.TranMonth = T07.TranMonth and T08.TranYear = T07.TranYear
	and T08.InventoryID = T07.InventoryID and T08.WareHouseID =T07.WareHouseID and T08.InventoryAccountID = T07.DebitAccountID_New
	
-------- 2b. Update cho kho xuất
UPDATE T08
SET 	T08.CreditAmount 	=	isnull(T08.CreditAmount,0)	- Isnull(T07.OldConvertedAmount,0) + Isnull(T07.NewConvertedAmount,0),
		T08.InCreditAmount 	=	isnull(T08.InCreditAmount,0)	- Isnull(T07.OldConvertedAmount,0) + Isnull(T07.NewConvertedAmount,0),
		T08.EndAmount		=	isnull(T08.BeginAmount,0) + isnull(T08.DebitAmount,0) - (isnull(T08.CreditAmount,0)	- Isnull(T07.OldConvertedAmount,0) + Isnull(T07.NewConvertedAmount,0))
FROM AT20082 T08 WITH (ROWLOCK)
INNER JOIN (Select	DivisionID, TranMonth, TranYear, InventoryID, CreditAccountID_New, WareHouseID2,
					SUM(OldConvertedAmount) as OldConvertedAmount, SUM(NewConvertedAmount) as NewConvertedAmount
			From AT20071 WITH (NOLOCK) Where Isnull(TableID,'') <> 'AT0114' And KindVoucherID = 3
			Group by DivisionID, TranMonth, TranYear, InventoryID, CreditAccountID_New, WareHouseID2) T07
ON T08.DivisionID = T07.DivisionID and T08.TranMonth = T07.TranMonth and T08.TranYear = T07.TranYear
	and T08.InventoryID = T07.InventoryID and T08.WareHouseID =T07.WareHouseID2 and T08.InventoryAccountID = T07.CreditAccountID_New



GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
