/****** Object:  Trigger [dbo].[AZ2026]    Script Date: 07/30/2010 13:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Created by Nguyen Van Nhan
--Date  17/03/20005
--Purpose: Insert master phieu xuat kho AT2006
--Edited by Nguyen Quoc Huy, Date 07/08/2006

/********************************************
'* Edited by: [GS] [Hoàng Phước] [30/07/2010]
'********************************************/

ALTER TRIGGER [dbo].[AZ2026]  ON [dbo].[AT2026]
FOR UPDATE As
Declare		@D26_Cursor		Cursor,
		@BaseCurrencyID as nVarchar(50)

Declare  	
	@DivisionID		nVarchar(50),	
	@VoucherTypeID	nVarchar(50),			
	@RDVoucherID		nVarchar(50), 	@RDVoucherNo	nVarchar(50),	
	@RDVoucherDate	Datetime,			
	@TranYear		Int,		@TranMonth		int,
	@WareHouseID		nVarchar(50),	
	@Description		nVarchar(255),	
	@CreateUserID		nVarchar(50),	@CreateDate		Datetime,
	@LastModifyUserID	nVarchar(50),	@LastModifyDate	Datetime,
	@EmployeeID		nVarchar(50),	
	@ObjectID		nVarchar(50),
	@Status		tinyint,
	@BatchID		nVarchar(50),
	@TableID 		nVarchar(50),
	@OrderID		nVarchar(50),
	@RefNo01		nVarchar(50),
	@RefNo02		nVarchar(50)


Set @D26_Cursor = Cursor Scroll KeySet For
Select 		ins.DivisionID, ins.VoucherID, ins.TranYear, ins.TranMonth,   ---- Thong tin chung
		Ins.VoucherDate,  Ins.VoucherNo, 
		EmployeeID,  Ins.ObjectID,   Ins.CreateUserID, Ins.CreateDate,  
		LastModifyUserID, LastModifyDate, Description,		
		Ins.WareHouseID, 0, Ins.BatchID,
		Ins.TableID,
		Ins.VoucherTypeID,
		Ins.OrderID, RefNo01, RefNo02				
From 	inserted ins 



Open @D26_Cursor
Fetch Next From @D26_Cursor Into @DivisionID, @RDVoucherID, @TranYear, @TranMonth,   
		@RDVoucherDate,  @RDVoucherNo, 
		@EmployeeID,  @ObjectID,   @CreateUserID, @CreateDate,  
		@LastModifyUserID, @LastModifyDate,@Description,
		@WareHouseID, @Status, @BatchID, @TableID,
		@VoucherTypeID, @OrderID, @RefNo01, @RefNo02				
                                         

While @@FETCH_STATUS = 0
Begin	
	
	Update AT2006 		Set 	VoucherDate = @RDVoucherDate,
					VoucherNo = @RDVoucherNo,
					EmployeeID = @EmployeeID,
					ObjectID = @ObjectID,
					LastModifyUserID = @LastModifyUserID, 
					LastModifyDate = @LastModifyDate,
					Description = @Description,
					WareHouseID = @WareHouseID,
					VoucherTypeID = @VoucherTypeID ,
					OrderID = @OrderID,
					RefNo01 = @RefNo01, 
					RefNo02 = @RefNo02 
	Where VoucherID = @RDVoucherID and TranMonth = @TranMonth and TranYear = @TranYear and DivisionID =@DivisionID and TableID = 'AT2006'


							

	Fetch Next From @D26_Cursor Into @DivisionID, @RDVoucherID, @TranYear, @TranMonth,  
			@RDVoucherDate,  @RDVoucherNo, 
			@EmployeeID,  @ObjectID,   @CreateUserID, @CreateDate,  
			@LastModifyUserID, @LastModifyDate,@Description,
			@WareHouseID, @Status, @BatchID, @TableID,
			@VoucherTypeID, @OrderID, @RefNo01, @RefNo02				
                                       

End
Close @D26_Cursor
DeAllocate @D26_Cursor

