IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[CZ4002]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[CZ4002]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


--Created by:Nguyen Thi Thuy Tuyen, date:09/01/2006
---- Modified on 17/01/2012 by Le Thi Thu Hien : JOIN them DivisionID
/********************************************
'* Edited by: [GS] [Hoàng Phước] [30/07/2010]
'********************************************/

CREATE TRIGGER [dbo].[CZ4002] ON [dbo].[CT4002] 
FOR  UPDATE
AS



DECLARE 	
@cur cursor,
@VoucherID nvarchar(50)  ,
@IsFinish nvarchar(50) ,
@DivisionID NVARCHAR(50)

 Set @cur =  cursor scroll keyset for 
		SELECT	ReVoucherID, Finish, DivisionID
		FROM	Inserted

OPEN @cur
FETCH NEXT FROM  @cur INTO  @VoucherID,@IsFinish, @DivisionID
---Print @VoucherID
WHILE @@FETCH_STATUS = 0
BEGIN

		UPDATE	CT5003  
		SET		Status = @IsFinish 
		WHERE	VoucherID = @VoucherID
				AND DivisionID = @DivisionID


	FETCH NEXT FROM  @cur INTO  @VoucherID, @IsFinish, @DivisionID
END


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

