IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HX2405]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[HX2405]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



----Created by: Vo Thanh Huong
----Created date:16/06/2004
----purpose: Tinh lai AdvanceAmount (HT2404) 
---- Modified on 17/01/2012 by Le Thi Thu Hien : JOIN them DivisionID
/********************************************
'* Edited by: [GS] [Tố Oanh] [04/08/2010]
'********************************************/

CREATE TRIGGER [dbo].[HX2405] ON [dbo].[HT2405]
FOR UPDATE, INSERTAS
DECLARE @AdvanceAmount  as decimal (28,8),
		@AdvanceID as nvarchar(50),	
		@cur_HV2404 as CURSOR,
		@DivisionID NVARCHAR(50)	

SET @cur_HV2404 = CURSOR SCROLL KEYSET FOR
		SELECT DISTINCT AdvanceID, DivisionID FROM inserted 

OPEN @cur_HV2404
FETCH NEXT FROM @cur_HV2404 INTO @AdvanceID , @DivisionID

WHILE @@FETCH_STATUS = 0
	BEGIN
		
		UPDATE	HT2404 
		SET		AdvanceAmount = (Select SUM(AdvanceAmount) FROM HT2405 WHERE AdvanceID = @AdvanceID AND HT2405.DivisionID = @DivisionID)
		WHERE	AdvanceID = @AdvanceID
				AND DivisionID = @DivisionID
				  
		FETCH NEXT FROM @cur_HV2404 INTO @AdvanceID , @DivisionID
	END

CLOSE @cur_HV2404
DEALLOCATE @cur_HV2404


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

