IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HXYZ1400]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[HXYZ1400]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Cap nhat vào bảng HT1400_CT trường hợp update, delete và insert hồ sơ nhân viên
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 16/03/2016 by Bảo Thy
---- 
-- <Example>
----

CREATE TRIGGER HXYZ1400 ON [dbo].[HT1400]  FOR UPDATE,DELETE,INSERT
AS

--SELECT @TableName = 'HT1400_CT'
 ----2: insert;1 delete;4 update

IF EXISTS (SELECT * FROM inserted)
       IF EXISTS (SELECT top 1 1 FROM deleted)
               --SELECT @Type = 'U'
               insert into [HT1400_CT](Operation, [APK]
      ,[DivisionID]
      ,[EmployeeID]
      ,[Orders]
      ,[DepartmentID]
      ,[TeamID]
      ,[LastName]
      ,[MiddleName]
      ,[FirstName]
      ,[ShortName]
      ,[Alias]
      ,[Birthday]
      ,[BornPlace]
      ,[IsMale]
      ,[NativeCountry]
      ,[PermanentAddress]
      ,[TemporaryAddress]
      ,[PassportNo]
      ,[PassportDate]
      ,[PassportEnd]
      ,[IdentifyCardNo]
      ,[IdentifyDate]
      ,[IdentifyPlace]
      ,[IsSingle]
      --,[ImageID]
      ,[CountryID]
      ,[CityID]
      ,[DistrictID]
      ,[EthnicID]
      ,[ReligionID]
      ,[Notes]
      ,[HealthStatus]
      ,[HomePhone]
      ,[HomeFax]
      ,[MobiPhone]
      ,[Email]
      ,[CreateDate]
      ,[CreateUserID]
      ,[LastModifyDate]
      ,[LastModifyUserID]
      ,[S1]
      ,[S2]
      ,[S3]
      ,[EmployeeStatus]
      ,[IsForeigner]
      ,[RecruitTimeID]
      ,[IdentifyCityID]
      ,[NoResident]
      ,[DrivingLicenceNo]
      ,[DrivingLicenceDate]
      ,[DrivingLicenceEnd]
      ,[DrivingLicencePlace]
      ,[IdentifyEnd]
      ,[Ana01ID]
      ,[Ana02ID]
      ,[Ana03ID]
      ,[Ana04ID]
      ,[Ana05ID]
      ,[Ana06ID]
      ,[Ana07ID]
      ,[Ana08ID]
      ,[Ana09ID]
      ,[Ana10ID]
      ,[IsAutoCreateUser],ReAPK) SELECT 4 as Operation, [APK]
      ,[DivisionID]
      ,[EmployeeID]
      ,[Orders]
      ,[DepartmentID]
      ,[TeamID]
      ,[LastName]
      ,[MiddleName]
      ,[FirstName]
      ,[ShortName]
      ,[Alias]
      ,[Birthday]
      ,[BornPlace]
      ,[IsMale]
      ,[NativeCountry]
      ,[PermanentAddress]
      ,[TemporaryAddress]
      ,[PassportNo]
      ,[PassportDate]
      ,[PassportEnd]
      ,[IdentifyCardNo]
      ,[IdentifyDate]
      ,[IdentifyPlace]
      ,[IsSingle]
      --,[ImageID]
      ,[CountryID]
      ,[CityID]
      ,[DistrictID]
      ,[EthnicID]
      ,[ReligionID]
      ,[Notes]
      ,[HealthStatus]
      ,[HomePhone]
      ,[HomeFax]
      ,[MobiPhone]
      ,[Email]
      ,[CreateDate]
      ,[CreateUserID]
      ,[LastModifyDate]
      ,[LastModifyUserID]
      ,[S1]
      ,[S2]
      ,[S3]
      ,[EmployeeStatus]
      ,[IsForeigner]
      ,[RecruitTimeID]
      ,[IdentifyCityID]
      ,[NoResident]
      ,[DrivingLicenceNo]
      ,[DrivingLicenceDate]
      ,[DrivingLicenceEnd]
      ,[DrivingLicencePlace]
      ,[IdentifyEnd]
      ,[Ana01ID]
      ,[Ana02ID]
      ,[Ana03ID]
      ,[Ana04ID]
      ,[Ana05ID]
      ,[Ana06ID]
      ,[Ana07ID]
      ,[Ana08ID]
      ,[Ana09ID]
      ,[Ana10ID]
      ,[IsAutoCreateUser], ReAPK  FROM deleted
       ELSE
               --SELECT @Type = 'I'
               insert into [HT1400_CT](Operation, [APK]
      ,[DivisionID]
      ,[EmployeeID]
      ,[Orders]
      ,[DepartmentID]
      ,[TeamID]
      ,[LastName]
      ,[MiddleName]
      ,[FirstName]
      ,[ShortName]
      ,[Alias]
      ,[Birthday]
      ,[BornPlace]
      ,[IsMale]
      ,[NativeCountry]
      ,[PermanentAddress]
      ,[TemporaryAddress]
      ,[PassportNo]
      ,[PassportDate]
      ,[PassportEnd]
      ,[IdentifyCardNo]
      ,[IdentifyDate]
      ,[IdentifyPlace]
      ,[IsSingle]
      --,[ImageID]
      ,[CountryID]
      ,[CityID]
      ,[DistrictID]
      ,[EthnicID]
      ,[ReligionID]
      ,[Notes]
      ,[HealthStatus]
      ,[HomePhone]
      ,[HomeFax]
      ,[MobiPhone]
      ,[Email]
      ,[CreateDate]
      ,[CreateUserID]
      ,[LastModifyDate]
      ,[LastModifyUserID]
      ,[S1]
      ,[S2]
      ,[S3]
      ,[EmployeeStatus]
      ,[IsForeigner]
      ,[RecruitTimeID]
      ,[IdentifyCityID]
      ,[NoResident]
      ,[DrivingLicenceNo]
      ,[DrivingLicenceDate]
      ,[DrivingLicenceEnd]
      ,[DrivingLicencePlace]
      ,[IdentifyEnd]
      ,[Ana01ID]
      ,[Ana02ID]
      ,[Ana03ID]
      ,[Ana04ID]
      ,[Ana05ID]
      ,[Ana06ID]
      ,[Ana07ID]
      ,[Ana08ID]
      ,[Ana09ID]
      ,[Ana10ID]
      ,[IsAutoCreateUser],ReAPK) SELECT 2, [APK]
      ,[DivisionID]
      ,[EmployeeID]
      ,[Orders]
      ,[DepartmentID]
      ,[TeamID]
      ,[LastName]
      ,[MiddleName]
      ,[FirstName]
      ,[ShortName]
      ,[Alias]
      ,[Birthday]
      ,[BornPlace]
      ,[IsMale]
      ,[NativeCountry]
      ,[PermanentAddress]
      ,[TemporaryAddress]
      ,[PassportNo]
      ,[PassportDate]
      ,[PassportEnd]
      ,[IdentifyCardNo]
      ,[IdentifyDate]
      ,[IdentifyPlace]
      ,[IsSingle]
      --,[ImageID]
      ,[CountryID]
      ,[CityID]
      ,[DistrictID]
      ,[EthnicID]
      ,[ReligionID]
      ,[Notes]
      ,[HealthStatus]
      ,[HomePhone]
      ,[HomeFax]
      ,[MobiPhone]
      ,[Email]
      ,[CreateDate]
      ,[CreateUserID]
      ,[LastModifyDate]
      ,[LastModifyUserID]
      ,[S1]
      ,[S2]
      ,[S3]
      ,[EmployeeStatus]
      ,[IsForeigner]
      ,[RecruitTimeID]
      ,[IdentifyCityID]
      ,[NoResident]
      ,[DrivingLicenceNo]
      ,[DrivingLicenceDate]
      ,[DrivingLicenceEnd]
      ,[DrivingLicencePlace]
      ,[IdentifyEnd]
      ,[Ana01ID]
      ,[Ana02ID]
      ,[Ana03ID]
      ,[Ana04ID]
      ,[Ana05ID]
      ,[Ana06ID]
      ,[Ana07ID]
      ,[Ana08ID]
      ,[Ana09ID]
      ,[Ana10ID]
      ,[IsAutoCreateUser], ReAPK  FROM inserted
ELSE
       --SELECT @Type = 'D'
      insert into [HT1400_CT](Operation, [APK]
      ,[DivisionID]
      ,[EmployeeID]
      ,[Orders]
      ,[DepartmentID]
      ,[TeamID]
      ,[LastName]
      ,[MiddleName]
      ,[FirstName]
      ,[ShortName]
      ,[Alias]
      ,[Birthday]
      ,[BornPlace]
      ,[IsMale]
      ,[NativeCountry]
      ,[PermanentAddress]
      ,[TemporaryAddress]
      ,[PassportNo]
      ,[PassportDate]
      ,[PassportEnd]
      ,[IdentifyCardNo]
      ,[IdentifyDate]
      ,[IdentifyPlace]
      ,[IsSingle]
      --,[ImageID]
      ,[CountryID]
      ,[CityID]
      ,[DistrictID]
      ,[EthnicID]
      ,[ReligionID]
      ,[Notes]
      ,[HealthStatus]
      ,[HomePhone]
      ,[HomeFax]
      ,[MobiPhone]
      ,[Email]
      ,[CreateDate]
      ,[CreateUserID]
      ,[LastModifyDate]
      ,[LastModifyUserID]
      ,[S1]
      ,[S2]
      ,[S3]
      ,[EmployeeStatus]
      ,[IsForeigner]
      ,[RecruitTimeID]
      ,[IdentifyCityID]
      ,[NoResident]
      ,[DrivingLicenceNo]
      ,[DrivingLicenceDate]
      ,[DrivingLicenceEnd]
      ,[DrivingLicencePlace]
      ,[IdentifyEnd]
      ,[Ana01ID]
      ,[Ana02ID]
      ,[Ana03ID]
      ,[Ana04ID]
      ,[Ana05ID]
      ,[Ana06ID]
      ,[Ana07ID]
      ,[Ana08ID]
      ,[Ana09ID]
      ,[Ana10ID]
      ,[IsAutoCreateUser],ReAPK)  SELECT 1, [APK]
      ,[DivisionID]
      ,[EmployeeID]
      ,[Orders]
      ,[DepartmentID]
      ,[TeamID]
      ,[LastName]
      ,[MiddleName]
      ,[FirstName]
      ,[ShortName]
      ,[Alias]
      ,[Birthday]
      ,[BornPlace]
      ,[IsMale]
      ,[NativeCountry]
      ,[PermanentAddress]
      ,[TemporaryAddress]
      ,[PassportNo]
      ,[PassportDate]
      ,[PassportEnd]
      ,[IdentifyCardNo]
      ,[IdentifyDate]
      ,[IdentifyPlace]
      ,[IsSingle]
      --,[ImageID]
      ,[CountryID]
      ,[CityID]
      ,[DistrictID]
      ,[EthnicID]
      ,[ReligionID]
      ,[Notes]
      ,[HealthStatus]
      ,[HomePhone]
      ,[HomeFax]
      ,[MobiPhone]
      ,[Email]
      ,[CreateDate]
      ,[CreateUserID]
      ,[LastModifyDate]
      ,[LastModifyUserID]
      ,[S1]
      ,[S2]
      ,[S3]
      ,[EmployeeStatus]
      ,[IsForeigner]
      ,[RecruitTimeID]
      ,[IdentifyCityID]
      ,[NoResident]
      ,[DrivingLicenceNo]
      ,[DrivingLicenceDate]
      ,[DrivingLicenceEnd]
      ,[DrivingLicencePlace]
      ,[IdentifyEnd]
      ,[Ana01ID]
      ,[Ana02ID]
      ,[Ana03ID]
      ,[Ana04ID]
      ,[Ana05ID]
      ,[Ana06ID]
      ,[Ana07ID]
      ,[Ana08ID]
      ,[Ana09ID]
      ,[Ana10ID]
      ,[IsAutoCreateUser],ReAPK  FROM deleted

-- get list of columns
--SELECT *INTO #ins FROM inserted
--SELECT * INTO #del FROM deleted




GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
