IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HY2460]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[HY2460]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


--- Created by Bao Anh	Date: 21/08/2012
--- Purpose: Update số sổ bảo hiểm xã hội cho nhân viên
--- Modify on 27/08/2013 by Bảo Anh: Update số thẻ BHYT, ngày BHYT, ngày BHXH, nơi khám bệnh qua hồ sơ nhân viên

CREATE TRIGGER [dbo].[HY2460] ON [dbo].[HT2460]
FOR INSERT, UPDATE 
AS

Declare @MaxPeriod as int,
		@DivisionID as nvarchar(50),
		@EmployeeID as nvarchar(50),
		@TranMonth as int,
		@TranYear as int,
		@SNo as nvarchar(50),
		@SBeginDate as datetime,
		@CNo as nvarchar(50),
		@CFromDate as datetime,
		@CToDate as datetime,
		@HospitalID as nvarchar(50)

SELECT	@DivisionID = DivisionID, @EmployeeID = EmployeeID, @TranMonth = TranMonth, @TranYear = TranYear,
		@SNo = SNo, @CNo = CNo, @CFromDate = CFromDate, @CToDate = CToDate, @HospitalID = HospitalID,
		@SBeginDate = SBeginDate
FROM Inserted

SELECT @MaxPeriod = Max(TranMonth) + Max(TranYear) * 100
FROM HT2460
WHERE DivisionID = @DivisionID AND EmployeeID = @EmployeeID

IF (@TranMonth + @TranYear * 100) >= @MaxPeriod
	BEGIN
		UPDATE HT1402 Set	SoInsuranceNo = @SNo, HeInsuranceNo = @CNo, HFromDate = @CFromDate, HToDate = @CToDate,
							HospitalID = @HospitalID, SoInsurBeginDate = @SBeginDate
		WHERE DivisionID = @DivisionID
		AND EmployeeID = @EmployeeID
	END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON