IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HZ0001]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[HZ0001]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



---- Created by Nguyen Van Nhan, Date 27/05/2004
---- purpose: Cap nhat bang HT2222 xac dinh ten cua cac tieu thuc quan ly trong viec thong ke
---- Modified on 17/01/2012 by Le Thi Thu Hien : JOIN them DivisionID

CREATE TRIGGER [dbo].[HZ0001] ON [dbo].[HT0001] 
FOR UPDATE
AS


UPDATE	HT2222 
SET		Description = Ins.Caption, 
		Disabled =  ( Case when Ins.IsUsed = 1 then 0 else 1 end) 
FROM	HT2222  
INNER JOIN  Inserted Ins on Ins.TargetTypeID  = 'T'+substring(HT2222.FieldID,7,2) AND HT2222.DivisionID =  Ins.DivisionID
WHERE	HT2222.TablesName ='HT1014'


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

