IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HZ1015]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[HZ1015]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



----Created by: Vo Thanh Huong, 16/06/2004
----Purpose: Xoa bang Chi tiet nac thang tính luong theo s?n ph?m khi xoa danh muc san pham
---- Modified on 17/01/2012 by Le Thi Thu Hien : JOIN them DivisionID

CREATE TRIGGER [dbo].[HZ1015] ON [dbo].[HT1015]
FOR  DELETE 

AS

DELETE HT1016  FROM Deleted  WHERE HT1016.ProductID = Deleted.ProductID AND HT1016.DivisionID = Deleted.DivisionID


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

