IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HZ1409]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[HZ1409]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-----Created date: 19/09/2005
----purpose: Xoa chi tiet chi phi tuyen dung HT1410, chi tiet tuyen dung khi xoa dot tuyen dung
---- Modified on 17/01/2012 by Le Thi Thu Hien : JOIN them DivisionID
CREATE TRIGGER [dbo].[HZ1409] ON [dbo].[HT1409]
FOR  DELETE 
AS
DELETE HT1410 FROM Deleted WHERE HT1410.RecruitTimeID = Deleted.RecruitTimeID AND HT1410.DivisionID = Deleted.DivisionID

DELETE HT1411 FROM Deleted WHERE HT1411.RecruitTimeID = Deleted.RecruitTimeID AND HT1411.DivisionID = Deleted.DivisionID

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

