IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MX0810]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[MX0810]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Created by Hoµng ThÞ Lan 
--Date 04/02/2004
--Purpose : ChuyÓn KQSX  sang AsoftT
---- Modified on 17/01/2012 by Le Thi Thu Hien : WHERE them DivisionID
---- Modified by Tiểu Mai on 13/10/2016: Bổ sung không xóa ngược phiếu nhập kho cho ANGEL(CustomizeIndex - 57)
---- Modified on 14/05/2018 by Bảo Anh : Bổ sung xóa phiếu xuất kho tự động cho Việt Linh
/********************************************
'* Edited by: [GS] [Tố Oanh] [04/08/2010]
'********************************************/

CREATE TRIGGER [dbo].[MX0810] ON [dbo].[MT0810] 
FOR Delete
AS
Declare  @sSQL as nvarchar(4000),
	@_Cur as cursor ,
	@VoucherID as nvarchar(50),  @TranMonth  as int ,@TranYear as int ,
	@DivisionID  as nvarchar(50), @CurrencyID  as nvarchar(50) , 
	@VoucherNo as nvarchar(50) ,  @VoucherDate  as Datetime , @EmployeeID  as nvarchar(50), 
	@Description as nvarchar(250) , @CreateDate as datetime , @CreateUserID as nvarchar(50)  ,
	@LastModifyUserID  as nvarchar(50), @LastModifyDate as Datetime ,  @ResultTypeID  as nvarchar(50), 
	@InventoryTypeID  as nvarchar(50), @VoucherTypeID as nvarchar(50) , @Status  as tinyint, @WareHouseID as nvarchar(50) ,
	@IsWareHouse as TINYINT, @TableID NVARCHAR(50)

Set @_Cur = Cursor Scroll KeySet For
Select	  	VoucherID,TranMonth ,TranYear , DivisionID , CurrencyID , VoucherNo , VoucherDate , EmployeeID , 
		Description , CreateDate , CreateUserID , LastModifyUserID , LastModifyDate ,  ResultTypeID , InventoryTypeID , VoucherTypeID ,
		Status , WareHouseID , IsWareHouse, TableID

From Deleted  


Open @_Cur
Fetch Next From @_Cur Into 	@VoucherID,@TranMonth ,@TranYear , @DivisionID , @CurrencyID , @VoucherNo , @VoucherDate , @EmployeeID , 
				@Description , @CreateDate , @CreateUserID , @LastModifyUserID , @LastModifyDate ,  @ResultTypeID , @InventoryTypeID ,
 				@VoucherTypeID , @Status , @WareHouseID , @IsWareHouse, @TableID

	Begin 
		IF Isnull(@TableID,'') <> 'AT2006'  ----- Phiếu nhập kho sản xuất ở phân hệ WM của ANGEL (CustomizeIndex - 57)
		BEGIN 
			DELETE  AT2006 
			WHERE 	VoucherID =  @VoucherID
					AND DivisionID = @DivisionID 
		END

		IF (Select CustomerName from CustomerIndex) = 96	--- Việt Linh
		BEGIN
			Delete  AT2006 
			Where 	DivisionID = @DivisionID AND (VoucherID =  @VoucherID or ISNULL(AT2006.OrderID,'') = @VoucherID)
			            
			Delete  AT2007 
			From AT2007
			Left join AT2006 WITH (NOLOCK) on AT2007.DivisionID = AT2006.DivisionID AND AT2007.VoucherID = AT2006.VoucherID 
			where AT2007.DivisionID = @DivisionID AND ISNULL(AT2006.OrderID,'') = @VoucherID	
		END
		
		Fetch Next From @_Cur Into	@VoucherID,@TranMonth ,@TranYear , @DivisionID , @CurrencyID , @VoucherNo , @VoucherDate , @EmployeeID , 
				@Description , @CreateDate , @CreateUserID , @LastModifyUserID , @LastModifyDate ,  @ResultTypeID , @InventoryTypeID , @VoucherTypeID ,
				@Status , @WareHouseID , @IsWareHouse, @TableID
	End 
Close @_Cur


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

