/****** Object:  Trigger [dbo].[MX2006]    Script Date: 08/04/2010 16:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Created by Nguyen Quoc Huy
--Date 24/11/2006
/********************************************
'* Edited by: [GS] [Tố Oanh] [04/08/2010]
'********************************************/

ALTER TRIGGER [dbo].[MX2006]  ON [dbo].[MT2006]
FOR DELETE As
Declare		@Cursor		Cursor

Declare  @DivisionID		nVarchar(50),	
	 @PlanDetailID		nVarchar(50),
	 @InventoryID		nVarchar(50)
	

Set @Cursor = Cursor Scroll KeySet For
Select 	DivisionID, PlanDetailID
From 	Deleted

Open @Cursor
Fetch Next From @Cursor Into @DivisionID, @PlanDetailID

While @@FETCH_STATUS = 0
Begin	
	
	DELETE MT2016 Where DivisionID = @DivisionID and RePlanDetailID = @PlanDetailID

	Fetch Next From @Cursor Into @DivisionID, @PlanDetailID
                          
End
Close @Cursor
DeAllocate @Cursor

