IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MY8899]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[MY8899]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Created by Tiểu Mai on 24/12/2015
--- Purpose: Chuyển thông tin quy cách qua ASOFT - WM
--- Modified by Tiểu Mai on 23/08/2016: Fix bug không update dữ liệu kho khi update KQSX
--- Modified by Tiểu Mai on 18/10/2016: Bổ sung lưu thông tin số lượng qua WT8899

CREATE TRIGGER [dbo].[MY8899] ON [dbo].[MT8899] 
FOR INSERT
AS

DECLARE 
    @sSQL AS NVARCHAR(4000), 
    @_Cur AS CURSOR, 
    @TableID NVARCHAR(50),
    @TransactionID AS NVARCHAR(50), 
    @VoucherID AS NVARCHAR(50), 
    @DivisionID AS NVARCHAR(50), 
	@S01ID NVARCHAR(50), @S02ID NVARCHAR(50), @S03ID NVARCHAR(50), @S04ID NVARCHAR(50), @S05ID NVARCHAR(50), 
	@S06ID NVARCHAR(50), @S07ID NVARCHAR(50), @S08ID NVARCHAR(50), @S09ID NVARCHAR(50), @S10ID NVARCHAR(50), 
	@S11ID NVARCHAR(50), @S12ID NVARCHAR(50), @S13ID NVARCHAR(50), @S14ID NVARCHAR(50), @S15ID NVARCHAR(50), 
	@S16ID NVARCHAR(50), @S17ID NVARCHAR(50), @S18ID NVARCHAR(50), @S19ID NVARCHAR(50), @S20ID NVARCHAR(50),
	@QC_OriginalQuantity DECIMAL(28,8), @QC_OriginalAmount DECIMAL(28,8),
    @QC_ConvertedQuantity DECIMAL(28,8), @QC_ConvertedAmount DECIMAL(28,8)

SET @_Cur = CURSOR SCROLL KEYSET FOR
    SELECT 
    Inserted.TableID,
    Inserted.TransactionID, 
    Inserted.VoucherID,
	Inserted.DivisionID,
    Inserted.S01ID, Inserted.S02ID, Inserted.S03ID, Inserted.S04ID,Inserted.S05ID,Inserted.S06ID,Inserted.S07ID,Inserted.S08ID,Inserted.S09ID,Inserted.S10ID,
    Inserted.S11ID, Inserted.S12ID, Inserted.S13ID, Inserted.S14ID,Inserted.S15ID,Inserted.S16ID,Inserted.S17ID,Inserted.S18ID,Inserted.S19ID,Inserted.S20ID,
    M01.Quantity, M01.OriginalAmount, M01.ConvertedQuantity, M01.ConvertedAmount
    FROM Inserted 
    INNER JOIN MT1001 M01 WITH (NOLOCK) ON M01.VoucherID = INSERTED.VoucherID AND M01.TransactionID = INSERTED.TransactionID AND M01.DivisionID = INSERTED.DivisionID

OPEN @_Cur
FETCH NEXT FROM @_Cur INTO @TableID, @TransactionID, @VoucherID, @DivisionID,
@S01ID , @S02ID , @S03ID , @S04ID , @S05ID , 
@S06ID , @S07ID , @S08ID , @S09ID , @S10ID , 
@S11ID , @S12ID , @S13ID , @S14ID , @S15ID , 
@S16ID , @S17ID , @S18ID , @S19ID , @S20ID,
@QC_OriginalQuantity, @QC_OriginalAmount, @QC_ConvertedQuantity, @QC_ConvertedAmount

WHILE @@Fetch_Status = 0
BEGIN 
	IF Isnull(@TableID,'') = 'MT1001'
		INSERT INTO WT8899 (DivisionID, TableID, VoucherID, TransactionID, S01ID,S02ID,S03ID,S04ID,S05ID,S06ID,S07ID,S08ID,S09ID,S10ID, 
							S11ID, S12ID, S13ID, S14ID, S15ID, S16ID, S17ID, S18ID, S19ID, S20ID, QC_OriginalQuantity, QC_OriginalAmount, QC_ConvertedQuantity, QC_ConvertedAmount)
		VALUES (@DivisionID,'AT2007', @VoucherID, @TransactionID, @S01ID, @S02ID, @S03ID, @S04ID, @S05ID, @S06ID , @S07ID , @S08ID , @S09ID , @S10ID , 
				@S11ID , @S12ID , @S13ID , @S14ID , @S15ID , @S16ID , @S17ID , @S18ID , @S19ID , @S20ID, @QC_OriginalQuantity, @QC_OriginalAmount, @QC_ConvertedQuantity, @QC_ConvertedAmount)

    FETCH NEXT FROM @_Cur INTO @TableID, @TransactionID, @VoucherID, @DivisionID,
	@S01ID , @S02ID , @S03ID , @S04ID , @S05ID , 
	@S06ID , @S07ID , @S08ID , @S09ID , @S10ID , 
	@S11ID , @S12ID , @S13ID , @S14ID , @S15ID , 
	@S16ID , @S17ID , @S18ID , @S19ID , @S20ID,
	@QC_OriginalQuantity, @QC_OriginalAmount, @QC_ConvertedQuantity, @QC_ConvertedAmount
END 

CLOSE @_Cur

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
