/****** Object:  Trigger [dbo].[MZ0810]    Script Date: 08/04/2010 16:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Created by Hoµng ThÞ Lan 
--Date 04/02/2004
--Purpose : Chuyen KQSX  sang AsoftT
--Edit by: Dang Le Bao Quynh; Date 05/07/2007
--Purpose: Bo sung them truong ObjectID
---- Modified on 17/01/2012 by Le Thi Thu Hien : JOIN them DivisionID
---- Modified on 14/05/2018 by Bảo Anh : Bổ sung xóa phiếu xuất kho tự động cho Việt Linh
/********************************************
'* Edited by: [GS] [Tố Oanh] [04/08/2010]
'********************************************/

ALTER TRIGGER [dbo].[MZ0810] ON [dbo].[MT0810] 
FOR UPDATE
AS
Declare  @sSQL as nvarchar(4000),
	@_Cur as cursor ,
	@VoucherID as nvarchar(50),  @TranMonth  as int ,@TranYear as int ,
	@DivisionID  as nvarchar(50), @CurrencyID  as nvarchar(50) , 
	@VoucherNo as nvarchar(50) ,  @VoucherDate  as Datetime , @EmployeeID  as nvarchar(50), 
	@Description as nvarchar(250) , @CreateDate as datetime , @CreateUserID as nvarchar(50)  ,
	@LastModifyUserID  as nvarchar(50), @LastModifyDate as Datetime ,  @ResultTypeID  as nvarchar(50), 
	@InventoryTypeID  as nvarchar(50), @VoucherTypeID as nvarchar(50) , @Status  as tinyint, @WareHouseID as nvarchar(50) ,
	@IsWareHouse_New as tinyint, @IsWareHouse_Old as tinyint, @ObjectID as nvarchar(50),
	@TableID NVARCHAR(50)

--DECLARE @IsProduct TINYINT
--SET @IsProduct = 1
Set @_Cur = Cursor Scroll KeySet For

Select	Ins.VoucherID,Ins.TranMonth ,Ins.TranYear , Ins.DivisionID , Ins.CurrencyID , Ins.VoucherNo , Ins.VoucherDate , Ins.EmployeeID , 
		Ins.Description ,  Ins.LastModifyUserID , Ins.LastModifyDate ,  Ins.ResultTypeID , Ins.InventoryTypeID , Ins.VoucherTypeID ,
		Ins.WareHouseID , isnull(Ins.IsWareHouse,0), isnull(Del.IsWareHouse,0), Ins.ObjectID, Ins.TableID
From Inserted  Ins 
inner join Deleted Del  on Del.VoucherID = Ins.VoucherID AND Ins.DivisionID = Del.DivisionID

Open @_Cur
Fetch Next From @_Cur Into 	@VoucherID,@TranMonth ,@TranYear , @DivisionID , @CurrencyID , @VoucherNo , @VoucherDate , @EmployeeID , 
				@Description , @LastModifyUserID , @LastModifyDate ,  @ResultTypeID , @InventoryTypeID ,@VoucherTypeID ,  
				@WareHouseID , @IsWareHouse_New, @IsWareHouse_Old, @ObjectID, @TableID
 
WHILE @@Fetch_Status = 0
	Begin 
		If @ResultTypeID ='R01'  and @IsWareHouse_Old = 1 and @IsWareHouse_New = 1 AND Isnull(@TableID,'') <> 'AT2006'
			Begin  --- Update
				Update AT2006
					Set  	--CurrencyID = @CurrencyID, 
						VoucherNo = @VoucherNo, 
						VoucherDate = @VoucherDate, 
						EmployeeID = @EmployeeID, 
						Description = @Description, 
						LastModifyUserID =@LastModifyUserID,
						LastModifyDate = @LastModifyDate, 
						--InventoryTypeID = @InventoryTypeID,
						WareHouseID =	@WareHouseID,
						ObjectID = @ObjectID

				Where 	VoucherID =  @VoucherID  and  DivisionID = @DivisionID  and TranMonth = @TranMonth and TranYear = @TranYear  and TableID = 'MT0810'
 
			End
		Else
		If @ResultTypeID ='R01'  and @IsWareHouse_Old = 1 and @IsWareHouse_New = 0 AND Isnull(@TableID,'') <> 'AT2006'
			Begin  --- Delete
				Delete  AT2006 
				Where 	VoucherID =  @VoucherID  and  DivisionID = @DivisionID  and TranMonth = @TranMonth and TranYear = @TranYear and TableID = 'MT0810'
			End
		Else
		If @ResultTypeID ='R01'  and @IsWareHouse_Old = 0 and @IsWareHouse_New = 1 AND Isnull(@TableID,'') <> 'AT2006'
			Begin  --- Insert
			Insert into AT2006 (	 VoucherID, TableID ,TranMonth ,  TranYear ,   DivisionID,
					 VoucherTypeID,  VoucherDate ,VoucherNo    ,
					  WareHouseID ,   KindVoucherID,
					 Status, EmployeeID,    Description,   CreateDate ,   CreateUserID  ,  
					 LastModifyUserID ,LastModifyDate, ObjectID  )	

			Values  (	 @VoucherID, 'MT0810' ,@TranMonth ,  @TranYear ,   @DivisionID,
					 @VoucherTypeID,  @VoucherDate , @VoucherNo   , 
					 @WareHouseID , 1 , 0	, @EmployeeID,    @Description,   @LastModifyDate, @LastModifyUserID , 
					@LastModifyUserID , @LastModifyDate, @ObjectID  )	


			End
			
		Fetch Next From @_Cur Into 	@VoucherID,@TranMonth ,@TranYear , @DivisionID , @CurrencyID , @VoucherNo , @VoucherDate , @EmployeeID , 
				@Description , @LastModifyUserID , @LastModifyDate ,  @ResultTypeID , @InventoryTypeID ,@VoucherTypeID ,  
				@WareHouseID , @IsWareHouse_New, @IsWareHouse_Old, @ObjectID, @TableID


	End

Close @_Cur

--- Viet customize cho Viet Linh: xóa phiếu xuất kho tự động khi sửa KQSX nhập kho
IF (Select CustomerName from CustomerIndex) = 96
BEGIN
	If exists (select top 1 1 from Inserted Ins inner join AT2006 WITH (NOLOCK) on isnull(AT2006.OrderID,'') = Ins.VoucherID and isnull(AT2006.OrderID,'') <> '' and AT2006.DivisionID = @DivisionID)
	Begin
		DECLARE @PeriodID NVARCHAR(50),
				@ApportionID NVARCHAR(50)

		Select	@VoucherID =  Ins.VoucherID, @TranMonth = Ins.TranMonth , @TranYear = Ins.TranYear , @DivisionID =  Ins.DivisionID ,  @VoucherNo = AT2006.VoucherNo ,
				@VoucherDate =  Ins.VoucherDate , @PeriodID = Ins.PeriodID,  @ApportionID = Ins.ApportionID
		From Inserted  Ins
		inner join Deleted Del on Del.VoucherID = Ins.VoucherID and Del.DivisionID = Ins.DivisionID
		inner join AT2006 WITH (NOLOCK) on isnull(AT2006.OrderID,'') = Ins.VoucherID and AT2006.DivisionID = Ins.DivisionID

		Delete  AT2007
		From AT2007
		inner join AT2006 WITH (NOLOCK) on AT2006.DivisionID = AT2007.DivisionID And AT2006.VoucherID = AT2007.VoucherID
		where isnull(AT2006.OrderID,'') = @VoucherID
		
		Delete  AT2006 where AT2006.DivisionID = @DivisionID and Isnull(AT2006.OrderID,'') = @VoucherID		
	end
END