IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MZ1001]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[MZ1001]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


-- Created by Ho�ng Th� Lan 
-- Date 04/02/2004
-- Purpose : Chuy�n KQSX  sang AsoftT
-- Last updated by Nguyen Van Nhan , Date 20/08/2004
-- Update by: Dang Le Bao Quynh; Date: 17/06/2008
-- Purpose: Cap nhat truong ProductID1
--Update by: Thuy Tuyen ; date 07/04/2010
--Purpose: cap nhat thong tin DVT Qui doi
---- Modified on 17/01/2012 by Le Thi Thu Hien : JOIN them DivisionID
--Edit by: Trần Lê Thiên Huỳnh; Date: 06/06/2012: Bổ sung 5 Khoản mục Ana06ID - Ana10ID
---- Modified on 16/08/2013 by Le Thi Thu Hien : Bo sung ISNULL (@OriginalAmount,@ConvertedAmount)
---- Modified by Tiểu Mai on 12/01/2016: Bổ sung innsert ProductID cho AT2007
---- Modified by Tiểu Mai on 03/03/2016: Bổ sung kiểm tra TableID (ANGLE)
---- Modified by Kim Vu on 19/04/2016: Fix bug kiem tra Isnull(TableID)
---- Modified by Tiểu Mai on 23/08/2016: Fix bug không update dữ liệu kho
---- Modified by Kim Thư on 21/03/2019: Sắp xếp lại thứ tự where theo index để cải thiện tốc độ

CREATE TRIGGER [dbo].[MZ1001] ON [dbo].[MT1001] 
FOR UPDATE
AS
DECLARE  @sSQL AS nvarchar(4000),
	@_Cur AS cursor ,
	@TransactionID AS nvarchar(50), @VoucherID AS nvarchar(50),		@TranMonth AS int  ,  @TranYear  AS int , 
	@DivisionID  AS nvarchar(50),	@InventoryID AS nvarchar(50) ,  @Quantity AS Decimal(28,8)   ,                
	@UnitID  AS nvarchar(50) ,		@Price  AS Decimal(28,8),  @OriginalAmount  AS Decimal(28,8)    ,  @ConvertedAmount  AS Decimal(28,8) ,
	@Status  AS tinyint,			@Note  AS nvarchar(250)  , @ProductID AS nvarchar(50) , @ProductID1 AS nvarchar(50) ,
	@DebitAccountID AS nvarchar(50)  ,     @CreditAccountID  AS nvarchar(50) , @VoucherTypeID  AS nvarchar(50) , 
	@IsWareHouse AS  tinyint ,	@ResultTypeID AS nvarchar(50),	@SourceNo AS nvarchar(50), @LimitDate AS datetime,
	@Ana01ID nvarchar(50),		@Ana02ID nvarchar(50),			@Ana03ID nvarchar(50),	@Ana04ID nvarchar(50),		@Ana05ID nvarchar(50),
	@Ana06ID nvarchar(50),		@Ana07ID nvarchar(50),			@Ana08ID nvarchar(50),	@Ana09ID nvarchar(50),		@Ana10ID nvarchar(50),
	@TransferPeriodID AS nvarchar(50),
	@VoucherNo AS nvarchar(50),
	@VoucherDate AS datetime,
	@CurrencyID AS nvarchar(50),
	@ObjectID AS nvarchar(50),
	@VDescription AS nvarchar(250),
	@TDescription AS nvarchar(250),
	@EmployeeID  nvarchar(50),
	@UserID  nvarchar(50),
	@Parameter01    AS Decimal(28,8)  ,     @Parameter02 AS Decimal(28,8),				@Parameter03 AS Decimal(28,8),          @Parameter04  AS Decimal(28,8),   
   	@Parameter05  AS Decimal(28,8),			@ConvertedQuantity AS Decimal(28,8) ,		@ConvertedPrice  AS Decimal(28,8),         @ConvertedUnitID  AS nvarchar(50)    ,
   	@MOrderID AS VARCHAR(50), 
	@SOrderID AS VARCHAR(50), @TableID NVARCHAR(50), @PeriodID as NVARCHAR(50),
	@S01ID NVARCHAR(50), @S02ID NVARCHAR(50), @S03ID NVARCHAR(50), @S04ID NVARCHAR(50), @S05ID NVARCHAR(50), 
	@S06ID NVARCHAR(50), @S07ID NVARCHAR(50), @S08ID NVARCHAR(50), @S09ID NVARCHAR(50), @S10ID NVARCHAR(50), 
	@S11ID NVARCHAR(50), @S12ID NVARCHAR(50), @S13ID NVARCHAR(50), @S14ID NVARCHAR(50), @S15ID NVARCHAR(50), 
	@S16ID NVARCHAR(50), @S17ID NVARCHAR(50), @S18ID NVARCHAR(50), @S19ID NVARCHAR(50), @S20ID NVARCHAR(50)



SET @_Cur = CURSOR SCROLL KEYSET FOR
SELECT	 Deleted.TransactionID ,	Deleted.VoucherID,			Deleted.TranMonth ,			Deleted.TranYear ,				Deleted.DivisionID  ,  Deleted.InventoryID ,   Deleted.Quantity   ,                
   		 Deleted.UnitID  ,			Deleted.Price ,				Deleted.OriginalAmount,		Deleted.ConvertedAmount  ,     Deleted.Status ,      Deleted.Note   , Deleted.ProductID ,
		 Deleted.DebitAccountID  ,  Deleted.CreditAccountID,	MT0810.IsWareHouse ,		MT0810.ResultTypeID,			deleted.SourceNo, deleted.LimitDate, Isnull(MT0810.TableID,'') as TableID


FROM		Deleted   
INNER JOIN	MT0810 
	ON		Deleted.VoucherID = MT0810.VoucherID AND MT0810.DivisionID = Deleted.DivisionID
WHERE		MT0810.DivisionID = Deleted.DivisionID

OPEN @_Cur


FETCH NEXT FROM @_Cur INTO 	@TransactionID ,	@VoucherID,			@TranMonth ,	@TranYear ,		@DivisionID  ,			@InventoryID ,		@Quantity   ,                
   							@UnitID  ,			@Price ,			@OriginalAmount     ,			@ConvertedAmount  ,		@Status ,			@Note   , @ProductID ,
		 					@DebitAccountID  ,  @CreditAccountID ,	@IsWareHouse ,	@ResultTypeID,	@SourceNo,				@LimitDate, @TableID
				


WHILE @@Fetch_Status = 0
	BEGIN 
		IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1) ---- Quản lý theo quy cách
		BEGIN 
				DELETE WT8899
				WHERE DivisionID = @DivisionID
					AND VoucherID = @VoucherID
					AND TransactionID = @TransactionID
					and TableID = 'AT2007'
		END 
		IF @IsWareHouse = 1 and @ResultTypeID = 'R01' AND @TableID <> 'AT2006'
			DELETE  AT2007
			WHERE	DivisionID = @DivisionID
					AND VoucherID = @VoucherID 
					AND TransactionID =  @TransactionID 

		FETCH NEXT FROM @_CUR INTO	@TransactionID ,  @VoucherID, @TranMonth ,  @TranYear ,    @DivisionID  ,  @InventoryID ,   @Quantity   ,                
   					@UnitID  ,   @Price , @OriginalAmount     ,  @ConvertedAmount  ,    @Status ,      @Note   , @ProductID ,
		 			@DebitAccountID  ,     @CreditAccountID  ,@IsWareHouse , @ResultTypeID, @SourceNo, @LimitDate, @TableID
				
	END 
CLOSE @_Cur
	
DEALLOCATE	 @_Cur

SET @_Cur = CURSOR SCROLL KEYSET FOR
SELECT	Inserted.TransactionID ,  Inserted.VoucherID, Inserted.TranMonth ,  Inserted.TranYear ,    Inserted.DivisionID  ,  Inserted.InventoryID ,   Inserted.Quantity   ,                
   		Inserted.UnitID  ,   Inserted.Price , Inserted.OriginalAmount     ,  Inserted.ConvertedAmount  ,     Inserted.Status ,      Inserted.Note   , Inserted.ProductID , 
		Inserted.DebitAccountID  ,     Inserted.CreditAccountID, MT0810.IsWareHouse , MT0810.ResultTypeID , Inserted.SourceNo, Inserted.LimitDate,
		Inserted.Ana01ID, Inserted.Ana02ID, Inserted.Ana03ID, Inserted.Ana04ID, Inserted.Ana05ID,
		Inserted.Ana06ID, Inserted.Ana07ID, Inserted.Ana08ID, Inserted.Ana09ID, Inserted.Ana10ID,
		Inserted.Parameter01     ,      Inserted.Parameter02 ,        Inserted.Parameter03 ,         Inserted.Parameter04  ,   
   		Inserted.Parameter05  ,     Inserted.ConvertedQuantity  ,     Inserted.ConvertedPrice  ,         Inserted.ConvertedUnitID,
   		INSERTED.MOrderID ,			INSERTED.SOrderID, Isnull(MT0810.TableID,'') as TableID, MT0810.PeriodID 

FROM		Inserted  
INNER JOIN	MT0810 ON Inserted.VoucherID = MT0810.VoucherID AND MT0810.DivisionID = Inserted.DivisionID


OPEN @_Cur
FETCH NEXT FROM @_CUR INTO 	@TransactionID ,  @VoucherID, @TranMonth ,  @TranYear ,    @DivisionID  ,  @InventoryID ,   @Quantity   ,                
   				@UnitID  ,				@Price ,			@OriginalAmount     ,  @ConvertedAmount  ,    @Status ,      @Note   , @ProductID , 
		 		@DebitAccountID  ,		@CreditAccountID  ,	@IsWareHouse ,		@ResultTypeID,@SourceNo, @LimitDate,
				@Ana01ID, @Ana02ID, @Ana03ID  , @Ana04ID, @Ana05ID,
				@Ana06ID, @Ana07ID, @Ana08ID  , @Ana09ID, @Ana10ID,
				@Parameter01     ,      @Parameter02 ,      @Parameter03 ,          @Parameter04  ,   
   				@Parameter05  ,			@ConvertedQuantity,	@ConvertedPrice  ,        
				@ConvertedUnitID , @MOrderID,  @SOrderID, @TableID, @PeriodID
WHILE @@Fetch_Status = 0
	BEGIN 
		IF @IsWareHouse = 1 and @ResultTypeID = 'R01' AND @TableID <> 'AT2006'
		INSERT INTO AT2007 (	TransactionID ,  VoucherID ,  InventoryID ,   UnitID   ,   ActualQuantity  ,      UnitPrice ,
					OriginalAmount , ConvertedAmount ,  Notes ,    TranMonth ,  TranYear  ,  DivisionID ,       
					DebitAccountID , CreditAccountID, SourceNo, LimitDate,
					Ana01ID, Ana02ID, Ana03ID, Ana04ID, Ana05ID, 
					Ana06ID, Ana07ID, Ana08ID, Ana09ID, Ana10ID, 
					Parameter01     ,      Parameter02 ,         Parameter03 ,        Parameter04  ,   
   					Parameter05  ,     ConvertedQuantity  ,     ConvertedPrice  ,         ConvertedUnitID ,
   					MOrderID,			SOrderID , ProductID , PeriodID   )	    

		VALUES  (	@TransactionID , @VoucherID , @ProductID  ,   @UnitID   ,   @Quantity  ,      @Price ,
					ISNULL(@OriginalAmount,@ConvertedAmount) , @ConvertedAmount ,  @Note ,    @TranMonth ,  @TranYear  ,  @DivisionID ,       
					@DebitAccountID , @CreditAccountID,@SourceNo, @LimitDate,
					@Ana01ID, @Ana02ID, @Ana03ID,@Ana04ID, @Ana05ID, 
					@Ana06ID, @Ana07ID, @Ana08ID,@Ana09ID, @Ana10ID, 
					@Parameter01     ,      @Parameter02 ,         @Parameter03 ,          @Parameter04  ,   
   					@Parameter05  ,     @ConvertedQuantity  ,     @ConvertedPrice  ,         @ConvertedUnitID,
					@MOrderID,			@SOrderID, @ProductID, @PeriodID )		
	

		FETCH NEXT FROM @_CUR INTO	@TransactionID ,  @VoucherID, @TranMonth ,  @TranYear ,    @DivisionID  ,  @InventoryID ,   @Quantity   ,                
   							@UnitID  ,   @Price , @OriginalAmount     ,  @ConvertedAmount  ,    @Status ,      @Note   , @ProductID ,
		 					@DebitAccountID  ,     @CreditAccountID  ,@IsWareHouse , @ResultTypeID,@SourceNo, @LimitDate,
							@Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID ,
							@Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID ,
							@Parameter01     ,      @Parameter02 ,         @Parameter03 ,          @Parameter04  ,   
   							@Parameter05  ,     @ConvertedQuantity  ,     @ConvertedPrice  ,         @ConvertedUnitID ,
   							@MOrderID,			@SOrderID , @TableID , @PeriodID
	END 

CLOSE @_Cur
DEALLOCATE	 @_Cur



-----------------------------------------------  Xu ly cho  bang MT900000

SET @_Cur = CURSOR SCROLL KEYSET FOR
SELECT		Inserted.TransactionID ,  Inserted.VoucherID,  Inserted.TranMonth ,   Inserted.TranYear ,   Inserted.DivisionID  ,   Inserted.InventoryID ,  Inserted.Quantity,                  
   			Inserted.UnitID  ,    Inserted.Price  ,  Inserted.OriginalAmount     ,    Inserted.ConvertedAmount  ,  Inserted.Status ,  Inserted.Note   ,  Inserted.ProductID ,Inserted.ProductID1,
			Inserted.DebitAccountID  ,      Inserted.CreditAccountID,MT0810.IsWareHouse , MT0810.ResultTypeID,Inserted.SourceNo,Inserted.LimitDate,
			Inserted.Ana01ID, Inserted.Ana02ID, Inserted.Ana03ID,Inserted.Ana04ID, Inserted.Ana05ID, 
			Inserted.Ana06ID, Inserted.Ana07ID, Inserted.Ana08ID,Inserted.Ana09ID, Inserted.Ana10ID, 
			MT0810.TransferPeriodID, MT0810.VoucherNo, VoucherDate, CurrencyID, ObjectID, MT0810.Description , Inserted.Note,
			EmployeeID,  MT0810.CreateUserID, VoucherTypeID
FROM		Inserted  
INNER JOIN	MT0810 on Inserted.VoucherID = MT0810.VoucherID AND MT0810.DivisionID = Inserted.DivisionID


Open @_Cur
Fetch Next From @_Cur Into 	@TransactionID ,  @VoucherID, @TranMonth ,  @TranYear ,    @DivisionID  ,  @InventoryID ,   @Quantity   ,                
   				 @UnitID  ,   @Price , @OriginalAmount     ,  @ConvertedAmount  ,    @Status ,      @Note   , @ProductID , @ProductID1, 
		 		@DebitAccountID  ,     @CreditAccountID ,@IsWareHouse , @ResultTypeID,@SourceNo,@LimitDate,
				@Ana01ID, 	@Ana02ID, 	@Ana03ID,@Ana04ID, @Ana05ID,  
				@Ana06ID, 	@Ana07ID, 	@Ana08ID,@Ana09ID, @Ana10ID,  
				@TransferPeriodID, @VoucherNo , @VoucherDate, @CurrencyID, @ObjectID, @VDescription, @TDescription,
				@EmployeeID,  @UserID, @VoucherTypeID
	

WHILE @@Fetch_Status = 0
	BEGIN 

			UPDATE MT9000 	
			SET  			VoucherTypeID =@VoucherTypeID , 
							VoucherNo=@VoucherNo, 
							VoucherDate =@VoucherDate, 
							PeriodID=@TransferPeriodID, 
							InventoryID=@ProductID, 
							ProductID = @ProductID1,
							UnitID=@UnitID, 
							Quantity=@Quantity, 
							UnitPrice=@Price, 
							OriginalAmount=@ConvertedAmount, 
							ConvertedAmount =@ConvertedAmount, 
							DebitAccountID =@DebitAccountID, 
							CreditAccountID= @CreditAccountID, 
							ObjectID=@ObjectID, 
							VDescription=@VDescription, 
							TDescription=@TDescription, 
							EmployeeID=@EmployeeID,  
							LastModifyDate =getdate(), 
							LastModifyUserID =@UserID, 
							Ana01ID =@Ana01ID, 
							Ana02ID =@Ana02ID, 
							Ana03ID =@Ana03ID,
							Ana04ID =@Ana04ID, 
							Ana05ID =@Ana05ID,
							Ana06ID =@Ana06ID, 
							Ana07ID =@Ana07ID, 
							Ana08ID =@Ana08ID,
							Ana09ID =@Ana09ID, 
							Ana10ID =@Ana10ID
			 WHERE			DivisionID = @DivisionID
							AND TableID ='MT0810' 
							AND TransactionTypeID='T81'	
							AND TransactionID =@TransactionID 



		FETCH NEXT FROM @_Cur INTO 	@TransactionID ,  @VoucherID, @TranMonth ,  @TranYear ,    @DivisionID  ,  @InventoryID ,   @Quantity   ,                
   					@UnitID  ,   @Price , @OriginalAmount     ,  @ConvertedAmount  ,    @Status ,      @Note   , @ProductID , @ProductID1, 
		 			@DebitAccountID  ,     @CreditAccountID ,@IsWareHouse , @ResultTypeID,@SourceNo,@LimitDate,
					@Ana01ID, 	@Ana02ID, 	@Ana03ID,@Ana04ID, @Ana05ID, 
					@Ana06ID, 	@Ana07ID, 	@Ana08ID,@Ana09ID, @Ana10ID, 
					@TransferPeriodID, @VoucherNo , @VoucherDate, @CurrencyID, @ObjectID, @VDescription, @TDescription,
					@EmployeeID,  @UserID, @VoucherTypeID
	END 

CLOSE @_Cur
DEALLOCATE	 @_Cur

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

