/****** Object:  Trigger [dbo].[MZ2006]    Script Date: 08/04/2010 16:36:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created by Nguyen Quoc Huy
--- Date 24/11/2006
/********************************************
'* Edited by: [GS] [Tố Oanh] [04/08/2010]
'********************************************/

ALTER TRIGGER [dbo].[MZ2006]  ON [dbo].[MT2006]
FOR Update As

----DELETE
Declare		@Cursor		Cursor

Declare  @PlanDetailID 	nvarchar(50),
	@DivisionID		nVarchar(50),	
	@PlanID		nVarchar(50), 		
	@TranYear		Int,		
	@TranMonth		int,
	@InventoryID		nVarchar(50),	
	@UnitID		nVarchar(50),
	@ApportionID		nvarchar(50),
	@PlanQuantity	Decimal(28,8),		
	@Notes			nVarchar(250),
	@LinkNo			nvarchar(50),
	@DepartmentID         nvarchar(50),
	@LevelID               nvarchar(50),
	@WorkID                nvarchar(50),
	@RefInfor	nvarchar(250),
	@BeginDate	Datetime,
	@IsApportionID tinyint

	

Set @Cursor = Cursor Scroll KeySet For
Select 	DivisionID, PlanDetailID
From 	Deleted

Open @Cursor
Fetch Next From @Cursor Into @DivisionID, @PlanDetailID

While @@FETCH_STATUS = 0
Begin	
	
	DELETE MT2016 Where DivisionID = @DivisionID and RePlanDetailID = @PlanDetailID

	Fetch Next From @Cursor Into @DivisionID, @PlanDetailID
                          
End
Close @Cursor
DeAllocate @Cursor
--INSERT


Set @Cursor = Cursor Scroll KeySet For
Select 		ins.PlanDetailID, ins.DivisionID, ins.PlanID, 
		ins.TranYear, ins.TranMonth,  
		ins.InventoryID, ins.UnitID,  ins.ApportionID,
		PlanQuantity,ins.Notes, Ins.LinkNo, 
		Ins.DepartmentID, Ins.LevelID,Ins.WorkID,
		Ins.RefInfor, Ins.BeginDate, Ins.IsApportionID				

From 	inserted ins 	


Open @Cursor
Fetch Next From @Cursor Into @PlanDetailID, @DivisionID, @PlanID, @TranYear, @TranMonth,   
		@InventoryID, @UnitID,  @ApportionID,	@PlanQuantity, @Notes,	
		@LinkNo, @DepartmentID, @LevelID,@WorkID,
		@RefInfor,@BeginDate,@IsApportionID
                                         

While @@FETCH_STATUS = 0
Begin	

	Exec 	MP0522  @PlanDetailID, @DivisionID, @PlanID, @TranYear, @TranMonth,  
			@InventoryID, @UnitID,@ApportionID,@PlanQuantity, @Notes,		
			@LinkNo, @DepartmentID, @LevelID, @WorkID,
			@RefInfor,@BeginDate,@IsApportionID 
						--1 theo bo dinh muc Asoft-T
						--2 theo bo dinh muc Asoft-M


	Fetch Next From @Cursor Into @PlanDetailID, @DivisionID, @PlanID, @TranYear, @TranMonth,   
		@InventoryID, @UnitID,  @ApportionID,	@PlanQuantity, @Notes,	
		@LinkNo, @DepartmentID, @LevelID,@WorkID, 
		@RefInfor,@BeginDate,@IsApportionID
                          
End
Close @Cursor
DeAllocate @Cursor

