IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OX2002]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[OX2002]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Cap nhat hang giu cho vao bang OT2008, truong hop Xoa
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 31/08/2004 by Nguyen Van Nhan AND Vo Thanh Huong
---- 
---- Modified on 17/01/2012 by Le Thi Thu Hien : WHERE them DivisionID
---- Modified on 11/02/2014 by Bảo Anh : Cập nhật trạng thái mặt hàng (customize Sinolife)
---- Modified by Tiểu Mai on 18/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
-- <Example>
----


CREATE TRIGGER [dbo].[OX2002] ON [dbo].[OT2002] 
FOR DELETE
AS

Declare 	@OT2008_cur AS cursor,
			@WareHouseID nvarchar(50),
			@DivisionID AS nvarchar(50),
			@InventoryID AS nvarchar(50),
			@SQuantity AS Decimal(28,8),
			@IsPicking AS tinyint, 
			@SOrderID AS nvarchar(50)
	
Set @OT2008_cur = cursor scroll Keyset For
	SELECT	Del.SOrderID, Del.WareHouseID, Del.DivisionID, InventoryID, isnull(OrderQuantity,0) , IsPicking
	FROM	Deleted Del 
	INNER JOIN OT2001 WITH (NOLOCK) on OT2001.SOrderID = Del.SOrderID AND OT2001.DivisionID = Del.DivisionID
	WHERE	ISNULL(Del.WareHouseID,'') <> ''
			AND OT2001.DivisionID = Del.DivisionID

Open @OT2008_cur
FETCH NEXT FROM @OT2008_cur into @SOrderID, @WareHouseID, @DivisionID, @InventoryID, @SQuantity, @IsPicking
While @@Fetch_status =0
 BEGIN
	If @IsPicking <>0
	IF NOT EXISTS (SELECT TOP 1 1 FROM OT2008 WITH (NOLOCK) WHERE DivisionID = @DivisionID AND InventoryID = @InventoryID AND WareHouseID = @WareHouseID)
		 INSERT OT2008 ( WareHouseID, DivisionID, InventoryID, SQuantity, PQuantity)
		 VALUES (@WareHouseID, @DivisionID, @InventoryID, - @SQuantity, 0)
	ELSE
		UPDATE	OT2008 
		SET		SQuantity = SQuantity - @SQuantity
		WHERE	DivisionID = @DivisionID AND InventoryID = @InventoryID AND WareHouseID = @WareHouseID
	
	FETCH NEXT FROM @OT2008_cur into @SOrderID, @WareHouseID, @DivisionID, @InventoryID, @SQuantity, @IsPicking

 End

Close @OT2008_cur

--- Customize Sinolife: cập nhật trạng thái mặt hàng (là ghi chú của MPT8)
Declare @Ana08ID nvarchar(50)
Declare @AP4444 Table(CustomerName Int, Export Int)
Insert Into @AP4444(CustomerName,Export) EXEC('AP4444')
IF (SELECT CustomerName From @AP4444) = 20
BEGIN
	SELECT @Ana08ID = Isnull(Ana08ID,''), @DivisionID = DivisionID From Deleted

	IF @Ana08ID <> ''
		UPDATE AT1011
		SET Notes = N'1'
		WHERE DivisionID IN (@DivisionID,'@@@') AND AnaTypeID = 'A08' AND AnaID = @Ana08ID
END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON

