IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OY1305]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[OY1305]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Insert vao AT1302
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 26/12/2005 by Vo Thanh Huong
---- 
---- Modified on 17/01/2012 by Le Thi Thu Hien : WHERE them DivisionID
---- Modified on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
-- <Example>
----


CREATE TRIGGER [dbo].[OY1305] ON [dbo].[OT1305] 
FOR INSERT
AS
DECLARE @Cur cursor,
		@InventoryID nvarchar(50),
		@InventoryName nvarchar(250),
		@UnitID nvarchar(50),
		@AccountID nvarchar(50),
		@MethodID tinyint,
		@InventoryTypeID nvarchar(50),
		@UnitPrice decimal(28,8),
		@DivisionID NVARCHAR(50)

Set @cur = CURSOR SCROLL KEYSET FOR
		SELECT	DivisionID,ProductID, ProductName, ProductTypeID, PUnitID, AccountID, MethodID, UnitPrice
		FROM	Inserted
OPEN @cur
FETCH NEXT FROM @cur into @DivisionID , @InventoryID, @InventoryName,  @InventoryTypeID, @UnitID, @AccountID, @MethodID, @UnitPrice

WHILE @@FETCH_STATUS = 0
BEGIN
	
	IF NOT EXISTS (SELECT TOP 1 1 FROM AT1302 WHERE DivisionID IN (@DivisionID,'@@@') AND InventoryID = @InventoryID)
		INSERT AT1302(DivisionID, InventoryID, InventoryName, InventoryTypeID, UnitID, AccountID, MethodID, IsStocked, SalePrice01)
		VALUES(@DivisionID , @InventoryID, @InventoryName,  @InventoryTypeID, @UnitID, @AccountID, @MethodID, 1, @UnitPrice)
	ELSE 
		UPDATE	AT1302 
		SET		InventoryName = @InventoryName,
				InventoryTypeID = @InventoryTypeID,
				UnitID = @UnitID,
				AccountID = @AccountID,
				MethodID = @MethodID,
				SalePrice01 = @UnitPrice					
		WHERE  InventoryID = @InventoryID
				AND DivisionID IN (@DivisionID,'@@@')

	FETCH NEXT FROM @cur INTO @DivisionID , @InventoryID, @InventoryName,  @InventoryTypeID, @UnitID, @AccountID, @MethodID, @UnitPrice
END
CLOSE @cur
DEALLOCATE @cur

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

