IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OY3002]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[OY3002]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Cap nhat OT2008
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 31/08/2004 by Vo Thanh Huong
---- 
---- Modified on 17/01/2012 by Le Thi Thu Hien : WHERE them DivisionID
-- <Example>
----


CREATE TRIGGER [dbo].[OY3002] ON [dbo].[OT3002] 
FOR INSERT
AS
Declare @OT2008_cur AS cursor,
		@PQuantity AS decimal(28,8),
		@InventoryID AS nvarchar(50),
		@WareHouseID AS nvarchar(50),
		@DivisionID AS nvarchar(50), 
		@IsPicking AS tinyint,
		@POrderID nvarchar(50)

SET @OT2008_cur = cursor scroll keyset for
		SELECT	Ins.POrderID, Ins.DivisionID, WareHouseID, InventoryID, OrderQuantity, IsPicking
		FROM	Inserted Ins 
		INNER JOIN OT3001 on Ins.POrderID = OT3001.POrderID AND OT3001.DivisionID = Ins.DivisionID
		WHERE	ISNULL(WareHouseID,'') <> ''
				AND OT3001.DivisionID = Ins.DivisionID

OPEN @OT2008_cur 
FETCH NEXT FROM @OT2008_cur INTO @POrderID, @DivisionID, @WareHouseID, @InventoryID, @PQuantity , @IsPicking
While @@Fetch_Status = 0
BEGIN
	
	IF @IsPicking <>0 	
		IF NOT EXISTS(SELECT TOP 1 1 FROM OT2008 WHERE	DivisionID = @DivisionID 
														AND WareHouseID = @WareHouseID 
														AND	InventoryID = @InventoryID) 
		INSERT OT2008(DivisionID, WarehouseID, InventoryID, SQuantity, PQuantity) 
		VALUES		(@DivisionID, @WarehouseID, @InventoryID, 0, @PQuantity)
	ELSE
		UPDATE	OT2008 
		SET		PQuantity = PQuantity + @PQuantity 
		WHERE	DivisionID = @DivisionID 
				AND WareHouseID = @WareHouseID 
				AND InventoryID = @InventoryID

	 
	FETCH NEXT FROM @OT2008_cur into @POrderID, @DivisionID, @WareHouseID, @InventoryID, @PQuantity , @IsPicking
END 

Close @OT2008_cur

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

