IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OZ1005]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[OZ1005]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
---- Cap nhat du lieu bang AT6000 phuc vu báo cáo phân tích tài chính
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 06/07/2005 by Vo Thanh Huong
---- 
---- Modified on 17/01/2012 by Le Thi Thu Hien : WHERE them DivisionID
-- <Example>
----


CREATE TRIGGER  [dbo].[OZ1005]  ON [dbo].[OT1005] 
FOR UPDATE
AS

UPDATE	AT6000 
SET		Description = ins.UserName
FROM	Inserted Ins  
INNER JOIN AT6000 on AT6000.Code = Ins.AnaTypeID AND Ins.DivisionID = AT6000.DivisionID
WHERE	Ins.DivisionID = AT6000.DivisionID

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

