IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OZ1305]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[OZ1305]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Insert vao AT1302 
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 26/12/2005 by Vo Thanh Huong
---- 
---- Modified by Le Thi Thu Hien on 17/01/2012 : WHERE them DivisionID
---- Modified by TIểu Mai on 24/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
-- <Example>
----

CREATE TRIGGER [dbo].[OZ1305] ON [dbo].[OT1305] 
FOR UPDATE
AS
DECLARE @cur cursor,
		@InventoryID_Old nvarchar(50),
		@InventoryID nvarchar(50),
		@InventoryName nvarchar(250),
		@UnitID nvarchar(50),
		@InventoryTypeID nvarchar(50),
		@MethodID tinyint,
		@AccountID nvarchar(50),
		@UnitPrice decimal(28,8),
		@DivisionID nvarchar(50)

SET @cur = CURSOR SCROLL KEYSET FOR
		SELECT  Ins.DivisionID, Del.ProductID, Ins.ProductID, Ins.ProductName, Ins.ProductTypeID, Ins.PUnitID,
				Ins.AccountID, Ins.MethodID, Ins.UnitPrice 
		FROM	Inserted Ins 
		INNER JOIN Deleted Del on Del.TransactionID = Ins.TransactionID AND Ins.DivisionID = Del.DivisionID

OPEN @cur
FETCH NEXT FROM @cur INTO @DivisionID, @InventoryID_Old, @InventoryID, @InventoryName, @InventoryTypeID, 
							@UnitID, @AccountID, @MethodID, @UnitPrice

WHILE @@FETCH_STATUS = 0 
BEGIN
	IF @InventoryID_Old = @InventoryID
		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1302 WHERE InventoryID = @InventoryID AND DivisionID IN (@DivisionID,'@@@'))
			INSERT AT1302(DivisionID, InventoryID, InventoryName, InventoryTypeID, UnitID, AccountID, MethodID, IsStocked, SalePrice01)
			VALUES(@DivisionID , @InventoryID, @InventoryName,  @InventoryTypeID, @UnitID, @AccountID, @MethodID,1, @UnitPrice)

		ELSE	
			UPDATE	AT1302 
			SET		InventoryName = @InventoryName,
					InventoryTypeID = @InventoryTypeID,
					UnitID = @UnitID,
					AccountID = @AccountID,
					SalePrice01 = @UnitPrice
			 WHERE  InventoryID = @InventoryID
					AND DivisionID IN (@DivisionID,'@@@')
	ELSE
	BEGIN
		IF NOT EXISTS (SELECT TOP 1 1 FROM AT2008 WITH (NOLOCK)  WHERE InventoryID = @InventoryID_Old AND DivisionID = @DivisionID)
		IF NOT EXISTS (SELECT TOP 1 1 FROM OT2002 WITH (NOLOCK)  WHERE InventoryID = @InventoryID_Old AND DivisionID = @DivisionID)
		IF NOT EXISTS (SELECT TOP 1 1 FROM OT3002 WITH (NOLOCK)  WHERE InventoryID = @InventoryID_Old AND DivisionID = @DivisionID)
		IF NOT EXISTS (SELECT TOP 1 1 FROM OT2102 WITH (NOLOCK)  WHERE InventoryID = @InventoryID_Old AND DivisionID = @DivisionID)
		IF NOT EXISTS (SELECT TOP 1 1 FROM OT2202 WITH (NOLOCK)  WHERE ProductID = @InventoryID_Old AND DivisionID = @DivisionID)
		IF NOT EXISTS (SELECT TOP 1 1 FROM OT2203 WITH (NOLOCK)  WHERE MaterialID = @InventoryID_Old AND DivisionID = @DivisionID)
		IF NOT EXISTS (SELECT TOP 1 1 FROM OT1305 WITH (NOLOCK)  WHERE ProductID  = @InventoryID_Old AND DivisionID = @DivisionID)
		
		DELETE AT1302  WHERE InventoryID = @InventoryID_Old  AND DivisionID IN (@DivisionID,'@@@')

		IF NOT EXISTS (SELECT TOP 1 1 FROM AT1302 WHERE InventoryID = @InventoryID)
			INSERT AT1302(DivisionID, InventoryID, InventoryName, InventoryTypeID, UnitID, AccountID, MethodID, IsStocked, SalePrice01)
			VALUES(@DivisionID, @InventoryID, @InventoryName,  @InventoryTypeID, @UnitID, @AccountID, @MethodID,1, @UnitPrice)
		ELSE
			UPDATE	AT1302 
			SET		InventoryName = @InventoryName,
					InventoryTypeID = @InventoryTypeID,
					UnitID = @UnitID,
					AccountID = @AccountID,
					MethodID =@MethodID,
					SalePrice01 = @UnitPrice
			 WHERE  InventoryID = @InventoryID	
					AND DivisionID IN (@DivisionID,'@@@')	
	END

	FETCH NEXT FROM @cur INTO @DivisionID, @InventoryID_Old, @InventoryID, @InventoryName, @InventoryTypeID, 
								@UnitID, @AccountID, @MethodID, @UnitPrice
END
CLOSE @cur
DEALLOCATE @cur


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

