IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OZ2001]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[OZ2001]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- 
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 17/01/2012 by 
---- 
---- Modified on 17/01/2012 by Le Thi Thu Hien : WHERE them DivisionID
---- Modified by Lê Thị Hạnh on 14/10/2014: Bổ sung điều kiện Where DivisionID trong OT0000
---- Modified by Tiểu Mai on 09/06/2016: bổ sung duyệt cho đơn hàng sản xuất
-- <Example>
---- 


CREATE  TRIGGER  [dbo].[OZ2001]  ON [dbo].[OT2001] 
FOR  UPDATE
AS
BEGIN
DECLARE 	@QuotationID_Old nvarchar(50),
			@QuotationID_New nvarchar(50),
			@DivisionID NVARCHAR(50),
			@OrderType TINYINT,	
			@cur cursor


SET @cur =  cursor scroll keyset for 
		SELECT	ISNULL(Del.QuotationID, ''), 
				ISNULL(Ins.QuotationID,'') , Del.DivisionID
		FROM	Deleted Del 
		INNER JOIN	Inserted Ins on Del.SOrderID = Ins.SOrderID AND Del.DivisionID = Ins.DivisionID 

OPEN @cur
FETCH NEXT FROM  @cur INTO  @QuotationID_Old, @QuotationID_New, @DivisionID

WHILE @@FETCH_STATUS = 0
BEGIN
	If  @QuotationID_Old <> @QuotationID_New
		BEGIN
		IF @QuotationID_Old <> ''
			UPDATE	OT2101 
			SET		OrderStatus = 0
			WHERE	OrderStatus = 1 
					AND QuotationID = @QuotationID_Old
					AND DivisionID = @DivisionID
		
		IF  @QuotationID_New <> ''
			UPDATE	OT2101 
			SET		OrderStatus = 1
			WHERE	OrderStatus = 0 
					AND QuotationID = @QuotationID_New
					AND DivisionID = @DivisionID
		END 

	FETCH NEXT FROM  @cur INTO  @QuotationID_Old, @QuotationID_New, @DivisionID
END

/*
If not exists (Select top 1 1 From MT1601 inner join Inserted Ins on Ins.SOrderID = MT1601.PeriodID Where Ins.IsPeriod = 1)
Insert MT1601 (PeriodID, Description, Notes,  
	FromMonth, FromYear, ToMonth, ToYear, 
	CreateDate, CreateUserID, LastModifyDate, LastModifyUserID )
 Select      SOrderID,Notes, Notes, TranMonth, TranYear, TranMonth, TranYear, 
	CreateDate, CreateUserID, LastModifyDate, LastModifyUserID
From Inserted Ins
 Where Ins.IsPeriod = 1
Else
Update MT1601 set 	Description =Ins.Notes,
			Notes  = Ins.Notes,
			FromMonth = Ins.TranMonth, 
			FromYear = Ins.TranYear, 
			ToMonth = Ins.TranMonth, 
			ToYear = Ins.TranYear, 
			LastModifyDate = Ins.LastModifyDate , 
			LastModifyUserID = Ins.LastModifyUserID
From MT1601 inner join Inserted Ins on Ins.SOrderID = MT1601.PeriodID Where Ins.IsPeriod = 1
*/
--Created by:  Thuy Tuyen, date: 28/05/2009
---Purpose: Cap nhat Tinh trang 

IF EXISTS (SELECT TOP 1 1 FROM OT0000 WHERE ISNULL(IsConfirm,0) = 1 AND DivisionID = @DivisionID ) 
BEGIN
	
	UPDATE	OT2001 
	SET		OrderStatus = 1
	FROM	OT2001  T00 
	INNER JOIN Deleted Del on  T00.SOrderID = Del.SOrderID AND T00.DivisionID = Del.DivisionID
	WHERE	T00.IsConfirm = 1 
			AND T00.OrderStatus = 0 
			AND  T00.OrderType = 0
			AND T00.DivisionID = Del.DivisionID

	UPDATE	OT2001 
	SET		OrderStatus = 0
	FROM	OT2001  T00 
	INNER JOIN Deleted Del on T00.SOrderID = Del.SOrderID AND T00.DivisionID = Del.DivisionID
	WHERE	T00.IsConfirm in (0,2,9) 
			AND T00.OrderStatus = 1 
			AND  T00.OrderType = 0
			AND T00.DivisionID = Del.DivisionID
			
	------- Đơn hàng sản xuất
	UPDATE	OT2001 
	SET		OrderStatus = 1
	FROM	OT2001  T00 
	INNER JOIN Inserted Ins on T00.SOrderID = Ins.SOrderID AND T00.DivisionID = Ins.DivisionID
	WHERE	T00.IsConfirm = 1 
			AND T00.OrderStatus = 0 
			AND T00.OrderType = 1
			AND T00.DivisionID = Ins.DivisionID

	UPDATE	OT2001 
	SET		OrderStatus = 0
	FROM	OT2001  T00 
	INNER JOIN Inserted Ins on T00.SOrderID = Ins.SOrderID AND T00.DivisionID = Ins.DivisionID
	WHERE	T00.IsConfirm in (0,2,9) 
			AND T00.OrderStatus = 1 
			AND  T00.OrderType = 1
			AND T00.DivisionID = Ins.DivisionID			

END

END

GO

IF EXISTS (SELECT TOP 1 1 FROM CustomerIndex WITH (NOLOCK) WHERE CustomerName = 57)
BEGIN
	DROP TRIGGER OZ2001
END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

