if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OZ2002]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[OZ2002]
GO

/****** Object:  Trigger [dbo].[OZ2002]    Script Date: 02/16/2011 13:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----- Created by Nguyen Van Nhan and Vo Thanh Huong
---- Created Date 31/08/2004
---- Purpose: Cap nhat hang giu cho vao bang OT2008
---- Modified on 11/02/2014 by Bảo Anh : Cập nhật trạng thái mặt hàng (customize Sinolife)
---- Modified on 17/02/2014 by Bảo Anh : Cập nhật MPT8 sang phiếu bán hàng và xuất kho (customize Sinolife)
---- Modified by Tiểu Mai on 18/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
/********************************************
'* Edited by: [GS] [Mỹ Tuyền] [04/08/2010]
'********************************************/

CREATE TRIGGER [dbo].[OZ2002] ON [dbo].[OT2002] 
FOR UPDATE
AS

Declare 	@OT2008_cur as cursor,
			@WareHouseID_New nvarchar(50),
			@WareHouseID_Old nvarchar(50),
			@DivisionID as nvarchar(50),
			@InventoryID_New as nvarchar(50),
			@InventoryID_Old as nvarchar(50),
			@SQuantity_Old as Decimal(28,8),
			@SQuantity_New as Decimal(28,8),
			@IsPicking_Old as tinyint,
			@IsPicking_New as tinyint,		
			@SOrderID nvarchar(50)


Set @OT2008_cur = cursor scroll Keyset For
	Select Ins.SOrderID, Del.WareHouseID, Ins.WareHouseID, Ins.DivisionID, Del.InventoryID, Ins.InventoryID, isnull(Ins.OrderQuantity,0) , isnull(Del.OrderQuantity,0) , Del.IsPicking, Ins.IsPicking
	From Inserted Ins inner join OT2001 WITH (NOLOCK) on OT2001.SOrderID = ins.SOrderID
			 inner join Deleted Del  on Del.TransactionID = Ins.TransactionID

Open @OT2008_cur
Fetch next From @OT2008_cur into @SOrderID, @WareHouseID_Old, @WareHouseID_New,  @DivisionID, @InventoryID_Old, @InventoryID_New, @SQuantity_New,  @SQuantity_Old , @IsPicking_Old , @IsPicking_New
While @@Fetch_status =0
 Begin
	---- Xu ly gia tri cu
	if @IsPicking_Old <>0
	If not Exists (Select top 1 1 From OT2008 WITH (NOLOCK) Where DivisionID = @DivisionID and InventoryID = @InventoryID_Old and WareHouseID = isnull(@WareHouseID_Old, ''))
		 Insert OT2008 ( WareHouseID, DivisionID, InventoryID, SQuantity, PQuantity)
		 Values (isnull(@WareHouseID_Old, ''), @DivisionID, @InventoryID_Old, - @SQuantity_Old, 0)
	Else
		Update OT2008 Set SQuantity = SQuantity  - @SQuantity_Old 
			Where DivisionID = @DivisionID and InventoryID = @InventoryID_Old and WareHouseID = @WareHouseID_Old

	---- Xu ly gia tri Moi
	If @IsPicking_New <>0
	If not Exists (Select top 1 1 From OT2008 WITH (NOLOCK) Where DivisionID = @DivisionID and InventoryID = @InventoryID_New and WareHouseID = isnull(@WareHouseID_New, ''))
		 Insert OT2008 ( WareHouseID, DivisionID, InventoryID, SQuantity, PQuantity)
		 Values (isnull(@WareHouseID_New, ''), @DivisionID, @InventoryID_New,  @SQuantity_New, 0)
	Else
		Update OT2008 Set SQuantity = SQuantity  + @SQuantity_New
			Where DivisionID = @DivisionID and InventoryID = @InventoryID_New and WareHouseID = @WareHouseID_New

	
	Fetch next From @OT2008_cur into @SOrderID, @WareHouseID_Old, @WareHouseID_New,  @DivisionID, @InventoryID_Old, @InventoryID_New, @SQuantity_New,  @SQuantity_Old , @IsPicking_Old , @IsPicking_New
 End
Close @OT2008_cur

--- Customize Sinolife
Declare @Ana08ID_Old nvarchar(50),
		@Ana08ID_New nvarchar(50),
		@OTransactionID nvarchar(50),
		@VoucherID varchar(50)
		
Declare @AP4444 Table(CustomerName Int, Export Int)

Insert Into @AP4444(CustomerName,Export) EXEC('AP4444')

IF (SELECT CustomerName From @AP4444) = 20
BEGIN
	--- cập nhật trạng thái mặt hàng (là ghi chú của MPT8)
	SELECT @Ana08ID_Old = Isnull(Ana08ID,''), @DivisionID = DivisionID From Deleted
	SELECT @Ana08ID_New = Isnull(Ana08ID,''), @DivisionID = DivisionID From Inserted
	
	UPDATE AT1011
	SET Notes = N'1'
	WHERE DivisionID IN (@DivisionID,'@@@') AND AnaTypeID = 'A08' AND AnaID = @Ana08ID_Old
	
	UPDATE AT1011
	SET Notes = N'2'
	WHERE DivisionID IN (@DivisionID,'@@@') AND AnaTypeID = 'A08' AND AnaID = @Ana08ID_New
	
	--- Cập nhật MPT8 qua phiếu bán hàng và xuất kho
	SELECT @OTransactionID = TransactionID From Inserted
	SELECT @VoucherID = VoucherID From AT9000 Where DivisionID = @DivisionID And TransactionTypeID = 'T04' And OTransactionID = @OTransactionID
	---- 1. phiếu bán hàng và xuất kho bán hàng
	UPDATE AT9000 Set Ana08ID = @Ana08ID_New
	Where DivisionID = @DivisionID And VoucherID = @VoucherID
	---- 2. phiếu xuất kho
	UPDATE AT2007 Set Ana08ID = @Ana08ID_New
	Where DivisionID = @DivisionID And VoucherID = @VoucherID
	---- 3. phiếu xuất kho kế thừa từ hóa đơn bán hàng
	UPDATE AT2007 Set Ana08ID = @Ana08ID_New
	Where DivisionID = @DivisionID And Isnull(right(WVoucherID,len(WVoucherID)-len(@DivisionID)),'') = @VoucherID
END
