IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OZ3001]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[OZ3001]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---Created by:  Thuy Tuyen, date: 28/05/2009
---Purpose: Cap nhat Tinh trang Chao gia.
---- Modified on 17/01/2012 by Le Thi Thu Hien : WHERE them DivisionID
---- Modified by Tiểu Mai on 19/04/2016: Bổ sung update OrderStatus khi duyệt 2 cấp
---- Modified by Kiều Nga on 26/11/2021: Điều chỉnh lại IsConfirm sang IsConfirmPO


CREATE TRIGGER  [dbo].[OZ3001]  ON [dbo].[OT3001] 
FOR  UPDATE
AS
IF EXISTS (SELECT TOP 1 1 FROM OT0000 WHERE ISNULL(IsConfirmPO,0) = 1  ) 
BEGIN
	UPDATE	OT3001 
	SET		OrderStatus = 1
	FROM	OT3001  T00 
	INNER JOIN Deleted Del on T00.POrderID = Del.POrderID AND T00.DivisionID = Del.DivisionID
	WHERE	T00.IsConfirm = 1 
			AND T00.OrderStatus = 0 
			AND T00.DivisionID = Del.DivisionID


	UPDATE	OT3001 
	SET		OrderStatus = 0
	FROM	OT3001  T00 
	INNER JOIN Deleted Del on T00.POrderID = Del.POrderID AND T00.DivisionID = Del.DivisionID
	WHERE	T00.IsConfirm in (0,2,9) 
			AND T00.OrderStatus = 1
			AND T00.DivisionID = Del.DivisionID 
END

IF EXISTS (SELECT TOP 1 1 FROM OT0000 WHERE ISNULL(IsConfirmPO,0) = 2)
BEGIN
	UPDATE OT3001 
	SET OrderStatus = 1
	FROM	OT3001  T00 
	INNER JOIN Deleted Del on T00.POrderID = Del.POrderID AND T00.DivisionID = Del.DivisionID
	WHERE T00.IsConfirm02 = 1 
			AND T00.OrderStatus = 0 
			AND T00.DivisionID = Del.DivisionID
			
	UPDATE	OT3001 
	SET		OrderStatus = 0
	FROM	OT3001  T00 
	INNER JOIN Deleted Del on T00.POrderID = Del.POrderID AND T00.DivisionID = Del.DivisionID
	WHERE	T00.IsConfirm02 in (0,2,9) 
			AND T00.OrderStatus = 1
			AND T00.DivisionID = Del.DivisionID 		
END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

