IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OZ3101]') AND OBJECTPROPERTY(ID, N'IsTrigger') = 1)
DROP TRIGGER [DBO].[OZ3101]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Cap nhat Tinh trang 
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 28/05/2009 by Thuy Tuyen
---- 
---- Modified on 17/01/2012 by Le Thi Thu Hien : WHERE them DivisionID
-- <Example>
----



CREATE TRIGGER  [dbo].[OZ3101]  ON [dbo].[OT3101] 
FOR  UPDATE
AS

IF EXISTS (SELECT TOP 1 1 FROM OT0000 WHERE ISNULL(IsConfirm,0) = 1  ) 
BEGIN
	UPDATE	OT3101 
	SET		OrderStatus = 1
	FROM	OT3101  T00 
	INNER JOIN	Deleted Del 
		ON		T00.ROrderID = Del.ROrderID 
				AND T00.DivisionID = Del.DivisionID
	WHERE	T00.IsConfirm = 1 
			AND T00.OrderStatus = 0 
			



	UPDATE	OT3101 
	SET		OrderStatus = 0
	FROM	OT3101  T00 
	INNER JOIN	Deleted Del 
		ON		T00.ROrderID = Del.ROrderID
				AND T00.DivisionID = Del.DivisionID 
	WHERE	T00.IsConfirm in (0,2,9) 
			AND  T00.OrderStatus = 1 
			

END


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

