IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[WY2027]'))
DROP TRIGGER [dbo].[WY2027]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Created by Khanh Van
--Date 01/07/2013
--Purpose: insert bang AT2007 khi xuat thanh pham nhap nguyen lieu


CREATE TRIGGER [dbo].[WY2027]  ON [dbo].[WT2027]
FOR INSERT As
Declare		
			@D27_Cursor	Cursor

Declare  @TransactionID 	nvarchar(50),
	@DivisionID		nvarchar(50),	
	@RDVoucherID		nvarchar(50), 		
	@TranYear		Int,		
	@TranMonth		int,
	@InventoryID		nvarchar(50),	
	@UnitID		nvarchar(50),
	@ApportionID		nvarchar(50),
	@ActualQuantity	Decimal(28,8),		
	@ConversionFactor 	decimal(28,8),
	@DebitAccountID	nvarchar(50), 	
	@CreditAccountID	nvarchar(50),
	@Ana01ID		nvarchar(50),
	@Ana02ID		nvarchar(50),
	@Ana03ID		nvarchar(50),
	@Ana04ID		nvarchar(50),
	@Ana05ID		nvarchar(50),
	@Ana06ID		nvarchar(50),
	@Ana07ID		nvarchar(50),
	@Ana08ID		nvarchar(50),
	@Ana09ID		nvarchar(50),
	@Ana10ID		nvarchar(50),
	@Notes			nvarchar(250),
	@PeriodID		nvarchar(50),
	@OrderID		nvarchar(50),	
	@Table 			nvarchar(20),
	@OTransactionID	nvarchar(50)


Set @D27_Cursor = Cursor Scroll KeySet For
Select 		ins.TransactionID, ins.DivisionID, ins.VoucherID, 
		ins.TranYear, ins.TranMonth,  
		ins.InventoryID, ins.UnitID,  ins.ApportionID,
		ActualQuantity, ConversionFactor, DebitAccountID,CreditAccountID,   
		Ins.Ana01ID, Ins.Ana02ID, Ins.Ana03ID, Ins.Ana04ID, Ins.Ana05ID,
		Ins.Ana06ID, Ins.Ana07ID, Ins.Ana08ID, Ins.Ana09ID, Ins.Ana10ID,
		ins.Notes,
		Ins.PeriodID, Ins.OrderID, Ins.ApportionTable	,Ins.OTransactionID			

From 	inserted ins 	


Open @D27_Cursor
Fetch Next From @D27_Cursor Into @TransactionID, @DivisionID, @RDVoucherID, @TranYear, @TranMonth,   
		@InventoryID, @UnitID,  @ApportionID,
		@ActualQuantity, @ConversionFactor, @DebitAccountID,@CreditAccountID,    
		@Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID, 
		@Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, 
		@Notes,
		@PeriodID, @OrderID, @Table	, @OTransactionID			
                                         

While @@FETCH_STATUS = 0
Begin	

	Exec 	AP05221  @TransactionID, @DivisionID, @RDVoucherID, @TranYear, @TranMonth,  
			@InventoryID, @UnitID,  @ApportionID,
			@ActualQuantity, @ConversionFactor, @DebitAccountID,@CreditAccountID,    
			@Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID, 
			@Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, 
			@Notes,
			@PeriodID, @OrderID, @Table, @OTransactionID	


	Fetch Next From @D27_Cursor Into @TransactionID, @DivisionID, @RDVoucherID, @TranYear, @TranMonth,   
			@InventoryID, @UnitID,  @ApportionID,
			@ActualQuantity, @ConversionFactor, @DebitAccountID,@CreditAccountID,    
			@Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID, 
			@Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, 
			@Notes,
			@PeriodID, @OrderID, @Table	, @OTransactionID		
                          
End
Close @D27_Cursor
DeAllocate @D27_Cursor