IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[WZ2027]'))
DROP TRIGGER [dbo].[WZ2027]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----- Created by Khanh Van date 01/07/2013
---- Purpose: Update lai phieu xuat thanh pham nhap nguyen lieu


CREATE TRIGGER [dbo].[WZ2027]  ON [dbo].[WT2027]
FOR Update As
Declare		@D27_Cursor		Cursor

Declare  	
	@DivisionID		nvarchar(50),	
	@OldVoucherID 	nvarchar(50),
	@NewVoucherID	nvarchar(50), 	
	@BatchID 		nvarchar(50),
	@TranYear		Int,		
	@TranMonth		int,
	@InventoryID		nvarchar(50),	
	@UnitID		nvarchar(50),
	@ConversionFactor	decimal(28,8),
	@DebitAccountID_New	nvarchar(50), 	
	@CreditAccountID_New	nvarchar(50),
	@Ana01ID nvarchar(50), 
	@Ana02ID	nvarchar(50), 
	@Ana03ID nvarchar(50), 
	@Ana04ID nvarchar(50), 
	@Ana05ID nvarchar(50),
	@Ana06ID nvarchar(50), 
	@Ana07ID	nvarchar(50), 
	@Ana08ID nvarchar(50), 
	@Ana09ID nvarchar(50), 
	@Ana10ID nvarchar(50),
	@Notes			nvarchar(250),	
	@PeriodID		nvarchar(50),	
	@OrderID as nvarchar(50),
	@NewQuantity 		as Decimal(28,8),					
	@Table as nvarchar(20),
	@ApportionID		as nvarchar(50), 
	@OTransactionID as nvarchar(50)

Set @D27_Cursor = Cursor Scroll KeySet For
	Select  	ins.DivisionID, ins.ApportionID,  ins.TranMonth, Ins.TranYear, Del.VoucherID, Ins.VoucherID, 
		Ins.BatchID, Ins.InventoryID, Ins.UnitID, Ins.ActualQuantity,
		ins.DebitAccountID, Ins.CreditAccountID, ins.ConversionFactor,
		Ins.Ana01ID, Ins.Ana02ID, Ins.Ana03ID, Ins.Ana04ID, Ins.Ana05ID, 
		Ins.Ana06ID, Ins.Ana07ID, Ins.Ana08ID, Ins.Ana09ID, Ins.Ana10ID, 
		Ins.Notes, 
		ins.PeriodID, ins.OrderID, Ins.ApportionTable, Ins.OTransactionID
	From Inserted Ins inner join Deleted Del on Del.TransactionID = Ins.TransactionID and Del.DivisionID = Ins.DivisionID

Open @D27_Cursor
Fetch Next From @D27_Cursor Into @DivisionID, @ApportionID, @TranMonth, @TranYear, @OldVoucherID, @NewVoucherID, 
			@BatchID, @InventoryID, @UnitID, @NewQuantity,
			@DebitAccountID_New, @CreditAccountID_New, @ConversionFactor,
			@Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID, 
			@Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, 
			@Notes, 
			@PeriodID, @OrderID, @Table,@OTransactionID
				
While @@FETCH_STATUS = 0
Begin	
	EXEC AP05241    @DivisionID, @ApportionID, @TranMonth, @TranYear, @OldVoucherID, @NewVoucherID, 
			@BatchID, @InventoryID, @UnitID, @NewQuantity,
			@DebitAccountID_New, @CreditAccountID_New, @ConversionFactor,
			@Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID, 
			@Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, 
			@Notes, 
			@PeriodID, @OrderID, @Table,@OTransactionID

			

	Fetch Next From @D27_Cursor Into @DivisionID, @ApportionID, @TranMonth, @TranYear, @OldVoucherID, @NewVoucherID, 
				@BatchID, @InventoryID, @UnitID, @NewQuantity,
				@DebitAccountID_New, @CreditAccountID_New, @ConversionFactor,
				@Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID, 
				@Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, 
				@Notes, 
				@PeriodID, @OrderID, @Table,@OTransactionID
End
Close @D27_Cursor

