IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV0020]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[AV0020]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- View đổ nguồn combo cấp phân bổ (PACIFIC)

CREATE VIEW [DBO].[AV0020]
AS 

SELECT 1 AS AllocationLevelID, N'Cấp 1' AS AllocationLevelName
UNION ALL
SELECT 2 AS AllocationLevelID, N'Cấp 2' AS AllocationLevelName
UNION ALL
SELECT 3 AS AllocationLevelID, N'Cấp 3' AS AllocationLevelName
UNION ALL
SELECT 4 AS AllocationLevelID, N'Cấp 4' AS AllocationLevelName
UNION ALL
SELECT 5 AS AllocationLevelID, N'Cấp 5' AS AllocationLevelName
UNION ALL
SELECT 6 AS AllocationLevelID, N'Cấp 6' AS AllocationLevelName
UNION ALL
SELECT 7 AS AllocationLevelID, N'Cấp 7' AS AllocationLevelName
UNION ALL
SELECT 8 AS AllocationLevelID, N'Cấp 8' AS AllocationLevelName
UNION ALL
SELECT 9 AS AllocationLevelID, N'Cấp 9' AS AllocationLevelName
UNION ALL
SELECT 10 AS AllocationLevelID, N'Cấp 10' AS AllocationLevelName

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
