IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV0021]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[AV0021]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- View đổ nguồn combo ngành nghề sx kinh doanh (Tờ khai thuế TNDN)

CREATE VIEW [DBO].[AV0021]
AS 

SELECT 'A' AS BusinessLineID, N'Nông nghiệp, lâm nghiệp và thuỷ sản' AS BusinessLineName
UNION ALL
SELECT 'B' AS BusinessLineID, N'Khai khoáng' AS BusinessLineName
UNION ALL
SELECT 'C' AS BusinessLineID, N'Công nghiệp chế biến, chế tạo' AS BusinessLineName
UNION ALL
SELECT 'D' AS BusinessLineID, N'Sản xuất và phân phối điện, khí đốt, nước nóng, hơi nước và điều hoà không khí' AS BusinessLineName
UNION ALL
SELECT 'E' AS BusinessLineID, N'Cung cấp nước; hoạt động quản lý và xử lý rác thải, nước thải' AS BusinessLineName
UNION ALL
SELECT 'F' AS BusinessLineID, N'Xây dựng' AS BusinessLineName
UNION ALL
SELECT 'G' AS BusinessLineID, N'Bán buôn và bán lẻ; sửa chữa ô tô, mô tô, xe máy và xe có động cơ khác' AS BusinessLineName
UNION ALL
SELECT 'H' AS BusinessLineID, N'Vận tải kho bãi' AS BusinessLineName
UNION ALL
SELECT 'I' AS BusinessLineID, N'Dịch vụ lưu trú và ăn uống' AS BusinessLineName
UNION ALL
SELECT 'J' AS BusinessLineID, N'Thông tin và truyền thông' AS BusinessLineName
UNION ALL
SELECT 'L' AS BusinessLineID, N'Hoạt động kinh doanh bất động sản' AS BusinessLineName
UNION ALL
SELECT 'M' AS BusinessLineID, N'Hoạt động chuyên môn, khoa học và công nghệ' AS BusinessLineName
UNION ALL
SELECT 'N' AS BusinessLineID, N'Hoạt động hành chính và dịch vụ hỗ trợ' AS BusinessLineName
UNION ALL
SELECT 'O' AS BusinessLineID, N'HĐ của đảng cộng sản, tổ chức chính trị - XH, quản lý nn, an ninh quốc phòng;  bảo đảm xh bắt buộc' AS BusinessLineName
UNION ALL
SELECT 'P' AS BusinessLineID, N'Giáo dục và đào tạo' AS BusinessLineName
UNION ALL
SELECT 'Q' AS BusinessLineID, N'Y tế và hoạt động trợ giúp xã hội' AS BusinessLineName
UNION ALL
SELECT 'T' AS BusinessLineID, N'Hoạt động làm thuê các CV trong các hộ GĐ, sx sản phẩm vật chất và DV tự tiêu dùng của hộ gia đình' AS BusinessLineName
UNION ALL
SELECT 'U' AS BusinessLineID, N'Hoạt động của các tổ chức và cơ quan  quốc tế' AS BusinessLineName

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
