IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV0022]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[AV0022]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- View đổ nguồn combo cấp phân bổ khả dụng (PACIFIC)

CREATE VIEW [DBO].[AV0022]
AS 

SELECT DISTINCT DivisionID, AllocationLevelID, N'Cấp ' + CONVERT(NVARCHAR(5), AllocationLevelID) AS AllocationLevelName
FROM AT1610 WITH (NOLOCK)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
