IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV0025]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[AV0025]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- View đổ nguồn combo nguồn kế thừa - Kế thừa công nợ phải trả AF0275 (PACIFIC)

CREATE VIEW [DBO].[AV0025]
AS 

SELECT DivisionID, TransactionTypeID, Description
FROM AT1008 WITH (NOLOCK)
WHERE TransactionTypeID IN ('T00', 'T01', 'T02', 'T21', 'T22', 'T23', 'T43', 'T99')

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
