IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0050]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0050]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- AP0050
-- <Summary>
---- Stored dữ liệu tờ khai chính (trường hợp thêm mới)
---- Created on 22/05/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- EXEC AP0050 @DivisionID = 'PCF', @TaxReturnID = '03/TNDN', @UserID = ''	

CREATE PROCEDURE [dbo].[AP0050]
	@DivisionID NVARCHAR(50),
	@TaxReturnID NVARCHAR(50),
	@UserID NVARCHAR(50)
AS

DECLARE @sSQL1 NVARCHAR(MAX),
		@sSQL2 NVARCHAR(MAX),
		@CustomerName INT

CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName) 

SET @sSQL1 = '
SELECT SUM(ConvertedAmount) AS SignAmount  
INTO #TEMP
FROM AT9000
WHERE DivisionID = ''' + @DivisionID + '''
AND (Ana01ID = ''CPKHL'' OR Ana02ID = ''CPKHL'' OR Ana03ID = ''CPKHL'' OR Ana04ID = ''CPKHL'' OR Ana05ID = ''CPKHL'' 
	 OR Ana06ID = ''CPKHL'' OR Ana07ID = ''CPKHL'' OR Ana08ID = ''CPKHL'' OR Ana09ID = ''CPKHL'' OR Ana10ID = ''CPKHL'')
'
	  
SET @sSQL2 = '	  
SELECT TaxReturnID, OrderNo, OrderText, TargetName, IsPicking, TargetID, ReadOnly, Bold, LineStyled, FormulaString, MainFormulaString,
(CASE WHEN (OrderNo = 7 AND ' + CONVERT(NVARCHAR(10), @CustomerName) + ' = 75) THEN (SELECT #TEMP.SignAmount FROM #TEMP) ELSE SignAmount END) AS SignAmount
FROM AT7437 WITH (NOLOCK)
WHERE TaxReturnID = ''' + @TaxReturnID + '''
ORDER BY OrderNo
'


--PRINT @sSQL1
--PRINT @sSQL2
EXEC (@sSQL1 + @sSQL2)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

