IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0094]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0094]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO







-- <Summary>
---- Create by Tieu Mai on 20/03/2017
---- Purpose: In bảng kê các chứng từ bán hàng cho ANGEL (customizeIndex = 57)
---- Modified by Tiểu Mai on 01/06/2017: Fix dữ liệu lên báo cáo chưa đúng
---- Modified by Tiểu Mai on 08/06/2017: Fix dữ liệu lên báo cáo chưa đúng
---- Modified by Tiểu Mai on 30/06/2017: Lấy kho cho các phiếu hàng bán trả lại
---- Modified by Tiểu Mai on 23/08/2017: Bổ sung Order by theo loại chứng từ, ngày hạch toán, số HĐ
---- Modified on 01/02/2018 by Bảo Anh: Sửa lỗi lệch tổng giá vốn so với sổ chi tiết TK 632
---- Modified on 14/03/2018 by Bảo Anh: Sửa cách lấy WarehouseID
---- Modified on 31/05/2019 by Kim Thư: Sửa tính chênh lệch giá vốn có lấy điều kiện ObjectID
---- Modified on 12/04/2022 by Nhật Thanh: Bổ sung điều kiện divisionID @@@
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- exec AP0094 'ANG', 2, 2017, 2, 2017, '2017-06-06 00:00:00.000', '2017-06-06 00:00:00.000', '00022', 'XOABO', 'ASOFTADMIN', 0
-- <Summary>

CREATE PROCEDURE AP0094
			@DivisionID NVARCHAR(50),
			@FromMonth INT,
			@FromYear INT,
			@ToMonth INT,
			@ToYear INT,
			@FromDate DATETIME,
			@ToDate DATETIME,
			@FromObjectID NVARCHAR(50),
			@ToObjectID NVARCHAR(50),
			@UserID VARCHAR(50) = '',
			@IsDate TINYINT
AS	
DECLARE @sSQL NVARCHAR(MAX),  @sSQL1 NVARCHAR(MAX), @sSQL2 NVARCHAR(MAX), @sSQL3 NVARCHAR(MAX),
		@sWhere NVARCHAR(MAX),
		@ConvertedDecimals DECIMAL(28,8),
		@BaseCurrencyID NVARCHAR(50),
		@UnitCostDecimals DECIMAL(28,8),
		@CustomerName INT

		Select @CustomerName = Customername from CustomerIndex
		
SELECT @ConvertedDecimals = ConvertedDecimals, @BaseCurrencyID = BaseCurrencyID, @UnitCostDecimals = UnitCostDecimals
FROM AT1101 WITH (NOLOCK)
WHERE DivisionID =@DivisionID

IF @IsDate = 0
BEGIN
	SET @sWhere = ' AND A00.TranMonth + A00.TranYear*100 BETWEEN '+STR(@FromMonth + @FromYear*100)+' AND '+STR(@ToMonth + @ToYear*100)
END
ELSE
BEGIN
	SET @sWhere = ' AND CONVERT(NVARCHAR(10),A00.VoucherDate,111) BETWEEN '''+CONVERT(NVARCHAR(10),@FromDate,111)+''' AND '''+CONVERT(NVARCHAR(10),@ToDate,111)+ ''' '
END

SET @sSQL = '
SELECT ISNULL(A00.IsMultiTax,0) AS IsMultiTax, A00.VoucherID, A00.VoucherTypeID, A00.VDescription AS Description, A00.UnitID, A00.VoucherNo, A00.VoucherDate, 
A00.DivisionID, A00.InvoiceDate, A00.InvoiceNo, A00.InventoryID, A03.InventoryName, A00.TransactionID, 
A00.TransactionTypeID, A00.ObjectID, A02.ObjectName, 
A00.VATObjectID, A00.DebitAccountID, A00.CreditAccountID, 
CASE WHEN A00.CurrencyID = '''+@BaseCurrencyID+''' THEN A00.UnitPrice ELSE ROUND(A00.UnitPrice*A00.ExchangeRate,'+STR(@UnitCostDecimals)+') END AS UnitPrice, 
A00.Quantity,
CASE WHEN (A00.VoucherTypeID LIKE ''HG%'' OR (A00.VoucherTypeID LIKE ''HD1%'' AND (A00.DebitAccountID LIKE ''5213%'' OR A00.DebitAccountID LIKE ''5211%''))) OR A00.TransactionTypeID  IN ( ''T14'',''T34'', ''T24'') THEN 0 ELSE A00.OriginalAmount END AS OriginalAmount, 
CASE WHEN (A00.VoucherTypeID LIKE ''HG%'' OR (A00.VoucherTypeID LIKE ''HD1%'' AND (A00.DebitAccountID LIKE ''5213%'' OR A00.DebitAccountID LIKE ''5211%''))) OR A00.TransactionTypeID  IN ( ''T14'',''T34'', ''T24'') THEN 0 ELSE A00.ConvertedAmount END AS ConvertedAmount,
A03.I05ID, 
CASE A00.TransactionTypeID WHEN ''T24'' THEN A06_02.WareHouseID WHEN ''T14'' THEN '''' ELSE (CASE WHEN ISNULL(A04.VoucherID,'''') <> '''' THEN A04.WareHouseID ELSE AT2006.WareHouseID END) END AS WareHouseID, 
ISNULL(AT2008.InventoryAccountID,A03.AccountID) as InventoryAccountID, A03.PrimeCostAccountID, 
CASE WHEN A00.TransactionTypeID <> ''T14'' THEN (CASE WHEN ISNULL(A00.WOrderID,'''') <> '''' THEN AT2007.UnitPrice 
	ELSE (CASE WHEN A00.TransactionTypeID <> ''T24'' THEN ROUND(AT2008.UnitPrice,4) ELSE A07.UnitPrice END) END) ELSE 0 END AS UnitPriceWM, 
	
CASE WHEN A00.TransactionTypeID <> ''T14'' THEN (CASE WHEN ISNULL(A00.WOrderID,'''') <> '''' THEN AT2007.ConvertedAmount 
	ELSE (CASE WHEN A00.TransactionTypeID <> ''T24'' THEN ROUND(ROUND(AT2008.UnitPrice,4) * A00.Quantity,  0) ELSE -A07.ConvertedAmount END) END) ELSE 0 END  AS AmountWM,
	SUM(CASE WHEN A00.TransactionTypeID = ''T24'' THEN A00.ConvertedAmount ELSE 0 END ) AS TLConvertedAmount,
SUM(CASE WHEN (A00.VoucherTypeID LIKE ''HG%'' OR A00.VoucherTypeID LIKE ''HD1%'') AND A00.DebitAccountID LIKE ''5213%'' THEN A00.ConvertedAmount ELSE 0 END) AS SalesAmount,
SUM(CASE WHEN (A00.VoucherTypeID LIKE ''HG%'' OR A00.VoucherTypeID LIKE ''HD1%'') AND A00.DebitAccountID LIKE ''5211%'' THEN A00.ConvertedAmount ELSE 0 END) AS SalesDiscountAmount,
CASE WHEN A00.TransactionTypeID = ''T24'' OR (A00.VoucherTypeID LIKE  ''HD1%'' AND A00.DebitAccountID LIKE ''333%'' ) OR   (A00.VoucherTypeID LIKE  ''HG%'' OR A00.VoucherTypeID LIKE ''TL%'' OR A00.DebitAccountID LIKE ''521%'') THEN 
 -(CASE WHEN (A00.TransactionTypeID IN ( ''T14'',''T34'')) THEN A00.ConvertedAmount ELSE A00.VATOriginalAmount END) ELSE (CASE WHEN (A00.TransactionTypeID IN ( ''T14'',''T34'')) THEN A00.ConvertedAmount ELSE A00.VATOriginalAmount END) END AS VATOriginalAmount
'

SET @sSQL1 = '
INTO #TEMP
FROM AT9000 A00 WITH (NOLOCK)
LEFT JOIN AT1202 A02 WITH (NOLOCK) ON A02.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A02.ObjectID = A00.ObjectID
LEFT JOIN AT1302 A03 WITH (NOLOCK) ON A03.DivisionID in (''@@@'',A00.DivisionID) AND A00.InventoryID = A03.InventoryID
LEFT JOIN (SELECT DISTINCT AT0266_AG.VoucherID, A06.DivisionID, A06.WareHouseID, A07.InventoryID, A07.CreditAccountID, A06.TranMonth, A06.TranYear
 FROM AT2006 A06 WITH (NOLOCK)
LEFT JOIN AT2007 A07 WITH (NOLOCK) ON A07.DivisionID = A06.DivisionID AND A07.VoucherID = A06.VoucherID
LEFT JOIN AT0266_AG WITH (NOLOCK) ON AT0266_AG.DivisionID = A07.DivisionID AND AT0266_AG.InheritVoucherID = A07.VoucherID 
									AND AT0266_AG.InheritTransactionID = A07.TransactionID) A04 
									ON A04.DivisionID = A00.DivisionID AND A04.VoucherID = A00.VoucherID AND A04.InventoryID = A00.InventoryID
LEFT JOIN AT2008 WITH (NOLOCK) ON AT2008.DivisionID = A04.DivisionID AND AT2008.WareHouseID = A04.WareHouseID AND AT2008.InventoryID = A04.InventoryID
									AND AT2008.InventoryAccountID = A04.CreditAccountID AND AT2008.TranMonth = A04.TranMonth AND AT2008.TranYear = A04.TranYear
LEFT JOIN AT2006 A06 WITH (NOLOCK) ON A06.DivisionID = A00.DivisionID AND A06.VoucherID = A00.VoucherID AND A06.BatchID = A00.BatchID
LEFT JOIN AT2007 A07 WITH (NOLOCK) ON A06.DivisionID = A06.DivisionID AND A07.VoucherID = A06.VoucherID AND A07.TransactionID = A00.TransactionID
LEFT JOIN AT2007 AT2007 WITH (NOLOCK) ON A00.DivisionID = AT2007.DivisionID AND A00.WOrderID = AT2007.VoucherID AND A00.WTransactionID = AT2007.TransactionID
LEFT JOIN AT2006 AT2006 WITH (NOLOCK) ON AT2006.DivisionID = AT2007.DivisionID AND AT2006.VoucherID = AT2007.VoucherID
LEFT JOIN AT2006 A06_02 WITH (NOLOCK) ON A06_02.DivisionID = A00.DivisionID AND A06_02.VoucherID = A00.VoucherID AND A06_02.BatchID = A00.BatchID
WHERE A00.DivisionID = '''+@DivisionID+''' 
		AND A00.TransactionTypeID IN (''T04'', ''T14'',''T24'', ''T34'')
		AND A00.ObjectID BETWEEN '''+@FromObjectID+''' AND '''+@ToObjectID+''' 
		'+@sWhere+'
GROUP BY A00.IsMultiTax, A00.VoucherID, A00.VoucherTypeID, A00.VoucherNo, A00.VDescription, A00.UnitID, A00.VoucherDate, A00.DivisionID, A00.InvoiceDate, A00.InvoiceNo, A00.InventoryID, A00.TransactionID, 
A00.TransactionTypeID, A00.ObjectID, A02.ObjectName, A00.WOrderID, AT2006.WareHouseID, AT2007.UnitPrice, AT2007.ConvertedAmount, 
A00.VATObjectID, A00.DebitAccountID, A00.CreditAccountID, A03.PrimeCostAccountID, A00.CurrencyID, A00.UnitPrice, A00.ExchangeRate, A00.Quantity,A00.OriginalAmount, A00.ConvertedAmount,
A03.I05ID, A04.WareHouseID, ISNULL(AT2008.InventoryAccountID,A03.AccountID), AT2008.UnitPrice, A00.Orders, A00.VATOriginalAmount, A03.InventoryName, A07.UnitPrice, A07.ConvertedAmount, A06_02.WareHouseID, A04.VoucherID
ORDER BY A00.VoucherNo, A00.Orders
'

SET @sSQL2 = '
SELECT AT2008.ObjectID, AT2008.InventoryID, AT2008.WareHouseID, AT2008.InventoryAccountID, (AT2008.CreditAmount - ISNULL(A.AmountWM,0)) AS Lech, (AT2008.CreditQuantity - ISNULL(A.Quantity,0)) as LechSL
INTO #TEMP2
FROM (SELECT A.DivisionID, A.ObjectID, A.InventoryID, A.InventoryAccountID, A.WareHouseID, SUM(ISNULl(A.CreditQuantity,0)) AS CreditQuantity, 
		SUM(ISNULL(A.CreditAmount,0)) AS CreditAmount
    FROM 
    (SELECT A00.DivisionID, A00.ObjectID, AT2007.InventoryID, AT2007.CreditAccountID AS InventoryAccountID, A00.WareHouseID,  
			SUM(ISNULL(AT2007.ActualQuantity,0)) AS CreditQuantity, SUM(ISNULL(AT2007.ConvertedAmount,0)) AS CreditAmount
	FROM AT2006 A00 WITH (NOLOCK)
	LEFT JOIN AT2007 WITH (NOLOCK) ON AT2007.DivisionID = A00.DivisionID AND AT2007.VoucherID = A00.VoucherID
	--INNER JOIN (SELECT SUM(Quantity) AS Quantity, InheritVoucherID, InheritTransactionID FROM AT0266_AG
	--			GROUP BY InheritVoucherID, InheritTransactionID) AT0266_AG ON AT0266_AG.InheritVoucherID = AT2007.VoucherID AND AT0266_AG.InheritTransactionID = AT2007.TransactionID
	WHERE A00.DivisionID = '''+@DivisionID+''' 
		AND A00.TableID = ''AT2006'' AND AT2007.DebitAccountID like ''632%'' AND AT2007.DebitAccountID <> ''6328''
		AND A00.ObjectID BETWEEN '''+@FromObjectID+''' AND '''+@ToObjectID+''' 
		'+@sWhere+' 
	GROUP BY A00.DivisionID, A00.ObjectID, AT2007.InventoryID, AT2007.CreditAccountID, A00.WareHouseID

	UNION ALL
	SELECT A00.DivisionID, A00.ObjectID, A07.InventoryID, A07.DebitAccountID as InventoryAccountID, A00.WareHouseID, -SUM(ISNULL(A07.ActualQuantity,0)) AS CreditQuantity, -SUM(ISNULL(A07.ConvertedAmount,0)) AS CreditAmount
	FROM AT2007 A07 WITH (NOLOCK)
	LEFT JOIN AT2006 A00 WITH (NOLOCK) ON A00.DivisionID = A07.DivisionID AND A00.VoucherID = A07.VoucherID
	WHERE A00.TableID = ''AT2006''
		AND A00.DivisionID = '''+@DivisionID+''' AND A07.CreditAccountID like ''632%'' AND A07.CreditAccountID <> ''6328''
		AND A00.ObjectID BETWEEN '''+@FromObjectID+''' AND '''+@ToObjectID+''' 
			'+@sWhere+' 
	GROUP BY A00.DivisionID, A00.ObjectID, A07.InventoryID, A07.DebitAccountID, A00.WareHouseID
	) A
    GROUP BY  A.DivisionID, A.ObjectID, A.InventoryID, A.InventoryAccountID, A.WareHouseID  
) AT2008
LEFT JOIN (
SELECT ObjectID, InventoryID, InventoryAccountID, WareHouseID, SUM(CASE WHEN TransactionTypeID = ''T24'' THEN -Quantity ELSE Quantity END) AS Quantity,
	SUM(AmountWM) AS AmountWM
FROM #Temp
WHERE TransactionTypeID NOT IN (''T14'', ''T34'')
GROUP BY ObjectID, InventoryID, InventoryAccountID, WareHouseID) A ON ISNULL(A.WareHouseID,'''') = AT2008.WareHouseID AND ISNULL(A.InventoryID,'''') = AT2008.InventoryID 
													AND ISNULL(A.InventoryAccountID,'''') = AT2008.InventoryAccountID
													AND ISNULl(A.ObjectID,'''') = ISNULL(AT2008.ObjectID,'''')
WHERE ISNULL(A.Quantity,0) = AT2008.CreditQuantity AND ISNULL(A.AmountWM,0) <> AT2008.CreditAmount
'
SET @sSQL3 = '
DECLARE 
	@ObjectID AS NVARCHAR(50),
    @InventoryID AS NVARCHAR(50), 
    @AccountID AS NVARCHAR(50),
	@Quantity AS DECIMAL(28, 8),
    @Amount AS DECIMAL(28, 8), 
    @WareHouseID AS NVARCHAR(50), 
    @TransactionID AS NVARCHAR(50), 
    @Cur_Ware AS CURSOR

SET @Cur_Ware = CURSOR SCROLL KEYSET FOR 
		SELECT ObjectID, InventoryID, WareHouseID, InventoryAccountID, Lech, LechSL FROM #Temp2
OPEN @Cur_Ware
FETCH NEXT FROM @Cur_Ware INTO @ObjectID, @InventoryID, @WareHouseID, @AccountID, @Amount, @Quantity
WHILE @@Fetch_Status = 0 
	BEGIN 
		SET @TransactionID = (SELECT TOP 1 TransactionID FROM #Temp WHERE InventoryID  = @InventoryID 
										AND WareHouseID  = @WareHouseID 
										AND InventoryAccountID  = @AccountID
										AND ObjectID  = @ObjectID
										AND TransactionTypeID NOT IN (''T14'', ''T34'')
				                ORDER BY TransactionTypeID,Quantity DESC)
				
		IF ISNULL(@TransactionID,'''') <> ''''
		BEGIN
			UPDATE #Temp
			SET AmountWM = AmountWM + @Amount
			WHERE TransactionID  = @TransactionID
		END
		ELSE		--- Trường hợp phiếu xuất rồi nhập lại hết nhưng tiền vẫn còn tồn (do làm tròn khi tính giá xuất kho)
		BEGIN
			IF @Amount <> 0 AND @Quantity = 0
			BEGIN
				SET @TransactionID = (SELECT TOP 1 TransactionID FROM #Temp WHERE InventoryID  = @InventoryID										
										AND (InventoryAccountID  = @AccountID OR 0 = 0)
										AND ObjectID  = @ObjectID
										AND TransactionTypeID NOT IN (''T14'', ''T34'')
				                ORDER BY TransactionTypeID,Quantity DESC)
				
				UPDATE #Temp
				SET AmountWM = AmountWM + @Amount
				WHERE TransactionID  = @TransactionID
			END
		END

		FETCH NEXT FROM @Cur_Ware INTO @ObjectID, @InventoryID, @WareHouseID, @AccountID, @Amount, @Quantity
	END 

CLOSE @Cur_Ware	
	
SELECT * FROM #Temp
ORDER BY VoucherTypeID, VoucherDate, InvoiceNo, DebitAccountID, CreditAccountID
'
PRINT @sSQL
PRINT @sSQL1
PRINT @sSQL2
PRINT @sSQL3
EXEC (@sSQL+@sSQL1+@sSQL2+@sSQL3)














GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
