IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0049]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0049]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- AP0049
-- <Summary>
---- Stored LOAD Cập nhật tờ khai thuế TNDN -- Load tờ khai phát sinh
---- Created on 03/05/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- 

CREATE PROCEDURE [dbo].[AP0049]
	@DivisionID NVARCHAR(50),
	@TaxReturnFileID NVARCHAR(50),
	@UserID NVARCHAR(50)
AS

DECLARE @sSQL1 NVARCHAR(MAX),
		@sWHERE NVARCHAR(MAX) = ''
SET @TaxReturnFileID = LTRIM(LEFT(@TaxReturnFileID,LEN(@TaxReturnFileID)-2))
PRINT @TaxReturnFileID
SET @sSQL1 = '
SELECT AT39.*
FROM AT7439 AT39
WHERE AT39.DivisionID = '''+@DivisionID+''' AND AT39.TaxReturnFileID LIKE (CASE WHEN ISNULL('''+@TaxReturnFileID+''','''') <> '''' THEN '''+@TaxReturnFileID+'%'' ELSE '''' END)
	  AND AT39.ReturnTime = (SELECT MAX(AT39.ReturnTime)
	                         FROM AT7439 AT39 
	                         WHERE AT39.DivisionID = '''+@DivisionID+''' 
	                         AND AT39.TaxReturnFileID LIKE (CASE WHEN ISNULL('''+@TaxReturnFileID+''','''') <> '''' THEN '''+@TaxReturnFileID+'%'' ELSE '''' END)
	  						)
'
EXEC (@sSQL1)
--PRINT (@sSQL1)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

