IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP00111_HT]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP00111_HT]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO




------ Created by Hoàng Vũ: Customize cho hoàng trần (thiết có check vào tự động giải trừ công nợ khi kế thừa hóa đơn: nếu kế thừa từ hóa đơn bàn bán hàng theo bộ thì phải thực hiện được chức năng giải trừ công nợ phải thu)
-- Modified by Bảo Thy on 25/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

CREATE PROCEDURE [dbo].[AP00111_HT] 
		@DivisionID nvarchar(50),
		@ObjectID nvarchar(50),
		@AccountID nvarchar(50)

			
 AS

Declare @sqlSelect as nvarchar(4000) =N'',
		@sqlSelect1 as nvarchar(4000) =N'',
		@sqlSelect2 as nvarchar(4000) =N'',
		@sqlExec as nvarchar(4000) =N'',
		@sqlExec1 as nvarchar(4000) =N'',
		@sqlExec2 as nvarchar(4000) =N''
			
		
Set @sqlSelect = N'
	  Delete AT0301
	  WHERE DivisionID = '''+@DivisionID+''' and DebitAccountID like('''+@AccountID+''') and ObjectID like ('''+@ObjectID+''')
	  Insert AT0301 (GiveUpID, VoucherID, BatchID,  TableID, DivisionID,TranMonth,TranYear,
      ObjectID, DebitAccountID, CurrencyID, CurrencyIDCN,
      ObjectName, OriginalAmount,ConvertedAmount,
      OriginalAmountCN, GivedOriginalAmount,  GivedConvertedAmount,   ExchangeRate, ExchangeRateCN,
      VoucherTypeID, VoucherNO, VoucherDate,  InvoiceDate,InvoiceNo, Serial,
      VDescription,BDescription,  Status,   PaymentID, DueDays, DueDate)
      SELECT GiveUpID, VoucherID, BatchID,  TableID, DivisionID,TranMonth,TranYear,
      ObjectID, DebitAccountID, CurrencyID, CurrencyIDCN,
      ObjectName , OriginalAmount, ConvertedAmount,
      OriginalAmountCN,GivedOriginalAmount,GivedConvertedAmount,  ExchangeRate, ExchangeRateCN,
      VoucherTypeID, VoucherNO, VoucherDate,  InvoiceDate,InvoiceNo, Serial,
      VDescription,BDescription,  Status, PaymentID , DueDays, DueDate
      From
      '

Set @sqlSelect1 = N'
(SELECT '''' AS GiveUpID, VoucherID, BatchID, TableID, AT9000.DivisionID, TranMonth, TranYear,
	AT9000.ObjectID, DebitAccountID, AT9000.CurrencyID, CurrencyIDCN, AT1202.ObjectName, 
	Max(Ana02ID) As Ana02ID, 
	Sum(isnull(OriginalAmount,0)) as OriginalAmount,
	Sum(isnull(ConvertedAmount,0)) as ConvertedAmount, 
	Sum(isnull(OriginalAmountCN,0)) as OriginalAmountCN,
	GivedOriginalAmount = isnull((Select Sum(isnull(OriginalAmount,0)) From AT0303 Where 	DivisionID = AT9000.DivisionID and
										ObjectID = AT9000.ObjectID and
										DebitVoucherID = AT9000.VoucherID and
										DebitBatchID = AT9000.BatchID and
										(DebitTableID = N''AT1326'' or DebitTableID = N''MT1603''  or DebitTableID = ''AT9000'') and
										AccountID = AT9000.DebitAccountID and
										CurrencyID = AT9000.CurrencyIDCN),0),
	GivedConvertedAmount =isnull( (Select Sum(isnull(ConvertedAmount,0)) From AT0303 Where 	DivisionID = AT9000.DivisionID and
										ObjectID = AT9000.ObjectID and
										DebitVoucherID = AT9000.VoucherID and
										DebitBatchID = AT9000.BatchID and
										(DebitTableID = N''AT1326'' or DebitTableID = N''MT1603''  or DebitTableID = ''AT9000'') and
										AccountID = AT9000.DebitAccountID and
										CurrencyID = AT9000.CurrencyIDCN),0),
	ExchangeRate, ExchangeRateCN,
	VoucherTypeID, VoucherNo, VoucherDate, InvoiceDate, InvoiceNo, Serial,
	VDescription, VDescription AS BDescription, 0 AS Status,
	AT9000.PaymentID, AT9000.DueDays, AT9000.DueDate
FROM AT9000 WITH (NOLOCK) Left join AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
WHERE DebitAccountID like('''+@AccountID+''') and AT9000.ObjectID like ('''+@ObjectID+''')
	and AT9000.DivisionID = '''+@DivisionID+'''
Group by VoucherID, BatchID, TableID, AT9000.DivisionID, TranMonth, TranYear,
	AT9000.ObjectID, DebitAccountID, AT9000.CurrencyID, CurrencyIDCN, AT1202.ObjectName, 
	ExchangeRate, ExchangeRateCN,
	VoucherTypeID, VoucherNo, VoucherDate, InvoiceDate, InvoiceNo, Serial,
	VDescription, AT9000.PaymentID, AT9000.DueDays, AT9000.DueDate)B'
	
Exec(@sqlSelect +  @sqlSelect1)






GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
