IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0046]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0046]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- AP0046
-- <Summary>
---- Stored lấy dữ liệu phụ lục thuế TNDN (PACIFIC)
---- Created on 13/04/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- 

CREATE PROCEDURE [dbo].[AP0046]
			@DivisionID AS nvarchar(50),
			@FromDate AS DATETIME,			
			@ToDate AS DATETIME,	
			@ReportCode AS nvarchar(50)
AS

DECLARE @Cursor AS CURSOR,
		@TaxReturnID AS NVARCHAR(50),
		@OrderNo AS INT,
		@AccountIDFrom AS NVARCHAR(50),
		@AccountIDTo AS NVARCHAR(50),
		@CorAccountIDFrom AS NVARCHAR(50),
		@CorAccountIDTo AS NVARCHAR(50),
		@D_C AS TINYINT,
		@AmountSign AS TINYINT,
		@Amount AS decimal(28,8),
		@Amount2 AS decimal(28,8),		
		@Accumulator NVARCHAR(50),
		@FormulaString NVARCHAR(50)		

DELETE AT7438 


SET @Cursor = CURSOR SCROLL KEYSET FOR
	SELECT DISTINCT Accumulator
	FROM AT7602 WITH (NOLOCK)
	WHERE DivisionID = @DivisionID
	AND ReportCode = @ReportCode
	AND [Type] = '01'  
	AND ISNULL(Accumulator, '') <> ''
OPEN @Cursor
FETCH NEXT FROM @Cursor INTO @Accumulator
			
WHILE @@FETCH_STATUS = 0
    BEGIN
    	SET @FormulaString = ''
    	SELECT @FormulaString = @FormulaString + (CASE WHEN ROW_NUMBER() OVER(ORDER BY AccuSign DESC) = 1 THEN '[' + PrintCode + ']' + ' ' ELSE AccuSign + ' [' + PrintCode + + '] ' END)  
    	FROM AT7602 WITH (NOLOCK)
    	WHERE DivisionID = @DivisionID
		AND ReportCode = @ReportCode  
    	AND [Type] = '01'  
    	AND Accumulator = @Accumulator
    	
    	UPDATE AT7602 
    	SET FormulaString = @FormulaString
    	WHERE DivisionID = @DivisionID
		AND ReportCode = @ReportCode
    	AND [Type] = '01'  
    	AND LineCode = @Accumulator
    	
    	FETCH NEXT FROM @Cursor INTO @Accumulator
    END
CLOSE @Cursor


INSERT INTO AT7438 (TaxReturnID, OrderNo, OrderText, TargetName, IsPicking, TargetID, SignAmount, ReadOnly, Bold, LineStyled, FormulaString,
					AccountIDFrom, AccountIDTo, CorAccountIDFrom, CorAccountIDTo, D_C, AmountSign)
SELECT ReportCode, ROW_NUMBER() OVER(ORDER BY LineCode ASC) AS Row#, LineCode, LineDescription, 0, PrintCode, 0, ReadOnly, Bold, LineStyled, FormulaString,
	   AccountIDFrom, AccountIDTo, CorAccountIDFrom, CorAccountIDTo, D_C, AmountSign
FROM AT7602 WITH (NOLOCK)
WHERE DivisionID = @DivisionID
	  AND ReportCode = @ReportCode
	  AND [Type] = '01'				
 

SET @Cursor = CURSOR SCROLL KEYSET FOR
	SELECT	TaxReturnID, OrderNo, AccountIDFrom, AccountIDTo,
			CorAccountIDFrom, CorAccountIDTo, D_C, AmountSign
	FROM	AT7438 WITH (NOLOCK)
	WHERE	TaxReturnID = @ReportCode  
OPEN @Cursor
FETCH NEXT FROM @Cursor INTO
			@TaxReturnID, @OrderNo, @AccountIDFrom, @AccountIDTo,
			@CorAccountIDFrom, @CorAccountIDTo, @D_C, @AmountSign
			
WHILE @@FETCH_STATUS = 0
    BEGIN
	SET @Amount = 0
	
	IF @AmountSign = 0 
	    BEGIN
		EXEC AP0048	@DivisionID, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
					@FromDate, @ToDate,
					5, @D_C, @OutputAmount = @Amount OUTPUT, @OutputAmount2 = @Amount2 OUTPUT, @StrDivisionID = @DivisionID		---- SÃ¨ kÃº  nÂµy
	    END
	
	IF @AmountSign = 1 
	    BEGIN	---- Chi lay luy  ke phat sinh No	
		EXEC AP0048	 	@DivisionID, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
					@FromDate, @ToDate,
					 4, @D_C, @OutputAmount = @Amount OUTPUT, @OutputAmount2 = @Amount2 OUTPUT, @StrDivisionID = @DivisionID		
	    END

	IF @AmountSign = 2 ---- Ca hai
	    BEGIN	------ Lay so du
		EXEC AP0048	 	@DivisionID, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo,
					@FromDate, @ToDate,
					3, @D_C, @OutputAmount = @Amount OUTPUT, @OutputAmount2 = @Amount2 OUTPUT, @StrDivisionID = @DivisionID	
	    END


	UPDATE AT7438
	SET SignAmount = @Amount
	WHERE TaxReturnID = @TaxReturnID
	AND OrderNo = @OrderNo

	FETCH NEXT FROM @Cursor INTO
			@TaxReturnID, @OrderNo, @AccountIDFrom, @AccountIDTo,
			@CorAccountIDFrom, @CorAccountIDTo, @D_C, @AmountSign
    END
CLOSE @Cursor

DEALLOCATE @Cursor

SELECT * FROM AT7438

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

