IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP00111]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP00111]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Created by: Khanh Van
---- Date: 23/09/2013
---- Purpose: Cai thien toc do man hinh giai tru cong no phai thu
------ Created by Hoàng Vũ: Customize cho hoàng trần (thiết có check vào tự động giải trừ công nợ khi kế thừa hóa đơn: nếu kế thừa từ hóa đơn bàn bán hàng theo bộ thì phải thực hiện được chức năng giải trừ công nợ phải thu)
---- Modified by Bảo Thy on 25/05/2016: Bổ sung WITH (NOLOCK)
---- Modified on 16/05/2017 by Hải Long: Chỉnh sửa danh mục dùng chung
---- Modified on 06/03/2019 by Kim Thư: Điều chỉnh tính số tiền quy đổi đã giải trừ bao gồm số tiền chênh lệch tỷ giá thanh toán
---- Modified on 27/03/2020 by Văn Tài: Bổ sung WITH (NOLOCK)
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

CREATE PROCEDURE [dbo].[AP00111] 
		@DivisionID nvarchar(50),
		@ObjectID nvarchar(50),
		@AccountID nvarchar(50)

			
 AS

Declare @sqlSelect as nvarchar(4000) =N'',
		@sqlSelect1 as nvarchar(4000) =N'',
		@sqlSelect2 as nvarchar(4000) =N'',
		@sqlExec as nvarchar(4000) =N'',
		@sqlExec1 as nvarchar(4000) =N'',
		@sqlExec2 as nvarchar(4000) =N'',
		@CustomerName INT		
		
		CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

IF @CustomerName = 16 --- Customize Sieu Thanh
	EXEC AP00111_ST @DivisionID, @ObjectID, @AccountID
ELSE IF @CustomerName = 51 --- Customize Hoàng trần
	EXEC AP00111_HT @DivisionID, @ObjectID, @AccountID
Else
Begin


	  Delete AT0301
	  WHERE DivisionID = @DivisionID and DebitAccountID like(@AccountID) and ObjectID like (@ObjectID)
	  
	  INSERT AT0301 (GiveUpID, VoucherID, BatchID,  TableID, DivisionID,TranMonth,TranYear,
      ObjectID, DebitAccountID, CurrencyID, CurrencyIDCN,
      ObjectName, OriginalAmount,ConvertedAmount,
      OriginalAmountCN, GivedOriginalAmount,  GivedConvertedAmount,   ExchangeRate, ExchangeRateCN,
      VoucherTypeID, VoucherNO, VoucherDate,  InvoiceDate,InvoiceNo, Serial,
      VDescription,BDescription,  Status,   PaymentID, DueDays, DueDate)
      SELECT GiveUpID, VoucherID, BatchID,  TableID, DivisionID,TranMonth,TranYear,
      ObjectID, DebitAccountID, CurrencyID, CurrencyIDCN,
      ObjectName , OriginalAmount, ConvertedAmount,
      OriginalAmountCN,GivedOriginalAmount,GivedConvertedAmount,  ExchangeRate, ExchangeRateCN,
      VoucherTypeID, VoucherNO, VoucherDate,  InvoiceDate,InvoiceNo, Serial,
      VDescription,BDescription,  Status, PaymentID , DueDays, DueDate
      From
   

	(SELECT '' AS GiveUpID, VoucherID, BatchID, TableID, AT9000.DivisionID, TranMonth, TranYear,
		AT9000.ObjectID, DebitAccountID, AT9000.CurrencyID, CurrencyIDCN, AT1202.ObjectName, 
		Max(Ana02ID) As Ana02ID, 
		Sum(isnull(OriginalAmount,0)) as OriginalAmount,
		Sum(isnull(ConvertedAmount,0)) as ConvertedAmount, 
		Sum(isnull(OriginalAmountCN,0)) as OriginalAmountCN,
		GivedOriginalAmount = isnull((Select Sum(isnull(OriginalAmount,0)) From AT0303 WITH (NOLOCK) Where 	DivisionID = AT9000.DivisionID and
											ObjectID = AT9000.ObjectID and
											DebitVoucherID = AT9000.VoucherID and
											DebitBatchID = AT9000.BatchID and
											DebitTableID = At9000.TableID and
											AccountID = AT9000.DebitAccountID and
											CurrencyID = AT9000.CurrencyIDCN),0),
		GivedConvertedAmount =isnull( (Select Sum(isnull(ConvertedAmount,0)) From AT0303 WITH (NOLOCK) Where DivisionID = AT9000.DivisionID and
											ObjectID = AT9000.ObjectID and
											DebitVoucherID = AT9000.VoucherID and
											DebitBatchID = AT9000.BatchID and
											DebitTableID = At9000.TableID and
											AccountID = AT9000.DebitAccountID and
											CurrencyID = AT9000.CurrencyIDCN),0),
		ExchangeRate, ExchangeRateCN,
		VoucherTypeID, VoucherNo, VoucherDate, InvoiceDate, InvoiceNo, Serial,
		VDescription, VDescription AS BDescription, 0 AS Status,
		AT9000.PaymentID, AT9000.DueDays, AT9000.DueDate
	FROM AT9000 WITH (NOLOCK) Left join AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (@DivisionID, '@@@') AND AT1202.ObjectID = AT9000.ObjectID
	WHERE DebitAccountID like(@AccountID) and AT9000.ObjectID like (@ObjectID)
		and AT9000.DivisionID = @DivisionID
	Group by VoucherID, BatchID, TableID, AT9000.DivisionID, TranMonth, TranYear,
		AT9000.ObjectID, DebitAccountID, AT9000.CurrencyID, CurrencyIDCN, AT1202.ObjectName, 
		ExchangeRate, ExchangeRateCN,
		VoucherTypeID, VoucherNo, VoucherDate, InvoiceDate, InvoiceNo, Serial,
		VDescription, AT9000.PaymentID, AT9000.DueDays, AT9000.DueDate) B

	IF EXISTS (SELECT * FROM AT0301 WITH (NOLOCK) WHERE DivisionID = @DivisionID AND ObjectID=@ObjectID AND DebitAccountID = @AccountID AND ISNULL(OriginalAmount,0)-ISNULL(GivedOriginalAmount,0) = 0 AND ISNULL(ConvertedAmount,0)-ISNULL(GivedConvertedAmount,0)<>0)
	BEGIN
		SELECT A1.VoucherID, A1.VoucherNo, A1.InvoiceNo, SUM(ISNULL(A2.ConvertedAmount,0)) AS GivedConvertedAmount,
			(SELECT TOP 1 ISNULL(A3.ConvertedAmount,0) FROM AT0303 A3 WITH(NOLOCK) INNER JOIN AT9000 A90 WITH (NOLOCK) ON A3.DivisionID = A90.DivisionID AND A90.TransactionTypeID='T10' 
																											AND A3.DebitVoucherID=A90.VoucherID
				WHERE A3.AccountID = @AccountID AND A3.ObjectID = @ObjectID AND A3.CreditVoucherID = A2.CreditVoucherID 
						AND ABS(ISNULL(A1.ConvertedAmount,0) - ISNULL(A1.GivedConvertedAmount,0)) = ISNULL(A3.ConvertedAmount,0)
			 ) AS DiffConvertedAmount 
		INTO #DiffConvertedAmount
		FROM AT0301 A1 WITH(NOLOCK) INNER JOIN AT0303 A2 WITH(NOLOCK) ON A1.VoucherID = A2.DebitVoucherID
		WHERE A1.DivisionID = @DivisionID AND A1.ObjectID=@ObjectID AND A1.DebitAccountID = @AccountID AND ISNULL(A1.OriginalAmount,0)-ISNULL(A1.GivedOriginalAmount,0) = 0 AND ISNULL(A1.ConvertedAmount,0)-ISNULL(A1.GivedConvertedAmount,0)<>0
		GROUP BY A1.VoucherID, A1.VoucherNo, A1.InvoiceNo, ISNULL(A1.GivedConvertedAmount,0), ISNULL(A1.ConvertedAmount,0), A2.CreditVoucherID

		UPDATE A01
		SET A01.GivedConvertedAmount = CASE WHEN ISNULL(A01.ConvertedAmount,0) - ISNULL(A01.GivedConvertedAmount,0) > 0 THEN ISNULL(A01.GivedConvertedAmount,0) + ISNULL(A02.DiffConvertedAmount,0) ELSE ISNULL(A01.GivedConvertedAmount,0) - ISNULL(A02.DiffConvertedAmount,0) END 
		FROM AT0301 A01 INNER JOIN #DiffConvertedAmount A02 ON A01.VoucherID = A02.VoucherID
	
	END

End

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON