IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0093_PL]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0093_PL]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Truy vấn hóa đơn bán hàng thay cho AV3066
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 23/09/2013 by Khanh Van
---- 
---- Modified on 05/03/2014 by Le Thi Thu Hien : Bo sung phan quyen xem du lieu cua nguoi khac
---- Modified on 13/06/2014 by Le Thi Thu Hien : Bỏ where TableID
---- Modified on 01/07/2014 by Le Thi Thu Hien : Bổ sung 1 số thông tin
---- Modified on 05/05/2015 by Thanh Sơn : Bổ sung  Order by
---- Modified on 17/11/2015 by Quốc Tuấn : Sửa lại tính số lần in
---- Modified by Tiểu Mai on 18/01/2016: Bổ sung columns DiscountPercentSOrder, DiscountAmountSOrder
---- Modified by Phương Thảo on 02/03/2016 : Bỏ group theo tỷ giá (vì 1 hóa đơn có thể có nhiều tỷ giá)
---- Modified by Tiểu Mai on 14/03/2016: Bổ sung cloumns Ana01ID --> Ana10ID, RefInfor
---- Modified by Bảo Thy on 25/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Tiểu Mai on 30/05/2016: Fix double dòng màn hình truy vấn
---- Modified by Phương Thảo on 13/06/2016: Customize KH Thành Công (CustomerIndex = 65) : Order by ưu tiên theo loại phiếu
---- Modified by Tiểu Mai on 24/01/2017: Bổ sung tính toán cho mặt hàng chiết khấu
---- Modified by Bảo Anh on 11/01/2018: Sửa danh mục dùng chung
---- Modified by Kim Thư on 12/02/2019: Sắp thứ tự điều kiện where (cải thiện tốc độ)
---- Modified by Kim Thư on 20/02/2019: Bỏ hiện các cột mã phân tích Ana01ID -> Ana10ID (cải thiện tốc độ), bỏ lọc theo kỳ vì màn hình chỉ có theo ngày
---- Modified by Kim Thư on 20/02/2019: Bổ sung lại Ana01ID và Ana06ID
---- Modified by Huỳnh Thử on 15/09/2020: Bổ sung With(Nolock)
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Đức Thông on 05/01/2021: [Phúc Long] 2021/01/IS/0024: Bổ sung lọc theo mã hàng trên lưới detail
---- Modified by Đức Thông on 05/01/2021: [Phúc Long] 2021/01/IS/0024: Fix lỗi tiền thuế không hiển thị trên màn hình truy vấn 2021/01/IS/0170
---- Modified by Nhựt Trường on 26/02/2021: Bổ sung lại Ana07ID.
---- Modified by Xuân Nguyên on 07/06/2021: Bổ sung DiscountAmount.
---- Modified by Xuân Nguyên on 27/07/2021: Bổ sung Ana02ID.
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- 
-- <Summary>

CREATE PROCEDURE AP0093_PL
			@DivisionID NVARCHAR(50),
			@TranMonth INT,
			@TranYear INT,
			@FromDate DATETIME,
			@ToDate DATETIME,
			@ConditionVT NVARCHAR(1000),
			@IsUsedConditionVT NVARCHAR(1000),
			@ConditionAC NVARCHAR(1000),
			@IsUsedConditionAC NVARCHAR(1000),
			@ConditionOB NVARCHAR(1000),
			@IsUsedConditionOB NVARCHAR(1000),
			@ObjectID NVARCHAR(50),
			@UserID VARCHAR(50) = '',
			@InventoryID NVARCHAR(250) = ''
AS	
DECLARE @sSQL NVARCHAR(MAX),
		@sSQLFrom NVARCHAR(MAX),
		@sWhere NVARCHAR(MAX),
		@sGroup NVARCHAR(MAX),
		@sSQL1 NVARCHAR(MAX),
		@sSQL2 NVARCHAR(MAX)
		
----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
DECLARE @sSQLPer NVARCHAR(1000),
		@sWHEREPer NVARCHAR(1000),
		@CustomerIndex INT,
		@GroupID VARCHAR(50),
		@sSQLWhere NVARCHAR(MAX)=''

SET @sSQLPer = ''
SET @sWHEREPer = ''	
SET @sSQL2 = ''	

--CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
--INSERT #CustomerName EXEC AP4444
--SET @CustomerIndex = (SELECT TOP 1 CustomerName FROM #CustomerName)

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsPermissionView = 1 ) -- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
	BEGIN
		SET @sSQLPer = ' LEFT JOIN AT0010 WITH (NOLOCK) ON AT0010.DivisionID = A00.DivisionID 
											AND AT0010.AdminUserID = '''+@UserID+''' 
											AND AT0010.UserID = A00.CreateUserID '
		SET @sWHEREPer = ' AND (A00.CreateUserID = AT0010.UserID
								OR  A00.CreateUserID = '''+@UserID+''') '		
	END

SET @GroupID = (SELECT GroupID FROM AT1402 WHERE UserID = @UserID)

SELECT distinct DataID INTO #DATATEMP FROM AT1406  WITH (NOLOCK) WHERE DivisionID = @DivisionID AND ModuleID = 'AsoftS' AND GroupID = @GroupID  AND DataType = 'VT' AND Permission = 1
UNION ALL
SELECT distinct DataID FROM AT1406  WITH (NOLOCK) WHERE DivisionID = @DivisionID AND ModuleID = 'AsoftS'  AND GroupID = @GroupID AND DataType = 'AC' AND Permission = 1	


IF EXISTS (SELECT TOP 1 *  FROM #DATATEMP WITH (NOLOCK))
	SET @sSQLWhere = @sSQLWhere + 'AND ISNULL(A00.VoucherTypeID,''#'') IN (select * from #DATATEMP WITH (NOLOCK))
	AND	ISNULL(A00.DebitAccountID,''#'') IN (select * from #DATATEMP WITH (NOLOCK))
	AND	ISNULL(A00.CreditAccountID,''#'') IN (select * from #DATATEMP WITH (NOLOCK))
	'
-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác		'
--- Lấy dữ liệu bút toán vào bảng tạm: Lấy thêm list mã hàng để lọc ở màn hình truy vấn
SET @sSQL = N'
SELECT  A00.DivisionID, A00.TranMonth, A00.TranYear, A00.VoucherID, -- A00.BatchID, 
		A00.ReVoucherID, A00.ReTableID,
		A00.VoucherDate, A00.VoucherNo, A00.Serial, A00.InvoiceNo, (SELECT COUNT(VoucherID) FROM AT1112 A12 WITH (NOLOCK) WHERE A12.DivisionID=A00.DivisionID AND A12.VoucherID=A00.VoucherID) PrintedTimes,
		A00.VoucherTypeID, A00.VATTypeID, A00.InvoiceDate, A00.VDescription, A00.CurrencyID, 
		MAX(A00.ExchangeRate) AS ExchangeRate,
		SUM(CASE WHEN ISNULL(A32.IsDiscount,0) <> 0 THEN -OriginalAmount ELSE CASE WHEN A00.TransactionTypeID IN (''T04'') AND ISNULL(A32.IsDiscount,0) = 0 THEN OriginalAmount 
			ELSE CASE WHEN A00.TransactionTypeID IN (''T64'') THEN -OriginalAmount ELSE 0 END END END) OriginalAmount,
		SUM(CASE WHEN ISNULL(A32.IsDiscount,0) <> 0 THEN -ConvertedAmount ELSE CASE WHEN A00.TransactionTypeID IN (''T04'') AND ISNULL(A32.IsDiscount,0) = 0 THEN ConvertedAmount
			ELSE CASE WHEN TransactionTypeID IN (''T64'') THEN -ConvertedAmount ELSE 0 END END END) ConvertedAmount,
		A00.ObjectID, 
		A00.VATObjectID, A00.VATObjectName,
		A00.DueDate, '''' OrderID, ISNULL(A00.IsStock, 0) IsStock, 
		ISNULL((SELECT SUM(ConvertedAmount) FROM AT9000 C WITH (NOLOCK) WHERE C.DivisionID = A00.DivisionID AND C.VoucherDate = A00.VoucherDate AND C.TransactionTypeID =''T54'' AND C.VoucherID = A00.VoucherID), 0) CommissionAmount,
		SUM(ISNULL(DiscountAmount, 0)) DiscountAmount, SUM(CASE WHEN TransactionTypeID = ''T14'' THEN ConvertedAmount ELSE 0 END) TaxAmount,
		SUM(CASE WHEN A00.TransactionTypeID = ''T14'' THEN OriginalAmount ELSE 0 END) TaxOriginalAmount, --Tiền thuế quy đổi 
		--A06.WareHouseID, 
		A00.CreateUserID,
		MAX(ISNULL(A00.RefInfor,'''')) as RefInfor,
		(SELECT TOP 1 ISNULL(Ana01ID,'''') FROM AT9000 A90_1 WITH (NOLOCK) WHERE A90_1.DivisionID = A00.DivisionID AND A90_1.VoucherID = A00.VoucherID AND A90_1.TransactionTypeID = ''T04'' ORDER BY A90_1.Orders) AS Ana01ID,
		(SELECT TOP 1 ISNULL(Ana02ID,'''') FROM AT9000 A90_2 WITH (NOLOCK) WHERE A90_2.DivisionID = A00.DivisionID AND A90_2.VoucherID = A00.VoucherID AND A90_2.TransactionTypeID = ''T04'' ORDER BY A90_2.Orders) AS Ana02ID,
		(SELECT TOP 1 ISNULL(Ana06ID,'''') FROM AT9000 A90_6 WITH (NOLOCK) WHERE A90_6.DivisionID = A00.DivisionID AND A90_6.VoucherID = A00.VoucherID AND A90_6.TransactionTypeID = ''T04'' ORDER BY A90_6.Orders) AS Ana06ID,
		(SELECT TOP 1 ISNULL(Ana07ID,'''') FROM AT9000 A90_7 WITH (NOLOCK) WHERE A90_7.DivisionID = A00.DivisionID AND A90_7.VoucherID = A00.VoucherID AND A90_7.TransactionTypeID = ''T04'' ORDER BY A90_7.Orders) AS Ana07ID
		--''('' + STUFF(
  --       (SELECT DISTINCT '','' + A.InventoryID
  --        FROM  AT9000 A     
		--  WHERE A.VoucherID = A00.VoucherID
  --        FOR XML PATH (''''))
  --        , 1, 1, '''') + '')'' AS InventoryIDList
INTO #TEMP
FROM AT9000 A00 WITH (NOLOCK)
	LEFT JOIN AT1302 A32 WITH (NOLOCK) ON A32.DivisionID IN (A00.DivisionID,''@@@'') AND A32.InventoryID = A00.InventoryID	'							
	


		--(SELECT TOP 1 ISNULL(Ana02ID,'''') FROM AT9000 A90_2 WITH (NOLOCK) WHERE A90_2.DivisionID = A00.DivisionID AND A90_2.VoucherID = A00.VoucherID ORDER BY A90_2.Orders) AS Ana02ID,
		--(SELECT TOP 1 ISNULL(Ana03ID,'''') FROM AT9000 A90_3 WITH (NOLOCK) WHERE A90_3.DivisionID = A00.DivisionID AND A90_3.VoucherID = A00.VoucherID ORDER BY A90_3.Orders) AS Ana03ID,
		--(SELECT TOP 1 ISNULL(Ana04ID,'''') FROM AT9000 A90_4 WITH (NOLOCK) WHERE A90_4.DivisionID = A00.DivisionID AND A90_4.VoucherID = A00.VoucherID ORDER BY A90_4.Orders) AS Ana04ID,
		--(SELECT TOP 1 ISNULL(Ana05ID,'''') FROM AT9000 A90_5 WITH (NOLOCK) WHERE A90_5.DivisionID = A00.DivisionID AND A90_5.VoucherID = A00.VoucherID ORDER BY A90_5.Orders) AS Ana05ID,

		--(SELECT TOP 1 ISNULL(Ana07ID,'''') FROM AT9000 A90_7 WITH (NOLOCK) WHERE A90_7.DivisionID = A00.DivisionID AND A90_7.VoucherID = A00.VoucherID ORDER BY A90_7.Orders) AS Ana07ID,
		--(SELECT TOP 1 ISNULL(Ana08ID,'''') FROM AT9000 A90_8 WITH (NOLOCK) WHERE A90_8.DivisionID = A00.DivisionID AND A90_8.VoucherID = A00.VoucherID ORDER BY A90_8.Orders) AS Ana08ID,
		--(SELECT TOP 1 ISNULL(Ana09ID,'''') FROM AT9000 A90_9 WITH (NOLOCK) WHERE A90_9.DivisionID = A00.DivisionID AND A90_9.VoucherID = A00.VoucherID ORDER BY A90_9.Orders) AS Ana09ID,
		--(SELECT TOP 1 ISNULL(Ana10ID,'''') FROM AT9000 A90_10 WITH (NOLOCK) WHERE A90_10.DivisionID = A00.DivisionID AND A90_10.VoucherID = A00.VoucherID ORDER BY A90_10.Orders) AS Ana10ID

		--MAX(ISNULL(A00.Ana01ID,'''')) as Ana01ID, MAX(ISNULL(A00.Ana02ID,'''')) as Ana02ID, MAX(ISNULL(A00.Ana03ID,'''')) as Ana03ID, MAX(ISNULL(A00.Ana04ID,'''')) as Ana04ID, MAX(ISNULL(A00.Ana05ID,'''')) as Ana05ID,
		--MAX(ISNULL(A00.Ana06ID,'''')) as Ana06ID, MAX(ISNULL(A00.Ana07ID,'''')) as Ana07ID, MAX(ISNULL(A00.Ana08ID,'''')) as Ana08ID, MAX(ISNULL(A00.Ana09ID,'''')) as Ana09ID, MAX(ISNULL(A00.Ana10ID,'''')) as Ana10ID,

--LEFT JOIN AT2006 A06 WITH (NOLOCK) ON A06.DivisionID = A00.DivisionID AND A06.VoucherID = A00.VoucherID
	--LEFT JOIN AT1202 A02 WITH (NOLOCK) ON A02.ObjectID = A00.ObjectID
	--LEFT JOIN AT1202 A WITH (NOLOCK) ON A.ObjectID = A00.VATObjectID  
	--LEFT JOIN AT1002 WITH (NOLOCK) ON AT1002.CityID = A02.CityID  
		--AND	A00.TranMonth = '+CONVERT(NVARCHAR(2),@TranMonth)+' AND A00.TranYear = '+CONVERT(NVARCHAR(4),@TranYear)+'
SET @sWhere = N'
WHERE  A00.DivisionID = '''+@DivisionID+'''
	AND A00.VoucherDate BETWEEN '''+CONVERT(NVARCHAR(10), @FromDate, 21)+''' AND '''+CONVERT(NVARCHAR(10), @ToDate, 21)+'''
	AND A00.TransactionTypeID IN (''T04'', ''T14'',''T64'')
	' + CASE WHEN ISNULL(@ObjectID,'%') <> '%' THEN 'AND A00.ObjectID LIKE ('''+@ObjectID+''')' ELSE '' END +'		 
'+@sSQLWhere+@sWHEREPer+ ' AND ISNULL(A00.InventoryID, '''') LIKE ''%' + @InventoryID + '%'''
	
SET @sGroup = N'
GROUP BY A00.DivisionID, A00.TranMonth, A00.TranYear, A00.VoucherID, -- A00.BatchID, 
	A00.ReVoucherID, A00.ReTableID,
	A00.VoucherDate, A00.VoucherNo, A00.Serial, A00.InvoiceNo, A00.VoucherTypeID, A00.VATTypeID, A00.InvoiceDate,
	A00.VDescription, A00.CurrencyID, -- A00.ExchangeRate, 
	A00.ObjectID, 
	A00.DueDate, A00.VATObjectName, ISNULL(IsStock, 0),
	A00.VATObjectID, A00.CreateUserID, --A06.WareHouseID, 
	A32.IsDiscount
ORDER BY A00.DivisionID, A00.VoucherDate, A00.VoucherTypeID, A00.VoucherNo'
	
--PRINT(@sSQL)
--PRINT(@sSQLFrom)
--PRINT(@sSQLPer)
--PRINT(@sWhere)
--PRINT(@sWHEREPer)
--PRINT(@sGroup)
SET @sSQL1 = '
SELECT  A00.DivisionID, A00.TranMonth, A00.TranYear, A00.VoucherID, -- A00.BatchID, 
		A00.ReVoucherID, A00.ReTableID,
		A00.VoucherDate, A00.VoucherNo, A00.Serial, A00.InvoiceNo, A00.PrintedTimes,
		A00.VoucherTypeID, A00.VATTypeID, A00.InvoiceDate, A00.VDescription, A00.CurrencyID, 
		A00.ExchangeRate,
		SUM(A00.OriginalAmount) as OriginalAmount,
		SUM(A00.ConvertedAmount) as ConvertedAmount,
		SUM(A00.DiscountAmount) AS DiscountAmount,
		A00.ObjectID, A02.ObjectName, A02.VATNo, --A02.[Address], 
		--A02.CityID, AT1002.CityName,
		A00.VATObjectID, (CASE WHEN A.IsUpdateName = 0 THEN A.ObjectName ELSE A00.VATObjectName END) VATObjectName,
		A00.DueDate, A00.OrderID, A00.IsStock, 
		SUM(A00.CommissionAmount) as CommissionAmount,
		SUM(A00.TaxAmount) as TaxAmount,
		SUM(A00.TaxOriginalAmount) as TaxOriginalAmount, --Tiền thuế quy đổi 
		--A00.WareHouseID, 
		A00.CreateUserID,
		A00.RefInfor,
		A00.Ana01ID, A00.Ana02ID, -- A00.Ana03ID, A00.Ana04ID, A00.Ana05ID,
		A00.Ana06ID, A00.Ana07ID --, A00.Ana08ID, A00.Ana09ID, A00.Ana10ID,
		--ISNULL(A11.AnaName,'''') Ana01Name, --ISNULL(A12.AnaName,'''') Ana02Name, ISNULL(A13.AnaName,'''') Ana03Name, ISNULL(A14.AnaName,'''') Ana04Name, ISNULL(A15.AnaName,'''') Ana05Name, 
		--ISNULL(A16.AnaName,'''') Ana06Name--, ISNULL(A17.AnaName,'''') Ana07Name, ISNULL(A18.AnaName,'''') Ana08Name, ISNULL(A19.AnaName,'''') Ana09Name, ISNULL(A20.AnaName,'''') Ana10Name 
FROM #TEMP A00 
	LEFT JOIN AT1202 A02 WITH (NOLOCK) ON A02.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A02.ObjectID = A00.ObjectID
	LEFT JOIN AT1202 A WITH (NOLOCK) ON A.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A.ObjectID = A00.VATObjectID  
'
	--LEFT JOIN AT1002 WITH (NOLOCK) ON AT1002.CityID = A02.CityID
	--LEFT JOIN AT1011 A11 WITH (NOLOCK) ON A11.AnaID = A00.Ana01ID AND A11. AnaTypeID = ''A01'' 
	--LEFT JOIN AT1011 A12 WITH (NOLOCK) ON A12.AnaID = A00.Ana02ID AND A12. AnaTypeID = ''A02''
	--LEFT JOIN AT1011 A13 WITH (NOLOCK) ON A13.AnaID = A00.Ana03ID AND A13. AnaTypeID = ''A03''
	--LEFT JOIN AT1011 A14 WITH (NOLOCK) ON A14.AnaID = A00.Ana04ID AND A14. AnaTypeID = ''A04''
	--LEFT JOIN AT1011 A15 WITH (NOLOCK) ON A15.AnaID = A00.Ana05ID AND A15. AnaTypeID = ''A05''
	--LEFT JOIN AT1011 A16 WITH (NOLOCK) ON A16.AnaID = A00.Ana06ID AND A16. AnaTypeID = ''A06''
	--LEFT JOIN AT1011 A17 WITH (NOLOCK) ON A17.AnaID = A00.Ana07ID AND A17. AnaTypeID = ''A07''
	--LEFT JOIN AT1011 A18 WITH (NOLOCK) ON A18.AnaID = A00.Ana08ID AND A18. AnaTypeID = ''A08''
	--LEFT JOIN AT1011 A19 WITH (NOLOCK) ON A19.AnaID = A00.Ana09ID AND A19. AnaTypeID = ''A09''
	--LEFT JOIN AT1011 A20 WITH (NOLOCK) ON A20.AnaID = A00.Ana10ID AND A20. AnaTypeID = ''A10''


SET @sSQL2 = '
GROUP BY A00.DivisionID, A00.TranMonth, A00.TranYear, A00.VoucherID, -- A00.BatchID, 
		A00.ReVoucherID, A00.ReTableID,
		A00.VoucherDate, A00.VoucherNo, A00.Serial, A00.InvoiceNo, A00.PrintedTimes,
		A00.VoucherTypeID, A00.VATTypeID, A00.InvoiceDate, A00.VDescription, A00.CurrencyID, 
		A00.ExchangeRate,
		A00.ObjectID, A02.ObjectName, A02.VATNo, --A02.[Address],
		--A02.CityID, AT1002.CityNAme, 
		A00.VATObjectID, (CASE WHEN A.IsUpdateName = 0 THEN A.ObjectName ELSE A00.VATObjectName END),
		A00.DueDate, A00.OrderID, A00.IsStock, 
		--A00.WareHouseID, 
		A00.CreateUserID,
		A00.RefInfor,
		A00.Ana01ID, A00.Ana02ID, --A00.Ana03ID, A00.Ana04ID, A00.Ana05ID,
		A00.Ana06ID, A00.Ana07ID --, A00.Ana08ID, A00.Ana09ID, A00.Ana10ID,
		--A11.AnaName, --A12.AnaName, A13.AnaName, A14.AnaName, A15.AnaName,
		--A16.AnaName--, A17.AnaName, A18.AnaName, A19.AnaName, A20.AnaName
 ORDER BY A00.DivisionID, A00.VoucherDate, A00.VoucherTypeID, A00.VoucherNo'
		
PRINT @sSQL
PRINT @sSQLPer
PRINT @sWhere
PRINT @sGroup
PRINT @sSQL1
PRINT @sSQL2

EXEC(@sSQL+ @sSQLPer + @sWhere + @sGroup + @sSQL1 + @sSQL2)



GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
