IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0092]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0092]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
--- Created by Hoàng Vũ, on 25/12/2017: load detail cho man hinh ke thua phiếu đề nghị xuất hóa đơn (AF0091)
--- Modify by Hoàng vũ, on 29/01/2017: Phiếu đề nghị đã kế thừa hết thì không cho load nữa (Hoặc trạng thái phiếu đề nghị xuất hóa đơn là 1 hoặc đề nghị xuất hóa đơn đã kế thừa hết)
--- Modify by Hoàng vũ, on 02/03/2018: Tính toán lại giá trị còn lại, chiết khấu và thuế
--- Modify by hoàng vũ, on 16/03/2018: Fix trường kế thừa table là AT9000 -> POST2030
--- Modify by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
--- exec AP0092 @DivisionID=N'HCM', @VoucherID = N'', @lstVoucherID=N'F06FC253-4125-414F-A771-5F9183E81C6B'

CREATE PROCEDURE [dbo].[AP0092] 
				@DivisionID nvarchar(50),
				@VoucherID  nvarchar(50),	 --- Addnew: truyen ''; Edit:  so chung tu vua duoc chon sua				
				@lstVoucherID nvarchar(4000)
				
AS
BEGIN
		IF NOT EXISTS (SELECT TOP 1 1 FROM SYSOBJECTS TAB WHERE TAB.Name like 'POST%')
			return
		Declare @sSQL nvarchar(max)
		if isnull(@VoucherID,'') != ''	--- khi load edit
		BEGIN
				Set @sSQL = '
						Select M.APK as APKMaster, Case When Isnull(A90.VoucherID, '''') != N'''+@VoucherID+''' then 1 else 0 end as IsCheckDetail
												, M.DivisionID, M.VoucherTypeID, M.VoucherNo, M.VoucherDate, M.TranYear, M.TranMonth, M.ShopID, M.SuggestUserID, M.ObjectID, M.ObjectName
												, M.VATObjectID, M.VATObjectName, M.VATObjectAddress, M.VATNo, M.Status, M.InvoiceVoucherNo, M.TableID, M.Description
												, M.CreateUserID, M.CreateDate, M.LastModifyUserID, M.LastModifyDate
												, D.APK as APKDetail
												, D.InVoucherTypeID, D.InVoucherNo, D.InVoucherDate, D.PackageID, D.InventoryID, A02.InventoryName
												, D.UnitID
												, Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0)) as Quantity
												, Isnull(D.UnitPrice, 0) as UnitPrice
												, (Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) as OriginalAmount
												, (Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) as ConvertedAmount
												, D.CurrencyID
												, Isnull(D.DiscountRate,0) as DiscountRate, D.ExchangeRate
												, (Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) * Isnull(D.DiscountRate,0)/100 as DiscountAmount
												, D.VATGroupID
												, Isnull(D.VATPercent, 0)*100 as VATPercent
												, ((Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) 
												- (Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) * Isnull(D.DiscountRate,0)/100) * Isnull(D.VATPercent, 0)  as TaxAmount
												, D.Notes, D.Orders, D.SerialNo
						From POST2030 M With (Nolock) inner join POST2031 D With (Nolock) on M.APK = D.APKMaster and M.DeleteFlg = D.DeleteFlg
													  left join AT1302 A02  With (Nolock) on A02.DivisionID IN (D.DivisionID,''@@@'') AND D.InventoryID = A02.InventoryID
													  left join AT9000 A90  With (Nolock) on M.DivisionID = A90.DivisionID 
																		and Cast(M.APK as nvarchar(Max)) = A90.InheritVoucherID and Cast(D.APK as nvarchar(Max)) = A90.InheritTransactionID 
																		and A90.InheritTableID = ''POST2030'' and A90.IsInvoiceSuggest = 1 and A90.TransactionTypeID = ''T04''
																		and A90.VoucherID != N'''+@VoucherID+'''
						Where M.DivisionID = N'''+@DivisionID+''' and 
						M.DeleteFlg = 0 and Cast(M.APK as nvarchar(Max)) in (N'''+@lstVoucherID+''') 
						Group by M.APK, Isnull(A90.VoucherID, ''''), M.DivisionID, M.VoucherTypeID, M.VoucherNo, M.VoucherDate, M.TranYear, M.TranMonth, M.ShopID, M.SuggestUserID, M.ObjectID, M.ObjectName
												, M.VATObjectID, M.VATObjectName, M.VATObjectAddress, M.VATNo, M.Status, M.InvoiceVoucherNo, M.TableID, M.Description
												, M.CreateUserID, M.CreateDate, M.LastModifyUserID, M.LastModifyDate
												, D.APK
												, D.InVoucherTypeID, D.InVoucherNo, D.InVoucherDate, D.PackageID, D.InventoryID, A02.InventoryName
												, D.UnitID, Isnull(D.Quantity, 0), Isnull(D.UnitPrice, 0)
												, D.CurrencyID, Isnull(D.DiscountRate,0), D.ExchangeRate, D.VATGroupID
												, Isnull(D.VATPercent, 0), D.Notes, D.Orders, D.SerialNo
						Having Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0)) >0
						Order by M.VoucherDate, M.VoucherNo
						'
			END
			ELSE
				BEGIN
						Set @sSQL = '
						Select M.APK as APKMaster, cast(0 as tinyint) as IsCheckDetail
												, M.DivisionID, M.VoucherTypeID, M.VoucherNo, M.VoucherDate, M.TranYear, M.TranMonth, M.ShopID, M.SuggestUserID, M.ObjectID, M.ObjectName
												, M.VATObjectID, M.VATObjectName, M.VATObjectAddress, M.VATNo, M.Status, M.InvoiceVoucherNo, M.TableID, M.Description
												, M.CreateUserID, M.CreateDate, M.LastModifyUserID, M.LastModifyDate
												, D.APK as APKDetail
												, D.InVoucherTypeID, D.InVoucherNo, D.InVoucherDate, D.PackageID, D.InventoryID, A02.InventoryName
												, D.UnitID
												, Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0)) as Quantity
												, Isnull(D.UnitPrice, 0) as UnitPrice
												, (Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) as OriginalAmount
												, (Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) as ConvertedAmount
												, D.CurrencyID
												, Isnull(D.DiscountRate,0) as DiscountRate, D.ExchangeRate
												, (Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) * Isnull(D.DiscountRate,0)/100 as DiscountAmount
												, D.VATGroupID
												, Isnull(D.VATPercent, 0)*100 as VATPercent
												, ((Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) 
												- (Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0))) * Isnull(D.UnitPrice, 0) * Isnull(D.DiscountRate,0)/100) * Isnull(D.VATPercent, 0)  as TaxAmount
												, D.Notes, D.Orders, D.SerialNo
						From POST2030 M With (Nolock) inner join POST2031 D With (Nolock) on M.APK = D.APKMaster and M.DeleteFlg = D.DeleteFlg
													  left join AT1302 A02  With (Nolock) on A02.DivisionID IN (D.DivisionID,''@@@'') AND D.InventoryID = A02.InventoryID
													  left join AT9000 A90  With (Nolock) on M.DivisionID = A90.DivisionID 
																		and Cast(M.APK as nvarchar(Max)) = A90.InheritVoucherID and Cast(D.APK as nvarchar(Max)) = A90.InheritTransactionID 
																		and A90.InheritTableID = ''POST2030'' and A90.IsInvoiceSuggest = 1 and A90.TransactionTypeID = ''T04''
						Where M.DivisionID = N'''+@DivisionID+''' and 
						M.DeleteFlg = 0 and Cast(M.APK as nvarchar(Max)) in (N'''+@lstVoucherID+''') 
						Group by M.APK, M.DivisionID, M.VoucherTypeID, M.VoucherNo, M.VoucherDate, M.TranYear, M.TranMonth, M.ShopID, M.SuggestUserID, M.ObjectID, M.ObjectName
												, M.VATObjectID, M.VATObjectName, M.VATObjectAddress, M.VATNo, M.Status, M.InvoiceVoucherNo, M.TableID, M.Description
												, M.CreateUserID, M.CreateDate, M.LastModifyUserID, M.LastModifyDate
												, D.APK
												, D.InVoucherTypeID, D.InVoucherNo, D.InVoucherDate, D.PackageID, D.InventoryID, A02.InventoryName
												, D.UnitID, Isnull(D.Quantity, 0), Isnull(D.UnitPrice, 0)
												, D.CurrencyID, Isnull(D.DiscountRate,0), D.ExchangeRate, D.VATGroupID
												, Isnull(D.VATPercent, 0), D.Notes, D.Orders, D.SerialNo
						Having Isnull(D.Quantity, 0) - Sum(Isnull(A90.Quantity, 0)) >0
						Order by M.VoucherDate, M.VoucherNo
						'
				END
			EXEC (@sSQL)
			
			
END
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
