IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0070_AG]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0070_AG]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO








-- <Summary>
---- Load dữ liệu lên màn hình thiết kế Customize Report
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 22/11/2011 by 
---- Modify by Lê Thị Hạnh on 02/10/2014: Bổ sung OID, IID - Báo cáo theo dõi chiết kháu cho Sài Gòn Petro - CUstomoze Index: 36
---- 
---- Modified on 03/07/2013 by Lê Thị Thu Hiền : Bổ sung khoản mục ICode
---- Modified on 02/10/2014 by Lê Thị Thu Hiền : Bổ sung thêm Trạng thái quyết toán (BOURBON)
---- Modified on 10/10/2018 by Kim Thư: điều chỉnh load mặt hàng có thông tin I06 (tổ nhóm), load tổ sản xuất phòng PSX
---- Modified on 16/10/2018 by Kim Thư: Bổ sung With (Nolock)
---- Modified on 28/12/2018 by Kim Thư: Bổ sung load mã phân tích mặt hàng
---- Modified on 16/01/2018 by Kim Thư: Bổ sung load nhóm mặt hàng
---- Modified on 18/04/2022 by Nhật Thanh: Bổ sung divisionID @@@ khi load đối tượng
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.

-- <Example>
---- EXEC AP0070 'HT', 'ASOFTADMIN', 'VN-vi', 'OID', 'WM'
CREATE PROCEDURE [DBO].[AP0070_AG]
(
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@Language AS NVARCHAR(50),
	@Type AS NVARCHAR(50),
	@ModuleID AS NVARCHAR(50)
) 
AS

SET NOCOUNT ON
DECLARE @sSQL AS NVARCHAR(4000)
CREATE TABLE #Data (Code NVARCHAR(50), Name NVARCHAR(250), Filter NVARCHAR(250))
IF @Type = 'ACC'	
		INSERT INTO #Data (Code, Name, Filter)
			SELECT AccountID, AccountName, @Type FROM AT1005 WITH (NOLOCK)
			WHERE DivisionID = @DivisionID AND [Disabled] = 0
			ORDER BY AccountID

IF @Type = 'OBJ'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT ObjectID, ObjectName, @Type FROM AT1202 WITH (NOLOCK)
		WHERE DivisionID in ('@@@',@DivisionID) AND [Disabled] = 0
		ORDER BY ObjectID

IF @Type = 'CUR'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT CurrencyID, CurrencyName, @Type FROM AT1004 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0
		ORDER BY CurrencyID

IF @Type = 'WH'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT WareHouseID, WareHouseName, @Type FROM AT1303 WITH (NOLOCK)
		WHERE DivisionID in ('@@@',@DivisionID)  AND [Disabled] = 0
		ORDER BY WareHouseID

IF @Type = 'VT'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT WareHouseID, WareHouseName, @Type FROM AT1303 WITH (NOLOCK)
		WHERE DivisionID in ('@@@',@DivisionID)  AND [Disabled] = 0
		ORDER BY WareHouseID
		
IF @Type = 'INV'
	INSERT INTO #Data (Code, Name, Filter)
		--SELECT VoucherTypeID, VoucherTypeName, @Type FROM AT1007
		SELECT '%' AS InventoryId, N'Tất cả' AS InventoryName, @Type
		UNION ALL
		SELECT InventoryId, InventoryName, @Type FROM AT1302 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0 AND ISNULL(I06ID,'')<>''
		ORDER BY InventoryId

IF @Type = 'EMP'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT EmployeeID, FullName, @Type FROM AT1103 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0	
		ORDER BY EmployeeID	
		
IF @Type = 'EMPHV1400'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT EmployeeID, 
		Ltrim(RTrim(isnull(LastName,''))) 
		+ ' ' + LTrim(RTrim(isnull(MiddleName,''))) 
		+ ' ' + LTrim(RTrim(Isnull(FirstName,''))) AS FullName, @Type FROM HT1400 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID	
		ORDER BY EmployeeID					
		
IF @Type = 'DEV'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT DepartmentID,DepartmentName, @Type FROM AT1102 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0	
		ORDER BY DepartmentID
		
IF @Type = 'YEAR'
IF @ModuleID = 'OP'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT DISTINCT TranYear, DivisionID, @Type FROM OT9999 WITH (NOLOCK)
        WHERE DivisionID = @DivisionID ORDER BY TranYear
		
IF @Type LIKE 'A%'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT AnaID, AnaName, @Type FROM AT1011 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0 AND AnaTypeID = @Type
		ORDER BY AnaID
		
IF @Type LIKE 'I[0-9][0-9]'
	IF @Type = 'I03'  --SELECT DISTINCT I03ID FROM AT1302  WITH (NOLOCK) WHERE DivisionID=@DivisionID ELSE
		INSERT INTO #Data (Code, Name, Filter)
			SELECT '%' AS AnaID, N'Tất cả' AS AnaName, @Type
			UNION ALL
			SELECT AnaID, AnaName, @Type FROM AT1015 WITH (NOLOCK)
			WHERE DivisionID = @DivisionID AND [Disabled] = 0 AND AnaTypeID = @Type	
			AND AnaID IN (SELECT DISTINCT I03ID FROM AT1302  WITH (NOLOCK) WHERE DivisionID=@DivisionID)
			ORDER BY AnaID
	ELSE
	INSERT INTO #Data (Code, Name, Filter)
			SELECT AnaID, AnaName, @Type FROM AT1015 WITH (NOLOCK)
			WHERE DivisionID = @DivisionID AND [Disabled] = 0 AND AnaTypeID = @Type	
			ORDER BY AnaID
			
IF @Type LIKE 'O[0-9][0-9]'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT AnaID, AnaName, @Type FROM AT1015 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0 AND AnaTypeID = @Type	
		ORDER BY AnaID
		
IF @Type LIKE 'DEVICEGROUP'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT DeviceGroupID, DeviceGroupName, @Type FROM CST1030 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0
		ORDER BY DeviceGroupID
		
IF @Type LIKE 'DEVICE'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT DeviceID, DeviceName, @Type FROM CST1040 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0
		ORDER BY DeviceID

IF @Type LIKE 'DEVICETYPE'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT DeviceTypeID, DeviceTypeName, @Type FROM CST1070 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND [Disabled] = 0
		ORDER BY DeviceTypeID

IF @Type LIKE 'TYPE'
	INSERT INTO #Data (Code, Name, Filter)
		SELECT Code AS TypeID, [Name] AS  DeviceName, @Type FROM CSV2010
		WHERE ID='DeviceType'
		ORDER BY Code

IF @Type LIKE 'IID'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT AT15.AnaID AS IID, AT15.AnaName AS IName, @Type
		FROM OT0000 OT00 WITH (NOLOCK)
		INNER JOIN AT1015 AT15 WITH (NOLOCK) ON AT15.DivisionID = OT00.DivisionID AND AT15.AnaTypeID = OT00.ITypeID
		WHERE OT00.DivisionID = @DivisionID AND AT15.[Disabled] = 0
		ORDER BY AT15.AnaID

IF @Type LIKE 'OID'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT AT15.AnaID AS OID, AT15.AnaName AS OName, @Type
		FROM OT0000 OT00 WITH (NOLOCK)
		INNER JOIN AT1015 AT15 WITH (NOLOCK) ON AT15.DivisionID = OT00.DivisionID AND AT15.AnaTypeID = OT00.OTypeID
		WHERE OT00.DivisionID = @DivisionID AND AT15.[Disabled] = 0
		ORDER BY AT15.AnaID
		
IF @Type LIKE 'SEST' 
    INSERT INTO #Data (Code,Name,Filter)
        SELECT '0' AS Code, N'Tất cả' AS Name, @Type AS Filter
        UNION ALL
		SELECT '1' AS Code, N'Chưa quyết toán' AS Name, @Type AS Filter
		UNION ALL
		SELECT '2' AS Code, N'Đã quyết toán' AS Name, @Type AS Filter

IF @Type LIKE 'SOrderID'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT OT01.SOrderID SOrderID, OT01.SOrderID AS Name, @Type
		FROM OT2001 OT01 WITH (NOLOCK)
		WHERE OT01.DivisionID = @DivisionID AND OT01.VoucherTypeID = 'DV'
		ORDER BY OT01.SOrderID
	
IF @Type LIKE 'PERIODID'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT HT66.PeriodID, HT66.PeriodName AS Name, @Type
		FROM HT6666 HT66 WITH (NOLOCK)
		WHERE HT66.DivisionID = @DivisionID
		ORDER BY HT66.PeriodID

IF @Type LIKE 'PROJECTID'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT HT20.ProjectID, HT20.ProjectName AS Name, @Type
		FROM HT1120 HT20 WITH (NOLOCK)
		WHERE HT20.DivisionID = @DivisionID AND HT20.Disabled=0
		ORDER BY HT20.ProjectID

IF @Type LIKE 'SHIFTCODE'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT HT10.ShiftID, HT10.ShiftName AS Name, @Type
		FROM HT1020 HT10 WITH (NOLOCK)
		WHERE HT10.DivisionID = @DivisionID AND HT10.Disabled=0
		ORDER BY HT10.ShiftID

IF @Type LIKE 'PERIODHRM'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT 
			HV99.TranYear * 100 + HV99.TranMonth, 
			HV99.MonthYear AS Name, @Type
		FROM HV9999 HV99
		WHERE HV99.DivisionID = @DivisionID
		ORDER BY HV99.TranYear, HV99.TranMonth DESC

IF @Type LIKE 'I01ID-SECOIN'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT 
			AnaID, 
			AnaName AS Name, @Type
		FROM AT1015 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID and AnaTypeID = 'I01' and AnaID like N'GACH%' and Disabled=0
		ORDER BY AnaID

IF @Type LIKE 'TEAM'
    INSERT INTO #Data (Code, Name, Filter)
        SELECT '%' AS TeamID, N'Tất cả' AS TeamName, @Type
		UNION ALL
		SELECT 
			TeamID, 
			TeamName AS Name, @Type
		FROM HT1101 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID  AND DepartmentID in ('PSX') and Disabled=0
		ORDER BY TeamID

IF @Type = 'INVTYPE'
	INSERT INTO #Data (Code, Name, Filter)
		--SELECT VoucherTypeID, VoucherTypeName, @Type FROM AT1007
		SELECT '%' AS InventoryTypeID, N'Tất cả' AS InventoryTypeName, @Type
		UNION ALL
		SELECT DISTINCT AT1301.InventoryTypeId, InventoryTypeName, @Type 
		FROM AT1301 WITH (NOLOCK) INNER JOIN AT1302 WITH (NOLOCK) ON AT1301.DivisionID = AT1302.DivisionID AND AT1301.InventoryTypeID = AT1302.InventoryTypeID
		WHERE AT1301.DivisionID = @DivisionID AND AT1301.[Disabled] = 0 AND ISNULL(AT1302.I03ID,'') <> ''
		ORDER BY InventoryTypeId



SET @sSQL = N'SELECT * FROM #Data ' + CASE WHEN ISNULL(@Type, '') <> '' THEN 'WHERE Filter = ''' + @Type + '''' ELSE '' END + ' ORDER BY Code'

--PRINT @sSQL

EXEC(@sSQL)

DROP TABLE #Data








GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
