IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0158]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0158]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--- Created by Bảo Anh	Date: 14/05/2018
--- Purpose: Tính định mức tồn kho hàng hóa
--- Modified by
--- AP0158 'PRT',5,2018,'05/01/2018','05/31/2018','KDCBGMCT0001','TZZBJSKN0002','%','','','@Amount/3',''

CREATE PROCEDURE [dbo].[AP0158]  
				@DivisionID nvarchar(50),
				@TranMonth int,
				@TranYear int,
				@FromDate datetime,
				@ToDate datetime,
				@FromInventoryID nvarchar(50),
				@ToInventoryID nvarchar(50),
				@WarehouseID nvarchar(50),
				@MinQtyFormula varchar(100) = '',
				@MaxQtyFormula varchar(100) = '',
				@ReOderQtyFormula varchar(100),
				@UserID nvarchar(50)
AS

Declare @sSQL AS nvarchar(4000),
		@QuantityDecimal INT

SET @QuantityDecimal = (SELECT QuantityDecimals FROM AT0001 WITH (NOLOCK) where DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(@DivisionID)))   

DELETE AT1314 WHERE DivisionID = @DivisionID AND TranMonth = @TranMonth AND TranYear = @TranYear
AND (FromDate >= @FromDate And ToDate <= @ToDate) AND (InventoryID between @FromInventoryID and @ToInventoryID)
AND WarehouseID like @WarehouseID

SELECT 	@DivisionID as DivisionID, @TranMonth as TranMonth, @TranYear as TranYear, @FromDate as FromDate, @ToDate as ToDate,
		newid() as InventoryNormID,	T90.InventoryID, Isnull(T90.WareHouseID,'%') as WareHouseID,
		SUM(T90.ActualQuantity) as ActualQuantity
INTO #TAM
FROM (	Select InventoryID, WareHouseID, TranMonth + 100*TranYear AS MonthYear, SUM(ActualQuantity) AS ActualQuantity
		From AV7000 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID AND (InventoryID between @FromInventoryID and @ToInventoryID)
		And D_C = 'C' and (TranMonth + 100*TranYear between (case @TranMonth when 1 then 13 when 2 then 14 else @TranMonth end) - 3 + 100 * (case when @TranMonth in (1,2,3) then @TranYear-1 else @TranYear end) and (case @TranMonth when 1 then 13 else @TranMonth end) - 1  + 100 * (case when @TranMonth = 1 then @TranYear-1 else @TranYear end))
		AND WareHouseID like @WarehouseID
		Group by InventoryID, WareHouseID, TranMonth + 100*TranYear
	) T90
GROUP BY T90.InventoryID, Isnull(T90.WareHouseID,'%')

--- Tính mức đặt hàng lại
SET @ReOderQtyFormula = CASE WHEN ISNULL(@ReOderQtyFormula,'') = '' THEN '0' ELSE REPLACE(@ReOderQtyFormula, '@Amount', 'ActualQuantity') END
SET @MinQtyFormula = CASE WHEN ISNULL(@MinQtyFormula,'') = '' THEN '0' ELSE REPLACE(@MinQtyFormula, '@Amount', 'ActualQuantity') END
SET @MaxQtyFormula = CASE WHEN ISNULL(@MaxQtyFormula,'') = '' THEN '0' ELSE REPLACE(@MaxQtyFormula, '@Amount', 'ActualQuantity') END

SET @sSQL = 
'INSERT INTO AT1314 (DivisionID, TranMonth, TranYear, FromDate, ToDate, InventoryNormID, InventoryID, WareHouseID,
					MinQuantity, MaxQuantity, ReOrderQuantity, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		
SELECT	DivisionID, TranMonth, TranYear, FromDate, ToDate, InventoryNormID, InventoryID, WareHouseID,
		ROUND(' + @MinQtyFormula + ',' + LTRIM(@QuantityDecimal) + ') AS MinQuantity,
		ROUND(' + @MaxQtyFormula + ',' + LTRIM(@QuantityDecimal) + ') AS MaxQuantity,
		ROUND(' + @ReOderQtyFormula + ',' + LTRIM(@QuantityDecimal) + ') as ReOrderQuantity, ''' + @UserID + ''',getdate(),''' + @UserID + ''',getdate()
FROM #TAM
'
print @sSQL
EXEC(@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
