IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0145]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0145]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Truy vấn hóa đơn bán hàng theo bộ thay cho AV6066
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 24/01/2016 by Phan thanh hoang vu
---- Modified on 30/03/2016 by Cao Thị Phượng Chuyển lấy OrderID sang lấy VoucherNo 
---- Modified by Bảo Thy on 25/05/2016: Bổ sung WITH (NOLOCK)
---- Modified on 10/05/2017 by Phương Thảo: Sửa danh mục dùng chung
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- exec AP0145 @DivisionID=N'AS',@TranMonth=1,@TranYear=2015,@FromDate='2015-01-01 00:00:00',@ToDate='2015-01-31 00:00:00',@ConditionVT=N'('''')',@IsUsedConditionVT=N' (0=0) ',@ConditionAC=N'('''')',@IsUsedConditionAC=N' (0=0) ',@ConditionOB=N'('''')',@IsUsedConditionOB=N' (0=0) ',@ObjectID=N'%',@UserID='ASOFTADMIN'
-- <Summary>

CREATE PROCEDURE AP0145
			@DivisionID NVARCHAR(50),
			@TranMonth INT,
			@TranYear INT,
			@FromDate DATETIME,
			@ToDate DATETIME,
			@ConditionVT NVARCHAR(1000),
			@IsUsedConditionVT NVARCHAR(1000),
			@ConditionAC NVARCHAR(1000),
			@IsUsedConditionAC NVARCHAR(1000),
			@ConditionOB NVARCHAR(1000),
			@IsUsedConditionOB NVARCHAR(1000),
			@ObjectID NVARCHAR(50),
			@UserID VARCHAR(50) = ''
AS	
DECLARE @sSQL NVARCHAR(MAX),
		@sSQLFrom NVARCHAR(MAX),
		@sWhere NVARCHAR(MAX),
		@sGroup NVARCHAR(MAX)
		
----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
DECLARE @sSQLPer NVARCHAR(1000),
		@sWHEREPer NVARCHAR(1000)
SET @sSQLPer = ''
SET @sWHEREPer = ''		

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsPermissionView = 1 ) -- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
	BEGIN
		SET @sSQLPer = ' LEFT JOIN AT0010 WITH (NOLOCK) ON AT0010.DivisionID = AT9000.DivisionID 
											AND AT0010.AdminUserID = '''+@UserID+''' 
											AND AT0010.UserID = AT9000.CreateUserID '
		SET @sWHEREPer = ' AND (AT9000.CreateUserID = AT0010.UserID
								OR  AT9000.CreateUserID = '''+@UserID+''') '		
	END
-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác		
SET @sSQL = N'
Select  AT9000.DivisionID, AT9000.TranMonth, AT9000.TranYear,
	AT9000.VoucherID, AT9000.BatchID,	  
	AT9000.VoucherDate,AT9000.VoucherNo, AT9000.Serial, AT9000.InvoiceNo,
	AT9000.VoucherTypeID,
	AT9000.VATTypeID, AT9000.InvoiceDate,
	AT9000.VDescription,
	AT9000.BDescription,
	AT9000.CurrencyID,
	AT9000.ExchangeRate,
	Sum(isnull(AT9000.OriginalAmount,0)) as OriginalAmount,
	Sum(Isnull(AT9000.ConvertedAmount,0)) as ConvertedAmount,
	AT9000.ObjectID,
	(Case when AT1202.IsUpdateName = 0 then AT1202.ObjectName else AT9000.VATObjectName End) as  ObjectName,
	AT9000.DueDate,
	OrderID = (Select VoucherNo From OT2001 where AT9000.DivisionID= OT2001.DivisionID and AT9000.OrderID = OT2001.SOrderID),
	isnull(AT9000.IsStock,0) as IsStock, 	
	Sum ( Case when AT9000.TransactionTypeID =''T14'' then AT9000.ConvertedAmount else 0 end ) as TaxAmount,
	AT9000.Ana01ID, AT9000.Ana02ID, AT9000.Ana03ID, AT9000.Ana04ID, AT9000.Ana05ID,	AT9000.CreateUserID
	
From AT9000 WITH (NOLOCK) 
inner join AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID '

SET @sWhere = N'
WHERE AT9000.TransactionTypeID = ''T04'' and AT9000.TableID in (''MT1603'' , ''AT1326'') 
	AND	AT9000.TranMonth = '+CONVERT(NVARCHAR(2),@TranMonth)+' AND AT9000.TranYear = '+CONVERT(NVARCHAR(4),@TranYear)+'
	AND	(ISNULL(AT9000.VoucherTypeID,''#'') IN '+@ConditionVT+' OR '+@IsUsedConditionVT+')
	AND	(ISNULL(AT9000.DebitAccountID,''#'') IN '+@ConditionAC+' OR '+@IsUsedConditionAC+')
	AND	(ISNULL(AT9000.CreditAccountID,''#'') IN '+@ConditionAC+' OR '+@IsUsedConditionAC+')
	AND	(ISNULL(AT9000.ObjectID,''#'')  IN '+@ConditionOB+' OR '+@IsUsedConditionOB+')
	AND AT9000.VoucherDate BETWEEN '''+CONVERT(NVARCHAR(10), @FromDate, 21)+''' AND '''+CONVERT(NVARCHAR(10), @ToDate, 21)+'''
	AND AT9000.ObjectID LIKE ('''+@ObjectID+''')
	AND AT9000.DivisionID = '''+@DivisionID+'''
'+@sWHEREPer+''
	
SET @sGroup = N'
Group by  AT9000.DivisionID, AT9000.TranMonth, AT9000.TranYear,
	AT9000.VoucherID, AT9000.BatchID, AT9000.VoucherDate,AT9000.VoucherNo, AT9000.Serial, AT9000.InvoiceNo,
	AT9000.VoucherTypeID, AT9000.VATTypeID, AT9000.InvoiceDate,
	AT9000.VDescription, AT9000.BDescription, AT9000.CurrencyID,
	AT9000.ExchangeRate, AT9000.ObjectID, AT1202.ObjectName,
	AT9000.DueDate, AT9000.OrderID,AT1202.IsUpdateName, AT9000.VATObjectName,
	isnull(AT9000.IsStock,0),
	AT9000.Ana01ID, AT9000.Ana02ID, AT9000.Ana03ID, AT9000.Ana04ID, AT9000.Ana05ID, AT9000.CreateUserID'
	
--PRINT(@sSQL)
--PRINT(@sSQLFrom)
--PRINT(@sSQLPer)
--PRINT(@sWhere)
--PRINT(@sWHEREPer)
--PRINT(@sGroup)

EXEC(@sSQL+ @sSQLPer + @sWhere + @sGroup)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
