IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0149]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0149]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- AP0149
-- <Summary>
---- Stored Load màn hình danh mục hóa đơn điều chỉnh
---- Created on 16/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 21/02/2019 by Kim Thư: Cho hiện hóa đơn chiết khấu ở cả 2 tab (T64)
---- Modified on 28/2/2019 by Kim Thư: Cho ẩn hóa đơn gốc đã điều chỉnh ở tab Danh sách hóa đơn để tránh bị điều chỉnh lần nữa
---- Modified on 04/03/2019 by Kim Thư: Thêm cột Status ở tab Danh sách hóa đơn
----										0: Hóa đơn gốc chưa điều chỉnh hoặc hóa đơn đã ký điều chỉnh (để có thể cho điều chỉnh tiếp)
----										1: Hóa đơn chờ ký điều chỉnh (ko cho lệnh điều chỉnh tiếp)
----										Ẩn hóa đơn gốc chờ ký phát hành
---- Modified on 01/07/2019 by Kim Thư: Sửa hiển thị hóa đơn chiết khấu. Nếu Hóa đơn có nhiều dòng, trong đó có dòng chiết khấu thì ko hiện dòng chiết khấu.
----									Nếu Hóa đơn chỉ có dòng chiết khấu (ko có T04, T14, T24, T34, T25, T35) thì cho hiện.
---- Modified on 09/09/2020 by Huỳnh Thử: Check Fkey null thì lấy VoucherID
---- Modified on 21/10/2020 by Hoài Phong: bổ sung cột để phân biệt HDBH theo bộ [Types]
---- Modified on 13/11/2020 by Đức Thông: Cải tiến tốc độ: Thay điều kiện not in kiểm tra hóa đơn gốc bằng left join 
---- Modified on 08/12/2020 by Đức Thông: (FEIYUEH) Sắp xếp danh sách theo ngày hóa đơn -> Số hóa đơn ->  số chứng từ
---- Modified on 21/05/2021 by Xuân Nguyên: 2021/05/IS/0066 - Fix lỗi Hóa đơn  thành tiền bị sai ( chưa trừ chiết khấu)
---- Modified on 21/01/2022 by Xuân Nguyên: [2022/01/IS/0182] - Bổ sung ISNULL cho điều kiện InvoiceCode
---- Modified on 07/04/2022 by Xuân Nguyên: [2022/04/IS/0067] - Bỏ sum ConvertedAmount để fix lỗi thành tiền bị đúp 
---- Modified on 24/05/2022 by Nhật Thanh: Customize cho Song Bình
---- Modified on 06/06/2022 by Xuân Nguyên:  [2022/05/IS/0125] -  Bổ sung customize SCE(customizeIndex 109)
---- Modified on 10/06/2022 by Nhật Thanh:  Cập nhật số hóa đơn 7 số thành 8 số
---- Modified on 30/06/2022 by Nhật Thanh:  Tách SQL vì quá dài
---- Modified on 27/12/2022 by Nhật Thanh:  [2022/05/IS/0125] chỉnh lại customize SCE vì sai logic
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---- Modified by Đình Định on 03/08/2023: KOYO - Bổ sung cột VATNo, tách biến @sSQL3.
---- Modified by Nhựt Trường on 06/11/2023: [2023/11/IS/0020] - Bổ sung VATNo vào phần custom cho Song Bình, fix lỗi không mapping được cột khi Union.
---- Modified by Đình Định on 14/12/2023: APT - Bổ sung ISNULL cho cột EInvoiceType.
-- <Example>
---- EXEC AP0149 @DivisionID = 'ANGEL',@UserID='ASOFTADMIN',@FromDate='2016-10-01 00:00:00',@ToDate='2017-10-31 00:00:00',@ObjectID='%',@InvoiceCode='01GTKT',@Mode=1

CREATE PROCEDURE [dbo].[AP0149]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),	
	@FromDate AS DATETIME,	
	@ToDate AS DATETIME,		
	@ObjectID AS NVARCHAR(50),	
	@InvoiceCode AS NVARCHAR(50),
	@Mode AS TINYINT --0:Tab chưa phát hành, 1: Tab đã phát hành
AS
		
DECLARE @sSQL1 AS NVARCHAR(MAX) = '',
		@sSQL_1 AS NVARCHAR(MAX) = '',
		@sSQL2 AS NVARCHAR(MAX) = '',
		@sSQL3 AS NVARCHAR(MAX) = '',
		@sSQL3_TT AS NVARCHAR(MAX),
		@sSQL4 AS NVARCHAR(MAX) = '',
		@sSQL5 AS NVARCHAR(MAX) = '',
		@CustomerName int = (SELECT CustomerName FROM CustomerIndex WITH (NOLOCK))


IF @Mode = 0
BEGIN
	IF @CustomerName = 110
	BEGIN
		SET @sSQL1 = N'	
			-- Hóa đơn gốc chưa bị thay thế, điều chỉnh
			SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, ISNULL(NULLIF(AT9000.Fkey, ''''), AT9000.VoucherID) AS Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
			AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
			(SELECT SUM(AT90.ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T14'',''T34'',''T35'')) AS VATConvertedAmount, 
			CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  )Then SUM(AT9000.ConvertedAmount)-(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64'')) 
				ELSE SUM(AT9000.ConvertedAmount) End AS ConvertedAmount ,
			CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  ) THEN (SELECT SUM(ConvertedAmount)  - (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64''))FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') )
				ELSE  (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') ) END AS AfterConvertedAmount, 
			AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
			CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
				 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, AT9000.InvoiceGuid,
			CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000'' THEN 1 ELSE NULL END END AS Status, 	   	 
			CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types], AT9000.VATNo'
		SET @sSQL_1 ='
			FROM AT9000 WITH (NOLOCK)		
			INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 0 AND ISNULL(AT35A.IsCancel, 0) = 0
			LEFT JOIN AT9000 A90 ON A90.IsEInvoice = 1 AND A90.EInvoiceStatus = 1
									AND A90.EInvoiceType = 1 AND ISNULL(AT9000.VoucherID, '''') != ISNULL(AT9000.InheritFkey, '''')
			LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
			LEFT JOIN AV0028 ON AV0028.EInvoiceType = AT35A.EInvoiceType
			WHERE AT9000.DivisionID = ''' + @DivisionID + '''
			AND AT9000.TransactionTypeID IN (''T04'',''T25'',''T24'')
			AND AT9000.IsEInvoice = 1
			AND AT9000.EInvoiceStatus = 1		
			AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
			AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
			AND (AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''')
			AND ((AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000''))
			GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
			AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID, AT9000.CreateUserID,AT9000.InvoiceGuid, AT9000.EInvoiceType,AT9000.TableID, AT9000.VATNo'
	END
	ELSE
	BEGIN
		SET @sSQL1 = N'	
		-- Hóa đơn gốc chưa bị thay thế, điều chỉnh
			SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, ISNULL(NULLIF(AT9000.Fkey, ''''), AT9000.VoucherID) AS Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign,AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
			(SELECT SUM(AT90.ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T14'',''T34'',''T35'')) AS VATConvertedAmount, 
			CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 WITH (NOLOCK) where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  )Then SUM(AT9000.ConvertedAmount)-(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64'')) 
				 ELSE' +CASE WHEN (select CustomerName from customerindex WITH (NOLOCK))=109 then 'AT9000.ConvertedAmount' else ' SUM(AT9000.ConvertedAmount) ' end + ' End AS ConvertedAmount ,
			CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  ) THEN (SELECT SUM(ConvertedAmount)  - (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64''))FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') )
				ELSE  (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') ) END AS AfterConvertedAmount,
			AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
			CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
				 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, AT9000.InvoiceGuid,
			CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000'' THEN 1 ELSE NULL END END AS Status,
			CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types], AT9000.VATNo'
		SET @sSQL_1 ='
			FROM AT9000 WITH (NOLOCK)		
			INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 0 AND ISNULL(AT35A.IsCancel, 0) = 0
			LEFT JOIN AT9000 A90 WITH (NOLOCK) ON A90.IsEInvoice = 1 AND A90.EInvoiceStatus = 1 AND A90.EInvoiceType = 1 AND ISNULL(AT9000.VoucherID, '''') != ISNULL(AT9000.InheritFkey, '''')
			LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
			LEFT JOIN AV0028 WITH (NOLOCK) ON AV0028.EInvoiceType = AT35A.EInvoiceType
			WHERE AT9000.DivisionID = ''' + @DivisionID + '''
			AND AT9000.TransactionTypeID IN (''T04'',''T25'',''T24'') AND AT9000.IsEInvoice = 1 AND AT9000.EInvoiceStatus = 1 AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
			AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
			AND (AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''')
			AND ((ISNULL(AT9000.EInvoiceType,0) = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000''))
			GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate,
					 AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID,AT9000.CreateUserID,AT9000.InvoiceGuid, AT9000.EInvoiceType, AT9000.TableID, AT9000.VATNo'
			 +CASE WHEN (select CustomerName from customerindex)=109 then ',AT9000.ConvertedAmount' else '' end
	END

	SET @sSQL2 = N'	-- Hóa đơn chiết khấu gốc chưa bị thay thế, điều chỉnh
		UNION ALL

		SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, ISNULL(NULLIF(AT9000.Fkey,''''), AT9000.VoucherID) AS Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
		AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
		0 AS VATConvertedAmount, SUM(AT9000.ConvertedAmount) AS ConvertedAmount, SUM(AT9000.ConvertedAmount) AS AfterConvertedAmount,
		AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
		CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
			 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, AT9000.InvoiceGuid,
		CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000'' THEN 1 ELSE NULL END END AS Status,	   	 
		CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types], AT9000.VATNo
		FROM AT9000 WITH (NOLOCK)
		INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 0 AND ISNULL(AT35A.IsCancel, 0) = 0
		--LEFT JOIN AT1035 AT35B WITH (NOLOCK) ON AT35B.DivisionID = AT35A.DivisionID AND AT35B.InheritVoucherID = AT35A.VoucherID AND AT35B.EInvoiceType IN (1,2) 
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
		LEFT JOIN AV0028 WITH (NOLOCK) ON AV0028.EInvoiceType = AT35A.EInvoiceType	
		WHERE AT9000.DivisionID = '''+ @DivisionID+'''
		AND AT9000.TransactionTypeID IN (''T64'')
		AND NOT EXISTS (SELECT TOP 1 1 FROM AT9000 A1 WITH (NOLOCK) WHERE A1.VoucherID = AT9000.VoucherID AND A1.TransactionTypeID in (''T04'',''T14'',''T24'',''T34'',''T25'',''T35''))
		AND AT9000.IsEInvoice = 1
		AND AT9000.EInvoiceStatus = 1
		--AND AT35B.DivisionID IS NULL 
		AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
		AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
		AND (AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''')
		AND AT9000.VoucherID NOT IN (SELECT ISNULL(InheritFkey,'''') FROM AT9000 A90 WITH (NOLOCK) WHERE A90.IsEInvoice=1 AND A90.EInvoiceStatus=1 AND A90.EInvoiceType=1)
		AND ((ISNULL(AT9000.EInvoiceType,0) = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000''))
		GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
				 AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID, AT9000.CreateUserID,
				 AT9000.InvoiceGuid, AT9000.EInvoiceType, AT9000.TableID, AT9000.VATNo	'

	SET @sSQL3 = N'		
		-- Hóa thay thế, điều chỉnh sau cùng
		UNION ALL
		SELECT * FROM (
			SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, ISNULL(NULLIF(AT9000.Fkey, ''''), AT9000.VoucherID) AS Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
			AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
			(SELECT SUM(AT90.ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T14'',''T34'',''T35'')) AS VATConvertedAmount, 
		CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  )Then SUM(AT9000.ConvertedAmount)-(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64'')) 
			ELSE SUM(AT9000.ConvertedAmount) End AS ConvertedAmount ,
		CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  ) THEN (SELECT SUM(ConvertedAmount)  - (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64''))FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') )
			ELSE  (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') ) END AS AfterConvertedAmount, 
		AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
			CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
				 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, AT9000.InvoiceGuid,
			CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000'' THEN 1 ELSE NULL END END AS Status, 	   	 
			CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types], AT9000.VATNo
			FROM AT9000 WITH (NOLOCK)
			INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType IN (1,2) AND ISNULL(AT35A.IsCancel, 0) = 0
			LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
			LEFT JOIN AV0028 WITH (NOLOCK) ON AV0028.EInvoiceType = AT35A.EInvoiceType	'

			SET @sSQL3_TT = N'
			WHERE AT9000.DivisionID = ''' + @DivisionID + '''
			AND AT9000.TransactionTypeID IN (''T04'',''T25'',''T24'')
			AND AT9000.IsEInvoice = 1
			AND AT9000.EInvoiceStatus = 1
			AND AT35A.IsLastEInvoice = 1
			AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
			AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
			AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
			AND ((ISNULL(AT9000.EInvoiceType,0) = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000''))
			GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
					 AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID, AT9000.CreateUserID,
					 AT9000.InvoiceGuid, AT9000.EInvoiceType , AT9000.TableID, AT9000.VATNo
			ORDER BY AT9000.InvoiceNo DESC
		)X'

	SET @sSQL4 = N'	-- Hóa đơn chiết khấu thay thế, điều chỉnh sau cùng
		UNION ALL
		SELECT * FROM (
			SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, ISNULL(NULLIF(AT9000.Fkey, ''''), AT9000.VoucherID) AS Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
			AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
			0 AS VATConvertedAmount, SUM(AT9000.ConvertedAmount) AS ConvertedAmount, SUM(AT9000.ConvertedAmount) AS AfterConvertedAmount,		
			AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
			CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
				 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, AT9000.InvoiceGuid,
			CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000'' THEN 1 ELSE NULL END END AS Status,  	   	 
			CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types], AT9000.VATNo
			FROM AT9000 WITH (NOLOCK)
			INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType IN (1,2) AND ISNULL(AT35A.IsCancel, 0) = 0
			LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
			LEFT JOIN AV0028 WITH (NOLOCK) ON AV0028.EInvoiceType = AT35A.EInvoiceType	
			WHERE AT9000.DivisionID = ''' + @DivisionID + '''
			AND AT9000.TransactionTypeID IN (''T64'')
			AND NOT EXISTS (SELECT TOP 1 1 FROM AT9000 A1 WITH (NOLOCK) WHERE A1.VoucherID = AT9000.VoucherID AND A1.TransactionTypeID in (''T04'',''T14'',''T24'',''T34'',''T25'',''T35''))
			AND AT9000.IsEInvoice = 1
			AND AT9000.EInvoiceStatus = 1
			AND AT35A.IsLastEInvoice = 1
			AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
			AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
			AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
			AND ((AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo<>''00000000'') OR (AT9000.EInvoiceType = 1 AND AT9000.InvoiceNo=''00000000''))
			GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
					 AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID, AT9000.CreateUserID,
					 AT9000.InvoiceGuid, AT9000.EInvoiceType , AT9000.TableID, AT9000.VATNo
			ORDER BY AT9000.InvoiceNo DESC
		)Y
	'
END
ELSE
BEGIN
	SET @sSQL1 = N'
	-- Hóa đơn điều chỉnh chưa bị hủy
	SELECT  TOP 100 PERCENT ISNULL(NULLIF(AT9000.Fkey, ''''), AT9000.VoucherID) AS Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
	AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
	(SELECT SUM(AT90.ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T14'',''T34'',''T35'')) AS VATConvertedAmount, 
	CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  )Then SUM(AT9000.ConvertedAmount)-(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64'')) 
		ELSE SUM(AT9000.ConvertedAmount) End AS ConvertedAmount ,
	CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  ) THEN (SELECT SUM(ConvertedAmount)  - (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64''))FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') )
		ELSE  (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') ) END AS AfterConvertedAmount, 
	AT9000.BDescription AS Description, AT35A.InheritInvoiceCode AS AdjustedInvoice, AT35A.InheritInvoiceSign AS AdjustedInvoiceSign, AT35A.InheritSerial AS AdjustedSerial, AT35A.InheritInvoiceNo AS AdjustedInvoiceNo, AT35A.InheritInvoiceDate AS AdjustedInvoiceDate,
	AT35B.CreateUserID AS AdjustedCreateUserID,
	AT35A.TypeOfAdjust, AV0029.TypeOfAdjustName,
	CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
		 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, 0 AS IsDeleted,
	AT35B.VATConvertedAmount AS AdjustedVATConvertedAmount, AT35B.VATConvertedAmount + TB2.ConvertedAmount AS AdjustedAfterConvertedAmount, TB2.ConvertedAmount AS AdjustedConvertedAmount, AT35B.Description AS AdjustedDescription,
	AT9000.InvoiceGuid,
	CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types] 		    	   	 
	FROM AT9000 WITH (NOLOCK)
	INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 1 AND ISNULL(AT35A.IsCancel, 0) = 0
	LEFT JOIN AT1035 AT35B WITH (NOLOCK) ON AT35B.DivisionID = AT35A.DivisionID AND AT35B.VoucherID = AT35A.InheritVoucherID
	LEFT JOIN (SELECT DivisionID, VoucherID, SUM(ConvertedAmount) AS ConvertedAmount FROM AT1036 WITH (NOLOCK) GROUP BY DivisionID, VoucherID) TB2 ON TB2.DivisionID = AT35B.DivisionID AND TB2.VoucherID = AT35B.VoucherID		
	LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
	LEFT JOIN AV0029 ON AV0029.TypeOfAdjust = AT35A.TypeOfAdjust'
	SET @sSQL_1 = N'
	WHERE AT9000.DivisionID = ''' + @DivisionID + '''
	AND AT9000.TransactionTypeID IN (''T04'',''T25'',''T24'')
	AND AT9000.IsEInvoice = 1
	AND AT9000.EInvoiceStatus = 1
	AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
	AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
	AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
	AND AT9000.InvoiceNo <> ''00000000''
	GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID,  AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
	AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT9000.TransactionTypeID, AT9000.CreateUserID, AT35A.TypeOfAdjust, AV0029.TypeOfAdjustName, 
	AT35A.InheritInvoiceCode, AT35A.InheritInvoiceSign, AT35A.InheritSerial, AT35A.InheritInvoiceNo, AT35A.InheritInvoiceDate, AT35B.CreateUserID, AT35B.VATConvertedAmount, 
	TB2.ConvertedAmount, AT35B.Description, AT9000.InvoiceGuid, AT9000.TableID'	
	
	SET @sSQL2 = N'	
	-- Hóa đơn chiết khấu điều chỉnh chưa bị hủy
	UNION ALL
	SELECT  TOP 100 PERCENT ISNULL(NULLIF(AT9000.Fkey, ''''), AT9000.VoucherID) AS Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
	AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
	0 AS VATConvertedAmount, SUM(AT9000.ConvertedAmount) AS ConvertedAmount, SUM(AT9000.ConvertedAmount) AS AfterConvertedAmount,	
	AT9000.BDescription AS Description, AT35A.InheritInvoiceCode AS AdjustedInvoice, AT35A.InheritInvoiceSign AS AdjustedInvoiceSign, AT35A.InheritSerial AS AdjustedSerial, AT35A.InheritInvoiceNo AS AdjustedInvoiceNo, AT35A.InheritInvoiceDate AS AdjustedInvoiceDate,
	AT35B.CreateUserID AS AdjustedCreateUserID,
	AT35A.TypeOfAdjust, AV0029.TypeOfAdjustName,
	CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
		 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, 0 AS IsDeleted,
	AT35B.VATConvertedAmount AS AdjustedVATConvertedAmount, AT35B.VATConvertedAmount + TB2.ConvertedAmount AS AdjustedAfterConvertedAmount, TB2.ConvertedAmount AS AdjustedConvertedAmount, AT35B.Description AS AdjustedDescription,
	AT9000.InvoiceGuid ,CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types]	    	   	 
	FROM AT9000 WITH (NOLOCK)
	INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 1 AND ISNULL(AT35A.IsCancel, 0) = 0
	LEFT JOIN AT1035 AT35B WITH (NOLOCK) ON AT35B.DivisionID = AT35A.DivisionID AND AT35B.VoucherID = AT35A.InheritVoucherID
	LEFT JOIN
	(
		SELECT DivisionID, VoucherID, SUM(ConvertedAmount) AS ConvertedAmount
		FROM AT1036 WITH (NOLOCK)
		GROUP BY DivisionID, VoucherID
	) TB2 ON TB2.DivisionID = AT35B.DivisionID AND TB2.VoucherID = AT35B.VoucherID		
	LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
	LEFT JOIN AV0029 ON AV0029.TypeOfAdjust = AT35A.TypeOfAdjust
	WHERE AT9000.DivisionID = ''' + @DivisionID + '''
	AND AT9000.TransactionTypeID IN (''T64'')
	AND NOT EXISTS (SELECT TOP 1 1 FROM AT9000 A1 WITH (NOLOCK) WHERE A1.VoucherID = AT9000.VoucherID AND A1.TransactionTypeID in (''T04'',''T14'',''T24'',''T34'',''T25'',''T35''))
	AND AT9000.IsEInvoice = 1
	AND AT9000.EInvoiceStatus = 1
	AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
	AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
	AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
	AND AT9000.InvoiceNo <> ''00000000''
	GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID,  AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
	AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT9000.TransactionTypeID, AT9000.CreateUserID, AT35A.TypeOfAdjust, AV0029.TypeOfAdjustName, 
	AT35A.InheritInvoiceCode, AT35A.InheritInvoiceSign, AT35A.InheritSerial, AT35A.InheritInvoiceNo, AT35A.InheritInvoiceDate, AT35B.CreateUserID, AT35B.VATConvertedAmount, 
	TB2.ConvertedAmount, AT35B.Description, AT9000.InvoiceGuid, AT9000.TableID'

	SET @sSQL3 = N'	
	-- Hóa đơn điều chỉnh đã bị hủy
	UNION ALL	
	SELECT * FROM (
		SELECT TOP 100 PERCENT NULL AS Fkey, AT35A.DivisionID, AT35A.VoucherTypeID, AT35A.VoucherID, AT35A.AT9000VoucherID, AT35A.AT9000VoucherNo AS VoucherNo, AT35A.VoucherDate, AT35A.InvoiceNo, AT35A.InvoiceDate, AT35A.Serial, AT35A.InvoiceCode, AT35A.InvoiceSign, 
		AT35A.ObjectID, AT1202.ObjectName, AT35A.CurrencyID, AT35A.VATConvertedAmount, TB.ConvertedAmount AS ConvertedAmount, AT35A.VATConvertedAmount + TB.ConvertedAmount AS AfterConvertedAmount,
		AT35A.Description, AT35A.InheritInvoiceCode AS AdjustedInvoice, AT35A.InheritInvoiceSign AS AdjustedInvoiceSign, AT35A.InheritSerial AS AdjustedSerial, AT35A.InheritInvoiceNo AS AdjustedInvoiceNo, AT35A.InheritInvoiceDate AS AdjustedInvoiceDate, 
		AT35B.CreateUserID AS AdjustedCreateUserID, AT35A.TypeOfAdjust, AV0029.TypeOfAdjustName, NULL AS FormTypeID, AT35A.CreateUserID, 1 AS IsDeleted,
		AT35B.VATConvertedAmount AS AdjustedVATConvertedAmount, AT35B.VATConvertedAmount + TB2.ConvertedAmount AS AdjustedAfterConvertedAmount, 
		TB2.ConvertedAmount AS AdjustedConvertedAmount, AT35B.Description AS AdjustedDescription, AT35A.InvoiceGuid  ,AT35A.TableID	 
		FROM AT1035 AT35A WITH (NOLOCK)
		LEFT JOIN
		(
			SELECT DivisionID, VoucherID, SUM(ConvertedAmount) AS ConvertedAmount
			FROM AT1036 WITH (NOLOCK)
			GROUP BY DivisionID, VoucherID
		) TB ON TB.DivisionID = AT35A.DivisionID AND TB.VoucherID = AT35A.VoucherID
		LEFT JOIN AT1035 AT35B WITH (NOLOCK) ON AT35B.DivisionID = AT35A.DivisionID AND AT35B.VoucherID = AT35A.InheritVoucherID
		LEFT JOIN
		(
			SELECT DivisionID, VoucherID, SUM(ConvertedAmount) AS ConvertedAmount
			FROM AT1036 WITH (NOLOCK)
			GROUP BY DivisionID, VoucherID
		) TB2 ON TB2.DivisionID = AT35B.DivisionID AND TB2.VoucherID = AT35B.VoucherID		
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT35A.ObjectID
		LEFT JOIN AV0029 ON AV0029.TypeOfAdjust = AT35A.TypeOfAdjust
		WHERE AT35A.DivisionID = ''' + @DivisionID + '''
		AND AT35A.EInvoiceType = 1
		AND AT35A.IsCancel = 1
		AND AT35A.ObjectID LIKE ''' + @ObjectID + '''
		AND ISNULL(AT35A.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
		AND AT35A.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
		AND AT35A.InvoiceNo <> ''00000000''
		ORDER BY AT35A.InvoiceNo DESC ) X '	

END	  	

SET @sSQL5 = ' ORDER BY InvoiceDate, InvoiceNo, VoucherNo'
PRINT @sSQL1
PRINT @sSQL_1
PRINT @sSQL2
PRINT @sSQL3
PRINT @sSQL3_TT
PRINT @sSQL4
PRINT @sSQL5


EXEC (@sSQL1 + @sSQL_1 +@sSQL2 + @sSQL3 + @sSQL3_TT + @sSQL4 + @sSQL5)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

