IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0152]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0152]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- AP0152
-- <Summary>
---- Stored Load màn hình danh mục hóa đơn thay thế
---- Created on 16/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 21/02/2019 by Kim Thư on Cho hiện hóa đơn chiết khấu ở cả 2 tab (T64)
---- Modified on 04/03/2019 by Kim Thư: Thêm cột Status ở tab Danh sách hóa đơn
----										0: Hóa đơn gốc chưa thay thế hoặc hóa đơn đã ký thay thế (để có thể cho thay thế tiếp)
----										1: Hóa đơn chờ ký thay thế (ko cho lệnh thay thế tiếp)
----										Ẩn hóa đơn gốc chờ ký phát hành
---- Modified on 22/03/2019 by Kim Thư : Bổ sung cột chi nhánh
---- Modified on 01/07/2019 by Kim Thư: Sửa hiển thị hóa đơn chiết khấu. Nếu Hóa đơn có nhiều dòng, trong đó có dòng chiết khấu thì ko hiện dòng chiết khấu.
----									Nếu Hóa đơn chỉ có dòng chiết khấu (ko có T04, T14, T24, T34, T25, T35) thì cho hiện.
---- Modified on 21/10/2020 by Hoài Phong: bổ sung cột để phân biệt HDBH theo bộ [Types]
---- Modified on 08/12/2020 by Đức Thông: (FEIYUEH) Sắp xếp danh sách theo ngày hóa đơn -> Số hóa đơn ->  số chứng từ
---- Modified on 22/04/2021 by Huỳnh Thử: Sửa lại cột Tổng thành tiền và Thành tiền trước thuế
---- Modified on 21/05/2021 by Xuân Nguyên: 2021/05/IS/0066 - Fix lỗi Hóa đơn thành tiền bị sai ( chưa trừ chiết khấu)
---- Modifile on 10/01/2022 by Nhựt Trường: 2022/01/IS/0050 - Bổ sung ISNULL(), khắc phục lỗi không load được các hóa đơn có InvoiceCode = NULL.
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---- Modified by Nhựt Trường on 22/05/2023: Xóa bớt khoảng trắng, các dòng code đã bị comment để fix lỗi tràn dữ liệu, vượt quá số lượng ký tự cho phép của các biến.
-- <Example>
---- EXEC AP0152 @DivisionID = 'SC',@UserID='ASOFTADMIN',@FromDate='',@ToDate='',@ObjectID='%',@InvoiceCode='%',@Mode = 0

CREATE PROCEDURE [dbo].[AP0152]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),	
	@FromDate AS DATETIME,	
	@ToDate AS DATETIME,		
	@ObjectID AS NVARCHAR(50),	
	@InvoiceCode AS NVARCHAR(50),
	@Mode AS TINYINT --0:Tab chưa phát hành, 1: Tab đã phát hành
AS
	
DECLARE @sSQL1 AS NVARCHAR(MAX) = '',
		@sSQL2 AS NVARCHAR(MAX) = '',
		@sSQL3 AS NVARCHAR(MAX) = '',
		@sSQL4 AS NVARCHAR(MAX) = '',
		@sSQL5 AS NVARCHAR(MAX) = ''

IF @Mode = 0
BEGIN
	SET @sSQL1 = N'	
		-- Hóa đơn gốc chưa bị thay thế, điều chỉnh
		SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
		AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
		(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T14'',''T34'',''T35'')) AS VATConvertedAmount, 
		CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  )Then SUM(ConvertedAmount)-(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64'')) 
			ELSE SUM(ConvertedAmount) End AS AfterConvertedAmount,
		CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  ) THEN (SELECT SUM(ConvertedAmount)  - (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64''))FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') )
			 ELSE  (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') ) END AS ConvertedAmount, 
		AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
		CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
			 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, AT9000.InvoiceGuid,
		CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo<>''0000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo=''0000000'' THEN 1 ELSE NULL END END AS Status,
		AT35A.BranchID,CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types]  	   	   	 
		FROM AT9000 WITH (NOLOCK)
		INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 0 AND ISNULL(AT35A.IsCancel, 0) = 0
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
		LEFT JOIN AV0028 ON AV0028.EInvoiceType = AT35A.EInvoiceType	
		WHERE AT9000.DivisionID = ''' + @DivisionID + '''
		AND AT9000.TransactionTypeID IN (''T04'',''T25'',''T24'')
		AND AT9000.IsEInvoice = 1
		AND AT9000.EInvoiceStatus = 1
		AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
		AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
		AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
		AND ((AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo=''0000000''))
		GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
		AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID, AT9000.CreateUserID,	AT9000.InvoiceGuid, AT9000.EInvoiceType, AT35A.BranchID,AT9000.TableID'
	
	SET @sSQL2 = N'	
		-- Hóa đơn chiết khấu gốc chưa bị thay thế, điều chỉnh
		UNION ALL
		SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
		AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
		0 AS VATConvertedAmount, SUM(ConvertedAmount) AS ConvertedAmount, SUM(ConvertedAmount) AS AfterConvertedAmount,
		AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
		CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
			 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, AT9000.InvoiceGuid,
		CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo<>''0000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo=''0000000'' THEN 1 ELSE NULL END END AS Status,
		AT35A.BranchID,CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types]  	   	   	 
		FROM AT9000 WITH (NOLOCK)
		INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 0 AND ISNULL(AT35A.IsCancel, 0) = 0
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
		LEFT JOIN AV0028 ON AV0028.EInvoiceType = AT35A.EInvoiceType	
		WHERE AT9000.DivisionID = ''' + @DivisionID + '''
		AND AT9000.TransactionTypeID IN (''T64'')
		AND NOT EXISTS (SELECT TOP 1 1 FROM AT9000 A1 WITH (NOLOCK) WHERE A1.VoucherID = AT9000.VoucherID AND A1.TransactionTypeID in (''T04'',''T14'',''T24'',''T34'',''T25'',''T35''))
		AND AT9000.IsEInvoice = 1
		AND AT9000.EInvoiceStatus = 1
		AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
		AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
		AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
		AND ((AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo=''0000000''))
		GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
		AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID, AT9000.CreateUserID,	AT9000.InvoiceGuid, AT9000.EInvoiceType, AT35A.BranchID,AT9000.TableID'

	SET @sSQL3 = N'		
		-- Hóa đơn thay thế, điều chỉnh sau cùng
		UNION ALL
		SELECT * FROM (
			SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
			AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
			(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T14'',''T34'',''T35'')) AS VATConvertedAmount, 
		CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  )Then SUM(ConvertedAmount)-(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64'')) 
			ELSE SUM(ConvertedAmount) End AS AfterConvertedAmount,
		CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  ) THEN (SELECT SUM(ConvertedAmount)  - (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64''))FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') )
				ELSE  (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') ) END AS ConvertedAmount, 
			AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
			CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
				 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID,  AT9000.InvoiceGuid,	 
			CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo<>''0000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo=''0000000'' THEN 1 ELSE NULL END END AS Status,  	   	   	 
			AT35A.BranchID,CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types]  
			FROM AT9000 WITH (NOLOCK)
			INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType IN (1,2) AND ISNULL(AT35A.IsCancel, 0) = 0
			LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
			LEFT JOIN AV0028 ON AV0028.EInvoiceType = AT35A.EInvoiceType	
			WHERE AT9000.DivisionID = ''' + @DivisionID + '''
			AND AT9000.TransactionTypeID IN (''T04'',''T25'',''T24'')
			AND AT9000.IsEInvoice = 1
			AND AT9000.EInvoiceStatus = 1
			AND AT35A.IsLastEInvoice = 1
			AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
			AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
			AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
			AND ((AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo=''0000000''))
			GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
			AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID, AT9000.CreateUserID, AT9000.InvoiceGuid, AT9000.EInvoiceType, AT35A.BranchID,AT9000.TableID
			ORDER BY AT9000.InvoiceNo DESC
		)X
	'	

	SET @sSQL4 = N'	
		-- Hóa đơn chiết khấu thay thế, điều chỉnh sau cùng
		UNION ALL
		SELECT * FROM (
			SELECT  TOP 100 PERCENT CAST(0 AS BIT) AS Choose, AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
			AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
			0 AS VATConvertedAmount, SUM(ConvertedAmount) AS ConvertedAmount, SUM(ConvertedAmount) AS AfterConvertedAmount,
			AT9000.BDescription AS Description, AT35A.EInvoiceType, AV0028.EInvoiceTypeName,
			CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
				 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID,  AT9000.InvoiceGuid,	 
			CASE WHEN (AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo<>''0000000'') THEN 0 ELSE CASE WHEN AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo=''0000000'' THEN 1 ELSE NULL END END AS Status,  	   	   	 
			AT35A.BranchID,CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types]  
			FROM AT9000 WITH (NOLOCK)
			INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType IN (1,2) AND ISNULL(AT35A.IsCancel, 0) = 0
			LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
			LEFT JOIN AV0028 ON AV0028.EInvoiceType = AT35A.EInvoiceType	
			WHERE AT9000.DivisionID = ''' + @DivisionID + '''
			AND AT9000.TransactionTypeID IN (''T64'')
			AND NOT EXISTS (SELECT TOP 1 1 FROM AT9000 A1 WITH (NOLOCK) WHERE A1.VoucherID = AT9000.VoucherID AND A1.TransactionTypeID in (''T04'',''T14'',''T24'',''T34'',''T25'',''T35''))
			AND AT9000.IsEInvoice = 1
			AND AT9000.EInvoiceStatus = 1
			AND AT35A.IsLastEInvoice = 1
			AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
			AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
			AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
			AND ((AT9000.EInvoiceType = 0 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo<>''0000000'') OR (AT9000.EInvoiceType = 2 AND AT9000.InvoiceNo=''0000000''))
			GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
			AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT35A.EInvoiceType, AV0028.EInvoiceTypeName, AT9000.TransactionTypeID, AT9000.CreateUserID,	AT9000.InvoiceGuid, AT9000.EInvoiceType, AT35A.BranchID,AT9000.TableID  
			ORDER BY AT9000.InvoiceNo DESC
		)Y
	'

END
ELSE
BEGIN
	SET @sSQL1 = N'
	-- Hóa đơn thay thế chưa bị hủy
	SELECT  TOP 100 PERCENT AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
	AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
	(SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T14'',''T34'',''T35'')) AS VATConvertedAmount, 
	SUM(AT9000.ConvertedAmount) AS AfterConvertedAmount, 
	CASE WHEN EXISTS ( select Top 1 1 from AT9000 AT90 where TransactionTypeID = ''T64'' and AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID  ) THEN (SELECT SUM(ConvertedAmount)  - (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T64''))FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') )
		ELSE  (SELECT SUM(ConvertedAmount) FROM AT9000 AT90 WITH (NOLOCK) WHERE AT90.DivisionID = AT9000.DivisionID AND AT90.VoucherID = AT9000.VoucherID AND TransactionTypeID IN (''T04'',''T24'',''T25'',''T14'',''T34'',''T35'') ) END AS ConvertedAmount, 
	AT9000.BDescription AS Description, AT35A.InheritInvoiceCode AS ReplacedInvoice, AT35A.InheritInvoiceSign AS ReplacedInvoiceSign, AT35A.InheritSerial AS ReplacedSerial, AT35A.InheritInvoiceNo AS ReplacedInvoiceNo, AT35A.InheritInvoiceDate AS ReplacedInvoiceDate, 
	AT35B.CreateUserID AS ReplacedCreateUserID,
	CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
		 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, 0 AS IsDeleted,
	AT35B.VATConvertedAmount AS ReplacedVATConvertedAmount, AT35B.VATConvertedAmount + TB2.ConvertedAmount AS ReplacedConvertedAmount, 
	TB2.ConvertedAmount AS ReplacedAfterConvertedAmount, AT35B.Description AS ReplacedDescription, AT9000.InvoiceGuid, AT35A.BranchID,
	CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types]	  	 
	FROM AT9000 WITH (NOLOCK)
	INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 2 AND ISNULL(AT35A.IsCancel, 0) = 0
	LEFT JOIN AT1035 AT35B WITH (NOLOCK) ON AT35B.DivisionID = AT35A.DivisionID AND AT35B.VoucherID = AT35A.InheritVoucherID
	LEFT JOIN
	(
		SELECT DivisionID, VoucherID, SUM(ConvertedAmount) AS ConvertedAmount
		FROM AT1036 WITH (NOLOCK)
		GROUP BY DivisionID, VoucherID
	) TB2 ON TB2.DivisionID = AT35B.DivisionID AND TB2.VoucherID = AT35B.VoucherID	
	LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
	WHERE AT9000.DivisionID = ''' + @DivisionID + '''
	AND AT9000.TransactionTypeID IN (''T04'',''T25'',''T24'')
	AND AT9000.IsEInvoice = 1
	AND AT9000.EInvoiceStatus = 1
	AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
	AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
	AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
	AND AT9000.InvoiceNo <> ''0000000''
	GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
	AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT9000.TransactionTypeID, AT9000.CreateUserID, AT35A.InheritInvoiceCode, AT35A.InheritInvoiceSign, AT35A.InheritSerial, AT35A.InheritInvoiceNo, 
	AT35A.InheritInvoiceDate, AT35B.CreateUserID, AT35B.VATConvertedAmount, TB2.ConvertedAmount, AT35B.Description, AT9000.InvoiceGuid, AT35A.BranchID,AT9000.TableID '	
	
	SET @sSQL2 = N'
	-- Hóa đơn chiếu khấu thay thế chưa bị hủy
	UNION ALL
	SELECT  TOP 100 PERCENT AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID AS AT9000VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
	AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID,
	0 AS VATConvertedAmount, SUM(AT9000.ConvertedAmount) AS ConvertedAmount, SUM(AT9000.ConvertedAmount) AS AfterConvertedAmount,
	AT9000.BDescription AS Description, AT35A.InheritInvoiceCode AS ReplacedInvoice, AT35A.InheritInvoiceSign AS ReplacedInvoiceSign, AT35A.InheritSerial AS ReplacedSerial, AT35A.InheritInvoiceNo AS ReplacedInvoiceNo, AT35A.InheritInvoiceDate AS ReplacedInvoiceDate, 
	AT35B.CreateUserID AS ReplacedCreateUserID,
	CASE WHEN AT9000.TransactionTypeID = ''T04'' THEN 1
		 WHEN AT9000.TransactionTypeID = ''T24'' THEN 2 ELSE 3 END AS FormTypeID, AT9000.CreateUserID, 0 AS IsDeleted,
	AT35B.VATConvertedAmount AS ReplacedVATConvertedAmount, AT35B.VATConvertedAmount + TB2.ConvertedAmount AS ReplacedConvertedAmount, 
	TB2.ConvertedAmount AS ReplacedAfterConvertedAmount, AT35B.Description AS ReplacedDescription, AT9000.InvoiceGuid, AT35A.BranchID,
	CASE WHEN AT9000.TableID = ''AT9000'' THEN N''Hóa đơn bán hàng'' ELSE N''Hóa đơn theo bộ'' END AS [Types]	  	 
	FROM AT9000 WITH (NOLOCK)
	INNER JOIN AT1035 AT35A WITH (NOLOCK) ON AT35A.DivisionID = AT9000.DivisionID AND AT35A.AT9000VoucherID = AT9000.VoucherID AND AT35A.EInvoiceType = 2 AND ISNULL(AT35A.IsCancel, 0) = 0
	LEFT JOIN AT1035 AT35B WITH (NOLOCK) ON AT35B.DivisionID = AT35A.DivisionID AND AT35B.VoucherID = AT35A.InheritVoucherID
	LEFT JOIN
	(
		SELECT DivisionID, VoucherID, SUM(ConvertedAmount) AS ConvertedAmount
		FROM AT1036 WITH (NOLOCK)
		GROUP BY DivisionID, VoucherID
	) TB2 ON TB2.DivisionID = AT35B.DivisionID AND TB2.VoucherID = AT35B.VoucherID	
	LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
	WHERE AT9000.DivisionID = ''' + @DivisionID + '''
	AND AT9000.TransactionTypeID IN (''T64'')
	AND NOT EXISTS (SELECT TOP 1 1 FROM AT9000 A1 WITH (NOLOCK) WHERE A1.VoucherID = AT9000.VoucherID AND A1.TransactionTypeID in (''T04'',''T14'',''T24'',''T34'',''T25'',''T35''))
	AND AT9000.IsEInvoice = 1
	AND AT9000.EInvoiceStatus = 1
	AND AT9000.ObjectID LIKE ''' + @ObjectID + '''
	AND ISNULL(AT9000.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
	AND AT9000.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
	AND AT9000.InvoiceNo <> ''0000000''
	GROUP BY AT9000.Fkey, AT9000.DivisionID, AT9000.VoucherTypeID, AT35A.VoucherID, AT9000.VoucherID, AT9000.VoucherNo, AT9000.VoucherDate, AT9000.InvoiceNo, AT9000.InvoiceDate, AT9000.Serial, AT9000.InvoiceCode, AT9000.InvoiceSign, 
	AT9000.ObjectID, AT1202.ObjectName, AT9000.CurrencyID, AT9000.BDescription, AT9000.TransactionTypeID, AT9000.CreateUserID, AT35A.InheritInvoiceCode, AT35A.InheritInvoiceSign, AT35A.InheritSerial, AT35A.InheritInvoiceNo,
	AT35A.InheritInvoiceDate, AT35B.CreateUserID, AT35B.VATConvertedAmount, TB2.ConvertedAmount, AT35B.Description, AT9000.InvoiceGuid, AT35A.BranchID,AT9000.TableID'

	SET @sSQL3 = N'	
	-- Hóa thay thế đã bị hủy
	UNION ALL	
	SELECT * FROM (
		SELECT TOP 100 PERCENT NULL AS Fkey, AT35A.DivisionID, AT35A.VoucherTypeID, AT35A.VoucherID, AT35A.AT9000VoucherID, AT35A.AT9000VoucherNo AS VoucherNo, AT35A.VoucherDate, AT35A.InvoiceNo, AT35A.InvoiceDate, AT35A.Serial, AT35A.InvoiceCode, AT35A.InvoiceSign, 
		AT35A.ObjectID, AT1202.ObjectName, AT35A.CurrencyID, AT35A.VATConvertedAmount, TB.ConvertedAmount AS AfterConvertedAmount, AT35A.VATConvertedAmount + TB.ConvertedAmount AS ConvertedAmount,
		AT35A.Description, AT35A.InheritInvoiceCode AS ReplacedInvoice, AT35A.InheritInvoiceSign AS ReplacedInvoiceSign, AT35A.InheritSerial AS ReplacedSerial, AT35A.InheritInvoiceNo AS ReplacedInvoiceNo, AT35A.InheritInvoiceDate AS ReplacedInvoiceDate, 
		AT35B.CreateUserID AS ReplacedCreateUserID, NULL AS FormTypeID, AT35A.CreateUserID, 1 AS IsDeleted,
		AT35B.VATConvertedAmount AS ReplacedVATConvertedAmount, AT35B.VATConvertedAmount + TB2.ConvertedAmount AS ReplacedConvertedAmount, 
		TB2.ConvertedAmount AS ReplacedAfterConvertedAmount, AT35B.Description AS ReplacedDescription, AT35A.InvoiceGuid, AT35A.BranchID, AT35A.TableID
		FROM AT1035 AT35A WITH (NOLOCK)
		LEFT JOIN
		(
			SELECT DivisionID, VoucherID, SUM(ConvertedAmount) AS ConvertedAmount
			FROM AT1036 WITH (NOLOCK)
			GROUP BY DivisionID, VoucherID
		) TB ON TB.DivisionID = AT35A.DivisionID AND TB.VoucherID = AT35A.VoucherID
		LEFT JOIN AT1035 AT35B WITH (NOLOCK) ON AT35B.DivisionID = AT35A.DivisionID AND AT35B.VoucherID = AT35A.InheritVoucherID
		LEFT JOIN
		(
			SELECT DivisionID, VoucherID, SUM(ConvertedAmount) AS ConvertedAmount
			FROM AT1036 WITH (NOLOCK)
			GROUP BY DivisionID, VoucherID
		) TB2 ON TB2.DivisionID = AT35B.DivisionID AND TB2.VoucherID = AT35B.VoucherID		
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT35A.ObjectID
		WHERE AT35A.DivisionID = ''' + @DivisionID + '''
		AND AT35A.EInvoiceType = 2
		AND AT35A.IsCancel = 1
		AND AT35A.ObjectID LIKE ''' + @ObjectID + '''
		AND ISNULL(AT35A.InvoiceCode,'''') LIKE ''' + @InvoiceCode + '''
		AND AT35A.InvoiceDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''
		AND AT35A.InvoiceNo <> ''0000000''
		ORDER BY AT35A.InvoiceNo DESC ) X'
END	  	

SET @sSQL5 = ' ORDER BY InvoiceDate, InvoiceNo, VoucherNo'
--PRINT @sSQL1
--PRINT @sSQL2
--PRINT @sSQL3
--PRINT @sSQL4
--PRINT @sSQL5
EXEC (@sSQL1 + @sSQL2 + @sSQL3 + @sSQL4+ @sSQL5)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

