IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0150]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0150]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- AP0150
-- <Summary>
---- Stored đổ nguồn màn hình cập nhật hóa đơn điện tử điều chỉnh
---- Created on 16/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
---- Modified on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- EXEC AP0150 @DivisionID = 'SC',@UserID='ASOFTADMIN',@VoucherID = '', @Mode = 1

CREATE PROCEDURE [dbo].[AP0150]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@VoucherID AS NVARCHAR(50),
	@Mode AS TINYINT --0: Tab chưa phát hành, 1: Tab đã phát hành
AS
		
DECLARE @sSQL AS NVARCHAR(MAX) = ''

IF @Mode = 0 
BEGIN
	SET @sSQL = '
	SELECT 2 AS TypeOfAdjust, AT1035.VoucherID AS InheritVoucherID, TransactionID AS InheritTransactionID, InvoiceCode, InvoiceSign, Serial, InvoiceDate, AT1035.AT9000VoucherNo, 
	AT1036.AT9000VoucherID, AT1036.AT9000TransactionID, InvoiceCode AS InheritInvoiceCode, InvoiceSign AS InheritInvoiceSign, Serial AS InheritSerial, InvoiceNo AS InheritInvoiceNo, EInvoiceType AS InheritEInvoiceType, AT1035.CurrencyID, ExchangeRate, 
	AT1035.VATGroupID AS VATGroupID_Master, AT1035.VATRate AS VATRate_Master, AT1035.VATOriginalAmount AS VATOriginalAmount_Master, AT1035.VATConvertedAmount AS VATConvertedAmount_Master, 
	Description, AT1035.ObjectID, AT1202.ObjectName, AT1202.Tel, AT1202.VATNo, AT1202.[Address],
	AT1036.InventoryID, AT1302.InventoryName, AT1036.UnitID, AT1304.UnitName, ConvertedQuantity, ConvertedPrice, ConvertedQuantity AS Old_ConvertedQuantity, ConvertedPrice AS Old_ConvertedPrice,
	DiscountRate, DiscountAmount, OriginalAmount, ConvertedAmount, Orders
	FROM AT1035 WITH (NOLOCK)
	LEFT JOIN AT1036 WITH (NOLOCK) ON AT1036.DivisionID = AT1035.DivisionID AND AT1036.VoucherID = AT1035.VoucherID
	LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT1035.ObjectID
	LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT1036.DivisionID,''@@@'') AND AT1302.InventoryID = AT1036.InventoryID
	LEFT JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT1036.UnitID
	WHERE AT1035.DivisionID = ''' + @DivisionID + '''
	AND AT1035.VoucherID = ''' + @VoucherID + ''''
END
ELSE
BEGIN
	SET @sSQL = '
	SELECT TypeOfAdjust, AT1035.VoucherID, AT1035.TranMonth, AT1035.TranYear,
	AT1035.InheritVoucherID, AT1036.InheritTransactionID, InvoiceCode, InvoiceSign, Serial, InvoiceNo, InvoiceDate,
	InheritInvoiceCode, InheritSerial, InheritInvoiceNo, InheritEInvoiceType, AT1035.CurrencyID, ExchangeRate, 
	AT1035.VATGroupID AS VATGroupID_Master, AT1035.VATRate AS VATRate_Master, AT1035.VATOriginalAmount AS VATOriginalAmount_Master, AT1035.VATConvertedAmount AS VATConvertedAmount_Master, 
	Description, AT1035.ObjectID, AT1202.ObjectName, AT1202.Tel, AT1202.VATNo, AT1202.[Address],
	AT1036.InventoryID, AT1302.InventoryName, AT1036.UnitID, AT1304.UnitName, ConvertedQuantity, ConvertedPrice,
	DiscountRate, DiscountAmount, OriginalAmount, ConvertedAmount, Orders
	FROM AT1035 WITH (NOLOCK)
	LEFT JOIN AT1036 WITH (NOLOCK) ON AT1036.DivisionID = AT1035.DivisionID AND AT1036.VoucherID = AT1035.VoucherID
	LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT1035.ObjectID
	LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT1036.DivisionID,''@@@'') AND AT1302.InventoryID = AT1036.InventoryID
	LEFT JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT1036.UnitID
	WHERE AT1035.DivisionID = ''' + @DivisionID + '''
	AND AT1035.VoucherID = ''' + @VoucherID + ''''
END	



PRINT @sSQL
EXEC (@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

