IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0159]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0159]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



-- <Summary>
--- Load dữ liệu nghiệp vụ điều chỉnh, thay thế hóa đơn điện tử
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
---- Created by: Hải Long on: 19/10/2017
---- Modified on 28/05/2019: Bổ sung load BranchID - chi nhánh phát hành
---- Modified by Huỳnh Thử on 06/12/2019: Tách nhỏ câu query
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
/*
	exec AP0159 @DivisionID=N'ANG',@VoucherID=N'AV96b078c6-47f3-4fce-b7b5-5c103b4b37fb'

*/

CREATE PROCEDURE [AP0159]
(
	@DivisionID nvarchar(50),
	@VoucherID nvarchar(50)
)
	
AS

DECLARE @sSQL NVARCHAR(MAX),
		@sSelect NVARCHAR(MAX),
		@sSQL1 NVARCHAR(MAX)
		
SET @sSelect = 'SELECT AT9000.APK, AT9000.DivisionID, AT9000.VoucherID, AT9000.BatchID, AT9000.TransactionID, AT9000.TableID, AT9000.TranMonth, AT9000.TranYear, AT9000.TransactionTypeID, 
AT9000.CurrencyID, AT9000.ObjectID,AT9000.CreditObjectID, AT9000.VATNo, AT9000.VATObjectID, AT9000.VATObjectName, AT9000.VATObjectAddress, AT9000.DebitAccountID, AT9000.CreditAccountID, AT9000.ExchangeRate, 
AT9000.UnitPrice, AT9000.OriginalAmount,AT9000.ConvertedAmount, AT9000.ImTaxOriginalAmount, AT9000.ImTaxConvertedAmount, AT9000.ExpenseOriginalAmount, AT9000.ExpenseConvertedAmount, 
IsStock, AT9000.VoucherDate, AT9000.InvoiceDate, AT9000.VoucherTypeID, AT9000.VATTypeID, AT9000.VATGroupID, AT9000.VoucherNo, AT9000.Serial, AT9000.InvoiceNo, AT9000.Orders, 
AT9000.EmployeeID, SenderReceiver, SRDivisionName, SRAddress, RefNo01, RefNo02, VDescription, BDescription, TDescription, Quantity, 
AT9000.InventoryID, AT9000.UnitID, Status, IsAudit, IsCost, Ana01ID, Ana02ID, Ana03ID, PeriodID, ExpenseID, MaterialTypeID, ProductID, 
NULL AS CreateDate, NULL AS CreateUserID, NULL AS LastModifyDate, NULL AS LastModifyUserID, OriginalAmountCN, ExchangeRateCN, 
CurrencyIDCN, DueDays, AT9000.PaymentID, DueDate, DiscountRate, NULL AS OrderID, CreditBankAccountID, DebitBankAccountID, CommissionPercent, 
InventoryName1, Ana04ID, Ana05ID, PaymentTermID, DiscountAmount, NULL AS OTransactionID, IsMultiTax, AT9000.VATOriginalAmount, 
AT9000.VATConvertedAmount, ReVoucherID, ReBatchID, ReTransactionID, Parameter01, Parameter02, Parameter03, Parameter04, Parameter05, 
Parameter06, Parameter07, Parameter08, Parameter09, Parameter10, NULL AS MOrderID, SOrderID, MTransactionID, 
STransactionID, RefVoucherNo, IsLateInvoice, ConvertedQuantity, ConvertedPrice, AT9000.ConvertedUnitID, AT9000.ConversionFactor, UParameter01, 
UParameter02, UParameter03, UParameter04, UParameter05, PriceListID, Ana06ID, Ana07ID, Ana08ID, Ana09ID, Ana10ID, WOrderID, WTransactionID, 
MarkQuantity, TVoucherID, OldCounter, NewCounter, OtherCounter, TBatchID, ContractDetailID, AT9000.InvoiceCode, AT9000.InvoiceSign, RefInfor, StandardPrice, 
StandardAmount, IsCom, VirtualPrice, VirtualAmount, ReTableID, DParameter01, DParameter02, DParameter03, DParameter04, DParameter05, DParameter06, 
DParameter07, DParameter08, DParameter09, DParameter10, AT9000.InheritTableID, AT9000.InheritVoucherID, AT9000.InheritTransactionID, 
ETaxVoucherID, AT9000.ETaxID, AT9000.ETaxConvertedUnit, ETaxConvertedAmount, 
ETaxTransactionID, AssignedSET, AT9000.SETID, SETUnitID, SETTaxRate, SETConvertedUnit, SETQuantity, SETOriginalAmount, SETConvertedAmount, SETConsistID, 
SETTransactionID, AssignedNRT, NRTTaxAmount, AT9000.NRTClassifyID, NRTUnitID, NRTTaxRate, NRTConvertedUnit, NRTQuantity, NRTOriginalAmount, NRTConvertedAmount, 
NRTConsistID, NRTTransactionID, CreditObjectName, CreditVATNo, IsPOCost, TaxBaseAmount, WTCExchangeRate, WTCOperator, IsFACost, IsInheritFA, 
InheritedFAVoucherID, AVRExchangeRate, PaymentExchangeRate, IsMultiExR, ExchangeRateDate, DiscountSalesAmount, IsProInventoryID, InheritQuantity, 
DiscountPercentSOrder, DiscountAmountSOrder, AT9000.IsWithhodingTax, IsSaleInvoice, WTTransID, DiscountSaleAmountDetail, ABParameter01, ABParameter02, 
ABParameter03, ABParameter04, ABParameter05, ABParameter06, ABParameter07, ABParameter08, ABParameter09, ABParameter10, SOAna01ID, SOAna02ID, 
SOAna03ID, SOAna04ID, SOAna05ID, IsInvoice, Email, IsEInvoice, EInvoiceStatus, AT9000.IsVATWithhodingTax, AT9000.VATWithhodingRate, 
IsEInvoice, IsAdvancePayment, EInvoiceObjectID, Fkey, InheritFkey, AT9000.EInvoiceType, AT9000.TypeOfAdjust,'

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN
	SET @sSQL = '	
	 ISNULL(AT9000.InventoryName1, AT1302.InventoryName) InventoryName, 
		AT1302.MethodID, AT1302.DeliveryPrice, AT1302.IsSource,AT1302.IsLimitDate,AT1302.IsLocation, 
		AT1302.IsStocked, AT1302.AccountID as IsDebitAccountID, AT1302.Barcode, AT1302.IsDiscount,
		'''' LocationID, '''' SourceNo, CONVERT(DATETIME, NULL) LimitDate,
		(CASE WHEN ISNULL(AT1302.IsStocked, 0) = 0 THEN 1 ELSE 0 END) F11, 
		WQ1309.Operator, WQ1309.DataType, AT1319.FormulaDes, AT1010.VATRate,
		O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
		O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID,
		AT01.StandardName S01Name, AT02.StandardName S02Name, AT03.StandardName S03Name, AT04.StandardName S04Name, AT05.StandardName S05Name,
		AT06.StandardName S06Name, AT07.StandardName S07Name, AT08.StandardName S08Name, AT09.StandardName S09Name, AT10.StandardName S10Name,
		AT11.StandardName S11Name, AT12.StandardName S12Name, AT13.StandardName S13Name, AT14.StandardName S14Name, AT15.StandardName S15Name,
		AT16.StandardName S16Name, AT17.StandardName S17Name, AT18.StandardName S18Name, AT19.StandardName S19Name, AT20.StandardName S20Name,
		AT9000.DiscountPercentSOrder, AT9000.DiscountAmountSOrder, AT35.BranchID
	FROM AT9000  WITH (NOLOCK)
		LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID = AT1302.InventoryID
		LEFT JOIN AT1309 WQ1309 WITH (NOLOCK) ON WQ1309.InventoryID = AT9000.InventoryID AND WQ1309.UnitID = AT9000.ConvertedUnitID
		LEFT JOIN AT1319 WITH (NOLOCK) ON WQ1309.FormulaID = AT1319.FormulaID
		LEFT JOIN AT1010 WITH (NOLOCK) ON AT1010.VATGroupID = AT9000.VATGroupID
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
		LEFT JOIN AT8899 O99 WITH (NOLOCK) ON O99.DivisionID = AT9000.DivisionID AND O99.VoucherID = AT9000.VoucherID AND  O99.TransactionID = AT9000.TransactionID
		LEFT JOIN AT0128 AT01 WITH (NOLOCK) ON AT01.StandardID = O99.S01ID AND AT01.StandardTypeID = ''S01''
		LEFT JOIN AT0128 AT02 WITH (NOLOCK) ON AT02.StandardID = O99.S02ID AND AT02.StandardTypeID = ''S02''
		LEFT JOIN AT0128 AT03 WITH (NOLOCK) ON AT03.StandardID = O99.S03ID AND AT03.StandardTypeID = ''S03''
		LEFT JOIN AT0128 AT04 WITH (NOLOCK) ON AT04.StandardID = O99.S04ID AND AT04.StandardTypeID = ''S04''
		LEFT JOIN AT0128 AT05 WITH (NOLOCK) ON AT05.StandardID = O99.S05ID AND AT05.StandardTypeID = ''S05''
		LEFT JOIN AT0128 AT06 WITH (NOLOCK) ON AT06.StandardID = O99.S06ID AND AT06.StandardTypeID = ''S06''
		LEFT JOIN AT0128 AT07 WITH (NOLOCK) ON AT07.StandardID = O99.S07ID AND AT07.StandardTypeID = ''S07''
		'

	SET @sSQL1 = 'LEFT JOIN AT0128 AT08 WITH (NOLOCK) ON AT08.StandardID = O99.S08ID AND AT08.StandardTypeID = ''S08''
		LEFT JOIN AT0128 AT09 WITH (NOLOCK) ON AT09.StandardID = O99.S09ID AND AT09.StandardTypeID = ''S09''
		LEFT JOIN AT0128 AT10 WITH (NOLOCK) ON AT10.StandardID = O99.S10ID AND AT10.StandardTypeID = ''S10''
		LEFT JOIN AT0128 AT11 WITH (NOLOCK) ON AT11.StandardID = O99.S11ID AND AT11.StandardTypeID = ''S11''
		LEFT JOIN AT0128 AT12 WITH (NOLOCK) ON AT12.StandardID = O99.S12ID AND AT12.StandardTypeID = ''S12''
		LEFT JOIN AT0128 AT13 WITH (NOLOCK) ON AT13.StandardID = O99.S13ID AND AT13.StandardTypeID = ''S13''
		LEFT JOIN AT0128 AT14 WITH (NOLOCK) ON AT14.StandardID = O99.S15ID AND AT14.StandardTypeID = ''S14''
		LEFT JOIN AT0128 AT15 WITH (NOLOCK) ON AT15.StandardID = O99.S15ID AND AT15.StandardTypeID = ''S15''
		LEFT JOIN AT0128 AT16 WITH (NOLOCK) ON AT16.StandardID = O99.S16ID AND AT16.StandardTypeID = ''S16''
		LEFT JOIN AT0128 AT17 WITH (NOLOCK) ON AT17.StandardID = O99.S17ID AND AT17.StandardTypeID = ''S17''
		LEFT JOIN AT0128 AT18 WITH (NOLOCK) ON AT18.StandardID = O99.S18ID AND AT18.StandardTypeID = ''S18''
		LEFT JOIN AT0128 AT19 WITH (NOLOCK) ON AT19.StandardID = O99.S19ID AND AT19.StandardTypeID = ''S19''
		LEFT JOIN AT0128 AT20 WITH (NOLOCK) ON AT20.StandardID = O99.S20ID AND AT20.StandardTypeID = ''S20''
		LEFT JOIN AT1035 AT35 WITH (NOLOCK) ON AT35.VoucherID = AT9000.VoucherID AND AT35.IsLastEInvoice=1
	WHERE AT9000.DivisionID = ''' + @DivisionID + '''
	AND AT9000.VoucherID = ''' + @VoucherID + '''
	AND AT9000.TransactionTypeID IN (''T04'',''T24'',''T25'',''T64'')
	ORDER BY AT9000.Orders'
END
ELSE 
BEGIN
	SET @sSQL = '	
	 ISNULL(AT9000.InventoryName1, AT1302.InventoryName) InventoryName, 
		AT1302.MethodID, AT1302.DeliveryPrice, AT1302.IsSource, AT1302.IsLimitDate, AT1302.IsLocation, 
		AT1302.IsStocked, AT1302.AccountID as IsDebitAccountID, AT1302.Barcode, AT1302.IsDiscount,
		'''' LocationID, '''' SourceNo, CONVERT(DATETIME, NULL) LimitDate,
		(CASE WHEN ISNULL(AT1302.IsStocked, 0) = 0 THEN 1 ELSE 0 END) F11, 
		WQ1309.Operator, WQ1309.DataType, AT1319.FormulaDes, AT1010.VATRate,
		AT9000.DiscountPercentSOrder, AT9000.DiscountAmountSOrder, AT35.BranchID
	FROM AT9000  WITH (NOLOCK)
		LEFT JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID = AT1302.InventoryID
		LEFT JOIN AT1309 WQ1309 WITH (NOLOCK) ON WQ1309.InventoryID = AT9000.InventoryID AND WQ1309.UnitID = AT9000.ConvertedUnitID
		LEFT JOIN AT1319 WITH (NOLOCK) ON WQ1309.FormulaID = AT1319.FormulaID
		LEFT JOIN AT1010 WITH (NOLOCK) ON AT1010.VATGroupID = AT9000.VATGroupID
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
		LEFT JOIN AT1035 AT35 WITH (NOLOCK) ON AT35.VoucherID = AT9000.VoucherID AND AT35.IsLastEInvoice=1
	WHERE AT9000.DivisionID = ''' + @DivisionID + '''
	AND AT9000.VoucherID = ''' + @VoucherID + '''
	AND AT9000.TransactionTypeID IN (''T04'',''T24'',''T25'',''T64'') 
	ORDER BY AT9000.Orders'	
END

PRINT @sSelect
PRINT @sSQL

EXEC(@sSelect + @sSQL+ @sSQL1)		




GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
