IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0114]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0114]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



  
-----  Created by Nguyen Van Nhan, Date 12/2/2003  
----  Purpose: In  bao cao Nhap xuat ton theo Lo  
-----  Edit by Nguyen Quoc Huy, Date 31/08/2006  
/********************************************  
'* Edited by: [GS] [Tố Oanh] [28/07/2010]  
'********************************************/  
---- Modified on 24/07/2013 by Lê Thị Thu Hiền : Bổ sung 5 khoản mục I01ID đến I05ID  
---- Bo sung cho 2T, load len 15 notes va 5 parameter  
---- Edit by Mai Duyen: Bo sung them 10AnaID,AnaName01,VoucherDate,Notes cho ViMec
---- Modified by Thanh Sơn on 16/07/2014: Lấy dữ liệu trực tiếp từ store, không sinh ra view (AV0114)
---- Modified by Đức Thông on 08/07/2020: Thêm GroupID, GroupName
---- Modified by Huỳnh Thử on 18/08/2020: Merge Code: MEKIO và MTE -- Tách Store
---- Modified by Đức Thông on 16/09/2020: Tách store AP0112 cho SAVI: Lấy version cũ
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Nhựt Trường on 05/01/2021: Bổ sung thêm điều kiện DivisionID khi join bảng AT1401.
---- Modified by Nhựt Trường on 16/06/2021: Tách srore riêng cho khách hàng Hoa Sáng.
---- Modified by Nhựt Trường on 30/03/2022: [2022/03/IS/0318] - Bổ sung group dữ liệu theo lô khi xac dinh phat sinh du-nhap - xuat.
---- Modified by Nhật Thanh on 22/07/2022: Bổ sung lấy max các trường Notes
---- Modified by Nhựt Trường on 25/10/2022: [2022/10/IS/0133] - Fix lỗi truy vấn lặp lại các trường dữ liệu Notes14, Notes15 và VoucherDate.
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.
---- Modified by Đình Định on 10/03/2023: [2023/03/IS/0058] - [VIMEC] Lấy thêm tên sale lên báo cáo tồn kho theo lô.
---- Modified by Xuân Nguyên on 19/06/2023: [2023/06/IS/0172] - [BBL] Bổ sung DivisionID dùng chung
---- Modified by Xuân Nguyên on 19/06/2023: [2023/06/IS/0178] - [VIMEC] Bổ sung trường ObjectID
---- Modified by Đình Định on 07/08/2023: BBL - Bổ sung cột ConvertedUnitID.
/*
 exec AP0114 @Divisionid=N'VM',@Fromwarehouseid=N'K01',@Towarehouseid=N'K99',@Frommonth=1,@Fromyear=2014,@Tomonth=1,
		@Toyear=2014,@Fromdate='2013-12-31 00:00:00',@Todate='2013-12-31 00:00:00',@Isdate=0,@Frominventoryid=N'001025-1',@Toinventoryid=N'X0003',@Isinner=1
  Select * from Av0114
 */

CREATE PROCEDURE [dbo].[AP0114]   
    @DivisionID AS NVARCHAR(50),   
    @FromWareHouseID AS NVARCHAR(50),  
    @ToWareHouseID AS NVARCHAR(50),  
    @FromMonth AS INT,  
    @FromYear AS INT,  
    @ToMonth AS INT,  
    @ToYear AS INT,  
    @FromDate DATETIME,  
    @ToDate DATETIME,  
    @IsDate AS TINYINT,  --- (0 theo ky, 1 theo thang)  
    @FromInventoryID AS NVARCHAR(50),  
    @ToInventoryID AS NVARCHAR(50),  
    @IsInner AS TINYINT, ----- (0; khong co VCNB, 1: VCNB)  
	@UserID VARCHAR(50)
AS  
DECLARE @sSQL AS nvarchar(4000),  
		@KindVoucherListEx AS NVARCHAR(200),  
		@KindVoucherListIm AS NVARCHAR(200),  
		@WareHouseID1 AS NVARCHAR(200),   
		@FromMonthYearText NVARCHAR(20),   
		@ToMonthYearText NVARCHAR(20),   
		@FromDateText NVARCHAR(20),   
		@ToDateText NVARCHAR(20) ,
		@GroupID VARCHAR (50),
		@CustomerName INT 

SELECT @CustomerName = CustomerName FROM dbo.CustomerIndex
IF(@CustomerName = 50 OR @CustomerName = 115) -- Mekio or Mte
BEGIN
	EXEC AP0114_MK @DivisionID ,   
				   @FromWareHouseID ,  
				   @ToWareHouseID ,  
				   @FromMonth ,  
				   @FromYear ,  
				   @ToMonth ,  
				   @ToYear ,  
				   @FromDate ,  
				   @ToDate ,  
				   @IsDate ,  --- (0 theo ky, 1 theo thang)  
				   @FromInventoryID ,  
				   @ToInventoryID ,  
				   @IsInner  , ----- (0; khong co VCNB, 1: VCNB)  
				   @UserID
END
ELSE IF (@CustomerName = 60) -- Hoa Sáng
BEGIN
	EXEC AP0114_HS @DivisionID, @FromWareHouseID, @ToWareHouseID, @FromMonth, @FromYear, @ToMonth, @ToYear, @FromDate, @ToDate, @IsDate, @FromInventoryID, @ToInventoryID, @IsInner
END
ELSE
BEGIN
	-- Savi: thêm group id, group name
SET @GroupID = (SELECT TOP 1 AT1402.GroupID FROM AT1402 WITH(NOLOCK) WHERE AT1402.UserID = @UserID)
      
SET @FromMonthYearText = STR(@FromMonth + @FromYear * 100)  
SET @ToMonthYearText = STR(@ToMonth + @ToYear * 100)  
SET @FromDateText = CONVERT(NVARCHAR(20), @FromDate, 101)  
SET @ToDateText = CONVERT(NVARCHAR(20), @ToDate, 101) + ' 23:59:59'  
  
SET @KindVoucherListEx   = '';  
SET @KindVoucherListIm   = '';  
SET @WareHouseID1 = '';  
   
IF @IsInner =0   
  BEGIN   
	 SET @KindVoucherListIm ='(1,5,7,9,15,17) '  
	 SET @KindVoucherListEx ='(2,4,6,8,10,14,20) '  
  END  
ELSE  
  BEGIN  
	SET @KindVoucherListIm ='(1,3,5,7,9,15,17) '  
	SET @KindVoucherListEx ='(2,3,4,6,8,10,14,20) '  
 END  
  
	SET @WareHouseID1 = ' CASE WHEN KindVoucherID = 3 THEN AT2006.WareHouseID2 ELSE AT2006.WareHouseID END '  
  
---Step 01:  Xac dinh so du tra ra view AV0124  
IF (@CustomerName = 44)
	EXEC AP0112_SAVI @DivisionID, @FromWareHouseID, @ToWareHouseID, @FromInventoryID, @ToInventoryID,@FromMonth, @FromYear,@ToMonth,@ToYear, @FromDate, @ToDate, @IsDate, @IsInner  
ELSE
	EXEC AP0112 @DivisionID, @FromWareHouseID, @ToWareHouseID, @FromInventoryID, @ToInventoryID,@FromMonth, @FromYear,@ToMonth,@ToYear, @FromDate, @ToDate, @IsDate, @IsInner 
 
 --Exec AP0112 @Divisionid=N'VM',@Fromwarehouseid=N'K01',@Towarehouseid=N'K99',@Frominventoryid=N'001025-1',@Toinventoryid=N'X0003',@Frommonth=1,@Fromyear=2014,@Tomonth=1,@Toyear=2014,@Fromdate='2013-12-31 00:00:00',@Todate='2013-12-31 00:00:00',@Isdate=0,@Isinner=1
 
 
---Step 02:  Xac dinh so phat sinh.  
  
----- Step 02-1:  Xac dinh phat sinh nhap.  
IF @IsDate =0  
SET @sSQL ='  SELECT AT2007.InventoryID, AT2006.WareHouseID,AT2007.TransactionID AS ReTransactionID,
					 AT2006.VoucherNo, AT2006.VoucherDate,  AT2007.SourceNo, AT2007.LimitDate,   
					 AT2007.UnitID, AT2007.UnitPrice, AT2007.ActualQuantity, AT2007.ConvertedQuantity,AT2007.OriginalAmount,   
					 AT2007.ConvertedAmount, AT2007.DivisionID, 
					 AT2007.Notes01, AT2007.Notes02, AT2007.Notes03, AT2007.Notes04, AT2007.Notes05,
					 AT2007.Notes06, AT2007.Notes07, AT2007.Notes08, AT2007.Notes09, AT2007.Notes10,
					 AT2007.Notes11, AT2007.Notes12, AT2007.Notes13, AT2007.Notes14, AT2007.Notes15,
					 AT2007.Parameter01, AT2007.Parameter02, AT2007.Parameter03, AT2007.Parameter04, AT2007.Parameter05, ISNULL(AT2007.MarkQuantity,0) AS MarkQuantity ,
					 AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, AT2007.Ana06ID, AT2007.Ana07ID, 
					 AT2007.Ana08ID, AT2007.Ana09ID, AT2007.Ana10ID, AT2007.Notes,
					 N'''+@GroupID+''' AS GroupID, AT1401.GroupName, AT2007.WarrantyNo, W69.ShelvesID, 
					 W69.ShelvesName, W70.FloorID, W70.FloorName, AT2006.ObjectID, AT2007.ConvertedUnitID 
				FROM AT2007 WITH (NOLOCK)   
				LEFT JOIN WT0169 W69 WITH (NOLOCK) ON AT2007.ShelvesID = W69.ShelvesID
				LEFT JOIN WT0170 W70 WITH (NOLOCK) ON AT2007.FloorID = W70.FloorID
			   INNER JOIN AT2006 WITH (NOLOCK) ON AT2006.VoucherID = AT2007.VoucherID 
								AND AT2006.DivisionID = AT2007.DivisionID  
				LEFT JOIN AT1401 WITH (NOLOCK) ON AT1401.DivisionID IN ('''+@DivisionID+''',''@@@'') 
											  AND AT1401.GroupID = N''' +@GroupID+ '''
			   WHERE AT2006.DivisionID =''' + @DivisionID + ''' 
				 AND ( AT2007.InventoryID LIKE '''+@FromInventoryID+'''
					   OR AT2007.InventoryID BETWEEN '''+@FromInventoryID+''' AND '''+@ToInventoryID+''')
				 AND ( AT2006.WareHouseID LIKE '''+@FromWareHouseID+'''
					   OR AT2006.WareHouseID BETWEEN  '''+@FromWareHouseID+''' AND  '''+@ToWareHouseID+''')
				 AND ( AT2006.TranMonth + AT2006.TranYear*100 >= '+@FromMonthYearText+ '    
					   AND AT2006.TranMonth + AT2006.TranYear*100 <= '+@ToMonthYearText+ ' )  
				 AND KindVoucherID IN  '+ @KindVoucherListIm +'  '  
ELSE  
 SET @sSQL =' SELECT AT2007.InventoryID, AT2006.WareHouseID,AT2007.TransactionID AS ReTransactionID,
					 AT2006.VoucherNo, AT2006.VoucherDate,  AT2007.SourceNo, AT2007.LimitDate, 
					 AT2007.UnitID,    
					 AT2007.ActualQuantity, AT2007.ConvertedQuantity,AT2007.OriginalAmount, AT2007.ConvertedAmount, AT2007.DivisionID,   
					 AT2007.Notes01, AT2007.Notes02, AT2007.Notes03, AT2007.Notes04, AT2007.Notes05, 
					 AT2007.Notes06, AT2007.Notes07, AT2007.Notes08, AT2007.Notes09, AT2007.Notes10, 
					 AT2007.Notes11, AT2007.Notes12, AT2007.Notes13,  AT2007.Notes14, AT2007.Notes15, 
					 AT2007.Parameter01, AT2007.Parameter02, AT2007.Parameter03, AT2007.Parameter04, AT2007.Parameter05,
					 ISNULL(AT2007.MarkQuantity,0) AS MarkQuantity , 
					 AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, AT2007.Ana06ID, AT2007.Ana07ID, 
					 AT2007.Ana08ID, AT2007.Ana09ID, AT2007.Ana10ID, AT2007.Notes,
					 N'''+@GroupID+''' AS GroupID, AT1401.GroupName, AT2007.WarrantyNo, 
					 W69.ShelvesID, W69.ShelvesName, W70.FloorID, W70.FloorName, AT2006.ObjectID, AT2007.ConvertedUnitID  
				FROM AT2007 WITH (NOLOCK)
				LEFT JOIN WT0169 W69 WITH (NOLOCK) ON AT2007.ShelvesID = W69.ShelvesID
				LEFT JOIN WT0170 W70 WITH (NOLOCK) ON AT2007.FloorID = W70.FloorID
				LEFT JOIN AT1401 WITH (NOLOCK) ON AT1401.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1401.GroupID = N''' +@GroupID+ '''
			   INNER JOIN AT2006 WITH (NOLOCK) ON AT2006.VoucherID = AT2007.VoucherID AND AT2006.DivisionID = AT2007.DivisionID  
			   WHERE AT2006.DivisionID =''' + @DivisionID + ''' 
			     AND ( AT2007.InventoryID LIKE '''+@FromInventoryID+''' OR   
					   AT2007.InventoryID BETWEEN '''+@FromInventoryID+''' AND '''+@ToInventoryID+''') 
				 AND ( AT2006.WareHouseID LIKE '''+@FromWareHouseID+''' 
					   OR AT2006.WareHouseID between  '''+@FromWareHouseID+''' AND  '''+@ToWareHouseID+''') 
				 AND ( AT2006.VoucherDate  >= '''+@FromDateText+'''    
					   AND AT2006.VoucherDate <= '''+@ToDateText+''' ) 
				 AND KindVoucherID IN  '+ @KindVoucherListIm +'  '  

IF NOT EXISTS (SELECT 1 FROM SYSOBJECTS WHERE XTYPE='V' AND NAME ='AV0128')  
 EXEC('CREATE VIEW AV0128  -----TAO BOI AP0114  
  AS '+@sSQL)  
ELSE  
 EXEC('ALTER VIEW AV0128  -----TAO BOI AP0114  
  AS '+@sSQL)  
  
  
------ Step 02-2:  Xac dinh phat sinh xuat.  
IF @IsDate = 0  
SET @sSQL =' SELECT AT2007.ReTransactionID,   '+ @WareHouseID1 +' AS WareHouseID, AT2007.InventoryID, 
                    SUM(ISNULL(AT2007.ActualQuantity,0)) AS ExQuantity,  
                    SUM(ISNULL(AT2007.ConvertedQuantity,0)) AS ExConvertedQuantity,  
                    SUM(ISNULL(AT2007.OriginalAmount,0)) AS ExOriginalAmount ,   
                    SUM(ISNULL( AT2007.ConvertedAmount,0)) AS ExConvertedAmount, AT2007.DivisionID,   
                    MAX(AT2007.Notes01) AS Notes01, MAX(AT2007.Notes02) AS Notes02, MAX(AT2007.Notes03) AS Notes03,   
                    MAX(AT2007.Notes04) AS Notes04, MAX(AT2007.Notes05) AS Notes05, MAX(AT2007.Notes06) AS Notes06, MAX(AT2007.Notes07) AS Notes07, MAX(AT2007.Notes08) AS Notes08,  
                    MAX(AT2007.Notes09) AS Notes09, MAX(AT2007.Notes10) AS Notes10, MAX(AT2007.Notes11) AS Notes11, MAX(AT2007.Notes12) AS Notes12, MAX(AT2007.Notes13) AS Notes13,   
                    MAX(AT2007.Notes14) AS Notes14, MAX(AT2007.Notes15) AS Notes15, AT2007.Parameter01, AT2007.Parameter02, AT2007.Parameter03, AT2007.Parameter04, AT2007.Parameter05, SUM(ISNULL(AT2007.MarkQuantity,0)) AS ExMarkQuantity  ,
                    AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, AT2007.Ana06ID, AT2007.Ana07ID, AT2007.Ana08ID, AT2007.Ana09ID, AT2007.Ana10ID, 
                    MAX(ISNULL(AT2007.Notes,'''')) AS Notes, MAX(AT2006.VoucherDate) AS VoucherDate, N'''+@GroupID+''' AS GroupID, AT1401.GroupName, AT2007.WarrantyNo, W69.ShelvesID, W69.ShelvesName, W70.FloorID, W70.FloorName  
			   FROM AT2007
			 	LEFT JOIN WT0169 W69 WITH (NOLOCK) ON AT2007.ShelvesID = W69.ShelvesID
			 	LEFT JOIN WT0170 W70 WITH (NOLOCK) ON AT2007.FloorID = W70.FloorID
				LEFT JOIN AT1401 WITH (NOLOCK) ON AT1401.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1401.GroupID = N''' +@GroupID+ '''
			   INNER JOIN AT2006 ON AT2006.VoucherID = AT2007.VoucherID AND AT2006.DivisionID = AT2007.DivisionID  
			   WHERE AT2006.DivisionID =''' + @DivisionID + ''' 
			     AND ( AT2007.InventoryID LIKE '''+@FromInventoryID+''' 
					   OR AT2007.InventoryID BETWEEN '''+@FromInventoryID+''' AND '''+@ToInventoryID+''') 
				 AND ( '+@WareHouseID1+' LIKE '''+@FromWareHouseID+''' 
					   OR '+@WareHouseID1+' BETWEEN  '''+@FromWareHouseID+''' AND  '''+@ToWareHouseID+''')
				 AND ( AT2006.TranMonth + AT2006.TranYear*100 >= '+@FromMonthYearText+ '    
					   AND AT2006.TranMonth + AT2006.TranYear*100 <= '+@ToMonthYearText+ ' )  
				 AND KindVoucherID IN '+ @KindVoucherListEx+'  
			   GROUP BY ReTransactionID,  '+ @WareHouseID1 +', InventoryID, AT2007.DivisionID,   
					    AT1401.GroupName, AT2007.WarrantyNo, W69.ShelvesID, W69.ShelvesName, W70.FloorID, W70.FloorName,
						AT2007.Parameter01, AT2007.Parameter02, AT2007.Parameter03, AT2007.Parameter04, AT2007.Parameter05 ,
						AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, AT2007.Ana06ID,
						AT2007.Ana07ID, AT2007.Ana08ID, AT2007.Ana09ID, AT2007.Ana10ID '  
  
ELSE   
SET @sSQL = '  SELECT AT2007.ReTransactionID, '+ @WareHouseID1 +' AS WareHouseID, AT2007.InventoryID,    
					  SUM(AT2007.ActualQuantity) AS ExQuantity,  
					  SUM(AT2007.ConvertedQuantity) AS ExConvertedQuantity,  
					  SUM(AT2007.OriginalAmount) AS ExOriginalAmount ,   
					  SUM( AT2007.ConvertedAmount) AS ExConvertedAmount, AT2007.DivisionID,   
					  MAX(AT2007.Notes01) AS Notes01, MAX(AT2007.Notes02) AS Notes02, MAX(AT2007.Notes03) AS Notes03,   
					  MAX(AT2007.Notes04) AS Notes04, MAX(AT2007.Notes05) AS Notes05, MAX(AT2007.Notes06) AS Notes06, MAX(AT2007.Notes07) AS Notes07, MAX(AT2007.Notes08) AS Notes08,  
					  MAX(AT2007.Notes09) AS Notes09, MAX(AT2007.Notes10) AS Notes10, MAX(AT2007.Notes11) AS Notes11, MAX(AT2007.Notes12) AS Notes12, MAX(AT2007.Notes13) AS Notes13,   
					  MAX(AT2007.Notes14) AS Notes14, MAX(AT2007.Notes15) AS Notes15, AT2007.Parameter01, AT2007.Parameter02, AT2007.Parameter03, AT2007.Parameter04, AT2007.Parameter05, SUM(ISNULL(AT2007.MarkQuantity,0)) AS ExMarkQuantity,
					  AT2007.Ana01ID,AT2007.Ana02ID, AT2007.Ana03ID,AT2007.Ana04ID,AT2007.Ana05ID,AT2007.Ana06ID,AT2007.Ana07ID,AT2007.Ana08ID,AT2007.Ana09ID,AT2007.Ana10ID,
					  MAX(ISNULL(AT2007.Notes,'''')) AS Notes ,Max(AT2006.VoucherDate) AS VoucherDate, N'''+@GroupID+''' AS GroupID, AT1401.GroupName, AT2007.WarrantyNo, W69.ShelvesID, W69.ShelvesName, W70.FloorID, W70.FloorName    
				 FROM AT2007 WITH (NOLOCK)  
				 LEFT JOIN WT0169 W69 WITH (NOLOCK) ON AT2007.ShelvesID = W69.ShelvesID
				 LEFT JOIN WT0170 W70 WITH (NOLOCK) ON AT2007.FloorID = W70.FloorID
				 LEFT JOIN AT1401 WITH (NOLOCK) ON AT1401.DivisionID IN ('''+@DivisionID+''',''@@@'') 
											   AND AT1401.GroupID = N''' +@GroupID+ '''
				 INNER JOIN AT2006 WITH (NOLOCK) ON AT2006.VoucherID = AT2007.VoucherID 
								  AND AT2006.DivisionID = AT2007.DivisionID  
				 WHERE AT2006.DivisionID =''' + @DivisionID + ''' 
				   AND ( AT2007.InventoryID LIKE '''+@FromInventoryID+''' 
						 OR AT2007.InventoryID BETWEEN '''+@FromInventoryID+''' AND '''+@ToInventoryID+''') 
				   AND ( '+@WareHouseID1+' like '''+@FromWareHouseID+''' 
						 OR '+@WareHouseID1+' between  '''+@FromWareHouseID+''' AND  '''+@ToWareHouseID+''')
				   AND ( AT2006.VoucherDate  >= '''+@FromDateText+'''    
						 AND AT2006.VoucherDate <= '''+@ToDateText+''' )  
				   AND KindVoucherID IN '+ @KindVoucherListEx+'  
				 GROUP BY ReTransactionID, '+ @WareHouseID1 +',InventoryID, AT2007.DivisionID,   
						  AT2007.Parameter01, AT2007.Parameter02, AT2007.Parameter03, AT2007.Parameter04, AT2007.Parameter05,
						  AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, AT2007.Ana06ID,
						  AT2007.Ana07ID, AT2007.Ana08ID, AT2007.Ana09ID, AT2007.Ana10ID, AT1401.GroupName, AT2007.WarrantyNo, 
						  W69.ShelvesID, W69.ShelvesName, W70.FloorID, W70.FloorName  '  
Print  @sSQL  
  
IF NOT EXISTS (SELECT 1 FROM SYSOBJECTS WHERE XTYPE='V' AND NAME ='AV0129')  
 EXEC('CREATE VIEW AV0129  -----TAO BOI AP0114  
  AS '+@sSQL)  
ELSE  
 EXEC('ALTER VIEW AV0129  -----TAO BOI AP0114  
  AS '+@sSQL)  
    

------ Step 02-3:  Xac dinh phat sinh du-nhap  
Set @sSQL='SELECT AV01.InventoryID, AT1302.InventoryName, AV01.WareHouseID, WareHouseName, AV01.ReTransactionID,   
				   AV01.VoucherNo, AV01.SourceNo, AV01.LimitDate, AV01.UnitID, 
				   AV01.ActualQuantity AS BeginQuantity,   
				   AV01.ConvertedQuantity AS BeginConvertedQuantity,   
				   AV01.OriginalAmount AS BeginOriginalAmount,   
				   AV01.ConvertedAmount AS BeginConvertedAmount,  
				   0 AS DebitQuantity, 0 AS DebitConvertedQuantity,   
				   0 AS DebitOriginalAmount, 0 AS DebitConvertedAmount, AV01.DivisionID,  
				   AV01.Notes01, AV01.Notes02, AV01.Notes03, AV01.Notes04, AV01.Notes05, 
				   AV01.Notes06, AV01.Notes07, AV01.Notes08, AV01.Notes09, AV01.Notes10,
				   AV01.Notes11, AV01.Notes12, AV01.Notes13, AV01.Notes14, AV01.Notes15,
				   0 AS DebitMarkQuantity, AV01.Ana01ID,
				   AT1302.I01ID, AT1302.I02ID, AT1302.I03ID, AT1302.I04ID, AT1302.I05ID,
				   AV01.Notes,AV01.VoucherDate , N'''+@GroupID+''' AS GroupID, AT1401.GroupName,
				   AV01.WarrantyNo, AV01.ShelvesID, AV01.ShelvesName, AV01.FloorID, AV01.FloorName, AV01.ObjectID, AV01.ConvertedUnitID
			  FROM AV0125 AV01 WITH (NOLOCK) 
			  LEFT JOIN AT1401 WITH (NOLOCK) ON AT1401.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1401.GroupID = N''' +@GroupID+ '''
			 INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AV01.DivisionID,''@@@'') AND AT1302.InventoryID = AV01.InventoryID  
			 INNER JOIN AT1303 WITH (NOLOCK) ON AT1303.DivisionID IN (''' + @DivisionID + ''',''@@@'') AND AT1303.WareHouseID = AV01.WareHouseID 
			 WHERE IsSource = 1  
			 UNION ALL  
			SELECT AV02.InventoryID, AT1302.InventoryName, AV02.WareHouseID, WareHouseName, AV02.ReTransactionID,   
			       AV02.VoucherNo, AV02.SourceNo, AV02.LimitDate, AV02.UnitID,  
			       0 AS BeginQuantity, 0 AS BeginConvertedQuantity,0 AS BeginOriginalAmount, 0 AS BeginConvertedAmount,  
			       AV02.ActualQuantity AS DebitQuantity, AV02.ConvertedQuantity AS DebitConvertedQuantity, 
				   AV02.OriginalAmount AS DebitOriginalAmount,   
			       AV02.ConvertedAmount AS DebitConvertedAmount, AV02.DivisionID,  
			       AV02.Notes01, AV02.Notes02, AV02.Notes03, AV02.Notes04, AV02.Notes05, 
				   AV02.Notes06, AV02.Notes07, AV02.Notes08, AV02.Notes09, AV02.Notes10, 
				   AV02.Notes11, AV02.Notes12, AV02.Notes13, AV02.Notes14, AV02.Notes15,   
			       0 AS BeginMarkQuantity,  AV02.Ana01ID,
			       AT1302.I01ID, AT1302.I02ID, AT1302.I03ID,AT1302.I04ID, AT1302.I05ID,
			       AV02.Notes,AV02.VoucherDate, N'''+@GroupID+''' AS GroupID, AT1401.GroupName, AV02.WarrantyNo,
				   AV02.ShelvesID, AV02.ShelvesName, AV02.FloorID, AV02.FloorName, AV02.ObjectID, AV02.ConvertedUnitID
			  FROM AV0128 AV02 WITH (NOLOCK)
			  LEFT JOIN AT1401 WITH (NOLOCK) ON AT1401.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1401.GroupID = N''' +@GroupID+ '''
			 INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AV02.DivisionID,''@@@'') AND AT1302.InventoryID = AV02.InventoryID
			 INNER JOIN AT1303 WITH (NOLOCK) ON AT1303.DivisionID IN (''' + @DivisionID + ''',''@@@'') AND AT1303.WareHouseID = AV02.WareHouseID 
			 WHERE IsSource = 1 '   
print @sSQL
IF NOT EXISTS (SELECT 1 FROM SYSOBJECTS WHERE XTYPE='V' AND NAME ='AV0120')  
 EXEC('CREATE VIEW AV0120  -----TAO BOI AP0114  
  AS '+@sSQL)  
ELSE  
 EXEC('ALTER VIEW AV0120  -----TAO BOI AP0114  
  AS '+@sSQL)  
  
------ Step 02-4:  Xac dinh phat sinh du-nhap - xuat
SET @sSQL = ' 
	SELECT DISTINCT AV0120.InventoryID, AV0120.InventoryName, AV0120.WareHouseID, AV0120.WareHouseName,
					AV0120.ReTransactionID, AV0120.VoucherNo, AV0120.SourceNo, AV0120.LimitDate, AV0120.UnitID,  
					AV0120.BeginQuantity, AV0120.BeginConvertedQuantity, AV0120.BeginOriginalAmount, AV0120.BeginConvertedAmount ,  
					AV0120.DebitQuantity, AV0120.DebitConvertedQuantity, AV0120.DebitOriginalAmount, AV0120.DebitConvertedAmount ,  
					SUM(EXQuantity) AS EXQuantity, SUM(EXConvertedQuantity) AS EXConvertedQuantity, SUM(EXMarkQuantity) AS EXMarkQuantity, SUM(ExOriginalAmount) AS ExOriginalAmount, SUM(ExConvertedAmount) AS ExConvertedAmount, Av0120.DivisionID,  
					AV0120.Notes01, AV0120.Notes02, AV0120.Notes03, AV0120.Notes04, AV0120.Notes05, 
					AV0120.Notes06, AV0120.Notes07, AV0120.Notes08, AV0120.Notes09, AV0120.Notes10, 
					AV0120.Notes11, AV0120.Notes12, AV0120.Notes13, AV0120.Notes14, AV0120.Notes15, 
					AV0120.DebitMarkQuantity, AV0120.Ana01ID,
					AV0120.I01ID, AV0120.I02ID, AV0120.I03ID, AV0120.I04ID,AV0120.I05ID, AV0120.Notes,
					AV0120.VoucherDate
				  --T1.AnaName AS AnaName01, T2.AnaName AS AnaName02, T3.AnaName AS AnaName03, T4.AnaName AS AnaName04, T5.AnaName AS AnaName05
					, N'''+@GroupID+''' AS GroupID, AT1401.GroupName, AV0119.WarrantyNo, AV0119.ShelvesID, AV0119.ShelvesName, AV0119.FloorID, AV0119.FloorName, AV0120.ObjectID, AT1202.ObjectName,
					AV0120.ConvertedUnitID
	 FROM AV0120 WITH (NOLOCK) 
	 LEFT JOIN AT1401 WITH (NOLOCK) on AT1401.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1401.GroupID = N''' +@GroupID+ '''
	 --LEFT  JOIN AT1011	T1 on T1.AnaID = AV0120.Ana01ID And T1.AnaTypeID = ''A01'' AND T1.DivisionID = AV0120.DivisionID
	 --LEFT  JOIN AT1011	T2 on T2.AnaID = AV0120.Ana02ID And T2.AnaTypeID = ''A02'' AND T2.DivisionID = AV0120.DivisionID
	 --LEFT  JOIN AT1011	T3 on T3.AnaID = AV0120.Ana03ID And T3.AnaTypeID = ''A03'' AND T3.DivisionID = AV0120.DivisionID
	 --LEFT  JOIN AT1011	T4 on T4.AnaID = AV0120.Ana04ID And T4.AnaTypeID = ''A04'' AND T4.DivisionID = AV0120.DivisionID
	 --LEFT  JOIN AT1011	T5 on T5.AnaID = AV0120.Ana05ID And T5.AnaTypeID = ''A05'' AND T5.DivisionID = AV0120.DivisionID
	 LEFT JOIN AV0129 AV0119 WITH (NOLOCK) ON AV0119.InventoryID = AV0120.InventoryID   
						    AND AV0119.DivisionID = AV0120.DivisionID  
							AND AV0119.WareHouseID = AV0120.WareHouseID  
							AND AV0119.ReTransactionID = AV0120.ReTransactionID 
	LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN('''+@DivisionID+''',''@@@'') AND AT1202.ObjectID = AV0120.ObjectID
	GROUP BY AV0120.InventoryID, AV0120.InventoryName, AV0120.WareHouseID,AV0120.WareHouseName, AV0120.ReTransactionID,   
			 AV0120.VoucherNo, AV0120.SourceNo, AV0120.LimitDate, AV0120.UnitID,  
			 AV0120.BeginQuantity, AV0120.BeginConvertedQuantity, AV0120.BeginOriginalAmount, AV0120.BeginConvertedAmount ,  
			 AV0120.DebitQuantity, AV0120.DebitConvertedQuantity, AV0120.DebitOriginalAmount, AV0120.DebitConvertedAmount ,  
			 Av0120.DivisionID, 
			 AV0120.Notes01, AV0120.Notes02, AV0120.Notes03, AV0120.Notes04, AV0120.Notes05, 
			 AV0120.Notes06, AV0120.Notes07, AV0120.Notes08, AV0120.Notes09, AV0120.Notes10,
			 AV0120.Notes11, AV0120.Notes12, AV0120.Notes13, AV0120.Notes14, AV0120.Notes15,  
			 AV0120.DebitMarkQuantity, AV0120.Ana01ID,
			 AV0120.I01ID, AV0120.I02ID, AV0120.I03ID, AV0120.I04ID, AV0120.I05ID,
			 AV0120.Notes, AV0120.VoucherDate, AT1401.GroupName, AV0119.WarrantyNo,
			 AV0119.ShelvesID, AV0119.ShelvesName, AV0119.FloorID, AV0119.FloorName, AV0120.ObjectID, AT1202.ObjectName, AV0120.ConvertedUnitID  '  
print @sSQL
CREATE TABLE #CustomerIndex (CustomerName INT, ImportExcel INT)
INSERT INTO #CustomerIndex (CustomerName, ImportExcel) EXEC AP4444 
IF (SELECT TOP 1 CustomerName FROM #CustomerIndex) = 23
	EXEC AP0114VG @DivisionID, 'ASOFTADMIN', @FromMonth, @FromYear, @ToMonth, @ToYear, @FromDate, @ToDate, @IsDate, @FromInventoryID, @ToInventoryID, @FromWareHouseID, @ToWareHouseID, @IsInner

ELSE EXEC (@sSQL)
END


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO