IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0151]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0151]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- AP0151
-- <Summary>
---- Stored cập nhật thông tin về hóa đơn bán hàng gốc
---- Created on 16/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
-- <Example>
---- EXEC AP0151 @DivisionID = 'SC',@UserID='ASOFTADMIN',@VoucherID = '', @Mode = 1

CREATE PROCEDURE [dbo].[AP0151]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),
	@VoucherID AS NVARCHAR(50)
AS
	
DECLARE @AT9000VoucherID AS NVARCHAR(50),
		@InheritVoucherID AS NVARCHAR(50),
		@InheritEInvoiceType AS TINYINT
		
SELECT @AT9000VoucherID = AT9000VoucherID, @InheritVoucherID = InheritVoucherID, @InheritEInvoiceType = InheritEInvoiceType
FROM AT1035 WITH (NOLOCK)	
WHERE DivisionID = @DivisionID
AND VoucherID = @VoucherID	

IF (@InheritEInvoiceType = 1 AND @InheritEInvoiceType = 2)
BEGIN
	UPDATE AT1035
	SET IsLastEInvoice = 0
	WHERE DivisionID = @DivisionID
	AND VoucherID = @InheritVoucherID	
END


UPDATE AT9000
SET 
UnitPrice = AT1036.ConvertedPrice,
ConvertedPrice = AT1036.ConvertedPrice,
Quantity = AT1036.ConvertedQuantity,
ConvertedQuantity = AT1036.ConvertedQuantity,
MarkQuantity = AT1036.ConvertedQuantity,
OriginalAmount = AT1036.OriginalAmount,
ConvertedAmount = AT1036.ConvertedAmount,
OriginalAmountCN = AT1036.ConvertedAmount,
DiscountRate = AT1036.DiscountRate,
DiscountAmount = AT1036.DiscountAmount,
InvoiceNo = AT1035.InvoiceNo,
InvoiceDate = AT1035.InvoiceDate
FROM AT9000
INNER JOIN AT1036 ON AT1036.DivisionID = AT9000.DivisionID AND AT1036.AT9000VoucherID = AT9000.VoucherID AND AT1036.AT9000TransactionID = AT9000.TransactionID
INNER JOIN AT1035 ON AT1035.DivisionID = AT1036.DivisionID AND AT1035.VoucherID = AT1036.VoucherID
WHERE AT9000.DivisionID = @DivisionID
AND AT9000.VoucherID = @AT9000VoucherID
AND AT1035.VoucherID = @VoucherID
AND AT9000.TransactionTypeID = 'T04'

UPDATE AT9000
SET 
OriginalAmount = AT1035.VATOriginalAmount,
ConvertedAmount = AT1035.VATConvertedAmount,
OriginalAmountCN = AT1035.VATConvertedAmount,
InvoiceNo = AT1035.InvoiceNo,
InvoiceDate = AT1035.InvoiceDate
FROM AT9000
INNER JOIN AT1035 ON AT1035.DivisionID = AT9000.DivisionID AND AT1035.AT9000VoucherID = AT9000.VoucherID
WHERE AT9000.DivisionID = @DivisionID
AND AT9000.VoucherID = @AT9000VoucherID
AND AT1035.VoucherID = @VoucherID
AND AT9000.TransactionTypeID = 'T14'	


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

