IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0155]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0155]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- AP0155
-- <Summary>
---- Stored Xử lý cập nhật dữ liệu khi người dùng chọn hủy hđđt 
---- Created on 23/08/2017 Hải Long
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Modified on 11/08/2014 by 
---- Modified on 11/12/2018 by Kim Thư - Cập nhật hủy hóa đơn từ phiếu VCNB -> xóa phiếu VCNB (CustomerIndex = 16 - Siêu Thanh)
---- Modified on 13/01/2021 by Đức Thông [KHV] 2020/12/TA/0801: Bổ xung xử lí xóa phiếu VCNB, xuất kho khi hủy hddt cho khách KHV
---- Modified on 13/01/2021 by Đức Thông [NKTTN] 2021/01/IS/0151: Bổ xung xử lí xóa phiếu VCNB, xuất kho khi hủy hddt (đưa vào chuẩn)
-- <Example>
---- EXEC AP0155 @DivisionID = 'ANG',@UserID='ASOFTADMIN',@VoucherID = 'TV922ad848-a53e-4c69-9f68-e35fff2259be'

CREATE PROCEDURE [dbo].[AP0155]
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),		
	@VoucherID AS NVARCHAR(50)
AS
	
		
DECLARE @AT9000VoucherID AS NVARCHAR(50),
		@CustomerName INT,
		@BatchID NVARCHAR(50) = '',
		@Tranmonth INT,
		@Tranyear INT,
		@KindVoucherID TINYINT = 0
		
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName) 	

SET @KindVoucherID = (SELECT KindVoucherID FROM AT2006 WHERE VoucherID = @VoucherID)

-- Cập nhật trạng thái hóa đơn đt hủy
UPDATE AT1035
SET IsCancel = 1,
IsLastEInvoice = 0,
CancelDate = GETDATE()
WHERE DivisionID = @DivisionID
AND VoucherID = @VoucherID

IF @KindVoucherID = 2 OR @KindVoucherID = 3
BEGIN
	-- Lấy TranMonth, Tranyear
	SELECT TOP 1 @Tranmonth = TranMonth, @Tranyear = Tranyear
	FROM AT2006 WITH (NOLOCK)
	WHERE DivisionID = @DivisionID
	AND VoucherID = @VoucherID

	EXEC AP4017 @VoucherID,@BatchID,@DivisionID,@Tranmonth,@Tranyear
END
ELSE
BEGIN
	SELECT @AT9000VoucherID = AT9000VoucherID
	FROM AT1035 WITH (NOLOCK)
	WHERE DivisionID = @DivisionID
	AND VoucherID = @VoucherID

	-- Lấy TranMonth, Tranyear
	SELECT TOP 1 @Tranmonth = TranMonth, @Tranyear = Tranyear
	FROM AT9000 WITH (NOLOCK)
	WHERE DivisionID = @DivisionID
	AND VoucherID = @AT9000VoucherID

	-- Nếu là hóa đơn bán hàng, hàng mua trả lại
	IF EXISTS (SELECT TOP 1 1 FROM AT9000 WITH (NOLOCK) WHERE DivisionID = @DivisionID AND VoucherID = @AT9000VoucherID AND TransactionTypeID IN ('T04','T25'))
	BEGIN
		IF @CustomerName = 57 --- Xóa lưu vết phiếu xuất kho (ANGEL)
		BEGIN	
			DELETE FROM AT0266_AG
			WHERE DivisionID = @DivisionID
			AND VoucherID = @AT9000VoucherID	
		END	
		
		--Xóa phiếu xuất kho, bút toán xuất kho	
		EXEC AP4017 @AT9000VoucherID,@BatchID,@DivisionID,@Tranmonth,@Tranyear
	END

	-- Nếu là hàng bán trả lại
	IF EXISTS (SELECT TOP 1 1 FROM AT9000 WITH (NOLOCK) WHERE DivisionID = @DivisionID AND VoucherID = @AT9000VoucherID AND TransactionTypeID = 'T24')
	BEGIN	
		--Xóa phiếu nhập kho, bút toán nhập kho
		EXEC AP4016 @AT9000VoucherID,@BatchID,@DivisionID,@Tranmonth,@Tranyear
	END

	-- Xóa dữ liệu AT9000
	DELETE FROM AT9000
	WHERE DivisionID = @DivisionID
	AND VoucherID = @AT9000VoucherID
END
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

