IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0281_TL]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0281_TL]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


-- <Summary>
---- Kết chuyển dữ liệu từ POS
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 03/06/2014 by Le Thi Thu Hien
---- 
---- Modified on 25/06/2014 by Le Thi Thu Hien : Kết chuyển thông tin chi tiết không SUM lại
---- Modified on 08/07/2014 by Le Thi Thu Hien : Phiếu trả hàng
---- Modified on 22/07/2014 by Le Thi Thu Hien : Bổ sung thêm mã phân tích chi phí
---- Modified on 25/07/2014 by Le Thi Thu Hien : Sửa lại tài khoản kết chuyển bên POS bị ngược
---- Modified on 29/07/2014 by Le Thi Thu Hien : Bổ sung thêm điều kiện phiếu trả hàng
---- Modified on 22/08/2014 by Le Thi Thu Hien : NULLIF(SUMAmount,0) 
---- Modified on 04/09/2014 by Le Thi Thu Hien : Sửa lại phần lấy mặt hàng phiếu kết chuyển (mantis 0022700 )
---- Modified on 05/09/2014 by Le Thi Thu Hien : Sửa lại tài khoản thuế của phiếu kết chuyển ngược lại với bán hàng (mantis 0022702 )
---- Modified on 10/09/2014 by Le Thi Thu Hien : Sửa lại lưu phiếu nhập và phiếu xuất VoucherID = AT9000.VoucherID
---- Modified on 24/09/2014 by Le Thi Thu Hien : Sửa lại AT9000 thành AT2006 Khi INSERT vào bảng AT2006
---- Modified by Bảo Thy on 25/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Tiểu Mai on 11/07/2016: Fix bug kết chuyển không thành công do trùng khóa AnaID
---- Modified on 24/11/2016 by Phan thanh hoàng Vũ : CustomerIndex = 56 (TMQ3) thì đơn giá sẽ được tính (thành tiền - Tiên chiết khấu)/So lượng = Đơn giá
---- Modified by Bảo Thy on 12/05/2017: Sửa danh mục dùng chung 
---- Modified on 08/09/2017 by Phan thanh hoàng Vũ : Bổ sung các trường inherit lưu kế thừa phiếu sinh ra từ POS cho phép người dùng truy xuất ngược lại POS
---- Modified on 20/12/2017 by Cao Thị Phượng: Bổ sung không kết chuyển phiếu xuất những mặt hàng đã check vào kho tổng giao
---- Modified on 09/01/2018 by Cao Thị Phượng: Bổ sung Trường hợp kết chuyển chi tiết và kết chuyển tổng hợp
---- Modified on 14/03/2018 by Cao Thị Phượng: Bổ sung insert thêm trường DiscountRate
---- Modified by Thị Phượng on 20/03/2018: Bổ sung chỉnh sửa insert phiếu xuất kết chuyển sau
---- Modified by Hoàng Vũ on 21/05/2018: Fixbug không kết chuyển được, Tách nội dung store AP0281_TL thành 4 store có nội dung Bán/Trả/Xuất/Đổi
---- Modified by Hoàng Vũ on 12/09/2018: Fixbug không kếtchuyển được, Bổ sung thêm 3 tham số trền trên màn hình [@sShopAnaTypeID], [@sEmployeeAnaTypeID], [@sCostAnaTypeID]
---- Edit on 14/03/2019 by Hoàng Vũ: Kết chuyển phiếu nhập bị lỗi font và thiếu kết chuyển mã phân tích
---- Modified on 19/11/2019 by Trà Giang: (Customize ATTOM = NN)Gọi store riêng xử lý kết chuyển phân bổ tiền Voucher vào thẳng đơn giá.
-- <Example>
/*
	exec AP0281_TL @DivisionID=N'HCM',@TranMonth=6,@TranYear=2018,@AnaID=N'50C2101',@VoucherDate='2018-06-01 00:00:00',@UserID=N'ASOFTADMIN',
				@VoucherID=N'a318ab4e-a078-497f-b839-0fc99d4d5190',@IsDetailTransfer=0,@APKPOST0016=NULL,@SalesVoucherNo=N'50A18JAN262',
				@WareVoucherNo=N'50DVC.18.06.007',@ReturnVoucherNo=N'50HDDVH.2018.081',@ImWareVoucherNo=N'50HDDVO.2018.049',@Serial=N'',@InvoiceNo=N''
*/
CREATE PROCEDURE AP0281_TL
( 
	@DivisionID			AS NVARCHAR(50),
	@TranMonth			AS INT,
	@TranYear			AS INT,
	@AnaID				AS NVARCHAR(50),
	@VoucherDate		AS DATETIME,
	@UserID				AS NVARCHAR(50) ,                               
	@VoucherID			AS NVARCHAR(50),
	@IsDetailTransfer	AS Tinyint ,
	@APKPOST0016		AS NVARCHAR(50) = NULL,
	@SalesVoucherNo		AS NVARCHAR(50) = NULL,
	@WareVoucherNo		AS NVARCHAR(50) = NULL,
	@ReturnVoucherNo	AS NVARCHAR(50) = NULL,
	@ImWareVoucherNo	AS NVARCHAR(50) = NULL,
	@Serial				AS NVARCHAR(50)= NULL,
	@InvoiceNo			AS NVARCHAR(50)= NULL,
	@sShopAnaTypeID  AS NVARCHAR(50) = NULL,
	@sEmployeeAnaTypeID  AS NVARCHAR(50) = NULL,
	@sCostAnaTypeID AS NVARCHAR(50) = NULL
) 
AS 
BEGIN
		DECLARE @EmployeeAnaTypeID AS NVARCHAR(50),
				@ShopAnaTypeID AS NVARCHAR(50),
				@CostAnaTypeID AS NVARCHAR(50)
		DECLARE @CustomerName AS NVARCHAR(MAX)
		SET @CustomerName = ( SELECT CustomerName FROM CustomerIndex) 

		SET @ShopAnaTypeID = (SELECT RIGHT(@sShopAnaTypeID, 2)) 
								
		SET @EmployeeAnaTypeID = (SELECT RIGHT(@sEmployeeAnaTypeID, 2)) 
									
		SET @CostAnaTypeID = (SELECT RIGHT(@sCostAnaTypeID, 2)) 

		IF @CostAnaTypeID IS NULL 
			SET @CostAnaTypeID = '02'
			
		INSERT INTO AT1011 (DivisionID, AnaTypeID, AnaID, AnaName)
		SELECT	@DivisionID,'A'+@ShopAnaTypeID, AnaID, AnaName
		FROM	AT1015 WITH (NOLOCK)
		WHERE	DivisionID IN (@DivisionID,'@@@') AND AnaTypeID = (	SELECT TOP 1 ShopTypeID FROM POST0001 WITH (NOLOCK) WHERE POST0001.DivisionID = @DivisionID )
																		AND AnaID NOT IN (SELECT AnaID FROM AT1011 WITH (NOLOCK) WHERE AT1011.DivisionID IN (@DivisionID,'@@@'))
		INSERT INTO AT1011 (DivisionID, AnaTypeID, AnaID, AnaName)
		SELECT DISTINCT @DivisionID,'A'+@EmployeeAnaTypeID, EmployeeID, AT1405.UserID
		FROM POST0016 WITH (NOLOCK) LEFT JOIN AT1405 WITH (NOLOCK) ON AT1405.DivisionID = POST0016.DivisionID AND POST0016.EmployeeID = AT1405.UserID
		WHERE POST0016.DivisionID = @DivisionID AND EmployeeID NOT IN (SELECT AnaID FROM AT1011 WITH (NOLOCK) WHERE AT1011.DivisionID IN (@DivisionID,'@@@'))		
		IF @CustomerName = 108
			BEGIN 
			--1. Hóa đơn bán hàng/thuế hóa đơn bán hàng,đổi hàng
				EXEC AP0284_NN @DivisionID, @TranMonth, @TranYear, @AnaID, @VoucherDate, @UserID, @VoucherID, @IsDetailTransfer, @APKPOST0016, @SalesVoucherNo
								, @WareVoucherNo, @ReturnVoucherNo, @ImWareVoucherNo, @Serial, @InvoiceNo, @ShopAnaTypeID, @EmployeeAnaTypeID,@CostAnaTypeID

			--3. Hóa đơn trả hàng/thuế hóa đơn trả hàng, đổi hàng
				EXEC AP0286_NN  @DivisionID, @TranMonth, @TranYear, @AnaID, @VoucherDate, @UserID, @VoucherID, @IsDetailTransfer, @APKPOST0016, @SalesVoucherNo
								, @WareVoucherNo, @ReturnVoucherNo, @ImWareVoucherNo, @Serial, @InvoiceNo, @ShopAnaTypeID, @EmployeeAnaTypeID,@CostAnaTypeID

			END
		ELSE
			BEGIN 
				--1. Hóa đơn bán hàng/thuế hóa đơn bán hàng,đổi hàng
				EXEC AP0284  @DivisionID, @TranMonth, @TranYear, @AnaID, @VoucherDate, @UserID, @VoucherID, @IsDetailTransfer, @APKPOST0016, @SalesVoucherNo
								, @WareVoucherNo, @ReturnVoucherNo, @ImWareVoucherNo, @Serial, @InvoiceNo, @ShopAnaTypeID, @EmployeeAnaTypeID,@CostAnaTypeID

			--3. Hóa đơn trả hàng/thuế hóa đơn trả hàng, đổi hàng
				EXEC AP0286  @DivisionID, @TranMonth, @TranYear, @AnaID, @VoucherDate, @UserID, @VoucherID, @IsDetailTransfer, @APKPOST0016, @SalesVoucherNo
								, @WareVoucherNo, @ReturnVoucherNo, @ImWareVoucherNo, @Serial, @InvoiceNo, @ShopAnaTypeID, @EmployeeAnaTypeID,@CostAnaTypeID

			 END

	  	--2. Xuat kho ban hang/đổi hàng
			EXEC AP0285  @DivisionID, @TranMonth, @TranYear, @AnaID, @VoucherDate, @UserID, @VoucherID, @IsDetailTransfer, @APKPOST0016, @ShopAnaTypeID, @EmployeeAnaTypeID,@CostAnaTypeID

		--4. Nhập kho trả hang/đổi hàng
			EXEC AP0290  @DivisionID, @TranMonth, @TranYear, @AnaID, @VoucherDate, @UserID, @VoucherID, @IsDetailTransfer, @APKPOST0016, @ShopAnaTypeID, @EmployeeAnaTypeID,@CostAnaTypeID
		--5. Update trạng thái phiếu bán hàng/đổi hàng/trả hàng sau khi kết chuyển nếu có
			UPDATE POST0016 SET IsTransferred = 1 
			WHERE DivisionID = @DivisionID
			AND ShopID = @AnaID
			AND DeleteFlg = 0
			AND Convert(nvarchar(10),VoucherDate,21) <= Convert(nvarchar(10),@VoucherDate,21)
			AND APK IN (SELECT D.APKMaster FROM AT0281 D WITH (NOLOCK) WHERE D.DivisionID = @DivisionID AND D.VoucherID = @VoucherID)
			
END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
