IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0258]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0258]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- In phiếu tạm thu qua ngân hàng
---- Created by Trần Lê Thiên Huỳnh on 17/08/2012
---- EXEC AP0258 'AS', 7, 2012, 'AV20120000000018'
---- Modified by Hải Long on 16/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Bảo Anh on 27/04/2018: Bổ sung các MPT, ObjectID, ObjectName
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

CREATE PROCEDURE [dbo].[AP0258] @DivisionID as nvarchar(50),
				@TranMonth as int,
				@TranYear as int,
				@VoucherID as nvarchar(50)
	
 AS
Declare @sSQL as nvarchar(4000),
	@AT9010Cursor as cursor,
	@InvoiceNo as nvarchar(50),
	@Serial as nvarchar(50),
	@InvoiceNoList as nvarchar(500),
	@DebitAccountList as nvarchar(500),
	@DebitAccountID  as nvarchar(50),
	@CreditAccountList as nvarchar(500),
	@CreditAccountID  as nvarchar(50),
	@DebitBankAccountID as nvarchar(50)

SET @InvoiceNoList = ''
SET @AT9010Cursor = CURSOR SCROLL KEYSET FOR

Select Distinct isnull(Serial,'') , isnull(InvoiceNo,'') From AT9010 
Where VoucherID =@VoucherID and DivisionID =@DivisionID and TransactionTypeID ='T21'

OPEN @AT9010Cursor
		FETCH NEXT FROM @AT9010Cursor INTO @Serial , @InvoiceNo
			
		WHILE @@FETCH_STATUS = 0
		BEGIN
			If @InvoiceNoList<>''
				Set @InvoiceNoList = @InvoiceNoList + @Serial + @InvoiceNo
			Else
				Set @InvoiceNoList =@Serial + @InvoiceNo
			
			FETCH NEXT FROM @AT9010Cursor INTO @Serial, @InvoiceNo
		END

CLOSE @AT9010Cursor

SET @CreditAccountList = ''
SET @AT9010Cursor = CURSOR SCROLL KEYSET FOR

Select Distinct CreditAccountID From AT9010 
Where VoucherID =@VoucherID and DivisionID =@DivisionID and TransactionTypeID ='T21'

OPEN @AT9010Cursor
		FETCH NEXT FROM @AT9010Cursor INTO @CreditAccountID
			
		WHILE @@FETCH_STATUS = 0
		BEGIN
			If @CreditAccountList <>''
				Set @CreditAccountList = @CreditAccountList+'; '+@CreditAccountID
			Else
				Set @CreditAccountList  = @CreditAccountID

			FETCH NEXT FROM @AT9010Cursor INTO @CreditAccountID
		END

CLOSE @AT9010Cursor

If @InvoiceNoList<>'' 
	Set @InvoiceNoList =' Keøm theo: '+@InvoiceNoList+' laøm chöùng töø goác'
Set @sSQL ='
Select 	VoucherID, AT9010.DivisionID, AT9010.TranMonth, AT9010.TranYear, 
	VoucherTypeID, VoucherNo, VoucherDate,
	VDescription,
	'''+isnull(@InvoiceNoList,'')+''' as InvoiceNoList,
	'''+isnull(@CreditAccountList,'') +''' as CreditAccountID,
	DebitAccountID as AccountID, 
	AT9010.CurrencyID, ExchangeRate,
	SenderReceiver, SRDivisionName, SRAddress,
	RefNo01, RefNo02, DebitBankAccountID, AT1016.BankName, AT1016.BankAccountNo,
	AT1101.Address as DivisionAddress,
	Sum(ConvertedAmount) as ConvertedAmount,
	Sum(OriginalAmount) as OriginalAmount,
	Case When AT1202.IsUpdateName = 1 Then VATObjectAddress Else AT1202.Address End As ObjectAddress,
	AT9010.Ana01ID, T01.AnaName As Ana01Name, AT9010.Ana02ID, T02.AnaName As Ana02Name,
	AT9010.Ana03ID, T03.AnaName As Ana03Name, AT9010.Ana04ID, T04.AnaName As Ana04Name,
	AT9010.Ana05ID, T05.AnaName As Ana05Name, AT9010.Ana06ID, T06.AnaName As Ana06Name,
	AT9010.Ana07ID, T07.AnaName As Ana07Name, AT9010.Ana08ID, T08.AnaName As Ana08Name,
	AT9010.Ana09ID, T09.AnaName As Ana09Name, AT9010.Ana10ID, T10.AnaName As Ana10Name,
	AT9010.ObjectID, AT1202.ObjectName
	
From AT9010 
	Left join AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9010.ObjectID = AT1202.ObjectID
	Left join AT1016 WITH (NOLOCK) on AT1016.BankAccountID = AT9010.DebitBankAccountID
	Left join AT1101 WITH (NOLOCK) on AT1101.DivisionID = AT9010.DivisionID
	Left join AT1011 T01 WITH (NOLOCK) On AT9010.Ana01ID = T01.AnaID And T01.AnaTypeID = ''A01''
	Left join AT1011 T02 WITH (NOLOCK) On AT9010.Ana02ID = T02.AnaID And T02.AnaTypeID = ''A02''
	Left join AT1011 T03 WITH (NOLOCK) On AT9010.Ana03ID = T03.AnaID And T03.AnaTypeID = ''A03''
	Left join AT1011 T04 WITH (NOLOCK) On AT9010.Ana04ID = T04.AnaID And T04.AnaTypeID = ''A04''
	Left join AT1011 T05 WITH (NOLOCK) On AT9010.Ana05ID = T05.AnaID And T05.AnaTypeID = ''A05''
	Left join AT1011 T06 WITH (NOLOCK) On AT9010.Ana06ID = T06.AnaID And T06.AnaTypeID = ''A06''
	Left join AT1011 T07 WITH (NOLOCK) On AT9010.Ana07ID = T07.AnaID And T07.AnaTypeID = ''A07''
	Left join AT1011 T08 WITH (NOLOCK) On AT9010.Ana08ID = T08.AnaID And T08.AnaTypeID = ''A08''
	Left join AT1011 T09 WITH (NOLOCK) On AT9010.Ana09ID = T09.AnaID And T09.AnaTypeID = ''A09''
	Left join AT1011 T10 WITH (NOLOCK) On AT9010.Ana10ID = T10.AnaID And T10.AnaTypeID = ''A10''

Where TransactionTypeID =''T21'' and
	AT9010.DivisionID = '''+@DivisionID+''' and
	VoucherID ='''+@VoucherID+''' 
Group by VoucherID, AT9010.DivisionID, AT9010.TranMonth, AT9010.TranYear, 
	VoucherTypeID, VoucherNo, VoucherDate, DebitBankAccountID,
	AT1016.BankName, AT1016.BankAccountNo, VDescription, DebitAccountID, 
	AT9010.CurrencyID, ExchangeRate,
	SenderReceiver, SRDivisionName, SRAddress, RefNo01, RefNo02,
	AT1101.Address,AT9010.Ana01ID,AT9010.Ana02ID,AT9010.Ana03ID,AT9010.Ana04ID,AT9010.Ana05ID,AT9010.Ana06ID,AT9010.Ana07ID,AT9010.Ana08ID,AT9010.Ana09ID,AT9010.Ana10ID,
	T01.AnaName,T02.AnaName,T03.AnaName,T04.AnaName,T05.AnaName,T06.AnaName,T07.AnaName,T08.AnaName,T09.AnaName,T10.AnaName,
	Case When AT1202.IsUpdateName = 1 Then VATObjectAddress Else AT1202.Address End, AT9010.ObjectID, AT1202.ObjectName'

--Print (@sSQL)
EXEC(@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

