SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
GO

--- Created by Bảo Anh, date 27/08/2004
--- Purpose: In báo cáo phân tích doanh thu theo thời gian
---- Modified by Bảo Thy on 25/05/2016: Bổ sung WITH (NOLOCK)
---- Modify on 24/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Kim Thư on 26/12/2018: Bổ sung số liệu hàng bán trả lại (CustomizeIndex = 43 - SECOIN)
---- Modified by Huỳnh Thử on 16/03/20230: Bổ sung trường mã đối tượng (AT9000.ObjectID) và mã phân tích đối tượng (AT1202.O02ID)
---- Modified by Huỳnh Thử on 16/03/20230: Bổ sung trường tên mã đối tượng phân tích (AT1015.AnaName) và Tên đối tượng (AT1202.ObjectName) 
---- Modified by Đình Ly on 03/08/2020: Bổ sung @CustomerName = 43 cho Báo cáo phân tích kỳ này kỳ trước ở điều kiện GroupBy.
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
--- AP0288 'AS','0000000000','SAOS.00002',5,2012,4,2012,5,2012,3

ALTER PROCEDURE [dbo].[AP0288]	
				@DivisionID AS nvarchar(50),
				@FromInventoryID AS nvarchar(50),
				@ToInventoryID AS nvarchar(50),
				@TranMonth AS int,
				@TranYear AS int,
				@FromMonth AS int,
				@FromYear AS int,
				@ToMonth AS int,
				@ToYear AS int,
				@Type AS tinyint
				
as
DECLARE @sSQL AS nvarchar(4000),
		@sSQL1 AS nvarchar(4000),
		@sWHERE AS nvarchar(4000),
		@sWHERE1 AS nvarchar(4000),
		@sWHERE2 AS nvarchar(4000),
		@CustomerName INT

If @Type = 1
	SET @sWHERE = '(AT9000.TranMonth+AT9000.TranYear*12 = ' + ltrim(str(@TranMonth+@TranYear*12)) + ')'
Else 
	SET @sWHERE = '(AT9000.TranMonth+AT9000.TranYear*12 BETWEEN ' + ltrim(str(@FromMonth+@FromYear*12)) + ' AND ' + ltrim(str(@ToMonth+@ToYear*12)) + ')'

SET @sWHERE1 = '(T90.TranMonth+T90.TranYear*12 = ' + ltrim(str(@TranMonth+@TranYear*12-1)) + ')'
SET @sWHERE2 = '(T90.TranMonth+T90.TranYear*12 BETWEEN ' + ltrim(str(1+@TranYear*12)) + ' AND ' + ltrim(str(@TranMonth+@TranYear*12)) + ')'

SELECT @CustomerName = CustomerName FROM CustomerIndex

-- Lấy số liệu hàng bán trả lại cho Secoin - 43
SET @sSQL1 = N'
Select  
		AT9000.InventoryID,
		AT1302.InventoryName,
		AT1302.UnitID,	       	
		AT1304.UnitName,
		Sum(AT9000.Quantity) as Quantity,
		AT9000.CurrencyID,
		AT1302.SalePrice01,
		AT1302.S1, AT1302.S2, AT1302.S3,	
		AT1302.S2 as GroupID,
		AT1310.SName as GroupName,
		sum(AT9000.OriginalAmount) as OriginalAmount,
		Sum(AT9000.ConvertedAmount) as ConvertedAmount   ,
		AT9000.DiscountRate , AT9000.DivisionID,
		SUM(AT2007.ConvertedAmount) AS CostConvertedAmount
Into #HBTL

From AT9000 WITH(NOLOCK)
	left join AT1302 WITH(NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID=AT1302.InventoryID
	left join AT1304 WITH(NOLOCK) on AT1302.DivisionID IN (AT1304.DivisionID,''@@@'') AND AT1304.UnitID=AT1302.UnitID   and AT9000.DivisionID=AT1304.DivisionID
	Left join AT1310 WITH(NOLOCK) on AT1310.S = AT1302.S2   and AT9000.DivisionID=AT1310.DivisionID and AT1310.StypeID =''I02''  
	Left join AT2006 WITH(NOLOCK) ON AT9000.VoucherID = AT2006.VoucherID AND AT2006.KindVoucherID=7
	Left join AT2007 WITH(NOLOCK) ON AT2006.VoucherID = AT2007.VoucherID AND AT9000.InventoryID = AT2007.InventoryID

where AT9000.DivisionID=''' + @DivisionID + '''
	and AT9000.TransactionTypeID=''T24''
	and ' + @sWHERE + '

Group by 	AT9000.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName,	AT9000.Quantity,
		AT9000.CurrencyID,
		AT1302.SalePrice01,AT1310.SName, AT9000.DiscountRate,   	
		AT1302.S1, AT1302.S2, AT1302.S3	, AT9000.DivisionID 
'

If @Type = 1	--- In báo cáo phân tích kỳ này kỳ trước
	SET @sSQL = N'	
	SELECT		AT9000.InventoryID,
				CASE WHEN ISNULL(AT9000.InventoryName1, '''') = '''' THEN ISNULL(AT1302.InventoryName, '''')
				ELSE AT9000.InventoryName1 END AS InventoryName,
				AT1302.UnitID,
				AT1304.UnitName,
				AT9000.ObjectID,
				AT1202.ObjectName,
				AT1202.O02ID,
				AT1015.AnaName As O02Name,
				SUM(AT9000.Quantity) AS Quantity,
				SUM(AT9000.OriginalAmount) AS OriginalAmount,
				SUM(AT9000.ConvertedAmount) AS ConvertedAmount,
				
				(Select Sum(T90.Quantity) From AT9000 T90 WITH (NOLOCK)
				Where T90.DivisionID = ''' + @DivisionID + ''' And T90.TransactionTypeID IN (''T04'', ''T40'')
				And T90.InventoryID = AT9000.InventoryID And ' + @sWHERE1 + ') as LastQuantity,
				
				(Select Sum(T90.OriginalAmount) From AT9000 T90 WITH (NOLOCK)
				Where T90.DivisionID = ''' + @DivisionID + ''' And T90.TransactionTypeID IN (''T04'', ''T40'')
				And T90.InventoryID = AT9000.InventoryID And ' + @sWHERE1 + ') as LastOriginalAmount,
				
				(Select Sum(T90.ConvertedAmount) From AT9000 T90 WITH (NOLOCK)
				Where T90.DivisionID = ''' + @DivisionID + ''' And T90.TransactionTypeID IN (''T04'', ''T40'')
				And T90.InventoryID = AT9000.InventoryID And ' + @sWHERE1 + ') as LastConvertedAmount,
				
				(Select Sum(T90.Quantity) From AT9000 T90 WITH (NOLOCK)
				Where T90.DivisionID = ''' + @DivisionID + ''' And T90.TransactionTypeID IN (''T04'', ''T40'')
				And T90.InventoryID = AT9000.InventoryID And ' + @sWHERE2 + ') as TotalQuantity,
				
				(Select Sum(T90.OriginalAmount) From AT9000 T90 WITH (NOLOCK)
				Where T90.DivisionID = ''' + @DivisionID + ''' And T90.TransactionTypeID IN (''T04'', ''T40'')
				And T90.InventoryID = AT9000.InventoryID And ' + @sWHERE2 + ') as TotalOriginalAmount,
				
				(Select Sum(T90.ConvertedAmount) From AT9000 T90 WITH (NOLOCK)
				Where T90.DivisionID = ''' + @DivisionID + ''' And T90.TransactionTypeID IN (''T04'', ''T40'')
				And T90.InventoryID = AT9000.InventoryID And ' + @sWHERE2 + ') as TotalConvertedAmount
				
	FROM		AT9000 WITH (NOLOCK)
	LEFT JOIN	AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID = AT1302.InventoryID	 
	LEFT JOIN	AT1304 WITH (NOLOCK) ON AT1302.DIvisionID IN (AT1304.DivisionID,''@@@'') AND AT1304.UnitID = AT1302.UnitID
	LEFT JOIN   AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID	
	LEFT JOIN   AT1015	 WITH (NOLOCK) ON AT1015.AnaID = AT1202.O02ID and AT1015.AnaTypeID = ''O02''
	WHERE		AT9000.DivisionID = ''' + @DivisionID + '''
				AND AT9000.TransactionTypeID IN (''T04'', ''T40'')
				AND (AT9000.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')
				AND ' + @sWHERE + '

	GROUP BY 	AT9000.InventoryID, AT1302.InventoryName, AT9000.InventoryName1, AT1302.UnitID, AT1304.UnitName	,AT9000.ObjectID,
				AT1202.O02ID,AT1015.AnaName,
				AT1202.ObjectName			
				' + CASE WHEN @CustomerName = 43 THEN ', #HBTL.Quantity, #HBTL.OriginalAmount, #HBTL.ConvertedAmount, #HBTL.CostConvertedAmount' ELSE '' END +''

Else If @Type = 2
	SET @sSQL = N'	
	SELECT		((case when TranMonth < 10 then ''0'' else '''' end) + ltrim(TranMonth) + ''/'' + ltrim(TranYear)) as MonthYear,
				AT9000.InventoryID,
				AT1302.InventoryName,
				AT1302.InventoryTypeID, AT1301.InventoryTypeName,
				AT1302.UnitID,
				AT1304.UnitName,
				AT9000.ObjectID,
				AT1202.ObjectName,
				AT1202.O02ID,
				AT1015.AnaName As O02Name,
				AT9000.Quantity,
				AT9000.OriginalAmount,
				AT9000.ConvertedAmount
				
	FROM		AT9000 WITH (NOLOCK)
	LEFT JOIN	AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID = AT1302.InventoryID	 
	LEFT JOIN	AT1304 WITH (NOLOCK) ON AT1302.DIvisionID IN (AT1304.DivisionID,''@@@'') AND AT1302.UnitID = AT1304.UnitID
	LEFT JOIN	AT1301 WITH (NOLOCK) ON AT1302.DivisionID IN (AT1301.DivisionID,''@@@'') AND AT1302.InventoryTypeID = AT1301.InventoryTypeID
	LEFT JOIN   AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
	LEFT JOIN  AT1015	 WITH (NOLOCK) ON AT1015.AnaID = AT1202.O02ID and AT1015.AnaTypeID = ''O02''
	WHERE		AT9000.DivisionID = ''' + @DivisionID + '''
				AND AT9000.TransactionTypeID IN (''T04'', ''T40'')
				AND (AT9000.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')
				AND ' + @sWHERE

Else
	SET @sSQL = N'
	SELECT		AT9000.DivisionID, AT9000.TranMonth, AT9000.TranYear,
				AT9000.InventoryID,
				AT1302.InventoryName,
				AT1302.UnitID,
				AT1304.UnitName,
				AT9000.ObjectID,
				AT1202.ObjectName,
				AT1202.O02ID,
				AT1015.AnaName As O02Name,
				Sum(AT9000.Quantity) as Quantity,
				Sum(AT9000.OriginalAmount) as OriginalAmount,
				Sum(AT9000.ConvertedAmount) as ConvertedAmount,
				
				(Select Sum(ConvertedAmount) From AT2007 WITH (NOLOCK) Inner join AT2006 WITH (NOLOCK) On AT2007.DivisionID = AT2006.DivisionID And AT2006.VoucherID = AT2007.VoucherID
				Where AT2007.DivisionID = AT9000.DivisionID And AT2007.TranMonth = AT9000.TranMonth And AT2007.TranYear = AT9000.TranYear 
				And AT2006.KindVoucherID in (2,4) And AT2007.InventoryID = AT9000.InventoryID
				) as CostConvertedAmount
				' + CASE WHEN @CustomerName = 43 THEN ', ISNULL(#HBTL.Quantity,0) AS ReQuantity, ISNULL(#HBTL.OriginalAmount,0) AS ReOriginalAmount, 
														ISNULL(#HBTL.ConvertedAmount,0) AS ReConvertedAmount, ISNULL(#HBTL.CostConvertedAmount,0) AS ReCostConvertedAmount' ELSE '' END +'
				
	FROM		AT9000 WITH (NOLOCK)
	LEFT JOIN	AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID = AT1302.InventoryID	 
	LEFT JOIN	AT1304 WITH (NOLOCK) ON AT1302.DIvisionID IN (AT1304.DivisionID,''@@@'') AND AT1302.UnitID = AT1304.UnitID
	LEFT JOIN   AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
	LEFT JOIN  AT1015	 WITH (NOLOCK) ON AT1015.AnaID = AT1202.O02ID and AT1015.AnaTypeID = ''O02''
	' + CASE WHEN @CustomerName = 43 THEN 'LEFT JOIN #HBTL ON AT9000.InventoryID = #HBTL.InventoryID' ELSE '' END +'
			 
	WHERE		AT9000.DivisionID = ''' + @DivisionID + '''
				AND AT9000.TransactionTypeID IN (''T04'', ''T40'')
				AND (AT9000.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')
				AND ' + @sWHERE + '

	GROUP BY 	AT9000.DivisionID, AT9000.TranMonth, AT9000.TranYear, AT9000.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName,AT9000.ObjectID,
				AT1202.O02ID,AT1015.AnaName,AT1202.ObjectName
				' + CASE WHEN @CustomerName = 43 THEN ', #HBTL.Quantity, #HBTL.OriginalAmount, #HBTL.ConvertedAmount, #HBTL.CostConvertedAmount' ELSE '' END +'
	'
---print @sSQL
EXEC(@sSQL)


GO

