IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0287]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0287]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--- Created by Bảo Anh, date 23/07/2004
--- Purpose: In báo cáo phân tích giá mua
--- Modify on 24/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
--- Modified by Bảo Thy on 28/04/2017: Bổ sung thông tin quy cách hàng
--- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
--- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

/****
	 AP0287 'AS','0000000001','TG3','0000000000','SAOS.00002',1,2012,5,2012,'05/04/2012','05/31/2012',0
****/

CREATE PROCEDURE [dbo].[AP0287]	
				@DivisionID AS nvarchar(50),
				@FromObjectID AS nvarchar(50),
				@ToObjectID AS nvarchar(50),
				@FromInventoryID AS nvarchar(50),
				@ToInventoryID AS nvarchar(50),
				@FromMonth AS int,
				@FromYear AS int,
				@ToMonth AS int,
				@ToYear AS int,
				@FromDate AS datetime,
				@ToDate AS datetime,
				@IsDate AS tinyint
				
AS
DECLARE @sSQL AS varchar(MAX),
		@sSQL1 AS varchar(MAX),
		@sWHERE AS nvarchar(4000)

If @IsDate = 0 
	SET @sWHERE = 'AT9000.TranMonth+AT9000.TranYear*100 BETWEEN ' + ltrim(str(@FromMonth+@FromYear*100)) + ' AND ' + ltrim(str(@ToMonth+@ToYear*100)) 
Else 
	SET @sWHERE = 'CONVERT(DATETIME,CONVERT(VARCHAR(10),VoucherDate,101),101) BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''''

Set @sSQL='		
SELECT	TranMonth,TranYear, ((case when TranMonth < 10 then ''0'' else '''' end) + ltrim(TranMonth) + ''/'' + ltrim(TranYear)) as MonthYear,
VoucherDate,VoucherNo,AT9000.InventoryID,AT1302.InventoryName,AT1302.UnitID,AT1304.UnitName,AT9000.ObjectID,AT1202.ObjectName,AT9000.CurrencyID,
AT9000.UnitPrice,Serial,Quantity,InvoiceDate,InvoiceNo,OriginalAmount,ConvertedAmount,
ISNULL(AT8899.S01ID,'''') AS S01ID, ISNULL(AT8899.S02ID,'''') AS S02ID, ISNULL(AT8899.S03ID,'''') AS S03ID, ISNULL(AT8899.S04ID,'''') AS S04ID, 
ISNULL(AT8899.S05ID,'''') AS S05ID, ISNULL(AT8899.S06ID,'''') AS S06ID, ISNULL(AT8899.S07ID,'''') AS S07ID, ISNULL(AT8899.S08ID,'''') AS S08ID, 
ISNULL(AT8899.S09ID,'''') AS S09ID, ISNULL(AT8899.S10ID,'''') AS S10ID, ISNULL(AT8899.S11ID,'''') AS S11ID, ISNULL(AT8899.S12ID,'''') AS S12ID, 
ISNULL(AT8899.S13ID,'''') AS S13ID, ISNULL(AT8899.S14ID,'''') AS S14ID, ISNULL(AT8899.S15ID,'''') AS S15ID, ISNULL(AT8899.S16ID,'''') AS S16ID, 
ISNULL(AT8899.S17ID,'''') AS S17ID, ISNULL(AT8899.S18ID,'''') AS S18ID, ISNULL(AT8899.S19ID,'''') AS S19ID, ISNULL(AT8899.S20ID,'''') AS S20ID,
A01.StandardName AS StandardName01, A02.StandardName AS StandardName02, A03.StandardName AS StandardName03, A04.StandardName AS StandardName04, 
A05.StandardName AS StandardName05, A06.StandardName AS StandardName06, A07.StandardName AS StandardName07, A08.StandardName AS StandardName08, 
A09.StandardName AS StandardName09, A10.StandardName AS StandardName10, A11.StandardName AS StandardName11, A12.StandardName AS StandardName12,
A13.StandardName AS StandardName13, A14.StandardName AS StandardName14, A15.StandardName AS StandardName15, A16.StandardName AS StandardName16,
A17.StandardName AS StandardName17, A18.StandardName AS StandardName18, A19.StandardName AS StandardName19, A20.StandardName AS StandardName20
FROM	AT9000 
LEFT JOIN AT1302 ON AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID = AT1302.InventoryID
LEFT JOIN AT1202 ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.ObjectID = AT1202.ObjectID
LEFT JOIN AT1304 ON AT9000.UnitID = AT1304.UnitID
LEFT JOIN AT8899 ON AT9000.TransactionID = AT8899.TransactionID and AT9000.DivisionID = AT8899.DivisionID AND AT9000.VoucherID = AT8899.VoucherID
LEFT JOIN AT0128 A01 WITH (NOLOCK) ON A01.DivisionID = AT8899.DivisionID AND AT8899.S01ID = A01.StandardID AND A01.StandardTypeID = ''S01''
LEFT JOIN AT0128 A02 WITH (NOLOCK) ON A02.DivisionID = AT8899.DivisionID AND AT8899.S02ID = A02.StandardID AND A02.StandardTypeID = ''S02''
LEFT JOIN AT0128 A03 WITH (NOLOCK) ON A03.DivisionID = AT8899.DivisionID AND AT8899.S03ID = A03.StandardID AND A03.StandardTypeID = ''S03''
LEFT JOIN AT0128 A04 WITH (NOLOCK) ON A04.DivisionID = AT8899.DivisionID AND AT8899.S04ID = A04.StandardID AND A04.StandardTypeID = ''S04''
LEFT JOIN AT0128 A05 WITH (NOLOCK) ON A05.DivisionID = AT8899.DivisionID AND AT8899.S05ID = A05.StandardID AND A05.StandardTypeID = ''S05''
LEFT JOIN AT0128 A06 WITH (NOLOCK) ON A06.DivisionID = AT8899.DivisionID AND AT8899.S06ID = A06.StandardID AND A06.StandardTypeID = ''S06''
LEFT JOIN AT0128 A07 WITH (NOLOCK) ON A07.DivisionID = AT8899.DivisionID AND AT8899.S07ID = A07.StandardID AND A07.StandardTypeID = ''S07''
LEFT JOIN AT0128 A08 WITH (NOLOCK) ON A08.DivisionID = AT8899.DivisionID AND AT8899.S08ID = A08.StandardID AND A08.StandardTypeID = ''S08''
LEFT JOIN AT0128 A09 WITH (NOLOCK) ON A09.DivisionID = AT8899.DivisionID AND AT8899.S09ID = A09.StandardID AND A09.StandardTypeID = ''S09''
LEFT JOIN AT0128 A10 WITH (NOLOCK) ON A10.DivisionID = AT8899.DivisionID AND AT8899.S10ID = A10.StandardID AND A10.StandardTypeID = ''S10'''
SET @sSQL1 = '
LEFT JOIN AT0128 A11 WITH (NOLOCK) ON A11.DivisionID = AT8899.DivisionID AND AT8899.S11ID = A11.StandardID AND A11.StandardTypeID = ''S11''
LEFT JOIN AT0128 A12 WITH (NOLOCK) ON A12.DivisionID = AT8899.DivisionID AND AT8899.S12ID = A12.StandardID AND A12.StandardTypeID = ''S12''
LEFT JOIN AT0128 A13 WITH (NOLOCK) ON A13.DivisionID = AT8899.DivisionID AND AT8899.S13ID = A13.StandardID AND A13.StandardTypeID = ''S13''
LEFT JOIN AT0128 A14 WITH (NOLOCK) ON A14.DivisionID = AT8899.DivisionID AND AT8899.S14ID = A14.StandardID AND A14.StandardTypeID = ''S14''
LEFT JOIN AT0128 A15 WITH (NOLOCK) ON A15.DivisionID = AT8899.DivisionID AND AT8899.S15ID = A15.StandardID AND A15.StandardTypeID = ''S15''
LEFT JOIN AT0128 A16 WITH (NOLOCK) ON A16.DivisionID = AT8899.DivisionID AND AT8899.S16ID = A16.StandardID AND A16.StandardTypeID = ''S16''
LEFT JOIN AT0128 A17 WITH (NOLOCK) ON A17.DivisionID = AT8899.DivisionID AND AT8899.S17ID = A17.StandardID AND A17.StandardTypeID = ''S17''
LEFT JOIN AT0128 A18 WITH (NOLOCK) ON A18.DivisionID = AT8899.DivisionID AND AT8899.S18ID = A18.StandardID AND A18.StandardTypeID = ''S18''
LEFT JOIN AT0128 A19 WITH (NOLOCK) ON A19.DivisionID = AT8899.DivisionID AND AT8899.S19ID = A19.StandardID AND A19.StandardTypeID = ''S19''
LEFT JOIN AT0128 A20 WITH (NOLOCK) ON A20.DivisionID = AT8899.DivisionID AND AT8899.S20ID = A20.StandardID AND A20.StandardTypeID = ''S20''	
WHERE	AT9000.DivisionID=N'''+@DivisionID+'''
		AND AT9000.TransactionTypeID in (N''T03'', N''T30'')
		and AT9000.InventoryID between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + '''
		and AT9000.ObjectID between ''' + @FromObjectID + ''' and ''' + @ToObjectID + '''
		and ' + @sWHERE	
	
--print @sSQL
--print @sSQL1

EXEC(@sSQL+@sSQL1)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON

