IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP03342]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP03342]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- <Summary>
----  Load detail cho form ke thua chi tiết phiếu nhập kho -- CustomizeIndex = 56 (TMDVQ3)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---
---Created by: Phan thanh hoàng vũ
---Modified by Bảo Thy on 15/05/2017: Sửa danh mục dùng chung
---Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---purpose: Filter dữ liệu vào lưới Detail
---	exec AP03342 @DivisionID='HT',@APKList='317aea57-bb06-46e3-a01f-4c188d53d442'

Create PROCEDURE AP03342
(
    @DivisionID VARCHAR(50),
    @APKList VARCHAR(MAX)
)
AS
Begin
		DECLARE @sSQL NVARCHAR(MAX),
				@sWHERE AS NVARCHAR(4000)
		SET @sWHERE = ''

		IF @DivisionID IS NOT NULL 
			SET @sWHERE = @sWHERE + ' and x.DivisionID ='''+@DivisionID+''''
	
		IF @APKList IS NOT NULL 
			SET @sWHERE = @sWHERE + ' and x.APKMaster IN ('''+@APKList+''')'
	
		SET @sSQL = 'Select x.APKMaster as VoucherID, x.APK as TransactionID, x.DivisionID, x.VoucherTypeID, x.VoucherNo, x.VoucherDate
							, x.ObjectID, AT1202.Objectname
							, x.ShopID, POST0010.ShopName
							, x.EmployeeID, AT1103.FullName as EmployeeName
							, x.Description , x.WareHouseID, x.InventoryID, AT1302.InventoryName
							, AT1302.AccountID as DebitAccountID, x.UnitID
							, x.ActualQuantity
							, x.RemainQuantity
							, x.UnitPrice
							, Isnull(x.RemainQuantity, 0) * isnull(x.UnitPrice, 0) as Amount
							, x.Ana01ID, x.Ana02ID, x.Ana03ID, x.Ana04ID, x.Ana05ID, x.Ana06ID, x.Ana07ID, x.Ana08ID, x.Ana09ID, x.Ana10ID
					 From ( Select D.APK, D.APKMaster , M.DivisionID, M.VoucherTypeID, M.VoucherNo, M.VoucherDate, M.ObjectID, M.Description
							, M.ShopID, M.EmployeeID
							, D.WareHouseID, D.InventoryID, D.UnitID
							, D.ActualQuantity
							, D.ActualQuantity - isnull((Select Sum(isnull(Quantity,0)) From AT9000 
														 Where AT9000.InheritTransactionID = D.APK and AT9000.InheritVoucherID = D.APKMaster),0) As RemainQuantity
							, D.UnitPrice
							, D.Ana01ID, D.Ana02ID, D.Ana03ID, D.Ana04ID, D.Ana05ID, D.Ana06ID, D.Ana07ID, D.Ana08ID, D.Ana09ID, D.Ana10ID
							From POST0015 M inner join POST00151 D on M.DivisionID = D.DivisionID and M.APK = D.APKMaster 
														and M.DeleteFlg = D.DeleteFlg and M.DeleteFlg = 0
							Where D.APKDInherited is null
							) x	left join AT1202 on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND x.ObjectID = AT1202.ObjectID	 
								Left join POST0010 on x.DivisionID  = POST0010.DivisionID and x.ShopID = POST0010.ShopID
								Left Join AT1103 on x.EmployeeID = AT1103.EmployeeID
								Left join AT1302 on AT1302.DivisionID IN (x.DivisionID,''@@@'') AND x.InventoryID = AT1302.InventoryID
					 Where x.RemainQuantity>0 ' 
					 + @sWhere 						
					 + ' order by x.VoucherDate, x.VoucherNo'

		EXEC (@sSQL)
		--print(@sSQL)
End

