IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0300_MK]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0300_MK]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----- Created by 	Nguyen Van Nhan, 
---- Purpose 	Insert bang tam, de phuc vu viec giai tru cong no
---- Edit by: 	Nguyen Quoc Huy, date 26/08/2008
--- Last Edit:      Thuy Tuyen 18/08/2009: sua Where  CurrencyID = CurrencyIDCN
--- Last Edit:      Văn Tài	   18/08/2009: Tách store MEIKO.

CREATE PROCEDURE  [dbo].[AP0300_MK]  @DivisionID as nvarchar(50), 
					@AccountID as nvarchar(50),  
					@CurrencyID as nvarchar(50),  
					@FromObjectID as nvarchar(50),  
					@ToObjectID as nvarchar(50), 
					@FromMonth as int, 
					@FromYear as int, 
					@ToMonth as int, 
					@ToYear as int, 
					@FromDate as Datetime, 
					@ToDate as Datetime, 
					@IsDate as tinyint,
					@FromAna01ID as nvarchar(50),
					@ToAna01ID as nvarchar(50),
					@FromAna02ID as nvarchar(50),
					@ToAna02ID as nvarchar(50),
					@FromAna03ID as nvarchar(50),
					@ToAna03ID as nvarchar(50)

AS

Set nocount on

PRINT ('AP0300_MK')

Declare @sSQL as nvarchar(4000)

Delete AT0333 where DivisionID = @DivisionID


If @IsDate = 0  ---- Theo Ky
set @sSQL ='
Insert AT0333 	(DivisionID
				 , VoucherID
				 , BatchID
				 , TableID
				 , ObjectID
				 , VoucherDate
				 , DueDate
				 , OriginalAmountCN
				 , ConvertedAmount
				 , RemainOriginal
				 , RemainConverted
				 , AccountID
				 , D_C
				 , Ana02ID 
				 , InvoiceDate
				 , InvoiceNo
				 , Serial
				 , InheritTableID
				 )
SELECT 
		DivisionID
		, VoucherID
		, BatchID
		, TableID
		, ObjectID
		, VoucherDate
		, DueDate
		, OriginalAmountCN
		, ConvertedAmount
		, OriginalAmountCN - GivedOriginalAmount
		, ConvertedAmount - GivedOriginalAmount
		, DebitAccountID
		, ''D''
		, Ana02ID
		, InvoiceDate
		, InvoiceNo
		, Serial
		, InheritTableID
		From AV0301_MK
		Where 	DivisionID =''' + @DivisionID + ''' 
				AND (TranMonth + 100 * TranYear BETWEEN ' + STR(@FromMonth) +'  + 100 * ' + STR(@FromYear) + ' AND ' + STR(@ToMonth) + ' + 100 * ' + STR(@ToYear) + ' ) 
				AND (ObjectID BETWEEN N''' + @FromObjectID + ''' AND N''' + @ToObjectID + ''') 
				AND (CurrencyIDCN = N''' + @CurrencyID + ''') 
				AND (DebitAccountID = N''' + @AccountID + ''')  
				AND OriginalAmountCN - GivedOriginalAmount > 0  ---- Con lai chua giai tru
UNION ALL

Select 	DivisionID
		, VoucherID
		, BatchID
		, TableID
		, ObjectID
		, VoucherDate
		, DueDate
		, OriginalAmountCN
		, ConvertedAmount
		, OriginalAmountCN - GivedOriginalAmount
		, ConvertedAmount - GivedOriginalAmount
		, CreditAccountID
		, ''C''
		, Ana02ID
		, InvoiceDate
		, InvoiceNo
		, Serial
		, InheritTableID
		From AV0302_MK
		WHERE DivisionID = ''' + @DivisionID + ''' 
			AND (ObjectID BETWEEN N''' + @FromObjectID + ''' AND ''' + @ToObjectID + ''') 
			AND (CurrencyIDCN = N''' + @CurrencyID + ''') 
			AND (CreditAccountID = N''' + @AccountID + ''')  
			AND OriginalAmountCN - GivedOriginalAmount > 0  ---- Con lai chua giai tru  '
	

Else  --- Theo ngay
set @sSQL ='
INSERT AT0333 	(DivisionID
				, VoucherID
				, BatchID
				, TableID
				, ObjectID
				, VoucherDate
				, DueDate
				, OriginalAmountCN
				, ConvertedAmount
				, RemainOriginal
				, RemainConverted
				, AccountID
				, D_C
				, Ana02ID
				, InvoiceDate
				, InvoiceNo
				, Serial
				, InheritTableID
				)
SELECT 	DivisionID
		, VoucherID
		, BatchID
		, TableID
		, ObjectID
		, VoucherDate
		, DueDate
		, OriginalAmountCN
		, ConvertedAmount
		, OriginalAmountCN - GivedOriginalAmount
		, ConvertedAmount - GivedOriginalAmount
		, DebitAccountID
		, ''D''
		, Ana02ID
		, InvoiceDate
		, InvoiceNo
		, Serial
		, InheritTableID
		From AV0301_MK
		WHERE 	DivisionID = ''' + @DivisionID + ''' 
			AND (VoucherDate BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''')  
			AND (ObjectID BETWEEN N''' + @FromObjectID + ''' AND ''' + @ToObjectID + ''') 
			AND (CurrencyIDCN = N''' + @CurrencyID + ''') 
			AND (DebitAccountID = N''' + @AccountID + ''')  
			AND OriginalAmountCN - GivedOriginalAmount > 0  ---- Con lai chua giai tru

UNION ALL

Select 	DivisionID
		, VoucherID
		, BatchID
		, TableID
		, ObjectID
		, VoucherDate
		, DueDate
		, OriginalAmountCN
		, ConvertedAmount
		, OriginalAmountCN - GivedOriginalAmount
		, ConvertedAmount - GivedOriginalAmount
		, CreditAccountID
		, ''C''
		, Ana02ID
		, InvoiceDate
		, InvoiceNo
		, Serial
		, InheritTableID
		FROM AV0302 
		WHERE DivisionID = ''' + @DivisionID + ''' 
			AND (ObjectID BETWEEN N''' + @FromObjectID + ''' AND ''' + @ToObjectID + ''') 
			AND (CurrencyIDCN = N''' + @CurrencyID + ''') 
			AND (CreditAccountID = N''' + @AccountID + ''')  
			AND OriginalAmountCN - GivedOriginalAmount > 0  ---- Con lai chua giai tru '
	
if  isnull(@FromAna01ID,'')<>''
  Set @sSQL = @sSQL+' And Ana01ID BETWEEN N'''+@FromAna01ID+''' AND N'''+@ToAna01ID+''' '
if  isnull(@FromAna02ID,'')<>''
  Set @sSQL = @sSQL+' And Ana02ID BETWEEN N'''+@FromAna02ID+''' AND N'''+@ToAna02ID+''' '
if  isnull(@FromAna03ID,'')<>''
  Set @sSQL = @sSQL+' And Ana03ID BETWEEN N'''+@FromAna03ID+''' AND N'''+@ToAna03ID+''' '

 
Print @sSQL
Exec (@sSQL)

Set nocount off