IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0359]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP0359]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO






-- <Summary>
---- Liet ke tong hop phat sinh theo mat hang, phieu thu
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 12/02/2004 by Nguyen Van Nhan
---- 
---- LastEdit ThuyTuyen Lay them truong Ma Phan tich 23/04/2008
---- Modified on 20/10/2010 by Hoàng Phước : sửa lỗi bị vượt qúa độ dài 4000
---- Modified on 17/01/2012 by Le Thi Thu Hien : Sua dieu kien loc theo ngay
---- Modified on 04/05/2012 by Le Thi Thu Hien : Chinh sua CreditAccount thành DebitAccount vì lấy Nợ trường hợp phải trả
---- Modified on 31/05/2012 by Le Thi Thu Hien : 0017081 
---- Modified on 08/06/2012 by Thiên Huỳnh; Chỉnh sửa lại các điều kiện Where
---- Modified on 14/06/2013 by Thiên Huỳnh: Bổ sung Mã phân tích
---- Modified by Tieu Mai on 10/05/2016: Lay them truong VoucherID, BatchID
---- Modified by Bảo Thy on 26/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Tiểu Mai on 27/05/2016: Bổ sung các trường: Contactor, Note, Note1, BankName, BankAccountNo, LicenseNo cho ANPHAT
---- Modified by Tiểu Mai on 14/02/2017: Fix lỗi không hiển thị VoucherNo, VoucherDate
---- Modified by Bảo Thy on 15/05/2017: Sửa danh mục dùng chung
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Đức Duy on 20/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example> EXEC AP0359 'HT','22247-B.TD*HBC','Z-TVTB2','001','911','001','911','VND','3C-700A','YN',0,10,2016,12,2016,'2016-10-01','2016-12-31',0
----

CREATE PROCEDURE [dbo].[AP0359] 
				@DivisionID AS nvarchar(50), 
				@FromObjectID  AS nvarchar(50),  
				@ToObjectID  AS nvarchar(50),  
				@FromRecAccountID  AS nvarchar(50),  
				@ToRecAccountID  AS nvarchar(50), 
				@FromPayAccountID  AS nvarchar(50),  
				@ToPayAccountID  AS nvarchar(50), 
				@CurrencyID  AS nvarchar(50),  
				@FromInventoryID AS nvarchar(50),
				@ToInventoryID AS nvarchar(50),
				@IsDate AS tinyint, 
				@FromMonth AS int, 
				@FromYear  AS int,  
				@ToMonth AS int,
				@ToYear AS int,
				@FromDate AS Datetime, 
				@ToDate AS Datetime,
				@IsPayable AS tinyint
AS

--Print ' AP0319'

DECLARE @FromPeriod AS int,
		@ToPeriod AS int,
		@sSQL AS nvarchar(max),
		@sSQLunion AS nvarchar(max),
		@sSQLunionall AS nvarchar(max),
		@sSQL1 AS nvarchar(max),		
		@sSQL1union AS nvarchar(MAX),	
		@SQLwhere AS nvarchar(max)
	
SET @sSQL = ''
SET @sSQLunion = ''
SET @sSQL1 = ''
SET @sSQL1union = ''
Set @FromPeriod = (@FromMonth + @FromYear*100)	
Set @ToPeriod = (@ToMonth + @ToYear*100)	

IF @IsDate =0   ----- Truong hop tinh Tu ky den ky 
	Set @SQLwhere ='  And   (AT9000.TranMonth+ AT9000.TranYear*100 Between '+str(@FromPeriod)+' and '+str(@ToPeriod)+')   '

Else
	Set @SQLwhere ='  And (CONVERT(DATETIME,CONVERT(VARCHAR(10),isnull(AT9000.VoucherDate, ''' + convert(nvarchar(10),@FromDate,101) + '''),101),101) Between ''' + 
				convert(nvarchar(10),@FromDate,101) + ''' and ''' + convert(nvarchar(10),@ToDate,101) + ''')  '

--------Phai thu----------
If @IsPayable = 0 or @IsPayable = 2
  Begin
	Set @sSQL = '
SELECT 	NULL AS TransactionTypeID, AT9000.ObjectID, AT1202.ObjectName, AT1202.Address,
		--NULL AS VoucherDate, 
		--NULL AS VoucherNo,
		AT9000.VoucherDate, 
		AT9000.VoucherNo,
		VoucherID, BatchID,
		NULL AS VoucherTypeID,
		isnull(AT9000.InventoryID,'''') AS InventoryID,
		Isnull(InventoryName,isnull(AT9000.TDescription,'''')) AS InventoryName,
		AT9000.UnitID, ''R'' AS R_P,
		sum(isnull(OriginalAmount,0)) AS DebitOriginalAmount, 
		sum(isnull(ConvertedAmount,0)) AS DebitConvertedAmount, 
		sum(isnull(Quantity,0)) AS DebitQuantity, 
		isnull(AT9000.UnitPrice,0) AS DebitUnitPrice,
		isnull(DiscountRate,0) AS DebitDiscountRate,
		0 AS CreditOriginalAmount,
		0 AS CreditConvertedAmount,
		0 AS CreditQuantity,
		AT9000.Ana01ID, T01.AnaName AS AnaName01,
		AT9000.Ana02ID, T02.AnaName AS AnaName02,
		AT9000.Ana03ID, T03.AnaName AS AnaName03,	
		AT9000.Ana04ID, T04.AnaName AS AnaName04,
		AT9000.Ana05ID, T05.AnaName AS AnaName05,
		AT9000.Ana06ID, T06.AnaName AS AnaName06,
		AT9000.Ana07ID, T07.AnaName AS AnaName07,
		AT9000.Ana08ID, T08.AnaName AS AnaName08,
		AT9000.Ana09ID, T09.AnaName AS AnaName09,
		AT9000.Ana10ID, T10.AnaName AS AnaName10,
		AT9000.InvoiceNo,
		AT9000.DivisionID,
		AT1202.Contactor, AT1202.Note, AT1202.Note1, AT1202.BankName, AT1202.BankAccountNo, AT1202.LicenseNo
From AT9000 WITH (NOLOCK) 	
LEFT JOIN AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT1302.InventoryID = AT9000.InventoryID
LEFT JOIN AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
LEFT JOIN AT1011 T01 WITH (NOLOCK) on T01.AnaID = AT9000.Ana01ID
LEFT JOIN AT1011 T02 WITH (NOLOCK) on T02.AnaID = AT9000.Ana02ID
LEFT JOIN AT1011 T03 WITH (NOLOCK) on T03.AnaID = AT9000.Ana03ID
LEFT JOIN AT1011 T04 WITH (NOLOCK) on T04.AnaID = AT9000.Ana04ID
LEFT JOIN AT1011 T05 WITH (NOLOCK) on T05.AnaID = AT9000.Ana05ID
LEFT JOIN AT1011 T06 WITH (NOLOCK) on T06.AnaID = AT9000.Ana06ID
LEFT JOIN AT1011 T07 WITH (NOLOCK) on T07.AnaID = AT9000.Ana07ID
LEFT JOIN AT1011 T08 WITH (NOLOCK) on T08.AnaID = AT9000.Ana08ID
LEFT JOIN AT1011 T09 WITH (NOLOCK) on T09.AnaID = AT9000.Ana09ID
LEFT JOIN AT1011 T10 WITH (NOLOCK) on T10.AnaID = AT9000.Ana10ID
		
Where 	TransactionTypeID <>''T00'' AND DebitAccountID between ''' +  @FromRecAccountID + ''' AND ''' + @ToRecAccountID + '''
		AND AT9000.DivisionID ='''+@DivisionID+'''
		AND (AT9000.ObjectID between  '''+@FromObjectID+''' AND '''+@ToObjectID+''' AND AT1202.Disabled=0)
		AND IsNull(AT9000.InventoryID, ''' + @FromInventoryID + ''') Between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + '''
		AND CurrencyIDCN like '''+@CurrencyID+''' '+ @SQLwhere + '

GROUP BY TransactionTypeID, AT9000.ObjectID, AT1202.ObjectName, AT1202.Address, isnull(AT9000.InventoryID,''''), isnull(AT9000.UnitPrice,0),
		Isnull(InventoryName,isnull(AT9000.TDescription,'''')) , AT9000.UnitID, 
		Ana01ID, T01.AnaName, Ana02ID, T02.AnaName, Ana03ID, T03.AnaName, Ana04ID, T04.AnaName, Ana05ID, T05.AnaName,
		Ana06ID, T06.AnaName, Ana07ID, T07.AnaName, Ana08ID, T08.AnaName, Ana09ID, T09.AnaName, Ana10ID, T10.AnaName,
		AT9000.InvoiceNo, isnull(DiscountRate,0), AT9000.DivisionID, VoucherID, BatchID,
		AT1202.Contactor, AT1202.Note, AT1202.Note1, AT1202.BankName, AT1202.BankAccountNo, AT1202.LicenseNo, AT9000.VoucherDate, AT9000.VoucherNo
'
	Set @sSQLunion= ' 
UNION ALL
SELECT 	''11'' AS TransactionTypeID,
		(Case when TransactionTypeID in (''T99'') then AT9000.CreditObjectID else AT9000.ObjectID end) AS ObjectID,
		(Case when TransactionTypeID in (''T99'') then B.ObjectName else A.ObjectName end) AS ObjectName,
		A.Address,
		(Case when TransactionTypeID in (''T99'') then Dateadd(hour,1,VoucherDate) else VoucherDate end ) AS VoucherDate, 
		VoucherNo, VoucherID, BatchID, VoucherTypeID, '''' AS InventoryID,
		(Case when TransactionTypeID in (''T24'',''T34'') then Isnull(InventoryName,isnull(AT9000.TDescription,''''))
			else VDescription end) AS InventoryName,
		NULL AS UnitID,  ''R'' AS R_P,
		0 AS DebitOriginalAmount,
		0 AS DebitConvertedAmount,
		0 AS DebitQuantity,
		0 AS DebitUnitPrice,	
		0 AS DebitDiscountRate,
		Sum(isnull(OriginalAmount,0)) AS CreditOriginalAmount,
		Sum(isnull(ConvertedAmount,0)) AS CreditConvertedAmount,
		sum(isnull(Quantity,0)) AS CreditQuantity,
		AT9000.Ana01ID, T01.AnaName AS AnaName01,
		AT9000.Ana02ID, T02.AnaName AS AnaName02,
		AT9000.Ana03ID, T03.AnaName AS AnaName03,	
		AT9000.Ana04ID, T04.AnaName AS AnaName04,
		AT9000.Ana05ID, T05.AnaName AS AnaName05,
		AT9000.Ana06ID, T06.AnaName AS AnaName06,
		AT9000.Ana07ID, T07.AnaName AS AnaName07,
		AT9000.Ana08ID, T08.AnaName AS AnaName08,
		AT9000.Ana09ID, T09.AnaName AS AnaName09,
		AT9000.Ana10ID, T10.AnaName AS AnaName10,
		AT9000.InvoiceNo,
		AT9000.DivisionID,
		A.Contactor, A.Note, A.Note1, A.BankName, A.BankAccountNo, A.LicenseNo
From AT9000 WITH (NOLOCK) 	
LEFT JOIN AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT1302.InventoryID = AT9000.InventoryID
LEFT JOIN AT1202 A WITH (NOLOCK) on A.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A.ObjectID = AT9000.ObjectID
LEFT JOIN AT1202 B WITH (NOLOCK) on B.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND B.ObjectID = AT9000.CreditObjectID
LEFT JOIN AT1011 T01 WITH (NOLOCK) on T01.AnaID = AT9000.Ana01ID
LEFT JOIN AT1011 T02 WITH (NOLOCK) on T02.AnaID = AT9000.Ana02ID
LEFT JOIN AT1011 T03 WITH (NOLOCK) on T03.AnaID = AT9000.Ana03ID
LEFT JOIN AT1011 T04 WITH (NOLOCK) on T04.AnaID = AT9000.Ana04ID
LEFT JOIN AT1011 T05 WITH (NOLOCK) on T05.AnaID = AT9000.Ana05ID
LEFT JOIN AT1011 T06 WITH (NOLOCK) on T06.AnaID = AT9000.Ana06ID
LEFT JOIN AT1011 T07 WITH (NOLOCK) on T07.AnaID = AT9000.Ana07ID
LEFT JOIN AT1011 T08 WITH (NOLOCK) on T08.AnaID = AT9000.Ana08ID
LEFT JOIN AT1011 T09 WITH (NOLOCK) on T09.AnaID = AT9000.Ana09ID
LEFT JOIN AT1011 T10 WITH (NOLOCK) on T10.AnaID = AT9000.Ana10ID
		
Where 	TransactionTypeID <>''T00'' 
		AND CreditAccountID between ''' +  @FromRecAccountID + ''' AND ''' + @ToRecAccountID + '''
		AND AT9000.DivisionID ='''+@DivisionID+'''
		AND ((TransactionTypeID <>''T00'' AND TransactionTypeID not in (''T99'',''T98'') 
			AND AT9000.ObjectID between ''' +  @FromObjectID + ''' AND ''' + @ToObjectID + '''
			AND A.Disabled = 0)
			OR
			(TransactionTypeID in (''T99'',''T98'') 
			AND (CreditObjectID between ''' +  @FromObjectID + ''' AND ''' + @ToObjectID + '''
			AND B.Disabled = 0)))
		AND IsNull(AT9000.InventoryID, ''' + @FromInventoryID + ''') Between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + '''
		AND CurrencyIDCN like '''+@CurrencyID+''' '+@SQLwhere + '
		
GROUP BY TransactionTypeID, AT9000.ObjectID, AT9000.CreditObjectID, A.ObjectName, B.ObjectName, A.Address, VoucherDate,VoucherNo, VoucherID, 
		VoucherTypeID,  VDescription, InventoryName, TDescription, AT9000.UnitID,
		Ana01ID, T01.AnaName, Ana02ID, T02.AnaName, Ana03ID, T03.AnaName, Ana04ID, T04.AnaName, Ana05ID, T05.AnaName,
		Ana06ID, T06.AnaName, Ana07ID, T07.AnaName, Ana08ID, T08.AnaName, Ana09ID, T09.AnaName, Ana10ID, T10.AnaName,
		AT9000.InvoiceNo,AT9000.DivisionID, BatchID,
		A.Contactor, A.Note, A.Note1, A.BankName, A.BankAccountNo, A.LicenseNo '
  End
  
If @IsPayable = 2 SET @sSQLunionall= ' Union All '

----------Phai tra-----------

If @IsPayable = 1 or @IsPayable = 2
  Begin
 	Set @sSQL1 = '
SELECT 	NULL AS TransactionTypeID, AT9000.ObjectID, A.ObjectName,
		--(Case when TransactionTypeID in (''T99'') then AT9000.CreditObjectID else AT9000.ObjectID end) AS ObjectID,
		--(Case when TransactionTypeID in (''T99'') then B.ObjectName else A.ObjectName end) AS ObjectName,
		A.Address,
		--NULL AS VoucherDate, 
		--NULL AS VoucherNo, 
		AT9000.VoucherDate, 
		AT9000.VoucherNo,
		VoucherID, BatchID,
		NULL AS VoucherTypeID,
		isnull(AT9000.InventoryID,'''') AS InventoryID,
		Isnull(InventoryName,isnull(AT9000.TDescription,'''')) AS InventoryName,
		AT9000.UnitID,  ''P'' AS R_P,
		sum(isnull(OriginalAmount,0)) AS DebitOriginalAmount, 
		sum(isnull(ConvertedAmount,0)) AS DebitConvertedAmount, 
		sum(isnull(Quantity,0)) AS DebitQuantity, 
		isnull(AT9000.UnitPrice,0) AS DebitUnitPrice,
		isnull(DiscountRate,0) AS DebitDiscountRate,
		0 AS CreditOriginalAmount,
		0 AS CreditConvertedAmount,
		0 AS CreditQuantity,
		AT9000.Ana01ID, T01.AnaName AS AnaName01,
		AT9000.Ana02ID, T02.AnaName AS AnaName02,
		AT9000.Ana03ID, T03.AnaName AS AnaName03,	
		AT9000.Ana04ID, T04.AnaName AS AnaName04,
		AT9000.Ana05ID, T05.AnaName AS AnaName05,
		AT9000.Ana06ID, T06.AnaName AS AnaName06,
		AT9000.Ana07ID, T07.AnaName AS AnaName07,
		AT9000.Ana08ID, T08.AnaName AS AnaName08,
		AT9000.Ana09ID, T09.AnaName AS AnaName09,
		AT9000.Ana10ID, T10.AnaName AS AnaName10,
		AT9000.InvoiceNo,
		AT9000.DivisionID,
		A.Contactor, A.Note, A.Note1, A.BankName, A.BankAccountNo, A.LicenseNo
From AT9000 WITH (NOLOCK) 	
LEFT JOIN AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT1302.InventoryID = AT9000.InventoryID
LEFT JOIN AT1202 A WITH (NOLOCK) on A.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A.ObjectID = AT9000.ObjectID
LEFT JOIN AT1202 B WITH (NOLOCK) on B.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND B.ObjectID = AT9000.CreditObjectID
LEFT JOIN AT1011 T01 WITH (NOLOCK) on T01.AnaID = AT9000.Ana01ID
LEFT JOIN AT1011 T02 WITH (NOLOCK) on T02.AnaID = AT9000.Ana02ID
LEFT JOIN AT1011 T03 WITH (NOLOCK) on T03.AnaID = AT9000.Ana03ID
LEFT JOIN AT1011 T04 WITH (NOLOCK) on T04.AnaID = AT9000.Ana04ID
LEFT JOIN AT1011 T05 WITH (NOLOCK) on T05.AnaID = AT9000.Ana05ID
LEFT JOIN AT1011 T06 WITH (NOLOCK) on T06.AnaID = AT9000.Ana06ID
LEFT JOIN AT1011 T07 WITH (NOLOCK) on T07.AnaID = AT9000.Ana07ID
LEFT JOIN AT1011 T08 WITH (NOLOCK) on T08.AnaID = AT9000.Ana08ID
LEFT JOIN AT1011 T09 WITH (NOLOCK) on T09.AnaID = AT9000.Ana09ID
LEFT JOIN AT1011 T10 WITH (NOLOCK) on T10.AnaID = AT9000.Ana10ID
		
Where 	TransactionTypeID <>''T00'' AND DebitAccountID between ''' +  @FromPayAccountID + ''' AND ''' + @ToPayAccountID + '''
		AND AT9000.DivisionID ='''+@DivisionID+'''
		AND (AT9000.ObjectID between  '''+@FromObjectID+''' AND '''+@ToObjectID+''' AND A.Disabled=0)
		AND IsNull(AT9000.InventoryID, ''' + @FromInventoryID + ''') Between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + '''
		AND CurrencyIDCN like '''+@CurrencyID+''' '+ @SQLwhere + '
		
Group by	TransactionTypeID, AT9000.ObjectID, AT9000.CreditObjectID, 
			A.ObjectName, B.ObjectName, A.Address, isnull(AT9000.InventoryID,''''), isnull(AT9000.UnitPrice,0),
			Isnull(InventoryName,isnull(AT9000.TDescription,'''')), AT9000.UnitID, 
			Ana01ID, T01.AnaName, Ana02ID, T02.AnaName, Ana03ID, T03.AnaName, Ana04ID, T04.AnaName, Ana05ID, T05.AnaName,
			Ana06ID, T06.AnaName, Ana07ID, T07.AnaName, Ana08ID, T08.AnaName, Ana09ID, T09.AnaName, Ana10ID, T10.AnaName,
			AT9000.InvoiceNo, isnull(DiscountRate,0),AT9000.DivisionID, VoucherID, BatchID,
			A.Contactor, A.Note, A.Note1, A.BankName, A.BankAccountNo, A.LicenseNo, AT9000.VoucherDate, AT9000.VoucherNo'
			
---------->>>>Phải trả bên có
 	Set @sSQL1union = '
UNION ALL
SELECT 	NULL AS TransactionTypeID,
		(Case when TransactionTypeID in (''T99'') then AT9000.CreditObjectID else AT9000.ObjectID end) AS ObjectID,
		(Case when TransactionTypeID in (''T99'') then B.ObjectName else A.ObjectName end) AS ObjectName,
		A.Address,
		--NULL AS VoucherDate, 
		--NULL AS VoucherNo, 
		AT9000.VoucherDate, 
		AT9000.VoucherNo,
		VoucherID, BatchID,
		NULL AS VoucherTypeID,
		isnull(AT9000.InventoryID,'''') AS InventoryID,
		Isnull(InventoryName,isnull(AT9000.TDescription,'''')) AS InventoryName,
		AT9000.UnitID,  ''P'' AS R_P,
		0 AS DebitOriginalAmount, 
		0 AS DebitConvertedAmount, 
		0 AS DebitQuantity, 
		0 AS DebitUnitPrice,
		0 AS DebitDiscountRate,
		sum(isnull(OriginalAmount,0)) AS CreditOriginalAmount,
		sum(isnull(ConvertedAmount,0)) AS CreditConvertedAmount,
		sum(isnull(Quantity,0)) AS CreditQuantity,
		AT9000.Ana01ID, T01.AnaName AS AnaName01,
		AT9000.Ana02ID, T02.AnaName AS AnaName02,
		AT9000.Ana03ID, T03.AnaName AS AnaName03,	
		AT9000.Ana04ID, T04.AnaName AS AnaName04,
		AT9000.Ana05ID, T05.AnaName AS AnaName05,
		AT9000.Ana06ID, T06.AnaName AS AnaName06,
		AT9000.Ana07ID, T07.AnaName AS AnaName07,
		AT9000.Ana08ID, T08.AnaName AS AnaName08,
		AT9000.Ana09ID, T09.AnaName AS AnaName09,
		AT9000.Ana10ID, T10.AnaName AS AnaName10,
		AT9000.InvoiceNo,
		AT9000.DivisionID,
		A.Contactor, A.Note, A.Note1, A.BankName, A.BankAccountNo, A.LicenseNo
From AT9000 WITH (NOLOCK) 	
LEFT JOIN AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT1302.InventoryID = AT9000.InventoryID
LEFT JOIN AT1202 A WITH (NOLOCK) on A.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A.ObjectID = AT9000.ObjectID
LEFT JOIN AT1202 B WITH (NOLOCK) on B.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND B.ObjectID = AT9000.CreditObjectID
LEFT JOIN AT1011 T01 WITH (NOLOCK) on T01.AnaID = AT9000.Ana01ID
LEFT JOIN AT1011 T02 WITH (NOLOCK) on T02.AnaID = AT9000.Ana02ID
LEFT JOIN AT1011 T03 WITH (NOLOCK) on T03.AnaID = AT9000.Ana03ID
LEFT JOIN AT1011 T04 WITH (NOLOCK) on T04.AnaID = AT9000.Ana04ID
LEFT JOIN AT1011 T05 WITH (NOLOCK) on T05.AnaID = AT9000.Ana05ID
LEFT JOIN AT1011 T06 WITH (NOLOCK) on T06.AnaID = AT9000.Ana06ID
LEFT JOIN AT1011 T07 WITH (NOLOCK) on T07.AnaID = AT9000.Ana07ID
LEFT JOIN AT1011 T08 WITH (NOLOCK) on T08.AnaID = AT9000.Ana08ID
LEFT JOIN AT1011 T09 WITH (NOLOCK) on T09.AnaID = AT9000.Ana09ID
LEFT JOIN AT1011 T10 WITH (NOLOCK) on T10.AnaID = AT9000.Ana10ID
		
WHERE 	TransactionTypeID <>''T00'' 
		AND CreditAccountID between ''' +  @FromPayAccountID + ''' AND ''' + @ToPayAccountID + '''
		AND AT9000.DivisionID ='''+@DivisionID+'''
		AND ((TransactionTypeID <>''T99'' AND TransactionTypeID not in (''T99'',''T98'') 
			AND AT9000.ObjectID between ''' +  @FromObjectID + ''' AND ''' + @ToObjectID + '''
			AND A.Disabled = 0)
			OR 
			(TransactionTypeID in (''T99'',''T98'') 
			AND (AT9000.CreditObjectID between ''' +  @FromObjectID + ''' AND ''' + @ToObjectID + '''
			AND B.Disabled = 0)))		
		AND IsNull(AT9000.InventoryID, ''' + @FromInventoryID + ''') Between ''' + @FromInventoryID + ''' and ''' + @ToInventoryID + '''
		AND CurrencyIDCN like '''+@CurrencyID+''' '+ @SQLwhere + '
		
Group by	TransactionTypeID, AT9000.ObjectID, AT9000.CreditObjectID, 
			A.ObjectName, B.ObjectName, A.Address, isnull(AT9000.InventoryID,''''), isnull(AT9000.UnitPrice,0),
			Isnull(InventoryName,isnull(AT9000.TDescription,'''')), AT9000.UnitID,
			Ana01ID, T01.AnaName, Ana02ID, T02.AnaName, Ana03ID, T03.AnaName, Ana04ID, T04.AnaName, Ana05ID, T05.AnaName,
			Ana06ID, T06.AnaName, Ana07ID, T07.AnaName, Ana08ID, T08.AnaName, Ana09ID, T09.AnaName, Ana10ID, T10.AnaName,
			AT9000.InvoiceNo, isnull(DiscountRate,0),AT9000.DivisionID, VoucherID, BatchID,
			A.Contactor, A.Note, A.Note1, A.BankName, A.BankAccountNo, A.LicenseNo, AT9000.VoucherDate, AT9000.VoucherNo'
			
  End

--print (@sSQL) 
--print (@sSQLunion)
--print (@sSQLunionall)
--print (@sSQL1)
--print (@sSQL1union)

If not exists (Select name from sysobjects WITH (NOLOCK) Where id = Object_id(N'[dbo].[AV0359]') and OBJECTPROPERTY(id, N'IsView') = 1)
     		Exec ('  Create View AV0359 	--created by AP0359
				as ' + @sSQL + @sSQLunion + @sSQLunionall + @sSQL1 + @sSQL1union)
	Else
		Exec ('  Alter View AV0359  	--created by AP0359
				as ' + @sSQL + @sSQLunion + @sSQLunionall + @sSQL1 + @sSQL1union)




GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
