IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0331_FL]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0331_FL]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Customize Figla: Đổ nguồn combo PeriodID ở MH kết chuyển chênh lệch do tính giá xuất kho
---- Created by Bảo Anh, Date: 19/04/2016
---- Modified by Bảo Thy on 26/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Bảo Anh on 26/05/2016: Lấy thiết lập số lẻ từ AT1101
---- AP0331_FL 'FL',10,2015

CREATE PROCEDURE [dbo].[AP0331_FL] 
    @DivisionID NVARCHAR(50),
    @TranMonth INT,
	@TranYear INT
AS

DECLARE @ConvertedDecimal AS int

SELECT @ConvertedDecimal = (SELECT TOP 1 ConvertedDecimals FROM AT1101 WITH (NOLOCK) WHERE DivisionID = @DivisionID)
SET @ConvertedDecimal = ISNULL(@ConvertedDecimal,0)

SELECT	AccountID,
		sum(ConvertedAmount) as ConvertedAmount
INTO #TAM1
FROM AV4201
WHERE DivisionID = @DivisionID AND TranMonth = @TranMonth AND TranYear = @TranYear
AND (AccountID like '621%' or AccountID like '627%')
GROUP BY AccountID
Having sum(Round(ConvertedAmount,@ConvertedDecimal)) <> 0

SELECT	(Select top 1 PeriodID From MV9000 Where DivisionID = @DivisionID And TranMonth = @TranMonth
		And TranYear = @TranYear And DebitAccountID = #TAM1.AccountID) as PeriodID, 
		AccountID, ConvertedAmount
INTO #TAM2
FROM #TAM1

--- Trả ra dữ liệu
SELECT	#TAM2.PeriodID, MT1601.Description as PeriodName,
		#TAM2.ConvertedAmount, #TAM2.AccountID AS CreditAccountID	
FROM #TAM2
LEFT JOIN MT1601 WITH (NOLOCK) On #TAM2.PeriodID = MT1601.PeriodID and MT1601.DivisionID = @DivisionID
WHERE EXISTS (Select Top 1 1 From MT1614 WITH (NOLOCK) Where TranMonth = @TranMonth and TranYear = @TranYear And PeriodID = #TAM2.PeriodID)
AND NOT EXISTS (Select Top 1 1 From AT9000 WITH (NOLOCK) Where DivisionID = @DivisionID And TranMonth = @TranMonth And TranYear = @TranYear
				And TransactionTypeID = 'T98' And TableID = 'AP1309' And PeriodID = #TAM2.PeriodID
				And (CreditAccountID = #TAM2.AccountID or DebitAccountID = #TAM2.AccountID))

DROP TABLE #TAM1
DROP TABLE #TAM2

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON