IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0303_HT]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0303_HT]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

------ Created by Hoàng Vũ on 09/03/2016: Customize cho hoàng trần (thiết có check vào tự động giải trừ công nợ khi kế thừa hóa đơn: nếu kế thừa từ hóa đơn bàn bán hàng theo bộ thì phải thực hiện được chức năng giải trừ công nợ phải thu) thực hiện bỏ giải trừ
---- Modified by Bảo Thy on 25/05/2016: Bổ sung WITH (NOLOCK)


Create PROCEDURE [dbo].[AP0303_HT] @DivisionID nvarchar(50), 
				  @VoucherID nvarchar(50),
				  @BatchID as nvarchar(50),
				  @TableID as  nvarchar(50),
				  @ObjectID nvarchar(50),
				  @CurrencyID nvarchar(50),
				  @AccountID nvarchar(50),
				  @D_C as nvarchar(1),  ---- 'D' neu la o phieu PS NO
							--- 'C' neu la phat sinh co
				  @ExchangeRate As Decimal(28,8) = 1

 AS
Declare @CorVoucherID as nvarchar(50),
	@CorBatchID as nvarchar(50),
	@CorTableID as nvarchar(50),
	@OriginalAmount as decimal (28,8),
	@GivedOriginalAmount as decimal (28,8),
	@Cor_cur as cursor

IF @D_C ='D'   ---- Truong ho o ben No bo giai tru ----------------------------------------------------------------
Begin
	SET @Cor_cur = Cursor Scroll KeySet FOR 
	Select 	CreditVoucherID, CreditBatchID, CreditTableID,  Sum(OriginalAmount)
	From AT0303 WITH (NOLOCK) Where DebitVoucherID = @VoucherID  and
				DebitBatchID = @BatchID and
				(DebitTableID = @TableID or DebitTableID = N'AT9000' or DebitTableID = N'AT1326' or DebitTableID = N'MT1603') and
				AccountID =@AccountID and
				ObjectID = @ObjectID and
				DivisionID =@DivisionID and
				CurrencyID =@CurrencyID

	Group by CreditVoucherID, CreditBatchID, CreditTableID

	OPEN	@Cor_cur
	FETCH NEXT FROM @Cor_cur INTO  @CorVoucherID,  @CorBatchID,  @CorTableID, @OriginalAmount
	WHILE @@Fetch_Status = 0
	Begin	
			Set @GivedOriginalAmount =0
			Set @GivedOriginalAmount  = (Select Sum(isnull(OriginalAmount,0)) 
							From  AT0303 WITH (NOLOCK) Where 	DivisionID = @DivisionID and
										ObjectID = @ObjectID  and
										CreditVoucherID = @CorVoucherID and
										CreditBatchID = @CorBatchID and
										(CreditTableID = @CorTableID or CreditTableID = N'AT9000' or CreditTableID = N'AT1326' or CreditTableID = N'MT1603') and
										AccountID = @AccountID and
										CurrencyID =  @CurrencyID)			
			If @GivedOriginalAmount = @OriginalAmount	
			Update AT9000 Set Status = 0
			Where 	DivisionID = @DivisionID and
				VoucherID = @CorVoucherID and
				BatchID = @CorBatchID and
				(TableID = @CorTableID or TableID = N'AT9000' or TableID = N'AT1326' or TableID = N'MT1603') and 
				(Case When TransactionTypeID ='T99' then CreditObjectID else ObjectID end) = @ObjectID and 
				CreditAccountID =@AccountID and
				CurrencyIDCN = @CurrencyID
		
			Delete AT9000 Where (VoucherID = @CorVoucherID or VoucherID = @VoucherID)  and
				(BatchID = @CorBatchID or BatchID = @BatchID) and
				(TableID = @TableID or TableID = @CorTableID or TableID = N'AT9000' or TableID = N'AT1326' or TableID = N'MT1603') and 
				TransactionTypeID = 'T10' and
				ObjectID = @ObjectID and
				DivisionID = @DivisionID and
				CurrencyID = @CurrencyID
		--Print '@CorVoucherID   '+@CorVoucherID

			-- Xoa du lieu phieu chenh lech khong tham gia giai tru (luu vao phieu Thu)
			DELETE AT9000 
			WHERE	ReVoucherID = @CorVoucherID AND ReBatchID = @CorBatchID
					AND (ReTableID = 'AT9000' or ReTableID = N'AT1326' or ReTableID = N'MT1603') 
					AND TransactionTypeID = 'T10'
					AND DivisionID = @DivisionID 
					AND CurrencyID = @CurrencyID

		FETCH NEXT FROM @Cor_cur INTO  @CorVoucherID ,  @CorBatchID ,  @CorTableID, @OriginalAmount
	End

	Close @Cor_cur

	
	Delete AT0303 Where 	DebitVoucherID = @VoucherID  and
				DebitBatchID = @BatchID and
				(DebitTableID = @TableID or DebitTableID = N'AT9000' or DebitTableID = N'AT1326' or DebitTableID = N'MT1603') and
				AccountID =@AccountID and
				ObjectID = @ObjectID and
				DivisionID =@DivisionID and
				CurrencyID =@CurrencyID
	--- Cap nhat trang thai
	
	Update AT9000 Set Status = 0
			Where 	DivisionID = @DivisionID and
				VoucherID =@VoucherID and
				(TableID = @TableID or TableID = N'AT9000' or TableID = N'AT1326' or TableID = N'MT1603') and 
				ObjectID = @ObjectID and
				BatchID =@BatchID and
				DebitAccountID =@AccountID and
				CurrencyIDCN = @CurrencyID
	

	
	
End
IF  @D_C ='C'   ----------------------------- Truong hop o ben Co bo giai tru cong no -------------------------------------------------------------------------------------------------
Begin

SET @Cor_cur = Cursor Scroll KeySet FOR 
	Select 	DebitVoucherID, DebitBatchID, DebitTableID,  Sum(OriginalAmount)
	From AT0303 WITH (NOLOCK) Where 	CreditVoucherID = @VoucherID  and
				CreditBatchID = @BatchID and
				(CreditTableID = @TableID or CreditTableID = N'AT9000' or CreditTableID = N'AT1326' or CreditTableID = N'MT1603') and
				AccountID =@AccountID and
				ObjectID = @ObjectID and
				DivisionID =@DivisionID and
				CurrencyID =@CurrencyID

	Group by DebitVoucherID, DebitBatchID, DebitTableID  

	OPEN	@Cor_cur
	FETCH NEXT FROM @Cor_cur INTO  @CorVoucherID,  @CorBatchID,  @CorTableID, @OriginalAmount
	WHILE @@Fetch_Status = 0
	Begin	
			Set @GivedOriginalAmount =0
			Set @GivedOriginalAmount  = (Select Sum(isnull(OriginalAmount,0)) 
							From  AT0303 WITH (NOLOCK) Where 	DivisionID = @DivisionID and
										ObjectID = @ObjectID  and
										DebitVoucherID = @CorVoucherID and
										(DebitTableID = @CorTableID or DebitTableID = N'AT9000' or DebitTableID = N'AT1326' or DebitTableID = N'MT1603') and
										AccountID = @AccountID and
										CurrencyID =  @CurrencyID)			

			If @GivedOriginalAmount = @OriginalAmount	
			Update AT9000 Set Status = 0
			Where 	DivisionID = @DivisionID and
				VoucherID = @CorVoucherID and
				(TableID = @CorTableID or TableID = N'AT9000' or TableID = N'AT1326' or TableID = N'MT1603') and 
				ObjectID = @ObjectID and 
				DebitAccountID =@AccountID and
				CurrencyIDCN = @CurrencyID

			Delete AT9000 Where (VoucherID = @CorVoucherID or VoucherID = @VoucherID)  and
				(BatchID = @CorBatchID or BatchID = @BatchID) and
				(TableID = @TableID or TableID = @CorTableID or TableID = N'AT9000' or TableID = N'AT1326' or TableID = N'MT1603') and 
				TransactionTypeID = 'T10' and
				ObjectID = @ObjectID and
				DivisionID = @DivisionID and
				CurrencyID = @CurrencyID
		
				-- Xoa du lieu phieu chenh lech khong tham gia giai tru (luu vao phieu Thu)
			DELETE AT9000 
			WHERE	ReVoucherID = @CorVoucherID AND ReBatchID = @CorBatchID
					AND (ReTableID = 'AT9000' or ReTableID = N'AT1326' or ReTableID = N'MT1603') 
					AND TransactionTypeID = 'T10'
					AND DivisionID = @DivisionID 
					AND CurrencyID = @CurrencyID

		FETCH NEXT FROM @Cor_cur INTO  @CorVoucherID ,  @CorBatchID ,  @CorTableID, @OriginalAmount
	End

	Close @Cor_cur


	Delete AT0303 Where 	CreditVoucherID = @VoucherID  and
				CreditBatchID = @BatchID and
				(CreditTableID = @TableID or CreditTableID = N'AT9000' or CreditTableID = N'AT1326' or CreditTableID = N'MT1603') and
				AccountID =@AccountID and
				ObjectID = @ObjectID and
				DivisionID =@DivisionID and
				CurrencyID =@CurrencyID
	--- Cap nhat trang thai
	Update AT9000 Set Status = 0
			Where 	DivisionID = @DivisionID and
				VoucherID =@VoucherID and
				BatchID =@BatchID and
				(TableID = @TableID or TableID = N'AT9000' or TableID = N'AT1326' or TableID = N'MT1603') and
				(Case When TransactionTypeID ='T99' then CreditObjectID else ObjectID end) = @ObjectID and 
				CreditAccountID =@AccountID and
				CurrencyIDCN = @CurrencyID


End