/****** Object:  StoredProcedure [dbo].[AP0431]    Script Date: 19/04/2022 15:44:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AP0431]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[AP0431]
GO
SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO

------ Created by Kiều Nga , Date 19/04/2022
------ Purpose Xoa but toan ket chuyen phan bo

CREATE PROCEDURE [dbo].[AP0431] @DivisionID as nvarchar(50),
				@TranMonth as int,
				@TranYear as int,
				@D_C  as  nvarchar (50),
				@JobID as nvarchar(50)

AS
Declare @TransactionID nvarchar(50),
		@AdvanceID nvarchar(50)
		
if @JobID <> '%'
	Begin
	
		Select @TransactionID = TransactionID From AT0422 WITH (NOLOCK) Where JobID = @JobID
		Select @AdvanceID = AdvanceID From AT0422 WITH (NOLOCK) Where JobID = @JobID
		
		IF @D_C ='C'
		Begin
			Delete AT9000
			Where TranMonth = @TranMonth and
				TranYear = @TranYear and
				DivisionID =@DivisionID and
				TransactionTypeID ='T28' and
				TableID ='AT0422' And 
				TransactionID = @TransactionID
		End
		
		Else
		Begin
			Delete AT9000
			Where TranMonth = @TranMonth and
				TranYear = @TranYear and
				DivisionID =@DivisionID and
				TransactionTypeID ='T38' and
				TableID ='AT0422' And
				TransactionID = @TransactionID
				
			--- Xóa tạm ứng được kết chuyển từ phân bổ
			Delete HT2500
			Where DivisionID =@DivisionID and
				TranMonth = @TranMonth and
				TranYear = @TranYear and
				AdvanceID = @AdvanceID and
				ISNULL(IsTranfer,0) = 1
		End
		--------- Cap nhat but toan phan bo ket chuyen
		Update AT0422 Set  Status =0
		Where TranMonth = @TranMonth and
			TranYear = @TranYear and
			DivisionID =@DivisionID and
			JobID = @JobID
	End
Else
	Begin
	
		IF @D_C ='C'
		Begin
			Delete AT9000
			Where TranMonth = @TranMonth and
				TranYear = @TranYear and
				DivisionID =@DivisionID and
				TransactionTypeID ='T28' and
				TableID ='AT0422'
		End
		Else
		Begin
			Delete AT9000
			Where TranMonth = @TranMonth and
				TranYear = @TranYear and
				DivisionID =@DivisionID and
				TransactionTypeID ='T38' and
				TableID ='AT0422' 
			
			--- Xóa tạm ứng được kết chuyển từ phân bổ
			Delete HT2500
			Where DivisionID =@DivisionID and
				TranMonth = @TranMonth and
				TranYear = @TranYear and
				AdvanceID in (Select AdvanceID From AT0422 WITH (NOLOCK) Where DivisionID = @DivisionID and TranMonth = @TranMonth and TranYear = @TranYear and D_C = 'D') and
				ISNULL(IsTranfer,0) = 1		
		End
		--------- Cap nhat but toan phan bo ket chuyen
		Update AT0422 Set  Status =0
		Where TranMonth = @TranMonth and
			TranYear = @TranYear and
			DivisionID =@DivisionID
			
	End

