IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0451_MK]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0451_MK]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

------ 	Created by Nguyen Van Nhan. Date 26/09/2008
-----	Purpose: Giai tru cong no Ban tu dong Cong no phai tra
/********************************************
'* Edited by: [GS] [Mỹ Tuyền] [28/07/2010]
'********************************************/

CREATE PROCEDURE [dbo].[AP0451_MK] @DivisionID as nvarchar(50),
				@UserID as nvarchar(50),
				@GiveUpdate datetime,
				@GiveUpEmployeeID as nvarchar(50),
				@AccountID as nvarchar(50),
				@CurrencyID as nvarchar(50),
				@FromObjectID as nvarchar(50),
				@ToObjectID nvarchar(50),
				@FromMonth as int,
				@FromYear as int,
				@ToMonth as int,
				@ToYear as int,
				@FromDate as Datetime,
				@ToDate as Datetime,
				@IsDate tinyint,			
				@Fomular as tinyint, 	-------------- 	 0 : Ưu tiên cho ngày hạch toán. 
										-------------	 1 : Ưu tiên cho ngày đáo hạn.
										-------------	 2 : Chỉ xử lý cho các phiếu từ ERP 9 BEM xuống (MEIKO).
										-------------	 ** Hiện tại không thấy xài cờ này. Đang áp dụng 2 cho MEIKO.
				@FromAna01ID as nvarchar(50),
				@ToAna01ID as nvarchar(50)
 AS
Set Nocount on

Declare @sSQL as nvarchar(4000),
	@Invoice_cur as cursor,
	@GiveUpID nvarchar(50),
	@VoucherID nvarchar(50), 
	@BatchID nvarchar(50),
	@TableID nvarchar(50),
	@ObjectID  nvarchar(50),	
	@ConvertedAmount decimal(28,8),
	@OriginalAmountCN decimal(28,8), 
	@GivedOriginalAmount  decimal(28,8),
	@GivedConvertedAmount  decimal(28,8),
	@VoucherDate Datetime,
	@DueDate Datetime,
	@CrVoucherID as nvarchar(50),
	@CrBatchID as nvarchar(50),
	@CrTableID  as nvarchar(50),
	@CrOriginalAmountRemain as decimal(28,8),
	@CrConvertedAmountRemain as decimal(28,8),
	@OriginalAmountRemain as decimal(28,8),
	@ConvertedAmountRemain as decimal(28,8),
	@GiveOriginal as decimal(28,8)	,
	@GiveConverted as decimal(28,8),
	@Ana01ID as nvarchar(50),
	@InvoiceDate as DateTime,
	@InvoiceNo as nvarchar(50),
	@Serial as nvarchar(50)

PRINT('AP0451_MK')

	----- Insert Du lieu vao bang tam.
	EXEC AP0450_MK  @DivisionID
				, @AccountID
				, @CurrencyID
				, @FromObjectID
				, @ToObjectID
				, @FromMonth
				, @FromYear
				, @ToMonth
				, @ToYear
				, @FromDate
				, @ToDate
				, @IsDate
				, @FromAna01ID
				, @ToAna01ID


	SELECT 'AT0333' AS TableID
			, * 
	FROM AT0333

	SET @Invoice_cur = CURSOR SCROLL KEYSET FOR 	
		SELECT 	Ana01ID
				, VoucherID
				, BatchID
				, TableID
				, ObjectID
				, ConvertedAmount
				, OriginalAmountCN
				, RemainOriginal
				, RemainConverted
				, VoucherDate
				, DueDate
				, InvoiceDate
				, InvoiceNo
				, Serial
		FROM AT0333
		WHERE 	D_C ='C' and DivisionID = @DivisionID
		ORDER BY DueDate, VoucherDate

	OPEN @Invoice_cur
	FETCH NEXT FROM @Invoice_cur INTO  @Ana01ID
										, @VoucherID
										, @BatchID
										, @TableID
										, @ObjectID
										, @ConvertedAmount
										, @OriginalAmountCN
										, @OriginalAmountRemain
										, @ConvertedAmountRemain
										, @VoucherDate
										, @DueDate
										, @InvoiceDate
										, @InvoiceNo
										, @Serial
			
	WHILE @@FETCH_STATUS = 0 
	 BEGIN
			----print 'VoucherID ='+@VoucherID+ '   Con lai: '+str(@OriginalAmountRemain)

		EXEC AP0452_MK @Ana01ID
					, @DivisionID
					, @AccountID
					, @CurrencyID
					, @ObjectID
					, @ToYear
					, @GiveupDate
					, @GiveupEmployeeID
					, @UserID
					, @VoucherID
					, @BatchID
					, @TableID
					, @OriginalAmountRemain
					, @ConvertedAmountRemain 
					, @Fomular
					, @InvoiceDate
					, @InvoiceNo
					, @Serial

		FETCH NEXT FROM @Invoice_cur INTO @Ana01ID
											, @VoucherID
											, @BatchID
											, @TableID
											, @ObjectID
											, @ConvertedAmount
											, @OriginalAmountCN
											, @OriginalAmountRemain
											, @ConvertedAmountRemain
											, @VoucherDate
											, @DueDate
											, @InvoiceDate
											, @InvoiceNo
											, @Serial
			
	END 

	CLOSE @Invoice_cur

SET NOCOUNT OFF