IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP0450]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP0450]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
----- Created by 	Nguyen Van Nhan, 
---- Purpose 	Insert bang tam, de phuc vu viec giai tru cong no
---- Modified by Huỳnh Thử on 17/08/2020: Merge Code: MEKIO và MTE - Tách Store AP0450_MK
/********************************************
'* Edited by: [GS] [Mỹ Tuyền] [28/07/2010]
'********************************************/

CREATE PROCEDURE  [dbo].[AP0450]  	@DivisionID as nvarchar(50), 
					@AccountID as nvarchar(50),  
					@CurrencyID as nvarchar(50),  
					@FromObjectID as nvarchar(50),  
					@ToObjectID as nvarchar(50), 
					@FromMonth as int, 
					@FromYear as int, 
					@ToMonth as int, 
					@ToYear as int, 
					@FromDate as Datetime, 
					@ToDate as Datetime, 
					@IsDate as tinyint,
					@FromAna01ID as nvarchar(50),
					@ToAna01ID as nvarchar(50)
					

AS
DECLARE @CustomerName INT 
--Tao bang tam de kiem tra day co phai la khach hang Sieu Thanh khong (CustomerName = 16)
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

IF(@CustomerName = 50 OR @CustomerName = 115) -- MEKIO hoặc MTE
BEGIN
	EXEC AP0450_MK	@DivisionID , 
					@AccountID ,  
					@CurrencyID ,  
					@FromObjectID ,  
					@ToObjectID , 
					@FromMonth , 
					@FromYear , 
					@ToMonth , 
					@ToYear , 
					@FromDate , 
					@ToDate , 
					@IsDate,
					@FromAna01ID ,
					@ToAna01ID 
END
ELSE
BEGIN
	Declare @sSQL as nvarchar(4000)
	SET @sSQL = '';

	Delete AT0333

	print @FromDate
	print @ToDate
	If @IsDate = 0  ---- Theo Ky
	set @sSQL ='
	Insert AT0333 (DivisionID, VoucherID, BatchID, TableID, ObjectID, VoucherDate, DueDate, OriginalAmountCN, ConvertedAmount, 
			RemainOriginal, RemainConverted, AccountID, D_C, Ana01ID )
	Select DivisionID, VoucherID, BatchID, TableID, ObjectID, VoucherDate, DueDate, OriginalAmountCN, ConvertedAmount, 
			OriginalAmountCN - GivedOriginalAmount, ConvertedAmount - GivedOriginalAmount, CreditAccountID, ''C'', Ana01ID
			From AV0402 
			Where DivisionID ='''+@DivisionID+''' and 
				(TranMonth+ 100*TranYear Between '+str(@FromMonth) +'  + 100*'+str(@FromYear) +' and '+str(@ToMonth)+'+100*'+str(@ToYear)+' ) and
				(ObjectID Between '''+@FromObjectID+''' and '''+@ToObjectID+''') and
				(CurrencyID = '''+@CurrencyID+''') and
				(CreditAccountID = '''+@AccountID+''')  and
				OriginalAmountCN - GivedOriginalAmount >0  ---- Con lai chua giai tru
	Union all
	Select DivisionID, VoucherID, BatchID, TableID, ObjectID, VoucherDate, DueDate, OriginalAmountCN, ConvertedAmount, 
			OriginalAmountCN - GivedOriginalAmount, ConvertedAmount - GivedOriginalAmount, DebitAccountID, ''D'', Ana01ID
			From AV0401 
			Where DivisionID ='''+@DivisionID+''' and 			
				(ObjectID Between '''+@FromObjectID+''' and '''+@ToObjectID+''') and
				(CurrencyID = '''+@CurrencyID+''') and
				(DebitAccountID = '''+@AccountID+''')  and
				OriginalAmountCN - GivedOriginalAmount >0  ---- Con lai chua giai tru  '
	

	Else  --- Theo ngay
	set @sSQL ='
	Insert AT0333 (DivisionID, VoucherID, BatchID, TableID, ObjectID, VoucherDate, DueDate, OriginalAmountCN, ConvertedAmount, 
			RemainOriginal, RemainConverted, AccountID, D_C, Ana01ID)
	Select 	DivisionID, VoucherID, BatchID, TableID, ObjectID, VoucherDate, DueDate, OriginalAmountCN, ConvertedAmount, 
			OriginalAmountCN - GivedOriginalAmount, ConvertedAmount - GivedOriginalAmount, CreditAccountID, ''C'', Ana01ID
			From AV0402 
			Where 	DivisionID ='''+@DivisionID+''' and 
				(VoucherDate between '''+convert(nvarchar(10),@FromDate,101)+''' and '''+convert(nvarchar(10),@ToDate,101)+''')  And
				(ObjectID Between '''+@FromObjectID+''' and '''+@ToObjectID+''') and
				(CurrencyID = '''+@CurrencyID+''') and
				(CreditAccountID = '''+@AccountID+''')  and
				OriginalAmountCN - GivedOriginalAmount >0  ---- Con lai chua giai tru
	Union all
	Select 		VoucherID, BatchID, TableID, ObjectID, VoucherDate, DueDate, OriginalAmountCN, ConvertedAmount, 
			OriginalAmountCN - GivedOriginalAmount, ConvertedAmount - GivedOriginalAmount, DebitAccountID, ''D'', Ana01ID
			From AV0401 
			Where 	DivisionID = '''+@DivisionID+''' and 
				(ObjectID Between '''+@FromObjectID+''' and '''+@ToObjectID+''') and
				(CurrencyID = '''+@CurrencyID+''') and
				(DebitAccountID = '''+@AccountID+''')  and
				OriginalAmountCN - GivedOriginalAmount >0  ---- Con lai chua giai tru '
			
	--print @sSQL	
	if  isnull(@FromAna01ID,'')<>''
	  Set @sSQL = @sSQL+' And Ana01ID between '''+@FromAna01ID+''' and '''+@ToAna01ID+''' '

	Exec (@sSQL)

END
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
