IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP1032]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP1032]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Thông báo khi có công nợ đến hạn, quá hạn (phải trả) 
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 06/04/20184 by Khả Vi
-- <Example>
/*
	AP1032 @DivisionID = 'VF', @Date = '2018-04-06'

	AP1032 @DivisionID, @Date
*/
----
CREATE PROCEDURE AP1032
( 
				@DivisionID VARCHAR(50), 
				@Date DATETIME,
				@Type INT = 0
) 
AS 
DECLARE @sSQL NVARCHAR(MAX), 
		@sSQL1 NVARCHAR(MAX) 

SET @sSQL = N'
SELECT AT9000.VoucherNo, AT9000.ObjectID, A02.ObjectName, ISNULL(AT9000.OriginalAmount, 0) - ISNULL(AT0404.OriginalAmount, 0) AS OriginalAmount, 
DATEDIFF(DAY, AT9000.DueDate, '''+CONVERT(VARCHAR(10), @Date, 120)+''') AS [Date]
INTO #Temp_AP1032 
FROM
(
	SELECT DivisionID, VoucherID, BatchID, TableID, VoucherNo, ObjectID, CreditAccountID AS AccountID, CurrencyID, SUM(ISNULL(OriginalAmount, 0)) AS OriginalAmount, 
	SUM(ISNULL(ConvertedAmount, 0)) AS ConvertedAmount, DueDate
	FROM AT9000 WITH (NOLOCK)
	WHERE DivisionID = '''+@DivisionID+''' AND LEFT(CreditAccountID, 3) = ''331'' 
	AND CONVERT(VARCHAR(10), DueDate, 120) <= '''+CONVERT(VARCHAR(10), @Date, 120)+'''
	GROUP BY DivisionID, VoucherID, BatchID, TableID, VoucherNo, ObjectID, CreditAccountID, CurrencyID, DueDate
) AS AT9000
LEFT JOIN (
	SELECT DivisionID, CreditVoucherID AS VoucherID, CreditBatchID AS BatchID, CreditTableID AS TableID, ObjectID, AccountID, CurrencyID, 
	SUM(ISNULL(OriginalAmount, 0)) AS OriginalAmount, SUM(ISNULL(ConvertedAmount, 0)) AS ConvertedAmount
	FROM AT0404 WITH (NOLOCK) 
	WHERE DivisionID = '''+@DivisionID+''' AND LEFT(AccountID, 3) = ''331'' AND GiveUpDate <= '''+CONVERT(VARCHAR(20), @Date, 120)+'''
	GROUP BY DivisionID, CreditVoucherID, CreditBatchID, CreditTableID, ObjectID, AccountID, CurrencyID
) AS AT0404 ON AT9000.VoucherID = AT0404.VoucherID AND AT9000.BatchID = AT0404.BatchID AND AT9000.TableID = AT0404.TableID AND AT9000.ObjectID = AT0404.ObjectID
LEFT JOIN AT1202 A02 WITH(NOLOCK) ON A02.DivisionID IN ('''+@DivisionID+''',''@@@'') AND A02.ObjectID = AT9000.ObjectID
GROUP BY AT9000.VoucherNo, AT9000.ObjectID, AT9000.OriginalAmount, AT0404.OriginalAmount, AT9000.DueDate, A02.ObjectName
HAVING ISNULL(AT9000.OriginalAmount, 0) - ISNULL(AT0404.OriginalAmount, 0) > 0 '

IF @Type = 1
BEGIN
	SET @sSQL1 = N'
		SELECT VoucherNo, ObjectID, ObjectName, 0 AS TypeID, OriginalAmount AS ConvertedAmount0, [Date]
		FROM #Temp_AP1032
		WHERE [Date] = 0
		UNION ALL
		SELECT VoucherNo, ObjectID, ObjectName, 1 AS TypeID, OriginalAmount AS ConvertedAmount0, [Date]
		FROM #Temp_AP1032
		WHERE [Date] > 0
		'
END
ELSE
BEGIN
	SET @sSQL1 = N'
		SELECT COUNT(Params) Params, TypeID
		FROM (
		SELECT COUNT(ObjectID) AS Params, 0 AS TypeID 
		FROM #Temp_AP1032
		WHERE [Date] = 0 
		GROUP BY ObjectID
		UNION ALL
		SELECT COUNT(ObjectID) AS Params, 1 AS TypeID 
		FROM #Temp_AP1032
		WHERE [Date] > 0
		GROUP BY ObjectID
		) AS Temp WHERE ISNULL(Params, 0) <> 0
		GROUP BY TypeID'
END
PRINT @sSQL
PRINT @sSQL1
EXEC (@sSQL + @sSQL1)




GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
