IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP1033]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP1033]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Thông báo khi có công nợ đến hạn, quá hạn (phải thu) 
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 06/04/20184 by Khả Vi
---- Modified on 16/06/2021 by Lê Hoàng: thêm điều kiện Hạn mức tuổi nợ từ Danh mục đối tượng (ReDays) để so sánh
-- <Example>
/*
	AP1033 @DivisionID = 'VF', @Date = '2018-04-06'

	AP1033 @DivisionID, @Date
*/
----
CREATE PROCEDURE AP1033
( 
				@DivisionID VARCHAR(50), 
				@Date DATETIME,
				@Type INT = 0
) 
AS 
DECLARE @sSQL NVARCHAR(MAX), 
		@sSQL1 NVARCHAR(MAX) 

SET @sSQL = N'
SELECT AT9000.VoucherNo, AT9000.ObjectID, A02.ObjectName, ISNULL(AT9000.OriginalAmount, 0) - ISNULL(AT0404.OriginalAmount, 0) AS OriginalAmount, 
DATEDIFF(DAY, AT9000.DueDate, '''+CONVERT(VARCHAR(10), @Date, 120)+''') AS [Date], A02.ReDays
INTO #Temp_AP1033 
FROM
(
	SELECT DivisionID, VoucherID, BatchID, TableID, VoucherNo, ObjectID, DebitAccountID AS AccountID, CurrencyID, SUM(ISNULL(OriginalAmount, 0)) AS OriginalAmount, 
	SUM(ISNULL(ConvertedAmount, 0)) AS ConvertedAmount, DueDate
	FROM AT9000 WITH (NOLOCK)
	WHERE DivisionID = '''+@DivisionID+''' AND LEFT(DebitAccountID, 3) = ''131'' 
	AND CONVERT(VARCHAR(10), DueDate, 120) <= '''+CONVERT(VARCHAR(10), @Date, 120)+'''
	GROUP BY DivisionID, VoucherID, BatchID, TableID, VoucherNo, ObjectID, DebitAccountID, CurrencyID, DueDate
) AS AT9000
LEFT JOIN (
	SELECT DivisionID, DebitVoucherID AS VoucherID, DebitBatchID AS BatchID, DebitTableID AS TableID, ObjectID, AccountID, CurrencyID, 
	SUM(ISNULL(OriginalAmount, 0)) AS OriginalAmount, SUM(ISNULL(ConvertedAmount, 0)) AS ConvertedAmount
	FROM AT0303 WITH (NOLOCK) 
	WHERE DivisionID = '''+@DivisionID+''' AND LEFT(AccountID, 3) = ''131'' AND GiveUpDate <= '''+CONVERT(VARCHAR(20), @Date, 120)+'''
	GROUP BY DivisionID, DebitVoucherID, DebitBatchID, DebitTableID, ObjectID, AccountID, CurrencyID
) AS AT0404 ON AT9000.VoucherID = AT0404.VoucherID AND AT9000.BatchID = AT0404.BatchID AND AT9000.TableID = AT0404.TableID AND AT9000.ObjectID = AT0404.ObjectID
LEFT JOIN AT1202 A02 WITH(NOLOCK) ON A02.DivisionID IN ('''+@DivisionID+''',''@@@'') AND A02.ObjectID = AT9000.ObjectID
GROUP BY AT9000.VoucherNo, AT9000.ObjectID, AT9000.OriginalAmount, AT0404.OriginalAmount, AT9000.DueDate, A02.ReDays, A02.ObjectName
HAVING ISNULL(AT9000.OriginalAmount, 0) - ISNULL(AT0404.OriginalAmount, 0) > 0 '

IF @Type = 1
BEGIN
	SET @sSQL1 = N'
		SELECT VoucherNo, ObjectID, ObjectName, 0 AS TypeID, OriginalAmount AS ConvertedAmount0, [Date], ReDays 
		FROM #Temp_AP1033
		WHERE [Date] = ISNULL(ReDays,0) 
		UNION ALL
		SELECT VoucherNo, ObjectID, ObjectName, 1 AS TypeID, OriginalAmount AS ConvertedAmount0, [Date], ReDays 
		FROM #Temp_AP1033
		WHERE [Date] > ISNULL(ReDays,0)
		'
END
ELSE
BEGIN
	SET @sSQL1 = N'
		SELECT COUNT(Params) Params, TypeID
		FROM (
		SELECT COUNT(ObjectID) AS Params, 0 AS TypeID 
		FROM #Temp_AP1033
		WHERE [Date] = 0 
		GROUP BY ObjectID
		UNION ALL
		SELECT COUNT(ObjectID) AS Params, 1 AS TypeID 
		FROM #Temp_AP1033
		WHERE [Date] > 0
		GROUP BY ObjectID
		) AS Temp WHERE ISNULL(Params, 0) <> 0
		GROUP BY TypeID'
END

PRINT @sSQL
PRINT @sSQL1
EXEC (@sSQL + @sSQL1)




GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
