IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP1315]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP1315]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----Created by Nguyen Thi Ngoc Minh, Date 18/08/2004
----Bao cao hang ton kho duoi muc toi thieu
----Edit by Nguyen Quoc Huy, Date 25/01/2007
----Edited by: [GS] [Việt Khánh] [29/07/2010] [Hoang Phuoc] [25/10/2010] Them N''
----Edited by: [GS] [Việt Khánh] [29/07/2010] [Hoang Phuoc] [25/10/2010] Them N''
----Modified by Thanh Sơn on 17/07/2014: Lấy dữ liệu từ store, không sinh ra view AV1315
----Modified by Bảo Thy on 27/04/2017: bổ sung in thông tin quy cách
----Modified by Bảo Thy on 08/05/2017: Sửa danh mục dùng chung
----Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.

CREATE PROCEDURE [dbo].[AP1315] 
    @DivisionID NVARCHAR(50), 
    @FromInventoryID NVARCHAR(50), 
    @ToInventoryID NVARCHAR(50), 
    @WareHouseID NVARCHAR(50), 
    @NormID NVARCHAR(50), 
    @ReportDate DATETIME, 
    @IsNormGroup TINYINT, 
    @IsMin TINYINT          --0: Duoi muc toi thieu
                            --1: Duoi muc dat hang lai 
                            --2: Tren muc toi da
AS

DECLARE 
    @sSQL1 VARCHAR(MAX), 
    @sSQL2 VARCHAR(MAX), 
	@sSQL3 VARCHAR(MAX), 
	@sSQL4 VARCHAR(MAX), 
	@sSQL5 VARCHAR(MAX), 
	@sSQL6 VARCHAR(MAX), 
    @sHAVING NVARCHAR(4000), 
    @FromWareHouseID NVARCHAR(50), 
    @ToWareHouseID NVARCHAR(50)

SET @ReportDate = @ReportDate + 1

IF @WareHouseID = '%'
    BEGIN
        SET @FromWareHouseID = (SELECT TOP 1 WareHouseID FROM AT1303 Where DivisionID IN (@DivisionID, '@@@'))
        SET @ToWareHouseID = (SELECT TOP 1 WareHouseID FROM AT1303  Where DivisionID IN (@DivisionID, '@@@') ORDER BY WareHouseID DESC)
    END
ELSE 
    BEGIN
        SET @FromWareHouseID = @WareHouseID
        SET @ToWareHouseID = @WareHouseID
    END

IF @IsMin = 0 
    SET @sHAVING = ' Having AT1314.MinQuantity > SUM(ISNULL(AV7016.BeginQuantity, 0)) '
ELSE IF @IsMin = 1 
    SET @sHAVING = ' Having AT1314.ReOrderQuantity > SUM(ISNULL(AV7016.BeginQuantity, 0)) '
ELSE
    SET @sHAVING = ' Having AT1314.MaxQuantity < SUM(ISNULL(AV7016.BeginQuantity, 0)) '

EXEC AP7016 @DivisionID, '%', '%', @FromInventoryID, @ToInventoryID, '%', 1, 2004, 1, 2004, @ReportDate, @ReportDate, 1, 1

SET @sSQL1 = N'
    SELECT DISTINCT AT1314.InventoryID,AT1302.InventoryName, AT1302.UnitID, AT1309.UnitID AS ConversionUnitID, ISNULL(AT1309.ConversionFactor, 1) AS ConversionFactor, 
	AT1314.NormID, AT1313.Description, ''%'' AS WareHouseID, ''WFML000110'' AS WareHouseName, 
	' + LTRIM(STR(@IsNormGroup)) + ' AS GroupTitle, 
	' + CASE WHEN @IsNormGroup = 0 THEN 'AT1314.NormID' ELSE '''%''' END + ' AS GroupID, 
	' + CASE WHEN @IsNormGroup = 0 THEN 'AT1313.Description' ELSE '''WFML000110''' END + ' AS GroupName, 
	' + CASE WHEN @IsNormGroup = 1 THEN 'AT1314.NormID' ELSE '''%''' END + ' AS DetailID, 
	' + CASE WHEN @IsNormGroup = 1 THEN 'AT1313.Description' ELSE '''WFML000110''' END + ' AS DetailName, 
	' + LTRIM(STR(@IsMin)) + ' AS Compare, SUM(ISNULL(AV7016.BeginQuantity, 0)) AS QuantityOnHand, 
	AT1314.MaxQuantity, AT1314.MinQuantity, AT1314.ReOrderQuantity, AT1314.DivisionID,' + LTRIM(STR(@IsMin)) + ' AS IsMin,
	ISNULL(AT1314.S01ID,'''') AS S01ID, ISNULL(AT1314.S02ID,'''') AS S02ID, ISNULL(AT1314.S03ID,'''') AS S03ID, ISNULL(AT1314.S04ID,'''') AS S04ID, ISNULL(AT1314.S05ID,'''') AS S05ID, 
	ISNULL(AT1314.S06ID,'''') AS S06ID, ISNULL(AT1314.S07ID,'''') AS S07ID, ISNULL(AT1314.S08ID,'''') AS S08ID, ISNULL(AT1314.S09ID,'''') AS S09ID, ISNULL(AT1314.S10ID,'''') AS S10ID,
	ISNULL(AT1314.S11ID,'''') AS S11ID, ISNULL(AT1314.S12ID,'''') AS S12ID, ISNULL(AT1314.S13ID,'''') AS S13ID, ISNULL(AT1314.S14ID,'''') AS S14ID, ISNULL(AT1314.S15ID,'''') AS S15ID, 
	ISNULL(AT1314.S16ID,'''') AS S16ID, ISNULL(AT1314.S17ID,'''') AS S17ID, ISNULL(AT1314.S18ID,'''') AS S18ID, ISNULL(AT1314.S19ID,'''') AS S19ID, ISNULL(AT1314.S20ID,'''') AS S20ID,
	A01.StandardName AS StandardName01, A02.StandardName AS StandardName02, A03.StandardName AS StandardName03, A04.StandardName AS StandardName04, 
	A05.StandardName AS StandardName05, A06.StandardName AS StandardName06, A07.StandardName AS StandardName07, A08.StandardName AS StandardName08, 
	A09.StandardName AS StandardName09, A10.StandardName AS StandardName10, A11.StandardName AS StandardName11, A12.StandardName AS StandardName12,
	A13.StandardName AS StandardName13, A14.StandardName AS StandardName14, A15.StandardName AS StandardName15, A16.StandardName AS StandardName16,
	A17.StandardName AS StandardName17, A18.StandardName AS StandardName18, A19.StandardName AS StandardName19, A20.StandardName AS StandardName20
    FROM AT1314 
	INNER JOIN AV7016 ON AV7016.InventoryID = AT1314.InventoryID
	AND ISNULL(AT1314.S01ID,'''') = Isnull(AV7016.S01ID,'''') AND ISNULL(AT1314.S02ID,'''') = isnull(AV7016.S02ID,'''')
	AND ISNULL(AT1314.S03ID,'''') = isnull(AV7016.S03ID,'''') AND ISNULL(AT1314.S04ID,'''') = isnull(AV7016.S04ID,'''') 
	AND ISNULL(AT1314.S05ID,'''') = isnull(AV7016.S05ID,'''') AND ISNULL(AT1314.S06ID,'''') = isnull(AV7016.S06ID,'''') 
	AND ISNULL(AT1314.S07ID,'''') = isnull(AV7016.S07ID,'''') AND ISNULL(AT1314.S08ID,'''') = isnull(AV7016.S08ID,'''') 
	AND ISNULL(AT1314.S09ID,'''') = isnull(AV7016.S09ID,'''') AND ISNULL(AT1314.S10ID,'''') = isnull(AV7016.S10ID,'''') 
	AND ISNULL(AT1314.S11ID,'''') = isnull(AV7016.S11ID,'''') AND ISNULL(AT1314.S12ID,'''') = isnull(AV7016.S12ID,'''') 
	AND ISNULL(AT1314.S13ID,'''') = isnull(AV7016.S13ID,'''') AND ISNULL(AT1314.S14ID,'''') = isnull(AV7016.S14ID,'''') 
	AND ISNULL(AT1314.S15ID,'''') = isnull(AV7016.S15ID,'''') AND ISNULL(AT1314.S16ID,'''') = isnull(AV7016.S16ID,'''') 
	AND ISNULL(AT1314.S17ID,'''') = isnull(AV7016.S17ID,'''') AND ISNULL(AT1314.S18ID,'''') = isnull(AV7016.S18ID,'''') 
	AND ISNULL(AT1314.S19ID,'''') = isnull(AV7016.S19ID,'''') AND ISNULL(AT1314.S20ID,'''') = isnull(AV7016.S20ID,'''')'
	SET @sSQL2 = '
    LEFT JOIN AT1302 ON AT1302.DivisionID IN (AT1314.DivisionID,''@@@'') AND AT1302.InventoryID = AT1314.InventoryID
    LEFT JOIN AT1313 ON AT1313.NormID = AT1314.NormID
    LEFT JOIN AT1309 ON AT1309.InventoryID = AT1314.InventoryID
	AND ISNULL(AT1314.S01ID,'''') = Isnull(AT1309.S01ID,'''') AND ISNULL(AT1314.S02ID,'''') = isnull(AT1309.S02ID,'''')
	AND ISNULL(AT1314.S03ID,'''') = isnull(AT1309.S03ID,'''') AND ISNULL(AT1314.S04ID,'''') = isnull(AT1309.S04ID,'''') 
	AND ISNULL(AT1314.S05ID,'''') = isnull(AT1309.S05ID,'''') AND ISNULL(AT1314.S06ID,'''') = isnull(AT1309.S06ID,'''') 
	AND ISNULL(AT1314.S07ID,'''') = isnull(AT1309.S07ID,'''') AND ISNULL(AT1314.S08ID,'''') = isnull(AT1309.S08ID,'''') 
	AND ISNULL(AT1314.S09ID,'''') = isnull(AT1309.S09ID,'''') AND ISNULL(AT1314.S10ID,'''') = isnull(AT1309.S10ID,'''') 
	AND ISNULL(AT1314.S11ID,'''') = isnull(AT1309.S11ID,'''') AND ISNULL(AT1314.S12ID,'''') = isnull(AT1309.S12ID,'''') 
	AND ISNULL(AT1314.S13ID,'''') = isnull(AT1309.S13ID,'''') AND ISNULL(AT1314.S14ID,'''') = isnull(AT1309.S14ID,'''') 
	AND ISNULL(AT1314.S15ID,'''') = isnull(AT1309.S15ID,'''') AND ISNULL(AT1314.S16ID,'''') = isnull(AT1309.S16ID,'''') 
	AND ISNULL(AT1314.S17ID,'''') = isnull(AT1309.S17ID,'''') AND ISNULL(AT1314.S18ID,'''') = isnull(AT1309.S18ID,'''') 
	AND ISNULL(AT1314.S19ID,'''') = isnull(AT1309.S19ID,'''') AND ISNULL(AT1314.S20ID,'''') = isnull(AT1309.S20ID,'''')
	LEFT JOIN AT0128 A01 WITH (NOLOCK) ON AT1314.S01ID = A01.StandardID AND A01.StandardTypeID = ''S01''
	LEFT JOIN AT0128 A02 WITH (NOLOCK) ON AT1314.S02ID = A02.StandardID AND A02.StandardTypeID = ''S02''
	LEFT JOIN AT0128 A03 WITH (NOLOCK) ON AT1314.S03ID = A03.StandardID AND A03.StandardTypeID = ''S03''
	LEFT JOIN AT0128 A04 WITH (NOLOCK) ON AT1314.S04ID = A04.StandardID AND A04.StandardTypeID = ''S04''
	LEFT JOIN AT0128 A05 WITH (NOLOCK) ON AT1314.S05ID = A05.StandardID AND A05.StandardTypeID = ''S05''
	LEFT JOIN AT0128 A06 WITH (NOLOCK) ON AT1314.S06ID = A06.StandardID AND A06.StandardTypeID = ''S06''
	LEFT JOIN AT0128 A07 WITH (NOLOCK) ON AT1314.S07ID = A07.StandardID AND A07.StandardTypeID = ''S07''
	LEFT JOIN AT0128 A08 WITH (NOLOCK) ON AT1314.S08ID = A08.StandardID AND A08.StandardTypeID = ''S08''
	LEFT JOIN AT0128 A09 WITH (NOLOCK) ON AT1314.S09ID = A09.StandardID AND A09.StandardTypeID = ''S09''
	LEFT JOIN AT0128 A10 WITH (NOLOCK) ON AT1314.S10ID = A10.StandardID AND A10.StandardTypeID = ''S10'' '
	SET @sSQL3 = '
	LEFT JOIN AT0128 A11 WITH (NOLOCK) ON AT1314.S11ID = A11.StandardID AND A11.StandardTypeID = ''S11''
	LEFT JOIN AT0128 A12 WITH (NOLOCK) ON AT1314.S12ID = A12.StandardID AND A12.StandardTypeID = ''S12''
	LEFT JOIN AT0128 A13 WITH (NOLOCK) ON AT1314.S13ID = A13.StandardID AND A13.StandardTypeID = ''S13''
	LEFT JOIN AT0128 A14 WITH (NOLOCK) ON AT1314.S14ID = A14.StandardID AND A14.StandardTypeID = ''S14''
	LEFT JOIN AT0128 A15 WITH (NOLOCK) ON AT1314.S15ID = A15.StandardID AND A15.StandardTypeID = ''S15''
	LEFT JOIN AT0128 A16 WITH (NOLOCK) ON AT1314.S16ID = A16.StandardID AND A16.StandardTypeID = ''S16''
	LEFT JOIN AT0128 A17 WITH (NOLOCK) ON AT1314.S17ID = A17.StandardID AND A17.StandardTypeID = ''S17''
	LEFT JOIN AT0128 A18 WITH (NOLOCK) ON AT1314.S18ID = A18.StandardID AND A18.StandardTypeID = ''S18''
	LEFT JOIN AT0128 A19 WITH (NOLOCK) ON AT1314.S19ID = A19.StandardID AND A19.StandardTypeID = ''S19''
	LEFT JOIN AT0128 A20 WITH (NOLOCK) ON AT1314.S20ID = A20.StandardID AND A20.StandardTypeID = ''S20''  
    WHERE AT1314.WareHouseID = ''%'' 
        AND AT1314.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' 
        AND AT1314.NormID like N''' + @NormID + ''' 
        AND ISNULL(AV7016.BeginQuantity, 0) <> 0
    GROUP BY AT1314.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1309.UnitID, AT1309.ConversionFactor, AT1314.NormID, AT1313.Description, 
    AT1314.MaxQuantity, AT1314.MinQuantity, AT1314.ReOrderQuantity, AT1314.DivisionID,
	ISNULL(AT1314.S01ID,''''), ISNULL(AT1314.S02ID,''''), ISNULL(AT1314.S03ID,''''), ISNULL(AT1314.S04ID,''''), ISNULL(AT1314.S05ID,''''), 
	ISNULL(AT1314.S06ID,''''), ISNULL(AT1314.S07ID,''''), ISNULL(AT1314.S08ID,''''), ISNULL(AT1314.S09ID,''''), ISNULL(AT1314.S10ID,''''),
	ISNULL(AT1314.S11ID,''''), ISNULL(AT1314.S12ID,''''), ISNULL(AT1314.S13ID,''''), ISNULL(AT1314.S14ID,''''), ISNULL(AT1314.S15ID,''''), 
	ISNULL(AT1314.S16ID,''''), ISNULL(AT1314.S17ID,''''), ISNULL(AT1314.S18ID,''''), ISNULL(AT1314.S19ID,''''), ISNULL(AT1314.S20ID,''''),
    A01.StandardName, A02.StandardName, A03.StandardName, A04.StandardName, A05.StandardName, A06.StandardName, A07.StandardName, A08.StandardName, 
	A09.StandardName, A10.StandardName, A11.StandardName, A12.StandardName,A13.StandardName, A14.StandardName, A15.StandardName, A16.StandardName,
	A17.StandardName, A18.StandardName, A19.StandardName, A20.StandardName '

EXEC AP7016 @DivisionID, @FromWareHouseID, @ToWareHouseID, @FromInventoryID, @ToInventoryID, '%', 1, 2004, 1, 2004, @ReportDate, @ReportDate, 1, 1

SET @sSQL4 = N'
    UNION ALL
    SELECT DISTINCT AT1314.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1309.UnitID AS ConversionUnitID, ISNULL(AT1309.ConversionFactor, 1) AS ConversionFactor, 
	AT1314.NormID, AT1313.Description, ISNULL(AT1314.WareHouseID, AV7016.WareHouseID) AS WareHouseID, AT1303.WareHouseName, 
	' + LTRIM(STR(@IsNormGroup)) + ' AS GroupTitle, 
	' + CASE WHEN @IsNormGroup = 0 THEN 'AT1314.NormID' ELSE 'AT1314.WareHouseID' END + ' AS GroupID, 
	' + CASE WHEN @IsNormGroup = 0 THEN 'AT1313.Description' ELSE 'AT1303.WareHouseName' END + ' AS GroupName, 
	' + CASE WHEN @IsNormGroup = 1 THEN 'AT1314.NormID' ELSE 'AT1314.WareHouseID' END + ' AS DetailID, 
	' + CASE WHEN @IsNormGroup = 1 THEN 'AT1313.Description' ELSE 'AT1303.WareHouseName' END + ' AS DetailName, 
	' + LTRIM(STR(@IsMin)) + ' AS Compare, SUM(ISNULL(AV7016.BeginQuantity, 0)) AS QuantityOnHand, AT1314.MaxQuantity, AT1314.MinQuantity, AT1314.ReOrderQuantity, 
	AT1314.DivisionID,' + LTRIM(STR(@IsMin)) + ' AS IsMin,
	ISNULL(AT1314.S01ID,'''') AS S01ID, ISNULL(AT1314.S02ID,'''') AS S02ID, ISNULL(AT1314.S03ID,'''') AS S03ID, ISNULL(AT1314.S04ID,'''') AS S04ID, ISNULL(AT1314.S05ID,'''') AS S05ID, 
	ISNULL(AT1314.S06ID,'''') AS S06ID, ISNULL(AT1314.S07ID,'''') AS S07ID, ISNULL(AT1314.S08ID,'''') AS S08ID, ISNULL(AT1314.S09ID,'''') AS S09ID, ISNULL(AT1314.S10ID,'''') AS S10ID,
	ISNULL(AT1314.S11ID,'''') AS S11ID, ISNULL(AT1314.S12ID,'''') AS S12ID, ISNULL(AT1314.S13ID,'''') AS S13ID, ISNULL(AT1314.S14ID,'''') AS S14ID, ISNULL(AT1314.S15ID,'''') AS S15ID, 
	ISNULL(AT1314.S16ID,'''') AS S16ID, ISNULL(AT1314.S17ID,'''') AS S17ID, ISNULL(AT1314.S18ID,'''') AS S18ID, ISNULL(AT1314.S19ID,'''') AS S19ID, ISNULL(AT1314.S20ID,'''') AS S20ID,
	A01.StandardName AS StandardName01, A02.StandardName AS StandardName02, A03.StandardName AS StandardName03, A04.StandardName AS StandardName04, 
	A05.StandardName AS StandardName05, A06.StandardName AS StandardName06, A07.StandardName AS StandardName07, A08.StandardName AS StandardName08, 
	A09.StandardName AS StandardName09, A10.StandardName AS StandardName10, A11.StandardName AS StandardName11, A12.StandardName AS StandardName12,
	A13.StandardName AS StandardName13, A14.StandardName AS StandardName14, A15.StandardName AS StandardName15, A16.StandardName AS StandardName16,
	A17.StandardName AS StandardName17, A18.StandardName AS StandardName18, A19.StandardName AS StandardName19, A20.StandardName AS StandardName20
    FROM AT1314 
	INNER JOIN AV7016 ON AV7016.InventoryID = AT1314.InventoryID AND AV7016.WareHouseID = AT1314.WareHouseID
	AND ISNULL(AT1314.S01ID,'''') = Isnull(AV7016.S01ID,'''') AND ISNULL(AT1314.S02ID,'''') = isnull(AV7016.S02ID,'''')
	AND ISNULL(AT1314.S03ID,'''') = isnull(AV7016.S03ID,'''') AND ISNULL(AT1314.S04ID,'''') = isnull(AV7016.S04ID,'''') 
	AND ISNULL(AT1314.S05ID,'''') = isnull(AV7016.S05ID,'''') AND ISNULL(AT1314.S06ID,'''') = isnull(AV7016.S06ID,'''') 
	AND ISNULL(AT1314.S07ID,'''') = isnull(AV7016.S07ID,'''') AND ISNULL(AT1314.S08ID,'''') = isnull(AV7016.S08ID,'''') 
	AND ISNULL(AT1314.S09ID,'''') = isnull(AV7016.S09ID,'''') AND ISNULL(AT1314.S10ID,'''') = isnull(AV7016.S10ID,'''') 
	AND ISNULL(AT1314.S11ID,'''') = isnull(AV7016.S11ID,'''') AND ISNULL(AT1314.S12ID,'''') = isnull(AV7016.S12ID,'''') 
	AND ISNULL(AT1314.S13ID,'''') = isnull(AV7016.S13ID,'''') AND ISNULL(AT1314.S14ID,'''') = isnull(AV7016.S14ID,'''') 
	AND ISNULL(AT1314.S15ID,'''') = isnull(AV7016.S15ID,'''') AND ISNULL(AT1314.S16ID,'''') = isnull(AV7016.S16ID,'''') 
	AND ISNULL(AT1314.S17ID,'''') = isnull(AV7016.S17ID,'''') AND ISNULL(AT1314.S18ID,'''') = isnull(AV7016.S18ID,'''') 
	AND ISNULL(AT1314.S19ID,'''') = isnull(AV7016.S19ID,'''') AND ISNULL(AT1314.S20ID,'''') = isnull(AV7016.S20ID,'''')'
SET @sSQL5 = N'
    LEFT JOIN AT1302 ON AT1302.DivisionID IN (AT1314.DivisionID,''@@@'') AND AT1302.InventoryID = AT1314.InventoryID    LEFT JOIN AT1303 ON AT1303.DivisionID IN (''' + @DivisionID + ''',''@@@'') AND AT1303.WareHouseID = AT1314.WareHouseID
    LEFT JOIN AT1313 ON AT1313.NormID = AT1314.NormID
    LEFT JOIN AT1309 ON AT1309.InventoryID = AT1314.InventoryID
	AND ISNULL(AT1314.S01ID,'''') = Isnull(AT1309.S01ID,'''') AND ISNULL(AT1314.S02ID,'''') = isnull(AT1309.S02ID,'''')
	AND ISNULL(AT1314.S03ID,'''') = isnull(AT1309.S03ID,'''') AND ISNULL(AT1314.S04ID,'''') = isnull(AT1309.S04ID,'''') 
	AND ISNULL(AT1314.S05ID,'''') = isnull(AT1309.S05ID,'''') AND ISNULL(AT1314.S06ID,'''') = isnull(AT1309.S06ID,'''') 
	AND ISNULL(AT1314.S07ID,'''') = isnull(AT1309.S07ID,'''') AND ISNULL(AT1314.S08ID,'''') = isnull(AT1309.S08ID,'''') 
	AND ISNULL(AT1314.S09ID,'''') = isnull(AT1309.S09ID,'''') AND ISNULL(AT1314.S10ID,'''') = isnull(AT1309.S10ID,'''') 
	AND ISNULL(AT1314.S11ID,'''') = isnull(AT1309.S11ID,'''') AND ISNULL(AT1314.S12ID,'''') = isnull(AT1309.S12ID,'''') 
	AND ISNULL(AT1314.S13ID,'''') = isnull(AT1309.S13ID,'''') AND ISNULL(AT1314.S14ID,'''') = isnull(AT1309.S14ID,'''') 
	AND ISNULL(AT1314.S15ID,'''') = isnull(AT1309.S15ID,'''') AND ISNULL(AT1314.S16ID,'''') = isnull(AT1309.S16ID,'''') 
	AND ISNULL(AT1314.S17ID,'''') = isnull(AT1309.S17ID,'''') AND ISNULL(AT1314.S18ID,'''') = isnull(AT1309.S18ID,'''') 
	AND ISNULL(AT1314.S19ID,'''') = isnull(AT1309.S19ID,'''') AND ISNULL(AT1314.S20ID,'''') = isnull(AT1309.S20ID,'''')
	LEFT JOIN AT0128 A01 WITH (NOLOCK) ON AT1314.S01ID = A01.StandardID AND A01.StandardTypeID = ''S01''
	LEFT JOIN AT0128 A02 WITH (NOLOCK) ON AT1314.S02ID = A02.StandardID AND A02.StandardTypeID = ''S02''
	LEFT JOIN AT0128 A03 WITH (NOLOCK) ON AT1314.S03ID = A03.StandardID AND A03.StandardTypeID = ''S03''
	LEFT JOIN AT0128 A04 WITH (NOLOCK) ON AT1314.S04ID = A04.StandardID AND A04.StandardTypeID = ''S04''
	LEFT JOIN AT0128 A05 WITH (NOLOCK) ON AT1314.S05ID = A05.StandardID AND A05.StandardTypeID = ''S05''
	LEFT JOIN AT0128 A06 WITH (NOLOCK) ON AT1314.S06ID = A06.StandardID AND A06.StandardTypeID = ''S06''
	LEFT JOIN AT0128 A07 WITH (NOLOCK) ON AT1314.S07ID = A07.StandardID AND A07.StandardTypeID = ''S07''
	LEFT JOIN AT0128 A08 WITH (NOLOCK) ON AT1314.S08ID = A08.StandardID AND A08.StandardTypeID = ''S08''
	LEFT JOIN AT0128 A09 WITH (NOLOCK) ON AT1314.S09ID = A09.StandardID AND A09.StandardTypeID = ''S09''
	LEFT JOIN AT0128 A10 WITH (NOLOCK) ON AT1314.S10ID = A10.StandardID AND A10.StandardTypeID = ''S10'' '
SET @sSQL6 = N'
	LEFT JOIN AT0128 A11 WITH (NOLOCK) ON AT1314.S11ID = A11.StandardID AND A11.StandardTypeID = ''S11''
	LEFT JOIN AT0128 A12 WITH (NOLOCK) ON AT1314.S12ID = A12.StandardID AND A12.StandardTypeID = ''S12''
	LEFT JOIN AT0128 A13 WITH (NOLOCK) ON AT1314.S13ID = A13.StandardID AND A13.StandardTypeID = ''S13''
	LEFT JOIN AT0128 A14 WITH (NOLOCK) ON AT1314.S14ID = A14.StandardID AND A14.StandardTypeID = ''S14''
	LEFT JOIN AT0128 A15 WITH (NOLOCK) ON AT1314.S15ID = A15.StandardID AND A15.StandardTypeID = ''S15''
	LEFT JOIN AT0128 A16 WITH (NOLOCK) ON AT1314.S16ID = A16.StandardID AND A16.StandardTypeID = ''S16''
	LEFT JOIN AT0128 A17 WITH (NOLOCK) ON AT1314.S17ID = A17.StandardID AND A17.StandardTypeID = ''S17''
	LEFT JOIN AT0128 A18 WITH (NOLOCK) ON AT1314.S18ID = A18.StandardID AND A18.StandardTypeID = ''S18''
	LEFT JOIN AT0128 A19 WITH (NOLOCK) ON AT1314.S19ID = A19.StandardID AND A19.StandardTypeID = ''S19''
	LEFT JOIN AT0128 A20 WITH (NOLOCK) ON AT1314.S20ID = A20.StandardID AND A20.StandardTypeID = ''S20'' 
    WHERE AT1314.WareHouseID <> ''%'' 
        AND AT1314.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' 
        AND AT1314.NormID like N''' + @NormID + ''' 
        AND ISNULL(AV7016.BeginQuantity, 0) <> 0
    GROUP BY AT1314.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1309.UnitID, AT1309.ConversionFactor, AT1314.WareHouseID, AV7016.WareHouseID, AT1303.WareHouseName, 
	AV7016.WareHouseName, AT1314.NormID, AT1313.Description, AT1314.MaxQuantity, AT1314.MinQuantity, AT1314.ReOrderQuantity,AT1314.DivisionID,
	ISNULL(AT1314.S01ID,''''), ISNULL(AT1314.S02ID,''''), ISNULL(AT1314.S03ID,''''), ISNULL(AT1314.S04ID,''''), ISNULL(AT1314.S05ID,''''), 
	ISNULL(AT1314.S06ID,''''), ISNULL(AT1314.S07ID,''''), ISNULL(AT1314.S08ID,''''), ISNULL(AT1314.S09ID,''''), ISNULL(AT1314.S10ID,''''),
	ISNULL(AT1314.S11ID,''''), ISNULL(AT1314.S12ID,''''), ISNULL(AT1314.S13ID,''''), ISNULL(AT1314.S14ID,''''), ISNULL(AT1314.S15ID,''''), 
	ISNULL(AT1314.S16ID,''''), ISNULL(AT1314.S17ID,''''), ISNULL(AT1314.S18ID,''''), ISNULL(AT1314.S19ID,''''), ISNULL(AT1314.S20ID,''''),
    A01.StandardName, A02.StandardName, A03.StandardName, A04.StandardName, A05.StandardName, A06.StandardName, A07.StandardName, A08.StandardName, 
	A09.StandardName, A10.StandardName, A11.StandardName, A12.StandardName,A13.StandardName, A14.StandardName, A15.StandardName, A16.StandardName,
	A17.StandardName, A18.StandardName, A19.StandardName, A20.StandardName'

EXEC (@sSQL1 + @sSQL2 + @sSQL3 + @sHAVING + @sSQL4 + @sSQL5 + @sSQL6 + @sHAVING)

--PRINT(@sSQL1)
--PRINT(@sSQL2)
--PRINT(@sSQL3)
--PRINT(@sHAVING)
--PRINT(@sSQL4)
--PRINT(@sSQL5)
--PRINT(@sSQL6)
--PRINT(@sHAVING)
--PRINT @sSQL
--IF NOT EXISTS (SELECT 1 FROM sysObjects WHERE Name = 'AV1315')
--    EXEC ('--Created by AP1315
--        CREATE VIEW AV1315 AS ' + @sSQL1 + @sHAVING + @sSQL2 + @sHAVING)
--ELSE
--    EXEC('--Created by AP1315
--        ALTER VIEW AV1315 AS ' + )

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
