IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP1410_FL]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP1410_FL]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



/********************************************
'* Edited by: [GS] [Việt Khánh] [29/07/2010]
--Update by: Mai Duyên,Date 04/06/2014. sửa lại order by theo CreateDate, bỏ TransactionID (KH KingCom)
--Update by: Mai Duyên,Date 10/06/2014. Bo sung order by theo VoucherDate (KH KingCom)
--Update by: Bảo Anh,Date 26/05/2015. Không order by theo CreateDate nếu không phải KH KingCom
--Update by Tiểu Mai, Date 18/08/2015. Bổ sung đơn giá quy đổi = đơn giá chuẩn
--Update by: Bảo Anh,Date 10/11/2015. Sửa lỗi không tồn tại bảng tạm #AT2007_Tmp
--Update by: Bảo Anh,Date 02/02/2016. Order by thêm theo CreateDate khi tính giá cho Figla, không làm tròn tiền và số lượng trước khi tính đơn giá
--Update by: Bảo Anh,Date 15/02/2016. Sửa lại thành store customize cho FIGLA (do Figla chuyển kho lòng vòng nhưng có xuất âm)
--Update by: Bảo Anh,Date 15/04/2016. Cải tiến tốc độ
--Update by: Bảo Anh,Date 15/08/2018. Không update giá cho các phiếu có loại chứng từ XCM
--Update by: Nhựt Trường,Date 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
'********************************************/

CREATE PROCEDURE  [dbo].[AP1410_FL]
    @DivisionID NVARCHAR(50), 
    @TranMonth INT, 
    @TranYear INT, 
    @QuantityDecimals TINYINT, 
    @UnitCostDecimals TINYINT, 
    @ConvertedDecimals TINYINT, 
    @FromInventoryID NVARCHAR(50), 
    @ToInventoryID NVARCHAR(50), 
    @FromWareHouseID NVARCHAR(50), 
    @ToWareHouseID NVARCHAR(50), 
    @FromAccountID NVARCHAR(50), 
    @ToAccountID NVARCHAR(50)
AS

DECLARE
    @WareHouseID NVARCHAR(50), 
    @InventoryID NVARCHAR(50), 
    @AccountID NVARCHAR(50), 
    @TransactionID NVARCHAR(50), 
    @Indexs INT, 
    @VoucherID NVARCHAR(50), 
    @VoucherDate DATETIME, 
    @BeginQty DECIMAL(28, 8), 
    @BeginAmount DECIMAL(28, 8), 
    @DebitQty DECIMAL(28, 8), 
    @DebitAmount DECIMAL(28, 8), 
    @CreditQty DECIMAL(28, 8), 
    @CreditAmount DECIMAL(28, 8), 
    @UnitPrice DECIMAL(28, 8),
    @cur CURSOR,
	@SQL nvarchar(max),
	@VoucherTypeID NVARCHAR(50)
    
SET @SQL = ''   
    
SELECT T6.DivisionID, 
	T6.KindVoucherID, 
	T6.WareHouseID, 
	T6.WareHouseID2, 
	T7.InventoryID, 
	T7.ActualQuantity, 
	T7.OriginalAmount, 
	T7.DebitAccountID, 
	T7.CreditAccountID, 
	T6.VoucherID, 
	T6.VoucherDate, 
	T7.TransactionID, 
	CASE WHEN T6.KindVoucherID IN (1, 5, 7, 9) THEN 1
		WHEN T6.KindVoucherID = 3 THEN 2
		ELSE 3
	END AS Orders ,
	T6.CreateDate,
	T6.VoucherTypeID
INTO #AT2007_Tmp1 
FROM AT2006 T6 with(nolock), 
	AT2007 T7 with(nolock)
WHERE T6.VoucherID = T7.VoucherID
	AND T6.DivisionID = T7.DivisionID
	AND T6.DivisionID = @DivisionID
	AND T6.TranMonth = @TranMonth
	AND T6.TranYear = @TranYear
	AND T7.InventoryID IN (SELECT InventoryID FROM AT1302 WHERE DivisionID in (T7.DivisionID,'@@@') AND MethodID = 5)


--CREATE TABLE #AT2007_Tmp (
--	DivisionID		nvarchar (50),
--	KindVoucherID		int,
--	WareHouseID		nvarchar (50),
--[WareHouseID2]		nvarchar (50),
--InventoryID		nvarchar (50),
--ActualQuantity		decimal(28, 8),
--OriginalAmount		decimal(28, 8),
--DebitAccountID		nvarchar (50),
--CreditAccountID		nvarchar (50),
--VoucherID		nvarchar (50),
--VoucherDate		datetime,
--TransactionID		nvarchar (50),
--Orders		int,
--CreateDate		datetime )

SELECT TOP 0 * INTO #AT2007_Tmp FROM #AT2007_Tmp1
ALTER TABLE #AT2007_Tmp ADD Indexs INT NULL

	
SET @SQL = 'INSERT INTO #AT2007_Tmp (DivisionID, KindVoucherID, WareHouseID, WareHouseID2, InventoryID,
ActualQuantity, OriginalAmount, DebitAccountID, CreditAccountID, VoucherID, VoucherDate, TransactionID, Orders, Indexs, VoucherTypeID)
SELECT DivisionID, KindVoucherID, WareHouseID, WareHouseID2, InventoryID,
		ActualQuantity, OriginalAmount, DebitAccountID, CreditAccountID, VoucherID, VoucherDate, TransactionID, Orders, 
		ROW_NUMBER() over (order by Orders, VoucherDate, CreateDate) AS Indexs,
		VoucherTypeID
FROM #AT2007_Tmp1
ORDER BY Orders, VoucherDate, 
		CreateDate
		'
	
EXEC(@SQL)

DROP TABLE #AT2007_Tmp1

SET @cur = CURSOR STATIC FOR
SELECT VoucherID, 
	VoucherDate, 
	TransactionID, 
	CASE WHEN KindVoucherID = 3 THEN WarehouseID2 
		ELSE WarehouseID 
	END AS WarehouseID, 
	InventoryID, 
	CreditAccountID, 
	Indexs,
	VoucherTypeID
FROM #AT2007_Tmp
WHERE KindVoucherID IN (2, 3, 4, 6, 8, 10)
AND InventoryID BETWEEN @FromInventoryID AND @ToInventoryID
AND (CASE WHEN KindVoucherID = 3 THEN WarehouseID2 ELSE WarehouseID END) BETWEEN @FromWareHouseID AND @ToWareHouseID
AND CreditAccountID BETWEEN @FromAccountID AND @ToAccountID 
ORDER BY Indexs

OPEN @Cur

FETCH NEXT FROM @Cur INTO @VoucherID, @VoucherDate, @TransactionID, @WarehouseID, @InventoryID, @AccountID, @Indexs, @VoucherTypeID
WHILE @@Fetch_Status = 0
BEGIN
	SELECT ---@BeginQty = ROUND(BeginQuantity, @QuantityDecimals), 
		---@BeginAmount = ROUND(BeginAmount, @ConvertedDecimals)
		@BeginQty = BeginQuantity, 
		@BeginAmount = BeginAmount 
	FROM At2008
	WHERE DivisionID = @DivisionID
		AND TranMonth = @TranMonth
		AND TranYear = @TranYear
		AND WarehouseID = @WarehouseID
		AND InventoryID = @InventoryID 
		AND InventoryAccountID = @AccountID

	SELECT ---@DebitQty = ROUND(ISNULL(SUM(ISNULL(ActualQuantity, 0)), 0), @QuantityDecimals), 
		---@DebitAmount = ROUND(ISNULL(SUM(ISNULL(OriginalAmount, 0)), 0), @ConvertedDecimals)
		@DebitQty = ISNULL(SUM(ISNULL(ActualQuantity, 0)), 0), 
		@DebitAmount = ISNULL(SUM(ISNULL(OriginalAmount, 0)), 0)
	FROM #AT2007_Tmp
	WHERE KindVoucherID IN (1, 3, 5, 7, 9)
		AND WareHouseID = @WarehouseID
		AND InventoryID = @InventoryID
		AND DebitAccountID = @AccountID
		--AND VoucherDate < = @VoucherDate
		AND Indexs < @Indexs

	SELECT ---@CreditQty = ROUND(ISNULL(SUM(ISNULL(ActualQuantity, 0)), 0), @QuantityDecimals), 
		---@CreditAmount = ROUND(ISNULL(SUM(ISNULL(OriginalAmount, 0)), 0), @ConvertedDecimals)
		@CreditQty = ISNULL(SUM(ISNULL(ActualQuantity, 0)), 0), 
		@CreditAmount = ISNULL(SUM(ISNULL(OriginalAmount, 0)), 0)
	FROM #AT2007_Tmp
	WHERE KindVoucherID IN (2, 3, 4, 6, 8, 10)
		AND @WarehouseID = (CASE WHEN KindVoucherID = 3 THEN WareHouseID2 ELSE WarehouseID END)
		AND InventoryID = @InventoryID
		AND CreditAccountID = @AccountID
		--AND VoucherDate < = @VoucherDate
		AND Indexs < @Indexs

		--select 'table', * from #AT2007_Tmp where InventoryID = 'ABS-17AB2-0488A'

		--select @TransactionID, @BeginQty, @BeginAmount, @DebitQty, @DebitAmount, @CreditQty, @CreditAmount, ROUND(((@BeginAmount + @DebitAmount - @CreditAmount)/(@BeginQty + @DebitQty - @CreditQty)), @UnitCostDecimals)

	IF @VoucherTypeID <> 'XCM'
	BEGIN
		IF @BeginQty + @DebitQty - @CreditQty <> 0
				BEGIN
						SET @UnitPrice = ROUND(((@BeginAmount + @DebitAmount - @CreditAmount)/(@BeginQty + @DebitQty - @CreditQty)), @UnitCostDecimals)
	                
						UPDATE AT2007 with(rowlock) 
						SET UnitPrice = @UnitPrice,
							ConvertedPrice =  @UnitPrice,
							OriginalAmount = ROUND((@UnitPrice * ROUND(ActualQuantity, @QuantityDecimals)), @ConvertedDecimals), 
							ConvertedAmount = ROUND((@UnitPrice * ROUND(ActualQuantity, @QuantityDecimals)), @ConvertedDecimals) 
						WHERE VoucherID = @VoucherID 
							AND TransactionID = @TransactionID
							AND DivisionID = @DivisionID

						UPDATE #AT2007_Tmp
						SET OriginalAmount = @UnitPrice * ActualQuantity
						WHERE VoucherID = @VoucherID 
							AND TransactionID = @TransactionID
				END
		ELSE
				BEGIN
						SET @UnitPrice = 0
						UPDATE AT2007 with(rowlock)
						SET UnitPrice = @UnitPrice,
							ConvertedPrice =  @UnitPrice, 
							OriginalAmount = 0, 
							ConvertedAmount = 0 
						WHERE VoucherID = @VoucherID 
							AND TransactionID = @TransactionID
							AND DivisionID = @DivisionID

						UPDATE #AT2007_Tmp
						SET OriginalAmount = 0
						WHERE VoucherID = @VoucherID 
							AND TransactionID = @TransactionID
				END
	END
	FETCH NEXT FROM @Cur INTO @VoucherID, @VoucherDate, @TransactionID, @WarehouseID, @InventoryID, @AccountID, @Indexs, @VoucherTypeID
END
DROP TABLE #AT2007_Tmp

Close @Cur
Deallocate @Cur


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
