IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP1502]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP1502]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


------ Created by Hoang Thi Lan, 
----- Created Date 04/10/2003.
----- Last Updated by Nguyen Van Nhan, Date 06/10/2003
----- Purpose: List ra cac but toan cua tai san, phuc vu cau SQL Edit Du lieu len Form "Sua but toan khau hao"
---- Modified by Hải Long on 18/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Kim Thư on 13/05/2019: Sửa điều kiện where DivisionID
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---- Modified by Đình Định on 15/09/2023: SIEUTHANH - Lấy cột nguyên giá từ bảng AT1506 thay vì bảng gốc AT1503.

/********************************************
'* Edited by: [GS] [Việt Khánh] [29/07/2010]
'********************************************/

CREATE PROCEDURE [dbo].[AP1502] 
    @AssetID NVARCHAR(50), 
    @DivisionID NVARCHAR(50), 
    @TranMonth INT, 
    @TranYear INT
AS

DECLARE @sSQL NVARCHAR(MAX),
	    @MonthYearText NVARCHAR(10)

SET @MonthYearText = STR(@TranMonth + @TranYear * 100)

SET @sSQL = '
SELECT 
    AT1503.AssetID, 
    AT1503.AssetName, 
    AT1506.ConvertedNewAmount AS ConvertedAmount,
    AT1503.DepPercent, 
    AT1102.DepartmentName, 
    AT1504.VoucherDate, 
    AT1504.VoucherTypeID, 
    AT1504.VoucherNo, 
    AT1504.DebitAccountID, 
    AT1504.CreditAccountID, 
    AT1504.DepAmount, 
    AT1504.ObjectID, 
    AT1202.ObjectName, 
    AT1504.SourceID, 
    AT1504.BDescription, 
    AT1504.Ana01ID, 
    AT1504.Ana02ID, 
    AT1504.Ana03ID, 
    AT1504.Ana04ID, 
    AT1504.Ana05ID, 
    AT1504.Ana06ID, 
    AT1504.Ana07ID, 
    AT1504.Ana08ID, 
    AT1504.Ana09ID, 
    AT1504.Ana10ID, 
    AT1504.Status, 
    AT1504.DepreciationID, 
    AT1504.DivisionID,
    AT1506.ResidualNewValue 
    - ISNULL((SELECT SUM(DepAmount) FROM AT1504 WITH (NOLOCK)
                WHERE AssetID = ''' + @AssetID + '''
                    AND DivisionID IN (''' + @DivisionID + ''')
                    AND TranMonth + TranYear * 100 < ' + @MonthYearText + '
                ), 0) AS RemainAmount
FROM AT1504 WITH (NOLOCK)
    LEFT JOIN AT1506 WITH (NOLOCK) ON AT1506.DivisionID = AT1504.DivisionID AND AT1506.AssetID = AT1504.AssetID 
    LEFT JOIN AT1503 WITH (NOLOCK) ON AT1503.DivisionID = AT1504.DivisionID AND AT1503.AssetID = AT1504.AssetID 
    LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT1504.ObjectID 
    LEFT JOIN AT1102 WITH (NOLOCK) ON AT1503.DepartmentID = AT1102.DepartmentID 
WHERE AT1504.DivisionID IN (''' + @DivisionID + ''') 
	AND	AT1504.AssetID = ''' + @AssetID + '''
    AND AT1503.AssetStatus = 0         
    AND AT1504.TranMonth + AT1504.TranYear * 100 = ' + @MonthYearText + '
   --AND AT1503.BeginMonth + AT1503.BeginYear * 100 < = ' + @MonthYearText + '
'

--PRINT @sSQl

IF NOT EXISTS (SELECT TOP 1 1 FROM SysObjects WHERE name = 'AV1502' AND Xtype = 'V')
    EXEC ('CREATE VIEW AV1502 -- Tạo bởi AP1502
            AS ' + @sSQL)
ELSE
    EXEC ('ALTER VIEW AV1502 -- Tạo bởi AP1502
            AS ' + @sSQL)
            
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO