IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP1522]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP1522]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Creater :Nguyen Thi Thuy Tuyen.
---Creadate:21/07/2006
-- Puppose :Lay du lieu in bao cao but toan ket chuyen   !
----- Edit by B.Anh, Date 21/04/2008, Purpose: Lay them truong ObjectID
----- Modified by Bảo Thy on 27/05/2016: Bổ sung WITH (NOLOCK)
----- Modified by Bảo Thy on 24/05/2017: Sửa danh mục dùng chung
/********************************************
'* Edited by: [GS] [Ngọc Nhựt] [29/07/2010]
'********************************************/

CREATE PROCEDURE [dbo].[AP1522]  
				@DivisionID nvarchar(50),
				@TranMonth int,
				@TranYear int
				
				
AS
Declare @sSQL nvarchar(4000)
Set @sSQL = ' 
SELECT  VoucherTypeID,
	VoucherNo,
	VoucherDate,
	DebitAccountID,
	T01.AccountName as DebitAccountName,
	CreditAccountID,
	T02.AccountName as CreditAccountName,
	ObjectID,
	CurrencyID,
	ExchangeRate,
	OriginalAmount,
	ConvertedAmount,
	VDescription,
	AT9000.DivisionID
From AT9000  WITH (NOLOCK)
	Inner Join AT1005 T01 WITH (NOLOCK) on T01.AccountID = AT9000.DebitAccountID
	Inner Join AT1005 T02 WITH (NOLOCK) on T02.AccountID = AT9000.CreditAccountID
Where   TransactionTypeID =''T98'' 
	and AT9000.DivisionID = ''' + @DivisionID + ''' 
	and TranMonth = '+str(@TranMonth)+' 
	and	TranYear = '+str(@TranYear)+' 
'
--Print @sSQL
If not Exists (Select 1 From  sysObjects WITH (NOLOCK) Where Xtype ='V' and Name ='AV1522')
	Exec(' Create view AV1522 as '+ @sSQL )
Else
	Exec(' Alter view AV1522 as '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
