IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP1525]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP1525]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


--Creater BY :Nguyen Quoc Huy.
---Creadate:20/03/2007
-- Puppose :Lay du lieu cho man thay doi nguyen gia TSCD
-- Last Edit : Thuy Tuyen 14/07/2008
-- Last Edit : Huỳnh Thử 04/09/2020 -- Thay đổi cách tính khấu hao lũy kế
-- Last Edit : Văn Tài	 09/08/2021 -- Loại bỏ điều kiện MEIKO.


/********************************************
'* Edited BY: [GS] [Ngọc Nhựt] [29/07/2010]
'********************************************/
-- Modified by Tiểu Mai on 10/02/2017: Chỉnh sửa cho Meiko & Angel không dùng theo chuẩn
-- Modified by Kiều Nga on 26/10/2023: [2023/10/IS/0223] Xử lý chỉ lấy giá trị depmonths từ AT1503 (customize MEIKO)

CREATE PROCEDURE [dbo].[AP1525] 
    @DivisionID NVARCHAR(50), 
    @TranMonth INT, 
    @TranYear INT 
AS

DECLARE 
    @sSQL NVARCHAR(MAX), 
    @sSQL0 NVARCHAR(MAX),
    @sSQL1 NVARCHAR(MAX),
    @TranMonthYearText NVARCHAR(8),
    @CustomerName INT 
    
IF EXISTS (SELECT *	FROM tempdb.dbo.sysobjects WHERE ID = OBJECT_ID(N'tempdb.dbo.#CustomerName')) 
	DROP TABLE #CustomerName
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444

SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

SET @TranMonthYearText = STR((@TranYear * 100) + @TranMonth, 6)

SET @sSQL = ' 
SELECT 

(CASE WHEN EXISTS (
        SELECT TOP 1 AssetID 
        FROM AT1506 
        WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
            AND AT1506.TranMonth + 100 * AT1506.TranYear <= ' + @TranMonthYearText + '
        )
    THEN (
        SELECT TOP 1 AT1506.ConvertedNewAmount 
        FROM AT1506 
        WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
            AND AT1506.TranMonth + 100 * AT1506.TranYear <= ' + @TranMonthYearText + '
        ORDER BY AT1506.TranYear DESC, AT1506.TranMonth DESC
        )
    ELSE AT1503.ConvertedAmount END) AS ConvertedAmount, 
	-- Thay đổi cách tính khấu hao lũy kế. Lấy thông tin thay đổi nguyên giá của kỳ gần nhất nếu tồn tại.
(CASE WHEN
			EXISTS (
			SELECT TOP 1 AssetID 
			FROM AT1506 
			WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
				AND AT1506.TranMonth + 100 * AT1506.TranYear < ' + @TranMonthYearText + '
			) 
		THEN  
			-- Giá trị nguyên giá mới
			(SELECT TOP 1 ConvertedNewAmount 
			FROM AT1506 
			WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
			AND AT1506.TranMonth + 100 * AT1506.TranYear < ' + @TranMonthYearText + '
			ORDER BY AT1506.TranMonth + 100 * AT1506.TranYear DESC)
			 - 
			 -- Giá trị còn lại mới
			(SELECT TOP 1 ResidualNewValue 
			FROM AT1506 
			WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
			AND AT1506.TranMonth + 100 * AT1506.TranYear < ' + @TranMonthYearText + '
			ORDER BY AT1506.TranMonth + 100 * AT1506.TranYear DESC) 
			+ 
			-- Tính từ kỳ thay đổi nguyên giá gần nhất tới kỳ hiện tại
			 (SELECT ISNULL(SUM(DepAmount), 0) FROM AT1504  
			 WHERE AT1504.DivisionID = AT1503.DivisionID AND AT1504.AssetID = AT1503.AssetID
			 AND AT1504.TranMonth + 100 * AT1504.TranYear BETWEEN (SELECT TOP 1 Tranmonth + 100 * Tranyear 
																	FROM AT1506 
																	WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
																		AND AT1506.TranMonth + 100 * AT1506.TranYear < ' + @TranMonthYearText + '
																		ORDER BY AT1506.TranMonth + 100 * AT1506.TranYear DESC)
																		AND ' + @TranMonthYearText + ')
																		ELSE 
																		 ISNULL(AT1503.ConvertedAmount, 0) 
-  ISNULL(AT1503.ResidualValue, 0) + (SELECT ISNULL(SUM(DepAmount), 0) FROM AT1504 
    WHERE AT1504.DivisionID = AT1503.DivisionID AND AT1504.AssetID = AT1503.AssetID)
																		END)
 AS AccuDepAmount, '
 SET @sSQL0 =
 N'
 (CASE WHEN EXISTS (
        SELECT TOP 1 AssetID 
        FROM AT1506 
        WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
            AND AT1506.TranMonth + 100 * AT1506.TranYear <= ' + @TranMonthYearText + '
        )
    THEN (
        SELECT TOP 1 AT1506.ConvertedNewAmount 
        FROM AT1506 
        WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
            AND AT1506.TranMonth + 100 * AT1506.TranYear <= ' + @TranMonthYearText + '
        ORDER BY AT1506.TranYear DESC, AT1506.TranMonth DESC
        )
    ELSE AT1503.ConvertedAmount END) 
	- 
	-- Thay đổi cách tính khấu hao lũy kế. Lấy thông tin thay đổi nguyên giá của kỳ gần nhất nếu tồn tại.
(CASE WHEN
			EXISTS (
			SELECT TOP 1 AssetID 
			FROM AT1506 
			WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
				AND AT1506.TranMonth + 100 * AT1506.TranYear < ' + @TranMonthYearText + '
			) 
		THEN  
			-- Giá trị nguyên giá mới
			(SELECT TOP 1 ConvertedNewAmount 
			FROM AT1506 
			WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
			AND AT1506.TranMonth + 100 * AT1506.TranYear < ' + @TranMonthYearText + '
			ORDER BY AT1506.TranMonth + 100 * AT1506.TranYear DESC)
			 - 
			 -- Giá trị còn lại mới
			(SELECT TOP 1 ResidualNewValue 
			FROM AT1506 
			WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
			AND AT1506.TranMonth + 100 * AT1506.TranYear < ' + @TranMonthYearText + '
			ORDER BY AT1506.TranMonth + 100 * AT1506.TranYear DESC) 
			+ 
			-- Tính từ kỳ thay đổi nguyên giá gần nhất tới kỳ hiện tại
			 (SELECT ISNULL(SUM(DepAmount), 0) FROM AT1504  
			 WHERE AT1504.DivisionID = AT1503.DivisionID AND AT1504.AssetID = AT1503.AssetID
			 AND AT1504.TranMonth + 100 * AT1504.TranYear BETWEEN (SELECT TOP 1 Tranmonth + 100 * Tranyear 
																	FROM AT1506 
																	WHERE AT1506.DivisionID = AT1503.DivisionID AND AT1506.AssetID = AT1503.AssetID 
																		AND AT1506.TranMonth + 100 * AT1506.TranYear < ' + @TranMonthYearText + '
																		ORDER BY AT1506.TranMonth + 100 * AT1506.TranYear DESC)
																		AND ' + @TranMonthYearText + ')
																		ELSE 
																		 ISNULL(AT1503.ConvertedAmount, 0) 
-  ISNULL(AT1503.ResidualValue, 0) + (SELECT ISNULL(SUM(DepAmount), 0) FROM AT1504 
    WHERE AT1504.DivisionID = AT1503.DivisionID AND AT1504.AssetID = AT1503.AssetID)
																		END)

 AS ResidualNewValue, 

(CASE WHEN EXISTS (
        SELECT TOP 1 AssetID 
        FROM AT1506 
        WHERE AT1506.DivisionID = AT1503.DivisionID
            AND AT1506.AssetID = AT1503.AssetID 
            AND AT1506.TranMonth + 100 * AT1506.TranYear <= ' + @TranMonthYearText + '
        )
    THEN (
        SELECT TOP 1 AT1506.DepNewAmount 
        FROM AT1506 
        WHERE AT1506.DivisionID = AT1503.DivisionID
            AND AT1506.AssetID = AT1503.AssetID 
            AND AT1506.TranMonth + 100 * AT1506.TranYear <= ' + @TranMonthYearText + '
        ORDER BY AT1506.TranYear DESC, AT1506.TranMonth DESC
        )
    ELSE AT1503.DepAmount END) AS DepAmount, 
    
(CASE WHEN EXISTS (
        SELECT TOP 1 AssetID 
        FROM AT1506 
        WHERE AT1506.DivisionID = AT1503.DivisionID
            AND AT1506.AssetID = AT1503.AssetID 
            AND AT1506.TranMonth + 100 * AT1506.TranYear <= ' + @TranMonthYearText + '
        )
    THEN (
        SELECT TOP 1 AT1506.DepNewPeriods 
        FROM AT1506 
        WHERE AT1506.DivisionID = AT1503.DivisionID
            AND AT1506.AssetID = AT1503.AssetID 
            AND AT1506.TranMonth + 100 * AT1506.TranYear <= ' + @TranMonthYearText + '
        ORDER BY AT1506.TranYear DESC, AT1506.TranMonth DESC
        )
    ELSE AT1503.DepPeriods END) AS DepPeriods, 
'
SET @sSQL1 = '
AT1503.DivisionID, 
AssetID, 
AssetName, 
EmployeeID, 
DepartmentID, 
AssetStatus,     
(ISNULL(AT1503.DepMonths, 0) ' + CASE WHEN @CustomerName IN (57,50) THEN '' ELSE '+ (SELECT ISNULL(COUNT(*), 0)
    FROM (SELECT DISTINCT AssetID, TranMonth, TranYear 
            FROM AT1504 
            WHERE AT1504.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(''' + @DivisionID + '''))
            GROUP BY TranMonth, AssetID, TranYear) A 
    WHERE A.AssetID = AT1503.AssetID AND A.TranMonth + A.TranYear * 100 <= ' + @TranMonthYearText + '
) ' END + '
) AS DepreciatedPeriods
FROM AT1503
WHERE AT1503.DivisionID IN (SELECT DivisionID FROM dbo.GetDivisionID(''' + @DivisionID + '''))
    AND AssetStatus IN (0, 1, 4) 
    AND AssetID NOT IN (SELECT AssetID FROM AT1504 
                        WHERE AT1504.DivisionID = AT1503.DivisionID AND TranMonth + TranYear * 100 >= ' + @TranMonthYearText + ')
    AND AssetID NOT IN (SELECT AssetID FROM AT1506 
                        WHERE AT1506.DivisionID = AT1503.DivisionID AND TranMonth + TranYear * 100 >= ' + @TranMonthYearText + ') 
'

print @sSQL
PRINT @sSQL0
print @sSQL1

IF NOT EXISTS (SELECT 1 FROM sysObjects WHERE Xtype = 'V' AND Name = 'AV1525')
    EXEC('CREATE VIEW AV1525 AS '+ @sSQL + @sSQL0 + @sSQL1)
ELSE
    EXEC('ALTER VIEW AV1525 AS '+ @sSQL +@sSQL0+ @sSQL1)
    
DROP TABLE #CustomerName

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
