IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP1604]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP1604]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

/**********************************************
** Edited by: [GS] [Cẩm Loan] [30/07/2010]
***********************************************/
---- Modified by Bảo Thy on 15/05/2017: Sửa danh mục dùng chung
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.

CREATE procedure [dbo].[AP1604] @CoefficientID as nvarchar(50)
as
 Declare @sSQL as nvarchar(4000)
set @sSQL='
--declare @CoefficientID as nvarchar(50)
--set @CoefficientID =1
select  MT1604.CoefficientID,
	MT1604.CreateDate,
	MT1604.Disabled,
	MT1604.CoefficientName,      
	MT1604.CreateUserID,
	AT1103.FullName,	
	MT1604.Description,
	MT1604.InventoryTypeID,
	MT1604.RefNo,
	MT1604.CoType,
	MT1605.InventoryID,
	AT1302.InventoryName,
	MT1605.CoValue,
	MT1605.Notes,
	MT1604.DivisionID
from MT1604 inner join AT1103 on MT1604.CreateUserID=AT1103.EmployeeID
	    left join MT1605 on MT1604.CoefficientID=MT1605.CoefficientID and MT1604.DivisionID = AT1103.DivisionID
 	   inner join AT1302 on AT1302.DivisionID IN (MT1605.DivisionID,''@@@'') AND MT1605.InventoryID=AT1302.InventoryID
where MT1604.disabled =0 and MT1604.CoefficientID='''+@CoefficientID+'''
'

--print @sSQL

If not exists (Select top 1 1 From SysObjects Where name = 'AV1605' and Xtype ='V')
	Exec ('Create view AV1605 as '+@sSQL)
Else
	Exec ('Alter view AV1605 as '+@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
