IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP2009]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP2009]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


---- Created by Nguyen Quoc Huy, Date 30/07/2003.
---- Purpose: Bao cao ton kho theo mat hang
---- Edited by Nguyen Quoc Huy, Date 06/11/2006.
/********************************************
'* Edited by: [GS] [Minh Lâm] [29/07/2010]
'********************************************/
---- Modified on 24/09/2012 by Bao Anh : Customize cho 2T (tồn kho theo quy cách), gọi AP2999
---- Modified on 17/04/2014 by Mai Duyen : Sua loi khong len du lieu khi in bao cao theo ngay (KH AN Phuc Thinh)
---- Modified on 27/06/2014 by Mai Duyen : Sua loi sai so lieu so du dau ky khi in bao cao theo ngay (KH KingCOM)
---- Modified on 09/07/2014 by Thanh Sơn: lấy thêm trường TimeOfUse (KH VIENGUT)
---- Modified on 10/07/2014 by Thanh Sơn: lấy dữ liệu trực tiếp từ view, không sinh ra view AV2009
---- Modify on 24/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Bảo Thy on 19/01/2018: Bổ sung lọc báo cáo theo quy cách
---- Modified by Kim Thư on 02/05/2019: Sửa in theo kỳ WareHouseName, UnitID, UnitName, Specification, Notes01, Notes02, Notes03 lấy từ table A
----									Sửa in theo ngày lấy dữ liệu từ AV7004 thay cho AV7000 ( cải thiện tốc độ)
---- Modified by Khánh Đoan on 19/08/2019: Sửa in theo ngày  hiển thị nhập/ xuất 
---- Modified by Khánh Đoan on 04/09/2019: Sửa in theo kỳ WareHouseName, UnitID, UnitName, Specification, Notes01, Notes02, Notes03  không lấy từ table A
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Văn Tài	 on 24/02/2022: Điều chỉnh điều kiện Division dùng chung.
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.



CREATE PROCEDURE [dbo].[AP2009]
       @DivisionID AS nvarchar(50) ,
       @FromMonth AS int ,
       @ToMonth AS int ,
       @FromYear AS int ,
       @ToYear AS int ,
       @FromDate AS datetime ,
       @ToDate AS datetime ,
       @FromWareHouseID AS nvarchar(50) ,
       @ToWareHouseID AS nvarchar(50) ,
       @FromInventoryID AS nvarchar(50) ,
       @ToInventoryID AS nvarchar(50) ,
       @IsDate AS tinyint,
	   @IsSearchStandard TINYINT,
	   @StandardList XML
AS

DECLARE @CustomerName INT
--Tao bang tam de kiem tra day co phai la khach hang 2T khong (CustomerName = 15)
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN
	EXEC AP2009_QC @DivisionID, @FromMonth, @ToMonth, @FromYear, @ToYear, @FromDate, @ToDate, @FromWareHouseID, @ToWareHouseID, @FromInventoryID, @ToInventoryID, @IsDate,@IsSearchStandard,@StandardList
END
ELSE
IF @CustomerName = 15 --- Customize 2T
	EXEC AP2999 @DivisionID, @FromMonth, @ToMonth, @FromYear, @ToYear, @FromDate, @ToDate, @FromWareHouseID, @ToWareHouseID, @FromInventoryID, @ToInventoryID, @IsDate
ELSE
	BEGIN
		DECLARE	@sSQLSelect AS nvarchar(4000) ,
				@sSQLSelect1 AS nvarchar(4000) ='' ,
				@sSQLFrom AS nvarchar(4000) ,
				@sSQLFrom1 AS nvarchar(4000) ='' ,
				@sSQLWhere AS nvarchar(4000) ,
				@sSQLWhere1 AS nvarchar(4000) ='' ,
				@sSQLUnion AS nvarchar(4000)='', 
				@FromMonthYearText NVARCHAR(20), 
				@ToMonthYearText NVARCHAR(20), 
				@FromDateText NVARCHAR(20), 
				@ToDateText NVARCHAR(20)
						    
		SET @FromMonthYearText = STR(@FromMonth + @FromYear * 100)
		SET @ToMonthYearText = STR(@ToMonth + @ToYear * 100)
		SET @FromDateText = CONVERT(NVARCHAR(20), @FromDate, 101)
		SET @ToDateText = CONVERT(NVARCHAR(20), @ToDate, 101) + ' 23:59:59'

		IF @IsDate = 0  -- theo kỳ
		   BEGIN
				 SET @sSQLSelect = '
			Select 	AT2008.DivisionID, AT2008.InventoryID, AT1302.InventoryName,
			AT2008.WareHouseID,	AT1303.WareHouseName,
			AT1302.UnitID, 	AT1304.UnitName,
			AT1302.Specification,AT1302.Notes01, AT1302.Notes02, AT1302.Notes03, 
			sum(	Case when TranMonth + TranYear*100 = ' + @FromMonthYearText + '
					then isnull(BeginQuantity, 0) else 0 end) as BeginQuantity,
			sum(	Case when TranMonth + TranYear*100 = ' + @ToMonthYearText + '
					then isnull(EndQuantity, 0) else 0 end) as EndQuantity,
			sum(isnull(DebitQuantity, 0)) as DebitQuantity,
			sum(isnull(CreditQuantity, 0)) as CreditQuantity,
			sum(	Case when TranMonth + TranYear*100 = ' + @FromMonthYearText + '
					then isnull(BeginAmount, 0) else 0 end) as BeginAmount,
			sum(	Case when TranMonth + TranYear*100 = ' + @ToMonthYearText + '
					then isnull(EndAmount, 0) else 0 end) as EndAmount,
			sum(isnull(DebitAmount, 0)) as DebitAmount,
			sum(isnull(CreditAmount, 0)) as CreditAmount,
			sum(isnull(InDebitAmount, 0)) as InDebitAmount,
			sum(isnull(InCreditAmount, 0)) as InCreditAmount,
			sum(isnull(InDebitQuantity, 0)) as InDebitQuantity,
			sum(isnull(InCreditQuantity, 0)) as InCreditQuantity,
			CASE WHEN A.ConvertedQuantity <> 0 THEN Sum(BeginQuantity + DebitQuantity - CreditQuantity) / (A.ConvertedQuantity/3) ELSE 0 END TimeOfUse	'
				 SET @sSQLFrom = '
			From AT2008 WITH (NOLOCK)
			LEFT JOIN (SELECT WareHouseID, InventoryID, InventoryName, WareHouseName, --UnitID, UnitName,
							--Specification, Notes01, Notes02, Notes03, 
						SUM(ISNULL(ConvertedQuantity,0)) ConvertedQuantity FROM AV7001
						WHERE DivisionID = '''+@DivisionID+'''
						AND TranYear*100 + TranMonth BETWEEN '+STR(@FromYear*100+@FromMonth)+' AND '+STR(@ToYear*100+@ToMonth)+'
						AND D_C = ''C''
						GROUP BY WareHouseID, InventoryID, InventoryName, WareHouseName--,
						 --UnitID, UnitName,Specification, Notes01, Notes02, Notes03
						 )A ON A.WareHouseID = AT2008.WareHouseID AND A.InventoryID = AT2008.InventoryID
			inner join AT1303 WITH (NOLOCK) on AT1303.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1303.WareHouseID = AT2008.WareHouseID
			inner join AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (AT2008.DivisionID,''@@@'') AND AT1302.InventoryID = AT2008.InventoryID
			inner join AT1304 WITH (NOLOCK) on AT1304.DivisionID IN (AT1302.DivisionID, ''' + @DivisionID + ''' , ''@@@'') AND AT1302.UnitID = AT1304.UnitID'

				 SET @sSQLWhere = '
			Where AT2008.DivisionID =''' + @DivisionID + ''' and
			(AT2008.InventoryID between N''' + @FromInventoryID + ''' and N''' + @ToInventoryID + ''') and
			(TranMonth + TranYear*100 between ''' + @FromMonthYearText + ''' and ''' + @ToMonthYearText + ''') and
			(AT2008.WareHouseID between N''' + @FromWareHouseID + ''' and N''' + @ToWareHouseID + ''')
		    Group By AT2008.DivisionID, AT2008.InventoryID, AT1302.InventoryName, 
			AT2008.WareHouseID, AT1303.WareHouseName, AT1302.UnitID, AT1304.UnitName,
			AT1302.Specification,AT1302.Notes01, AT1302.Notes02, AT1302.Notes03, 
			A.ConvertedQuantity '
		   END
		ELSE            -- theo ngày
		   BEGIN
				SET @sSQLSelect1='
				'
				SET @sSQLSelect = ' Select 	DivisionID, WareHouseID,InventoryID, --InventoryName, UnitID, UnitName,
				--Specification, Notes01, Notes02, Notes03, 	
				--InventoryID+WareHouseID as Key1, 
				(ltrim(rtrim(InventoryID)) + ltrim(rtrim(WareHouseID))) as Key1, 
				-- S1, S2, S3 ,
				--S1Name,  S2Name, S3Name,				
				Sum(SignQuantity) as BeginQuantity,
				Sum(SignAmount) as BeginAmount'

				SET @sSQLFrom = ' 
				From AV7004'
				SET @sSQLWhere = ' 
				Where 	( VoucherDate<''' + @FromDateText + '''  or D_C =''BD'') and
				DivisionID like ''' + @DivisionID + ''' and
				(WareHouseID between N''' + @FromWareHouseID + ''' and N''' + @ToWareHouseID + ''')  And
				(InventoryID between N''' + @FromInventoryID + ''' and N''' + @ToInventoryID + ''') 
				
				Group by  DivisionID, WareHouseID,InventoryID--,InventoryName, UnitID, UnitName, Specification, Notes01, Notes02, Notes03, 
				--S1, S2, S3 ,S1Name,  S2Name, S3Name 
				'
			IF NOT EXISTS ( SELECT TOP 1 1 FROM sysObjects WHERE Xtype = 'V' AND Name = 'AV7018' )
			   BEGIN
					 EXEC ( ' Create view AV7018 --AP2009
					 as '+@sSQLSelect+@sSQLFrom+@sSQLWhere )
			   END
			ELSE
			   BEGIN
					 EXEC ( ' Alter view AV7018 as  --AP2009
					 '+@sSQLSelect+@sSQLFrom+@sSQLWhere )
			   END

			SET @sSQLSelect = 'Select 	AV7018.DivisionID, AV7018.InventoryID,
				--AT1302.InventoryName,
				AV7018.WareHouseID,
				--AT1303.WareHouseName,
				--AV7018.UnitID,
				--AV7018.UnitName,
				--AV7018.Specification, AV7018.Notes01, AV7018.Notes02, AV7018.Notes03, 	
				isnull(AV7018.BeginQuantity,0) as BeginQuantity,
				isnull(AV7018.BeginAmount,0) as BeginAmount,
				0 as DebitQuantity,
				0 as CreditQuantity,
				0 as DebitAmount,
				0 as CreditAmount,
				0 as EndQuantity,
				0 as EndAmount'

			SET @sSQLFrom = ' 
			into #AV2089
			From AV7018 --inner join AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (AV7018.DivisionID,''@@@'') AND AT1302.InventoryID =AV7018.InventoryID
					--inner join AT1303 WITH (NOLOCK) on AT1303.DivisionID IN (''' + @DivisionID + ''',''@@@'') AND AT1303.WareHouseID = AV7018.WareHouseID'

			SET @sSQLWhere = ' 
			where 	(AV7018.WareHouseID between ''' + @FromWareHouseID + ''' and ''' + @ToWareHouseID + ''') and
					AV7018.Key1 not in (Select  (ltrim(rtrim(InventoryID)) + ltrim(rtrim(WareHouseID)))  as Key1 From AV7004 AV7000

							Where 	AV7000.DivisionID =''' + @DivisionID + ''' and
							(AV7000.WareHouseID between N''' + @FromWareHouseID + ''' and N''' + @ToWareHouseID + ''') and
							(AV7000.InventoryID between N''' + @FromInventoryID + ''' and N''' + @ToInventoryID + ''') and
							AV7000.D_C in (''D'', ''C'') and AV7000.VoucherDate between ''' + @FromDateText + ''' and ''' + @ToDateText + ''')
			Group by  AV7018.DivisionID, AV7018.InventoryID, --AT1302.InventoryName, 
					AV7018.WareHouseID, --AT1303.WareHouseName, 
					--AV7018.UnitID, AV7018.UnitName, 
					--AV7018.Specification, AV7018.Notes01, AV7018.Notes02, AV7018.Notes03, 	
					AV7018.BeginQuantity,AV7018.BeginAmount'
			SET @sSQLUnion = ' Union all
			Select 	AV7000.DivisionID, AV7000.InventoryID,
				--AT1302.InventoryName,
				AV7000.WareHouseID,
				--AT1303.WareHouseName,
				--AV7000.UnitID, 
				--AV7000.UnitName,
				--AV7000.Specification, AV7000.Notes01, AV7000.Notes02, AV7000.Notes03, 	
				isnull(AV7018.BeginQuantity,0) as BeginQuantity,
				isnull(AV7018.BeginAmount,0) as BeginAmount,
				Sum(Case when D_C = ''D'' then isnull(AV7000.SignQuantity,0) else 0 end) as DebitQuantity,
				Sum(Case when D_C = ''C'' then isnull(-AV7000.SignQuantity,0) else 0 end) as CreditQuantity,
				Sum(Case when D_C = ''D'' then isnull(AV7000.SignAmount,0) else 0 end) as DebitAmount,
				Sum(Case when D_C = ''C'' then isnull(-AV7000.SignAmount,0) else 0 end) as CreditAmount,
				0 as EndQuantity,
				0 as EndAmount
			From AV7004 AV7000 
			left join AV7018 on (AV7000.WareHouseID = AV7018.WareHouseID and AV7000.InventoryID = AV7018.InventoryID and AV7000.DivisionID = AV7018.DivisionID)
					--inner join AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (AV7000.DivisionID,''@@@'') AND AT1302.InventoryID = AV7000.InventoryID
					--inner join AT1303 WITH (NOLOCK) on AT1303.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1303.WareHouseID = AV7000.WareHouseID
					
			Where 	AV7000.DivisionID =''' + @DivisionID + ''' and
				(AV7000.InventoryID between N''' + @FromInventoryID + ''' and N''' + @ToInventoryID + ''') and
				(AV7000.WareHouseID between N''' + @FromWareHouseID + ''' and N''' + @ToWareHouseID + ''') and
				AV7000.D_C in (''D'', ''C'') and
				AV7000.VoucherDate between ''' + @FromDateText + ''' and ''' + @ToDateText + '''
			Group by  AV7000.DivisionID, AV7000.InventoryID, --AT1302.InventoryName, 
					AV7000.WareHouseID, --AT1303.WareHouseName,AV7000.UnitName,
					--AV7000.Specification, AV7000.Notes01, AV7000.Notes02, AV7000.Notes03, 	
					--AV7000.UnitID, 	
					AV7018.BeginQuantity,AV7018.BeginAmount  '



		--IF NOT EXISTS ( SELECT TOP 1 1 FROM sysObjects WHERE Xtype = 'V' AND Name = 'AV2089' )
		--   BEGIN
		--		 EXEC ( ' Create view AV2089 as --AP2009
		--		 '+@sSQLSelect+@sSQLFrom+@sSQLWhere+@sSQLUnion )
		--   END
		--ELSE
		--   BEGIN
		--		 EXEC ( ' Alter view AV2089 as  --AP2009
		--		 '+@sSQLSelect+@sSQLFrom+@sSQLWhere+@sSQLUnion )
		--   END

		SET @sSQLSelect1 = '
		Select 	AV2089.DivisionID, AV2089.InventoryID, AT1302.InventoryName,
			AV2089.WareHouseID, AT1303.WareHouseName,
			AT1302.UnitID, 
			AT1304.UnitName,
			AT1302.Specification, AT1302.Notes01, AT1302.Notes02, AT1302.Notes03, 	
			Sum(AV2089.BeginQuantity) as BeginQuantity,
			Sum(AV2089.BeginAmount) as BeginAmount, 
			Sum(AV2089.DebitQuantity) as DebitQuantity,
			Sum(AV2089.CreditQuantity) as CreditQuantity,
			Sum(AV2089.DebitAmount) as DebitAmount,
			Sum(AV2089.CreditAmount) as CreditAmount,
			Sum(AV2089.BeginQuantity + AV2089.DebitQuantity - AV2089.CreditQuantity) as EndQuantity,
			Sum(AV2089.BeginAmount + AV2089.DebitAmount - AV2089.CreditAmount) as EndAmount,
			CASE WHEN A.ConvertedQuantity <> 0 THEN Sum(AV2089.BeginQuantity + AV2089.DebitQuantity - AV2089.CreditQuantity) / (A.ConvertedQuantity/3) ELSE 0 END TimeOfUse	'		

		SET @sSQLFrom1= '
		FROM #AV2089 AV2089
						LEFT JOIN (SELECT WareHouseID, InventoryID, SUM(ISNULL(ConvertedQuantity,0)) ConvertedQuantity FROM AV7001
									WHERE DivisionID = '''+@DivisionID+'''
									AND TranYear*12 + TranMonth BETWEEN '+STR(@FromYear*12+@FromMonth)+' AND '+STR(@ToYear*12+@ToMonth)+'
									AND D_C = ''C''
									GROUP BY WareHouseID, InventoryID)A
						ON A.WareHouseID = AV2089.WareHouseID AND A.InventoryID = AV2089.InventoryID
						inner join AT1302 WITH (NOLOCK) on AT1302.DivisionID IN (AV2089.DivisionID,''@@@'') AND AT1302.InventoryID = AV2089.InventoryID
						inner join AT1303 WITH (NOLOCK) on AT1303.DivisionID IN (''' + @DivisionID + ''',''@@@'') AND AT1303.WareHouseID = AV2089.WareHouseID
						inner join AT1304 WITH (NOLOCK) on AT1302.DivisionID IN (AT1304.DivisionID,''@@@'') AND AT1302.UnitID = AT1304.UnitID'
									
									
		set @sSQLWhere1= ' 
		Where (BeginQuantity <> 0 or BeginAmount <> 0 or DebitQuantity <> 0 or DebitAmount <> 0 or
			CreditQuantity <> 0 or CreditAmount <> 0 or EndQuantity <> 0 or EndAmount <> 0) and AV2089.DivisionID = ''' + @DivisionID + '''
		Group by  AV2089.DivisionID, AV2089.InventoryID, AT1302.InventoryName, 
			AV2089.WareHouseID, AT1303.WareHouseName, AT1302.UnitID, AT1304.UnitName,
			AT1302.Specification, AT1302.Notes01, AT1302.Notes02, AT1302.Notes03, 
			A.ConvertedQuantity '

		END
		--print @sSQL
		--SELECT @sSQLSelect
		--SELECT @sSQLFrom
		--SELECT @sSQLWhere
		--SELECT @sSQLUnion
		--SELECT @sSQLSelect1
		--SELECT @sSQLFrom1
		--SELECT @sSQLWhere1
		EXEC (@sSQLSelect + @sSQLFrom + @sSQLWhere+@sSQLUnion+@sSQLSelect1 + @sSQLFrom1 + @sSQLWhere1)
		
		--IF NOT EXISTS ( SELECT
		--					1
		--				FROM
		--					sysObjects
		--				WHERE
		--					Xtype = 'V' AND Name = 'AV2009' )
		--   BEGIN
		--		 EXEC ( ' Create view AV2009 as  --AP2009
		--		 '+@sSQLSelect+@sSQLFrom+@sSQLWhere  )
		--   END
		--ELSE
		--   BEGIN
		--		 EXEC ( ' Alter view AV2009 as  --AP2009
		--		 '+@sSQLSelect+@sSQLFrom+@sSQLWhere  )
		--/*
		--Set @sSQL = 
		--'SELECT AV2099.*,  AT1304.UnitName  F
		--	ROM AV2099  inner join AT1304 on AT1304.UnitID = AV2099.UnitID
		--Where BeginQuantity <> 0 or BeginAmount <> 0 or DebitQuantity <> 0 or DebitAmount <> 0 or
		--	CreditQuantity <> 0 or CreditAmount <> 0 or EndQuantity <> 0 or EndAmount <>0 
		-- '

		--If not Exists (Select 1 From  sysObjects Where Xtype ='V' and Name ='AV2009')
		--	Exec(' Create view AV2009 as '+@sSQL)
		--Else
		--	Exec(' Alter view AV2009 as '+@sSQL)
		--*/
		--   END
	END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
