IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP2044]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP2044]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
--- Load chi tiết các phiếu kiểm kê để lên màn hình truy vấn
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
----Created by: Thanh Sơn on 10/07/2014
---- Modified on 29/10/2015 by Tiểu Mai: bổ sung gọi store quy cách
---- Modify on 18/01/2016 by Bảo Anh: Bổ sung mã vạch thùng, số lượng thùng, số lượng định mức KIT (Angel)
---- Modify on 28/01/2016 by Bảo Anh: Bổ sung SL kém phẩm chất và mất phẩm chất (Angel)
---- Modified by Tiểu Mai on 10/08/2016: Bổ sung trường Barcode
---- Modified by Phương Thảo on 10/05/2016 : Sửa danh mục dùng chung
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
-- <Example>
/*
   exec AP2044 @DivisionID=N'HD',@UserID='ASOFTADMIN',@VoucherID='dc5d4f8c-6c19-4ca7-9cd9-e96ec6f70c86'
*/

 CREATE PROCEDURE AP2044
(
     @DivisionID NVARCHAR(2000),
     @UserID VARCHAR(50),
	 @VoucherID VARCHAR(50)
)
AS
DECLARE @sSQL NVARCHAR(MAX)
---- Quản lý theo quy cách
IF EXISTS (SELECT TOP 1 1 FROM AT0000 WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
	EXEC AP2044_QC @DivisionID, @UserID, @VoucherID
ELSE
	BEGIN 
		
	SET @sSQL = '
	SELECT A36.VoucherTypeID, A36.VoucherNo, A36.VoucherDate, A02.InventoryTypeID, A36.WareHouseID, A36.EmployeeID,
		A37.TransactionID, A36.VoucherID, A37.InventoryID, A02.InventoryName, A37.UnitID, A04.UnitName, A37.Quantity,
		A37.UnitPrice, A37.OriginalAmount, A37.ConvertedAmount, A37.AdjustQuantity, A37.AdjustUnitPrice, A37.AdjutsOriginalAmount,
		A36.[Description], A36.TranMonth, A36.TranYear, A36.DivisionID, A37.SourceNo, A37.DebitAccountID, A37.Orders, A37.LimitDate,
		A37.Notes, A37.ReVoucherID, A37.ReTransactionID, A37.isAdjust, A02.IsSource, A02.IsLimitDate, A02.IsLocation, A02.MethodID,
		A02.AccountID, A02.Specification, A02.Notes01, A02.Notes02, A02.Notes03, A36.CreateUserID,
		A37.KITID, A37.KITQuantity,
		(Select InventoryQuantity From AT1326 Where DivisionID = A37.DivisionID And KITID = A37.KITID And InventoryID = A37.InventoryID) as InventoryQuantity,
		A37.PoorQAQty, A37.DeterioratingQAQty, A02.Barcode
	FROM AT2037 A37 WITH (NOLOCK)
	LEFT JOIN AT1304 A04 WITH (NOLOCK) ON A04.UnitID = A37.UnitID
	LEFT JOIN AT1302 A02 WITH (NOLOCK) ON A02.DivisionID IN (A37.DivisionID,''@@@'') AND A02.InventoryID = A37.InventoryID 
	LEFT JOIN AT2036 A36 WITH (NOLOCK) ON A36.DivisionID = A37.DivisionID AND A36.VoucherID = A37.VoucherID
	WHERE A37.DivisionID = '''+@DivisionID+'''
	AND A37.VoucherID = '''+@VoucherID+''' '

	EXEC (@sSQL)
END 
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON