IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH(NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[AP3052]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3052]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Created by Nguyen Quoc Huy
--Date 04/10/2005
--Purpose:Hang ban bi tra lai
--Last Edit ThuyTuyen Them truong AT9000.DiscountRate,27/03/2007
/********************************************
'* Edited by: [GS] [Tố Oanh] [29/07/2010]
'********************************************/
--Edited by: Dang Le Bao Quynh; Date: 01/12/2011
--Purpose: Them cac field phan loai va ma phan tich doi tuong
--- Modified by Phương Thảo on 30/05/2016: Bổ sung WITH(NOLOCK)
---- Modify on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Kim Thư on 9/1/2019:Bổ sung Trường VATOriginalAmount và Thêm trường mã phân tích (I01ID-->I05ID),(I01Name-->I05Name) lên view av3051 
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Lê Hoàng on 21/10/2020: Sửa lỗi cú pháp
---- Modified by Huỳnh Thử on 05/01/2021: Bổ sung trường giá vốn
---- Modified by Huỳnh Thử on 08/01/2021: Bổ sung trường thành tiền giá vốn

--- <example> exec AP3052 'GS','1=1'

CREATE PROCEDURE [dbo].[AP3052] @DivisionID as nvarchar(50) ,@sSQLWhere as nvarchar(4000)  
as
declare @sSQL as nvarchar(4000),
		@sSQL1 as nvarchar(4000) 
		 
set @sSQL='
	Select  AT9000.ObjectID,
		OB.ObjectName,
		OB.S1, OB.S2, OB.S3, 
		OB.S1Name, OB.S2Name, OB.S3Name, 
		OB.O01ID,  OB.O02ID, OB.O03ID, OB.O04ID, OB.O05ID,
		OB.O01Name, OB.O02Name, OB.O03Name, OB.O04Name, OB.O05Name, 
		AT9000.InventoryID,
		AT1302.InventoryName,
		AT1302.UnitID,
		AT1304.UnitName,
		AT1302.InventoryTypeID,
		AT1302.Specification,
		AT9000.VoucherTypeID, 
		AT9000.VoucherNo,
		AT9000.VoucherDate,
		AT9000.RefNo01,	
		AT9000.RefNo02,	
		AT9000.Ana01ID, 
		AT9000.Ana02ID, 
		AT9000.Ana03ID, 
	    AT9000.Serial,
		AT9000.InvoiceNo,
		AT9000.InvoiceDate,
		isnull(AT9000.Quantity,0) as Quantity,
		AT9000.CurrencyID,
		isnull(AT9000.OriginalAmount,0)/(Case when isnull(AT9000.Quantity,0)=0 then 1 else AT9000.Quantity end) as SalePrice01,
		isnull(AT9000.ConvertedAmount,0)/(Case when isnull(AT9000.Quantity,0)=0 then 1 else AT9000.Quantity end) as SalePrice02,
		isnull(AT9000.OriginalAmount,0) as OriginalAmount,
		isnull(AT9000.ConvertedAmount,0) as ConvertedAmount, VATRate,
    	AT9000.VDescription,
		AT9000.BDescription,
		AT9000.TDescription,
		AT9000.DiscountRate, AT9000.DivisionID,
		ISNULL(AT1302.I01ID,'''') AS I01ID, ISNULL(AT1302.I02ID,'''') AS I02D, ISNULL(AT1302.I03ID,'''') AS I03ID, ISNULL(AT1302.I04ID,'''') AS I04ID, ISNULL(AT1302.I05ID,'''') AS I05ID,
		ISNULL(I1.AnaName,'''') AS I01Name, ISNULL(I2.AnaName,'''') AS I02Name, ISNULL(I3.AnaName,'''') AS I03Name, ISNULL(I4.AnaName,'''') AS I04Name, ISNULL(I5.AnaName,'''') AS I05Name,
		(Select OriginalAmount from AT9000 A1 Where TransactionTypeID = ''T34'' and A1.VoucherID = AT9000.VoucherID) as VATOriginalAmount,
		(SELECT T90.UnitPrice FROM AT9000 T90 WITH (NOLOCK) WHERE T90.TransactionID = AT9000.TransactionID AND T90.TableID = ''AT2006'')  AS PrimeCost,
		(SELECT T90.OriginalAmount FROM AT9000 T90 WITH (NOLOCK) WHERE T90.TransactionID = AT9000.TransactionID AND T90.TableID = ''AT2006'') AS PrimeCostOriginalAmount,
		(SELECT T90.ConvertedAmount FROM AT9000 T90 WITH (NOLOCK) WHERE T90.TransactionID = AT9000.TransactionID AND T90.TableID = ''AT2006'') AS PrimeCostConvertedAmount

'

Set @sSQL1='      
	From AT9000 WITH(NOLOCK)	
	left join AT1302 WITH(NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID=AT1302.InventoryID
	Left join AT1304 WITH(NOLOCK) on AT1302.DivisionID IN (AT1304.DivisionID,''@@@'') AND AT1304.UnitID = AT1302.UnitID
	left join AT1010 WITH(NOLOCK) on AT1010.VATGroupID = AT9000.VATGroupID
	Left Join 
		(Select 
				AT1202.DivisionID, AT1202.ObjectID, AT1202.ObjectName, 
				AT1202.S1, AT1202.S2,  AT1202.S3, 
				OS1.SName As S1Name, OS2.SName As S2Name, OS3.SName As S3Name, 
				AT1202.O01ID,  AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
				O1.AnaName As O01Name, O2.AnaName As O02Name, O3.AnaName As O03Name, O4.AnaName As O04Name, O5.AnaName As O05Name
		From AT1202 WITH(NOLOCK)
		Left join AT1015 O1 WITH(NOLOCK) on O1.AnaID = AT1202.O01ID and O1.AnaTypeID = ''O01''
		Left join AT1015 O2 WITH(NOLOCK) on O2.AnaID = AT1202.O02ID and O2.AnaTypeID = ''O02''
		Left join AT1015 O3 WITH(NOLOCK) on O3.AnaID = AT1202.O03ID and O3.AnaTypeID = ''O03''
		Left join AT1015 O4 WITH(NOLOCK) on O4.AnaID = AT1202.O04ID and O4.AnaTypeID = ''O04''
		Left join AT1015 O5 WITH(NOLOCK) on O5.AnaID = AT1202.O05ID and O5.AnaTypeID = ''O05''
		Left join AT1207 OS1 WITH(NOLOCK) on OS1.S = AT1202.S1 and OS1.STypeID = ''O01''
		Left join AT1207 OS2 WITH(NOLOCK) on OS2.S = AT1202.S2 and OS2.STypeID = ''O02''
		Left join AT1207 OS3 WITH(NOLOCK) on OS3.S = AT1202.S3 and OS3.STypeID = ''O03'') OB
	On AT9000.ObjectID = OB.ObjectID
	Left join AT1015 I1  WITH(NOLOCK) on AT1302.DivisionID IN (I1.DivisionID,''@@@'') AND ISNULL(I1.AnaID,'''') = ISNULL(AT1302.I01ID,'''') and I1.AnaTypeID = ''I01''
	Left join AT1015 I2  WITH(NOLOCK) on AT1302.DivisionID IN (I2.DivisionID,''@@@'') AND ISNULL(I2.AnaID,'''') = ISNULL(AT1302.I02ID,'''') and I2.AnaTypeID = ''I02''
	Left join AT1015 I3  WITH(NOLOCK) on AT1302.DivisionID IN (I3.DivisionID,''@@@'') AND ISNULL(I3.AnaID,'''') = ISNULL(AT1302.I03ID,'''') and I3.AnaTypeID = ''I03''
	Left join AT1015 I4  WITH(NOLOCK) on AT1302.DivisionID IN (I4.DivisionID,''@@@'') AND ISNULL(I4.AnaID,'''') = ISNULL(AT1302.I04ID,'''') and I4.AnaTypeID = ''I04''
	Left join AT1015 I5  WITH(NOLOCK) on AT1302.DivisionID IN (I5.DivisionID,''@@@'') AND ISNULL(I5.AnaID,'''') = ISNULL(AT1302.I05ID,'''') and I5.AnaTypeID = ''I05''

	where AT9000.DivisionID='''+@DivisionID+'''
	and AT9000.TransactionTypeID=''T24''
	and '+@sSQLWhere+''

--print @sSQL
If  exists (Select top 1 1 From SysObjects Where name = 'AV3052' and Xtype ='V')
	DROP view AV3052
Exec ('Create view AV3052 --tao boi AP3052
			 as '+@sSQL +@sSQL1)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

