IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH(NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[AP3053]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3053]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



--Created by Nguyen Quoc Huy
--Date 05/10/2005
--Prupose:Hang ban tra lai
----Last Edit ThuyTuyen Them truong AT9000.DiscountRate,27/03/2007
/********************************************
'* Edited by: [GS] [Tố Oanh] [29/07/2010]
'********************************************/
--- Modified by Phương Thảo on 30/05/2016: Bổ sung WITH(NOLOCK)
--- Modified by Phương Thảo on 15/05/2017: Sửa danh mục dùng chung
--- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Huỳnh Thử on 05/01/2021: Bổ sung trường giá vốn
---- Modified by Huỳnh Thử on 08/01/2021: Bổ sung trường thành tiền giá vốn

--- <example> exec AP3053 'GS','1=1',1,2016

CREATE PROCEDURE [dbo].[AP3053] 	@DivisionID as nvarchar(50) ,
				@sSQLWhere as nvarchar(4000) ,
				@TranMonth as int,
				@TranYear as int	 
as
declare @sSQL as nvarchar(4000) 
set @sSQL='
	Select  
		AT9000.InventoryID,
		AT1302.InventoryName,
		AT1302.UnitID,	       	
		AT1304.UnitName,
		Sum(AT9000.Quantity) as Quantity,
		AT9000.CurrencyID,
		AT1302.SalePrice01,
		AT1302.S1, AT1302.S2, AT1302.S3,	
		AT1302.S2 as GroupID,
		AT1310.SName as GroupName,
		sum(AT9000.OriginalAmount) as OriginalAmount,
		Sum(AT9000.ConvertedAmount) as ConvertedAmount   ,
		AT9000.DiscountRate , AT9000.DivisionID,
		(SELECT sum(T90.OriginalAmount) FROM AT9000 T90 WITH (NOLOCK) WHERE T90.TransactionID = AT9000.TransactionID AND T90.TableID = ''AT2006'') AS PrimeCostOriginalAmount,
		(SELECT sum(T90.ConvertedAmount) FROM AT9000 T90 WITH (NOLOCK) WHERE T90.TransactionID = AT9000.TransactionID AND T90.TableID = ''AT2006'') AS PrimeCostConvertedAmount
	From AT9000 WITH(NOLOCK)
	left join AT1302 WITH(NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID=AT1302.InventoryID
	left join AT1304 WITH(NOLOCK) on AT1302.DivisionID IN (AT1304.DivisionID,''@@@'') AND AT1304.UnitID=AT1302.UnitID
	Left join AT1310 WITH(NOLOCK) on AT1310.S = AT1302.S2 and AT1310.StypeID =''I02''  
	where AT9000.DivisionID='''+@DivisionID+'''
	and AT9000.TransactionTypeID=''T24''
	and '+@sSQLWhere+''
Set @sSQL = @sSQL+ '  

Group by 	AT9000.TransactionID, AT9000.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName,	AT9000.Quantity,
		AT9000.CurrencyID,
		AT1302.SalePrice01,AT1310.SName, AT9000.DiscountRate,   	
		AT1302.S1, AT1302.S2, AT1302.S3	, AT9000.DivisionID  '

--print @sSQL
If not exists (Select top 1 1 From SysObjects Where name = 'AV3053' and Xtype ='V')
	Exec ('Create view AV3053 as '+@sSQL)
Else
	Exec ('Alter view AV3053 as '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

