IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3021]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3021]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
SET NOCOUNT ON
GO

--Created by Hoang Thi Lan
--Date :17/10/2003
--Purpose: Dïng cho report Doanh sè hµng b¸n
--Last Update by Nguyen Van Nhan
--Last Update: Nguyen Thi Thuy Tuyen  tinh Thanh tien VAT 23/10/2007
--Edit By Nguyen Quoc Huy Date 01/12/2008
--Edit by: Dang Le Bao Quynh; Date:30/09/2009
--Purpose: Them 5 ma phan tich mat hang
--Edit by: Dang Le Bao Quynh; Date:19/10/2009
--Purpose: Them cac truong tien thue VAT
--- Edit by B.Anh, date 05/12/2009	Lay them cac truong Loai chung tu, chiet khau
--  Edit by: Thành Sang date 21/09/2022 Bổ sung thêm điều kiện DivisionID khi join các bảng dùng chung.
/********************************************
'* Edited by: [GS] [Hoàng Phước] [29/07/2010]
'********************************************/
--- Edit by B.Anh, date 09/09/2012:	Lay them cac truong UParameter01 -> 05
---- Modified on 11/03/2013 by Le Thi Thu Hien : Bo sung truong AT1302.IsStocked
---- Modified on 21/11/2013 by Thanh Sơn: Bổ sung thêm 5 trường Mã phân tích đối tượng (Mã + Tên) 
---- Modified on 05/03/2014 by Le Thi Thu Hien : Bo sung phan quyen xem du lieu cua nguoi khac
---- Modified on 24/03/2014 by Mai Duyen: Bổ sung thêm truong AT1302.Notes01 va AT1202.Note
---- Modified on 26/03/2014 by Bảo Anh : Bổ sung InventoryTypeName, ComAmountOB, ComAmountEM (Long Trường Vũ)
---- Modified on 26/03/2014 by Mai Duyen : Bổ sung AT9000.VATNo  (KingCom)
---- Modified on 21/01/2015 by Mai Duyen : Bổ sung AT2007.SoureNo,AT2007.LimitDate   (Savi)
---- Modified on 20/03/2015 by Lê Thị Hạnh: Bổ sung lấy thông tin thuế BVMT: ETaxID, ETaxName, ETaxAmount, ETaxConvertedUnit, ETaxConvertedAmount
---- Modified on 10/09/2015 by Tiểu Mai: Bổ sung 10 MPT, 10 Tham số.
---- Modified on 08/01/2016 by Tiểu Mai: Bổ sung thông tin quy cách khi có thiết lập quản lý mặt hàng theo quy cách.
---- Modified on 13/01/2016 by Kim Vu: Bổ sung lấy trường KERABEN
---- Modified on 03/06/2016 by Tiểu Mai: Bổ sung WITH (NOLOCK)
---- Modified on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified on 28/04/2017 by Bảo Thy: Bổ sung thông tin quy cách
---- Modified on 30/08/2017 by Tiểu Mai: Bổ sung AT9000.ConvertedUnitID, AT9000.ConvertedQuantity
---- Modified on 19/03/2018 by Bảo Anh : Bổ sung EXVoucherNo
---- Modified on 10/07/2018 by Bảo Anh : Bổ sung cột Số đơn hàng cho Karaben
---- Modified on 28/10/2018 by Bảo Anh : Trả thẳng dữ liệu không tạo view
---- Modified on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified on 20/10/2020 by Nhựt Trường: Fix lỗi - (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified on 02/12/2020 by Huỳnh Thử: Bổ sung trường: ConvertedUnitID
---- Modified on 13/08/2021 by Nhựt Trường: Fix lỗi - Bổ sung điều kiện DivisionID khi join bảng AT1303.
---- Modified on 12/01/2023 by Nhật Thanh: Bổ sung lấy thêm cột IsProInventoryID
---- Modified on 13/01/2023 by Thanh Lượng:[2023/01/IS/0074] - Bổ sung điều kiện lấy dữ liệu cho LimitDate(nếu không có AT9000 thì lấy từ AT2007).
---- Modified on 27/02/2023 by Đình Định :[2023/02/IS/0138] - In báo cáo danh số chi tiết theo mặt hàng tiền thuế xuất excel bị lẻ.
---- Modified on 24/05/2023 by Đình Định :[2023/05/IS/0088] - Lấy DivisionID để không tăng thêm dòng.
-- <Example>
----
---- EXEC AP3021 'PC', '', 'ASOFTADMIN'

CREATE PROCEDURE [dbo].[AP3021] 
	(
		@DivisionID AS nvarchar(50) ,
		@sSQLWhere AS nvarchar(4000) ,
		@UserID AS VARCHAR(50) = '' 
	)
AS

DECLARE @sSQL1 AS varchar(max) ,
		@sSQL2 AS varchar(max) ,
		@sSQL3 AS NVARCHAR(MAX),
		@sSQL4 AS NVARCHAR(MAX),
		@sWhere AS NVARCHAR(max)
----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
DECLARE @sSQLPer AS VARCHAR(MAX),
		@sWHEREPer AS VARCHAR(MAX),
		@QuantityDecimals VARCHAR, 
		@UnitCostDecimals VARCHAR,
		@ConvertedDecimals VARCHAR

		SELECT @QuantityDecimals = QuantityDecimals, 
			   @UnitCostDecimals = UnitCostDecimals, 
			   @ConvertedDecimals = ConvertedDecimals
		FROM AT1101 WITH (NOLOCK)
		WHERE DivisionID = @DivisionID

		SET @QuantityDecimals = ISNULL(@QuantityDecimals, 2)
		SET @UnitCostDecimals = ISNULL(@UnitCostDecimals, 2)
		SET @ConvertedDecimals = ISNULL(@ConvertedDecimals, 2)
SET @sSQLPer = ''
SET @sWHEREPer = ''		

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH(NOLOCK) WHERE DefDivisionID = @DivisionID AND IsPermissionView = 1 ) -- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
	BEGIN
		SET @sSQLPer = ' LEFT JOIN AT0010 WITH(NOLOCK) ON AT0010.DivisionID = AT9000.DivisionID 
											AND AT0010.AdminUserID = '''+@UserID+''' 
											AND AT0010.UserID = AT9000.CreateUserID '
		SET @sWHEREPer = ' AND (AT9000.CreateUserID = AT0010.UserID
								OR  AT9000.CreateUserID = '''+@UserID+''') '		
	END

-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	

----------->>>> Kiem tra customize
Declare @AP4444 Table(CustomerName Int, Export Int)
Declare @CustomerName AS Int
Insert Into @AP4444(CustomerName,Export) EXEC('AP4444')
Select @CustomerName=CustomerName From @AP4444
-----------<<<< Kiem tra customize

SET @sWhere = N''
------ Thong tin quy cach------
SET @sSQL3 = ',
			isnull(AT2007.UnitPrice,0) as PrimeCostPrice,
			isnull(AT2007.ConvertedAmount,0) as PrimeCostAmount, AT9000.DParameter01, AT9000.DParameter02,
			AT9000.DParameter03, AT9000.DParameter04, AT9000.DParameter05, AT9000.DParameter06, AT9000.DParameter07, AT9000.DParameter08,
			AT9000.DParameter09, AT9000.DParameter10, AT2006.WareHouseID, AT1303.WareHouseName, AT9000.ExchangeRate, AT9000.ConvertedUnitID  '

SET @sSQL4 = ' LEFT JOIN AT1303 WITH(NOLOCK) on AT1303.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT2006.WareHouseID = AT1303.WareHouseID '
	
set @sSQL1='
SELECT  AT9000.InventoryID,
		AT1302.InventoryName,
		CASE WHEN ISNULL(AT9000.InventoryName1,'''')= '''' then  isnull(AT1302.InventoryName,'''')  Else AT9000.InventoryName1 end AS InventoryName1,
		AT1302.UnitID,
		AT1302.S1,
		AT1302.S2,
		AT1302.S3,
		AT1304.UnitName,
	    AT9000.Serial,
		AT9000.ObjectID,
		AT1202.ObjectName,
		AT9000.VATObjectID,
		OB.ObjectName AS VATObjectName,
		AT1202.Address,
		AT9000.InvoiceNo,
		AT9000.VoucherDate,
		AT9000.VoucherNo,
		AT9000.DebitAccountID,
		AT9000.CreditAccountID,
		AT9000.InvoiceDate,
		AT9000.Quantity,
		AT9000.UnitPrice,
		AT9000.CurrencyID,
		AT9000.OriginalAmount,
		AT9000.ConvertedAmount , AT1010.VATRate,
		AT9000.Ana01ID, AT9000.Ana02ID, AT9000.Ana03ID, AT9000.Ana04ID, AT9000.Ana05ID, 
		AT9000.Ana06ID, AT9000.Ana07ID, AT9000.Ana08ID, AT9000.Ana09ID, AT9000.Ana10ID, 
		A1.AnaName AS Ana01Name,A2.AnaName AS Ana02Name,A3.AnaName AS Ana03Name,A4.AnaName AS Ana04Name,A5.AnaName AS Ana05Name,
		A6.AnaName AS Ana06Name,A7.AnaName AS Ana07Name,A8.AnaName AS Ana08Name,A9.AnaName AS Ana09Name,A101.AnaName AS Ana10Name,
		AT9000.VDescription, AT9000.BDescription, AT9000.TDescription,
		ISNULL(AT9000.VATOriginalAmount,ROUND((ISNULL (AT9000.OriginalAmount,0) * ISNULL (AT1010.VATRate,0))/100,CONVERT(TINYINT,'''+@ConvertedDecimals+''' )))  AS VATOriginalAmount,
		ISNULL(AT9000.VATConvertedAmount,ROUND((ISNULL (AT9000.ConvertedAmount,0) * ISNULL (AT1010.VATRate,0))/100,CONVERT(TINYINT,'''+@ConvertedDecimals+''' ))) AS VATConvertedAmount,
		(Isnull (AT9000.UnitPrice,0) * Isnull (AT1010.VATRate,0))/100  + Isnull(AT9000.UnitPrice,0) AS VATUnitPrice,
		(SELECT Sum(Isnull (T9.OriginalAmount,0)) From AT9000 T9 Where T9.VoucherID = AT9000.VoucherID And T9.TransactionTypeID = ''T14'')  AS VATOriginalAmountForInvoice,
		(SELECT Sum(Isnull (T9.ConvertedAmount,0)) From AT9000 T9 Where T9.VoucherID = AT9000.VoucherID And T9.TransactionTypeID = ''T14'')  AS VATConvertedAmountForInvoice,
		AT1302.I01ID, AT1302.I02ID, AT1302.I03ID, AT1302.I04ID, AT1302.I05ID,
		I1.AnaName AS I01Name, I2.AnaName AS I02Name, I3.AnaName AS I03Name, I4.AnaName AS I04Name, I5.AnaName AS I05Name,
		AT9000.VoucherTypeID, AT9000.DiscountRate, AT9000.DiscountAmount, AT9000.DivisionID,
		AT9000.UParameter01, AT9000.UParameter02, AT9000.UParameter03, AT9000.UParameter04, AT9000.UParameter05,
		AT1302.IsStocked, AT2006.VoucherNo As WVoucherNo,
		AT1202.[O01ID], AT1202.[O02ID], AT1202.[O03ID], AT1202.[O04ID], AT1202.[O05ID],
		O1.AnaName AS O01Name, O2.AnaName AS O02Name, O3.AnaName AS O03Name, O4.AnaName AS O04Name, O5.AnaName AS O05Name,
		AT1302.Notes01 as Notes01 , AT1202.Note as Notes02, AT1302.InventoryTypeID, AT1301.InventoryTypeName,
		AT9000.VATNo, AT2007.SourceNo, CASE WHEN ISNULL(AT9000.LimitDate,'''')!='''' then AT9000.LimitDate else AT2007.LimitDate end AS LimitDate,
		AT1302.ETaxID, AT93.ETaxName, ISNULL(AT95.ETaxAmount,0) AS ETaxAmount, 
		ISNULL(AT9000.ETaxConvertedUnit,0) AS ETaxConvertedUnit, ISNULL(AT9000.ETaxConvertedAmount,0) AS ETaxConvertedAmount,
		AT9000.Parameter01, AT9000.Parameter02, AT9000.Parameter03, AT9000.Parameter04, AT9000.Parameter05, AT9000.Parameter06, AT9000.Parameter07,
		AT9000.Parameter08, AT9000.Parameter09, AT9000.Parameter10, AT9000.ConvertedUnitID, AT9000.ConvertedQuantity, T06.VoucherNo as EXVoucherNo, AT9000.IsProInventoryID  '

IF @CustomerName = 24 --- Long Trường Vũ		
	set @sSQL1 = @sSQL1 + ', CMT1.ComAmount as ComAmountOB, CMT2.ComAmount as ComAmountEM'
	
IF @CustomerName = 45 --- Karaben
	set @sSQL1 = @sSQL1 + ', (SELECT TOP 1 OrderID FROM AT2007 WITH (NOLOCK) WHERE DivisionID = AT2006.DivisionID AND VoucherID = AT2006.VoucherID) AS OrderNo '
	
set @sSQL2='
FROM AT9000 WITH(NOLOCK) 

LEFT JOIN AT1302 WITH(NOLOCK) ON AT1302.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT9000.InventoryID = AT1302.InventoryID
LEFT JOIN AT1301 WITH(NOLOCK) ON AT1302.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1302.InventoryTypeID = AT1301.InventoryTypeID
LEFT JOIN AT1015 I1 WITH(NOLOCK) ON I1.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1302.I01ID = I1.AnaID AND I1.AnaTypeID = ''I01''
LEFT JOIN AT1015 I2 WITH(NOLOCK) ON I2.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1302.I02ID = I2.AnaID AND I2.AnaTypeID = ''I02''
LEFT JOIN AT1015 I3 WITH(NOLOCK) ON I3.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1302.I03ID = I3.AnaID AND I3.AnaTypeID = ''I03''
LEFT JOIN AT1015 I4 WITH(NOLOCK) ON I4.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1302.I04ID = I4.AnaID AND I4.AnaTypeID = ''I04''
LEFT JOIN AT1015 I5 WITH(NOLOCK) ON I5.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1302.I05ID = I5.AnaID AND I5.AnaTypeID = ''I05''

LEFT JOIN AT1304 WITH(NOLOCK) ON AT1304.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1302.UnitID = AT1304.UnitID
LEFT JOIN AT1202 WITH(NOLOCK) ON AT1202.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID

LEFT JOIN AT1015 O1 WITH(NOLOCK) ON O1.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1202.O01ID = O1.AnaID AND O1.AnaTypeID = ''O01''
LEFT JOIN AT1015 O2 WITH(NOLOCK) ON O2.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1202.O02ID = O2.AnaID AND O2.AnaTypeID = ''O02''
LEFT JOIN AT1015 O3 WITH(NOLOCK) ON O3.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1202.O03ID = O3.AnaID AND O3.AnaTypeID = ''O03''
LEFT JOIN AT1015 O4 WITH(NOLOCK) ON O4.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1202.O04ID = O4.AnaID AND O4.AnaTypeID = ''O04''
LEFT JOIN AT1015 O5 WITH(NOLOCK) ON O5.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1202.O05ID = O5.AnaID AND O5.AnaTypeID = ''O05''

LEFT JOIN AT1202 OB WITH(NOLOCK) ON OB.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND OB.ObjectID = AT9000.VATObjectID 
LEFT JOIN AT1010 WITH(NOLOCK) ON AT1010.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT1010.VATGroupID = AT9000.VATGroupID
LEFT JOIN AT2006 WITH(NOLOCK) ON AT2006.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND ISNULL(AT9000.WOrderID,0) = ISNULL(AT2006.VoucherID,0) 
LEFT JOIN AT2006 T06 WITH(NOLOCK) ON T06.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND ISNULL(AT9000.VoucherID,'''') = ISNULL(T06.VoucherID,'''') 
LEFT JOIN AT2007 WITH(NOLOCK) ON AT2007.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND AT2007.TransactionID = AT9000.TransactionID AND AT2007.InventoryID = AT9000.InventoryID 

LEFT JOIN AT1011 A1 WITH(NOLOCK) ON A1.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A1.AnaID = AT9000.Ana01ID AND A1.AnaTypeID = ''A01''
LEFT JOIN AT1011 A2 WITH(NOLOCK) ON A2.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A2.AnaID = AT9000.Ana02ID AND A2.AnaTypeID = ''A02''
LEFT JOIN AT1011 A3 WITH(NOLOCK) ON A3.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A3.AnaID = AT9000.Ana03ID AND A3.AnaTypeID = ''A03''
LEFT JOIN AT1011 A4 WITH(NOLOCK) ON A4.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A4.AnaID = AT9000.Ana04ID AND A4.AnaTypeID = ''A04''
LEFT JOIN AT1011 A5 WITH(NOLOCK) ON A5.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A5.AnaID = AT9000.Ana05ID AND A5.AnaTypeID = ''A05''
LEFT JOIN AT1011 A6 WITH(NOLOCK) ON A6.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A6.AnaID = AT9000.Ana06ID AND A6.AnaTypeID = ''A06''
LEFT JOIN AT1011 A7 WITH(NOLOCK) ON A7.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A7.AnaID = AT9000.Ana07ID AND A7.AnaTypeID = ''A07''
LEFT JOIN AT1011 A8 WITH(NOLOCK) ON A8.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A8.AnaID = AT9000.Ana08ID AND A8.AnaTypeID = ''A08''
LEFT JOIN AT1011 A9 WITH(NOLOCK) ON A9.DivisionID IN (''' + @DivisionID + ''', ''@@@'') AND A9.AnaID = AT9000.Ana09ID AND A9.AnaTypeID = ''A09''
LEFT JOIN AT1011 A101 WITH(NOLOCK) ON A101.DivisionID IN ('''+@DivisionID+''', ''@@@'') AND A101.AnaID = AT9000.Ana10ID AND A101.AnaTypeID = ''A10''
LEFT JOIN AT0295 AT95 WITH(NOLOCK) ON AT95.VoucherID = AT9000.ETaxVoucherID AND AT95.ETaxID = AT1302.ETaxID
LEFT JOIN AT0293 AT93 WITH(NOLOCK) ON AT93.ETaxID = AT1302.ETaxID  '

IF @CustomerName = 24 --- Long Trường Vũ		
	set @sSQL2 = @sSQL2 + '
	LEFT JOIN (Select VoucherID,Sum(ComAmount) as ComAmount From CMT0010 WITH(NOLOCK) LEFT JOIN AT1202 T02 WITH(NOLOCK) on CMT0010.ObjectID = T02.ObjectID
				Where CMT0010.DivisionID = ''' + @DivisionID + ''' And Isnull(T02.ObjectTypeID,'''') <> ''NV'' Group by VoucherID) CMT1
	On AT9000.VoucherID = CMT1.VoucherID
	
	LEFT JOIN (Select VoucherID,Sum(ComAmount) as ComAmount From CMT0010 WITH(NOLOCK) LEFT JOIN AT1202 T02 WITH(NOLOCK) on CMT0010.ObjectID = T02.ObjectID
				Where CMT0010.DivisionID = ''' + @DivisionID + ''' And Isnull(T02.ObjectTypeID,'''') = ''NV'' Group by VoucherID) CMT2
	On AT9000.VoucherID = CMT2.VoucherID '

SET @sWhere = '
			WHERE	AT9000.DivisionID='''+@DivisionID+'''
					AND AT9000.TransactionTypeID in  (''T04'',''T40'')
			' + @sWHEREPer
IF ISNULL(@sSQLWhere,'') <> ''
SET @sWhere = @sWhere + N' 
		AND '+@sSQLWhere+''

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN
	SET @sSQL3 = +@sSQL3 + ',
	O99.S01ID,O99.S02ID,O99.S03ID,O99.S04ID,O99.S05ID,O99.S06ID,O99.S07ID,O99.S08ID,O99.S09ID,O99.S10ID,
	O99.S11ID,O99.S12ID,O99.S13ID,O99.S14ID,O99.S15ID,O99.S16ID,O99.S17ID,O99.S18ID,O99.S19ID,O99.S20ID,
	A01.StandardName AS StandardName01, A02.StandardName AS StandardName02, A03.StandardName AS StandardName03, A04.StandardName AS StandardName04, 
	A05.StandardName AS StandardName05, A06.StandardName AS StandardName06, A07.StandardName AS StandardName07, A08.StandardName AS StandardName08, 
	A09.StandardName AS StandardName09, A10.StandardName AS StandardName10, A11.StandardName AS StandardName11, A12.StandardName AS StandardName12,
	A13.StandardName AS StandardName13, A14.StandardName AS StandardName14, A15.StandardName AS StandardName15, A16.StandardName AS StandardName16,
	A17.StandardName AS StandardName17, A18.StandardName AS StandardName18, A19.StandardName AS StandardName19, A20.StandardName AS StandardName20  '

	SET @sSQL4 = @sSQL4 + '
	LEFT JOIN AT8899 O99 WITH(NOLOCK) ON O99.DivisionID = AT9000.DivisionID AND O99.VoucherID = AT9000.VoucherID AND O99.TransactionID = AT9000.TransactionID
	LEFT JOIN AT0128 A01 WITH (NOLOCK) ON O99.S01ID = A01.StandardID AND A01.StandardTypeID = ''S01''
	LEFT JOIN AT0128 A02 WITH (NOLOCK) ON O99.S02ID = A02.StandardID AND A02.StandardTypeID = ''S02''
	LEFT JOIN AT0128 A03 WITH (NOLOCK) ON O99.S03ID = A03.StandardID AND A03.StandardTypeID = ''S03''
	LEFT JOIN AT0128 A04 WITH (NOLOCK) ON O99.S04ID = A04.StandardID AND A04.StandardTypeID = ''S04''
	LEFT JOIN AT0128 A05 WITH (NOLOCK) ON O99.S05ID = A05.StandardID AND A05.StandardTypeID = ''S05''
	LEFT JOIN AT0128 A06 WITH (NOLOCK) ON O99.S06ID = A06.StandardID AND A06.StandardTypeID = ''S06''
	LEFT JOIN AT0128 A07 WITH (NOLOCK) ON O99.S07ID = A07.StandardID AND A07.StandardTypeID = ''S07''
	LEFT JOIN AT0128 A08 WITH (NOLOCK) ON O99.S08ID = A08.StandardID AND A08.StandardTypeID = ''S08''
	LEFT JOIN AT0128 A09 WITH (NOLOCK) ON O99.S09ID = A09.StandardID AND A09.StandardTypeID = ''S09''
	LEFT JOIN AT0128 A10 WITH (NOLOCK) ON O99.S10ID = A10.StandardID AND A10.StandardTypeID = ''S10''
	LEFT JOIN AT0128 A11 WITH (NOLOCK) ON O99.S11ID = A11.StandardID AND A11.StandardTypeID = ''S11''
	LEFT JOIN AT0128 A12 WITH (NOLOCK) ON O99.S12ID = A12.StandardID AND A12.StandardTypeID = ''S12''
	LEFT JOIN AT0128 A13 WITH (NOLOCK) ON O99.S13ID = A13.StandardID AND A13.StandardTypeID = ''S13''
	LEFT JOIN AT0128 A14 WITH (NOLOCK) ON O99.S14ID = A14.StandardID AND A14.StandardTypeID = ''S14''
	LEFT JOIN AT0128 A15 WITH (NOLOCK) ON O99.S15ID = A15.StandardID AND A15.StandardTypeID = ''S15''
	LEFT JOIN AT0128 A16 WITH (NOLOCK) ON O99.S16ID = A16.StandardID AND A16.StandardTypeID = ''S16''
	LEFT JOIN AT0128 A17 WITH (NOLOCK) ON O99.S17ID = A17.StandardID AND A17.StandardTypeID = ''S17''
	LEFT JOIN AT0128 A18 WITH (NOLOCK) ON O99.S18ID = A18.StandardID AND A18.StandardTypeID = ''S18''
	LEFT JOIN AT0128 A19 WITH (NOLOCK) ON O99.S19ID = A19.StandardID AND A19.StandardTypeID = ''S19''
	LEFT JOIN AT0128 A20 WITH (NOLOCK) ON O99.S20ID = A20.StandardID AND A20.StandardTypeID = ''S20''	'
	
END	

SET @sSQL2 = @sSQL2 + @sSQLPer 
		


--IF NOT EXISTS (SELECT TOP 1 1 FROM SYSOBJECTS WHERE NAME = 'AV3021' AND XTYPE ='V')
--	EXEC ('CREATE VIEW AV3021

-- -- AP3021
--	AS '+@sSQL1 + @sSQL3 + @sSQL2 + @sSQL4 + @sWhere)
--ELSE
--	EXEC ('ALTER VIEW AV3021 ---- AP3021
--	AS '+@sSQL1 + @sSQL3 +@sSQL2 + @sSQL4 + @sWhere)

EXEC(@sSQL1 + @sSQL3 +@sSQL2 + @sSQL4 + @sWhere)

--PRINT(@sSQL1)
--PRINT(@sSQL3)
--PRINT(@sSQL2)
--PRINT(@sSQL4)
--PRINT(@sWhere)
--PRINT(@sSQLPer)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
SET NOCOUNT OFF
GO