/****** Object:  StoredProcedure [dbo].[AP3018_BBL]    Script Date: 02/01/2012 10:25:46 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AP3018_BBL]') AND type IN (N'P', N'PC'))
DROP PROCEDURE [dbo].[AP3018_BBL]
GO
/****** Object: StoredProcedure [dbo].[AP3018_BBL] Script Date: 08/02/2010 11:02:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

---- Create by Nguyen Van Nhan, Date 08/08/2003
---- Purpose: IN the kho (tuong tu So chi tiet vat tu)
---- Edited by Nguyen Quoc Huy, Date 24/08/2006
---- Edit by: Dang Le Bao Quynh; Date: 05/01/2009
---- Purpose: Them truong ObjectID
---- Edit by: Dang Le Bao Quynh; Date: 16/01/2009
---- Purpose: Bo sung truong hop xuat hang mua tra lai
---- Edit by: Tan Phu, date: 29/082012
---- Purpose: 0018241: [TIENTIEN] bổ sung trường tham chiếu 1, tham chiếu 2 vào view av3018 (report AR3018)
---- Modified on 08/10/2012 by Bao Anh : Customize cho 2T (the kho theo quy cách), gọi AP3088
---- Modified on 08/07/2014 by Bảo Anh: 1/ Trả trực tiếp dữ liệu, không tạo view AV3018
----									2/ Bỏ điều kiện SUM(SignAmount) <> 0 khi tạo AV7005 (in theo ngày)
---- Modified by Tiểu Mai on 11/01/2016: Bổ sung trường hợp quản lý hàng theo quy cách.
---- Modify on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified by Bảo Thy on 24/08/2017: Bổ sung tiêu thức lọc từ đối tượng đến đối tượng (EIMSKIP)
---- Modified by Bảo Thy on 18/10/2017: Fix lỗi thiếu ObjectID
---- Modified by Bảo Thy on 22/12/2017: Fix lỗi double dữ liệu đầu kỳ
---- Modified by Kim Thư on 31/01/2019: Lấy WarehouseName bỏ điều kiện DivisionID, bỏ kết Division in theo kỳ
---- Modified by Kim Thư on 30/05/2019: Bổ sung WITH(NOLOCK), Tạo bảng tạm thay cho AV7000 cải thiện tốc độ
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Huỳnh Thử on 05/01/2021: [EMISKIP] -- Bổ sung ObjectID #AV7000
---- Modified by Nhựt Trường on 21/07/2021: Điều chỉnh cách truyền biến DivisionID khi join bảng AT1304.
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---- Modified by Đình Định on 07/08/2023:BBL - Bổ sung cột ConvertedUnitID.
---- Modified by Đình Định on 11/08/2023:BBL - Bổ sung cột BeginConvertedQuantity.

/********************************************
'* Edited BY: [GS] [Hoàng Phước] [29/07/2010]
'********************************************/
-- AP3018_BBL 'KC','a','b','c',1,1,1,1,'','',0
CREATE PROCEDURE [dbo].[AP3018_BBL] 
    @DivisionID NVARCHAR(50), 
    @WareHouseID NVARCHAR(50), 
    @FromInventoryID NVARCHAR(50), 
    @ToInventoryID NVARCHAR(50), 
    @FromMonth INT, 
    @FromYear INT, 
    @ToMonth INT, 
    @ToYear INT, 
    @FromDate DATETIME, 
    @ToDate DATETIME,
    @IsDate TINYINT,
	@FromObjectID VARCHAR(50) = '',
	@ToObjectID VARCHAR(50) = ''
 
AS

DECLARE @CustomerName INT
--Tao bang tam de kiem tra day co phai la khach hang 2T khong (CustomerName = 15)
CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
	EXEC AP3018_QC @DivisionID, @WareHouseID, @FromInventoryID, @ToInventoryID, @FromMonth, @FromYear, @ToMonth, @ToYear, @FromDate, @ToDate, @IsDate
ELSE
BEGIN
	BEGIN
		DECLARE 
			@SQL1 NVARCHAR(MAX), 
			@SQL2 NVARCHAR(MAX), 
			@SQL3 NVARCHAR(MAX), 
			@SQL4 NVARCHAR(MAX), 
			@WareHouseName NVARCHAR(250), 
			@KindVoucherListIm NVARCHAR(200), 
			@KindVoucherListEx1 NVARCHAR(200), 
			@KindVoucherListEx2 NVARCHAR(200),
			@FromMonthYearText NVARCHAR(20), 
			@ToMonthYearText NVARCHAR(20), 
			@FromDateText NVARCHAR(20), 
			@ToDateText NVARCHAR(20),
			@sWhere NVARCHAR(MAX) = ''
		
		SELECT @WareHouseName = WareHouseName FROM AT1303 WHERE DivisionID IN (@DivisionID, '@@@') AND WareHouseID = @WareHouseID 
		    
		SET @FromMonthYearText = STR(@FromMonth + @FromYear * 100)
		SET @ToMonthYearText = STR(@ToMonth + @ToYear * 100)
		SET @FromDateText = CONVERT(NVARCHAR(20), @FromDate, 101)
		SET @ToDateText = CONVERT(NVARCHAR(20), @ToDate, 101) + ' 23:59:59'

		SET @KindVoucherListEx1 = ' (2, 4, 3, 6, 8, 10, 14, 20) '
		SET @KindVoucherListEx2 = ' (2, 4, 6, 8, 10, 14, 20) '
		SET @KindVoucherListIm = ' (1, 3, 5, 7, 9, 15, 17) '

		-- Tạo bảng tạm thay cho AV7000 - cải thiện tốc độ
		--- So du No cua tai khoan ton kho
		SELECT  D17.DivisionID, D16.TranMonth, D16.TranYear, D16.WareHouseID, D17.InventoryID, D02.InventoryName, 'BD' AS D_C,  --- So du No
			    D17.Notes, D16.VoucherDate, D02.UnitID, D04.UnitName,
			    ActualQuantity AS SignQuantity, ConvertedAmount AS SignAmount,	
			    D17.Notes01, D17.Notes02, D17.Notes03, D02.Specification, D16.ObjectID,
			    D17.ConvertedQuantity, D17.ConvertedUnitID
		INTO #AV7000
		From AT2017 D17 WITH (NOLOCK)
		INNER JOIN AT2016 D16 WITH (NOLOCK) ON D16.VoucherID = D17.VoucherID AND D16.DivisionID = D17.DivisionID
		INNER JOIN AT1302 D02 WITH (NOLOCK) ON D02.DivisionID IN (D17.DivisionID,'@@@') AND D02.InventoryID = D17.InventoryID
		LEFT JOIN AT1304 D04 WITH (NOLOCK) ON D04.UnitID = D02.UnitID
		Where D16.DivisionID LIKE @DivisionID AND D16.WareHouseID LIKE @WareHouseID
				AND D17.InventoryID BETWEEN @FromInventoryID AND @ToInventoryID 
				AND  isnull(D17.DebitAccountID,'') <>''

		UNION ALL --- So du co hang ton kho

		SELECT  D17.DivisionID, D16.TranMonth, D16.TranYear, D16.WareHouseID, D17.InventoryID, D02.InventoryName, 'BC' AS D_C,  --- So du Co
			    D17.Notes, D16.VoucherDate, D02.UnitID, D04.UnitName,
			    -ActualQuantity AS SignQuantity, -ConvertedAmount AS SignAmount,	
			    D17.Notes01, D17.Notes02, D17.Notes03, D02.Specification, D16.ObjectID,
				D17.ConvertedQuantity, D17.ConvertedUnitID
		FROM AT2017  D17 WITH (NOLOCK) 
		INNER JOIN AT2016 D16 WITH (NOLOCK) ON D16.VoucherID = D17.VoucherID AND D16.DivisionID = D17.DivisionID 
		INNER JOIN AT1302 D02 WITH (NOLOCK) ON D02.DivisionID IN (D17.DivisionID,'@@@') AND D02.InventoryID = D17.InventoryID
		LEFT JOIN AT1304 D04 WITH (NOLOCK) ON D04.UnitID = D02.UnitID
		WHERE D16.DivisionID LIKE @DivisionID AND D16.WareHouseID LIKE @WareHouseID
		  AND D17.InventoryID BETWEEN @FromInventoryID AND @ToInventoryID 
		  AND ISNULL(D17.CreditAccountID,'') <>''

		UNION ALL  -- Nhap kho

		SELECT  D07.DivisionID, D06.TranMonth, D06.TranYear, D06.WareHouseID, D07.InventoryID, D02.InventoryName, 'D' AS D_C,  --- Phat sinh No
			    D07.Notes, D06.VoucherDate, D02.UnitID, D04.UnitName,
			    ActualQuantity AS SignQuantity,	ConvertedAmount AS SignAmount,	
			    D07.Notes01, D07.Notes02, D07.Notes03, D02.Specification, D06.ObjectID,
				D07.ConvertedQuantity, D07.ConvertedUnitID
		   FROM AT2007  D07 WITH (NOLOCK)
		INNER JOIN AT2006 D06 WITH (NOLOCK) ON D06.VoucherID = D07.VoucherID AND D06.DivisionID = D07.DivisionID
		INNER JOIN AT1302 D02 WITH (NOLOCK) ON D02.DivisionID IN (D07.DivisionID,'@@@') AND D02.InventoryID = D07.InventoryID
		LEFT JOIN AT1304 D04 WITH (NOLOCK) ON D04.UnitID = D02.UnitID
		WHERE D06.DivisionID LIKE @DivisionID AND D06.KindVoucherID in (1,3,5,7,9,15,17) AND D06.WareHouseID LIKE @WareHouseID
		  AND D07.InventoryID BETWEEN @FromInventoryID AND @ToInventoryID 
		  AND Isnull(D06.TableID,'') <> 'AT0114' ------- Phiếu nhập bù của ANGEL

		UNION ALL  -- xuat kho

		SELECT  D07.DivisionID, D06.TranMonth, D06.TranYear, CASE WHEN D06.KindVoucherID = 3 then D06.WareHouseID2 Else  D06.WareHouseID End AS WareHouseID, 
			    D07.InventoryID, D02.InventoryName, 'C' AS D_C,  --- So du Co
			    D07.Notes, D06.VoucherDate, D02.UnitID, D04.UnitName,
			    -ActualQuantity AS SignQuantity, -ConvertedAmount AS SignAmount,	
			    D07.Notes01, D07.Notes02, D07.Notes03, D02.Specification, D06.ObjectID,
				D07.ConvertedQuantity, D07.ConvertedUnitID
		FROM AT2007 AS D07 WITH (NOLOCK)
		INNER JOIN AT2006 D06 WITH (NOLOCK) ON D06.VoucherID = D07.VoucherID AND D06.DivisionID = D07.DivisionID
		INNER JOIN AT1302 AS D02 WITH (NOLOCK) ON D02.DivisionID IN (D07.DivisionID,'@@@') AND D02.InventoryID = D07.InventoryID
		LEFT JOIN AT1304 AS D04 WITH (NOLOCK) ON D04.UnitID = D02.UnitID
		WHERE D06.DivisionID LIKE @DivisionID AND D06.KindVoucherID in (2,3,4,6,8,10,14,20) 
          AND CASE WHEN D06.KindVoucherID = 3 then D06.WareHouseID2 Else  D06.WareHouseID End LIKE @WareHouseID
          AND D07.InventoryID BETWEEN @FromInventoryID AND @ToInventoryID 

		-- Lấy số dư đầu
	IF @IsDate = 0 
	BEGIN
		SET @SQL1 = N'
		SELECT InventoryID, InventoryName, 
		       UnitID, UnitName, 
		       Specification, 
		       Notes01, Notes02, Notes03, 
		       SUM(SignQuantity) AS BeginQuantity, 
		       SUM(SignAmount) AS BeginAmount, 
		       0 AS EndQuantity, 
		       0 AS EndAmount, 
		       DivisionID,
		       AV7000.ConvertedQuantity
		  INTO #AV7005
		  FROM #AV7000 AV7000
		 WHERE ((D_C IN (''D'', ''C'') AND AV7000.TranMonth + AV7000.TranYear * 100 < ''' + @FromMonthYearText + ''' ) OR D_C = ''BD'' ) 
		 GROUP BY InventoryID, InventoryName, UnitID, UnitName, Specification, Notes01, Notes02, Notes03, DivisionID, ConvertedQuantity
		 HAVING SUM(SignQuantity) <> 0 ---OR SUM(SignAmount) <> 0 '

	END
	ELSE
	BEGIN
		SET @SQL1 = N' 
		SELECT InventoryID, InventoryName, 
			   UnitID, UnitName, 
			   Specification, 
			   Notes01, Notes02, Notes03, 
		       SUM(SignQuantity) AS BeginQuantity, 
		       SUM(SignAmount) AS BeginAmount, 
		       0 AS EndQuantity, 
		       0 AS EndAmount, 
		       DivisionID
		  INTO #AV7005
		  FROM #AV7000 AV7000
	  	 WHERE  ((D_C IN (''D'', ''C'') AND VoucherDate < ''' + @FromDateText + ''') OR D_C = ''BD'' ) 
		 GROUP BY InventoryID, InventoryName, UnitID, UnitName, Specification, Notes01, Notes02, Notes03, DivisionID
		HAVING SUM(SignQuantity) <> 0 ---OR SUM(SignAmount) <> 0	'
		END

	IF @IsDate = 0 
	BEGIN
		SET @SQL2 = N' -- Phần nhập kho
		SELECT AT2007.VoucherID, 
			   ''T05'' AS TransactionTypeID, 
		       AT2007.TransactionID, 
		       AT2007.Orders, 
		       AT2006.VoucherDate, AT2006.VoucherNo, 
		       AT2006.VoucherDate AS ImVoucherDate, 
		       AT2006.VoucherNo AS ImVoucherNo, 
		       AT2007.SourceNo AS ImSourceNo, 
		       AT2007.LimitDate AS ImLimitDate, 
		       AT2006.WareHouseID AS ImWareHouseID, 
		       AT2007.ActualQuantity AS ImQuantity, 
		       AT2007.UnitPrice AS ImUnitPrice, 
		       AT2007.ConvertedAmount AS ImConvertedAmount, 
		       AT2007.OriginalAmount AS ImOriginalAmount, 
		       ISNULL(AT2007.ConversionFactor, 1) * AT2007.ActualQuantity AS ImConvertedQuantity, 
		       NULL AS ExVoucherDate, 
		       NULL AS ExVoucherNo, 
		       NULL AS ExSourceNo, 
		       NULL AS ExLimitDate, 
		       NULL AS ExWareHouseID, 
		       NULL AS ExQuantity, 
		       NULL AS ExUnitPrice, 
		       NULL AS ExConvertedAmount, 
		       NULL AS ExOriginalAmount, 
		       NULL AS ExConvertedQuantity, 
		       AT2006.VoucherTypeID, 
		       AT2006.Description, 
		       AT2007.Notes, 
		       AT2007.InventoryID, 
		       AT1302.InventoryName, 
		       AT1302.Specification, AT1302.Notes01, AT1302.Notes02, AT1302.Notes03, 
		       AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, 
		       AT2007.UnitID, AT1304.UnitName, 
		       ISNULL(AT2007.ConversionFactor, 1) AS ConversionFactor, AT2006.ObjectID, AT1202.ObjectName, AT2007.DivisionID 
		       ,AT2006.RefNo01,
		       AT2006.RefNo02,
		       AT2007.RefInfor,
		       AT2007.ConvertedUnitID,
			   AT2007.ConvertedQuantity
		INTO #AV3028
		FROM AT2007 WITH (NOLOCK)
		INNER JOIN AT2006  WITH (NOLOCK) ON AT2006.VoucherID = AT2007.VoucherID AND AT2006.DivisionID = AT2007.DivisionID
		INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT2007.DivisionID,''@@@'') AND AT1302.InventoryID = AT2007.InventoryID
		LEFT JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT2007.UnitID
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT2006.ObjectID

		WHERE AT2007.DivisionID = ''' + @DivisionID + ''' 
		  AND AT2007.TranMonth + AT2007.TranYear * 100 BETWEEN ' + @FromMonthYearText + ' AND ' + @ToMonthYearText + ' 
		  AND AT2006.KindVoucherID IN ' + @KindVoucherListIm + ' 
		  AND AT2006.WareHouseID LIKE N''' + @WareHouseID + '''
		  AND AT2007.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + '''
		'+@sWhere+'

		UNION ALL
		'
				SET @SQL3 = N'
		-- Phần xuất kho
		SELECT 
		AT2007.VoucherID, 
		''T06'' AS TransactionTypeID, 
		AT2007.TransactionID, 
		AT2007.Orders, 
		AT2006.VoucherDate, 
		AT2006.VoucherNo, 
		Null AS ImVoucherDate, 
		Null AS ImVoucherNo, 
		Null AS ImSourceNo, 
		Null AS ImLimitDate, 
		Null AS ExWareHouseID, 
		Null AS ImQuantity, 
		Null AS ImUnitPrice, 
		Null AS ImConvertedAmount, 
		Null AS ImOriginalAmount, 
		Null AS ImConvertedQuantity, 
		AT2006.VoucherDate AS ExVoucherDate, 
		AT2006.VoucherNo AS ExVoucherNo, 
		AT2007.SourceNo AS ExSourceNo, 
		AT2007.LimitDate AS ExLimitDate, 
		(CASE WHEN AT2006.KindVoucherID = 3 THEN AT2006.WareHouseID2 ELSE AT2006.WareHouseID END) AS ExWareHouseID, 
		AT2007.ActualQuantity AS ExQuantity, 
		AT2007.UnitPrice AS ExUnitPrice, 
		AT2007.ConvertedAmount AS ExConvertedAmount, 
		AT2007.OriginalAmount AS ExOriginalAmount, 
		ISNULL(AT2007.ConversionFactor, 1) * AT2007.ActualQuantity AS ExConvertedQuantity, 
		AT2006.VoucherTypeID, 
		AT2006.Description, 
		AT2007.Notes, 
		AT2007.InventoryID, 
		AT1302.InventoryName, 
		AT1302.Specification, AT1302.Notes01, AT1302.Notes02, AT1302.Notes03, 
		AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, 
		AT2007.UnitID, AT1304.UnitName, 
		ISNULL(AT2007.ConversionFactor, 1) AS ConversionFactor, AT2006.ObjectID, AT1202.ObjectName, AT2007.DivisionID 
		,AT2006.RefNo01,
		AT2006.RefNo02,
		AT2007.RefInfor,
		AT2007.ConvertedUnitID,
		AT2007.ConvertedQuantity
		FROM AT2007 WITH (NOLOCK) 
		INNER JOIN AT2006 WITH (NOLOCK) ON AT2006.VoucherID = AT2007.VoucherID AND AT2006.DivisionID = AT2007.DivisionID
		INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT2007.DivisionID,''@@@'') AND AT1302.InventoryID = AT2007.InventoryID
		LEFT JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT2007.UnitID
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT2006.ObjectID

		WHERE AT2007.DivisionID = ''' + @DivisionID + ''' 
		AND AT2007.TranMonth + AT2007.TranYear * 100 BETWEEN ' + @FromMonthYearText + ' AND ' + @ToMonthYearText + ' 
		AND AT2006.KindVoucherID IN ' + @KindVoucherListEx1 + '  
		AND ((AT2006.KindVoucherID IN ' + @KindVoucherListEx2 + ' AND WareHouseID LIKE ''' + @WareHouseID + ''') 
			OR (KindVoucherID = 3 AND WareHouseID2 LIKE ''' + @WareHouseID + ''')) 
		AND AT2007.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + '''
		'+@sWhere+'
		'
			END
		ELSE
			BEGIN
			SET @SQL2 = N'
		-- Phần nhập kho
		SELECT 
		AT2007.VoucherID, 
		''T05'' AS TransactionTypeID, 
		AT2007.TransactionID, 
		AT2007.Orders, 
		AT2006.VoucherDate, 
		AT2006.VoucherNo, 
		AT2006.VoucherDate AS ImVoucherDate, 
		AT2006.VoucherNo AS ImVoucherNo, 
		AT2007.SourceNo AS ImSourceNo, 
		AT2007.LimitDate AS ImLimitDate, 
		AT2006.WareHouseID AS ImWareHouseID, 
		AT2007.ActualQuantity AS ImQuantity, 
		AT2007.UnitPrice AS ImUnitPrice, 
		AT2007.ConvertedAmount AS ImConvertedAmount, 
		AT2007.OriginalAmount AS ImOriginalAmount, 
		ISNULL(AT2007.ConversionFactor, 1) * AT2007.ActualQuantity AS ImConvertedQuantity, 
		Null AS ExVoucherDate, 
		Null AS ExVoucherNo, 
		Null AS ExSourceNo, 
		Null AS ExLimitDate, 
		Null AS ExWareHouseID, 
		Null AS ExQuantity, 
		Null AS ExUnitPrice, 
		Null AS ExConvertedAmount, 
		Null AS ExOriginalAmount, 
		Null AS ExConvertedQuantity, 
		AT2006.VoucherTypeID, 
		AT2006.Description, 
		AT2007.Notes, 
		AT2007.InventoryID, 
		AT1302.InventoryName, 
		AT1302.Specification, AT1302.Notes01, AT1302.Notes02, AT1302.Notes03, 
		AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, 
		AT2007.UnitID, AT1304.UnitName, 
		ISNULL(AT2007.ConversionFactor, 1) AS ConversionFactor, AT2006.ObjectID, AT1202.ObjectName, AT2007.DivisionID 
		,AT2006.RefNo01,
		AT2006.RefNo02,
		AT2007.RefInfor,
		AT2007.ConvertedUnitID,
		AT2007.ConvertedQuantity
		INTO #AV3028
		FROM AT2007 WITH (NOLOCK) 
		INNER JOIN AT2006 WITH (NOLOCK) ON AT2006.VoucherID = AT2007.VoucherID AND AT2006.DivisionID = AT2007.DivisionID
		INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT2007.DivisionID,''@@@'') AND AT1302.InventoryID = AT2007.InventoryID
		LEFT JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT2007.UnitID
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT2006.ObjectID

		WHERE AT2007.DivisionID = ''' + @DivisionID + ''' 
		AND AT2006.VoucherDate BETWEEN ''' + @FromDateText + ''' AND ''' + @ToDateText + ''' 
		AND AT2006.KindVoucherID IN ' + @KindVoucherListIm + ' 
		AND AT2006.WareHouseID LIKE N''' + @WareHouseID + '''
		AND AT2007.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' 
		'+@sWhere+'

		UNION ALL
		'
			SET @SQL3 = N'
		-- Phần xuất kho
		SELECT
		AT2007.VoucherID, 
		''T06'' AS TransactionTypeID, 
		AT2007.TransactionID, 
		AT2007.Orders, 
		AT2006.VoucherDate, 
		AT2006.VoucherNo, 
		Null AS ImVoucherDate, 
		Null AS ImVoucherNo, 
		Null AS ImSourceNo, 
		Null AS ImLimitDate, 
		Null AS ExWareHouseID, 
		Null AS ImQuantity, 
		Null AS ImUnitPrice, 
		Null AS ImConvertedAmount, 
		Null AS ImOriginalAmount, 
		Null AS ImConvertedQuantity, 
		AT2006.VoucherDate AS ExVoucherDate, 
		AT2006.VoucherNo AS ExVoucherNo, 
		AT2007.SourceNo AS ExSourceNo, 
		AT2007.LimitDate AS ExLimitDate, 
		(CASE WHEN AT2006.KindVoucherID = 3 THEN AT2006.WareHouseID2 ELSE AT2006.WareHouseID END) AS ExWareHouseID, 
		AT2007.ActualQuantity AS ExQuantity, 
		AT2007.UnitPrice AS ExUnitPrice, 
		AT2007.ConvertedAmount AS ExConvertedAmount, 
		AT2007.OriginalAmount AS ExOriginalAmount, 
		ISNULL(AT2007.ConversionFactor, 1) * AT2007.ActualQuantity AS ExConvertedQuantity, 
		AT2006.VoucherTypeID, 
		AT2006.Description, 
		AT2007.Notes, 
		AT2007.InventoryID, 
		AT1302.InventoryName, 
		AT1302.Specification, AT1302.Notes01, AT1302.Notes02, AT1302.Notes03, 
		AT2007.Ana01ID, AT2007.Ana02ID, AT2007.Ana03ID, AT2007.Ana04ID, AT2007.Ana05ID, 
		AT2007.UnitID, AT1304.UnitName, 
		ISNULL(AT2007.ConversionFactor, 1) AS ConversionFactor, AT2006.ObjectID, AT1202.ObjectName, AT2007.DivisionID
		,AT2006.RefNo01,
		AT2006.RefNo02,
		AT2007.RefInfor,
		AT2007.ConvertedUnitID,
		AT2007.ConvertedQuantity
		FROM AT2007 WITH (NOLOCK) 
		INNER JOIN AT2006 WITH (NOLOCK) ON AT2006.VoucherID = AT2007.VoucherID AND AT2006.DivisionID = AT2007.DivisionID
		INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN (AT2007.DivisionID,''@@@'') AND AT1302.InventoryID = AT2007.InventoryID
		LEFT JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT2007.UnitID
		LEFT JOIN AT1202 WITH (NOLOCK) ON AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT2006.ObjectID

		WHERE AT2007.DivisionID = ''' + @DivisionID + ''' 
		AND AT2006.VoucherDate BETWEEN ''' + @FromDateText + ''' AND ''' + @ToDateText + ''' 
		AND KindVoucherID IN ' + @KindVoucherListEx1 + ' 
		AND ((KindVoucherID IN ' + @KindVoucherListEx2 + ' AND WareHouseID LIKE ''' + @WareHouseID + ''') 
			OR (KindVoucherID = 3 AND WareHouseID2 LIKE ''' + @WareHouseID + ''')) 
		AND AT2007.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + '''
		'+@sWhere+'
		'
			END

			--PRINT(N'--Lấy phần phát sinh
			--'+@SQL1)
			--PRINT(@SQL2)

		--IF NOT EXISTS (SELECT 1 FROM SysObjects WHERE Xtype = 'V' AND Name = 'AV3028')
		--	EXEC('CREATE VIEW AV3028 -- Tạo bởi AP3018_BBL
		--		AS ' + @SQL1 + @SQL2)
		--ELSE
		--	EXEC('ALTER VIEW AV3028 -- Tạo bởi AP3018_BBL
		--	AS ' + @SQL1 + @SQL2)

		--- Lay du su va phat sinh
		SET @SQL4 = N'
		SELECT 
		''' + @WareHouseID + ''' AS WareHouseID, 
		N''' + @WareHouseName + ''' AS WareHouseName, 
		AV3028.VoucherID, 
		AV3028.TransactionTypeID, 
		AV3028.TransactionID, 
		AV3028.Orders, 
		AV3028.VoucherDate, 
		AV3028.VoucherNo, 
		AV3028.ImVoucherDate, 
		AV3028.ImVoucherNo, 
		AV3028.ImSourceNo, 
		AV3028.ImLimitDate, 
		ISNULL(AV3028.ImQuantity, 0) AS ImQuantity, 
		AV3028.ImUnitPrice, 
		ISNULL(AV3028.ImConvertedAmount, 0) AS ImConvertedAmount, 
		ISNULL(AV3028.ImOriginalAmount, 0) AS ImOriginalAmount, 
		ISNULL(AV3028.ImConvertedQuantity, 0) AS ImConvertedQuantity, 
		AV3028.ExVoucherDate, 
		AV3028.ExVoucherNo, 
		AV3028.ExSourceNo, 
		AV3028.ExLimitDate, 
		ISNULL(AV3028.ExQuantity, 0) AS ExQuantity, 
		AV3028.ExUnitPrice, 
		ISNULL(AV3028.ExConvertedAmount, 0) AS ExConvertedAmount, 
		AV3028.ExOriginalAmount, 
		AV3028.ExConvertedQuantity, 
		AV3028.VoucherTypeID, 
		AV3028.Description, 
		AV3028.Notes, 
		ISNULL(AV3028.InventoryID, AV7005.InventoryID) AS InventoryID, 
		ISNULL(AV3028.InventoryName, AV7005.InventoryName) AS InventoryName, 
		ISNULL(AV3028.Specification, AV7005.Specification) AS Specification, 
		ISNULL(AV3028.Notes01, AV7005.Notes01) AS Notes01, 
		ISNULL(AV3028.Notes02, AV7005.Notes02) AS Notes02, 
		ISNULL(AV3028.Notes03, AV7005.Notes03) AS Notes03, 
		AV3028.Ana01ID, AV3028.Ana02ID, AV3028.Ana03ID, AV3028.Ana04ID, AV3028.Ana05ID, 
		ISNULL(AV3028.UnitID, AV7005.UnitID) AS UnitID, 
		ISNULL(AV3028.UnitName, AV7005.UnitName) AS UnitName, 
		ISNULL(AV7005.BeginQuantity, 0) AS BeginQuantity, 
		
		AV3028. ConversionFactor, AV3028.ObjectID, AV3028.ObjectName, ''' + @DivisionID + ''' AS DivisionID
		,AV3028.RefNo01,
		AV3028.RefNo02,
		AV3028.RefInfor,
		AV3028.ConvertedUnitID,
		' + CASE WHEN @IsDate = 0
			     THEN 'ISNULL(AV7005.ConvertedQuantity, 0) '
				 ELSE 'ISNULL(AV3028.ConvertedQuantity, 0) '
				  END +	' AS BeginConvertedQuantity
		
		FROM #AV3028 AV3028
		FULL JOIN #AV7005 AV7005 ON AV7005.InventoryID = AV3028.InventoryID AND AV7005.DivisionID = AV3028.DivisionID 

		WHERE ISNULL(AV3028.ImQuantity, 0) <> 0 
		OR ISNULL(AV3028.ImConvertedAmount, 0) <> 0 
		OR ISNULL(AV3028.ExQuantity, 0) <> 0 
		OR ISNULL(AV3028.ExConvertedAmount, 0) <> 0 
		OR ISNULL(AV7005.BeginQuantity, 0) <> 0 
		OR ISNULL(AV7005.BeginAmount, 0) <> 0
		ORDER BY AV3028.VoucherID
		'
		--PRINT(N'--Cuối
		--'+@SQL1)

		print @SQL1
		print @SQL2
		print @SQL3
		print @SQL4
		EXEC (@SQL1+@SQL2+@SQL3+@SQL4)
		/*
		IF NOT EXISTS (SELECT 1 FROM SysObjects WHERE Xtype='V' AND Name ='AV3018')
			EXEC('CREATE VIEW AV3018 AS -- Tạo bởi AP3018_BBL
				' + @SQL1)
		ELSE
			EXEC('ALTER VIEW AV3018 AS -- Tạo bởi AP3018_BBL
				' + @SQL1)
		*/
	END
	
END	