IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH(NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[AP3042]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3042]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


----- In phieu chi: Mau so 3
----- Date 09/11/2007
----- Edit by B.Anh, Date 21/04/2008, Purpose: Lay them truong ObjectID
----- Edit by B.Anh, date 18/08/2009, Purpose: Bo sung cho truong hop thu qua ngan hang
----- Edit by B.Anh, date 26/08/2009, Porpose: Lay cac truong ma phan tich va phan kem theo
---- Edit by B.Anh, date 27/01/2010	Sua loi thanh tien khong dung
---- Edit by Thien Huynh, date 29/11/2011 Khong Where theo @BatchID nua
--- Vi khong luu BatchID = VoucherID nua ma Sinh BatchID theo tung Hoa don tren luoi
---- Modify by Phương Thảo on 04/03/2016: Bổ sung tên mã phân tích và đối tượng
---- Modified by Hải Long on 18/05/2017: Chỉnh sửa danh mục dùng chung
/********************************************
'* Edited by: [GS] [Thanh Trẫm] [29/07/2010]
'********************************************/
---- EXEC AP3042 'TT', 2, 2017, 'AV9cc0547c-ea8e-45f8-b60b-f3823d24bff5', 'AB69f1769e-159c-4f93-924d-5725157e2b1c'

---- Modify by Phương Thảo on 30/05/2016: Bổ sung WITH(NOLOCK)
---- Modified on 12/05/2017 by Bảo Thy: Bổ sung CreditAccountName, DebitAccountName (TUNGTEX)
---- Modified by Bảo Thy on 09/06/2017: Bỏ where BatchID khi lấy InvoiceNoList. Bổ sung InvoiceNo (TUNGTEX)
---- Modified by Đức Tuyên on 09/01/2023: Lấy trường ReVoucherNo (số chứng từ) phiếu đề nghị chi tiền mặt lên phiếu in phiếu chi tiền mặt
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

CREATE PROCEDURE [dbo].[AP3042] 
				@DivisionID as nvarchar(50),
				@TranMonth as int,
				@TranYear as int,
				@VoucherID as nvarchar(50),
				@BatchID as nvarchar(50)
 AS
Declare @sSQL as nvarchar(4000),
	@AT9000Cursor as cursor,
	@InvoiceNo as nvarchar(50),
	@Serial as nvarchar(50),
	@InvoiceNoList as nvarchar(500),
	@DebitAccountList as nvarchar(500),
	@DebitAccountID  as nvarchar(50),
	@CreditAccountList as nvarchar(500),
	@CreditAccountID  as nvarchar(50),
	@InvoiceDate nvarchar(10),
	@IsType as int
		
Declare	@TempTable table(CustomerName  int,IsExcel  int)

INSERT @TempTable
EXEC	[dbo].[AP4444]
-- CustomerName == 2; Customize khách hàng ngọc Tề
select @IsType= case when CustomerName<>2 then 0 else 1 end  from @TempTable


SET @InvoiceNoList =''
SET @AT9000Cursor = CURSOR SCROLL KEYSET FOR
Select Distinct isnull(Serial,'') , isnull(InvoiceNo,''), isnull(convert(nvarchar(10), InvoiceDate, 103), '')  as InvoiceDate
		 From AT9000 WITH(NOLOCK) Where VoucherID =@VoucherID --and BatchID = @BatchID --and TransactionTypeID ='T02'
						and DivisionID =@DivisionID and TransactionTypeID in ('T02','T03','T13','T21','T23')
OPEN @AT9000Cursor
		FETCH NEXT FROM @AT9000Cursor INTO @Serial , @InvoiceNo, @InvoiceDate
			
		WHILE @@FETCH_STATUS = 0
		BEGIN
			if(@IsType = 0)
				begin
				Set @InvoiceNoList = @InvoiceNoList + @Serial + case when @Serial <> '' then ', ' else '' end + @InvoiceNo + 
					case when @invoiceNo <> '' then ', '  else '' end + @InvoiceDate + 
					case when @Serial +  @InvoiceNo +@InvoiceDate <> '' then    '; ' else '' end
				end
			else
				begin
					Set @InvoiceNoList = @InvoiceNoList + @InvoiceNo + 
					case when @InvoiceNo <> '' then    '; ' else '' end
				end
			FETCH NEXT FROM @AT9000Cursor INTO @Serial, @InvoiceNo, @InvoiceDate
		END
CLOSE @AT9000Cursor

If @InvoiceNoList<>'' 
	Set @InvoiceNoList =replace(@InvoiceNoList,'''','''''')

Set @sSQL ='
Select 	AT9000.VoucherID, AT9000.DivisionID, AT9000.TranMonth, AT9000.TranYear, 
	AT9000.Orders, AT9000.VoucherTypeID, AT9000.VoucherNo, AT9000.VoucherDate,
	AT9000.VDescription,
	AT9000.TDescription,
	AT9000.BDescription, AT9000.InvoiceNo,
	N'''+isnull(@InvoiceNoList,'')+''' as InvoiceNoList,
	AT9000.CreditAccountID, AT05.AccountName AS CreditAccountName,
	AT9000.DebitAccountID, AT06.AccountName AS DebitAccountName, 
	AT9000.ObjectID, OB.ObjectName,
	AT9000.CurrencyID, AT9000.ExchangeRate,
	AT9000.SenderReceiver, AT9000.SRDivisionName, AT9000.SRAddress,
	AT9000.RefNo01, AT9000.RefNo02, 
	--FullName,
	---ChiefAccountant,
	AT9000.ConvertedAmount,
	AT9000.OriginalAmount,	
	T91.VoucherNo as ReVoucherNo,
	AT9000.Ana01ID, A01.AnaName AS Ana01Name, AT9000.Ana02ID, A02.AnaName AS Ana02Name,
	AT9000.Ana03ID, A03.AnaName AS Ana03Name, AT9000.Ana04ID, A04.AnaName AS Ana04Name,
	AT9000.Ana05ID, A05.AnaName AS Ana05Name, AT9000.Ana06ID, A06.AnaName AS Ana06Name,
	AT9000.Ana07ID, A07.AnaName AS Ana07Name, AT9000.Ana08ID, A08.AnaName AS Ana08Name,
	AT9000.Ana09ID, A09.AnaName AS Ana09Name, AT9000.Ana10ID, A10.AnaName AS Ana10Name,
	AT9000.IsWithhodingTax
From AT9000 WITH(NOLOCK)
LEFT JOIN AT1011 A01 WITH(NOLOCK) ON A01.AnaID = AT9000.Ana01ID AND A01.AnaTypeID =''A01''
LEFT JOIN AT1011 A02 WITH(NOLOCK) ON A02.AnaID = AT9000.Ana02ID AND A02.AnaTypeID =''A02''
LEFT JOIN AT1011 A03 WITH(NOLOCK) ON A03.AnaID = AT9000.Ana03ID AND A03.AnaTypeID =''A03''
LEFT JOIN AT1011 A04 WITH(NOLOCK) ON A04.AnaID = AT9000.Ana04ID AND A04.AnaTypeID =''A04''
LEFT JOIN AT1011 A05 WITH(NOLOCK) ON A05.AnaID = AT9000.Ana05ID AND A05.AnaTypeID =''A05''
LEFT JOIN AT1011 A06 WITH(NOLOCK) ON A06.AnaID = AT9000.Ana06ID AND A06.AnaTypeID =''A06''
LEFT JOIN AT1011 A07 WITH(NOLOCK) ON A07.AnaID = AT9000.Ana07ID AND A07.AnaTypeID =''A07''
LEFT JOIN AT1011 A08 WITH(NOLOCK) ON A08.AnaID = AT9000.Ana08ID AND A08.AnaTypeID =''A08''
LEFT JOIN AT1011 A09 WITH(NOLOCK) ON A09.AnaID = AT9000.Ana09ID AND A09.AnaTypeID =''A09''
LEFT JOIN AT1011 A10 WITH(NOLOCK) ON A10.AnaID = AT9000.Ana10ID AND A10.AnaTypeID =''A10''
LEFT JOIN AT1202 OB WITH(NOLOCK) ON OB.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.ObjectID = OB.ObjectID
LEFT JOIN AT1005 AT05 WITH (NOLOCK) ON AT9000.CreditAccountID = AT05.AccountID
LEFT JOIN AT1005 AT06 WITH (NOLOCK) ON AT9000.DebitAccountID = AT06.AccountID
LEFT JOIN AT9010 T91 WITH (NOLOCK) ON T91.DivisionID = AT9000.DivisionID AND T91.VoucherID = AT9000.VoucherID
Where AT9000.TransactionTypeID in (''T02'',''T03'',''T13'',''T21'',''T23'') and
	AT9000.DivisionID = '''+@DivisionID+''' and
	AT9000.VoucherID ='''+@VoucherID+''' ---and AT9000.BatchID = ''' + @BatchID + '''
'
--print @sSQL

If Not Exists (Select 1 From sysObjects Where Name ='AV3042')
	Exec ('Create view AV3042 as '+@sSQL)
Else
	Exec( 'Alter view AV3042 as '+@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
