IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH(NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[AP3051]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3051]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Created by Nguyen Quoc Huy
--Date : 04/10/2005
--Purpose: Hang ban tra lai
--LastEdit :ThuyTuyen , Them truong DiscountRate, 27/03/2007
/********************************************
'* Edited by: [GS] [Tố Oanh] [29/07/2010]
'********************************************/
--Edited by: Dang Le Bao Quynh; Date: 01/12/2011
--Purpose: Them cac field phan loai va ma phan tich doi tuong
---- Modified by Phương Thảo on 30/05/2016: Bổ sung  WITH(NOLOCK)
---- Modify on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified on 05/04/2018 by Bảo Anh: Bổ sung 10 MPT Ana01ID...Ana10ID
---- Modified by: Kim Thư on 26/11/2018 - Bổ sung mã phân tích mặt hàng I01ID -> I10ID, I01Name -> I10Name
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Huỳnh Thử on 05/01/2021: Bổ sung trường giá vốn
---- Modified by Huỳnh Thử on 08/01/2021: Bổ sung trường thành tiền giá vốn

--- <Example> Exec AP3051 'GS', '1=1'

CREATE PROCEDURE [dbo].[AP3051] @DivisionID as nvarchar(50) ,@sSQLWhere as nvarchar(4000)  
as
declare @sSQL as nvarchar(4000)  ,  @sSQL1 as nvarchar(4000) 
set @sSQL=N'
	Select  
		AT9000.InventoryID,
		AT1302.InventoryName,
		AT1302.UnitID,
		AT1304.UnitName,
	    AT9000.Serial,
		AT9000.ObjectID,
		OB.ObjectName,
		OB.S1, OB.S2, OB.S3, 
		OB.S1Name, OB.S2Name, OB.S3Name, 
		OB.O01ID,  OB.O02ID, OB.O03ID, OB.O04ID, OB.O05ID,
		OB.O01Name, OB.O02Name, OB.O03Name, OB.O04Name, OB.O05Name, 
		AT9000.InvoiceNo,
		AT9000.VoucherDate,
		AT9000.VoucherNo,
		AT9000.DebitAccountID,
		AT9000.CreditAccountID,
		AT9000.InvoiceDate,
		AT9000.Quantity,
		AT9000.CurrencyID,
		AT9000.OriginalAmount,
		AT9000.ConvertedAmount , VATRate,
    	AT9000.VDescription,
		AT9000.BDescription,
		AT9000.TDescription,
		AT9000.DiscountRate,
		AT9000.DivisionID,
		AT9000.Ana01ID,
		AT9000.Ana02ID,
		AT9000.Ana03ID,
		AT9000.Ana04ID,
		AT9000.Ana05ID,
		AT9000.Ana06ID,
		AT9000.Ana07ID,
		AT9000.Ana08ID,
		AT9000.Ana09ID,
		AT9000.Ana10ID,
		ISNULL(AT1302.I01ID,'''') AS I01ID, ISNULL(AT1302.I02ID,'''') AS I012D, ISNULL(AT1302.I03ID,'''') AS I03ID, ISNULL(AT1302.I04ID,'''') AS I04ID, ISNULL(AT1302.I05ID,'''') AS I05ID, 
		ISNULL(AT1302.I06ID,'''') AS I06ID, ISNULL(AT1302.I07ID,'''') AS I07ID, ISNULL(AT1302.I08ID,'''') AS I08ID, ISNULL(AT1302.I09ID,'''') AS I09ID, ISNULL(AT1302.I10ID,'''') AS I10ID,
		ISNULL(I1.AnaName,'''') AS I01Name, ISNULL(I2.AnaName,'''') AS I02Name, ISNULL(I3.AnaName,'''') AS I03Name, ISNULL(I4.AnaName,'''') AS I04Name, ISNULL(I5.AnaName,'''') AS I05Name,
		ISNULL(I6.AnaName,'''') AS I06Name, ISNULL(I7.AnaName,'''') AS I07Name, ISNULL(I8.AnaName,'''') AS I08Name, ISNULL(I9.AnaName,'''') AS I09Name, ISNULL(I10.AnaName,'''') AS I10Name,
		(SELECT T90.UnitPrice FROM AT9000 T90 WITH (NOLOCK) WHERE T90.TransactionID = AT9000.TransactionID AND T90.TableID = ''AT2006'')  AS PrimeCost,
		(SELECT T90.OriginalAmount FROM AT9000 T90 WITH (NOLOCK) WHERE T90.TransactionID = AT9000.TransactionID AND T90.TableID = ''AT2006'') AS PrimeCostOriginalAmount,
		(SELECT T90.ConvertedAmount FROM AT9000 T90 WITH (NOLOCK) WHERE T90.TransactionID = AT9000.TransactionID AND T90.TableID = ''AT2006'') AS PrimeCostConvertedAmount
'
SET @sSQL1='
	From AT9000  WITH(NOLOCK)	left join AT1302  WITH(NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID=AT1302.InventoryID
			left join AT1304  WITH(NOLOCK) on AT1302.DivisionID IN (AT1304.DivisionID,''@@@'') AND AT1302.UnitID=AT1304.UnitID
			left join AT1010  WITH(NOLOCK) on AT1010.VATGroupID = AT9000.VATGroupID
			Left Join 
			(Select 
					AT1202.DivisionID, AT1202.ObjectID, AT1202.ObjectName, 
					AT1202.S1, AT1202.S2,  AT1202.S3, 
					OS1.SName As S1Name, OS2.SName As S2Name, OS3.SName As S3Name, 
					AT1202.O01ID,  AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
					O1.AnaName As O01Name, O2.AnaName As O02Name, O3.AnaName As O03Name, O4.AnaName As O04Name, O5.AnaName As O05Name
			From AT1202   WITH(NOLOCK)
					Left join AT1015 O1  WITH(NOLOCK) on O1.AnaID = AT1202.O01ID and O1.AnaTypeID = ''O01''
					Left join AT1015 O2  WITH(NOLOCK) on O2.AnaID = AT1202.O02ID and O2.AnaTypeID = ''O02''
					Left join AT1015 O3  WITH(NOLOCK) on O3.AnaID = AT1202.O03ID and O3.AnaTypeID = ''O03''
					Left join AT1015 O4  WITH(NOLOCK) on O4.AnaID = AT1202.O04ID and O4.AnaTypeID = ''O04''
					Left join AT1015 O5  WITH(NOLOCK) on O5.AnaID = AT1202.O05ID and O5.AnaTypeID = ''O05''
					Left join AT1207 OS1 WITH(NOLOCK) on OS1.S = AT1202.S1 and OS1.STypeID = ''O01''
					Left join AT1207 OS2 WITH(NOLOCK) on OS2.S = AT1202.S2 and OS2.STypeID = ''O02''
					Left join AT1207 OS3 WITH(NOLOCK) on OS3.S = AT1202.S3 and OS3.STypeID = ''O03'') OB
			On AT9000.ObjectID = OB.ObjectID And AT9000.DivisionID = OB.DivisionID
			Left join AT1015 I1  WITH(NOLOCK) on AT1302.DivisionID IN (I1.DivisionID,''@@@'') AND ISNULL(I1.AnaID,'''') = ISNULL(AT1302.I01ID,'''') and I1.AnaTypeID = ''I01''
			Left join AT1015 I2  WITH(NOLOCK) on AT1302.DivisionID IN (I2.DivisionID,''@@@'') AND ISNULL(I2.AnaID,'''') = ISNULL(AT1302.I02ID,'''') and I2.AnaTypeID = ''I02''
			Left join AT1015 I3  WITH(NOLOCK) on AT1302.DivisionID IN (I3.DivisionID,''@@@'') AND ISNULL(I3.AnaID,'''') = ISNULL(AT1302.I03ID,'''') and I3.AnaTypeID = ''I03''
			Left join AT1015 I4  WITH(NOLOCK) on AT1302.DivisionID IN (I4.DivisionID,''@@@'') AND ISNULL(I4.AnaID,'''') = ISNULL(AT1302.I04ID,'''') and I4.AnaTypeID = ''I04''
			Left join AT1015 I5  WITH(NOLOCK) on AT1302.DivisionID IN (I5.DivisionID,''@@@'') AND ISNULL(I5.AnaID,'''') = ISNULL(AT1302.I05ID,'''') and I5.AnaTypeID = ''I05''
			Left join AT1015 I6  WITH(NOLOCK) on AT1302.DivisionID IN (I6.DivisionID,''@@@'') AND ISNULL(I6.AnaID,'''') = ISNULL(AT1302.I06ID,'''') and I6.AnaTypeID = ''I06''
			Left join AT1015 I7  WITH(NOLOCK) on AT1302.DivisionID IN (I7.DivisionID,''@@@'') AND ISNULL(I7.AnaID,'''') = ISNULL(AT1302.I07ID,'''') and I7.AnaTypeID = ''I07''
			Left join AT1015 I8  WITH(NOLOCK) on AT1302.DivisionID IN (I8.DivisionID,''@@@'') AND ISNULL(I8.AnaID,'''') = ISNULL(AT1302.I08ID,'''') and I8.AnaTypeID = ''I08''
			Left join AT1015 I9  WITH(NOLOCK) on AT1302.DivisionID IN (I9.DivisionID,''@@@'') AND ISNULL(I9.AnaID,'''') = ISNULL(AT1302.I09ID,'''') and I9.AnaTypeID = ''I09''
			Left join AT1015 I10 WITH(NOLOCK) on AT1302.DivisionID IN (I10.DivisionID,''@@@'') AND ISNULL(I10.AnaID,'''') = ISNULL(AT1302.I10ID,'''') and I10.AnaTypeID = ''I10''

	Where AT9000.DivisionID='''+@DivisionID+'''
	and AT9000.TransactionTypeID=''T24''
	and '+@sSQLWhere+''

--print @sSQL + @sSQL1
If not exists (Select top 1 1 From SysObjects Where name = 'AV3051' and Xtype ='V')
	Exec ('Create view AV3051 as '+@sSQL + @sSQL1)
Else
	Exec ('Alter view AV3051 as '+@sSQL + @sSQL1)
GO


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO