IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3024]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP3024]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Created by Hoang Thi Lan
--Date 16/10/2003
--Purpose:Dung cho bao cao ban hang(tonh hop theo khach hang) 

---- SQL 1 -- tra ra doanh so
--Edit by: Dang Le Bao Quynh; Date:12/11/2009
--Purpose: Them cac truong Von dieu le, Note, Note1 cua doi tuong
--- Edit by B.Anh, date 05/12/2009	Lay them truong VoucherTypeID, DiscountAmount, MPT doi tuong
---- Modified on 05/03/2014 by Le Thi Thu Hien : Bo sung phan quyen xem du lieu cua nguoi khac
---- Modified by Thanh Sơn on 22/01/2015: Lấy thêm trường Ana01 cho VienGut
---- Modified on 08/01/2016 by Tiểu Mai: Bổ sung thông tin quy cách khi có thiết lập quản lý mặt hàng theo quy cách.
---- Modified by Tiểu Mai on 03/06/2016: Bổ sung WITH(NOLOCK)
---- Modified by Bảo Thy on 28/04/2017: Bổ sung tên quy cách
---- Modified by Hải Long on 18/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Tiểu Mai on 30/08/2017: Bổ sung AT9000.ConvertedUnitID, AT9000.ConvertedQuantity
---- Modified by Bảo Anh on 23/05/2018: Bổ sung TradeName, FileRef, InvoiceNote, TrafficType
---- Modified by Bảo Anh on 12/07/2018: Bổ sung VATRate
---- Modified on 28/10/2018 by Bảo Anh : Trả thẳng dữ liệu không tạo view
---- Modified by Kim Thư on 03/01/2019: Thêm trường Parameter1->10
---- Modified by Kim Thư on 14/05/2019: Bỏ alias name của AT1202 cho khớp với điều kiện lọc báo cáo ở màn hình tìm kiếm
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---- Modified by Đình Định on 30/03/2023: [2023/03/IS/0284] - BBA - Lấy thêm các trường vào báo cáo doanh số bán hàng AR3024.
-- <Example>

CREATE PROCEDURE AP3024
(
	@DivisionID as nvarchar(50),
	@sSQLWhere as nvarchar(MAX) ,
	@UserID AS VARCHAR(50) = ''
)
as 
Declare @sSQL1 as nvarchar(MAX),
		@sSQL2 as nvarchar(MAX),
		@sSQL3 as nvarchar(MAX),
		@sSQL4 as nvarchar(MAX)
		
----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
DECLARE @sSQLPer AS NVARCHAR(MAX),
		@sWHEREPer AS NVARCHAR(MAX)
SET @sSQLPer = ''
SET @sWHEREPer = ''		

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH(NOLOCK) WHERE DefDivisionID = @DivisionID AND IsPermissionView = 1 ) -- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
	BEGIN
		SET @sSQLPer = ' LEFT JOIN AT0010 WITH(NOLOCK) ON AT0010.DivisionID = AT9000.DivisionID 
											AND AT0010.AdminUserID = '''+@UserID+''' 
											AND AT0010.UserID = AT9000.CreateUserID '
		SET @sWHEREPer = ' AND (AT9000.CreateUserID = AT0010.UserID
								OR  AT9000.CreateUserID = '''+@UserID+''') '		
	END

-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	
IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH(NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN
	Set @sSQL1 = N'
	Select 	AT9000.VoucherID, BatchID,  Serial, InvoiceNo, AT9000.InvoiceDate, AT9000.CurrencyID, 
			AT9000.Quantity, AT9000.UnitPrice, AT9000.DiscountRate,
			AT9000.ObjectID, AT1202.ObjectName, AT1202.LegalCapital, AT1202.Note, AT1202.Note1, BDescription,
			Sum(OriginalAmount) as OriginalAmount,
			Sum(ConvertedAmount) as ConvertedAmount,
			Sum(DiscountAmount) as DiscountAmount,
			 0 as TaxConvertedAmount,
			AT9000.VoucherNo,
			AT9000.VoucherDate,VDescription,
			AT9000.VATObjectID,
			T02.ObjectName As VATObjectName,Duedate,
			AT9000.VoucherTypeID,
			AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
			O1.AnaName As O01Name, O2.AnaName As O02Name, O3.AnaName As O03Name, O4.AnaName As O04Name, O5.AnaName As O05Name, AT9000.DivisionID,
			AT9000.Ana01ID, A11.AnaName Ana01NAme,
			O99.S01ID,O99.S02ID,O99.S03ID,O99.S04ID,O99.S05ID,O99.S06ID,O99.S07ID,O99.S08ID,O99.S09ID,O99.S10ID,
			O99.S11ID,O99.S12ID,O99.S13ID,O99.S14ID,O99.S15ID,O99.S16ID,O99.S17ID,O99.S18ID,O99.S19ID,O99.S20ID,
			AT9000.ConvertedUnitID, AT9000.ConvertedQuantity,
			AT9000.ConvertedUnitID, AT9000.ConvertedQuantity, AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,
			AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10
	'

	Set @sSQL2=N'
	From AT9000 WITH(NOLOCK)
	LEFT JOIN AT1011 A11 WITH(NOLOCK) ON A11.AnaID = AT9000.Ana01ID
	LEFT JOIN AT1202 WITH(NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.ObjectID = AT1202.ObjectID
	LEFT JOIN AT1202 T02 WITH(NOLOCK) on T02.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.VATObjectID=T02.ObjectID
	LEFT JOIN AT1015 O1 WITH(NOLOCK) on AT1202.O01ID = O1.AnaID And O1.AnaTypeID = ''O01''
	LEFT JOIN AT1015 O2 WITH(NOLOCK) on AT1202.O02ID = O2.AnaID And O2.AnaTypeID = ''O02''
	LEFT JOIN AT1015 O3 WITH(NOLOCK) on AT1202.O03ID = O3.AnaID And O3.AnaTypeID = ''O03''
	LEFT JOIN AT1015 O4 WITH(NOLOCK) on AT1202.O04ID = O4.AnaID And O4.AnaTypeID = ''O04''
	LEFT JOIN AT1015 O5 WITH(NOLOCK) on AT1202.O05ID = O5.AnaID And O5.AnaTypeID = ''O05''
	LEFT JOIN AT8899 O99 WITH(NOLOCK) ON O99.DivisionID = AT9000.DivisionID AND O99.VoucherID = AT9000.VoucherID AND O99.TransactionID = AT9000.TransactionID
	'+@sSQLPer+'
	WHERE	TransactionTypeID in (''T04'',''T40'')
			'+@sWHEREPer+'
			AND  AT9000.DivisionID='''+@DivisionID+''' 
			AND '+@sSQLWhere+'
	Group By AT9000.VoucherID, BatchID, Serial, InvoiceNo, AT9000.InvoiceDate,AT9000.CurrencyID,
		AT9000.Quantity, AT9000.UnitPrice, AT9000.DiscountRate,
		AT9000.ObjectID,AT1202.ObjectName, AT9000.VATObjectID, 
		T02.ObjectName, AT1202.LegalCapital, AT1202.Note, AT1202.Note1, BDescription,AT9000.VoucherNo,
		AT9000.VoucherDate,VDescription,Duedate, AT9000.VoucherTypeID,
		AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
		O1.AnaName, O2.AnaName, O3.AnaName, O4.AnaName, O5.AnaName, AT9000.DivisionID, AT9000.Ana01ID, A11.AnaName,
		O99.S01ID,O99.S02ID,O99.S03ID,O99.S04ID,O99.S05ID,O99.S06ID,O99.S07ID,O99.S08ID,O99.S09ID,O99.S10ID,
		O99.S11ID,O99.S12ID,O99.S13ID,O99.S14ID,O99.S15ID,O99.S16ID,O99.S17ID,O99.S18ID,O99.S19ID,O99.S20ID,
		AT9000.ConvertedUnitID, AT9000.ConvertedQuantity,AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,
			AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10
	'

	Set @sSQL3=N'
	Union All
	---- SQL 2 tra ra thue
	Select 	  AT9000.VoucherID, BatchID,  Serial, InvoiceNo, InvoiceDate,AT9000.CurrencyID, 
	AT9000.Quantity, AT9000.UnitPrice, AT9000.DiscountRate,
	AT9000.ObjectID,AT1202.ObjectName, AT1202.LegalCapital, AT1202.Note, AT1202.Note1, BDescription,
		0 as OriginalAmount,
		0 as ConvertedAmount,
		0 as DiscountAmount,	
		Sum(ConvertedAmount)  as TaxConvertedAmount,
		AT9000.VoucherNo,
		AT9000.VoucherDate ,VDescription,
		AT9000.VATObjectID,
		T02.ObjectName As VATObjectName,Duedate, AT9000.VoucherTypeID,
		AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
		O1.AnaName As O01Name, O2.AnaName As O02Name, O3.AnaName As O03Name, O4.AnaName As O04Name, O5.AnaName As O05Name, 
		AT9000.DivisionID, AT9000.Ana01ID, A11.AnaName Ana01NAme,
		O99.S01ID,O99.S02ID,O99.S03ID,O99.S04ID,O99.S05ID,O99.S06ID,O99.S07ID,O99.S08ID,O99.S09ID,O99.S10ID,
		O99.S11ID,O99.S12ID,O99.S13ID,O99.S14ID,O99.S15ID,O99.S16ID,O99.S17ID,O99.S18ID,O99.S19ID,O99.S20ID,
		AT9000.ConvertedUnitID, AT9000.ConvertedQuantity,AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,
			AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10
	'

	Set @sSQL4=N'
	From AT9000 WITH (NOLOCK)
	LEFT JOIN AT1011 A11 WITH (NOLOCK) ON A11.AnaID = AT9000.Ana01ID
	LEFT JOIN AT1202 WITH (NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.ObjectID = AT1202.ObjectID
	LEFT JOIN AT1202 T02 WITH (NOLOCK) on T02.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.VATObjectID = T02.ObjectID 
	LEFT JOIN AT1015 O1 WITH (NOLOCK) on AT1202.O01ID = O1.AnaID And O1.AnaTypeID = ''O01'' 
	LEFT JOIN AT1015 O2 WITH (NOLOCK) on AT1202.O02ID = O2.AnaID And O2.AnaTypeID = ''O02'' 
	LEFT JOIN AT1015 O3 WITH (NOLOCK) on AT1202.O03ID = O3.AnaID And O3.AnaTypeID = ''O03'' 
	LEFT JOIN AT1015 O4 WITH (NOLOCK) on AT1202.O04ID = O4.AnaID And O4.AnaTypeID = ''O04'' 
	LEFT JOIN AT1015 O5 WITH (NOLOCK) on AT1202.O05ID = O5.AnaID And O5.AnaTypeID = ''O05''
	LEFT JOIN AT8899 O99 WITH (NOLOCK) ON O99.DivisionID = AT9000.DivisionID AND O99.VoucherID = AT9000.VoucherID AND O99.TransactionID = AT9000.TransactionID
	'+@sSQLPer + '
	Where	TransactionTypeID =''T14''
			'+@sWHEREPer+'
		   and AT9000.DivisionID='''+@DivisionID+''' 
		   and '+@sSQLWhere+'
	 Group By AT9000.VoucherID, BatchID, Serial, InvoiceNo, InvoiceDate, AT9000.CurrencyID, 
	 AT9000.Quantity, AT9000.UnitPrice, AT9000.DiscountRate,
	 AT9000.ObjectID,AT1202.ObjectName, AT9000.VATObjectID, T02.ObjectName, AT1202.LegalCapital, AT1202.Note, AT1202.Note1, BDescription, AT9000.VoucherNo,
		AT9000.VoucherDate, VDescription,Duedate, AT9000.VoucherTypeID,
		AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
		O1.AnaName, O2.AnaName, O3.AnaName, O4.AnaName, O5.AnaName , AT9000.DivisionID, AT9000.Ana01ID, A11.AnaName,
		O99.S01ID,O99.S02ID,O99.S03ID,O99.S04ID,O99.S05ID,O99.S06ID,O99.S07ID,O99.S08ID,O99.S09ID,O99.S10ID,
		O99.S11ID,O99.S12ID,O99.S13ID,O99.S14ID,O99.S15ID,O99.S16ID,O99.S17ID,O99.S18ID,O99.S19ID,O99.S20ID,
		AT9000.ConvertedUnitID, AT9000.ConvertedQuantity,AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,
			AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10
	'	
END	
ELSE
BEGIN
	Set @sSQL1 = N'
	Select 	VoucherID, BatchID,  Serial, InvoiceNo, AT9000.InvoiceDate, AT9000.CurrencyID, 
			AT9000.Quantity, AT9000.UnitPrice, AT9000.DiscountRate,
			AT9000.ObjectID, AT1202.ObjectName, AT1202.LegalCapital, AT1202.Note, AT1202.Note1, BDescription,
			Sum(OriginalAmount) as OriginalAmount,
			Sum(ConvertedAmount) as ConvertedAmount,
			Sum(DiscountAmount) as DiscountAmount,
			 0 as TaxConvertedAmount,
			AT9000.VoucherNo,
			AT9000.VoucherDate,VDescription,
			AT9000.VATObjectID,
			T02.ObjectName As VATObjectName,Duedate,
			AT9000.VoucherTypeID,
			AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
			O1.AnaName As O01Name, O2.AnaName As O02Name, O3.AnaName As O03Name, O4.AnaName As O04Name, O5.AnaName As O05Name, AT9000.DivisionID,
			AT9000.Ana01ID, A11.AnaName Ana01NAme, AT9000.ConvertedUnitID, AT9000.ConvertedQuantity,
			AT1202.TradeName, A03.FileRef, A03.InvoiceNote, A03.TrafficType, A10.VATRate,AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,
			AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10
	'
	
	Set @sSQL2=N'
	From AT9000 WITH(NOLOCK)
	LEFT JOIN AT1011 A11 WITH(NOLOCK) ON A11.AnaID = AT9000.Ana01ID
	LEFT JOIN AT1202 WITH(NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.ObjectID = AT1202.ObjectID
	LEFT JOIN AT1202 T02 WITH(NOLOCK) on T02.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.VATObjectID = T02.ObjectID
	LEFT JOIN AT1015 O1 WITH(NOLOCK) on AT1202.O01ID = O1.AnaID And O1.AnaTypeID = ''O01''
	LEFT JOIN AT1015 O2 WITH(NOLOCK) on AT1202.O02ID = O2.AnaID And O2.AnaTypeID = ''O02''
	LEFT JOIN AT1015 O3 WITH(NOLOCK) on AT1202.O03ID = O3.AnaID And O3.AnaTypeID = ''O03''
	LEFT JOIN AT1015 O4 WITH(NOLOCK) on AT1202.O04ID = O4.AnaID And O4.AnaTypeID = ''O04''
	LEFT JOIN AT1015 O5 WITH(NOLOCK) on AT1202.O05ID = O5.AnaID And O5.AnaTypeID = ''O05''
	LEFT JOIN AT0300 A03 WITH(NOLOCK) ON A03.TransactionID = AT9000.InheritTransactionID AND AT9000.InheritTableID = ''AT0300''
	LEFT JOIN AT1010 A10 WITH(NOLOCK) ON A10.VATGroupID = AT9000.VATGroupID
	'+@sSQLPer+'
	WHERE	TransactionTypeID in (''T04'',''T40'')
			'+@sWHEREPer+'
			AND  AT9000.DivisionID='''+@DivisionID+''' 
			AND '+@sSQLWhere+'
	Group By VoucherID, BatchID, Serial, InvoiceNo, AT9000.InvoiceDate,AT9000.CurrencyID,
	AT9000.Quantity, AT9000.UnitPrice, AT9000.DiscountRate,
	AT9000.ObjectID,AT1202.ObjectName, AT9000.VATObjectID, T02.ObjectName, 
		AT1202.LegalCapital, AT1202.Note, AT1202.Note1, BDescription,AT9000.VoucherNo,
		AT9000.VoucherDate,VDescription,Duedate, AT9000.VoucherTypeID,
		AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
		O1.AnaName, O2.AnaName, O3.AnaName, O4.AnaName, O5.AnaName, AT9000.DivisionID, AT9000.Ana01ID, A11.AnaName, AT9000.ConvertedUnitID, AT9000.ConvertedQuantity,
		AT1202.TradeName, A03.FileRef, A03.InvoiceNote, A03.TrafficType, A10.VATRate,AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,
			AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10
	'
	
	Set @sSQL3=N'
	Union All
	---- SQL 2 tra ra thue
	Select 	  VoucherID, BatchID,  Serial, InvoiceNo, InvoiceDate,AT9000.CurrencyID,
	AT9000.Quantity, AT9000.UnitPrice, AT9000.DiscountRate,
	AT9000.ObjectID,AT1202.ObjectName, AT1202.LegalCapital, AT1202.Note, AT1202.Note1, BDescription,
		0 as OriginalAmount,
		0 as ConvertedAmount,
		0 as DiscountAmount,	
		Sum(ConvertedAmount)  as TaxConvertedAmount,
		AT9000.VoucherNo,
		AT9000.VoucherDate ,VDescription,
		AT9000.VATObjectID,
		T02.ObjectName As VATObjectName,Duedate, AT9000.VoucherTypeID,
		AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
		O1.AnaName As O01Name, O2.AnaName As O02Name, O3.AnaName As O03Name, O4.AnaName As O04Name, O5.AnaName As O05Name, 
		AT9000.DivisionID, AT9000.Ana01ID, A11.AnaName Ana01NAme, AT9000.ConvertedUnitID, AT9000.ConvertedQuantity,
		NULL AS TradeName, NULL AS FileRef, NULL AS InvoiceNote, NULL AS TrafficType, A10.VATRate,AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,
			AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10
	'

	Set @sSQL4=N'
	From AT9000 WITH(NOLOCK)
	LEFT JOIN AT1011 A11 WITH(NOLOCK) ON A11.AnaID = AT9000.Ana01ID
	LEFT JOIN AT1202 WITH(NOLOCK) on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.ObjectID = AT1202.ObjectID
	LEFT JOIN AT1202 T02 WITH(NOLOCK) on T02.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.VATObjectID = T02.ObjectID
	LEFT JOIN AT1015 O1 WITH(NOLOCK) on AT1202.O01ID = O1.AnaID And O1.AnaTypeID = ''O01'' 
	LEFT JOIN AT1015 O2 WITH(NOLOCK) on AT1202.O02ID = O2.AnaID And O2.AnaTypeID = ''O02'' 
	LEFT JOIN AT1015 O3 WITH(NOLOCK) on AT1202.O03ID = O3.AnaID And O3.AnaTypeID = ''O03'' 
	LEFT JOIN AT1015 O4 WITH(NOLOCK) on AT1202.O04ID = O4.AnaID And O4.AnaTypeID = ''O04'' 
	LEFT JOIN AT1015 O5 WITH(NOLOCK) on AT1202.O05ID = O5.AnaID And O5.AnaTypeID = ''O05''
	LEFT JOIN AT1010 A10 WITH(NOLOCK) ON A10.VATGroupID = AT9000.VATGroupID
	'+@sSQLPer + '
	Where	TransactionTypeID =''T14''
			'+@sWHEREPer+'
		   and AT9000.DivisionID='''+@DivisionID+''' 
		   and '+@sSQLWhere+'
	 Group By VoucherID, BatchID, Serial, InvoiceNo, InvoiceDate, AT9000.CurrencyID, 
	 AT9000.Quantity, AT9000.UnitPrice, AT9000.DiscountRate,
	 AT9000.ObjectID,AT1202.ObjectName, AT9000.VATObjectID, T02.ObjectName, AT1202.LegalCapital, AT1202.Note, AT1202.Note1, BDescription, AT9000.VoucherNo,
		AT9000.VoucherDate, VDescription,Duedate, AT9000.VoucherTypeID,
		AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
		O1.AnaName, O2.AnaName, O3.AnaName, O4.AnaName, O5.AnaName , AT9000.DivisionID, AT9000.Ana01ID, A11.AnaName, AT9000.ConvertedUnitID, AT9000.ConvertedQuantity, A10.VATRate,
		AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,
		AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10
	'	
END	

If not Exists (Select top 1 1 From SysObjects Where Xtype ='V' and name ='AV3024')
	 Exec ('Create view AV3024 as '  +@sSQL1+@sSQL2+@sSQL3+@sSQL4)
Else
	Exec ('Alter view AV3024 as '+@sSQL1+@sSQL2+@sSQL3+@sSQL4)

--print @sSQL
IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH(NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN

	Set @sSQL1=N'
Select  VoucherID, BatchID, Serial, InvoiceNo, InvoiceDate, CurrencyID,
Quantity, UnitPrice, DiscountRate,
ObjectID,ObjectName, LegalCapital, Note, Note1, Sum(OriginalAmount) as OriginalAmount,
BDescription, Sum(ConvertedAmount) as TurnOverAmount, Sum(TaxConvertedAmount) as TaxAmount, Sum(DiscountAmount) as DiscountAmount, VoucherNo,
VoucherDate, VDescription, Max(VATObjectID) As VATObjectID, Max(VATObjectName) As VATObjectName,Duedate, VoucherTypeID, O01ID, O02ID, O03ID, O04ID, O05ID,
O01Name, O02Name, O03Name, O04Name, O05Name, AV3024.DivisionID, Ana01ID, Ana01Name, S01ID,S02ID,S03ID,S04ID,S05ID,S06ID,S07ID,S08ID,S09ID,S10ID,
S11ID,S12ID,S13ID,S14ID,S15ID,S16ID,S17ID,S18ID,S19ID,S20ID,
A01.StandardName AS StandardName01, A02.StandardName AS StandardName02, A03.StandardName AS StandardName03, A04.StandardName AS StandardName04, 
A05.StandardName AS StandardName05, A06.StandardName AS StandardName06, A07.StandardName AS StandardName07, A08.StandardName AS StandardName08, 
A09.StandardName AS StandardName09, A10.StandardName AS StandardName10, A11.StandardName AS StandardName11, A12.StandardName AS StandardName12,
A13.StandardName AS StandardName13, A14.StandardName AS StandardName14, A15.StandardName AS StandardName15, A16.StandardName AS StandardName16,
A17.StandardName AS StandardName17, A18.StandardName AS StandardName18, A19.StandardName AS StandardName19, A20.StandardName AS StandardName20,
AV3024.ConvertedUnitID, AV3024.ConvertedQuantity,AV3024.Parameter01,AV3024.Parameter02,AV3024.Parameter03,AV3024.Parameter04,
AV3024.Parameter05,AV3024.Parameter06,AV3024.Parameter07,AV3024.Parameter08,AV3024.Parameter09,AV3024.Parameter10'
	
	Set @sSQL2=N'
From	AV3024
LEFT JOIN AT0128 A01 WITH (NOLOCK) ON AV3024.S01ID = A01.StandardID AND A01.StandardTypeID = ''S01''
LEFT JOIN AT0128 A02 WITH (NOLOCK) ON AV3024.S02ID = A02.StandardID AND A02.StandardTypeID = ''S02''
LEFT JOIN AT0128 A03 WITH (NOLOCK) ON AV3024.S03ID = A03.StandardID AND A03.StandardTypeID = ''S03''
LEFT JOIN AT0128 A04 WITH (NOLOCK) ON AV3024.S04ID = A04.StandardID AND A04.StandardTypeID = ''S04''
LEFT JOIN AT0128 A05 WITH (NOLOCK) ON AV3024.S05ID = A05.StandardID AND A05.StandardTypeID = ''S05''
LEFT JOIN AT0128 A06 WITH (NOLOCK) ON AV3024.S06ID = A06.StandardID AND A06.StandardTypeID = ''S06''
LEFT JOIN AT0128 A07 WITH (NOLOCK) ON AV3024.S07ID = A07.StandardID AND A07.StandardTypeID = ''S07''
LEFT JOIN AT0128 A08 WITH (NOLOCK) ON AV3024.S08ID = A08.StandardID AND A08.StandardTypeID = ''S08''
LEFT JOIN AT0128 A09 WITH (NOLOCK) ON AV3024.S09ID = A09.StandardID AND A09.StandardTypeID = ''S09''
LEFT JOIN AT0128 A10 WITH (NOLOCK) ON AV3024.S10ID = A10.StandardID AND A10.StandardTypeID = ''S10''
LEFT JOIN AT0128 A11 WITH (NOLOCK) ON AV3024.S11ID = A11.StandardID AND A11.StandardTypeID = ''S11''
LEFT JOIN AT0128 A12 WITH (NOLOCK) ON AV3024.S12ID = A12.StandardID AND A12.StandardTypeID = ''S12''
LEFT JOIN AT0128 A13 WITH (NOLOCK) ON AV3024.S13ID = A13.StandardID AND A13.StandardTypeID = ''S13''
LEFT JOIN AT0128 A14 WITH (NOLOCK) ON AV3024.S14ID = A14.StandardID AND A14.StandardTypeID = ''S14''
LEFT JOIN AT0128 A15 WITH (NOLOCK) ON AV3024.S15ID = A15.StandardID AND A15.StandardTypeID = ''S15''
LEFT JOIN AT0128 A16 WITH (NOLOCK) ON AV3024.S16ID = A16.StandardID AND A16.StandardTypeID = ''S16''
LEFT JOIN AT0128 A17 WITH (NOLOCK) ON AV3024.S17ID = A17.StandardID AND A17.StandardTypeID = ''S17''
LEFT JOIN AT0128 A18 WITH (NOLOCK) ON AV3024.S18ID = A18.StandardID AND A18.StandardTypeID = ''S18''
LEFT JOIN AT0128 A19 WITH (NOLOCK) ON AV3024.S19ID = A19.StandardID AND A19.StandardTypeID = ''S19''
LEFT JOIN AT0128 A20 WITH (NOLOCK) ON AV3024.S20ID = A20.StandardID AND A20.StandardTypeID = ''S20''
Group By VoucherID, BatchID, Serial, InvoiceNo, InvoiceDate, CurrencyID,
Quantity, UnitPrice, DiscountRate,
ObjectID,ObjectName, LegalCapital, Note, Note1, BDescription, VoucherNo,
VoucherDate , VDescription,Duedate, VoucherTypeID, O01ID, O02ID, O03ID, O04ID, O05ID, O01Name, O02Name, O03Name, O04Name, O05Name, AV3024.DivisionID, 
Ana01ID, Ana01Name, S01ID,S02ID,S03ID,S04ID,S05ID,S06ID,S07ID,S08ID,S09ID,S10ID, S11ID,S12ID,S13ID,S14ID,S15ID,S16ID,S17ID,S18ID,S19ID,S20ID,
A01.StandardName, A02.StandardName, A03.StandardName, A04.StandardName, A05.StandardName, A06.StandardName, A07.StandardName, A08.StandardName, 
A09.StandardName, A10.StandardName, A11.StandardName, A12.StandardName,A13.StandardName, A14.StandardName, A15.StandardName, A16.StandardName,
A17.StandardName, A18.StandardName, A19.StandardName, A20.StandardName, AV3024.ConvertedUnitID, AV3024.ConvertedQuantity,
AV3024.Parameter01,AV3024.Parameter02,AV3024.Parameter03,AV3024.Parameter04,AV3024.Parameter05,AV3024.Parameter06,AV3024.Parameter07,
AV3024.Parameter08,AV3024.Parameter09,AV3024.Parameter10 '
	
END
ELSE
BEGIN

	Set @sSQL1=N'
	Select  VoucherID, 
			BatchID,
			Serial,
			InvoiceNo,
			InvoiceDate,
 			CurrencyID,
			Quantity, UnitPrice, DiscountRate,
			ObjectID,ObjectName ,
			LegalCapital, Note, Note1,	
			Sum(OriginalAmount) as OriginalAmount,
			BDescription,
			Sum(ConvertedAmount) as TurnOverAmount,
			Sum(TaxConvertedAmount) as TaxAmount,
			Sum(DiscountAmount) as DiscountAmount,
			VoucherNo,
			VoucherDate, VDescription,
			Max(VATObjectID) As VATObjectID,
			Max(VATObjectName) As VATObjectName,Duedate, VoucherTypeID,
			O01ID, O02ID, O03ID, O04ID, O05ID,
			O01Name, O02Name, O03Name, O04Name, O05Name, DivisionID,
			Ana01ID, Ana01Name, AV3024.ConvertedUnitID, AV3024.ConvertedQuantity,
			AV3024.TradeName, AV3024.FileRef, AV3024.InvoiceNote, AV3024.TrafficType, MAX(AV3024.VATRate) AS VATRate,
			AV3024.Parameter01,AV3024.Parameter02,AV3024.Parameter03,AV3024.Parameter04,
			AV3024.Parameter05,AV3024.Parameter06,AV3024.Parameter07,AV3024.Parameter08,AV3024.Parameter09,AV3024.Parameter10'
	
	Set @sSQL2=N'
	From	AV3024
	Group By VoucherID,	 BatchID,	 Serial,	 InvoiceNo,	 InvoiceDate,
	 		 CurrencyID, Quantity, UnitPrice, DiscountRate,
			 ObjectID,ObjectName , LegalCapital, Note, Note1, BDescription, VoucherNo,
			VoucherDate , VDescription,Duedate, VoucherTypeID,
			O01ID, O02ID, O03ID, O04ID, O05ID,
			O01Name, O02Name, O03Name, O04Name, O05Name, DivisionID, Ana01ID, Ana01Name, AV3024.ConvertedUnitID, AV3024.ConvertedQuantity,
			TradeName, FileRef, InvoiceNote, TrafficType, AV3024.Parameter01,AV3024.Parameter02,AV3024.Parameter03,AV3024.Parameter04,
			AV3024.Parameter05,AV3024.Parameter06,AV3024.Parameter07,AV3024.Parameter08,AV3024.Parameter09,AV3024.Parameter10'
	
END	

--print @sSQL1
--print @sSQL2

--If not exists (Select top 1 1 From SysObjects Where name = 'AV3026' and Xtype ='V')
--	 Exec('Create view AV3026 as '+@sSQL1+@sSQL2) 
--Else
--	Exec ('Alter view AV3026 as '+@sSQL1+@sSQL2)

EXEC(@sSQL1+@sSQL2)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
