IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH(NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[AP3041]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3041]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



----- In phieu thu: Mau so 2
----- Created by Nguyen Van Nhan, Date 09/11/2007
----- Edit by B.Anh, Date 21/04/2008, Purpose: Lay them truong ObjectID
----- Edit by B.Anh, date 18/08/2009, Purpose: Bo sung cho truong hop chi qua ngan hang
----- Edit by: Dang Le Bao Quynh; Date 27/08/09
----- Purpose: Them 5 ma phan tich
---- Edit by B.Anh, date 27/01/2010	Sua loi thanh tien khong dung
---- Edit by Thien Huynh, date 29/11/2011 Khong Where theo @BatchID nua
--- Vi khong luu BatchID = VoucherID nua ma Sinh BatchID theo tung Hoa don tren luoi
---- Modified on 12/04/2013 by Le Thi Thu Hien : Bo sung AT9000.Serial, AT9000.InvoiceNo, AT9000.InvoiceDate
---- Modified on 13/05/2013 by Le Thi Thu Hien : Bo sung objectName
---- Modified on 04/03/2016 by Phương Thảo: Bổ sung tên mã phân tích
---- Modified on 30/05/2016 by Phương Thảo: Bổ sung WITH(NOLOCK)
---- Modified on 12/05/2017 by Bảo Thy: Bổ sung CreditAccountName, DebitAccountName (TUNGTEX)
---- Modified by Hải Long on 18/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---- Modified by Đức Tuyên on 09/03/2023: Lấy trường ReVoucherNo (số chứng từ) phiếu đề nghị chi tiền mặt lên phiếu in phiếu chi tiền mặt
-- <Example>
---- EXEC AP3041 'TT', 2, 2017, 'AV593cb0a2-366c-40aa-9065-1ce66c38896b', 'AB20170000000001'

CREATE PROCEDURE [dbo].[AP3041] 
				@DivisionID AS nvarchar(50),
				@TranMonth AS int,
				@TranYear AS int,
				@VoucherID AS nvarchar(50),
				@BatchID AS nvarchar(50)
	
 AS
Declare @sSQL AS nvarchar(4000),
	@AT9000Cursor AS cursor,
	@InvoiceNo AS nvarchar(50),
	@Serial AS nvarchar(50),
	@InvoiceNoList AS nvarchar(500),
	@DebitAccountList AS nvarchar(500),
	@DebitAccountID  AS nvarchar(50),
	@CreditAccountList AS nvarchar(500),
	@CreditAccountID  AS nvarchar(50),
	@InvoiceDate nvarchar(10)

Set @sSQL ='
SELECT	A.VoucherID, A.DivisionID, 
		A.TranMonth, A.TranYear, 
		A.Orders,			A.VoucherTypeID,		A.VoucherNo,		A.VoucherDate,
		A.VDescription,		A.TDescription,			A.BDescription,
		A.CreditAccountID,	AT05.AccountName AS CreditAccountName, A.DebitAccountID, AT06.AccountName AS DebitAccountName, 
		A.ObjectID,			A1.ObjectName,
		A.CurrencyID,		A.ExchangeRate,
		A.SenderReceiver,	A.SRDivisionName,		A.SRAddress,
		A.RefNo01,			A.RefNo02, 
		--FullName,
		---ChiefAccountant,
		A.ConvertedAmount,	A.OriginalAmount,
		A.VoucherNo as ReVoucherNo,		
		A.Serial,			A.InvoiceNo,		A.InvoiceDate,
		A.Ana01ID, A01.AnaName AS Ana01Name, A.Ana02ID, A02.AnaName AS Ana02Name,
		A.Ana03ID, A03.AnaName AS Ana03Name, A.Ana04ID, A04.AnaName AS Ana04Name,
		A.Ana05ID, A05.AnaName AS Ana05Name, A.Ana06ID, A06.AnaName AS Ana06Name,
		A.Ana07ID, A07.AnaName AS Ana07Name, A.Ana08ID, A08.AnaName AS Ana08Name,
		A.Ana09ID, A09.AnaName AS Ana09Name, A.Ana10ID, A10.AnaName AS Ana10Name,
		A.IsWithhodingTax
FROM	AT9000 A WITH(NOLOCK)
LEFT JOIN AT1202 A1 WITH(NOLOCK) ON A1.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND A1.ObjectID = A.ObjectID
LEFT JOIN AT1011 A01 WITH(NOLOCK) ON A01.AnaID = A.Ana01ID AND A01.AnaTypeID =''A01''
LEFT JOIN AT1011 A02 WITH(NOLOCK) ON A02.AnaID = A.Ana02ID AND A02.AnaTypeID =''A02''
LEFT JOIN AT1011 A03 WITH(NOLOCK) ON A03.AnaID = A.Ana03ID AND A03.AnaTypeID =''A03''
LEFT JOIN AT1011 A04 WITH(NOLOCK) ON A04.AnaID = A.Ana04ID AND A04.AnaTypeID =''A04''
LEFT JOIN AT1011 A05 WITH(NOLOCK) ON A05.AnaID = A.Ana05ID AND A05.AnaTypeID =''A05''
LEFT JOIN AT1011 A06 WITH(NOLOCK) ON A06.AnaID = A.Ana06ID AND A06.AnaTypeID =''A06''
LEFT JOIN AT1011 A07 WITH(NOLOCK) ON A07.AnaID = A.Ana07ID AND A07.AnaTypeID =''A07''
LEFT JOIN AT1011 A08 WITH(NOLOCK) ON A08.AnaID = A.Ana08ID AND A08.AnaTypeID =''A08''
LEFT JOIN AT1011 A09 WITH(NOLOCK) ON A09.AnaID = A.Ana09ID AND A09.AnaTypeID =''A09''
LEFT JOIN AT1011 A10 WITH(NOLOCK) ON A10.AnaID = A.Ana10ID AND A10.AnaTypeID =''A10''
LEFT JOIN AT1005 AT05 WITH (NOLOCK) ON A.CreditAccountID = AT05.AccountID
LEFT JOIN AT1005 AT06 WITH (NOLOCK) ON A.DebitAccountID = AT06.AccountID
LEFT JOIN AT9010 T91 WITH (NOLOCK) ON T91.DivisionID = A.DivisionID AND T91.VoucherID = A.VoucherID
WHERE	A.TransactionTypeID in (''T01'',''T04'',''T14'',''T22'') and
		A.DivisionID = '''+@DivisionID+''' and
		A.VoucherID ='''+@VoucherID+''' 
		---and BatchID = ''' + @BatchID + '''
'


--PRINT @sSQL

IF NOT EXISTS (SELECT 1 FROM SYSOBJECTS WHERE NAME ='AV3041')
	EXEC ('CREATE VIEW AV3041 AS '+@sSQL)
ELSE
	EXEC( 'ALTER VIEW AV3041 AS '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

