IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH(NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[AP3073]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3073]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



----- In phieu thu qua ngan hang: Mau so 2
----- Date 10/11/2007
/********************************************
'* Edited by: [GS] [Tố Oanh] [29/07/2010]
'********************************************/
---- Modify by Phương Thảo on 04/03/2016 : Bổ sung tên mã phân tích và đối tượng
---- Modify by Phương Thảo on 30/05/2016: Bổ sung WITH(NOLOCK)
---- Modified by Hải Long on 18/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Kim Thư on 21/11/2018: Bổ sung cột LastModifyName
---- Modified by Phương Thảo on 21/08/2017 : Bổ sung InvoiceNo, Serial
---- Modified by Phương Thảo on 18/10/2017 : Bổ sung thông tin tài khoản ngân hàng
---- Modified by Văn Tài	 on 05/10/2022: Bổ sung lấy Tên của Tài khoản Có/Nợ.
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
--- <Example> Exec AP3073 'GS', 1, 2016, ''

CREATE PROCEDURE [dbo].[AP3073] 
				@DivisionID as nvarchar(50),
				@TranMonth as int,
				@TranYear as int,
				@VoucherID as nvarchar(50)
	
 AS
Declare @sSQL as nvarchar(4000),
	@AT9000Cursor as cursor,
	@InvoiceNo as nvarchar(50),
	@Serial as nvarchar(50),
	@InvoiceNoList as nvarchar(500),
	@DebitAccountList as nvarchar(500),
	@DebitAccountID  as nvarchar(50),
	@CreditAccountList as nvarchar(500),
	@CreditAccountID  as nvarchar(50),
	@InvoiceDate nvarchar(10)

Set @sSQL ='
Select 	AT9000.VoucherID, AT9000.DivisionID, AT9000.TranMonth, AT9000.TranYear, 
	AT9000.Orders,
	AT9000.VoucherTypeID, AT9000.VoucherNo, AT9000.VoucherDate,
	AT9000.InvoiceNo, AT9000.Serial,
	AT9000.VDescription,
	AT9000.TDescription,
	AT9000.BDescription,
	AT9000.CreditAccountID,
	AT9000.DebitAccountID, 
	AT9000.CurrencyID, AT9000.ExchangeRate,
	AT9000.SenderReceiver, AT9000.SRDivisionName, AT9000.SRAddress,
	AT9000.RefNo01, AT9000.RefNo02, 
	--FullName,
	---ChiefAccountant,
	AT9000.ConvertedAmount,
	AT9000.OriginalAmount,
	AT05_CRE.AccountName AS CreditAccountName,
	AT05_DEB.AccountName AS DeditAccountName,
	AT9000.Ana01ID, A01.AnaName AS Ana01Name, AT9000.Ana02ID, A02.AnaName AS Ana02Name,
	AT9000.Ana03ID, A03.AnaName AS Ana03Name, AT9000.Ana04ID, A04.AnaName AS Ana04Name,
	AT9000.Ana05ID, A05.AnaName AS Ana05Name, AT9000.Ana06ID, A06.AnaName AS Ana06Name,
	AT9000.Ana07ID, A07.AnaName AS Ana07Name, AT9000.Ana08ID, A08.AnaName AS Ana08Name,
	AT9000.Ana09ID, A09.AnaName AS Ana09Name, AT9000.Ana10ID, A10.AnaName AS Ana10Name,
	AT9000.ObjectID, OB.ObjectName,
	AT9000.CreditBankAccountID, AT1016_C.BankAccountNo AS CreditBankAccountNo,
	AT9000.DebitBankAccountID, AT1016_D.BankAccountNo AS DebitBankAccountNo,
	AT9000.IsWithhodingTax, AT9000.LastModifyUserID, A15.UserName as LastModifyName
From AT9000 WITH(NOLOCK)
LEFT JOIN AT1005 AT05_CRE WITH(NOLOCK) ON AT05_CRE.DivisionID IN (AT9000.DivisionID, ''@@@'') AND AT05_CRE.AccountID = AT9000.CreditAccountID
LEFT JOIN AT1005 AT05_DEB WITH(NOLOCK) ON AT05_DEB.DivisionID IN (AT9000.DivisionID, ''@@@'') AND AT05_DEB.AccountID = AT9000.DebitAccountID
LEFT JOIN AT1011 A01 WITH(NOLOCK) ON A01.AnaID = AT9000.Ana01ID AND A01.AnaTypeID =''A01''
LEFT JOIN AT1011 A02 WITH(NOLOCK) ON A02.AnaID = AT9000.Ana02ID AND A02.AnaTypeID =''A02''
LEFT JOIN AT1011 A03 WITH(NOLOCK) ON A03.AnaID = AT9000.Ana03ID AND A03.AnaTypeID =''A03''
LEFT JOIN AT1011 A04 WITH(NOLOCK) ON A04.AnaID = AT9000.Ana04ID AND A04.AnaTypeID =''A04''
LEFT JOIN AT1011 A05 WITH(NOLOCK) ON A05.AnaID = AT9000.Ana05ID AND A05.AnaTypeID =''A05''
LEFT JOIN AT1011 A06 WITH(NOLOCK) ON A06.AnaID = AT9000.Ana06ID AND A06.AnaTypeID =''A06''
LEFT JOIN AT1011 A07 WITH(NOLOCK) ON A07.AnaID = AT9000.Ana07ID AND A07.AnaTypeID =''A07''
LEFT JOIN AT1011 A08 WITH(NOLOCK) ON A08.AnaID = AT9000.Ana08ID AND A08.AnaTypeID =''A08''
LEFT JOIN AT1011 A09 WITH(NOLOCK) ON A09.AnaID = AT9000.Ana09ID AND A09.AnaTypeID =''A09''
LEFT JOIN AT1011 A10 WITH(NOLOCK) ON A10.AnaID = AT9000.Ana10ID AND A10.AnaTypeID =''A10''
LEFT JOIN AT1202 OB WITH(NOLOCK) ON OB.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT9000.ObjectID = OB.ObjectID
LEFT JOIN AT1405 A15 WITH(NOLOCK) ON A15.UserID = AT9000.LastModifyUserID
LEFT JOIN AT1016 AT1016_D WITH(NOLOCK) ON AT9000.DivisionID = AT1016_D.DivisionID AND AT9000.DebitBankAccountID = AT1016_D.BankAccountID
LEFT JOIN AT1016 AT1016_C WITH(NOLOCK) ON AT9000.DivisionID = AT1016_C.DivisionID AND AT9000.CreditBankAccountID = AT1016_C.BankAccountID
Where TransactionTypeID = ''T21'' and
	AT9000.DivisionID = '''+@DivisionID+''' and VoucherID ='''+@VoucherID+''' 
'


--print @sSQL

If Not Exists (Select 1 From sysObjects Where Name ='AV3073')
	Exec ('Create view AV3073 as '+@sSQL)
Else
	Exec( 'Alter view AV3073 as '+@sSQL)


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

