IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3014]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP3014]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


------ Created by Nguyen Van Nhan, Date 25/09/2003.
------ Purpose: In phieu Mua hang
------ Modified by Bảo Thy on 18/05/2017: Sửa danh mục dùng chung
------ Modified by Kim Thư on 13/03/2019: thêm trường BankName , BankAccountNo lên view AV3014 cho Siêu Thanh ( CustomizeIndex = 16 )
------ Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
------ <Example> EXEC AP3014 'HT', 1,2017, 'aaa'
/********************************************
'* Edited by: [GS] [Hoàng Phước] [29/07/2010]
'********************************************/

CREATE PROCEDURE [dbo].[AP3014] 	
				@DivisionID as nvarchar(50),
				@TranMonth as int,
				@TranYear as int,
				@VoucherID as nvarchar(50)
 AS

Declare @sSQL1 as nvarchar(4000),
	@sSQL2 as nvarchar(4000),
	@CustomizeIndex int

SET @CustomizeIndex=(SELECT CustomerName FROM dbo.CustomerIndex)
Set @sSQL1=N'
Select  TransactionID,
	VoucherID,
	BatchID,
	AT9000.VoucherDate,
	VoucherTypeID, VoucherNo,
	Serial, InvoiceNo, InvoiceDate,
	AT9000.OriginalAmount, AT9000.ConvertedAmount,
	AT9000.CurrencyID, ExchangeRate,
	AT9000.InventoryID,
	At1302.InventoryName,
	AT1302.UnitID,
	VDescription, BDescription, TDescription, AT9000.DivisionID
	'+CASE WHEN @CustomizeIndex = 16 then ', AT1016.BankName AS BankNameAT1016, AT1016.BankAccountNo AS BankAccountNoAT1016' else '' END+'  
'

Set @sSQL2=N'	
From AT9000  WITH (NOLOCK) Left join AT1302  WITH (NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT1302.InventoryID = AT9000.InventoryID
'+CASE WHEN @CustomizeIndex = 16 then 'LEFT JOIN AT1101  WITH (NOLOCK) ON AT1101.DivisionID=AT9000.DivisionID 
LEFT JOIN AT1016  WITH (NOLOCK) ON AT1016.DivisionID = AT1101.DivisionID AND AT1016.BankAccountID = AT1101.BankAccountID 'else '' end+'

	         
Where AT9000.DivisionID = '''+@DivisionID+''' and
	TranMonth = '+str(@TranMonth)+' and
	TranYear = '+str(@TranYear)+' and
	VoucherID ='''+@VoucherID+''' and
	TransactionTypeID in (''T04'', ''T14'') '
--print @sSQL1+@sSQL2

If Not Exists (Select 1 From sysObjects Where Name ='AV3014')
	Exec ('Create view AV3014 as '+@sSQL1+@sSQL2)
Else
	Exec( 'Alter view AV3014 as '+@sSQL1+@sSQL2)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
