IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH(NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[AP3039]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3039]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--Created by Nguyen Quoc Huy
--Date 01/12/2005
--Purpose:Dung cho Report hang ban tra lai
-- LAst Edit, Thuy Tuyen.. date: 28/03/2009 --PP: Them truong so lo, han dung,...
--- Edit by B.Anh, date 15/10/2009	Bo sung cho truong hop thuong doanh so (TransactionTypeID = T74)
--- Edit by: Dang Le Bao Quynh; Date 26/11/2009
--- Purpose: Them truong VoucherDate

/********************************************
'* Edited by: [GS] [Thanh Trẫm] [29/07/2010]
'********************************************/
---- Modify by Phương Thảo on 30/05/2016: Bổ sung WITH(NOLOCK)
---- Modify by Hải Long on 30/05/2016: Bổ sung trường chiết khấu hóa đơn (DiscountSaleAmountDetail)
---- Modify on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modify by Hải Long on 21/07/2017: Xử lý cho trường hợp số lượng = 0 (Thuế giá trị gia tăng hàng bán bị trả lại)
---- Modify by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---- <Example>  Exec AP3039 ''
--------------- SELECT * FROM AV3039

CREATE PROCEDURE  [dbo].[AP3039] 
          @VoucherID as nvarchar(50)
as
Declare @sSql as nvarchar(4000),
	@sSqlUnion as nvarchar(4000),
	@Count as int,
	@i as int

	Set @Count = ( Select Count(*) From AT9000
	Where VoucherID= @VoucherID  and TransactionTypeID in ('T24','T74') )

Set @Count = 10 - @Count
Set @I =1 
Set @sSqlUnion =''
set @sSql ='
Select  	AT9000.VoucherNo,
	AT9000.VoucherDate,
	 0 as TaxOrders,
	AT9000.Orders,
	AT9000.Ana01ID,AT9000.Ana02ID,AT9000.Ana03ID,AT9000.Ana04ID,AT9000.Ana05ID,
	AT1011.AnaName as AnaName1,
	T02.AnaName as AnaName2,
	T03.AnaName as AnaName3,
	T04.AnaName as AnaName4,
	T05.AnaName as AnaName5,
	AT1011.RefDate as Ana01RefDate,
	 AT9000.InventoryID, 
	AT9000.UnitID,
	AT1304.UnitName,
	CASE WHEN AT9000.Quantity = 0 THEN 0 ELSE (AT9000.OriginalAmount/AT9000.Quantity) END as UnitPrice, 
	AT9000.Quantity, 
	AT9000.OriginalAmount, 
	Cast(isnull(DiscountRate,0) as Decimal(28,8)) as DiscountRate,
	AT9000.ConvertedAmount,Serial,InvoiceNo,
	Case when isnull(AT9000.InventoryName1,'''') ='''' then AT1302.InventoryName else AT9000.InventoryName1 end as InventoryName ,
	AT9000.ObjectID,
	(Case when isnull(AT9000.VATObjectID,'''') ='''' then  A.Address else B.Address end ) as ObAddress,
	A.PaymentID,
	AT9000.InvoiceDate,
	AT9000.DivisionID,
	AT1101.DivisionName,	AT1101.Address,	AT1101.Tel, AT1101.Fax, 
	AT1101.VATNO as DivisionVATNO,
	AT9000.CurrencyID,	
	AT1010.VATRate, 
	AT1302.Varchar01,AT1302.Varchar02,AT1302.Varchar03,AT1302.Varchar04,AT1302.Varchar05,
	OriginalAmountTax = (Case when (Select Sum(isnull(OriginalAmount,0)) 
									From AT9000 T9  WITH(NOLOCK)
									Where TransactiontypeID =''T34''  and VoucherID = AT9000.VoucherID and DivisionID = AT9000.DivisionID ) is null
						then 0 else (Select Sum(isnull(OriginalAmount,0)) 
									From AT9000 T9  WITH(NOLOCK)
									Where TransactiontypeID =''T34''  and VoucherID = AT9000.VoucherID and DivisionID = AT9000.DivisionID ) end),'
Set @sSqlUnion = ' 			
	ConvertedAmountTax = (Case when (Select Sum(isnull(ConvertedAmount,0)) 
									From AT9000 T9 WITH(NOLOCK) 
									Where TransactiontypeID =''T34''  and VoucherID = AT9000.VoucherID and DivisionID = AT9000.DivisionID ) is null
						then 0 else (Select Sum(isnull(ConvertedAmount,0)) 
									From AT9000 T9 WITH(NOLOCK) 
									Where TransactiontypeID =''T34''  and VoucherID = AT9000.VoucherID and DivisionID = AT9000.DivisionID ) end),	
	(Case when isnull(AT9000.VATObjectID,'''') ='''' then  A.ObjectName 
		else 
			Case When B.IsUpdateName = 1 then AT9000.VATObjectName 
		Else
			B.ObjectName End End) as ObjectName,
	(Case when isnull(AT9000.VATObjectID,'''') ='''' then  A.VATNo
	  else 
	     Case When B.IsUpdateName = 1 then AT9000.VATNo
		Else
			B.VATNo  End End) as VATNo,
	AT2007.SourceNo, AT2007.LimitDate, AT9000.DebitAccountID, AT9000.CreditAccountID,
	AT9000.DiscountAmount,
	AT9000.VDescription,
	AT9000.TDescription,
	AT9000.BDescription,
	AT1302.IsDiscount, AT9000.DiscountSaleAmountDetail

From AT9000 WITH(NOLOCK) left join AT1302 WITH(NOLOCK) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT1302.InventoryID = AT9000.InventoryID
		Left join AT1304 WITH(NOLOCK) on AT1304.UnitID = AT9000.UnitID
		left join AT1202 A WITH(NOLOCK) on A.DivisionID IN (AT9000.DivisionID, ''@@@'') AND A.ObjectID = AT9000.ObjectID
		left join AT1202 B WITH(NOLOCK) on B.DivisionID IN (AT9000.DivisionID, ''@@@'') AND B.ObjectID = AT9000.VATObjectID
		left join AT1101 WITH(NOLOCK) on AT1101.DivisionID=AT9000.DivisionID
		left join AT1010 WITH(NOLOCK) on AT1010.VATGroupID = AT9000.VATGroupID
 		Left join AT1011 WITH(NOLOCK) on AT1011.AnaID = AT9000.Ana01ID and  AT1011.AnaTypeID = ''A01''
		Left join AT1011  T02 WITH(NOLOCK) on T02.AnaID = AT9000.Ana02ID and  T02.AnaTypeID = ''A02''
		Left join AT1011  T03 WITH(NOLOCK) on T03.AnaID = AT9000.Ana03ID and  T03.AnaTypeID = ''A03''
		Left join AT1011  T04 WITH(NOLOCK) on T04.AnaID = AT9000.Ana04ID and  T04.AnaTypeID = ''A04''
		Left join AT1011  T05 WITH(NOLOCK) on T05.AnaID = AT9000.Ana05ID and  T05.AnaTypeID = ''A05''
		Left Join AT2007 WITH(NOLOCK) on AT2007.VoucherID =  AT9000.VoucherID And AT2007.DivisionID =  AT9000.DivisionID
		and AT2007.TransactionID =AT9000.TransactionID
Where 	AT9000.VoucherID ='''+@VoucherID+''' and 
             TransactionTypeID in (''T24'',''T74'') '

--Set @sSql = @sSql + @sSqlUnion

--Print @sSql
If not exists (Select top 1 1 From SysObjects Where name = 'AV3039' and Xtype ='V')
	Exec ('Create view AV3039 as '+@sSQL + @sSqlUnion)
Else
	Exec ('Alter view AV3039 as '+@sSQL + @sSqlUnion)
	
	
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
	