IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3023]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3023]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Báo cáo doanh số đơn hàng bán
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 17/10/2003 by Hoang Thi Lan
---- Modified on 05/12/2009 by B.Anh: Lay them truong VoucherTypeID, DiscountAmount
---- Modified on 29/07/2010 by Hoàng Phước
---- Modified on 05/03/2014 by Le Thi Thu Hien : Bo sung phan quyen xem du lieu cua nguoi khac
---- Modified on 08/01/2016 by Tiểu Mai: Bổ sung thông tin quy cách khi có thiết lập quản lý mặt hàng theo quy cách.
---- Modified on 03/06/2016 by Tiểu Mai: Bổ sung WITH(NOLOCK)
---- Modified on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified on 28/04/2017 by Bảo Thy: Bổ sung tên quy cách
---- Modified on 30/08/2017 by Tiểu Mai: Bổ sung AT9000.ConvertedUnitID, AT9000.ConvertedQuantity
---- Modified on 28/10/2018 by Bảo Anh : Trả thẳng dữ liệu không tạo view
---- Modified on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
-- <Example>
----

CREATE PROCEDURE [dbo].[AP3023] 	
(
	@DivisionID AS NVARCHAR(50) ,
	@sSQLWhere AS NVARCHAR(4000) ,
	@TranMonth AS INT,
	@TranYear AS INT,
	@UserID AS VARCHAR(50) = '' 
)	 
AS


DECLARE @sSQL1  AS VARCHAR(MAX),
        @sSQL2  AS VARCHAR(MAX)
----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
DECLARE @sSQLPer AS NVARCHAR(MAX),
		@sWHEREPer AS NVARCHAR(MAX)
SET @sSQLPer = ''
SET @sWHEREPer = ''		

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH(NOLOCK) WHERE DefDivisionID = @DivisionID AND IsPermissionView = 1 ) -- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
	BEGIN
		SET @sSQLPer = ' LEFT JOIN AT0010 WITH(NOLOCK) ON AT0010.DivisionID = AT9000.DivisionID 
											AND AT0010.AdminUserID = '''+@UserID+''' 
											AND AT0010.UserID = AT9000.CreateUserID '
		SET @sWHEREPer = ' AND (AT9000.CreateUserID = AT0010.UserID
								OR  AT9000.CreateUserID = '''+@UserID+''') '		
	END

-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	
IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH(NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN
	SET @sSQL1 = N'	
SELECT	AT9000.InventoryID, CASE WHEN ISNULL(AT9000.InventoryName1, '''') = '''' THEN ISNULL(AT1302.InventoryName, '''') ELSE AT9000.InventoryName1 END AS InventoryName,
ISNULL(AT1302.Specification, '''') AS Specification, ISNULL(AT1302.Varchar01, '''') AS Varchar01, ISNULL(AT1302.Varchar02, '''') AS Varchar02,
AT1302.UnitID, AT1304.UnitName, SUM(AT9000.Quantity) AS Quantity, AT9000.CurrencyID, AT1302.SalePrice01, AT1302.S1, AT1302.S2, AT1302.S3,
VDescription, SUM(AT9000.OriginalAmount) AS OriginalAmount, SUM(AT9000.ConvertedAmount) AS ConvertedAmount, SUM(AT9000.DiscountAmount) AS DiscountAmount,
AT9000.VoucherTypeID, AT9000.DivisionID, O99.S01ID,O99.S02ID,O99.S03ID,O99.S04ID,O99.S05ID,O99.S06ID,O99.S07ID,O99.S08ID,O99.S09ID,O99.S10ID,
O99.S11ID,O99.S12ID,O99.S13ID,O99.S14ID,O99.S15ID,O99.S16ID,O99.S17ID,O99.S18ID,O99.S19ID,O99.S20ID,
A01.StandardName AS StandardName01, A02.StandardName AS StandardName02, A03.StandardName AS StandardName03, A04.StandardName AS StandardName04, 
A05.StandardName AS StandardName05, A06.StandardName AS StandardName06, A07.StandardName AS StandardName07, A08.StandardName AS StandardName08, 
A09.StandardName AS StandardName09, A10.StandardName AS StandardName10, A11.StandardName AS StandardName11, A12.StandardName AS StandardName12,
A13.StandardName AS StandardName13, A14.StandardName AS StandardName14, A15.StandardName AS StandardName15, A16.StandardName AS StandardName16,
A17.StandardName AS StandardName17, A18.StandardName AS StandardName18, A19.StandardName AS StandardName19, A20.StandardName AS StandardName20,
AT9000.ConvertedUnitID, AT9000.ConvertedQuantity
FROM		AT9000 WITH(NOLOCK)
LEFT JOIN	AT1302 WITH(NOLOCK) ON  AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID = AT1302.InventoryID
LEFT JOIN	AT1304 WITH(NOLOCK) ON  AT1302.DivisionID IN (AT1304.DivisionID,''@@@'') AND AT1304.UnitID = AT1302.UnitID
LEFT JOIN AT8899 O99 WITH(NOLOCK) ON O99.DivisionID = AT9000.DivisionID AND O99.VoucherID = AT9000.VoucherID AND O99.TransactionID = AT9000.TransactionID	
LEFT JOIN AT0128 A01 WITH (NOLOCK) ON A01.DivisionID = O99.DivisionID AND O99.S01ID = A01.StandardID AND A01.StandardTypeID = ''S01''
LEFT JOIN AT0128 A02 WITH (NOLOCK) ON A02.DivisionID = O99.DivisionID AND O99.S02ID = A02.StandardID AND A02.StandardTypeID = ''S02''
LEFT JOIN AT0128 A03 WITH (NOLOCK) ON A03.DivisionID = O99.DivisionID AND O99.S03ID = A03.StandardID AND A03.StandardTypeID = ''S03''
LEFT JOIN AT0128 A04 WITH (NOLOCK) ON A04.DivisionID = O99.DivisionID AND O99.S04ID = A04.StandardID AND A04.StandardTypeID = ''S04''
LEFT JOIN AT0128 A05 WITH (NOLOCK) ON A05.DivisionID = O99.DivisionID AND O99.S05ID = A05.StandardID AND A05.StandardTypeID = ''S05''
LEFT JOIN AT0128 A06 WITH (NOLOCK) ON A06.DivisionID = O99.DivisionID AND O99.S06ID = A06.StandardID AND A06.StandardTypeID = ''S06''
LEFT JOIN AT0128 A07 WITH (NOLOCK) ON A07.DivisionID = O99.DivisionID AND O99.S07ID = A07.StandardID AND A07.StandardTypeID = ''S07''
LEFT JOIN AT0128 A08 WITH (NOLOCK) ON A08.DivisionID = O99.DivisionID AND O99.S08ID = A08.StandardID AND A08.StandardTypeID = ''S08''
LEFT JOIN AT0128 A09 WITH (NOLOCK) ON A09.DivisionID = O99.DivisionID AND O99.S09ID = A09.StandardID AND A09.StandardTypeID = ''S09''
LEFT JOIN AT0128 A10 WITH (NOLOCK) ON A10.DivisionID = O99.DivisionID AND O99.S10ID = A10.StandardID AND A10.StandardTypeID = ''S10'''
SET @sSQL2 = '
LEFT JOIN AT0128 A11 WITH (NOLOCK) ON A11.DivisionID = O99.DivisionID AND O99.S11ID = A11.StandardID AND A11.StandardTypeID = ''S11''
LEFT JOIN AT0128 A12 WITH (NOLOCK) ON A12.DivisionID = O99.DivisionID AND O99.S12ID = A12.StandardID AND A12.StandardTypeID = ''S12''
LEFT JOIN AT0128 A13 WITH (NOLOCK) ON A13.DivisionID = O99.DivisionID AND O99.S13ID = A13.StandardID AND A13.StandardTypeID = ''S13''
LEFT JOIN AT0128 A14 WITH (NOLOCK) ON A14.DivisionID = O99.DivisionID AND O99.S14ID = A14.StandardID AND A14.StandardTypeID = ''S14''
LEFT JOIN AT0128 A15 WITH (NOLOCK) ON A15.DivisionID = O99.DivisionID AND O99.S15ID = A15.StandardID AND A15.StandardTypeID = ''S15''
LEFT JOIN AT0128 A16 WITH (NOLOCK) ON A16.DivisionID = O99.DivisionID AND O99.S16ID = A16.StandardID AND A16.StandardTypeID = ''S16''
LEFT JOIN AT0128 A17 WITH (NOLOCK) ON A17.DivisionID = O99.DivisionID AND O99.S17ID = A17.StandardID AND A17.StandardTypeID = ''S17''
LEFT JOIN AT0128 A18 WITH (NOLOCK) ON A18.DivisionID = O99.DivisionID AND O99.S18ID = A18.StandardID AND A18.StandardTypeID = ''S18''
LEFT JOIN AT0128 A19 WITH (NOLOCK) ON A19.DivisionID = O99.DivisionID AND O99.S19ID = A19.StandardID AND A19.StandardTypeID = ''S19''
LEFT JOIN AT0128 A20 WITH (NOLOCK) ON A20.DivisionID = O99.DivisionID AND O99.S20ID = A20.StandardID AND A20.StandardTypeID = ''S20''		
'+@sSQLPer+'
WHERE	AT9000.DivisionID = ''' + @DivisionID + '''
		'+@sWHEREPer+'
		AND AT9000.TransactionTypeID IN (''T04'', ''T40'')
		AND ' + @sSQLWhere + '
GROUP BY AT9000.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName,	AT9000.Quantity, AT9000.CurrencyID,AT9000.InventoryName1, Specification, 
Varchar01, Varchar02, AT1302.SalePrice01, AT1302.S1, AT1302.S2, AT1302.S3, VDescription, AT9000.VoucherTypeID, AT9000.DivisionID,
O99.S01ID,O99.S02ID,O99.S03ID,O99.S04ID,O99.S05ID,O99.S06ID,O99.S07ID,O99.S08ID,O99.S09ID,O99.S10ID,
O99.S11ID,O99.S12ID,O99.S13ID,O99.S14ID,O99.S15ID,O99.S16ID,O99.S17ID,O99.S18ID,O99.S19ID,O99.S20ID,
A01.StandardName, A02.StandardName, A03.StandardName, A04.StandardName, A05.StandardName, A06.StandardName, A07.StandardName, A08.StandardName, 
A09.StandardName, A10.StandardName, A11.StandardName, A12.StandardName,A13.StandardName, A14.StandardName, A15.StandardName, A16.StandardName,
A17.StandardName, A18.StandardName, A19.StandardName, A20.StandardName, AT9000.ConvertedUnitID, AT9000.ConvertedQuantity '

END 
ELSE
BEGIN
	SET @sSQL1 = N'	
	SELECT		AT9000.InventoryID,
				CASE WHEN ISNULL(AT9000.InventoryName1, '''') = '''' THEN ISNULL(AT1302.InventoryName, '''')
				ELSE AT9000.InventoryName1 END AS InventoryName,
				ISNULL(AT1302.Specification, '''') AS Specification,
				ISNULL(AT1302.Varchar01, '''') AS Varchar01,
				ISNULL(AT1302.Varchar02, '''') AS Varchar02,
				AT1302.UnitID,
				AT1304.UnitName,
				SUM(AT9000.Quantity) AS Quantity,
				AT9000.CurrencyID,
				AT1302.SalePrice01,
				AT1302.S1,
				AT1302.S2,
				AT1302.S3,
				VDescription,
				SUM(AT9000.OriginalAmount) AS OriginalAmount,
				SUM(AT9000.ConvertedAmount) AS ConvertedAmount,
				SUM(AT9000.DiscountAmount) AS DiscountAmount,
				AT9000.VoucherTypeID,
				AT9000.DivisionID,
				AT9000.ConvertedUnitID, AT9000.ConvertedQuantity
	FROM		AT9000 WITH(NOLOCK)
	LEFT JOIN	AT1302 WITH(NOLOCK)
			ON  AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND AT9000.InventoryID = AT1302.InventoryID
	LEFT JOIN	AT1304 WITH(NOLOCK)
			ON  AT1302.DivisionID IN (AT1304.DivisionID,''@@@'') AND AT1304.UnitID = AT1302.UnitID
	'+@sSQLPer+'
	WHERE		AT9000.DivisionID = ''' + @DivisionID + '''
				'+@sWHEREPer+'
				AND AT9000.TransactionTypeID IN (''T04'', ''T40'')
				AND ' + @sSQLWhere + ''

	SET @sSQL2 = N'  
	GROUP BY 	AT9000.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName,	
				AT9000.Quantity,
				AT9000.CurrencyID,AT9000.InventoryName1, Specification, Varchar01, 
				Varchar02,	AT1302.SalePrice01,
				AT1302.S1, AT1302.S2, AT1302.S3, VDescription, AT9000.VoucherTypeID, 
				AT9000.DivisionID, AT9000.ConvertedUnitID, AT9000.ConvertedQuantity
	'
	
END			 

--print @sSQL1
--print @sSQL2

--IF NOT EXISTS (SELECT TOP 1 1 FROM   SysObjects WHERE  NAME = 'AV3023' AND Xtype = 'V')
--    EXEC ('CREATE VIEW AV3023 AS ' + @sSQL1 + @sSQL2)
--ELSE
--    EXEC ('ALTER VIEW AV3023 AS ' + @sSQL1 + @sSQL2)

EXEC(@sSQL1 + @sSQL2)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

