IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3019]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP3019]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


--Created by Hoang Thi Lan
--Date 06/10/2003
--Purpose:Dung cho Report AR3013(report mua hang) 
--Edited by Nguyen Quoc Huy
---Edit by : Thuy Tuyen lay  SourceNo date, 24/06/2008
---Edit by B.Anh, lay TDescription		date 08/10/2008
---Last edit date 05/09/2009	Lay them truong mã phan tich, so Fax, cac truong Dien giai
---Edit by Thiên Huỳnh: Date 13/07/2012: Thêm mã phân tích đối tượng, mã và tên điều khoản thanh toán
---Edit by Hoàng Vũ: Date 23/05/2016: Thực Bổ sung trường hợp In lấy thông tin kho từ phiếu nhập kho bên module Kho 
--- Modified by Tiểu Mai on 14/06/2016: Bổ sung thêm trường địa chỉ của đối tượng
---Edit by Hoàng Vũ: Date 23/05/2016: Fix lội Load kho In lấy thông tin kho từ phiếu nhập kho bên module Kho 
--- Edit by Mỹ Tuyền: Date 30/09/2016: Bổ sung thêm trường số PO và số hợp đồng của PO mà phiếu mua hàng kế thừa
--- Edit by Hải Long: Date 23/12/2016: Bổ sung thêm trường tỷ lệ chiết khấu,thành tiền chiết khấu (DiscountRate, DiscountAmount)
--- Modified by Tiểu Mai on 10/02/2017: Bổ sung lấy 20 cột quy cách, số lượng quy đổi
--- Modified on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
--- Modified by Bảo Thy on 23/02/2018: Fix lỗi tràn chuỗi (@InvoiceNoList) (http://192.168.0.204:8069/web?db=ASERP#id=3136&view_type=form&model=project.issue&action=390)
--- Modified by Bảo Anh on 02/03/2018: Bổ sung số đơn hàng mua (PVoucherNo)
--- Modified by Bảo Anh on 28/03/2018: Bổ sung tiền thuế TTĐB
---- Modified by Kim Thư on 21/11/2018: Bổ sung cột LastModifyName
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified by Xuân Nguyên on 27/09/2021: Bổ sung điều kiện DivisionID cho bảng AT1303.
---- Modified by Văn Tài	 on 16/01/2022: Thêm AT9000 cho InvoiceNo.
---- Modified by Đức Tuyên on 27/09/2021: Điều chỉnh điều kiện DivisionID cho bảng AT1303.
---- Modified by Nhật Quang on 27/09/2022: Bổ sung lấy thêm chứng từ nhập kho AT2006.VoucherNo
---- Modified by Văn Tài	on 04/01/2023: Bổ sung lấy thêm chứng từ nhập kho AT2006.VoucherDate
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
/********************************************
'* Edited by: [GS] [Hoàng Phước] [29/07/2010]
'********************************************/

CREATE PROCEDURE  [dbo].[AP3019]    @VoucherID as nvarchar(50)
as
Declare @sSql1 as nvarchar(4000),
	@sSql2 as nvarchar(4000),
	@sSql2a as nvarchar(4000),
	@sSql3 as nvarchar(4000),
	@sSql3a as nvarchar(4000),
	@sSql4 as nvarchar(4000),
	@InvoiceNoList as nvarchar(4000) ,
	@AT9000Cursor as cursor,
	@Serial as nvarchar(50),
	@InvoiceNo as nvarchar(50),
	@DebitAccountList as nvarchar(200),
	@CreditAccountList as nvarchar(200),
	@DebitAccountID as nvarchar(50),
	@CreditAccountID as nvarchar(50)
	
SET @InvoiceNoList =''
SET @AT9000Cursor = CURSOR SCROLL KEYSET FOR
Select Distinct isnull(Serial,'') , isnull(InvoiceNo,'') From AT9000 Where VoucherID =@VoucherID --and TransactionTypeID ='T01'
OPEN @AT9000Cursor
		FETCH NEXT FROM @AT9000Cursor INTO @Serial , @InvoiceNo
			 
		WHILE @@FETCH_STATUS = 0
		BEGIN
			If @InvoiceNoList<>''
				Set @InvoiceNoList = @InvoiceNoList+'; '+@Serial+'.'+@InvoiceNo
			Else
				Set @InvoiceNoList =@Serial+'.'+@InvoiceNo
		--Print '@InvoiceNoList'+str(@InvoiceNoList)
			FETCH NEXT FROM @AT9000Cursor INTO @Serial, @InvoiceNo
		END

CLOSE @AT9000Cursor


SET @CreditAccountList =''
SET @AT9000Cursor = CURSOR SCROLL KEYSET FOR
Select Distinct CreditAccountID From AT9000 Where VoucherID =@VoucherID and (TransactionTypeID ='T03' or 
		TransactionTypeID ='T13' or TransactionTypeID ='T33')
OPEN @AT9000Cursor
		FETCH NEXT FROM @AT9000Cursor INTO @CreditAccountID
			
		WHILE @@FETCH_STATUS = 0
		BEGIN
			If @CreditAccountList <>''
				Set @CreditAccountList = @CreditAccountList+'; '+@CreditAccountID
			Else
				Set @CreditAccountList  = @CreditAccountID

			FETCH NEXT FROM @AT9000Cursor INTO @CreditAccountID
		END

CLOSE @AT9000Cursor


SET @DebitAccountList =''
SET @AT9000Cursor = CURSOR SCROLL KEYSET FOR
Select Distinct DebitAccountID From AT9000 Where VoucherID =@VoucherID and (TransactionTypeID ='T03' or 
		TransactionTypeID ='T13' or TransactionTypeID ='T33')
OPEN @AT9000Cursor
		FETCH NEXT FROM @AT9000Cursor INTO @DebitAccountID
		WHILE @@FETCH_STATUS = 0
		BEGIN
			If @DebitAccountList <>''
			
				Set @DebitAccountList = @DebitAccountList + '; ' + @DebitAccountID
			Else
				Set @DebitAccountList  = @DebitAccountID

			FETCH NEXT FROM @AT9000Cursor INTO @DebitAccountID
		END

CLOSE @AT9000Cursor



If @InvoiceNoList<>'' 
	Set @InvoiceNoList =N'Kèm theo   : '+@InvoiceNoList+' chứng từ gốc'

IF EXISTS (Select Top 1 1 from AT9000 Where VoucherID = @VoucherID and WOrderID is not null)
Begin
		--Trường hợp 2: Lập phiếu nhập kho bên module kho và lập hóa đơn kế thừa từ phiếu nhập nhập
		set @sSql1=N'
		Select  0 as TaxOrders,
			AT9000.Orders,
			AT9000.VoucherID,
			AT9000.VoucherNo,
			AT9000.VoucherDate,
			AT9000.ExchangeRate,
			AT9000.TransactionTypeID,
			AT9000.DebitAccountID,
			AT9000.CreditAccountID,
			AT9000.VDescription, 
			'''+isnull(@InvoiceNoList,'')+''' as InvoiceNoList,
			'''+isnull(@CreditAccountList,'')+''' as CreditAccountList,
			'''+isnull(@DebitAccountList,'')+''' as DebitAccountList,
			 AT9000.InventoryID, AT9000.UnitID,
			AT1304.UnitName,'
			
		SET @sSql2 = N'
			AT1302.Specification,
			AT1302.Notes01, AT1302.Notes02, AT1302.Notes03,
			AT1302.InventoryTypeID,
			AT9000.UnitPrice, AT9000.Quantity, 
			AT9000.OriginalAmount, AT9000.ConvertedAmount,
			isnull(AT9000.ImTaxOriginalAmount,0) as ImTaxOriginalAmount,
			isnull(AT9000.ImTaxConvertedAmount,0) as ImTaxConvertedAmount,
			isnull(ExpenseOriginalAmount,0) as ExpenseOriginalAmount, 
			isnull(ExpenseConvertedAmount,0) as ExpenseConvertedAmount,
			Serial,AT9000.InvoiceNo,
			Case when isnull(AT9000.InventoryName1,'''') ='''' then AT1302.InventoryName else AT9000.InventoryName1 end as InventoryName ,
			AT9000.ObjectID,AT9000.DivisionID,AT1101.Address as DAddress,
			isnull(T02.Address,AT1202.Address) as OAddress,
			AT1101.Tel,AT1101.DivisionName,
			AT9000.InvoiceDate,
			AT9000.CurrencyID,AT1202.PaymentID, isnull(AT9000.VATObjectName,isnull(T02.ObjectName,AT1202.ObjectName)) as VATObjectName,
			(Case when AT1202.IsUpdateName =1 then isnull(AT9000.VATObjectName,T02.ObjectName) else AT1202.ObjectName end) as ObjectName,
			(Case when AT1202.IsUpdateName =1 then isnull(AT9000.VATNo,T02.VATNo) else AT1202.VATNo end) as VATNo,
			AT2007.SourceNo, AT2006.WareHouseID, AT2006.VoucherNo AS VoucherNoWare, AT2006.VoucherDate AS VoucherDateWare,
			AT1303.WareHouseName,
			AT9000.TDescription, AT9000.IsMultiTax,
			AT9000.Ana01ID, AT9000.Ana02ID, AT9000.Ana03ID, AT9000.Ana04ID, AT9000.Ana05ID,
			AT1202.Fax, BDescription, 
			AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
			AT9000.PaymentTermID, AT1208.PaymentTermName, AT9000.ConvertedUnitID, AT9000.WOrderID, AT9000.WTransactionID, AT1202.Address as ObjectAddress,
			ISNULL(OT3002.POrderID, OT02.POrderID) as POrderID, ISNULL(OT3001.ContractNo, OT01.ContractNo) as ContractNo, ISNULL(OT3001.VoucherNo, OT01.VoucherNo) as PVoucherNo,
			AT9000.DiscountRate, AT9000.DiscountAmount,
			O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
			O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID, AT9000.ConvertedQuantity,
			(Select T90.ConvertedAmount From AT9000 T90 with (nolock)
			Where T90.DivisionID = AT9000.DivisionID And T90.TransactionTypeID = ''T96'' And T90.VoucherID = AT9000.VoucherID And T90.InventoryID = AT9000.InventoryID
			)  AS SpecialTaxConvertedAmount, AT9000.LastModifyUserID, A15.UserName as LastModifyName'

		SET @sSql2a = N'
		From AT9000 with (nolock)	
				left join AT1302  with (nolock) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND At1302.InventoryID = AT9000.InventoryID
				Left join AT1304  with (nolock) on AT1304.UnitID = AT9000.UnitID
				left join AT1202  with (nolock) on AT1202.DivisionID IN (AT9000.DivisionID, ''@@@'') AND At1202.ObjectID = AT9000.ObjectID
				left join AT1101  with (nolock) on AT1101.DivisionID=AT9000.DivisionID
				left join AT1202 T02  with (nolock) on T02.DivisionID IN (AT9000.DivisionID, ''@@@'') AND T02.ObjectID = AT9000.VATObjectID
 				left Join AT2007  with (nolock) on AT2007.VoucherID =  AT9000.WOrderID and AT2007.TransactionID =AT9000.WTransactionID and AT2007.DivisionID=AT9000.DivisionID
				Left Join AT2006  with (nolock) on AT2006.VoucherID =  AT2007.VoucherID and AT2006.DivisionID=AT2007.DivisionID
				Left Join AT1303  with (nolock) on AT1303.WareHouseID =  AT2006.WareHouseID and AT1303.DivisionID IN (AT2006.DivisionID,''@@@'')
				Left Join AT1208  with (nolock) on AT1208.PaymentTermID = AT9000.PaymentTermID
				Left Join OT3002  with (nolock) on AT9000.OTransactionID = OT3002.TransactionID and AT9000.DivisionID = OT3002.DivisionID
				Left Join OT3001  with (nolock) on OT3001.POrderID = OT3002.POrderID and OT3001.DivisionID = OT3002.DivisionID
				left join AT8899 O99 with (nolock) on AT9000.DivisionID = O99.DivisionID AND AT9000.VoucherID = O99.VoucherID AND AT9000.TransactionID = O99.TransactionID
				LEFT JOIN OT3002 OT02 WITH (NOLOCK) ON AT2007.DivisionID = OT02.DivisionID AND AT2007.OrderID = OT02.POrderID AND AT2007.OTransactionID = OT02.TransactionID
				Left Join OT3001 OT01 with (nolock) on OT01.DivisionID = OT02.DivisionID AND OT01.POrderID = OT02.POrderID
				LEFT JOIN AT1405 A15 WITH(NOLOCK) ON A15.UserID = AT9000.LastModifyUserID
		Where 	AT9000.VoucherID ='''+@VoucherID+''' and 
					 TransactionTypeID=''T03'' 

		Union '
End
Else
Begin
		--Trường hợp 1: Lập phiếu nhập kho ngay thời điểm lập phiếu phiếu hóa đơn mua hàng
		set @sSql1=N'
		Select  0 as TaxOrders,
			AT9000.Orders,
			AT9000.VoucherID,
			AT9000.VoucherNo,
			AT9000.VoucherDate,
			AT9000.ExchangeRate,
			AT9000.TransactionTypeID,
			AT9000.DebitAccountID,
			AT9000.CreditAccountID,
			AT9000.VDescription, 
			'''+isnull(@InvoiceNoList,'')+''' as InvoiceNoList,
			'''+isnull(@CreditAccountList,'')+''' as CreditAccountList,
			'''+isnull(@DebitAccountList,'')+''' as DebitAccountList,
			 AT9000.InventoryID, AT9000.UnitID,
			AT1304.UnitName,'
			
		SET @sSql2 = N'
			AT1302.Specification,
			AT1302.Notes01, AT1302.Notes02, AT1302.Notes03,
			AT1302.InventoryTypeID,
			AT9000.UnitPrice, AT9000.Quantity, 
			AT9000.OriginalAmount, AT9000.ConvertedAmount,
			isnull(AT9000.ImTaxOriginalAmount,0) as ImTaxOriginalAmount,
			isnull(AT9000.ImTaxConvertedAmount,0) as ImTaxConvertedAmount,
			isnull(ExpenseOriginalAmount,0) as ExpenseOriginalAmount, 
			isnull(ExpenseConvertedAmount,0) as ExpenseConvertedAmount,
			Serial,AT9000.InvoiceNo,
			Case when isnull(AT9000.InventoryName1,'''') ='''' then AT1302.InventoryName else AT9000.InventoryName1 end as InventoryName ,
			AT9000.ObjectID,AT9000.DivisionID,AT1101.Address as DAddress,
			isnull(T02.Address,AT1202.Address) as OAddress,
			AT1101.Tel,AT1101.DivisionName,
			AT9000.InvoiceDate,
			AT9000.CurrencyID,AT1202.PaymentID, isnull(AT9000.VATObjectName,isnull(T02.ObjectName,AT1202.ObjectName)) as VATObjectName,
			(Case when AT1202.IsUpdateName =1 then isnull(AT9000.VATObjectName,T02.ObjectName) else AT1202.ObjectName end) as ObjectName,
			(Case when AT1202.IsUpdateName =1 then isnull(AT9000.VATNo,T02.VATNo) else AT1202.VATNo end) as VATNo,
			AT2007.SourceNo, AT2006.WareHouseID, AT2006.VoucherNo AS VoucherNoWare, AT2006.VoucherDate AS VoucherDateWare,
			AT1303.WareHouseName,
			AT9000.TDescription, AT9000.IsMultiTax,
			AT9000.Ana01ID, AT9000.Ana02ID, AT9000.Ana03ID, AT9000.Ana04ID, AT9000.Ana05ID,
			AT1202.Fax, BDescription, 
			AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
			AT9000.PaymentTermID, AT1208.PaymentTermName, AT9000.ConvertedUnitID, AT9000.WOrderID, AT9000.WTransactionID, AT1202.Address as ObjectAddress,
			OT3002.POrderID, OT3001.ContractNo, OT3001.VoucherNo as PVoucherNo, AT9000.DiscountRate, AT9000.DiscountAmount,
			O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
			O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID, AT9000.ConvertedQuantity,
			(Select T90.ConvertedAmount From AT9000 T90 with (nolock)
			Where T90.DivisionID = AT9000.DivisionID And T90.TransactionTypeID = ''T96'' And T90.VoucherID = AT9000.VoucherID And T90.InventoryID = AT9000.InventoryID
			)  AS SpecialTaxConvertedAmount, AT9000.LastModifyUserID, A15.UserName as LastModifyName'

		SET @sSql2a = N'
		From AT9000 with (nolock)	left join AT1302 with (nolock) on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND At1302.InventoryID = AT9000.InventoryID
				Left join AT1304 with (nolock) on AT1304.UnitID = AT9000.UnitID
				left join AT1202 with (nolock) on AT1202.DivisionID IN (AT9000.DivisionID, ''@@@'') AND At1202.ObjectID = AT9000.ObjectID
           		left join AT1101 with (nolock) on AT1101.DivisionID=AT9000.DivisionID
				left join AT1202 T02 with (nolock) on T02.DivisionID IN (AT9000.DivisionID, ''@@@'') AND T02.ObjectID = AT9000.VATObjectID
 				left Join AT2007 with (nolock) on AT2007.VoucherID =  AT9000.VoucherID and AT2007.TransactionID =AT9000.TransactionID and AT2007.DivisionID=AT9000.DivisionID
				left Join AT2006 with (nolock) on AT2006.VoucherID =  AT9000.VoucherID and AT2006.DivisionID=AT9000.DivisionID
				Left Join AT1303 with (nolock) on AT1303.WareHouseID =  AT2006.WareHouseID and AT1303.DivisionID IN (AT2006.DivisionID,''@@@'')
				Left Join AT1208 with (nolock) on AT1208.PaymentTermID = AT9000.PaymentTermID
				Left Join OT3002 with (nolock) on AT9000.OTransactionID = OT3002.TransactionID and AT9000.DivisionID = OT3002.DivisionID
				Left Join OT3001 with (nolock) on OT3001.POrderID = OT3002.POrderID and OT3001.DivisionID = OT3002.DivisionID
				left join AT8899 O99 with (nolock) on AT9000.DivisionID = O99.DivisionID AND AT9000.VoucherID = O99.VoucherID AND AT9000.TransactionID = O99.TransactionID
				LEFT JOIN AT1405 A15 WITH(NOLOCK) ON A15.UserID = AT9000.LastModifyUserID
		Where 	AT9000.VoucherID ='''+@VoucherID+''' and 
					 TransactionTypeID=''T03'' 

	Union '
		
End
set @sSql3=N'
Select
	1 as TaxOrders,
	AT9000.Orders,
	AT9000.VoucherID,
	AT9000.VoucherNo,
	AT9000.VoucherDate,
	AT9000.ExchangeRate,
	AT9000.TransactionTypeID,
	AT9000.DebitAccountID,
	AT9000.CreditAccountID,
	AT9000.VDescription, 
	'''+isnull(@InvoiceNoList,'')+''' as InvoiceNoList,
	'''+isnull(@CreditAccountList,'')+''' as CreditAccountList,
	'''+isnull(@DebitAccountList,'')+''' as DebitAccountList,
	'''' as  InventoryID, 
	'''' as UnitID,
	'''' as UnitName,'
SET @sSql3a = N'
	AT1302.Specification,
	AT1302.Notes01, AT1302.Notes02, AT1302.Notes03,
	AT1302.InventoryTypeID,
	0 as UnitPrice, 
	0 as Quantity, 
	AT9000.OriginalAmount, AT9000.ConvertedAmount,
	0 as ImTaxOriginalAmount,
	0 as ImTaxConvertedAmount,
	0 as ExpenseOriginalAmount, 
	0 as ExpenseConvertedAmount,
 	AT9000.Serial,
	AT9000.InvoiceNo,	
	AT9000.TDescription as InventoryName,
	 AT9000.ObjectID, AT9000.DivisionID,AT1101.Address as DAddress,
	isnull(T02.Address,AT1202.Address) as OAddress, AT1101.Tel	,AT1101.DivisionName,
	AT9000.InvoiceDate,'

set @sSql4=N'
	AT9000.CurrencyID,AT1202.PaymentID, isnull(AT9000.VATObjectName,isnull(T02.ObjectName,AT1202.ObjectName)) as VATObjectName,
	(Case when AT1202.IsUpdateName =1 then isnull(AT9000.VATObjectName,T02.ObjectName) else AT1202.ObjectName end) as ObjectName,
	(Case when AT1202.IsUpdateName =1 then isnull(AT9000.VATNo,T02.VATNo) else AT1202.VATNo end) as VATNo,
	'''' as SourceNo, '''' as WareHouseID,'''' AS VoucherNoWare, NULL AS VoucherDateWare,
	'''' as WareHouseName,
	AT9000.TDescription, AT9000.IsMultiTax,
	AT9000.Ana01ID, AT9000.Ana02ID, AT9000.Ana03ID, AT9000.Ana04ID, AT9000.Ana05ID,
	AT1202.Fax,BDescription,
	AT1202.O01ID, AT1202.O02ID, AT1202.O03ID, AT1202.O04ID, AT1202.O05ID,
	AT9000.PaymentTermID, AT1208.PaymentTermName, AT9000.ConvertedUnitID, AT9000.WOrderID, AT9000.WTransactionID, AT1202.Address as ObjectAddress,
	OT3002.POrderID, OT3001.ContractNo, OT3001.VoucherNo as PVoucherNo, AT9000.DiscountRate, AT9000.DiscountAmount,
	O99.S01ID, O99.S02ID, O99.S03ID, O99.S04ID, O99.S05ID, O99.S06ID, O99.S07ID, O99.S08ID, O99.S09ID, O99.S10ID,
	O99.S11ID, O99.S12ID, O99.S13ID, O99.S14ID, O99.S15ID, O99.S16ID, O99.S17ID, O99.S18ID, O99.S19ID, O99.S20ID, AT9000.ConvertedQuantity, 0 as SpecialTaxConvertedAmount,
	AT9000.LastModifyUserID, A15.UserName as LastModifyName
From AT9000 	left join AT1302 on AT1302.DivisionID IN (AT9000.DivisionID,''@@@'') AND At1302.InventoryID = AT9000.InventoryID
		left join AT1202 on AT1202.DivisionID IN (AT9000.DivisionID, ''@@@'') AND At1202.ObjectID = AT9000.ObjectID
		left join AT1101 on AT1101.DivisionID=AT9000.DivisionID
		left join AT1202 T02 on T02.DivisionID IN (AT9000.DivisionID, ''@@@'') AND T02.ObjectID = AT9000.VATObjectID
		Left Join AT1208 on AT1208.PaymentTermID = AT9000.PaymentTermID
		Left Join OT3002 on AT9000.OTransactionID = OT3002.TransactionID and AT9000.DivisionID = OT3002.DivisionID
		Left Join OT3001 on OT3001.POrderID = OT3002.POrderID and OT3001.DivisionID = OT3002.DivisionID
		left join AT8899 O99 with (nolock) on AT9000.DivisionID = O99.DivisionID AND AT9000.VoucherID = O99.VoucherID AND AT9000.TransactionID = O99.TransactionID	
		LEFT JOIN AT1405 A15 WITH(NOLOCK) ON A15.UserID = AT9000.LastModifyUserID	
Where 	AT9000.VoucherID ='''+@VoucherID+''' and 
             TransactionTypeID=''T13''
'

--PRINT(@sSQL1)
--PRINT(@sSQL2)
--PRINT(@sSQL2a)
--PRINT(@sSQL3)
--PRINT(@sSQL3a)
--PRINT(@sSQL4)

If not exists (Select top 1 1 From SysObjects Where name = 'AV3013' and Xtype ='V')
	Exec ('Create view AV3013 as '+@sSQL1+@sSql2+@sSql2a+@sSQL3+@sSQL3a+@sSQL4)
Else
	Exec ('Alter view AV3013 as '+@sSQL1+@sSql2+@sSql2a+@sSQL3+@sSQL3a+@sSQL4)




GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
