IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3120]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3120]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- In phiếu bán hàng liên tục
---- Created on 05/02/2018 by Bảo Anh
---- Modified on
---- AP3120 'MK','<DataSET><Data><VoucherID>AV66918c8e-bccd-4f01-abcc-013c83f809fd</VoucherID></Data><Data><VoucherID>AV8829f604-9b77-4c14-9c74-3f4b36693ba0</VoucherID></Data></DataSET>'

CREATE PROCEDURE AP3120
(
	@DivisionID as nvarchar(50),
	@VoucherIDList as XML,
	@ConnID VARCHAR(100) = ''
)					
	
AS
DECLARE @SQL varchar(max)

SET @SQL = ''

CREATE TABLE #VoucherIDList (VoucherID VARCHAR(50))
	
INSERT INTO #VoucherIDList (VoucherID)
SELECT	X.Data.query('VoucherID').value('.','VARCHAR(50)') AS VoucherID
FROM @VoucherIDList.nodes('//Data') AS X (Data)

SET @SQL = '
SELECT TOP 0 * INTO #RESULT FROM AV3014

DECLARE @Cur as cursor,
		@VoucherID VARCHAR(50)

SET @Cur = CURSOR SCROLL KEYSET FOR
	Select VoucherID From #VoucherIDList
OPEN @Cur
FETCH NEXT FROM @Cur INTO @VoucherID
			
WHILE @@FETCH_STATUS = 0
BEGIN
	EXEC AP3020 ''' + @DivisionID + ''', @VoucherID, ''' + @ConnID + ''', 0
	INSERT INTO #RESULT SELECT * FROM AV3014' + @ConnID + '
	FETCH NEXT FROM @Cur INTO @VoucherID
END

SELECT * FROM #RESULT ORDER BY VoucherNo
'
--PRINT @SQL
EXEC (@SQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

