IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3101]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3101]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

----- In phieu tam thu
----- Edit by B.Anh, Date 20/07/2009
/********************************************
'* Edited by: [GS] [Tố Oanh] [29/07/2010]
'********************************************/
---- Modified by Phương Thảo on 22/05/2017: Sửa danh mục dùng chung
---- Modified by Thị Phượng ON 08/02/2017 : Bổ sung customize Index lấy 10 mã phân tích (Customzie OKIA)
---- Modified by Bảo Anh On 27/04/2017 : Bổ sung lấy 10 mã phân tích cho Bason như customzie OKIA, bổ sung ObjectID, ObjectName
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

CREATE PROCEDURE [dbo].[AP3101] @DivisionID as nvarchar(50),
				@TranMonth as int,
				@TranYear as int,
				@VoucherID as nvarchar(50)
	
 AS
Declare @sSQL as nvarchar(4000),
	@AT9010Cursor as cursor,
	@InvoiceNo as nvarchar(50),
	@Serial as nvarchar(50),
	@InvoiceNoList as nvarchar(500),
	@DebitAccountList as nvarchar(500),
	@DebitAccountID  as nvarchar(50),
	@CreditAccountList as nvarchar(500),
	@CreditAccountID  as nvarchar(50),
	@InvoiceDate nvarchar(10)
	
SET @AT9010Cursor = CURSOR SCROLL KEYSET FOR
Select Distinct isnull(Serial,'') , isnull(InvoiceNo,''),  ISNULL(convert(nvarchar(10), InvoiceDate, 103),'') as InvoiceDate
		 From AT9010 Where VoucherID = @VoucherID 
				--and TransactionTypeID ='T01'
				and TransactionTypeID in ('T01','T04','T14','T22') AND DivisionID = @DivisionID
		
SET @InvoiceNoList =''

OPEN @AT9010Cursor
FETCH NEXT FROM @AT9010Cursor INTO @Serial , @InvoiceNo,  @InvoiceDate			
WHILE @@FETCH_STATUS = 0
	BEGIN	
	    SET @InvoiceNoList = @InvoiceNoList + @Serial + ', ' + @InvoiceNo + ', ' + @InvoiceDate + '; '
		SET @InvoiceNoList = REPLACE(@InvoiceNoList, ', , ', ', ')
		SET @InvoiceNoList = REPLACE(@InvoiceNoList, ', ; ', '; ')
		SET @InvoiceNoList = REPLACE(@InvoiceNoList, '; , ', '; ')
		
	    FETCH NEXT FROM @AT9010Cursor INTO @Serial , @InvoiceNo,  @InvoiceDate	
    END		
CLOSE @AT9010Cursor

IF((LEFT(@InvoiceNoList, 2) = ', ') OR (LEFT(@InvoiceNoList, 2) = '; '))
    SET @InvoiceNoList = SUBSTRING(@InvoiceNoList, 3, LEN(@InvoiceNoList))  
  
IF((RIGHT(@InvoiceNoList, 2) = ', ') OR (RIGHT(@InvoiceNoList, 2) = '; '))
    SET @InvoiceNoList = SUBSTRING(@InvoiceNoList, 1, LEN(@InvoiceNoList) - 1)    

SET @CreditAccountList =''
SET @AT9010Cursor = CURSOR SCROLL KEYSET FOR
Select Distinct CreditAccountID From AT9010 Where VoucherID =@VoucherID and TransactionTypeID in ('T01','T04','T14', 'T22') AND DivisionID = @DivisionID
OPEN @AT9010Cursor
		FETCH NEXT FROM @AT9010Cursor INTO @CreditAccountID
			
		WHILE @@FETCH_STATUS = 0
		BEGIN
			If @CreditAccountList <>''
				SET @CreditAccountList = @CreditAccountList+'; '+@CreditAccountID
			ELSE
				SET @CreditAccountList  = @CreditAccountID

			FETCH NEXT FROM @AT9010Cursor INTO @CreditAccountID
		END

CLOSE @AT9010Cursor

--print @InvoiceNoList
DECLARE 
		@CustomerName as int
		, @AnaID as NVarchar(MAX)
		, @LEFT as NVarchar(MAX)
		, @Groupby as NVarchar(MAX)
		Set @AnaID =''
		Set @LEFT =''
		Set @Groupby =''

CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
INSERT #CustomerName EXEC AP4444
SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

If @CustomerName = 87 or @CustomerName=84	--- OKIA, BaSon
Begin
	SET @AnaID =N', AT9010.Ana01ID, A01.AnaName AS Ana01Name, AT9010.Ana02ID, A02.AnaName AS Ana02Name,
			AT9010.Ana03ID, A03.AnaName AS Ana03Name, AT9010.Ana04ID, A04.AnaName AS Ana04Name,
			AT9010.Ana05ID, A05.AnaName AS Ana05Name, AT9010.Ana06ID, A06.AnaName AS Ana06Name,
			AT9010.Ana07ID, A07.AnaName AS Ana07Name, AT9010.Ana08ID, A08.AnaName AS Ana08Name,
			AT9010.Ana09ID, A09.AnaName AS Ana09Name, AT9010.Ana10ID, A10.AnaName AS Ana10Name'
	SET @LEFT =N'
	LEFT JOIN AT1011 A01 WITH (NOLOCK) ON A01.AnaID = AT9010.Ana01ID AND A01.AnaTypeID =''A01''
	LEFT JOIN AT1011 A02 WITH (NOLOCK) ON A02.AnaID = AT9010.Ana02ID AND A02.AnaTypeID =''A02''
	LEFT JOIN AT1011 A03 WITH (NOLOCK) ON A03.AnaID = AT9010.Ana03ID AND A03.AnaTypeID =''A03''
	LEFT JOIN AT1011 A04 WITH (NOLOCK) ON A04.AnaID = AT9010.Ana04ID AND A04.AnaTypeID =''A04''
	LEFT JOIN AT1011 A05 WITH (NOLOCK) ON A05.AnaID = AT9010.Ana05ID AND A05.AnaTypeID =''A05''
	LEFT JOIN AT1011 A06 WITH (NOLOCK) ON A06.AnaID = AT9010.Ana06ID AND A06.AnaTypeID =''A06''
	LEFT JOIN AT1011 A07 WITH (NOLOCK) ON A07.AnaID = AT9010.Ana07ID AND A07.AnaTypeID =''A07''
	LEFT JOIN AT1011 A08 WITH (NOLOCK) ON A08.AnaID = AT9010.Ana08ID AND A08.AnaTypeID =''A08''
	LEFT JOIN AT1011 A09 WITH (NOLOCK) ON A09.AnaID = AT9010.Ana09ID AND A09.AnaTypeID =''A09''
	LEFT JOIN AT1011 A10 WITH (NOLOCK) ON A10.AnaID = AT9010.Ana10ID AND A10.AnaTypeID =''A10'''
	SET @Groupby ='
			, AT9010.Ana01ID, A01.AnaName , AT9010.Ana02ID, A02.AnaName,
			AT9010.Ana03ID, A03.AnaName, AT9010.Ana04ID, A04.AnaName,
			AT9010.Ana05ID, A05.AnaName, AT9010.Ana06ID, A06.AnaName,
			AT9010.Ana07ID, A07.AnaName, AT9010.Ana08ID, A08.AnaName,
			AT9010.Ana09ID, A09.AnaName, AT9010.Ana10ID, A10.AnaName'
END
SET @sSQL ='
Select 	VoucherID, AT9010.DivisionID, TranMonth, TranYear, 
	VoucherTypeID, VoucherNo, VoucherDate,
	VDescription,
	'''+isnull(@InvoiceNoList,'')+''' as InvoiceNoList,
	'''+isnull(@CreditAccountList,'') +''' as CreditAccountID,
	DebitAccountID as AccountID,  
	AT9010.ObjectID,
	AT1202.ObjectName,
	AT9010.CurrencyID, ExchangeRate,
	SenderReceiver, SRDivisionName, SRAddress,
	RefNo01, RefNo02, 
	FullName,
	ChiefAccountant,
	Sum(ConvertedAmount) as ConvertedAmount,
	Sum(OriginalAmount) as OriginalAmount
	'+@AnaID+'
From AT9010 WITH (NOLOCK)
Left join AT1103 WITH (NOLOCK) On AT1103.EmployeeID = AT9010.EmployeeID
Left join AT0001 WITH (NOLOCK) On AT0001.DivisionID = AT9010.DivisionID
Left join AT1202 WITH (NOLOCK) On AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9010.ObjectID
'+@LEFT+'

Where --TransactionTypeID =''T01'' and
	TransactionTypeID in (''T01'',''T04'',''T14'',''T22'') and
	AT9010.DivisionID = '''+@DivisionID+''' and
	VoucherID ='''+@VoucherID+''' 
Group by VoucherID, AT9010.DivisionID, TranMonth, TranYear, 
	VoucherTypeID, VoucherNo, VoucherDate,
	VDescription, DebitAccountID, 
	AT9010.ObjectID, AT1202.ObjectName,
	AT9010.CurrencyID, ExchangeRate,
	SenderReceiver, SRDivisionName, SRAddress, RefNo01, RefNo02,FullName,ChiefAccountant
	'+@Groupby+''


--print @sSQL

If Not Exists (Select 1 From sysObjects Where Name ='AV3101')
	Exec ('Create view AV3101 as '+@sSQL)
ELSE
	Exec( 'Alter view AV3101 as '+@sSQL)

print @sSQL
print @AnaID
print @LEFT

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

