IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3173]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3173]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- In phiếu thu qua ngân hàng liên tục
---- Created on 05/02/2018 by Bảo Anh
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
---- AP3173 'MK',6,2017,N'<DataSET><Data><VoucherID>AVa1a48226-e1ff-462d-ad75-542a74a61c7d</VoucherID></Data><Data><VoucherID>AV6b204b49-6206-444d-b5d8-0d687b52a38b</VoucherID></Data></DataSET>'

CREATE PROCEDURE 	[dbo].[AP3173] @DivisionID as nvarchar(50),
					@TranMonth as int,
					@TranYear as int,
					@VoucherIDList as XML
	
AS
DECLARE @Cur as cursor,
		@VoucherID VARCHAR(50)

CREATE TABLE #VoucherIDList (VoucherID VARCHAR(50))
	
INSERT INTO #VoucherIDList (VoucherID)
SELECT	X.Data.query('VoucherID').value('.','VARCHAR(50)') AS VoucherID
FROM @VoucherIDList.nodes('//Data') AS X (Data)

Select 	AT9000.VoucherID, AT9000.DivisionID, AT9000.TranMonth, AT9000.TranYear, 
	AT9000.Orders,
	AT9000.VoucherTypeID, AT9000.VoucherNo, AT9000.VoucherDate,
	AT9000.InvoiceNo, AT9000.Serial,
	AT9000.VDescription,
	AT9000.TDescription,
	AT9000.BDescription,
	AT9000.CreditAccountID,
	AT9000.DebitAccountID, 
	AT9000.CurrencyID, AT9000.ExchangeRate,
	AT9000.SenderReceiver, AT9000.SRDivisionName, AT9000.SRAddress,
	AT9000.RefNo01, AT9000.RefNo02, 
	--FullName,
	---ChiefAccountant,
	AT9000.ConvertedAmount,
	AT9000.OriginalAmount,
	AT9000.Ana01ID, A01.AnaName AS Ana01Name, AT9000.Ana02ID, A02.AnaName AS Ana02Name,
	AT9000.Ana03ID, A03.AnaName AS Ana03Name, AT9000.Ana04ID, A04.AnaName AS Ana04Name,
	AT9000.Ana05ID, A05.AnaName AS Ana05Name, AT9000.Ana06ID, A06.AnaName AS Ana06Name,
	AT9000.Ana07ID, A07.AnaName AS Ana07Name, AT9000.Ana08ID, A08.AnaName AS Ana08Name,
	AT9000.Ana09ID, A09.AnaName AS Ana09Name, AT9000.Ana10ID, A10.AnaName AS Ana10Name,
	AT9000.ObjectID, OB.ObjectName,
	AT9000.IsWithhodingTax,
	AT9000.CreditBankAccountID, AT1016_C.BankAccountNo AS CreditBankAccountNo,
	AT9000.DebitBankAccountID, AT1016_D.BankAccountNo AS DebitBankAccountNo
From AT9000 WITH (NOLOCK)
LEFT JOIN AT1011 A01 WITH (NOLOCK) ON A01.DivisionID = AT9000.DivisionID AND A01.AnaID = AT9000.Ana01ID AND A01.AnaTypeID ='A01'
LEFT JOIN AT1011 A02 WITH (NOLOCK) ON A02.DivisionID = AT9000.DivisionID AND A02.AnaID = AT9000.Ana02ID AND A02.AnaTypeID ='A02'
LEFT JOIN AT1011 A03 WITH (NOLOCK) ON A03.DivisionID = AT9000.DivisionID AND A03.AnaID = AT9000.Ana03ID AND A03.AnaTypeID ='A03'
LEFT JOIN AT1011 A04 WITH (NOLOCK) ON A04.DivisionID = AT9000.DivisionID AND A04.AnaID = AT9000.Ana04ID AND A04.AnaTypeID ='A04'
LEFT JOIN AT1011 A05 WITH (NOLOCK) ON A05.DivisionID = AT9000.DivisionID AND A05.AnaID = AT9000.Ana05ID AND A05.AnaTypeID ='A05'
LEFT JOIN AT1011 A06 WITH (NOLOCK) ON A06.DivisionID = AT9000.DivisionID AND A06.AnaID = AT9000.Ana06ID AND A06.AnaTypeID ='A06'
LEFT JOIN AT1011 A07 WITH (NOLOCK) ON A07.DivisionID = AT9000.DivisionID AND A07.AnaID = AT9000.Ana07ID AND A07.AnaTypeID ='A07'
LEFT JOIN AT1011 A08 WITH (NOLOCK) ON A08.DivisionID = AT9000.DivisionID AND A08.AnaID = AT9000.Ana08ID AND A08.AnaTypeID ='A08'
LEFT JOIN AT1011 A09 WITH (NOLOCK) ON A09.DivisionID = AT9000.DivisionID AND A09.AnaID = AT9000.Ana09ID AND A09.AnaTypeID ='A09'
LEFT JOIN AT1011 A10 WITH (NOLOCK) ON A10.DivisionID = AT9000.DivisionID AND A10.AnaID = AT9000.Ana10ID AND A10.AnaTypeID ='A10'
LEFT JOIN AT1202 OB WITH (NOLOCK) ON OB.DivisionID IN (@DivisionID, '@@@') AND AT9000.ObjectID = OB.ObjectID
LEFT JOIN AT1016 AT1016_D WITH(NOLOCK) ON AT9000.DivisionID = AT1016_D.DivisionID AND AT9000.DebitBankAccountID = AT1016_D.BankAccountID
LEFT JOIN AT1016 AT1016_C WITH(NOLOCK) ON AT9000.DivisionID = AT1016_C.DivisionID AND AT9000.CreditBankAccountID = AT1016_C.BankAccountID
Where TransactionTypeID = 'T21' and
	AT9000.DivisionID = @DivisionID and TranMonth = @TranMonth and TranYear = @TranYear
	and VoucherID IN (Select VoucherID From #VoucherIDList)
ORDER BY AT9000.VoucherNo

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

