IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3141]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP3141]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- In phiếu thu tiền mặt liên tục
---- Created on 05/02/2018 by Bảo Anh
---- Modified on---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.

---- AP3141 'MK',6,2017,N'<DataSET><Data><VoucherID>AVc05a8be9-7291-495d-abce-6ea59ec37f00</VoucherID></Data><Data><VoucherID>AV420ff3e2-5a7c-456c-a1ea-82c875cc9665</VoucherID></Data></DataSET>'

CREATE PROCEDURE 	[dbo].[AP3141] @DivisionID as nvarchar(50),
					@TranMonth as int,
					@TranYear as int,
					@VoucherIDList as XML
	
AS
DECLARE @Cur as cursor,
		@VoucherID VARCHAR(50)

CREATE TABLE #VoucherIDList (VoucherID VARCHAR(50))
	
INSERT INTO #VoucherIDList (VoucherID)
SELECT	X.Data.query('VoucherID').value('.','VARCHAR(50)') AS VoucherID
FROM @VoucherIDList.nodes('//Data') AS X (Data)

SELECT	A.VoucherID, A.DivisionID, 
		A.TranMonth, A.TranYear, 
		A.Orders,			A.VoucherTypeID,		A.VoucherNo,		A.VoucherDate,
		A.VDescription,		A.TDescription,			A.BDescription,
		A.CreditAccountID,	A.DebitAccountID, 
		A.ObjectID,			A1.ObjectName,
		A.CurrencyID,		A.ExchangeRate,
		A.SenderReceiver,	A.SRDivisionName,		A.SRAddress,
		A.RefNo01,			A.RefNo02, 
		--FullName,
		---ChiefAccountant,
		A.ConvertedAmount,	A.OriginalAmount,		
		A.Serial,			A.InvoiceNo,		A.InvoiceDate,
		A.Ana01ID, A01.AnaName AS Ana01Name, A.Ana02ID, A02.AnaName AS Ana02Name,
		A.Ana03ID, A03.AnaName AS Ana03Name, A.Ana04ID, A04.AnaName AS Ana04Name,
		A.Ana05ID, A05.AnaName AS Ana05Name, A.Ana06ID, A06.AnaName AS Ana06Name,
		A.Ana07ID, A07.AnaName AS Ana07Name, A.Ana08ID, A08.AnaName AS Ana08Name,
		A.Ana09ID, A09.AnaName AS Ana09Name, A.Ana10ID, A10.AnaName AS Ana10Name,
		A.IsWithhodingTax
FROM	AT9000 A WITH (NOLOCK)
LEFT JOIN AT1202 A1 WITH (NOLOCK) ON A1.DivisionID IN (@DivisionID, '@@@') AND A1.ObjectID = A.ObjectID
LEFT JOIN AT1011 A01 WITH (NOLOCK) ON A01.DivisionID = A.DivisionID AND A01.AnaID = A.Ana01ID AND A01.AnaTypeID ='A01'
LEFT JOIN AT1011 A02 WITH (NOLOCK) ON A02.DivisionID = A.DivisionID AND A02.AnaID = A.Ana02ID AND A02.AnaTypeID ='A02'
LEFT JOIN AT1011 A03 WITH (NOLOCK) ON A03.DivisionID = A.DivisionID AND A03.AnaID = A.Ana03ID AND A03.AnaTypeID ='A03'
LEFT JOIN AT1011 A04 WITH (NOLOCK) ON A04.DivisionID = A.DivisionID AND A04.AnaID = A.Ana04ID AND A04.AnaTypeID ='A04'
LEFT JOIN AT1011 A05 WITH (NOLOCK) ON A05.DivisionID = A.DivisionID AND A05.AnaID = A.Ana05ID AND A05.AnaTypeID ='A05'
LEFT JOIN AT1011 A06 WITH (NOLOCK) ON A06.DivisionID = A.DivisionID AND A06.AnaID = A.Ana06ID AND A06.AnaTypeID ='A06'
LEFT JOIN AT1011 A07 WITH (NOLOCK) ON A07.DivisionID = A.DivisionID AND A07.AnaID = A.Ana07ID AND A07.AnaTypeID ='A07'
LEFT JOIN AT1011 A08 WITH (NOLOCK) ON A08.DivisionID = A.DivisionID AND A08.AnaID = A.Ana08ID AND A08.AnaTypeID ='A08'
LEFT JOIN AT1011 A09 WITH (NOLOCK) ON A09.DivisionID = A.DivisionID AND A09.AnaID = A.Ana09ID AND A09.AnaTypeID ='A09'
LEFT JOIN AT1011 A10 WITH (NOLOCK) ON A10.DivisionID = A.DivisionID AND A10.AnaID = A.Ana10ID AND A10.AnaTypeID ='A10'
WHERE	A.TransactionTypeID in ('T01','T04','T14','T22') and
	A.DivisionID = @DivisionID and TranMonth = @TranMonth and TranYear = @TranYear
	and VoucherID IN (Select VoucherID From #VoucherIDList)
ORDER BY A.VoucherNo

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

