IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3206_AG]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP3206_AG]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Customize ANGEL: Load detail cho form ke thua nhieu don hang bán o phieu xuat kho
---- Create on 21/01/2016 by Bao Anh
---- Modified by Tiểu Mai on 03/06/2016: Bổ sung WITH(NOLOCK), bo thong tin quy cach
---- Modified by Bảo Thy on 18/05/2017: Sửa danh mục dùng chung
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- EXEC AP3206_AG 'HT', '', '', 1

CREATE PROCEDURE [dbo].[AP3206_AG] 
    @DivisionID NVARCHAR(50),
    @lstSOrderID NVARCHAR(MAX),
    -- Thêm mới   : ''
    -- Hiệu chỉnh : Số chứng từ đang sửa
    @VoucherID NVARCHAR(50), 
    @ConnID NVARCHAR(100)
AS

DECLARE 
    @sSQL1 NVARCHAR(MAX),
    @sSQL2 NVARCHAR(MAX),
	@sSQL3 NVARCHAR(MAX)

SET @DivisionID = ISNULL(@DivisionID, '')
SET @lstSOrderID = ISNULL(@lstSOrderID, '')
SET @VoucherID = ISNULL(@VoucherID, '')
SET @ConnID = ISNULL(@ConnID, '')

SET @lstSOrderID = REPLACE(@lstSOrderID, ',', ''',''')

SET @sSQL1 = '
-- Thông tin phiếu xuất kho
SELECT 
    T02.SOrderID as OrderID,
	OT2001.VoucherNo,
	OT2001.OrderDate,
	OT2001.ObjectID,
	(Select ObjectName From AT1202 Where DivisionID IN (''' + @DivisionID + ''',''@@@'') And ObjectID = OT2001.ObjectID) as ObjectName,
    NULL as MOrderID, -- Dùng cho MINH PHUONG
    T02.SOrderID, -- Dùng cho MINH PHUONG
    NULL as MTransactionID, -- Dùng cho MINH PHUONG
    NULL as STransactionID, -- Dùng cho MINH PHUONG
    T02.TransactionID,
    T02.InventoryID,
    AT1302.InventoryName, 
    T02.UnitID,
    T02.Parameter01,
    T02.Parameter02,
    T02.Parameter03,
    T02.Parameter04,
    T02.Parameter05,
    T02.ConvertedQuantity,
    T02.SalePrice, 
    0 AS IsEditInventoryName,
    T02.SOActualQuantity as ActualQuantity, 
    T02.SalePrice as UnitPrice, 
    T02.OriginalAmount, 
    T02.ConvertedAmount, 
    AT1302.IsSource, 
    AT1302.IsLocation, 
    AT1302.IsLimitDate, 
    AT1302.PrimeCostAccountID AS DebitAccountID, 
    AT1302.AccountID AS CreditAccountID, 
    AT1302.MethodID, 
    AT1302.IsStocked,
    T02.Ana01ID, 
    T02.Ana02ID, 
    T02.Ana03ID, 
    T02.Ana04ID, 
    T02.Ana05ID, 
    T02.Ana06ID, 
    T02.Ana07ID, 
    T02.Ana08ID, 
    T02.Ana09ID, 
    T02.Ana10ID, 
    T02.Orders,
    1 AS IsCheck, 
    T02.Notes, 
    AT1302.IsDiscount, 
    T02.DivisionID,
    T02.Notes AS Description,
    NULL AS RefInfor,
    T02.StandardPrice,
    T02.StandardAmount,
	NULL AS WareHouseID, -- Dùng cho SGPT
	0.0 as SOActualQuantity
FROM OT2002 T02 WITH(NOLOCK)
INNER JOIN OT2001 WITH(NOLOCK) ON T02.DivisionID = OT2001.DivisionID AND T02.SOrderID = OT2001.SOrderID
INNER JOIN AT1302 WITH(NOLOCK) ON AT1302.DivisionID IN (T02.DivisionID,''@@@'') AND T02.InventoryID = AT1302.InventoryID
INNER JOIN AT3206_AG AG WITH(NOLOCK) ON T02.DivisionID = AG.DivisionID And T02.SOrderID = AG.OrderID And T02.TransactionID = AG.OTransactionID
WHERE T02.DivisionID = ''' + @DivisionID + '''
    AND AG.VoucherID = ''' + @VoucherID + '''

UNION
'
SET @sSQL2 = '
-- Thông tin đơn hàng
SELECT 
    OT2002.SOrderID AS OrderID,
	OT2001.VoucherNo,
	OT2001.OrderDate,
	OT2001.ObjectID,
	(Select ObjectName From AT1202 Where DivisionID = ''' + @DivisionID + ''' And ObjectID = OT2001.ObjectID) as ObjectName,
    OT2002.SOrderID AS MOrderID, -- Dùng cho MINH PHUONG
    OT2002.RefSOrderID AS SOrderID, -- Dùng cho MINH PHUONG
    OT2002.TransactionID AS MTransactionID, -- Dùng cho MINH PHUONG
    OT2002.RefSTransactionID AS STransactionID, -- Dùng cho MINH PHUONG
    OT2002.TransactionID, OT2002.InventoryID, ISNULL(OT2002.InventoryCommonName, AT1302.InventoryName) AS InventoryName, OT2002.UnitID, OT2002.Parameter01,
	OT2002.Parameter02, OT2002.Parameter03, OT2002.Parameter04,OT2002.Parameter05, (OT2002.OrderQuantity - Isnull(OT2002.SOActualQuantity,0)) as ConvertedQuantity,OT2002.ConvertedSalePrice AS ConvertedPrice, 
    CASE WHEN ISNULL(OT2002.InventoryCommonName, '''') = '''' THEN 0 ELSE 1 END AS IsEditInventoryName,  (OT2002.OrderQuantity - Isnull(OT2002.SOActualQuantity,0)) AS ActualQuantity, 
	OT2002.SalePrice AS UnitPrice,
    ((OT2002.OrderQuantity - Isnull(OT2002.SOActualQuantity,0)) * ISNULL(OT2002.SalePrice, 0) * (100 - ISNULL(OT2002.DiscountPercent, 0)) / 100) AS OriginalAmount,     
    ((OT2002.OrderQuantity - Isnull(OT2002.SOActualQuantity,0)) * ISNULL(OT2002.SalePrice, 0) * (100 - ISNULL(OT2002.DiscountPercent, 0)) * ISNULL(OT2002.ExchangeRate, 0) / 100) AS	ConvertedAmount,
	AT1302.IsSource, AT1302.IsLocation, AT1302.IsLimitDate, AT1302.PrimeCostAccountID AS DebitAccountID, AT1302.AccountID AS CreditAccountID, 
	AT1302.MethodID, AT1302.IsStocked,OT2002.Ana01ID, OT2002.Ana02ID, OT2002.Ana03ID, OT2002.Ana04ID, OT2002.Ana05ID, OT2002.Ana06ID, OT2002.Ana07ID, 
	OT2002.Ana08ID, OT2002.Ana09ID, OT2002.Ana10ID, OT2002.Orders,0 AS IsCheck, OT2001.Notes, AT1302.IsDiscount, OT2002.DivisionID, OT2002.Description,
	OT2002.RefInfor, OT2002.StandardPrice, OT2002.StandardAmount,
	OT2002.WareHouseID, -- Dùng cho SGPT
	0.0 as SOActualQuantity
FROM OT2002 WITH(NOLOCK)'

SET @sSQL3 = '
INNER JOIN OT2001 WITH(NOLOCK) ON OT2001.DivisionID = OT2002.DivisionID AND OT2002.SOrderID = OT2001.SOrderID
INNER JOIN AT1302 WITH(NOLOCK) ON AT1302.DivisionID IN (OT2002.DivisionID,''@@@'') AND OT2002.InventoryID = AT1302.InventoryID
 
WHERE OT2002.DivisionID = ''' + @DivisionID + '''
    AND OT2002.SOrderID in (''' + @lstSOrderID + ''') 
    AND OT2002.OrderQuantity - Isnull(OT2002.SOActualQuantity,0) > 0
' 

--PRINT @sSQL1 
--PRINT @sSQL2
--PRINT @sSQL3
IF NOT EXISTS(SELECT TOP 1 1 FROM sysObjects WHERE XType = 'V' AND Name = 'AV3206' + @ConnID)
    EXEC('CREATE VIEW AV3206' + @ConnID + ' -- Tạo bởi AP3206_AG
            AS ' + @sSQL1 + @sSQL2+ @sSQL3)
ELSE 
    EXEC('ALTER VIEW AV3206' + @ConnID + ' -- Tạo bởi AP3206_AG
            AS ' + @sSQL1 + @sSQL2 + @sSQL3)

IF NOT EXISTS(SELECT TOP 1 1 FROM sysObjects WHERE XType = 'V' AND Name = 'AV3206')
    EXEC('CREATE VIEW AV3206 -- Tạo bởi AP3206_AG
            AS ' + @sSQL1 + @sSQL2 + @sSQL3)
ELSE 
    EXEC('ALTER VIEW AV3206 -- Tạo bởi AP3206_AG
            AS ' + @sSQL1 + @sSQL2 + @sSQL3)



GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON