IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3205_AG]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP3205_AG]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Customize Angel: Tra ra du lieu load edit Master ke thua nhieu phieu don hang ban o MH xuat kho (AF2117)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 21/01/2016 by Bao Anh
---- Modified by Tiểu Mai on 09/06/2016: Fix bug lỗi tên alias
---- Modified by Hải Long on 18/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>

CREATE PROCEDURE [dbo].[AP3205_AG]      
			@DivisionID nvarchar(50),
		    @FromMonth int,
		    @FromYear int,
		    @ToMonth int,
		    @ToYear int,  
		    @FromDate as datetime,
		    @ToDate as Datetime,
		    @IsDate as tinyint, ----0 theo kỳ, 1 theo ngày
		    @ObjectID nvarchar(50),
		    @VoucherID nvarchar(50)	--- add new: truyen ''			
				
 AS
DECLARE @sSQL as nvarchar(4000),
		@sTime as nvarchar(4000)
		
If @IsDate =0
	SET @sTime = ' AND (TranMonth+TranYear*100 between ' + cast(@FromMonth + @FromYear*100 as nvarchar(50)) + ' AND ' +  cast(@ToMonth + @ToYear*100 as nvarchar(50)) + ')'
Else
	SET @sTime = 'AND (OrderDate Between '''+Convert(nvarchar(10),@FromDate,21)+''' AND '''+convert(nvarchar(10), @ToDate,21)+''')'

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OTT2001]') AND type in (N'U')) 
	DROP TABLE OTT2001

CREATE TABLE OTT2001
(
	DivisionID nvarchar(50),
	SOrderID nvarchar(50),
	OrderDate datetime,
	ObjectID nvarchar(50),
	ObjectName nvarchar(250),
	Notes nvarchar(250),
	VoucherTypeID nvarchar(50),
	[Address] nvarchar(250),
	Transport nvarchar(250)
)

SET @sSQL = 'INSERT INTO OTT2001 (DivisionID, SOrderID, OrderDate, ObjectID, ObjectName, Notes, VoucherTypeID, [Address], Transport)
SELECT	T01.DivisionID, T01.SOrderID, T01.OrderDate, T01.ObjectID, AT1202.ObjectName, T01.Notes, 
			T01.VoucherTypeID, T01.Address, T01.Transport
FROM OT2001 T01
LEFT JOIN AT1202 On AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = T01.ObjectID
INNER JOIN AT3206_AG AG On T01.DivisionID = AG.DivisionID And T01.SOrderID = AG.OrderID
		
WHERE	T01.DivisionID = ''' + @DivisionID + '''
AND AG.VoucherID = ''' + @VoucherID + ''''

EXEC(@sSQL)

Set @sSQL =' 
SELECT distinct	T02.SOrderID as OrderID, T01.OrderDate, T01.ObjectID, AT1202.ObjectName, T01.Notes, 
		Ischeck = 0, T01.VoucherTypeID, T01.Address, T01.DivisionID, T01.Transport

FROM	OT2002 T02
INNER JOIN OT2001 T01 On T02.DivisionID = T01.DivisionID And T02.SOrderID = T01.SOrderID
LEFT JOIN AT1202 On AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = T01.ObjectID

WHERE	T01.DivisionID = ''' + @DivisionID + '''
 	AND T01.ObjectID like '''+@ObjectID+ ''' 
	AND T01.Disabled = 0  AND T01.OrderType = 0 AND OrderStatus Not In (0,3,4,5,9)
	AND T02.OrderQuantity - Isnull(T02.SOActualQuantity,0) > 0
	AND NOT EXISTS (Select TOP 1 1 From OTT2001 Where SOrderID = T01.SOrderID)
	' + @sTime
		
If isnull (@VoucherID,'') <> ''
Begin	
	Set @sSQL = @sSQL + '
		UNION ALL
		SELECT distinct	SOrderID, OrderDate, ObjectID, ObjectName, Notes, 
				Ischeck = 1, VoucherTypeID, Address, DivisionID, Transport
		FROM	OTT2001 '
End

--PRINT @sSQL
IF NOT EXISTS (SELECT 1 FROM SYSOBJECTS WHERE XTYPE ='V' AND NAME = 'AV3205')
	EXEC('CREATE VIEW AV3205  --tao boi AP3205_AG
		as '+@sSQL)
ELSE
	EXEC('ALTER VIEW AV3205  --- tao boi AP3205_AG
		as '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON