IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP3336_LT]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP3336_LT]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--- Created on 13/07/2018 by Bảo Anh
--- Customize Làng Tre: Lấy thông tin hóa đơn dịch vụ từ phần mềm ASA
--- Modified by Kim Thư on 17/09/2018: Điều chỉnh công thức tính tiền của Làng Tre
--- Modified by Kim Thư on 25/9/2018: Bổ sung lọc theo VoucherID xem phiếu đã kế thừa trường hợp edit hóa đơn
--- Modified by Kim Thư on 07/03/2019: Bổ sung tài khoản doanh thu
--- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.

CREATE PROCEDURE AP3336_LT @Date as datetime, @Room as varchar(20), @Filter as varchar(4000) = '', @VoucherID as varchar(100)=''

AS

Declare @sql varchar(max)
Declare @sql1 varchar(max)

Set @Room = Case When @Room = '' Then '%' Else @Room End
Set @Filter = Case When @Filter = '' Then '' Else ' And A01.Ma In(' +  @Filter +')'  End

Set @sql = '
SELECT (Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End) AS [RoomNo],
	A01.Ten AS [ObjectName], 
	A01.Ngay AS [Date],
	A01.MaHoaDonTay AS [BillNo],   
	A01.MaDichVu AS [InventoryID],
	T01.InventoryName AS [InventoryName], 
	A01.MoTaDichVu AS [Description],
	isnull(A01.HD_TienQuyDoi,0)  AS [BillAmount],
	A01.MaThanhToan AS [PaymentID],
	A01.CongTyDuLich AS [CompanyID], 
	A01.CongTy AS [CompanyName],
	A01.MaBoPhan AS [DepartmentID],
	--A01.NgayDen AS [Ngaøy check in],
	--A01.NgayTraPhong AS [Ngaøy check out],
	Case When A01.Phong Is Not Null Then A01.NgayDenThuc Else A01.NgayDen End AS [CheckInDate],
	Case When A01.Phong Is Not Null Then DateAdd(d,A01.SoNgayThuc,A01.NgayDenThuc) Else DateAdd(d,A01.SoNgay,A01.NgayDen) End AS [CheckOutDate],
	A01.Ma As [ID],
	T01.SalesAccountID
FROM    BambooPT_FO..vwALV4101 A01 
	LEFT OUTER JOIN AT1302 T01 ON T01.DivisionID IN (A01.DivisionID,''@@@'') AND A01.MaDichVu = T01.InventoryID
WHERE A01.Ma In (Select Ma From AT3333 Where VoucherID='''+@VoucherID+''') 

UNION ALL

SELECT * FROM (
	SELECT TOP 100 PERCENT (Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End) AS [RoomNo],
		A01.Ten AS [ObjectName], 
		A01.Ngay AS [Date],
		A01.MaHoaDonTay AS [BillNo],   
		A01.MaDichVu AS [InventoryID],
		T01.InventoryName AS [InventoryName], 
		A01.MoTaDichVu AS [Description],
		isnull(A01.HD_TienQuyDoi,0)  AS [BillAmount],
		A01.MaThanhToan AS [PaymentID],
		A01.CongTyDuLich AS [CompanyID], 
		A01.CongTy AS [CompanyName],
		A01.MaBoPhan AS [DepartmentID],
		--A01.NgayDen AS [Ngaøy check in],
		--A01.NgayTraPhong AS [Ngaøy check out],
		Case When A01.Phong Is Not Null Then A01.NgayDenThuc Else A01.NgayDen End AS [CheckInDate],
		Case When A01.Phong Is Not Null Then DateAdd(d,A01.SoNgayThuc,A01.NgayDenThuc) Else DateAdd(d,A01.SoNgay,A01.NgayDen) End AS [CheckOutDate],
		A01.Ma As [ID],
		T01.SalesAccountID
	FROM    BambooPT_FO..vwALV4101 A01 
		LEFT OUTER JOIN AT1302 T01 ON T01.DivisionID IN (A01.DivisionID,''@@@'') AND A01.MaDichVu = T01.InventoryID
	WHERE A01.Ma Not In (Select Ma From AT3333) 
		And (Case When A01.Phong Is Not Null Then DateAdd(d,A01.SoNgayThuc,A01.NgayDenThuc) Else ''01/01/1900'' End) = '''  + ltrim(@Date) + ''' 
		And (Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End) <> ''000'' 
		And (Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End)  Like ''' + @Room  +  '''' + @Filter  + ' 
	ORDER BY A01.Phong, A01.MaSoKhach2, A01.MaDichVu, A01.Ngay 
) A ' 

EXEC (@sql)

Set @sql1 = '
SELECT TOP 100 PERCENT
	(Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End) AS RoomNo,
	A01.Ten AS ObjectName, 
	A01.Ngay AS Date,
	A01.MaHoaDonTay AS BillNo,   
	A01.MaDichVu AS InventoryID,
	T01.InventoryName, 
	A01.MoTaDichVu AS Description,
	isnull(A01.HD_TienQuyDoi,0) AS [BillAmount],

	ROUND(isnull(A01.HD_TienQuyDoi,0)/1.155,2) AS [NetAmount],
	ROUND(isnull(A01.HD_TienQuyDoi,0)/1.155,2) AS [OriginalAmount],
	(SELECT ROUND(SUM((ROUND(isnull(A01.HD_TienQuyDoi,0)/1.155,2)*0.05)),2) FROM BambooPT_FO..vwALV4101 A01
	WHERE A01.Ma Not In (Select Ma From AT3333) 
		And (Case When A01.Phong Is Not Null Then DateAdd(d,A01.SoNgayThuc,A01.NgayDenThuc) Else ''01/01/1900'' End) = '''  + ltrim(@Date) + ''' 
		And (Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End) <> ''000''
		And (Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End)  Like ''' + @Room  +  '''' + @Filter  + ' ) AS [ServiceCharge],

	--Case When A01.MaDichVu In (SELECT A01.Ma FROM BambooPT_FO..DichVu A01) 
	--	Then 
	--		isnull(A01.HD_TienQuyDoi,0)  * 100 / (100 + A01.Thue) * 100 / (100 + A01.ThueDB) * 100 / (100 + A01.PhiPhucVu) 
	--	Else 
	--		isnull(A01.HD_TienQuyDoi,0)  * 100 / (100 + A01.Thue) * 100 / (100 + A01.ThueDB) 
	--	End AS [NetAmount],

	--Case When A01.MaDichVu In (SELECT A01.Ma FROM BambooPT_FO..DichVu A01) 
	--	Then 
	--		isnull(A01.HD_TienQuyDoi,0)  * 100 / (100 + A01.Thue) * 100 / (100 + A01.PhiPhucVu)
	--	Else 
	--		isnull(A01.HD_TienQuyDoi,0)  * 100 / (100 + A01.Thue) 
	--	End AS [OriginalAmount],

	--Case When A01.MaDichVu In (SELECT A01.Ma FROM BambooPT_FO..DichVu A01) 
	--	Then 
	--		isnull(A01.HD_TienQuyDoi,0)
	--		  * 100 / (100 + A01.Thue) * A01.PhiPhucVu / (100 + A01.PhiPhucVu) 
	--	Else 
	--		0
	--	End AS [ServiceCharge],

	A01.MaThanhToan AS PaymentID,
	A01.CongTyDuLich AS CompanyID, 
	A01.CongTy AS [CompanyName],
	A01.MaBoPhan AS DepartmentID,
	--A01.NgayDen,
	--A01.NgayTraPhong,
	Case When A01.Phong Is Not Null Then A01.NgayDenThuc Else A01.NgayDen End AS CheckInDate,
	Case When A01.Phong Is Not Null Then DateAdd(d,A01.SoNgayThuc,A01.NgayDenThuc) Else DateAdd(d,A01.SoNgay,A01.NgayDen) End AS CheckOutDate,
	A01.Ma AS ID,
	T01.SalesAccountID
FROM    BambooPT_FO..vwALV4101 A01 
	LEFT OUTER JOIN AT1302 T01 ON T01.DivisionID IN (A01.DivisionID,''@@@'') AND A01.MaDichVu = T01.InventoryID
WHERE A01.Ma Not In (Select Ma From AT3333) 
	And (Case When A01.Phong Is Not Null Then DateAdd(d,A01.SoNgayThuc,A01.NgayDenThuc) Else ''01/01/1900'' End) = '''  + ltrim(@Date) + ''' 
	And (Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End) <> ''000''
	And (Case When A01.Phong Is Null Then cast(A01.MaDangKy2 as varchar(100)) Else A01.Phong End)  Like ''' + @Room  +  '''' + @Filter  + ' 
ORDER BY A01.Phong, A01.MaSoKhach2, A01.MaDichVu, A01.Ngay '

If exists (Select Top 1 1 From sysobjects Where Id = Object_ID('AV3336') And xType = 'V')
Begin
	Drop View AV3336
End
EXEC('Create View AV3336 --Create by AP3336_LT
		As  ' + @sql1)	
		
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
