IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'AP4018') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE AP4018
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
---- Xóa phiếu Hóa đơn hàng bán trả lại theo bộ/Bỏ nhập kho theo bộ (CustomzieIndex = 51 :Hoàng trần)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
----Created by: Phan thanh hoàng vũ, Date: 18/02/2016
-- <Example>
----    EXEC AP4018 'AS',0, '2015-01-01', '2016-12-31', '', 'KH002'
----

Create PROCEDURE AP4018
				 	@VoucherID nvarchar(50), 
					@BatchID nvarchar(50), 
					@DivisionID nvarchar(50), 
					@TranMonth as int, 
					@TranYear as int,
					@IsStatus int 	--1: Xóa danh sách Hàng bán trả lại theo bộ
									--2: Bỏ nhập kho theo bộ
AS
Declare @CustomerName INT		
		SET @CustomerName = (SELECT TOP 1 CustomerName FROM CustomerIndex)
IF @CustomerName = 51 --- Customize Hoang trần
Begin
	If @IsStatus = 1
	BEGIN
			--Xoa thong tin quy cach
			DELETE WT8899 FROM WT8899 LEFT JOIN AT2007 ON AT2007.DivisionID = WT8899.DivisionID AND AT2007.VoucherID = WT8899.VoucherID AND AT2007.TransactionID = WT8899.TransactionID AND WT8899.TableID = 'AT2007'
			WHERE AT2007.DivisionID = @DivisionID AND AT2007.VoucherID = @VoucherID

			--Xóa AT2027 --Phiếu nhập kho theo bộ
			Delete AT2027 Where VoucherID = @VoucherID AND DivisionID = @DivisionID
			
			--Xóa AT2026 --Phiếu nhập kho theo bộ
			DELETE FROM AT2026 WHERE DivisionID = @DivisionID AND VoucherID = @VoucherID

			--Xóa AT2007 --Phiếu nhập nguyên liệu thành phần
			Delete AT2007 From AT2007 inner join AT2006 on AT2007.VoucherID = AT2006.VoucherID and AT2007.DivisionID = AT2006.DivisionID
			Where 	AT2007.VoucherID =@VoucherID AND AT2007.DivisionID = @DivisionID

			--Xóa AT2006 --Phiếu nhập nguyên liệu thành phần
			Delete AT2006 Where 	AT2006.VoucherID =@VoucherID AND DivisionID = @DivisionID
			
			--Xóa AT9000 --Phiếu hóa dơn hàng bán trả lại theo bộ
			Delete AT9000 Where VoucherID = @VoucherID and TableID in('AT1326','MT1603') And DivisionID = @DivisionID

			--Xóa AT9000 --Phiếu nhập nguyên liệu thành phần
			Delete AT9000 Where VoucherID = @VoucherID and TableID in('AT9000','AT2006') And DivisionID = @DivisionID

	end
	ELSE IF @IsStatus = 2
		BEGIN
			--Xoa thong tin quy cach
			DELETE WT8899 FROM WT8899 LEFT JOIN AT2007 ON AT2007.DivisionID = WT8899.DivisionID AND AT2007.VoucherID = WT8899.VoucherID AND AT2007.TransactionID = WT8899.TransactionID AND WT8899.TableID = 'AT2007'
			WHERE AT2007.DivisionID = @DivisionID AND AT2007.VoucherID = @VoucherID

			--Xóa AT2027 --Phiếu nhập kho theo bộ
			Delete AT2027 Where VoucherID = @VoucherID AND DivisionID = @DivisionID
			
			--Xóa AT2026 --Phiếu nhập kho theo bộ
			DELETE FROM AT2026 WHERE DivisionID = @DivisionID AND VoucherID = @VoucherID

			--Xóa AT2007 --Phiếu nhập nguyên liệu thành phần
			Delete AT2007 From AT2007 inner join AT2006 on AT2007.VoucherID = AT2006.VoucherID and AT2007.DivisionID = AT2006.DivisionID
			Where 	AT2007.VoucherID =@VoucherID AND AT2007.DivisionID = @DivisionID

			--Xóa AT2006 --Phiếu nhập nguyên liệu thành phần
			Delete AT2006 Where 	AT2006.VoucherID =@VoucherID AND DivisionID = @DivisionID
			
			--Xóa AT9000 --Phiếu nhập nguyên liệu thành phần
			Delete AT9000 Where VoucherID = @VoucherID and TableID in('AT9000','AT2006') And DivisionID = @DivisionID
			
			--Sửa AT9000 --Phiếu hóa dơn hàng bán trả lại theo bộ (IsStock)
			Update AT9000 set IsStock =0 Where VoucherID = @VoucherID and TableID in('AT1326','MT1603') And DivisionID = @DivisionID
		End
		
End		
GO
