IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'AP4019') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE AP4019
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
---- Load Grid Form AF0325 Danh sách hàng bán trả lại theo bộ (CustomzieIndex = 51 :Hoàng trần)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
----Created by: Phan thanh hoàng vũ, Date: 02/02/2016
---- Modified by Phương Thảo on 10/05/2016 : Sửa danh mục dùng chung
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
----    EXEC AP4019 'AS',0, '2014-01-01', '2016-12-31', '', '%'
----
CREATE PROCEDURE AP4019 ( 
        @DivisionID VARCHAR(50),  
		@IsDate int, --0: Theo ngày; 1: Theo kỳ
		@FromDate Datetime,
        @ToDate Datetime, 
		@UserID  VARCHAR(50),		
		@ObjectID varchar(50)
) 
AS 
DECLARE @sSQL NVARCHAR (MAX),
		@sWhere NVARCHAR(MAX)
SET @sWhere = ''
IF @DivisionID IS not NULL
	SET @sWhere = @sWhere + ' AND AT9000.DivisionID = '''+ @DivisionID+''''
IF @IsDate = 0 
	SET @sWhere = @sWhere + ' AND (CONVERT(VARCHAR(20),AT9000.VoucherDate,121) BETWEEN'''+ CONVERT(VARCHAR(20),@FromDate,121)+''' AND''' + CONVERT(VARCHAR(20),@ToDate,121) +''')'
IF @ObjectID != NULL or @ObjectID != '%'
	SET @sWhere = @sWhere + ' AND AT9000.ObjectID = '''+ @ObjectID+''''	

SET @sSQL = '
	Select AT9000.DivisionID,AT9000.VoucherID, 
			AT9000.TranMonth,AT9000.TranYear,
			AT9000.BatchID,AT9000.VoucherTypeID,
			AT9000.VoucherNo,AT9000.VoucherDate,
			AT9000.Serial,AT9000.InvoiceNo,
			AT9000.InvoiceDate,AT9000.CurrencyID,
			AT9000.ExchangeRate,AT9000.VDescription,
			AT9000.ObjectID,AT1202.ObjectName,
			AT9000.VATTypeID,WareHouseID = (Select WareHouseID From AT2006 WHere VoucherID =AT9000.VoucherID And DivisionID =  AT9000.DivisionID),
			AT9000.Status,AT9000.IsStock,
			Sum(isnull(AT9000.ImTaxOriginalAmount,0)) as ImTaxOriginalAmount,
			Sum(Isnull(AT9000.ImTaxConvertedAmount,0)) as ImTaxConvertedAmount,
			Sum ( Case when AT9000.TransactionTypeID in (''T24'') then AT9000.OriginalAmount else Case When AT9000.TransactionTypeID in (''T74'') then -AT9000.OriginalAmount else 0 end end) as OriginalAmount,
			Sum ( Case when AT9000.TransactionTypeID in (''T24'') then AT9000.ConvertedAmount else Case When AT9000.TransactionTypeID in (''T74'') then -AT9000.ConvertedAmount else 0 end end) as ConvertedAmount,
			max(AT9000.Ana01ID) as Ana01ID, Max(AT9000.Ana02ID) as Ana02ID, Max(AT9000.Ana03ID) as Ana03ID, Max(AT9000.Ana04ID) as Ana04ID, Max(AT9000.Ana05ID)as Ana05ID, AT9000.CreateUserID		
			From AT9000 Left join AT1202 on AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AT9000.ObjectID
			Where AT9000.TransactionTypeID in (''T24'') and AT9000.TableID in (''AT1326'', ''MT1603'')
			'+ @sWhere + '
			Group by 
			AT9000.DivisionID,AT9000.VoucherID, 
			AT9000.TranMonth,AT9000.TranYear,
			AT9000.BatchID,AT9000.VoucherNo,AT9000.VoucherTypeID,
			AT9000.VoucherDate,AT9000.Serial,
			AT9000.InvoiceNo,AT9000.InvoiceDate,
			AT9000.CurrencyID,AT9000.ExchangeRate,
			AT9000.VDescription,AT9000.ObjectID,
			AT1202.ObjectName,AT9000.VATTypeID,
			AT9000.Status,AT9000.IsStock, AT9000.CreateUserID '
EXEC (@sSQL)
Print (@sSQL)

