IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7015]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP7015]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



-- <Summary>
---- So du  so chi tiet vat tu
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 17/02/2004 by Nguyen Van Nhan
---- 
---- Edit BY Nguyen Quoc Huy, Date 12/07/2006
---- Modified on 25/10/2010 by Hoang Phuoc : Them N''
---- Modified on 11/01/2012 by Le Thi Thu Hien : Sua dieu kien theo ngay
---- Modified on 09/11/2015 by Tieu Mai: Bổ sung trường hợp có thiết lập quản lý theo quy cách hàng.
---- Modified on 18/03/2016 by Kim Vu: Bo sung loc theo kho
---- Modified by Tiểu Mai on 03/06/2016: Bổ sung WITH (NOLOCK)
---- Modified by Kim Vũ on 14/10/2016: Chuyển kiểu dữ liệu biến @WareHouseID sang xml để tránh tràn dữ liệu
---- Modify on 25/04/2017 by Bảo Anh: Sửa danh mục dùng chung (bỏ kết theo DivisionID)
---- Modified on 16/11/2018 by Kim Thư: Bổ sung UserID
---- Modified on 12/12/2018 by Kim Thư: Bỏ tạo bảng TBL_WareHouseIDAP7015 => đưa ra fix riêng
---- Modified on 17/12/2018 by Kim Thư: Trả thẳng ra kết quả, không tạo view AV7015. Xóa fix TBL_WareHouseIDAP7015, bỏ truyền @UserID
---- Modified on 01/02/2019 by Kim Thư: Tạo bảng tạm thay cho view AV7011 và AV7002 - Cải thiện tốc độ
---- Modified on 26/04/2019 by Kim Thư: Bổ sung lọc điều kiện ở bảng tạm #AV7011
---- Modified on 11/03/2020 by Huỳnh Thử: Cải thiện tốc độc
---- Modified on 23/03/2020 by Huỳnh Thử: Update câu điều kiện
---- Modified on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1304.
---- Modified on 18/02/2021 by Đức Thông: [KHV] 2021/02/IS/0069: Query union 2 bảng số dư đầu hàng tồn kho và phiếu nhập xuất bị treo (không rõ nguyên nhân nên tách union ra 2 bảng tạm)
---- Modified on 18/02/2021 by Đức Thông: [KRU] 2021/03/IS/0225: Tồn đầu theo ngày lấy dữ liệu trước từ ngày
---- Modified on 30/03/2021 by Nhựt Trường: Điều chỉnh dùng Union all thay cho Union khi tạo bảng tạm #AV7011.
---- Modified on 22/04/2021 by Huỳnh Thử: Bổ sung điều kiện IsTemp = 1 không lấy lên báo cáo.
---- Modified on 29/04/2022 by Nhật Thanh: Customize angel
---- Modified by Đức Duy on 13/02/2023: [2023/02/IS/0052] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục kho hàng - AT1303.
---- Modified by Nhựt Trường on 06/09/2023: 2023/09/IS/0007, điều chỉnh cách lấy số dư đầu khi in theo ngày (WHERE theo điều kiện ngày cuối cùng của tháng nếu là tháng đầu tiên).

-- <Example>
----

CREATE PROCEDURE [dbo].[AP7015] 
    @DivisionID NVARCHAR(50), 
    @WareHouseID xml, 
    @FromInventoryID NVARCHAR(50), 
    @ToInventoryID NVARCHAR(50), 
    @FromMonth INT, 
    @FromYear INT, 
    @ToMonth INT, 
    @ToYear INT, 
    @FromDate DATETIME, 
    @ToDate DATETIME, 
    @IsDate TINYINT,
	@IsAll AS tinyint
AS

DECLARE 
    @sSQL NVARCHAR(4000), 
    @WareHouseID2 NVARCHAR(50), 
    @WareHouseName NVARCHAR(250),
	@WareHouseIDNotAll NVARCHAR(50),
	@CustomerName int,
	@IsFirstPeriod TINYINT = 0,
	@FromDateText NVARCHAR(25) = CONVERT(NVARCHAR(25),@FromDate,101)

-- Kiểm tra tháng đầu tiên
IF( Month(@FromDate) + YEAR(@FromDate) * 100 = (SELECT TOP 1 TranMonth + TranYear * 100 FROM WT9999 ORDER BY TranYear, TranMonth ASC))
	SET @IsFirstPeriod = 1

IF @IsFirstPeriod = 1
	SET @FromDateText = (SELECT CONVERT(NVARCHAR(25),DATEADD(dd,-(DAY(DATEADD(mm,1,@FromDate))),DATEADD(mm,1,@FromDate)),101))

	
---- Xu li du lieu xml
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[TBL_WareHouseIDAP7015]') AND TYPE IN (N'U'))
--BEGIN
--	CREATE TABLE TBL_WareHouseIDAP7015 (WareHouseID VARCHAR(50), UserID VARCHAR(50))
--END

---- Bổ sung cột UserID
--IF EXISTS (SELECT TOP 1 1 FROM sysobjects WHERE NAME='TBL_WareHouseIDAP7015' AND xtype='U')
--BEGIN
--	IF NOT EXISTS (SELECT TOP 1 1 FROM syscolumns col INNER JOIN sysobjects tab 
--	ON col.id=tab.id WHERE tab.name='TBL_WareHouseIDAP7015' AND col.name='UserID')
--	ALTER TABLE TBL_WareHouseIDAP7015 ADD UserID VARCHAR(50) NULL
--END


-- Xoa du lieu hien tai
--DELETE #TBL_WareHouseIDAP7015

--INSERT INTO #TBL_WareHouseIDAP7015
Select @CustomerName = CustomerName from CustomerIndex
SELECT X.Data.query('WareHouseID').value('.', 'NVARCHAR(50)') AS WareHouseID
INTO #TBL_WareHouseIDAP7015
FROM @WareHouseID.nodes('//Data') AS X (Data)



IF @IsAll = 1
    BEGIN
        SET @WareHouseID2 = '''%'''
        SET @WareHouseName = '''WFML000110'''        
    END    
ELSE
    BEGIN
    	SET @WareHouseID2 = 'AT2008.WareHouseID'
        SET @WareHouseName = 'AT1303.WareHouseName'
		SET @WareHouseIDNotAll = (Select top 1 WareHouseID from #TBL_WareHouseIDAP7015)
    END

IF @CustomerName = 57
BEGIN
	IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
	BEGIN
		IF @IsDate = 0 --- Theo ky
		BEGIN 
			SET @Ssql = N'
				SELECT	AT2008.DivisionID,' + @WareHouseID2 + ' AS WareHouseID, 
						' + @WareHouseName + ' AS WareHouseName, 
						AT2008.InventoryID, 
						AT1302.InventoryName, 
						AT1302.UnitID, 
						AT1304.UnitName, 
						SUM(BeginQuantity) AS BeginQuantity, 
						SUM(EndQuantity) AS EndQuantity, 
						SUM(BeginAmount) AS BeginAmount, 
						SUM(EndAmount) AS EndAmount,
						AT2008.S01ID, AT2008.S02ID, AT2008.S03ID, AT2008.S04ID, AT2008.S05ID, AT2008.S06ID, AT2008.S07ID, AT2008.S08ID, AT2008.S09ID, AT2008.S10ID,
						AT2008.S11ID, AT2008.S12ID, AT2008.S13ID, AT2008.S14ID, AT2008.S15ID, AT2008.S16ID, AT2008.S17ID, AT2008.S18ID, AT2008.S19ID, AT2008.S20ID
				FROM	AT2008_QC AT2008 WITH (NOLOCK) 
				INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.InventoryID = AT2008.InventoryID and  AT1302.DivisionID = AT2008.DivisionID
				INNER JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT1302.UnitID and  AT1304.DivisionID = AT2008.DivisionID
				INNER JOIN AT1303 WITH (NOLOCK) ON AT1303.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1303.WareHouseID = AT2008.WareHouseID
				WHERE AT2008.DivisionID = N''' + @DivisionID + ''' 
						AND AT2008.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' '+ 
						(CASE WHEN @IsAll = 1 THEN ' AND AT1303.IsTemp = 0 ' ELSE '' END) + '
						AND AT2008.WareHouseID IN (Select WareHouseID from TBL_WareHouseIDAP7015) 
						AND TranMonth + TranYear * 100 = ' + STR(@FromMonth) + ' + 100 * ' + STR(@FromYear) + ' 
				GROUP BY AT2008.DivisionID,AT2008.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName,
						AT2008.S01ID, AT2008.S02ID, AT2008.S03ID, AT2008.S04ID, AT2008.S05ID, AT2008.S06ID, AT2008.S07ID, AT2008.S08ID, AT2008.S09ID, AT2008.S10ID,
						AT2008.S11ID, AT2008.S12ID, AT2008.S13ID, AT2008.S14ID, AT2008.S15ID, AT2008.S16ID, AT2008.S17ID, AT2008.S18ID, AT2008.S19ID, AT2008.S20ID
			'

			IF @IsAll = 0
				SET @sSQL = @sSQL + N', AT2008.WareHouseID, AT1303.WareHouseName '
		END 
		ELSE
		BEGIN
			IF @IsAll = 0
				SET @sSQL = N'    
					SELECT	DivisionID, WareHouseID, 
							WareHouseName, 
							InventoryID, 
							InventoryName, 
							UnitID, UnitName, 
							SUM(SignQuantity) AS BeginQuantity, 
							SUM(SignAmount) AS BeginAmount, 
							0 AS EndQuantity, 
							0 AS EndAmount,
							AV7002.S01ID, AV7002.S02ID, AV7002.S03ID, AV7002.S04ID, AV7002.S05ID, AV7002.S06ID, AV7002.S07ID, AV7002.S08ID, AV7002.S09ID, AV7002.S10ID,
							AV7002.S11ID, AV7002.S12ID, AV7002.S13ID, AV7002.S14ID, AV7002.S15ID, AV7002.S16ID, AV7002.S17ID, AV7002.S18ID, AV7002.S19ID, AV7002.S20ID
						
					FROM	AV7002
					WHERE	DivisionID LIKE N''' + @DivisionID + ''' 
							AND ((D_C in (''D'', ''C'') AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + Convert(NVARCHAR(10), @FromDate, 101) + ''') 
									OR D_C = ''BD'') 
							AND WareHouseID LIKE N''' + @WareHouseIDNotAll + ''' 
							AND InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' 
					GROUP BY DivisionID, InventoryID, InventoryName, UnitID, UnitName, WareHouseID, WareHouseName,
							AV7002.S01ID, AV7002.S02ID, AV7002.S03ID, AV7002.S04ID, AV7002.S05ID, AV7002.S06ID, AV7002.S07ID, AV7002.S08ID, AV7002.S09ID, AV7002.S10ID,
							AV7002.S11ID, AV7002.S12ID, AV7002.S13ID, AV7002.S14ID, AV7002.S15ID, AV7002.S16ID, AV7002.S17ID, AV7002.S18ID, AV7002.S19ID, AV7002.S20ID
					---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
				'
			ELSE
				SET @sSQL = N'
					SELECT	DivisionID, 
							' + @WareHouseID2 + ' AS WareHouseID, 
							' + @WareHouseName + ' AS WareHouseName, 
							InventoryID, 
							InventoryName, 
							UnitID, UnitName, 
							SUM(SignQuantity) AS BeginQuantity, 
							SUM(SignAmount) AS BeginAmount, 
							0 AS EndQuantity, 
							0 AS EndAmount,
							AV7002.S01ID, AV7002.S02ID, AV7002.S03ID, AV7002.S04ID, AV7002.S05ID, AV7002.S06ID, AV7002.S07ID, AV7002.S08ID, AV7002.S09ID, AV7002.S10ID,
							AV7002.S11ID, AV7002.S12ID, AV7002.S13ID, AV7002.S14ID, AV7002.S15ID, AV7002.S16ID, AV7002.S17ID, AV7002.S18ID, AV7002.S19ID, AV7002.S20ID
					FROM	AV7002
					WHERE	DivisionID LIKE N''' + @DivisionID + ''' 
							AND ((D_C in (''D'', ''C'') 
									AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''') 
									OR D_C = ''BD'') 
							AND WareHouseID in (Select WareHouseID from TBL_WareHouseIDAP7015) 
							AND InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' 
					GROUP BY DivisionID, InventoryID, InventoryName, UnitID, UnitName,
							AV7002.S01ID, AV7002.S02ID, AV7002.S03ID, AV7002.S04ID, AV7002.S05ID, AV7002.S06ID, AV7002.S07ID, AV7002.S08ID, AV7002.S09ID, AV7002.S10ID,
							AV7002.S11ID, AV7002.S12ID, AV7002.S13ID, AV7002.S14ID, AV7002.S15ID, AV7002.S16ID, AV7002.S17ID, AV7002.S18ID, AV7002.S19ID, AV7002.S20ID 
					---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
				'
		END
	END
	ELSE
		BEGIN
	
			IF @IsDate = 0 --- Theo ky
			BEGIN 
				SET @Ssql = N'
					SELECT	AT2008.DivisionID,' + @WareHouseID2 + ' AS WareHouseID, 
							' + @WareHouseName + ' AS WareHouseName, 
							AT2008.InventoryID, 
							AT1302.InventoryName, 
							AT1302.UnitID, 
							AT1304.UnitName, 
							SUM(BeginQuantity) AS BeginQuantity, 
							SUM(EndQuantity) AS EndQuantity, 
							SUM(BeginAmount) AS BeginAmount, 
							SUM(EndAmount) AS EndAmount
					FROM	AT2008 WITH (NOLOCK) 
					INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.InventoryID = AT2008.InventoryID and  AT1302.DivisionID = AT2008.DivisionID
					INNER JOIN AT1304 WITH (NOLOCK) ON AT1304.UnitID = AT1302.UnitID and  AT1304.DivisionID = AT2008.DivisionID
					INNER JOIN AT1303 WITH (NOLOCK) ON AT1303.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1303.WareHouseID = AT2008.WareHouseID
					WHERE AT2008.DivisionID = N''' + @DivisionID + ''' 
							AND AT2008.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' '+
							(CASE WHEN @IsAll = 1 THEN ' AND AT1303.IsTemp = 0 ' ELSE '' END) +
							'AND AT2008.WareHouseID in (Select WareHouseID from TBL_WareHouseIDAP7015) 
							AND TranMonth + TranYear * 100 = ' + STR(@FromMonth) + ' + 100 * ' + STR(@FromYear) + ' 
					GROUP BY AT2008.DivisionID,AT2008.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName
				'

				IF @IsAll = 0
					SET @sSQL = @sSQL + N', AT2008.WareHouseID, AT1303.WareHouseName '
			END 
			ELSE
			BEGIN
				IF @IsAll = 0
				SET @sSQL = N'    
					SELECT	DivisionID, WareHouseID, 
							WareHouseName, 
							InventoryID, 
							InventoryName, 
							UnitID, UnitName, 
							SUM(SignQuantity) AS BeginQuantity, 
							SUM(SignAmount) AS BeginAmount, 
							0 AS EndQuantity, 
							0 AS EndAmount
					FROM	AV7011
					WHERE	DivisionID LIKE N''' + @DivisionID + ''' 
							AND ((D_C in (''D'', ''C'') AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + Convert(NVARCHAR(10), @FromDate, 101) + ''') 
									OR D_C = ''BD'') 
							AND WareHouseID like N''' + @WareHouseIDNotAll + '''
							AND InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' 
					GROUP BY DivisionID, InventoryID, InventoryName, UnitID, UnitName, WareHouseID, WareHouseName
					---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
				'
			ELSE
				SET @sSQL = N'
					SELECT	DivisionID, 
							' + @WareHouseID2 + ' AS WareHouseID, 
							' + @WareHouseName + ' AS WareHouseName, 
							InventoryID, 
							InventoryName, 
							UnitID, UnitName, 
							SUM(SignQuantity) AS BeginQuantity, 
							SUM(SignAmount) AS BeginAmount, 
							0 AS EndQuantity, 
							0 AS EndAmount
					FROM	AV7011
					WHERE	DivisionID LIKE N''' + @DivisionID + ''' 
							AND ((D_C in (''D'', ''C'') 
									AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''') 
									OR D_C = ''BD'') 
							AND WareHouseID IN (Select WareHouseID from TBL_WareHouseIDAP7015) 
							AND InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' 
					GROUP BY DivisionID, InventoryID, InventoryName, UnitID, UnitName 
					---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
				'
			END
 
		END     
    
	--PRINT @sSQL    
	IF NOT EXISTS (SELECT 1 FROM SysObjects WHERE Xtype = 'V' AND Name = 'AV7015')
		EXEC('CREATE VIEW AV7015 	--CREATED BY AP7015
		AS ' + @sSQL)
	ELSE
		EXEC('ALTER VIEW AV7015 	--CREATED BY AP7015
		AS ' + @sSQL)
	---- Lay so phat sinh


END
ELSE
BEGIN
	-- Bảng tạm thay cho view AV7011 và AV7002 -  Lấy số dư hàng tồn kho


	--- So du No cua tai khoan ton kho
	Select  D17.DivisionID, D17.TranMonth, D17.TranYear,
		D16.WareHouseID, D17.InventoryID,
		D17.Parameter01, D17.Parameter02, D17.Parameter03, D17.Parameter04, D17.Parameter05,
		D17.DebitAccountID, D17.CreditAccountID,
		'BD' as D_C,  --- So du No
		D16.VoucherID, D16.VoucherDate, D16.VoucherNo, 
		D16.ObjectID,
		D02.InventoryName, D02.UnitID, D04.UnitName, D02.InventoryTypeID,
		 D03.WareHouseName,	
		ActualQuantity, 
		ConvertedAmount,
		ActualQuantity as SignQuantity, 
		ConvertedAmount as SignAmount,
		D16.OrderID,
		WT8899.S01ID, WT8899.S02ID, WT8899.S03ID, WT8899.S04ID, WT8899.S05ID, WT8899.S06ID, WT8899.S07ID, WT8899.S08ID, WT8899.S09ID, WT8899.S10ID,
		WT8899.S11ID, WT8899.S12ID, WT8899.S13ID, WT8899.S14ID, WT8899.S15ID, WT8899.S16ID, WT8899.S17ID, WT8899.S18ID, WT8899.S19ID, WT8899.S20ID
	INTO #SODUDAU
	From AT2017 as D17 WITH (NOLOCK) inner join AT2016 as D16 WITH (NOLOCK) On D16.VoucherID = D17.VoucherID
			inner join AT1302 as D02 WITH (NOLOCK) on D02.DivisionID IN (@DivisionID,'@@@') AND D02.InventoryID = D17.InventoryID
			inner join AT1304 as D04 WITH (NOLOCK) on D02.DivisionID IN (@DivisionID,'@@@') AND D04.UnitID = D02.UnitID
			inner join AT1303 as D03 WITH (NOLOCK) on D03.DivisionID IN (@DivisionID,'@@@') AND D03.WareHouseID = D16.WareHouseID
			LEFT JOIN WT8899 WITH (NOLOCK) ON WT8899.DivisionID = D17.DivisionID AND WT8899.VoucherID = D17.VoucherID AND WT8899.TransactionID = D17.TransactionID
	Where D16.DivisionID = @DivisionID AND D17.InventoryID BETWEEN @FromInventoryID AND @ToInventoryID AND ISNULL(DebitAccountID,'') <>'' AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < @FromDateText
	 AND  CASE WHEN @IsAll = 1 THEN  D03.IsTemp  ELSE '' END  =  CASE WHEN @IsAll = 1 THEN   0  ELSE '' END
	Union All --- So du co hang ton kho

	Select  D17.DivisionID, D17.TranMonth, D17.TranYear,
		D16.WareHouseID, D17.InventoryID,
		D17.Parameter01, D17.Parameter02, D17.Parameter03, D17.Parameter04, D17.Parameter05,
		D17.DebitAccountID, D17.CreditAccountID,
		'BC' as D_C,  --- So du Co
		D16.VoucherID, D16.VoucherDate, D16.VoucherNo, 
		D16.ObjectID,
		D02.InventoryName, D02.UnitID, D04.UnitName, D02.InventoryTypeID,
		D03.WareHouseName,	
		ActualQuantity, 
		ConvertedAmount,
		-ActualQuantity as SignQuantity, 
		-ConvertedAmount as SignAmount,	
		D16.OrderID,
		WT8899.S01ID, WT8899.S02ID, WT8899.S03ID, WT8899.S04ID, WT8899.S05ID, WT8899.S06ID, WT8899.S07ID, WT8899.S08ID, WT8899.S09ID, WT8899.S10ID,
		WT8899.S11ID, WT8899.S12ID, WT8899.S13ID, WT8899.S14ID, WT8899.S15ID, WT8899.S16ID, WT8899.S17ID, WT8899.S18ID, WT8899.S19ID, WT8899.S20ID
	From AT2017 as D17 WITH (NOLOCK) inner join AT2016 as D16 WITH (NOLOCK) On D16.VoucherID = D17.VoucherID
			inner join AT1302 as D02 WITH (NOLOCK) on D02.DivisionID IN (@DivisionID,'@@@') AND D02.InventoryID = D17.InventoryID
			inner join AT1304 as D04 WITH (NOLOCK) on D02.DivisionID IN (@DivisionID,'@@@') AND D04.UnitID = D02.UnitID
			inner join AT1303 as D03 WITH (NOLOCK) on D03.DivisionID IN (@DivisionID,'@@@') AND D03.WareHouseID = D16.WareHouseID
			LEFT JOIN WT8899 WITH (NOLOCK) ON WT8899.DivisionID = D17.DivisionID AND WT8899.VoucherID = D17.VoucherID AND WT8899.TransactionID = D17.TransactionID
	Where D16.DivisionID = @DivisionID AND D17.InventoryID BETWEEN @FromInventoryID AND @ToInventoryID and isnull(CreditAccountID,'') <>'' AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < CONVERT(NVARCHAR(10), @FromDate, 101)
	AND  CASE WHEN @IsAll = 1 THEN  D03.IsTemp  ELSE '' END  =  CASE WHEN @IsAll = 1 THEN   0  ELSE '' END

	Select  D07.DivisionID, D07.TranMonth, D07.TranYear,
		D06.WareHouseID, 
		D07.InventoryID, D07.Parameter01, D07.Parameter02, D07.Parameter03, D07.Parameter04, D07.Parameter05,
		D07.DebitAccountID, D07.CreditAccountID,
		'D' as D_C,  --- Phat sinh No
		D06.VoucherID, D06.VoucherDate, D06.VoucherNo, 
		D06.ObjectID,
		D02.InventoryName, D02.UnitID, D04.UnitName, D02.InventoryTypeID,
		D03.WareHouseName,	
		ActualQuantity, 
		ConvertedAmount,
		ActualQuantity as SignQuantity, 
		ConvertedAmount as SignAmount,	
		D06.OrderID,
		WT8899.S01ID, WT8899.S02ID, WT8899.S03ID, WT8899.S04ID, WT8899.S05ID, WT8899.S06ID, WT8899.S07ID, WT8899.S08ID, WT8899.S09ID, WT8899.S10ID,
		WT8899.S11ID, WT8899.S12ID, WT8899.S13ID, WT8899.S14ID, WT8899.S15ID, WT8899.S16ID, WT8899.S17ID, WT8899.S18ID, WT8899.S19ID, WT8899.S20ID
	INTO #TONKHO
	From AT2007 as D07 WITH (NOLOCK) inner join AT2006 D06 WITH (NOLOCK) On D06.VoucherID = D07.VoucherID
			inner join AT1302 as D02 WITH (NOLOCK) on D02.DivisionID IN (@DivisionID,'@@@') AND D02.InventoryID = D07.InventoryID
			inner join AT1304 as D04 WITH (NOLOCK) on D02.DivisionID IN (@DivisionID,'@@@') AND D04.UnitID = D02.UnitID
			inner join AT1303 as D03 WITH (NOLOCK) on D03.DivisionID IN (@DivisionID,'@@@') AND D03.WareHouseID = D06.WareHouseID
			LEFT JOIN WT8899 WITH (NOLOCK) ON WT8899.DivisionID = D07.DivisionID AND WT8899.VoucherID = D07.VoucherID AND WT8899.TransactionID = D07.TransactionID
	Where D06.DivisionID = @DivisionID AND D06.KindVoucherID in (1,3,5,7) AND D07.InventoryID BETWEEN @FromInventoryID AND @ToInventoryID   AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < CONVERT(NVARCHAR(10), @FromDate, 101)
	AND  CASE WHEN @IsAll = 1 THEN  D03.IsTemp  ELSE '' END  =  CASE WHEN @IsAll = 1 THEN   0  ELSE '' END
	Union All  -- Xuat kho
	Select  D07.DivisionID, D07.TranMonth, D07.TranYear,
		Case when D06.KindVoucherID = 3 then D06.WareHouseID2 Else  D06.WareHouseID End as WareHouseID, 
		D07.InventoryID, D07.Parameter01, D07.Parameter02, D07.Parameter03, D07.Parameter04, D07.Parameter05,
		D07.DebitAccountID, D07.CreditAccountID,
		'C' as D_C,  --- So du Co
		D06.VoucherID, D06.VoucherDate, D06.VoucherNo, 
		D06.ObjectID,
		D02.InventoryName, D02.UnitID, D04.UnitName, D02.InventoryTypeID,
		Case when D06.KindVoucherID = 3 then D031.WareHouseName Else  D03.WareHouseName End  as WareHouseName,	
		ActualQuantity, 
		ConvertedAmount,
		-ActualQuantity as SignQuantity, 
		-ConvertedAmount as SignAmount,	
		D06.OrderID,
		WT8899.S01ID, WT8899.S02ID, WT8899.S03ID, WT8899.S04ID, WT8899.S05ID, WT8899.S06ID, WT8899.S07ID, WT8899.S08ID, WT8899.S09ID, WT8899.S10ID,
		WT8899.S11ID, WT8899.S12ID, WT8899.S13ID, WT8899.S14ID, WT8899.S15ID, WT8899.S16ID, WT8899.S17ID, WT8899.S18ID, WT8899.S19ID, WT8899.S20ID
	From AT2007 as D07 WITH (NOLOCK) inner join AT2006 D06 WITH (NOLOCK) On D06.VoucherID = D07.VoucherID
			inner join AT1302 as D02 WITH (NOLOCK) on D02.DivisionID IN (@DivisionID,'@@@') AND D02.InventoryID = D07.InventoryID
			inner join AT1304 as D04 WITH (NOLOCK) on D02.DivisionID IN (@DivisionID,'@@@') AND D04.UnitID = D02.UnitID
			inner join AT1303 as D03 WITH (NOLOCK) on D03.DivisionID IN (@DivisionID,'@@@') AND D03.WareHouseID = D06.WareHouseID
			left join AT1303 as  D031 WITH (NOLOCK) on D031.DivisionID IN (@DivisionID,'@@@') AND D031.WareHouseID = D06.WareHouseID2
			LEFT JOIN WT8899 WITH (NOLOCK) ON WT8899.DivisionID = D07.DivisionID AND WT8899.VoucherID = D07.VoucherID AND WT8899.TransactionID = D07.TransactionID
	Where D06.DivisionID = @DivisionID AND D06.KindVoucherID in (2,3,4,6,8,10) AND D07.InventoryID BETWEEN @FromInventoryID AND @ToInventoryID  AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < CONVERT(NVARCHAR(10), @FromDate, 101)
	AND  CASE WHEN @IsAll = 1 THEN  D03.IsTemp  ELSE '' END  =  CASE WHEN @IsAll = 1 THEN   0  ELSE '' END
	SELECT *
	INTO #AV7011
	FROM #SODUDAU
	UNION ALL
	SELECT *
	FROM #TONKHO


	IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH (NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
	BEGIN
		IF @IsDate = 0 --- Theo ky
		BEGIN 
			SET @Ssql = N'
				SELECT	AT2008.DivisionID,' + @WareHouseID2 + ' AS WareHouseID, 
						' + @WareHouseName + ' AS WareHouseName, 
						AT2008.InventoryID, 
						AT1302.InventoryName, 
						AT1302.UnitID, 
						AT1304.UnitName, 
						SUM(BeginQuantity) AS BeginQuantity, 
						SUM(BeginAmount) AS BeginAmount, 
						SUM(EndQuantity) AS EndQuantity,
						SUM(EndAmount) AS EndAmount,
						AT2008.S01ID, AT2008.S02ID, AT2008.S03ID, AT2008.S04ID, AT2008.S05ID, AT2008.S06ID, AT2008.S07ID, AT2008.S08ID, AT2008.S09ID, AT2008.S10ID,
						AT2008.S11ID, AT2008.S12ID, AT2008.S13ID, AT2008.S14ID, AT2008.S15ID, AT2008.S16ID, AT2008.S17ID, AT2008.S18ID, AT2008.S19ID, AT2008.S20ID,
						Null as OrderID
				FROM	AT2008_QC AT2008 WITH (NOLOCK) 
				INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1302.InventoryID = AT2008.InventoryID
				INNER JOIN AT1304 WITH (NOLOCK) ON AT1302.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1304.UnitID = AT1302.UnitID
				INNER JOIN AT1303 WITH (NOLOCK) ON AT1303.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1303.WareHouseID = AT2008.WareHouseID
				WHERE AT2008.DivisionID = N''' + @DivisionID + ''' 
						AND AT2008.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' '+ 
						(CASE WHEN @IsAll = 1 THEN ' AND AT1303.IsTemp = 0 ' ELSE '' END) + '
						AND AT2008.WareHouseID IN (Select WareHouseID from #TBL_WareHouseIDAP7015) 
						AND TranMonth + TranYear * 100 = ' + STR(@FromMonth) + ' + 100 * ' + STR(@FromYear) + ' 
				GROUP BY AT2008.DivisionID,AT2008.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName,
						AT2008.S01ID, AT2008.S02ID, AT2008.S03ID, AT2008.S04ID, AT2008.S05ID, AT2008.S06ID, AT2008.S07ID, AT2008.S08ID, AT2008.S09ID, AT2008.S10ID,
						AT2008.S11ID, AT2008.S12ID, AT2008.S13ID, AT2008.S14ID, AT2008.S15ID, AT2008.S16ID, AT2008.S17ID, AT2008.S18ID, AT2008.S19ID, AT2008.S20ID
			'

			IF @IsAll = 0
				SET @sSQL = @sSQL + N', AT2008.WareHouseID, AT1303.WareHouseName '
		END 
		ELSE
		BEGIN
			IF @IsAll = 0
				SET @sSQL = N'    
					SELECT	DivisionID, WareHouseID, 
							WareHouseName, 
							InventoryID, 
							InventoryName, 
							UnitID, UnitName, 
							SUM(SignQuantity) AS BeginQuantity, 
							SUM(SignAmount) AS BeginAmount, 
							0 AS EndQuantity, 
							0 AS EndAmount,
							AV7002.S01ID, AV7002.S02ID, AV7002.S03ID, AV7002.S04ID, AV7002.S05ID, AV7002.S06ID, AV7002.S07ID, AV7002.S08ID, AV7002.S09ID, AV7002.S10ID,
							AV7002.S11ID, AV7002.S12ID, AV7002.S13ID, AV7002.S14ID, AV7002.S15ID, AV7002.S16ID, AV7002.S17ID, AV7002.S18ID, AV7002.S19ID, AV7002.S20ID,
							AV7002.OrderID
						
					FROM	#AV7011 AV7002
					WHERE	((D_C in (''D'', ''C'') AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + Convert(NVARCHAR(10), @FromDate, 101) + ''') 
									OR D_C = ''BD'') 
							AND WareHouseID LIKE N''' + @WareHouseIDNotAll + ''' 
						
					GROUP BY DivisionID, InventoryID, InventoryName, UnitID, UnitName, WareHouseID, WareHouseName,
							AV7002.S01ID, AV7002.S02ID, AV7002.S03ID, AV7002.S04ID, AV7002.S05ID, AV7002.S06ID, AV7002.S07ID, AV7002.S08ID, AV7002.S09ID, AV7002.S10ID,
							AV7002.S11ID, AV7002.S12ID, AV7002.S13ID, AV7002.S14ID, AV7002.S15ID, AV7002.S16ID, AV7002.S17ID, AV7002.S18ID, AV7002.S19ID, AV7002.S20ID, AV7002.OrderID
					---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
				'
			ELSE
				SET @sSQL = N'
					SELECT	DivisionID, 
							' + @WareHouseID2 + ' AS WareHouseID, 
							' + @WareHouseName + ' AS WareHouseName, 
							InventoryID, 
							InventoryName, 
							UnitID, UnitName, 
							SUM(SignQuantity) AS BeginQuantity, 
							SUM(SignAmount) AS BeginAmount, 
							0 AS EndQuantity, 
							0 AS EndAmount,
							AV7002.S01ID, AV7002.S02ID, AV7002.S03ID, AV7002.S04ID, AV7002.S05ID, AV7002.S06ID, AV7002.S07ID, AV7002.S08ID, AV7002.S09ID, AV7002.S10ID,
							AV7002.S11ID, AV7002.S12ID, AV7002.S13ID, AV7002.S14ID, AV7002.S15ID, AV7002.S16ID, AV7002.S17ID, AV7002.S18ID, AV7002.S19ID, AV7002.S20ID,
							AV7002.OrderID
					FROM	#AV7011 AV7002
					WHERE	((D_C in (''D'', ''C'') 
									AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''') 
									OR D_C = ''BD'') 
							AND WareHouseID in (Select WareHouseID from #TBL_WareHouseIDAP7015) 
						
					GROUP BY DivisionID, InventoryID, InventoryName, UnitID, UnitName,
							AV7002.S01ID, AV7002.S02ID, AV7002.S03ID, AV7002.S04ID, AV7002.S05ID, AV7002.S06ID, AV7002.S07ID, AV7002.S08ID, AV7002.S09ID, AV7002.S10ID,
							AV7002.S11ID, AV7002.S12ID, AV7002.S13ID, AV7002.S14ID, AV7002.S15ID, AV7002.S16ID, AV7002.S17ID, AV7002.S18ID, AV7002.S19ID, AV7002.S20ID, AV7002.OrderID 
					---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
				'
		END
	END
	ELSE
		BEGIN
	
			IF @IsDate = 0 --- Theo ky
			BEGIN 
				SET @Ssql = N'
					SELECT	AT2008.DivisionID,' + @WareHouseID2 + ' AS WareHouseID, 
							' + @WareHouseName + ' AS WareHouseName, 
							AT2008.InventoryID, 
							AT1302.InventoryName, 
							AT1302.UnitID, 
							AT1304.UnitName, 
							SUM(BeginQuantity) AS BeginQuantity, 
							SUM(BeginAmount) AS BeginAmount, 
							SUM(EndQuantity) AS EndQuantity, 
							SUM(EndAmount) AS EndAmount,
							Null as OrderID
					FROM	AT2008 WITH (NOLOCK) 
					INNER JOIN AT1302 WITH (NOLOCK) ON AT1302.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1302.InventoryID = AT2008.InventoryID
					INNER JOIN AT1304 WITH (NOLOCK) ON AT1302.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1304.UnitID = AT1302.UnitID
					INNER JOIN AT1303 WITH (NOLOCK) ON AT1303.DivisionID IN ('''+@DivisionID+''',''@@@'') AND AT1303.WareHouseID = AT2008.WareHouseID
					WHERE AT2008.DivisionID = N''' + @DivisionID + ''' 
							AND AT2008.InventoryID BETWEEN N''' + @FromInventoryID + ''' AND N''' + @ToInventoryID + ''' '+
							(CASE WHEN @IsAll = 1 THEN ' AND AT1303.IsTemp = 0 ' ELSE '' END) +
							'AND AT2008.WareHouseID in (Select WareHouseID from #TBL_WareHouseIDAP7015) 
							AND TranMonth + TranYear * 100 = ' + STR(@FromMonth) + ' + 100 * ' + STR(@FromYear) + ' 
					GROUP BY AT2008.DivisionID,AT2008.InventoryID, AT1302.InventoryName, AT1302.UnitID, AT1304.UnitName
				'

				IF @IsAll = 0
					SET @sSQL = @sSQL + N', AT2008.WareHouseID, AT1303.WareHouseName '
			END 
			ELSE
			BEGIN
				IF @IsAll = 0
				SET @sSQL = N'    
					SELECT	DivisionID, WareHouseID, 
							WareHouseName, 
							InventoryID, 
							InventoryName, 
							UnitID, UnitName, 
							SUM(SignQuantity) AS BeginQuantity, 
							SUM(SignAmount) AS BeginAmount, 
							0 AS EndQuantity, 
							0 AS EndAmount,
							AV7011.OrderID
					FROM	#AV7011 AV7011
					WHERE	((D_C in (''D'', ''C'') AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + Convert(NVARCHAR(10), @FromDate, 101) + ''') 
									OR D_C = ''BD'') 
							AND WareHouseID like N''' + @WareHouseIDNotAll + '''
						
					GROUP BY DivisionID, InventoryID, InventoryName, UnitID, UnitName, WareHouseID, WareHouseName, AV7011.OrderID
					---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
				'
			ELSE
			BEGIN
				SET @sSQL = N'
					SELECT	DivisionID, 
							' + @WareHouseID2 + ' AS WareHouseID, 
							' + @WareHouseName + ' AS WareHouseName, 
							InventoryID, 
							InventoryName, 
							UnitID, UnitName, 
							SUM(SignQuantity) AS BeginQuantity, 
							SUM(SignAmount) AS BeginAmount, 
							0 AS EndQuantity, 
							0 AS EndAmount,
							AV7011.OrderID
					FROM	#AV7011 AV7011
					WHERE	((D_C in (''D'', ''C'') 
									AND CONVERT(DATETIME, CONVERT(VARCHAR(10), VoucherDate, 101), 101) < ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''') 
									OR D_C = ''BD'') 
							AND WareHouseID IN (Select WareHouseID from #TBL_WareHouseIDAP7015) 
						
					GROUP BY DivisionID, InventoryID, InventoryName, UnitID, UnitName, AV7011.OrderID 
					---Having SUM(SignQuantity) <> 0 OR SUM(SignAmount) <> 0 
				'
			END
			END
		END     



	PRINT @sSQL
	EXEC(@sSQL)

				
END




GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
