IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7008]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP7008]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
----- Created by Nguyen Van Nhan, Date 13/12/2004
---- Purpose: Tinh so du dau ky cua cac mat hang quan ly thuc te dich danh
---- Modified by Bảo Thy on 19/05/2017: Sửa danh mục dùng chung
---- Modified by Nhựt Trường on 02/10/2020: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
/********************************************
'* Edited by: [GS] [Thanh Nguyen] [01/08/2010]
'********************************************/

CREATE PROCEDURE [dbo].[AP7008] @DivisionID as varchar(20), 
				@WareHouseID  as  nvarchar(50), 
				@FromInventoryID as  nvarchar(50) , @ToInventoryID as  nvarchar(50),  
				@FromMonth int, @FromYear int, 
				@IsGroup as tinyint, 
				@GroupID as  nvarchar(50)
AS

Declare @sSQL as nvarchar(4000)
Set  @sSQL ='
Select 	AT0114.DivisionID, AT0114.InventoryID,
	ReVoucherNo, ReVoucherDate , ReTranMonth , ReTranYear, ReSourceNo,
	AT0114.LimitDate, ReQuantity, DeQuantity,
	EndQuantity,AT0114.UnitPrice, DeVoucherID, DeTransactionID,
	DeVoucherNo, DeVoucherDate
From AT0114 inner join AT1302 on AT1302.DivisionID IN (AT0114.DivisionID,''@@@'') AND AT1302.InventoryID = AT0114.InventoryID
Where ReTranYear + 100*ReTranMonth <='+str(@FromMonth)+'+ 100*'+str(@FromYear)+' and
	AT0114.DivisionID = N'''+@DivisionID+''' and
	WareHouseID like N'''+@WareHouseID+''' and
	( AT0114.InventoryID between N'''+@FromInventoryID+''' and N'''+@ToInventoryID+''')  	
'

If not Exists (Select 1 From SysObjects Where Xtype='V' and Name ='AV7008')
	Exec('Create view AV7008 as '+@sSQL)
Else
	Exec('Alter view AV7008 as '+@sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO