IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7002_AG]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP7002_AG]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---- Created by Nguyen Van Nhan, Date 13/06/2003
---- Purpose:  Kiem tra co duoc phep xuat kho hay khong.
---- Duoc goi khi AddNew va Edit phieu xuat kho
---- Last Edit: Bo sung kiem tra xuat kho am, date 30/09/2009
---- Edit by B.Anh, date 11/06/2014	Chỉ lấy lượng tồn tính đến ngày @VoucherDate
---- Edit by B.Anh, date 07/04/2017	Kiểm tra tồn 2 trường hợp: tính đến hiện tại và tính đến ngày xuất kho
---- Edit by B.Anh, date 19/04/2017	Kiểm tra tồn kho theo vị trí (Chí Thành)
---- Modified by Bảo Thy on 02/01/2018: bổ sung kiểm tra tồn kho theo quy cách
---- Modified by Kim Thư on 17/9/2018: Đưa tất cả mặt hàng cần kiểm tra vào biến XML (cải thiện tốc độ check tồn kho)
---- Modified by Kim Thư on 25/10/2018: Thay đổi load table AV7000 cải thiện tốc độ.
---- Modified by Kim Thư on 20/11/2018: Sửa lỗi  COLLATE SQL_Latin1_General_CP1_CI_AS
---- Modified by Kim Thư on 07/12/2018: Bổ sung ưu tiên báo lỗi tính đến thời điểm hiện tại trước, nếu hiện tại đủ số lượng thì thông báo đến thời điểm voucherdate
----									Bổ sung cột IsNegativeStock vào bảng báo lỗi -> phân biệt loại message
---- Modified by Kim Thư on 15/03/2019: sửa isnull tính tồn kho
/********************************************
'* Edited by: [GS] [Thanh Nguyen] [01/08/2010]
'********************************************/

CREATE PROCEDURE [dbo].[AP7002_AG] @UserID as nvarchar(50),					
					@DivisionID as nvarchar(50),
					@TranMonth as int,
					@TranYear as int,
					@WareHouseID as nvarchar(50),
					@ImWareHouseID as nvarchar(50),
					@InventoryID as  nvarchar(50),
					@UnitID as nvarchar(50),
					@ConversionFactor as decimal(28,8),					
					@IsSource 	tinyint,
					@IsLimitDate	tinyint,
					@CreditAccountID as nvarchar(50),
					@ReOldVoucherID as nvarchar(50),
					@ReOldTransactionID as  nvarchar(50),
					@ReNewVoucherID nvarchar(50),
					@ReNewTransactionID as nvarchar(50),
					@VoucherDate as datetime,
					@OldQuantity	Decimal(28,8),
					@NewQuantity	Decimal(28,8),
					@AllowOverShip as tinyint,
					@MethodID as 	tinyint
					
 AS

Declare @EndQuantity as decimal(28,8),
	@Message as nvarchar(250),
	@Status as tinyint,
	@IsNegativeStock as tinyint


SET @IsNegativeStock =(SELECT TOP 1 IsNegativeStock From WT0000 WHERE DefDivisionID=@DivisionID)   --- Cho phep xuat kho am hay khong

Set @IsNegativeStock = isnull(@IsNegativeStock,0)

Set Nocount on
Delete AT7777 Where UserID =@UserID AND DivisionID = @DivisionID

If  @IsSource<>0 or @IsLimitDate<>0 or @MethodID = 3
	--- Xuat dich danh, theo Lo - ngay het han

		Exec AP8003 @UserID,  @DivisionID,@TranMonth,@TranYear, @WareHouseID,@InventoryID,
					@UnitID, @ConversionFactor,	@CreditAccountID,
					@ReOldVoucherID, @ReOldTransactionID, 
					@ReNewVoucherID, @ReNewTransactionID,
					@OldQuantity, @NewQuantity

Else
	Begin
		/*	
		Set @EndQuantity =@OldQuantity*isnull(@ConversionFactor,1)+ Isnull( (Select EndQuantity From AT2008 Where DivisionID =@DivisionID and
										TranMOnth =@TranMonth and
										TranYear =@TranYear and
										InventoryID =@InventoryID and 
										InventoryAccountID = @CreditAccountID and
										WareHouseID =@WareHouseID), 0)
		*/
		Set @EndQuantity =@OldQuantity*isnull(@ConversionFactor,1) + Isnull((Select SUM(SignQuantity) From AV7000 Where DivisionID = @DivisionID											
											and InventoryID =@InventoryID 
											and InventoryAccountID = @CreditAccountID
											and WareHouseID =@WareHouseID
											and VoucherDate <= @VoucherDate),0)
											
	    If @NewQuantity*isnull(@ConversionFactor,1) > @EndQuantity and  @IsNegativeStock=0 
		    Begin
			    Set @Status =1
			    Set @Message = 'WFML000132'
                Insert AT7777 (UserID, Status, Message, DivisionID, Value1, Value2)
			    Values (@UserID, @Status, @Message, @DivisionID, @InventoryID, @WareHouseID)
		    End
	    else If @NewQuantity*isnull(@ConversionFactor,1) > @EndQuantity and  @IsNegativeStock=1
		    Begin
			    Set @Status =2
			    Set @Message = 'WFML000133'
                Insert AT7777 (UserID, Status, Message, DivisionID, Value1, Value2)
			    Values (@UserID, @Status, @Message, @DivisionID, @InventoryID, @WareHouseID)
		    End		
	    Else
		    Begin
			    Set @Status =0 
			    Set @Message =''
		        Insert AT7777 (DivisionID, UserID, Status, Message)
		        Values (@DivisionID, @UserID, @Status, @Message)
		    End
	End
	
Set Nocount off
Select * from AT7777 Where UserID = @UserID