IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7201]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP7201]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

------ Created BY Nguyen Van Nhan, Date 11/08/2003
------- Edited BY Nguyen Quoc Huy, Date 30/09/2005
------- Purpose: In so cai theo dang tong hop
---- Modified on 18/01/2012 by Le Thi Thu Hien : Sua dieu kien loc theo ngay
/********************************************
'* Edited by: [GS] [Việt Khánh] [29/07/2010]
'********************************************/
---- Modified on 24/07/2013 by Lê Thị Thu Hiền : Bổ sung in nhiều đơn vị
---- Modified on 12/08/2013 by Lê Thị Thu Hiền : Bổ sung @StrDivisionID
---- Modified on 03/10/2013 by Trần Quốc Tuấn : Bổ sung điều kiện lộc in số dư đầu kỳ đúng
---- Modified by Bảo Thy on 23/05/2017: Sửa danh mục dùng chung
---- Modified by Bảo Anh on 02/04/2018: Hiển thị TK đối ứng đúng với cấp đang chọn
---- Modified by Bảo Anh on 28/10/2018: Bổ sung WITH (NOLOCK)
---- Modified by Kim Thư on 24/04/2019: Sửa store trả thẳng dữ liệu, ko thông qua view để cải thiện tốc độ
---- Modified by Văn Tài on 03/09/2019: Sửa lỗi store không trả cột Period
---- Modified by Nhựt Trường on 13/10/2020: Bỏ lấy trường Period để sửa lỗi không group lại được khi in nhiều kỳ.

CREATE PROCEDURE [dbo].[AP7201]
    @DivisionID AS NVARCHAR(50), 
    @TranMonthFrom AS INT, 
    @TranYearFrom AS INT, 
    @TranMonthTo AS INT, 
    @TranYearTo AS INT, 
    @FromDate AS DATETIME, 
    @ToDate AS DATETIME, 
    @IsDate AS TINYINT, 
    @AccountIDFrom AS NVARCHAR(50), 
    @AccountIDTo AS NVARCHAR(50), 
    @Level1 AS TINYINT,
    @UserID AS NVARCHAR(50) = 'ASOFTADMIN',
    @StrDivisionID AS NVARCHAR(4000) = '',
	@StrFinderMaster AS NVARCHAR(MAX)
    
AS

DECLARE @strSQL AS NVARCHAR(4000),
@strSQL1 AS NVARCHAR(4000),
@strSQL2 AS NVARCHAR(4000),
@strSQL3 AS NVARCHAR(4000),
@strSQL4 AS NVARCHAR(4000),
@strSQL5 AS NVARCHAR(4000)

-- Bảng tạm thay cho view AV5000 - cải thiện tốc độ
SET @strSQL='
SELECT 	AT9000.DivisionID, AT9000.VoucherID, AT9000.TableID, AT9000.BatchID, TransactionID,  
		CASE WHEN TransactionTypeID =''T14'' then ''T04'' else  TransactionTypeID End as TransactionTypeID,
		DebitAccountID AS AccountID, isnull(CreditAccountID,'''') AS CorAccountID, 
		''D'' AS D_C, DebitAccountID, isnull(CreditAccountID,'''') AS CreditAccountID, 
		AT9000.VoucherDate, AT9000.VoucherTypeID, AT9000.VoucherNo, 
		InvoiceDate, isnull(InvoiceNo,'''') as InvoiceNo, isnull(Serial,'''') as Serial, 
		ConvertedAmount, OriginalAmount, 
		AT9000.CurrencyID, ExchangeRate, ConvertedAmount as  SignAmount, OriginalAmount as OSignAmount, 
		AT9000.TranMonth, AT9000.TranYear, AT9000.CreateUserID,
		VDescription, BDescription, TDescription,
		AT9000.ObjectID,  AT9000.VATObjectID, AT9000.VATNo, AT9000.VATObjectName,
		VATTypeID, VATGroupID
INTO #AV5000
FROM		AT9000 WITH (NOLOCK)
WHERE	AT9000.DivisionID LIKE '''+@StrDivisionID+''' 
		AND(DebitAccountID LIKE ''' + @AccountIDFrom + '%''
        OR DebitAccountID LIKE ''' + @AccountIDTo + '%''
        OR(DebitAccountID > = ''' + @AccountIDFrom + '''
        AND DebitAccountID < = ''' + @AccountIDTo + '''))

UNION ALL
SELECT 	AT9000.DivisionID, AT9000.VoucherID, AT9000.TableID, AT9000.BatchID, TransactionID, Case When TransactionTypeID =''T14'' then ''T04'' else  TransactionTypeID End as TransactionTypeID,
		CreditAccountID AS AccountID, 
		isnull(DebitAccountID,'''') AS CorAccountID, ''C'' AS D_C, 
		isnull(DebitAccountID,'''') as DebitAccountID, CreditAccountID, 
		AT9000.VoucherDate,  AT9000.VoucherTypeID, AT9000.VoucherNo, 
		InvoiceDate, isnull(InvoiceNo,'''') as InvoiceNo, isnull(Serial,'''') as Serial, 
		ConvertedAmount , OriginalAmount, 
		AT9000.CurrencyID, ExchangeRate, (ConvertedAmount)*-1 AS SignAmount, OriginalAmount*-1 as OSignAmount, 		
		AT9000.TranMonth, AT9000.TranYear, 
		AT9000.CreateUserID, VDescription, BDescription, TDescription,
		AT9000.ObjectID,  AT9000.VATObjectID, AT9000.VATNo, AT9000.VATObjectName, 
		VATTypeID,   VATGroupID
FROM		AT9000 WITH (NOLOCK)	
WHERE	AT9000.DivisionID LIKE '''+@StrDivisionID+''' 
		AND(CreditAccountID LIKE ''' + @AccountIDFrom + '%''
        OR CreditAccountID LIKE ''' + @AccountIDTo + '%''
        OR(CreditAccountID > = ''' + @AccountIDFrom + '''
        AND CreditAccountID < = ''' + @AccountIDTo + '''))
'
--IF @IsDate = 0
--    SET @strSQL = @strSQL + ' AND TranYear * 100 + TranMonth < = ''' + STR(@TranYearTo * 100 + @TranMonthTo) + ''''
--ELSE 
--    SET @strSQL = @strSQL + ' AND CONVERT(DATETIME,CONVERT(VARCHAR(10),VoucherDate,101),101) < = ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''''


IF @Level1 = 0
    SET @strSQL1 = '
        SELECT '''+@DivisionID +''' AS DivisionID, 
			BatchID, TransactionTypeID, 
            AccountID, CorAccountID, D_C, 
            DebitAccountID AS DebitAccountID, 
            CreditAccountID AS CreditAccountID, 
            VoucherDate, VoucherTypeID, VoucherNo, 
            InvoiceDate, InvoiceNo, Serial, ISNULL(ConvertedAmount, 0) AS ConvertedAmount, 
            ISNULL(OriginalAmount, 0) AS OriginalAmount, 
            CurrencyID, ExchangeRate, SignAmount, 
            ISNULL(OSignAmount, 0) AS OSignAmount, 
            TranMonth, TranYear, TranMonth + TranYear * 100 AS Period, 
            CreateUserID, 
            VDescription, BDescription, TDescription, 
            ObjectID, VATObjectID, 
            VATNo, VATObjectName,
            VATTypeID, VATGroupID, 
            AccountID AS LinkAccountID
    '
ELSE
    SET @strSQL1 = '
        SELECT '''+@DivisionID +''' AS DivisionID, 
			BatchID, TransactionTypeID, 
            AccountID, LEFT(CorAccountID, ' + STR(@Level1 + 2) + ') AS CorAccountID, D_C, 
            DebitAccountID AS DebitAccountID, 
            CreditAccountID AS CreditAccountID, 
            VoucherDate, VoucherTypeID, VoucherNo, 
            InvoiceDate, InvoiceNo, Serial, 
            ISNULL(ConvertedAmount, 0) AS ConvertedAmount, 
            ISNULL(OriginalAmount, 0) AS OriginalAmount, 
            CurrencyID, ExchangeRate, 
            ISNULL(SignAmount, 0) AS SignAmount, 
            ISNULL(OSignAmount, 0) AS OSignAmount, 
            TranMonth, TranYear, TranMonth + TranYear * 100 AS Period, 
            CreateUserID, 
            VDescription, BDescription, TDescription, 
            ObjectID, VATObjectID, 
            VATNo, VATObjectName,
            VATTypeID, VATGroupID, 
            LEFT(AccountID, ' + STR(@Level1 + 2) + ') AS LinkAccountID
    '

SET @strSQL1 = @strSQL1 + '
    INTO #AV4310
	FROM #AV5000 WITH(NOLOCK)
    WHERE '+@StrFinderMaster+'
'

IF @IsDate = 0
    SET @strSQL1 = @strSQL1 + ' AND TranYear * 100 + TranMonth < = ''' + STR(@TranYearTo * 100 + @TranMonthTo) + ''''
ELSE 
    SET @strSQL1 = @strSQL1 + ' AND CONVERT(DATETIME,CONVERT(VARCHAR(10),VoucherDate,101),101) < = ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''''

--WHERE DivisionID LIKE '''+@StrDivisionID+'''
--        AND(AccountID LIKE ''' + @AccountIDFrom + '%''
--            OR AccountID LIKE ''' + @AccountIDTo + '%''
--            OR(AccountID > = ''' + @AccountIDFrom + '''
--            AND AccountID < = ''' + @AccountIDTo + '''))
--            AND  '+@StrFinderMaster+'
--IF @IsDate = 0
--    SET @strSQL = @strSQL + ' AND TranYear * 100 + TranMonth < = ''' + STR(@TranYearTo * 100 + @TranMonthTo) + ''''
--ELSE 
--    SET @strSQL = @strSQL + ' AND CONVERT(DATETIME,CONVERT(VARCHAR(10),VoucherDate,101),101) < = ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''''
--'+ CASE WHEN @IsDate = 0 THEN 'AND TranYear * 100 + TranMonth BETWEEN '+LTRIM(@TranYearFrom*100+@TranMonthFrom)+' AND '+LTRIM(@TranYearTo*100+@TranMonthTo)
--		ELSE ' AND CONVERT(DATETIME,CONVERT(VARCHAR(10),VoucherDate,101),101) BETWEEN ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' AND ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + '''' END +'
--IF NOT EXISTS(SELECT 1 FROM SYSOBJECTS WHERE SYSOBJECTS.NAME = 'AV4310' AND SYSOBJECTS.XTYPE = 'V')
--    EXEC('CREATE VIEW AV4310 AS --Created BY AP7201
--     ' + @strSQL)
--ELSE
--    EXEC('ALTER VIEW AV4310 AS --Created BY AP7201
--    ' + @strSQL)

-----------------------------------------------------------------------------------------------------------
IF @IsDate = 0
    BEGIN
        SET @strSQL2 = '
            SELECT V10.LinkAccountID, T01.AccountName, T01.AccountNameE, '''+@DivisionID +''' AS DivisionID, 
                SUM(CASE 
                        WHEN V10.TranYear * 12 + TranMonth < ''' + STR(@TranYearFrom * 12 + @TranMonthFrom) + ''' 
                                OR V10.TransactionTypeID = ''' + 'T00' + ''' 
                            THEN ISNULL(SignAmount, 0) 
                        ELSE 0 
                    END) AS OpeningAmount, 
                SUM(ISNULL(SignAmount, 0)) AS ClosingAmount, 
                SUM(CASE 
                        WHEN(V10.TranYear * 12 + V10.TranMonth) < = ''' + STR(@TranYearTo * 12 + @TranMonthTo) + ''' 
                                AND V10.TranYear > = ''' + STR(@TranYearFrom) + '''
                                AND V10.D_C = ''' + 'D' + ''' AND V10.TransactionTypeID <> ''' + 'T00' + '''
                            THEN ConvertedAmount 
                        ELSE 0 
                    END) AS AccumulatedDebit,
                SUM(CASE 
                        WHEN(V10.TranYear * 12 + V10.TranMonth) < = ''' + STR(@TranYearTo * 12 + @TranMonthTo) + ''' 
                                AND V10.TranYear > = ''' + STR(@TranYearFrom) + '''
                                AND V10.D_C = ''' + 'C' + ''' AND V10.TransactionTypeID <> ''' + 'T00' + '''
                            THEN ConvertedAmount 
                        ELSE 0 
                    END) AS AccumulatedCredit
            INTO #AV4315
			FROM #AV4310 AS V10 
            LEFT JOIN AT1005 AS T01 WITH (NOLOCK) ON T01.AccountID = V10.LinkAccountID
        '
        
        IF @Level1 <> 0 SET @strSQL2 = @strSQL2 + ' WHERE len(V10.LinkAccountID) = ''' + STR(@Level1 + 2) + ''''

        SET @strSQL2 = @strSQL2 + ' GROUP BY V10.LinkAccountID, T01.AccountName, T01.AccountNameE'
    END
ELSE
    BEGIN
        SET @strSQL2 = '
            SELECT V10.LinkAccountID, T01.AccountName, T01.AccountNameE, '''+@DivisionID +''' AS DivisionID, 
                SUM(CASE 
                        WHEN CONVERT(DATETIME,CONVERT(VARCHAR(10),V10.VoucherDate,101),101) < ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' 
                                OR V10.TransactionTypeID = ''' + 'T00' + ''' 
                            THEN ISNULL(SignAmount, 0) 
                        ELSE 0 
                    END) AS OpeningAmount, 
                SUM(ISNULL(SignAmount, 0)) AS ClosingAmount, 
                SUM(CASE 
                        WHEN CONVERT(DATETIME,CONVERT(VARCHAR(10),V10.VoucherDate,101),101) < = ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''' 
                                AND CONVERT(DATETIME,CONVERT(VARCHAR(10),V10.VoucherDate,101),101) > = ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' 
                                AND V10.D_C = ''' + 'D' + ''' AND V10.TransactionTypeID <> ''' + 'T00' + '''
                            THEN ConvertedAmount 
                        ELSE 0 
                    END) AS AccumulatedDebit, 
                SUM(CASE 
                        WHEN CONVERT(DATETIME,CONVERT(VARCHAR(10),V10.VoucherDate,101),101) < = ''' + CONVERT(NVARCHAR(10), @ToDate, 101) + ''' 
                                AND CONVERT(DATETIME,CONVERT(VARCHAR(10),V10.VoucherDate,101),101) > = ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''' 
                                AND V10.D_C = ''' + 'C' + ''' AND V10.TransactionTypeID <> ''' + 'T00' + '''
                            THEN ConvertedAmount 
                        ELSE 0 
                    END) AS AccumulatedCredit
            INTO #AV4315
			FROM #AV4310 AS V10 
            LEFT JOIN AT1005 AS T01 WITH (NOLOCK) ON T01.AccountID = V10.LinkAccountID
        '

        IF @Level1 <> 0 SET @strSQL2 = @strSQL2 + ' WHERE len(V10.LinkAccountID) = ''' + STR(@Level1 + 2) + ''''
        
        SET @strSQL2 = @strSQL2 + ' GROUP BY V10.LinkAccountID, T01.AccountName, T01.AccountNameE'
    END

--IF NOT EXISTS(SELECT 1 FROM SYSOBJECTS WHERE SYSOBJECTS.NAME = 'AV4315' AND SYSOBJECTS.XTYPE = 'V')
--    EXEC('CREATE VIEW AV4315 AS --Created BY AP7201
--    ' + @strSQL)
--ELSE
--    EXEC('ALTER VIEW AV4315 AS --Created BY AP7201
--    ' + @strSQL)

-----------------------------------------------------------------------------------------------------------
SET @strSQL3 = '
    SELECT V10.LinkAccountID, V10.CorAccountID, T01.AccountName, T01.AccountNameE, '''+@DivisionID +''' AS DivisionID, V10.Period, 
        SUM(CASE WHEN V10.D_C = ''' + 'D' + ''' THEN V10.ConvertedAmount ELSE 0 END) AS PeriodDebit, 
        SUM(CASE WHEN V10.D_C = ''' + 'C' + ''' THEN V10.ConvertedAmount ELSE 0 END) AS PeriodCredit
    INTO #AV4317
	FROM #AV4310 AS V10 
    LEFT JOIN AT1005 AS T01 WITH (NOLOCK) ON T01.AccountID = V10.CorAccountID '
    
IF @IsDate = 0
    SET @strSQL3 = @strSQL3 + ' WHERE V10.TranYear * 100 + V10.TranMonth > = ''' + STR(@TranYearFrom * 100 + @TranMonthFrom) + ''' '
ELSE
   	SET @strSQL3 =	@strSQL3 + ' WHERE (CONVERT(DATETIME,CONVERT(VARCHAR(10),V10.VoucherDate,101),101) Between ''' + convert(NVARCHAR(10), @FromDate,101)+ ''' And '''+convert(NVARCHAR(10),@ToDate,101)+ ''') '
SET @strSQL3 =	@strSQL3 + ' AND (V10.TransactionTypeID is NULL OR V10.TransactionTypeID <> ''' + 'T00' +''')'


IF @Level1 <> 0 SET @strSQL3 = @strSQL3 + ' AND len(V10.LinkAccountID) = ''' + STR(@Level1 + 2) + ''''

SET @strSQL3 = @strSQL3 + ' GROUP BY V10.LinkAccountID, V10.CorAccountID, T01.AccountName, T01.AccountNameE, V10.Period ' 

--IF NOT EXISTS(SELECT 1 FROM SYSOBJECTS WHERE SYSOBJECTS.NAME = 'AV4317' AND SYSOBJECTS.XTYPE = 'V')
--    EXEC('CREATE VIEW AV4317 AS --Created BY AP7201
--    ' + @strSQL)
--ELSE
--    EXEC('ALTER VIEW AV4317 AS --Created BY AP7201
--    ' + @strSQL)

-----------------------------------------------------------------------------------------------------------
SET @strSQL4 = '
    SELECT V15.OpeningAmount, V15.ClosingAmount, V15.AccountName AS LinkAccountName, 
        V15.AccountNameE AS LinkAccountNameE, 
        V17.Period, 
        V15.LinkAccountID, V15.AccumulatedDebit, V15.AccumulatedCredit, 
        V17.CorAccountID, V17.AccountName, V17.AccountNameE, V15.DivisionID, V17.PeriodDebit, V17.PeriodCredit
    INTO #AV7201
	FROM #AV4315 AS V15 
    LEFT JOIN #AV4317 AS V17 ON V15.LinkAccountID = V17.LinkAccountID 
        AND V17.DivisionID = '''+@DivisionID+'''
    WHERE(V17.CorAccountID IS NOT NULL) OR (V17.CorAccountID IS NULL AND V15.OpeningAmount <> 0)
'

--IF NOT EXISTS(SELECT 1 FROM SYSOBJECTS WHERE SYSOBJECTS.NAME = 'AV7201' AND SYSOBJECTS.XTYPE = 'V')
--    EXEC('--Created BY AP7201
--        CREATE VIEW AV7201 AS --Created BY AP7201
--        ' + @strSQL)
--ELSE
--    EXEC('--Created BY AP7201
--        ALTER VIEW AV7201 AS --Created BY AP7201
--        ' + @strSQL)

-----------------------------------------------------------------------------------------------------------
SET @strSQL5 = '
    SELECT OpeningAmount, ClosingAmount, LinkAccountName, LinkAccountNameE, 
        LinkAccountID, AccumulatedDebit, AccumulatedCredit, 
        CorAccountID, AccountName, AccountNameE,
		--Period,
        '''+@DivisionID +''' AS DivisionID, AT1101.DivisionName,
        SUM(PeriodDebit) AS PeriodDebit, SUM(PeriodCredit)AS PeriodCredit,
        '''+@UserID +''' AS UserID
    FROM #AV7201 
    LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = '''+@DivisionID+'''
    GROUP BY --Period,
			 OpeningAmount, 
			 ClosingAmount, 
			 LinkAccountName, 
			 LinkAccountNameE, 
			 LinkAccountID, 
			 AccumulatedDebit, 
			 AccumulatedCredit, 
			 CorAccountID, 
			 AccountName, 
			 AccountNameE, 
			 AT1101.DivisionName '

--IF NOT EXISTS(SELECT 1 FROM SYSOBJECTS WHERE SYSOBJECTS.NAME = 'AV7211' AND SYSOBJECTS.XTYPE = 'V')
--    EXEC('--Created BY AP7201
--        CREATE VIEW AV7211 AS --Created BY AP7201
--        ' + @strSQL)
--ELSE
--    EXEC('--Created BY AP7201
--        ALTER VIEW AV7211 AS --Created BY AP7201
--        ' + @strSQL)

EXEC (@strSQL+@strSQL1+@strSQL2+@strSQL3+@strSQL4+@strSQL5)
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

