IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WITH (NOLOCK) WHERE ID = OBJECT_ID(N'[DBO].[AP7402_ST]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP7402_ST]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

---------- Xu ly tong hop No phai thu
----------- Created BY Nguyen Van Nhan, Date 22.08.2003
---- Last Edit: Nguyen Thi Thuy Tuyen, date 07/07/2007
---- Modified on 28/12/2012 by Lê Thị Thu Hiền : Bổ sung thêm strDivisionID
---- Modified on 14/11/2014 by Mai Duyen : Bổ sung thêm DatabaseName (tinh năng In báo cao tong hop no phai thu 2 Database, KH SIEUTHANH)
---- Modified by Bảo Thy on 30/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Bảo Thy on 24/05/2017: Sửa danh mục dùng chung
----
-- <Example>
---- EXEC AP7402_ST @DivisionID=N'HT',@CurrencyID=N'VND',@FromAccountID=N'1311',@ToAccountID=N'1311',@FromObjectID=N'243355677',@ToObjectID=N'SZ.0001',@StrDivisionID='',@DatabaseName=''
CREATE PROCEDURE [dbo].[AP7402_ST] 
    @DivisionID AS NVARCHAR(50), 
    @CurrencyID AS NVARCHAR(50), 
    @FromAccountID AS NVARCHAR(50), 
    @ToAccountID AS NVARCHAR(50), 
    @FromObjectID AS NVARCHAR(50), 
    @ToObjectID AS NVARCHAR(50),
    @StrDivisionID AS NVARCHAR(4000) = '',
    @DatabaseName as nvarchar(250) =''
AS

DECLARE @sql AS NVARCHAR(4000),
		@StrDivisionID_New AS NVARCHAR(4000),
		@TableDBO as nvarchar(250)

If @DatabaseName  ='' 
	 Set @TableDBO=''
Else
	Set @TableDBO = '[' +  @DatabaseName + '].DBO.'
	
SET @StrDivisionID_New = ''		

IF ISNULL(@StrDivisionID,'') <> ''
	SELECT @StrDivisionID_New = CASE WHEN @StrDivisionID = '%' THEN ' LIKE ''' + 
	@StrDivisionID + '''' ELSE ' IN (''' + replace(@StrDivisionID, ',',''',''') + ''')' END
ELSE
	SELECT @StrDivisionID_New = CASE WHEN @DivisionID = '%' THEN ' LIKE ''' + 
	@DivisionID + '''' ELSE ' IN (''' + replace(@DivisionID, ',',''',''')+ ''')' END
	
	
-------------------- Phat sinh No.

SET @sql = '
    SELECT TransactionID, 
        BatchID, VoucherID, TableID, D3.DivisionID, TranMonth, TranYear, 
        ''00'' AS RPTransactionType, 
        TransactionTypeID, 
        ObjectID, 
        DebitAccountID, CreditAccountID, 
        DebitAccountID AS AccountID, 
        VoucherNo, VoucherTypeID, VoucherDate, 
        InvoiceNo, 
        ISNULL(InvoiceDate, VoucherDate) AS InvoiceDate, 
        Serial, 
        VDescription, BDescription, TDescription, 
        CurrencyIDCN AS CurrencyID, ExchangeRate, OriginalAmountCN AS OriginalAmount, ConvertedAmount, 
        OriginalAmountCN AS SignOriginalAmount, ConvertedAmount AS SignConvertedAmount, 
        Status
    FROM ' + @TableDBO + 'AT9000 D3  WITH (NOLOCK)
    INNER JOIN ' + @TableDBO + 'AT1005 AT1005 WITH (NOLOCK) ON AT1005.AccountID = D3.DebitAccountID
    WHERE AT1005.GroupID = ''G03'' 
        AND D3.DivisionID ' + @StrDivisionID_New + ' 
        AND (D3.ObjectID BETWEEN ''' + @FromObjectID + ''' AND ''' + @ToObjectID + ''') 
        AND D3.CurrencyIDCN LIKE ''' + @CurrencyID + '''
'

IF @FromAccountID <> '%' 
    SET @SQL = @SQL + ' AND D3.DebitAccountID > = ''' + @FromAccountID + ''' AND D3.DebitAccountID< = ''' + @ToAccountID + ''' '
ELSE
    SET @SQL = @SQL + ' AND D3.DebitAccountID LIKE ''%'' '



------------------------------- Phat sinh Co

SET @sql = @sql + 'UNION ALL 
SELECT TransactionID, BatchID, VoucherID, TableID, D3.DivisionID, TranMonth, TranYear, 
''01'' AS RPTransactionType, TransactionTypeID, 
CASE WHEN TransactionTypeID = ''T99'' THEN CreditObjectID ELSE ObjectID END AS ObjectID, 
DebitAccountID, CreditAccountID, 
CreditAccountID AS AccountID, 
VoucherNo, VoucherTypeID, VoucherDate, 
InvoiceNo, 
ISNULL(InvoiceDate, VoucherDate) AS InvoiceDate, 
Serial, 
VDescription, BDescription, TDescription, 
CurrencyIDCN AS CurrencyID, ExchangeRate, OriginalAmountCN AS OriginalAmount, ConvertedAmount, 
OriginalAmountCN *(-1) AS SignOriginalAmount, ConvertedAmount *(-1) AS SignConvertedAmount, 
Status 

FROM ' + @TableDBO + 'AT9000 D3 WITH (NOLOCK)
INNER JOIN ' + @TableDBO + 'AT1005 AT1005 WITH (NOLOCK) ON AT1005.AccountID = D3.CreditAccountID
WHERE AT1005.GroupID = ''G03'' AND
D3.DivisionID ' + @StrDivisionID_New + '  AND 
(CASE WHEN TransactionTypeID = ''T99'' THEN D3.CreditObjectID ELSE D3.ObjectID END BETWEEN N''' + @FromObjectID + ''' AND N''' + @ToObjectID + ''') AND 
D3.CurrencyIDCN LIKE ''' + @CurrencyID + ''' '

IF @FromAccountID <> '%' 
SET @SQL = @SQL + ' AND D3.CreditAccountID > = ''' + @FromAccountID + ''' AND D3.CreditAccountID< = ''' + @ToAccountID + ''' '
ELSE
SET @SQL = @SQL + ' AND ISNULL(D3.CreditAccountID, '''') LIKE ''%'' '


IF NOT EXISTS(SELECT name FROM sysobjects WITH (NOLOCK) WHERE id = Object_id(N'[dbo].[AV7402_ST]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC(' CREATE VIEW AV7402_ST --AP7402_ST 
AS ' + @SQL)
ELSE
EXEC(' ALTER VIEW AV7402_ST --AP7402_ST
 AS ' + @SQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

