IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7417_HT]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP7417_HT]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Tra ra View xac dinh so du cong no phai tra
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
-----Created by Phan thanh hoàng VŨ, Date 10/05/2016
---- Modified by Hải Long on 19/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- 

CREATE PROCEDURE  [dbo].[AP7417_HT] 
			@DivisionID AS NVARCHAR(50), 
			@FromObjectID AS  NVARCHAR(50),  
			@ToObjectID AS  NVARCHAR(50),  
			@FromAccountID AS NVARCHAR(50),  
			@ToAccountID AS NVARCHAR(50),  
			@CurrencyID NVARCHAR(50),  
			@FromPeriod AS int, 			
			@FromDate AS Datetime, 		
			@IsDate AS tinyint,
			@TypeDate AS NVARCHAR(20),
			@SqlFind AS NVARCHAR(MAX),
			@StrDivisionID AS NVARCHAR(4000)

AS

DECLARE @sSQL AS nvarchar(max),
		@TempCurrID AS NVARCHAR(50),
		@TempCurrIDAna AS NVARCHAR(50)

		Declare @CustomerName INT
		CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
		INSERT #CustomerName EXEC AP4444
		SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

		--------------->>>> Chuỗi DivisionID
		DECLARE @StrDivisionID_NewAV4202 AS NVARCHAR(4000)
		DECLARE @StrDivisionID_NewAV4203 AS NVARCHAR(4000)
		DECLARE @StrDivisionID_NewV03 AS NVARCHAR(4000)
		If @CustomerName = 51 --Customize khách hàng Hoàng trần
		begin
			IF Isnull(@StrDivisionID, '') = Isnull(@DivisionID, '') 
			Begin
				Set @StrDivisionID_NewAV4202 = ' AV4202.DivisionID LIKE ''' + @DivisionID + '''' 
				Set @StrDivisionID_NewAV4203 = ' AV4203.DivisionID LIKE ''' + @DivisionID + '''' 
				Set @StrDivisionID_NewV03 = ' V03.DivisionID LIKE ''' + @DivisionID + '''' 
			End
			ELSE
			Begin 
				Set @StrDivisionID_NewAV4202 = ' AV4202.DivisionID IN (''' + replace(@StrDivisionID, ',',''',''') + ''')'
				Set @StrDivisionID_NewAV4203 = ' AV4203.DivisionID IN (''' + replace(@StrDivisionID, ',',''',''') + ''')'
				Set @StrDivisionID_NewV03 = ' V03.DivisionID IN (''' + replace(@StrDivisionID, ',',''',''') + ''')'
			End
		End
		Else
		Begin
				Set @StrDivisionID_NewAV4202 = ' AV4202.DivisionID LIKE ''' + @DivisionID + '''' 
				Set @StrDivisionID_NewAV4203 = ' AV4203.DivisionID LIKE ''' + @DivisionID + '''' 
				Set @StrDivisionID_NewV03 = ' V03.DivisionID LIKE ''' + @DivisionID + '''' 
		End
		---------------<<<< Chuỗi DivisionID
		



IF @CurrencyID ='%'
	BEGIN
		SET @TempCurrID ='''%'''
		SET @TempCurrIDAna ='''%'''
	END
Else
	BEGIN
		SET @TempCurrID =' AV4202.CurrencyIDCN '
		SET @TempCurrIDAna =' AV4203.CurrencyIDCN '
	End

IF @IsDate not in  (1,2,3)   ---- Xac dinh theo ky	
	Begin
		SET @sSQL =' 
		SELECT 		AV4202.ObjectID,
					AV4202.AccountID, 		
					' + @TempCurrID+' AS CurrencyIDCN,
					AT1202.ObjectName AS ObjectName,
					AT1005.AccountName AS AccountName,
					Sum(ConvertedAmount) AS OpeningConvertedAmount,
					Sum(OriginalAmount) AS OpeningOriginalAmount
		FROM		AV4202	 
		INNER JOIN	AT1202 
			ON		AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AV4202.ObjectID
		INNER JOIN	AT1005 
			ON		AT1005.AccountID = AV4202.AccountID AND AT1005.DivisionID = AV4202.DivisionID
		WHERE		' + @StrDivisionID_NewAV4202 + ' AND
					(AV4202.TranMonth + 100 * AV4202.TranYear < ' + str(@FromPeriod) + ' or (AV4202.TranMonth + 100 * AV4202.TranYear = ' + str(@FromPeriod) + ' AND AV4202.TransactionTypeID =''T00'')) AND
					(AV4202.ObjectID BETWEEN ''' + @FromObjectID + ''' AND ''' + @ToObjectID + ''') AND
					AV4202.CurrencyIDCN like ''' + @CurrencyID + ''''+'	AND '+@SqlFind
			
		IF (@FromAccountID <> '%' AND @ToAccountID <> '%')
			SET @sSQL = @sSQL + ' AND (AV4202.AccountID BETWEEN  ''' + @FromAccountID + ''' AND ''' + @ToAccountID + ''')'
		
		SET @sSQL = @sSQL + ' GROUP BY AV4202.ObjectID, AV4202.AccountID, AT1202.ObjectName, AT1005.AccountName '
		
		IF @CurrencyID <> '%'
		SET @sSQL = @sSQL + ' , AV4202.CurrencyIDCN '
	
	End
Else
	 Begin
		SET @sSQL =' 
		SELECT		AV4202.ObjectID,
					AV4202.AccountID,
					' + @TempCurrID + ' AS CurrencyIDCN,
					AT1202.ObjectName,
					AT1005.AccountName AS AccountName,
					Sum(ConvertedAmount) AS OpeningConvertedAmount,
					sum(OriginalAmount) AS OpeningOriginalAmount
		FROM		AV4202  
		INNER JOIN	AT1202 
			ON		AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AV4202.ObjectID
		INNER JOIN	AT1005 on AT1005.AccountID = AV4202.AccountID AND AT1005.DivisionID = AV4202.DivisionID
		WHERE		' + @StrDivisionID_NewAV4202 + ' AND
					((CONVERT(DATETIME,CONVERT(varchar(10),' + LTRIM(RTRIM(@TypeDate)) + ',101),101) < ''' + CONVERT(NVARCHAR(10), @FromDate, 101) + ''') or
					 (CONVERT(DATETIME,CONVERT(varchar(10),' + LTRIM(RTRIM(@TypeDate)) + ',101),101) <= ''' + convert(NVARCHAR(10), @FromDate, 101) + ''' AND TransactionTypeID = ''T00'')) AND
					(AV4202.ObjectID BETWEEN ''' + @FromObjectID + ''' AND ''' + @ToObjectID + ''')  AND
					(AV4202.AccountID BETWEEN ''' + @FromAccountID + ''' AND ''' + @ToAccountID + ''')  AND
					AV4202.CurrencyIDCN like ''' + @CurrencyID + ''' AND '+@SqlFind+'
		GROUP BY	AV4202.ObjectID, AV4202.AccountID, AT1202.ObjectName, AT1005.AccountName '
		IF @CurrencyID <> '%'
		SET @sSQL = @sSQL + ' , AV4202.CurrencyIDCN '
	End	

IF NOT EXISTS (SELECT NAME FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV7417]') AND OBJECTPROPERTY(ID, N'ISVIEW') = 1)
	EXEC ('  CREATE VIEW AV7417 AS ' + @sSQL)
ELSE
	EXEC ('  ALTER VIEW AV7417  AS ' + @sSQL)

IF @IsDate not in ( 1,2,3)   ---- Tinh theo Ky 
	Begin
		SET @sSQL =' 
		SELECT 		AV4203.ObjectID, 
					AV4203.Ana01ID,
					AV4203.AccountID , 
					' + @TempCurrIDAna + ' AS CurrencyIDCN,
					AT1202.ObjectName ,
					AT1005.AccountName ,
					(SELECT Sum(ConvertedAmount) 
						FROM AV4203 V03
						WHERE ' + @StrDivisionID_NewV03 + ' AND
						(V03.TranMonth + 100*V03.TranYear < '+str(@FromPeriod)+'  or (V03.TranMonth + 100*V03.TranYear = '+str(@FromPeriod)+'  AND V03.TransactionTypeID =''T00'' ) ) AND
						(V03.ObjectID = AV4203.ObjectID) AND
						(V03.AccountID BETWEEN  '''+@FromAccountID+''' AND  '''+@ToAccountID+''' ) AND
						V03.CurrencyIDCN like '''+@CurrencyID+ '''
					) AS OpeningConvertedAmount,
					(SELECT Sum(OriginalAmount) 
						FROM AV4203 V03 
						WHERE ' + @StrDivisionID_NewV03 + ' AND
						( V03.TranMonth + 100*V03.TranYear < '+str(@FromPeriod)+'  or (V03.TranMonth + 100*V03.TranYear = '+str(@FromPeriod)+'  AND V03.TransactionTypeID =''T00'' ) ) AND
						(V03.ObjectID = AV4203.ObjectID) AND
						(V03.AccountID BETWEEN  '''+@FromAccountID+''' AND  '''+@ToAccountID+''' ) AND
						V03.CurrencyIDCN like '''+@CurrencyID+ '''
					) AS OpeningOriginalAmount,
					Sum(ConvertedAmount) AS OpeningConvertedAmountAna01ID,
					Sum(OriginalAmount) AS OpeningOriginalAmountAna01ID
		FROM		AV4203	
		INNER JOIN	AT1202 
			ON		AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AV4203.ObjectID
		INNER JOIN	AT1005 on AT1005.AccountID = AV4203.AccountID AND AT1005.DivisionID = AV4203.DivisionID
		WHERE	' + @StrDivisionID_NewAV4203 + ' AND
					( AV4203.TranMonth + 100*AV4203.TranYear < '+str(@FromPeriod)+'  or (AV4203.TranMonth + 100*AV4203.TranYear = '+str(@FromPeriod)+'  AND AV4203.TransactionTypeID =''T00'' ) ) AND
					(AV4203.ObjectID BETWEEN '''+ @FromObjectID + ''' AND ''' + @ToObjectID + ''') AND
					(AV4203.AccountID BETWEEN  '''+@FromAccountID+''' AND  '''+@ToAccountID+''' ) AND
					AV4203.CurrencyIDCN like '''+@CurrencyID+'''	
		GROUP BY	AV4203.ObjectID,  AV4203.Ana01ID, AV4203.AccountID ,  AT1202.ObjectName, AT1005.AccountName '
		IF @CurrencyID<>'%'
			SET @sSQL =@sSQL +',  AV4203.CurrencyIDCN '
	End

Else
	 Begin
		SET @sSQL =' 
		SELECT 		AV4203.ObjectID, AV4203.Ana01ID, AV4203.AccountID , 
					'+@TempCurrIDAna+' AS CurrencyIDCN,
					AT1202.ObjectName,
					AT1005.AccountName,
					(SELECT Sum(ConvertedAmount) 
						FROM AV4203 V03
						WHERE ' + @StrDivisionID_NewV03 + ' AND
						( (CONVERT(DATETIME,CONVERT(varchar(10),' + LTRIM(RTRIM(@TypeDate)) + ',101),101) < '''+convert(NVARCHAR(10),@FromDate,101)+'''  )  
						or ( CONVERT(DATETIME,CONVERT(varchar(10),' + LTRIM(RTRIM(@TypeDate)) + ',101),101) <= '''+convert(NVARCHAR(10),@FromDate,101)+''' 
						AND TransactionTypeID =''T00'' ) )  AND
						(V03.ObjectID = AV4203.ObjectID) AND
						(V03.AccountID BETWEEN  '''+@FromAccountID+''' AND  '''+@ToAccountID+''' ) AND
						V03.CurrencyIDCN like '''+@CurrencyID+''' 
					) AS OpeningConvertedAmount,
					(SELECT Sum(OriginalAmount) 
						FROM AV4203 V03 
						WHERE ' + @StrDivisionID_NewV03 + ' AND
						( (CONVERT(DATETIME,CONVERT(varchar(10),' + LTRIM(RTRIM(@TypeDate)) + ',101),101) < '''+convert(NVARCHAR(10),@FromDate,101)+'''  )  
						or ( CONVERT(DATETIME,CONVERT(varchar(10),' + LTRIM(RTRIM(@TypeDate)) + ',101),101) <= '''+convert(NVARCHAR(10),@FromDate,101)+''' AND TransactionTypeID =''T00'' ) )  AND
						(V03.ObjectID = AV4203.ObjectID) AND
						(V03.AccountID BETWEEN  '''+@FromAccountID+''' AND  '''+@ToAccountID+''' ) AND
						V03.CurrencyIDCN like '''+@CurrencyID+''' 
					) AS OpeningOriginalAmount,
					Sum(ConvertedAmount) AS OpeningConvertedAmountAna01ID,
					Sum(OriginalAmount) AS OpeningOriginalAmountAna01ID
		FROM		AV4203  	
		INNER JOIN	AT1202 
			ON		AT1202.DivisionID IN (''' +@DivisionID+ ''', ''@@@'') AND AT1202.ObjectID = AV4203.ObjectID
		INNER JOIN	AT1005 
			ON		AT1005.AccountID = AV4203.AccountID AND AT1005.DivisionID = AV4203.DivisionID
		WHERE	' + @StrDivisionID_NewAV4203 + ' AND
					( (CONVERT(DATETIME,CONVERT(varchar(10),' + LTRIM(RTRIM(@TypeDate)) + ',101),101) < '''+convert(NVARCHAR(10),@FromDate,101)+'''  )  
					or ( CONVERT(DATETIME,CONVERT(varchar(10),' + LTRIM(RTRIM(@TypeDate)) + ',101),101) <= '''+convert(NVARCHAR(10),@FromDate,101)+''' AND TransactionTypeID =''T00'' ) )  AND
					(AV4203.ObjectID BETWEEN '''+ @FromObjectID + ''' AND ''' + @ToObjectID + ''') AND
					(AV4203.AccountID BETWEEN  '''+@FromAccountID+''' AND  '''+@ToAccountID+''' ) AND
					AV4203.CurrencyIDCN like '''+@CurrencyID+'''	
		GROUP BY AV4203.ObjectID ,  AV4203.Ana01ID, AV4203.AccountID,    AT1202.ObjectName, AT1005.AccountName '
		IF @CurrencyID<>'%'
			SET @sSQL =@sSQL +',  AV4203.CurrencyIDCN '
	End
	

IF not exists (Select name from sysobjects Where id = Object_id(N'[dbo].[AV7427]') AND OBJECTPROPERTY(id, N'IsView') = 1)
	Exec ('  Create View AV7427 AS ' + @sSQL)
Else
	Exec ('  Alter View AV7427  AS ' + @sSQL)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

