IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7512]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP7512]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- In so tien gui theo thang
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 20/09/2004 by Nguyen Van Nhan
---- 
---- Modified on 01/09/200 by Nguyen Quoc Huy
---- Modified on 13/09/2011 by Le Thi Thu Hien : bo sung Orders
---- Modified on 21/09/2011 by Nguyễn Bình Minh : bổ sung loại bút toán T19 bút toán CLTG xuất
---- Modified on 14/03/2012 by Lê Thị Thu Hiền : Bổ sung ReVoucherNo(số phiếu được đánh giá của bút toán CLTG xuất)
---- Modified on 24/05/2013 by Lê Thị Thu Hiền : Bổ sung 10 khoản mục Ana
---- Modified on 03/10/2014 by Trần Quốc Tuấn : Bổ sung thêm điều kiện lọc tính số dư đầu kỳ
---- Modified on 19/03/2015 by Mai Duyen : Fix loi khong len so du dau ky
---- Modified on 10/09/2015 by Tiểu Mai: Bổ sung tên 10 MPT, 10 tham số
---- Modified on 28/03/2015 by Quốc Tuấn: Bổ sung IsWithhodingTax
---- Modified by Bảo Thy on 30/05/2016: Bổ sung WITH (NOLOCK)
---- Modified by Phương Thảo on 26/07/2016: Bổ sung điều kiện TK tiền
---- Modified by Tiểu Mai on 25/11/2016: Sửa lại cách lấy DebitOriginalAmount, CreditOriginalAmount
---- Modified by Hải Long on 25/11/2016: Sửa lại số đầu kỳ
---- Modified by Bảo Anh on 03/04/2017: Sửa lại cách lấy @BegOriginalAmount, DebitOriginalAmount, CreditOriginalAmount
---- Modified by Hải Long on 20/04/2017: Bổ sung trường ObjectNote, ObjectBankAccountNo, ObjectBankName được lấy từ bảng đối tượng (PACIFIC)
---- Modified by Hải Long on 19/05/2017: Chỉnh sửa danh mục dùng chung
---- Modified by Tiểu Mai on 14/06/2018: Bổ sung in báo cáo theo tất cả TK Ngân hàng
---- Modified by Kim Thư on 05/09/2018: Sửa lỗi load báo tất cả tài khoản bị sai VoucherDate
---- Modified by Kim Thư on 25/02/2019: Sửa cách lấy ObjectName cho khách vãng lai là ISNULL(AT9000.VATObjectName,AT1202.ObjectName), khách không vãng lai thì lấy AT1202.ObjectName.
---- Modified by Huỳnh Thử on 08/04/2020: Fix: khi chọn tất cả tài khoản ngân hàng và chọn 1 tài khoản ngân hàng số đầu kỳ tính ra khác nhau
---- Modified by Nhựt Trường on 18/09/2020: Bổ sung trường SenderReceiver và SRDivisionName từ AT9000.
---- Modified by Nhựt Trường on 21/09/2020: Update code - Bổ sung trường SenderReceiver và SRDivisionName từ AT9000.
---- Modified by Văn Tài	 on 18/07/2022: Thay đổi quy tắc đặt tên bảng, dùng bảng tạm.
---- Modified by Nhựt Trường on 03/08/2022: Update code - Thay đổi quy tắc đặt tên bảng, dùng bảng tạm.
---- Modified by Nhựt Trường on 03/08/2022: Bổ sung điều kiện DivisionID khi join bảng dùng chung AT1202.
---- Modified by Thành Sang  on 25/08/2022: Bổ sung bảng tạm để tính Sum số tiền theo đầu kì cho báo cáo in Tất cả
---- Modified by Đức Tuyên  on 25/08/2022: Fix lỗi convert NULL => Báo cáo Sổ gửi ngân hàng lỗi

-- <Example>
---- EXEC AP7512 'AS', '1311', 1, 2011, 12, 2012,'1=1'
CREATE PROCEDURE [dbo].[AP7512]
(
	@DivisionID AS nvarchar(50),
	@BankAccountID AS nvarchar(50),
	@FromMonth AS int,
	@FromYear AS int,
	@ToMonth AS int,
	@ToYear AS INT,
	@SqlWhere AS NVARCHAR(MAX)
)						
AS
DECLARE @StartOriginalAmount   AS DECIMAL(28, 8),
        @StartConvertedAmount  AS DECIMAL(28, 8),
        @BegOriginalAmount     AS DECIMAL(28, 8),
        @BegConvertedAmount    AS DECIMAL(28, 8),
        @DetalOriginalAmount   AS DECIMAL(28, 8),
        @DetalConvertedAmount  AS DECIMAL(28, 8),
        @EndOrginalAmount      AS DECIMAL(28, 8),
        @EndConvertedAmount    AS DECIMAL(28, 8),
        @StartMonth            AS INT,
        @StartYear             AS INT,
        @sSQL                  AS NVARCHAR(MAX),
        @sSQL1				   AS NVARCHAR(MAX),
        @BaseCurrencyID        AS NVARCHAR(50),
        @CurrencyID            AS NVARCHAR(50),
        @AccountID             AS NVARCHAR(50),
        @BankName              AS NVARCHAR(250),
        @BankAccountNo         AS NVARCHAR(50),
        @sSQLBegin             AS NVARCHAR(max),
		@sSQLBegin_01		   AS NVARCHAR(max)
DECLARE
		@Temp table (BankAccountID nvarchar(50),StartOriginalAmount decimal(28,8),StartConvertedAmount decimal(28,8))
DECLARE
		@Temp_01 table (BegOriginalAmountTemp decimal(28,8),BegConvertedAmountTemp decimal(28,8),BankAccountIDTemp nvarchar(50))

-- Làm mới dữ liệu bảng tạm
DELETE AT10160
DELETE AT75120

SET @BaseCurrencyID = ISNULL((SELECT TOP 1 BaseCurrencyID FROM AT1101 WITH (NOLOCK) WHERE	DivisionID = @DivisionID), 'VND')

IF @BankAccountID = '%'
BEGIN
	INSERT INTO AT10160 (DivisionID, BankAccountID, CurrencyID,AccountID,BankName,BankAccountNo)
	SELECT DivisionID, BankAccountID, CurrencyID,AccountID,dbo.ReplaceSepecialChar(AT1016.BankName) AS BankName,BankAccountNo
	FROM   AT1016 WITH (NOLOCK)
	WHERE  BankAccountID LIKE @BankAccountID
		   AND DivisionID = @DivisionID
END
ELSE
BEGIN 

	SELECT @CurrencyID = CurrencyID,
		   @AccountID = AccountID,
		   @BankName = dbo.ReplaceSepecialChar(AT1016.BankName),
		   @BankAccountNo = BankAccountNo
	FROM   AT1016 WITH (NOLOCK)
	WHERE  BankAccountID = @BankAccountID
		   AND DivisionID IN (@DivisionID, '@@@')
END
/* ---- */
SET @CurrencyID = ISNULL(@CurrencyID, '')
SET @AccountID = ISNULL(@AccountID, '')
SET @BankName = ISNULL(@BankName, '')
SET @BankAccountNo = ISNULL(@BankAccountNo, '')
/* ---- */

----- Buoc 1, So du dau ky------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET @StartMonth = (
        SELECT		TOP 1 TranMonth
        FROM		AT9999 WITH (NOLOCK)
        WHERE		AT9999.DivisionID = @DivisionID
        ORDER BY	(TranMonth + TranYear * 100)
   )

SET @StartYear = (
        SELECT		TOP 1 TranYear
        FROM		AT9999 WITH (NOLOCK)
        WHERE		AT9999.DivisionID = @DivisionID
        ORDER BY	(TranMonth + TranYear * 100)
    )

IF @BankAccountID = '%'
	BEGIN
	SET @sSQLBegin ='SELECT ISNULL(D.BankAccountID,C.BankAccountID) AS BankAccountID, 
				SUM(CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' THEN OriginalAmount ELSE - OriginalAmount END) StartOriginalAmount,
				SUM(CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' THEN ConvertedAmount ELSE - ConvertedAmount END) StartConvertedAmount
		FROM   AT9000 WITH (NOLOCK)
		LEFT JOIN AT10160 D ON AT9000.DebitBankAccountID = D.BankAccountID
		LEFT JOIN AT10160 C ON AT9000.CreditBankAccountID = C.BankAccountID
		WHERE  TranMonth = '+ str(@StartMonth) +' AND TranYear = '+ str(@StartYear) +'
				AND AT9000.DivisionID = '''+@DivisionID +'''
				AND (DebitBankAccountID IN (SELECT BankAccountID FROM AT10160) 
					OR CreditBankAccountID IN (SELECT BankAccountID FROM AT10160))
				AND TransactionTypeID = ''T00'' AND ' + @SqlWhere+' --- So du dau 
				AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
							WHERE AT1005.GroupID = ''G01'' AND (AT9000.CreditAccountID = AT1005.AccountID OR AT9000.DebitAccountID = AT1005.AccountID))
		GROUP BY ISNULL(D.BankAccountID,C.BankAccountID)
'
	SET @sSQLBegin_01 = ' select distinct 	
							(ISNULL(BG1.StartOriginalAmount,BG2.StartOriginalAmount)) BegOriginalAmountTemp, (ISNULL(BG1.StartConvertedAmount,BG2.StartConvertedAmount)) AS BegConvertedAmountTemp, ISNULL(D.BankAccountID,C.BankAccountID) BankAccountIDTemp
	FROM		AT9000  WITH (NOLOCK)
	LEFT JOIN AT10160 D ON AT9000.DebitBankAccountID = D.BankAccountID
	LEFT JOIN AT10160 C ON AT9000.CreditBankAccountID = C.BankAccountID
	LEFT JOIN AT75120 BG1 ON AT9000.DebitBankAccountID = BG1.BankAccountID
	LEFT JOIN AT75120 BG2 ON AT9000.CreditBankAccountID = BG2.BankAccountID
	LEFT JOIN AT1011 A11 WITH (NOLOCK) on A11.AnaID = AT9000.Ana01ID AND A11.AnaTypeID = ''A01''
	LEFT JOIN AT1011 A12 WITH (NOLOCK) on A12.AnaID = AT9000.Ana01ID AND A12.AnaTypeID = ''A02''
	LEFT JOIN AT1011 A13 WITH (NOLOCK) on A13.AnaID = AT9000.Ana01ID AND A13.AnaTypeID = ''A03''
	LEFT JOIN AT1011 A14 WITH (NOLOCK) on A14.AnaID = AT9000.Ana01ID AND A14.AnaTypeID = ''A04''
	LEFT JOIN AT1011 A15 WITH (NOLOCK) on A15.AnaID = AT9000.Ana01ID AND A15.AnaTypeID = ''A05''
	LEFT JOIN AT1011 A16 WITH (NOLOCK) on A16.AnaID = AT9000.Ana01ID AND A16.AnaTypeID = ''A06''
	LEFT JOIN AT1011 A17 WITH (NOLOCK) on A17.AnaID = AT9000.Ana01ID AND A17.AnaTypeID = ''A07''
	LEFT JOIN AT1011 A18 WITH (NOLOCK) on A18.AnaID = AT9000.Ana01ID AND A18.AnaTypeID = ''A08'' 
	LEFT JOIN AT1011 A19 WITH (NOLOCK) on A19.AnaID = AT9000.Ana01ID AND A19.AnaTypeID = ''A09''
	LEFT JOIN AT1011 A10 WITH (NOLOCK) on A10.AnaID = AT9000.Ana01ID AND A10.AnaTypeID = ''A10''
	LEFT JOIN	AT1202 WITH (NOLOCK) on AT1202.DivisionID IN ('''+ @DivisionID +''',''@@@'') AND AT1202.ObjectID =  AT9000.ObjectID 
	-------->>> Lấy bút toán được đánh giá chênh lệch tỷ giá xuất
	LEFT JOIN	(	SELECT	DISTINCT VoucherID,BatchID, TransactionID,VoucherNo , DivisionID
         			FROM	AT9000 WITH (NOLOCK)
         	 		WHERE	AT9000.TransactionTypeID IN (''T21'', ''T22'',  ''T10'',''T09'', ''T16'')
         	 				AND DivisionID = '''+@DivisionID+'''
         		 ) A 
		ON		A.VoucherID = AT9000.RevoucherID 
				AND A.BatchID = AT9000.ReBatchID
				AND A.TransactionID = AT9000.ReTransactionID
				AND A.DivisionID = AT9000.DivisionID
			
	WHERE		TransactionTypeID in (''T21'', ''T22'' , ''T10'',''T16'', ''T09'', ''T19'') AND
				AT9000.DivisionID = ''' + @DivisionID + ''' 
				AND (TranMonth + TranYear * 100 BETWEEN (' + STR(@FromMonth) + ' + ' + STR(@FromYear) + ' *100) AND (' + STR(@ToMonth) + ' + ' + STR(@ToYear) + ' *100)) 
				AND (ISNULL(D.BankAccountID,'''') <> '''' OR ISNULL(C.BankAccountID,'''') <> '''')
				AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
							WHERE AT1005.GroupID = ''G01'' AND (AT9000.CreditAccountID = AT1005.AccountID OR AT9000.DebitAccountID = AT1005.AccountID))
				'	
	
	
	END
ELSE 
	SET @sSQLBegin ='SELECT N'''+ @BankAccountID+''' AS BankAccountID, SUM(CASE WHEN DebitBankAccountID =N'''+ @BankAccountID +''' THEN OriginalAmount ELSE - OriginalAmount END) StartOriginalAmount,
			   SUM(CASE WHEN DebitBankAccountID = N'''+ @BankAccountID +''' THEN ConvertedAmount ELSE - ConvertedAmount END) StartConvertedAmount
		FROM   AT9000 WITH (NOLOCK)
		WHERE  TranMonth = '+ str(@StartMonth) +' AND TranYear = '+ str(@StartYear) +'
			   AND DivisionID = '''+@DivisionID +'''
			   AND (DebitBankAccountID =N'''+ @BankAccountID+''' OR CreditBankAccountID = N'''+@BankAccountID+''')
			   AND TransactionTypeID = ''T00'' AND ' + @SqlWhere+' --- So du dau 
			   AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
							WHERE AT1005.GroupID = ''G01'' AND (AT9000.CreditAccountID = AT1005.AccountID OR AT9000.DebitAccountID = AT1005.AccountID))
			   '
INSERT INTO @Temp (BankAccountID, StartOriginalAmount, StartConvertedAmount) EXEC(@sSQLBegin)
--INSERT INTO @Temp (StartOriginalAmount, StartConvertedAmount) EXEC(@sSQLBegin)

IF @BankAccountID = '%'
BEGIN
	IF @FromMonth + @FromYear * 100 = @StartMonth + @StartYear * 100
	BEGIN
		INSERT INTO AT75120 (BankAccountID, StartOriginalAmount, StartConvertedAmount)
		SELECT BankAccountID, StartOriginalAmount, StartConvertedAmount
		FROM @Temp
	END
	ELSE
	BEGIN
		--- Xac dinh so phat sinh truoc giai doan (FromMonth , FromYear)
		SET @sSQLBegin ='INSERT INTO AT75120 (BankAccountID, StartOriginalAmount, StartConvertedAmount)
			SELECT ISNULL(D.DebitBankAccountID,C.CreditBankAccountID) AS BankAccountID, ISNULL(D.DebitAmount,0) - ISNULL(C.CreditAmount,0) AS StartOriginalAmount, CONVERT(DECIMAL(28,8),0) AS StartConvertedAmount
		    FROM 
			(SELECT DebitBankAccountID, ISNULL(SUM(	CASE WHEN AT9000.CurrencyID <> '''+@BaseCurrencyID+''' AND TransactionTypeID = ''T16'' THEN OriginalAmount 
													ELSE	
														CASE WHEN TransactionTypeID = ''T16'' THEN ConvertedAmount ELSE OriginalAmount END 
                        							END
											   ),0) AS DebitAmount
										FROM   AT9000 WITH (NOLOCK)
										WHERE  DivisionID = '''+@DivisionID+'''
											   AND DebitBankAccountID IN (SELECT BankAccountID FROM AT10160)
											   AND TransactionTypeID <> ''T00''
											   AND TranMonth + TranYear * 100 < '+str(@FromMonth + @FromYear * 100)+'
											   AND ' + @SqlWhere + '
											   AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
															WHERE AT1005.GroupID = ''G01'' AND AT9000.DebitAccountID = AT1005.AccountID)
                 				GROUP BY DebitBankAccountID		
			) D
			FULL JOIN (    
			SELECT CreditBankAccountID, ISNULL(SUM(CASE WHEN TransactionTypeID = ''T16'' AND AT9000.CurrencyIDCN <>'''+@BaseCurrencyID+''' THEN 
															OriginalAmountCN
														ELSE 
                            								CASE WHEN TransactionTypeID = ''T16'' THEN ConvertedAmount ELSE OriginalAmount END 
                  	           							END
														),0) AS CreditAmount
			FROM   AT9000 WITH (NOLOCK)
			WHERE  DivisionID = '''+@DivisionID+'''
					AND CreditBankAccountID IN (SELECT BankAccountID FROM AT10160)
					AND TransactionTypeID <> ''T00''
					AND TranMonth + TranYear * 100 < '+str(@FromMonth + @FromYear * 100)+'
					AND ' + @SqlWhere + '
					AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
							WHERE AT1005.GroupID = ''G01'' AND AT9000.CreditAccountID = AT1005.AccountID)
			GROUP BY CreditBankAccountID
			) C ON D.DebitBankAccountID = C.CreditBankAccountID  '
			
						
		EXEC(@sSQLBegin)														
		--PRINT @sSQLBegin
		 SELECT *  INTO #TAM from @Temp
		 SET @sSQLBegin ='
			UPDATE AT75120
			SET StartConvertedAmount = ISNULL(Temp.StartConvertedAmount,0) + ISNULL(A.StartConvertedAmount,0),
				StartOriginalAmount = ISNULL(Temp.StartOriginalAmount,0) + ISNULL(A.StartConvertedAmount,0)
			FROM AT75120 T
			LEFT JOIN (
			SELECT ISNULL(D.DebitBankAccountID,C.CreditBankAccountID) AS BankAccountID, ISNULL(D.DebitAmount,0) - ISNULL(C.CreditAmount,0) AS StartConvertedAmount
		    FROM
			(	SELECT DebitBankAccountID, SUM(ConvertedAmount) as DebitAmount
				FROM   AT9000 WITH (NOLOCK)
				WHERE  DivisionID = '''+@DivisionID+'''
						AND DebitBankAccountID IN (SELECT BankAccountID FROM AT10160)
						AND TransactionTypeID <> ''T00''
						AND TranMonth + TranYear * 100 < '+str(@FromMonth + @FromYear * 100)+'
						AND ' + @SqlWhere + '
						AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
									WHERE AT1005.GroupID = ''G01'' AND AT9000.DebitAccountID = AT1005.AccountID)
				GROUP BY DebitBankAccountID
			) D
		FULL JOIN (	SELECT CreditBankAccountID, SUM(ConvertedAmount) as CreditAmount
					FROM   AT9000 WITH (NOLOCK)
					WHERE  DivisionID = '''+@DivisionID+'''
							AND CreditBankAccountID IN (SELECT BankAccountID FROM AT10160)
							AND TransactionTypeID <> ''T00''
							AND TranMonth + TranYear * 100 < '+str(@FromMonth + @FromYear * 100)+'
							AND ' + @SqlWhere + '
							AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
									WHERE AT1005.GroupID = ''G01'' AND AT9000.CreditAccountID = AT1005.AccountID)
					GROUP BY CreditBankAccountID
		) C ON D.DebitBankAccountID = C.CreditBankAccountID ) A ON T.BankAccountID = A.BankAccountID
		 LEFT JOIN #TAM Temp ON Temp.BankAccountID = T.BankAccountID
		--SELECT * FROM AT75120
		'
		EXEC(@sSQLBegin)
	END
END
ELSE
BEGIN

	SELECT @StartOriginalAmount = ISNULL(StartOriginalAmount,0),
	@StartConvertedAmount = StartConvertedAmount
	FROM @Temp

	IF @FromMonth + @FromYear * 100 = @StartMonth + @StartYear * 100
	BEGIN
		SET @BegOriginalAmount = ISNULL(@StartOriginalAmount, 0)
		SET @BegConvertedAmount = ISNULL(@StartConvertedAmount, 0)
	END
	ELSE
	BEGIN
		--- Xac dinh so phat sinh truoc giai doan (FromMonth , FromYear)
		SET @sSQLBegin ='SELECT  (ISNULL(
						(	SELECT SUM(	CASE WHEN AT9000.CurrencyID <> '''+@BaseCurrencyID+''' AND TransactionTypeID = ''T16'' THEN OriginalAmount 
										ELSE	
											CASE WHEN TransactionTypeID = ''T16'' THEN ConvertedAmount ELSE OriginalAmount END 
                        				END
								   )
							FROM   AT9000 WITH (NOLOCK)
							WHERE  DivisionID = '''+@DivisionID+'''
								   AND DebitBankAccountID = N'''+@BankAccountID+'''
								   AND TransactionTypeID <> ''T00''
								   AND TranMonth + TranYear * 100 < '+str(@FromMonth + @FromYear * 100)+'
								   AND ' + @SqlWhere + '
								   AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
												WHERE AT1005.GroupID = ''G01'' AND AT9000.DebitAccountID = AT1005.AccountID)
						), 0) 
        
					- ISNULL((	SELECT SUM(	CASE WHEN TransactionTypeID = ''T16'' AND AT9000.CurrencyIDCN <>'''+ @BaseCurrencyID+''' THEN 
												OriginalAmountCN
											ELSE 
                            					CASE WHEN TransactionTypeID = ''T16'' THEN ConvertedAmount ELSE OriginalAmount END 
                  	           				END
											)
								FROM   AT9000 WITH (NOLOCK)
								WHERE  DivisionID = '''+@DivisionID+'''
									   AND CreditBankAccountID = N'''+@BankAccountID+'''
									   AND TransactionTypeID <> ''T00''
									   AND TranMonth + TranYear * 100 < '+str(@FromMonth + @FromYear * 100)+'
									   AND ' + @SqlWhere + '
									   AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
												WHERE AT1005.GroupID = ''G01'' AND AT9000.CreditAccountID = AT1005.AccountID)
							),0)) ,0'
						
		INSERT INTO @Temp (StartOriginalAmount, StartConvertedAmount) EXEC(@sSQLBegin)
			SELECT @DetalOriginalAmount = ISNULL(StartOriginalAmount,0)
			FROM @Temp														
		--PRINT @sSQLBegin
		 SET @sSQLBegin ='SELECT (ISNULL(
						(	SELECT SUM(ConvertedAmount)
							FROM   AT9000 WITH (NOLOCK)
							WHERE  DivisionID = '''+@DivisionID+'''
								   AND DebitBankAccountID = N'''+@BankAccountID+''' 
								   AND TransactionTypeID <> ''T00''
								   AND TranMonth + TranYear * 100 < '+str(@FromMonth + @FromYear * 100)+'
								   AND ' + @SqlWhere + '
								   AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
												WHERE AT1005.GroupID = ''G01'' AND AT9000.DebitAccountID = AT1005.AccountID)
						), 0) 
					- ISNULL((	SELECT SUM(ConvertedAmount)
								FROM   AT9000 WITH (NOLOCK)
								WHERE  DivisionID = '''+@DivisionID+'''
									   AND CreditBankAccountID = N'''+@BankAccountID+'''
									   AND TransactionTypeID <> ''T00''
									   AND TranMonth + TranYear * 100 < '+str(@FromMonth + @FromYear * 100)+'
									   AND ' + @SqlWhere + '
									   AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
												WHERE AT1005.GroupID = ''G01'' AND AT9000.CreditAccountID = AT1005.AccountID)
							), 0)),0'
		INSERT INTO @Temp (StartOriginalAmount, StartConvertedAmount) EXEC(@sSQLBegin)
			SELECT @DetalConvertedAmount = ISNULL(StartOriginalAmount,0)
			FROM @Temp														
    
    
		SET @BegOriginalAmount = ISNULL(@StartOriginalAmount, 0) + ISNULL(@DetalOriginalAmount, 0)
		SET @BegConvertedAmount = ISNULL(@StartConvertedAmount, 0) + ISNULL(@DetalConvertedAmount, 0)
	END
END




INSERT INTO @Temp_01 (BegOriginalAmountTemp,BegConvertedAmountTemp, BankAccountIDTemp)  EXEC(@sSQLBegin_01)
SELECT *  INTO #TAM_01 from @Temp_01
--EXEC(@sSQLBegin_01)		

DECLARE @SUMBegOriginalAmountTemp decimal(28,8)
DECLARE @SUMBegConvertedAmountTemp decimal(28,8)
select @SUMBegOriginalAmountTemp = ISNULL(SUM(BegOriginalAmountTemp),0) from #TAM_01
select @SUMBegConvertedAmountTemp = ISNULL(SUM(BegConvertedAmountTemp),0) from #TAM_01

----- Buoc 2,  Xac dinh so phat sinh ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IF @BankAccountID = '%'
BEGIN
	SET @sSQL = '
	SELECT 		(CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' THEN 0  ELSE 1 END) AS TransactionTypeID, 	
				AT9000.TransactionID, AT9000.BatchID, AT9000.VoucherID,		
				AT9000.TranMonth, AT9000.TranYear, AT9000.DivisionID,
				AT9000.VoucherNo, AT9000.VoucherDate,  AT9000.VoucherTypeID,		
				(CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' THEN AT9000.VoucherNo ELSE '''' END) AS DebitVoucherNo,
				(CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' THEN AT9000.VoucherNo ELSE '''' END) AS CreditVoucherNo,
				Ana01ID,	Ana02ID,	Ana03ID,	Ana04ID,	Ana05ID,
				Ana06ID,	Ana07ID,	Ana08ID,	Ana09ID,	Ana10ID,
				A11.AnaName AS Ana01Name,A12.AnaName AS Ana02Name,A13.AnaName AS Ana03Name,A14.AnaName AS Ana04Name,A15.AnaName AS Ana05Name,
				A16.AnaName AS Ana06Name,A17.AnaName AS Ana07Name,A18.AnaName AS Ana08Name,A19.AnaName AS Ana09Name,A10.AnaName AS Ana10Name,
				AT9000.ObjectID,
				--AT1202.ObjectName,		
				(CASE WHEN AT1202.IsUpdateName = 1 THEN ISNULL(AT9000.VATObjectName,AT1202.ObjectName) ELSE AT1202.ObjectName END) AS ObjectName,	
				Serial,		InvoiceNo,	InvoiceDate,
				DebitAccountID,			CreditAccountID,
				AT9000.CurrencyID, 
				ExchangeRate,
				ISNULL(D.AccountID,C.AccountID) AS AccountID,
				ISNULL(D.BankAccountID,C.BankAccountID) AS BankAccountID,
				ISNULL(D.BankAccountNo,C.BankAccountNo) AS BankAccountNo,
				ISNULL(D.BankName,C.BankName) AS BankName,
				(CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' THEN CreditAccountID ELSE DebitAccountID END) AS RelationAccountID,
			
				(	CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' AND TransactionTypeID = ''T16'' AND AT9000.CurrencyID = ''' + @BaseCurrencyID + ''' 
							THEN ConvertedAmount 
					ELSE 
							CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' AND TransactionTypeID = ''T16''   
										AND AT9000.CurrencyID <> ''' + @BaseCurrencyID + ''' THEN OriginalAmount 
							ELSE
									CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' THEN OriginalAmount ELSE 0 END 
							END 
					END) AS DebitOriginalAmount, 	
				(	CASE WHEN ISNULL(C.BankAccountID,'''') <> '''' AND TransactionTypeID = ''T16'' AND CurrencyIDCN =''' + @BaseCurrencyID + ''' 
						THEN ConvertedAmount
					ELSE  
						CASE WHEN ISNULL(C.BankAccountID,'''') <> '''' AND TransactionTypeID = ''T16'' THEN OriginalAmountCN 
						ELSE     
							CASE WHEN  ISNULL(C.BankAccountID,'''') <> '''' THEN OriginalAmount ELSE  0 END 
						END  
			 		END ) AS CreditOriginalAmount,			

				(CASE WHEN ISNULL(D.BankAccountID,'''') <> '''' THEN CAST(ConvertedAmount AS DECIMAL(28,8)) ELSE 0 END) AS DebitConvertedAmount,
				(CASE WHEN ISNULL(C.BankAccountID,'''') <> '''' THEN CAST(ConvertedAmount AS DECIMAL(28,8)) ELSE 0 END) AS CreditConvertedAmount,			
				VDescription, BDescription, TDescription,
				CAST(''' + CAST(@SUMBegOriginalAmountTemp as NVARCHAR(50)) + ''' as Decimal(28,8))  as BegOriginalAmount,
				CAST(''' + CAST(@SUMBegConvertedAmountTemp as NVARCHAR(50)) + ''' as Decimal(28,8))  as BegConvertedAmount,
				--ISNULL(BG1.StartOriginalAmount,BG2.StartOriginalAmount) AS BegOriginalAmount,
				--ISNULL(BG1.StartConvertedAmount,BG2.StartConvertedAmount) AS BegConvertedAmount,
				AT9000.CreateDate,
				AT9000.Orders,
				A.VoucherNo AS ReVoucherNo
				,AT9000.[RefNo01], AT9000.[RefNo02],
				AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10,ISNULL(AT9000.IsWithhodingTax,0) IsWithhodingTax,
				AT1202.Note AS ObjectNote, AT1202.BankAccountNo AS ObjectBankAccountNo, AT1202.BankName AS ObjectBankName,
				SenderReceiver ,SRDivisionName
	'
	SET @sSQL1 = '
	FROM		AT9000  WITH (NOLOCK)
	LEFT JOIN AT10160 D ON AT9000.DebitBankAccountID = D.BankAccountID
	LEFT JOIN AT10160 C ON AT9000.CreditBankAccountID = C.BankAccountID
	LEFT JOIN AT75120 BG1 ON AT9000.DebitBankAccountID = BG1.BankAccountID
	LEFT JOIN AT75120 BG2 ON AT9000.CreditBankAccountID = BG2.BankAccountID
	LEFT JOIN AT1011 A11 WITH (NOLOCK) on A11.AnaID = AT9000.Ana01ID AND A11.AnaTypeID = ''A01''
	LEFT JOIN AT1011 A12 WITH (NOLOCK) on A12.AnaID = AT9000.Ana01ID AND A12.AnaTypeID = ''A02''
	LEFT JOIN AT1011 A13 WITH (NOLOCK) on A13.AnaID = AT9000.Ana01ID AND A13.AnaTypeID = ''A03''
	LEFT JOIN AT1011 A14 WITH (NOLOCK) on A14.AnaID = AT9000.Ana01ID AND A14.AnaTypeID = ''A04''
	LEFT JOIN AT1011 A15 WITH (NOLOCK) on A15.AnaID = AT9000.Ana01ID AND A15.AnaTypeID = ''A05''
	LEFT JOIN AT1011 A16 WITH (NOLOCK) on A16.AnaID = AT9000.Ana01ID AND A16.AnaTypeID = ''A06''
	LEFT JOIN AT1011 A17 WITH (NOLOCK) on A17.AnaID = AT9000.Ana01ID AND A17.AnaTypeID = ''A07''
	LEFT JOIN AT1011 A18 WITH (NOLOCK) on A18.AnaID = AT9000.Ana01ID AND A18.AnaTypeID = ''A08'' 
	LEFT JOIN AT1011 A19 WITH (NOLOCK) on A19.AnaID = AT9000.Ana01ID AND A19.AnaTypeID = ''A09''
	LEFT JOIN AT1011 A10 WITH (NOLOCK) on A10.AnaID = AT9000.Ana01ID AND A10.AnaTypeID = ''A10''
	LEFT JOIN	AT1202 WITH (NOLOCK) on AT1202.DivisionID IN ('''+ @DivisionID +''',''@@@'') AND AT1202.ObjectID =  AT9000.ObjectID 
	-------->>> Lấy bút toán được đánh giá chênh lệch tỷ giá xuất
	LEFT JOIN	(	SELECT	DISTINCT VoucherID,BatchID, TransactionID,VoucherNo , DivisionID
         			FROM	AT9000 WITH (NOLOCK)
         	 		WHERE	AT9000.TransactionTypeID IN (''T21'', ''T22'',  ''T10'',''T09'', ''T16'')
         	 				AND DivisionID = '''+@DivisionID+'''
         		 ) A 
		ON		A.VoucherID = AT9000.RevoucherID 
				AND A.BatchID = AT9000.ReBatchID
				AND A.TransactionID = AT9000.ReTransactionID
				AND A.DivisionID = AT9000.DivisionID
			
	WHERE		TransactionTypeID in (''T21'', ''T22'' , ''T10'',''T16'', ''T09'', ''T19'') AND
				AT9000.DivisionID = ''' + @DivisionID + ''' 
				AND (TranMonth + TranYear * 100 BETWEEN (' + STR(@FromMonth) + ' + ' + STR(@FromYear) + ' *100) AND (' + STR(@ToMonth) + ' + ' + STR(@ToYear) + ' *100)) 
				AND (ISNULL(D.BankAccountID,'''') <> '''' OR ISNULL(C.BankAccountID,'''') <> '''')
				AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
							WHERE AT1005.GroupID = ''G01'' AND (AT9000.CreditAccountID = AT1005.AccountID OR AT9000.DebitAccountID = AT1005.AccountID))
				'	
END
ELSE 
BEGIN 


	SET @sSQL = '
	SELECT 		(CASE WHEN DebitBankAccountID = N''' + @BankAccountID + ''' THEN 0  ELSE 1 END) AS TransactionTypeID, 	
				AT9000.TransactionID, AT9000.BatchID, AT9000.VoucherID,		
				AT9000.TranMonth, AT9000.TranYear, AT9000.DivisionID,
				AT9000.VoucherNo, AT9000.VoucherDate,  AT9000.VoucherTypeID,		
				(CASE WHEN AT9000.DebitBankAccountID = N''' + @BankAccountID + ''' THEN AT9000.VoucherNo ELSE '''' END) AS DebitVoucherNo,
				(CASE WHEN AT9000.CreditBankAccountID = N''' + @BankAccountID + ''' THEN AT9000.VoucherNo ELSE '''' END) AS CreditVoucherNo,
				Ana01ID,	Ana02ID,	Ana03ID,	Ana04ID,	Ana05ID,
				Ana06ID,	Ana07ID,	Ana08ID,	Ana09ID,	Ana10ID,
				A11.AnaName AS Ana01Name,A12.AnaName AS Ana02Name,A13.AnaName AS Ana03Name,A14.AnaName AS Ana04Name,A15.AnaName AS Ana05Name,
				A16.AnaName AS Ana06Name,A17.AnaName AS Ana07Name,A18.AnaName AS Ana08Name,A19.AnaName AS Ana09Name,A10.AnaName AS Ana10Name,
				AT9000.ObjectID,
				--AT1202.ObjectName,		
				(CASE WHEN AT1202.IsUpdateName = 1 THEN ISNULL(AT9000.VATObjectName,AT1202.ObjectName) ELSE AT1202.ObjectName END) AS ObjectName,	
				Serial,		InvoiceNo,	InvoiceDate,
				DebitAccountID,			CreditAccountID,
				AT9000.CurrencyID, 
				ExchangeRate,
				N''' + @AccountID + ''' AS AccountID,
				N''' + @BankAccountID + ''' AS BankAccountID,
				N''' + @BankAccountNo + ''' AS BankAccountNo,
				N''' + @BankName + ''' AS BankName,
				(CASE WHEN DebitBankAccountID = N''' + @BankAccountID + ''' THEN CreditAccountID ELSE DebitAccountID END) AS RelationAccountID,
			
				(	CASE WHEN DebitBankAccountID = N''' + @BankAccountID + ''' AND TransactionTypeID = ''T16'' AND AT9000.CurrencyID = ''' + @BaseCurrencyID + ''' 
							THEN ConvertedAmount 
					ELSE 
							CASE WHEN DebitBankAccountID = N''' + @BankAccountID + ''' AND TransactionTypeID = ''T16''   
										AND AT9000.CurrencyID <> ''' + @BaseCurrencyID + ''' THEN OriginalAmount 
							ELSE
									CASE WHEN DebitBankAccountID = N''' + @BankAccountID + ''' THEN OriginalAmount ELSE 0 END 
							END 
					END) AS DebitOriginalAmount, 	
				(	CASE WHEN CreditBankAccountID = N''' + @BankAccountID + '''  AND TransactionTypeID = ''T16'' AND CurrencyIDCN =''' + @BaseCurrencyID + ''' 
						THEN ConvertedAmount
					ELSE  
						CASE WHEN CreditBankAccountID = N''' + @BankAccountID + ''' AND TransactionTypeID = ''T16'' THEN OriginalAmountCN 
						ELSE     
							CASE WHEN  CreditBankAccountID = N''' + @BankAccountID + ''' THEN OriginalAmount ELSE  0 END 
						END  
			 		END ) AS CreditOriginalAmount,			

				(CASE WHEN DebitBankAccountID = N''' + @BankAccountID + ''' THEN CAST(ConvertedAmount AS DECIMAL(28,8)) ELSE 0 END) AS DebitConvertedAmount,
				(CASE WHEN CreditBankAccountID = N''' + @BankAccountID + ''' THEN CAST(ConvertedAmount AS DECIMAL(28,8)) ELSE 0 END) AS CreditConvertedAmount,			
				VDescription, BDescription, TDescription,
				CAST(' + STR(ISNULL(@BegOriginalAmount, 0), 28, 4) + ' as DECIMAL(28,8)) AS BegOriginalAmount,
				CAST(' + STR(ISNULL(@BegConvertedAmount, 0), 28, 4) + ' as DECIMAL(28,8)) AS BegConvertedAmount,
				AT9000.CreateDate,
				AT9000.Orders,
				A.VoucherNo AS ReVoucherNo
				,AT9000.[RefNo01], AT9000.[RefNo02],
				AT9000.Parameter01,AT9000.Parameter02,AT9000.Parameter03,AT9000.Parameter04,AT9000.Parameter05,AT9000.Parameter06,AT9000.Parameter07,AT9000.Parameter08,AT9000.Parameter09,AT9000.Parameter10,ISNULL(AT9000.IsWithhodingTax,0) IsWithhodingTax,
				AT1202.Note AS ObjectNote, AT1202.BankAccountNo AS ObjectBankAccountNo, AT1202.BankName AS ObjectBankName,
				SenderReceiver ,SRDivisionName
	'
	SET @sSQL1 = '
	FROM		AT9000  WITH (NOLOCK)
	LEFT JOIN AT1011 A11 WITH (NOLOCK) on A11.AnaID = AT9000.Ana01ID AND A11.AnaTypeID = ''A01''
	LEFT JOIN AT1011 A12 WITH (NOLOCK) on A12.AnaID = AT9000.Ana01ID AND A12.AnaTypeID = ''A02''
	LEFT JOIN AT1011 A13 WITH (NOLOCK) on A13.AnaID = AT9000.Ana01ID AND A13.AnaTypeID = ''A03''
	LEFT JOIN AT1011 A14 WITH (NOLOCK) on A14.AnaID = AT9000.Ana01ID AND A14.AnaTypeID = ''A04''
	LEFT JOIN AT1011 A15 WITH (NOLOCK) on A15.AnaID = AT9000.Ana01ID AND A15.AnaTypeID = ''A05''
	LEFT JOIN AT1011 A16 WITH (NOLOCK) on A16.AnaID = AT9000.Ana01ID AND A16.AnaTypeID = ''A06''
	LEFT JOIN AT1011 A17 WITH (NOLOCK) on A17.AnaID = AT9000.Ana01ID AND A17.AnaTypeID = ''A07''
	LEFT JOIN AT1011 A18 WITH (NOLOCK) on A18.AnaID = AT9000.Ana01ID AND A18.AnaTypeID = ''A08'' 
	LEFT JOIN AT1011 A19 WITH (NOLOCK) on A19.AnaID = AT9000.Ana01ID AND A19.AnaTypeID = ''A09''
	LEFT JOIN AT1011 A10 WITH (NOLOCK) on A10.AnaID = AT9000.Ana01ID AND A10.AnaTypeID = ''A10''
	LEFT JOIN	AT1202 WITH (NOLOCK) on AT1202.DivisionID IN ('''+ @DivisionID +''',''@@@'') AND AT1202.ObjectID =  AT9000.ObjectID
	-------->>> Lấy bút toán được đánh giá chênh lệch tỷ giá xuất
	LEFT JOIN	(	SELECT	DISTINCT VoucherID,BatchID, TransactionID,VoucherNo , DivisionID
         			FROM	AT9000 WITH (NOLOCK)
         	 		WHERE	AT9000.TransactionTypeID IN (''T21'', ''T22'',  ''T10'',''T09'', ''T16'')
         	 				AND DivisionID = '''+@DivisionID+'''
         		 ) A 
		ON		A.VoucherID = AT9000.RevoucherID 
				AND A.BatchID = AT9000.ReBatchID
				AND A.TransactionID = AT9000.ReTransactionID
				AND A.DivisionID = AT9000.DivisionID
			
	WHERE		TransactionTypeID in (''T21'', ''T22'' , ''T10'',''T16'', ''T09'', ''T19'') AND
				AT9000.DivisionID = ''' + @DivisionID + ''' 
				AND (TranMonth + TranYear * 100 BETWEEN (' + STR(@FromMonth) + ' + ' + STR(@FromYear) + ' *100) AND (' + STR(@ToMonth) + ' + ' + STR(@ToYear) + ' *100)) 
				AND (DebitBankAccountID = N''' + @BankAccountID + ''' OR CreditBankAccountID = N''' + @BankAccountID + ''')
				AND	EXISTS (SELECT TOP 1 1 FROM AT1005 
							WHERE AT1005.GroupID = ''G01'' AND (AT9000.CreditAccountID = AT1005.AccountID OR AT9000.DebitAccountID = AT1005.AccountID))
				'
END 
--PRINT @sSQL
--PRINT @sSQL1

IF NOT EXISTS (SELECT TOP 1 1 FROM SYSOBJECTS WITH (NOLOCK) WHERE  NAME = 'AV7512' AND XTYPE = 'V')
    EXEC ('  CREATE VIEW AV7512 AS ' + @sSQL+@sSQL1)
ELSE
    EXEC ('  ALTER VIEW AV7512  AS ' + @sSQL+@sSQL1)

IF @BankAccountID = '%'
BEGIN 
	IF EXISTS (SELECT TOP 1 1 FROM AV7512)
	BEGIN
		SET @SSQL = 'SELECT * FROM AV7512 '
		SET @sSQL1 = ''
	END
	ELSE
	BEGIN
		SET @SSQL = 'SELECT TransactionTypeID, 
					TransactionID,
					BatchID, 
					VoucherID,		
					TranMonth, 
					TranYear, 
					N''' + @DivisionID + ''' AS DivisionID,
					VoucherNo,
					--VoucherDate,	
					Convert(DateTime,'''') AS VoucherDate,
					VoucherTypeID,
					DebitVoucherNo,
					CreditVoucherNo,
					Ana01ID,
					Ana02ID,
					Ana03ID,
					Ana04ID,
					Ana05ID,
					Ana06ID,
					Ana07ID,
					Ana08ID,
					Ana09ID,
					Ana10ID,
					Ana01Name,
					Ana02Name,
					Ana03Name,
					Ana04Name,
					Ana05Name,
					Ana06Name,
					Ana07Name,
					Ana08Name,
					Ana09Name,
					Ana10Name,
					ObjectID,
					ObjectName,	
					Serial, 
					InvoiceNo, 
					InvoiceDate,
					DebitAccountID, 
					CreditAccountID,
					CurrencyID, 
					ExchangeRate,
					AccountID,
					BankAccountID,
					BankAccountNo,
					BankName,
					RelationAccountID,
					DebitOriginalAmount,
					CreditOriginalAmount,
					DebitConvertedAmount,
					CreditConvertedAmount,
					VDescription, 
					BDescription, 
					TDescription,
					BegOriginalAmount,
					BegConvertedAmount,
					CreateDate,
					Orders,
					ReVoucherNo,
					[RefNo01],[RefNo02],
					Parameter01, Parameter02, Parameter03, Parameter04, Parameter05,
					Parameter06, Parameter07, Parameter08, Parameter09, Parameter10,IsWithhodingTax,
					ObjectNote, ObjectBankAccountNo, ObjectBankName,
					SenderReceiver ,SRDivisionName
					FROM AV7512
	'

	SET @sSQL1 = '				
			UNION

			SELECT 	Null AS TransactionTypeID, 
					Null AS TransactionID,
					Null AS BatchID, 
					Null AS VoucherID,		
					Null AS TranMonth, 
					Null AS TranYear, 
					N''' + @DivisionID + ''' AS DivisionID,
					Null AS VoucherNo,
					--Null AS VoucherDate,	
					Convert(DateTime,'''') AS VoucherDate,
					Null AS VoucherTypeID,
					Null  AS DebitVoucherNo,
					Null AS CreditVoucherNo,
					Null as	Ana01ID,
					Null as	Ana02ID,
					Null as	Ana03ID,
					Null as	Ana04ID,
					Null as	Ana05ID,
					Null as	Ana06ID,
					Null as	Ana07ID,
					Null as	Ana08ID,
					Null as	Ana09ID,
					Null as	Ana10ID,
					Null as Ana01Name,
					Null as Ana02Name,
					Null as Ana03Name,
					Null as Ana04Name,
					Null as Ana05Name,
					Null as Ana06Name,
					Null as Ana07Name,
					Null as Ana08Name,
					Null as Ana09Name,
					Null as Ana10Name,
					Null AS ObjectID,
					Null AS ObjectName,	
					Null AS Serial, 
					Null AS InvoiceNo, 
					Null AS InvoiceDate,
					Null AS DebitAccountID, 
					Null AS CreditAccountID,
					A16.CurrencyID AS CurrencyID, 
					Null AS ExchangeRate,
					A16.AccountID AS AccountID,
					BG.BankAccountID AS BankAccountID,
					A16.BankAccountNo AS BankAccountNo,
					A16.BankName AS BankName,
					Null AS RelationAccountID,
					0 AS DebitOriginalAmount,
					0 AS  CreditOriginalAmount,
					0 AS DebitConvertedAmount,
					0 AS CreditConvertedAmount,
					'''' AS VDescription, 
					'''' AS BDescription, 
					'''' AS TDescription,
					ISNULL(BG.StartOriginalAmount,0) AS BegOriginalAmount,
					ISNULL(BG.StartConvertedAmount,0) AS BegConvertedAmount,
					Null AS CreateDate,
					0 AS Orders,
					'''' AS ReVoucherNo
					,'''' AS [RefNo01], '''' AS [RefNo02],
					Null as Parameter01, Null as Parameter02, Null as Parameter03, Null as Parameter04, Null as Parameter05,
					Null as Parameter06, Null as Parameter07, Null as Parameter08, Null as Parameter09, Null as Parameter10,0 IsWithhodingTax,
					Null as ObjectNote, Null as ObjectBankAccountNo, Null as ObjectBankName,
					NULL AS SenderReceiver , NULL AS SRDivisionName
			FROM AT75120 BG
			LEFT JOIN AT10160 A16 ON BG.BankAccountID = A16.BankAccountID
			WHERE BG.BankAccountID NOT IN (SELECT DISTINCT AccountID FROM AV7512)'
	END

END 
ELSE 
BEGIN


	IF EXISTS (SELECT TOP 1 1 FROM AV7512)
	BEGIN
		SET @SSQL = 'SELECT * FROM AV7512 '
		SET @sSQL1 = ''
	END
	ELSE
	BEGIN

		SET @sSQL = '
			SELECT 	Null AS TransactionTypeID, 
					Null AS TransactionID,
					Null AS BatchID, 
					Null AS VoucherID,		
					Null AS TranMonth, 
					Null AS TranYear, 
					N''' + @DivisionID + ''' AS DivisionID,
					Null AS VoucherNo,
					--Null AS VoucherDate,	
					Convert(DateTime,'''') AS VoucherDate,
					Null AS VoucherTypeID,
					Null  AS DebitVoucherNo,
					Null AS CreditVoucherNo,
					Null as	Ana01ID,
					Null as	Ana02ID,
					Null as	Ana03ID,
					Null as	Ana04ID,
					Null as	Ana05ID,
					Null as	Ana06ID,
					Null as	Ana07ID,
					Null as	Ana08ID,
					Null as	Ana09ID,
					Null as	Ana10ID,
					Null as Ana01Name,
					Null as Ana02Name,
					Null as Ana03Name,
					Null as Ana04Name,
					Null as Ana05Name,
					Null as Ana06Name,
					Null as Ana07Name,
					Null as Ana08Name,
					Null as Ana09Name,
					Null as Ana10Name,
					Null AS ObjectID,
					Null AS ObjectName,	
					Null AS Serial, 
					Null AS InvoiceNo, 
					Null AS InvoiceDate,
					Null AS DebitAccountID, 
					Null AS CreditAccountID,
					N''' + @CurrencyID + ''' AS CurrencyID, 
					Null AS ExchangeRate,
					N''' + @AccountID + ''' AS AccountID,
					N''' + @BankAccountID + ''' AS BankAccountID,
					N''' + @BankAccountNo + ''' AS BankAccountNo,
					N''' + @BankName + ''' AS BankName,
					Null AS RelationAccountID,
					0 AS DebitOriginalAmount,
					0 AS  CreditOriginalAmount,
					0 AS DebitConvertedAmount,
					0 AS CreditConvertedAmount,
					'''' AS VDescription, 
					'''' AS BDescription, 
					'''' AS TDescription,
					' + STR(ISNULL(@BegOriginalAmount, 0), 28, 4) + ' AS BegOriginalAmount,
					' + STR(ISNULL(@BegConvertedAmount, 0), 28, 4) + ' AS BegConvertedAmount,
					Null AS CreateDate,
					0 AS Orders,
					'''' AS ReVoucherNo
					,'''' AS [RefNo01], '''' AS [RefNo02],
					Null as Parameter01, Null as Parameter02, Null as Parameter03, Null as Parameter04, Null as Parameter05,
					Null as Parameter06, Null as Parameter07, Null as Parameter08, Null as Parameter09, Null as Parameter10,0 IsWithhodingTax,
					Null as ObjectNote, Null as ObjectBankAccountNo, Null as ObjectBankName,
					Null as SenderReceiver, Null as SRDivisionName'
		SET @sSQL1 = ''
	
	END
END				 
 
--PRINT @sSQL

IF NOT EXISTS (SELECT TOP 1 1 FROM   SYSOBJECTS WITH (NOLOCK) WHERE Name = 'AV7502' AND XTYPE = 'V')
    EXEC ('  CREATE VIEW AV7502 AS ' + @sSQL+@sSQL1)
ELSE
    EXEC ('  ALTER VIEW AV7502  AS ' + @sSQL+@sSQL1)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
