IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7600_TIENTIEN]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP7600_TIENTIEN]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

------	Xu ly so lieu; tinh toan len bang ke qua kinh doanh; phan lai+lo. 
------ 	Duoc goi tu AP7604
------ 	Created by Nguyễn Văn Tài on 25/11/2020
---- Modified on 27/10/2020 by [Văn Tài] : Sửa lỗi param Division.

CREATE PROCEDURE [dbo].[AP7600_TIENTIEN]
						@DivisionID AS NVARCHAR(50),
						@AccountIDFrom AS NVARCHAR(50),
						@AccountIDTo AS NVARCHAR(50),
						@CorAccountIDFrom AS NVARCHAR(50),
						@CorAccountIDTo AS NVARCHAR(50),
						@TranMonthFrom AS INT,
						@TranYearFrom AS INT,
						@TranMonthTo AS INT,
						@TranYearTo AS INT,
						@TypeID AS NVARCHAR(50),
						@OutputAmount AS DECIMAL(28, 8) OUTPUT,
						@OutputAmount2 AS DECIMAL(28, 8) OUTPUT,
						@StrDivisionID AS NVARCHAR(4000) = '',
						@ReportDate AS DATETIME = NULL
AS
---- Note  		@TypeID ='BD'  		So du  No
---- Note  		@TypeID ='BC'  			So du  Co
-----			@TypeID ='PD'  		So phat sinh No
-----			@TypeID ='PC'  			So phat sinh Co
		
DECLARE @PeriodFrom INT,
        @PeriodTo INT,
        @CorAccountIDFrom1 AS NVARCHAR(50),
        @CorAccountIDTo1 AS NVARCHAR(50),
        @Amount AS DECIMAL(28, 8),
        @Amount2 AS DECIMAL(28, 8),
        @CustomerName INT,
        @ReportDivisionID VARCHAR(50);

--------------->>>> Chuỗi DivisionID
DECLARE @StrDivisionID_New AS NVARCHAR(4000)
	
SELECT @StrDivisionID_New = CASE WHEN @StrDivisionID = '%' THEN ' LIKE ''' + 
@StrDivisionID + '''' ELSE ' IN (''' + replace(@StrDivisionID, ',',''',''') + ''')' END
		
DELETE FROM	A00007 WHERE SPID = @@SPID
INSERT INTO A00007(SPID, DivisionID) 
EXEC('SELECT '''+@@SPID+''', DivisionID FROM AT1101 WHERE DivisionID '+@StrDivisionID_New+'')

IF(@DivisionID <> 'AA')
BEGIN
	SET @ReportDivisionID = 'AAAAAAAAAA'
END
ELSE
BEGIN
	SET @ReportDivisionID  = @DivisionID
END

SET @PeriodFrom = @TranYearFrom*100+@TranMonthFrom
SET @PeriodTo = @TranYearTo*100+@TranMonthTo

SET @CorAccountIDFrom1 = @CorAccountIDFrom;
SET @CorAccountIDTo1 = @CorAccountIDTo;
IF (@CorAccountIDTo1 = '' OR @CorAccountIDTo1 IS NULL)
    SET @CorAccountIDTo1 = @CorAccountIDFrom1;

SET @Amount = 0;
SET @Amount2 = 0;

BEGIN
	IF @TypeID in ( 'BD', 'BC')  	----- Lay so du No hoac so du Co
		BEGIN
		IF (@CorAccountIDFrom1 ='%' OR @CorAccountIDFrom1 ='' OR @CorAccountIDFrom1 IS NULL)
			BEGIN
				SELECT @Amount = SUM(V01.ConvertedAmount * ISNULL(AT1012.ExchangeRate, 1))
				FROM AV4201 AS V01
				LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = V01.DivisionID
				LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID
												AND AT1012.DivisionID = @ReportDivisionID
												AND AT1012.ExchangeDate = @ReportDate
				WHERE (V01.DivisionID IN (
											 SELECT DivisionID FROM A00007 WHERE SPID = @@SPID
										 )
					  )
					  AND
					  (
						  V01.AccountID >= @AccountIDFrom
						  AND V01.AccountID <= @AccountIDTo
					  )
					  AND
					  (
						  V01.TransactionTypeID = 'T00'
						  OR (V01.TranYear * 100 + V01.TranMonth <= @PeriodTo)
					  );
			END
		ELSE
			BEGIN
				SELECT @Amount = SUM(V01.ConvertedAmount * ISNULL(AT1012.ExchangeRate, 1))
				FROM AV4201 AS V01
				LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = V01.DivisionID
				LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID
												AND AT1012.DivisionID = @ReportDivisionID
												AND AT1012.ExchangeDate = @ReportDate
				WHERE (V01.DivisionID IN (
											 SELECT DivisionID FROM A00007 WHERE SPID = @@SPID
										 )
					  )
					  AND
					  (
						  V01.AccountID >= @AccountIDFrom
						  AND V01.AccountID <= @AccountIDTo
					  )
					  AND
					  (
						  V01.TransactionTypeID = 'T00'
						  OR (V01.TranYear * 100 + V01.TranMonth <= @PeriodTo)
					  )
					  AND
					  (
						  V01.CorAccountID >= @CorAccountIDFrom1
						  AND V01.CorAccountID <= @CorAccountIDTo1
					  );
			END

		If @TypeID ='BC' 
			Set 	@Amount = @Amount*(-1)

		GOTO RETURN_VALUES
		END


	IF @TypeID = 'PD'  		-------Lay so phat sinh No
		BEGIN
		IF (@CorAccountIDFrom1 ='%' OR @CorAccountIDFrom1 ='' OR @CorAccountIDFrom1 IS NULL)
			BEGIN
				SELECT @Amount = SUM(V01.ConvertedAmount * ISNULL(AT1012.ExchangeRate, 1))
				FROM AV4201 AS V01
				LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = V01.DivisionID
				LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID
												AND AT1012.DivisionID = @ReportDivisionID
												AND AT1012.ExchangeDate = @ReportDate
				WHERE (V01.DivisionID IN (
											 SELECT DivisionID FROM A00007 WHERE SPID = @@SPID
										 )
					  )
					  AND (V01.TransactionTypeID <> 'T00')
					  AND
					  (
						  V01.AccountID >= @AccountIDFrom
						  AND V01.AccountID <= @AccountIDTo
					  )
					  AND
					  (
						  V01.TranYear * 100 + V01.TranMonth >= @PeriodFrom
						  AND V01.TranYear * 100 + V01.TranMonth <= @PeriodTo
					  )
					  AND (V01.D_C = 'D');
			END
		ELSE
			BEGIN
			SELECT @Amount = SUM(V01.ConvertedAmount * ISNULL(AT1012.ExchangeRate, 1))
			FROM AV4201 AS V01
			LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = V01.DivisionID
			LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID
											AND AT1012.DivisionID = @ReportDivisionID
											AND AT1012.ExchangeDate = @ReportDate
			WHERE (V01.DivisionID IN (
										 SELECT DivisionID FROM A00007 WHERE SPID = @@SPID
									 )
				  )
				  AND (V01.TransactionTypeID <> 'T00')
				  AND
				  (
					  V01.AccountID >= @AccountIDFrom
					  AND V01.AccountID <= @AccountIDTo
				  )
				  AND
				  (
					  V01.TranYear * 100 + V01.TranMonth >= @PeriodFrom
					  AND V01.TranYear * 100 + V01.TranMonth <= @PeriodTo
				  )
				  AND (V01.D_C = 'D')
				  AND
				  (
					  V01.CorAccountID >= @CorAccountIDFrom1
					  AND V01.CorAccountID <= @CorAccountIDTo1
				  );
			END
		GOTO RETURN_VALUES
		END

	IF @TypeID = 'PC'  		------ Lay so phat sinh co
		BEGIN
		IF (@CorAccountIDFrom1 ='%' OR @CorAccountIDFrom1 ='' OR @CorAccountIDFrom1 IS NULL)
			BEGIN
				SELECT @Amount = SUM(V01.ConvertedAmount * ISNULL(AT1012.ExchangeRate, 1))
				FROM AV4201 AS V01
				LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = V01.DivisionID
				LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID
												AND AT1012.DivisionID = @ReportDivisionID
												AND AT1012.ExchangeDate = @ReportDate
				WHERE (V01.DivisionID IN (
											 SELECT DivisionID FROM A00007 WHERE SPID = @@SPID
										 )
					  )
					  AND (V01.TransactionTypeID <> 'T00')
					  AND
					  (
						  V01.AccountID >= @AccountIDFrom
						  AND V01.AccountID <= @AccountIDTo
					  )
					  AND
					  (
						  V01.TranYear * 100 + V01.TranMonth >= @PeriodFrom
						  AND V01.TranYear * 100 + V01.TranMonth <= @PeriodTo
					  )
					  AND (V01.D_C = 'C');
			END
		ELSE
			BEGIN
				SELECT @Amount = SUM(V01.ConvertedAmount * ISNULL(AT1012.ExchangeRate, 1))
				FROM AV4201 AS V01
				LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = V01.DivisionID
				LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID
												AND AT1012.DivisionID = @ReportDivisionID
												AND AT1012.ExchangeDate = @ReportDate
				WHERE (V01.DivisionID IN (
											 SELECT DivisionID FROM A00007 WHERE SPID = @@SPID
										 )
					  )
					  AND (V01.TransactionTypeID <> 'T00')
					  AND
					  (
						  V01.AccountID >= @AccountIDFrom
						  AND V01.AccountID <= @AccountIDTo
					  )
					  AND
					  (
						  V01.TranYear * 100 + V01.TranMonth >= @PeriodFrom
						  AND V01.TranYear * 100 + V01.TranMonth <= @PeriodTo
					  )
					  AND (V01.D_C = 'C')
					  AND
					  (
						  V01.CorAccountID >= @CorAccountIDFrom1
						  AND V01.CorAccountID <= @CorAccountIDTo1
					  );
			END
		Set @Amount = @Amount*(-1)

	GOTO RETURN_VALUES
	END	
END

RETURN_VALUES:
SET @OutputAmount = @Amount
SET @OutputAmount2 = @Amount2
RETURN


DELETE FROM	A00007 WHERE SPID = @@SPID


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

