IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7604_TIENTIEN]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP7604_TIENTIEN]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

--------Xu ly in Bang ket qua kinh doanh: Phan I, Lo; Lai
------- Created by Nguyễn Văn Tài, Date 25/11/2020
---- Modified on 01/04/2021 by Huỳnh Thử  :	Customize [TIENTIEN] -- print nhiều DivisionID



CREATE PROCEDURE [dbo].[AP7604_TIENTIEN]
			@DivisionID AS nvarchar(50),
			@TranMonthFrom AS INT,
			@TranYearFrom AS INT,
			@TranMonthTo AS INT,
			@TranYearTo AS INT,
			@ReportCode AS nvarchar(50),
			@AmountUnit AS TINYINT,
			@StrDivisionID AS NVARCHAR(4000) = '',
			@Mode As TINYINT = 0, --Mode = 0: Lấy dữ liệu kỳ trước là kỳ liền kề, Mode = 1 Lấy dữ liệu kỳ trước là cùng kỳ năm trước
			@ReportDate AS DATETIME = NULL
AS

DECLARE @LastTranMonthFrom AS INT,
        @LastTranYearFrom AS INT,
        @LastTranMonthTo AS INT,
        @LastTranYearTo AS INT,
        @TranBack1YearFrom AS INT,
        @TranBack1YearTo AS INT,
        @ConvertAmountUnit AS DECIMAL(28, 8),
        @D90T4222Cursor AS CURSOR,
        @LineCode AS NVARCHAR(50),
        @LineDescription AS NVARCHAR(250),
        @LineDescriptionE AS NVARCHAR(250),
        @AccountIDFrom AS NVARCHAR(50),
        @AccountIDTo AS NVARCHAR(50),
        @CorAccountIDFrom AS NVARCHAR(50),
        @CorAccountIDTo AS NVARCHAR(50),
        @AmountSign AS TINYINT,
        @D_C AS TINYINT,
        @AccuSign AS NVARCHAR(5),
        @Accumulator AS NVARCHAR(100),
        @PrintStatus AS TINYINT,
        @PrintCode AS NVARCHAR(50),
        @Level1 AS TINYINT,
        @Notes AS NVARCHAR(50),
        @Space AS INT,
        @DisplayedMark AS TINYINT,
        @CustomerName INT,
		@DivisionIDCur NVARCHAR(50)


DELETE AT7604 
--WHERE DivisionID = @DivisionID  ---

SET @CustomerName = (SELECT TOP 1 CustomerName FROM CustomerIndex) 

SET @TranBack1YearFrom = @TranYearFrom - 1
SET @TranBack1YearTo = @TranYearTo - 1

DECLARE @StrDivisionID_New AS NVARCHAR(4000)
SELECT @StrDivisionID_New = CASE WHEN @StrDivisionID = '%' THEN ' LIKE ''' + 
@StrDivisionID + '''' ELSE ' IN (''' + REPLACE(@StrDivisionID, ',',''',''') + ''')' END
    

DELETE FROM	A00007 WHERE SPID = @@SPID
INSERT INTO A00007(SPID, DivisionID) 
EXEC('SELECT '''+@@SPID+''', DivisionID FROM AT1101 WHERE DivisionID '+@StrDivisionID_New+'')

IF @Mode = 0 
	BEGIN
			IF @TranMonthFrom > 1
				BEGIN	---- Thang truoc do; nam cua ky truoc do
				SET @LastTranMonthTo = @TranMonthFrom -1
				SET @LastTranYearTo = @TranYearFrom
				END
			ELSE
				BEGIN
				SET @LastTranMonthTo = 12
				SET @LastTranYearTo = @TranYearFrom -1
				END
			
			SET @Space =(@TranMonthTo+@TranYearTo*12) -  (@TranMonthFrom+@TranYearFrom*12)
			
			SET @Space=(@LastTranMonthTo+12*@LastTranYearTo)-@Space
			---Print str(@Space)
			If @Space%12 =0 
			BEGIN
				SET @LastTranYearFrom = @Space/12 -1
				SET @LastTranMonthFrom= CASE @TranMonthTo WHEN 13 THEN 1 ELSE 12 END
			END
			ELSE
			BEGIN
				SET @LastTranYearFrom = @Space/12
				SET @LastTranMonthFrom = @Space%12
			END

	END
ELSE
	BEGIN	-- Lấy trước đó 1 năm
		SET @LastTranMonthTo = @TranMonthTo
		SET @LastTranYearTo = @TranYearTo - 1
		SET @LastTranMonthFrom = @TranMonthFrom
		SET @LastTranYearFrom = @TranYearFrom - 1

	END

Print ' Tu: '+str(@LastTranMonthFrom)+'/'+str(@LastTranYearFrom)+ ' den: '+str(@LastTranMonthTo) + '/'+str(@LastTranYearTo)

IF @AmountUnit = 1 SET @ConvertAmountUnit = 1
IF @AmountUnit = 2 SET @ConvertAmountUnit = 10
IF @AmountUnit = 3 SET @ConvertAmountUnit = 100
IF @AmountUnit = 4 SET @ConvertAmountUnit = 1000
IF @AmountUnit = 5 SET @ConvertAmountUnit = 10000
IF @AmountUnit = 6 SET @ConvertAmountUnit = 100000
IF @AmountUnit = 7 SET @ConvertAmountUnit = 1000000

DECLARE @Amount1 AS DECIMAL(28,8),		
		@Amount2 AS DECIMAL(28,8),		
		@Amount3 AS DECIMAL(28,8),		
		@Amount10 AS DECIMAL(28,8),
		@Amount11 AS DECIMAL(28,8),
		@Amount1A AS DECIMAL(28,8),	
		@Amount2A AS DECIMAL(28,8),	
		@Amount3A AS DECIMAL(28,8),	
		@Amount10A AS DECIMAL(28,8),
		@Amount11A AS DECIMAL(28,8)
	
SET @D90T4222Cursor = CURSOR SCROLL KEYSET FOR
	SELECT	T22.DivisionID,
			T22.LineCode
			, T22.LineDescription
			, T22.LineDescriptionE
			, T22.PrintStatus
			, T22.AccuSign
			, T22.Accumulator
			, T22.PrintCode
			, T22.Level1
			, T22.Notes
			, T22.DisplayedMark
	FROM	AT7602 AS T22
	WHERE	T22.ReportCode = @ReportCode AND
			T22.Type = '01'		-- Part I of the report
			and DivisionID  IN (SELECT DivisionID FROM A00007 WHERE SPID = @@SPID)
OPEN @D90T4222Cursor
FETCH NEXT FROM @D90T4222Cursor INTO
			@DivisionIDCur
			, @LineCode
			, @LineDescription
			, @LineDescriptionE
			, @PrintStatus
			, @AccuSign
			, @Accumulator
			, @PrintCode
			, @Level1
			, @Notes
			, @DisplayedMark
WHILE @@FETCH_STATUS = 0
    BEGIN
	
	INSERT INTO AT7604
	(
		DivisionID,
		LineCode,
		LineDescription,
		LineDescriptionE,
		PrintStatus,
		Amount1,
		Amount2,
		Amount3,
		AccuSign,
		Accumulator,
		PrintCode,
		Level1,
		Notes,
		DisplayedMark
	)
	VALUES
	(
		@DivisionIDCur
		, @LineCode
		, @LineDescription
		, @LineDescriptionE
		, @PrintStatus
		, 0
		, 0
		, 0
		, @AccuSign
		, @Accumulator
		, @PrintCode
		, ISNULL(@Level1, 3)
		, @Notes
		, @DisplayedMark
	);

	FETCH NEXT FROM @D90T4222Cursor
	INTO @DivisionIDCur,
		 @LineCode,
		 @LineDescription,
		 @LineDescriptionE,
		 @PrintStatus,
		 @AccuSign,
		 @Accumulator,
		 @PrintCode,
		 @Level1,
		 @Notes,
		 @DisplayedMark;

    END
CLOSE @D90T4222Cursor
DEALLOCATE @D90T4222Cursor

SET @DivisionIDCur = ''
SET @D90T4222Cursor = CURSOR SCROLL KEYSET FOR
	SELECT T22.DivisionID,
	   T22.LineCode,
       T22.AccountIDFrom,
       T22.AccountIDTo,
       T22.CorAccountIDFrom,
       T22.CorAccountIDTo,
       T22.D_C,
       T22.AmountSign,
       T22.AccuSign,
       T22.Accumulator
	FROM AT7602 AS T22
	WHERE T22.ReportCode = @ReportCode
		  AND T22.Type = '01' -- Part I of the report
		  AND DivisionID IN (SELECT DivisionID FROM A00007 WHERE SPID = @@SPID)
OPEN @D90T4222Cursor
FETCH NEXT FROM @D90T4222Cursor INTO
			@DivisionIDCur, @LineCode,		@AccountIDFrom,	@AccountIDTo,		@CorAccountIDFrom,	
			@CorAccountIDTo,	@D_C,			@AmountSign,		@AccuSign,
			@Accumulator
WHILE @@FETCH_STATUS = 0
    BEGIN
	SET @Amount1 = 0
	SET @Amount2 = 0
	SET @Amount3 = 0
	SET @Amount10 = 0
	SET @Amount11 = 0
	SET @Amount1A = 0
	SET @Amount2A = 0
	SET @Amount3A = 0
	SET @Amount10A = 0
	SET @Amount11A = 0
	
	IF @AmountSign = 0 
	    BEGIN
				---- Chi lay Luy ke phat sinh Co	
			EXEC AP7603_TIENTIEN @DivisionIDCur
								, @AccountIDFrom
								, @AccountIDTo
								, @CorAccountIDFrom
								, @CorAccountIDTo
								, @TranMonthFrom
								, @TranYearFrom
								, @TranMonthTo
								, @TranYearTo
								, 5
								, @D_C
								, @OutputAmount = @Amount1 OUTPUT
								, @OutputAmount2 = @Amount1A OUTPUT
								, @StrDivisionID = @DivisionIDCur
								, @ReportDate = @ReportDate;			

			EXEC AP7603_TIENTIEN @DivisionIDCur
								, @AccountIDFrom
								, @AccountIDTo
								, @CorAccountIDFrom
								, @CorAccountIDTo
								, @LastTranMonthFrom
								, @LastTranYearFrom
								, @LastTranMonthTo
								, @LastTranYearTo
								, 5
								, @D_C
								, @OutputAmount = @Amount2 OUTPUT
								, @OutputAmount2 = @Amount2A OUTPUT
								, @StrDivisionID = @DivisionIDCur
								, @ReportDate = @ReportDate;		
										
			EXEC AP7603_TIENTIEN @DivisionIDCur
								, @AccountIDFrom
								, @AccountIDTo
								, @CorAccountIDFrom
								, @CorAccountIDTo
								, 1
								, @TranYearFrom
								, @TranMonthTo
								, @TranYearTo
								, 5
								, @D_C
								, @OutputAmount = @Amount3 OUTPUT
								, @OutputAmount2 = @Amount3A OUTPUT
								, @StrDivisionID = @DivisionIDCur
								, @ReportDate = @ReportDate;	
	    END

	
	IF @AmountSign = 1 
	    BEGIN	---- Chi lay luy  ke phat sinh No
	    	
			EXEC AP7603_TIENTIEN @DivisionIDCur
									, @AccountIDFrom
									, @AccountIDTo
									, @CorAccountIDFrom
									, @CorAccountIDTo
									, @TranMonthFrom
									, @TranYearFrom
									, @TranMonthTo
									, @TranYearTo
									, 4
									, @D_C
									, @OutputAmount = @Amount1 OUTPUT
									, @OutputAmount2 = @Amount1A OUTPUT
									, @StrDivisionID = @DivisionIDCur
									, @ReportDate = @ReportDate;	

			EXEC AP7603_TIENTIEN @DivisionIDCur
									, @AccountIDFrom
									, @AccountIDTo
									, @CorAccountIDFrom
									, @CorAccountIDTo
									, @LastTranMonthFrom
									, @LastTranYearFrom
									, @LastTranMonthTo
									, @LastTranYearTo
									, 4
									, @D_C
									, @OutputAmount = @Amount2 OUTPUT
									, @OutputAmount2 = @Amount2A OUTPUT
									, @StrDivisionID = @DivisionIDCur
									, @ReportDate = @ReportDate;	

			EXEC AP7603_TIENTIEN @DivisionIDCur
									, @AccountIDFrom
									, @AccountIDTo
									, @CorAccountIDFrom
									, @CorAccountIDTo
									, 1
									, @TranYearFrom
									, @TranMonthTo
									, @TranYearTo
									, 4
									, @D_C
									, @OutputAmount = @Amount3 OUTPUT
									, @OutputAmount2 = @Amount3A OUTPUT
									, @StrDivisionID = @DivisionIDCur
									, @ReportDate = @ReportDate;	
	    					
	    END

	IF @AmountSign = 2 ---- Ca hai
	    BEGIN	------ Lay so du
	    
			EXEC AP7603_TIENTIEN @DivisionIDCur
									, @AccountIDFrom
									, @AccountIDTo
									, @CorAccountIDFrom
									, @CorAccountIDTo
									, @TranMonthFrom
									, @TranYearFrom
									, @TranMonthTo
									, @TranYearTo
									, 3
									, @D_C
									, @OutputAmount = @Amount1 OUTPUT
									, @OutputAmount2 = @Amount1A OUTPUT
									, @StrDivisionID = @DivisionIDCur
									, @ReportDate = @ReportDate;

			EXEC AP7603_TIENTIEN @DivisionIDCur
									, @AccountIDFrom
									, @AccountIDTo
									, @CorAccountIDFrom
									, @CorAccountIDTo
									, @LastTranMonthFrom
									, @LastTranYearFrom
									, @LastTranMonthTo
									, @LastTranYearTo
									, 3
									, @D_C
									, @OutputAmount = @Amount2 OUTPUT
									, @OutputAmount2 = @Amount2A OUTPUT
									, @StrDivisionID = @DivisionIDCur
									, @ReportDate = @ReportDate;

			EXEC AP7603_TIENTIEN @DivisionIDCur
									, @AccountIDFrom
									, @AccountIDTo
									, @CorAccountIDFrom
									, @CorAccountIDTo
									, 1
									, @TranYearFrom
									, @TranMonthTo
									, @TranYearTo
									, 3
									, @D_C
									, @OutputAmount = @Amount3 OUTPUT
									, @OutputAmount2 = @Amount3A OUTPUT
									, @StrDivisionID = @DivisionIDCur   	
									, @ReportDate = @ReportDate;	
	    	
		END
	
		SET @Amount1 = @Amount1/@ConvertAmountUnit
		SET @Amount2 = @Amount2/@ConvertAmountUnit
		SET @Amount3 = @Amount3/@ConvertAmountUnit
		SET @Amount10 = @Amount10/@ConvertAmountUnit
		SET @Amount11 = @Amount11/@ConvertAmountUnit	

		IF (
			@Amount1 <> 0
			OR @Amount2 <> 0
			OR @Amount3 <> 0
			OR @Amount10 <> 0
			OR @Amount11 <> 0
		) ---- cap nhat vao bang luu ket qua
		EXEC AP7602 @DivisionIDCur,
					@ReportCode,
					@LineCode,
					@Amount1,
					@Amount2,
					@Amount3,
					@Amount10,
					@Amount11,
					@Amount2A,
					@Amount3A,
					@Amount10A,
					@Amount11A,
					'+',
					@LineCode;

	FETCH NEXT FROM @D90T4222Cursor INTO
			@DivisionIDCur, @LineCode,		@AccountIDFrom,	@AccountIDTo,		@CorAccountIDFrom,	
			@CorAccountIDTo,	@D_C,			@AmountSign,		@AccuSign,
			@Accumulator
    END

CLOSE @D90T4222Cursor
DELETE A00007 WHERE SPID = @@SPID
DEALLOCATE @D90T4222Cursor

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

