IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7604_SC]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP7604_SC]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



--------Xu ly in Bang ket qua kinh doanh: Phan I, Lo; Lai
------- Created by Nguyen Van Nhan, Date 12.09.2003
------Edit by Nguyen Quoc Huy, Date 28/11/2006

/**********************************************
** Edited by: [GS] [Cáº©m Loan] [30/07/2010]
					[HoÃ ng PhÆ°á»›c] [08/10/2010] sá»­a INSERT INTO AT7604_SC ( DivisionID
***********************************************/
--Last Edit by ThiÃªn Huá»³nh  on 21/06/2012: GÃ¡n láº¡i theo @AmountUnit
---- Modified on 22/10/2012 by Lê Thị Thu Hiền : Bổ sung in nhiều đơn vị
---- Modified on 27/11/2012 by Lê Thị Thu Hiền : In nhiều đơn vị bị trùng
---- Modified on 2015-04-15 by hoàng vũ : Bổ sung thêm dấu âm/dương hiển thị trên báo
---- Modified by on 24/08/2016 by Hoàng vũ : Customer cho secoin gọi ngầm xử lý báo cáo phân tích chỉ số tài chính

CREATE PROCEDURE [dbo].[AP7604_SC]
			@DivisionID AS nvarchar(50),
			@IsDate TINYINT, --0:Thang; 1:Quy; 2:Nam		
			@TranMonthFrom AS INT,
			@TranYearFrom AS INT,
			@TranMonthTo AS INT,
			@TranYearTo AS INT,
			@ReportCode AS nvarchar(50),
			@AmountUnit AS TINYINT,
			@StrDivisionID AS NVARCHAR(4000) = ''

AS

DECLARE @LastTranMonthFrom AS INT,
		@LastTranYearFrom AS INT,
		@LastTranMonthTo AS INT,
		@LastTranYearTo AS INT

DECLARE	@ConvertAmountUnit AS decimal(28,8)
DECLARE @D90T4222Cursor AS CURSOR,
		@LineCode AS nvarchar(50),
		@IsPeriodID tinyint,
		@PeriodID Varchar(50),
		@FromMonth          AS int ,
		@FromYear        AS int ,
		@ToMonth          AS int ,
		@ToYear         AS int ,
		@LineDescription AS nvarchar(250),
		@LineDescriptionE AS nvarchar(250),
		@AccountIDFrom AS nvarchar(50),
		@AccountIDTo AS nvarchar(50),
		@CorAccountIDFrom AS nvarchar(50),
		@CorAccountIDTo AS nvarchar(50),
		@AmountSign AS TINYINT,
		@D_C AS TINYINT,
		@AccuSign AS nvarchar(5),
		@Accumulator AS nvarchar(100),
		@PrintStatus AS TINYINT,
		@PrintCode AS nvarchar(50),
		@Level1 AS tinyint,
		@Notes AS nvarchar(50),
		@Space as int,
		@DisplayedMark      AS TINYINT 


	
	--WHERE DivisionID = @DivisionID  --- XoÂ¸ bÂ¶ng tÂ¹m chÃ¸a bÂ¸o cÂ¸o phÃ‡n lÂ·i lÃ§


---Print ' Tu: '+str(@LastTranMonthFrom)+'/'+str(@LastTranYearFrom)+ 'den: '+str(@LastTranMonthTo)+'/'+str(@LastTranYearTo)

IF @AmountUnit = 1 SET @ConvertAmountUnit = 1
IF @AmountUnit = 2 SET @ConvertAmountUnit = 10
IF @AmountUnit = 3 SET @ConvertAmountUnit = 100
IF @AmountUnit = 4 SET @ConvertAmountUnit = 1000
IF @AmountUnit = 5 SET @ConvertAmountUnit = 10000
IF @AmountUnit = 6 SET @ConvertAmountUnit = 100000
IF @AmountUnit = 7 SET @ConvertAmountUnit = 1000000

			Declare @CustomerName INT
			CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
			INSERT #CustomerName EXEC AP4444
			SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

			IF @CustomerName IN (43, 161) --Secoin, INNOTEK
			Begin

				-->Lấy dữ liệu tháng/Quý/Năm
							SELECT Isnull(T12.DivisionID, T13.DivisionID) as DivisionID, T12.LineCode,@IsDate as IsPeriodID,PeriodType,
								Period as PeriodID,FromMonth,FromYear,ToMonth,ToYear, T12.AccuSign, T12.PrintCode,T12.CorAccountIDFrom, T12.CorAccountIDTo, T12.AmountSign,
									   T12.LineDescription,T12.LineDescriptionE,T12.AccountIDFrom,T12.AccountIDTo,
									   T12.Type,T12.D_C,T12.Accumulator,T12.Level1,T12.PrintStatus,T12.Notes,T12.DisplayedMark
								Into #AT7604
							FROM   AT7602 AS T12 WITH (NOLOCK) Full join AV7931 T13 on T12.DivisionID = T13.DivisionID
							WHERE  T12.ReportCode = @ReportCode AND T12.DivisionID in (@StrDivisionID)
							 and T13.FromMonth = @TranMonthFrom and T13.FromYear = @TranYearFrom and T13.ToMonth = @TranMonthTo and T13.ToYear = @TranYearTo
				--Lấy dữ liệu tháng/Quý/Năm<--


				DECLARE @Amount1 AS decimal(28,8),		----- SÃ¨  kÃº trÂ­Ã­c
						@Amount2 AS decimal(28,8),		------ SÃ¨ kÃº nÂµy
						@Amount3 AS decimal(28,8)		------ LuÃ¼ kÃ• Â®Ã‡u nÂ¨m
	
				SET @D90T4222Cursor = CURSOR SCROLL KEYSET FOR
					SELECT	T22.DivisionID, T22.LineCode, IsPeriodID,PeriodID, FromMonth, FromYear, ToMonth, ToYear,
							T22.LineDescription,	T22.LineDescriptionE, 	T22.PrintStatus,		
							T22.AccuSign,	T22.Accumulator,		T22.PrintCode,			T22.Level1,			T22.Notes, T22.DisplayedMark
					FROM	#AT7604 AS T22
					Order by DivisionID, PeriodID, LineCode
				OPEN @D90T4222Cursor
				FETCH NEXT FROM @D90T4222Cursor INTO
							@DivisionID, @LineCode, @IsPeriodID, @PeriodID, @FromMonth, @FromYear, @ToMonth, @ToYear,
							@LineDescription,	@LineDescriptionE, 	@PrintStatus,		
							@AccuSign,	@Accumulator,		@PrintCode,			@Level1,			@Notes, @DisplayedMark

				WHILE @@FETCH_STATUS = 0
					BEGIN
	
					INSERT INTO AT7604_SC (
						DivisionID, LineCode, IsDate, PeriodID,		LineDescription,		LineDescriptionE,		PrintStatus, 		
						Amount1,	Amount2,  		Amount3,	
						AccuSign,	Accumulator,	PrintCode,				Level1,					Notes, DisplayedMark
						)
						VALUES (
						@DivisionID,@LineCode, @IsDate,	@PeriodID,	@LineDescription,	@LineDescriptionE, 		@PrintStatus,		
						0,			0,				0,
						@AccuSign,	@Accumulator,	@PrintCode,			isnull(@Level1,3),     @Notes, @DisplayedMark
						)     	

					FETCH NEXT FROM @D90T4222Cursor INTO
							@DivisionID, @LineCode, @IsPeriodID, @PeriodID, @FromMonth, @FromYear, @ToMonth, @ToYear,
							@LineDescription,	@LineDescriptionE, 	@PrintStatus,		
							@AccuSign,	@Accumulator,		@PrintCode,			@Level1,			@Notes, @DisplayedMark
					END
				CLOSE @D90T4222Cursor
				DEALLOCATE @D90T4222Cursor





				SET @D90T4222Cursor = CURSOR SCROLL KEYSET FOR
	
					SELECT	T22.DivisionID, T22.LineCode, IsPeriodID,PeriodID, FromMonth, FromYear, ToMonth, ToYear,
							T22.AccountIDFrom ,	T22.AccountIDTo,	T22.CorAccountIDFrom,
							T22.CorAccountIDTo,	T22.D_C,			T22.AmountSign,		T22.AccuSign,
							T22.Accumulator	
					FROM	#AT7604 AS T22

					Order by DivisionID, PeriodID, LineCode

				OPEN @D90T4222Cursor
				FETCH NEXT FROM @D90T4222Cursor INTO
							@DivisionID,@LineCode,	@IsPeriodID, @PeriodID, @FromMonth, @FromYear, @ToMonth, @ToYear,
							@AccountIDFrom,	@AccountIDTo,		@CorAccountIDFrom,	
							@CorAccountIDTo,	@D_C,			@AmountSign,		@AccuSign,
							@Accumulator
				WHILE @@FETCH_STATUS = 0
					BEGIN
					SET @Amount1 = 0
					SET @Amount2 = 0
					SET @Amount3 = 0
	

				--Suamoi
						IF @FromMonth > 1
							BEGIN	---- Thang truoc do; nam cua ky truoc do
							SET @LastTranMonthTo = @FromMonth -1
							SET @LastTranYearTo = @FromYear
							END
						ELSE
							BEGIN
							SET @LastTranMonthTo = 12
							SET @LastTranYearTo = @FromYear -1
							END
						------- Xac dinh ky truoc chÂ­a chÃnh xÂ¸c
						Set @Space =(@ToMonth+@ToYear*12) -  (@FromMonth+@FromYear*12)
						--Print ' KC :'+str(@Space)
						Set @Space=(@LastTranMonthTo+12*@LastTranYearTo)-@Space
						---Print str(@Space)
						If @Space%12 =0 
						Begin
							set @LastTranYearFrom = @Space/12 -1
							Set @LastTranMonthFrom=12
						End
						Else
						Begin
							set @LastTranYearFrom = @Space/12
							Set @LastTranMonthFrom=@Space%12
						End
				--Suamoi



					IF @AmountSign = 0 
						BEGIN
							---- Chi lay Luy ke phat sinh Co	
						EXEC AP7603_SC	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
									@LastTranMonthFrom, @LastTranYearFrom, @LastTranMonthTo, @LastTranYearTo, 
									5, @D_C, @OutputAmount = @Amount1 OUTPUT ,@StrDivisionID = @StrDivisionID	---- So sÃ¨ trÂ­Ã­c
						EXEC AP7603_SC	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
									@FromMonth, @FromYear, @ToMonth, @ToYear, 
									5, @D_C, @OutputAmount = @Amount2 OUTPUT ,@StrDivisionID = @StrDivisionID		---- SÃ¨ kÃº  nÂµy
									------ Luy ke tu dau nam
						EXEC AP7603_SC	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo,@CorAccountIDFrom, @CorAccountIDTo, 
									 1, @FromYear, @ToMonth, @ToYear, 
									5, @D_C, @OutputAmount = @Amount3 OUTPUT,@StrDivisionID = @StrDivisionID		----- LuÃ¼ kÃ• Â®Ã‡u nÂ¨m
						END

	
					IF @AmountSign = 1 
						BEGIN	---- Chi lay luy  ke phat sinh No
						--- Print @AccountIDFrom+ 'To '+ @AccountIDTo +' Cor '+@CorAccountIDFrom+@CorAccountIDTo+' @D_C ='+str(@D_C)
						EXEC AP7603_SC	 	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo , @CorAccountIDFrom , @CorAccountIDTo, 
									@LastTranMonthFrom, @LastTranYearFrom, @LastTranMonthTo, @LastTranYearTo, 
									4, @D_C , @OutputAmount = @Amount1 OUTPUT,@StrDivisionID = @StrDivisionID	
						EXEC AP7603_SC	 	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
									@FromMonth, @FromYear, @ToMonth, @ToYear, 
									 4, @D_C, @OutputAmount = @Amount2 OUTPUT,@StrDivisionID = @StrDivisionID	
						EXEC AP7603_SC	 	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
									1, @FromYear, @ToMonth, @ToYear, 
									4, @D_C, @OutputAmount = @Amount3 OUTPUT,@StrDivisionID = @StrDivisionID	
						END

					IF @AmountSign = 2 ---- Ca hai
						BEGIN	------ Lay so du
						EXEC AP7603_SC	 	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
									@LastTranMonthFrom, @LastTranYearFrom, @LastTranMonthTo, @LastTranYearTo, 
									3, @D_C, @OutputAmount = @Amount1 OUTPUT,@StrDivisionID = @StrDivisionID	
						EXEC AP7603_SC	 	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
									@FromMonth, @FromYear, @ToMonth, @ToYear,
									3, @D_C, @OutputAmount = @Amount2 OUTPUT,@StrDivisionID = @StrDivisionID	
						EXEC AP7603_SC	 	@DivisionID, @IsDate, @AccountIDFrom, @AccountIDTo, @CorAccountIDFrom, @CorAccountIDTo, 
									1, @FromYear, @ToMonth, @ToYear, 
									3, @D_C, @OutputAmount = @Amount3 OUTPUT,@StrDivisionID = @StrDivisionID	
						END

	
	
					SET @Amount1 = @Amount1/@ConvertAmountUnit
					SET @Amount2 = @Amount2/@ConvertAmountUnit
					SET @Amount3 = @Amount3/@ConvertAmountUnit

					IF (@Amount1<>0 OR @Amount2<>0 OR @Amount3<>0)  ---- cap nhat vao bang luu ket qua
						EXEC AP7602_SC @DivisionID, @IsDate, @PeriodID, @ReportCode, @LineCode, @Amount1, @Amount2, @Amount3, '+', @LineCode	

					FETCH NEXT FROM @D90T4222Cursor INTO
							@DivisionID,@LineCode,	@IsPeriodID, @PeriodID, @FromMonth, @FromYear, @ToMonth, @ToYear,
							@AccountIDFrom,	@AccountIDTo,		@CorAccountIDFrom,	
							@CorAccountIDTo,	@D_C,			@AmountSign,		@AccuSign,
							@Accumulator
					END

				CLOSE @D90T4222Cursor

				DEALLOCATE @D90T4222Cursor
		End

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

