IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7804]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP7804]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- Created by Nguyen Thi ThuyTuyen, Date 21/07/2006
----- Purpose: Lay du lieu in bao cao he so phan bo.
---- Modified by Tiểu Mai on 18/05/2017: Bổ sung WITH (NOLOCK) và chỉnh sửa danh mục dùng chung
/********************************************
'* Edited by: [GS] [Minh Lâm] [29/07/2010]
'********************************************/


CREATE PROCEDURE [dbo].[AP7804] ---	@DivisionID as nvarchar(20),
       @CoefficientID AS nvarchar(50)
AS
DECLARE @sSQL AS nvarchar(4000)
SET @sSQL = ' Select AT7804.DivisionID, DetailID, AT7803.CoefficientID,
	Description,
	AT7804.AnaID,
	AnaName,
	Covalues,
	AT7804.Notes
From AT7804 WITH (NOLOCK) 
	inner join AT7803 WITH (NOLOCK) on  AT7803.CoefficientID = AT7804.CoefficientID and AT7803.DivisionID = AT7804.DivisionID
	inner Join AT1011 WITH (NOLOCK) on	AT1011.AnaID = AT7804.AnaID
Where AT7803.CoefficientID = N''' + @CoefficientID + '''  AND AnaTypeID =''A01''
                          '
---Print @sSQL 

IF NOT EXISTS ( SELECT
                    1
                FROM
                    sysObjects
                WHERE
                    Xtype = 'V' AND Name = 'AV7804' )
   BEGIN
         EXEC ( ' Create view AV7804 as '+@sSQL ) ----tao boi AP7804----

   END
ELSE
   BEGIN
         EXEC ( ' Alter view AV7804 as '+@sSQL ) ----tao boi AP7804----
   END
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
