IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7801_AG]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP7801_AG]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Kết chuyển bút toán cuối kỳ. Customize ANGEL
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- ASOFT-T/Nghiệp vụ/Kết chuyển
---- Modified on 18/12/2017 by Bảo Anh: Sửa lỗi kết chuyển sai đối với bút toán PS có 627
---- Modified on 18/04/2018 by Bảo Anh: Lưu diễn giải hóa đơn và bút toán của phiếu kết chuyển theo diễn giải ở thiết lập kết chuyển
-- <History>
-- <Example>
----

CREATE PROCEDURE [dbo].AP7801_AG
       @DivisionID nvarchar(50) ,
       @TranMonth AS int ,
       @TranYear AS int ,
       @AllocationID AS nvarchar(50) ,
       @VoucherNo AS nvarchar(50) ,
       @VoucherDate AS nvarchar(50) ,
       @BDescription AS nvarchar(250) ,
       @VDescription AS nvarchar(250) ,
       @TDescription AS nvarchar(250) ,
       @CreateUserID AS nvarchar(50) ,
       @LastModifyUserID AS nvarchar(50) ,
       @Ana01ID AS nvarchar(50) ,
       @Ana02ID AS nvarchar(50) ,
       @Ana03ID AS nvarchar(50) ,
       @Ana04ID AS nvarchar(50) ,
       @Ana05ID AS nvarchar(50) ,
       @Ana06ID AS nvarchar(50) ,
       @Ana07ID AS nvarchar(50) ,
       @Ana08ID AS nvarchar(50) ,
       @Ana09ID AS nvarchar(50) ,
       @Ana10ID AS nvarchar(50) ,
       @DetailForObject AS bit = 0 ,
       @FilterObjectID AS nvarchar(4000) = ''
       
AS
SET NOCOUNT ON
DECLARE
        @AT7802Cursor AS cursor ,
        @SequenceDesc AS nvarchar(100) ,
        @SourceAccountIDFrom AS nvarchar(50) ,
        @SourceAccountIDTo AS nvarchar(50) ,
        @TargetAccountID AS nvarchar(50) ,
        @SourceAmountID AS tinyint ,
        @AllocationMode AS tinyint ,
        @Percentage AS decimal(28,8) ,
        @VoucherDateConv AS datetime,
        @VoucherTypeID AS nvarchar(50),
        @AnaTypeID AS NVARCHAR(50),
        @FromAnaID AS NVARCHAR(50),
        @ToAnaID AS NVARCHAR(50),
		@Cur1 AS cursor,
		@Cur2 AS cursor,
		@sSQL AS varchar(max),
		@AccountID AS nvarchar(50),
		@CorAccountID AS nvarchar(50),
		@ConvertedAmount AS decimal(28,8),
		@Delta AS decimal(28,8),
		@VoucherID AS nvarchar(50)

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[PS627]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
	DROP TABLE PS627

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[KC627]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
	DROP TABLE KC627

CREATE TABLE PS627 (AccountID nvarchar(50), CorAccountID nvarchar(50), ConvertedAmount decimal(28,8))

CREATE TABLE KC627 (DebitAccountID nvarchar(50), CreditAccountID nvarchar(50), CorAccountID nvarchar(50), ConvertedAmount decimal(28,8), SequenceDesc NVARCHAR(250))

IF EXISTS ( SELECT 1 FROM AT7802 WHERE AllocationID = @AllocationID )
BEGIN
         SET @AT7802Cursor = CURSOR SCROLL KEYSET FOR 
				SELECT            T2.SequenceDesc ,			---- Thu tu buoc thuc hien
                                  T2.SourceAccountIDFrom ,	---- Tu tai khoan nguon
                                  T2.SourceAccountIDTo ,	---- Den tai khoan nguon	
                                  T2.TargetAccountID ,		---- Tai khoan dich: can ket chuyen vao
                                  T2.SourceAmountID ,		---- So du No, So Du Co, So Lon hon		
                                  T2.AllocationMode ,		----- Ket chuyen so Trong Ky, Trong Nam, So du					
                                  T2.Percentage ,			---- Ty lap phan tram ket chuyen						
                                  T2.VoucherTypeID ,
                                  T2.SequenceDesc ,
                                  T2.SequenceDesc,
                                  CASE WHEN ISNULL(@Ana01ID,'') <> '' THEN @Ana01ID ELSE T2.Ana01ID END Ana01ID,
                                  CASE WHEN ISNULL(@Ana02ID,'') <> '' THEN @Ana02ID ELSE T2.Ana02ID END Ana02ID,
                                  CASE WHEN ISNULL(@Ana03ID,'') <> '' THEN @Ana03ID ELSE T2.Ana03ID END Ana03ID,
                                  CASE WHEN ISNULL(@Ana04ID,'') <> '' THEN @Ana04ID ELSE T2.Ana04ID END Ana04ID,
                                  CASE WHEN ISNULL(@Ana05ID,'') <> '' THEN @Ana05ID ELSE T2.Ana05ID END Ana05ID,
                                  CASE WHEN ISNULL(@Ana06ID,'') <> '' THEN @Ana06ID ELSE T2.Ana06ID END Ana06ID,
                                  CASE WHEN ISNULL(@Ana07ID,'') <> '' THEN @Ana07ID ELSE T2.Ana07ID END Ana07ID,
                                  CASE WHEN ISNULL(@Ana08ID,'') <> '' THEN @Ana08ID ELSE T2.Ana08ID END Ana08ID,
                                  CASE WHEN ISNULL(@Ana09ID,'') <> '' THEN @Ana09ID ELSE T2.Ana09ID END Ana09ID,
                                  CASE WHEN ISNULL(@Ana10ID,'') <> '' THEN @Ana10ID ELSE T2.Ana10ID END Ana10ID,
                                  T2.AnaTypeID,
                                  T2.FromAnaID,
                                  T2.ToAnaID                                  
                FROM		AT7802 AS T2 
                INNER JOIN	AT7801 AS T1
                    ON		T2.AllocationID = T1.AllocationID 
							AND T2.DivisionID = @DivisionID
                WHERE       T2.AllocationID = @AllocationID
				ORDER BY    T2.SequenceID

         OPEN @AT7802Cursor
         FETCH NEXT FROM @AT7802Cursor INTO @SequenceDesc,@SourceAccountIDFrom,@SourceAccountIDTo,@TargetAccountID,@SourceAmountID,@AllocationMode,@Percentage,@VoucherTypeID,@BDescription	,@TDescription, @Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID, @Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, @AnaTypeID, @FromAnaID, @ToAnaID
         WHILE @@FETCH_STATUS = 0
               BEGIN
					 SET @VoucherDateConv = CAST(@VoucherDate as datetime)

					 EXEC AP7802_AG @AllocationID , @DivisionID , @TranMonth , @TranYear , @VoucherTypeID , @VoucherNo , @VoucherDateConv , @VDescription , @BDescription , @TDescription , @SourceAccountIDFrom , @SourceAccountIDTo , @TargetAccountID , @SourceAmountID , @AllocationMode , @Percentage , @SequenceDesc , @CreateUserID , @LastModifyUserID , @Ana01ID , @Ana02ID , @Ana03ID , @Ana04ID , @Ana05ID , @Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, @DetailForObject , @FilterObjectID, @AnaTypeID, @FromAnaID, @ToAnaID

                     FETCH NEXT FROM @AT7802Cursor INTO @SequenceDesc,@SourceAccountIDFrom,@SourceAccountIDTo,@TargetAccountID,@SourceAmountID,@AllocationMode,@Percentage,@VoucherTypeID,@BDescription,@TDescription, @Ana01ID, @Ana02ID, @Ana03ID, @Ana04ID, @Ana05ID, @Ana06ID, @Ana07ID, @Ana08ID, @Ana09ID, @Ana10ID, @AnaTypeID, @FromAnaID, @ToAnaID

               END
         CLOSE @AT7802Cursor
         DEALLOCATE @AT7802Cursor
		 
		--- Insert dữ liệu cho bảng PS627 để thực hiện bước làm tròn đối với các bút toán kết chuyển 627
		INSERT INTO PS627 (AccountID, CorAccountID, ConvertedAmount)
		SELECT AccountID, CorAccountID, SUM(Case When D_C = 'D' then ConvertedAmount else -ConvertedAmount end) AS ConvertedAmount
		FROM AV4300
		WHERE ( TranYear * 12 + TranMonth ) >= @TranYear*12 + @TranMonth
		AND ( TranYear * 12 + TranMonth ) <= @TranYear*12 + @TranMonth
		AND Isnull(VoucherNo,'') <> @VoucherNo
		AND DivisionID = @DivisionID AND ISNULL(RefVoucherNo,'') <> 'T99' AND ISNULL(PeriodID,'') <> ''
		AND AccountID in ('62710','62720','62730','62740','62770','62780')
		Group by AccountID, CorAccountID

		--- làm tròn đối với kết chuyển 627
		SET @Cur1 = CURSOR SCROLL KEYSET FOR 
			SELECT AccountID, CorAccountID, ConvertedAmount
			FROM   PS627
			ORDER BY AccountID, CorAccountID
		OPEN @Cur1
		FETCH NEXT FROM @Cur1 INTO @AccountID,@CorAccountID,@ConvertedAmount
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF @ConvertedAmount >= 0
			BEGIN
				SET @Delta = @ConvertedAmount - ISNULL((SELECT SUM(ConvertedAmount) FROM KC627 WHERE CreditAccountID = @AccountID AND CorAccountID = @CorAccountID),0)
				IF @Delta <> 0
				BEGIN
					UPDATE KC627 SET ConvertedAmount = ConvertedAmount + @Delta
					WHERE DebitAccountID = (SELECT TOP 1 DebitAccountID FROM KC627 WHERE CreditAccountID = @AccountID AND CorAccountID = @CorAccountID ORDER BY ConvertedAmount DESC)
					AND CreditAccountID = @AccountID AND CorAccountID = @CorAccountID
				END
			END
			ELSE
			BEGIN
				SET @Delta = @ConvertedAmount - ISNULL((SELECT SUM(ConvertedAmount) FROM KC627 WHERE DebitAccountID = @AccountID AND CorAccountID = @CorAccountID),0)
				IF @Delta <> 0
				BEGIN
					UPDATE KC627 SET ConvertedAmount = ConvertedAmount + @Delta
					WHERE CreditAccountID = (SELECT TOP 1 CreditAccountID FROM KC627 WHERE DebitAccountID = @AccountID AND CorAccountID = @CorAccountID ORDER BY ConvertedAmount DESC)
					AND DebitAccountID = @AccountID AND CorAccountID = @CorAccountID
				END
			END			
			
			FETCH NEXT FROM @Cur1 INTO @AccountID,@CorAccountID,@ConvertedAmount
		END

		--- Insert bút toán kết chuyển 627
		SET @Cur2 = CURSOR SCROLL KEYSET FOR 
			SELECT DebitAccountID, CreditAccountID, SequenceDesc, ABS(SUM(ConvertedAmount)) AS ConvertedAmount
			FROM   KC627
			GROUP BY DebitAccountID, SequenceDesc, CreditAccountID
		OPEN @Cur2
		FETCH NEXT FROM @Cur2 INTO @AccountID,@CorAccountID,@SequenceDesc,@ConvertedAmount
		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @VoucherDateConv = CAST(@VoucherDate as datetime)
			--EXEC AP0000 @DivisionID, @VoucherID OUTPUT , 'AT9000' , 'AV' , @TranYear , '' , 15 , 3 , 0 , '-'
			SET @VoucherID = NEWID()
			EXEC AP7809 @DivisionID , @TranMonth , @TranYear , @VoucherID , @VoucherTypeID , @VoucherNo , @VoucherDateConv , @VDescription , @SequenceDesc , @SequenceDesc , @AccountID , @CorAccountID , @ConvertedAmount , @CreateUserID , @LastModifyUserID , @Ana01ID , @Ana02ID , @Ana03ID , @Ana04ID , @Ana05ID , @Ana06ID , @Ana07ID , @Ana08ID , @Ana09ID , @Ana10ID
			
			FETCH NEXT FROM @Cur2 INTO @AccountID,@CorAccountID,@SequenceDesc,@ConvertedAmount
		END
END

DROP TABLE PS627
DROP TABLE KC627
CLOSE @Cur1
DEALLOCATE @Cur1
CLOSE @Cur2
DEALLOCATE @Cur2

SET NOCOUNT OFF





GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
