IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7931]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP7931]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- <Summary>
--- Lấy thông tin Kỳ, quý, tháng, tổng số ngày tính toán cho báo cáo phân tích chỉ số tài chính (Secoin)
--- Customer cho secoin gọi ngầm xử lý báo cáo phân tích chỉ số tài chính
-- <Param>
----
-- <Return>
----
-- <Reference>
----
-- <History>
----Created by: Phan thanh hoang vu
----Create date: 21/07/2016
/*
	EXEC AP7931 'SC','SC',0,1,2015,12,2016
*/
 CREATE PROCEDURE AP7931 (
		 @DivisionID VARCHAR(50),
		 @StrDivisionID NVARCHAR(2000),
		 @IsDate TINYINT, --0:Thang; 1:Quy; 2:Nam
		 @TranMonthFrom INT,
		 @TranYearFrom INT,
		 @TranMonthTo INT,
		 @TranYearTo INT
		 )
AS
BEGIN
		Declare @CustomerName INT
		CREATE Table #CustomerName (CustomerName INT, ImportExcel int)
		INSERT #CustomerName EXEC AP4444
		SET @CustomerName = (SELECT TOP 1 CustomerName FROM #CustomerName)

		IF @CustomerName = 43 --Secoin
		Begin
				Declare @sql01 nvarchar(4000),
						@sql02 nvarchar(4000),
						@sql03 nvarchar(4000)
				IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[AV7931]'))
				DROP VIEW [dbo].[AV7931]
			
				Set @sql01 ='Select V.DivisionID, N''Tháng'' as PeriodType, V.MonthYear as Period, Month(Min(A.BeginDate)) as FromMonth, Year(Min(A.BeginDate)) as FromYear
							 , Month(Max(A.EndDate)) as ToMonth, Year(Max(A.EndDate)) as ToYear,DATEDIFF (day, Min(A.BeginDate), Max(A.EndDate) )+1 as TotalDay
							 , Min(A.BeginDate) as FromDate, Max(A.EndDate) as ToDate
						from AV9999 V inner join AT9999 A on V.DivisionID = A.DivisionID and V.TranMonth = A.TranMonth and V.TranYear = A.TranYear
						Where '+ Cast(@IsDate as varchar(2)) +'=0 and V.DivisionID in ('''+@StrDivisionID+''')
								and V.TranYear*100+V.TranMonth Between '+Cast(@TranYearFrom*100+@TranMonthFrom as varchar(10))+ ' and '+Cast(@TranYearTo*100+@TranMonthTo as varchar(10))+'
						Group by V.DivisionID,V.MonthYear
						Union all '
				Set @sql02 ='Select V.DivisionID,N''Quý'' as PeriodType, V.Quarter as Period, Month(Min(A.BeginDate)) as FromMonth, Year(Min(A.BeginDate)) as FromYear
										, Month(Max(A.EndDate)) as ToMonth, Year(Max(A.EndDate)) as ToYear
										,DATEDIFF (day, Min(A.BeginDate), Max(A.EndDate) )+1 as TotalDay
										, Min(A.BeginDate) as FromDate, Max(A.EndDate) as ToDate
						from AV9999 V inner join AT9999 A on V.DivisionID = A.DivisionID and V.TranMonth = A.TranMonth and V.TranYear = A.TranYear
					Where '+ Cast(@IsDate as varchar(2)) +'=1
								and V.DivisionID in ('''+@StrDivisionID+''')
								and V.TranYear*100+V.TranMonth Between '+Cast(@TranYearFrom*100+@TranMonthFrom as varchar(10))+ '
								and '+Cast(@TranYearTo*100+@TranMonthTo as varchar(10))+'
						Group by V.DivisionID,V.Quarter
						union all '
				Set @sql03 ='		Select V.DivisionID,N''Năm'' as PeriodType, Right(V.Quarter,4) as Period, 
										Month(Min(A.BeginDate)) as FromMonth, Year(Min(A.BeginDate)) as FromYear
										, Month(Max(A.EndDate)) as ToMonth, Year(Max(A.EndDate)) as ToYear
										, DATEDIFF (day, Min(A.BeginDate), Max(A.EndDate) )+1 as TotalDay
										, Min(A.BeginDate) as FromDate, Max(A.EndDate) as ToDate
						from AV9999 V inner join AT9999 A on V.DivisionID = A.DivisionID and V.TranMonth = A.TranMonth and V.TranYear = A.TranYear
						Where '+ Cast(@IsDate as varchar(2)) +'=2
								and V.DivisionID in ('''+@StrDivisionID+''')
								and V.TranYear*100+V.TranMonth Between '+Cast(@TranYearFrom*100+@TranMonthFrom as varchar(10))+ '
								and '+Cast(@TranYearTo*100+@TranMonthTo as varchar(10))+'
						Group by V.DivisionID,Right(V.Quarter,4) '
		
				Exec ('Create view AV7931 as '  + @sql01+@sql02+@sql03)
		End
END