IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP7901_TIENTIEN]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP7901_TIENTIEN]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



-- <Summary>
---- In bảng cân đối kế toán.
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 20/11/2020 by Nguyễn Văn Tài
---- Modified on 31/03/2021 by [Huỳnh Thử] -- Xuất Execl nhiều divisionID
---- Modified on 20/11/2020 by []
-- <Example>
---- 

CREATE PROCEDURE [dbo].[AP7901_TIENTIEN]
(
       @DivisionID AS NVARCHAR(50) ,
       @TranMonthFrom AS INT ,
       @TranYearFrom AS INT ,
       @TranMonthTo AS INT ,
       @TranYearTo AS INT ,
       @ReportCode AS NVARCHAR(50) ,
       @AmountUnit AS TINYINT,
       @StrDivisionID AS NVARCHAR(4000) = '',
       @ReportDate AS DATETIME = NULL
)       
AS

DECLARE @ConvertAmountUnit  AS DECIMAL(28, 8)
DECLARE @AT7902Cursor       AS CURSOR ,
        @LineCode           AS NVARCHAR(50) ,
        @LineDescription    AS NVARCHAR(250) ,
        @LineDescriptionE   AS NVARCHAR(250) ,
        @AccountIDFrom      AS NVARCHAR(50) ,
        @AccountIDTo        AS NVARCHAR(50) ,
        @D_C                AS TINYINT ,
        @Detail             AS TINYINT ,
        @Accumulator        AS NVARCHAR(50) ,
        @Level1             AS TINYINT ,
        @PrintStatus        AS TINYINT ,
        @Type               AS TINYINT ,
        @LineID             AS NVARCHAR(50) ,
        @Notes              AS NVARCHAR(250),
		@DisplayedMark      AS TINYINT,
		@CustomerName		AS INT,
		@ReportDivisionID	AS VARCHAR(50),
		@DivisionIDCur AS NVARCHAR(50) 

		--------------->>>> Chuỗi DivisionID
DECLARE @StrDivisionID_New AS NVARCHAR(4000)

SELECT @StrDivisionID_New = CASE WHEN @StrDivisionID = '%' THEN ' LIKE ''' + 
@StrDivisionID + '''' ELSE ' IN (''' + replace(@StrDivisionID, ',',''',''') + ''')' END

SET NOCOUNT ON

BEGIN
	DELETE FROM	A00007 WHERE SPID = @@SPID
	INSERT INTO A00007(SPID, DivisionID) 
	EXEC('SELECT '''+@@SPID+''', DivisionID FROM AT1101 WHERE DivisionID '+@StrDivisionID_New+'')

	DELETE AT7915

	IF(@DivisionID <> 'AA')
	BEGIN
		SET @ReportDivisionID = 'AAAAAAAAAA'
	END
	ELSE
	BEGIN
		SET @ReportDivisionID  = @DivisionID
	END

	IF @AmountUnit = 1 SET @ConvertAmountUnit = 1
	IF @AmountUnit = 2 SET @ConvertAmountUnit = 10
	IF @AmountUnit = 3 SET @ConvertAmountUnit = 100
	IF @AmountUnit = 4 SET @ConvertAmountUnit = 1000
	IF @AmountUnit = 5 SET @ConvertAmountUnit = 10000
	IF @AmountUnit = 6 SET @ConvertAmountUnit = 100000
	IF @AmountUnit = 7 SET @ConvertAmountUnit = 1000000

	SET @AT7902Cursor =  CURSOR SCROLL KEYSET FOR 
		SELECT T12.DivisionID,
			   T12.LineID,
			   T12.LineCode,
			   T12.LineDescription,
			   T12.LineDescriptionE,
			   T12.AccountIDFrom,
			   T12.AccountIDTo,
			   T12.Type,
			   T12.D_C,
			   T12.Accumulator,
			   T12.Level1,
			   T12.PrintStatus,
			   T12.Notes,
			   T12.DisplayedMark
		FROM   AT7902 AS T12 WITH (NOLOCK)
		WHERE  T12.ReportCode = @ReportCode --and Type<>9
			   AND DivisionID IN (SELECT DivisionID FROM A00007 WHERE SPID = @@SPID)
			   ORDER BY T12.DivisionID

	OPEN @AT7902Cursor
	FETCH NEXT FROM @AT7902Cursor INTO	@DivisionIDCur, @LineID,		@LineCode,		@LineDescription,	@LineDescriptionE,
										@AccountIDFrom,	@AccountIDTo,	@Type,				@D_C,
										@Accumulator,	@Level1,		@PrintStatus,		@Notes, @DisplayedMark
	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO AT7915
		(
			DivisionID,
			LineCode,
			LineID,
			LineDescription,
			LineDescriptionE,
			PrintStatus,
			Amount1,
			Amount2,
			Amount3,
			Amount4,
			Level1,
			TYPE,
			Accumulator,
			Notes,
			DisplayedMark
		)
		VALUES
		(
			@DivisionIDCur,
			@LineCode,
			@LineID,
			@LineDescription,
			@LineDescriptionE,
			@PrintStatus,
			0,
			0,
			0,
			0,
			@Level1,
			@Type,
			@Accumulator,
			@Notes,
			@DisplayedMark
		)
		FETCH NEXT FROM @AT7902Cursor INTO	@DivisionIDCur, @LineID,		@LineCode,		@LineDescription,	@LineDescriptionE,
											@AccountIDFrom,	@AccountIDTo,	@Type,				@D_C,
											@Accumulator,	@Level1,		@PrintStatus,		@Notes, @DisplayedMark
	END
	CLOSE @AT7902Cursor
	DEALLOCATE @AT7902Cursor

	----------------- Xu ly chi tiet ----------------------------------------------------------------------
	DECLARE @Amount1 AS DECIMAL(28, 8), -- So cuoi ky
			@Amount2 AS DECIMAL(28, 8), -- So dau nam
			@Amount3 AS DECIMAL(28, 8), -- So dau ky
			@Amount4 AS DECIMAL(28, 8), -- Cung ky nam truoc
			@TranYearFrom2 AS INT ,
			@TranYearTo2 AS INT

	SET @TranYearFrom2 = @TranYearFrom - 1
	SET @TranYearTo2 = @TranYearTo - 1

	--Xu ly bien table de tang toc do xu ly
	DECLARE @AV4201 As TypeOfAV4201
	DECLARE @AV4202 As TypeOfAV4202

	-- Bảng: AV4201 ----------------------------------------------------------------------------------------
	INSERT INTO @AV4201 
	(
		DivisionID
		, AccountID
		, ConvertedAmount
		, TranMonth
		, TranYear
		, CorAccountID
		, D_C
		, TransactionTypeID
	)

	------------------- Số phát sinh nợ, lấy dương
	SELECT 
		AT9000.DivisionID
		, AT9000.DebitAccountID AS AccountID
		, SUM(ISNULL(AT9000.ConvertedAmount, 0) * ISNULL(AT1012.ExchangeRate, 1)) AS ConvertedAmount
		, AT9000.TranMonth
		, AT9000.TranYear
		, AT9000.CreditAccountID AS CorAccountID -- tai khoan doi ung  
		, 'D' AS D_C
		, AT9000.TransactionTypeID  
	FROM AT9000 WITH (NOLOCK)
	LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = AT9000.DivisionID
	LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID 
										AND AT1012.DivisionID = @ReportDivisionID
										AND AT1012.ExchangeDate = @ReportDate
	WHERE ISNULL(AT9000.DebitAccountID,'') <> ''  
	GROUP BY AT9000.DivisionID
			, AT9000.DebitAccountID
			, AT9000.TranMonth
			, AT9000.TranYear
			, AT9000.CreditAccountID
			, AT9000.TransactionTypeID       

	UNION ALL  
	------------------- Số phát sinh có, lấy âm
	SELECT 
		AT9000.DivisionID
		, AT9000.CreditAccountID AS AccountID
		, SUM(ISNULL(AT9000.ConvertedAmount, 0) * ISNULL(AT1012.ExchangeRate, 1) * -1) AS ConvertedAmount
		, AT9000.TranMonth
		, AT9000.TranYear
		, AT9000.DebitAccountID AS CorAccountID
		, 'C' AS D_C
		, AT9000.TransactionTypeID   
	FROM AT9000 WITH (NOLOCK)
	LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = AT9000.DivisionID
	LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID 
										AND AT1012.DivisionID = @ReportDivisionID
										AND AT1012.ExchangeDate = @ReportDate
	WHERE ISNULL(AT9000.CreditAccountID,'') <> ''  
	GROUP BY AT9000.DivisionID
			, AT9000.CreditAccountID
			, AT9000.TranMonth
			, AT9000.TranYear
			, AT9000.DebitAccountID
			, AT9000.TransactionTypeID

	-- AV4202 ----------------------------------------------------------------------------------------
	INSERT INTO @AV4202
	(
		ObjectID
		, CurrencyIDCN
		, VoucherDate
		, InvoiceDate
		, DueDate
		, DivisionID
		, AccountID
		, InventoryID
		, ConvertedAmount
		, OriginalAmount
		, TranMonth
		, TranYear
		, CorAccountID
		, D_C
		, TransactionTypeID
	)
	SELECT  
		AT9000.ObjectID ---- PHAT SINH NO  
		, AT9000.CurrencyIDCN
		, AT9000.VoucherDate
		, AT9000.InvoiceDate
		, AT9000.DueDate
		, AT9000.DivisionID
		, AT9000.DebitAccountID AS AccountID
		, AT9000.InventoryID
		, SUM(ISNULL(AT9000.ConvertedAmount, 0) * ISNULL(AT1012.ExchangeRate, 1)) AS ConvertedAmount
		, SUM(ISNULL(AT9000.OriginalAmountCN, 0)) AS OriginalAmount
		, AT9000.TranMonth
		, AT9000.TranYear
		, AT9000.CreditAccountID AS CorAccountID -- tai khoan doi ung  
	    , 'D' AS D_C
		, AT9000.TransactionTypeID  
	FROM AT9000 WITH (NOLOCK) 
		INNER JOIN AT1005 WITH (NOLOCK) ON AT1005.AccountID = AT9000.DebitAccountID
		LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = AT9000.DivisionID
		LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID 
											AND AT1012.DivisionID = @ReportDivisionID
											AND AT1012.ExchangeDate = @ReportDate
	WHERE AT9000.DebitAccountID IS NOT NULL 
			AND AT1005.GroupID IN ('G03', 'G04')  
	GROUP BY AT9000.ObjectID
			, AT9000.Ana01ID
			, AT9000.CurrencyIDCN
			, AT9000.VoucherDate
			, AT9000.InvoiceDate
			, AT9000.DueDate
			, AT9000.DivisionID
			, AT9000.DebitAccountID
			, AT9000.TranMonth
			, AT9000.TranYear
			, AT9000.CreditAccountID
			, AT9000.TransactionTypeID
			, AT9000.InventoryID       

	UNION ALL  
	------------------- So phat sinh co, lay am  
	SELECT   ---- PHAT SINH CO   
		(CASE WHEN AT9000.TransactionTypeID ='T99' THEN AT9000.CreditObjectID ELSE AT9000.ObjectID END) AS ObjectID
		, AT9000.CurrencyIDCN
		, AT9000.VoucherDate
		, AT9000.InvoiceDate
		, AT9000.DueDate
		, AT9000.DivisionID
		, AT9000.CreditAccountID AS AccountID
		, AT9000.InventoryID
		, SUM(ISNULL(AT9000.ConvertedAmount, 0) * ISNULL(AT1012.ExchangeRate, 1) * -1) AS ConvertedAmount
		, SUM(ISNULL(AT9000.OriginalAmountCN, 0) * -1) AS OriginalAmount
		, AT9000.TranMonth
		, AT9000.TranYear
		, AT9000.DebitAccountID AS CorAccountID
		, 'C' AS D_C
		, AT9000.TransactionTypeID   
	FROM AT9000 WITH (NOLOCK) 
		INNER JOIN AT1005 WITH (NOLOCK) ON AT1005.AccountID = AT9000.CreditAccountID
		LEFT JOIN AT1101 WITH (NOLOCK) ON AT1101.DivisionID = AT9000.DivisionID
		LEFT JOIN AT1012 WITH (NOLOCK) ON AT1012.CurrencyID = AT1101.BaseCurrencyID 
											AND AT1012.DivisionID = @ReportDivisionID
											AND AT1012.ExchangeDate = @ReportDate
	WHERE AT9000.CreditAccountID IS NOT NULL 
			AND AT1005.GroupID in ('G03', 'G04')  
	GROUP BY 
		(CASE WHEN AT9000.TransactionTypeID ='T99' THEN AT9000.CreditObjectID ELSE AT9000.ObjectID END)
		, AT9000.Ana01ID
		, AT9000.CurrencyIDCN
		, AT9000.VoucherDate
		, AT9000.InvoiceDate
		, AT9000.DueDate
		, AT9000.DivisionID
		, AT9000.CreditAccountID
		, AT9000.TranMonth
		, AT9000.TranYear
		, AT9000.DebitAccountID
		, AT9000.TransactionTypeID
		, AT9000.InventoryID

	SET @DivisionIDCur = ''
	-----------------------------------------------------------------
	SET @AT7902Cursor =  CURSOR SCROLL KEYSET FOR 
		SELECT	T12.DivisionID, 
				   T12.Type,
				   T12.LineID,
				   T12.LineCode,
				   T12.LineDescription,
				   T12.LineDescriptionE,
				   T12.AccountIDFrom,
				   T12.AccountIDTo,
				   T12.Detail,
				   T12.D_C,
				   T12.Accumulator,
				   T12.Level1,
				   T12.PrintStatus
		FROM		AT7902 AS T12 WITH (NOLOCK)
		WHERE		T12.ReportCode = @ReportCode
					AND DivisionID IN (SELECT DivisionID FROM A00007 WHERE SPID = @@SPID)
		ORDER BY	T12.DivisionID, T12.LineCode

	OPEN @AT7902Cursor
	FETCH NEXT FROM @AT7902Cursor INTO	@DivisionIDCur, @Type,			@LineID,		@LineCode,	@LineDescription,	@LineDescriptionE,
										@AccountIDFrom,	@AccountIDTo,	@Detail,	@D_C,				@Accumulator,		@Level1,	@PrintStatus
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @Amount1 = 0
		SET @Amount2 = 0
		SET @Amount3 = 0
		SET @Amount4 = 0
		IF (@AccountIDTo IS NULL) OR (@AccountIDTO = '')
			SET @AccountIDTo = @AccountIDFrom
    
		IF (@AccountIDFrom IS NOT NULL) AND (@AccountIDFrom <> '')
		BEGIN
			--Print 'ZO'+str(@Detail)+'    '+str(@D_C)+'  '+str(@Type)
        
			IF @Detail = 0 AND @D_C = 1 ---- Truong hop lay tong hop, Lay so du No
			BEGIN
				IF @Type IN (1, 2)
				BEGIN
				   EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 1 , @Amount2 OUTPUT,@DivisionIDCur, @AV4201  ---- So cuoi ky
				   EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 2 , @Amount1 OUTPUT ,@DivisionIDCur, @AV4201  -- So dau nam
				   EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 102 , @Amount3 OUTPUT ,@DivisionIDCur, @AV4201   -- So dau ky
				   EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom2 , @TranMonthTo , @TranYearTo2 , 1 , @Amount4 OUTPUT,@DivisionIDCur, @AV4201  ---- Cung ky nam truoc
				END
				ELSE
				BEGIN
					IF @Type = 9
					BEGIN
					   EXEC AP7913 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 1 , @Amount2 OUTPUT,@DivisionIDCur    ---- So cuoi ky
					   EXEC AP7913 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 2 , @Amount1 OUTPUT,@DivisionIDCur    ---- So dau nam 
					   EXEC AP7913 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 102 , @Amount3 OUTPUT,@DivisionIDCur  -- So dau ky
					   EXEC AP7913 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom2 , @TranMonthTo , @TranYearTo2 , 1 , @Amount4 OUTPUT,@DivisionIDCur    ---- Cung ky nam truoc
					END
				END
			END
        
			IF @Detail = 0 AND @D_C = 2 ---- Truong hop lay tong hop, Lay so du Co
			BEGIN
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 3 , @Amount2 OUTPUT ,@DivisionIDCur, @AV4201   ---- So cuoi ky
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 4 , @Amount1 OUTPUT ,@DivisionIDCur, @AV4201 ---- So dau nam 
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 104 , @Amount3 OUTPUT ,@DivisionIDCur, @AV4201   ---- So dau ky
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom2 , @TranMonthTo , @TranYearTo2 , 3 , @Amount4 OUTPUT ,@DivisionIDCur, @AV4201   ---- Cung ky nam truoc
			END        
        
			IF @Detail = 1 AND @D_C = 1 --'D'   ---- So du No, lay chi tiet theo tai khoan
			BEGIN
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 11 , @Amount2 OUTPUT ,@DivisionIDCur, @AV4201 
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 21 , @Amount1 OUTPUT ,@DivisionIDCur, @AV4201 
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 121 , @Amount3 OUTPUT ,@DivisionIDCur, @AV4201  -- So dau ky
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom2 , @TranMonthTo , @TranYearTo2 , 11 , @Amount4 OUTPUT ,@DivisionIDCur, @AV4201 -- Cung ky nam truoc
			END
        
			IF @Detail = 1 AND @D_C = 2 --'C'  -- So du Co, lay chi tiet theo tai khoan
			BEGIN
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 12 , @Amount2 OUTPUT ,@DivisionIDCur, @AV4201 
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 22 , @Amount1 OUTPUT ,@DivisionIDCur, @AV4201 
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 122 , @Amount3 OUTPUT ,@DivisionIDCur, @AV4201  -- So dau ky
				EXEC AP7911 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom2 , @TranMonthTo , @TranYearTo2 , 12 , @Amount4 OUTPUT ,@DivisionIDCur, @AV4201 -- Cung ky nam truoc 
			END
        
			IF @Detail = 2 AND @D_C = 1-- 'D'   ---- So du No, lay chi tiet theo tai khoan va theo doi tuong
			BEGIN
				EXEC AP7912 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 11 , @Amount2 OUTPUT,@DivisionIDCur, @AV4202 
				EXEC AP7912 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 21 , @Amount1 OUTPUT,@DivisionIDCur, @AV4202  
				EXEC AP7912 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 121 , @Amount3 OUTPUT ,@DivisionIDCur, @AV4202  -- So dau ky
				EXEC AP7912 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom2 , @TranMonthTo , @TranYearTo2 , 11 , @Amount4 OUTPUT,@DivisionIDCur, @AV4202  -- Cung ky nam truoc
			END
        
			IF @Detail = 2 AND @D_C = 2 --'C'   ---- So du Co, lay chi tiet theo tai khoan va theo doi tuong
			BEGIN
				EXEC AP7912 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 12 , @Amount2 OUTPUT,@DivisionIDCur, @AV4202  
				EXEC AP7912 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 22 , @Amount1 OUTPUT,@DivisionIDCur, @AV4202  
				EXEC AP7912 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom , @TranMonthTo , @TranYearTo , 122 , @Amount3 OUTPUT ,@DivisionIDCur, @AV4202  -- So dau ky
				EXEC AP7912 @DivisionIDCur , @AccountIDFrom , @AccountIDTo , @TranMonthFrom , @TranYearFrom2 , @TranMonthTo , @TranYearTo2 , 12 , @Amount4 OUTPUT,@DivisionIDCur, @AV4202  -- Cung ky nam truoc
			END
		END
    
		SET @Amount1 = @Amount1 / @ConvertAmountUnit
		SET @Amount2 = @Amount2 / @ConvertAmountUnit
		SET @Amount3 = @Amount3 / @ConvertAmountUnit
		SET @Amount4 = @Amount4 / @ConvertAmountUnit

		---Print ' @LineID '+@LineID
		IF (@Amount1 <> 0 
				OR @Amount2 <> 0 
				OR @Amount3 <> 0 
				OR @Amount4 <> 0) -- Cộng dồn vào chỉ tiêu cha
			EXEC AP7916 @DivisionIDCur, @LineID , @Amount1 , @Amount2, @Amount3, @Amount4, @ReportCode
    
		FETCH NEXT FROM @AT7902Cursor INTO	@DivisionIDCur, @Type,			@LineID,		@LineCode,	@LineDescription,	@LineDescriptionE,
											@AccountIDFrom,	@AccountIDTo,	@Detail,	@D_C,				@Accumulator,		@Level1,	@PrintStatus
	END
	CLOSE @AT7902Cursor

	DEALLOCATE @AT7902Cursor	
END

SET NOCOUNT OFF

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
