IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP8122]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[AP8122]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Xử lý Import phiếu mua hàng
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 26/03/2012 by Lê Thị Thu Hiền
---- 
---- Modified on 07/06/2013 by Lê Thị Thu Hiền : Bổ sung thêm 1 số trường
---- Mpdified on 15/04/2015 by Lê Thị Hạnh: Bổ sung convert dữ liệu import
---- Modified on 12/05/2017 by Tiểu Mai: Bổ sung chỉnh sửa danh mục dùng chung
---- Modified on 17/07/2017 by Tiểu Mai: Bổ sung 20 tham số detail
---- Modified on 05/03/2019 by Kim Thư: Tạo khóa chính cho table #Data và #Keys có nối với @@SPID để tránh trùng khóa chính khi nhiều user sử dụng
---- Modified on 10/06/2019 by Huỳnh Thử: Set NOT NULL cho khóa chính table #Data và #Keys , Bỏ Inser Nvarchar01->Nvarchar20 trong template chưa có 20 cột này
---- Modified on 02/10/2020 by Nhựt Trường: (Sửa danh mục dùng chung)Bổ sung điều kiện DivisionID IN cho bảng AT1302.
---- Modified on 11/06/2021 by Lê Hoàng: Bổ sung trường @ImportTransTypeID phục vụ dùng chung stored cho import đơn hàng mua ERp8 và ERP9, merge từ dự án
---- Modified by Đức Duy on 21/02/2023: [2023/02/IS/0091] - Bổ sung thêm điều kiện DivisionID dùng chung cho bảng danh mục đối tượng - AT1202.
-- <Example>
---- 
CREATE PROCEDURE [DBO].[AP8122]
( 
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),	
	@ImportTemplateID AS NVARCHAR(50) = NULL,	-- ERP8
	@ImportTransTypeID AS NVARCHAR(50) = NULL,	-- ERP9
	@XML AS XML
) 
AS
DECLARE @cCURSOR AS CURSOR,
		@sSQL AS VARCHAR(1000)
		
DECLARE @ColID AS NVARCHAR(50), 
		@ColSQLDataType AS NVARCHAR(50)

-- Số cấp duyệt
DECLARE @Level INT
		
SET @Level=(SELECT MAX(Levels) LEVEL FROM ST0010 WHERE DivisionID=@DivisionID AND TypeID='DHM')
SET @Level= ISNULL(@Level,0)
		
CREATE TABLE #Data
(
	APK UNIQUEIDENTIFIER DEFAULT(NEWID()),
	Row INT NOT NULL,
	Orders INT,
	TransactionID NVARCHAR(50),
	ErrorMessage NVARCHAR(MAX) DEFAULT (''),
	ErrorColumn NVARCHAR(MAX) DEFAULT (''),
	ImportMessage NVARCHAR(500) DEFAULT (''),
	ObjectName NVARCHAR(250),
	Address NVARCHAR(250),
	InventoryCommonName NVARCHAR(250)--,
	--CONSTRAINT [PK_#Data] PRIMARY KEY CLUSTERED 
	--(
	--	Row ASC
	--) ON [PRIMARY]	
)

CREATE TABLE #Keys
(
	Row INT NOT NULL,
	Orders INT,
	TransactionID NVARCHAR(50)--,	
	--CONSTRAINT [PK_#Keys] PRIMARY KEY CLUSTERED 
	--(
	--	Row ASC
	--) ON [PRIMARY]	
)

IF ISNULL(@ImportTemplateID,'') = '' AND ISNULL(@ImportTransTypeID,'') <> ''
BEGIN
	SET @ImportTemplateID = @ImportTransTypeID
END

-- Tạo khóa chính cho table #Data và #Keys
DECLARE @Keys_PK VARCHAR(50), @Data_PK VARCHAR(50),
		@SQL NVARCHAR(MAX);
SET @Data_PK='PK_#Data_' + LTRIM(@@SPID);
SET @Keys_PK='PK_#Keys_' + LTRIM(@@SPID);

--add constraint 
SET @SQL = 'ALTER TABLE #Data ADD CONSTRAINT ' + @Data_PK+ ' PRIMARY KEY(Row)
			ALTER TABLE #Keys ADD CONSTRAINT ' + @Keys_PK+ ' PRIMARY KEY(Row)'

EXEC(@SQL)


SET @cCURSOR = CURSOR STATIC FOR
	SELECT ColID, ColSQLDataType FROM (
	SELECT		TLD.ColID,
				BTL.ColSQLDataType,
				TLD.OrderNum
	FROM		A01065 TL
	INNER JOIN	A01066 TLD
			ON	TL.ImportTemplateID = TLD.ImportTemplateID
	INNER JOIN	A00065 BTL
			ON	BTL.ImportTransTypeID = TL.ImportTransTypeID AND BTL.ColID = TLD.ColID
	WHERE		TL.ImportTemplateID = @ImportTemplateID AND ISNULL(@ImportTransTypeID,'') = ''
	--ORDER BY	TLD.OrderNum
	UNION ALL 
	SELECT A00065.ColID, A00065.ColSQLDataType, A00065.OrderNum
    FROM A01065 WITH (NOLOCK)
    INNER JOIN A00065 WITH (NOLOCK) ON A01065.ImportTemplateID = A00065.ImportTransTypeID
    WHERE A01065.ImportTemplateID = @ImportTransTypeID AND ISNULL(@ImportTransTypeID,'') <> '') A
    ORDER BY OrderNum

OPEN @cCURSOR									
-- Tạo cấu trúc bảng tạm
FETCH NEXT FROM @cCURSOR INTO @ColID, @ColSQLDataType	
WHILE @@FETCH_STATUS = 0
BEGIN

	IF ISNULL(@ImportTransTypeID,'') <> ''
		SET @sSQL = 'ALTER TABLE #Data ADD ' + @ColID + ' ' + @ColSQLDataType + CASE WHEN @ColSQLDataType LIKE '%char%' THEN ' COLLATE SQL_Latin1_General_CP1_CI_AS' ELSE '' END + ' NULL'
	ELSE 
		SET @sSQL = 'ALTER TABLE #Data ADD ' + @ColID + ' ' + @ColSQLDataType + ' NULL'

	PRINT @sSQL
	EXEC (@sSQL)
	FETCH NEXT FROM @cCURSOR INTO @ColID, @ColSQLDataType
END

SELECT	CASE WHEN ISNULL(@ImportTransTypeID,'') = '' THEN X.Data.query('Row').value('.', 'INT')  ELSE X.Data.query('OrderNo').value('.', 'INT') END AS [Row],
		X.Data.query('DivisionID').value('.', 'NVARCHAR(50)') AS DivisionID,
		X.Data.query('Period').value('.', 'VARCHAR(10)') AS Period,
		X.Data.query('VoucherTypeID').value('.', 'NVARCHAR(50)') AS VoucherTypeID,
		X.Data.query('PurchaseNo').value('.', 'NVARCHAR(50)') AS PurchaseNo,
		X.Data.query('RequestID').value('.', 'NVARCHAR(50)') AS RequestID,
		(CASE WHEN ISNULL(@ImportTransTypeID,'') <> '' THEN CONVERT(DATETIME, X.Data.query('PurchaseDate').value('.', 'VARCHAR(50)'),103) 
		      ELSE (CASE WHEN X.Data.query('PurchaseDate').value('.', 'VARCHAR(50)') = '' THEN NULL 
			             ELSE X.Data.query('PurchaseDate').value('.', 'DATETIME') END) END) AS PurchaseDate,
		X.Data.query('ContractNo').value('.', 'NVARCHAR(50)') AS ContractNo,
		(CASE WHEN ISNULL(@ImportTransTypeID,'') <> '' THEN CONVERT(DATETIME, X.Data.query('ContractDate').value('.', 'VARCHAR(50)'),103) 
		      ELSE (CASE WHEN X.Data.query('ContractDate').value('.', 'VARCHAR(50)') = '' THEN NULL 
			             ELSE X.Data.query('ContractDate').value('.', 'DATETIME') END) END) AS ContractDate,
		X.Data.query('CurrencyID').value('.', 'NVARCHAR(50)') AS CurrencyID,
		(CASE WHEN X.Data.query('ExchangeRate').value('.', 'VARCHAR(50)') = '' THEN 0 ELSE X.Data.query('ExchangeRate').value('.', 'DECIMAL(28,8)') END) AS ExchangeRate,
		X.Data.query('ClassifyID').value('.', 'NVARCHAR(50)') AS ClassifyID,
		X.Data.query('Status').value('.', 'NVARCHAR(50)') AS Status,
		(CASE WHEN ISNULL(@ImportTransTypeID,'') <> '' THEN CONVERT(DATETIME, X.Data.query('MasterShipDate').value('.', 'VARCHAR(50)'),103) 
		      ELSE (CASE WHEN X.Data.query('MasterShipDate').value('.', 'VARCHAR(50)') = '' THEN NULL 
			             ELSE X.Data.query('MasterShipDate').value('.', 'DATETIME') END) END) AS MasterShipDate,
		X.Data.query('InventoryTypeID').value('.', 'NVARCHAR(50)') AS InventoryTypeID,
		X.Data.query('EmployeeID').value('.', 'NVARCHAR(50)') AS EmployeeID,
		X.Data.query('Description').value('.', 'NVARCHAR(250)') AS Description,
		X.Data.query('ObjectID').value('.', 'NVARCHAR(50)') AS ObjectID,
		X.Data.query('TaxID').value('.', 'NVARCHAR(50)') AS TaxID,
		CASE WHEN ISNULL(@ImportTransTypeID,'') <> '' THEN CONVERT(DATETIME, X.Data.query('DueDate').value('.', 'VARCHAR(50)'),103) 
		     ELSE X.Data.query('DueDate').value('.', 'DATETIME') END AS DueDate,
		X.Data.query('OrderAddress').value('.', 'NVARCHAR(250)') AS OrderAddress,
		X.Data.query('ReceivedAddress').value('.', 'NVARCHAR(250)') AS ReceivedAddress,
		X.Data.query('Transport').value('.', 'NVARCHAR(250)') AS Transport,
		X.Data.query('PaymentTermID').value('.', 'NVARCHAR(250)') AS PaymentTermID,
		X.Data.query('Varchar01').value('.', 'NVARCHAR(250)') AS Varchar01,
		X.Data.query('PaymentID').value('.', 'NVARCHAR(250)') AS PaymentID,
		X.Data.query('Varchar02').value('.', 'NVARCHAR(250)') AS Varchar02,
		X.Data.query('POAna01ID').value('.', 'NVARCHAR(250)') AS POAna01ID,
		X.Data.query('POAna02ID').value('.', 'NVARCHAR(250)') AS POAna02ID,
		X.Data.query('POAna03ID').value('.', 'NVARCHAR(250)') AS POAna03ID,
		X.Data.query('POAna04ID').value('.', 'NVARCHAR(250)') AS POAna04ID,
		X.Data.query('POAna05ID').value('.', 'NVARCHAR(250)') AS POAna05ID,
		X.Data.query('BarCode').value('.', 'NVARCHAR(250)') AS BarCode,
		X.Data.query('InventoryID').value('.', 'NVARCHAR(250)') AS InventoryID,
		X.Data.query('UnitID').value('.', 'NVARCHAR(250)') AS UnitID,
		(CASE WHEN X.Data.query('ConvertedQuantity').value('.', 'VARCHAR(50)') = '' THEN 0 ELSE X.Data.query('ConvertedQuantity').value('.', 'DECIMAL(28,8)') END) AS ConvertedQuantity,
		(CASE WHEN X.Data.query('ConvertedSaleprice').value('.', 'VARCHAR(50)') = '' THEN 0 ELSE X.Data.query('ConvertedSaleprice').value('.', 'DECIMAL(28,8)') END) AS ConvertedSaleprice,
		(CASE WHEN X.Data.query('OrderQuantity').value('.', 'VARCHAR(50)') = '' THEN 0 ELSE X.Data.query('OrderQuantity').value('.', 'DECIMAL(28,8)') END) AS OrderQuantity,
		(CASE WHEN X.Data.query('PurchasePrice').value('.', 'VARCHAR(50)') = '' THEN 0 ELSE X.Data.query('PurchasePrice').value('.', 'DECIMAL(28,8)') END) AS PurchasePrice,
		(CASE WHEN X.Data.query('OriginalAmount').value('.', 'VARCHAR(50)') = '' THEN 0 ELSE X.Data.query('OriginalAmount').value('.', 'DECIMAL(28,8)') END) AS OriginalAmount,
		(CASE WHEN X.Data.query('ConvertedAmount').value('.', 'VARCHAR(50)') = '' THEN 0 ELSE X.Data.query('ConvertedAmount').value('.', 'DECIMAL(28,8)') END) AS ConvertedAmount,
		X.Data.query('DiscountPercent').value('.', 'NVARCHAR(50)') AS DiscountPercent,
		X.Data.query('DiscountOriginalAmount').value('.', 'NVARCHAR(50)') AS DiscountOriginalAmount,
		X.Data.query('DiscountConvertedAmount').value('.', 'NVARCHAR(50)')AS DiscountConvertedAmount,
		X.Data.query('VATPercent').value('.', 'NVARCHAR(50)') AS VATPercent,
		X.Data.query('VATOriginalAmount').value('.', 'NVARCHAR(50)') AS VATOriginalAmount,
		X.Data.query('VATConvertedAmount').value('.', 'NVARCHAR(50)') AS VATConvertedAmount,
		X.Data.query('ImTaxPercent').value('.', 'NVARCHAR(50)') AS ImTaxPercent,
		X.Data.query('ImTaxOriginalAmount').value('.', 'NVARCHAR(50)') AS ImTaxOriginalAmount,
		X.Data.query('ImTaxConvertedAmount').value('.', 'NVARCHAR(50)') AS ImTaxConvertedAmount,
		X.Data.query('IsPicking').value('.', 'NVARCHAR(50)') AS IsPicking,
		X.Data.query('WareHouseID').value('.', 'NVARCHAR(50)') AS WareHouseID,
		(CASE WHEN X.Data.query('Finish').value('.', 'VARCHAR(50)') = '' THEN 0 ELSE X.Data.query('Finish').value('.', 'TINYINT') END) AS Finish,
		X.Data.query('Ana01ID').value('.', 'NVARCHAR(50)') AS Ana01ID,
		X.Data.query('Ana02ID').value('.', 'NVARCHAR(50)') AS Ana02ID,
		X.Data.query('Ana03ID').value('.', 'NVARCHAR(50)') AS Ana03ID,
		X.Data.query('Ana04ID').value('.', 'NVARCHAR(50)') AS Ana04ID,
		X.Data.query('Ana05ID').value('.', 'NVARCHAR(50)') AS Ana05ID,
		X.Data.query('Ana06ID').value('.', 'NVARCHAR(50)') AS Ana06ID,
		X.Data.query('Ana07ID').value('.', 'NVARCHAR(50)') AS Ana07ID,
		X.Data.query('Ana08ID').value('.', 'NVARCHAR(50)') AS Ana08ID,
		X.Data.query('Ana09ID').value('.', 'NVARCHAR(50)') AS Ana09ID,
		X.Data.query('Ana10ID').value('.', 'NVARCHAR(50)') AS Ana10ID,
		X.Data.query('Notes').value('.', 'NVARCHAR(50)') AS Notes,
		X.Data.query('Notes01').value('.', 'NVARCHAR(250)') AS Notes01,
		X.Data.query('Notes02').value('.', 'NVARCHAR(250)') AS Notes02,
		X.Data.query('Notes03').value('.', 'NVARCHAR(250)') AS Notes03,
		X.Data.query('Notes04').value('.', 'NVARCHAR(250)') AS Notes04,
		X.Data.query('Notes05').value('.', 'NVARCHAR(250)') AS Notes05,
		X.Data.query('Notes06').value('.', 'NVARCHAR(250)') AS Notes06,
		X.Data.query('Notes07').value('.', 'NVARCHAR(250)') AS Notes07,
		X.Data.query('Notes08').value('.', 'NVARCHAR(250)') AS Notes08,
		X.Data.query('Notes09').value('.', 'NVARCHAR(250)') AS Notes09,		
		(CASE WHEN X.Data.query('DetailShipDate').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('DetailShipDate').value('.', 'DATETIME') END) AS DetailShipDate,
		X.Data.query('StrParameter01').value('.', 'NVARCHAR(250)') AS StrParameter01,	
		X.Data.query('StrParameter02').value('.', 'NVARCHAR(250)') AS StrParameter02,
		X.Data.query('StrParameter03').value('.', 'NVARCHAR(250)') AS StrParameter03,
		X.Data.query('StrParameter04').value('.', 'NVARCHAR(250)') AS StrParameter04,
		X.Data.query('StrParameter05').value('.', 'NVARCHAR(250)') AS StrParameter05,
		X.Data.query('StrParameter06').value('.', 'NVARCHAR(250)') AS StrParameter06,
		X.Data.query('StrParameter07').value('.', 'NVARCHAR(250)') AS StrParameter07,
		X.Data.query('StrParameter08').value('.', 'NVARCHAR(250)') AS StrParameter08,
		X.Data.query('StrParameter09').value('.', 'NVARCHAR(250)') AS StrParameter09,
		X.Data.query('StrParameter10').value('.', 'NVARCHAR(250)') AS StrParameter10,
		X.Data.query('StrParameter11').value('.', 'NVARCHAR(250)') AS StrParameter11,	
		X.Data.query('StrParameter12').value('.', 'NVARCHAR(250)') AS StrParameter12,
		X.Data.query('StrParameter13').value('.', 'NVARCHAR(250)') AS StrParameter13,
		X.Data.query('StrParameter14').value('.', 'NVARCHAR(250)') AS StrParameter14,
		X.Data.query('StrParameter15').value('.', 'NVARCHAR(250)') AS StrParameter15,
		X.Data.query('StrParameter16').value('.', 'NVARCHAR(250)') AS StrParameter16,
		X.Data.query('StrParameter17').value('.', 'NVARCHAR(250)') AS StrParameter17,
		X.Data.query('StrParameter18').value('.', 'NVARCHAR(250)') AS StrParameter18,
		X.Data.query('StrParameter19').value('.', 'NVARCHAR(250)') AS StrParameter19,
		X.Data.query('StrParameter20').value('.', 'NVARCHAR(250)') AS StrParameter20,
		X.Data.query('nvarchar01').value('.', 'NVARCHAR(250)') AS nvarchar01,	
		X.Data.query('nvarchar02').value('.', 'NVARCHAR(250)') AS nvarchar02,
		X.Data.query('nvarchar03').value('.', 'NVARCHAR(250)') AS nvarchar03,
		X.Data.query('nvarchar04').value('.', 'NVARCHAR(250)') AS nvarchar04,
		X.Data.query('nvarchar05').value('.', 'NVARCHAR(250)') AS nvarchar05,
		X.Data.query('nvarchar06').value('.', 'NVARCHAR(250)') AS nvarchar06,
		X.Data.query('nvarchar07').value('.', 'NVARCHAR(250)') AS nvarchar07,
		X.Data.query('nvarchar08').value('.', 'NVARCHAR(250)') AS nvarchar08,
		X.Data.query('nvarchar09').value('.', 'NVARCHAR(250)') AS nvarchar09,
		X.Data.query('nvarchar10').value('.', 'NVARCHAR(250)') AS nvarchar10,
		X.Data.query('nvarchar11').value('.', 'NVARCHAR(250)') AS nvarchar11,	
		X.Data.query('nvarchar12').value('.', 'NVARCHAR(250)') AS nvarchar12,
		X.Data.query('nvarchar13').value('.', 'NVARCHAR(250)') AS nvarchar13,
		X.Data.query('nvarchar14').value('.', 'NVARCHAR(250)') AS nvarchar14,
		X.Data.query('nvarchar15').value('.', 'NVARCHAR(250)') AS nvarchar15,
		X.Data.query('nvarchar16').value('.', 'NVARCHAR(250)') AS nvarchar16,
		X.Data.query('nvarchar17').value('.', 'NVARCHAR(250)') AS nvarchar17,
		X.Data.query('nvarchar18').value('.', 'NVARCHAR(250)') AS nvarchar18,
		X.Data.query('nvarchar19').value('.', 'NVARCHAR(250)') AS nvarchar19,
		X.Data.query('nvarchar20').value('.', 'NVARCHAR(250)') AS nvarchar20,
		(CASE WHEN X.Data.query('S01ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S01ID').value('.', 'NVARCHAR(50)') END) AS S01ID,
		(CASE WHEN X.Data.query('S02ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S02ID').value('.', 'NVARCHAR(50)') END) AS S02ID,
		(CASE WHEN X.Data.query('S03ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S03ID').value('.', 'NVARCHAR(50)') END) AS S03ID,
		(CASE WHEN X.Data.query('S04ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S04ID').value('.', 'NVARCHAR(50)') END) AS S04ID,
		(CASE WHEN X.Data.query('S05ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S05ID').value('.', 'NVARCHAR(50)') END) AS S05ID,
		(CASE WHEN X.Data.query('S06ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S06ID').value('.', 'NVARCHAR(50)') END) AS S06ID,
		(CASE WHEN X.Data.query('S07ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S07ID').value('.', 'NVARCHAR(50)') END) AS S07ID,
		(CASE WHEN X.Data.query('S08ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S08ID').value('.', 'NVARCHAR(50)') END) AS S08ID,
		(CASE WHEN X.Data.query('S09ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S09ID').value('.', 'NVARCHAR(50)') END) AS S09ID,
		(CASE WHEN X.Data.query('S10ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S10ID').value('.', 'NVARCHAR(50)') END) AS S10ID,
		(CASE WHEN X.Data.query('S11ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S11ID').value('.', 'NVARCHAR(50)') END) AS S11ID,
		(CASE WHEN X.Data.query('S12ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S12ID').value('.', 'NVARCHAR(50)') END) AS S12ID,
		(CASE WHEN X.Data.query('S13ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S13ID').value('.', 'NVARCHAR(50)') END) AS S13ID,
		(CASE WHEN X.Data.query('S14ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S14ID').value('.', 'NVARCHAR(50)') END) AS S14ID,
		(CASE WHEN X.Data.query('S15ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S15ID').value('.', 'NVARCHAR(50)') END) AS S15ID,
		(CASE WHEN X.Data.query('S16ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S16ID').value('.', 'NVARCHAR(50)') END) AS S16ID,
		(CASE WHEN X.Data.query('S17ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S17ID').value('.', 'NVARCHAR(50)') END) AS S17ID,
		(CASE WHEN X.Data.query('S18ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S18ID').value('.', 'NVARCHAR(50)') END) AS S18ID,
		(CASE WHEN X.Data.query('S19ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S19ID').value('.', 'NVARCHAR(50)') END) AS S19ID,
		(CASE WHEN X.Data.query('S20ID').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('S20ID').value('.', 'NVARCHAR(50)') END) AS S20ID,
		X.Data.query('ApprovePerson01').value('.', 'VARCHAR(50)') AS ApprovePerson01,
		X.Data.query('ApprovePerson02').value('.', 'VARCHAR(50)') AS ApprovePerson02,
		X.Data.query('ApprovePerson03').value('.', 'VARCHAR(50)') AS ApprovePerson03,
		X.Data.query('ApprovePerson04').value('.', 'VARCHAR(50)') AS ApprovePerson04,
		X.Data.query('ApprovePerson05').value('.', 'VARCHAR(50)') AS ApprovePerson05,
		X.Data.query('ApprovePerson06').value('.', 'VARCHAR(50)') AS ApprovePerson06,
		X.Data.query('ApprovePerson07').value('.', 'VARCHAR(50)') AS ApprovePerson07,
		X.Data.query('ApprovePerson08').value('.', 'VARCHAR(50)') AS ApprovePerson08,
		X.Data.query('ApprovePerson09').value('.', 'VARCHAR(50)') AS ApprovePerson09,
		X.Data.query('ApprovePerson10').value('.', 'VARCHAR(50)') AS ApprovePerson10	
INTO	#AP8122		
FROM	@XML.nodes('//Data') AS X (Data)

INSERT INTO #Data (
		Row,
		DivisionID,
		Period,
		VoucherTypeID,
		PurchaseNo,
		PurchaseDate,
		ContractNo,
		ContractDate,
		CurrencyID,
		ExchangeRate,
		ClassifyID,
		[Status],
		MasterShipDate,
		InventoryTypeID,
		EmployeeID,
		[Description],
		ObjectID,
		TaxID,
		DueDate,
		OrderAddress,
		ReceivedAddress,
		Transport,
		PaymentTermID,
		Varchar01,
		PaymentID,
		Varchar02,
		POAna01ID,
		POAna02ID,
		POAna03ID,
		POAna04ID,
		POAna05ID,
		BarCode,
		InventoryID,
		UnitID,
		ConvertedQuantity,
		ConvertedSaleprice,
		OrderQuantity,
		PurchasePrice,
		OriginalAmount,
		ConvertedAmount,
		DiscountPercent,
		DiscountOriginalAmount,
		DiscountConvertedAmount,
		VATPercent,
		VATOriginalAmount,
		VATConvertedAmount,
		ImTaxPercent,
		ImTaxOriginalAmount,
		ImTaxConvertedAmount,
		IsPicking,
		WareHouseID,
		Finish,
		Ana01ID,
		Ana02ID,
		Ana03ID,
		Ana04ID,
		Ana05ID,
		Ana06ID,
		Ana07ID,
		Ana08ID,
		Ana09ID,
		Ana10ID,
		Notes,
		Notes01,
		Notes02,
		Notes03,
		Notes04,
		Notes05,
		Notes06,
		Notes07,
		Notes08,
		Notes09,
		DetailShipDate,
		StrParameter01,
		StrParameter02,
		StrParameter03,
		StrParameter04,
		StrParameter05,
		StrParameter06,
		StrParameter07,
		StrParameter08,
		StrParameter09,
		StrParameter10,
		StrParameter11,
		StrParameter12,
		StrParameter13,
		StrParameter14,
		StrParameter15,
		StrParameter16,
		StrParameter17,
		StrParameter18,
		StrParameter19,
		StrParameter20,
		nvarchar01,nvarchar02,nvarchar03,nvarchar04,nvarchar05,nvarchar06,nvarchar07,nvarchar08,nvarchar09,nvarchar10,
		nvarchar11,nvarchar12,nvarchar13,nvarchar14,nvarchar15,nvarchar16,nvarchar17,nvarchar18,nvarchar19,nvarchar20,
		S01ID,S02ID,S03ID,S04ID,S05ID,S06ID,S07ID,S08ID,S09ID,S10ID,S11ID,S12ID,S13ID,S14ID,S15ID,S16ID,S17ID,S18ID,S19ID,S20ID,
		RequestID,
		ApprovePerson01,ApprovePerson02,ApprovePerson03,ApprovePerson04,ApprovePerson05,
		ApprovePerson06,ApprovePerson07,ApprovePerson08,ApprovePerson09,ApprovePerson10	
		)
SELECT Row,
		DivisionID,
		Period,
		VoucherTypeID,
		PurchaseNo,
		PurchaseDate,
		ContractNo,
		ContractDate,
		CurrencyID,
		ExchangeRate,
		ClassifyID,
		CASE WHEN ISNULL([Status],'') = '' THEN 0 ELSE CAST([Status] AS TINYINT) END [Status],
		MasterShipDate,
		InventoryTypeID,
		EmployeeID,
		[Description],
		ObjectID,
		TaxID,
		DueDate,
		OrderAddress,
		ReceivedAddress,
		Transport,
		PaymentTermID,
		Varchar01,
		PaymentID,
		Varchar02,
		POAna01ID,
		POAna02ID,
		POAna03ID,
		POAna04ID,
		POAna05ID,
		BarCode,
		InventoryID,
		UnitID,
		ConvertedQuantity,
		ConvertedSaleprice,
		OrderQuantity,
		PurchasePrice,
		OriginalAmount,
		ConvertedAmount,
		CASE WHEN ISNULL(DiscountPercent,'') = '' THEN NULL ELSE CAST(DiscountPercent AS DECIMAL(28,8)) END DiscountPercent,
		CASE WHEN ISNULL(DiscountOriginalAmount,'') = '' THEN NULL ELSE CAST(DiscountOriginalAmount AS DECIMAL(28,8)) END DiscountOriginalAmount,
		CASE WHEN ISNULL(DiscountConvertedAmount,'') = '' THEN NULL ELSE CAST(DiscountConvertedAmount AS DECIMAL(28,8)) END DiscountConvertedAmount,
		CASE WHEN ISNULL(VATPercent,'') = '' THEN NULL ELSE CAST(VATPercent AS DECIMAL(28,8)) END VATPercent,
		CASE WHEN ISNULL(VATOriginalAmount,'') = '' THEN NULL ELSE CAST(VATOriginalAmount AS DECIMAL(28,8)) END VATOriginalAmount,
		CASE WHEN ISNULL(VATConvertedAmount,'') = '' THEN NULL ELSE CAST(VATConvertedAmount AS DECIMAL(28,8)) END VATConvertedAmount,
		CASE WHEN ISNULL(ImTaxPercent,'') = '' THEN NULL ELSE CAST(ImTaxPercent AS DECIMAL(28,8)) END ImTaxPercent,
		CASE WHEN ISNULL(ImTaxOriginalAmount,'') = '' THEN NULL ELSE CAST(ImTaxOriginalAmount AS DECIMAL(28,8)) END ImTaxOriginalAmount,
		CASE WHEN ISNULL(ImTaxConvertedAmount,'') = '' THEN NULL ELSE CAST(ImTaxConvertedAmount AS DECIMAL(28,8)) END ImTaxConvertedAmount,
		CASE WHEN ISNULL(IsPicking,'') = '' THEN 0 ELSE CAST(IsPicking AS TINYINT) END IsPicking,
		WareHouseID,
		Finish,
		Ana01ID,
		Ana02ID,
		Ana03ID,
		Ana04ID,
		Ana05ID,
		Ana06ID,
		Ana07ID,
		Ana08ID,
		Ana09ID,
		Ana10ID,
		Notes,
		Notes01,
		Notes02,
		Notes03,
		Notes04,
		Notes05,
		Notes06,
		Notes07,
		Notes08,
		Notes09,
		DetailShipDate,
		StrParameter01,
		StrParameter02,
		StrParameter03,
		StrParameter04,
		StrParameter05,
		StrParameter06,
		StrParameter07,
		StrParameter08,
		StrParameter09,
		StrParameter10,
		StrParameter11,
		StrParameter12,
		StrParameter13,
		StrParameter14,
		StrParameter15,
		StrParameter16,
		StrParameter17,
		StrParameter18,
		StrParameter19,
		StrParameter20,
		nvarchar01,nvarchar02,nvarchar03,nvarchar04,nvarchar05,nvarchar06,nvarchar07,nvarchar08,nvarchar09,nvarchar10,
		nvarchar11,nvarchar12,nvarchar13,nvarchar14,nvarchar15,nvarchar16,nvarchar17,nvarchar18,nvarchar19,nvarchar20,
		S01ID,S02ID,S03ID,S04ID,S05ID,S06ID,S07ID,S08ID,S09ID,S10ID,S11ID,S12ID,S13ID,S14ID,S15ID,S16ID,S17ID,S18ID,S19ID,S20ID,
		RequestID,
		ApprovePerson01,ApprovePerson02,ApprovePerson03,ApprovePerson04,ApprovePerson05,
		ApprovePerson06,ApprovePerson07,ApprovePerson08,ApprovePerson09,ApprovePerson10			
FROM #AP8122

IF ISNULL(@ImportTransTypeID,'') = ''
BEGIN
	---- Kiểm tra check code mặc định
	EXEC AP8105 @ImportTemplateID = @ImportTemplateID, @UserID = @UserID
	
	---- Kiểm tra dữ liệu không đồng nhất tại phần master
	EXEC AP8100 @UserID = @UserID, @ImportTemplateID = @ImportTemplateID, @CheckCode = 'CheckIdenticalValues', @ColID = 'PurchaseNo', @Param1 = 'PurchaseNo,PurchaseDate,ContractNo,ContractDate,CurrencyID,ExchangeRate,ClassifyID,MasterShipDate,InventoryTypeID,EmployeeID,Description,ObjectID,TaxID,DueDate,OrderAddress,ReceivedAddress,Transport,PaymentTermID,Varchar01,PaymentID,Varchar01,POAna01ID,POAna02ID,POAna03ID,POAna04ID,POAna05ID'
END
ELSE 
BEGIN
	-- ERP 9
	PRINT 'ERP 9'
	---- Kiểm tra check code mặc định
	EXEC CMNP8105 @ImportTemplateID = @ImportTemplateID, @UserID = @UserID

	---- Kiểm tra dữ liệu không đồng nhất tại phần master
	EXEC CMNP8100 @UserID = @UserID, @ImportTemplateID = @ImportTemplateID, @CheckCode = 'CheckIdenticalValues', @ColID = 'PurchaseNo', 
	@Param1 = 'PurchaseNo,PurchaseDate,ContractNo,ContractDate,CurrencyID,ExchangeRate,ClassifyID,MasterShipDate,InventoryTypeID,EmployeeID,Description,ObjectID,TaxID,DueDate,OrderAddress,ReceivedAddress,Transport,PaymentTermID,Varchar01,PaymentID,Varchar01,POAna01ID,POAna02ID,POAna03ID,POAna04ID,POAna05ID'

	IF EXISTS(SELECT TOP 1 1 FROM #Data WHERE ErrorMessage <> '')
		GOTO LB_RESULT
END

--- Xử lý làm tròn dữ liệu vì nhập trên Excel có thể sai
UPDATE		DT
SET			ConvertedAmount = ROUND(ConvertedAmount, CUR.ConvertedDecimals),
			OriginalAmount = ROUND(OriginalAmount, CUR.OriginalDecimal),
			DiscountConvertedAmount = ROUND(DiscountConvertedAmount, CUR.ConvertedDecimals),
			DiscountOriginalAmount = ROUND(DiscountOriginalAmount, CUR.OriginalDecimal),
			VATConvertedAmount = ROUND(VATConvertedAmount, CUR.ConvertedDecimals),
			VATOriginalAmount = ROUND(VATOriginalAmount, CUR.OriginalDecimal),
			ImTaxOriginalAmount	= ROUND(ImTaxOriginalAmount, CUR.OriginalDecimal),		
			ImTaxConvertedAmount = ROUND(ImTaxConvertedAmount, CUR.ConvertedDecimals),			
			ConvertedQuantity = ROUND(DT.ConvertedQuantity, CUR.QuantityDecimals),		
			OrderQuantity = ROUND(DT.OrderQuantity, CUR.QuantityDecimals),	
			PurchasePrice = ROUND(DT.PurchasePrice, CUR.UnitCostDecimals),	
			ConvertedSaleprice = ROUND(DT.ConvertedSaleprice, CUR.UnitCostDecimals),	
			ExchangeRate = ROUND(DT.ExchangeRate, CUR.ExchangeRateDecimal),			
			DetailShipDate = CASE WHEN DetailShipDate IS NOT NULL THEN CONVERT(datetime, CONVERT(varchar(10), DetailShipDate, 101)) END,
			MasterShipDate = CASE WHEN MasterShipDate IS NOT NULL THEN CONVERT(datetime, CONVERT(varchar(10), MasterShipDate, 101)) END,
			PurchaseDate = CASE WHEN PurchaseDate IS NOT NULL THEN CONVERT(datetime, CONVERT(varchar(10), PurchaseDate, 101)) END,
			ContractDate = CASE WHEN ContractDate IS NOT NULL THEN CONVERT(datetime, CONVERT(varchar(10), ContractDate, 101)) END
FROM		#Data DT
INNER JOIN	AV1004 CUR
		ON	CUR.CurrencyID = DT.CurrencyID AND CUR.DivisionID In (DT.DivisionID,'@@@')

-- Cập nhật tên và địa chỉ đối tượng
UPDATE		DT
SET			ObjectName = OB.ObjectName,
			Address = OB.Address 		
FROM		#Data DT
INNER JOIN	AT1202 OB
		ON	OB.DivisionID IN (@DivisionID, '@@@') AND OB.ObjectID = DT.ObjectID

-- Cập nhật tên hàng hóa
UPDATE		DT
SET			InventoryCommonName = INV.InventoryName	
FROM		#Data DT
INNER JOIN	AT1302 INV
		ON	INV.DivisionID IN (DT.DivisionID,'@@@') AND INV.InventoryID = DT.InventoryID
			
-- Nếu có lỗi thì không cần sinh khóa và không đẩy dữ liệu vào
IF EXISTS(SELECT TOP 1 1 FROM #Data WHERE ImportMessage <> '')
	GOTO LB_RESULT


-- Sinh khóa
DECLARE @cKey AS CURSOR
DECLARE @Row AS INT,
		@Orders AS INT,
		@PurchaseNo AS NVARCHAR(50),
		@Period AS NVARCHAR(50),
		@PurchaseGroup AS NVARCHAR(50)

DECLARE	@TransID AS NVARCHAR(50)			

SET @cKey = CURSOR FOR
	SELECT	Row, PurchaseNo, Period
	FROM	#Data
		
OPEN @cKey
FETCH NEXT FROM @cKey INTO @Row, @PurchaseNo, @Period
WHILE @@FETCH_STATUS = 0
BEGIN
	SET @Period = RIGHT(@Period, 4)
	IF @PurchaseGroup IS NULL OR @PurchaseGroup <> @PurchaseNo
	BEGIN
		SET @Orders = 0
		SET @PurchaseGroup = @PurchaseNo
	END
	SET @Orders = @Orders + 1
	IF ISNULL(@ImportTransTypeID,'') = ''
		EXEC AP0002 @DivisionID = @DivisionID, @NewKey = @TransID OUTPUT, @TableName = 'OT3002', @StringKey1 = 'OT', @StringKey2 = @Period, @OutputLen = 16
	ELSE
		SET @TransID = NEWID()
	INSERT INTO #Keys (Row, Orders, TransactionID) VALUES (@Row, @Orders, @TransID)				
	FETCH NEXT FROM @cKey INTO @Row, @PurchaseNo, @Period
END	
CLOSE @cKey

-- Cập nhật khóa
UPDATE		DT
SET			Orders = K.Orders,
			DT.TransactionID = K.TransactionID			
FROM		#Data DT
INNER JOIN	#Keys K
		ON	K.Row = DT.Row
		
--drop constraint 
SET @SQL = 'IF EXISTS (SELECT TOP 1 1 FROM tempdb.sys.sysobjects WHERE [name] = ''#Keys'' AND xtype = ''U'')
			BEGIN
				IF EXISTS (SELECT TOP 1 1 FROM tempdb.sys.sysobjects WHERE [name] = '''+@Keys_PK+''' AND xtype = ''PK'')
					ALTER TABLE #Keys DROP CONSTRAINT ' + @Keys_PK +'
			END
			IF EXISTS (SELECT TOP 1 1 FROM tempdb.sys.sysobjects WHERE [name] = ''#Data'' AND xtype = ''U'')
			BEGIN
				IF EXISTS (SELECT TOP 1 1 FROM tempdb.sys.sysobjects WHERE [name] = '''+@Data_PK+''' AND xtype = ''PK'')
					ALTER TABLE #Keys DROP CONSTRAINT ' + @Data_PK +'
			END
			'
EXEC(@SQL)
				
IF ISNULL(@ImportTransTypeID,'') = ''
BEGIN	
	-- Kiểm tra trùng số chứng từ
	EXEC AP8100 @UserID = @UserID, @ImportTemplateID = @ImportTemplateID, @CheckCode = 'CheckDuplicateOtherVoucherNo', @ColID = 'PurchaseNo', @Param2 = 'OT3001', @Param3 = 'VoucherNo'
	
	-- Nếu có lỗi thì không đẩy dữ liệu vào
	IF EXISTS(SELECT TOP 1 1 FROM #Data WHERE ImportMessage <> '')
		GOTO LB_RESULT
END
ELSE 
BEGIN
	-- ERP 9
	-- Kiểm tra trùng số chứng từ
	EXEC CMNP8100 @UserID = @UserID, @ImportTemplateID = @ImportTemplateID, @CheckCode = 'CheckDuplicateData1', @ColID = 'PurchaseNo',  @Param2 = 'OT3001', @Param3 = 'VoucherNo'
	
	---- Nếu có lỗi thì không cần sinh khóa và không đẩy dữ liệu vào
	IF EXISTS(SELECT TOP 1 1 FROM #Data WHERE ErrorMessage <> '')
	BEGIN
			UPDATE #Data SET ErrorMessage = LEFT(ErrorMessage, LEN(ErrorMessage) -1),
								ErrorColumn = LEFT(ErrorColumn, LEN(ErrorColumn) -1)
			WHERE ErrorMessage <> ''
	
			GOTO LB_RESULT
	END
END


-- Customize for ERP9: Lưu người duyệt
IF ISNULL(@ImportTransTypeID, '') <> '' -- ERP9
BEGIN
		DECLARE @ErrorFlag TINYINT = 0
		-- Người duyệt 1
		IF @Level > 0
		BEGIN
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson01 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson01'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn+ 'ApprovePerson01,'				
				WHERE ApprovePerson01 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END		
		END

		-- Người duyệt 2
		IF @Level > 1
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson02 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson02'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson02,'				
				WHERE ApprovePerson02 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END			
		
		END

		-- Người duyệt 3
		IF @Level > 2
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson03 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson03'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson03,'				
				WHERE ApprovePerson03 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END			
		
		END

		-- Người duyệt 4
		IF @Level > 3
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson04 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson04'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson04,'				
				WHERE ApprovePerson04 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END			
		
		END

		-- Người duyệt 5
		IF @Level > 4
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson05 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson05'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson05,'				
				WHERE ApprovePerson05 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))
				SET @ErrorFlag = 1
			END					
		END

		-- Người duyệt 6
		IF @Level > 5
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson06 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson06'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson06,'				
				WHERE ApprovePerson06 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END				
		END
		
		-- Người duyệt 7
		IF @Level > 6
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson07 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson07'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson07,'				
				WHERE ApprovePerson07 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END				
		END

		-- Người duyệt 8
		IF @Level > 7
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson08 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson08'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson08,'				
				WHERE ApprovePerson08 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END				
		END

		-- Người duyệt 9
		IF @Level > 8
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson09 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson09'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson09,'				
				WHERE ApprovePerson09 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END				
		END
		
		-- Người duyệt 10
		IF @Level > 9
		BEGIN			 
			IF EXISTS (SELECT TOP 1 1 FROM #Data  
							WHERE ApprovePerson10 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9)) )
			BEGIN	
				UPDATE #Data 
				SET ErrorMessage = ErrorMessage + (SELECT TOP 1 DataCol FROM A00065 
														WHERE ImportTransTypeID = @ImportTransTypeID AND ColID = 'ApprovePerson10'
														) + CONVERT(VARCHAR,#Data.Row) + '-ASML000075,'
					, ErrorColumn = ErrorColumn + 'ApprovePerson10,'				
				WHERE ApprovePerson10 NOT IN (SELECT EmployeeID FROM HV1400 WHERE EmployeeStatus NOT IN (4,9))

				SET @ErrorFlag = 1
			END				
		END
		---- Nếu có lỗi thì không đẩy dữ liệu vào
		IF @ErrorFlag = 1
		BEGIN
	
				GOTO LB_RESULT
		END

		INSERT INTO OOT9000(DivisionID, TranMonth, TranYear, 
					ID, [Type], DeleteFlag, 
					AppoveLevel, ApprovingLevel,
		            CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
		SELECT	DISTINCT
			DivisionID,	LEFT(Period, 2), RIGHT(Period, 4),
			PurchaseNo,	'DHM',	0,
			@Level, 0,
			@UserID, GETDATE(),	@UserID, GETDATE()
		FROM	#Data

END

-- Đẩy dữ liệu vào bảng master
INSERT INTO OT3001
(		DivisionID,		TranMonth,		TranYear,
		VoucherTypeID,	VoucherNo,		POrderID,		OrderDate,
		ContractNo,		ContractDate,
		ClassifyID,		OrderStatus,	ShipDate,
		CurrencyID,		ExchangeRate,
		InventoryTypeID,EmployeeID,		[Description],
		ObjectID,		VATNo,			DueDate,		[Address],		ReceivedAddress,
		Transport,		
		PaymentTermID,	Varchar01,
		PaymentID,		Varchar02,
		Ana01ID,		Ana02ID,		Ana03ID,		Ana04ID,		Ana05ID,
		CreateUserID,	Createdate,		LastModifyUserID,				LastModifyDate,
		RequestID, APKMaster_9000
)
SELECT	DISTINCT
		#Data.DivisionID,		LEFT(Period, 2),RIGHT(Period, 4),
		VoucherTypeID,	PurchaseNo,		PurchaseNo,		PurchaseDate,
		ContractNo,		ContractDate,
		ClassifyID,		#Data.[Status],		MasterShipDate,
		CurrencyID,		ExchangeRate,
		InventoryTypeID,EmployeeID,		#Data.[Description],
		ObjectID,		TaxID,			DueDate,		OrderAddress,	ReceivedAddress,
		Transport,
		PaymentTermID,	Varchar01,
		PaymentID,		Varchar02,
		POAna01ID,		POAna02ID,		POAna03ID,		POAna04ID,		POAna05ID,
		@UserID,		GETDATE(),		@UserID,		GETDATE(),
		RequestID, OOT9000.APK
FROM	#Data
LEFT JOIN OOT9000 ON OOT9000.DivisionID = #Data.DivisionID 
				AND OOT9000.TranMonth = LEFT(#Data.Period, 2)
				AND OOT9000.TranYear = RIGHT(#Data.Period, 4)
				AND OOT9000.ID = #Data.PurchaseNo

IF ISNULL(@ImportTransTypeID,'') <> ''
BEGIN
	---- ERP9
	UPDATE OT3001 
	SET POrderID = CONVERT(VARCHAR(50), APK)
	WHERE OT3001.APK IN ( 
			SELECT OT3001.APK 
			FROM #Data
			INNER JOIN OT3001 WITH(NOLOCK) ON OT3001.DivisionID = #Data.DivisionID 
			AND OT3001.TranMonth = LEFT(#Data.Period, 2)
			AND OT3001.TranYear = RIGHT(#Data.Period, 4) AND OT3001.VoucherNo = #Data.PurchaseNo
						)
END

INSERT INTO OT3002
(
	APK,
	DivisionID,				TransactionID,				POrderID,				Orders,
	InventoryID,			UnitID,
	ConvertedQuantity,		ConvertedSaleprice,
	OrderQuantity,			PurchasePrice,
	OriginalAmount,			ConvertedAmount,
	DiscountPercent,		DiscountOriginalAmount,		DiscountConvertedAmount,
	VATPercent,				VATOriginalAmount,			VATConvertedAmount,
	ImTaxPercent,			ImTaxOriginalAmount,		ImTaxConvertedAmount,
	IsPicking,				WareHouseID,				Finish,
	Ana01ID,	Ana02ID,	Ana03ID,	Ana04ID,	Ana05ID,
	Ana06ID,	Ana07ID,	Ana08ID,	Ana09ID,	Ana10ID,
	Notes,		Notes01,	Notes02,	Notes03,	Notes04,
	Notes05,	Notes06,	Notes07,	Notes08,Notes09,
	StrParameter01,	StrParameter02,	StrParameter03,	StrParameter04,	StrParameter05,
	StrParameter06,	StrParameter07,	StrParameter08,	StrParameter09,	StrParameter10,
	StrParameter11,	StrParameter12,	StrParameter13,	StrParameter14,	StrParameter15,
	StrParameter16,	StrParameter17,	StrParameter18,	StrParameter19,	StrParameter20,
	ShipDate,APKMaster_9000,ApproveLevel
)
SELECT	
	CASE WHEN ISNULL(@ImportTransTypeID,'') <> '' THEN CONVERT(UNIQUEIDENTIFIER,TransactionID) ELSE NEWID() END,
	#Data.DivisionID,				TransactionID,				OT3001.POrderID,				Orders,
	InventoryID,			UnitID,
	ConvertedQuantity,		ConvertedSaleprice,
	OrderQuantity,			PurchasePrice,
	OriginalAmount,			ConvertedAmount,
	DiscountPercent,		DiscountOriginalAmount,		DiscountConvertedAmount,
	VATPercent,				VATOriginalAmount,			VATConvertedAmount,
	ImTaxPercent,			ImTaxOriginalAmount,		ImTaxConvertedAmount,
	IsPicking,				WareHouseID,				Finish,		
	#Data.Ana01ID,	#Data.Ana02ID,	#Data.Ana03ID,	#Data.Ana04ID,	#Data.Ana05ID,
	#Data.Ana06ID,	#Data.Ana07ID,	#Data.Ana08ID,	#Data.Ana09ID,	#Data.Ana10ID,
	#Data.Notes,		#Data.Notes01,	#Data.Notes02,	#Data.Notes03,	#Data.Notes04,
	#Data.Notes05,	#Data.Notes06,	#Data.Notes07,	#Data.Notes08,#Data.Notes09,
	StrParameter01,	StrParameter02,	StrParameter03,	StrParameter04,	StrParameter05,
	StrParameter06,	StrParameter07,	StrParameter08,	StrParameter09,	StrParameter10,
	StrParameter11,	StrParameter12,	StrParameter13,	StrParameter14,	StrParameter15,
	StrParameter16,	StrParameter17,	StrParameter18,	StrParameter19,	StrParameter20,
	DetailShipDate, OT3001.APKMaster_9000, @Level
FROM	#Data
INNER JOIN OT3001 ON OT3001.DivisionID = #Data.DivisionID 
				AND OT3001.TranMonth = LEFT(Period, 2)
				AND OT3001.TranYear = RIGHT(Period, 4) 
				AND OT3001.VoucherNo = #Data.PurchaseNo

IF EXISTS (SELECT TOP 1 1 FROM AT0000 WITH(NOLOCK) WHERE DefDivisionID = @DivisionID AND IsSpecificate = 1)
BEGIN
	IF ISNULL(@ImportTransTypeID,'') = ''
	BEGIN
		---- ERP8
		---- Insert quy cách 
		INSERT OT8899 ( DivisionID,VoucherID,TransactionID,TableID,S01ID,S02ID,S03ID,S04ID,S05ID,
		 S06ID,S07ID,S08ID,S09ID,S10ID,S11ID,S12ID,S13ID,S14ID,S15ID,S16ID,S17ID,S18ID,S19ID,S20ID)
		SELECT DivisionID,PurchaseNo,TransactionID,'OT3002',S01ID,S02ID,S03ID,S04ID,S05ID,
		 S06ID,S07ID,S08ID,S09ID,S10ID,S11ID,S12ID,S13ID,S14ID,S15ID,S16ID,S17ID,S18ID,S19ID,S20ID
		FROM #Data
	END
	ELSE
	BEGIN
	print 'quydc'
		---- ERP9
		INSERT OT8899 ( DivisionID,VoucherID,TransactionID,TableID,S01ID,S02ID,S03ID,S04ID,S05ID,
		 S06ID,S07ID,S08ID,S09ID,S10ID,S11ID,S12ID,S13ID,S14ID,S15ID,S16ID,S17ID,S18ID,S19ID,S20ID)
		SELECT R0.DivisionID,OT3002.POrderID,R0.TransactionID,'OT3002',R0.S01ID,R0.S02ID,R0.S03ID,R0.S04ID,R0.S05ID,
		 R0.S06ID,R0.S07ID,R0.S08ID,R0.S09ID,R0.S10ID,R0.S11ID,R0.S12ID,R0.S13ID,R0.S14ID,R0.S15ID,R0.S16ID,R0.S17ID,R0.S18ID,R0.S19ID,R0.S20ID
		FROM #Data R0
		INNER JOIN OT3002 ON OT3002.DivisionID = R0.DivisionID AND OT3002.TransactionID = R0.TransactionID
	END
END

IF ISNULL(@ImportTransTypeID,'') <> ''
BEGIN
	--- ERP9
	--- Insert người duyệt
	DECLARE @i INT = 1, @s VARCHAR(2),@sSQLApprove NVARCHAR(MAX)
	WHILE @i <= @Level
	BEGIN
		IF @i < 10 SET @s = '0' + CONVERT(VARCHAR, @i)
		ELSE SET @s = CONVERT(VARCHAR, @i)
		SET @sSQLApprove='
		INSERT INTO OOT9001 (DivisionID, APKMaster, ApprovePersonID, [Level], DeleteFlag, [Status])
		SELECT DISTINCT #Data.DivisionID, OOT9000.APK, #Data.ApprovePerson'+@s+', '+str(@i)+', 0, 0
		FROM #Data 
		LEFT JOIN OOT9000 ON OOT9000.DivisionID = #Data.DivisionID 
			 AND OOT9000.ID = #Data.PurchaseNo
		'
		--PRINT (@sSQL)
		EXEC (@sSQLApprove)
		SET @i = @i + 1		
	END	
END


LB_RESULT:
IF ISNULL(@ImportTransTypeID,'') = ''
BEGIN
	--- ERP8
	SELECT * FROM #Data
END
ELSE
BEGIN
	--- ERP9
	SELECT [Row], ErrorColumn, ErrorMessage FROM #Data 
	WHERE  ErrorColumn <> ''
	ORDER BY [Row]
END

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

