IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP8137]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP8137]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


-- <Summary>
---- Import Excel Bảng giá bán [Customize Index: 36 - Sài Gòn Petro]
-- <History>
---- Create on 26/12/2014 by Lê Thị Hạnh 
---- Modified on ... by 
---- Modified on 08/10/2015 by Tieu Mai: Sửa phần làm tròn số lẻ theo thiết lập đơn vị-chi nhánh
---- Modified on 25/02/2019 by KIm Thư: Bổ sung insert thêm TypeID - dùng store này insert bảng giá mua và bán
---- Modified on 05/03/2019 by Kim Thư: Tạo khóa chính cho table #Data và #Keys có nối với @@SPID để tránh trùng khóa chính khi nhiều user sử dụng
---- Modified on 06/10/2020 by Hoài Phong: 	Bổ sung 2 cột IsInventoryToPrice,IsTaxIncluded cho(SaVi)
---- Modified on 08/10/2020 by Đức Thông: 	Bổ sung cột có hiển thị trên app không (IsAppDisplay) ở detail bảng giá (SAVI)
---- Modified on 11/11/2020 by Đức Thông: 	Bổ sung cột IsGift (Hàng tặng) ở detail bảng giá (SAVI)
---- Modieied on 23/11/2022 by Đình Định: 	Bổ sung thêm cột OrderNo khi import trên ERP9
---- Modieied on 13/06/2023 by Văn Tài: 	[2023/06/IS/0075] Xử lý bổ sung cột khi import để đáp ứng import trên ERP 9.9.
-- <Example>
/*
 AP8137 @DivisionID = 'VG', @UserID = 'ASOFTADMIN', @ImportTemplateID = '', @@XML = ''
 */
 
CREATE PROCEDURE AP8137
( 
	@DivisionID AS NVARCHAR(50),
	@UserID AS NVARCHAR(50),	
	@ImportTemplateID AS NVARCHAR(250),
	@XML AS XML
) 
AS
DECLARE @cCURSOR AS CURSOR,
		@sSQL AS VARCHAR(1000)
		
DECLARE @ColID AS NVARCHAR(50), 
		@ColSQLDataType AS NVARCHAR(50)

IF (ISNULL(@ImportTemplateID, '') = '') SET @ImportTemplateID = 'SalesAndPurchasePrice'
		
CREATE TABLE #Data
(
	APK UNIQUEIDENTIFIER DEFAULT(NEWID()),
	[Row] INT NOT NULL,
	Orders INT,
	DetailID NVARCHAR(50),
	ImportMessage NVARCHAR(MAX) DEFAULT ('')--,
	--CONSTRAINT [PK_#Data] PRIMARY KEY CLUSTERED 
	--(
	--	Row ASC
	--) ON [PRIMARY]	
)

CREATE TABLE #Keys
(
	Row INT NOT NULL,	
	Orders INT,
	ID NVARCHAR(50),
	DetailID NVARCHAR(50),
	InventoryID NVARCHAR(50),
	UnitID NVARCHAR(50)--,
	--CONSTRAINT [PK_#Keys] PRIMARY KEY CLUSTERED 
	--(
	--	Row ASC
	--) ON [PRIMARY]	
)

-- Tạo khóa chính cho table #Data và #Keys
DECLARE @Keys_PK VARCHAR(50), @Data_PK VARCHAR(50),
		@SQL NVARCHAR(MAX);
SET @Data_PK='PK_#Data_' + LTRIM(@@SPID);
SET @Keys_PK='PK_#Keys_' + LTRIM(@@SPID);

--add constraint 
SET @SQL = 'ALTER TABLE #Data ADD CONSTRAINT ' + @Data_PK+ ' PRIMARY KEY(Row)
			ALTER TABLE #Keys ADD CONSTRAINT ' + @Keys_PK+ ' PRIMARY KEY(Row)'

EXEC(@SQL)

SET @cCURSOR = CURSOR STATIC FOR
	SELECT		TLD.ColID,
				BTL.ColSQLDataType
	FROM		A01065 TL
	INNER JOIN	A01066 TLD
			ON	TL.ImportTemplateID = TLD.ImportTemplateID
	INNER JOIN	A00065 BTL
			ON	BTL.ImportTransTypeID = TL.ImportTransTypeID AND BTL.ColID = TLD.ColID
	WHERE		TL.ImportTemplateID = 'SalesAndPurchasePrice'
	ORDER BY	TLD.OrderNum

OPEN @cCURSOR									
-- Tạo cấu trúc bảng tạm
FETCH NEXT FROM @cCURSOR INTO @ColID, @ColSQLDataType	
WHILE @@FETCH_STATUS = 0
BEGIN
	SET @sSQL = 'ALTER TABLE #Data ADD ' + @ColID + ' ' + @ColSQLDataType + CASE WHEN @ColSQLDataType LIKE '%char%'
	THEN ' COLLATE SQL_Latin1_General_CP1_CI_AS' ELSE '' END + ' NULL'
	EXEC (@sSQL)
	FETCH NEXT FROM @cCURSOR INTO @ColID, @ColSQLDataType
END

ALTER TABLE #Data ADD OrderNo INT NULL DEFAULT(0);
ALTER TABLE #Data ADD ErrorColumn VARCHAR(50) NULL;
ALTER TABLE #Data ADD ErrorMessage VARCHAR(500) NULL;

-- Thêm dữ liệu vào bảng tạm
SELECT	X.Data.query('Row').value('.', 'INT') AS Row,
		X.Data.query('OrderNo').value('.', 'INT') AS OrderNo,
		X.Data.query('DivisionID').value('.', 'NVARCHAR(50)') AS DivisionID,
		X.Data.query('ID').value('.', 'NVARCHAR(50)') AS ID,
		X.Data.query('Description').value('.', 'NVARCHAR(250)') AS [Description],
		--X.Data.query('FromDate').value('.', 'DATETIME') AS FromDate,
		CASE WHEN ISNULL(X.Data.query('FromDate').value('.', 'VARCHAR(20)'), '') = '' THEN NULL ELSE CONVERT(DATETIME,X.Data.query('FromDate').value('.', 'VARCHAR(20)'), 103) END AS FromDate,
		CASE WHEN ISNULL(X.Data.query('ToDate').value('.', 'VARCHAR(20)'), '') = '' THEN NULL ELSE CONVERT(DATETIME,X.Data.query('ToDate').value('.', 'VARCHAR(20)'), 103) END AS ToDate,
		--(CASE WHEN X.Data.query('ToDate').value('.', 'VARCHAR(50)') = '' THEN NULL ELSE X.Data.query('ToDate').value('.', 'DATETIME') END) AS ToDate,
		--X.Data.query('ToDate').value('.', 'DATETIME') AS ToDate, '9999-12-31 23:59:59.997'
		(CASE WHEN X.Data.query('OID').value('.', 'NVARCHAR(50)') = '' THEN '%' ELSE X.Data.query('OID').value('.', 'NVARCHAR(50)') END) AS OID,
		(CASE WHEN X.Data.query('InventoryTypeID').value('.', 'NVARCHAR(50)') = '' THEN '%' ELSE X.Data.query('InventoryTypeID').value('.', 'NVARCHAR(50)') END) AS InventoryTypeID,
		X.Data.query('CurrencyID').value('.', 'NVARCHAR(50)') AS CurrencyID,
		X.Data.query('IsConvertedPrice').value('.', 'NVARCHAR(50)') AS IsConvertedPrice,
		X.Data.query('InheritID').value('.', 'NVARCHAR(50)') AS InheritID,
		X.Data.query('TypeID').value('.', 'TINYINT') AS TypeID,
		X.Data.query('InventoryID').value('.', 'NVARCHAR(50)') AS InventoryID,		
		X.Data.query('UnitID').value('.', 'NVARCHAR(50)') AS UnitID,
		X.Data.query('UnitPrice').value('.', 'NVARCHAR(50)') AS UnitPrice,
		X.Data.query('MinPrice').value('.', 'NVARCHAR(50)') AS MinPrice,
		X.Data.query('MaxPrice').value('.', 'NVARCHAR(50)') AS MaxPrice,
		X.Data.query('ConvertedUnitPrice').value('.', 'NVARCHAR(50)') AS ConvertedUnitPrice,
		X.Data.query('ConvertedMinPrice').value('.', 'NVARCHAR(50)') AS ConvertedMinPrice,
		X.Data.query('ConvertedMaxPrice').value('.', 'NVARCHAR(50)') AS ConvertedMaxPrice,
		X.Data.query('DiscountPercent').value('.', 'NVARCHAR(50)') AS DiscountPercent,
		X.Data.query('DiscountAmount').value('.', 'NVARCHAR(50)') AS DiscountAmount,
		X.Data.query('SaleOffPercent01').value('.', 'NVARCHAR(50)') AS SaleOffPercent01,
		X.Data.query('SaleOffAmount01').value('.', 'NVARCHAR(50)') AS SaleOffAmount01,
		X.Data.query('SaleOffPercent02').value('.', 'NVARCHAR(50)') AS SaleOffPercent02,
		X.Data.query('SaleOffAmount02').value('.', 'NVARCHAR(50)') AS SaleOffAmount02,
		X.Data.query('SaleOffPercent03').value('.', 'NVARCHAR(50)') AS SaleOffPercent03,
		X.Data.query('SaleOffAmount03').value('.', 'NVARCHAR(50)') AS SaleOffAmount03,
		X.Data.query('SaleOffPercent04').value('.', 'NVARCHAR(50)') AS SaleOffPercent04,
		X.Data.query('SaleOffAmount04').value('.', 'NVARCHAR(50)') AS SaleOffAmount04,
		X.Data.query('SaleOffPercent05').value('.', 'NVARCHAR(50)') AS SaleOffPercent05,
		X.Data.query('SaleOffAmount05').value('.', 'NVARCHAR(50)') AS SaleOffAmount05,
		X.Data.query('Notes').value('.', 'NVARCHAR(250)') AS Notes,
		X.Data.query('Notes01').value('.', 'NVARCHAR(250)') AS Notes01, 
		X.Data.query('Notes02').value('.', 'NVARCHAR(250)') AS Notes02,
		X.Data.query('IsInventoryToPrice').value('.', 'TINYINT') AS IsInventoryToPrice,
		X.Data.query('IsTaxIncluded').value('.', 'TINYINT') AS IsTaxIncluded,
		X.Data.query('IsAppDisplay').value('.', 'TINYINT') AS IsAppDisplay,
		X.Data.query('IsGift').value('.', 'TINYINT') AS IsGift
INTO	#AP8137	
FROM	@XML.nodes('//Data') AS X (Data)

INSERT INTO #Data ( [Row], [OrderNo], DivisionID, ID, [Description], FromDate, ToDate, OID, InventoryTypeID, CurrencyID, IsConvertedPrice
					,InheritID, TypeID, InventoryID, UnitID, UnitPrice, MinPrice, MaxPrice, ConvertedUnitPrice, ConvertedMinPrice
					,ConvertedMaxPrice,DiscountPercent, DiscountAmount, SaleOffPercent01, SaleOffAmount01, SaleOffPercent02, SaleOffAmount02
					,SaleOffPercent03,SaleOffAmount03, SaleOffPercent04, SaleOffAmount04, SaleOffPercent05, SaleOffAmount05, Notes, Notes01
					,Notes02,IsInventoryToPrice,IsTaxIncluded, IsAppDisplay, IsGift)
SELECT
		CASE WHEN ISNULL([Row], 0) = 0 THEN OrderNo ELSE [Row] END AS [Row],
		CASE WHEN ISNULL([Row], 0) = 0 THEN OrderNo ELSE [Row] END AS [OrderNo],
		DivisionID, ID, [Description], FromDate, ToDate, OID, InventoryTypeID, CurrencyID, 
		CASE WHEN ISNULL(IsConvertedPrice,'') = '' THEN NULL ELSE CAST(IsConvertedPrice AS TINYINT) END IsConvertedPrice,     
		InheritID, ISNULL(TypeID,0), InventoryID, UnitID, 
		CASE WHEN ISNULL(UnitPrice,'') = '' THEN NULL ELSE CAST(UnitPrice AS DECIMAL(28,8)) END UnitPrice, 
		CASE WHEN ISNULL(MinPrice,'') = '' THEN NULL ELSE CAST(MinPrice AS DECIMAL(28,8)) END MinPrice, 
		CASE WHEN ISNULL(MaxPrice,'') = '' THEN NULL ELSE CAST(MaxPrice AS DECIMAL(28,8)) END MaxPrice,
		CASE WHEN ISNULL(ConvertedUnitPrice,'') = '' THEN NULL ELSE CAST(ConvertedUnitPrice AS DECIMAL(28,8)) END ConvertedUnitPrice,
		CASE WHEN ISNULL(ConvertedMinPrice,'') = '' THEN NULL ELSE CAST(ConvertedMinPrice AS DECIMAL(28,8)) END ConvertedMinPrice,
		CASE WHEN ISNULL(ConvertedMaxPrice,'') = '' THEN NULL ELSE CAST(ConvertedMaxPrice AS DECIMAL(28,8)) END ConvertedMaxPrice,
		CASE WHEN ISNULL(DiscountPercent,'') = '' THEN NULL ELSE CAST(DiscountPercent AS DECIMAL(28,8)) END DiscountPercent, 
		CASE WHEN ISNULL(DiscountAmount,'') = '' THEN NULL ELSE CAST(DiscountAmount AS DECIMAL(28,8)) END DiscountAmount, 
		CASE WHEN ISNULL(SaleOffPercent01,'') = '' THEN NULL ELSE CAST(SaleOffPercent01 AS DECIMAL(28,8)) END SaleOffPercent01, 
		CASE WHEN ISNULL(SaleOffAmount01,'') = '' THEN NULL ELSE CAST(SaleOffAmount01 AS DECIMAL(28,8)) END SaleOffAmount01, 
		CASE WHEN ISNULL(SaleOffPercent02,'') = '' THEN NULL ELSE CAST(SaleOffPercent02 AS DECIMAL(28,8)) END SaleOffPercent02, 
		CASE WHEN ISNULL(SaleOffAmount02,'') = '' THEN NULL ELSE CAST(SaleOffAmount02 AS DECIMAL(28,8)) END SaleOffAmount02, 
		CASE WHEN ISNULL(SaleOffPercent03,'') = '' THEN NULL ELSE CAST(SaleOffPercent03 AS DECIMAL(28,8)) END SaleOffPercent03, 
		CASE WHEN ISNULL(SaleOffAmount03,'') = '' THEN NULL ELSE CAST(SaleOffAmount03 AS DECIMAL(28,8)) END SaleOffAmount03, 
		CASE WHEN ISNULL(SaleOffPercent04,'') = '' THEN NULL ELSE CAST(SaleOffPercent04 AS DECIMAL(28,8)) END SaleOffPercent04, 
		CASE WHEN ISNULL(SaleOffAmount04,'') = '' THEN NULL ELSE CAST(SaleOffAmount04 AS DECIMAL(28,8)) END SaleOffAmount04, 
		CASE WHEN ISNULL(SaleOffPercent05,'') = '' THEN NULL ELSE CAST(SaleOffPercent05 AS DECIMAL(28,8)) END SaleOffPercent05, 
		CASE WHEN ISNULL(SaleOffAmount05,'') = '' THEN NULL ELSE CAST(SaleOffAmount05 AS DECIMAL(28,8)) END SaleOffAmount05, Notes, Notes01, Notes02 ,
		 ISNULL(IsInventoryToPrice,0),
		 ISNULL(IsTaxIncluded,0),
		 ISNULL (IsAppDisplay, 0),
		 ISNULL (IsGift, 0)
FROM #AP8137
ORDER BY ID, InventoryID, UnitID

---- Kiểm tra check code mặc định
EXEC AP8105 @ImportTemplateID = @ImportTemplateID, @UserID = @UserID
----- Kiểm tra và lưu dữ liệu bảng giá bán
EXEC AP8100 @UserID = @UserID, @ImportTemplateID = @ImportTemplateID, @CheckCode = 'CheckIdenticalValues', @ColID = 'ID', @Param1 = 'DivisionID, ID, [Description], FromDate, ToDate, OID, InventoryTypeID, CurrencyID, IsConvertedPrice, TypeID'
--EXEC AP8100 @UserID = @UserID, @ImportTemplateID = @ImportTemplateID, @CheckCode = 'CheckValidList', @ColID = 'ID', @Param1 = 'OT1301', @Param2 = 'InventoryTypeID', @Param3 = 'FromDate', @Param4 = 'ToDate', @Param5 = 'OID'
/*
DECLARE @Cur CURSOR,
		@Row INT,
		@TransactionID UNIQUEIDENTIFIER,
		@ID NVARCHAR(50),
		@FromDate DATETIME,
		@ToDate DATETIME,
		@OID NVARCHAR(50),
		@InventoryTypeID NVARCHAR(50),
		@InventoryID NVARCHAR(50),
		@UnitID NVARCHAR(50),
		@Message NVARCHAR(MAX) = '',
		@TestID NVARCHAR(50) = ''
SET @TransactionID = NEWID()
SET @Cur = CURSOR SCROLL KEYSET FOR
SELECT [Row], DivisionID, ID, FromDate, ToDate, OID, InventoryTypeID, InventoryID, UnitID
FROM #Data
OPEN @Cur
FETCH NEXT FROM @Cur INTO @Row, @DivisionID, @ID, @FromDate, @ToDate, @OID, @InventoryTypeID, @InventoryID, @UnitID
WHILE @@FETCH_STATUS = 0
BEGIN
---- Kiểm tra trùng dữ liệu bảng giá
	IF (SELECT COUNT(ID) FROM #Data 
	    WHERE DivisionID = @DivisionID AND ID = @ID AND InventoryID = @InventoryID AND UnitID = @UnitID) > 1
	SET @Message = @Message + CASE WHEN ISNULL(@Message,'') <> '' THEN '\n' ELSE '' END + 'ASML000088 {0}= '''+CONVERT(VARCHAR,@Row)+''''

---- Kiểm tra bảng giá đã tồn tại hay chưa
	IF EXISTS (SELECT TOP 1 1 FROM OT1301 WHERE DivisionID = @DivisionID AND ID = @ID)
	BEGIN
		IF EXISTS (SELECT TOP 1 1 FROM OT1302 
			          WHERE OT1302.DivisionID = @DivisionID AND OT1302.ID = @ID AND OT1302.InventoryID = @InventoryID AND OT1302.UnitID = @UnitID)
	    SET @Message = @Message + CASE WHEN ISNULL(@Message,'') <> '' THEN '\n' ELSE '' END + 'ASML000088 {0}= '''+CONVERT(VARCHAR,@Row)+''''
    END
	ELSE -- bảng giá chưa tồn tại
	BEGIN		
		SET @TestID = (STUFF((SELECT N', ' + ID FROM OT1301
		               WHERE DivisionID = @DivisionID AND OID LIKE @OID AND InventoryTypeID LIKE @InventoryTypeID AND (
					  (CONVERT(DATETIME,@FromDate,112) BETWEEN CONVERT(DATETIME,FromDate,112) AND CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112))
					OR
					  (CONVERT(DATETIME,@ToDate,112) BETWEEN CONVERT(DATETIME,FromDate,112) AND CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112))	
		               ) FOR XML PATH('')),1,2,N''))    
		/*
		SET @TestID = (SELECT TOP 1 ID FROM OT1301
		               WHERE DivisionID = @DivisionID AND OID LIKE @OID AND InventoryTypeID LIKE @InventoryTypeID AND (
					  (CONVERT(DATETIME,@FromDate,112) BETWEEN CONVERT(DATETIME,FromDate,112) AND CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112))
					OR
					  (CONVERT(DATETIME,@ToDate,112) BETWEEN CONVERT(DATETIME,FromDate,112) AND CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112))	
					  ))                
		*/
		IF ISNULL(@TestID,'') <> ''
		SET @Message = @Message + CASE WHEN ISNULL(@Message,'') <> '' THEN '\n' ELSE '' END + 'OFML000133 {0}= '''+CONVERT(NVARCHAR,@TestID)+''''
	END 
	IF ISNULL(@Message,'') <> ''
	UPDATE DT SET 
	ImportMessage = ImportMessage + CASE WHEN ImportMessage != '' THEN '\n' ELSE '' END + ''''+CONVERT(NVARCHAR,@Message)+''''
	FROM #Data DT
	WHERE DT.Row = @Row
FETCH NEXT FROM @Cur INTO @Row, @DivisionID, @ID, @FromDate, @ToDate, @OID, @InventoryTypeID, @InventoryID, @UnitID
END
CLOSE @Cur
*/

DECLARE @Cur CURSOR,
		@Row INT,
		@ID NVARCHAR(50),
		@FromDate DATETIME,
		@ToDate DATETIME,
		@OID NVARCHAR(50),
		@InventoryTypeID NVARCHAR(50),
		@InventoryID NVARCHAR(50),
		@UnitID NVARCHAR(50),
		@TestID NVARCHAR(50) = ''

SET @Cur = CURSOR SCROLL KEYSET FOR
SELECT [Row], DivisionID, ID, FromDate, ToDate, OID, InventoryTypeID, InventoryID, UnitID
FROM #Data
OPEN @Cur
FETCH NEXT FROM @Cur INTO @Row, @DivisionID, @ID, @FromDate, @ToDate, @OID, @InventoryTypeID, @InventoryID, @UnitID
WHILE @@FETCH_STATUS = 0
BEGIN
---- Kiểm tra trùng dữ liệu bảng giá
	IF (SELECT COUNT(ID) FROM #Data 
	    WHERE DivisionID = @DivisionID 
		  AND ID = @ID 
		  AND InventoryID = @InventoryID 
		  AND UnitID = @UnitID) > 1
	BEGIN
		UPDATE DT SET 
		ImportMessage = ImportMessage + CASE WHEN ImportMessage != '' THEN '\n' ELSE '' END + 'ASML000088 {0}='''+CONVERT(VARCHAR,@Row)+''''
						, ErrorMessage = (SELECT TOP 1 DataCol + '-ASML000088' FROM A00065 WHERE ImportTransTypeID = @ImportTemplateID AND ColID = 'InventoryID')
					    , ErrorColumn = 'InventoryID'
		FROM #Data DT
		WHERE DT.Row = @Row
	END	
---- Kiểm tra bảng giá đã tồn tại hay chưa
	IF EXISTS (SELECT TOP 1 1 FROM OT1301 WHERE DivisionID = @DivisionID AND ID = @ID)
	BEGIN
		IF EXISTS (SELECT TOP 1 1 FROM OT1301 
		           WHERE DivisionID = @DivisionID AND ID = @ID AND 
		           (OID <> @OID OR InventoryTypeID <> @InventoryTypeID OR 
		            CONVERT(DATETIME,FromDate,112) <> CONVERT(DATETIME,@FromDate,112) OR 
		             CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112) <> CONVERT(DATETIME,ISNULL(@ToDate,'9999-12-31 23:59:59.997'),112)))
			BEGIN
				UPDATE DT SET 
				ImportMessage = ImportMessage + CASE WHEN ImportMessage != '' THEN '\n' ELSE '' END + 'OFML000008 {0}='''+CONVERT(NVARCHAR,@ID)+''''
				FROM #Data DT
				WHERE DT.Row = @Row
			END
			ELSE
			BEGIN
				UPDATE DT SET 
				ImportMessage = ImportMessage + CASE WHEN ImportMessage != '' THEN '\n' ELSE '' END + 'ASML000088 {0}='''+CONVERT(VARCHAR,@Row)+''''
								, ErrorMessage = (SELECT TOP 1 DataCol + '-ASML000088' FROM A00065 WHERE ImportTransTypeID = @ImportTemplateID AND ColID = 'OrderNo')
								, ErrorColumn = 'OrderNo'
				FROM #Data DT 
				WHERE DT.Row = @Row AND 
					  EXISTS (SELECT TOP 1 1 FROM OT1302 
							  WHERE OT1302.DivisionID = @DivisionID AND OT1302.ID = @ID AND OT1302.InventoryID = @InventoryID AND OT1302.UnitID = @UnitID)
	
			END
	END
	/*ELSE -- bảng giá chưa tồn tại
	BEGIN		
		SET @TestID = (STUFF((SELECT N', ' + ID FROM OT1301
		               WHERE DivisionID = @DivisionID AND OID LIKE @OID AND InventoryTypeID LIKE @InventoryTypeID AND (
					  (CONVERT(DATETIME,@FromDate,112) BETWEEN CONVERT(DATETIME,FromDate,112) AND CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112))
					OR
					  (CONVERT(DATETIME,ISNULL(@ToDate,'9999-12-31 23:59:59.997'),112) BETWEEN CONVERT(DATETIME,FromDate,112) AND CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112))	
		               ) FOR XML PATH('')),1,2,N''))    
		/*
		SET @TestID = (SELECT TOP 1 ID FROM OT1301
		               WHERE DivisionID = @DivisionID AND OID LIKE @OID AND InventoryTypeID LIKE @InventoryTypeID AND (
					  (CONVERT(DATETIME,@FromDate,112) BETWEEN CONVERT(DATETIME,FromDate,112) AND CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112))
					OR
					  (CONVERT(DATETIME,@ToDate,112) BETWEEN CONVERT(DATETIME,FromDate,112) AND CONVERT(DATETIME,ISNULL(ToDate,'9999-12-31 23:59:59.997'),112))	
					  ))                
		ASML000071 {0}=''''' + @ColumnName + '''''''
		*/
		UPDATE DT SET 
		ImportMessage = ImportMessage + CASE WHEN ImportMessage != '' THEN '\n' ELSE '' END + 'OFML000133 {0}='''+CONVERT(NVARCHAR,@TestID)+''''
		FROM #Data DT
		WHERE DT.Row = @Row AND ISNULL(@TestID,'') <> ''
	END
	*/ 
FETCH NEXT FROM @Cur INTO @Row, @DivisionID, @ID, @FromDate, @ToDate, @OID, @InventoryTypeID, @InventoryID, @UnitID
END
CLOSE @Cur	
-- Nếu có lỗi thì không cần sinh khóa và không đẩy dữ liệu vào
IF EXISTS(SELECT TOP 1 1 FROM #Data WHERE ImportMessage != '')
	GOTO LB_RESULT
--- Xử lý làm tròn dữ liệu vì nhập trên Excel có thể sai
UPDATE DT 
SET 
	FromDate = CASE WHEN DT.FromDate IS NOT NULL OR DT.FromDate != '' THEN CONVERT(DATETIME,DT.FromDate,114) END,
	ToDate = CASE WHEN DT.ToDate IS NOT NULL OR DT.ToDate != '' THEN CONVERT(DATETIME,DT.ToDate,114) ELSE NULL END,
	UnitPrice = ROUND(DT.UnitPrice,A.UnitCostDecimals),
	MinPrice = ROUND(DT.MinPrice,A.UnitCostDecimals),
	MaxPrice = ROUND(DT.MaxPrice,A.UnitCostDecimals),
	ConvertedUnitPrice = ROUND(DT.ConvertedUnitPrice,A.ConvertedDecimals),
	ConvertedMinPrice = ROUND(DT.ConvertedMinPrice,A.ConvertedDecimals),
	ConvertedMaxPrice = ROUND(DT.ConvertedMaxPrice,A.ConvertedDecimals),
	DiscountPercent = ROUND(DT.DiscountPercent,A.PercentDecimal),
	DiscountAmount = ROUND(DT.DiscountAmount,A.ConvertedDecimals),
	SaleOffPercent01 = ROUND(DT.SaleOffPercent01,A.PercentDecimal),
	SaleOffAmount01 = ROUND(DT.SaleOffAmount01,A.ConvertedDecimals),
	SaleOffPercent02 = ROUND(DT.SaleOffPercent02,A.PercentDecimal),
	SaleOffAmount02 = ROUND(DT.SaleOffAmount02,A.ConvertedDecimals),
	SaleOffPercent03 = ROUND(DT.SaleOffPercent03,A.PercentDecimal),
	SaleOffAmount03 = ROUND(DT.SaleOffAmount03,A.ConvertedDecimals),
	SaleOffPercent04 = ROUND(DT.SaleOffPercent04,A.PercentDecimal),
	SaleOffAmount04 = ROUND(DT.SaleOffAmount04,A.ConvertedDecimals),
	SaleOffPercent05 = ROUND(DT.SaleOffPercent05,A.PercentDecimal),
	SaleOffAmount05 = ROUND(DT.SaleOffAmount05,A.ConvertedDecimals),
	InheritID = CASE WHEN ISNULL(InheritID,'') != '' THEN DT.InheritID ELSE NULL END,
	Notes = CASE WHEN ISNULL(Notes,'') != '' THEN DT.Notes ELSE NULL END,
	Notes01 = CASE WHEN ISNULL(Notes01,'') != '' THEN DT.Notes01 ELSE NULL END,
	Notes02 = CASE WHEN ISNULL(Notes02,'') != '' THEN DT.Notes02 ELSE NULL END
FROM #Data DT
LEFT JOIN	AT1101 A ON A.DivisionID = DT.DivisionID

-- Sinh khoá
DECLARE @cKey AS CURSOR
DECLARE --@Row INT,
		@Orders INT,
	    @DetailID NVARCHAR(50)--,
	    --@ID NVARCHAR(50),
		--@InventoryID NVARCHAR(50),
		--@UnitID NVARCHAR(50),
	    --@TestID NVARCHAR(50)
SET @cKey = CURSOR SCROLL KEYSET FOR
			SELECT [Row], ID, InventoryID, UnitID
			FROM #Data
OPEN @cKey
FETCH NEXT FROM @cKey INTO @Row, @ID, @InventoryID, @UnitID
WHILE @@FETCH_STATUS = 0
BEGIN
	IF @TestID IS NULL OR @TestID != @ID
	BEGIN
		SET @Orders = 1
		SET @DetailID = NEWID()
		SET @TestID = @ID
	END
	ELSE 
	BEGIN
		SET @Orders = @Orders + 1
		SET @DetailID = NEWID()
	END
	INSERT INTO #Keys ([Row], Orders, ID, DetailID, InventoryID, UnitID)
	VALUES (@Row, @Orders, @ID, @DetailID, @InventoryID, @UnitID)
	FETCH NEXT FROM @cKey INTO @Row, @ID, @InventoryID, @UnitID
END
CLOSE @cKey
----- Cập nhật khoá 
UPDATE DT
SET
	DT.Orders = K.Orders,
	DT.DetailID = K.DetailID
FROM #Data DT
INNER JOIN #Keys K ON K.Row = DT.Row

UPDATE		DT
SET			Orders = K.Orders,
			DT.ID = K.ID ,
			DT.DetailID = K.DetailID			
FROM		#Data DT
INNER JOIN	#Keys K
		ON	K.Row = DT.Row

--drop constraint 
SET @SQL = 'IF EXISTS (SELECT TOP 1 1 FROM tempdb.sys.sysobjects WHERE [name] = ''#Keys'' AND xtype = ''U'')
			BEGIN
				IF EXISTS (SELECT TOP 1 1 FROM tempdb.sys.sysobjects WHERE [name] = '''+@Keys_PK+''' AND xtype = ''PK'')
					ALTER TABLE #Keys DROP CONSTRAINT ' + @Keys_PK +'
			END
			IF EXISTS (SELECT TOP 1 1 FROM tempdb.sys.sysobjects WHERE [name] = ''#Data'' AND xtype = ''U'')
			BEGIN
				IF EXISTS (SELECT TOP 1 1 FROM tempdb.sys.sysobjects WHERE [name] = '''+@Data_PK+''' AND xtype = ''PK'')
					ALTER TABLE #Keys DROP CONSTRAINT ' + @Data_PK +'
			END
			'
EXEC(@SQL)

-- Insert Master
INSERT INTO	OT1301 (DivisionID, ID, [Description], FromDate, ToDate, OID,
					InventoryTypeID, [Disabled], CurrencyID, InheritID,
					IsConvertedPrice, TypeID, CreateUserID, CreateDate,
					LastModifyUserID, LastModifyDate, IsInventoryToPrice, IsTaxIncluded)
SELECT DISTINCT DivisionID, ID, [Description], FromDate, ToDate, OID, InventoryTypeID, 0, 
				CurrencyID, InheritID, IsConvertedPrice, TypeID, @UserID, GETDATE(), @UserID, 
				GETDATE() , IsInventoryToPrice, IsTaxIncluded
FROM #Data DT 
WHERE DT.ID NOT IN (SELECT OT31.ID FROM OT1301 OT31 WHERE OT31.DivisionID = DT.DivisionID)

-- Insert Detail
INSERT INTO OT1302(DivisionID, ID, DetailID, InventoryID, UnitID, UnitPrice, MinPrice, MaxPrice, Orders, 
				   DiscountPercent, DiscountAmount, SaleOffPercent01, SaleOffAmount01, SaleOffPercent02,
				   SaleOffAmount02, SaleOffPercent03, SaleOffAmount03, SaleOffPercent04, SaleOffAmount04, 
				   SaleOffPercent05, SaleOffAmount05, ConvertedUnitPrice, ConvertedMinPrice, ConvertedMaxPrice, 
				   Notes, Notes01, Notes02, IsAppDisplay, IsGift)
SELECT  DivisionID, ID, DetailID, InventoryID, UnitID, UnitPrice, MinPrice, MaxPrice, Orders, 
		DiscountPercent, DiscountAmount, SaleOffPercent01, SaleOffAmount01, SaleOffPercent02,
		SaleOffAmount02, SaleOffPercent03, SaleOffAmount03, SaleOffPercent04, SaleOffAmount04, 
		SaleOffPercent05, SaleOffAmount05, ConvertedUnitPrice, ConvertedMinPrice, ConvertedMaxPrice, 
		Notes, Notes01, Notes02, IsAppDisplay, IsGift
FROM #Data DT

-----------------------------------------------------------------------------------------
LB_RESULT:
SELECT #Data.* FROM #Data
WHERE ImportMessage <> ''

GO
SET QUOTED_IDENTIFIER OFF
GO

SET ANSI_NULLS ON
GO
