IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AP9998]') AND  OBJECTPROPERTY(ID, N'IsProcedure') = 1)			
DROP PROCEDURE [DBO].[AP9998]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



---- Created by Nguyen Van Nhan, 09/08/2003
---- Xu ly ton kho khi khoa so
---- Edit by: Dang Le Bao Quynh; Date 30/07/2008
---- Purpose: Dong bo hoa du lieu tai bang AT2008
---- Modify on 24/06/2015 by Bảo Anh: Fix lỗi khóa sổ chậm (bỏ cursor khi update AT2008)
---- Modified by Tiểu Mai on 20/09/2016: Fix bug không cập nhật số dư khai báo đầu kỳ.
---- Modified by Tieu Mai on 30/11/2016: Fix lay sai ky dau tien
---- Modified by Kim Thư on 26/03/2019:  Bổ sung cập nhật số liệu nhập xuất của kỳ kế tiếp đến thời điểm hiện tại nếu kỳ kế tiếp đã từng mở sổ
---- Modified by Huỳnh Thử on 08/01/2020:  Move View AV2222 qua bên này, thêm điệu kiện lọc để cải tiến tốc độ khóa sổ
/********************************************
'* Edited by: [GS] [Thanh Trẫm] [30/07/2010]
'********************************************/

CREATE PROCEDURE [dbo].[AP9998] @DivisionID nvarchar(50), 	
				@TranMonth as int, 
				@TranYear as int,
				@NextMonth as int, 
				@NextYear int
 AS


Declare @Balance_Cursor as Cursor,
	@InventoryID as nvarchar(50), 
	@WareHouseID as nvarchar(50),   
	@InventoryAccountID as nvarchar(50),  
	@ActBegQty as decimal(28, 8),   
	@ActBegTotal as decimal(28, 8) ,         
	@BookBegQty as decimal(28, 8),
	@BookBegTotal   as decimal(28, 8),
	@sSQL nvarchar(4000),
	@sSQL1 nvarchar(4000),
	@sSQL2 nvarchar(4000),
	@PeriodMonthBegin INT,
	@PeriodYearBegin INT


---- Move View AV2222 qua để lọc dữ liệu
Select  (Case When DE.DivisionID is Null Then CE.DivisionID Else DE.DivisionID End) As DivisionID,
	 (Case When DE.TranMonth is Null Then CE.TranMonth Else DE.TranMonth End) As TranMonth,
	 (Case When DE.TranYear is Null Then CE.TranYear Else DE.TranYear End) As TranYear,
	 (Case When DE.WareHouseID is Null Then CE.WareHouseID Else DE.WareHouseID End) As WareHouseID,
	 (Case When DE.InventoryID is Null Then CE.InventoryID Else DE.InventoryID End) As InventoryID,
	 (Case When DE.InventoryAccountID is Null Then CE.InventoryAccountID Else DE.InventoryAccountID End) As InventoryAccountID,
	 BeginQuantity, 
	 BeginAmount, 
	 DebitQuantity, 
	 DebitAmount,
	 InDebitQuantity,
	 InDebitAmount,	
	 CE.Quantity As CreditQuantity,
	 CE.Amount As CreditAmount,
	 CE.InQuantity As InCreditQuantity,
	 CE.InAmount As InCreditAmount	
	
into #Temp FROM
--Nhap + So du
(Select  (Case When BE.DivisionID is Null Then DE.DivisionID Else BE.DivisionID End) As DivisionID,
	(Case When BE.TranMonth is Null Then DE.TranMonth Else BE.TranMonth End) As TranMonth,
	(Case When BE.TranYear is Null Then DE.TranYear Else BE.TranYear End) As TranYear,
	(Case When BE.WareHouseID is Null Then DE.WareHouseID Else BE.WareHouseID End) As WareHouseID,
	(Case When BE.InventoryID is Null Then DE.InventoryID Else BE.InventoryID End) As InventoryID,
	(Case When BE.InventoryAccountID is Null Then DE.InventoryAccountID Else BE.InventoryAccountID End) As InventoryAccountID,
	BE.Quantity As BeginQuantity, 
	BE.Amount As BeginAmount, 
	DE.Quantity As DebitQuantity, 
	DE.Amount As DebitAmount,
	DE.InQuantity As InDebitQuantity,
	DE.InAmount As InDebitAmount
From
--So du dau
(Select T16.DivisionID,T16.TranMonth,T16.TranYear,T16.WareHouseID,T17.InventoryID,T17.DebitAccountID As InventoryAccountID,
isnull(Sum(isnull(T17.ActualQuantity,0)),0) As Quantity, 
isnull(Sum(isnull(T17.ConvertedAmount,0)),0) As Amount 
From AT2016 T16 Inner join AT2017 T17 On T16.VoucherID = T17.VoucherID and T16.DivisionID = T17.DivisionID
WHERE T16.TranMonth IN (@TranMonth,@NextMonth) AND T16.TranYear IN (@TranYear, @NextYear)
Group by T16.DivisionID,T16.TranMonth,T16.TranYear,WareHouseID,InventoryID,DebitAccountID) As BE
Full Join
--Nhap kho
(Select T16.DivisionID,T16.TranMonth,T16.TranYear,T16.WareHouseID,T17.InventoryID,T17.DebitAccountID As InventoryAccountID,
isnull(Sum(isnull(T17.ActualQuantity,0)),0) As Quantity, 
isnull(Sum(isnull(T17.ConvertedAmount,0)),0) As Amount,
isnull(Sum(Case When T16.KindVoucherID = 3 Then isnull(T17.ActualQuantity,0) Else 0 End),0) As InQuantity, 
isnull(Sum(Case When T16.KindVoucherID = 3 Then isnull(T17.ConvertedAmount,0) Else 0 End),0) As InAmount  
From AT2006 T16 Inner join AT2007 T17 On T16.VoucherID = T17.VoucherID and T16.DivisionID = T17.DivisionID
Where KindVoucherID in (1,3,5,7,9,15,17) AND Isnull(T16.TableID,'') <> 'AT0114' AND  T16.TranMonth IN (@TranMonth,@NextMonth) AND T16.TranYear IN (@TranYear, @NextYear)
Group by T16.DivisionID,T16.TranMonth,T16.TranYear,WareHouseID,InventoryID,DebitAccountID) AS DE

On 
BE.DivisionID = DE.DivisionID 
And BE.TranMonth = DE.TranMonth 
And BE.TranYear = DE.TranYear
And BE.WareHouseID = DE.WareHouseID
And BE.InventoryID = DE.InventoryID
And BE.InventoryAccountID = DE.InventoryAccountID
) As DE

Full Join
--Xuat kho
(Select T16.DivisionID,T16.TranMonth,T16.TranYear,(Case When KindVoucherID = 3 Then T16.WareHouseID2 Else T16.WareHouseID End) As WareHouseID,T17.InventoryID,T17.CreditAccountID As InventoryAccountID,
isnull(Sum(isnull(T17.ActualQuantity,0)),0) As Quantity, 
isnull(Sum(isnull(T17.ConvertedAmount,0)),0) As Amount,
isnull(Sum(Case When T16.KindVoucherID = 3 Then isnull(T17.ActualQuantity,0) Else 0 End),0) As InQuantity, 
isnull(Sum(Case When T16.KindVoucherID = 3 Then isnull(T17.ConvertedAmount,0) Else 0 End),0) As InAmount   
From AT2006 T16 Inner join AT2007 T17 On T16.VoucherID = T17.VoucherID and T16.DivisionID = T17.DivisionID
Where KindVoucherID in (2,3,4,6,8,10,14,20) AND  T16.TranMonth IN (@TranMonth,@NextMonth) AND T16.TranYear IN (@TranYear, @NextYear)
Group by T16.DivisionID,T16.TranMonth,T16.TranYear,(Case When KindVoucherID = 3 Then T16.WareHouseID2 Else T16.WareHouseID End),InventoryID,CreditAccountID) As CE
On
DE.DivisionID = CE.DivisionID 
And DE.TranMonth = CE.TranMonth 
And DE.TranYear = CE.TranYear
And DE.WareHouseID = CE.WareHouseID
And DE.InventoryID = CE.InventoryID
And DE.InventoryAccountID = CE.InventoryAccountID
--- end View AV2222



SELECT TOP 1  @PeriodMonthBegin = 	TranMonth, @PeriodYearBegin = TranYear FROM WT9999 WITH (NOLOCK) WHERE DivisionID = @DivisionID
ORDER BY TranYear, TranMonth ASC 
		
--Insert du lieu co phat sinh nhung khong ghi nhan vao bang AT2008
Insert Into AT2008 (DivisionID, TranMonth, TranYear, WareHouseID, InventoryID, InventoryAccountID, 
			BeginQuantity, BeginAmount, 
			DebitQuantity, DebitAmount,
			InDebitQuantity, InDebitAmount,
			CreditQuantity, CreditAmount,
			InCreditQuantity, InCreditAmount,
			EndQuantity, EndAmount
			 )
Select 	V.DivisionID, V.TranMonth, V.TranYear, V.WareHouseID, V.InventoryID, V.InventoryAccountID,
	isnull(V.BeginQuantity,0), isnull(V.BeginAmount,0), 
	isnull(V.DebitQuantity,0), isnull(V.DebitAmount,0),
	isnull(V.InDebitQuantity,0), isnull(V.InDebitAmount,0),
	isnull(V.CreditQuantity,0), isnull(V.CreditAmount,0),
	isnull(V.InCreditQuantity,0), isnull(V.InCreditAmount,0),
	isnull(V.BeginQuantity,0) + isnull(V.DebitQuantity,0) - isnull(V.CreditQuantity,0),
	isnull(V.BeginAmount,0) + isnull(V.DebitAmount,0) - isnull(V.CreditAmount,0)
From AT2008  A  Right Join  #Temp  V
On 	A.DivisionID = V.DivisionID And
	A.WareHouseID = V.WareHouseID And
	A.InventoryID = V.InventoryID And
	A.InventoryAccountID = V.InventoryAccountID And
	A.TranMonth = V.TranMonth And
	A.TranYear = V.TranYear
Where 	A.DivisionID is null And
	A.WareHouseID is null And
	A.InventoryID is null And
	A.InventoryAccountID is null And
	A.TranMonth is null And
	A.TranYear is null And
	V.DivisionID = @DivisionID And
	V.TranMonth = @TranMonth And
	V.TranYear = @TranYear

--Xoa Du lieu rac
Delete AT2008
From AT2008 A Left Join #Temp V
On 	A.DivisionID = V.DivisionID And
	A.WareHouseID = V.WareHouseID And
	A.InventoryID = V.InventoryID And
	A.InventoryAccountID = V.InventoryAccountID 
Where 	V.DivisionID is null And
	V.WareHouseID is null And
	V.InventoryID is null And
	V.InventoryAccountID is null And
	V.TranMonth + V.TranYear*12 <= @TranMonth + @TranYear*12 And
	A.TranMonth + A.TranYear*12 <= @TranMonth + @TranYear*12

--Cap Nhat Ton Kho khai báo đầu kỳ
IF (@PeriodMonthBegin = @TranMonth AND @PeriodYearBegin = @TranYear)
BEGIN
	SELECT '1111111'
	
	Update A 
	Set 
A.BeginQuantity = isnull(V.BeginQuantity,0),
A.BeginAmount = isnull(V.BeginAmount,0)
From AT2008 A Left Join #Temp V
On 	A.DivisionID = V.DivisionID And
	A.WareHouseID = V.WareHouseID And
	A.InventoryID = V.InventoryID And
	A.InventoryAccountID = V.InventoryAccountID And
	A.TranMonth = V.TranMonth And
	A.TranYear = V.TranYear
Where 
	A.DivisionID = @DivisionID And
	A.TranMonth = @TranMonth And
	A.TranYear = @TranYear
END

--Cap Nhat Ton Kho Tong Hop cho kỳ hiện tại
Update A Set 
A.DebitQuantity = isnull(V.DebitQuantity,0),
A.DebitAmount = isnull(V.DebitAmount,0),
A.InDebitQuantity = isnull(V.InDebitQuantity,0),
A.InDebitAmount = isnull(V.InDebitAmount,0),
A.CreditQuantity = isnull(V.CreditQuantity,0),
A.CreditAmount = isnull(V.CreditAmount,0),
A.InCreditQuantity = isnull(V.InCreditQuantity,0),
A.InCreditAmount = isnull(V.InCreditAmount,0),
A.EndQuantity = isnull(A.BeginQuantity,0) + isnull(V.DebitQuantity,0) - isnull(V.CreditQuantity,0),
A.EndAmount = isnull(A.BeginAmount,0) + isnull(V.DebitAmount,0) - isnull(V.CreditAmount,0)
From AT2008 A Left Join #Temp V
On 	A.DivisionID = V.DivisionID And
	A.WareHouseID = V.WareHouseID And
	A.InventoryID = V.InventoryID And
	A.InventoryAccountID = V.InventoryAccountID And
	A.TranMonth = V.TranMonth And
	A.TranYear = V.TranYear
Where 
	A.DivisionID = @DivisionID And
	A.TranMonth = @TranMonth And
	A.TranYear = @TranYear


/*
Set @Balance_Cursor = Cursor Scroll KeySet  FOR 


	Select	 InventoryID, WareHouseID,   InventoryAccountID, 
		EndQuantity,   EndAmount 
	From	AT2008 
	Where 		TranMonth = @TranMonth And 
			 TranYear = @TranYear And  
			DivisionID = @DivisionID

	Open	@Balance_Cursor

	Fetch Next From @Balance_Cursor Into @InventoryID, @WareHouseID,    @InventoryAccountID, 
		@ActBegQty,   @ActBegTotal 
	While @@Fetch_Status = 0
	Begin
	
		IF  exists (Select 1 From AT2008  Where TranMonth = @NextMonth and
							TranYear = @NextYear and
							DivisionID = @DivisionID and
							InventoryID = @InventoryID and
							WareHouseID =@WareHouseID and
							InventoryAccountID =  @InventoryAccountID)
		   
			   Update  AT2008 
				Set 	BeginQuantity = @ActBegQty,
					BeginAmount = @ActBegTotal,
					EndQuantity =@ActBegQty + DebitQuantity - CreditQuantity,
					EndAmount = @ActBegTotal + DebitAmount - CreditAmount 				
				 Where TranMonth = @NextMonth and
					TranYear = @NextYear and
					DivisionID = @DivisionID and
					InventoryID = @InventoryID and
					WareHouseID =@WareHouseID and
					InventoryAccountID =  @InventoryAccountID
		
		else
		
		
			Insert 	AT2008 	(InventoryID,WarehouseID,TranMonth,TranYear,DivisionID, 
						BeginQuantity, BeginAmount, EndQuantity, EndAmount, 
						DebitQuantity, DebitAmount, CreditQuantity, CreditAmount,InDebitQuantity, InDebitAmount, InCreditQuantity,InCreditAmount,
						 InventoryAccountID)
			Values (@InventoryID,@WareHouseID,@NextMonth,@NextYear,@DivisionID, 
				@ActBegQty, @ActBegTotal, @ActBegQty, @ActBegTotal,  
				0,0,0,0,0,0,0,0,	  
				@InventoryAccountID)	
		Fetch Next From @Balance_Cursor Into @InventoryID, @WareHouseID,    @InventoryAccountID, 
		@ActBegQty,   @ActBegTotal 
	End
	
	Close @Balance_Cursor
	DEALLOCATE @Balance_Cursor
*/
------------------------------------------------------------------------------------
 --Bổ sung cập nhật số liệu nhập xuất của kỳ kế tiếp đến thời điểm hiện tại nếu kỳ kế tiếp đã từng mở sổ
IF EXISTS (SELECT TOP 1 1 FROM AT2008 WHERE DivisionID = @DivisionID AND TranMonth = @NextMonth AND TranYear = @NextYear)
BEGIN 
	UPDATE A Set 
	A.DebitQuantity = isnull(V.DebitQuantity,0),
	A.DebitAmount = isnull(V.DebitAmount,0),
	A.InDebitQuantity = isnull(V.InDebitQuantity,0),
	A.InDebitAmount = isnull(V.InDebitAmount,0),
	A.CreditQuantity = isnull(V.CreditQuantity,0),
	A.CreditAmount = isnull(V.CreditAmount,0),
	A.InCreditQuantity = isnull(V.InCreditQuantity,0),
	A.InCreditAmount = isnull(V.InCreditAmount,0),
	A.EndQuantity = isnull(A.BeginQuantity,0) + isnull(V.DebitQuantity,0) - isnull(V.CreditQuantity,0),
	A.EndAmount = isnull(A.BeginAmount,0) + isnull(V.DebitAmount,0) - isnull(V.CreditAmount,0)
	From AT2008 A Left Join #Temp V
	On 	A.DivisionID = V.DivisionID And
		A.WareHouseID = V.WareHouseID And
		A.InventoryID = V.InventoryID And
		A.InventoryAccountID = V.InventoryAccountID And
		A.TranMonth = V.TranMonth And
		A.TranYear = V.TranYear
	Where 
		A.DivisionID = @DivisionID And
		A.TranMonth = @NextMonth And
		A.TranYear = @NextYear

	UPDATE  AT2008 
	Set  BeginQuantity = T08.EndQuantity,
	BeginAmount = T08.EndAmount,
	EndQuantity =T08.EndQuantity + AT2008.DebitQuantity - AT2008.CreditQuantity,
	EndAmount = T08.EndAmount + AT2008.DebitAmount - AT2008.CreditAmount     
	From  AT2008 
	Inner Join (Select InventoryID, WareHouseID,   InventoryAccountID, EndQuantity, EndAmount  From AT2008 Where DivisionID = @DivisionID And TranMonth = @TranMonth And TranYear = @TranYear) T08
	On AT2008.InventoryID = T08.InventoryID And AT2008.WareHouseID = T08.WareHouseID And AT2008.InventoryAccountID = T08.InventoryAccountID
	Where AT2008.TranMonth = @NextMonth and
	AT2008.TranYear = @NextYear and
	AT2008.DivisionID = @DivisionID
END  
 
 Insert  AT2008  (InventoryID,WarehouseID,TranMonth,TranYear,DivisionID, 
     BeginQuantity, BeginAmount, EndQuantity, EndAmount, 
     DebitQuantity, DebitAmount, CreditQuantity, CreditAmount,InDebitQuantity, InDebitAmount, InCreditQuantity,InCreditAmount,
      InventoryAccountID)
Select T08.InventoryID,T08.WareHouseID,@NextMonth,@NextYear,@DivisionID, 
   T08.EndQuantity, T08.EndAmount, T08.EndQuantity, T08.EndAmount,  
   0,0,0,0,0,0,0,0,   
   T08.InventoryAccountID
From AT2008 T08
Where T08.DivisionID = @DivisionID And T08.TranMonth = @TranMonth And T08.TranYear = @TranYear
And 
 Isnull((Select top 1 1 From AT2008 Where DivisionID = @DivisionID And TranMonth = @NextMonth And TranYear = @NextYear
 And InventoryID = T08.InventoryID And WareHouseID = T08.WareHouseID And InventoryAccountID = T08.InventoryAccountID
 ),0) = 0





GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
