---- Create by Đào Tấn Đạt on 2/26/2018 1:53:09 PM
---- Chi tiết Hợp đồng (Detail)

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[OT2013]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[OT2013]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NULL,
  [DivisionID] NVARCHAR(50) NOT NULL,
  [TransactionID] NVARCHAR(50) NOT NULL,
  [ContractID] NVARCHAR(50) NOT NULL,
  [InventoryID] NVARCHAR(50) NULL,
  [MethodID] NVARCHAR(50) NULL,
  [OrderQuantity] DECIMAL(28,8) NULL,
  [SalePrice] DECIMAL(28,8) NULL,
  [ConvertedAmount] DECIMAL(28,8) NULL,
  [OriginalAmount] DECIMAL(28,8) NULL,
  [VATOriginalAmount] DECIMAL(28,8) NULL,
  [VATConvertedAmount] DECIMAL(28,8) NULL,
  [VATPercent] DECIMAL(28,8) NULL,
  [DiscountConvertedAmount] DECIMAL(28,8) NULL,
  [DiscountPercent] DECIMAL(28,8) NULL,
  [IsPicking] TINYINT NOT NULL,
  [Quantity01] DECIMAL(28,8) NULL,
  [Quantity02] DECIMAL(28,8) NULL,
  [Quantity03] DECIMAL(28,8) NULL,
  [Quantity04] DECIMAL(28,8) NULL,
  [Quantity05] DECIMAL(28,8) NULL,
  [Quantity06] DECIMAL(28,8) NULL,
  [Quantity07] DECIMAL(28,8) NULL,
  [Quantity08] DECIMAL(28,8) NULL,
  [Quantity09] DECIMAL(28,8) NULL,
  [Quantity10] DECIMAL(28,8) NULL,
  [Quantity11] DECIMAL(28,8) NULL,
  [Quantity12] DECIMAL(28,8) NULL,
  [Quantity13] DECIMAL(28,8) NULL,
  [Quantity14] DECIMAL(28,8) NULL,
  [Quantity15] DECIMAL(28,8) NULL,
  [Quantity16] DECIMAL(28,8) NULL,
  [Quantity17] DECIMAL(28,8) NULL,
  [Quantity18] DECIMAL(28,8) NULL,
  [Quantity19] DECIMAL(28,8) NULL,
  [Quantity20] DECIMAL(28,8) NULL,
  [Quantity21] DECIMAL(28,8) NULL,
  [Quantity22] DECIMAL(28,8) NULL,
  [Quantity23] DECIMAL(28,8) NULL,
  [Quantity24] DECIMAL(28,8) NULL,
  [Quantity25] DECIMAL(28,8) NULL,
  [Quantity26] DECIMAL(28,8) NULL,
  [Quantity27] DECIMAL(28,8) NULL,
  [Quantity28] DECIMAL(28,8) NULL,
  [Quantity29] DECIMAL(28,8) NULL,
  [Quantity30] DECIMAL(28,8) NULL,
  [WareHouseID] NVARCHAR(50) NULL,
  [DiscountOriginalAmount] DECIMAL(28,8) NULL,
  [LinkNo] NVARCHAR(50) NULL,
  [EndDate] DATETIME NULL,
  [Orders] INT NULL,
  [Description] NVARCHAR(250) NULL,
  [RefInfor] NVARCHAR(250) NULL,
  [CommissionPercent] DECIMAL(28,8) NULL,
  [CommissionCAmount] DECIMAL(28,8) NULL,
  [CommissionOAmount] DECIMAL(28,8) NULL,
  [Ana01ID] NVARCHAR(50) NULL,
  [Ana02ID] NVARCHAR(50) NULL,
  [Ana03ID] NVARCHAR(50) NULL,
  [Ana04ID] NVARCHAR(50) NULL,
  [Ana05ID] NVARCHAR(50) NULL,
  [InventoryCommonName] NVARCHAR(250) NULL,
  [UnitID] NVARCHAR(50) NULL,
  [Finish] TINYINT NULL,
  [AdjustQuantity] DECIMAL(28,8) NULL,
  [FileID] NVARCHAR(50) NULL,
  [RefOrderID] NVARCHAR(50) NULL,
  [SourceNo] DECIMAL(28,8) NULL,
  [Cal01] DECIMAL(28,8) NULL,
  [Cal02] DECIMAL(28,8) NULL,
  [Cal03] DECIMAL(28,8) NULL,
  [Cal04] DECIMAL(28,8) NULL,
  [Cal05] DECIMAL(28,8) NULL,
  [Cal06] DECIMAL(28,8) NULL,
  [Cal07] DECIMAL(28,8) NULL,
  [Cal08] DECIMAL(28,8) NULL,
  [Cal09] DECIMAL(28,8) NULL,
  [Cal10] DECIMAL(28,8) NULL,
  [Notes] NVARCHAR(250) NULL,
  [Notes01] NVARCHAR(250) NULL,
  [Notes02] NVARCHAR(250) NULL,
  [QuotationID] NVARCHAR(50) NULL,
  [VATGroupID] NVARCHAR(50) NULL,
  [QuoTransactionID] NVARCHAR(50) NULL,
  [SaleOffPercent01] DECIMAL(28,8) NULL,
  [SaleOffAmount01] DECIMAL(28,8) NULL,
  [SaleOffPercent02] DECIMAL(28,8) NULL,
  [SaleOffAmount02] DECIMAL(28,8) NULL,
  [SaleOffPercent03] DECIMAL(28,8) NULL,
  [SaleOffAmount03] DECIMAL(28,8) NULL,
  [SaleOffPercent04] DECIMAL(28,8) NULL,
  [SaleOffAmount04] DECIMAL(28,8) NULL,
  [SaleOffPercent05] DECIMAL(28,8) NULL,
  [SaleOffAmount05] DECIMAL(28,8) NULL,
  [PriceList] DECIMAL(28,8) NULL,
  [Varchar01] NVARCHAR(100) NULL,
  [Varchar02] NVARCHAR(100) NULL,
  [Varchar03] NVARCHAR(100) NULL,
  [Varchar04] NVARCHAR(100) NULL,
  [Varchar05] NVARCHAR(100) NULL,
  [Varchar06] NVARCHAR(100) NULL,
  [Varchar07] NVARCHAR(100) NULL,
  [Varchar08] NVARCHAR(100) NULL,
  [Varchar09] NVARCHAR(100) NULL,
  [Varchar10] NVARCHAR(100) NULL,
  [ConvertedQuantity] DECIMAL(28,8) NULL,
  [SOKitTransactionID] NVARCHAR(50) NULL,
  [ConvertedSalePrice] DECIMAL(28,8) NULL,
  [nvarchar01] NVARCHAR(100) NULL,
  [nvarchar02] NVARCHAR(100) NULL,
  [nvarchar03] NVARCHAR(100) NULL,
  [nvarchar04] NVARCHAR(100) NULL,
  [nvarchar05] NVARCHAR(100) NULL,
  [nvarchar06] NVARCHAR(100) NULL,
  [nvarchar07] NVARCHAR(100) NULL,
  [nvarchar08] NVARCHAR(100) NULL,
  [nvarchar09] NVARCHAR(100) NULL,
  [nvarchar10] NVARCHAR(100) NULL,
  [RefSOrderID] NVARCHAR(50) NULL,
  [RefSTransactionID] NVARCHAR(50) NULL,
  [Markup] DECIMAL(28,8) NULL,
  [OriginalAmountOutput] DECIMAL(28,8) NULL,
  [DeliveryDate] DATETIME NULL,
  [ConvertedSalepriceInput] DECIMAL(28,8) NULL,
  [ShipDate] DATETIME NULL,
  [Ana06ID] NVARCHAR(50) NULL,
  [Ana07ID] NVARCHAR(50) NULL,
  [Ana08ID] NVARCHAR(50) NULL,
  [Ana09ID] NVARCHAR(50) NULL,
  [Ana10ID] NVARCHAR(50) NULL,
  [Parameter01] DECIMAL(28,8) NULL,
  [Parameter02] DECIMAL(28,8) NULL,
  [Parameter03] DECIMAL(28,8) NULL,
  [Parameter04] DECIMAL(28,8) NULL,
  [Parameter05] DECIMAL(28,8) NULL,
  [Allowance] NVARCHAR(250) NULL,
  [StandardPrice] DECIMAL(28,8) DEFAULT (0) NULL,
  [StandardAmount] DECIMAL(28,8) DEFAULT (0) NULL,
  [InheritTableID] VARCHAR(50) NULL,
  [InheritVoucherID] VARCHAR(50) NULL,
  [InheritTransactionID] VARCHAR(50) NULL,
  [SOrderIDRecognition] VARCHAR(50) NULL,
  [S01ID] VARCHAR(50) NULL,
  [S02ID] VARCHAR(50) NULL,
  [S03ID] VARCHAR(50) NULL,
  [S04ID] VARCHAR(50) NULL,
  [S05ID] VARCHAR(50) NULL,
  [S06ID] VARCHAR(50) NULL,
  [S07ID] VARCHAR(50) NULL,
  [S08ID] VARCHAR(50) NULL,
  [S09ID] VARCHAR(50) NULL,
  [S10ID] VARCHAR(50) NULL,
  [S11ID] VARCHAR(50) NULL,
  [S12ID] VARCHAR(50) NULL,
  [S13ID] VARCHAR(50) NULL,
  [S14ID] VARCHAR(50) NULL,
  [S15ID] VARCHAR(50) NULL,
  [S16ID] VARCHAR(50) NULL,
  [S17ID] VARCHAR(50) NULL,
  [S18ID] VARCHAR(50) NULL,
  [S19ID] VARCHAR(50) NULL,
  [S20ID] VARCHAR(50) NULL
CONSTRAINT [PK_OT2013] PRIMARY KEY CLUSTERED
(
  [DivisionID],
  [TransactionID]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END